[2021-11-11 11:19] chunduriv commented on #15636
@samida22, Does [this](https://stackoverflow.com/a/55392999/14290681) reference helps you? Else, can you share standalone code to replicate your issue?

[2021-11-11 13:08] JivanRoquet opened #15637 "Interrupting training crashes Python kernel when training on GPU for the first time with MirroredStrategy"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary (`pip install tensorflow`)
- TensorFlow version (use command below): 2.4.3
- Python version: 3.7
- GPU model and memory: Nvidia Tesla V100

**Desc

[2021-11-11 15:58] qspi commented on #15546
Hi @sachinprasadhs , @qlzh727 , sorry for the delay, and thanks a lot, that was my fault, I swapped true and predicted labels. I didn’t answer because found sg related what I’m still investigating… I will open another issue when I have the exact question about that. Anyway, thanks again for your help, and I hope this will help others as well.

[2021-11-11 17:06] sanatmpa1 commented on #15560
@yesufeng,

Can you take a look at the above comment by @MrinalTyagi ? Thanks!

[2021-11-11 17:24] mattdangerw commented on #15593
Could you help make this repro a little more minimal to be able to triangulate what's going wrong? Do we know the minimum piece of code to trigger this error?

One thing just browsing that did look suspicious is that the ragged `tf.keras.Input` was not actually created with `ragged=True`, though that may not be related to the error being seen here.

[2021-11-11 17:26] jvishnuvardhan commented on #15540
@bizzyvinci Can you please respond to the above comment? Thanks!

[2021-11-11 18:18] mattdangerw commented on #15586
@qlzh727 could you take a look at this when you have a second?

[2021-11-11 18:22] mattdangerw commented on #14643
There's no one working on Tree LSTM in keras right now, but this would be a great spot for a contribution.

The place to start would probably be contributing this as an example on keras.io. Thanks!

[2021-11-11 18:43] mattdangerw commented on #15584
@ansariyusuf when were you thinking a metric should be sampled to calculate a standard deviation?

Just talked through this in our triage meeting: we are skeptical of per batch std dev or per epoch std dev on metrics, this would not be a generally meaningful quantity. Std dev of a metric across multiple runs would have meaning, but that could be done today without adding anything at the Keras leve

[2021-11-11 18:48] mattdangerw commented on #15596
Triage notes from Keras team: this is expected behavior.

For the application in question (EfficientNetV2XL), could actually include the snippet above in the model building code.

[code]

[2021-11-11 18:50] mattdangerw commented on #15600
Given that this bug is not hit when trainable is false, we believe this might be an issue with zeros in `self.p`, which look like they would trigger a nan. You may need to try protecting against zero values in p in the custom GeM layer.

[2021-11-11 19:00] bizzyvinci commented on #15540
I don't really understand the question.

If you meant using `requests.post` method. No, we can't use that because a response object is returned instead of downloading the file like `urlretrieve`.

`urllib.request.urlretrieve` method is currently used in `keras.utils.get_file`. `urllib.request.urlretrieve` has a `data` parameter which turns the request type from GET to POST and that parameter is no

[2021-11-11 19:47] qlzh727 commented on #15586
Let me add @wangpengmit who is the owner of random ops in tf.

Currently it is using stateful random ops under the hood, which might have some relationship with the tf global seed. In 2.8, we will enable the tf.random.Generator for the initializer, which I think will produce the behavior describe in the docstring.

[2021-11-11 19:48] #15599 closed

[2021-11-11 20:05] qlzh727 commented on #15586
Btw, you can take a look for the example in https://www.tensorflow.org/api_docs/python/tf/random/set_seed. There is actually some behavior details.

In the meantime, you can also try:

[code]

[2021-11-11 20:10] jvishnuvardhan commented on #15586
@qlzh727 Depending on the final code change, we also need to update the docs https://www.tensorflow.org/api_docs/python/tf/keras/initializers/RandomUniform

seed | A Python integer. Used to create random seeds. See tf.compat.v1.set_random_seed for behavior. Note that seeded initializer will not produce same random values across multiple calls, but multiple initializers will produce same sequence w

[2021-11-11 21:17] filusn commented on #15536
@sayakpaul I have tried this notebook in the environment with tensorflow==2.5.0 and tensorflow-probability==0.13.0 and the code ran without any bug, so I guess it's the version problem.

[2021-11-11 21:23] qlzh727 commented on #15586
Btw, with the current code, it will also reproduce same result if you have fixed tf.random.seed. It can be removed once have the generator code path turn on by default.

[code]

[2021-11-11 22:56] sayakpaul commented on #15536
Interesting. @qlzh727 FYI.

[2021-11-11 23:09] innat commented on #15600
It's happening with the efficientnet model only and not other vision models. Okay, I'll look into it again.

[2021-11-11 23:49] i-chaochen commented on #15163
The same issue happened to me.

I "fixed" it by changing the Tensorboard(histogram_freq=0), but it seems you mentioned it's a bad idea as we can't get `tensorflow profiler` in tensorboard.

[2021-11-12 00:49] IAINATTWATER commented on #15348
Any update to this? Using 2.6 model that was running fine under 2.5 and now presents the above traceback. Additional info, using the Apple Metal plugin.

[2021-11-12 02:28] sayakpaul commented on #15593
Actually, we minimalized our implementation to a great extent to produce the current snippet. In our understanding, this is the minimum piece of code that triggers the error.

[2021-11-12 02:53] mattdangerw commented on #15348
Saving with `save_format='tf'` is probably the correct workaround right now. We should really be today erroring out when trying to save the stateful preprocessing layers (TextVectorization, StringLookup, IntegerLookup, Normalization, Discretization) with h5 format.

It probably is quite possible to support h5 for this layer and Discretization though, I can take a look at that.

Is there a reason t

[2021-11-12 03:04] #15443 closed

[2021-11-12 03:07] #14848 closed

[2021-11-12 05:16] apaliwal709 commented on #5179
Same error

[2021-11-12 08:25] sushreebarsa commented on #15637
@JivanRoquet Could you please try with the latest stable `TF v2.7.0` and let us know if it helps ? Thank you!

[2021-11-12 08:44] Nilabhra commented on #15593
@mattdangerw @sayakpaul

I created another [notebook]([url](shorturl.at/auBFJ)) that has the bare minimum (or as close as I could get to bare minimum) code needed to reproduce the issue. Note that the notebook is fetching a different set of TFRecords from the previous notebook.

Please find the notebook [here: shorturl.at/auBFJ](shorturl.at/auBFJ)

I hope this helps!

[2021-11-12 08:51] sebastian-sz commented on #15596
@mattdangerw Thanks for the answer - that solves the issue.

[2021-11-12 08:51] #15596 closed

[2021-11-12 09:31] stefanistrate commented on #15547
I know there's no need to concatenate 1 layer but, as I was saying, in case I still do, `Concatenate()` should be a no-op. Same for `concatenate()`. My point is that instead of having something like:

[code]

I'd like to simply use:

[code]

[2021-11-12 09:34] stefanistrate commented on #15547
And coming back to the bug I reported: I can do the above at training time, but loading back the model produces the crash.

[2021-11-12 15:03] JivanRoquet commented on #15637
@sushreebarsa I did the following:

[code]

Now I have TensorFlow v2.7.0 but when running `model.fit()` I have the following error repeatedly:

[code]

I didn't change anything apart from upgrading TensorFlow. What do I need to do in this case?

[2021-11-12 17:37] vinit0108 opened #15641 "LSTM: Many to many or one to many sequence prediction with different sequence length #6063"
I am trying to train an LSTM for the below inputs and outputs

[code]

I have used some random numbers for units and LSTM layers, as I am not sure about the parameters. I am not able to run the model, the errors says:

ValueError: Data cardinality is ambiguous:
  x sizes: 2
  y sizes: 3
Make sure all arrays contain the same number of samples.

My code:
[code]

If this is not possible, is the below

[2021-11-12 18:12] jvishnuvardhan commented on #15637
@JivanRoquet Quick question to find whether the root-cause is keras or distribution strategy. I guess distribution strategy.
Are you using Keras or TF model?
Did you try without Mirrored strategy? Do you notice this issues without distribution strategy.

If you think this is more related to distribution strategy, please open this issue in TF repository https://github.com/tensorflow/tensorflow/issu

[2021-11-12 18:59] sachinprasadhs commented on #15593
@Nilabhra , Could you please check the links of the files you have attached, both the links giving 404 error.

[2021-11-12 22:19] JivanRoquet commented on #15637
I guess this would be the distribution strategy then because effectively, the problem doesn't appear when not using the mirrored strategy. I'm using a Keras model however (function API), so perhaps the problem might be the result of a combination of the two.

[2021-11-12 23:07] jvishnuvardhan commented on #15637
@JivanRoquet Thanks for the quick response. This is more related to `distribution strategy`. Can you please open the issue in TF repository.  Thanks!

[2021-11-12 23:15] JivanRoquet commented on #15637
Sure thing. Closing here for now.

[2021-11-12 23:15] #15637 closed

[2021-11-13 02:55] Nilabhra commented on #15593
@sachinprasadhs Thanks for letting me know, I have updated the link in the comment.

[2021-11-13 09:11] Ending2015a opened #15643 "Inconsistent results on every run with GPU"
Repost from tensorflow/tensorflow#52680

**System information**
- OS Platform and Distribution: Colab
- TensorFlow version: 2.6.0 GPU

**Describe the current behavior**
Hello, I'm using TensorFlow 2.4.0 with GPU support on my local machine to train a small CNN model. I can get the same training results when I train it on CPU mode if I fixed the random seed, but always get inconsistent results on G

[2021-11-13 10:31] MrinalTyagi commented on #15576
@chunduriv any update on this?

[2021-11-13 11:51] AlexDavydov357 commented on #14265
Solution:
Uninstall the original h5py module and install version 2.10. It's really helped me
`pip install h5py==2.10 -i https://pypi.tuna.tsinghua.edu.cn/simple/`

[2021-11-14 00:52] filusn commented on #15536
From what I investigated, the error is raised by `Dimension` class. It is called with `dim` argument of value `<attribute 'shape' of 'numpy.generic' objects>` of type `<class 'getset_descriptor'>` instead of `int`, `None` or `Dimension` object. I'm not really sure where it comes from but I think it may be some code in `__call__()` method of `base_layer.Layer` - the stack goes to there and the meth

[2021-11-14 18:09] mathshangw opened #15644 "got same sentence for most of images"
i'm trying to implement image captioning and this is my model but got same sentence for most of images after i tried the result model

lr_schedule = keras.optimizers.schedules.ExponentialDecay(
    initial_learning_rate=4e-4,
    decay_steps=50000,
    decay_rate=0.5)

def define_model(vocab_size,max_length):

    inputs1=Input(shape=(number,))

    fe2 = Dense(256, activation='relu')(inputs1)

[2021-11-14 18:18] pantelis commented on #15348
We are also seeing the same issue in Colab with tensorflow-io version: 0.22.0
tensorflow version: 2.7.0 and ES 7.15.2.

[2021-11-15 07:37] Aliktk commented on #5916
many people try to find this issue. This problem is for the loss during training.
Here I solved this issue by using compile false:

`model = load_model("lc_model.h5", compile=False)`
[Source](https://stackoverflow.com/a/57985788/7156266)

[2021-11-15 14:26] europeanplaice opened #15645 "I can't set parameters about batch in `timeseries_dataset_from_array`"
**Describe the feature and the current behavior/state**.

In `timeseries_dataset_from_array`, I can't set `drop_remainder` or other parameters  to `batch` method. I guess it is better to have a choice to skip making batches so that users can make them with arbitrary parameters.

**Will this change the current api? How?**
I opened PR that give users choice to skip making batches when `batch_size` i

[2021-11-15 14:44] sutummala opened #15647 "Require gradCAM for Siamese network"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-11-15 16:29] sanatmpa1 commented on #15644
@mathshangw,

Can you share a complete standalone code or colab gist to reproduce the issue? Thanks!

[2021-11-15 16:49] sanatmpa1 commented on #15647
@sutummala,

Can you share a complete standalone code or colab gist to reproduce the issue? Thanks!

[2021-11-15 16:50] sayakpaul commented on #15593
@mattdangerw

@Nilabhra has further simplified the notebook reducing the amount of code needed to reproduce the said issue. Let us know if you'd need anything else.

[2021-11-15 17:01] birolkuyumcu opened #15648 "New and modern model and weights for applications"
New and modern model and weights for applications
i think these aded to repo

https://github.com/leondgarse/keras_cv_attention_models

[2021-11-15 17:06] sutummala commented on #15647
[https://colab.research.google.com/drive/1RYG6UzfEDt3vSIVikfkTMln-0vloRFP0?authuser=3#scrollTo=CjiNmvUxxzIQ](url)

[2021-11-15 17:12] sutummala commented on #15647
[https://gist.github.com/sutummala/4f298d29bc47fc7894b00704d78ca810](url)

[2021-11-15 17:14] sanatmpa1 commented on #15641
@vinit0108,

I've reshaped your X and Y, as the LSTM layer expects the data to be in shape `(batch_size, timesteps, input_dim)`. You can take a look at the working [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/aac3440810df02ee5e78472b0e23df83/15641.ipynb).

You can also refer to this [link](https://stackoverflow.com/a/54416792) for detailed explanation. Thanks!

[2021-11-15 17:20] sanatmpa1 commented on #15648
@birolkuyumcu,

Can you take a look at this [guideline](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md#contributing-to-keras-applications) for contributing to Keras applications and follow the same? Thanks!

[2021-11-15 17:24] sachinprasadhs commented on #15643
I could notice the change in final loss on each run, attaching the [gist](https://colab.research.google.com/gist/sachinprasadhs/5751a9c525624aa9132c3975d9dfba05/tensorflow-gradient-bug.ipynb) for reference. Thanks!

[2021-11-15 18:43] #15641 closed

[2021-11-15 23:31] #14337 closed

[2021-11-16 00:31] #14357 closed

[2021-11-16 00:31] #14576 closed

[2021-11-16 00:46] mattdangerw commented on #15325
I believe this is fixed with https://github.com/keras-team/keras/pull/15326

[2021-11-16 00:46] #15325 closed

[2021-11-16 00:48] mattdangerw commented on #15219
So the latest on this, we do still want to support a good API for adapting multiple layers, but the current thinking is to do that directly on the model class, and not with a separate FunctionalPreprocessingStage. Closing this, as FunctionalPreprocessingStage is not an exported keras symbol.

[2021-11-16 00:48] #15219 closed

[2021-11-16 00:52] mattdangerw commented on #15163
This is a known bug with some special classes we introduced for handling StaticHashTable and MutableHashTable in keras layers (TrackableWeightHandler and VocabWeightHandler). Both the classes have caused a number of issues, so I believe the best approach here would be to remove them entirely. We will need to think about the design of how best to do that.

[2021-11-16 01:10] mattdangerw commented on #15508
Took a look. We currently don't support `saving -> loading -> cloning` as path with the lookup layers because of saving vocabulary files. In this case, we don't want to leak the old config file name to new models which might be restored in a new environment where the vocab file name is not available.

I think there's a few we should probably do here:

 1) We could support the `saving -> loading ->

[2021-11-16 01:17] mattdangerw commented on #15141
If a pure tensor implementation is required I believe the best option would be to write your own starting with the current implementation https://github.com/keras-team/keras-preprocessing/blob/master/keras_preprocessing/image/affine_transformations.py#L176

We don't plan on rewriting the functionality in https://github.com/keras-team/keras-preprocessing/tree/master/keras_preprocessing/image from n

[2021-11-16 01:17] #15141 closed

[2021-11-16 01:31] #14598 closed

[2021-11-16 01:38] jeisinge commented on #15508
I don't believe there is a vocab file. It's a python list.

[2021-11-16 02:06] mattdangerw commented on #15508
Yeah, in the colab you posted, 1) would be a sufficient fix.

[2021-11-16 03:17] jeisinge commented on #15508
Oops --- I completely misread your message.  It all makes sense.  I apologize for my errant comment.

[2021-11-16 04:02] gitlabspy opened #15653 "json.decoder.JSONDecodeError when using keras.models.load_model"
try reinstall tensorflow, don't work. But I tried with another machine, it works... I wonder what causes this issue.
- tensorflow 2.4.0
- python 3.6

It seems like `metadata = json_utils.decode(metadata)` is empty.

[code]

[2021-11-16 05:01] sanatmpa1 commented on #15653
@gitlabspy,

Can you share the complete standalone code or colab gist to reproduce the issue? Thanks!

[2021-11-16 05:25] gitlabspy commented on #15653
Just:
[code]
and failed.
It works on other machines and I tried create a new model and save it with my machine, and I can load this new model  with `tf.keras.models.load_model`...

[code]

[2021-11-16 05:59] utkutopcuoglu opened #15654 "Wrong explanation in documentation (multi-head-attention)"
In the docs, the explanation for the call arguments for **multi-head-attention** is wrong.
Currently it says:

`return_attention_scores: A boolean to indicate whether the output should be attention output if True, or (attention_output, attention_scores) if False. Defaults to False.`

It should be the reverse. Here is the link: [multi-head-attention](https://keras.io/api/layers/attention_layers/mul

[2021-11-16 06:24] fzyzcjy commented on #2575
any updates?

[2021-11-16 08:05] ProtossDragoon opened #15655 "[TPU, keras preprocessing layer] Some Op must be a compile-time constant."
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-11-16 10:18] AliSaeed86 commented on #15121
Anyone may help with this question asked by @sunw70, please.
I also stuck to this issue when i try to convert Conv2d layer (which is a tensor) to numpy to do some computations on the activation maps.

[2021-11-16 11:31] #15575 closed

[2021-11-16 13:31] #14313 closed

[2021-11-16 16:07] webeng commented on #4875
Hello there,

To load the model with _tf.saved_model.load_ instead of _tf.keras.models.load_model_ worked for me.

I don't know why. Mystery. Magic? ¯\_(ツ)_/¯

[2021-11-16 20:31] #14073 closed

[2021-11-16 20:31] #14270 closed

[2021-11-16 23:31] #14192 closed

[2021-11-17 00:31] #14088 closed

[2021-11-17 07:39] Iqra-Yousaf opened #15658 "Tokenizer step is not understanding??"
I have an issue related to tokenization, I have dataset of 5760 rows and predict multi-class labels. can any one elaborate me how to choose num_words and length of word index must be 5670. after tokenization and pad sequences , I use my pre-trained embedding of my dataset but in that vocabulary size decrease to 1192 by picking unique words in embedding. Then word_index length decrease i think and

[2021-11-17 11:09] chunduriv commented on #15658
@Iqra-Yousaf, Please refer [link1](https://neptune.ai/blog/tokenization-in-nlp), [link2](https://machinelearningknowledge.ai/keras-tokenizer-tutorial-with-examples-for-fit_on_texts-texts_to_sequences-texts_to_matrix-sequences_to_matrix/), [link3](https://stackoverflow.com/questions/61760508/how-to-choose-num-words-parameter-for-keras-tokenizer), [link4](https://stackoverflow.com/questions/51956000

[2021-11-17 12:38] sanatmpa1 commented on #15655
I am able to reproduce the issue with TF 2.7.0 . Please find the [gist here.](https://colab.sandbox.google.com/gist/sanatmpa1/e43cd41c1f85bae012156b10311be44a/segmentation-augmentation-layer-with-tpu.ipynb)

[2021-11-17 12:45] sanatmpa1 commented on #15653
@gitlabspy,

As you said that it works fine in other system ,I doubt if its an issue from Keras end, Can you try updating TF to latest stable version and let us know if the issue persists? Thanks!

[2021-11-17 13:00] sanatmpa1 commented on #15647
@sutummala,

Can you take a look at this links for similar [issue1](https://github.com/keras-team/keras/issues/11151), [issue2](https://stackoverflow.com/questions/56589726/valueerror-graph-disconnected-cannot-obtain-value-for-tensor-tensor-the-foll), [issue3](https://stackoverflow.com/questions/51522848/graph-disconnected-cannot-obtain-value-for-tensor-tensor-input-keras-python/51523029) about gr

[2021-11-17 13:15] t-kalinowski opened #15659 "`keras.backend.random_bernoulli()` raises exception if dtype is not a float"
Hello, passing a non-floating dtype to `keras.backend.random_bernoulli()` raises an exception.

[code]
The issue is that the user supplied dtype is passed to `tf.random.uniform()`.
https://github.com/keras-team/keras/blob/5171cc7925857e1f826c19ecf7f587184e1230d1/keras/backend.py#L6287

One way to resolve this is to fix the dtype passed to `tf.random.uniform(dtype = floatx())`, and then only pass t

[2021-11-17 14:33] #15653 closed

[2021-11-17 20:39] jsbryaniv commented on #2115
I would also like to know how to implement this for SparseCategoricalCrossEntropy

[2021-11-18 03:47] nihayahzahra opened #15663 "Error when checking model input: the list of Numpy arrays that you are passing to your model is not the size the model expected. Expected to see 1 array(s), but instead got the following list of 12331 arrays"
I want build model in keras with LSTM model. The code is given below

`#build the model: 2 stacked LSTM
print('Build model...')
model = Sequential()
model.add(LSTM(512, return_sequences=True, input_shape=(maxlen,len_vocab)))
model.add(Dropout(0.2))
model.add(LSTM(512, return_sequences=False))
model.add(Dropout(0.2))
model.add(Dense(2))
model.add(Activation('softmax'))
model.compile(loss='categoric

[2021-11-18 03:53] nihayahzahra opened #15664 "TypeError: The added layer must be an instance of class Layer. Found: <keras.layers.convolutional.Conv1D object at ..."
I want building the CNN Model

`CNNmodel = keras.Sequential()
CNNmodel.add(Conv1D(32, 2, activation='relu', input_shape=(20,28) )) # 32 convolution filters used each of size 2
CNNmodel.add(Conv1D(64, 3, activation='relu' ))       # 64 convolution filters used each of size 3
CNNmodel.add(MaxPooling1D(pool_size=(1,)))            # choose the best features via pooling
CNNmodel.add(Dropout(0.25))

[2021-11-18 07:45] jay-thakur opened #15665 "Understanding hinge loss"
I am learning `Tensorflow 2.X`. I am following [this page][1] to understand hinge loss.

I went through the [standalone usage][2] code.

Code is below -

[code]

the output is `1.3`

I tried to manually calculate it by given formula

`loss = maximum(1 - y_true * y_pred, 0)`

my code -
[code]

But I am getting `0.9`.

**Where am i doing wrong ? Am i missing any concept here ?**

Kindly guide.

  [1

[2021-11-18 10:12] chunduriv commented on #15664
@nihayahzahra, How did you import **Conv1D** layer? Can you try it as `from tensorflow.keras.layers import Conv1D, MaxPooling1D,Dropout, Flatten, Dense`.

This worked for me on Tensorflow 2.7.0

[code]

[2021-11-18 10:35] chunduriv commented on #15663
@nihayahzahra, Your input arrays must be NumPy arrays, not lists.

Could you please refer to the [issue](https://stackoverflow.com/questions/42596057/keras-error-expected-to-see-1-array), [issue2](https://github.com/keras-team/keras/issues/9475#issuecomment-472662095) and let us know if it helps ? Thanks!

[2021-11-18 11:16] Gandalf401 opened #15666 "Details about tf.keras.layers.Conv2DTranspose params 'padding' and 'output_padding'"
https://keras.io/api/layers/convolution_layers/convolution2d_transpose/
https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2DTranspose

Description of issue (what needs changing):
The documentation tells developers that output_padding has only one restriction that it should be lower that stride param, and it may not be all-inclusive.

Clear description
Different from PyTorch, Conv2DTra

[2021-11-18 11:30] Gandalf401 opened #15667 "Current implementation only supports equal length strides in the row and column dimensions."
When I use layers related to DepthwiseConv2d operation, such as tf.keras.layers.SeparableConv2d, exception occurs like that: 'Current implementation only supports equal length strides in the row and column dimensions. [Op: DepthwiseConv2dNative]'. It means that i cannot use parameter 'strides' like [1, 2], however, that conflicts with the documentation, which allows 'strides' with list format with

[2021-11-18 11:33] beginner401 commented on #15667
It seems that when I upgrade my tensorflow version to the latest 2.7, similar exceptions still occurs, the error-info takes a bit changes, but the problem stay the same. Here is the erro info:
![image](https://user-images.githubusercontent.com/94270103/142407564-5b7d1ebc-b29d-48fe-a4c4-4c9ca407ad04.png)
And the link to original issue post on [tensorflow/tensorflow](https://github.com/tensorflow/te

[2021-11-18 12:44] old-school-kid opened #15668 "layers.LocallyConnected2D takes a lot of time to get initialized"
Tensorflow version: 2.7.0
layers.LocallyConnected2D takes an awful amount of time to build. The time taken to build increases dramatically with increasing size of input.

Here mode means implementation.
Sample code to generate the problem can be found in this [notebook](https://colab.research.google.com/drive/1r--vgfn9_6UD-ff7pIYSRfNoZlXQN0gk?usp=sharing)

Moreover the sparse tensor generated in i

[2021-11-18 13:18] sushreebarsa commented on #15668
@sachinprasadhs Was able to replicate the issue on colab using TF v2.7.0 ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/981d08cb49afc05de1daa3192bc54d35/locally-connected-2d.ipynb#scrollTo=6-FC8XtrjMCu) for reference.Thanks!

[2021-11-18 15:32] chunduriv commented on #15665
@jay-thakur, I tried to run your code on Colab using TF v2.7 and faced `TypeError: can't multiply sequence by non-int of type 'list'` Please find the [gist here](https://colab.research.google.com/gist/chunduriv/d57bd96951850120e2a63f955944dbd4/untitled62.ipynb) for reference. Thanks!

[2021-11-18 17:33] dvtran221 opened #15669 "Keras changes names of tensorflow operators"
Hello,
When I created a keras model, the name of the layers were modified comparing to the tensorflow operators. Moreover, the naming in tensorflow seems not work as expected.
I have an example code to reproduce the issue. I installed tensorflow 2.7 and keras 2.7 on a windows 10 machine (version 21H1, build 19043.1348).  I expected the operators/layers named as "Space2Depth", "Multiplication", "De

[2021-11-18 17:38] buffyhridoy opened #15670 "dataframe for multi label multi class classification"
This is the colab link for the problem I am facing
https://colab.research.google.com/drive/1lsbXtqkA5e_GJW0mO05Jw-wc6_Vbf9QL?usp=sharing#scrollTo=BodcE3pjvF20

[2021-11-18 18:13] chenmoneygithub commented on #15643
Thanks for reporting this issue! This is actually expected: if model is run on gpu, then cudnn imports this randomness. If you want to get deterministic results, you may check out this api: https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism

But getting a deterministic result is at the cost of performance.

[2021-11-18 18:29] chenmoneygithub commented on #15565
Thanks MrinalTyagi! Let us know if you need any help from our side. Also cc'ed a crew member in Keras.

[2021-11-18 18:30] chenmoneygithub commented on #15565
@k-w-w

[2021-11-18 20:14] jay-thakur commented on #15665
Hi @chunduriv ,

please try this code. -

[code]

Thanks!

[2021-11-18 21:16] old-school-kid commented on #15670
@buffyhridoy can you be a little elaborative with the issue. The notebook doesnt even have keras imported.

[2021-11-18 21:34] old-school-kid commented on #15635
Hi @chenying99
In the [ResNet Paper](https://arxiv.org/pdf/1512.03385.pdf) they said

This doesnt mean 1x1 convolution is there only to solve the problem of dimensionality increase. As a matter of fact **Table 1** in the paper explicitly lays out the architecture and there is a 1x1 convolution in the first stack too.

[2021-11-18 21:39] drasmuss commented on #15586
I'd wait until TF 2.8 is released to confirm that the behaviour then matches the docs before closing this, but up to you.

[2021-11-18 21:43] old-school-kid commented on #15635
1x1 Conv is not present in ResNet18 and ResNet34 but is present in ResNet50, ResNet101 and ResNet152. The discussion you provided is maybe about ResNet18 and ResNet34. And to quote @goldmermaid from the said discussion

I think this helps you out.

[2021-11-19 00:20] #15600 closed

[2021-11-19 01:47] edloper commented on #15593
It looks like there's a bug in the `create_dummy_tensor` function in `distribute/input_lib.py`, where it does something fairly nonsensical if the rank of the feature is unknown.  I'm not entirely clear on how these "dummy tensors" get used, but my best guess is that this could be fixed on TensorFlow's end by a change such as this (new lines marked with "NEW"):

[code]

Alternatively, you could mod

[2021-11-19 02:04] mattdangerw commented on #14972
We have now released a `tf.keras.layers.experimental.preprocessing.HashedCrossing` layer with equivalent functionality to crossed_column (crosses concatenations of features with a hashing trick).

https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/HashedCrossing

[2021-11-19 02:04] #14972 closed

[2021-11-19 02:18] Nilabhra commented on #15593
@edloper Thank you so much for taking the time to work on this bug. I guess I can incorporate either of the solutions your provided, the second one being the easier one to do so. I hope the dev team takes notice of this and patches the issue soon.

[2021-11-19 03:33] Liozizy opened #15676 "Try in tensorflow2.6 by myself. But had some problems. Hope get some help!"
When I try to define a layer as loss by myself and use the add_weight() function to declare the trainable return propagation variable，Threw an error：

`ValueError: Variable <tf.Variable ‘eqn1_1/constant1:0’ shape=(1,) dtype=float32> has None for gradient. Please make sure that all of your ops have a gradient defined (i.e. are differentiable). Common ops without gradient: K.argmax, K.round, K.eval.

[2021-11-19 04:14] chunduriv commented on #15670
@buffyhridoy, In order to expedite the trouble-shooting process, please elaborate your issue on keras. Thanks!

[2021-11-19 05:01] beginner401 opened #15677 "tf.keras.layers.Conv2dTranspose doesn't support different dilation_rate"
**System information**.
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem**.
While using tf.keras.layers.Conv2dTranspose with dilation param setting different values for row and columns, it turns out to be a bug. Inferred from the

[2021-11-19 06:29] Ending2015a commented on #15643
@chenmoneygithub
Thank you for the reply.
So the `relu` is not a deterministic op in gpu mode? because I get the random results only when I use `relu` or other `relu`-like ops, e.g. `leaky_relu`, `tf.maximum`. Besides, I want to test this api on colab, but it seems it only available in tf-nightly, and maybe available after tensorflow 2.8 is released. Is there any api similar to this before tensorf

[2021-11-19 09:51] sanatmpa1 commented on #15676
@Liozizy,

Can you take a look at this [link1](https://github.com/keras-team/keras/issues/12521#issuecomment-496743146), [link2](https://stackoverflow.com/questions/45797524/how-to-make-sure-your-computation-graph-is-differentiable) which discusses about the similar issue and let us know if it helps? Thanks!

[2021-11-19 10:20] goncinious opened #15678 "Mixed precision doesn't work properly on NVIDIA A10G GPUs"
A large U-Net 3D model configured with mixed precision fails with `No algorithm worked!` (see full `a10g.log` attached) when running inference on a NVIDIA A10G 20GB GPU (compute capability 8.6).

Using `tensorflow/tensorflow:nightly-gpu` Docker image, the error points to an out-of-memory issue (see full log `a10g_tf_nightly.log` attached):
[code]
I'm able to overcome the issue by using full precis

[2021-11-19 10:29] sanatmpa1 commented on #15677
@beginner401,

Can you share the complete stand alone code or colab gist to reproduce the issue? Thanks!

[2021-11-19 11:09] adam-kral commented on #15565
Is there an easy way to make it work for an existing saved model?

[2021-11-19 11:15] jimmylevell commented on #9754
Could somebody elaborate why the keras KL divergence implementation can create negative values? And how this suits the definition of the KL divergence?

And what preciously is meant with the following statement?

[2021-11-19 13:44] sanatmpa1 commented on #15678
@goncinious,

Can you try using `tensorflow/tensorflow:latest-gpu` docker image which uses stable version, instead of `nightly` and let us know if this is still an issue? Thanks!

[2021-11-19 14:12] goncinious commented on #15678
@sanatmpa1, maybe my description wasn't fully clear - all tests were performed using `tensorflow/tensorflow:latest-gpu` image (see `a10g.log` and `t4_tesla.log`). I've only mentioned `tensorflow/tensorflow:nightly-gpu`, as gave it an additional `RESOURCE_EXHAUSTED` message (see `a10g_tf_nightly.log`), which might be useful to pinpoint the issue.

[2021-11-19 14:30] hdperezn commented on #15536
I have the same problem, but I really need it to run in colab, maybe you could recommend a why to implement that part of the code?

[2021-11-19 16:02] chenying99 commented on #15635
Thank you for your explanation. The reason is probably that the number of output channels of resnet50 in the last convolutional layer is 4 * filter

`x = layers.Conv2D(4 * filters, 1, name=name + '_3_conv')(x)`

https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/applications/resnet.py#L249

[2021-11-19 17:08] jvishnuvardhan commented on #15565
@adam-kral Easy and recommended approach is to pass `custom_objects` dictionary.

`model3 = tf.keras.models.load_model("model2", custom_objects={'CustomLayer': CustomLayer)`

Without that `custom_objects`, `load_model` is able to load the model with custom_layer once. Second time, loading the saved model (that was loaded and saved from original model1) is throwing an error because it is missing on

[2021-11-19 18:24] adam-kral commented on #15565
@jvishnuvardhan Thank you, but that didn't work for me. (Hope I'm doing it right). Probably because my saved model is already saved, loaded and saved again (indeed `"model2"` file as you write). So as jamesmishra writes in his [SO answer](https://stackoverflow.com/questions/69762318/tensorflow-keras-savedmodel-throws-a-typeerror-after-being-saved-and-loaded-twic) when I implement `to_config`, it h

[2021-11-19 18:43] jvishnuvardhan commented on #15643
Adding here a note from the page.

So, if you want to test this, you need to install `tf-nightly`. For some reasons, some times colab has difficulty in accessing GPU. So, try testing on your local GPU or cloud GPU. Thanks

[2021-11-19 19:04] jvishnuvardhan commented on #15565
@adam-kral I am not sure about adding another `training` argument to the save model.

@k-w-w is the expert and would wait for a response from @k-w-w

[2021-11-19 20:11] Ending2015a commented on #15643
@jvishnuvardhan
Hey, thank you for noting me that. How about the version before `tf-nightly` (e.g. tf 2.4~2.7) . Can I have deterministic results on these versions on gpu?

[2021-11-19 21:33] jvishnuvardhan commented on #15643
@Ending2015a https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism This API is new and only available in `tf-nightly` and not available before (e.g. tf 2.4~2.7).

[2021-11-19 23:03] d-01 opened #15681 "layers.RandomCrop raises error"
#### System information

Environment: Google Colab

Python: 3.7.12 (default, Sep 10 2021, 00:21:48)  [GCC 7.5.0]

TensorFlow: 2.7.0

#### Describe the problem

`tf.keras.layers.RandomCrop()` doesn't work for some input types.

#### Describe the current behavior

`tf.keras.layers.RandomCrop()` depending on the input type:

1. ndarray of type uint8: works as expected.
1. ndarray of type float32: wor

[2021-11-19 23:22] yesufeng commented on #15560
verified with tf2.5+, it works. Thank you!

[2021-11-19 23:22] #15560 closed

[2021-11-20 00:36] jvishnuvardhan commented on #14356
@blubbrezn I think once you rename any layer, you need to reconnect layers as shown below. Otherwise, Functional model will be looking for old-name ("uninitialized_input_normalisation") which doesn't exist anymore. Just added one line to your code.

[code]

[Here](https://colab.research.google.com/gist/jvishnuvardhan/7660719a501b9eaa8ca11292a5d8d6c9/untitled.ipynb) is a gist for a reference. Thank

[2021-11-20 00:51] jvishnuvardhan commented on #14401
I ran your code (including `settings.py`) and I don't see any error as your are facing. [Here](https://colab.research.google.com/gist/jvishnuvardhan/3c0fafd3cba455f5a23fd22086c29372/untitled1103.ipynb) is a gist for reference. Thanks!

[2021-11-20 01:08] jvishnuvardhan commented on #15224
@rschumi0 Why do you think this is a wrong computation? Can you please check with couple of more computations. Thanks!

[2021-11-20 02:26] jvishnuvardhan commented on #15300
@adriangb I see that the PR got merged. Can we close this issue? Thanks!

[2021-11-20 02:39] 945226956 opened #15682 "Why is there a slight difference between extracting feature values from VGG16 model alone and as a pre-training model?"
I want to use VGG16 model to extract N image features, and then carry out the fusion of multiple image features for video recognition. I found that the image features predicted by THE VGG16 model alone were not the same as the image feature values predicted as part of the pre-training model, and there was a slight difference, which made me very confused. I did not know whether there was a problem

[2021-11-20 03:01] jvishnuvardhan commented on #15348
`h5` format limitations listed in the Keras page mentioned that **Does not support preprocessing layers.**. Please check the page https://github.com/keras-team/keras-io/blob/master/guides/ipynb/serialization_and_saving.ipynb

[2021-11-20 03:29] qlzh727 commented on #15300
This should be fixed now.

[2021-11-20 03:29] #15300 closed

[2021-11-20 03:39] adriangb commented on #15300
Sorry for not tagging it, thanks folks!

[2021-11-20 05:56] Ending2015a commented on #15643
@jvishnuvardhan
Yes I know it is only available in `tf-nightly`. What I am looking for is the way other than using this api to get the deterministic results on the previous versions (tf 2.4~2.7).

[2021-11-20 17:02] MrinalTyagi commented on #15565
@adam-kral @jvishnuvardhan @chenmoneygithub Just a suggestion, while creating model with custom layer, shouldn't adding these as warnings would be helpful for users.

1. passing it in the `custom_objects` dictionary passed to `tf.keras.models.load_model()`.
2. adding the layer to the Keras registry with the `@tf.keras.utils.register_keras_serializable` decorator.
3. installing the layer with the `

[2021-11-21 03:07] rafak360 commented on #15348
Well that documentation does not make sense for `tensorflow-gpu 2.5.0`, when specifying the preprocessing `Normalization` layer like: `normalizer = tf.keras.layers.experimental.preprocessing.Normalization(input_dim=5, axis=None)` it does seem to work fine with .h5 save formats. That's why I switch back to version 2.5, unfortunately it's been my workaround.

[2021-11-21 14:03] #15645 closed

[2021-11-22 02:22] nihayahzahra commented on #15664
I use this

`from tensorflow import keras
from keras.layers import Dense, Dropout, Flatten, GRU, SimpleRNN, LSTM, Bidirectional, Activation, TimeDistributed
from keras.layers.convolutional import Conv1D, MaxPooling1D
from sklearn.model_selection import train_test_split
from tensorflow.keras import layers`

[2021-11-22 02:35] nihayahzahra commented on #15664
I use this

from tensorflow import keras
from keras.layers import Dense, Dropout, Flatten, GRU, SimpleRNN, LSTM, Bidirectional, Activation, TimeDistributed
from keras.layers.convolutional import Conv1D, MaxPooling1D
from sklearn.model_selection import train_test_split
from tensorflow.keras import layers

and when I used your code, still error AttributeError : module 'tensorflow._api.v1.keras.optim

[2021-11-22 03:11] Liozizy commented on #15676
@sanatmpa1
Thanks for your help! That worked! But there are new problems！The error information as follow:
[code]
I hope you can give me some advice! Thanks again!

[2021-11-22 03:11] Liozizy commented on #15676
@sanatmpa1
Thanks for your help! That worked! But there are new problems！The error information as follow:
[code]
I hope you can give me some advice! Thanks again!

[2021-11-22 04:38] #15566 closed

[2021-11-22 07:36] sushreebarsa commented on #15681
@sachinprasadhs Was able to replicate the issue on colab using TF v2.7.0 and tf-nightly.Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/c67af173abeaa9f935c1062c4be62c70/15681.ipynb) for  reference.Thank you!

[2021-11-22 07:38] #14393 closed

[2021-11-22 08:14] beginner401 commented on #15677
@beginner401 https://colab.research.google.com/gist/beginner401/b5ba37ece87af7a32d5b175be547e3fa/github15677.ipynb
Just code like above can trigger this bug. If the link is invalid, just try to run code below:
import tensorflow as tf
import numpy as np
conv2d_transpose = tf.keras.layers.Conv2DTranspose(32, (3, 2), (1, 1), 'valid', dilation_rate=(1, 2))
print(conv2d_transpose(np.ones((100, 28, 28,

[2021-11-22 08:19] ravinderkhatri opened #15684 "Saving best metrics based on Custom metrics failing (WARNING:tensorflow:Can save best model only with CUSTOM METRICS available, skipping)"
I have defined a callback that runs on the epoch end and calculated the metrics. It is working fine in terms of calculating the desired metrics. Below is the function for reference

[code]
** .....Some model code .....**

Using this in callback

[code]
The issue that I am facing is that it is giving me a warning that says

WARNING:TensorFlow: Can save the best model only with val_f1_after_epoch av

[2021-11-22 09:08] #15635 closed

[2021-11-22 09:50] chunduriv commented on #15664
@nihayahzahra, I am not able to replicate your issue. Can you let us know what is the version of `TF` and `Keras` are you using? You can try imports as shown below
[code]

[2021-11-22 10:17] chunduriv commented on #15684
@ravinderkhatri, In order to expedite the trouble-shooting process, please provide a standalone code or colab link to reproduce the issue reported here. Thanks!

[2021-11-22 10:37] ravinderkhatri commented on #15684
Sharing below the complete code to re-produce the problem.

Below is the link to label_map.pbtxt file
https://drive.google.com/file/d/1Qqk3jtJLwA-h3G3sgjMMtvr5JWmPJGcC/view?usp=sharing

Link to tfrecord training file
https://drive.google.com/file/d/1WSuFYHiYKN5AXlRmtMfNhQ_gmfsnK-BE/view?usp=sharing

Link to tfrecord testing file
https://drive.google.com/file/d/1NWOMQ9QnVA5txXwtWVPgZ4oT0Ul7fLyv/vie

[2021-11-22 11:13] sushreebarsa commented on #14724
@CyberZHG Sorry for the late response! Could you please let us know if it is still an issue in TF latest version 2.7.0 ? Please try to use Use tf.keras.optimizers.Adam(learning_rate) instead of keras.optimizers.Adam(learning_rate) and refer to the [link](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/optimizers/Optimizer) .Please let us know if it helps? Thanks!

[2021-11-22 11:41] sushreebarsa commented on #14622
@davidfstein Could you please refer to the [model training](https://keras.io/api/models/model_training_apis/) ,[built in methods](https://keras.io/api/models/model_training_apis/), try with the latest TF v2.7.0 ?Please let us know if it helps? Thanks!

[2021-11-22 12:16] chunduriv commented on #15665
Yes, now i am able to replicate reported issue on Colab using TF v2.7. Please find the [gist here](https://colab.research.google.com/gist/chunduriv/64765b329c9e31f2c1d83ad28b701c59/untitled63.ipynb) for reference. Thanks!

[2021-11-22 12:51] sushreebarsa commented on #14341
@shuaibaslam2019 Sorry for the late response! Is this still an issue?
 Could you please refer to the Image data [link](https://keras.io/api/preprocessing/image/) ,[ImageDataGenerator](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/ImageDataGenerator) and let us know if it helps? To fix this issue, you need to reshape the input tensor  before training your model.Thanks!

[2021-11-22 13:38] #14593 closed

[2021-11-22 13:38] #14214 closed

[2021-11-22 15:57] innat commented on #15522
@rchao I'm not sure how to solve this, it's repeating anyway. Could you please assist?

[2021-11-22 17:03] rchao commented on #15522
I would do `tf.data.experimental.enable_debug_mode` and `tf.print` inside the map function, and see the logs to find out more. Hope this helps!

[2021-11-22 19:16] #15584 closed

[2021-11-22 21:38] #15572 closed

[2021-11-23 00:15] sidhartha-roy opened #15689 "tf.keras.preprocessing.image.smart_resize does not accept a batch of images. It only accepts a single image."
I have written the following code to perform batch preprocessing of images from a tf.data.Dataset object.
[code]
The documentation says that I can supply a batch of images.
x | Input image or batch of images (as a tensor or NumPy array). Must be in the format (height, width, channels) or (batch_size, height, width, channels).

[tensorflow documentation link](https://www.tensorflow.org/api_docs/pyt

[2021-11-23 03:38] #14647 closed

[2021-11-23 04:38] #15605 closed

[2021-11-23 06:51] innat commented on #15522
@rchao thanks. I tried that already but had no luck finding any precise information.
However, I think the issue might cause of ` tf.keras.utils.image_dataset_from_directory`.

In the colab notebook, [here](https://colab.research.google.com/drive/1T-8bgNWGq6ZJ_etvVKXCsXq7TDvcTVhd?usp=sharing), we used `tf.keras.utils.image_dataset_from_directory` but the in the kaggle-notebook, [here](https://www.k

[2021-11-23 09:50] sushreebarsa commented on #14618
@Keeyahto Sorry for the late response! Could you please let us know if it is still an issue?
Could you please refer to the similar [issue](https://stackoverflow.com/questions/66878893/tensorflow-textvectorization-layer-how-to-define-a-custom-standardize-function) , [TextVectorization layer](https://keras.io/api/layers/preprocessing_layers/core_preprocessing_layers/text_vectorization/) and this [TF

[2021-11-23 10:00] sushreebarsa commented on #14439
@nedimmuzoglu We see that you're using old version of TF (2.3.1).TF 2.3 does not really contain all the changes to prevent code using invalid shapes from crashing the interpreter via CHECK-failures.  TF 2.3 is no longer supported.Its unlikely for TF 2.3 version to receive any bug fixes except when we have security patches. There is a high possibility that this was fixed with later TF versions. Per

[2021-11-23 12:02] haimat opened #15692 "Using a MirroredStrategy with an ImageDataGenerator does not work correctly"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): via python pip
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2
- Python version: 3.8.10
- GPU model and memory: NVIDIA GeForce RTX 2070
-

[2021-11-23 18:49] chenmoneygithub commented on #15643
I do not think we have a similar api in the stable version.

One question I am curious about is - does the small value fluctuation affect your work? We want to learn more about how severe the problem is, thanks!

[2021-11-24 04:26] nihayahzahra commented on #15664
I use tensorflow version 1.13.1 and keras version 2.2.4.. but it's been updated

[2021-11-24 06:58] chunduriv commented on #15664
According to [Installing Keras](https://keras.io/getting_started/#installing-keras): To use `Keras`, will need to have the `TensorFlow` package installed. Once TensorFlow is installed, just import Keras via:  `from tensorflow import keras`

I tried sample code using `Tensorflow 2.7.0` and it is working. Please check the [gist here](https://colab.research.google.com/gist/chunduriv/80e097d38548bcb94

[2021-11-24 11:21] shreyas-jk commented on #14345
Even I am facing the same issue.

[code]

[2021-11-24 12:22] 400lbhacker commented on #14675
on colab... at the following magic line at the begining of your code cell
%tensorflow_version 1.x

[2021-11-24 13:57] phil-holland commented on #14374
For anyone running into the same problem, the was resolved for me by implementing the fix given in this pull request: https://github.com/broadinstitute/keras-resnet/pull/65/commits/73c50f77920aead4e8c71dba387822cdbeb16fd7

It's definitely an issue specifically with the `keras_resnet` package's implementation of Resnet.

[2021-11-24 14:32] csteel45 opened #15698 "tensorflow/core/util/gpu_launch_config.h:129] Check failed: work_element_count > 0 (-1018167296 vs. 0)"
I have written a custom Keras CNN-based GAN for synthesizing tabular datasets. The code works fine when I use reasonable batch size (generally 64 to 1024). However, users are allowed to specify a batch size and when they use large ones, I try to handle by catching ResourceExhaustedErrors and step the batch size down. I found that doing this, eventually leads to Check failed error in the post title

[2021-11-24 17:32] moumed opened #15699 "Error when Saving model with data augmentation layer on Tensorflow 2.7"
I am getting an error when trying to save a model with data augmentation layers in last tensorflow version (2.7.0).

Here is the code of data augmentation:

    input_shape_rgb = (img_height, img_width, 3)
    data_augmentation_rgb = tf.keras.Sequential(
      [
        layers.RandomFlip("horizontal"),
        layers.RandomFlip("vertical"),
        layers.RandomRotation(0.5),
        layers.Random

[2021-11-24 19:21] csteel45 commented on #15698
Update: I downgraded the Amazon Linux instance to Cuda 10.2 and Tensorflow 2.3 and still have the same problem. I had seen in the release notes that Cuda 10.2 had fixed an issue with very large batches and mixed precision, but it doesn't fix this.

[2021-11-25 01:19] mu-mandayam opened #15701 "__len__, __getitem__ and __data_generation gets called multiple times"
I have a large, non-image, CSV file that I want to read in batches and feed to model.fit_generator. I have written a DataGenerator(keras.utils.all_utils.Sequence) class with the following methods:
__init__,
__len__,
__getitem__,
on_epoch_end, and
__data_generation

I instantiate a training and validation class and then call model.fit_generator with the correct batch size and other parameters. I no

[2021-11-25 06:28] kkraoj opened #15703 "Padding="same" documentation is incorrect in all Conv layers"
**URL(s) with the issue:**.
https://keras.io/api/layers/convolution_layers/convolution1d/
https://keras.io/api/layers/convolution_layers/convolution2d/
https://keras.io/api/layers/convolution_layers/convolution3d/
https://keras.io/api/layers/convolution_layers/separable_convolution1d/
https://keras.io/api/layers/convolution_layers/separable_convolution2d/
https://keras.io/api/layers/convolution_la

[2021-11-25 06:33] MrinalTyagi commented on #15494
any update guys?

[2021-11-25 06:34] MrinalTyagi commented on #15576
@sachinprasadhs any update on the following?

[2021-11-25 08:51] haimat commented on #15692
Hello, I noticed this issue is not marked as bug any more - which suprises me, because I had the impression that since I am using two "out of the box" parts from TF & Keras and following the official docs, that should work. However, if this is not a bug, could you please be so kind and let me know how else I should proceed, what other approach I would need to take? Thanks in advance!

[2021-11-25 09:00] goncinious commented on #15678
@sachinprasadhs, please let me know if you need any more information about the issue found. If not, can you please change the label `stat:awaiting response` of the issue, so it gets the right visibility?

[2021-11-25 11:29] haimat commented on #15692
Update: I tried it now with `from_tensor_slices()`, like so:

[code]

However, evem though model training is fine, this leads to exactly the same warning message:

**So how is one supposed to create and use a TF Dataset for multi-GPU training in Keras?**

[2021-11-25 11:38] #15636 closed

[2021-11-25 13:50] sanatmpa1 commented on #15698
@sanatmpa1,

Can you please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu) which shows the corresponding `CUDA` version for each version of `Tensorflow`. Also please share the fully reproducible stand alone code to expedite the trouble shooting process. Thanks!

[2021-11-25 13:52] MrinalTyagi opened #15704 "Addition of GradCAM visualization option for output visualization of CNNs"
**System information**.

TensorFlow version (you are using): 2.7.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.
GradCAM visualization is a great algorithm to showcase the activation part of an image from a CNN. As described in this paper(https://arxiv.org/pdf/1610.02391.pdf), it can allow users to visualize the issues their model is maki

[2021-11-25 14:56] piEsposito opened #15705 "Reorder channel layer for smooth native RGB - BGR"
**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support only helps individuals. GitHub also notifies thousands of people when issues are filed. We want them to see you communicating an interesting problem, rather than being redirected to Stack Overflow.

**System information

[2021-11-25 15:00] NEGU93 commented on #10426
After having anxiety by reading this. I believe the conclusion is:

- Loss: displays the loss of the **current** batch
- Validation loss: displays the loss of **all** the validation batches
- Accuracy and validation accuracy: displays the acc of **all** the batches (train and val respectively).

Did I understand correctly?

[2021-11-25 17:13] sanatmpa1 commented on #15699
@moumed,

Can you share a stand alone code to reproduce the issue from our end? Thanks!

[2021-11-25 19:55] chrismaliszewski commented on #10426
All good but the last point training part. I'll sum this up again + extras:
- if ```acc```/```accuracy``` metric is specified, TF automatically chooses it based on the loss function (LF), it can either be ```tf.keras.metrics.BinaryAccuracy```, ```tf.keras.metrics.CategoricalAccuracy``` or ```tf.keras.metrics.SparseCategoricalAccuracy``` and it's hidden under the name ```accuracy```,
- when a metri

[2021-11-26 02:00] Ending2015a commented on #15643
Hello, @chenmoneygithub
You think that it's just a small fluctuation is because this example code uses a small network which only has 3 small conv layers and only trains for 1000 gradient steps. As I observed in this tiny scripts, each gradient update will cause 1e-6 scale of noises, resulting in 1e-3 scale of fluctuations. While in the real world application we use larger and deeper networks and

[2021-11-26 02:02] Ending2015a commented on #15643
So I think TensorFlow/Keras teams can not solve this issue. I decide to switch to PyTorch. Thank you.

[2021-11-26 04:02] nihayahzahra commented on #15664
yes it's work when I used tensorflow 2.7.0

thank you

[2021-11-26 04:13] chunduriv commented on #15705
@piEsposito, The issue will move to closed status once the [PR](https://github.com/keras-team/keras/pull/15707) is merged. Thanks!

[2021-11-26 04:18] chunduriv commented on #15664
@nihayahzahra, Please feel free to close the issue as issue was resolved. Thanks!

[2021-11-26 04:59] Hassan-Shoayb commented on #12379
Using tf.get_default_graph() is deprecated, Instead used tf.compat.v1.get_default_graph()
it works for me really fine.

[2021-11-26 05:14] sanatmpa1 commented on #15540
Reopening the issue, as the bot has mistakenly closed this issue even after the user has commented.

[2021-11-26 06:00] intervolga-school opened #15708 "Model stops training with variable-size dataset"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes, but very simple case
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab default
- TensorFlow version (use command below): v2.7.0-0-gc256c071bb2 2.7.0
- Python version: 3
- Bazel version (if compiling from sourc

[2021-11-26 06:21] chunduriv commented on #14161
@chellatamilan, Sorry for the late response. Is this still an issue for you?

Can you please try recent TF2.7 or tf-nightly and let us know whether it is persisting? Also, share a simple standalone code to reproduce the issue.

[2021-11-26 11:32] youcef4k commented on #5074
Thank you man, after 2 days of looking for some way to remove the pre-processing layers of EfficientNet models in tf.keras, this is the only solution that worked for me, all other solutions are for Sequential models, resulting in either a disconnected graph, or non-working merge operations.

Much appreciated !

[2021-11-26 13:57] shreyas-jk commented on #14345
I have figured out a way to overcome this problem. Instead of saving the model using `model.save` or `tf.keras.models.save_model()`, try saving the model weights using `model.save_weights('model_weight.h5')` during the training process.

At the prediction or testing phase, you need to create the model (architecture) manually, the same way you did in the training phase, and then load the weights to

[2021-11-26 14:07] NEGU93 commented on #10426
I tried this line of code:
[code]
And got:
[code]
See how loss and ACC are not the same. Therefore, I believe the value printed during calculating the eval is a per batch value only. And the retuned value of the function is the actual `total / count`. Is how I would explain the difference here.
Another option is that the return value is `total_per_sample / (count * batch_size)`.

[2021-11-26 15:31] csteel45 commented on #15698
Tested with with following configurations on Windows 10 and AWS Linux (RHEL7) with hardware as described above:
Tensorflow 2.60
Python 3.8.5
CuDNN: 8.1
Cuda 11.2
Pip: 20.2.4

Full source not available, relevant source:
    def create_generator(self):
        self.logger.debug('called')

        inputs = tf.keras.Input(shape=(self._noise_dim,))
        dense = Dense(128 * self.dim * self.dim,

[2021-11-26 21:01] chrismaliszewski commented on #10426
@NEGU93, I followed the code again, here is how it works:
1. ```fit()``` runs.
2. ```self.train_function``` runs (it's a bit different for evaluation, prediction, test, training), it returns logs.
3. method ```compute_metrics``` is called
4. it calls ```compiled_metrics.update_state()``` which calls ```update_state``` for each metric
5. as I described in the previous post, most of the metrics accu

[2021-11-26 22:41] sebastian-sz opened #15709 "[Feature Request] Be able to checkpoint optimizer state in mixed precision."
**System information**.

TensorFlow version (you are using): 2.7.0
Are you willing to contribute it (Yes/No) : Yes, if given some guidance.

**Describe the feature and the current behavior/state**.
I would like to train the model in mixed precision and by the end of the training, save optimizer state and model variables inside a `tf.train.Checkpoint`. This is not possible, as such operation throws

[2021-11-27 01:25] csteel45 commented on #15698
I think I found the problem. Looking through the TF source, the function CHECK_GT takes int32 as the arguments. For my model, the tensor size for batch of 1024 is [2048,250,250,64] which totals: 4,096,000,000. If I cast that to an int32, the resulting value is -198967296 which is what I see in the console when the program dies: .\tensorflow/core/util/gpu_launch_config.h:129] Check failed: work_ele

[2021-11-27 03:14] albertz opened #15710 "Keras Nadam optimizer behaves different to `ApplyAdamOp` with `use_nesterov` option"
This is copied and adopted from here: https://github.com/tensorflow/tensorflow/issues/53204

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 (but irrelevant)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile

[2021-11-27 10:04] innat opened #15712 "Adding RandomCutMix, RandomMixUp augmentation."
TensorFlow version (you are using): 2.7
Are you willing to contribute it (Yes/No): Yes, or I can provide the starter code for an interested contributor.

**Describe the feature and the current behavior/state**.

CutMix - [Paper](https://arxiv.org/abs/1905.04899) - Cited by ~ 865
MixUp - [Paper](https://arxiv.org/abs/1710.09412) - Cited by ~ 2675

These two well-known and very effective augmentatio

[2021-11-27 16:35] amal2121 commented on #3938
Try this
from sklearn.metrics import accuracy_score
accuracy_score(y_test, np.argmax(NN.predict(X_test), axis=-1))

[2021-11-27 17:22] khengkok commented on #15699
I have the same problem. In fact the with TF2.7, saving and loading a model seems to have some issues.

[2021-11-27 18:40] MrinalTyagi commented on #15704
@jvishnuvardhan Please tell if should proceed with the feature  addition or not as I think it will be a great addition to the library

[2021-11-27 22:41] moumed commented on #15699
@sanatmpa1  the problem is not specific to any kind of data or code, just creating and compiling the model with data_augmentation_rgb and then saving the model raises the error, and when removing the data data_augmentation_rgb the error disappears.

I tried to test the provided colab in tensorflow core documentation with the provided tf_flowersdataset: https://colab.research.google.com/github/tens

[2021-11-28 02:00] breadbread1984 opened #15713 "group conv2d can't backprop properly"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-11-28 13:37] kupferb opened #15714 "Tensor dimension becomes None after using gather or boolean_mask in Tensorflow 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- Windows 10 Home (19043.1348):
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version: 3.8.10
- CUDA/cuDNN version: 11.2
- GPU model and memory: GTX 1080 Ti (11 GB)

**Describe the current behavior**

For some

[2021-11-28 14:16] raftAtGit opened #15715 "Many metrics cannot handle predictions out of [0..1] range"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: 3.9.6
- Bazel version (if compiling from source): N/A
- G

[2021-11-28 15:08] beginner401 opened #15716 "WARNING:tensorflow:Gradients do not exist for variables ['p_re_lu/alpha:0'] when minimizing the loss."
**System information**.
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem**.
Sometimes when I'm using tf.keras.layers.PReLU() with a constant initializer, it occurs that the gradients do not exist as the warning infomation says'WAR

[2021-11-28 15:53] beginner401 opened #15717 "setdiff1d (from tensorflow.python.ops.array_ops) is deprecated and will be removed after 2018-11-30"
**System information**.
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem**.
When I'm using reduce_prod while training, sometimes the warning occurs like that 'setdiff1d (from tensorflow.python.ops.array_ops) is deprecated and will

[2021-11-28 17:08] ravinderkhatri commented on #15684
I have created a Google colab notebook to replicate the error
https://colab.research.google.com/drive/1-6qcPFv2BrdenRm6ncFUfNxDdquJO4l7?usp=sharing

[2021-11-28 23:11] mu-mandayam commented on #15701
Hi @sanatmpa1 - Thanks for taking up this issue. Is there anything wrong with the way I have implemented the class?

[2021-11-29 04:13] chunduriv commented on #15717
@beginner401, Can you take a look at[ this issue](https://github.com/tensorflow/tensorflow/issues/42909#issuecomment-686710157) which discusses about the similar issue and let us know if it helps? Thanks!

[2021-11-29 04:27] beginner401 commented on #15717
@chunduriv Oh, thanks for your support and I'm sure this problem is triggered by the same bug, so I will close this issue.

[2021-11-29 04:27] #15717 closed

[2021-11-29 05:23] alancovamo commented on #4875
But how do you keep training the model? tf.saved_model.load is not a Keras object.

[2021-11-29 05:37] chunduriv commented on #15716
@beginner401, In order to expedite the trouble-shooting process, please provide a standalone code snippet to reproduce the issue reported here. Thanks!

[2021-11-29 07:11] ravinderkhatri commented on #15684
I was using  modelcallback before metrics callback.
When I used metric callback  before the modelcheckpoint callback it is working fine.

history = model.fit(train_data, validation_data=test_data, epochs=N_EPOCHS, callbacks=[m4, checkpoint_cb])

[2021-11-29 07:11] #15684 closed

[2021-11-29 07:32] chunduriv commented on #15715
@jvishnuvardhan, The issue was able to reproduce the issue on Colab using TF v2.7  and TF-nightly. Please find the [gist here](https://colab.research.google.com/gist/chunduriv/5bb79d652fe2d3a2afb20c2a61d66378/15715.ipynb) for reference.Thanks!

[2021-11-29 09:49] karthik2215 commented on #5818
Hi, I am facing training the dataset the .model file was got less than the number of epoch

[2021-11-29 10:27] chunduriv commented on #15713
@breadbread1984, Gradients for grouped convolutions are supported on GPU. I don't have any issue on Colab using TF v2.7.0. Please find the [gist here](https://colab.research.google.com/gist/chunduriv/68001ac99d3697191ca705bc4bddb5bc/15713.ipynb). Thanks!

[2021-11-29 10:59] chunduriv commented on #15709
@sachinprasadhs, Was able to replicate the issue on Colab using TF v2.7.0 and tf-nightly, please find the [gist here](https://colab.research.google.com/gist/chunduriv/5381dbf8b2933210bd49a80be730ce85/15709.ipynb) for reference.Thanks!

[2021-11-29 15:20] mishc9 opened #15719 "Implement `compute_output_shape` for `BaseAttentionLayer`"
**System information**
- TensorFlow version (you are using): 2.8
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
Currently the method compute_output_shape is not implemented for layers derived from `BaseAttentionLayer`. Hence, it's impossible to use these layers with, for example, `TimeDistributed` wrapper (see [issue](https://github.com/k

[2021-11-29 18:37] #15648 closed

[2021-11-29 21:53] jvishnuvardhan commented on #15715
@raftAtGit I think you forgot to add `sigmoid` activation for  a classification model with `binary_crossentropy` loss. When I updated your code with `sigmoid`, everything worked as expected. Please check the gist [here](https://colab.research.google.com/gist/jvishnuvardhan/9939bb986234ec6a1c7d3d949053f05d/15715.ipynb)

`tf.keras.layers.Dense(1, activation='sigmoid', name='output',)`

[2021-11-29 22:48] raftAtGit commented on #15715
@jvishnuvardhan `sigmoid` activation for a classification model with `BinaryCrossentropy(from_logits=False)` loss is **fine**, no problem with that.

problem is, `BinaryCrossentropy(from_logits=True)` loss is not suitable with `sigmoid` activation as mentioned and suggested in the docs and in the below logs:
[code]

[2021-11-30 04:24] jvishnuvardhan commented on #14953
@ririya As mentioned by @qlzh727 , Are you going to send any PR for a fix? Thanks!

[2021-11-30 04:34] ririya commented on #14953
I will revisit this when I have some time. Just for the record, I ended up using this implementation https://github.com/raghakot/keras-resnet. This implementation is a mix of V1 and V2, but I believe the identity mappings work better.

I think adding some parts of it to the Keras implementation would create a better architecture.

[2021-11-30 13:23] redincer opened #15727 "Keras Accuracy stuck at 50-60%"
Hi, i'm working on ISCX dataset which contais Network data Vpn or NonVpn. Then, I wanna use DeepLearning classification which is Vpn and which is Non-Vpn data.
This is my dataset.
![image](https://user-images.githubusercontent.com/17345114/144054657-8e0af1fd-e2a0-48bc-b617-ad15bef61f9c.png)
![image](https://user-images.githubusercontent.com/17345114/144055431-1896a594-1d4b-490a-9a99-fc7557310d7b.p

[2021-11-30 14:25] rschumi0 commented on #15224
@jvishnuvardhan I investigated the intermediate steps of the layer and performed the calculations as described in the [reference paper](https://arxiv.org/abs/1506.04214v1) from the documentation. I tried many examples, and in many cases the implementation seems to be fine, but in a number of cases there were unexpected results. I suspect there might be an issue with the dataflow between the rounds

[2021-11-30 15:35] jvishnuvardhan commented on #15224
@rschumi0 I quickly changed part of weights from

`w[1] = np.array([[[[1, 1, 1, 1]],[[1, 1, 1, 1]]]])`

to

`w[1] = np.array([[[[1, 1, 1, 1]],[[0, 0, 0, 0]]]])`

With that change, the output is what you are expecting
[code]

Can you please share other cases where you think you got unexpected results. Thanks!

[2021-11-30 20:26] jvishnuvardhan commented on #15689
@sidhartha-roy Can you pleas try with recent TF/Keras version? I tried with `TF2.7` and I cannot reproduce the error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/2963095f89f753f0dc76d977c103e64c/untitled1119.ipynb). Thanks!

[2021-11-30 21:01] jvishnuvardhan commented on #15669
@dvtran221 I can reproduce the issue. I think the issue is more related to those layers (`tf.nn.space_to_depth', `tf.nn.depth_to_space`, `tf.multiply`) used in the model. I checked with other layers like`Dense` which has no issue like the above.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/321928f8bc0f9683bf5602a6b98415b5/untitled1117.ipynb) is a gist for our reference. Thanks!

[2021-11-30 23:14] mattdangerw commented on #15348
Bug 2 should now be fixed on tf-nightly. Discretization and normalization should now load back with proper state with h5. Note that the lookup preprocessing layers (StringLookup, IntegerLookup and TextVectorization) will still not function properly with h5. Fix should go out in 2.8, workaround until it releases will be to use the tf save format or use nightly.

For bug 1, the fix most people will

[2021-12-01 02:58] breadbread1984 commented on #15713
so the group conv is only available on GPU. thx, problem solved

[2021-12-01 02:58] #15713 closed

[2021-12-01 08:24] beginner401 commented on #15716
@chunduriv It seems that I made a mistake, and the problem is triggered on ceil, but not PReLU. Ceil will 'steal' the gradients of layers before it. So, considering ceil function is non-differentiable, the gradients of layers before it seems meaningless. However, some functions like that will approximate a value, ReLU, MaxPool, e.g. So, I'm curious why ceil does not have a category designed like t

[2021-12-01 08:49] kretes opened #15730 "multi-GPUs are under-utilized when using prediction on tensorflow_io dataset"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): docker on ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2 2.7.0 (same happens in tf:nightly)
- Python version: 3.8.10
- Bazel versio

[2021-12-01 12:36] AlejandroBaron opened #15731 "Custom keras layer doesn't output input shape correctly"
Hi i'm trying to get a custom spectrogram layer going and I can't

[code]

When I try to build the model

[code]

This throws the following error
[code]

I think it might have to do with my custom class definition, as if it wasn't detecting the input shape,
The source for the custom layer is here:
https://keras.io/examples/audio/melgan_spectrogram_inversion/, I tried to copy the steps but it does

[2021-12-01 12:37] #15658 closed

[2021-12-01 14:24] chunduriv commented on #15727
@redincer, As we can see here your model is very simple. Please can you add more layers, try with different batch_size, try with different activation functions and apply data augmentation to achieve a better result.

Could you please take a look at this [issue](https://stackoverflow.com/questions/66988763/keras-model-accuracy-is-not-improving-image-classification), [issue2](https://datascience.sta

[2021-12-01 14:37] #15647 closed

[2021-12-01 14:37] #15644 closed

[2021-12-01 15:22] chunduriv commented on #15714
@jvishnuvardhan, I was able able to reproduce the issue on Colab using `TF-nightly(2.8.0-dev20211201)`. Please find the [gist here](https://colab.research.google.com/gist/chunduriv/61f7033fd1b3f1a6cf1a700b1f07ce30/15714.ipynb#scrollTo=hvMnb3gBkAe-) for reference.Thanks!

[2021-12-01 16:37] sanatmpa1 commented on #15731
@AlejandroBaron,

Can you provide the detailed error trace for troubleshooting the issue? Thanks!

[2021-12-01 16:46] sanatmpa1 commented on #15703
@kkraoj,

As you pointed out, I can see that the `padding=same` preserves the input dimensions only when `stride=1`, and I can submit a PR to modify the documentation as

Please confirm if that looks good, Thanks!

[2021-12-01 16:50] sanatmpa1 commented on #15719
@mishc9,

Thanks for submitting the PR and this issue will be closed when the PR is merged/closed.

[2021-12-01 17:19] sanatmpa1 commented on #15677
I am able to reproduce the reported issue with `Conv2dTranspose`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/95b77f588da7ae68dfd2cfa95d68ad6e/15677.ipynb). Thanks!

[2021-12-01 23:27] sachinprasadhs commented on #15659
You can keep dtype as None and it will consider dtype as `floatx()` and will not throw any error.
Please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/6ee87dffe7e4350e764b5c00014a5a2f/15659.ipynb), Thanks!

[2021-12-01 23:37] sachinprasadhs commented on #15668
It may be due to the different approach as mentioned [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LocallyConnected2D).
`The LocallyConnected2D layer works similarly to the Conv2D layer, except that weights are unshared, that is, a different set of filters is applied at each different patch of the input.
`

[2021-12-01 23:47] sachinprasadhs commented on #15681
If you provide a input value as tensor there is no issue reported for `tf.uint8`, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/fe047877931796352ca69baa5789a057/15681.ipynb). Thanks!

[2021-12-02 00:22] sachinprasadhs commented on #15682
Could you please elaborate your issue and also what is the difference in prediction you are getting.

[2021-12-02 00:39] t-kalinowski commented on #15659
Would it be helpful if I submit a PR?

[2021-12-02 00:55] sachinprasadhs commented on #15692
You can refer to [this](https://www.tensorflow.org/tutorials/distribute/input#sharding) document on distributed input for details on data sharding. Let me know if this helps you. Thanks!

[2021-12-02 01:07] sachinprasadhs commented on #15708
You can use the solution mentioned [here](https://stackoverflow.com/questions/59864408/tensorflowyour-input-ran-out-of-data) to avoid warning and continue training.

[2021-12-02 01:21] 945226956 commented on #15682
@sachinprasadhs  hey，look for my detail code , [https://github.com/945226956/vgg16-test/blob/main/%E6%B5%8B%E8%AF%95%E8%9E%8D%E5%90%88vgg%E6%8A%BD%E5%8F%96%E8%A7%86%E9%A2%91%E7%89%B9%E5%BE%81%E6%A8%A1%E5%9E%8B%E7%BB%93%E6%9E%84.ipynb](https://github.com/945226956/vgg16-test/blob/main/%E6%B5%8B%E8%AF%95%E8%9E%8D%E5%90%88vgg%E6%8A%BD%E5%8F%96%E8%A7%86%E9%A2%91%E7%89%B9%E5%BE%81%E6%A8%A1%E5%9E%8B%E7%

[2021-12-02 02:27] MrinalTyagi commented on #15712
@innat Would love to be a part if you insist or need help.

[2021-12-02 02:39] mattdangerw commented on #15576
Reading the comments, it is still unclear to me what this feature would do. Do you have some links that would be helpful in understanding? Examples with inputs and inputs?

Overall, I will say I am highly doubtful we would want to add something here. Rather then extending ImageDataGenerator, our focus is on improving our [preprocessing layers](https://keras.io/guides/preprocessing_layers/). The pr

[2021-12-02 02:57] MrinalTyagi commented on #15576
@mattdangerw Consider you have a class imbalanced dataset. In that case, you load the dataset using ImageDataGenerator and then calculate the class weights using some other library like scikit learn or use Counter to do the same manually.. It would be really handy if these weights are calculated curing the flow from directory and then accessible as an attribute for users to use. In case it's still

[2021-12-02 03:07] mattdangerw commented on #15655
Took a look. There may something we need to change in how we set up randomness for the RandomFlip layer, I will check about this.

Overall, I think preferred approach here should be to apply the preprocessing layers inside a `tf.data.Dataset.map` **before** the training step. This would keep all preprocessing running on the CPU asynchronously, which should be more efficient in this case.

See this

[2021-12-02 07:44] AlejandroBaron commented on #15731
Yeah, but that's the basically all the output you get
[code]

[2021-12-02 08:43] haimat commented on #15692
Thanks for the link. Yesterday I seem to got it working via switching to a `TFRecordDataset`.
When working with TFRecords instead of image data generators (but not other changes), then it seems to work!

[2021-12-02 11:37] #15663 closed

[2021-12-02 14:03] shkarupa-alex commented on #15708
I know a workaround, but that is very ugly:
- measure dataset length by hands (i use bucketing, so len(dataset) is None and measuring length in my case takes around 30 min)
- dataset = dataset.repeat(2).take(measured_len)

This is not a bad solution. In my opinion model should continue training until reaches num_epochs even if some epoch has less batches then first one.
Displaying the number of st

[2021-12-02 14:06] isaacgerg opened #15737 "keras metrics discards imaginary part of complex input and casts to float by taking the real part when passing complex numbers to metric function"
TF 2.4.1 - 2.7

When using a metric that accepts complex numbers, tf keras fit ends up discarding the imaginary part of the complex number and then casts the array to real when inputting y_pred and y_true to a metric function.

It works correctly when used as a loss function.  The casting only occurs when the loss function is used as a metric.

The error is because of casting done in metrics.py on

[2021-12-02 14:12] innat commented on #15727
@redincer
If your problem is binary classification, then fix your last layer's node and activation functions

[code]

If you're problem is multi-class classification, then fix your loss function. It should be categorical cross entropy instead of binary.

[2021-12-02 14:51] melecpetitpierre opened #15738 "Pruning layer with ragged tensors"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 21.04
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command below): v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: 3.9.7
- Bazel version (if compiling from so

[2021-12-02 16:37] ProtossDragoon commented on #15655
Thank you for your insightful guidance @mattdangerw ! I'll see the blog post and revise my code.

[2021-12-02 17:51] sanatmpa1 commented on #15737
@isaacgerg,

Can you share a simple standalone code to reproduce the issue ? Thanks!

[2021-12-02 17:59] isaacgerg commented on #15737
@sanatmpa1 Unfortunately no.  Its self evident from the code i shared that complex numbers get casted to float and the imaginary part is discarded.

[2021-12-02 18:00] sanatmpa1 commented on #15738
@melecpetitpierre,

I can see that the code is working fine and it throws no errors in colab with `TF 2.7.0`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/b652480fed995c5b3d0e9ef0b43b825d/15738.ipynb). Thanks!

[2021-12-02 18:18] mattdangerw commented on #15678
@reedwm could you take a look?

[2021-12-02 18:18] rluethy opened #15740 "Different results using same code but different CPU type"
Reposted from TF issues: https://github.com/tensorflow/tensorflow/issues/53277

**System information**

Linux Ubuntu 20.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 2.5.0
Python version: 3.8

**Describe the current behavior**

When tuning TF models we noted that we were getting different results when using different instance types on AWS. We start

[2021-12-02 18:22] qlzh727 commented on #15655
Adding @wangpengmit who works on tf.random.Generator.

[2021-12-02 18:25] mattdangerw commented on #15730
@yuefengz could someone on the distribute team take a look at this?

[2021-12-02 18:41] mattdangerw commented on #15704
Triage notes: We don't have other visualization on image tools like this and would not want to add them into core Keras at this time. A 3rd party library for visualization on top of Keras seems like the correct place for this.

[2021-12-02 18:41] #15704 closed

[2021-12-02 18:42] reedwm commented on #15678
Can you try again with the latest `nightly-gpu` build? There's a decent chance https://github.com/tensorflow/tensorflow/pull/52337 fixed this, which was merged eight days ago.

[2021-12-02 18:43] mattdangerw commented on #15677
Triage notes: we should update the docs. It looks like currently variable rates not supported because the underlying tensorflow op does not support it.

[2021-12-02 18:46] sOvr9000 commented on #6447
I had this issue with a CNN of over a million parameters.  After reading most solutions posted here, I found that what worked for me was decreasing learning rate of the Adam optimizer to something below the default value assumed by Keras (0.001).

[2021-12-02 19:03] mattdangerw commented on #15547
Triage notes: we took a look and think that we should actually have concatenate throw an error with only a single input. We will try out a change and see how safe that is.

For now, the solution proposed in https://github.com/keras-team/keras/issues/15547#issuecomment-966954665 is probably best.

[2021-12-02 19:06] tpetrone-usp commented on #10382
Still getting issues trying to run `batchNormalization (tf.keras.layers.BatchNormalization(name="batch_norm_1"))` on GPU on a mac m1. Apparently it complains of the size of the input, although the required is the exact size it is being fed to the layer `tensorflow.python.framework.errors_impl.InvalidArgumentError: input must be 4-dimensional[40,1,32,32,32] [Op:FusedBatchNormV3]`

Using `tf.config.

[2021-12-02 21:16] sachinprasadhs commented on #15692
Could you please move this issue to closed, if it is resolved for you. Thanks!

[2021-12-02 21:21] #15668 closed

[2021-12-02 21:29] ImSo3K opened #15742 "Video Classification with Transformers official notebook error: module 'tensorflow.keras.layers' has no attribute 'CenterCrop'"
### **System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Nope.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary):  binary (conda)
- TensorFlow version (use command below): 2.4.1 GPU
- Keras Version
- Python version: 3.9.7 conda env
- Bazel version (if compiling

[2021-12-02 21:56] old-school-kid commented on #15731
Hi @AlejandroBaron
In the call function you have used
`stft = tf.signal.stft(
            tf.squeeze(audio),
            self.frame_length,
            self.frame_step,
            self.fft_length,
            pad_end=True,
        )`
Remember `tf,squeeze` returns a tensor of the same type with all dimensions of size 1 removed if `axis=None` which is the default value. And thus all the tensor valu

[2021-12-02 22:06] old-school-kid commented on #15740
Can you please a take a look at [this](https://stackoverflow.com/questions/43221730/tensorflow-same-code-but-get-different-result-from-cpu-device-to-gpu-device)

[2021-12-02 22:09] old-school-kid commented on #15742
Hi @ImSo3K
Could you please update your tensorflow package and give it a try?
Thank you

[2021-12-02 22:15] old-school-kid commented on #15705
Hi @piEsposito
Isn't this a specific use case of [permute layer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Permute)?

[2021-12-02 22:49] piEsposito commented on #15705
Hi,
Actually no. While permite layers rearranges the order of the axes and
changes the output shape while transposing the matrix, ReorderChannels keep
the same output shape put reorders the channels of a specific dimension.

Em qui., 2 de dez. de 2021 às 19:15, Surya Prakash Mishra <
***@***.***> escreveu:

--
--
*Pi Esposito | piesposito.github.io <http://piesposito.github.io>*

[2021-12-02 23:12] yuefengz commented on #15730
Hi @kretes , could you try to grab a profile? https://www.tensorflow.org/guide/profiler

[2021-12-02 23:47] piEsposito commented on #15705
Let me know if you undestood. But the `Permute` layer transposes the dimensions of the Tensor, while the proposed `ReorderChannels` performs a `tf.gather` operation to reorder the channels over a specific axis.

[2021-12-02 23:57] rluethy commented on #15740
Thanks for the link. That issue is similar, but it's the difference between CPU and GPU which have different precision. The difference here is between Intel and AMD CPUs, which both have the same precision.
Also in the example code all seeds are initialized with a known value, random states should be identical.

[2021-12-03 05:35] LukeWood commented on #15712
@fchollet what do you think about including this in Keras-CV (https://github.com/keras-team/keras-cv)?  I think it would be a good fit personally, but let's see if @fchollet has any thoughts.

[2021-12-03 06:40] buikhizarkhan commented on #3477
I would be grateful if you please explain/elaborate, why must not use rescale-1./255 in ImageDataGenerator??

[2021-12-03 07:59] old-school-kid commented on #15705
Ah, yes I got it. Thank you @piEsposito

[2021-12-03 09:02] kretes commented on #15730
Hi @yuefengz , I did the profiling by running .start() and .stop() of the profiler around the .predict() method and I increased no of batches to 12 - [Colab](https://colab.research.google.com/drive/1uZucXZ_sQJjudYHLosWw6nHyguAP3KMJ?usp=sharing) for reference.

[Profiler output](https://drive.google.com/file/d/1ZOop9ITv3uB7IaXhWkXulV-lF69XMM2J/view?usp=sharing)

Let me know if you need anything els

[2021-12-03 09:31] #15692 closed

[2021-12-03 09:52] goncinious commented on #15678
Thanks @reedwm. I confirmed that the **error still occurs** on the latest `nightly-build`(`sha256:0a8364f4082cc51a1c2de05eb97e92e1d5d1ab8759387f0066d8ea700dec1b94`). Full log attached.
[20211203_a10g_tf_nightly.log](https://github.com/keras-team/keras/files/7648425/20211203_a10g_tf_nightly.log)

[2021-12-03 10:49] ImSo3K commented on #15742
Yep, version `2.6.2` works perfectly with it, thank you.

[2021-12-03 10:49] #15742 closed

[2021-12-03 11:53] piEsposito commented on #15705
@old-school-kid you are welcome. Thank you for giving me the opportunity to make that clear.

[2021-12-03 13:02] innat commented on #15712
@LukeWood I think in that case, it may need to re-think this augmentation for all possible cv tasks, which means not only for classification but also for detection, etc.

[2021-12-03 21:25] LukeWood commented on #15712
https://github.com/keras-team/keras-cv/issues/19 @innat @MrinalTyagi let's move to this issue to discuss.

[2021-12-03 21:25] #15712 closed

[2021-12-04 01:37] #14356 closed

[2021-12-04 01:39] reedwm commented on #15678
With a Titan RTX, I can reproduce with CUDA 11.2 and cudnn 8.1.1. However, I cannot reproduce with CUDA 11.3 and cudnn 8.2.4. So presumably this will be fixed when TensorFlow upgrades CUDA and/or cudnn. Even if I limit the memory usage to 10 GB instead of 24 GB, it still runs with CUDA 11.3/cudnn 8.2.4, so there is clearly a memory issue with the earlier version of CUDA/cudnn.

@sanjoy, do you kno

[2021-12-04 02:39] #14385 closed

[2021-12-04 02:39] #14401 closed

[2021-12-04 04:05] Allen-Qiu commented on #14345
Yes, model.save_weights('model_weight.h5') is a right way.
My model contains a bert huggingface bert. This model cannot be saved by model.save.
However, I can save weights.
When I try to restore the model. I first build the model again and then load the weights.
I successfully restore the model.

[2021-12-04 04:37] Allen-Qiu commented on #14345
Yes, as introduced by shreyas-jk,  model.save_weights('model_weight.h5') can deal with this problem.
My model contains a huggingface bert. It cannot be saved.
However, I can save the weights. Subsequently, I build the model again in other files and load the weights.

[2021-12-04 08:31] sOvr9000 commented on #6447
Actually, I've just realized that this is characteristic of vanishing gradients.  Implement some batch normalization layers to help prevent this, or refer to this article: https://datascience.stackexchange.com/questions/72351/how-to-prevent-vanishing-gradient-or-exploding-gradient

[2021-12-04 14:38] FTC55 opened #15750 "Add "input" label mode to tf.keras.preprocessing.image_dataset_from_directory"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-12-04 20:41] kkraoj commented on #15703
I confirm. That change looks good to me.

[2021-12-06 03:42] #15664 closed

[2021-12-06 04:04] csteel45 commented on #15698
I would like some feedback on my suggestion. I can put together a standalone test case if necessary, but it should be easy to guess that using int32 for the parameter size checks is going to cause problems as models get larger and GPU memory continues to increase.

[2021-12-06 05:23] Genstark commented on #5231
can you show your code

[2021-12-06 11:25] LionQYW opened #15751 "How to pass a switch python argument into input_signature when using tf.function?"
Hi, I’m using Tensorflow 2.7.0 currently. There is no any other configuration things related to my issue.

I’m trying to set a switch for a tf.function, like set the input_signature for the call method of a Karas Model, so I can use the tf.saved_model.save API to save it. But it seems like I can not pass a python argument into the input_signature.

For example, I built a Transformer translation Mo

[2021-12-06 11:39] #14724 closed

[2021-12-06 12:39] #14622 closed

[2021-12-06 13:39] #14341 closed

[2021-12-06 14:20] redincer commented on #15727
@innat  my problem is multi-class classification. I'm trying to categorize the daha which is Vpn or Non-Npn data. My output can be vpn or non-vpn. I tried categorical cross entropy activaotin instead of binary. But the accuracy didn't increase.

[2021-12-06 14:21] redincer commented on #15727
@chunduriv  I added more layers with different combination but i didn't take accuracy more than 61%.

[2021-12-06 14:56] AshwinJay101 opened #15752 "Allowing Input Tensors to be dynamic for Predictions when using the Subclass method for defining a model"
**Describe the feature and the current behavior/state**.

I am trying to write a Keras Model which implements some complex logic. That logic has been implemented in my call method

As my network layers are convolutional, my model can theoretically predict on input sizes which are different than the size I trained on. Is there any way to specify that for running Predictions on the data.

Here is th

[2021-12-06 16:56] Ghostvv opened #15753 "`tf.keras.layers.experimental.EinsumDense` gives different results depending on batch size"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-12-06 16:57] Ghostvv commented on #15753
I also created tensorflow issue: https://github.com/tensorflow/tensorflow/issues/53321. Not sure what is the correct place now

[2021-12-06 18:18] sanatmpa1 commented on #15753
@Ghostvv,

Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/53321#issuecomment-987031345). Thanks!

[2021-12-06 18:35] #15719 closed

[2021-12-06 19:40] lubin-liu opened #15755 "Random seed in tf.keras.initializers.RandomNormal does not work in Tensorflow 2.7.0"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-12-06 22:59] jvishnuvardhan opened #15757 "Support multiple validation sets in Model.fit"
Moving this feature request from TF repository https://github.com/tensorflow/tensorflow/issues/38803

Are you willing to contribute it (Yes/No): No
Describe the feature and the current behavior/state.
Currently there's no way to use multiple validation sets with independent tracking of metrics.

Will this change the current api? How?

Simplest way I can think of is to accept a list of datasets in

[2021-12-06 23:06] jvishnuvardhan opened #15758 "Using dynamic=True in a keras Metric constructor should run the metric methods in eager mode"
Moving this feature request from TF repository https://github.com/tensorflow/tensorflow/issues/39114
Currently, when using dynamic=True in a Metric constructor, it has no effect. All the methods are run in graph mode. Since this feature is already present in keras Layers, and that a Metric is a subclass of Layer, one would expect a metric to run in eager mode if dynamic=True is provided.

Will thi

[2021-12-07 00:24] foxik commented on #15755
Yes, I have also observed this behaviour.

The problem is that the new codepath using the `tf.random.Generator` is not enabled:
https://github.com/keras-team/keras/blob/5d2993b78603bda911f0a4912d08b1e5f36eb633/keras/backend.py#L1752-L1757

so the legacy methods like `tf.random.normal` are used instead https://github.com/keras-team/keras/blob/5d2993b78603bda911f0a4912d08b1e5f36eb633/keras/backend.p

[2021-12-07 00:33] foxik commented on #15755
Adding @qlzh727 who authored the commits.

Note that the current behaviour is contradicting the documentation of the initializers
https://github.com/keras-team/keras/blob/5d2993b78603bda911f0a4912d08b1e5f36eb633/keras/initializers/initializers_v2.py#L257-L261

stating that

which is quite unfortunate.

[2021-12-07 00:43] bhack commented on #15715
:robot:

[2021-12-07 02:15] MarcelRobitaille opened #15759 "NameError: name some_global is not defined when using a lambda layer"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: 3.9.9
- Bazel version (if compiling from source):
- GPU model

[2021-12-07 02:16] MarcelRobitaille commented on #4079
I opened a new issue with a reproducible minimal code snippet that I believe is the same issue: #15759

[2021-12-07 09:29] Ghostvv commented on #15753
I commented in tensorflow issue. Shall we close this one in favor of tensorflow issue? It seems to me that the problem is not related to keras directly.

[2021-12-07 09:31] GoodTekken commented on #15753
您好，您的邮件已经收到 ！                   杨显洁

[2021-12-07 09:32] foxik commented on #15751
Not a developer here; if I understand it correctly, the Python (non-tf.Tensor) arguments can be used only when the `input_signature` is not explicitly specified. Quoting from https://www.tensorflow.org/api_docs/python/tf/function :

In other words, if `input_signature` is given, there is always just a single concrete function.

So the question is whether you must specify the `input_signature` -- i

[2021-12-07 10:39] #14618 closed

[2021-12-07 10:39] #14439 closed

[2021-12-07 12:12] DameNianch opened #15760 "Different loss values in "model.fit" and "print(the-loss)""
I tried a linear approximation. So I'm faced with different loss values in "model.fit" and just "tf.keras.losses.MeanSquaredError ()".
But I don't know what I'm doing wrong.
Could you please tell me if my source code is bad or if it's a bug on the keras side?

**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and

[2021-12-07 14:54] chunduriv commented on #15727
@redincer, You should not use `categorical cross entropy` as a loss since your usecase is binary classification.

Did you tried to change last layer as suggested by @innat  `Dense(1, activations='sigmoid')` and let us know? Thanks!

[2021-12-07 16:09] d-01 commented on #15681
@sachinprasadhs sorry for misconception, but under *tf.Tensor* I actually mean [*KerasTensor*](https://www.tensorflow.org/api_docs/python/tf/keras/Input) which is a symbolic tensor (a placeholder for graph execution), not an *EagerTensor* (an actual value for eager execution). EagerTensor works fine, because it's much like numpy array.

See the difference:

[code]

Symbolic tensors are used in [Fu

[2021-12-07 16:39] #15676 closed

[2021-12-07 16:48] LionQYW commented on #15751
Emmmm, what about the training argument?

[2021-12-07 17:35] sushreebarsa commented on #14315
@ShivamP1993 Sorry for the late response!
The normal way to go is to pad your inputs to the same maximum length before batching.Please refer to this [tensor slicing  ](https://www.tensorflow.org/guide/tensor_slicing) and  try with latest TF v2.7.0 .Please let us know if it helps?Thanks!

[2021-12-07 18:05] sushreebarsa commented on #14399
@FriedChips Sorry for the late response!
Could you please let us know if it is still an issue ?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Please refer to the similar [issue](https://stackoverflow.com/questions/59305514/tensorflow-how-to-use-tf-keras-metrics-in-multiclass-classification) , Classification [metrics](https://

[2021-12-07 18:31] SamuelMarks opened #15762 "Standard way of sharing architectures, e.g., to PyPi.org"
There are a huge number of new statistical, machine-learning and artificial intelligence solutions being released every month.

Most are open-source and written in a popular Python framework like TensorFlow, JAX, or PyTorch.

In order to 'guarantee' you are using the best [for given metric(s)] solution for your dataset, some way of automatically adding these new statistical, machine-learning and a

[2021-12-07 18:36] qlzh727 commented on #15755
See https://github.com/keras-team/keras/issues/15586 for more details. The short answer is that you either need to force the generator code path, which we will turn on by default soon, or you need to call tf.random.set_seed() in addition to make the generator to produce same sequence.

[2021-12-07 18:37] qlzh727 commented on #15755
Close this bug since this is a duplicate with https://github.com/keras-team/keras/issues/15586

[2021-12-07 18:37] #15755 closed

[2021-12-08 04:47] sanatmpa1 commented on #15753
@Ghostvv,

Sure, I am closing this issue here and we can followup in the tensorflow issue. Thanks!

[2021-12-08 04:47] #15753 closed

[2021-12-08 07:35] LukeWood commented on #15705
Let's include this in keras-cv:
https://github.com/keras-team/keras-cv/issues/20 @piEsposito

[2021-12-08 07:39] LukeWood opened #15767 "We should more effectively document *what* the issues with (de)serializing Lambda layers are"
https://github.com/keras-team/keras/blob/c6c70f4d8fb6128438effcab363502a0262e6347/keras/layers/core/lambda_layer.py#L42

(Happy to submit this fix, opening an issue for tracking/notekeeping purposes)

[2021-12-08 09:00] chunduriv commented on #15716
@jvishnuvardhan, the issue was able to reproduce the issue on Colab using TF 2.7 , and TF-nightly(2.8.0-dev20211208). Please find the [gist here](https://colab.research.google.com/gist/chunduriv/2c86e6c6f84ebf0737a298ff2c7c93df/15716.ipynb#scrollTo=W7BruSKTPwFR) for reference.Thanks!

[2021-12-08 09:48] chunduriv commented on #15759
@MarcelRobitaille, Can you let us know whey are you deleting `batch_size`?

When I comment out line  `del batch_size`, I am able to run above code without any issues in TF2.7.0 and tf-nightly(2.8.0-dev20211208). Please find the [gist here](https://colab.research.google.com/gist/chunduriv/b399e8c2dbefa84939d587831c234c40/15759.ipynb) for reference.Thanks!

[2021-12-08 10:08] chunduriv commented on #15752
@AshwinJay101, I tried to run your code on colab using TF2.7 and faced error

[code]

Please find the [gist here](https://colab.research.google.com/gist/chunduriv/b48979958feb8fa4bcd2d71ff4fc3049/15752.ipynb) for reference. Thanks!

[2021-12-08 14:15] melecpetitpierre commented on #15738
@sanatmpa1 thank you for your advice. Apparently pruning with ragged tensors is working fine with `TF 2.7.0`.
It solved also another problem linked to ragged tensors and sample weights.

[2021-12-08 14:15] #15738 closed

[2021-12-08 16:34] MarcelRobitaille commented on #15759
Hi @chunduriv.

The reason I opened this issue was that I was trying to refactor some code. Since `batch_size`, `points`, `classes`, `filters` are constants, I tried to rename them to their uppercase counterparts (basically `BATCH_SIZE=batch_size; del batch_size`, which is why I deleted it). But this is impossible so long as those variables are serialized in the model. I suspect something similar

[2021-12-08 16:42] mishc9 commented on #15737
@isaacgerg if you explicitly set metric's `dtype` to a complex type, it will use provided `dtype` for metic calculation as expected: for example, use `tf.keras.metrics.MeanSquaredError(dtype=tf.complex64)` instead of `'mse'` (automatic dtype casts could be helpful in this particular case, but made the framework more, er, complex. So probably it's not a bug).
Does this solution work for you?

Examp

[2021-12-08 16:46] isaacgerg commented on #15737
@mishc9 I have a workaround but what you suggest will not generalize to my simple usecase. My metric essentially takes the normalmize(log(abs(complex_image))) of y_true and y_pred and then computes ssim on them.  Futhermore, as I show in the code, the metric framework ignores the complex datatype for general metric functions.  It works for yours because it is a special case.

[2021-12-08 17:59] LukeWood commented on #15767
nevermind, this is documented in the docstring a few lines below.

[2021-12-08 17:59] #15767 closed

[2021-12-08 18:21] Suzan009 opened #15769 "RetinaNet code example"
@srihari-humbarwadi
I'm following the keras code example on object detection, [retina-net](https://keras.io/examples/vision/retinanet/), and a few things are not clear to me.

1. anchor box: It uses an anchor box by assuming the target shape **(xmin, ymin, width, height)**. Now, what if the target is **(xmin, ymin, xmax, ymax)**? [Code](https://keras.io/examples/vision/retinanet/#Implementing%20An

[2021-12-08 18:21] Suzan009 commented on #15769
@srihari-humbarwadi great work btw.

[2021-12-08 23:11] sachinprasadhs commented on #15681
As the error suggests `true_fn and false_fn arguments to tf.cond must have the same number, type, and overall structure of return values.`
You need to match the `true_fn` with the `false_fn` dtype which is `float32`.

[2021-12-08 23:19] sachinprasadhs commented on #15740
Could you please run this comparison in Tensorflow 2.7 version and let us know if you still find any difference. Thanks!

[2021-12-09 00:40] haifeng-jin commented on #15708
Waiting for triage.
Summary:
When the dataset has a different number of samples from epoch to epoch (the batch size are the same, the number of steps are different), the training will stop at a epoch, whose number of steps is different from the first epoch.

[2021-12-09 00:46] haifeng-jin commented on #15715
Waiting for triage.
Summary: Many metrics don't work with logits, but only probabilities. However, the user may want to use loss with from_logits=True, then they cannot use the metrics.

[2021-12-09 01:01] sachinprasadhs commented on #15769
It is basically used when creating the Dataset from another Dataset, in that process if there is any element which caused error it will be dropped silently.
You can see more details with example [here](https://www.tensorflow.org/api_docs/python/tf/data/experimental/ignore_errors). Thanks!

[2021-12-09 03:02] t-kalinowski commented on #15659
Bump, for the stale bot.
To clarify, the linked gist is not helpful and seems to be intended for a different issue. Perhaps there has been some misunderstanding?
(Also, I replied _after_ the label "stat:awaiting response" was added, the stale-issue bot seems to be malfunctioning.)

[2021-12-09 03:33] Suzan009 commented on #15769
Understood. It's safe during training but one drawback I think is that we may never know if there are any corrupt elements in my data set as there will not raise any warning.

Could you address the other issue that I mentioned above?

[2021-12-09 06:48] jvishnuvardhan commented on #15716
Triage notes: Here is the output

[code]

[2021-12-09 08:54] AshwinJay101 commented on #15752
@chunduriv I mentioned that you get a similar error in TF2.7. If you notice, it mentions that it got inputs of shape (None, 512, 512, 6) while it expected inputs of the shape to be (None, 256, 256, 6)

This is the error message

    Could not find matching concrete function to call loaded from the SavedModel. Got:
          Positional arguments (1 total):
            * (<tf.Tensor 'inputs:0' shape

[2021-12-09 09:54] goncinious commented on #15678
Thanks @reedwm. I've tested with [NVIDIA TensorRT](https://docs.nvidia.com/deeplearning/tensorrt/container-release-notes/running.html#running) official Docker images, which have newer versions of CUDA/cuDNN and I still hit the same error (see logs attached).

I've tested 2 image versions that match your CUDA/cuDNN versions - both [21.04](https://docs.nvidia.com/deeplearning/tensorrt/container-rele

[2021-12-09 10:39] #15670 closed

[2021-12-09 15:42] minsung-k opened #15770 "How should I made custom loss function which has weights"
Hi,
I'm trying to make a cost-sensitive learning model.

During that, I have an issue making my custom model which has weight.

My question is that

1. Why my custom_loss doesn't work.
    I've seen this error code (ValueError: No gradients provided for any variable)

2. How to set the weight which works in custom_loss? Should I use lose_weights in .compile?
3. How to make my own metrics that show

[2021-12-09 16:07] AshwinJay101 commented on #15770
Your loss function must utilize _y_pred_. _y_pred_ is the output of the network and would provide us with the forward pass. That will be utilized during backpropagation where the gradients are updated

As your loss function is only using y_true and not y_pred, there are no gradients for backpropagation. That as a result will throw a error mentioning no gradients provided

[2021-12-09 16:08] d-01 commented on #15681
If `float32` is required, then why it's working with `uint8` EagerTensor and numpy array?
If this function (`layers.RandomCrop`) meant to be consistent, then it should either reject or accept *any* `uint8` input tensor (either eager or symbolic).

[2021-12-09 16:36] d-01 commented on #15681
An example of consistent behaviour – `tf.keras.layers.Resizing`:

[code]
Output:
[code]
I expected `tf.keras.layers.RandomCrop` should work just as fine.

[2021-12-09 17:23] sanatmpa1 commented on #15703
@kkraoj,

I have submitted a [PR](https://github.com/keras-team/keras/pull/15771) addressing the doc string change. Thanks!

[2021-12-09 17:26] sanatmpa1 commented on #15731
@AlejandroBaron,

Can you take a look at this above comment? Thanks!

[2021-12-09 17:27] haifeng-jin commented on #15716
Waiting for triage.
No gradients before `tf.math.ceil()`.

[2021-12-09 18:31] haifeng-jin commented on #15715
Triage notes:
To make metrics compatible with the loss with `from_logits=True`, we should add this `from_logits` to the metrics, too.

[2021-12-09 18:33] minsung-k commented on #15770
@AshwinJay101
Thank you for your comment.

@sanatmpa1 only Question 1 solved.

There are still questions left about weight.

How to put cost in loss function.
Should I use lose_weight in .compile method?

'''
cost = (1-y_test)  * y_pred * (cost_1) + y_test * y_pred * (cost_2)
'''

[2021-12-09 18:37] rchao commented on #15708
Thanks for reporting the issue - one solution is to use a `steps_per_epoch` that's large enough for the number of data in all epochs, and have the termination of an epoch rely on exhaustion of data (`OutOfRangeError`). Can you check if this works?

[2021-12-09 18:46] haifeng-jin commented on #15758
Triage notes:

If you want the metrics to run eagerly, you can just use `tf.config.run_functions_eagerly` to run everything eagerly.

[2021-12-09 18:46] #15758 closed

[2021-12-09 18:50] haifeng-jin commented on #15762
Triage notes:

In the short-term, we don't have enough bandwidth for supporting this feature.
but we will keep it open for consideration.

[2021-12-09 18:57] haifeng-jin commented on #15715
@fchollet Any thoughts on this feature?

[2021-12-09 18:59] haifeng-jin commented on #15716
The currently implementation of the `tf.math.ceil()` is correct.
We don't expect the gradients to go over it.

If you have any special use case for it, you may use the following API to define a custom gradient.
https://www.tensorflow.org/api_docs/python/tf/custom_gradient

[2021-12-09 18:59] #15716 closed

[2021-12-09 19:00] haifeng-jin commented on #15750
I assume this `tf.keras.preprocessing.image_dataset_from_directory` is a shortcut only for the most common use cases.
For any other use cases, one should use `Sequence` or Python generator to load from the disk.

[2021-12-09 19:00] #15750 closed

[2021-12-09 19:04] old-school-kid commented on #15770
Hi @minsung-k
There ar actually various a lot of ways you can put weights in the loss function.
1. [**Declare your own cost function**] : Basically create your own custom loss function as you have done above. (Reminder you have casted `y_test` to `y_true` but still using `y_test`)
2. [**Use `sample_weight` of in-built loss function**](https://www.tensorflow.org/api_docs/python/tf/keras/losses/Loss

[2021-12-09 19:14] old-school-kid commented on #15769
Hi @Suzan009
Regarding your first issue, you can design and train you own model to predict (xmin, ymin, xmax, ymax) rather than (xmin, ymin, width, height). But the model retina-net was designed to predict (xmin, ymin, width, height). So you can convert your (xmin, ymin, xmax, ymax) labels to (xmin, ymin, width, height) by using the function `convert_to_xywh` and revert back to (xmin, ymin, xmax,

[2021-12-09 19:26] SamuelMarks commented on #15762
@haifeng-jin I can add this feature and maintain it on my own org. The issue is no one knows who I am or have heard of my org. So sending PRs around the place and requested PyPi add new classifiers is likely to fall on deaf ears.

As for exposing the intricacies of Keras, TensorFlow, JAX, PyTorch, &etc… that's what multi-ML meta-framework—written with my compiler—is for. So I won't need major chan

[2021-12-09 19:28] srihari-humbarwadi commented on #15769
I hope that the comments above do resolve your queries @Suzan009, and for

The model is trained on variable image sizes. Hence, to accommodate images of different sizes in a batch, we pad the images and labels.
 - images are padded with `0s`
 - boxes are padded with a small float value `1e-8`
 - and class ids are padded with `-1` (ignore label)

[2021-12-09 19:48] Suzan009 commented on #15769
@old-school-kid thanks, It helps.
@srihari-humbarwadi thanks for the clarification. I think you should add this information to your code example. However, I noticed that you are still working on this [repo](https://github.com/srihari-humbarwadi/retinanet-tensorflow2.x), and that's why I think it would be great to add more educative section in your code example. Great work, 👍

Do you mind giving so

[2021-12-09 20:02] Suzan009 commented on #15769
And is it possible to visualize the generated anchor boxes conveniently?

[2021-12-09 22:29] foxik commented on #15758
BTW, one can also explicitly use a `tf.numpy_function` / `tf.py_function` in the metric to compute it using a Python code.

[2021-12-09 22:52] rluethy commented on #15740
The differences with Tensorflow are present, but much smaller. Top differences are:

106   0.000012
171   0.000006
131   0.000005
27    0.000004
111   0.000004
178   0.000003
15    0.000003
149   0.000003
141   0.000003
119   0.000002
Name: prob_1, dtype: float64

The difference are not visible on the graph:

![6c43e304-9749-4924-bd95-add2378ee6f2](https://user-images.githubusercontent.com/3641872

[2021-12-10 00:54] lucasdavid commented on #15715
Many of these metrics already implement the `thresholds` parameter, so they could be used as-is with `from_logits=True` if the `output in [0, 1]` constraint were removed.
(`thresholds=.0, from_logits=True` is equivalent to `thresholds=0.5, from_logits=False`, as `sigmoid(.0) = 0.5`.)

Another interesting point is that logits are preferred and are used whenever available, even if `from_logits=False

[2021-12-10 01:56] reedwm commented on #15709
As a workaround, on the second-to-last line, replace `optimizer=optimizer` with `optimizer=model.optimizer`:

[code]

The reason this issue occurs is that Keras models automatically wrap the optimizer with a [LossScaleOptimizer](https://www.tensorflow.org/api_docs/python/tf/keras/mixed_precision/LossScaleOptimizer) if it isn't already wrapped with one. Due to various technical reasons, trying to s

[2021-12-10 02:15] reedwm commented on #15678
Unfortunately, I still cannot reproduce with the newer CUDA/cudnn versions. I tried running the docker commands in your previous post on an A100 but could not reproduce, even when limiting the memory to 10GiB to try to reproduce the `RESOURCE_EXHAUSTED` error. I'm guessing this only happens on GPUs with compute capability 8.6, but I don't have access to such GPUs.

@nluehr do you have access to GP

[2021-12-10 05:04] old-school-kid commented on #15769
As fas as I know [this](https://arxiv.org/abs/1807.00980) is SOTA mechanism when it comes to anchor boxes. And as always K-Means also produces quite satisfatory results. You can also try out IoU loss.

[2021-12-10 05:17] old-school-kid commented on #15759
Hi @MarcelRobitaille
You have to create a layer which inherits `keras.layers` and then declare `get_config` and `from_config` methods to save custom obects and architecture. I know it might be painful sometimes. A work around is writing up the architecture and just loading weights instead of whole architecture.
Hope this helps.

[2021-12-10 07:39] sebastian-sz commented on #15709
@reedwm
Thank you for your response. That workaround is indeed possible.

[2021-12-10 07:39] #15709 closed

[2021-12-10 07:39] #14161 closed

[2021-12-10 09:33] #15769 closed

[2021-12-10 09:46] chunduriv commented on #15760
I was able to reproduce the issue on colab using TF 2.7 and TF-nightly(2.8.0-dev20211210).Please find the [gist here](https://colab.research.google.com/gist/chunduriv/eca717d57a6326fcd75f9913ffff778a/15760.ipynb) for reference.Thanks!

[2021-12-10 17:58] MarcelRobitaille commented on #15759
Ok thank you @old-school-kid. I think I will keep the setup code and recompile the model, and then load the weights from the save.

[2021-12-10 17:58] #15759 closed

[2021-12-10 19:24] nluehr commented on #15678
Reproduced on a GTX 3090 (compute capability 8.6, 24GB of memory)
With CUDNN 8.2.0 (as provided in the referenced TRT container) I see the OOM for mixed_float16 while float32 runs without issue.
Updating to CUDNN 8.3.1, I can run mixed_float16 and float32 without issue.

[2021-12-10 19:33] minsung-k commented on #15770
@old-school-kid

Thank you!

[2021-12-10 19:33] #15770 closed

[2021-12-10 19:37] minsung-k opened #15775 "How should I put weight on custom loss function for Cost sensitive learning."
Hi, I have a question.
How should I put the weight that only I wanted?

In classification, there are 4 groups, TP, TN, FP, and FN.

if I made my custom_loss like this.
custom_loss = (1-y_true) * y_pred * (cost_1) + y_true * y_pred * (cost_2)

If I made loss like it, it is impossible only to put weight in FP, because they don't divide yet.

In this case, how should I put weight for cost-sensitive l

[2021-12-10 19:53] reedwm commented on #15678
Ok, so this will be fixed for all tested GPUs in cudnn 8.3.1. @sanjoy, do we plan to update cudnn to at least 8.3.1 anytime soon?

[2021-12-10 23:16] ageron opened #15778 "BatchNormalization does not support integer inputs."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **MacOS 10.15.7**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **v2.7.0-rc1-69-gc256c071bb2 2.7.0**
- Python version: **3.8.12**
- Bazel version (if compiling fr

[2021-12-11 08:31] innat commented on #15778
Hello @ageron. I think the gist file above isn't publicly shared and needs to send a request to get access.

[2021-12-11 12:06] alex-lt-kong commented on #10736
sdf

[2021-12-11 12:13] alex-lt-kong commented on #10736
Hi @Dref360 , I encountered the same issue and after reading what you said I am still a bit confused. By saying `It's applied on the last axis independently.`, my understanding is this:

Suppose my samples are all 5x2 matrices and I have a `Dense` layer with 8 neurons：
- the layer will be applied to each sample 5 times;
- each time, the layer is applied to a 1x2 vector, i.e., it fully connects the

[2021-12-11 18:27] old-school-kid commented on #15682
Hi @945226956
The code is correct and everything, The thing is when you create a model of your own which uses a keras application it loses precision since the computation are too expensive. On the other hand the output of the keras.application model when uses as-is doesnt have to go through that problem. You can see there is a microscopic difference in the results though. You can still decrease th

[2021-12-11 18:43] old-school-kid commented on #15699
Hi @moumed

   object or a variable that the function depends on is not assigned to an attribute of
   the serialized trackable object
means you are using objects that arent serializable.

    layers.RandomFlip("vertical"),
    layers.RandomRotation(0.5),
    layers.RandomZoom(0.5),
    layers.RandomContrast(0.5),

As a matter of fact you have passed arguments to the layeras and those cannot be sa

[2021-12-11 18:51] old-school-kid commented on #15665
Hi @jay-thakur
Hinge loss is a binary function for binary labels consisting of -1s and 1s and not 0s and 1s. If you're labels consists of 0s and 1s then it is normalized to -1 and 1. And hence you are observing the error.
Hope this helps!

[2021-12-11 19:00] old-school-kid commented on #15608
Should this be moved to tensorflow-addons? @bhack

[2021-12-11 19:20] jay-thakur commented on #15665
@old-school-kid Got it. Thank you so much.

[2021-12-11 19:20] #15665 closed

[2021-12-12 03:11] IchiruTake commented on #4875
I still get this issues at Tensorflow 2.5, Tensorflow-GPU 2.5, Keras-2.4.3.
Even reinstalling Tensorflow, keras, and h5py does not resolve the problem

[2021-12-12 03:26] IchiruTake commented on #4875
No, this error is still found. I am currently attempt to inject `tf.keras.backend.clear_session()` to see if it is resolved

[2021-12-12 13:41] sayakpaul opened #15780 "Updating the ResNet-* weights"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-12-12 15:20] NahianAlindo opened #15781 "tuner.search throws unimplemented error with tpu"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.7.0
- Python version: 3.7.12
- Bazel version (if compiling from source):
- GPU model and memory: Tesla K80
- Exact command to

[2021-12-12 18:04] MuhammadAlBarham commented on #15348
I am facing the same error, any solution for it?

Here is my code: https://colab.research.google.com/drive/1RHgQ6KsOF7FDmbRAHPyQtXGCtsrAzD0h?usp=sharing

[2021-12-12 18:07] IAINATTWATER commented on #15348
My particular issue was not related to loading models, rather it was creating Normalization layers in Keras. My solution was to drop back to 2.5 and all was good. I have not tried it in 2.7 as yet.

Best,

Iain

[2021-12-12 18:23] rafak360 commented on #15348
You should specify the `input_dim` according to your input dimensions and set the `axis` to None (see @mattdangerw's answer for more details) in its `preprocessing.Normalization()` parameters.

[2021-12-13 03:28] EngrStudent opened #15782 "Scoring for metrics and losses,"
Disclaimer: I'm an engineer by training, not a statistician, so I can get this wrong.  I don't know that the general thrust has technical gaps, but I could be off in some of the details.  If I am, please go talk to your friendly neighborhood stats professor and get their thoughts on the idea.

**Background:**
I hang out (and interact, and have for years, and learn tons) at [CrossValidated](https:/

[2021-12-13 03:53] DameNianch commented on #15760
@chunduriv
Thank you for the reproduction survey.
Is there anything I can do?

[2021-12-13 05:08] sanatmpa1 commented on #15775
@minsung-k,

Can you take a look at this [SO thread](https://stackoverflow.com/questions/52695913/custom-loss-function-in-keras-to-penalize-false-negatives)? though the thread is about penalizing FN more, but it can be a reference for you to start with. Thanks!

[2021-12-13 05:24] sanatmpa1 commented on #15778
I am able to reproduce the issue with Batch normalization as reported. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/b85b6c678af002eaf836f0e0d0c19139/15778.ipynb). Thanks!

[2021-12-13 05:34] negvet opened #15783 "Not able to restore the model from config with tf.einsum operation"
tensorflow/tensorflow#53394

**System information**.
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.3 (also reproduced with 2.5.0 and 2.7.0)
- Python version: 3.8.10
- CUDA/cuDNN version: 11.0

**Describe the current behavior**
When restoring the model from config getting
`ValueError: Got 0 inp

[2021-12-13 05:41] sanatmpa1 commented on #15781
@NahianAlindo,

I've found similar issues being reported in [tuner repo](https://github.com/keras-team/keras-tuner), [issue 1](https://github.com/keras-team/keras-tuner/issues/308), [issue 2](https://github.com/keras-team/keras-tuner/issues/400) . You can follow up with those or create a new issue there to address your concern. Thanks!

[2021-12-13 07:24] DameNianch opened #15784 "GPU and simpleRNN combination problem"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): I don't know. I use google colab.
- TensorFlow installed from (source or binary):I don't know. I use google colab.
- TensorFlow version (use command below): 2.7.0
- Python version: I don't know. I use google colab.
- Baz

[2021-12-13 14:08] goncinious commented on #15678
Thank you both for looking into it. I can confirm that updating cuDNN manually in the TensorRT 21.04 container to 8.3.1 or using [TensorRT 21.11](https://docs.nvidia.com/deeplearning/tensorrt/container-release-notes/rel_21-11.html#rel_21-11) (which use CUDA 11.5 / cuDNN 8.3.0) fixes the issue.

I have two questions to @nluehr for further clarification:

1. when you modify the version of cuDNN, do

[2021-12-13 15:46] sanatmpa1 commented on #15783
I am able to reproduce the issue in colab with `TF 2.7.0`. Please find the [gist attached](https://colab.sandbox.google.com/gist/sanatmpa1/0fd98ad625058e67ab2e3967208bbc7f/15783.ipynb)

[2021-12-13 17:07] nluehr commented on #15678
You can upgrade cudnn to newer minor versions (e.g., 8.3.0 over 8.2.x) without rebuilding TensorFlow.

I did not update CUDA in my tests. It is generally safe to use a cuDNN built against a later CUDA of the same CUDA major version. (e.g., you can use a cudnn built against CUDA 11.5 with CUDA 11.3). If you also update the CUDA toolkit, I believe you would need to rebuild TensorFlow.

As you point

[2021-12-13 17:48] sanatmpa1 commented on #15784
@DameNianch,

I tried running the reproducible code provided and I can see a good overlap between CPU and GPU, on both the graphs. You can find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/91ca3912e0c401481cf30d984bfa3a05/simplernndebug.ipynb). Thanks!

[2021-12-13 19:23] jvishnuvardhan commented on #15760
@DameNianch Quick question. Are you comparing `loss` from `model.fit` (which is around loss: 0.1063) and `print("loss", tf.keras.losses.MeanSquaredError()(z_est, z).numpy())` (which is around loss 3.5583981169095245e-16)? Thanks!

[2021-12-13 19:44] tugrul123s opened #15787 "Unknown loss function: sparse_categorical crossentropy"
code: ``import cv2 as cv
import numpy as np
import matplotlib.pyplot
import tensorflow as tf
from keras.layers import Dense, Activation, Flatten

mnist = tf.keras.datasets.mnist
(x_train, y_train), (x_test, y_test)=mnist.load_data()

x_train = tf.keras.utils.normalize(x_train, axis=1)
x_test = tf.keras.utils.normalize(x_test, axis=1)

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.

[2021-12-13 20:30] #15787 closed

[2021-12-13 20:41] MuhammadAlBarham commented on #15348
I did what you said and my problem has been solved.

But they mention in the tutorial that the layer can inspect the input shape ( assum that I assign axis to None).

https://www.tensorflow.org/tutorials/keras/regression#linear_regression

[2021-12-13 21:07] rafak360 commented on #15348
I'm glad I helped you. Unfortunately the tutorial is out of date as many other tensorflow and keras documentations.

[2021-12-14 03:39] DameNianch commented on #15760
@jvishnuvardhan

Yes!!

[2021-12-14 05:03] #14953 closed

[2021-12-14 05:49] DameNianch commented on #15784
@sanatmpa1
Thanks!! Certainly your results do not seem to be as clear as my experiments. I re-experimented twice, thinking that I might just have been unlucky. As a result, the averages weren't too far apart, but the GPU training variance seemed to be too far away compared to that of the CPU. So I further increased the number of experiments (repeat_num) to 1000, reduced epochs to 20 to save time,

[2021-12-14 05:49] #15784 closed

[2021-12-14 06:45] breadbread1984 commented on #15269
https://github.com/breadbread1984/resnet18-34 . you may try this implement.

[2021-12-14 08:04] TheUnsolvedDev commented on #3842
@zachmayer Thanks for the advice I've tried it and got good results. Thank you.

[2021-12-14 11:58] dansbecker opened #15789 "Tuner tutorial rebuilds model rather than saving it"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/keras/keras_tuner

## Description of issue (what needs changing):
The bottom of this tutorial says `Re-instantiate the hypermodel and train it with the optimal number of epochs from above.` But there's no reason to train the model twice when you could use the callback to save the model at the best epoch. I and others have speculated [h

[2021-12-14 21:03] #15689 closed

[2021-12-14 21:18] ShivamP1993 commented on #14315
This method is about general slicing of tensors. The problem comes when I want to use the indices for slicing as input in a Keras based model (using "Input" layer) and use that "Input" for slicing.

[2021-12-15 00:12] ccurro opened #15790 "Batch Normalization with virtual_batch_size not equal to None not implemented correctly for inference time"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: 3.7.12
- Bazel version (if compiling from source):
- GPU mod

[2021-12-15 01:07] jonwittmer opened #15791 "MeanSquaredError truncated to 32-bit precision when using 64-bit"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): 2.7.0
- Python version: 3.7.12

Problem Description: This is a re-opening of the issue [here](https://github.com

[2021-12-15 06:01] chrislevn commented on #15239
I can do feature requests #1 and #2. I will make a PR when I finish.

[2021-12-15 11:09] MrinalTyagi commented on #15451
I would like to work on this

[2021-12-15 13:42] drasmuss opened #15792 "tf.compat.v1.keras.backend.get_session gives erroneous deprecation warning"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- Exact

[2021-12-15 13:49] drasmuss opened #15793 "Model.evaluate progress bar doesn't work in graph mode"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- Exact

[2021-12-15 14:49] dniku opened #15794 "Saving & loading a keras.layers.RNN with a custom cell with multiple inputs, states, and outputs throws an exception"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): `v2.7.0-0-gc256c071bb2 2.7.0`
- Python version: `3.7.12`
- Bazel version (if compiling from source): n/a
- GPU model a

[2021-12-15 15:11] ianzur commented on #15451
Go for it! This fell on my back burner

[2021-12-15 16:21] artemglukhov commented on #2880
Thank you, it seems to be working for a single dimension, but I can't get it working on a multidimensional array. The constraint freezes always a full row of weights and I didn't find a way to use it on a single element.
What I would like to obtain is something freely addressable, for example:

[code]
will give as a result
[code]

Do you think it is possible with something similar to your implemen

[2021-12-15 17:30] tstrych commented on #10806
@mattgrayling did you solve the problem ? I also used the mentioned approach and have found that my pictures don't change at all so that means no training is happening.

[2021-12-15 17:50] sinajhrm commented on #10806
@tstrych - try using [Checkpoint](https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint) and [CheckpointManager](https://www.tensorflow.org/api_docs/python/tf/train/CheckpointManager) classes. These Tensorflow built-in classes solved my issue regarding saving GAN models and continuing the training process. Also, You can define a custom callback for saving your models with a desired freque

[2021-12-15 18:02] sanatmpa1 commented on #15791
I am able to reproduce the issue reported in `Colab` running with `TF 2.7.0`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/b2c61ec4af5f67a7bfd30f56bec65b11/15791.ipynb)

[2021-12-15 18:09] sanatmpa1 commented on #15792
I am able to reproduce the issue and I am getting the erroneous warning even after using `tf.compat.v1.keras.backend.get_session`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/fa73dba013dcb85a0cc56af1225f11bd/33182.ipynb). Thanks!

[2021-12-15 18:56] cBournhonesque opened #15795 "Plotting a model (with model_to_dot) fails if the inputlabels/outputlabels contain brackets"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Macos BigSur
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.7
- Python version: 3.8
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to

[2021-12-15 19:05] jvishnuvardhan commented on #15794
@dniku I can reproduce the issue when saving the model with `h5` format. However, there is no issue if you save the model in `tf` format. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/9cc88d13715457c417cf8e64df39918e/keras_rnn_layer_saving_bug.ipynb). Thanks!

we will check why this is an issue with `h5` format. Thanks!

[2021-12-15 19:09] jvishnuvardhan commented on #15795
@cBournhonesque Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-12-15 19:50] cBournhonesque commented on #15795
You were right to ask!
It looks like when the input is a dictionary, the brackets are already removed, so the graph works:
![image](https://user-images.githubusercontent.com/8112632/146255072-a999c833-5940-4350-ba2e-81ec5cfece8b.png)

The error comes when the input is a tuple of Dicts, that's where you have brackets in the label names:

Example code:
[code]

Error: `Error: bad label format dict_la

[2021-12-15 20:51] dniku opened #15796 "Saving a keras.layers.RNN with a custom cell substitutes custom initial states with zeros"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): `v2.7.0-0-gc256c071bb2 2.7.0`
- Python version: `3.7.12`
- Bazel version (if compiling from source): n/a
- GPU model a

[2021-12-15 21:04] henrysky opened #15797 "RNN predict() raised error if shape is not the same as training set for the first time"
I have posted in Tensorflow github but just realized it is a keras issue so I post it here from tensorflow/tensorflow#53438

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 21H2 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue ha

[2021-12-16 00:48] sachinprasadhs commented on #15659
Here is the link to the code https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/backend.py#L6145, if  you want to contribute, you can raise a PR with your suggested changes.

[2021-12-16 07:29] mainguyenanhvu opened #15798 "Tf Keras Dense layer output nan with various kernel_initializer strategy before fitting"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.7.0-r

[2021-12-16 15:45] seanmor5 opened #15800 "Surface encoding to TextVectorization layer"
**System information**.

TensorFlow version (you are using): 2.7

Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Hey there, I'm working with a dataset that uses latin-1 encoding rather than UTF-8. After adapting a TextVectorization layer to the dataset and attempting to extract the vocabulary for use later on, I get a UnicodeDecodeError i

[2021-12-16 16:46] sanatmpa1 commented on #15797
@henrysky,

I tried running the stand alone code with `TF 2.7.0`, but I am getting the same `ValueError` while running `model.predict(x_test[0:1, :10, :])` second time as well. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/28e4f0dbe625cb45e75d5dc6967edcf3/tf_rnn_predict_issue.ipynb). Thanks!

[2021-12-16 16:56] henrysky commented on #15797
@sanatmpa1 I just ran your gist notebook and second time no error as expected. Please check, thanks!
![image](https://user-images.githubusercontent.com/28623434/146414763-b8b7b1fd-3726-41f2-bfaf-007a76fb7218.png)

[2021-12-16 16:57] sanatmpa1 commented on #15798
@mainguyenanhvu,

Can you share the complete standalone code with sample data as well to reproduce the issue? Thanks!

[2021-12-16 18:19] LukeWood commented on #15793
Notes from triage:

We will see if we can reproduce this in the latest version of TensorFlow, we also need to weigh if this is worth fixing considering all of the tf.Session based code will be removed at some point.  This still works in graph mode when you don't disable eager execution.  This is probably not worth fixing as it only occurs when you run tf.compat.disable_eager_execution.

@rchao jus

[2021-12-16 18:32] LukeWood commented on #15791
Notes from triage:

It looks like we may be truncating the values somewhere internally on accident, not immediately obvious where this is occurring.

[2021-12-16 18:42] LukeWood commented on #15780
Notes from triage:

If we don't have a contributor we probably will not have time for this.  Also, before a contributor prepares a PR we'd like to see if @fchollet thinks this is a good idea.

[2021-12-16 18:45] LukeWood commented on #15778
Initial notes from triage:
we don't think we typically cast automatically for users, but perhaps this is a mistake.

@fchollet any thoughts on this?

[2021-12-16 18:48] LukeWood commented on #15737
It looks like the workaround provided should be sufficient, feel free to re-open if the workaround provided does not solve your use case.

[2021-12-16 18:48] #15737 closed

[2021-12-16 19:07] isaacgerg commented on #15737
@LukeWood this is clearly a bug that you should fix.

[2021-12-16 20:07] mattdangerw commented on #15681
Thanks for filing. Just put a fix up for review, which should make it in to 2.8.

One thing to call out is that the output dtype of the image preprocessing layers will be changing with the 2.8 release. With the current 2.7 release, we are inconsistent on what dtypes we return. About half of our image layers will cast to floating point, and half would preserve the input dtype.

As of 2.8, all image

[2021-12-16 22:03] qlzh727 commented on #15791
Thanks for the reporting. Let me take a closer look

[2021-12-17 01:24] mattdangerw commented on #15592
Took a look, it does look like this difference is directly from `tf.compat.v1.nn.fused_batch_norm`, which won't guarantee the exact same computation. If the difference is important, I think the fix you listed (passing `fused=False`) is the correct for now.

The long term fix we'd like is to move a lot of the complexity out of batch norm, use XLA compilation (`jit_compile=True`) to keep things effi

[2021-12-17 01:37] mattdangerw commented on #15576
Thanks for explanation! In this case, I think calculating the class weights manually is the correct thing to do. One of the reason's we are moving away from `ImageDataGenerator` and towards preprocessing image layers is that we can accommodate a lot more flexible workflows there, rather than ever expanding catch all functions. We do not want to be expanding the `ImageDataGenerator` or `flow_from_*

[2021-12-17 01:37] #15576 closed

[2021-12-17 03:22] haifeng-jin commented on #15715
🤖

[2021-12-17 07:49] d-01 commented on #15681
Please note: `uint8` values can't fall out of the range `[0, 255]`, but `float32` can.

Be careful with `float32 -> uint8` conversion.

For example: `tf.image.adjust_contrast(imgs, contrast_factor=2.0)` can return value like `-101.9`, which normally (for `uint8` input) is clipped to `0` (black).

But when trying to convert `-101.9` directly to `uint8` you'd get `155` (`=int(-101.9) % 256`) -- wron

[2021-12-17 07:49] #15681 closed

[2021-12-17 08:50] gcuder opened #15806 "EinsumDense layer ignores global_dtype_policy when imported in a certain way"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.5.1
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): `2.6.2`
- Python version: `3.8`

**Describe the current behavior**

I tried using the `EinsumDense` layer

[2021-12-17 09:43] AdrianFuchsData opened #15807 "Memory leak in saving and loading a keras model containing CategoricalEncoding and Lookup layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in Keras):  Yes
- OS Platform and Distribution: CentOS Linux release 7.9.2009 (Core)
- TensorFlow installed from: binary
- TensorFlow version: 2.6.0 (v2.6.0-rc2-32-g919f693420e), 2.7.0 (v2.7.0-rc1-69-gc256c071bb2)
- Python version: 3.7.11, 3.8.12, 3.9.6
- Bazel version: not applicable
- GPU mod

[2021-12-17 16:16] sanatmpa1 commented on #15797
@henrysky,

Tried running again and as you said the error didn't occur while running second time. Here's the updated [gist](https://colab.sandbox.google.com/gist/sanatmpa1/728c94ea32ba10df5d08b49f9396b9ca/tf_rnn_predict_issue.ipynb)

[2021-12-17 16:27] sanatmpa1 commented on #15790
@ccurro,

I am able to reproduce the issue reported in colab with `TF 2.7.0`. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/36a5739b57dd0aed170a2a158f9f1428/15790.ipynb). Thanks!

[2021-12-18 01:07] chjort commented on #14915
After a little investigation I have been able to conclude that the issue is completely unrelated to any specific Keras layer. It seems to have something to do with the iteration over numpy arrays of string dtype.

The O(n^2) runtime behavior only occurs when `x` is a numpy array of string dtype. If `x` is a numpy array of int or float, or a `tf.data.Dataset` of any dtype, then the runtime becomes

[2021-12-18 02:21] ageron commented on #15778
Hi @LukeWood ,
Thanks for your feedback. I ran some tests by feeding `uint8` inputs to almost every type of layer, and here are the results:

The following layers do not complain about the `uint8` inputs, and they return`float32` outputs:
* `Average`
* `Dense`
* `Embedding`
* `LeakyReLU`
* `Normalization`
* `RandomHeight`
* `RandomWidth`
* `Rescaling`
* `Resizing`

This one returns `int64` outputs

[2021-12-18 06:01] old-school-kid commented on #15740
The code provided uses a seed for initialization in layers. [This issue](https://github.com/keras-team/keras/issues/15586#issue-1045027853) points out that an initialization when called multiple times produces different result. Workaround for now can be set the deterministic true which is experimental right now.
@jvishnuvardhan can you please take a look at this issue and the one I have mentioned.

[2021-12-18 08:31] Yovoss commented on #4978
I'm curious about the solution you mentioned, that works indeed!!!! But i'm not sure about the meaning behind the questions, The Lambda layer in fact did nothing, why can it work? I have tried several situations, if there are just one Masking layer, and dowstream Reshape layer will not raise errors, but if there are several masking layers, there will be an error, so why? And i think that the Resha

[2021-12-18 13:35] naveen-marthala opened #15808 "Add averaging methods for classification metrics(Precion, Recall and F-score), in tensorflow.keras or tensorflow-addons"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-12-18 15:12] ljbuturovic commented on #15740
Hi @old-school-kid : 1. [the issue](https://github.com/keras-team/keras/issues/15586#issue-1045027853) refers to problem with multiple initializers, as you point out. But the code in this ticket uses single initializer. 2. [the issue](https://github.com/keras-team/keras/issues/15586#issue-1045027853) applies to TF2.7. But this ticket refers to TF2.5.

[2021-12-18 18:11] krishyadav007 commented on #6937
I am also facing the same issue
[code]
Any hopes?

[2021-12-18 18:44] skannan-maf commented on #341
I simply save the weights "before" the first fit.....
And then before each fit, I set_weights() to the initial untrained weight.....
Thats it!

[2021-12-18 18:48] geajack commented on #341
That's not the issue - the idea here is to re-*randomize* the weights using the given initialization scheme. For setting the weights back to their (deterministic) initial weights, your method is indeed probably the only viable one, as the user really has to be made to call `get_weights()` explicitly at some point or Keras can't really know what they mean by "initial".

[2021-12-18 18:54] skannan-maf commented on #341
The idea of re-randomizing is to ensure that we don't do incremental training. For such cases (that was my requirement), the simply initial-weight saving scheme would do, I guess.

[2021-12-19 01:44] Avra2 opened #15809 "Using single timestep LSTM"
Hello,

I tried to put all in one function:

[code]

Then got error when I start training:

![image](https://user-images.githubusercontent.com/45768058/146660659-1e51a1c6-15ad-43c0-a3d0-afec127e0b4a.png)

[2021-12-19 10:41] sayakpaul opened #15810 "Using batch-wise maximum sequence lengths for padding"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-12-19 12:22] pure-rgb opened #15811 "F2 Score and mAP metric for object detection model."
I didn't find a metric regarding the object detection task in keras.

How to implement the above two metrics in keras and use them? In this competition, https://www.kaggle.com/c/tensorflow-great-barrier-reef/overview/evaluation it uses F2 score for its object detection task but I don't know how to evaluate my model locally with this score?

[2021-12-20 01:42] space-N commented on #15175
My solution is：
TensorFlow=1.14.0
Keras=2.3.0

The reason for the error is that the versions of TensorFlow and Keras do not correspond。

Hope it helps~

[2021-12-20 03:34] SysuJayce commented on #15715
Need a parameter `from_logits` in the official metrics classes.

I found that bce with sigmoid is not stable in tf (2.4.4). So I prefer bce with logits.

Therefore, it will be more friendly if there is a `from_logits` parameter in the official metrics classes.

[2021-12-20 04:00] jeongukjae opened #15812 "Missing `global_clipnorm` description in `tf.keras.optimizers`"
**URL(s) with the issue:**.

There is a description about `global_clipnorm` in this docs. ([`tf.keras.optimizers.Optimizer`](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#args))
But there are no descriptions about `global_clipnorm` in subclasses' docs. (For example, [`tf.keras.optimizers.Adam`](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam))

**Desc

[2021-12-20 07:47] auckenth commented on #14915
Thanks for investigating. This helps a lot.

[2021-12-20 08:59] aliencaocao opened #15813 "Saved model evaluate and validation always giving 0.50 accuracy despite reaching 97% on exact same data during training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 21h2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):  binary
- TensorFlow version (use command below):  v2.7.

[2021-12-20 12:25] innat opened #15816 "Add ResNeSt to keras.applications"
**System information**.

TensorFlow version (you are using): 2.7
Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state**.

Requesting to add the following model -

- Paper / Model: [ResNeSt: Split-Attention Networ](https://arxiv.org/pdf/2004.08955.pdf)
- Official PyTorch Code: https://github.com/zhanghang1989/ResNeSt
- Citation (till now): ~ 400

3rd

[2021-12-20 17:03] dathudeptrai commented on #15816
@innat Please refer this implementation (https://github.com/RichardXiao13/TensorFlow-ResNets).

[2021-12-20 17:10] innat commented on #15816
@dathudeptrai no, it's a 3rd party implementation and comparatively much better tf-implementation is already mentioned above.

[2021-12-20 17:16] dathudeptrai commented on #15816
@innat The implementation I mentioned above has almost the same structure and coding style as the models in tf.keras.applications

[2021-12-20 17:28] innat commented on #15816
@dathudeptrai you're missing the point. I'm not looking for model implementation. Please read the first post.

[2021-12-20 17:48] Ram-WD commented on #12991
any update ?

[2021-12-20 19:34] davidsc-unity3d opened #15818 "embedding_constraint does not work"
The `embedding_constraint` argument to the keras embedding layer does not work. Testing has been done on a macbook using tf 2.7 and tf-nightly from conda environments. With tf-nightly, the github version

[code]
the error ends with
[code]

Likewise in tf 2.7, where the github version is
[code]
one gets
[code]

**System information**.
From the script `https://github.com/tensorflow/tensorflow/tree/m

[2021-12-20 19:58] davidsc-unity3d commented on #15818
The application in mind is an embedding matrix with a skew distribution for entries, that is also being regularized. The regularization is applied to the whole matrix and can drive rare entries to zero, the constraint (assuming it is also applied to the whole matrix) provides control over this. One can try activity regularization, it may work for some use cases, but the constrain may work better f

[2021-12-20 20:10] qlzh727 commented on #15791
I think this might related to the autograph which we use for loss function conversion. https://github.com/keras-team/keras/blob/a17ead8ae150869ecdf733a0a6a04695a7055517/keras/losses.py#L244.

When I change the loss in example above to keras.losses.mean_sequared_error, the diff goes away. @mdanatg for more inputs about autograph.

[2021-12-20 20:13] minsung-k commented on #15775
@sanatmpa1

Thank you for your reply.

Btw, is it works?

I think it doesn't work.
This is because y_pred should look like a continuous number between 0~1. not 0 or 1.

So,

    TN = np.logical_and(K.eval(y_true) == 0, K.eval(y_pred) == 0)
    TP = np.logical_and(K.eval(y_true) == 1, K.eval(y_pred) == 1)

    FP = np.logical_and(K.eval(y_true) == 0, K.eval(y_pred) == 1)
    FN = np.logical_and(K.e

[2021-12-20 22:16] ymodak commented on #15206
This is fixed in master [branch code base](https://github.com/keras-team/keras-preprocessing/blob/master/keras_preprocessing/image/dataframe_iterator.py#L255-L265) but the fix is not part of Keras-Preprocessing 1.1.2

[2021-12-20 22:37] EdwardCuiPeacock opened #15820 "Bug: Cannot save tf.function decorated custom model"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX 10.15.7
- TensorFlow installed from (source or binary): binary via pip
- TensorFlow version (use command below): 2.7.0
- Python version: 3.7.10
- Bazel version (if compiling from source): N/A
- GPU model and memor

[2021-12-21 01:57] gcunhase opened #15822 "Obtained baseline accuracy for ResNet50v2 is different than officially reported"
Reposting urgent issue from the `keras-applications` repo from 12 days ago (no activity so far, no one has been assigned to it yet): https://github.com/keras-team/keras-applications/issues/207

Also posted the [issue on TF repo](https://github.com/tensorflow/models/issues/10420), but they said the Keras team is responsible for it.

Please check this bug as it is currently a huge bottleneck.

### S

[2021-12-21 08:34] henghamao opened #15823 "SparseTensor generator for tensorflow keras model training"
**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support only helps individuals. GitHub also notifies thousands of people when issues are filed. We want them to see you communicating an interesting problem, rather than being redirected to Stack Overflow.

**System information

[2021-12-21 10:38] henghamao commented on #15823
By debugging, we finally found out the cause:
in dataset_ops.py, the function from_generator() by default will use tensorSpec, if output signature was not specified:
[code]
For now the work around solution is to use tf.data.Dataset.from_generator(), and explicitly specified the output signature.
Here is the example:
[code]

[2021-12-21 13:39] rschumi0 commented on #15224
@jvishnuvardhan Sorry, but adopting the weights doesn't help for this issue. There seems to be something wrong with the computation within the layer, so it doesn't make sense to change the weights to get an expected results. It would be important to have a closer look at the implementation of the layer and, e.g., check if the data flow of all variables and weights is correct and if the implementat

[2021-12-21 14:10] chunduriv commented on #15823
@henghamao,

Glad the issue is fixed on your end. Please feel free to move this to closed status.Thanks!

[2021-12-21 14:43] henghamao commented on #15823
Though we had work around solution, we hoped Keras could automatically solve the issue.
Shall we consider add both SparseTensorSpec and TensorSpec in dataset_ops.py?

[2021-12-21 15:04] #15727 closed

[2021-12-21 16:10] mdanatg commented on #15791
@qlzh727 autograph doesn't make any precision-changing transformations, so I doubt it's that. The layer version has additional logic in the parent class' `Layers.__call__`, such as weighting - I suggest having a closer look there.

[2021-12-21 17:37] rchao commented on #15793
Bisecting would be the easiest way to figure out a solution. That said I don't think we're prioritizing issues that only occur when eager execution is disabled, though contribution to fix it is welcomed.

Keeping this open for a few days in case there is interest to contribute. Otherwise we should close this issue in a couple of weeks or so.

[2021-12-21 18:55] qlzh727 commented on #15791
@mdanatg, thanks for the reply. With closer look, I think the issue is actually from https://github.com/keras-team/keras/blob/a17ead8ae150869ecdf733a0a6a04695a7055517/keras/losses.py#L142, and https://github.com/keras-team/keras/blob/a17ead8ae150869ecdf733a0a6a04695a7055517/keras/utils/losses_utils.py#L318.

let me see if I can fix this on keras side.

[2021-12-21 18:56] AshwinJay101 commented on #15820
According to the documentation, you can use a serving functions for our task. Custom code below

    import tensorflow as tf
    import tensorflow.keras as keras

    class ExampleBugClass(tf.keras.Model):
        def __init__(self):
            super(ExampleBugClass, self).__init__()

        def call(self, inputs, training=False):
            return tf.reduce_sum(inputs["x"], axis=1, keepdims=Tr

[2021-12-21 19:04] #14399 closed

[2021-12-21 19:30] fhalamos commented on #4875
Well I have made it work for me. The issue presented itself only when I had a vectorization layer inside my model. I finally had to export the vectorization layer separately, and being careful to export it as a ragged tensor (see [this]([url](https://stackoverflow.com/a/70260005/10018268)). Then I reconstructed the model, loading weights for vectorization layer and inner model, and all good!

[2021-12-22 07:51] #15823 closed

[2021-12-22 08:04] geometrikal opened #15831 "first update_state performed on keras.metric.Mean takes a long time for some models"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.8.10
- Bazel version (if compiling from source): N/A
- GPU model and memory: RTX 208

[2021-12-22 08:33] geometrikal commented on #15831
Update:

It seems this happens the first time a `tf.cast` is encountered in the training step. e.g. changing the relevant lines to

[code]

gives a similar result:

[code]

[2021-12-22 10:29] sushreebarsa commented on #15796
@sachinprasadhs Was able to reproduce this issue in TF v2.7.0 ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/f7297f1e467a0b2e80aebf33af17d4d5/untitled16.ipynb) for reference.Thanks!

[2021-12-22 10:42] GHE001 commented on #5916
That really helped! Thank you!!!

[2021-12-22 11:40] sushreebarsa commented on #15806
@gcuder I tried to replicate the issue on colab using TF v2.7.0,could you please have a look on the [gist](https://colab.research.google.com/gist/sushreebarsa/1367b5d9710bf242074ee649fe8a5fc1/15806.ipynb#scrollTo=pH3K0btc7OB6) and confirm the same?Thanks!

[2021-12-22 12:05] gcuder commented on #15806
@sushreebarsa Thank you. Yes, the issue persists using tensorflow `2.7.0`

[2021-12-22 14:00] chunduriv commented on #15811
@Suzan009,

Can you check below metrics and  let us know if it helps you?

F2 Score : [tfa.metrics.FBetaScore ](https://www.tensorflow.org/addons/api_docs/python/tfa/metrics/FBetaScore) with`beta=2.0`

mAP:  [tfr.keras.metrics.MeanAveragePrecisionMetric
](https://www.tensorflow.org/ranking/api_docs/python/tfr/keras/metrics/MeanAveragePrecisionMetric)

Thanks!

[2021-12-22 14:03] chunduriv commented on #15820
@EdwardCuiPeacock,

Can you please a take a look at this [comment](https://github.com/keras-team/keras/issues/15820#issuecomment-999017867) and let us know if it helps you? Thanks!

[2021-12-22 14:22] Suzan009 commented on #15811
@chunduriv

actually no. check this,  [tfa.metrics.FBetaScore](https://github.com/tensorflow/addons/blob/v0.15.0/tensorflow_addons/metrics/f_scores.py#L26-L32), it clearly states and it's not suitable for object detection. And same as this one too [tfr.keras.metrics.MeanAveragePrecisionMetric](https://www.tensorflow.org/ranking/api_docs/python/tfr/keras/metrics/MeanAveragePrecisionMetric#compute_o

[2021-12-22 15:39] OmriSteiner opened #15832 "[TF] Loading a Keras model which contains __ne__ or __eq__ operators fails"
I'm not sure whether this is a Keras or TF bug. I can post this on TF instead.

**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071b

[2021-12-22 16:23] goncinious commented on #15678
@nluehr - Thanks for your reply.

After further investigation, I found that while upgrading cuDNN fixed the OOM issue observed with mixed precision on A10g GPUs (CC=8.6), the model output became non-deterministic when running on multi-GPU with mirrored strategy (i.e gives slightly different outputs every time I run it on the same input volume).

Crucially, I found that the output was deterministic

[2021-12-22 18:34] #15791 closed

[2021-12-22 19:13] chjort commented on #15810
This can be done quite elegantly if you cast your batch to a `tf.RaggedTensor`.

[code]

This gives
[code]

[2021-12-23 00:24] EdwardCuiPeacock commented on #15820
@chunduriv Thanks, this seems like a great workaround.

[2021-12-23 00:24] #15820 closed

[2021-12-23 01:55] sayakpaul commented on #15810
@chjort this is not padding to the maximum sequence length present in a batch. All the batches (in your example) still have uniform sequence lengths. Consider the following figure to understand what I am trying to mean:

<img width="596" alt="variable_length_batch" src="https://user-images.githubusercontent.com/22957388/147175705-3613c83e-dea9-46ac-8af1-49e65a1a11a1.png">

On the left-hand side, w

[2021-12-23 03:32] geometrikal commented on #15831
Closing here and opening as tensorflow issue: https://github.com/tensorflow/tensorflow/issues/53530

[2021-12-23 03:32] #15831 closed

[2021-12-23 09:09] minsung-k commented on #15775
@google-ml-butler

Thank you!
It helps a lot

[2021-12-23 10:47] cBournhonesque commented on #15795
Please do not close the issue.

[2021-12-23 18:04] #15731 closed

[2021-12-23 18:06] rchao commented on #15816
Triage note: We'll consider this once KerasCV is ready which we believe is a better place for the application to live.

[2021-12-23 18:10] rchao commented on #15806
`tensorflow.python.keras` is now deprecated and will be removed at any point, so please avoid using this. Also, please avoid directly importing python modules: always use `tf.keras.*`.

[2021-12-23 18:11] rchao commented on #15806
It appears to be working as intended so closing.

[2021-12-23 18:11] #15806 closed

[2021-12-23 18:19] rchao commented on #15790
Triage: keeping this open for contribution as the team doesn't currently have the bandwidth.

[2021-12-23 18:27] sanatmpa1 commented on #15775
Thank you for your update. I am moving this issue to closed status, as it is resolved.

[2021-12-23 18:27] #15775 closed

[2021-12-23 18:49] rchao commented on #15740
Note: This appears to have been fixed in 2.7 and we can't retroactively patch the fix into older releases (2.5 here).

[2021-12-23 18:49] #15740 closed

[2021-12-25 00:17] chjort commented on #15810
Well this can easily be achieved using my first suggestion with the `tf.RaggedTensor` and a `tf.data.Dataset`:

[code]
yielding the following batch shapes:
[code]
exactly like in your above figure.

[2021-12-26 19:01] Ram-WD commented on #9323
is there any news ?

[2021-12-26 22:48] NuoWenLei opened #15836 "Feature Request: Providing Gradients for `layer.set_weights()`"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-12-27 06:37] #15781 closed

[2021-12-27 13:41] OmriSteiner commented on #15832
Okay, I found the issue. It was `Layer._call_fn_args`, as suspected. For some reason the patch I applied for `Layer._call_fn_args` didn't work, but it does now.

As you can see [here](https://github.com/keras-team/keras/blob/v2.7.0/keras/engine/node.py#L178), when serializing a node (happens while saving a Keras model), the function explicitly calls `_call_fn_args`, which filters out the `self` ar

[2021-12-27 15:28] OmriSteiner commented on #15832
Mentioning @omalleyt12, as you're the last one who've touched this function (at least it says so in the TF source control).
I'm curious about [this comment](https://github.com/keras-team/keras/blob/v2.7.0/keras/engine/base_layer.py#L3007). It implies that `self` appears in `self.call`'s argument list in case a decorator has been applied. However, in most cases `self.call` is a bound method, which

[2021-12-27 16:06] Alex-Zab opened #15837 ""ValueError: Layer "model_1" expects 1 input(s), but it received 2 input tensors" as more than one face appears in frame. Real Time Mask Detection System"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): custom, but not mine
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 20H2
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: 3.8
- Bazel version (if compiling from source

[2021-12-27 20:15] aritraMandal02 opened #15838 "AttributeError: 'Sequential' object has no attribute 'predict_classes'"
[code]

This codeblock is giving me the error shown below:
[code]

How can I solve this error? Please help.

Here is the link of the full code:
https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbDVSTGdJczNoa2ZBeXpObWxobGJldGd5Q2pLd3xBQ3Jtc0trSVRobkVBM2EtV3lTajlQNzhXbEhGTjN3WXhFTGo3d1U4b3h1Rjl4Rk9ubUVVWG95cUNfaWFoTHpmRlpEM1VmM2NrOXFqc21WYkRKZ0c3WWgtcE5VRV9kZF9pZDZMUDVmWnR

[2021-12-28 02:27] old-school-kid commented on #15837
Hi @Alex-Zab
I assume your keras model `maskNet` only takes 1 image as input. But it appears `frame` has two faces and thus `faces` becomes a list of two images. Instead of calling `preds = maskNet.predict(faces)` you can  call `preds.append(maskNet.predict(face))` inside the loop. So you pass one image and also the overhead of checking len(faces) is removed.
Hope this helps

[2021-12-28 05:33] sanatmpa1 commented on #15838
@aritraMandal02,

`model.predict_classes` is deprecated, So you can try replacing

`predicted = model.predict_classes(token_list)`
to
`predict_x=model.predict(token_list)`
`classes_x=np.argmax(predict_x,axis=1)`

Can you also take a look at this [link](https://stackoverflow.com/a/68841446/11530462) about the similar issue and let us know if it helps? Thanks!

[2021-12-28 10:26] Alex-Zab commented on #15837
@old-school-kid Thanks for your reply! But, if I put `preds.append(maskNet.predict(face))` instead of `preds = maskNet.predict(faces)`, my program crashes with another error -
[code]

[2021-12-28 11:02] old-school-kid commented on #15837
You have to first initialize the variable `face`. Like after `faces.append(face)` line you can call `preds.append(maskNet.predict(face))`.
The first error rose because of the second error.

[2021-12-28 13:49] Alex-Zab commented on #15837
@old-school-kid Ok, so I put `preds.append(maskNet.predict(face))` after `faces.append(face)`, commented line `#if len(faces) > 0:` and still receiving error -
[code]

[2021-12-28 15:18] Suzan009 opened #15839 "GET and SET the accelerator device (cpu-gpu-tpu) more concise."
Environments:
[code]
---

# Feature

Documents:
- use gpu: https://www.tensorflow.org/guide/gpu
- use tpu: https://www.tensorflow.org/guide/tpu

Can we make it more concise to automatically get and set the accelerator without dragging some kind of initialization code for the end-user, especially for tpu? Currently, for tpu, it needs to be as follows after import tf.

[code]

# Will it change the A

[2021-12-28 17:43] sansarsecondary commented on #14877
This bug is preventing usage of sample weights for high instance count data as initialization time explode. Can this please be looked at.

[2021-12-29 15:16] dax44 opened #15841 "Adamax optimizer don't work"
I have strange situation. When I train model with Adam and other optimizers like RMSprop, SGD... all works fine.
[code]

output looks fine

[code]

but when I turn optimizer to adamax

[code]

the following error occurs

[code]

[2021-12-29 15:20] dax44 commented on #15841
I admit I work on Macbook Air M1

[2021-12-29 16:07] eman85 commented on #14632
pip install keras-self-attention==0.50.0

this is works for me

[2021-12-29 18:30] kbelenky opened #15842 "TripletSemiHardLoss produces only NaNs when training with a TPU"
This bug was discovered in Google Colab, but appears to be rooted in TripletSemiHardLoss.

Here's an example Colab that illustrates the problem:
https://colab.research.google.com/drive/10GuYAFDMuxXe2jqdj7hy_I7XcApJFmj7?usp=sharing

I combined the example Colab here:
https://colab.research.google.com/github/GoogleCloudPlatform/training-data-analyst/blob/master/courses/fast-and-lean-data-science/01_

[2021-12-30 01:37] #15659 closed

[2021-12-30 14:48] Chaudry24 opened #15843 "model.fit excess memory usage with GPU"
I am running 4 scripts which should be equivalent in theory. However, two of those [which use GPU to train the model] are using 10 times more memory than their CPU counterparts.

The scripts which are using acceptable levels of memory are scripts 1 and 3. The unacceptable levels are scripts 2 and 4.

Here is the code:
script1: https://pastebin.com/2gRbjKmx
script2: https://pastebin.com/GK9iE2DC
sc

[2021-12-30 17:37] #15798 closed

[2021-12-30 17:58] sushreebarsa commented on #15818
@sachinprasadhs Was able to reproduce this issue in TF v2.7.0 and tf-nightly , please find the gist [here ](https://colab.sandbox.google.com/gist/sushreebarsa/39dcb248b3a8cbf30f8ca907b005b077/kerasgist15818.ipynb#scrollTo=U1RX0hMFeqxh)for reference.Thanks!

[2021-12-30 21:40] sachinprasadhs opened #15845 "text.tokenizer not removing filters char from text"
**Describe the problem**.

Moving this issue from https://github.com/tensorflow/tensorflow/issues/49459

Describe the problem clearly here. Be sure to convey here why it's a bug in Keras or why the requested feature is needed.

**Describe the current behavior**.

The filter parameter of `tf.keras.preprocessing.text.Tokenizer` does not seem to filter out characters included in the "filters" paramte

[2021-12-30 22:01] sachinprasadhs opened #15846 "model doesn't learn when using shuffle='batch'"
**Describe the problem**.

Moving this issue from https://github.com/tensorflow/tensorflow/issues/45197

**Describe the current behavior**.
Becasue I train my model with data from HDF5 files, so I used model.fit(, , , shuffle='batch').

https://www.tensorflow.org/api_docs/python/tf/keras/Sequential:
"shuffle | Boolean (whether to shuffle the training data before each epoch) or str (for 'batch'). T

[2021-12-30 22:07] sachinprasadhs commented on #15846
Attaching the colab [Gist](https://colab.research.google.com/gist/sachinprasadhs/11a8d7b648b31600afec15360cc48fbc/untitled471.ipynb) reproducing the reported behavior.

[2021-12-31 04:06] old-school-kid commented on #15837
@Alex-Zab
Can you please provide the code for the model. It appears that the pred has got one value while you are trying to access three values.

[2021-12-31 04:12] old-school-kid commented on #14046
This issue can be closed. Please refer to the discussion in this [PR](https://github.com/keras-team/keras/pull/15744)

[2021-12-31 10:24] Alex-Zab commented on #15837
@old-school-kid I have `model.h5` file which is 11Mb, I can't input that much text. Also, after searching `pred` in file nothing was found.

[2022-01-01 07:32] zwh14 opened #15848 "Keras: how to define custom loss function for a ragged tensor output with shape(None, 1) (without batch size)"
Suppose the output of my model is with shape (None,1) and how can I define custom loss function such as

[code]

This function is used for normal tensor with shape (20,1) before. Now with new model, the output shape become (None, 1) ragged tensor. So, in this function y_pred should be a ragged tensor with shape(None, 1) and I can guarantee that y_true and y_pred have the same dimensions during tra

[2022-01-01 15:34] Suzan009 commented on #14046
Possible issue for this PR. https://github.com/keras-team/keras/pull/15744#issuecomment-1003574394

[2022-01-03 06:59] kumariko commented on #15841
@dax44 I tried to run your code on Colab with tf 2.7 and didn't face any issue. please check [gist](https://colab.research.google.com/gist/kumariko/6cf98f719f9037390873e8b2e2629088/51241.ipynb#scrollTo=efebmgClichs) for your reference. Thanks!

[2022-01-03 07:59] sushreebarsa commented on #15832
@sachinprasadhs Was able to reproduce the issue in TF v2.7.0 ,please find the gist [here](https://colab.sandbox.google.com/gist/sushreebarsa/60e61e020c086b758ca0a20b40fec90c/keras_load_model_bug.ipynb#scrollTo=oKMnt8y-fUbq).Thanks!

[2022-01-03 12:27] kumariko commented on #15843
@sachinprasadhs Was able to reproduce the issue in TF v2.7.0 ,please find the gist [here](https://colab.research.google.com/gist/kumariko/52c1dc589e72116c5c6242591fbd7661/github_53577.ipynb#scrollTo=2GGz3DqX6ATy).Thanks!

[2022-01-03 15:24] hockeyjudson opened #15849 "Clarification of keras custom loss component"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-01-03 23:48] 14H034160212 opened #15850 "How to set seed in keras?"
Hi,

I want to know how to set seed in Keras to keep the training result as same as each time? Cause I only use Keras to build up the model without using TensorFlow. I have checked some tutorials that use the following way to set the seed. But it does not work for me. Does anyone know how to set seed if you only use Keras without TensorFlow? Thanks. Happy New Year!

[code]

[2022-01-04 00:35] sachinprasadhs commented on #15811
You can find the details in the supported object detection evaluation protocols [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/evaluation_protocols.md).

[2022-01-04 00:44] sachinprasadhs commented on #15809
Could you please provide the reproducible code to troubleshoot the issue. Thanks!

[2022-01-04 01:19] 14H034160212 commented on #15850
I fixed the issue using the following answer from stackoverflow.
https://stackoverflow.com/a/52897216

[2022-01-04 03:00] gcunhase commented on #15822
Is there any update for this bug?

[2022-01-04 06:03] aritraMandal02 commented on #15838
Thanks that solved my issue.

[2022-01-04 06:04] #15838 closed

[2022-01-04 06:40] 14H034160212 commented on #15850
I solve that issue when I updated the code in the `util.py` which is the module for the data loader.
[code]

[2022-01-04 06:40] #15850 closed

[2022-01-04 08:27] Razielrelinquish opened #15851 "😇"
https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/callbacks.py#L645-L646
model = tf.keras.models.Sequential([tf.keras.layers.Dense(10)])
model.compile(tf.keras.optimizers.SGD(), loss='mse')
history = model.fit(np.arange(100).reshape(5, 20), np.zeros(5),
                    epochs=10)
print(history.params)
",
    "Tokens<intent-filter android:autoVerify="true">

[2022-01-04 08:28] saddamhijazi opened #15852 "Unable to restore custom metric."
I have written a code for training a neural network in keras-tensorflow where I added a custom metric just for the sake of printing the current learning rate at each epoch (this is useful for me when I use learning schedules). I trained my model and then I tried to load it again for re-training however I got the following error:

Unable to restore custom metric. Please ensure that the layer implem

[2022-01-04 09:05] Suzan009 commented on #15811
Please note that I need keras implementation so that I can integrate it conveniently into my pipeline. That repo is a complete mess for me. I also loss work motivation when I see that repo, no offense.

[2022-01-04 09:54] tilakrayal commented on #15848
@zwh14 ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-04 10:04] sushreebarsa commented on #15851
@sushreebarsa
In order to expedite the trouble-shooting process, please  elaborate the issue and  provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-04 10:16] sushreebarsa commented on #14046
@mrgloom Can we  move this issue to closed status if it is resolved as per the above comments ?Please let us know.Thank you!

[2022-01-04 10:28] sushreebarsa commented on #15849
@hockeyjudson
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-04 11:08] tilakrayal commented on #15836
@NuoWenLei ,
Can you please share a reproducible code that supports your statement so that the issue can be easily understood? Thanks!

[2022-01-04 11:09] tilakrayal commented on #15800
@seanmor5 ,
Can you please share a reproducible code that supports your statement so that the issue can be easily understood? Thanks!

[2022-01-04 11:43] seanmor5 commented on #15800
Sure, this example raises an error:

[code]

[2022-01-04 11:55] hockeyjudson commented on #15849
@sushreebarsa
===========Code call the above class which produces the error below ===========

from actor_critic_tf import actor_critic as ac
act = ac.ActorCritic(0.001,0.99,0.001,4,2)

===========================

[2022-01-04 12:08] old-school-kid commented on #15849
Hi @hockeyjudson
In `custom_policy_loss` you are calling `batch_dot(y_true,out)`
For batch dot multiplication the shape of two parameters provided must be same whereas `y_true` has shape (None, 4) and `out` has shape (None, 2). According to your network `state_dim` and `action_dim` have to be equal for since they decide the shape `y_true`  and `out` respectively.
Hope this helps.

[2022-01-04 12:29] hockeyjudson commented on #15849
For more clear reference :
[actor_critic_test.zip](https://github.com/keras-team/keras/files/7807546/actor_critic_test.zip)

[2022-01-04 13:51] hockeyjudson commented on #15849
@old-school-kid , i got the point that point. But the intended operation is y_true's dimension needs to be converted to the out dimension implicitly during loss calculation. But it is not.

[2022-01-04 14:48] hockeyjudson commented on #15800
Regarding @seanmor5 stated issue,
The issue resides in the code: https://github.com/keras-team/keras/blob/f1e9c76675981ee6683f54a3ce569212d551d12d/keras/layers/preprocessing/text_vectorization.py#L448
On this code we need to add extra argument to explicitly describe text encoding type. currently the code sets up only to utf-8 refer： refer https://github.com/keras-team/keras/blob/f1e9c76675981ee668

[2022-01-04 15:18] code-review-doctor opened #15854 "Missing comma in test results in unexpected string concatenation"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): NA
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): NA
- TensorFlow installed from (source or binary): NA
- TensorFlow version (use command below): NA
- Python version: NA
- Bazel version (if compiling from source): NA
- GPU model and memory: NA
- Exact command to reproduc

[2022-01-04 16:03] alegaros commented on #15348
This is very relevant. We have an ImageNet-pretrained model (an [EfficientNet](https://www.tensorflow.org/api_docs/python/tf/keras/applications/efficientnet), concretely) that was trained with tensorflow==2.5.0 and saved as an `hdf5` file.

As you know, TensorFlow's EfficientNet uses a [Normalization](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Normalization) layer, so this bug affe

[2022-01-04 17:04] NuoWenLei commented on #15836
Yes, pleas refer to
[this colab notebook](https://colab.research.google.com/drive/1JU6n3N1wX7NBsa3i_PqKR0mSUCYmYKO3?usp=sharing)

[2022-01-04 17:45] mechsihao opened #15855 "k-fold save model error"
# Background:
I want to train a two-dense-layer classification model, I use the k-fold strategy to train it and use tf.keras.callback.checkpoint utils to save the best model weights:

`RuntimeError: Can't decrement id ref count (unable to close file, errno = 5, error message = 'Input/output error')`

I tried to change the version of h5py to fix this bug, but it did not work.(2.10.0 ~ 3.6.0).
This

[2022-01-04 18:51] qlzh727 commented on #15654
I think the current docstring is correct, which was updated in https://github.com/keras-team/keras/pull/14920.

[2022-01-04 18:51] #15654 closed

[2022-01-04 19:14] mattdangerw commented on #15348
@alegaros would it be possible to try test on nightly? We do have a fix for Normalization with h5 coming in 2.8, but it would be good to check with your use case.

[2022-01-04 20:24] reedwm commented on #15678
Determinism is not guaranteed by default, and as you observed, nondeterminism might only occur in specific cases. Running [`tf.config.experimental.enable_op_determinism()`](https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism) should fix it, but note this is only available in the nightly builds and also will likely reduce performance.

[2022-01-04 21:24] gitpeblo commented on #6977
**Issue:** The output layer for the last epoch of `model.fit(...)` is different from the one generated by `model.predict(..)` when applied to the training data, but the exact same when applied to the validation data.

**Testing:** I observed that `model.fit(..)` produces a different output even when passing the _same_  data _both_ for the actual training _and_ the validation (I will call these dat

[2022-01-04 22:10] wenscarl opened #15857 "Performance regression for FP16 Relu kernel from TF2.6 to TF2.7"
<html>
<body>
<p dir="auto" style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight:

[2022-01-04 23:20] qlzh727 commented on #15224
I think the result is working as intended.

Please note that the first element in the 2nd timestep result is not 0 since the state from the first step is used as the input state for the second step.

Please make sure to provide detailed justification/math formula about your expected result.

[2022-01-04 23:20] #15224 closed

[2022-01-05 00:14] qlzh727 commented on #15698
Adding @rohan100jain from tf.core team for this issue. From the latest message, it might be a int32 overflow issue somewhere in TF.

In the meantime, please provide a some reproducible example. Thanks.

[2022-01-05 00:22] qlzh727 commented on #15778
Thanks for the analysis. I think casting the int input to floats will make sense for BN layer.

For those layer that raises error when input is int, I think majority of them just cast the input to backend.floatx() (unless we have a good reason to raise an error about the invalid input type).

Feel free to send a PR for this issue if you would like to contribute, and we can apply it to all the laye

[2022-01-05 00:28] qlzh727 commented on #15845
Triage notes: Assign to Matt for preprocessing related issues.

[2022-01-05 00:34] qlzh727 commented on #15846
Triage notes: clearly a bug on our side. Need to assign to a proper owner.

[2022-01-05 05:34] kumariko commented on #15842
@sachinprasadhs Was able to reproduce the issue in TF v2.7.0 ,please find the [gist](https://colab.research.google.com/gist/kumariko/69901db667512210a0f3f9d2e721f628/tripletsemihardloss-fails-on-tpu-but-not-cpu-gpu.ipynb#scrollTo=KDK8BIYTjelZ) here.Thanks!

[2022-01-05 05:38] kumariko commented on #15854
@code-review-doctor In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-05 07:43] dschwalm commented on #14345
Same issue.
tf 2.7.0
transformers 4.14.1
pretrained model: bert-base-cased

[2022-01-05 08:57] alegaros commented on #15348
Thanks for your answer @mattdangerw. I have tried on TensorFlow nightly and everything seems fixed now. Minimal code for reproducibility:

[code]

As you can see, the ImageNet's mean is preserved as a layer attribute. I have tried on `2.8.0-rc0` and it is fixed too. I have also tried my use case (model trained on tf 2.5.1), and could confirm the fix on `2.8.0-rc0` and `2.9.0-dev20220104`.

[2022-01-05 09:08] code-review-doctor commented on #15854
I don't have one as I am a static analysis tool that does not run your code - I just analyze it to detect bugs.

here's an explanation of the problem: https://codereview.doctor/features/python/best-practice/avoid-missing-comma

[2022-01-05 11:56] Razielrelinquish commented on #15851
I'm Lost

Operations manager and Owner/Founder of Building the Dream LLC.

Earlier this year my life went to ruins. My domains were taken over. I was the registered owner for btd.net as well as btdprotoductions.net, btdprotonical.net. and some others that my wife/business partner had registered. We were on a road trip and had several of our devices stolen from us. These devices had access to our d

[2022-01-05 11:57] sushreebarsa commented on #15852
@sachinprasadhs Was able to reproduce this issue on colab using TF v2.7.0, please find the gist [here](https://colab.sandbox.google.com/gist/sushreebarsa/a2e34b07d25b1b92d00e4cad669aaa04/keras15852.ipynb).Thank you!

[2022-01-05 12:14] Tr0yana commented on #10485
This still seems to be an issue. Did anyone get this to work? I don't get an exception when I try this but after loading the model the accuracy is super low

[2022-01-05 16:14] kretes commented on #15730
@yuefengz have you been able to look at the profiler output and this issue?

[2022-01-05 17:51] old-school-kid opened #15858 "Error in build."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): tf_nightly-2.9.0
- Python version: 3.7
- Bazel version (if compiling from source): 4.2.2
- GPU model and memory:

[2022-01-05 17:58] qlzh727 commented on #15855
Triage notes: Assign to Rick since this is related to model checkpoint callbacks. There might be a race condition somewhere.

[2022-01-05 17:59] qlzh727 commented on #15857
Triage notes: Assign to Reed for FP16 related quesitons.

[2022-01-05 18:04] qlzh727 commented on #15858
Sadly we usually just verify our build process on Linux, and current we don't have a windows OSS build. Will discuss this on the triage meeting.

[2022-01-05 18:58] old-school-kid commented on #15849
Hi @hockeyjudson
It's evident from the [source code](https://github.com/keras-team/keras/blob/master/keras/backend.py#L2230) that the function `batch_dot` doesn't implicitly reshape/broadcast tensors for multiplication. So you need to have two tensors of equal shapes to carry out dot multiplication.

[2022-01-05 22:01] reedwm commented on #15857
I cannot reproduce on a Titan V with CUDA 11.2.2 and cuDNN 8.1.1. With both TF 2.6 and 2.7, the training throughput is roughly 180 ms/s, and looking in the Tensorboard profile, relu takes approximately the same amount of time, although I do see the new MLIR kernel in TF 2.7. Note in your example I had to add the line `x_train = np.random.normal(size=(60000, 6400))` to define `x_train`.

Can you cl

[2022-01-06 04:30] ruancomelli opened #15863 "Support relative (in addition to absolute) `min_delta` parameters in `keras.callbacks.ReduceLROnPlateau`"
## System information

TensorFlow version (you are using): 2.7.0
Are you willing to contribute it (Yes/No): *YES*

## Describe the feature and the current behavior/state

I am reopening the issue https://github.com/tensorflow/tensorflow/issues/33675 to assess community interest in that feature and to discuss possible implementations.
Quoting the original issue, the requested feature can be describ

[2022-01-06 05:24] #15851 closed

[2022-01-06 06:53] yoyoisaboy commented on #14632
from keras.utils import np_utils
change
from keras.utils.np_utils import *

[2022-01-06 15:04] myasser63 opened #15865 "KeyError: 'val_loss'"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-01-06 18:00] old-school-kid opened #15866 "Scoring methods in Luong-style attention"
TensorFlow version (you are using): 2.7.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Describe the feature clearly here. Be sure to convey here why the requested feature is needed. Any brief description about the use-case would help.
Luong-style attention attention use three types of scoring methods, namely dot, general and concat. Thi

[2022-01-06 18:25] qlzh727 commented on #15782
Triage notes: we might want to add a keras.io example for how to choose a proper loss/metric.

[2022-01-06 18:44] fchollet commented on #15780
This issue proposes the introduce of a family of `tf.keras.applications.ResNet50RS` models with new implementations and new checkpoints. This sounds good to me, but we won't have cycles to work on it, so it would have to be contributed by the community. Marking as "contributions welcome".

[2022-01-06 18:47] fchollet commented on #15352
Overriding the `convolution_op` method of `tf.keras.layers.Conv2D`/etc is what I would recommend doing at this time. We don't intend to make the `Conv` base layer public, though you could always maintain your own copy of it as part of your codebase.

[2022-01-06 18:47] #15352 closed

[2022-01-06 18:56] AdityaKane2001 commented on #15858
@old-school-kid

Not sure, but I think you can try one of the following:
- Docker: use a docker container if possible, it'll make things much simpler.
- In your particular case, restarting the computer might help. In my case proto related errors disappeared after restarting. Also, don't forget to add bazel to `PATH`.

[2022-01-06 19:00] qlzh727 commented on #15858
Thanks @AdityaKane2001  for the reply. @old-school-kid could u check if this error is caused by any local env issue?

[2022-01-06 19:31] mattdangerw commented on #14896
I believe this is a general issue with grouped convolutions not being supported on CPU (coupled with a not great error message). There is some more discussion here https://github.com/tensorflow/tensorflow/issues/51825

A workaround for now would be to force XLA compilation of the convolution layer. We are looking into whether we can do this workaround inside of keras.

[code]

[2022-01-06 20:24] haifeng-jin commented on #15762
@SamuelMarks You are welcome to build your own package to do it, but, unfortunately, we are not able to officially support it right now.

[2022-01-06 20:24] #15762 closed

[2022-01-07 02:12] #15338 closed

[2022-01-07 04:11] EngrStudent commented on #15782
This answer gives references for examples of using strictly proper scoring rules:
https://stats.stackexchange.com/questions/279053/how-to-see-how-good-my-probability-estimations-are/279056#279056

Here are some of the references it gives:

- https://www.tandfonline.com/doi/abs/10.1198/016214506000001437
- https://www.tandfonline.com/doi/abs/10.1198/jbes.2010.08110
- https://www.sciencedirect.com/s

[2022-01-07 04:50] KhanShahed1NWPU commented on #9681
can you give me your full function?
I am kinda lost doing the same thing with Chinese language

[2022-01-07 05:05] fchollet commented on #15778
The way casting current works in Keras layers, is that each layer has a "dtype policy" which contains a "variable dtype" and a "compute dtype". By default both are equal to float32, but they have have different values (e.g. in mixed precision you'd use a policy with a float32 variable dtype and a float16 compute dtype.

All layers will cast their inputs to their compute dtype. BUT this only happen

[2022-01-07 06:06] old-school-kid commented on #15858
Tests start and actually first 106 out of 165 of them pass too. So I dont think there is an issue with local env. And I restarted my computer but didn't help.

Will try to do this but isn't it supposed to build locally in a Windows machine.

[2022-01-07 06:14] AdityaKane2001 commented on #15858
Things are not really supported well on Windows. Hence the recommendation.

[2022-01-07 07:46] foxik commented on #15425
This could be closed as a patch implementing it was already merged.

[2022-01-07 09:56] goncinious commented on #15678
Thank you for your reply, @reedwm.

I do understand why determinism is difficult to guarantee in training (e.g data sampling randomisation), but at inference it isn't that easy to understand, as the model and inputs are fixed.

Do you mind expanding a bit on the sources for these non-determinism at inference time? My guess is the split of both data and model operations across GPUs that might cause

[2022-01-07 10:28] cbjs commented on #15565
same.
It's ok on tf2.4

[2022-01-07 18:57] sachinprasadhs commented on #15865
We no longer support Tensorflow 1.x issues, please update your Tensorflow to Tensorflow 2.x, recent version 2.7 is preferred and try the code again. Make sure the code which you are trying is compatible to 2.x version by following this [migration](https://www.tensorflow.org/guide/migrate) guidelines.
It is suggested to import keras like below.
[code]

[2022-01-07 19:33] reedwm commented on #15678
The split of data across GPUs can cause discrepancies, but these discrepancies can typically be removed by calling [`tf.keras.utils.set_random_seed`](https://www.tensorflow.org/api_docs/python/tf/keras/utils/set_random_seed). A major source of nondeterminism comes from the fact that floating-point math is nonassociative, which means the order numbers are added can slightly affect the final result

[2022-01-07 21:22] wenscarl commented on #15857
I am running on V100x8 with cuda-11.5 and cudnn 8.3.1. For the relu benchmark above, I still see difference. In TF2.7, time taken is 0.43 compared to 0.34 in TF2.6. nsys profiler tells that the eignMetaKernel takes average 344us (TF2.6) vs 446us(TF2.7).

[2022-01-07 21:58] #15677 closed

[2022-01-07 23:24] reedwm commented on #15857
The benchmark prints the time, so no need to get the time from a profiler. In any case, I do not have a new enough driver for cuda 11.5, but i tried on cuda 11.4. On the relu benchmark on a Titan V, I got 0.465 seconds and 0.487 seconds on TF 2.6 and TF 2.7 respectively, meaning there is a 5% regression on TF 2.7. On a Titan RTX, I got 0.521 seconds and 0.599 seconds respectively, which is a 15% r

[2022-01-08 17:40] old-school-kid commented on #15865
Hi @myasser63
It seems you are using val_loss as a parameter in your callbacks but you havent provided any validation data. To use val_loss as a parameter you have to provide a validation data.