[2022-01-08 21:31] innat commented on #15816
@rchao is there any possibility that all the models under `keras.applicaitons` will move to the `keras-cv` project?

[2022-01-09 03:10] jvishnuvardhan commented on #15571
Duplicate of # https://github.com/keras-team/keras/issues/15592

Please check the above issue and follow the code owner response. thanks!

[2022-01-09 08:57] modaresimr commented on #1868
Maybe this tutorial is good https://www.pyimagesearch.com/2019/06/17/online-incremental-learning-with-keras-and-creme/

[2022-01-09 16:20] Shariq627 commented on #13748
@sushreebarsa , need more information on this since I am facing this issue recently. It would be of immense help, since i have tried multiple things left n right.

[2022-01-09 17:16] myasser63 commented on #15865
@old-school-kid  thanks alot for your help

[2022-01-09 17:33] old-school-kid commented on #15865
Can you please close the issue if the problem was solved?
Thanks

[2022-01-09 17:34] #15865 closed

[2022-01-10 01:46] sayakpaul commented on #15780
Relevant thread: https://discuss.tensorflow.org/t/resnet-rs-rewritten-in-tensorlfow-keras/5733/5.

[2022-01-10 04:28] sushreebarsa commented on #15849
@hockeyjudson Could you please refer to the [comment](https://github.com/keras-team/keras/issues/15849#issuecomment-1005994743) above and let us know if it helps? Thanks!

[2022-01-10 06:35] innat commented on #15816
@QiaoranC

[2022-01-10 13:20] ggardet opened #15881 "test_activity_regularizer_batch_independent_v2_eager and test_activity_regularizer_batch_independent_v2_function fail on aarch64"
**System information**.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): openSUSE Tumbleweed aarch64
- TensorFlow installed from (source or binary): from distro rpm
- TensorFlow version (use command below): 2.6.0
- Python version:
- Bazel version (if compiling from source): 3.7
- GPU model and memory: N/A
- Exact command to reproduce: We run tests from `keras/tests/*_test.py`

**Describe

[2022-01-10 14:01] old-school-kid commented on #15837
@Alex-Zab
`model.h5` contains the weight of the model. I just need a look of the model architecture. So can you provide the code for initializing the architecture? It appears that your model has 1 output only while you are trying to unpack 3.

[2022-01-10 14:34] old-school-kid commented on #15699
@sachinprasadhs
I think we can close this issue.

[2022-01-10 14:36] michele-sama-dialpad commented on #15249
Hi there, is it there any update on this one?

[2022-01-10 17:42] sachinprasadhs commented on #15854
Closing this issue since the PR is merged, Thanks for reporting the bug.

[2022-01-10 17:42] #15854 closed

[2022-01-10 18:36] mattdangerw commented on #15778
Casting all numerical types to compute dtype would be incorrect for layers that need to handle categorical/discrete integer inputs. Layers that would fall into that camp are Embedding, IntegerLookup, Hashing, CategoryEncoding, among others.

We do have an option to disable the casting entirely (`kwargs['autocast'] = False`). Embedding is a good example, it turns off the autocast option, and casts

[2022-01-10 18:47] fchollet commented on #15778
Thanks for the detailed explainer, Matt!

Doing 2) is correct in any case and does not preclude doing 1) in the future, so I would recommend doing 2) right now (at least for BatchNorm and possibly a few more), and open a ticket for future investigation of a more generalized behavior.

[2022-01-11 04:35] jvishnuvardhan opened #15887 "High memory consumption with model.fit in TF 2.x"
Moved from Tensorflow repository
https://github.com/tensorflow/tensorflow/issues/40942

@gdudziuk opened this issue in TF repo.

System information

Have I written custom code: Yes
OS Platform and Distribution: CentOS Linux 7
Mobile device: Not verified on mobile devices
TensorFlow installed from: binary, via pip install tf-nightly
TensorFlow version: 2.5.0-dev20200626
Python version: 3.6.8
CUDA/c

[2022-01-11 11:41] tilakrayal commented on #15881
@ggardet ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-01-11 15:50] gdudziuk commented on #15887
Than you very much for doing this. Let me post also the slightly modified test code with built-in memory measurements, which may be more convenient:

[code]

The above is meant to reproduce the issue with data passed to `model.fit` as numpy arrays. To test the behavior with TF datasets, replace the last line with the following:

[code]

[2022-01-11 15:58] gdudziuk commented on #15887
Also, anybody investigating the root of the problem, be sure to note the issue tensorflow/tensorflow#35030, where @mihaimaruseac has tracked the point at which the bug has been introduced.

[2022-01-11 16:14] zaneeto commented on #4875
I have encountered the same issue as well, and none of the solutions suggested work for me. Has there been a fix yet?

[2022-01-11 18:09] dax44 commented on #15841
@kumariko thank you for your response... but I think the difference between my version of tf and yours (colab) is that my is for Macbook Air M1, and yours is probably for Linux. I'm not sure but I think this is the problem. Try my code on any M1 procesors...

[2022-01-11 18:15] jvishnuvardhan commented on #15793
Based on the above comments, I am closing this issue.

[2022-01-11 18:15] #15793 closed

[2022-01-11 21:28] tlemo commented on #15857
@wenscarl, can you please update the repro script to fix the missing `x_train` definition? (as pointed out by @reedwm as well)

[2022-01-11 22:14] wenscarl commented on #15857
@tlemo It's updated.

[2022-01-12 01:30] csteel45 commented on #15698
It is without question an int32 overflow problem. Please look at the function CHECK_GT in tensorflow/core/util/gpu_launch_config.h. It takes int32 as arguments. When these exceed the system limit, the program aborts. You can check by calling CHECK_GT with a parameter of value 2100000000 or greater.

[2022-01-12 01:58] csteel45 commented on #15698
import tensorflow as tf
from tensorflow.keras.layers import Reshape, Dense, BatchNormalization, Flatten, LeakyReLU, UpSampling2D, Conv2D
from tensorflow.keras.initializers import he_uniform
import numpy as np

noise_dim = 128
dim = 10
upSamp = 5
feature_size = 328
batch_size = 1024
kernel_init = he_uniform()

inputs = tf.keras.Input(shape=(noise_dim,))
dense = Dense(128 * dim * dim, kernel_initial

[2022-01-12 02:01] csteel45 commented on #15698
Make sure you run the code above on a GPU with enough memory that you don't get an OOM exception. This code was tested on an NVidia Titan RTX with 24GB of GPU memory.

[2022-01-12 09:57] Dianagle2 opened #15893 "Error in using compile inside Callback class"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windown 10
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):2.4
- Python version:3.6

I'm trying to make a fine tuning callback.
So, I wish to unfreeze layers after few epochs

[2022-01-12 10:32] spatil6 commented on #15780
I can contribute on this, @sayakpaul Please assign it to me.

[2022-01-12 10:53] wangfuzhou110 commented on #15565
The same issue was encountered on TF 2.7.0

[2022-01-12 11:02] sayakpaul commented on #15780
@sebastian-sz will be working on it. Also, I cannot assign tasks to anyone. Only Keras team members can do that.

[2022-01-12 11:37] innat commented on #15229
@fchollet would you mind tagging **Contributions welcome** label on this?

[2022-01-12 12:43] sebastian-sz commented on #15780
@sayakpaul I'm kind of confused whether we should work on it or wait for the implementation from `keras-cv`. There seems to be [some works](https://github.com/keras-team/keras-cv/issues/36) going on with it. Reproducible models trained from scratch in Keras would be better than the converted ones.

Also I did not fully understand @bhack 's [commment on TF forum](https://discuss.tensorflow.org/t/re

[2022-01-12 13:05] bhack commented on #15780
@sebastian-sz I think that having reusable components it Is better then having an embedded trainabile model that It Is better then just the converted weights.

So I think that reusable components it is a little bit low level then all the other things.

But as we have not defined a public process to produce validated weights from the community using these new reusable components I think that curren

[2022-01-12 13:26] sayakpaul commented on #15780
This issue is tagged with "Contributions welcome". So, I am not sure if that arises any confusion.

Just to clear some confusion, @sebastian-sz has already written the ResNet-RS model classes and then they were populated with the original weights. I think this does expose reusable components which are quite in the spirit of `keras.applications`.

Sebastian also provides code to validate the conver

[2022-01-12 13:55] bhack commented on #15780
IMHO when the reusable components are landing in Keras-cv it is not so clear to me what is the path of having reproducible training vs `keras.application` only availablity vs models garden.

Of course we could duplicate our contribution paths as we want but I don't think It will  a clear and transparent approach for the community.

Probably it is still a little bit clear for me with TFHUB only mod

[2022-01-12 14:04] sayakpaul commented on #15780
I am also in the same boat there.

But that said, as for this PR, I do not think there's anything blocking Sebastian to work on a ResNet-RS PR since it's already cleared by the Keras team as mentioned in https://github.com/keras-team/keras/issues/15780#issuecomment-1006828492.

[2022-01-12 14:29] bhack commented on #15780
Ok but we need to consider also that we have already official regular weights in:

https://github.com/tensorflow/models/blob/master/official/vision/beta/MODEL_GARDEN.md#resnet-rs-models-trained-with-various-settings

[2022-01-12 14:35] sayakpaul commented on #15780
Sure thing. But I think Keras users would love to avail the flexibilities they get while working with `tf.keras.applications`. I find the official code harder to work with than pure Keras.

[2022-01-12 14:53] sebastian-sz commented on #15780
@bhack there are two Issue with the mentioned repository:
1. These weights don't work. I tried to use it when rewriting the models to Keras, also opened an Issue but it didn't attract much attention https://github.com/tensorflow/models/issues/10234
2. The models building blocks are composed as `tf.keras.layers.Layer` subclasses rather than functional blocks like `keras.applications`. Please, corre

[2022-01-12 15:18] bhack commented on #15780
I suppose this why there is a Keras-cv effort to have a `more reusable` impl of things that we have embedded in models garden.
But in the end if we don't have a plan to contribute/expose Keras-cv trained models It couldn't creare any conflict or resoruce wasting.

[2022-01-12 15:19] liborvaneksw commented on #15783
For all passing by who needs to use `einsum` as we do: possible workaround is to use a custom layer.
[code]

FYI, I also found out that models saved in 2.3.4 works. Problem occurred probably when serialization wrapper changed from `TfOpLambda` to `TensorFlowOpLayer`.)

[2022-01-12 16:47] profPlum commented on #411
Is this confirmed?

[2022-01-12 16:50] profPlum commented on #411
Well wouldn't static loss be expected unless you passed non-masked values? Did you in fact pass non-masked values?

[2022-01-12 16:50] profPlum commented on #411
Well wouldn't static loss be expected unless you passed non-masked values? Did you in fact pass non-masked values?

[2022-01-12 19:01] frsnjung commented on #411
we used it successfully in one of our projects with tf.keras (tf version 2.4) as follows:

Assuming your dataframe is filled with the masking value -1 up to the timestep max_sequence_length:

[code]

[2022-01-12 19:19] jungohyoon-29cm commented on #14345
tensorflow 2.7.0
keras 2.7.0
transformers 4.15.0
pretrained model: "bert-base-multilingual-cased"

I also had the same issue when using `model.save()` & `keras.model.load_model()`.
but, I change my python code to `model.save_weights()` & `model.load_weights()`, this issue resolved.
thanks to @Allen-Qiu & @shreyas-jk

[2022-01-12 19:25] yoonnoon commented on #14345
tensorflow 2.7.0
keras 2.7.0
transformers 4.15.0
pretrained model: "bert-base-multilingual-cased"

I also had the same issue when using model.save() & keras.model.load_model().
but, I change my python code to model.save_weights() & model.load_weights(), this issue resolved.
thanks to @Allen-Qiu  & @shreyas-jk

[2022-01-12 22:03] fchollet commented on #15778
I have submitted a change that makes all normalization layers cast their input to their `compute_dtype`, which resolves this issue. We can do this in additional layers too if there's demand.

[2022-01-12 22:03] #15778 closed

[2022-01-12 23:23] sachinprasadhs commented on #15699
@moumed, Refer to the quoted reply from @old-school-kid and let us know if you need any further clarification, refer [save_and_load](https://www.tensorflow.org/tutorials/keras/save_and_load) documentation for further clarification. Thanks!

[2022-01-12 23:46] fchollet commented on #15893
The `fit()` call requires attributes that are set in the first `compile()` call. You can't recompile then resume the *same* `fit()`, it needs to be a new `fit()` call. You can't saw the tree branch on which you're currently sitting then expect it to stay there.

You should do something like:

[code]

[2022-01-12 23:46] #15893 closed

[2022-01-12 23:48] sachinprasadhs commented on #15812
The document has been updated [here](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer?version=nightly) as of now you can see the details in the nightly version, it will be made available in the next release. Thanks!

[2022-01-13 00:14] chenmoneygithub commented on #15841
Hi, could you share you tensorflow version?

Another thing might be problematic: I see you are using both GPU and CPU, if I understand correctly, you are installing cuda on Macbook Air. Macbook Air has integrated graphics built inside the core, so it is not guaranteed to work well with cuda. I encourage you to try out the google colab, which should be easier for development. Thanks!

[2022-01-13 04:58] AdityaKane2001 opened #15895 "Regarding documentation for RegNets"
@fchollet

[#15702](https://github.com/keras-team/keras/pull/15702) was merged recently in dd73626. I wanted to add the performance metrics to the applications table in keras.io. However, I am not able to spin up a VM of the given specifications[^1]  [^2].

Could you please clarify how to go about this?

/cc @sayakpaul
[^1]: CPU: AMD EPYC Processor (with IBPB) (92 core) - Ram: 1.7T - GPU: Tesla A1

[2022-01-13 05:43] hayatejp opened #15896 "The GRU/LSTM function bugs when using TF2.7"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):2.7
- Python versio

[2022-01-13 05:59] rchao commented on #15816
@LukeWood do you have an answer to the `keras-cv` question?

[2022-01-13 08:45] helpforsoftware commented on #12803
i need this too

[2022-01-13 11:46] quaesitor-scientiam opened #15897 "How to make Keras Layer class to be immutable or is this a bug?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **from https://github.com/ahmedfgad/Mask-RCNN-TF2** with some other TF2 fixes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  **Windows Pro**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:  **n/a**
- TensorFlow instal

[2022-01-13 17:44] jvishnuvardhan commented on #12803
Reopening it. Can one of you please provide a standalone code to reproduce the issue?

[2022-01-13 18:09] chenmoneygithub commented on #15863
@rchao Rick, could you take a closer look? Thanks!

[2022-01-13 18:13] chenmoneygithub commented on #15841
@mihaimaruseac Hi Mihai, are you aware of the training problem on M1 chip? Thanks!

[2022-01-13 18:15] chenmoneygithub commented on #15836
set_weights is not expected to be differentiable, thanks for the issue!

[2022-01-13 18:15] #15836 closed

[2022-01-13 18:29] chenmoneygithub commented on #15818
this looks like a bug, I will take a closer look into it, thanks for reporting!

[2022-01-13 18:38] LukeWood commented on #15816
if this is referring to:
"@rchao is there any possibility that all the models under keras.applicaitons will move to the keras-cv project?"

I believe that the answer to this is that in the long term: yes.  In the short/mid term: probably no as it would break many users.

The code of applications will likely exist in both locations for a period of time, with some small differences (i.e. defaulting

[2022-01-13 18:43] OmriSteiner commented on #15832
Yeah, I can open a PR to fix this.
I'm not sure about the correct solution though.
What do you think about changing the function signature in TF?
Is there any other way you think we can solve this in Keras?

[2022-01-13 18:45] chenmoneygithub commented on #15701
Hi, could you provide the logging for this issue? Like how many times those methods are called, and where they are getting called.

If possible, could you provide a reproducable example, so we can look closer into it, thanks!

[2022-01-13 19:01] chenmoneygithub commented on #15760
Hi, this seems to be an implementation error. One potential issue is the loss during training is aggregated from the whole epoch, so you should not compare it against the last batch. could you try write your code in custom training loop for debugging? It could provide more insights, thanks!

[2022-01-13 22:01] q-ycong-p opened #15899 "tf.keras.initializers.RandomNormal with the same seed produces different tensors in TF27 vs older TF2 versions"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-01-13 22:08] micbia commented on #12803
@jvishnuvardhan the issue can be replicated with any code. For instance, I can suggest you use the simple [CNN on MNIST](https://keras.io/examples/vision/mnist_convnet/) provided by Keras API.

 It is enough to run the network, let it save a model with the standard [ModelCheckpoint](https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/callbacks.py#L1057) callback, stop the

[2022-01-13 22:12] akinsanyaayomide commented on #9964
Hi @Dref360

Thanks a lot for your explanation.

I am currently trying to observe microarchitectural footprints of the CPU while making predictions against a trained CNN, which would require that I run the observation process and prediction process at the same time, in order to observe the CPU architectural footprints during prediction. To do this I use multiprocessing to split the observation and

[2022-01-13 23:40] foxik opened #15900 "The keras.layers.CategoricalEncoding layer removes batch dimension for single-element batches."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Debian stable**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **2.7, tf-nightly**
- Python version: **3.7**
- Bazel version (if compiling from source):
- GPU mo

[2022-01-14 01:02] profPlum commented on #411
@frsnjung : Actually I think you're wrong I just got an error about Conv1d Masking not being supported in TF version: 2.7.0

Strangely it only happened when I used TemporallyDistributed layer with Conv1d layer inside but still that fact that it ever throws an error saying explicitly that it is not supported implies it is not at all & it is likely a bug that it does not throw an error the rest of t

[2022-01-14 03:52] AdityaKane2001 commented on #15240
Merged in #15702.

[2022-01-14 03:52] #15240 closed

[2022-01-14 10:15] moumed commented on #15699
hey guys,
sorry for being late to answer. thank you for all your answers.
the problem is resolved, you can see the correction steps in this link: https://stackoverflow.com/questions/69955838/saving-model-on-tensorflow-2-7-0-with-data-augmentation-layer

I will close this issue now.

[2022-01-14 13:50] Alex-Zab commented on #15837
@old-school-kid Can You, please, clarify, where should I find it?

[2022-01-14 15:39] hockeyjudson commented on #15849
@sushreebarsa
You can close this request .I solved this same objective in a different way.
But as a developer My humble request to keras team to provide more doc on custom losses with multi inputs. Could able to work on custom loss method which has more than two input arguments.

[2022-01-14 16:45] profPlum commented on #411
@fchollet Are there any plans to add this feature ever? I think it would be quite helpful. It seems not even very straightforward to force the embedding of 0 to be 0 which might be a useful workaround.

[2022-01-15 15:26] ksachdeva opened #15909 "Regularization Loss is getting added twice if model is encapsulated in another model"
This is a re-submission of the issue from here https://github.com/tensorflow/tensorflow/issues/43995

As the bug reports show the issue has been reproduced by many other people including engineers from Google.

**Description**

This pattern of creating simple models (modules) and then assembling them as part of the big model is widely used and as shown in the above code snippets and its outcome th

[2022-01-15 20:28] old-school-kid commented on #15790
@rchao @ccurro
Correct me if I am wrong. Arent ghost batches like mini batches. That is the ghost batched will be subset of the batch?
So the batch size must be divisble by ghost batch number which is exactly what is recommended by keras-team in this [line of comment](https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/layers/normalization/batch_normalization.py

[2022-01-15 20:40] ccurro commented on #15790
@old-school-kid That is true when `training=True` but when `training=False` you should be able to have any batch size. `virtual_batch_size` should have no effect during inference.

[2022-01-15 22:16] mihaimaruseac commented on #15841
Hi. Unfortunately, given no access to M1 internally, we cannot debug

[2022-01-15 23:23] magicaltoast opened #15911 "drop_connect_rate in efficientnet is not documented"
**URL(s) with the issue:**.
https://keras.io/examples/vision/image_classification_efficientnet_fine_tuning/
https://keras.io/api/applications/efficientnet/
**Description of issue (what needs to be changed):**.
In the [tutorial](https://keras.io/examples/vision/image_classification_efficientnet_fine_tuning/
) drop_connect_rate parameter is mentioned. But there is not mention of it in the [API refer

[2022-01-16 15:20] Atul997 commented on #7120
How did you resolve this. I am facing same issue with same type of data type. I have embeddings, mask and labels as output from data generator. I really appreciate your help on this.

Thanks

[2022-01-17 06:37] DameNianch commented on #15760
@chenmoneygithub
Thank you for your reply. I have two quesions.

1. Is the "last batch" the final epoch? Or is it the second `check_model`?
2. Is a "custom training loop" a loop that uses Gradient Tape?

Since the initial value is the optimum solution, even if the loss during training is aggregated from the entire epoch, it feels strange that the loss is not almost zero. You can see from the first

[2022-01-17 08:42] mazeltovlee opened #15912 "keras.layers.SimpleRNN/LSTM output NaN when setting "activation" to "exponential""
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version: 3.7.12
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- E

[2022-01-17 09:26] cerlymarco commented on #1591
I suggest [keras-hypetune](https://github.com/cerlymarco/keras-hypetune) for a friendly hyperparameter optimization with Keras. It allows grid, random, or bayesian search (from hyperopt) without the need to learn a new syntax.

[2022-01-17 09:44] Cheril311 commented on #15912
Hey, I think Pytorch does not have any 'exponential' activation function, so when your code is being converted using onnx do you know which pytorch activation function is being used

[2022-01-17 10:22] mazeltovlee commented on #15912
Yes, following the implementation of onnx2pytorch, the exponential activation will be converted to `torch.exp`.
https://github.com/ToriML/onnx2pytorch/blob/89a3fe7b208952760138c550c499fe9c57c35d45/onnx2pytorch/convert/operations.py#L115

Apart from this, may I know that SimpleRNN/LSTM output NaN when setting activation as `Exponential` is the expected behavior?

[2022-01-17 10:51] eOluwumi commented on #8964
Same here! I actually need it for several custom models and classification tasks at hand. Looking forward to a Deux Ex Machina :) ;)

[2022-01-17 10:51] Cheril311 commented on #15912
I think this is because of the **exploding gradients** problem as the gradients are increasing exponentially in your case. As technically you get NaNs when you perform computations that dont make sense, for example _inf-inf_. However I am not sure if getting those NaNs in your case is expected in place of Infs. I think Stack Overflow will be a better place to ask this.

[2022-01-17 10:53] eOluwumi commented on #8964
@rvinamra if you've found a solution, kindly extend (.ext)

[2022-01-17 23:53] #15682 closed

[2022-01-18 01:53] #15809 closed

[2022-01-18 10:53] #15848 closed

[2022-01-18 11:10] tilakrayal commented on #15899
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.5,v2.7 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/2b3ddf5032904e064bbba04e3d1b27aa/untitled191.ipynb).

[2022-01-18 11:18] tilakrayal commented on #15900
@jvishnuvardhan ,
I was able to reproduce the issue in v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/6451be832f2bcc872d06898773b276e2/categoryencoding.ipynb).

[2022-01-18 12:57] tilakrayal commented on #15896
@hayatejp ,
Please take a look at this SO [link](https://stackoverflow.com/questions/48851558/tensorflow-estimator-valueerror-logits-and-labels-must-have-the-same-shape) and [issue](https://github.com/tensorflow/tensorflow/issues/42824) with the similar error.It helps.Thanks!

[2022-01-18 14:35] ggardet commented on #15881
We just run:
[code]
With `$python` being the current python interpreter.

[2022-01-18 23:59] nishbo opened #15914 "Lambda Concatenate behavior changes based on initialization"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Microsoft Windows [Version 10.0.19043.1165]
- TensorFlow installed from (source or binary): Using pip
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: 3.7.5
- GPU model and mem

[2022-01-19 03:11] Ironbrotherstyle opened #15915 "BUG when converting from pytorch GRU model to Keras GRU model"
I have tested copying model weights from pytorch LSTM and pytorch GRU to Keras LSTM and Kreas GRU. The results for LSTM is quite great, given the same input, the output of both pytorch model and Keras model are very close. However, when converting GRU model, the  results are not close enough compared with LSTM.

Here is the code:
[code]

[code]

[2022-01-19 06:01] parth29-vc opened #15916 "DeeplabV3+ Training on custom dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- Platform and Distribution: Colab
- TensorFlow/Keras version (use command below): 2.7.0
- Python version: 3.8
- CUDA/cuDNN version: 11.2
- GPU model and memory: Tesla P100, 16 GB memory

**Current situation**
 Worked on Semantics segmentation using TensorFlow's DeepLabv3+ wi

[2022-01-19 12:05] Alex-Zab commented on #15837
@old-school-kid You can take a look at all of the files in here - https://github.com/Nitin1901/Face-mask-detection

[2022-01-19 14:22] ttdd11 opened #15917 "Loading optimizer state without using model.compile"
TF: 2.5, compiled
Environment: GCP cloud TPU V2-32

The optimizer state is saved when calling compile on the model and saving. However, when using the apply_gradients method on the optimizer instead of fit, there is no compile required.

In this instance, we save optimize states using np.save(PATH, optimizer.get_weights()). When continuing the re-train using a distributed approach, loading these u

[2022-01-19 15:17] cevheck opened #15918 "Using scipy fsolve or other solvers (e.g. GEKKO) in combination with backpropagation models"
I was wondering if there was any progress or existing methodologies to use existing solvers such as GEKKO to find/update certain values in your network.
E.g: When using PINN networks on a electrical circuit, one might use a variable resistance dependent on one of your network input parameters. When this dependency is given by an explicit equation it would be nice to, given the inputs, be able to u

[2022-01-19 18:13] sachinprasadhs commented on #15843
Which memory are you comparing, the RAM usage or the GPU memory usage between those tests?
Could you also provide what is the difference in memory you see for each tests in both CPU and GPU for 10 epochs. Thanks!

[2022-01-19 19:09] Chaudry24 commented on #15843
I am comparing CPU memory. The difference is almost 10x

[2022-01-19 22:16] ThomasHenckel commented on #4735
Thanks @adriangb
This worked for me, I just wanted to adjust the weight on for the last class

from sklearn.utils.class_weight import compute_sample_weight
class_weight = [{0: 1, 1: 1}, {0: 1, 1: 1}, {0: 1, 1: 1}, {0: 0.8, 1: 1.1}]
sample_weight = compute_sample_weight(class_weight,labels)

Would be nice if Keras would accept the class_weight directly, but until then...

[2022-01-19 22:17] qlzh727 commented on #15899
@wangpengmit here who is the owner of RNG behavior in TF. I don't think same seed will ensure to produce exact same value across different version of TF binary is part of the public TF API.

[2022-01-19 22:18] qlzh727 commented on #15895
Triage notes: We should provide a user accessible way to produce performance benchmarks. Or we need to at least have it available internally to produce the number for user.

[2022-01-19 22:21] qlzh727 commented on #15887
Triage notes: This is a long stand performance issue, and we should have someone look into this.

[2022-01-19 22:24] qlzh727 commented on #15842
Shouldn't this bug be filed to tf.addon repository?

[2022-01-19 23:09] sayakpaul commented on #15895
I think it might be useful to put up a guide for benchmarks for contributors.

[2022-01-19 23:37] q-ycong-p commented on #15899
I see. But intuitively, a user would expect initializers to be the same from same seed, after a change in TF2 version right? It might not be crucial for training production model, but it'd be an expected behavior when users design unit testing and alike.

[2022-01-19 23:51] wangpengmit commented on #15899
As @qlzh727 said, different versions of TF don't guarantee generating the same random numbers. See [here](https://www.tensorflow.org/guide/random_numbers) and [here](https://www.tensorflow.org/guide/versions#what_is_not_covered). As a best practice, unit tests shouldn't depend on specific random numbers.

[2022-01-19 23:59] jeongukjae commented on #15812
@sachinprasadhs

I think it is not resolved. I think the description of `global_clipnorm` should be added here.

https://github.com/keras-team/keras/blob/0ec98823f6e07e1bf1991b091788bef90ee49c1b/keras/optimizer_v2/adam.py#L56-L59
https://github.com/keras-team/keras/blob/master/keras/optimizer_v2/adam.py

It supports `global_clipnorm`, but no description here. Would you mind if I patched this and s

[2022-01-20 00:21] #15866 closed

[2022-01-20 00:22] q-ycong-p commented on #15899
Got it. My use case of unit test was to compare converted models against a correct model generated by an older TF2 version, leading to the original issue. Thanks for linking to the API doc, I now understand it's not a covered behavior. But can we make it a feature request, since the support of consistent RNG based on seeds would make it easier for user?

[2022-01-20 03:00] bagustris commented on #5204
How to get  `weight_labels` in this case?
For example, my last layer consists of 512 nodes, but the label for the test is, say, 1000.

[2022-01-20 07:27] dax44 commented on #15841
My tensorflow version is 2.7.0

[2022-01-20 10:43] lrwagner opened #15922 "Loading saved model with TextVectorization layer throws exception"
**System information**.
Google Colab (also on own system, Linux Ubuntu 20.04, tf 2.7.0)

**Describe the problem**.
Loading a saved model which includes a TextVectorization layer throws an exception (tested with tf 2.7 and 2.6). The stacktrace points to another layer in the model, but only removing the TextVectorization layer solves the problem.

**Describe the current behavior**.
Throws an excepti

[2022-01-20 17:42] jwohlfert commented on #13748
Same here. I'm on Windows 10, and I installed tensorflow with conda.

[2022-01-20 18:23] qlzh727 commented on #15909
Triage notes: we had similar bug before, and should look into the root cause for this.

[2022-01-20 18:31] qlzh727 commented on #15895
Thanks @sayakpaul. Please feel free to write up a guide for how to setup this env.

On a side note, we are going to explore a setup for keras cv and nlp to benchmark the performance for applications.

[2022-01-20 19:48] sayakpaul commented on #15895
I think the Keras team should write to reduce the chances of errors, inconsistencies, etc.

But if you could share some references on how the team usually goes about it, I can take a dig.

For benchmarking performance (not the throughput, just accuracy), I usually do something like this:

https://github.com/sayakpaul/ViT-jax2tf/tree/main/i1k_eval.

[2022-01-20 19:57] Raa23 commented on #12885
I have the same issue

[2022-01-20 20:51] rchao commented on #15887
Hello @gdudziuk, it'd be helpful if you could help us with the following,

- Is this a regression from any previous TF versions?
- If you construct a custom training loop that achieves the same thing as this `Model.fit`, are you seeing smaller memory usage?

Thanks!

[2022-01-21 00:12] chenmoneygithub commented on #15841
We would recommend not using integrated graphics  + cuda for training, because there is no guarantee on the behavior.

[2022-01-21 00:12] #15841 closed

[2022-01-21 00:21] chenmoneygithub commented on #15832
Thanks! You mentioned

```These functions' first argument name is self, which gets lost somewhere. I was able to change the argument name for these functions, and make Keras load the model successfully.```

Could you paste the changed function signature here? If I understand correctly, your fix is to force keeping the `self` argument?

[2022-01-21 00:26] chenmoneygithub commented on #15818
It seems that this is an intended behavior: https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#variable_constraints_2

Although it seems incorrect to not being able to have constraint on the embedding layer. Will need to try removing this check  and run some tests.

[2022-01-21 00:29] chenmoneygithub commented on #15760
1. Not the final epoch, but the last batch in the final epoch. Each epoch consists of a bunch of batches.
2. Exactly, please check this tutorial: https://www.tensorflow.org/guide/keras/writing_a_training_loop_from_scratch

Yes, it looks strange, but maybe it's just because the last batch is easy to process, so writing a custom training loop should get us a more clear understanding.

[2022-01-21 07:21] castorgit opened #15931 "Using learning-rate decay schedule with Keras (transfer learning with RESNET) generates unsupported operand error 'ExponentialDecay'"
** System information **

    custom code
    Ubuntu 20.4
    TF installed from binary
    TF / Keras 2.7.0
    Python 3.8.12
    no GPU

** Current Behavior **

Training a Network to classify images, Network is based on RESNET152V2 + some new layers. We train last 19 layers of RESNET + the new added layers
(data is XRAY dataset from Kaggle)
Using a learning-rate decay schedule, the training crash

[2022-01-21 08:10] hoangtnm opened #15932 "[Metric] get shape of a tensor for custom metric"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): conda-forge
- TensorFlow version (use command below): 2.6.2
- Python version: 3.7
- CUDA/cuDNN version: 10.2 / 7.6.5.32
- GPU model and memory: GTX 1080Ti

[2022-01-21 11:46] marzdeveloper opened #15933 "Higher validation and test loss and lower accuracy using tf.data.dataset with tfrecords than using numpy"
**System information**
- OS Platform and Distribution : Kaggle and Colab gpu/tpu
- TensorFlow version (use command below): 2.4 on Kaggle, 2.7 on Colab
- GPU model and memory:tesla p100, colab tpu, kaggle tpu

Hi, I'm training and testing an LSTM network using kaggle notebooks.
To improve time performance I have converted my numpy dataset to TFRecords, but the results are very differents respects r

[2022-01-21 14:08] ghylander commented on #12803
any comments from the keras team?

[2022-01-21 16:34] andyclegg opened #15934 "SGD decay cannot be a tf.Variable"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Keras `.devcontainer` Docker image
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-70295-gce17c4f9c3d 2.9.0-dev20220121
- Python version: 3.9.10
- Bazel version (i

[2022-01-21 17:09] exx8 opened #15936 "TensorFlow "TypeError: Target data is missing" though dataset with 2 dimension tuple was supplied"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-01-21 20:07] jvishnuvardhan commented on #12803
@rchao Can you please take a loot at it. Thanks!

[2022-01-21 23:05] AshwinJay101 commented on #15936
Can you provide a code example where I can run your code to replicate the issue

[2022-01-22 11:06] Suzan009 commented on #15839
Isn't it possible to have such a feature?

[2022-01-22 11:06] #14226 closed

[2022-01-22 12:38] exx8 commented on #15936
Here is the full code of the file:

from datetime import datetime

from keras import layers
from keras.layers import Reshape
from numpy import loadtxt
import tensorflow_addons as tfa
import numpy as np
import sys

sys.path.append("./transformer/models/official/vision/beta/projects/vit/modeling/")
sys.path.append("./transformer/models")

from tensorflow.keras.models import Sequential
from tensorflo

[2022-01-22 16:59] bhaveshneekhra commented on #10806
@mattgrayling is there a way to solve this issue? We are also facing the similar issue.

[2022-01-23 03:53] #15571 closed

[2022-01-23 04:48] dfossl opened #15939 "Shape issues in tf.keras.metrics.SparseTopKCategoricalAccuracy with multiple dimensions"
Reposting: https://github.com/tensorflow/tensorflow/issues/53842#issue-1109702941 here upon request.

---
Might not be a bug could be my application. But if that is the case I feel the documentation should be edited as from reading those functionalities seem to be similar.

When I run this:
[code]
[code]
Works as expected. But when I try it for TopKAccuracy I get this:
[code]

In the documentation

[2022-01-23 11:26] realmadridmarcelo opened #15940 "The model saving is disturbed by the error raised intentionaly."
### **Purpose**
I want to save the keras model which includes in TFbert layer.

### **Details**
I tried to excute below the code on ipython notebook.

`pretrain_model = TFBertModel.from_pretrained('cl-tohoku/bert-base-japanese-whole-word-masking')`

(This code block means the function definition. I want to make the indents but I couldn't owing to my knowledge about markdown notation.)
`def build_m

[2022-01-23 15:35] DameNianch commented on #15760
@chenmoneygithub @jvishnuvardhan @chunduriv
Thank you for your helping.
This was a bug due to my use of `np.squeeze` in `check_model`. When I remove `np.squeeze` from `check_model`, both loss is not almost zero.  I misunderstood that tf.keras.losses.MeanSquaredError would do a proper cast internally. If you run into the same issue as this issue, I recommend adding `z = layers.Flatten () (z)`.

[2022-01-23 16:05] sebastian-sz commented on #15780
@sayakpaul Update from me: sorry I will not be able to submit this PR - I am very short on time recently.

If anyone wants to work on this (@spatil6 ) feel free to use my repository (I would appreciate mentioning me thought, if you do).

[2022-01-23 20:37] shubham9630 opened #15941 "mode.predict freezes"
**System information**.
- I have used tf.data.Dataset.from_generator for generating data
- OS Platform and Distribution (Windows 10):
- TensorFlow version: 2.4.1
- Python version:  3.9.5

model.predict freezes when use tf.data.dataset
The below code can be used to reproduce the problem.

def tf_data_generator(file_list, batch_size = 20):
    i = 0
    while True:
        if i*batch_size >= len(fil

[2022-01-24 00:54] LukeWood commented on #15780
I'd personally be in favor of including this in KerasCV instead of keras.applications.  This would allow us to avoid duplicating some code.  @fchollet may have other thoughts here.

[2022-01-24 00:55] LukeWood commented on #15816
I'd personally be in favor of including this in KerasCV instead of keras.applications. This would allow us to avoid duplicating some code. @fchollet may have some thoughts here as to where the best place to contribute this in the near term would be.

[2022-01-24 05:08] linmajia opened #15942 "tf.keras.layers.Conv2D seems to accept 0 as the value of filters by mistake."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): 2.7.0
- Python version: 3.8

Please refer to tensorflow/python/keras/layers/convolutional.py, lines 139-141:
[code]
The error message says that the filters expect

[2022-01-24 11:53] ashwinshetgaonkar commented on #15699
the issue is not resolved ,
as although it is possible to save the model using .h5 format but reloading it and evaluating it gives way less accuracy

[2022-01-24 12:21] moumed commented on #15699
@ashwinshetgaonkar interesting remark, i didn't verify the results.
We have to admit that the solution proposed is only an alternative.

The main issue is not really resolved.

[2022-01-24 12:48] old-school-kid commented on #15699
Hi @ashwinshetgaonkar,
The error arises because you havent loaded the custom objects like the factors for `RandomRotation` or `RandomContrast`. They cannot be saved without a config since these values are not serialized. Instead of loading the model you can try out `load_weights` if you dont want to declare methods for config.
This is not a workaround as all the objects you want to save have to be

[2022-01-24 12:59] ashwinshetgaonkar commented on #15699
@old-school-kid
I had tried using `get_config` ,`from_config`,`load_weights` but the issue persists.

results before saving:
![image](https://user-images.githubusercontent.com/75084722/150786751-6794d823-be0c-4da3-a386-e74519111a73.png)

results after reloading:
![image](https://user-images.githubusercontent.com/75084722/150786874-b5048eb4-6567-4c03-9f10-17b54193e3b3.png)

this is the data augment

[2022-01-24 16:25] ashwinshetgaonkar commented on #15699
So better alternative is to go back to ImageDataGenerator and compromise on speed.

[2022-01-24 18:33] csteel45 commented on #15698
Please let me know if the sample code above reproduced the problem and if it is helpful.

[2022-01-24 19:30] AshwinJay101 commented on #15936
Can you also provide the data files you are using or maybe use random data so that we can replicate

[2022-01-25 05:53] kydonian commented on #15451
Related if you're here looking for a workaround: created this version that plays nicely with `tf.data.Dataset`: https://gist.github.com/kydonian/ddda453c8707cabb1eb9fbcbbd335ffa

[2022-01-25 06:33] AdityaKane2001 commented on #15942
@linmajia

Please see #15943

[2022-01-25 09:04] SinDongHwan opened #15946 "When install keras 2.4.0 using pip, why is keras-nightly 2.5.0 dev installed?"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-01-25 09:54] linmajia commented on #15942
@AdityaKane2001 , thank you very much!

[2022-01-25 13:10] #15263 closed

[2022-01-25 14:30] bersbersbers opened #15948 "Cannot reproducibly save a model to disk"
(Migrated from https://github.com/tensorflow/tensorflow/issues/54067)

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OpenSUSE Leap 15.2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow install

[2022-01-25 14:30] bersbersbers commented on #15948
Looking at the `.pb` files in a text editor, the main differences that I notice are counters appended to functions:

![image](https://user-images.githubusercontent.com/12128514/150976587-c7ee33c6-a804-49d5-bafb-d6060c521428.png)

![image](https://user-images.githubusercontent.com/12128514/150976624-3d1bc5d0-fee1-465b-91d8-2f9c97f561e2.png)

![image](https://user-images.githubusercontent.com/121285

[2022-01-25 16:24] abhi5movva opened #15949 "Duplicate example on homepage pf Keras Timeseries"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-01-25 17:56] nishbo commented on #15914
I have made a small example demonstrating this problem:
[code]

Running with the system described in the first post, I get the following output:
[code]
Plus images of model architectures and performance:
![Figure_1](https://user-images.githubusercontent.com/3775317/151031532-b5c959db-7f8a-4a9a-a9a2-4ac31e7d8eca.png)

The hardcoded model clearly uses both inputs and is able to achieve 100% performa

[2022-01-25 22:07] mattdangerw commented on #15800
Thanks for filing! I believe the solution proposed by @hockeyjudson is correct. We should add an encoding parameter to the TextVecotorization layer, include it in the config, and mirror it down to the underlying StringLookup layer.

Marking this as open for contributions.

[2022-01-26 01:33] mattdangerw commented on #14896
This should now be fixed on nightly and 2.8 (when it gets released).

[2022-01-26 01:33] #14896 closed

[2022-01-26 03:12] jvishnuvardhan commented on #15946
@SinDongHwan I tried to reproduce the issue. First I installed keras==2.4 and then imported keras successfully. When i printed the version, it shows as `2.5`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/80956f6b252236547e175aa6cdc08e17/untitled.ipynb)

I think the discrepancy could be due to mismatch in TF and keras versions at that time. Looks like Keras 2.4

[2022-01-26 03:17] jvishnuvardhan commented on #15942
Thanks @AdityaKane2001 .

@linmajia Thanks for raising this issue. This issue will be closed once the above PR merges into `master`.

[2022-01-26 03:30] jvishnuvardhan commented on #15941
@shubham9630 Can you please share a simple standalone code to reproduce the issue? Thanks!

[2022-01-26 04:15] jvishnuvardhan commented on #15940
@realmadridmarcelo I am not able to reproduce the issue. When I ran your code, I was able to save the model in `h5` format but couldn't load it. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/f53d38e7cc05c9fef9a505aa5aaecd7e/untitled1145.ipynb). Thanks!

Please check whether I made any mistake. Thanks!

[2022-01-26 04:29] SinDongHwan commented on #15946
@jvishnuvardhan  Thank you for checking this issues.

I'm trying to check the version of python packages for updrading our company solutions.
I will use recent TF/keras versions.

[2022-01-26 04:46] jvishnuvardhan commented on #15936
@exx8 Can you please share a simple standalone code to reproduce the issue? Looks like the issue is more related to data generator, so use some simple model with a data generator (of random data). Thanks!

[2022-01-26 04:47] realmadridmarcelo commented on #15940
Thank you for your examination!
Your code and mine are almost the same.
Only one difference is the python version. (My env: 3.8.12, Your env: 3.7)
But I think that it is not essential for this issue.

[2022-01-26 05:00] jvishnuvardhan commented on #15932
@hoangtnm Can you please share a simple standalone code to reproduce the issue? The current code is only partial. Thanks!

[2022-01-26 05:04] hoangtnm commented on #15932
@jvishnuvardhan Hi, this is my [notebook](https://colab.research.google.com/drive/142x49hRMzy0KK85ggEIpAW7beJJJuLB4?usp=sharing) to reproduce this issue.

[2022-01-26 06:04] jvishnuvardhan commented on #15917
@ttdd11 It looks like this is more related to `TPU distribution strategy`.  Can you open this issue on Tensorflow where I can triage it to TPU team? Thanks!

[2022-01-26 06:21] jvishnuvardhan commented on #15946
@SinDongHwan When you install recent versions, import keras from tensorflow as

[code]

Please close the issue if the issue got resolved for you. Thanks!

[2022-01-26 06:42] jvishnuvardhan commented on #15932
@hoangtnm I am not sure why it is throwing that error in graph mode but works in eager mode. You can run the model in eager mode (at the cost of some computational time) by adding `run_eagerly=True` in `model.compile` as shown below

[code]

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/56ad07307b611504f9ce97f5536a26a4/untitled0.ipynb). Thanks

[2022-01-26 06:59] SinDongHwan commented on #15946
@jvishnuvardhan Thank you~!!

[2022-01-26 07:01] hoangtnm commented on #15932
@jvishnuvardhan thank your for your response, I solved the problem with `run_eagerly=True`, but I think some custom losses or metrics might need to know the shape of inputs, because the last batch of each epoch is often smaller than normal `batch_size`. Therefore, it is really important to know the batch_size to implement some custom logic. Do you think its root cause is caused by `tf.keras` or wh

[2022-01-26 14:41] sushreebarsa commented on #15914
@nishbo I tried to replicate the issue on colab using TF v2.7.0 and tf-nightly, could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/86b0d7becb90225c9d742e8e7edbe749/15914-keras.ipynb) and confirm the same?Thank you!

[2022-01-26 14:52] sushreebarsa commented on #15916
@parth29-vc
In order to reproduce the issue reported here, could you please provide the standalone code and the dataset ? Thanks!

[2022-01-26 16:32] EnderWiggin14 opened #15956 "Model.fit() batch_size breaks for some batch_sizes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and (RHEL-like (custom distro ran by organization))
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): Tensorflow 2.5.0 on Windows 10 , Tensorflow 2.5.0 AND 2.

[2022-01-26 19:41] #15942 closed

[2022-01-26 21:35] fchollet commented on #15956
It's just as the error says:

[code]

You're trying to cast `pred.shape[0]` to a tensor but its value is None (i.e. the batch size is dynamic). In some cases this may work because you'll have a static batch size instead (and thus an integer here).

You should use `tf.shape(pred)[0]` to get the symbolic batch size.

[2022-01-26 21:35] #15956 closed

[2022-01-26 21:39] fchollet commented on #15948
It is not guaranteed that all internal attributes in the saved files will be identical when saving the same model twice: they're implementation details. They're not part of the model itself. To get the same file at the byte level, you need to run the same code twice, in two separate and entirely identical Python processes, in the exact same environment.

Or in this case you can simply switch to sa

[2022-01-26 21:39] #15948 closed

[2022-01-26 21:45] fchollet commented on #15949
Thanks for the notice. I fixed it on our end (it was a cache issue). It will be updated on the live website soon.

[2022-01-26 21:45] #15949 closed

[2022-01-26 21:59] fchollet commented on #15914
Hi,

This is just a standard Python mistake. When you do:

[code]

what's actually happening is not what you think is happening. You think you're materializing `len(ids)` different lambda functions that each contains the hardcoded value of `pi` at the time of instantiation. What's actually happening is that all your lambda are the *same* and they all refer to `pi`. So when you call them they just

[2022-01-26 21:59] #15914 closed

[2022-01-26 22:04] EnderWiggin14 commented on #15956
@fchollet
Your answer is incomplete.
That doesn't actually fix the issue that it does work sometimes. Those cases only being differentiated by the batch_size.

[2022-01-26 22:21] nishbo commented on #15914
@fchollet Thank you, I'll follow your advice.

[2022-01-26 22:55] k-w-w commented on #15483
This should now be fixed in the nightlies. https://github.com/tensorflow/tensorflow/commit/d3b6494e82085a397bad2260a43ea6769aa20f5d

[2022-01-26 22:55] #15483 closed

[2022-01-26 23:06] fchollet commented on #15939
This is indeed a surprising behavior -- it seems the format expectation for the `sample_weight` argument is different in the case of the `SparseTopKCategoricalAccuracy` in this case. Would you like to open a PR with a fix?

[2022-01-26 23:10] jvishnuvardhan commented on #15483
I can confirm that this was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/4eb55662fdf7254ce1e317034a4ebee3/untitled249.ipynb) is a gist for reference. Thanks @k-w-w

[2022-01-26 23:11] fchollet commented on #15918
You cannot do this for the simple reason that `fsolve` is not differentiable. Anything you want to put in the forward pass of your layer needs to be differentiable (and implemented in terms of TF ops) if you want to be able to run backprop. It's a fundamental conceptual issue, not a technical detail.

`fsolve` is likely not a single algorithm but an array of different optimization algorithms, none

[2022-01-26 23:11] #15918 closed

[2022-01-26 23:15] fchollet commented on #15922
@mattdangerw can you take a look? Perhaps this can be covered as part of the effort to add RaggedSupport to layers (cc @haifeng-jin)

[2022-01-27 00:02] bersbersbers commented on #15948
Thanks, @fchollet!

[2022-01-27 00:41] sachinprasadhs commented on #15843
I don't see the excess memory usage from GPU for the examples provided, instead the GPU is consuming the less RAM compared to it's CPU equivalent, which is expected. Please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/30e36ed1b6f8a217f38ba5cdcf29b72c/github_53577.ipynb#scrollTo=X08-wUOj2yAf) for detailed usage. I'm printing the total ram consumed after each example/ce

[2022-01-27 01:24] RetrosynthesisAI opened #15961 "Graph Attention Network Tutorial is not working (apply lambda to paper_idx for source, target is an issue)"

[2022-01-27 01:33] dfossl commented on #15939
Sure I'll have a look. I'll also double-check if this happens for the others in 'metrics' to see if they fail in a similar manner.

[2022-01-27 03:54] Ryuk17 opened #15963 "all dimensions of model output is None"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.1
- Python version: 3.7.4
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact

[2022-01-27 04:09] Ryuk17 commented on #15963
I also check the output of generator, it's ok
![image](https://user-images.githubusercontent.com/22525811/151290388-576a77b3-54ca-47d4-a809-0828cdd5694d.png)
![image](https://user-images.githubusercontent.com/22525811/151290403-3bb0fbb4-4755-4800-b044-70ff8948b302.png)

[2022-01-27 04:15] #15963 closed

[2022-01-27 05:19] jvishnuvardhan commented on #15922
@lrwagner Looks like this was already resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/f1fded8f311cafbf036b95b74465cfa8/textvectorization.ipynb) is a gist for reference.

May this code fix https://github.com/tensorflow/tensorflow/commit/d3b6494e82085a397bad2260a43ea6769aa20f5d might have fixed the bug in the code. Thanks

[2022-01-27 11:21] StevenHuang2020 opened #15964 "LSTM model save warning"
**System information**.
- OS Platform and Distribution: Windows10
- TensorFlow installed from: binary
- TensorFlow version : v2.7.0-rc1-69-gc256c071bb2 2.7.0
- Python version: 3.9.10

**Describe the problem**.
When model.save called, the below warning message occurred:
[code]

I just upgraded python from 3.6 to 3.9, reinstall Tensorflow under Python 3.9.10. I found the LSTM model hard to train to

[2022-01-27 12:45] kumariko commented on #15934
@sachinprasadhs Was able to reproduce the issue in TF v2.7 and tf nightly please find the gist [here](https://colab.research.google.com/gist/kumariko/fcfcbf55b097a0e375b3c7a46b0592fb/51241.ipynb#scrollTo=efebmgClichs). Thanks!

[2022-01-27 12:49] kumariko commented on #15897
@quaesitor-scientiam In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-01-27 13:40] ttdd11 commented on #15917
@jvishnuvardhan I did a few days ago, sorry that I didn't mention it here: https://github.com/tensorflow/tensorflow/issues/53844 , still waiting to hear back.

[2022-01-27 14:23] innat commented on #15822
@gcunhase have you checked on some small-scale data set like mnist/cifar-10/100? Have you faced the same abnormality?

[2022-01-27 16:55] sushreebarsa commented on #15964
@StevenHuang2020 I was able to run the code successfully on colab using TF v2.7.0 and tf-nightly(2.9.0.dev20220126)  and didn't face the warning reported here.Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/997a7d67340735a857995fe3231a33f2/15964.ipynb#scrollTo=SH7P1z-zZVVr) and confirm the same?
Please provide the complete code and let us know if we are mi

[2022-01-27 16:56] #15812 closed

[2022-01-27 17:17] sushreebarsa commented on #15807
@AdrianFuchsData Sorry for the late response!
I tried to replicate the issue on colab using TF v2.7.0,  tf-nightly (2.9.0.dev20220126) and faced different error.Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/13d66848ea802cc3f36c67f08ee6acb0/15807.ipynb) for reference and confirm the same ?
Thanks!

[2022-01-27 17:59] fchollet commented on #15939
Thank you!

[2022-01-27 18:11] #15922 closed

[2022-01-27 18:47] PeterPirog opened #15967 "RNN to model lowpass filter"
I would like to simulate lowpas filter IIR [Infinite impulse response](https://en.wikipedia.org/wiki/Infinite_impulse_response) with high time delay.

I know input values X(n), X(n-1), X(n-2)  ...   and  output valuesY(n), Y(n-1), Y(n-2) because I recorded it's from physical device

`Y(n)=a1 x Y(n-1)+a2 x Y(n-2)+...+ak  x Y(n-k)+b0 x X(n)+b1 x Y(n-1)+...+bk x X(n-k)`

X and Y are one dimensional,

[2022-01-27 19:36] nahidalam commented on #10806
Agree with @mattgrayling and @sinajhrm on using Checkpoint.

I did below

[code]

Then to load a specific checkpoint and use the model

[code]

[2022-01-27 19:53] jvishnuvardhan commented on #15852
@saddamhijazi This was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/a3204815dd9750a790f29a952e4ede9e/textvectorization.ipynb) is a gist for reference.

Please verify once and close the issue if this was resolved for you. Thanks!

[2022-01-27 20:12] wangpengmit commented on #15899
We intentionally reserved the right to change RNG results across TF versions because any internal change to RNGs will likely change their results, hence preserving RNG results across TF versions basically means freezing RNG development, which is unacceptable. For you use case, I suggest you (at the beginning of training) manually set the old and new models' trainable parameters to the same values,

[2022-01-27 20:15] jvishnuvardhan commented on #15348
@rafak360 Is this issue got resolved for you? I see Bug 1  and Bug2 are not throwing any error when `tf-nightly` was used. Please check the gist for [bug 1](https://colab.research.google.com/gist/jvishnuvardhan/370814a7973523bdccb89e398801ef08/untitled1075.ipynb) and [bug2](https://colab.research.google.com/gist/jvishnuvardhan/c41ffe26350d7bf27073428fcac8b7fc/untitled1076.ipynb).

Please verify on

[2022-01-27 20:49] q-ycong-p commented on #15899
Understandable. Thank you!

[2022-01-27 20:59] jvishnuvardhan commented on #15855
@mechsihao This is not a bug. There is a small change required from user's side as shown below.

[code]

With the above change, everything worked as expected. [Here](https://colab.research.google.com/gist/jvishnuvardhan/fc4382436aa37c0b4b2a12c89098614f/untitled1147.ipynb) is a gist for reference.

Please verify once and close the issue if this was resolved for you. Thanks!

[2022-01-28 02:09] jvishnuvardhan commented on #15932
@hoangtnm I thought I added a response earlier but don't see here.

Ultimately, I removed `run_eagerly=True` from compile (which makes it as your original code)

In your code you are trying to access static shape where it is `None`. It is recommended to use dynamic shape so that at the runtime, code understands the actual size of the variable. The following line is what I changed.

`self.count.ass

[2022-01-28 02:50] jvishnuvardhan commented on #15813
@aliencaocao This is not a bug. The discrepancy is due to the `base_model` used in the model development. When i replaced `EfficientNetB0` with `MobileNetV2`, it gave very high accuracy for training and validation. Also, gave very high accuracy after reloading the model.

The discrepancy could be due to layers (such as normalization layer) used in the model. Another thing is try to freeze the base

[2022-01-28 04:18] hoangtnm commented on #15932
@jvishnuvardhan thank you for your response. your solution works perfectly :))

[2022-01-28 04:18] #15932 closed

[2022-01-28 05:39] StevenHuang2020 commented on #15964
Here is my code.
https://github.com/StevenHuang2020/COVID-19-Statistics/blob/e73c17cdc14ce38616164334dde3ed7c09543328/coronavirus/predictStatistics.py

The warning message is shown when model.save called after training

![image](https://user-images.githubusercontent.com/61686583/151493297-229f2618-f805-4d4d-97f8-ccf864e7ac68.png)

[2022-01-28 06:02] StevenHuang2020 commented on #15964
I simplified it to 2 files, the dataset and py file.

dataset link:
https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv
training file:
[predictStatistics.py.txt](https://github.com/keras-team/keras/files/7956105/predictStatistics.py.txt)
You can verify the above problem with this.

[2022-01-28 08:37] lrwagner commented on #15922
I can confirm it works when using `tf-nightly`!

[2022-01-28 11:30] #15934 closed

[2022-01-28 14:20] bersbersbers opened #15972 "Feature/documentation request: re-add activation histograms or remove from docs"
**System information**.

TensorFlow version: 2.8.0-rc1

**Describe the feature and the current behavior/state**.

https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard says:

But I am fairly certain activation histograms are not written, see also https://github.com/tensorflow/tensorflow/issues/39755 and https://github.com/tensorflow/tensorflow/issues/42027.

Solutions:
1. re-im

[2022-01-28 17:37] #15855 closed

[2022-01-28 21:09] KeithYJohnson commented on #4875
Did anyone inspect the weights themselves to see if they changed as they were loaded in memory to see if they changed between different calls to loading the saved model?

[2022-01-28 22:42] #15961 closed

[2022-01-29 00:16] sachinprasadhs commented on #15899
@q-ycong-p If your issue is addressed, could you please move this issue to closed. Thanks!

[2022-01-29 03:01] Cheril311 commented on #15972
I can try to solve this

[2022-01-29 04:02] Cheril311 commented on #15972
Hey @bersbersbers as far as I know you can visualize histograms in
tensorboard by using tf.summary.histogram<br>Can you please attach your code so that I can see if we are on the same page?

[2022-01-29 04:15] Cheril311 commented on #15931
@castorgit this problem appears to be fixed in the latest TF-nightly version. See here https://colab.research.google.com/gist/amahendrakar/697836288a6d02f048d11e08b7044079/41639-tf-nightly.ipynb

[2022-01-29 06:21] bersbersbers commented on #15972
@Cheril311 please see https://github.com/tensorflow/tensorflow/issues/42027#issuecomment-670719469. Keras writes weight histograms, but no activation histograms.

[2022-01-29 06:44] chsigg commented on #15857
This should be fixed now with the these two changes:

https://reviews.llvm.org/D117219 [LLVM] vectorize vector loads
[tensorflow/b826391](https://github.com/tensorflow/tensorflow/commit/b8263919112cb63e4389dbd0c7b39e27a30cc17d): unroll relu kernel

The following changes improve the generated code further, but don't change kernel performance because it's already memory bound:

[tensorflow/271845a](

[2022-01-29 06:55] DachuanZhao opened #15976 "How to create a dynamic embedding layer in keras ?"
**Describe the feature and the current behavior/state**.

I'm a recommendation system engineer and I know there are many ```Keras Preprocessing Layer``` added since ```tf 2.3.0``` .
Now I can use ```tf.keras.layers.StringLookup``` + ```tf.keras.layers.Embedding``` to convert a string to an embedding tensor .But it fix the range of string and the range of embedding , which can't add new string and

[2022-01-29 07:14] Cheril311 commented on #15972
@bersbersbers you seem to be right, however I am changing just the documentation for now and removing activation histograms from there rather than adding it as a feature as callbacks.py version 2 in the keras file seems to create histograms by calling tf.summary and in the documentation for tf.summary I see a feature for activation histograms as shown here https://www.tensorflow.org/api_docs/pytho

[2022-01-29 07:36] Cheril311 commented on #15972
You seem to be right @bersbersbers , for now I have changed the documentation as I do know how to compute activation histograms but I am unaware on how to write them as tensorboard images

[2022-01-29 07:40] bersbersbers commented on #15972
I would think activation histograms can be written the same way as the weight histograms, at least in a first iteration. After all, both should have the exact same dimensions.

[2022-01-29 07:47] Cheril311 commented on #15972
Yup I agree with that but there is some other process done in the function  _log_weight_as_image in callbacks.py and I am not sure how to do the same for activations, if you can help me maybe we can submit a pr

[2022-01-29 10:33] bersbersbers commented on #15972
To my understanding, activations and weights have the same shape, so you can do exactly the same thing as here:

https://github.com/keras-team/keras/blob/8015f697d0109ccd6021fe1b8f2bf5b133b259b9/keras/callbacks.py#L2570-L2580

Since you mentioned in https://github.com/keras-team/keras/issues/15972#issuecomment-1024857466 that you know how to compute activation histograms (although I have yet to fi

[2022-01-29 21:20] NomiMalik0207 commented on #2134
I am using Skelton (x,y) coordinates from MPII dataset. Changing relu with tanh worked for me.

[2022-01-30 02:10] thariq-nugrohotomo commented on #15715
I would like to mention that in the official tensorflow documentation, that mistakes happen frequently, e.g. mixing `BinaryCrossentropy(from_logits=True)` with `metrics=['accuracy']`.
Here are some of them:

- https://github.com/tensorflow/tensorflow/issues/41413
- https://github.com/tensorflow/tensorflow/issues/41933

Even worse, not all people are aware of this, then they simply replace the fixe

[2022-01-30 02:31] yysw commented on #2134
Finally, tweak the epsilon parameter from 1e-8(default value) to 1e-6 fix the problem. This may cause the gradient decent slower, but the stability of training is more important.
See the post in stack overflow for detail: https://stackoverflow.com/questions/43221065/how-does-the-epsilon-hyperparameter-affect-tf-train-adamoptimizer

[2022-01-30 08:19] burnpanck opened #15978 "Silent swallowing of Exceptions thrown in `get_config` and potentially `from_config` / Documentation of SavedModel for custom Model"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes (custom layers and models)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 12.1 on M1 Max
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): unknown 2.7.0
- Python version: 3.9.8
- Bazel version (if compiling from so

[2022-01-30 20:53] lauraht opened #15980 "TimeDistributed(Flatten()) does not support masking"
**System information**.

TensorFlow version: 2.7.0.

**Describe the feature and the current behavior/state**.

I hope the `TimeDistributed(Flatten())` can support masking.

My inputs are DNA sequences with variable lengths, where each base is a “timestep”. For each timestep (i.e. each base), I also use the 5-bases’ segment before the current base as a feature. So this is a hierarchical time series

[2022-01-31 03:16] q-ycong-p commented on #15899
Closing the issue since it's reasonable to not support consistent RNG behavior from development point of view. Thank you for all responded.

[2022-01-31 03:16] #15899 closed

[2022-01-31 07:29] preethiseshadri518 opened #15984 "Cannot add class weights for multilabel classification?"
I am dealing with a multilabel image dataset where there are 100 labels in total, and each image can have between 1-5 labels. Therefore, the ground truth labels are vectors of length 100, with mostly 0s and 1-5 1s at the label indices. The model has 100 output nodes and uses a sigmoid activation function for each node with binary crossentropy loss.

Since the labels are sparse, I want to up-weight

[2022-01-31 09:14] AdityaKane2001 opened #15985 "`image_dataset_from_directory()` should return both training and validation dataset"
**System information**.

TensorFlow version (you are using): 2.7
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Currently, `image_dataset_from_directory()` needs `subset` and `seed` arguments in addition to `validation_split`. The result is as follows. The user needs to call the same function twice, which is slightly counterintuitive and

[2022-01-31 09:43] unrealwill opened #15986 "Extra GPU-CPU memory transfer when broadcasting operations between integer tensors"
I was asked to cross-post this issue here,
https://github.com/tensorflow/tensorflow/issues/54197

Thank you

Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must b

[2022-01-31 11:09] sushreebarsa commented on #15964
@jvishnuvardhan Was able to replicate the issue on colab using TF v2.7.0 , please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/001c1cfa939c1ae5e385c3f2c00ba072/keras15964.ipynb) for reference.Thanks!

[2022-01-31 13:35] popkristina commented on #4904
Years after, with keras version 2.6.0, and TF 2.6.2 and Python 3.6, I still get the same issue. Has this problem been fixed with keras?

[2022-01-31 20:17] scottc21 opened #15988 "Keras 2.8.0 -- Git: Please add "v2.8.0" LABEL ; that corresponds to PyPi release --- https://pypi.org/project/keras/2.8.0/"
Minor GIT management issue.
Please add a  "v2.8.0" label to the Git "2.8" branch  -- that corresponds with the 2.8.0 release that was just posted today to PyPi.

The 2.8.0 release was just posted to the PyPi website today ( Jan-31 ); however, the GIT repo at GitHub has no corresponding label.
The PyPi url to this release is:  https://pypi.org/project/keras/2.8.0/

I will attach a screenShot that s

[2022-01-31 20:18] scottc21 commented on #15988
See attached screenshot of Git history & current labels

![Git_Missing_LABEL_for_2 8 0__to_correspond_to_PyPi_](https://user-images.githubusercontent.com/93684290/151866386-4086a3ac-9e0f-492e-a76f-a69f7d23f1d4.png)

[2022-01-31 23:21] ymodak commented on #15932
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-02-01 00:35] jvishnuvardhan commented on #15855
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-02-01 01:38] qlzh727 commented on #15822
@gcunhase, I was able to reproduce 0.7630 on imagenet2012 validation set with resnet50_v2 on my local colab, so I am not sure what's the issue you are facing (since I can access the data you are using).

From the code snippet you provide, I think the only place that I can think of for error is the preprocessing/resize of the image.

My code to produce the output:
# Note that I have to use batch si

[2022-02-01 03:24] gcunhase commented on #15822
Thank you for your reply @qlzh727 !

We're hoping to use it for fine-tuning, so could you please also try with batch higher than 1? That's the reason we were using resize.

[2022-02-01 04:45] jvishnuvardhan commented on #15964
Similar issue in TF repository https://github.com/tensorflow/tensorflow/issues/47554.

[2022-02-01 10:10] abdulbasitds commented on #11735
stiff facing this issue in tf 2.4+

[2022-02-01 14:24] #15896 closed

[2022-02-01 16:23] Fab16BSB opened #15991 "How i can access to a layer present in a wrapper (Time Distributed layer) ?"
Hi everyone i am new on github.
I am working on mouvement recognition. I train models on images sequence (3D data).
My model is composed of VGG19 include in a Time Distrubuted layer and a GRU model.

Now i would like to perform some visualization about VGG attention (filter extraction, Saliency maps, heatmap, Grad-CAM Class Activation Maps...)
To do that i need the last VGG convolution layer, so i

[2022-02-01 18:11] softwareTR-Can opened #15993 "in classify pred = model.predict_classes([image])[0] AttributeError: 'Sequential' object has no attribute 'predict_classes'"
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\python\lib\tkinter\__init__.py", line 1921, in __call__
    return self.func(*args)
  File "C:\Users\umutc\PycharmProjects\pythonProject2\main.py", line 178, in <lambda>
    classify_b = Button(top, text="Görseli Sınıflandır", command=lambda: classify(file_path), padx=10, pady=10)
  File "C:\Users\umutc\PycharmProjects\pyt

[2022-02-01 18:19] Fab16BSB commented on #15991
distributedLayer = model.get_layer("time_distributed")
subModel = distributedLayer .layer.get_layer("sub_model_name)

[2022-02-01 18:55] qlzh727 commented on #15822
Did a few more experiment with resizing of the image, on resnet v1 and v2:

V1 with batch size 128
image = tf.image.resize(image, [224, 224]) -> 0.7057
image = tf.image. resize_with_pad(image, 224, 224) -> 0.6771
image (resize with same ratio and center crop to 224, 224) -> 0.7432

V2 with batch size 128
image = tf.image.resize(image, [224, 224]) -> 0.6686
image = tf.image. resize_with_pad(image,

[2022-02-01 21:25] Belencostanza opened #15995 "Loss returns nan on GPU"
Hi,

I have an issue running the example network "Simple MNIST convnet" in the keras documentation. My losses are nan when I'm running on GPU nodes in a cluster while in CPU is working fine, I'm using a conda environment with tensorflow 2.4.1 and tensorflow-gpu 2.4.1 .... the keras backend is tensorflow.

I figured out that the problem appears with losses that make the operation tf.reduce_mean. Fo

[2022-02-01 21:44] saddamhijazi commented on #15852
Thank you very much, I will close the issue then.

[2022-02-01 21:44] #15852 closed

[2022-02-01 22:07] jvishnuvardhan commented on #15852
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-02-01 23:26] #15643 closed

[2022-02-01 23:26] #14062 closed

[2022-02-01 23:27] #15191 closed

[2022-02-01 23:27] #15210 closed

[2022-02-01 23:28] #15298 closed

[2022-02-01 23:30] qlzh727 commented on #15822
Found more details after digging some history.

1. From [keras-team/keras-application](https://github.com/keras-team/keras-applications), I think the original weights we got is from the tensorflow/model slim directory. See [this link](https://github.com/tensorflow/models/blob/master/research/slim/nets/resnet_v2.py)
2. On the slim readme.md, there is a fine print for ResnetV2. The key info here is

[2022-02-02 02:12] jvishnuvardhan commented on #15931
@castorgit Can you please verify with `tf-nightly` and close the issue if this was resolved for you? Thanks!

[2022-02-02 02:24] jvishnuvardhan commented on #15995
@Belencostanza Can you please share a simple standalone code to reproduce the issue?  Also, mention which distribution strategies you are using. Add as many details as follows. Thanks!

[2022-02-02 02:30] jvishnuvardhan commented on #15993
@softwareTR-Can Can you please share a simple standalone code to reproduce the issue? I tried running your code but see different error (may be due to some formatting issue). Please either update the attached colab gist or share a *.py file with the code. [Here](https://colab.research.google.com/gist/jvishnuvardhan/fbe82ff043416d0a84b5dc02f572b919/untitled1154.ipynb) is a gist for reference. Thank

[2022-02-02 03:16] dfossl commented on #15939
@fchollet - Sorry for the delay, PR submitted. In checking some of the other metrics I found some other unexpected behaviour. Is it recommended to post an issue first and then PR for those, or just go straight to PR?

[2022-02-02 04:49] kumariko commented on #15984
@preethiseshadri518 Can you please share a simple standalone code to reproduce the issue? Thanks!

[2022-02-02 07:32] kumariko commented on #15978
@burnpanck I tried to reproduce the issue on colab using TF v2.7.0 and tf-nightly but facing different issue .Could you please have a look on the [gist](https://colab.research.google.com/gist/kumariko/a2f2a6f28ca551aaa429c798a4652e72/10474.ipynb#scrollTo=Eo7e6fuVwjOe) and let me know if i'm missing something ?

[2022-02-02 10:08] cevheck opened #16000 "Option for using dropout in the predict phase when using Functional model"
I have recently been working on something that resembles a PINN (cfr Maziar Raissi) and for this I have been combining physical equations with keras Sequential models in a combined Keras.Model(). I would now like to add dropout during inference for bayesian approximation, I am trying to add the training=True argument to the dropout layer.

In another issue (https://github.com/keras-team/keras/issu

[2022-02-02 11:31] burnpanck commented on #15978
It looks like the silent swallowing is fixed in tf-nightly. In particular, neither the exceptions in `from_config` nor in `get_config` are swallowed, but propagated instead. The error you experienced was because `tf.keras.Model` now also seems to implement a bare `get_config`, so the `NotImplementedError` wasn't being raised in the first place. Then the returned config was not suitable for the sub

[2022-02-02 11:37] burnpanck commented on #15978
Re TF 2.7.0, I could reproduce the issue with your gist. Of course, the assert at the end will raise, as an indication of the issue.

[2022-02-02 14:35] AdrianFuchsData commented on #15807
@sushreebarsa
Indeed, if you execute the above code like in the linked google colab document, you do not see much.
The issue becomes visible if we keep track of the memory consumption when saving and loading the model repeatedly.

Save the following python script to `load_and_save_model.py`

    import tensorflow as tf
    import psutil

    # Open the saved model
    model = tf.keras.models.load_

[2022-02-02 16:39] malla007 commented on #8595
This issue still happens and the workaround that @macmatt22 mentioned worked for me. I also used a custom generator while training, hence I too fell into the same issue that @macmatt22 faced. Specifying the batches per epoch in the `__len__` method in the custom generator solves the issue.

[2022-02-02 16:51] AlexanderDewhirst commented on #9001
Facing the same issue.

A multichannel neural net expecting multiple inputs cannot be used with sklearn hyperparameter search methods (GridSearchCV, etc). I have attempted to prefix DF columns and merge into one training object, as well as expand dimensions and join each input under the new dimension. From there, I tried to either use Lambda layers to decompose the resulting object, or convert the

[2022-02-02 17:12] Belencostanza commented on #15995
Here is the code extracted from the keras documentation: https://keras.io/examples/vision/mnist_convnet/

**# Model / data parameters
num_classes = 10
input_shape = (28, 28, 1)

# the data, split between train and test sets
(x_train, y_train), (x_test, y_test) = keras.datasets.mnist.load_data()

# Scale images to the [0, 1] range
x_train = x_train.astype("float32") / 255
x_test = x_test.astype("fl

[2022-02-02 17:37] fchollet opened #16002 "Better `sample_weights` test coverage for Metrics"
It seems that in at least one case in a Metric object, the `sample_weight` argument wasn't being tested. See: #15997 #15939

We should add coverage for `sample_weight` in a systematic manner to the tests for all metrics. Right now it seems we have generic tests for sample weights, but not systematic tests for each specific metrics.

[2022-02-02 18:46] fchollet commented on #15985
Thanks for the suggestion, this is a good idea! Unfortunately it is non-backwards compatible (when a seed is set), we would need to modify the proposal to ensure backwards compatibility.

What API would it have? How would it work?

[2022-02-02 21:01] #15946 closed

[2022-02-03 01:35] haifeng-jin commented on #15976
Summary, new entry cannot be added to `StringLookup`, which is needed for incremental training.

[2022-02-03 01:41] haifeng-jin commented on #15699
It should have been fixed in TF 2.8.0.
Please comment on this issue if it still exists.

[2022-02-03 01:50] haifeng-jin commented on #15967
@PeterPirog Thanks for the issue.
I suggest you to go [these places](https://keras.io/about/#support) for help.
Here is only for bug reports and feature requests.

[2022-02-03 01:50] #15967 closed

[2022-02-03 02:00] haifeng-jin commented on #15964
Summary: unexpected long warning messages with LSTM when saving the model.
Verified with TF nightly:
https://colab.research.google.com/drive/1vuGwbaA9lXDnmuLUv3CvGONOOKllKa2D?resourcekey=0-7wqko2DJyKWPyiEPVo2YCg&usp=sharing

[2022-02-03 02:32] haifeng-jin commented on #15972
Summary: The tensorboard callback doesn't print activation histograms. The solution is either change the docs or fix this bug.

[2022-02-03 04:41] haifeng-jin commented on #15810
summary: what is the most elegant way to pad sequences with to max len of each batch instead of the global max len.

[2022-02-03 04:45] AdityaKane2001 commented on #15985
@fchollet

Thanks for the reply! Please let me know your thoughts on the following.

Keep `image_dataset_from_directory` as it is to ensure backwards compatibility. Declare a new function to cater this requirement (its name could be decided later, coming up with a good name might be tricky).

Please take a look at the following existing code:

https://github.com/keras-team/keras/blob/b4dca51d0558e

[2022-02-03 04:48] haifeng-jin commented on #12803
Summary: The `ModelCheckpoint` would save the model after the first epoch regardless of if the model has improved or not because it is always comparing with the initial `val_loss`, which is set to `inf`, even if the model was loaded from disk and has good performance.

[2022-02-03 05:14] qlzh727 commented on #15988
Done. Create Keras 2.8 release with tag at https://github.com/keras-team/keras/releases/tag/v2.8.0

[2022-02-03 05:14] #15988 closed

[2022-02-03 05:39] sayakpaul commented on #15810
@haifeng-jin,

@Nilabhra and I have worked on a series of blog posts that discuss this issue in detail and propose different solutions. We haven't yet published those blog posts (pending approval from the company). As soon as they are published we will let you all know here.

[2022-02-03 05:41] Daddycool9999 commented on #14877
Facing same problem.

Training set size (sample size) : Around 150 million
Initialization time : Around 5-6 hrs
Training time (After initialization) : Around 2 hrs

[2022-02-03 06:11] sushreebarsa commented on #14093
@ririya
We see that you are using old version of tensorflow 1.x  which is not actively supported, we recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Batch size is often specified per GPU ,please refer [this](https://www.tensorflow.org/guide/distributed_training) link.
Please open a new issue in case you face any errors with detail i

[2022-02-03 06:28] sushreebarsa commented on #14179
@mohamed199215
We see that you are using old version of tensorflow 1.x  which is not actively supported, we recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please refer the [migration](https://www.tensorflow.org/guide/migrate) guide.
Please open a new issue in case you face any errors with detail information, we will get you the rig

[2022-02-03 06:36] gcunhase commented on #15822
@qlzh727 Thank you so much for investigating this issue!!

I am now able to get 74.15% accuracy with `resize` and 75.36% with `cental_crop` if I load the model as follows:

[code]

Can you please confirm if this is the correct way to load the model with a different input shape?

[2022-02-03 09:45] Cheril311 commented on #16000
@cevheck can you please provide your code snippet ?

[2022-02-03 12:21] cevheck commented on #16000
@Cheril311 Unfortunately I cannot share my code. The following lines show a simplified version of what I mean.
NNmodel = tensorflow.keras.Sequential()
NNmodel.add(tensorflow.keras.layers.Dense(32, activation='relu'))
NNmodel.add(tensorflow.keras.layers.Dropout(rate=0.2, training=True))
NNmodel.add(tensorflow.keras.layers.Dense(1))
output = 1 + 2*(inputs) + NNmodel(inputs)

model = tf.keras.Model(i

[2022-02-03 12:33] yhpeng6 opened #16004 "Feature/documentation request: Point cloud transformer"
TensorFlow version (you are using): TensorFlow version: 2.7.0

Describe the feature clearly here. Be sure to convey here why the requested feature is needed. Any brief description about the use-case would help.
The [point cloud transformer](https://github.com/MenghaoGuo/PCT) and [point transformer](https://github.com/qq456cvb/Point-Transformers) are effective method to get the global or local feat

[2022-02-03 12:44] AmitMY commented on #15210
Hi @chenmoneygithub may I know the aftermath of this?

[2022-02-03 18:02] Chizkiyahu opened #16006 "Error in tf.keras.models.load_model when using tf.constant"
- OS Platform and Distribution: **Ubuntu 20.04.3 LTS**
- TensorFlow installed from **binary**
- TensorFlow version
**v2.7.0-rc1-69-gc256c071bb2 2.7.0**
**tf-nightly 2.9.0.dev20220203 v1.12.1-70881-g7fdd40dab9a**
- Python version: **3.8.11**
- GPU : **no GPU**
[**Colab code and errors** ](https://colab.research.google.com/drive/1YRsS_NQgD0CqUe5pcDelDMBA69Lnd3Bz?usp=sharing)

**Describe the problem*

[2022-02-03 18:22] haifeng-jin commented on #15985
This also applies to `text_dataset_from_directory` and `timeseries_dataset_from_directory`.

[2022-02-03 18:28] haifeng-jin commented on #15972
This should have been fixed. Please reopen if it is not.

[2022-02-03 18:28] #15972 closed

[2022-02-03 18:31] haifeng-jin commented on #15964
@qlzh727 @k-w-w @hertschuh

[2022-02-03 18:38] #15699 closed

[2022-02-03 18:50] qlzh727 commented on #15822
Yea, you can do that. We are actually planning to fix the weights, so that user don't have to change their client side code (eg reshape their input pipeline), so you solution should work for now, but might need to change back when we update weights.

We will post any fix in this issue.

[2022-02-03 19:42] jvishnuvardhan commented on #16000
@cevheck Are you trying to use a Sequential model or a Functional Model? As you cannot your code, can you use some public model and show us what is the problem you are facing? For example, take this tutorial https://www.tensorflow.org/guide/keras/functional and update according to your application.

In recent TF/Keras versions, model automatically infer `training=True` when you call `model.fit` or

[2022-02-03 21:08] bersbersbers commented on #15972
@haifeng-jin may I ask where I can see the change? Did you update the docs or implement the functionality?

I don't see any commit on https://github.com/keras-team/keras/commits/master, and https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard (which has been updated for TB2.8.0) still mentions "Activation histograms".

[2022-02-03 22:11] gdudziuk commented on #15887
Not stalled. I will try the custom training loop next week.

[2022-02-04 00:33] LanceNorskog commented on #4875
@popkristina Yes, this is the problem I found a long time ago. Python deliberately makes sets and dictionaries use randomized orderings per creation, because it is so easy to write code that accidentally depends on the enumeration order of a particular set or dict.

Keras now has text 'preprocessing' layers to do this enumeration in a way that saves the enumeration order into the model.

[2022-02-04 02:02] wangpengmit commented on #15655
`StatelessRandomUniformV2` requires the inputs `shape` and `alg` to be compile-time-constant on XLA ([code](https://github.com/tensorflow/tensorflow/blob/18a9815b0b7b317d54aa2af75370be63cbad5a88/tensorflow/compiler/tf2xla/kernels/stateless_random_ops_v2.cc#L257-L258)). I haven't looked at this bug closely to see why `shape` or `alg` is a dynamic tensor here (as opposed to a constant). Will look cl

[2022-02-04 03:50] aliencaocao commented on #15813
I do not understand. If other models work with the same dataset but the efficient net will not, why is this behaviour normal and not a bug? Even if you said the normalization layers are different, it should not be affecting in a way that is reliably reproducible and produces exactly same behaviour of validation accuracy stuck at 50% sharp.

I have tried freezing the effecient net model, still same

[2022-02-04 07:41] faikozcan opened #16011 "plot_model gives error when using the Functional API and adding custom loss"
I am trying to implement a variational autoencoder. I am using google colab as environment.
The code sample shown in this page: https://www.tensorflow.org/guide/keras/custom_layers_and_models#the_model_class
at part "Beyond object-oriented development: the Functional API" .

The loss function is added as following:
`        kl_loss = -0.5 * tf.reduce_mean(z_log_var - tf.square(z_mean) - tf.exp(z_l

[2022-02-04 07:48] cevheck commented on #16000
@jvishnuvardhan As you can see in the code I posted in my previous comment I am using both. I'm writing a Functional Model (I believe it's called that way anyways) the tf.keras.model(...), which is using an equation where a single term is predicted using a sequential neural network.

[2022-02-04 08:03] ashwinshetgaonkar commented on #15699
Yes issue is resolved with 2.8

[2022-02-04 15:29] SouthBay1005 commented on #10877
so if I use the tensorflow-cpu, is there an effective way to solve the problem?

[2022-02-04 19:34] Belencostanza commented on #15995
I already resolved the problem when I installed specific versions with:

$ conda create --name gpu-c11.2 -c conda-forge tensorflow-gpu matplotlib cudatoolkit=11.2

cudatoolkit 11.2.2 he111cf0_10 conda-forge
python 3.9.10 h85951f9_2_cpython conda-forge
tensorflow 2.6.2 cuda112py39h23446aa_2 conda-forge
tensorflow-gpu 2.6.2 cuda112py39h0bbbad9_2 conda-forge
keras 2.6.0 pyhd8ed1ab_1 conda-forge
cudnn

[2022-02-04 19:34] #15995 closed

[2022-02-04 23:07] roebel opened #16013 "Inconsistency between eager and graph mode (TF25, TF26, and T27)"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-02-05 03:46] aviatorBeijing commented on #3269
0.5 for the dropout might be too high. Try reduce the dropout to 0.2~0.3.

[2022-02-05 04:02] markub3327 opened #16015 "FIFOQueue as a part of custom layer"
Hello,

   I need a queue as a part of my custom input layer in Transformer for Short-term memory purposes. I need to store the coming features "in first in first out" manner and remove the oldies features when it's full and clean all content if it's needed. I see [here](https://www.tensorflow.org/api_docs/python/tf/queue/FIFOQueue) something like that for working with Tensor, but is it a good cho

[2022-02-05 04:40] dfossl commented on #15939
#15997 corrected this issue.

[2022-02-05 04:40] #15939 closed

[2022-02-05 14:16] dlfrnaos19 commented on #15655
same issue

[2022-02-06 00:07] akborhossain commented on #2702
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  app.launch_new_instance()
Epoch 1/30
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
[<i

[2022-02-06 10:49] bhaveshneekhra commented on #10806
I know one use can be using Checkpoint and CheckpointManager tensorflow classes to save and resume training the GAN.

I am looking for a way to save the Generator (G) , Discriminator(D) and their optimisation states such that I can manipulate the model weights (for G and D). One use case for me is average the weights of different Generator in Federated Learning for GAN.

Does someone know a way?

[2022-02-06 11:03] ghylander opened #16016 "model.fit() bug when using a zipped Dataset as input for a multiple-input model"
("Cross-post" of https://github.com/tensorflow/tensorflow/issues/54271)

**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.9.0.dev20220202
- Python version: 3.10

[2022-02-06 17:14] niranjankrishna-acad commented on #16004
@yhpeng6 I'm gonna start working on the Point Cloud transformer

[2022-02-07 09:42] johanbluecreek opened #16017 "Unintuitive error in learning rate type when saving then loading weights after further fitting"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.3 LTS (or the colab-env)
- TensorFlow installed from (source or binary): binary (through pip) (or the colab-env)
- TensorFlow version (use command below): 2.7.0
- Python version: 3.8.10 (or the colab-env)
-

[2022-02-07 11:30] yhpeng6 commented on #16004
Very thanks for your consideration!

[2022-02-07 18:59] jvishnuvardhan commented on #14838
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-02-07 19:17] haifeng-jin commented on #15972
@bersbersbers Do you reproduce it in TF-nightly? The commit should be sometime ago. This was from the team member who handled this.
If so, you can create a Colab notebook, which can show tensorboard in it.
Thanks

[2022-02-07 19:49] sara-02 commented on #15964
Update, if I am not running any callbacks to save the model, the warning does not occur when running normal `model.fit`.

[2022-02-07 20:06] bersbersbers commented on #15972
@haifeng-jin I am getting errors with TensorBoard on `tf-nightly` (ValueError: Duplicate plugins for name projector), so I cannot test it there. The code that reproduces the issue on TF/TB2.8.0 with `keras-nightly` (I guess this is the important nightly part) is this:

[code]

And then there's weight histograms, but not activation histograms, just like 1.5 years ago.
![image](https://user-images.g

[2022-02-07 22:21] alternativebug opened #16019 "memory leak following `model.fit()` for tf 2.7, 2.8, 2.9 (nightly), works fine for 2.5"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: custom code
- OS Platform and Distribution: Ubuntu 18 (google colab)
- TensorFlow

[2022-02-08 07:17] swpper opened #16022 "What is 'will be cast to bool' mean?"
Hello, I am using tf.keras.metrics and confuse with the annotation for y_true in the source code:
[code]
What is the meaning of Will be cast to bool? I want to see the precision of each step, does it means that I can use it on a float regression model output(0~1) and it will change it to 0 or 1 by threshold both for y_true and y_pred? But the demo below shows a different case. There seems exists a

[2022-02-08 08:43] yangw1234 opened #16023 "Model does not converge after saving and loading"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7.10
- Bazel version (if compiling from source):
- GPU model and memory: cpu
- Exact comman

[2022-02-08 08:44] yangw1234 commented on #16023
It seems we cannot call `model.save()` before calling `model.fit`.

[2022-02-08 12:14] chunduriv commented on #16023
Here `model.fit` trains the model for a fixed number of epochs  on a dataset. We should use `model.save` to save the model to Tensorflow `SavedModel` or a single `HDF5` file after training. Thanks!

[2022-02-08 16:58] Portia-dot commented on #8838
Pycharm 2022 still has the same bug >>>>> Do yall have any working solution I'm kinda stuck.

[2022-02-08 20:00] hertschuh commented on #15964
There are three separate problems described in this issue:

1. The `Found untraced functions such as ...` warning. I tested with earlier versions of Tensorflow and Keras (2.6.2 and 2.6.0) and the warning was already there. I believe it has to do with some internal management of functions but does not constitute any change between 2.6.2 and 2.7.

2. The `<keras.layers.recurrent.LSTMCell object at .

[2022-02-08 21:00] sachinprasadhs commented on #16022
Could you please link to the code which you have mentioned, When checking the metrics update_state for TruePositives I see below details https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/metrics.py#L1060-L1072

[2022-02-09 00:01] fchollet commented on #15985
What we could do here for backwards compatibility is add a possible string value for `subset`: `subset="both"`, which would return both the training and validation datasets. Does that sound acceptable?

In addition, I agree it would be useful to have a utility in `keras.utils` in the spirit of `get_train_test_split()`. Let's call it `split_dataset(dataset, split=0.2)` perhaps? It could take either

[2022-02-09 00:22] sachinprasadhs opened #16029 "Unable to restore a layer of class TextVectorization - Text Classification"
**Moving user issue from:** https://github.com/tensorflow/tensorflow/issues/45231

**Describe the problem**.

**When I run the example provided by official tensorflow Basic text classification, everything runs fine until model save. But when I load the model it gives me this error.

RuntimeError: Unable to restore a layer of class TextVectorization. Layers of class TextVectorization require that t

[2022-02-09 00:25] haifeng-jin commented on #15985
I think it is a good solution.
How do we warn the user when the `tf.data.Dataset` doesn't fit into the memory and takes a long time to use after split?

[2022-02-09 00:33] sachinprasadhs commented on #16029
Attaching the gist with reproducing error [here](https://colab.research.google.com/gist/sachinprasadhs/ae7f04984ab32dc6f7f0473f82491c32/44199.ipynb).

The reported error can be avoided by registering the class with `@keras.utils.register_keras_serializable()` [here](https://colab.research.google.com/gist/sachinprasadhs/9471d05206aa1c206584c33a9d5d598f/44199.ipynb) is the working gist.

However, th

[2022-02-09 00:48] yangw1234 commented on #16023
Hi @chunduriv , I understand how `mode.fit` and `model.save` works. **I am here to report a bug.**

If I understand correctly, adding the following two lines will not affect the model's state.
[code]

However, the current behavior is adding the above two lines will cause a model not to converge.

You can easily reproduce the problem by running the code I posted.

[2022-02-09 04:00] hoangtnm opened #16030 "Customize what happens in Model.fit with multi-output model and metrics"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): conda-forge
- TensorFlow version (use command below): 2.7
- Python version: 3.7

**Describe the problem**.

I'm trying to write custom Model.fit according to [TF d

[2022-02-09 04:28] #15941 closed

[2022-02-09 04:54] AdityaKane2001 commented on #15985
@fchollet

Thanks a lot for the comprehensive answer. Following are my thoughts on the same. Please let me know what you think.

Sounds great. However, I would also like to bring up that we can also have the possibility to provide train, val and test splits of the dataset. The user can ask for `(train, val)` splits or `(train, val, test)` splits. Please share your thoughts on this.

I have two thi

[2022-02-09 05:28] #15936 closed

[2022-02-09 07:07] reza-amd opened #16033 "Can not run all Keras tests successfully."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 20.04.3 LTS**
- TensorFlow installed from (source or binary): **Got the TF docker container tensorflow/tensorflow:2.8.0-gpu**
- TensorFlow version (use command below): **v2.8.0-rc1-32-g3f878cff5b6 2.8.0**
- P

[2022-02-09 07:17] ghylander commented on #16030
metrics are not returned as a dict by default, you have to use the `return_dict=True` argument when doing model.evaluate()
[check the tf.keras.model docs](https://www.tensorflow.org/api_docs/python/tf/keras/Model#evaluate)

[2022-02-09 07:22] hoangtnm commented on #16030
@ghylander I mean I want to customize how `model.fit` by implementing `model.train_step` manually:

[code]
As you can see, `self.compiled_metrics.update_state` assumes multiple complied_metrics will use the same `y, y_pred` as input, which doesn't work for multi-output model using multiple losses and metrics for each output.

[2022-02-09 07:39] ghylander commented on #16030
I see, thanks for the clarification, I didn't understand your question

I don't have experience with multi-output models with each ouput having different metrics, but having a look at this [keras guide on how to build a training function from scratch](https://keras.io/guides/writing_a_training_loop_from_scratch/#lowlevel-handling-of-metrics), I would try to instantiate the metrics for each ourput,

[2022-02-09 08:06] hoangtnm commented on #16030
@ghylander implementing custom training_loop scratch can solve the problem easily, but I aim to leverage `train_step` so that I can use `model.fit`, which is cleaner and easier to maintain.

[2022-02-09 08:55] sara-02 commented on #15964
@hertschuh I need to check this part as I was running callbacks in my model.fit and I am also using the custom CRF code. Let to fine-grain the components and revert.

[2022-02-09 09:29] mazimiucc opened #16035 "ImportError: cannot import name 'AtrousConvolution2D'"
from keras.layers import AtrousConvolution2D
ImportError: cannot import name 'AtrousConvolution2D'

keras 2.6.0
tensorflow 2.6.2
gpu

[2022-02-09 10:50] negvet commented on #15783
Another possible workaround is to use `tf.keras.layers.Lambda(einsum_fn)`, where
[code]

[2022-02-09 11:43] old-school-kid commented on #16035
Hi @mazimiucc
There is no such layer as AtrousConvolution2D under Keras. Instead you can use the `dilation_rate` parameter under Conv2D layer.
Hope this helps!

[2022-02-09 11:58] #16035 closed

[2022-02-09 12:50] ghylander commented on #16030
check [this](https://keras.io/guides/customizing_what_happens_in_fit/) out
seems to be more in line with what you want

[2022-02-09 13:01] swpper commented on #16022
Hello @sachinprasadhs
What I mentioned is below at `tf.keras.metrics.Precision`

https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/metrics.py#L1394

Lately, I learned that the metrics like `Truepositives` directly treat the values in `y_true` as category labels. But the metrics calculated based on `truepositive` and the other three like `Precision` will change

[2022-02-09 13:22] bhaveshjb79 opened #16036 "my loaded keras model giving same output to every input in my project file"

[2022-02-09 13:29] #16036 closed

[2022-02-09 14:40] AdityaKane2001 opened #16037 "Multi-input model cannot be saved using `.h5` format when using pretrained backbone"
**Describe the problem**.
I am using a multi-input single output model with `ResNet50V2` as the backbone. However, when I try to save it using the h5 format, it errors out. The reason is both backbones have layers of the same name. However, `ResNet50V2` has no option of adding a name extension, which prevents the user from changing layer names.

**Describe the current behavior**.
See [gist](https:

[2022-02-09 15:28] #15912 closed

[2022-02-09 16:34] sushreebarsa commented on #16037
@jvishnuvardhan Was able to reproduce the issue on colab using TF v2.8.0 and tf-nightly(2.9.0.dev20220209) ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/5dd4d2ae55d0e8426293be9aa3f98136/saving_issue.ipynb#scrollTo=-Ru10Pqp3Ryr) for reference.Thanks!

[2022-02-09 16:36] AdityaKane2001 commented on #16037
@sushreebarsa

The notebook is not opening:
![image](https://user-images.githubusercontent.com/64411306/153246293-80660f2b-eac9-4a28-8107-6e1045dcc6e7.png)

[2022-02-09 16:41] sushreebarsa commented on #16037
@AdityaKane2001 Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/5f74bb70ffeaeedfa68e76f57ab1d0af/saving_issue.ipynb),Thanks!

[2022-02-09 16:59] AdityaKane2001 opened #16039 "Models in `tf.keras.applications` should have provision for custom naming"
See #16037. The error is caused because the user cannot assign custom name to the layers from models from `tf.keras.applications`. I am opening this issue to rectify that.

If it is okay, I would like to open a few PRs adding a minor naming system to all the models, as in RegNets [(1)](https://github.com/keras-team/keras/blob/461199818c6777061411eb12ae33f1576dfcfb21/keras/applications/regnet.py#L3

[2022-02-09 20:35] hertschuh commented on #15964
@StevenHuang2020, about 3 (the fact that the model doesn't train as well on 2.7.0 as it did on 2.6.2), it turns out that this is a side effect of [this change](https://github.com/keras-team/keras/commit/cc91cef921e7ac542ff056122570e4e0b0518b21). Basically, Keras no longer automatically uprank inputs and targets if they're only 1-dimensional. On 2.7.0, it causes the model to train against targets t

[2022-02-10 00:33] alternativebug commented on #16019
I was able to fix the problem by refactoring my code and I'll close this issue since I'm not sure whether it's relevant anymore .

[2022-02-10 00:33] #16019 closed

[2022-02-10 01:28] #15843 closed

[2022-02-10 07:30] ghylander commented on #16016
The code I posted is executable top to bottom (given you meet the dependency, tensorflow). While it uses the cats and dogs tensorflow dataset, it mimics exactly my real code, down to the same error with model.fit()

The error I get after the last line is:

[code]

Regarding what the train_dataset_zip object returns, this code:
[code]
returns:
[code]
and this code:
[code]
returns:
[code]
Both metho

[2022-02-10 07:52] ghylander commented on #16016
While I'm at this, I'd also like to inquire about using individual datasets, instead of a zipped one

I tried to do:
[code]
but I get this error:
[code]
If I try to use a dict with the name inputs instead:
[code]
I get:
[code]
I'm confused as to why I get these errors, only thing I can think about is unability of handling Dataset objects nested in the list or dict

[2022-02-10 12:40] nihayahzahra opened #16041 "Found input variables with inconsistent numbers of samples: [3070, 6140]"
first, I divide data like this, I reshape it because before it was an error like this "logits and labels must have the same shape ((?, 1) vs (?,2))"

[code]

after that, I want build model BiLSTM.
[code]
After that, I want to know word embedding layer.
[code]
But when I want to know the confusion matrix, I have an error.
[code]
What could be going wrong?

[2022-02-10 13:28] #15897 closed

[2022-02-10 14:28] #15917 closed

[2022-02-10 18:09] LukeWood commented on #16015
It may be better to write a low level custom training loop than a custom layer for this.

[2022-02-10 18:10] LukeWood commented on #16015
You may also want to use the `tf.TensorArray` API to implement this.  It has better support for random access/writing.

[2022-02-10 18:10] #16015 closed

[2022-02-10 18:13] LukeWood commented on #16013
Notes from triage: ideally this code should not exists.  It is a workaround to a known bug, but it may have been fixed.  If not, the code can be updated.

[2022-02-10 18:14] chenmoneygithub commented on #15980
Hi, thanks for reporting the issue! Generally Flatten() will destroy the mask, because it no longer maintains the sequence dimension. Can I ask why you need to keep mask after calling Flatten()?

[2022-02-10 18:25] markub3327 commented on #16015
@LukeWood

The custom training loop cannot be used during deploying the model to the embedded device for measuring time-series sensor data that comes in one-by-one order. During training is an issue only with the number of batches. The example above works with only one batch on the layer output.

This layer transforms data during inference also training !!!

Thanks for the help, I'll try `tf.Tenso

[2022-02-10 19:17] jvishnuvardhan commented on #15813
@aliencaocao `EfficientNetB0` architecture has builtin normalization layers, so we don't need to normalize the inputs as you did in the following part of the code. So, if you removed the normalization, then everything works as expected.

[code]

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/e226a9db905b57304b92b1187935e619/untitled1151.ipynb). Thanks!

[2022-02-10 20:28] #15348 closed

[2022-02-10 22:00] ymodak commented on #15306
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-02-10 22:45] roebel commented on #16013
Thanks for the info. I am happy to hear that my implementation was not doing something unsupported. In the meantime, I have worked around the consequences of the bug fixing  work-around. So I am not in a hurry. It might be good for others if the work around would no longer be  needed or be fixed. In any case, thanks for the great package!

[2022-02-10 23:04] #15813 closed

[2022-02-11 01:40] markub3327 commented on #16015
@LukeWood

 Please how can I replace effectively `self.queue.assign(tf.concat([self.queue[timesteps:, :], inputs], axis=0))` with methods of `tf.TensorArray`?

[2022-02-11 02:33] lauraht commented on #15980
Hello!
Thank you for your response!

Actually, I need to keep the mask after calling the `TimeDistributed(Flatten())` rather than the standalone `Flatten()`.

My inputs are DNA sequences with variable lengths (each base is a “timestep”). For each timestep (i.e. base), I also use the 5-bases’ segment before the current base as a feature. So this is a hierarchical time series problem. This is kind o

[2022-02-11 06:27] #15705 closed

[2022-02-11 06:29] LukeWood commented on #16013
Looking in the code base this looks like it was already removed recently.  Perhaps in the next release this will be fixed?

[2022-02-11 08:12] NevilShingala opened #16047 "ResourceExhaustedError:"
ResourceExhaustedError: OOM when allocating tensor with shape[5,64,4890,4890] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
[[node sequential/conv2d/Relu
(defined at /usr/local/lib/python3.7/dist-packages/keras/backend.py:4867)
]]
Below is my code:
from google.colab import drive

drive.mount('/content/drive')

import tensorflow as tf
from keras.layers import

[2022-02-11 08:16] NevilShingala commented on #16047
https://drive.google.com/drive/folders/1mSf0DbYrA07oWdz2Fwreh4EbAaKIOl5Z?usp=sharing

[2022-02-11 15:47] krafczyk opened #16048 "Tensorflow accesses .hdf5 weights file after it's been loaded"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux - Redhat 7.9
- TensorFlow installed from (source or binary): binary (conda)
- TensorFlow version (use command below): On all versions from 2.2 to 2.7 (2.7.0 for the latest)
- Python version: 3.8
- Bazel version (if

[2022-02-11 17:45] fchollet commented on #15985
The corresponding sklearn utility seems very widely used, and this is a use case that has come up often in keras.io code examples. If we cover both numpy use cases and tf.data use cases, it should be useful to our users. In the tf.data case, due to the difficulty there is in efficiently slicing a Dataset, it will only be useful for small-data use cases, where the data fits in memory. This will sti

[2022-02-11 17:47] fchollet commented on #15985
This is something we had initially considered but we ultimately rejected it. A single validation_split covers most use cases, and supporting arbitrary numbers of subsets (each with a different size) would add a lot of complexity. For such use cases, we recommend splitting the test set in advance and moving it to a separate folder.

[2022-02-11 17:55] AdityaKane2001 commented on #15985
@fchollet

I see. In that case, I'll go for a publicly usable `get_train_test_split()` supporting list, arrays, an iterable of lists/arrays and tf.data.Dataset as you said.

After that, I'll work on changing the `image_dataset_from_directory` aligning with that. Will this be okay?

[2022-02-11 23:12] fchollet commented on #15985
Sounds great -- thank you. About the first utility: what should be the name and arguments signature?

[2022-02-12 00:43] Suzan009 opened #16053 "keras-io build failed on windows 10"
Posted [here](https://github.com/keras-team/keras-io/issues/797), no response.

I tried to buikd keras-io on windows 10 machine.

[code]

But when I run `python autogen.py make`

[code]

[2022-02-12 03:56] AdityaKane2001 commented on #15985
@fchollet

I was thinking `get_train_test_split()`. How about the following:
[code]

To be honest, I have not yet worked out the details of this implementation, so I'll do that first before moving on. My primary concern is the speed.

[2022-02-12 07:26] bersbersbers commented on #15972
Thanks. For the record, I had previously missed the fix to the documentation in [2ba6dea](https://github.com/tensorflow/tensorflow/commit/2ba6dea0d91bce201a6a251b7dcdbb27e440c72a), hence my confusion.

[2022-02-12 09:21] hotchipsveg opened #16055 "Generalize timeseries_dataset_from_array to allow sampling from multiple arrays"
**System information**.

TensorFlow version (you are using): 2.8.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

I have a dataset consisting of time series for multiple stocks and need to draw sample windows from all of them simultaneously. The current implementation only allows drawing from a single time series.

**Will this change the

[2022-02-12 12:03] gdudziuk commented on #15887
I have checked that the issue is still there in TF 2.8 with Python 3.8.

[2022-02-12 12:30] gdudziuk commented on #15887
Now, let me answer @rchao's questions.

First, yes, this is a regression from previous versions. As stated in the initial post of this issue, the issue first occurred in `2.0.0-rc0`. In TF `1.x` and pre-releases `2.0.0-a0`, `2.0.0-b0` or `2.0.0-b1` everything was fine.

Interestingly, in TF `2.2` the situation changed a bit for numpy-based data, but not for tf Datasets (see the section "A bit of h

[2022-02-12 12:40] gdudziuk commented on #15887
The code with the custom training loop:

[code]

[2022-02-12 12:45] gdudziuk commented on #15887
And the output is below. The memory usage is slightly lower than with `model.fit` (compare to the results posted in tensorflow/tensorflow#40942) but still ca. 2x the data size.

[code]

[2022-02-14 06:12] jinzhuer commented on #14440
It seems there is a new way to use multi GPU to train in the latest keras. A code example I found
[https://keras.io/guides/distributed_training/](url)

    strategy = tf.distribute.MirroredStrategy()

    print('Number of devices: {}'.format(strategy.num_replicas_in_sync))

    with strategy.scope():

        model = Model(...)

        model.compile(...)

[2022-02-14 08:09] dalbertweiss opened #16057 "Tensorflow gradient tape returns exploding gradient model.trainable_variables"
Dear Tensorflow-Team,

I currently facing problems when using ```gradientTape``` facing exploding gradients. I have no problem when using tensorflows inbuild ```fit``` function. Based on the MNIST dataset my code looks the following:

[code]

This problem also persists when using another trained model.

Here are my system specifications:
- Windows
- Tensorflow installed from source  (version 2.7.0

[2022-02-14 12:42] chunduriv commented on #16023
@yangw1234,

Generally [model.save](https://www.tensorflow.org/api_docs/python/tf/keras/Model#save) will save a model's architecture, weights and training configuration in a single file/folder.

Here to get correct values after loading the model, can you configure the model for training before `model.fit` as shown below

[code]

Please refer attached [gist](https://colab.research.google.com/gist/c

[2022-02-14 15:14] FalsoMoralista opened #16059 "Unable to use keras.layers.Normalization on multiple GPUs"
### Enviroment
I am using tensorflow 2.7.0 with python 3.8.10, linux cluster with multiple gpus.

### Context
I am trying to use a normalization layer as demonstrated in load model code below:
The code works normally as expected when removing the tf.keras.layers.Normalization layer or when I use 1 or 2 GPUs, although when i try to use 4 GPUs the error below occurs. Therefore i discard any problem

[2022-02-14 18:37] hertschuh commented on #15964
@StevenHuang2020 removing `return_sequences=True` makes it so that it defaults to `False`, and then the output of the LSTM layer has one less dimensions. This removes the dimensions mismatch between the output and the training targets. See the model summaries:

with `model.add(LSTM(100, return_sequences=True, input_shape=(1, look_back)))`
[code]

with `model.add(LSTM(100, input_shape=(1, look_back

[2022-02-14 19:09] shMotaharpour opened #16062 "Raised error when log_cosh loss function used with ragged Tensor"
**System information**.
I used Google Colab
TensorFlow version with:
v2.7.0-0-gc256c071bb2 2.7.0

**Describe the problem**.

To use the function LogCosh in RNN networks as error function, but this function does not accept the ragged tensor.

**Describe the current behavior**.
It raise ValueError

**Standalone code to reproduce the issue**.

loss = tf.keras.losses.LogCosh(reduction='none', name='lo

[2022-02-14 23:57] carlosplanchon opened #16066 "TypeError: You are passing KerasTensor... Keras Functional model construction only supports TF API calls..."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): I have worked always on the top of the tf.keras API
- OS Platform and Distribution: Arch Linux x86_64, Kernel 5.16.8-arch1-1
- TensorFlow installed from (source or binary): binary (by using pip)
- TensorFlow version (I got the version manually): 2.9.0-dev20220214 (v1.12.1-71397-gbc1

[2022-02-15 02:16] yangw1234 commented on #16023
Thanks @chunduriv , I see what you are saying, but I have one more questions.

Will the `model.compile` line in your example overwrite the optimizer states saved by `model.save`?

[2022-02-15 02:17] wookayin commented on #11637
I guess this has been closed due to inactivity for 2+ years. However, even in 2022 with the recent version of tensorflow (2.8.0), this **bug** still presents.

Nothing but just a single line of `with tf.device('/cpu:0'): pass` will allocate some small portion of GPU memories, which doesn't get released. Does anyone have any idea why this happens?

[2022-02-15 06:09] yangw1234 commented on #16023
@chunduriv actually, it seems calling `model.save` itself will **also** make the current model not converge.

![image](https://user-images.githubusercontent.com/10561966/154002790-20c4249d-ef90-41e8-81bd-8c1be8bca5e8.png)

[2022-02-15 06:51] yangw1234 commented on #16023
I opened a pr to fix this issue #16069

[2022-02-15 09:32] yhpeng6 opened #16070 "Feature/documentation request: Temporal Fusion Transformers for Time Series Forecasting"
TensorFlow version (you are using): TensorFlow version: 2.7.0

Describe the feature clearly here. Be sure to convey here why the requested feature is needed. Any brief description about the use-case would help.
The [Temporal Fusion Transformers for Interpretable Multi-horizon Time Series Forecasting](https://arxiv.org/abs/1912.09363) and [point transformer](https://github.com/qq456cvb/Point-Transf

[2022-02-15 09:53] yangw1234 commented on #16023
I think the root cause is here:
https://github.com/keras-team/keras/blob/master/keras/saving/saving_utils.py#L326.

Here it uses `model.outputs` as the target to build metrics. In the build logic, however, the target shape is used to determine the right kind of accuracy (see [here](https://github.com/keras-team/keras/blob/master/keras/engine/compile_utils.py#L546-L569)). As a result, the wrong acc

[2022-02-15 10:53] tilakrayal commented on #16041
@nihayahzahra ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-02-15 11:03] tilakrayal commented on #16047
@NevilShingala ,
Can you please take a look at this [SO link](https://stackoverflow.com/questions/46066850/understanding-the-resourceexhaustederror-oom-when-allocating-tensor-with-shape) and [issue](https://github.com/tensorflow/tensorflow/issues/16768) with the similar error.It helps.Thanks

[2022-02-15 11:05] tilakrayal commented on #16048
@jvishnuvardhan ,
I was able to reproduce the issue in tf v2.5, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/56e11b6f728e3449c61a90a9c1a6456a/untitled214.ipynb).

[2022-02-15 11:06] tilakrayal commented on #16055
@hotchipsveg ,
Can you please share a reproducible code that supports your statement so that the issue can be easily understood? Thanks!

[2022-02-15 12:55] himanshurawlani commented on #5273
Is it possible in 2020?

[2022-02-15 15:26] hotchipsveg commented on #16055
In the code below, I'm getting time series of stock returns for 3 different symbols from yahoo finance. With the current implementation, I can only sample from 1 series at a time. With the proposed change, I can do:

`dataset = timeseries_dataset_from_array([*data.values()], None, 5, multi_array=True)`

and get batches that mix samples from all 3.

from datetime import datetime as dt
import yfinan

[2022-02-15 15:55] kumariko commented on #15986
@[sachinprasadhs](https://github.com/sachinprasadhs) Was able to reproduce the issue on [CPU](https://colab.research.google.com/gist/sushreebarsa/1a275cab75aa455b7a098c122867883b/15986.ipynb#scrollTo=Bb30xcP5on2M) and [GPU](https://colab.research.google.com/gist/sushreebarsa/f8ad6dd40b4a828b7838d2685fd82065/15986.ipynb) please find the gist attached.Thanks!

[2022-02-15 16:58] code-review-doctor opened #16072 "Some tests misusing assertTrue for comparisons"
`assertTrue` is not for comparing arguments, should use `assertEqual` for that.

The developer's intent of the test was to compare argument 1 with argument 2, which is not happening. Really what is happening is the test is passing because first argument is truthy. The correct method to use is assertEqual. [more details](https://codereview.doctor/features/python/best-practice/avoid-misusing-unittes

[2022-02-15 18:33] Anna8920 opened #16075 "Keras. Error when checking input"
Всем привет. Подскажите решение проблемы. Есть нейронка, которая распознает алфавитные буквы. Но при model.fit выдает ошибку: ValueError: Error when checking input: expected dense_1_input to have shape (33,) but got array with shape (1,)
`import os
import pandas as pd
import numpy as np

from keras.models import Sequential
from keras.layers import Conv2D, Dense, Embedding, MaxPooling2D, Flatten, D

[2022-02-15 19:01] chenmoneygithub commented on #15980
I see, if I understand correctly, your input data's dimension is >3?

It seens TimeDistributed() would not keep the mask, so there are two approaches you can try in this case:
1. Handle the masking by yourself, which means you always keep an variable, let's call it `mask`, and at each layer, you manually pass it into the layer call.
2. Repopulate the mask. Mask is stored as `inputs._keras_mask` if

[2022-02-16 03:13] #15931 closed

[2022-02-16 04:13] #15993 closed

[2022-02-16 06:13] #15984 closed

[2022-02-16 09:42] innat opened #16081 "Add `include_preprocessing` argument in EfficientNet models."
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state**.

I think most of the keras application doesn't have the built-in input pre-processing layers, and that's why it's often troubling to config a data pipeline to match up the current efficient-net (v1) models. Let's say, in your proje

[2022-02-16 13:13] #15978 closed

[2022-02-16 20:45] shMotaharpour commented on #16062
Yes, it was useful
Thank you so Much

On Wed, 16 Feb 2022 at 13:01, sushreebarsa ***@***.***> wrote:

[2022-02-17 01:56] sushreebarsa commented on #16062
@shMotaharpour Thank you for the quick update!
Could you please move this issue to closed status if it is resolved for you?
Thanks!

[2022-02-17 07:07] lauraht commented on #15980
Thank you so much for your advice!

Yes, my input is 4D.

So you mean I can set the ` ._keras_mask` to `None` before going into the `TimeDistributed(Flatten())` layer and then restore the ` ._keras_mask` after calling `TimeDistributed(Flatten())`? Something like the following:
[code]
However, the ` ._keras_mask` is 3D before calling `TimeDistributed(Flatten())`. After calling `TimeDistributed(Flat

[2022-02-17 07:28] mattdangerw commented on #16029
It is expected that when passing a custom callable to either the `standardize` or `split` arguments of `TextVectorization`, that the function will need to be registered with `register_keras_serializable` or passed in the `custom_objects` argument during loading.

We should improve the error message here though, and make it clear this is an issue with serializing the argument to the layer and not t

[2022-02-17 08:13] #14179 closed

[2022-02-17 08:13] #14093 closed

[2022-02-17 09:48] Anna8920 commented on #16075
Добавляю набор данных и код. Надеюсь Вы мне поможете

[cyrillic.csv](https://github.com/keras-team/keras/files/8087495/cyrillic.csv)

1. Обрабтка
`import pandas as pd
df = pd.DataFrame(columns=['letter', 'label'])

for letra in range(1,2):
    df = df.append({'letter': "А","label":1}, ignore_index=True)

for letra in range(1,2):
    df = df.append({'letter': "Б","label":2}, ignore_index=True)

for

[2022-02-17 11:32] sebastianlutter opened #16085 "TF 2.7.0: Failed to serialize tf.keras.layers.RandomFlip"
**System information**.
- Ubuntu 20.04
- TensorFlow installed from binary
- TensorFlow version 2.7.0
- Python version: 3.8.10
- GPU model and memory: 2 x Geforce RTX 3090, 24GB

**Describe the problem**.

I'm not able to serialize a model that contains `tf.keras.layers.RandomFlip`

**Describe the current behavior**.

Serialization fails with:
[code]

**Describe the expected behavior**.

Model is p

[2022-02-17 12:21] Zhaopudark opened #16086 "Why can I set both dilation_rate and strides '>1' in Conv1DTranspose?"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 11
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.9.7
- Bazel version (if compiling from source): no
- GPU model and memory: RTX3090 24GB

[2022-02-17 15:03] iminders commented on #15366
the same error

[2022-02-17 15:21] aliencaocao commented on #15366
Try:
[code]

[2022-02-17 17:13] KRiedmiller opened #16087 "Learning rate scheduler not tracked in Tensorboard"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.3 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.9

**Describe the problem**.

When using a learning rate scheduler the learnin

[2022-02-17 18:26] rchao commented on #16070
Thanks for the request. Mind checking if https://keras.io/examples/timeseries/timeseries_classification_transformer/ can work for the case or it's different?

[2022-02-17 18:29] rchao commented on #16033
Can you confirm a couple things:
- Is this always reproducible (not flaky)?
- Is this reproducible with tf-nightly?
Thanks!

[2022-02-17 20:04] minsung-k opened #16089 "Difference .predict_proba and .predict"
Hi, I know .predict_proba was deprecated and keras-team suggest to use .predict instead.

I don't know why it doesn't give same result when I calculate ROC_curve's optimal threshold.

The result does not same when I use yhat = model.predict(testX) instead of yhat = model.predict_proba(testX)
In this situation, how should I use tensorflow ==2.6.0 version

Here's the code and I got the code from her

[2022-02-17 20:25] #16062 closed

[2022-02-18 00:58] Shiro-LK commented on #15842
Does anyone know why it is not working with TPU only ?
Is it during the distribution of the batch for each core ? Or is it some issue with specific function inside the loss ?

[2022-02-18 02:23] swpper commented on #16022
@sachinprasadhs  Sorry, I update the code link in master where I want to asked for `tf.keras.metrics.Precision`.

https://github.com/keras-team/keras/blob/8ecef127f70db723c158dbe9ed3268b3d610ab55/keras/metrics/metrics.py#L784-L809

What I want to figure out is

[2022-02-18 02:25] gadagashwini commented on #16066
I tried with similar code on Tensorflow 2.8.0. It works as expected

[code]

[2022-02-18 06:09] sushreebarsa commented on #16057
@dalbertweiss
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2022-02-18 07:04] RicardFos opened #16090 "tensorflow.keras.utils.plot_model not working correctly with show_shapes=True"
Hi, I've just used the tf.keras.utils.plot_model with tensorflow 2.8.0 and the following diagram appeared:
![image](https://user-images.githubusercontent.com/11573780/154634034-8863e81e-be61-42fb-a6b5-d13f8255bf51.png)

As you can see, the right part of the diagram shows the input and output shapes with a vertical split, but it should be an horizontal split to fit with the "intput:" and  "output:"

[2022-02-18 13:14] pokecheater opened #16092 "How are the shapes of convolutional layers calculated"
Hello Keras-Team :),

I use Tf2.8 with tf.keras.
For a web app I need to precalculate the shapes of the layers a user is using. So I have derived formulars for nearly all layers so far. But I am stuck on the convolutional layers.

For convolutional layers it is not allowed to have a dilation_rate > 1 and strides > 1. Why is that and why is it possible for other convolutional layers like SeperableC

[2022-02-18 13:18] pokecheater commented on #16086
have a similar issue
https://github.com/keras-team/keras/issues/16092
seems like I am not alone with it :)

[2022-02-18 13:20] pokecheater commented on #15283
Sry but they are not... For Separable Conv2D You can still find that it is possible
![image](https://user-images.githubusercontent.com/20928617/154690244-f43d58e2-89eb-43e7-973f-d1f53be6ce5c.png)

[2022-02-18 13:46] Zhaopudark commented on #16092
Hi. To you third question, you can see three funcs called `conv_output_length()`, `conv_input_length()` and `deconv_output_length`, in `\tensorflow\python\keras\utils\conv_utils.py` of tensorflow 2.8's source code.
These three functions havn't opened to users, but did be used in tf.keras.ConvTranspose.

Abobe three functions shows shape calculation's detail. But if we draw a conlusion,
In tensorfl

[2022-02-18 14:17] royarafati commented on #14152
hello Sir
I have the same problem. Did you find any explanation for this issue?

[2022-02-18 23:56] jvishnuvardhan commented on #16000
@cevheck Can you please use any public dataset and create a simple standalone code to reproduce the issue. Without code, it may take too much effort with/without any possible resolution.

Dropout or any other layer in keras, automatically infer the training argument. Thanks

[2022-02-19 00:16] jvishnuvardhan commented on #16013
This is still an issue. I ran the code with `tf-nightly` 2.9.0-dev20220218. [Here](https://colab.research.google.com/gist/jvishnuvardhan/dca4038de3baf142f40a42c95eaac56e/untitled.ipynb) is the gist for our reference. Thanks

[2022-02-19 08:55] RicardFos commented on #16090
Hi, I could work on it, no problem.

[2022-02-19 11:23] roebel commented on #16013
@jvishnuvardhan thanks!

[2022-02-19 12:44] IavTavares opened #16097 "Does the ordering of values at the level of timesteps matter, for a RNN input in Keras?"
An RNN, in keras, accepts an input with the following shape

[code]
The numbers are associated with the time steps (3 in our case), and X,Y are features. We have 3 batches (a,b,c).

Which order should I use:

 1. 0 -> 2 as in from past to present ?
 2. or  2 -> 0 as in from present to past?

[code]

Nothing in the documentation tells me which is the order I should use

[2022-02-19 16:51] jacoblubecki opened #16098 "Using `+` in custom residual Keras `Layer` does not create correct model graph"
This ticket was originally filed here: https://github.com/tensorflow/tensorflow/issues/54436

They asked me to move it over here and the templates were about the same so I have copy/pasted it almost exactly.
Please let me know if anything is missing.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distr

[2022-02-19 18:27] jacoblubecki commented on #16098
Copied from original ticket, but some additional data pointing to a Keras-specific issue...

------

I replaced my `ConvBnAct` with the following:
[code]

Then I used tensorboard to trace two versions of `ResBlock`.

Keras version using only `tensorflow` APIs (still inherits from Keras `Layer`, but otherwise only using `tf` namespace):
[code]
And pure tensorflow version (with no reference to any K

[2022-02-20 05:01] Jobayer-000 commented on #15600
setting the init_value to 1 solve the problem for me.

[2022-02-20 11:12] old-school-kid commented on #16092
@pokecheater
Can you please specify which layer in specifically doesnt have the `dilation_rate` parameter and `strides` parameter?
To the best of my knowledge all Conv (1D, 2D, 3D) and their transpose counterparts have both the parameters.

[2022-02-20 11:19] old-school-kid commented on #16086
@Zhaopudark
Dilation basically means to leave out features (tokens or pixels) in between two features which will be convolved together. If you keep both dilation_rate and strides greater than 1 then some features will nevr be taken into account which is illegal.
Hope this helps!

[2022-02-20 11:20] old-school-kid commented on #16092
@pokecheater
take a look at [this](https://github.com/keras-team/keras/issues/16086#issuecomment-1046215175)

[2022-02-20 12:59] Zhaopudark commented on #16086
@old-school-kid
Thanks,  I totally agree with you. That answers my doubts. I really felt confused about the code of Conv1DTranspose that different from its' documentation description before. But now, I think it just lacks mandatory restrictions, but does not affect correct use if I understand the effects on dilation_rate and strides.

[2022-02-20 13:41] MohamadMehdiDabestani commented on #15838
why it is not working for me?
[code]
classes_x [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[2022-02-20 17:21] danijar opened #16100 "LossScaleOptimizer fails to reduce loss scale below value of 1"
Is there any reason to bound the loss scale by 1 from below? Doesn't this just mean that LossScaleOptimizer fails to prevent overflows when training in fp16?

https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/mixed_precision/loss_scale_optimizer.py#L238-L239

[2022-02-20 19:42] rohan100jain commented on #15247
Scott / Rick, lets be explicit on what broadcasting semantics this keras API would offer. From TF's perspective, we don't see the benefit of adding broadcasting to the tf.nn.sigmoid_cross_entropy_with_logits API but if this makes sense from a keras perspective, its easy to add a tf.broadcast_to in the implementation.

[2022-02-21 01:21] kangsan0420 commented on #13782
Same issue on TensorFlow 2.8.0

[2022-02-21 02:12] innat commented on #15600
@Jobayer-000 I think for GeM, this p needs to be trainable.

[2022-02-21 03:32] ageron opened #16101 "Using StringLookup as 1st layer in a Sequential model raises UnimplementedError since TF 2.8.0"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04 (Google Colab)**
- TensorFlow installed from (source or binary): **binary (preinstalled on Google Colab)**
- TensorFlow version (use command below): **v2.8.0-0-g3f878cff5b6 2.8.0**
- Python versio

[2022-02-21 03:34] ageron commented on #16101
One workaround is to add an `InputLayer` as the first layer:

[code]

[2022-02-21 06:09] JonahYeoh commented on #4875
`base_model = Arch(32, outdim=8, t=32, dropout=0.1)

x = np.random.uniform(0, 1, 2 * 32 * 160 * 160 * 3)
x = np.reshape(x, newshape=(2, 32, 160, 160, 3))

basey = base_model.predict(x)
base_model.save('./base_model')

loaded_model = tf.keras.models.load_model('./base_model')
loadedy = loaded_model.predict(x)`

both basey and loadedy has produce identical output

[2022-02-21 06:29] pokecheater commented on #16092
Hey @Zhaopudark,

I tested it and I can still not verify that the given formula works for me. Since setting both, the dilation_rate and strides > 1 is not allowed on normal conv layers I will show you what I mean for SeperableConv2D (same applies for DepthwiseConv2D except for the output channel dimension).

To make things more clear and to speed them up I used your formula and play copy-cat. I pa

[2022-02-21 06:31] pokecheater commented on #16092
here is my output:
Test #1: Passed: True
conv_output_shape (None, 41, 41, 200)
calculated_shape (None, 41, 41, 200)

Test #2: Passed: True
conv_output_shape (None, 49, 49, 200)
calculated_shape (None, 49, 49, 200)

Test #3: Passed: False
conv_output_shape (None, 76, 76, 200)
calculated_shape (None, 79, 79, 200)

Test #4: Passed: False
conv_output_shape (None, 36, 36, 200)
calculated_shape (None, 3

[2022-02-21 09:49] Zhaopudark commented on #16092
Hello, @pokecheater
Since SeperableConvnD  consists with depthwise_conv and pointwise_conv. It is quite difficult to draw a formula  for SeperableConv.

The more detailed information can see here:
https://github.com/keras-team/keras/blob/v2.8.0/keras/layers/convolutional.py#L2106-L2272
https://github.com/tensorflow/tensorflow/blob/3f878cff5b698b82eea85db2b60d65a2e320850e/tensorflow/python/ops/nn_i

[2022-02-21 11:49] gdudziuk commented on #15887
How is that possible that this issue has been qualified as stalled? I have answered @rchao 's questions and was waiting for response.

[2022-02-21 12:41] chunduriv commented on #16097
@IavTavares, In a RNN the information cycles through a loop. When it makes a decision, it considers the current input and also what it has learned from the inputs it received previously. This is important because the sequence of data contains crucial information about what is coming next.

For better understanding, please can you refer this [RNN tutorial](https://www.simplilearn.com/tutorials/deep

[2022-02-21 13:11] firatsarlar opened #16102 "mean_squared_error accuracy"
My currenct observation with "mean_squared_error" loss,
If you use mean_squared_error loss and metrics= ["acc"] ,
during training you can't see any meaningfull accuracy,
I wrote my custom acc. function , it's very hard for me to make a PR, because of project complexty,

Here is my fn.

[code]

And the reason to open this issue is , whenever I need to load this compiled model, I need to use :

`mod

[2022-02-21 13:18] IavTavares commented on #16097
Yes, I get that, but the documentation does not explicitly state which order one should use... That's the problem.

[2022-02-21 13:23] pokecheater commented on #16092
Thanks for your answer.
You have my full understanding. Development is always in fixing issues and while fixing them discover new ones.

Good to know that the formula is different for these convolutional layers. I was just confused by the fact that the formula applied sometimes perfectly (especially for the cases when one of the parameters (dilation_rate or strides) where equal to 1). So I thought

[2022-02-21 14:29] claCase opened #16103 "RNN with nested inputs"
I would like to implement a recurrent GAT model which takes two inputs of shape: [(batch_size, time, N, F), [batch_size,  time, N, N)].  The hidden size should have shape (batch_size, N, hidden_feature).  I've structured the class as follows:
[code]
The problem is that when I feed a list of two inputs:
[code]
I get the error that the initial state is not compatible with the cell.state_size:
[code]

[2022-02-21 21:02] jvishnuvardhan commented on #16100
@danijar Can you please share a simple standalone code to reproduce the issue. Thanks!

[2022-02-22 04:05] edbordin opened #16104 "Tensorboard PR Curves support"
**System information**.

TensorFlow version (you are using): 2.8.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.
Tensorboard has a nifty plugin that can plot precision-recall curves for classifiers, it would be great if Keras supported this out of the box
https://github.com/tensorflow/tensorboard/tree/master/tensorboard/plugins/pr_curve

[2022-02-22 07:36] yhpeng6 commented on #16070
Thanks for the reply.
I think it is similar in encoding part, but different in decoding part.
It also provide a guidance.

[2022-02-22 08:49] Rohianon commented on #8267
What was the final solution to this?

[2022-02-22 09:15] englert-m opened #16105 "Implement weight standardization option for convolution layers"
**System information**.

TensorFlow version (you are using): 2.8.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Implement an option for weight standardization for convolution layers according to ["Micro-Batch Training with Batch-Channel Normalization and Weight Standardization" by Qiao, Wang, Liu, Shen, and Yuille](https://arxiv.org/abs

[2022-02-22 09:43] gcunhase commented on #15822
Thank you for your help @qlzh727 ! Changing the input_tensor to 299x299x3 seems to solve the issue.

[2022-02-22 09:43] #15822 closed

[2022-02-22 12:11] chunduriv commented on #16097
@IavTavares, Can you please share documentation link that you are referring here? Thanks!

[2022-02-22 12:38] claCase commented on #16103
As it turns out, I was not returning a properly shaped output. Closing the issue.

[2022-02-22 12:39] claCase commented on #16103
As it turns out, I was not returning a properly shaped output. The issue can be closed

[2022-02-22 13:57] wangshan1997 opened #16106 "AttributeError: module 'tensorflow_core.keras' has no attribute 'Seqential'"
D:\anaconda\python.exe E:/test/hand/have_train.py
(60000, 28, 28) (60000, 10)
Traceback (most recent call last):
  File "E:/test/hand/have_train.py", line 19, in <module>
    model=keras.Seqential([
  File "D:\anaconda\lib\site-packages\tensorflow\__init__.py", line 51, in __getattr__
    return getattr(module, item)
AttributeError: module 'tensorflow_core.keras' has no attribute 'Seqential'

[2022-02-22 14:23] pnuzyf opened #16107 "An op outside of the function building code is being passed a "Graph" tensor"
I am using tf 2.3.0, and did not explicitly set the eager mode。

I defined a memory network layer, and call it from another layer。 It succeeded during the training step. However, I got the following error during the evaluation step。

Traceback (most recent call last):
File "/Users/fabriszhou/PycharmProjects/tf-model/test/msmt/test_memory.py", line 94, in
mymodel = model.get_train_model()
File "/Us

[2022-02-22 15:28] markub3327 opened #16108 "Elegant way of operating with nan values in MultiHeadAttention layer"
Hello,

  I need to control the MultiHeadAttention layer by attention mask. I have nan values in input too and needed to be filtered out by an attention mask. Attention mask is generated ineffectively way by the nan values contained in the input tensor with `tf.matmul` operation.

What is the best way to generate an attention mask?
Please code a feature to work with nan values filtered by the atte

[2022-02-22 16:06] jvishnuvardhan commented on #15887
Reopened it. Sorry for the inconvenience. Removed the label. Thanks

[2022-02-22 16:54] sushreebarsa commented on #16106
@wangshan1997
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-02-22 19:57] chenmoneygithub commented on #15980
Mask should be applied on the sequence dimension, so for your 4D input, the mask should still be 2D? If your mask is actually 3D due to your use case, then you may need to design on how to collapse your 3D mask to 2D.

Flatten() should not be affected by mask, so you can always populate back the mask after the layer. Hope it could help you, thanks!

[2022-02-22 21:57] innat commented on #16081
@jvishnuvardhan any update? I believe it's a small fix.

[2022-02-22 22:02] reza-amd commented on #16033
Yes, it is always reproduceble.

Yes, it is reproduceable with tf-nightly.

[2022-02-23 00:49] atmguille opened #16113 "Memory inefficiency in RNNs"
**Context**
I have been working with small `ConvLSTM` architecture and getting an OOM with a moderate number of filters. I think I have detected a memory inefficiency related to RNNs that may be the root cause, although I have not been able to fully solve the problem.

**System information**.
TensorFlow version (you are using): 2.6.2
GPU model and memory: Tesla P100 16GB (Kaggle GPU)
Are you willi

[2022-02-23 02:31] gadagashwini commented on #15797
@henrysky,
Looks like this is intended behaviour.Since issue is with x_test shape.

[code]
[code]
As per your model, Model expects input of shape (1, 28, 28) but you are feeding (1,10,28). When we are running second time its taking first model input.If you restart Runtime and execute you will end up in same error.

For your model prediction use only `model.predict(x_test[0:1])`

[2022-02-23 03:59] henrysky commented on #15797
@gadagashwini But the first layer is a LSTM, so the model input is [batch_size, temporal, data dimension] is this case. So I can do something like
[code]
To show that more and more data I give to the LSTM network, the closer the prediction will be to the ground truth. So I disagree that should be the case (the intended behavior is wrong). Here is an complete example:
[code]
![image](https://user-i

[2022-02-23 04:33] pnuzyf commented on #16107
When I add MemoryLayer to Msmt， I got the above error, without MemoryLayer, it's ok.

[2022-02-23 06:25] minsung-k commented on #2280
@abali96

I found your comment on here.
(https://keras.io/getting_started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development)

The way how I get reproducible result is to put tf.random.set_seed() in your function.

for example.

'''
def model():
    tf.random.set_seed()
    ~~model~~
    return **
'''

Hope others solve this problem as well!

[2022-02-23 06:26] Atomwh commented on #2280
你好，已收到你的邮件。                                                        --魏浩

[2022-02-23 06:40] gadagashwini commented on #14273
@Artus86,

I tried with random input of same input shape as you mention.
Working sample code
[code]

**Output**
`4/4 [==============================] - 1s 8ms/step - loss: 1.1150`

[2022-02-23 07:15] pnuzyf commented on #16107
model.compile(..., run_eagerly=True, ...) also can not work.

[2022-02-23 07:27] old-school-kid commented on #16092
Can you close this? @pokecheater
TIA

[2022-02-23 08:42] uranusx86 commented on #9412
it also work in TF 2.3.

[2022-02-23 09:32] gadagashwini commented on #15797
@henrysky,
LSTM expects inputs: A 3D tensor with shape `[batch, timesteps, feature]`.
Model is trained with x_train.shape of shape `(60000, 28, 28)`.
While predicting model expects same dimensions. i.e.,`(1, 28, 28)`.

Instead you can try this
`model.predict(x_test[0:1, :28, :])`
Thanks!

[2022-02-23 09:35] gadagashwini commented on #14315
@ShivamP1993,
Use Lambda layer to slice the Keras input

[code]

[2022-02-23 11:05] maya-25 opened #16115 "How to concatenate knowledge graphs embeddings with Textual embeddings by Keras embedding layers and feed to Multi perceptron layer?"
I have generated knowledge graph embeddings by RDF2Vec(<s,p,o> RDF triples.ttl file with DBpedia URIs) of size (7536, 384) and I have embeddings for my text dataset generated by Sbert of size(14169,384). Now, how do I concatenate these embeddings using Keras embedding layers? and then model.fit the concatenated embeddings with target label for training the model? Could anyone help?
**As of now, I

[2022-02-23 13:15] IavTavares commented on #16097
If I say that the documentation on Keras has no information on which order one should use, it's hard to share a link of what does not exist. Em 22/02/2022 12:11, chunduriv ***@***.***> escreveu:
@IavTavares, Can you please share documentation link that you are referring here? Thanks!

—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile

[2022-02-23 15:39] trungnt13 opened #16116 "Save and load a model with PReLU activation results in error"
There is very specific scenarios when PReLU activation failed during `tf.keras.models.load`

- Create and save the model via keras.Model.save
- Load the model, make modifications to the Layer that including the PReLU activation
- Save the modified Model and load it again, PReLU layer failed during `build` when initializing the `alpha` parameters

Note: this issue disappear when I subclassing the `

[2022-02-23 15:49] old-school-kid opened #16117 "Inverse affine transformation"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-02-23 16:23] peternasser99 commented on #10869
same here

[2022-02-23 18:12] sushreebarsa commented on #16107
@pnuzyf We see that you are using older version of TF which is not actively supported.Please try to upgrade the version to latest  and let us know the outcome. Please refer the similar [issue1](https://stackoverflow.com/questions/58565913/typeerror-an-op-outside-of-the-function-building-code-is-being-passed-a-graph-t),[issue2](https://github.com/tensorflow/tensorflow/issues/32889) and let us know

[2022-02-23 18:25] bhack commented on #16117
/cc @qlzh727

[2022-02-23 18:32] qlzh727 commented on #16117
Thanks for reporting the issue.

We added a new base layer for https://github.com/keras-team/keras/blob/a179ed22f002e2f4a43ae4770348a9b8e1d5a051/keras/layers/preprocessing/image_preprocessing.py#L225. This will allow user to override `augment_label` and `augment_bounding_box`.

We are gradually applying the base layer to all the existing KPLs, and will make this base layer available publicly.

[2022-02-24 02:02] mattdangerw commented on #16117
Assigning to @qlzh727 as he is already holding the work to make this use case possible.

[2022-02-24 02:16] mattdangerw commented on #16090
Assigning this to you @RicardFos as it looks like you are actively working on this and the conversation has moved to the PR https://github.com/keras-team/keras/pull/16096. Thanks for contributing!

[2022-02-24 02:24] mattdangerw commented on #16081
Yep this looks like a small fix, can just add the argument, default it to true, and use it to gate the Rescaling and Normalization layers [here](https://github.com/keras-team/keras/blob/v2.8.0/keras/applications/efficientnet.py#L321). EfficientnetV2 is a good example.

Marking this as open for contributions, as I am not sure anyone on the team will have immediate bandwidth to pick this up. Thanks

[2022-02-24 09:43] weidler opened #16123 "Cannot Build Intermediate Model to Nested Layers"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1     (but also tested on 2.8.0)
- Python version: 3.8
- GPU model and memory: NVIDIA

[2022-02-24 10:50] Stavr0sStuff opened #16124 "Models with custom metrics cannot be loaded from trace"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 + google-colab (whatever that is running on)
- TensorFlow installed from (source or binary): Win10: binary (`pip install`) / google-colab: pre-installed (presumably also from binary)
- TensorFlow version (use

[2022-02-24 11:05] pnuzyf commented on #16107
I can successfully train the model, but can not evaluate.

[2022-02-24 15:51] kretes commented on #15730
I can confirm it is still reproducible in tf 2.8.0

[2022-02-24 16:54] pnuzyf commented on #16107
class MemoryLayer(tf.keras.layers.Layer):
    def __init__(self, controller_layers, controller_hidden_act='relu', controller_output_act=None, n_clusters=100, key_dims=8, long_dims=8, short_dims=8, temperature=0.1, alpha=0.1, is_short=False, name="memory_layer", **kwargs):
        super(MemoryLayer, self).__init__(name=name, trainable=True, **kwargs)
        self.controller_layers = controller_laye

[2022-02-24 18:11] Cheril311 commented on #16102
@firatsarlar the formal definition of accuracy is number of <b> no. of true prediction / total no. of predictions </b> which is how it is implemented in keras, in your use case the number of true predictions will be nearly 0 as it is a regression problem thus you're getting the weird results, as accuracy was designed to be a classification metric not a regression metric in the first place. You can

[2022-02-24 18:13] mattdangerw commented on #16113
@atmguille thanks for filing! Would you be willing to contribute a PR here?

[2022-02-24 18:18] mattdangerw commented on #16104
cc @qlzh727

[2022-02-24 18:19] mattdangerw commented on #16100
@reedwm could you take a look here? Thanks!

[2022-02-24 18:47] firatsarlar commented on #16102
I will do try RMSE with accuracy. As I said I'm very beginning of road of ML.
It may more appropriate after testing RMSE, but formal definition, or results seemed weird to me.
( I mean , currently I'm disagree with you )
But you probably know better.
Feel free to close the issue.

[2022-02-24 19:09] firatsarlar commented on #16102
I tried RMSE, but new question is it is not exists as loss, it is a metric.
[code]
 (I have updated the notebook , link changed )
https://colab.research.google.com/drive/1hYG4RmPaUlnEcRm28NE6Y3HxIMoq1DTM?usp=sharing

I still can't see accuracy as percentage ( I mean in any format 0.50 or 50  )
Still I may be wrong, but I think this is an issue not a question.

By the way, I personally got what I w

[2022-02-24 19:13] jvishnuvardhan commented on #16102
@firatsarlar As @Cheril311 mentioned, `accuracy` is a metric designed for classification. Your custom metric is simply max(1-`mse`,0). What you are estimating through your custom metric is (1-error_between_y_true_and_y_pred).

Based on your use case and domain knowledge, You can define a custom metric saying that if the error is <x, accuracy is 1 and then find mean accuracy of all samples to find

[2022-02-24 19:41] firatsarlar commented on #16102
I was intentionally keeping target to make things fast ( not to waste someone's time ) and it's currently out of context.
I still trying to tell accuracy is what as it is.  Formal definitions, current dominant knowledge,
 may suggest society ( scientists ) to define it as you say.
 Although I'll close the issue , I'm not enlightened about this topic.
 Wish me luck.

[2022-02-24 20:27] jvishnuvardhan commented on #16085
@sebastianlutter Looks like this was already resolved in `TF2.8`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/aa7d87f5c694083bdaa4615840ddc4ac/untitled.ipynb) is a gist for reference.

Can you please verify once and close the issue if this was resolved for you? Thanks

[2022-02-24 21:56] fchollet commented on #16098
This appears to be a bug with plot_model, which has been fixed some time ago. You can try again with tf-nightly, and you should be able to see the expected model plots. Note that the issue was only affecting the plots in the first place, not the models themselves.

Also note that you should never use `model.call` directly. `call()` is an implementer-facing API only. Always use `model()` instead.

[2022-02-24 22:28] QuentinMahieu commented on #15940
I encounter the exact same problem.
I was able to build the model saving weights only.
But when I want to save the entire model I get the same error as you @realmadridmarcelo
Any solution yet?

[2022-02-24 22:51] jacoblubecki commented on #16098
@fchollet Can you link me to the related ticket?

Even so, the model wouldn't train before I made the change from `+` -> `add` and so I suspect it may be more. Other than this change, the environment was pinned, deterministic ops were enabled, and random number generators were all seeded.

Still, I did update to tf-nightly and the graph was correct. Maybe I was just extremely unlucky in my trainin

[2022-02-25 00:02] atmguille commented on #16113
@mattdangerw sure! I have already a proposal in [the repository](https://github.com/atmguille/convlstm-saving-memory) I mention in the issue. I have done some experiments in CPU and experienced better performance in RAM usage for small number of filters. However, as I mentioned in the issue, I may be missing something else for GPU.

Thanks for your time. Let me know what are the next steps!

[2022-02-25 01:07] sachinprasadhs commented on #16072
Hi, could you please check your PR, it's failing assert condition `AssertionError: True != 4.0`

[2022-02-25 02:03] pnuzyf commented on #16107
I found the problem due to the reassignment of self.key_memory and self.long_memory. If I change it to self.long_memory.assign, then it can work. but nor grandents for read_controller and write_controller

[2022-02-25 03:08] jvishnuvardhan commented on #15760
I am closing this issue as this was resolved. Feel free to reopen if I am mistaken. Thanks!

[2022-02-25 03:08] #15760 closed

[2022-02-25 04:38] pnuzyf opened #16128 "How to propagate gradient after assign op?"
Hello,
        I got the no gradient error if I changed the update of  self.key_memory and self.long_memory to . assign. It seems that assign op would break gradient. If I used "=", then it will create a new tensor.

WARNING:tensorflow:Gradients do not exist for variables ['memory_layer_write_controller/hidden_layer_0/kernel:0', 'memory_layer_write_controller/hidden_layer_0/bias:0', 'memory_layer_

[2022-02-25 14:41] weidler commented on #16123
@qlzh727 as you suggested a workaround for this issue previously, are you maybe aware of a new solution since this workaround got patched out?

[2022-02-25 15:09] sebastian-sz opened #16129 "Cannot checkpoint EfficientNetB1 in mixed precision."
One can create a `tf.train.Checkpoint` of EfficientNetB1 in mixed precision, but it's impossible to load it back in FP32.

**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): Google Colab
- TensorFlow version (u

[2022-02-25 15:39] realmadridmarcelo commented on #15940
@QuentinMahieu Thank you for asking..
I've never solved this.
I only know that this issue causes when Custom Layer is introduced into the model...

[2022-02-25 22:52] jvishnuvardhan commented on #15940
@QuentinMahieu Can you please share a standalone code that I can reproduce? I am not sure why but I couldn't reproduce the issue with @realmadridmarcelo code. Thanks

[2022-02-26 02:49] QuentinMahieu commented on #15940
@jvishnuvardhan I just created a notebook on Google Colab.
Here is the [https://colab.research.google.com/drive/1j84NqR3cD8aZkd2MhwEbUqled_cigAWy?usp=sharing](link)
it takes about 25 min to fit the model.

[2022-02-26 04:11] AdityaKane2001 commented on #16106
@wangshan1997

I believe it is `tf.keras.Sequential` and not the one you mentioned. Please check your spelling.

[2022-02-26 09:59] geroldcsendes commented on #13782
Same issue on TensorFlow 2.4.1

[2022-02-26 11:29] gante opened #16131 "Add Gated Linear Unit activation function"
**Describe the feature and the current behavior/state**.

Hi Keras team 👋  At Hugging Face, we use the [Gated Linear Unit](https://arxiv.org/abs/1612.08083) in a few speech models. Speech is one of our growing modalities, where we have a particular focus on low-resource languages. I'm opening this issue to ask if you are interested in pushing this activation function upstream (where I'd be happy t

[2022-02-26 12:49] Habibo046 commented on #3611
![image](https://user-images.githubusercontent.com/58588986/155843941-9fc915e1-bb50-437d-be81-29b61da7b466.png)
What is the probleme pleaaaaaseeee !!!

[2022-02-26 13:40] dalbertweiss commented on #16057
Sorry for my late reply. I edited my code for reproducibility.

[2022-02-26 15:04] Habibo046 commented on #3611
![image](https://user-images.githubusercontent.com/58588986/155847954-2e25197b-d49f-4c5b-a1bd-4276675d7540.png)
what is the probleme pleaaasssseeeee!!!
![image](https://user-images.githubusercontent.com/58588986/155847978-5e665eb3-32f5-4ec7-8aab-e9a0bf412151.png)

[2022-02-26 19:33] firatsarlar commented on #16102
https://colab.research.google.com/drive/1hYG4RmPaUlnEcRm28NE6Y3HxIMoq1DTM?usp=sharing

I decided to reopen this as a feature request and proof of concept could be the link I've shared.
The line and colab notebook ( it will ask you to sign in to google even I chose to anyone with the lik )

It's about to intuitiveness.
Giving a target like : 0.9
instead of
target like : 1e-7
is reasonably lower the

[2022-02-26 20:47] mortezamg63 opened #16132 "Can not get the same performance in the eager mode training"
##### Describe the feature and the current behavior/state.
Hi Keras team,
I am trying to train an autoencoder using eager mode on MNIST dataset. Then, I want to train a classifier on top of the encoder part. In other words, my training has two steps.  First, training autoencoder in an unsupervised manner. Then, use the encoder in the autoencoder for training a classifier. I am trying to convert a

[2022-02-27 14:16] Naman23-coder opened #16133 "adding lint and using pep8 standards"
adding lint and using pep8 standards using pre-commit (with isort and black)

[2022-02-27 14:17] #16133 closed

[2022-02-27 14:19] Naman23-coder opened #16134 "adding lint and using pep8 standards"
- Do you want to contribute a PR? (yes/no): Yes
- If yes, please read [this page](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md) for instructions
- Briefly describe your candidate solution(if contributing):
adding lint (using pre-commit) and using pep8 standards using pre-commit (with isort and black).

[2022-02-27 17:13] #16134 closed

[2022-02-28 01:56] arashnh11 commented on #3653
Sample weight for class imbalances is quite wasteful as mentioned earlier on this thread. One may not feel that when dealing with small datasets but it would become quite clear when dealing with volume data like my case, even 48GB GPUs run out-of-memory. Rather than wasting all the space to define similar values for an entire class incorporated into sample weights, one can write customized loss fu

[2022-02-28 13:03] gery9999 commented on #15206
Hi, I encounter a similar problem when working with flow_from_dataframe in class_mode='sparse'.

**Documentation (http://49.235.228.196/keras/api/preprocessing/image.html#flowfromdataframe-method) says that one should use a list of integers as label input in sparse mode (see doc: "sparse": 1D numpy array of integer labels). However, if I plug in integer labels I get `TypeError: If class_mode="spar

[2022-02-28 18:28] jvishnuvardhan commented on #16116
@trungnt13 As mentioned in the `warning`, you need to compile the model before saving in order to build the metrics and loss functions.

`WARNING:tensorflow:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.`

If you don't compile the model with `loss` function, then there will different behavior. C

[2022-03-01 07:29] Meidozuki opened #16142 "Add a decorator for plotting a subclassed model (based on plot_model)"
**System information**.

TensorFlow version (you are using): 2.6
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

I tested `tf.keras.utils.plot_model` in tf 2.6 and 2.8, to find `plot_model`  cannot directly plot a subclassed model. I've tried several ideas, and this one requires minimal code to change.

**Will this change the current api?

[2022-03-01 08:56] zrx563010758 commented on #16142
unsubscribe

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "keras-team/keras"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月1日(星期二) 下午3:31
***@***.***&gt;;
***@***.***&gt;;
主题:&nbsp;[keras-team/ker

[2022-03-01 09:28] jvishnuvardhan commented on #16090
@RicardFos This was resolved in recent `tf-nightly` by your PR as it got merged. [Here](https://colab.research.google.com/gist/jvishnuvardhan/a00d1fea601fefae2835d87a8fb84ed2/untitled234.ipynb) is a gist for reference.

Please verify once and close the issue if this was resolved for you. Thanks!

[2022-03-01 09:31] leweex95 opened #16143 "TypeError: can't pickle _thread.RLock objects when using KerasClassifier with Keras and RandomizedSearchCV"
I created a simple neural network for binary spam/ham text classification using pretrained BERT transformer. Now I want to apply randomized search for tuning the hyperparameters. For now the only hyperparameter I would like to tune is the dropout regularization probability.

I set up a sklearn pipeline with scikeras's KerasClassifier that contains my custom `build_sequential_nn()` method. When mer

[2022-03-01 10:26] SergioG-M opened #16144 "EfficientNetV2 does not match google implementation"
Hi,
I may be wrong, but checking the efficientnetv2 implementation I think there is a difference with the [google one](https://github.com/google/automl/blob/387d5ddb92bb8fbbec4b012e5636a81ea65fffda/efficientnetv2/effnetv2_model.py)
The  ["survival_probability"](https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/applications/efficientnet_v2.py#L990) is defined a

[2022-03-01 11:12] #16041 closed

[2022-03-01 12:12] #16047 closed

[2022-03-01 12:19] innat commented on #16144
cc. @sebastian-sz

[2022-03-01 13:01] sebastian-sz commented on #16144
thanks for cc @innat.

Yes, I think you are correct @SergioG-M.
I mostly followed the Efficientnet V1 implementation, which indeed increases block size in the [end of the loop](https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/applications/efficientnet.py#L360) and it looks like i missed this step.

Without it, the value of `drop_connect_rate * b / blocks` is

[2022-03-01 13:03] RicardFos commented on #16090
Thanks, I've checked the notebook and it works correctly, I'll mark this issue as resolved.

[2022-03-01 13:03] #16090 closed

[2022-03-01 13:40] SergioG-M commented on #16144
You're right, I was following the google implementation, but their blocks already include the second for loop in the keras one, so it should be` b += 1`

Go ahead with the PR please.

[2022-03-01 15:15] sushreebarsa commented on #16123
@jvishnuvardhan I was able to reproduce this issue on colab using TF v2.8.0 and tf-nightly ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/e381933d02db9422fa2aef63edaa6b19/16123.ipynb#scrollTo=toKLGrJaCs4_).Thanks!

[2022-03-01 18:05] philosofool commented on #4735
`sample_weight` is not supported when using `tf.data.Dataset` instances, so the need for `class_weight` with multilabel models remains.

[2022-03-01 18:25] wenscarl commented on #15857
Verified on tf-nightly, the memory throughput for `Relu_GPU_DT_HALF_DT_HALF_kernel` increases to ~88%. Closing. Thanks! @chsigg

[2022-03-01 18:25] #15857 closed

[2022-03-01 19:22] jvishnuvardhan commented on #15425
Did this patch get merged? I cannot see the `show_trainable` argument in keras `master` https://github.com/mfidabel/keras/blob/master/keras/utils/layer_utils.py

I tried using `show_trainable` in a simple example from TF tutorial (with `tf-nightly`), and it throws an error as shown below. Please check the [gist]() for a reference.

`TypeError: plot_model(https://colab.research.google.com/gist/jvis

[2022-03-01 20:28] jvishnuvardhan opened #16146 "`train_on_batch` allows different data types for input and target"
As mentioned in Keras webpage https://keras.io/api/models/model_training_apis/, keras shouldn't allow different data types for input (`x`) and target (`y`).

[code]

After defining the model, i ran `train_on_batch` as follows

[code]
Last three cases shouldn't work but all the above cases works.

This could be either update the code or update the docs to reflect updated functionality.

[Here](http

[2022-03-01 21:43] mattdangerw commented on #16113
Tagging @qlzh727 and @fchollet who probably know the most about Keras RNN layers to see if they have thoughts.

I would say next could be opening a pull request and we can continue discussion there.

It would be good to verify this functions with a GPU, could you try running your proposed changes with a GPU runtime in a colab?

[2022-03-01 23:52] sachinprasadhs commented on #16022
Yes, you need to transform `y_true` into 0/1, but `y_pred` can be any value between [0,1]

[2022-03-01 23:53] code-review-doctor commented on #16072
Hi,

This PR was auto-generated as the test looked like it was _trying_ to compare `opt.dynamic` with `4.` but got the assertion wrong.

So we generated this change:
[code]

We don't have the domain knowledge of this codebase to determine if the correct behaviour. Perhaps you can help:

should `opt.dynamic` be `True`, or should it be equal to `4.`?

[2022-03-02 07:26] peter-jp opened #16150 "Segmentation Fault (core dumped) Issue"
**System information**

I have written custom code
OS Platform and Distribution: CentOS Linux release 7.7.1908 (AltArch), Power9 PC with 4 GPU nodes, 1 login node and 1 compute node and it has little endian architecture
TensorFlow installed from (source or binary): https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/
TensorFlow version (use command below): 2.1.3 (tensorflow-gp

[2022-03-02 07:56] tilakrayal commented on #16128
@pnuzyf ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2022-03-02 09:04] bindrajith commented on #3894
did u fix it. iam getting same issue keras sequential. multi class classification

[2022-03-02 10:23] DagonArises opened #16151 "Custom LSTMCell has cell state gradients being zeros"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-02 10:29] DagonArises commented on #16151
I have a separate [notebook](https://github.com/DagonArises/VGP-illustration/blob/main/VGP_4_LSTMgrads_copy.ipynb) for producing the plots on the text data. Basically the same task as in the reproducible example.

[2022-03-02 11:09] ypsilon-elle opened #16152 "model.save fails with ValueError __inference_conv2d_transpose_layer_call_fn_4530 when Conv2DTranspose is quantization aware"
Originally I posted this bug [#54753](https://github.com/tensorflow/tensorflow/issues/54753) on [tensorflow/tensorflow](https://github.com/tensorflow/tensorflow/issues) and was advised to repost it here.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10

[2022-03-02 16:29] sushreebarsa commented on #16030
@hoangtnm Could you please refer to the [comment](https://github.com/keras-team/keras/issues/16030#issuecomment-1033728000) above and let us know if it helps?Thanks!

[2022-03-02 17:12] sushreebarsa commented on #16151
@sachinprasadhs Was able to replicate the issue on colab using TF v2.8.0 and tf-nightly(2.9.0.dev20220302),please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/41a25b2a16c70a2fb069901ddba429dc/keras-16151.ipynb).Thanks!

[2022-03-02 17:31] sushreebarsa commented on #16143
@sachinprasadhs Was able to reproduce this issue on colab using TF v2.8.0 ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/df6f6648c96bc7d0a79be01cee656ce4/keras-16143.ipynb#scrollTo=ZJ2F2cu_qwIK).Thanks!

[2022-03-02 17:37] #16144 closed

[2022-03-02 17:39] sushreebarsa commented on #16016
@sachinprasadhs Was able to replicate the issue on colab using TF v2.8.0 and tf-nightly(2.9.0.dev20220302) ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/4bbeff9d81d0b86bca88fdd595511c44/16016.ipynb).Thanks!

[2022-03-02 18:03] HATEM-ELAZAB opened #16153 "Guided Backpropagation in Theano/Lasagne"
I have a model, for which i need to compute the gradients of output w.r.t the model's input. But I want to apply some custom gradients for some of the layers in my model, which can be tedious to build from scratch. So i tried the code explained in this link [https://github.com/Lasagne/Recipes/blob/master/examples/Saliency%20Maps%20and%20Guided%20Backpropagation.ipynb]. I added the following two cl

[2022-03-02 18:42] irasit commented on #15298
@chenmoneygithub Are we planing to fix this issue?
It is still needed for some cases we like to want to reuse original optimizer's weights in a new optimizer and continue training.
For example: model with optimizer is loaded from a checkpoint, and we want to continue training with a different optimizer ( like horovod.DistributedOptimizer).
[code]

[2022-03-02 19:14] sachinprasadhs commented on #16072
`opt.dynamic` should be `True` and you can change the code in the PR to `self.assertTrue(opt.dynamic)` instead of `self.assertTrue(opt.dynamic, 4.)`

[2022-03-02 19:25] chenmoneygithub commented on #15298
I may not understand your use case: could you explain why you want to use two types of optimizers before and after saving?

[2022-03-02 20:12] #16053 closed

[2022-03-02 23:41] DagonArises commented on #16151
@sushreebarsa @sachinprasadhs Thx for sharing the notebook. Any idea on why the LSTM cell states gradients vanish to zero in even 20 steps? By right LSTM should be able to carry gradients for a few hundred steps.

Printing out the ```dctdc0_agg``` object in the notebook:
[code]

[2022-03-03 01:10] jvishnuvardhan commented on #16006
@Chizkiyahu Looks like this is an issue with saving in `h5` format. But, same works in `tf` format. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/b808acf86c204df487da8ecfdcf058dd/untitled.ipynb).

Also, note that the model was not compiled (model.compile). Loading a model without compiling will lead to some other issues. Thanks!

[2022-03-03 01:21] suneeta-mall commented on #15298
@chenmoneygithub Can I please ask why the original issue is closed?

[2022-03-03 02:15] jvishnuvardhan commented on #14321
@maifeeulasad Sorry for the late response. Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue/feature you are looking? Thanks

@patel-rupin2000 I ran your code without any issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/a474dab153d2a437d768afa4cb1634c5/untitled1177.ipynb) is a gist for reference. Thanks!

[2022-03-03 07:07] kelvinlyy opened #16158 "Unexpected outputs from MaxPooling2D layer"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7.12
- Bazel version (if compiling from source):
- GPU model and memory: using

[2022-03-03 09:56] #16102 closed

[2022-03-03 10:24] partiallycomplex opened #16160 "Random crash with error Graph execution error _resource_apply_dense m_t_bar = (coefficients['one_minus_m_t'] * g_prime + Node: 'Nadam/Nadam/update_5/add_2' Incompatible shapes: [8] vs. [0]"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacBook Pro (14-inch, 2021) MacOs 12.2.1
- TensorFlow installed from (source or binary): binary tensorflow-macos
- TensorFlow version (use command below): 2.8.0
- Python version: 3.9.10
- Bazel version (if compiling from

[2022-03-03 10:25] sebastianlutter commented on #16085
The problem is fixed in tensorflow 2.8.0

[2022-03-03 10:25] #16085 closed

[2022-03-03 11:22] tilakrayal commented on #16153
@HATEM-ELAZAB ,
This issue is not related to Keras repo.Please find the correct repo and post the issue to resolve the issue.Thanks!

[2022-03-03 11:33] tilakrayal commented on #16158
@chunduriv ,
I was able to reproduce the issue in tf v2.8, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/05520958153453cfad9e8c83f1b59de2/untitled244.ipynb).

[2022-03-03 11:54] sushreebarsa commented on #16160
@partiallycomplex
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-03-03 12:05] sushreebarsa commented on #16152
@jvishnuvardhan Was able to replicate the issue on colab using TF v[2.7.0 ](https://colab.research.google.com/gist/sushreebarsa/1efe3f7c4d2ac791d20785f5bf532856/model_save_fails_conv2dtranspose_qat_tf2-7-0.ipynb#scrollTo=ZWW2oEw3CoNF)and [2.8.0](https://colab.research.google.com/gist/sushreebarsa/305b03444505a9a715a9233568008a0c/model_save_fails_conv2dtranspose_qat_tf2-8-0.ipynb#scrollTo=SSMv-TQBE

[2022-03-03 12:17] tilakrayal commented on #16150
@peter-jp ,
I am facing different error while executing the given code.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/a457e41c559c89809957d56c75ac6ddb/16150.ipynb).

[2022-03-03 14:53] chunduriv commented on #16101
@sachinprasadhs,

I was able to reproduce the issue on Colab using `TF v2.8` and `TF-nightly(2.9.0-dev20220303)`. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/1b54e664bfd344716fafff282e5833e6/16101.ipynb) for reference.Thanks!

[2022-03-03 15:58] tmbluth commented on #16029
This approach helps for those loading the model into the same notebook that they trained it in but it still does not address loading the same model in a different notebook. If you open a new notebook that can access the saved model and run the last cell from [the training notebook](https://colab.research.google.com/gist/sachinprasadhs/9471d05206aa1c206584c33a9d5d598f/44199.ipynb#scrollTo=TeVxhX9Kp

[2022-03-03 16:09] mortezamg63 commented on #16132
I am still waiting for answer. Can anyone tell me what I can do to solve the issue. Thanks

[2022-03-03 16:36] partiallycomplex commented on #16160
Is not easy to cut the example, but  I try to extract part of it in the attached zip
It is a simple sequential model [encoder, decoder]  that is trained calling fit method in order to reduce the tf universal sentence encoder embedding of some text to a 5 dim vec.
The problem arise sometime during the hyperopt params search as defined in the code
[snippet.py.zip](https://github.com/keras-team/keras

[2022-03-03 18:29] haifeng-jin commented on #14877
Note: The first step is to inspect if the `sample_weight` is included in a `DataLoader`. If not, it means they are executed eagerly, which would be slow.

[2022-03-03 18:55] #16146 closed

[2022-03-03 19:11] chenmoneygithub commented on #16142
Hi Meidozuki, thanks for reporting the issue and being willing to contribute!

We do not have general approach for plotting the subclassed model by intention, because subclassed model might contain customized layer and special structure that is hard to plot. The approach you are proposing is aligned with Functional model, which is a chain of Keras layers.

[2022-03-03 19:14] chenmoneygithub commented on #16131
Hi gante, a PR is more than welcome! Thanks!

[2022-03-03 19:21] chenmoneygithub commented on #16129
Hi, thanks for reporting the issue! Generally model variables' type should not be changed by setting the global policy, if it is getting changed, it means when we are creating the variable we use the backend type. That is to say, the reason for not seeing error in `MobileNetV3Small` and `EfficientNetV2B1 ` is that the model variables' type is not changed by setting global policy.

As a summary, th

[2022-03-03 19:22] chenmoneygithub commented on #16039
PRs are more than welcome! Thanks for contributing!

[2022-03-04 01:48] atmguille commented on #16113
@mattdangerw the code works in GPU. I have tested it in Kaggle, [the notebook](https://www.kaggle.com/atmguille/convlstm-oom-using-proposal#ConvLSTM) that uses my proposal is able to fit the model in memory while [the notebook](https://www.kaggle.com/atmguille/convlstm-oom#ConvLSTM) that uses the current state of Keras is not.

I agree with you, we can discuss further details of the code in the PR

[2022-03-04 02:02] gadagashwini commented on #16075
Closing as stale. Please reopen if you'd like to work on this further.

[2022-03-04 02:02] #16075 closed

[2022-03-04 04:10] Meidozuki commented on #16142
OK, I see. I did meet  a case that a subclass has its own variables and cannot be plotted.
Thanks for reviewing.

[2022-03-04 04:10] #16142 closed

[2022-03-04 07:02] sushreebarsa commented on #16107
@pnuzyf I tried to replicate the issue on colab using TF v2.8.0 .  Could you please have a look at the [gist](https://colab.research.google.com/gist/sushreebarsa/8d66c74c9c8b12a2efef40fcf3c263a7/16057.ipynb) and confirm the same?
Thanks!

[2022-03-04 07:07] sushreebarsa commented on #16057
@dalbertweiss I tried to replicate the issue on colab using TFv2.8.0. Could you please find the [gist](https://colab.research.google.com/gist/sushreebarsa/1fcd835e5cddddfb7a887cf7d2c4ded3/16057.ipynb) and confirm the same?Thanks!

[2022-03-04 07:10] sushreebarsa commented on #16107
@pnuzyf
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-03-04 07:15] sushreebarsa commented on #16106
@wangshan1997 Could you please update as per the [comment](https://github.com/keras-team/keras/issues/16106#issuecomment-1051560823) above ?Thanks!

[2022-03-04 08:06] pnuzyf commented on #16107
hello， I believe I have solved this problem.

 long_val = self.long_memory \
                        * (1. - self.alpha * tf.matmul(write_memory_attention, long_erase_vector)) \
                        + self.alpha * tf.matmul(write_memory_attention, long_add_vector)

            long_update_op = self.long_memory.assign(long_val)

            tf.compat.v1.add_to_collections(tf.compat.v1.GraphKeys.

[2022-03-04 08:23] sushreebarsa commented on #16107
@pnuzyf Thank you for the quick update!
Could you please move this issue to closed status as if it is resolved for you ?Thanks!

[2022-03-04 08:36] dalbertweiss commented on #16057
yes this is exactly the same

[2022-03-04 09:55] sebastian-sz commented on #16129
Thank you for the answer @chenmoneygithub. Althought, I'm not sure I understand, all concepts:

Sorry I don't think I follow - can you tell me what is the difference in MobileNetV3 or EfficientNetV2, compared to standard EfficientNet that the model's variables dtype is changed by setting global policy?

The issue seems to be affecting only EfficientNetB1 models. It is possible to load basic variab

[2022-03-04 11:49] BanzerUniKL opened #16167 "Installing specific Keras Version in Colab works strange"
Hey,

for a project I need Keras Vers. 2.2.5. I'm running it on Google Colab. My Code is

[code]

strangely it installs (according to the last line) Keras 2.8.0.

`
TensorFlow 1.x selected.
Collecting h5py==2.10.0
  Downloading h5py-2.10.0-cp37-cp37m-manylinux1_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 5.0 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7

[2022-03-04 16:58] maybeLee commented on #16158
I can also reproduce this bug. In the meanwhile, MaxPooling1D also has this issue while MaxPooling3D will output inf.

[2022-03-04 18:28] leon-kwy commented on #8595
<img width="840" alt="image" src="https://user-images.githubusercontent.com/61376272/156820581-198f7b52-ca0e-47b1-bb99-d25080385e02.png">
The same issue, I stuck at the first beginning when training the model using colab.  And it shows that I am stuck at the get function of _get_next_batch, and colab doesn't show anything to tell me what was wrong. Is there anyone could tell me what was going on?

[2022-03-04 20:51] pswpswpsw commented on #15783
I have a hypernetwork with `tf.einsum`, say the weights in tf.einsum is another neural network's output.. how can I use the above workaround?

[2022-03-04 21:32] irasit commented on #15298
@chenmoneygithub
It is mainly for model fine tuning or incremental training use cases. We like to load a compiled and trained model from checkpoing.h5 file. Copy the optimizer weights to a new horovod distributed optimizer and continue the training job.
[code]

We found a work around like below, but just like to know if it can be fixed officially.
[code]

[2022-03-04 21:35] isaacgerg commented on #15737
This is closed but is clearly a bug!

[2022-03-04 21:36] isaacgerg opened #16172 "keras metrics will not accept complex data"
TF 2.4.1 - 2.7

When using a metric that accepts complex numbers, tf keras fit ends up discarding the imaginary part of the complex number and then casts the array to real when inputting y_pred and y_true to a metric function.

It works correctly when used as a loss function.  The casting only occurs when the loss function is used as a metric.

The error is because of casting done in metrics.py on

[2022-03-04 22:06] foxik opened #16173 "TensorBoard callback does not collect data per batch (accidentally removed)"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Debian Stable**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **2.8.0**
- Python version: **3.9**

**Describe the problem**.

According to `https://www.te

[2022-03-04 22:07] foxik commented on #16173
Adding the author of the commit removing documented functionality: @jonycgn .

[2022-03-04 22:09] foxik commented on #16173
Alternatively, some variant of `write_scalar_summaries` could be moved to `on_train_batch_end` method of `TensorBoard` callback.

[2022-03-04 22:42] jonycgn commented on #16173
The mentioned commit didn't remove functionality from the `TensorBoard` callback, but from `Model`. The problem with these summaries was that they would be written unconditionally after each training step, regardless of whether the `TensorBoard` callback was even used. So reverting wouldn't make the code behave correctly.

The functionality should be corrected in the callback. It is unclear to me

[2022-03-04 23:25] foxik commented on #16173
Hi,

thanks for answer! The commit actually did remove functionality from `TensorBoard` callback -- the callback just sets correct `tf.summary.record_if` in https://github.com/keras-team/keras/blob/46121eed08d0feef743eacef3b66206df45cf656/keras/callbacks.py#L2362-L2373
but it relied on the `write_scalar_summaries` executed in the `keras/engine/training.py`, the one you removed. So once this "gener

[2022-03-05 00:12] #16000 closed

[2022-03-05 01:12] #16089 closed

[2022-03-05 11:48] IavTavares commented on #16097
For time series analysis, from the examples, we should just use the order from past to present...

[2022-03-05 11:48] #16097 closed

[2022-03-05 13:16] Tropaion opened #16178 "Prediction always the same, no matter which input"
Hello,

I'm new to Keras and are currently learning it because I need it for a university project.
Currently I'm trying this example: https://keras.io/examples/vision/image_classification_from_scratch/

At first a had a problem with filtering corrupted images: https://discuss.tensorflow.org/t/first-steps-in-keras-error/8049
But after changing the code, training the model worked.

Now I tried predi

[2022-03-05 14:02] chunduriv commented on #16097
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-05 16:57] kim-sardine commented on #16101
Same here.

[code]

+ I found a slow down in model prediction speed in tf2.8 compared to tf2.5.
I suspect that this error may be related to the slow down.

[2022-03-05 17:06] Zhaopudark opened #16179 "Why here use "caffe" but not "tf"?"
https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/applications/vgg19.py#L237

I'm using `tf.keras.applications.vgg19.VGG19` for transfer leraning, following the guides in tf docs and using `tf.keras.applications.vgg19.preprocess_input` to deal with inputs. But I'm very confused with the above source code, i.e., why here set mode as "caffee" but not "tf"?

[2022-03-05 17:37] saddamhijazi opened #16180 "Bug in saving keras models when a customized decorated loss function is used"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.6 **LTS**
- TensorFlow installed from (source or binary): **source**
- TensorFlow version (use command below): **2.7**
- Python version:  **Python 3.8.12**

**Describe the problem**.

The problem happens

[2022-03-05 18:27] Mohammad-alhmoud94 commented on #7905
I am facing the same issue can u please help me

[2022-03-06 07:19] webwarz commented on #6462
The tensorflow version is tf1.X
you should  to  ensure load_model and predict_model code using the same graph
so , after  load_model ,you should :

and then ,predicet_model ,you can :

[2022-03-06 10:37] vulkomilev opened #16181 "Transformer toolkit"
I want to implement a transformer toolkit(a set of modules that will compose some kind of DL model with attention ).I have said a toolkit because the today's landscape of the transformer research is very diverse and I think that it will be better to have the separate modules ( attention layer , concat layer ,add& norm layer etc)  and mix and match them rather to have one or two ready layer that wi

[2022-03-07 02:11] chunduriv commented on #16179
@Zhaopudark,

Here mode `caffe`: will convert the images from `RGB` to `BGR`, then will zero-center each color channel with respect to the ImageNet dataset, without scaling

Where as  mode `tf` will scale pixels between `-1` and `1`, sample-wise.

[2022-03-07 03:10] chunduriv commented on #16180
@saddamhijazi,
A workaround would be to simply save your model with the `H5` format, `model.save(s,save_format='h5')`.

[2022-03-07 05:32] Zhaopudark commented on #16179
@chunduriv Thank you!
I think this answer eliminate my confusion very well in detail.

[2022-03-07 05:32] #16179 closed

[2022-03-07 07:52] sushreebarsa commented on #16160
@partiallycomplex  Was able to replicate the issue on colab using TF v2.8.0 , could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/3c9a6d9722f9330807a3966d07008d97/kerasgist16160.ipynb) and confirm the same? Thanks!

[2022-03-07 08:19] sushreebarsa commented on #16167
@BanzerUniKL Could you please have a look on this [gist](https://colab.research.google.com/gist/sushreebarsa/462bc06c1707fc329118ebbe5d37a08e/16167.ipynb) and let us know if it helps?Thanks!

[2022-03-07 08:45] BanzerUniKL commented on #16167
hey, yeah, that helps. unfortunally i forgot to say that i need tensorflow ver. 1.x . So it is  a tensorflow-issue

[2022-03-07 09:19] sushreebarsa commented on #16167
@BanzerUniKL Thank you for the update!
`TF version 1.x` is not actively supported, for any further queries you may open this issue in tf discussion [forum](https://discuss.tensorflow.org/) as there is a larger community there. Thanks!

[2022-03-07 10:47] partiallycomplex commented on #16160
Hello @sushreebarsa I updatated the code in order to make it work. Now it is fine. I did not see the same issue. I noticed just some error due to my extract from the main code without adapt the code. Now it runs, so you could run and see if the error. I had, during the last days every time an error (always on optimizers and different shape in some op) during the 1000 trials. Remeber OS Mac Catilin