[2017-11-13 16:50] sergeyf commented on #853
Hi everyone,

Looks like this is still a references for some people. Here is what I do now with Keras 2.0.8:

[code]

Note! This version assumes that the `pretrained_embeddings` array does not come with a mask first row, and explicitly make an all-zeros row for it here: `weights = np.vstack((np.zeros(dense_dim), pretrained_embeddings))`. If you already have a special mask row, then feel free to ju

[2017-11-13 17:07] shay86 commented on #95
Hi,

Thanks for your kind reply. I build two convolution neural network to combine two sequences one with size (batch size, None, 23) and the other is (batch size, None, 3) note that batch size and None in both sequences are equal in each batch. This is the architecture

Convolution 1D layer (size=17,depth=256, padding=SAME,activation=prelu,input (batch size, None, 23))
Convolution 1D layer (size=

[2017-11-13 17:38] saeedalahmari3 opened #8470 "GlobalAveragePooling2D vs Flatten() on pretrained model"
In keras pretrained model (keras applications [page).](https://keras.io/applications/) tutorial uses GlobalAveragePooling2D() before feeding to customized top layers. What GlobalAveragePooling2D()  does? and why not using Flatten(), since these are going to be fed to FC layers? what would be the best practice in this matter if I use VGG16 or VGG19, or inception V3 with customized top layers?

Than

[2017-11-13 17:45] fchollet commented on #8470
Both `Flatten` and `GlobalAveragePooling2D` are valid options. So is `GlobalMaxPooling2D`.

`Flatten` will result in a larger `Dense` layer afterwards, which is more expensive and may result in worse overfitting. But if you have lots of data, it might also perform better.

As usual, it depends completely on your problem.

[2017-11-13 17:45] #8470 closed

[2017-11-13 17:48] jamesalcatraz commented on #2397
@avital You're the best!!

[2017-11-13 17:48] isaacgerg commented on #3358
@alexklibisz Makes sense.  However, there still another issue.  It looks likes the weights are only shown for some of my convolutional layers.  Any idea why?

[2017-11-13 18:24] #7355 closed

[2017-11-13 18:30] gunashekar commented on #95
The basic Rule for Merge is that the outputs of the layers you want to
merge should be of same dimensions( assuming you already know it)And then
you specify the mode(https://keras.io/layers/merge/) based on the mode you
set the axis.

An example would be
Output= Merge( input1, input2, mode=‘concat’, axis=-1)

Hope this helps.

Regards-
Deepa

On Mon 13. Nov 2017 at 18:08, shay86 <notifications@git

[2017-11-13 19:23] vijaychav commented on #8131
Looks like `keras.models.clone_model()` can be used here.
==> `keras.models.clone_model(old_model, new_input_layer)`

[2017-11-13 19:25] #8131 closed

[2017-11-13 19:33] fchollet commented on #8460
This is a valid use case (you'd use it in image segmentation with overlapping classes, for instance), so it should not be blocked.

We do minimal output/loss compatibility sanity checking (see `training.py`). If you have more ideas for new checks, please open a PR.

[2017-11-13 19:37] JesperChristensen89 opened #8471 "Training loss decrases (accuracy increase) while validation loss increases (accuracy decrease)"
Hi all,

I am working on a very sparse dataset with the point of predicting 6 classes.
I have tried working with a lot of models and architectures, but the problem remains the same.

When I start training, the acc for training will slowly start to increase and loss will decrease where as the validation will do the exact opposite.

I have **really tried** to deal with overfitting, and I simply cann

[2017-11-13 19:44] isaacgerg commented on #8460
@fchollet Thanks.  I didn't know feeding 10 dimensional vectors to binary_crossentropy would ever make sense.

[2017-11-13 19:44] #8460 closed

[2017-11-13 19:59] karankatiyar92 commented on #2462
can we use sequential model to design residual nets architecture?

[2017-11-13 20:57] ozabluda commented on #7648
Loss (0.3423) is average across the whole epoch 1. Loss (0.0927) is the loss of the first minibatch of the epoch 2.

[2017-11-13 21:09] Zygonie opened #8472 "Saved model size on disk hardly understandable"
I have two models trained on the same dataset. One with two convolution layers and one with ten. Once trained, I save both models the same way, but whereas the light model takes 2GB on disk, the large on only takes 5MB ! If it were the inverse I would have understand, but how is it possible ? What do I miss ? Actually, a 5MB model suits me very well but why this behaviour ?

Large model

[code]

L

[2017-11-13 21:15] wazzed commented on #5400
Any update yet ?? @unnir

[2017-11-13 21:41] alexklibisz commented on #3358
@isaacgerg I'm not sure why that would be. In my experience it's helpful to explicitly name them because it's very easy to get lost in the many kernels, biases, gradients, activations, outputs, etc..

[2017-11-13 21:43] ylmeng commented on #3653
@xyl576807077 Hmm I found the way I described does not work with keras 2.0. So you have an output for each token in a sentence? I think it is clear to write a custom loss function, anyway. For example, if you want to use weights to scale losses (tensorflow backend as an example):
[code]
Then in your keras code you just need to specify model.compile(loss=my_weighted_loss...)
There are other ways to

[2017-11-13 21:47] rdelassus commented on #6416
This default parameter is still there. There is still no reason for it to be there.

[2017-11-13 22:07] isaacgerg commented on #3358
@alexklibisz I usually develop with tensorflow but had a small toy problem and thought I would give keras a try again but alas, the tb functionality doesn't seem to work right at the moment.  Would providing any screenshots or code help you to help me? (I dont want to make any extra work for anyone.)

[2017-11-13 22:46] Dref360 commented on #8472
Hi!
This question seems best suited for StackOverflow. Could you post your issue there? Also, remember to close your issue if you do so!
Thanks!

[2017-11-13 22:52] mraseeri85 opened #8473 "Cannot improve the accuracy for SimpleRNN network"
I have a dataset C of 10,000 (binary) samples each of 64 features. The class label is binary ( either 1 or -1). For instance, a sample would look like this `c=[1,0,0,0,1,0, .... , 0,1]`,` r=[-1]`. My goal is to generate a classification model that is able to classify the samples based on the binary classes ( i.e., 1 or -1). I thought to try using Recurrent NN to generate a good model for classific

[2017-11-13 22:53] tybrad11 commented on #7442
I'm getting a similar error. I have a HDF5 file that contains 2 datasets: _img_ (256x256x313) and _score_ (25x4x313). HDF5 reads in _img_ just fine, but it gives the same error as raaju-shiv gets when trying to read _score_:

**Unable to open object (Object 'score' doesn't exist)**

I can read both datasets using h5py or using Matlab. Both datasets were written using identical methods. It's strang

[2017-11-13 23:38] ThGravo commented on #7369
Not outputting a histogram fixed it for me.

[2017-11-13 23:46] #2034 closed

[2017-11-13 23:56] ozabluda commented on #8380
You can also file Cylindrical padding feature request with TF: https://www.tensorflow.org/api_docs/python/tf/pad

[2017-11-14 01:03] ganav commented on #3109
@abmitra84 i have solved my issue using reshape but it gives me extra errors and solved that but keep giving errors finally worked without flatten. anyway i want to know why flatten gives none.

if u need my code let me share only important 3 lines for flattening:
out_.append(Reshape((1,size))(j)) # flattening
out = keras.layers.concatenate([out_[0],out_[1]], axis=-1) # concatenate
out = Lambda(la

[2017-11-14 01:24] zhaoxin0123 commented on #8264
@kinni thank you ,i have tried this way, is ok . but i want on the basis of request params to load model. i have a lot of model , on the outside is very slow .so i  have no means.

[2017-11-14 04:22] tobegit3hub commented on #8283
Thanks @XifengGuo  and it looks great.

Is that possible to add the helper functions into the core of Keras? And How?

[2017-11-14 06:34] #5396 closed

[2017-11-14 06:37] abmitra84 commented on #7333
Will be helpful

[2017-11-14 07:50] andreidi commented on #4100
I see this issue is closed however I haven't found any solutions yet... Any news on using sampled softmax in keras ?

[2017-11-14 08:28] chrisalbertson commented on #7333
I'd like to know how what kind of motors they use and how the power system
works.   There are many videos on the web but little good technical
information.  Boston Dynamics seems to have unlimited power to weight
ratios and in very small volume package.

On Mon, Nov 13, 2017 at 10:38 PM, abmitra84 <notifications@github.com>
wrote:

--

Chris Albertson
Redondo Beach, California

[2017-11-14 08:49] bryan831 commented on #741
i'm trying to solve a similar requirement. Classifier using data with many labels (more than 200), with all of the labels being binary (flags). And for most rows the values are 0.

Please help pieroit and I. I believe the solution lies somewhere in adjusting weights for the 1s.

How to adjust weights with class_weights for input data?

[2017-11-14 09:34] #6373 closed

[2017-11-14 10:00] Raziel1511 commented on #8425
It's the very same in the example given by Keras. I think this forces Keras to synchronize shared variables on the CPU, that are updated by the GPUs after each Batch/ Epoch.

[2017-11-14 10:00] mudigonda commented on #6997
Was there a fix for this?

[2017-11-14 10:07] doktopaibolit commented on #8008
@puyangsky Can you publish your code? Tnx

[2017-11-14 10:34] #7358 closed

[2017-11-14 10:54] puyangsky commented on #8008
@doktopaibolit  use the line below:
pred_result = decode_batch(test_func, test_X)[0]

"decode_batch" and "test_func" were defined in the code, the test_X is the test data, its type is numpy.ndarray with the same format with the training data.

[2017-11-14 11:04] tobigue commented on #741
You could try to give more weight to positive targets in the loss function.

If you use the tensorflow backend:
[code]

Then in your model: `model.compile(loss=weighted_binary_crossentropy, ...)`

Would be interested to hear if this worked for you and how you set the pos_weight in relation to your number of classes!

[2017-11-14 12:03] doktopaibolit commented on #8008
@puyangsky I get this error:
ValueError: Cannot feed value of shape (1, 128, 64, 3) for Tensor u'the_input:0', which has shape '(?, 128, 64, 1)'

[2017-11-14 12:39] puyangsky commented on #8008
@doktopaibolit this example requires single channel picture, so you need to transfer (1, 128, 64, 3) to (1, 128, 64, 1) by  using tmp_X = tmp_X[:, :, 0]. You can refer my repo:  [https://github.com/puyangsky/KerasCaptcha](https://github.com/puyangsky/KerasCaptcha)

[2017-11-14 12:43] vianamp opened #8478 "K.gradients returning [None]"
tensorflow (1.4.0)
Keras (2.1.0)

Hi. I am running this code https://github.com/jacobgil/keras-grad-cam/blob/master/grad-cam.py and after updating TF and Keras the code is crashing at `grads = normalize(K.gradients(loss, conv_output)[0])`. It says the output of `K.gradients(loss, conv_output)` is none. Any ideas? Code was working fine before.

[2017-11-14 12:52] bryan831 commented on #389
so if sample_weight takes a 1-D array, with length equal to the number of samples,
that means each sample can have a different weight value assigned, but not each field (feature or column).

My usage or ideal solution is very similar to the OP's.
Like him, I want to input a matrix of weights so that for each sample, the 1 fields can be more 'important' than the 0 fields.
I believe we are both tryi

[2017-11-14 13:13] riadsouissi commented on #6599
Same problem.

[2017-11-14 13:34] #7136 closed

[2017-11-14 13:42] #8472 closed

[2017-11-14 14:07] ronamit commented on #6640
I am experiencing similar slowdown with Titan Xp (compared to GTX 1080).
Have you found a solution?

[2017-11-14 14:42] bfarzin commented on #6640
This is still a problem.  It is unfortunate that there is not been any comment from core developers to resolve or even address the problem.

After much work and research I came to realize the source of the problem is in how Keras implements the RNN and how that was formerly dependent on the Maxwell architecture.   After many painful steps and tests I came to the conclusion that I should try anothe

[2017-11-14 15:23] carlthome commented on #8471
Interesting problem!

1. `train_generator` looks fine to me, but where does your validation data come from? Is it processed in the same way as the training data (e.g `model.fit(validation_split)` or similar)?

2. I assume your plots show epochs horizontally? I think overfitting could definitely happen after 10-20 epochs for many models and datasets, despite augmentation. What batch size do you use

[2017-11-14 15:51] #8473 closed

[2017-11-14 16:14] JesperChristensen89 commented on #8471
1. The validation data is generated as
[code]
And then the model is fitted by
[code]

2. I have been using batch sizes of 4, 8 and 16.

3. Sparse in the sense that I haven't much data available for training. It is images of wrenches where I need to predict the position of the wrench of size 19, i.e. for the image below wrench 19 is located on the first position from left to right, so a correct out

[2017-11-14 16:22] veronicamorfi commented on #3896
Had the same issue recently. Turns out it was caused because I was training a 4-GPU model.
I saved the weights for all 4 instances, but should have loaded only one of them for evaluation instead of all for. Basically, I was trying to evaluate on the parallel model and keras was expecting to be able to split the batches between 4 GPUS.
Loading just the weights of one model and evaluating on that wo

[2017-11-14 17:11] shay86 commented on #95
Hi,
your answer helps a lot but can you provide me with any source, document, or paper explains marge layer more. As far as I know, there are (Merge and merge) one of them combine tensors and the other combine weights .How they do that what is their architecture look like or what is the mathematic formula for them. I search a lot of papers none of them gives me an answer. So, I will be grateful if

[2017-11-14 17:36] #8431 closed

[2017-11-14 17:46] tgy opened #8481 "LSTM-based regression: expected dense_1 to have shape (batch_size, 1)"
I'm trying to create a LSTM-based regression model with Keras but I'm having
trouble. I read blog posts and code examples from GitHub and feel like I'm
using the Keras API the right way but it still crashes.

Here is the code

[code]

The code raises a `ValueError` at the `model.fit` step.

Here's the output I get when running this code:

[code]

The `x` I am passing to the `model.fit` is of shape

[2017-11-14 18:27] #6382 closed

[2017-11-14 18:58] gunashekar commented on #95
Hi,
I haven’t come across  any paper decribing the mathematical or architecture
details on how the merge layer works. You can figure it out by looking at
the source code and by printing the output shape of your network. (This
helped me a lot)

The Merge layer is used to combine the  the outputs of two sequential
models. ( this worked when i tried to combine the output of two sequential
CNN’s For i

[2017-11-14 19:41] jmcconnell commented on #8253
@shu-hai yeah, I mentioned you'll have to update `original_model()` to work with your architecture. I'm sure there is a more generalized way of grabbing the correct layer, but I am new to Keras and didn't have time to look into it.

Run a `print(parallel_model.summary())` to see what the layer for your original model is called.

[2017-11-14 19:50] roccolocko commented on #2397
For people who don't want to import tf you can use directly the backend like:

`graph = K.get_session().graph`

The rest is the same.

[2017-11-14 19:53] ronamit commented on #6640
Thanks!
I will check out PyTorch .
Have you installed it form source?
What version of CUDA and CuDNN did you use?

[2017-11-14 20:08] bfarzin commented on #6640
From the homepage you can pick out the version you want to use.
http://pytorch.org/
I have a few boxes some on CUDA 7.5, some on 8.0
I have installed via pip, but if you use conda that is recommended.

I did not find the examples as useful as they could have been.  There is a big leap to get to sequence-to-sequence learning which glosses over some details.  I would suggest creating a toy problem a

[2017-11-14 20:37] ronamit commented on #6640
Great, thanks!

[2017-11-14 20:41] bdwyer2 commented on #8481
This is a known issue. #8477

[2017-11-14 21:25] fchollet commented on #8481
Fixed at master.

[2017-11-14 21:25] #8481 closed

[2017-11-14 21:28] bdwyer2 commented on #8481
@fchollet thanks for the quick fix. Will pypi be updated?

[2017-11-14 21:29] fchollet commented on #8481
Can't update a PyPI release, so we'll re-release.

[2017-11-14 21:46] bdwyer2 commented on #8481
@tgy can you please re-run your code with the latest version of Keras? I'm still running into this problem on my machine with 2.1.1. I will try to put together a minimum reproducible example.

[2017-11-14 21:59] tgy commented on #8481
@bdwyer2 i'll do it tomorrow morning and post my results here

[2017-11-14 22:06] ml-pickle opened #8484 "CNTK backend for recurrent layers fails to recognize `unroll`"
https://github.com/fchollet/keras/blob/master/keras/layers/recurrent.py#L1474

`if not kwargs.get('unroll') and (dropout > 0 or recurrent_dropout > 0):`

Causes dropout to be set to 0, even when unroll=True is passed.

Unroll is a named arg and not in kwargs.

[2017-11-14 22:43] frankcarey commented on #6462
Just got this error all of a sudden (Was working fine earlier today).. `model._make_predict_function()` worked for me as well to solve it, but weird!

[2017-11-15 00:28] olalonde opened #8487 "Imagenet preprocess code: why not subtracting "mean pixels" in tf mode?"
https://github.com/fchollet/keras/blob/2.1.1/keras/applications/imagenet_utils.py#L36

I'm a bit confused by the `preprocess_input` in `imagenet_utils.py`. It seems like in `tf` mode it just uses a mean of `255/2` instead of the empirical per-channel means that is used in Caffe mode: ` 103.939, 116.779, 123.68`. It also scales the pixel values to be between `[-1, 1]`, whereas the pixel values are

[2017-11-15 00:55] bdwyer2 commented on #8478
By any chance does it work with Keras 2.1.1?

[2017-11-15 01:25] Dref360 commented on #8464
https://keras.io/layers/merge/#concatenate

[2017-11-15 02:09] arohamirai commented on #7362
@courteouselk you are awesome

[2017-11-15 03:04] Adizx12 opened #8493 "Many-to-Many LSTM predicting same output for each timestep"
Hello,
I'm trying to prepare many-to-many LSTM model, where for each timestep model should predict separate output. I've tried to use Sequential model, however faced a strange problem.

Model definition:
[code]

Sample input:
![obraz](https://user-images.githubusercontent.com/19515958/32816171-bc2dd530-c9b7-11e7-8ff0-bd360385ec65.png)
(First is number marking time position, then binary encoding of

[2017-11-15 04:16] guoxiaolu opened #8495 "a bug of memory leakage based on tensorflow backend"
`def get_gradients(model, x, layers_name):
    gradients_all = model.optimizer.get_gradients(model.total_loss, weights)  # gradient tensors

    input_tensors = [model.inputs[0],  # input data
                     model.sample_weights[0],  # how much to weight each sample by
                     model.targets[0],  # labels
                     K.learning_phase(),  # train or test mode

[2017-11-15 04:52] #7365 closed

[2017-11-15 04:52] #7364 closed

[2017-11-15 04:55] sandeepnmenon commented on #8465
Did you find a solution? @roccolocko

[2017-11-15 05:41] yasserfarouk commented on #2904
I could get around it by installing a regularizer at every layer then have one of them do the required change in the objective silencing all others.

[2017-11-15 05:56] roccolocko commented on #8465
Yes, Define a model which only recieves one parameter(X) and load the weights of the model you trained:

Model should look something like this:
`model = Model(inputs=input_tensor, outputs=x)`

And then use your trained model to load only the weights and set them to that model:
[code]

After that you can use your new model the way you expected and it will take the info of the one you trained. Of co

[2017-11-15 05:59] exitNA commented on #7395
i have the same problem with custom losses function, which i need external data for loss function calculation, currently, i follow the  variational autoencoder demo  to work around, it is still not perfect solution for this common problem.

[2017-11-15 09:02] hpts23 commented on #741
Hi! I am facing a bit different problem in training multi-label classifier.
I use  *sigmoid* and  *binary cross entropy* for training,
however, the network's output got almost same values among images, like below.
I have 200 classes, and now its output is not appropriate.
[code]
[code]
Please tell me how to deal with this problem.

[2017-11-15 09:34] tgy commented on #8481
@bdwyer2 sadly, i get the same error. here's my keras version
[code]

[2017-11-15 09:39] autonomobil commented on #3675
same problem...
running into ResourceExhaustedError: OOM

[2017-11-15 09:43] Happyzippy opened #8496 "seeded data generators should return to original random state"
Seeding of data generators introduce side effects because the random state is not reset after use

The following code should not make c and d deterministic, and not equal either
`
from keras.preprocessing.image import ImageDataGenerator
import numpy as np
x = np.random.randn(10,10,10,3)
g2 = ImageDataGenerator().flow(x, seed=0, shuffle=True)
g1 = ImageDataGenerator().flow(x, seed=0, shuffle=True)

[2017-11-15 09:46] j-o-d-o commented on #2397
When working with (async) Webservices and you get this error from time to time when loading a model on different requests, don't forget `K.clear_session()`!

[2017-11-15 09:46] ChunhuanLin commented on #5920
+1

[2017-11-15 09:50] #7354 closed

[2017-11-15 10:04] tgy commented on #8481
@fchollet maybe you closed that one too soon? 😄

[2017-11-15 10:42] satwikbh commented on #5073
@bstriner Thanks for your approach, really helped me. In case there are more layers in the autoencoder, it becomes tedious. Is there any better way of doing it ?

[2017-11-15 11:40] FrostedPenguin opened #8497 "How to read 16 bit COLOR image with flow_from_directory?"
Currently I have bunch of 16bit color image as training set. (So each RGB channel is 16 bit not 8 bit)
I know `flow_from_directory` use PIL as its backend and PIL possibly can read 16bit grey image. But I'm not sure it can read 16bit color image.
Currently flow_from_directory read image as 8 bit. So it shrink 16bit to 8bit and give it to me.
I've searched quite a lot of examples but couldn't find

[2017-11-15 11:50] #7361 closed

[2017-11-15 13:04] DomHudson commented on #853
Thanks for the reply both!

@AllardJM It doesn't error no. I've done a little investigation and with the following code I've come to the conclusion that it is being utilised and in fact, the original solution (using a `weights` kwarg) that @sergeyf  posted does still work.

[code]

[code]

         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.

[2017-11-15 14:13] saeedalahmari3 commented on #4875
I'm facing the same issue, Any idea how to fix this?

[2017-11-15 14:22] saeedalahmari3 opened #8498 "Model.save_weights() then Model.load_weights() gives different results."
I have trained a model and I used checkpoint to save the best model. Then I evaluated the model in validation set using model.evaluate_generator(), it gives 73%. When I loaded the model weights using model.load_weights() and then evaluate generator it gave me 80%.  Why is that happening? Any Idea?

[2017-11-15 15:23] pranitapradhan91 opened #8499 "ValueError: Invalid shape for y"
Dear all,

I am doing semantic segmentation and want to optimize the parameters of my model using gridsearcv.
The shape of my input data is (12L, 3L, 256L, 256L) i.e. (number of images, number of channels, numberofrows, number of columns) and the shape of label vector is (12L, 65536L, 4L) i.e. (numberOfimages, numberOfRows*numberOfColumns, numberofLabels).
My code looks like this

![image](https:/

[2017-11-15 15:32] BrianMiner commented on #853
Great! This is what I found as well, the example code still works fine to pass in weights to initialize the embedding.

Cheers!

On 11/15/2017 08:05 AM, DomHudson wrote:

Thanks for the reply both!

@AllardJM<https://github.com/allardjm> It doesn't error no. I've done a little investigation and with the following code I've come to the conclusion that it is being utilised and in fact, the original

[2017-11-15 15:34] #7368 closed

[2017-11-15 16:11] dear983604 commented on #2080
@dsy412610 may I have your tutorial lesson. appreciate that
dear983604@gmail.com

[2017-11-15 16:18] saeedalahmari3 commented on #8498
OK, I got the problem. in checkpoint I didn't set save_weights_only to True. This fixed the problem.

[2017-11-15 16:18] #8498 closed

[2017-11-15 16:37] hseelawi opened #8500 "Saved Model Loading Inconsistent Behavior"
I am training and persisting the model found at this [link](https://github.com/Hironsan/anago/blob/master/anago/models.py). It trains and loads on the same machine without a problem. However, if the persisted model is loaded on a different machine than the one it was trained on, then it shows the error message bellow.

`Traceback (most recent call last):
  File "try.py", line 12, in <module>
    m

[2017-11-15 16:49] liambarnett commented on #5870
None of the above worked for me. Downgraded to 1.2.2, restarted and ended up with the same error. Resorted to downloading updated modules here - https://github.com/roebius/deeplearning_keras2 and still hitting bugs. Hope this gets addressed soon.

[2017-11-15 16:51] drlego9 commented on #8478
Experiencing the same problem here. 'K.gradients(loss, conv_output)[0]' returns None after upgrading to tensorflow-gpu (1.4.0) and Keras (2.1.1).

[2017-11-15 17:03] christian-rauch opened #8501 "evaluate requires to define optimizer in compile of restored model"
Following up from https://github.com/fchollet/keras/issues/2621:

I want to evaluate a combination of models restored from trained weights. `compile` requires me to define `optimizer` and `loss` which should only be required during training.

E.g. I am restoring two models from hdf5 files and connect the output of the first to the input of the second:
[code]

For evaluation, I would expect to only

[2017-11-15 17:03] saeedalahmari3 opened #8502 "Batch_size in fit_generator()"
steps per epochs in documentations mentioned batch_size in order to choose the steps_per_epoch. However, what is the default batch_size when using fit_generator()? I know that using fit() batch_size default is 32. and this is hyper-parameter that needs to be tuned since it involves in gradient updates.
Now how to tune batch_size when using fit_generator()? Help please.

[2017-11-15 18:28] brge17 commented on #8502
The generator, which you either write your own or use the ones included with Keras, is supposed to yield data of the appropriate batch_size.

As per such it is a parameter of the generator itself, and not fit generator.

[2017-11-15 18:29] bdwyer2 commented on #8478
This may be related to #8481

[2017-11-15 18:30] brge17 commented on #8468
I would also add, have the same functionality for evaluate on batch.

That would enable metrics to be computed on entire epochs instead of batch averages (which doesn't work for things like AUC, etc...)

[2017-11-15 19:28] sebasvega95 commented on #8424
Hello :blush:

I had the same error when trying to implement the perceptual loss described in [this paper](https://arxiv.org/abs/1603.08155). My code is similar to what you're showing. I solved this issue by doing something like

[code]

I don't know the technical details, but this is similar to using the [functional API of Keras](https://keras.io/getting-started/functional-api-guide/). Hope this

[2017-11-15 19:52] shay86 commented on #95
Hi,

that is good I will try to do as you say and I will study the links you sent

thanks a lot

________________________________
From: gunashekar <notifications@github.com>
Sent: Tuesday, November 14, 2017 1:59 PM
To: fchollet/keras
Cc: Shayan Ihsan Jalal; Comment
Subject: Re: [fchollet/keras] Is it possible to merge two different input layers into one? (#95)

Hi,
I haven’t come across any paper

[2017-11-15 22:01] #7372 closed

[2017-11-15 22:18] gmrhub commented on #8430
I faced similar situation 2.0.0 (with tf 1.1, cuda 8, cudnn 5.1) vs 2.0.9 (with tf 1.4, cuda 8, cudnn 6).
With so many differences I did not have time to investigate further.

So, wondering if error averaging is changed somehow across the batches per epoch.

Another issue with keras 2.1.1, when I use fit_generator with batch_size = 16, steps_per_epoch=348 (more than the actual samples i.e. 174), i

[2017-11-15 23:11] colpain commented on #2468
Hi @jpeg729 ,
I have a question regarding to batch_shape in the first layer of stateful LSTM network.
As fas as i know, batch_shape specifies (batch_size, time_step, input_dim) for LSTM network, if we do stateful, we can set batch_size to 1, but how about time_step? can we set time_step to 1 as well?
let's say I'm trying to build a character level text classification with stateful LSTM,
in this ca

[2017-11-15 23:19] #8441 closed

[2017-11-15 23:25] fchollet commented on #8481
@bdwyer2 The error you pointed to on SO appears unrelated.

@tgy Your script works fine for me with the new release -- standalone version:

[code]

If you're still seeing an issue, it's unrelated to the one that we fixed in 2.1.1.

[2017-11-15 23:55] jpeg729 commented on #2468
If you do stateful you can still use batch_size > 1, and time_steps > 1.

The simplest case is of course, batch_size == 1 and time_steps == 1, and in that case you feed the model one character of a single sentence at a time.

If you use time_steps == 10, for example, then you must feed the sentence to the model 10 characters at a time, the first call must provide the first 10 characters of the sen

[2017-11-16 00:08] ozabluda commented on #5239
Following my hypothesis above, I rechecked `cifar10_cnn.py` example after updating from TF 1.3 to TF 1.4. Cudnn stayed at v6, cuda stayed at 8.0, and everything else is unchanged.  Now validation accuracy is approximately as promised in the example, for the first time since this spring - TF 1.0 or 1.1.

[2017-11-16 00:42] colpain commented on #2468
Hi @jpeg729 ,
Thank you for your answer! this is very helpful! so my understanding is batch_size won't affect the performance of LSTM, the only different is if we use a large batch size, we would experience some training speed up on GPU?
Regarding to time_steps==1, if we pass one character at a time, it seems like we are not utilizing the advantage of LSTM, because we don't do BPTT in training? I

[2017-11-16 01:01] #4754 closed

[2017-11-16 02:21] Doodleshr commented on #8442
@directcsd Have you solved the problem yet? I recently discovered that tensorflow 1.4 has support for multi-dimensional LSTM, you can have a try if you want

[2017-11-16 02:28] cherryunix commented on #8471
seems you overfit the data

[2017-11-16 03:25] Nicolas99-9 opened #8508 "Loss function nan"
I tried to create a simple neural network but the loss function is always nan.
My data is a matrix with the shape (84906, 23)
The labels can have two values (1 or 2).
My code

`import numpy as np

def f1_score(y_true, y_pred):
    # Count positive samples.
    c1 = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    c2 = K.sum(K.round(K.clip(y_pred, 0, 1)))
    c3 = K.sum(K.round(K.clip(y_true, 0, 1

[2017-11-16 05:01] #7247 closed

[2017-11-16 05:17] clemej opened #8510 "CuDNNLSTM and activations"
This is likely a silly question, but how are activations meant to be handled between CuDNNLSTM/CuDNNGRU layers? The new CuDNNLSTM and CuDNNGRU layers do not contain an activation= parameter to insert activations between GRU cells, and there is no documentation on how activations interact with these new layers. Should they now be created as separate activation layers?

Or does the optimization/spee

[2017-11-16 06:07] shubhangi-tandon commented on #3469
@pablocosta  were you able to resolve this issue ?

[2017-11-16 06:41] JesperChristensen89 commented on #8471
@cherryunix, how could I go any further to prevent that? I think I already took any available measures to prevent overfitting the data.

[2017-11-16 06:49] muximus3 commented on #8407
get the same issue, when implements seq2seq,
[code]

[2017-11-16 07:10] anatolix opened #8512 "multi_gpu_model renames model outputs"
This code in multi_gpu_model actually renames output to "concatenate_1", "concatenate_2" ... etc

https://github.com/fchollet/keras/blob/master/keras/utils/training_utils.py
[code]

This cause problems while assigning loss function with dict and understanding metrics on tensorboard.
Need set same names for concatenate as underlying model output names

[2017-11-16 07:42] talorwu opened #8513 "Is a bug in ConvLSTM2D?"
in the convlutional_recurrent.py, the build function  in class ConvLSTM2D, there are the following code:
[code]
I think there is a bug, the `input_dim` is the channels of Input, but for `state_spec`, the value of this dimension should be the `self.filters`.
If I hold a wrong idea, please tell me , thx

[2017-11-16 08:17] #7376 closed

[2017-11-16 09:17] #6375 closed

[2017-11-16 09:23] jpeg729 commented on #2468
I think a smallish batch_size would provide some speedup even on CPU since modern CPUs have some ops for vector/matrix calculations.

I think you are right about loosing BPTT when using time_steps == 1. However, you will get some useful training since the hidden state is preserved.

I have tried batch_size between 10 and 20, with time_steps >= 50. Those settings seem to do useful work at reasonabl

[2017-11-16 10:21] fqassemi commented on #3110
I have worked on NLP for a while, now. I understand tf-idf, and I do understand the word frequency. GloV and other word2vec are also understood (which transform words to vectors not to an integer). Now, converting a word to an integer, is still a myth for me! If it is just word_frequency, then it is fine (not very exciting though). I also have problem with "learning on the fly", Embedding is actua

[2017-11-16 11:04] vianamp commented on #7632
Hi. I have the same question. I think using a custom loss function is the way to go, but I couldn't get this working yet. Here is my example code:

[code]
Basically you specify a model that returns the states (sh and sc), but this variables are not used for calculating the loss. As I said, not working yet.

[2017-11-16 11:38] vianamp commented on #7632
I think I found a solution. We can simply define two models that share variables. The 1st model only returns the target variable. The 2nd model returns the states in addition to target. See:

[code]

So you can do: `model.fit(X,Y)` for training and `Y, Sh, Sc = model.predict(X)` to retrieve the states related to a particular input X. Not sure there is a best way to do that though.

[2017-11-16 12:13] #7532 closed

[2017-11-16 13:17] #2681 closed

[2017-11-16 13:31] carlthome commented on #8471
Training deep learning models it more of a craft than an exact science unfortunately.

You have some varying issues with your method (small batch size for normalization, possibly too different validation and training augmentation, way too few images, etc.) and you're definitely overfitting.

It's not reasonable to expect the learned filters to work out wrench sizes. In fact, a common goal of the m

[2017-11-16 14:19] voletiv commented on #2101
Could you please let us know the progress of Mask support for Merge layers? When is it likely to be implemented?

[2017-11-16 16:16] #7277 closed

[2017-11-16 17:12] tmdavid commented on #3181
@JordanPeltier Did you Find any solution for that?

I have a whole pipeline set, one of the steps is to predict something. I Load everything in the parent, and the throw a bunch of child processes, but at the predict step it gets hung.

I cant seem to find a solution for that.

[2017-11-16 17:18] JordanPeltier commented on #3181
Not possible. You need to load the model in the child processes (in the run method).

[2017-11-16 18:07] MuadDev opened #8516 "Keras cannot find GPU's when using `multi_gpu_model`"
I'm trying run the multi gpu [example](https://keras.io/utils/#multi_gpu_model) from keras:
[code]

But  I get the error:
[code]

However, nvidia-smi shows I have all gpus available:
[code]

And I have the latest in tf en keras:
[code]
I'm a bit lost at what the problem could be here, especially since running on a single GPU works fine.

[2017-11-16 18:10] MuadDev commented on #8516
Stupid me, while updating tf i installed the cpu version, not the gpu one.

[2017-11-16 18:10] #8516 closed

[2017-11-16 18:16] k0nd0r commented on #8418
I am trying to do the same thing but I am still getting different bottleneck features from keras (2.1.1) for InceptionV3 and from native tensorflow. The used image as well as the graph definition file can be found at http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz .
How did you manage to get the same results? Here is my python code:
[code]

Thanking you in advance.

[2017-11-16 18:27] karishnu commented on #3181
Switching to Theano as the backend solved the issue

[2017-11-16 18:31] directcsd commented on #8442
@Doodleshr I'm using TF 1.4.0 under Keras, but I though that Keras abstracted that for me. What you are proposing is to move the code to native TF? Or did I misunderstand you?

[2017-11-16 18:36] prashanthdumpuri commented on #8418
@k0nd0r couple things to try
1. Try the 2016 weights for tensorflow
2. You are preprocessing your input for keras' bottleneck features but are not doing that for the  tensorflow. (preprocessing in keras scales and normalizes your image to conform to imagenet images).
Hope that helps.

[2017-11-16 18:50] mas-dse-greina commented on #8396
How is this different than just defining OMP_NUM_THREADS and intra_op_parallelism_threads to 3?

[2017-11-16 19:04] stetelepta commented on #4081
This part from the link mentioned by @baharian was especially helpful:`Pass fit parameters to the fit method instead.`

![image](https://user-images.githubusercontent.com/1556129/32910243-011de7c8-cb09-11e7-890f-8e176852888b.png)

[2017-11-16 19:14] vianamp commented on #8478
Tried to update to Keras 2.1.1 by still experiencing same issue.

[2017-11-16 19:37] tmdavid commented on #3181
Wont it then replicate the memory used?

I mean, my idea is load model once, parallelize the predict method. Having several child processes who just call the predict. Otherwise it makes it memory consuming, and that I already have :(

[2017-11-16 20:42] jnphilipp commented on #8414
Changing https://github.com/IDSIA/sacred/blob/master/sacred/utils.py#L356 to
[code]

seems to do the trick.

[2017-11-16 20:44] prashanthdumpuri commented on #8471
@cherryunix Agree with @carlthome about overfitting. Use model.summary() for the number of parameters used in your model and compare it to the number of your images in train_data_dir. My guess is that there is a huge imbalance there. Checkout Hyperpot ([example](https://github.com/maxpumperla/hyperas/blob/master/examples/complex.py) ). It will make it easier to fine tune your hyperparameters and y

[2017-11-16 20:51] JesperChristensen89 commented on #8471
@prashanthdumpuri thanks for your answer. I agree with the overfitting for now as well. I have 250-ish images in my training dir - these are then augmented never the less. However, for the CNNs I have tried training have some 10 million-ish trainable parameters.

[2017-11-16 20:51] ozabluda commented on #8414
Sure, but maybe an overkill. `if not new_line.contains('] - ETA:'):` may work just as well most of the time.

[2017-11-16 21:04] olalonde commented on #8487
Ah, it appears that the `tf` mode was introduced specifically for the inception and mobilenet models: https://github.com/fchollet/keras/commit/0b3dc16b603a549a20f4a92447c79042fecd0c0b

I suppose other applications should use the default `caffe` mode.

[2017-11-16 21:12] DomHudson commented on #8508
Hi,
as your data has either class 1 or class 2 it's a binary problem. Therefore you should change your targets so to 1 and 0 and use this as your final layer:
[code]
You should also use 'binary_crossentropy'.

[2017-11-16 21:16] #7380 closed

[2017-11-16 21:17] TopologyApplied opened #8517 "Does Keras optimize the 0th hidden cell in LSTM?"
I want to use LSTM with keras for a seq2seq model: given x1... xn, output y1...yn

The question is about to compute the first hidden cell, h1, we need h0 and x1 to compute h1. As I know, we usually simply always let h0=0. There is no x0 and y0. Can we optimize h0 as well?

[2017-11-16 22:18] juliohm commented on #3461
I am having a hard time trying to decipher the hidden conventions in Keras. This is basically a problem with the Python programming language that doesn't distinguish row, column vectors, and that doesn't restrict dimensions very well. Some functions in Keras expect lists, some expect Numpy arrays, this inconsistency is quite hard to grasp.

Suppose I have a feature vector of size n (a time series)

[2017-11-17 01:51] stephen-cheng opened #8518 "keras iteration was interrupted at 99/100"
Please make sure that the boxes below are checked before you submit your issue. If your issue is an implementation question, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [join the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) and ask there instead of filing a GitHub issue.

Thank you!

- [ ] Check that you are up-to-date with t

[2017-11-17 02:21] JerryKurata commented on #6357
Any update on how to use the merge layers methods with the Sequential Model?

[2017-11-17 02:30] ozabluda commented on #8502
Recent changes to the docs in the repository make it somewhat clearer:
https://github.com/fchollet/keras/blob/master/keras/engine/training.py#L1929

[2017-11-17 02:44] ozabluda commented on #8496
For more (friendly) criticism of Keras' usage of numpy.random.seed() see https://github.com/numpy/numpy/pull/9906#discussion_r146420055

[2017-11-17 03:55] shaun-image-intelligence commented on #3358
I used alexklibisz's code above and it got me some TensorBoard functionality working using validation generators (ie. TensorBoard scalars). But TensorBoard Images were still blank
ie.
![screen shot 2017-11-17 at 2 48 53 pm](https://user-images.githubusercontent.com/31834007/32928632-0026a5a0-cba7-11e7-8a77-e630d32a7359.png)

does anyone know a way to get Images working with validation generators?

[2017-11-17 04:13] Abhijit-2592 commented on #2378
Ran into the same issue. Is it sorted folks?

[2017-11-17 04:33] ksaluja15 commented on #5920
followed @zhenbangchen solution and it works. sample script here : [https://ksaluja15.github.io/Learning-Rate-Multipliers-in-Keras/](url)

[2017-11-17 06:02] ahmadpgh commented on #3110
GloVe and word2vec DO NOT convert a word to an integer. They change the discrete/atomic representation of the vocabulary words from one-hot encoding representations (disjoint representation of words) to low-dimensional continuous/distributed vectors that we call word embeddings.

It is common to have these words embeddings computed using an unsupervised technique like GloVe or word2vec (or even ot

[2017-11-17 07:33] #7345 closed

[2017-11-17 09:33] #7381 closed

[2017-11-17 09:34] d4nst commented on #4506
@fredtcaroli you can just append the metric name to `self.params['metrics']` and it will show in the progbar: ``self.params['metrics'].append('my_custom_metric')``

[2017-11-17 10:15] fqassemi commented on #3110
I agree, as I also mentioned word2vec type embedding represent a word as a vector. Just to summarize what I understood, an embedding in keras works like an extra layer at the interface of words and the rest of layers, where the matrix coefficient (W_ij) is just given by a pre-trained model such as GloVe.  This extra layer will act as an input to the NN (that is, input_dim is equal to embedding_dim

[2017-11-17 10:54] bozzmob commented on #6044
Bump :(

[2017-11-17 10:55] wouterbulten commented on #8468
To add to my 'hack' above: this does not work with loading/saving models. After loading the train function is created without adding the model outputs to the metrics. In other words, the hack only works after compiling the model.

[2017-11-17 10:57] ceefour opened #8519 "utils.to_categorical should output a matrix even if input is single element"
Please make sure that the boxes below are checked before you submit your issue. If your issue is an implementation question, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [join the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) and ask there instead of filing a GitHub issue.

Thank you!

- [ ] Check that you are up-to-date with t

[2017-11-17 11:33] #7383 closed

[2017-11-17 11:52] vianamp commented on #8464
I think because you have `return_state=True`, the LSTM layer is returning the states in addition to the output you expect. Try to replace

`left = LSTM(64,activation='sigmoid',return_state=True,input_shape=(None,input_dim))(encoder_inputs)`

and

`right = LSTM(64,activation='sigmoid',return_state=True,go_backwards=True,input_shape=(None,input_dim))(encoder_inputs)`

with

`left, _ , _ = LSTM(64,ac

[2017-11-17 11:57] vianamp commented on #8447
I think this may help you: https://github.com/jacobgil/keras-grad-cam/blob/master/grad-cam.py

[2017-11-17 12:10] GKalliatakis commented on #8447
@vianamp Thanks for that, but I have already seen that implementation. I am still getting the same error when trying that code.

[2017-11-17 13:20] beebrain commented on #8440
I fixed it, It's my wrong process. I transposed matrix wrong dimensions.

[2017-11-17 13:20] #8440 closed

[2017-11-17 13:55] #8459 closed

[2017-11-17 14:17] isaacgerg commented on #3358
@paragon00 This issue is similar to mine, except I get a subset of the images from the conv2d layers. Oddly enough, layers with stride=2 are the ones it exclusively displays.

[2017-11-17 14:50] shaifugpt commented on #8464
@vianamp I tried, but still the same error

[2017-11-17 15:25] vianamp commented on #8464
What if you leave your code as is but with `return_state=False`?

[2017-11-17 15:27] vianamp commented on #8447
mm. Weird! The code in the link works fine for me. Actually it was working fine till last TF and Keras update. See #8478.

[2017-11-17 15:34] GKalliatakis commented on #8447
@vianamp Can you give me an example of a fine-tuned model ?

The code is working fine when I use the models from keras applications, but I want to use it on one of my fine-tuned models.

Many thanks

[2017-11-17 15:42] vianamp commented on #8447
Ah see your point. Can you post your full code?

[2017-11-17 15:59] lance6716 opened #8521 "duplicated lines in example code"
I'm learning the usage of keras and thinking these lines are duplicated thus could be deleted safely.
line 63-68 in https://github.com/fchollet/keras/blob/master/examples/cifar10_resnet.py

[code]

Maybe I will open a pull request soon.

---

Please make sure that the boxes below are checked before you submit your issue. If your issue is an implementation question, please ask your question on [Sta

[2017-11-17 16:04] GKalliatakis commented on #8447
@vianamp Here is my full code based on [this post ](http://nbviewer.jupyter.org/github/fchollet/deep-learning-with-python-notebooks/blob/master/5.4-visualizing-what-convnets-learn.ipynb)

[code]
And I get the following error :

And this is my model's summary :
[code]

Once again many thanks for your help.

[2017-11-17 17:02] #1069 closed

[2017-11-17 17:14] mharradon commented on #7395
I have a very ugly implementation of a wrapper around Keras models that allows for arbitrary model definition like I described since I needed that functionality. I ditch y inputs all together and instead make loss layers for everything. Then a "wrapped model" is two separate Keras models - one for training with "y" label values included in the "x" inputs and another for prediction that only has th

[2017-11-17 17:17] SimonEnsemble commented on #1765
@bzamecnik how can I get the appropriate format for the `input_tensors`?
e.g.
`model2 = keras.models.clone_model(model, model.get_weights())`
does not work.
i.e. I want `model2` to be an exact copy of `model`. Thanks.

[2017-11-17 17:18] vianamp commented on #8447
What is the input shape for test_CAM model?

[2017-11-17 17:24] GKalliatakis commented on #8447
The test_CAM model was trained by removing the last fully connected layer of VGG16 and putting a dense layer after a flatten one. After that, I saved my model and reload it. The summary of the model after reloading is the one above. So the initial input shape of the test_CAM is the same with the VGG16 but the reloaded model is hiding the rest of the layers.

[2017-11-17 17:25] #8406 closed

[2017-11-17 17:40] vianamp commented on #8447
I got it now. The problem is how you are saving your network after fine-tuning. It clearly does not represent VGG+your model based on your `model.summary()`. Take a look at this: https://blog.keras.io/building-powerful-image-classification-models-using-very-little-data.html for proper fine tuning. Also, make sure you use `model.to_json()` to save the network architecture in a json file and `model.

[2017-11-17 18:06] ahmadpgh commented on #3110
@fqassemi You are very welcome. I fully updated my answer above. In our toy example, the _input_dim_ is 5 (i.e. 4+1) and the _embedding_dim_ is 2.

[2017-11-17 19:37] olalonde commented on #8312
@fchollet is it possible that although the weights are shared for both inputs, keras is duplicating the weights in the hdf5 file?

[2017-11-17 19:44] AaronDou commented on #7362
@courteouselk you rock man

[2017-11-17 20:50] jolespin commented on #3464
Here I give an example of using an autoencoder on the iris dataset.  You can use that embedding w/ a clustering algorithm in scikit-learn.  I have been experiencing an issue where one of the dimensions gets zeroed out :/

https://stackoverflow.com/questions/47297526/how-to-prevent-simple-keras-autoencoder-from-over-compressing-data

[2017-11-17 21:15] slizb commented on #2021
@hawk31  were you able to resolve this issue? What was the problem?  I'm struggling through a similar situation.

[2017-11-17 21:27] Parkinson-Z commented on #1538
from   keras                             import backend as K

if 'tensorflow' == K.backend():
        import tensorflow                            as     tf
        from   keras.backend.tensorflow_backend      import set_session
        config = tf.ConfigProto()
        config.gpu_options.allow_growth = True
        config.gpu_options.visible_device_list = "0"
        #session = tf.Session(config=

[2017-11-17 21:48] chabir opened #8525 "AttributeError: 'Session' object has no attribute 'list_devices'"
I am getting the error:

using the latest version of keras 2.1.1, I am trying to use the multi_gpu_model fonction and got an error:

so I ran:
[code]

I get the error
[code]

Also tried following https://github.com/fchollet/keras/pull/8377/files,
[code]
it works fine

Any clues how to solve the problem ?

[2017-11-17 23:38] nayansinghal commented on #5517
I am also facing the same issue. Did you solve it and if yes, would it be possible to provide a link to your code?

[2017-11-17 23:44] adler-j commented on #5517
Basically I ended up swapping to tensorflow where this is supported natively, see e.g. these projects that use it:

https://github.com/adler-j/learned_primal_dual
https://github.com/adler-j/wasserstein_inverse_problems
https://github.com/adler-j/learned_gradient_tomography

[2017-11-17 23:59] nayansinghal opened #8526 "custom Quantization layer"
I want a behavior in which during the forward pass, it will do quantization and for the backward pass, it will behave as an identity and pass the gradients as it is without considering the gradient of that layer.

I am using tensorflow as backend and write the custom ops in tensorflow and try to write a wrapper using it.

    # Define custom py_func which takes also a grad op as argument:
    def

[2017-11-18 00:15] nayansinghal commented on #5517
Do you mean that there is no good way to write the layer which can wrap around custom tensorflow ops?

I want a behavior in which during the forward pass, it will do quantization and for the backward pass, it will behave as an identity and pass the gradients as it is without considering the gradient of that layer.
Is there any method in Keras which can solve this issue?

[2017-11-18 00:17] fchollet commented on #6044
The summary is:
- if you prefer `Convolution*`, you can style use that style. It will be supported indefinitely.
- many people prefer `Conv*`, because it's shorter.
- we standardized on `Conv*` to unify the Keras API and the `tf.layers` API.

[2017-11-18 00:17] #6044 closed

[2017-11-18 00:26] fchollet commented on #5517
Well, if you can do it in TF, obviously you can do it in Keras (through TF).

On 17 November 2017 at 16:15, nayansinghal <notifications@github.com> wrote:

[2017-11-18 00:32] nayansinghal commented on #5517
I am trying but I am getting error while training.
https://github.com/fchollet/keras/issues/8526

Can you please help me with it?

[2017-11-18 00:48] juliohm opened #8527 "Having a hard time trying to understand the underlying conventions in Keras"
Although I have used Keras in the past, I always find myself struggling to understand the underlying (not necessarily documented) conventions in Keras layers. I decided to open this issue to ask basic questions about dimensions of input and output as I think they can be useful to other users of the package.

For the sake of clarity, consider the simplest scenario possible where we have a time seri

[2017-11-18 01:08] pGit1 commented on #5142
@hiteshnitetc you got PSO to work with Keras? Any code if so? Would be interesting to see.

[2017-11-18 01:22] fchollet commented on #5517
Does your code work in TF, without Keras? The error you're getting is
TF-side.

On 17 November 2017 at 16:32, nayansinghal <notifications@github.com> wrote:

[2017-11-18 02:40] huihuibo commented on #7362
thanks a lot

[2017-11-18 03:13] ztf-ucas commented on #8525
I also met this problem. What's wrong?

[2017-11-18 03:14] fchollet commented on #8525
What's your version of TF? I assume you have an outdated version. I would
simply recommend upgrading to 1.4.

On 17 November 2017 at 19:13, TengfeiZhang <notifications@github.com> wrote:

[2017-11-18 04:14] avakanski opened #8528 "GPU slower than CPU"
I just installed Keras with Tensor flow on a new computer with a Titan XP card, and the GPU processing is about 3 times slower than CPU. The GPU is utilized about 20%, the memory is utilized almost entirely (all 12 GB). My model is based on LSTM.
Any thoughts on potential reasons for that would be appreciated.
Thanks.

Please make sure that the boxes below are checked before you submit your issue.

[2017-11-18 04:54] #8521 closed

[2017-11-18 05:11] shaifugpt commented on #8464
@vianamp Still the same error after return_state=False

[2017-11-18 05:35] bikong2 commented on #7440
i meet the same problem. my model is trained and saved with python3.4.5 as .h5, and i want to load in python2.7. but in both python, the "sys.maxunicode" is the same 1114111
any ways to fix?

[2017-11-18 06:14] tom-christie commented on #2449
@jllombart  I'm trying to do something similar - did you figure this out by any chance?

[2017-11-18 07:10] Dobiasd commented on #6777
Just as an update: It still happens with Keras 2.1.1 and TensorFlow 1.4.0. I will check again with the next release of a new TensorFlow version.

[2017-11-18 07:12] Dobiasd commented on #8159
Small update: The issue is still relevant in Keras 2.1.1 with TensorFlow 1.4.0.

[2017-11-18 09:44] bzamecnik commented on #1765
@SimonEnsemble `input_tensors` are tensors for external inputs, not weights (internal model parameters).

[2017-11-18 10:36] #7391 closed

[2017-11-18 10:36] #7273 closed

[2017-11-18 10:43] #7628 closed

[2017-11-18 10:43] #7675 closed

[2017-11-18 11:36] #7394 closed

[2017-11-18 12:41] JosephKJ commented on #1195
Please do this validation. Its an huge benefit for all the devs. I spent hours on in in vain and finally did `ytrain.values`

Please do consider!

[2017-11-18 12:51] #6451 closed

[2017-11-18 12:59] shaifugpt commented on #3329
@zhaopku I am interested in a problem similar to yours. Did you resolve it and manage to change the LSTM cell

[2017-11-18 13:52] shaifugpt opened #8531 "Unable to create custom LSTM layer"
I want to create a custom LSTM layer similar to the original LSTM layer where one extra array is passed to the LSTM. Here the context vector of attention based hidden states is passed to the same LSTM layer so that new hidden state is computed using the tanh(cell_state)+ new context vector. How can we pass attention vector back to the same LSTM layer

[2017-11-18 14:29] yxfGrace commented on #5231
I have the same question, but I've solved.
you can build the Sequential model again, then use load_weights but not load_model

[2017-11-18 16:24] piccolbo commented on #1195
Not reading the manual is no valid reason to request this feature. The one liner to extract the array is also very easy and you can abstract it away. The true reason are all the things you can do based on the metadata, say a specialized loss function. You can still pass indexes off band, but it's more difficult.

[2017-11-18 16:34] piccolbo commented on #1195
Not reading the manual is no valid reason to request this feature. The one liner to extract the array is also very easy and you can abstract it away. The true reason are all the things you can do based on the metadata, say a specialized loss function. You can still pass indexes off band, but it's more difficult.

[2017-11-18 18:13] nayansinghal commented on #8526
issue resolved. It was happening because we got numpy object in quantization() and I was applying tensor functions on it.

[2017-11-18 18:13] #8526 closed

[2017-11-18 18:14] nayansinghal commented on #5517
issue resolved. It was happening because we got numpy object in quantization() and I was applying tensor functions on it.

[2017-11-18 18:47] AndersAsa commented on #609
Also interested

[2017-11-18 20:31] gdubrg commented on #6777
I can check the output shape with `_keras_shape` property of the layer.

[2017-11-18 20:47] aidinhass commented on #3261
Here is a sample solution for people who are still wondering about an auto-encoder with tied weights.[http://www.pythonexample.com/snippet/python/autoencoder_extrapy_njellinas_python](url)

[2017-11-18 20:54] #7384 closed

[2017-11-18 20:54] #7398 closed

[2017-11-18 22:06] AnudeepKonda commented on #6777
A nasty workaround is to explicitly mention the output shape.
<your_tensor>.set_shape(<output_shape>)

[2017-11-18 23:45] tom-christie opened #8534 "Input to recurrent layer from output layer"
I'm trying to build a network with the following architecture, where the output of the output layer feeds back into the recurrent layer above it (along with the recurrent input and original input).

X - input
H - hidden state
Y - output
t - time step

and Ht is H at time step t, and H_tm1 is H at timestep (t-1).

Xt --> Ht is defined by a weight matrix Wxh - this is 'kernel' in the SimpleRNNCell
H

[2017-11-19 01:07] dimahdera commented on #1449
In the  Keras/Tensorflow implementation of CRF-RNN we have to run the compile.sh script in the cpp directory and this script is not working on Windows OS  The official Tensorflow guide for building a custom op does not yet include build instructions for Windows.
Could you please help. This stop the entire implementation of CRF-RNN using keras

[2017-11-19 01:09] dimahdera commented on #1449
Could anyone help with this issue
In the Keras/Tensorflow implementation of CRF-RNN we have to run the compile.sh script in the cpp directory and this script is not working on Windows OS The official Tensorflow guide for building a custom op does not yet include build instructions for Windows.
Could you please help. This stop the entire implementation of CRF-RNN using keras

[2017-11-19 02:14] RCfun opened #8535 "Syntax error for LeakyReLU for no reason"
Hi, I searched the internet, and I'm pretty sure the syntax of my code is same as what other's did. But it seems only me get this syntax error for LeakyReLU

Is anyone knows why?

[code]

[2017-11-19 04:34] hiteshnitetc commented on #5142
It's not completely on keras , it's uses some functions of keras like convolution and losses. I have write weight updation by using numpy, because i have not much knowledge about keras ops

[2017-11-19 05:42] #4274 closed

[2017-11-19 05:50] kamikawa opened #8536 "Code for reproduce imagenet training"
Hi,

Thank you for a great deep learning frame work for newbie.
But I found it difficult for me to reproduce imagenet training result of paper by such as resnet,
which can be done by other frame works.
Could you open a code for reproduce imagenet training whole code for such as Xception model ?

I guess what is missing is;
- weight decay setting (kernel regularizer)
- initializer setting
- SGD sch

[2017-11-19 08:39] ophiry opened #8537 "keras startup time (_make_train_function()) very slow on Tesla V100-SXM2-16GB GPU, compared to less powerful GPU"
Running mnist_cnn.py (slightly modified - mainly adding logging) from tensorflow 1.4
running was done using a prebuilt docker image: tensorflow/tensorflow:1.4.0-gpu-py3
on a p2.xlarge aws machine (that has a Tesla K80 GPU) performance is good, the 1st batch (which is dominated by the call to _make_train_function) takes about 2 seconds: (see time stamp for begin batch and end batch)

[code]

on a p

[2017-11-19 09:14] kaltu opened #8538 "Loading multiple models"
Environment:
[code]

I can run this code:
[code]
It prints:
[code]
looks fine.
And this code:
[code]
It prints:
[code]
So far so good.

However, I run this code:
[code]
It doesn't work.
[code]
I'm trying to duplicate the solution found [here](https://stackoverflow.com/a/41991989/5161420).
These two models are good if and only if they're not in each other's way.

[2017-11-19 09:28] myutwo150 commented on #8535
You're missing a right parenthesis at the end of the second line.

[2017-11-19 10:30] Dobiasd commented on #6777
@gdubrg Thanks. Accessing a protected member is not perfect, but it works for [my purpose](https://github.com/Dobiasd/frugally-deep).

[2017-11-19 14:19] #4616 closed

[2017-11-19 16:42] komal436 opened #8539 "fit_generator fails on accessing uninitialized variable"
Keras fit_generator fail to handle large data input.

setup:
keras 2.0.9
backend: CNTK

class KSequence(Sequence):
    def __init__(self, sc, filePath, numPartitions):
        self.sc = sc
        self.filePath = filePath
        self.idx = 0
        self.len = numPartitions

    def __len__(self):
        return self.len

    def on_epoch_end(self):
        self.idx = 0

    def __getitem__(self,

[2017-11-19 16:56] komal436 commented on #8392
Thanks, I figured out it.
class KSequence(Sequence):
     def __init__(self, **args):
         <implement>
     def __len__(self, **args):
         <implement>
     def __getItem__(self, **args):
        <implement>
     def on_epoch_end(self, **args):
       <implement>

[2017-11-19 16:56] #8392 closed

[2017-11-19 16:57] komal436 commented on #8539
The same setup gave some different error as well:
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<timed exec> in <module>()

~\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\legacy\interfaces.py in wrapper(*args, **kwargs)
     85                 warnings.warn('Update your `' + objec

[2017-11-19 17:53] shu-hai commented on #8463
@OliPhilip, Thank you, I will try it tomorrow.

[2017-11-19 18:57] xiaolezhu opened #8540 "Detailed explanation of model.fit_generator() parameters: queue size, workers and use_multiprocessing"
I couldn't find detailed explanations about max_queue_size (default size = 10) and the mechanism behind it along with other parameters: workers,  use_multiprocessing which are related with generator.

_**Question 1:**_
I might be totally wrong and want to get your feedback on my understanding of it.  I thought that multiple generator instances (like producer) will be launched to feed the data into

[2017-11-19 19:15] sadeepj commented on #1449
@dimahdera Unfortunately, I'm unable to be of help directly as I've never tried it on Windows. But you might find some of the links in this comment useful: https://github.com/sadeepj/crfasrnn_keras/issues/2#issuecomment-321933952

[2017-11-19 20:05] fabriciorsf commented on #7183
Sorry, but the value of self.channel_axis should be 2 (instead 3), shouldn't?
[code]

[2017-11-20 01:38] kuba-lilz commented on #7183
@fabriciorsf Why? First axis (index 0) is for batch, second (index 1) for y-dimension, third (index 2) for x-dimension and fourth (index 3) for channel.

[2017-11-20 02:18] juliohm commented on #6351
Same issue, it is annoying that these hidden dimension conventions are not clear, see #8527

[2017-11-20 05:32] vinh0105 commented on #7297
Sorry for my ignorance but I also got the same issue above and I don't know how to fix it yet.

I am using Windows 10, Keras 2.1.1 and Python 3.6 on a conda env. I got the `SystemError: unknown opcode`, the error seems to be a problem with load_model(...). I then create another conda env with python 3.5, I now got an error `UnicodeDecodeError: 'rawunicodeescape' codec can't decode bytes in positio

[2017-11-20 06:12] jonathanglima commented on #7580
Same here. OSX with Theano==1.0.0 and Keras==2.1.1

[2017-11-20 06:15] fchollet commented on #7580
This has been fixed at master.

On Nov 19, 2017 22:12, "Jonathan Garcia Lima" <notifications@github.com>
wrote:

[2017-11-20 06:25] jonathanglima commented on #6953
Same here. Code as follows:

https://github.com/jonathanglima/deepranking_keras/blob/master/deep_ranking.ipynb

[2017-11-20 07:31] hlnull commented on #5640
The solution in https://github.com/fchollet/keras/issues/2397#issuecomment-306687500 works for me.

Details:
global thread:

        self.model = load_model(model_path)
        self.model._make_predict_function()
        self.graph = tf.get_default_graph()
another thread:

        with self.graph.as_default():
            labels = self.model.predict(data)

[2017-11-20 08:19] #6519 closed

[2017-11-20 09:08] bchu commented on #7365
Still running into this issue.

[2017-11-20 10:18] ThePepster opened #8541 "convert weights of CuDNNLSTM causes error when using load_model to load an LSTM without bias"
Please make sure that the boxes below are checked before you submit your issue. If your issue is an implementation question, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [join the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) and ask there instead of filing a GitHub issue.

Thank you!

- [x] Check that you are up-to-date with t

[2017-11-20 10:48] #8432 closed

[2017-11-20 11:33] ylmeng commented on #6168
I have a simple question. If I trained a stateful model and use a loop to perform predictions. Such as:
`for data in data_set:
    prediction = model.predict(X, batch_size)`

Will the model be stateful between the iterations?
I mean, when predict() is called, does the model maintain states from the end of previous prediction?

[2017-11-20 12:38] fabriciorsf commented on #7183
Sorry, for a moment I forgot the first axis is for batch.
Do you know if is it valid to metric functions inputs too?

[2017-11-20 13:05] PuchatekwSzortach commented on #7183
Not sure what do you mean by "metric functions inputs" or how does that relate to this issue.

[2017-11-20 14:34] GKalliatakis commented on #8447
Hi @vianamp, thanks for your comment.

I have managed to trained and properly saved the whole architecture of my model.
After that, I am loading the weights and get the following summary

[code]

which seems to be ok (VGG16 + my model).

But when I try to do the following :
[code]

I get the error -->

Any thoughts on this ?

[2017-11-20 15:10] #5331 closed

[2017-11-20 15:30] vianamp commented on #8447
Try to replace this

[code]

with

[code]

and let me know.

[2017-11-20 15:39] GKalliatakis commented on #8447
@vianamp Thanks for the answer but I got this error :

[2017-11-20 15:48] arnoldaclf commented on #4870
Hi  @bstriner
I want to ask about how to model my prediction problem ?. I want to predict speed, using lstm of Keras. I used the window method and got the following form.

  X
 ==========
 10,20,20,30,30,40,50,50,50,60

Y
============
60,60,70,70,70

 In my training data I have 6000 rows, in my test data 2000 rows, where I have 10 columns for x, to predict in y, the 5 following values.  I do not u

[2017-11-20 15:56] vianamp commented on #8447
mm, replace -6 with -7 then.

[2017-11-20 16:00] GKalliatakis commented on #8447
I forgot to mentioned my code for training and saving the model you saw :
[code]

[2017-11-20 16:43] N-McA commented on #7503
Maybe this is planned, but support for the automatic validation features (running a test on the validation set after each epoch, early stopping, learning rate adjustment based on val scores) that Keras allows would be great through this API as well. That in the pipeline?

[2017-11-20 17:15] kushia opened #8542 "BatchNormalization make bad results"
Hi everyone,
I tried to add somes BatchNormalization layers into my network today.
Without BatchNormalization, I get a decent 75% of accuracy on the test set.
But when I add BatchNormalization layers, my train accuracy increase, but my test accuracy remains to 50. (Or increase a little bit, to 55)
What could be the cause ? I use BatchNorm with default values (Since I use tf ordering, that's the go

[2017-11-20 19:03] fchollet commented on #7503
Yes, that's still in the pipeline, as well as the ability to call
`fit`/`evaluate`/`predict` directly on data tensors for a model built on
top of placeholders. You'll probably have it by TF 1.6.

On 20 November 2017 at 08:43, N-McA <notifications@github.com> wrote:

[2017-11-20 19:47] damienrj commented on #2607
Why are mean absolute error (`mae`) and accuracy (`acc`) not listed in the available metrics section. Are there any other hidden metrics?

[2017-11-20 21:11] Ksen17 commented on #4040
@edoven
I tried to use Your code but accuracy falls down to 0.0195

[2017-11-20 21:18] kbrose commented on #3614
Interpreting a child program writing to `stderr` as an indication that something went wrong is a widely used pattern, and IMO nothing is really gained from doing so.

[2017-11-20 21:35] ophiry commented on #8410
@brge17 can you share the code that updates the logs?

[2017-11-20 22:55] monajalal opened #8545 "E tensorflow/stream_executor/cuda/cuda_driver.cc:924] failed to allocate 158.06M (165740544 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY"
How should I fix this error?
[code]
Sys info is as follows:

[code]

and

[code]

This is the first time I am getting this error on this machine and I was able to run keras and keras code successfully before. Any help is really appreciated.

[2017-11-20 23:07] fchollet commented on #8545
Your GPU is out of memory. You could:

- reduce the size of your model (in particular, some intermediate feature maps be too large)
- reduce your batch size
- get a bigger GPU

[2017-11-20 23:46] monajalal commented on #8545
restarting the machine solved the problem. I am not running a script. I was just importing keras and it was working before.

[```
jalal@goku ~]$ source activate deep_emotion
(deep_emotion) [jalal@goku ~]$ export KERAS_BACKEND=tensorflow
(deep_emotion) [jalal@goku ~]$ python
Python 3.5.4 | packaged by conda-forge | (default, Nov  4 2017, 10:11:29)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux
Ty

[2017-11-21 00:22] #7401 closed

[2017-11-21 00:31] dimahdera commented on #1449
Is there away to define the permutohedral lattice filters in python directly without c files. Did anyone do that before?
Thank you

[2017-11-21 01:48] tachyon663 commented on #6368
I'm facing a similar issue with getting callbacks to work inside a Pipeline. I suspect it has something to do with the fact that somehow the code calls the set_model() method of the Callback class to associate it with the Sequential model. When the model is embedded in a pipeline, it doesn't associate the model correctly. I tried digging through the code for the Callback class and the various othe

[2017-11-21 01:53] ahundt commented on #7503
Cool, thanks! I saw [the tf + keras estimator API](https://www.tensorflow.org/api_docs/python/tf/keras/estimator) is out with 1.4, perhaps there is an example somewhere?

[2017-11-21 01:54] #8545 closed

[2017-11-21 02:03] monajalal opened #8546 "OSError: Unable to open file (truncated file: eof = 98304, sblock->base_addr = 0, stored_eoa = 102853048) removing the model from keras/model didn't solve"
I am not sure how to fix this error. Can you please guide? found the code from @flyyufelix on
https://github.com/flyyufelix/cnn_finetune/blob/master/resnet_50.py

[code]

I get this error:
[code]

I used the suggestion here, deleted the model and ran the code again. Now the model doesn't get downloaded and I also get the same error:

https://github.com/fchollet/keras/issues/6221#issuecomment-32673

[2017-11-21 03:53] #8541 closed

[2017-11-21 04:37] kevinfaust0308 commented on #8463
Or you could just pass in the template model and then replace all save methods on self.model to the template model.

``
class MultiGPUCheckpointCallback(Callback):

    def __init__(self, filepath, base_model, monitor='val_loss', verbose=0,
                 save_best_only=False, save_weights_only=False,
                 mode='auto', period=1):
        super(MultiGPU_Checkpoint_Callback, self).__in

[2017-11-21 04:40] rish-16 opened #8548 "VGG16 weights not downloadable"
I am new to Keras and was learning about the application of the VGG16 model. I wrote the following code straight from the docs:

[code]

I tried to download the imagenet weights from the github repo. I always run into this error:

[code]

[2017-11-21 04:45] Hemanth2396 commented on #1193
I am also getting the same issue regarding the "Global name sequential is not defined even i am importing model from keras also I am getting the error. While using the keras model in  the code.

model = Sequential()

[2017-11-21 06:00] AMFIRNAS commented on #2524
predict() method in functional api gives the probabality values between 0-1. How to get the predicted real values if it regression in LSTM ? :(

[2017-11-21 06:04] AMFIRNAS commented on #3173
predict_proba() is not there for functional api, I think. So how to get the predicted real values if it a regression problem in lstm?

[2017-11-21 06:27] nbansal90 opened #8549 "Creating a new Regularization Function"
Hello All,

I am looking to create a new regularization function, which would be added to LOSS Function using keras. I know there is already a code for l1 and l2 regularization loss. But the new regularization term which I am Looking to add is |WtW-W|. Where Wt is transpose of W matrix. and norm |.| is a forbenius Norm. Now My confusion is If I simply implement a function such as this:

**_def l1_

[2017-11-21 06:35] ylmeng commented on #5427
I have the same problem.
I have a custom layer which works fine in some models, but fails with this message (similar to above) in other models. Totally annoying.

[2017-11-21 06:41] mratsim commented on #2524
@AMFIRNAS I think it's a question for stack overflow. For regression your last layer shouldn't have an activation (or activation = linear, i.e. `f(x) = x`).

[2017-11-21 06:56] ophiry commented on #8537
using a version of tensorflow that was build with CUDA 9 appears to solve this

https://github.com/mind/wheels/releases/tag/tf1.4-gpu-cuda9

[2017-11-21 08:23] ophiry opened #8550 "is it possible to specify different batch sizes for train and validation?"
for train data, there are reasons to keep batches relatively small (batch size can effect training results)
however for the validation set, using a single reasonably big batch, allows simple use of metric functions that don't work well when averaging batches (precision \ recall \ f1)

[2017-11-21 09:11] alvations commented on #5738
The direct link to the demo in the repo is https://github.com/fchollet/keras/blob/master/examples/lstm_seq2seq.py

[2017-11-21 10:27] richajain44 commented on #6408
HI I am facing the below issue : You are trying to load a weight file containing 14 layers into a model with 2 layers.
Below is my code:
with open('model_def_gen1.json') as json_file:
        model_json = json_file.read()
        mymodel = keras.models.model_from_json(model_json)
mymodel.load_weights('bottleneck_fc_model1.h5')
img_array1 =[]
img_path_test="D://test-image1//*.jpg"
for img1 in glob.

[2017-11-21 10:57] vianamp commented on #8447
Hi. I am running out of ideas. One last thing, have you tried to load VGG without the dense layers? i.e. just load the pre-trained convolutional layers. Next you include the dense layers yourself for fine-tuning. This can be done with

[code]

This is from #4040.

[2017-11-21 11:05] vianamp commented on #8464
Hi. Can you post your full script?

[2017-11-21 11:07] vianamp commented on #8478
@fchollet any ideas here? Do you need more information?

[2017-11-21 12:01] shaifugpt opened #8551 "LSTM access more than one previous hidden state while training"
I want to use all the previous hidden states for computing the values of the gates instead of just h_t-1. This is just like providing residual connections from states at time steps 1, 2, ... to t. For this I modified the step function in the LSTM to store the previous hidden state as: Here h_tm12 is defined to store all states.
var_exists = 'h_tm12' in locals() or 'h_tm12' in globals()
        if(

[2017-11-21 12:04] #7506 closed

[2017-11-21 12:11] shaifugpt commented on #7600
@mahnerak I want to have one clarification regarding the expansion of step function.  Does the step function execute recursively calling itself again and again pass old computed values of h_t-1 and c_t-1 to the next call to get h_t,c_t and so on

[2017-11-21 12:20] YasserMustafa commented on #3477
Hi All,

I had the same problem but I solved it! The clue is to find an integer number for the batch_size that could divide both of nb_train_samples and nb_validation_samples; i.e.,
nb_train_samples//batch_size = 0  and nb_validation_samples//batch_size = 0.
As an example, if:
nb_train_samples = 2400
nb_validation_samples = 1200
then:
batch_size = 4 or 6 or....... or 48 or ..... .

[2017-11-21 13:06] shaifugpt commented on #4962
@cbaziotis I have a query regarding the attention:
activations=LSTM(neu,activation='relu',return_sequences=True,return_state=True)(inputs)
This statement applies attention attention on output of LSTM. Does this imply on h (hidden state) where h=o_t (tanh(c_t))

I read somewhere, that
activations,hh,cc=LSTM(neu,activation='relu',return_sequences=True,return_state=True)(inputs)

that hh is hidden st

[2017-11-21 13:49] adityapatadia commented on #7297
@dmitriyse I ended up training my model under python 3.6 and use it.

[2017-11-21 14:22] ai-tor commented on #3675
Same here, running into an OOM after a few iterations. I am using a Sequence generator in my case:
[code]

[code]

Are you aware of this issue @fchollet?

[2017-11-21 14:27] zachmayer commented on #3842
@hobson Could you share the code you ran to test the model?  Maybe the issue is related to https://github.com/fchollet/keras/issues/6621 ?

[2017-11-21 14:32] mahnerak commented on #7600
@shaifugpt Right, every time it takes previous states h_t-1, c_t-1 (and also x_t-1) in order to compute new states h_t, c_t.
But actually it is not recursively calling itself. The backend function`K.rnn` (same as `theano.scan` or `tf.scan`) makes it possible to apply the expression on sequences. (Low level-code is behind)

I don't know what's the main purpose of your question, so can't decide what

[2017-11-21 14:38] shaifugpt commented on #7600
Thanks @mahnerak
I want to use all the previous hidden states for computing the values of the h_t instead of just h_t-1.  For this I modified the step function in the LSTM to store the previous hidden state as: Here h_tm12 is defined to store all states.
var_exists = 'h_tm12' in locals() or 'h_tm12' in globals()
if(var_exists):
h_tm12=numpy.vstack((h_tm12,states[0]))
else:
h_tm12 = states[0]

But

[2017-11-21 14:53] #7411 closed

[2017-11-21 16:08] hobson commented on #3842
I tried several variations of this "multiply" problem: https://github.com/hobson/toynet/blob/master/toynet/playdot.py

[2017-11-21 16:10] Youmna-H commented on #2567
I am trying to do something similar now and get the output at a certain timestep and feed it to another layer.
lstm = LSTM(100, return_sequences=True)
and then do something like:
Convolution1D(nb_filter=100, filter_length=3)(lstm[-1])
to only use the final timestep.
I don't want to use 'return_sequences=False' as I need the other timesteps too.
Was that resolved?

[2017-11-21 16:13] hobson commented on #3842
@zachmayer I think the problem may be my math. perhaps the multiply problem can only be solved with a layer of SoftExp applied to each input number before summing the weighted outputs with single-neuron linear layer.

[2017-11-21 17:57] #7378 closed

[2017-11-21 19:01] ericvrp commented on #7990
Might I ask what laptop types have specs like these? I'm looking for one that has a decent nvidia to work with Keras on the go.

[2017-11-21 19:57] Dragon615 commented on #7100
Have you resolved this issue?
I have the same problem.

[2017-11-21 19:57] #5558 closed

[2017-11-21 20:57] #6541 closed

[2017-11-22 00:31] colpain commented on #2468
Hi @jpeg729 , sorry I'm still confusing about the batch size,
let's say we have a two sentences, one is
`A B C D` another one is `E F G H`, and the time step of LSTM is 2, so I have to divide this length 4 sequence into 2 length 2 subsequences. After cut, I got
`A B`, `C D`, `E F`, `G H`, and my training batch looks like (imagine it already converted to one-hot encoding or labels)
[`A B`, `C D`, `

[2017-11-22 00:45] rhkgkr1031 commented on #7990
Mine is this : MSI GE63VR
https://www.amazon.com/MSI-GE63VR-Raider-075-Display-i7-7700HQ/dp/B074ND6D13/ref=sr_1_2?ie=UTF8&qid=1511310865&sr=8-2&keywords=msi+ge63vr
It's for gaming but at this price, there is no laptops with this spec.

[2017-11-22 02:36] paragon00 opened #8554 "tensorboard callback doesn't support images with validation generators"
it seems when using Tensorboard callback with validation generators, TensorBoard Images won't work properly. Following issue https://github.com/fchollet/keras/issues/3358 I got Tensorboard scalars working, but Images were still blank, like this-

![screen shot 2017-11-17 at 2 48 53 pm](https://user-images.githubusercontent.com/31834007/33107116-d2618f2c-cf89-11e7-8cee-6ba1bb50d7ea.png)

Is there a

[2017-11-22 03:08] #7419 closed

[2017-11-22 03:52] bicepjai commented on #4674
does setting trainable property on models works or not ? :)

[2017-11-22 05:10] itssmutnuri opened #8555 "File path check for /examples/deep_dream.py"
Running the script with `python deep_dream.py <inputpath> <result_prefix>` checks the output result prefix only at the end. It'd be appropriate to do a simple check for the validity of the paths in the beginning because otherwise, any error would only come up after all the processing is done.

<img width="928" alt="screen shot 2017-11-22 at 10 38 20 am" src="https://user-images.githubusercontent.c

[2017-11-22 05:50] akshaychawla commented on #8170
@axeper Wrote a small [gist](https://gist.github.com/akshaychawla/02849170e190fbd7fa9d431450e8d6ef) which implements the function out = a*x + b in a Lambda layer where "a", "b" and "x" are inputs.
In this gist I generate the inputs (x,a,b) before training, but to implement the functionality that you described you can have a class that contains a keras callback AND a keras data generator. The data

[2017-11-22 07:16] lionlai1989 commented on #2378
I saved a model with `model.save(mdl)`, and load it with the following codes which works great.
[code]

[2017-11-22 08:18] x19990416 commented on #8555
may be you should check the file 'image.png' is exist or not

[2017-11-22 08:34] osiris5959 opened #8556 "Writing a custom loss function element by element"
Hi all,
I am new to machine learning, python and tensorflow. I am used to code in C++ or C# and it is difficult for me to use tf.backend.
I am trying to write a custom loss function for an LSTM network that tries to predict if the next element of a time series will be positive or negative. My code runs nicely with the binary_crossentropy loss function. I want now to improve my network having a los

[2017-11-22 10:07] itssmutnuri commented on #8555
@x19990416 the file gets created by the code, and the mistake I did was naming my path wrong. It works fine otherwise. What I meant was to have a check of the validity of the paths given as arguments before doing all the processing. That would save a re-run of the entire code just because the output path has been written wrong.

[2017-11-22 10:50] nyxjemk commented on #2280
Yes, I'm using it for a ranking task. The small difference unfortunately makes a difference there.
Any further news on this topic?

[2017-11-22 10:55] VanitarNordic commented on #2280
Just do it on CPU, no other option. speed does not make a huge difference in this case.

[2017-11-22 11:35] zero20172017 opened #8557 "Converting lstm_seq2seq using coremltools failed！"
I'm using coremltools to convert lstm_seq2seq of keras/examples  ,  with keras 2.0.8, TensorFlow 1.1 in mac 。

The error is below :

Traceback (most recent call last):
  File "/Users/xxx/lstm_seq2seq.py", line 160, in <module>
    coreml_model = coremltools.converters.keras.convert('s2s.h5')
  File "/Users/xxx/lib/python2.7/site-packages/coremltools/converters/keras/_keras_converter.py", line 504,

[2017-11-22 11:51] sushilkv2004 commented on #7362
@courteouselk thanks

[2017-11-22 13:14] tdt51403100 commented on #6486
I tried running your code and changed this section to fit the python3 but with this error:
loss = loss // int(nice_n // batch_size)
acc = acc // int(nice_n // batch_size)

Error: ZeroDivisionError: float divmod()
Can you help fix it?

[2017-11-22 13:21] wichtounet commented on #6486
@tdt51403100 Is that the only thing you changed ?

I don't really see the point in your change. The first division should not be a floor division, you really don't want to floor the loss and accuracy and I don't really see the point to use floor division for the number of batches either.

More importantly, are you sure nice_n is greater than 0 ? If the code does not find any image, this will be 0.

[2017-11-22 13:34] charlesbensimon commented on #8550
If you don't specify any batch_size in your model definition (I think that you never have to, but I may be wrong), your model has a dynamic batch_size. You then use the batch_size parameter of the fit and predict methods of your keras models.

[2017-11-22 13:47] ophiry commented on #8550
I use fit_generator
the batch size of the train data is constant, though not explicitly defined in keras
the validation data is sent as a numpy arrays (not as a generator) which are larger then the batch size of the train data

I see that event though no batch size was defined, keras will break the test data to batches in the size of the train set batch (I added a dummy metric that calculates the

[2017-11-22 13:52] tdt51403100 commented on #6486
nice_n = 0 @@~
I don't know how fix it ?

[2017-11-22 13:57] wichtounet commented on #6486
If nice_n = 0, it means I didn't find any image. Look at [L26](https://github.com/wichtounet/frameworks/blob/3e7fcd1afa67e36731f0fdb302e4fa41796a4025/keras/experiment6.py#L26) and check if the path is correct.

[2017-11-22 14:07] tdt51403100 commented on #6486
Can you show me how to create the file tree?

[2017-11-22 15:46] wouterbulten commented on #8468
I'm currently working on a PR for this. I will add a flag to both the train and test function.

[2017-11-22 15:55] fvisconti commented on #6925
I've got the same problem, which I'm able to fix typing `KERAS_BACKEND=tensorflow`.
I'd love to fix it once and forever, but I can't even find any `activate.d` directory or a `keras_activate.sh` file :(

[2017-11-22 15:59] adideshpande commented on #8525
How should I upgrade? My current version of 'tensorflow-gpu' is 1.2.0

[2017-11-22 16:09] charlesbensimon commented on #8550
For that scenario, my advice is to do the epochs loop yourself :
for each epoch, you call fit_generator with epochs=1,
and then you call predict on your validation data with the desired batch size.

Another solution is to use a generator for the validation data, so you have control over the batch_size of your validation data

You could also use a custom Keras Callback
(in which you call predict in

[2017-11-22 16:13] charlesbensimon commented on #8550
But you're right, maybe a validation_batch_size parameter is missing for the case where validation_data is not a generator

[2017-11-22 16:54] philayres commented on #8055
I have received some great feedback on my original stack overflow question: https://stackoverflow.com/questions/45765136/loss-calculations-for-lstm-timedistributeddense-layers

I think it may answer this question, although I'm still digesting the response.

[2017-11-22 17:38] chabir commented on #8525
Francois: Thank you !

adideshpande: Yes you need to upgrade to 1.4. Look at the tensor flow page depending on your OS. for tf 1.4, it will ask you to upgrade cudnn to 6.0...

[2017-11-22 17:38] #8525 closed

[2017-11-22 19:21] #7421 closed

[2017-11-22 19:21] #7418 closed

[2017-11-22 20:29] aditya17a commented on #5152
Another request to look into this.

[2017-11-22 21:00] nigem6997 opened #8558 "Dimension error with sparse_categorical_crossentropy"
I have a weighted sparse_categorical_crossentropy loss which is not working after updating to Keras 2.1.1. The previous version I was using was 2.0.6, and it was working fine then.

There are 2 classes (0 and 1) in the Output Layer. I pass the flattened 1D array with an extra dimension as the label.
[code]
If I call `sparse_categorical_crossentropy` directly then there are no errors shown and the

[2017-11-22 21:49] wangcj05 commented on #2397
I have the same issue when I run model in multi-thread, the suggested solution works for me. Thanks a lot.

[2017-11-22 22:20] dickreuter opened #8559 "Loss function with additional parameters - asymmetric sample weights"
I'm looking for a way to create a loss function that looks like this:
The function should then maximize for the reward. Is this possible to achieve in Keras?
Any suggestions how this can be achieved are highly appreciated.

[code]
The important part is that each individual sample will have a custom weight.

[2017-11-22 22:21] #7429 closed

[2017-11-22 22:32] nigem6997 commented on #8558
The issue is due to dimension equality checks in `_standardize_user_data` in `keras/engine/training.py`.

Along with checking if loss function is `sparse_categorical_crossentropy`, there was another `elif` condition for `custom loss functions` before which has been removed. Adding this `elif` fixed the issue.

In `_standardize_user_data`:

[code]

[code]

Is it okay to add this condition for custo

[2017-11-22 22:36] fchollet opened #8560 "Proof of concept of fitting a compiled Keras model on TF data tensors"
Using `graph_editor` from TF contrib.

@TimZaman @athundt this may be relevant to your interests.

We'll add that in core Keras in the future, including support for metrics, sample weights (but not class weights), and validation. However it will require an extensive refactoring of `training.py`. Which we are coordinating with the changes that are needed for Eager mode support.

[code]

[2017-11-22 22:40] TimZaman commented on #8560
I looked into this graph editor before. Didn't it dump things to disk and
reloaded; or closed a session and then reopened it? I could see that
produce all kinds of vague errors for some (maybe only advanced though)
users.
It didnt feel very sane and clean when I looked into it a few months back.

On Nov 22, 2017 14:37, "François Chollet" <notifications@github.com> wrote:

[2017-11-22 22:42] fchollet commented on #8560
@TimZaman I hope to see a sane process for graph edition (maybe limited to placeholder swapping) move to core in the near future.

In the meantime we can leverage this, and call it an experimental feature.

[2017-11-22 22:53] ankit1997 opened #8561 "AttributeError: 'Sequential' object has no attribute 'container_nodes'"
While saving a model to image file, I used the following code:
[code]
`model` is a valid model. I can confirm this because it is predicting correctly.
But executing this raised an Error `AttributeError: 'Sequential' object has no attribute 'container_nodes'`.

Complete log from jupyter-notebook:
[code]

The problem is clear, but I have used this function before and it used to work properly. Is the

[2017-11-22 22:57] #8561 closed

[2017-11-22 23:26] rajatkoner08 commented on #7362
I have faced the same issue while creating a model with pre-trained [Mobilenet](https://github.com/titu1994/MobileNetworks) used as a feature extractor. As input is a tensorflow tensor with datatype uint8 and shape (16,128,128,3), so I have to explicitly convert it into a Keras tensor and created model in below way :
`       if input_tensor is None:
        img_input = Input(shape=input_shape)

[2017-11-22 23:44] TimZaman commented on #8560
Oh! Sounds good!

On Nov 22, 2017 14:43, "François Chollet" <notifications@github.com> wrote:

@TimZaman <https://github.com/timzaman> I hope to see a sane process for
graph edition (maybe limited to placeholder swapping) move to core in the
near future.

In the meantime we can leverage this, and call it an experimental feature.

—
You are receiving this because you were mentioned.
Reply to this e

[2017-11-23 00:22] ShastriRam opened #8562 "CNN Regression with VGG-16 predicts the same value regardless of the input image."
So just a set up of the problem I am trying to solve. I have around 200k 64x64x3 RGB images of patches of terrain that a robot drove over. Each patch has a corresponding label of what the roughness of that image patch is. The roughness values range from 0-160. The data was collected with the robot driving at varying speeds, hence the range of the roughness values. My aim is to be able to predict t

[2017-11-23 01:03] Nuka-A opened #8563 "Support NNVM/TVM"
Hi,

I'm using this framework recently, and I'm very happy to be done DL works easily with it.
Thanks for your great work!

I heard that there is a future work to support NNVM/TVM.
And its status is in "work in progress".

http://www.tvmlang.org/2017/10/06/nnvm-compiler-announcement.html

is there any progress about this work now?
there is no source code and no issues about it, so i'm wondering ab

[2017-11-23 01:05] fchollet commented on #8563
On their side, I suppose, there is work in that direction. I don't know about it.

For the time being, it seems that you can use Apple's CoreML as a bridge to export Keras models to NNVM.

[2017-11-23 01:10] Nuka-A commented on #8563
thanks for your fast reply. i got it.
I will check the progress to the developer of NNVM.

Thanks again and closes this issue now.

[2017-11-23 01:10] #8563 closed

[2017-11-23 02:28] myutwo150 commented on #8558
See https://github.com/fchollet/keras/pull/8514.

[2017-11-23 04:25] shaleensomani commented on #2295
@anuragmishracse - how much time does it take for the language model ?
My program is running for past 2 hrs on a GPU, still no result .....

[2017-11-23 04:26] shaleensomani commented on #2295
@anuragmishracse - how much time does it take for the language model ?
My program is running for past 2 hrs on a GPU, still no result .....

[2017-11-23 04:27] pirateshady commented on #2295
@anuragmishracse - how much time does it take for the language model ?
My program is running for past 2 hrs on a GPU, still no result .....

[2017-11-23 05:23] hlb8122 opened #8564 "Tensorboard visualisation of Embedding layer in model within a TimeDistribution layer"
I'm trying to use the Tensorboard callback to visualise my embedding layer. However I get an error: ValueError("No value found"). I'm pretty sure this is because the layers are searched only in the layers within the top model. In my model however the embedding is within a submodel which is within a TimeDistribution layer. Is it possible to get this deeper level layer? Many thanks.

[2017-11-23 06:19] tjliupeng opened #8565 "ModelCheckpoint terminates the training process silently in Keras 2.0.8"
Hi, Keras guys,

I use 3DConv to train image classifier. 2 ModelCheckpoint instances are defined: one for medels for each epoch; the other one is for the best model.

Before, I use Keras 2.0.6 and Tensorflow 1.2.1, the code runs well. Later, I reinstall the computer and install Keras 2.0.8 and Tensorflow 1.3.0. The code is broken. When the first epoch is finished,  the ModelCheckpoint callback ter

[2017-11-23 07:24] #7405 closed

[2017-11-23 09:23] GertJanBraeckevelt opened #8566 "Step_per_epoch variable gets overwritten in fit_generator"
The correct custom value gets displayed in the progress bar, but is silently overwritten by the size of the training dataset divided by the batch size.

[2017-11-23 10:21] noagarcia commented on #3556
Hi @viig99, thanks for the SGDAccum code. I am getting the same error as @ZFTurbo when trying model.save():
`TypeError: ('Not JSON Serializable:', SGDAccum/variable)`
I am using Keras 2.1.1. Can you show your `optimizers.py` code, please?

[2017-11-23 10:23] #6707 closed

[2017-11-23 10:24] #7065 closed

[2017-11-23 10:24] BogoK commented on #4465
How do You get all the known classes of the pretrained VGG16 model?Thanks

[2017-11-23 10:28] NagabhushanS opened #8568 "How to reshape my dataset for LSTM?"
I have a dataset of 100000 rows and 30 features. This is a classification problem. Since there is a dependence of ith feature vector on previous feature vectors, I wish to use LSTM for this classification. I want to use a timestep of 5. So, when I am using X=np.reshape(X, (100000, 5, 30)), I am getting an error that "cannot reshape array of size 3000000 into shape (100000,5,30)".
Am I correct with

[2017-11-23 13:27] viig99 commented on #3556
https://www.hastebin.com/efabasizas.py, this is the one i was using, i am pretty sure there are better ways of doing things, for now i am saving weights and restarting networks with those weights.

[2017-11-23 14:29] #6468 closed

[2017-11-23 14:29] #7436 closed

[2017-11-23 14:58] YaronBlinder commented on #7335
Were you able to solve this?

[2017-11-23 15:38] sarim-zafar commented on #5906
Getting same thing with keras 2.0.8 in a notebook top

[2017-11-23 16:12] GKalliatakis commented on #8447
Hi @vianamp and many thanks for your help.

Not including the top layers turned out to be the solution.

So I have just followed your last code code snippet.

I am closing this issue.

[2017-11-23 16:12] #8447 closed

[2017-11-23 16:20] vianamp commented on #8447
Awesome!

[2017-11-23 16:29] #5204 closed

[2017-11-23 16:29] #7437 closed

[2017-11-23 16:30] vianamp commented on #8568
You will only have 6 series of size 5 for each sample. Therefore `X=np.reshape(X, (100000, 5, 6))`.

[2017-11-23 17:58] AlexGidiotis commented on #8568
The LSTM input needs to be of shape (num sample, time steps, num features). Assuming that you want to split the data into sequences of 5 time steps you will need to do something like the following:
`X_data = X_data.reshape((20000,5,30))`

[2017-11-23 18:29] #7439 closed

[2017-11-23 18:38] ahundt commented on #7706
I ended up just fixing the dimensions for the time being. K.tile works pretty well, it just repeats the entire contents of the data in the axis dimensions you indicate.

[2017-11-23 18:38] #7706 closed

[2017-11-23 21:03] #7443 closed

[2017-11-23 21:33] nigem6997 commented on #8558
Thanks

[2017-11-23 21:33] #8558 closed

[2017-11-23 21:58] psxz commented on #6925
import tensorflow
KERAS_BACKEND=tensorflow
import keras

??

worked for me

[2017-11-24 00:48] momih opened #8575 "Using model.set_weights() to continue training at a later time"
I'm using this [DenseNet model](https://github.com/flyyufelix/cnn_finetune/blob/master/densenet121.py). Due to issues with h5py, I am unable to use `model.save` to save my model after training.

However I still need to be able to stop training and resume after a while. So in a way to save the model without using h5py, I pickle the weights from the model and then when I need to continue training th

[2017-11-24 02:03] #7447 closed

[2017-11-24 02:19] SijieSong commented on #8526
I'm facing the same issue, could you please explain it more specifically?

[2017-11-24 05:30] Tinarights opened #8576 "Saving weights of encode layer to be used in classification"
Hello, Following this code- https://www.snip2code.com/Snippet/913210/Stacked-Denoising-Autoencoder-using-MNIS   I am not sure if it is right or wrong. I have done the following:

`
# Layer-wise pertaining

encoders = []
weights=[]
models=[]
nb_hidden_layers = [784, 600, 500,400]
X_train_tmp = np.copy(X_train)
for i, (n_in, n_out) in enumerate(zip(nb_hidden_layers[:-1], nb_hidden_layers[1:]), start

[2017-11-24 05:37] #1101 closed

[2017-11-24 06:31] FMFluke commented on #2378
@lionlai1989 Can you verify saving it from one session, and load it into different session? Or even load it and make predictions in different machine entirely? `model.save` and `load_model` does not work for me. If I load the model, the accuracy goes back to like it has never been trained.

[2017-11-24 08:37] #4655 closed

[2017-11-24 09:09] asos-saul commented on #8454
Fixed!

[2017-11-24 09:09] #8454 closed

[2017-11-24 09:14] talorwu commented on #8338
yes...I am also puzzled with it. And I change it to :
`decoder_dense = TimeDistributed(Dense(num_decoder_tokens, activation='softmax'))`
and it also work , and I think just use Dense on time seq is not correct, because the input_shape is not correct. But it is work, so confused

[2017-11-24 09:27] mdfwn commented on #8575
Your optimizer has different internal states that can change during training. I don't see what optimizer and what configurations you use, but I see that you use "reducelr" callback which changes the learning rate over time during training. So when you call "get_weights()" after the training has finished, your learning rate is smaller than at the beginning of the training, i.e. when you call "set_w

[2017-11-24 09:45] lakshmiprasadvk commented on #4875
I'm facing the same problem.
I have an LSTM layer in the model
I verified that the weights are loading properly by comparing them before and after with bcompare. But the output results are different after loading the weights.
Before introducing the LSTM layer my results were reproducible.

[2017-11-24 10:46] eyaler commented on #4185
not stale

[2017-11-24 12:40] #7453 closed

[2017-11-24 12:40] #7451 closed

[2017-11-24 13:15] kutoga opened #8577 "2D LSTM implementation"
Hello

Has ever anyone written a 2D LSTM implementation for keras? I know there are different types of 2D (or more general: multidimensional) LSTMs, but it doesn't really matter for me which one is implemented.

Unfortunately I did not find any results.

If there is no implementation: Will it be implemented in future?

Thank you

[2017-11-24 13:29] javiercorrea commented on #6563
Anyone still working on this?

I try to implement it myself, but I'm not very comfortable with Keras inner workings yet.

Here's my implementation thus far:

[code]

[2017-11-24 13:53] rperrot opened #8578 "Loss display maybe wrong for full batch"
Hi keras devs,

first of all, thanks for your library, maybe the easiest way to get into deep learning.

I wanted to use keras to make some illustrations on SGD vs batch-SGD vs mini-batch SGD. I simulate batch SGD using mini batch size equal to the training set, but in that case, the error displayed after each epoch is shifted (ie: the error displayed after epoch 1 is the initial error, error of t

[2017-11-24 14:19] cleKarl opened #8579 "LSTM for System Identification task"
Hello together,

For a final thesis I am working with Keras on Tensorflow and have to investigate how LSTM Networks can be used to identify dynamical systems.
I have given one dimensional Input Data X(t) and the depending Output Data Y(t).

First of all, I preprocessed the data in terms of normalizing in a range form (-1,1).
From this I made time depending samples, using 10 values of the Input dat

[2017-11-24 16:40] #7446 closed

[2017-11-24 16:55] JerryKurata commented on #3921
Any further update on this?  The documentation seems to imply the lower case versions (ex. add() instead Add()) are for the functional API.  But the example of using Add() use the functional API, not the Sequential.  So I am a bit confused.

[2017-11-24 16:59] keunwoochoi commented on #3921
Yes, I wrote the documentation examples but that part was @fchollet's suggestion, so I agree that add() > Add().

Is it possible to use merge layers in Sequential models? (then how could it be Sequential?) I might be wrong, but at least that's how I understood and that's why both of them are using Functional API.

[2017-11-24 17:52] dakshil commented on #3911
To load a neural network with merged layers and custom metrics, I saved the weights (not the model) and recreated the model  during testing, where instead of calling fit, I load the weights into the recreated model, thus eliminating the training.  Not the most elegant solution but I can confirm that this atleast works.

[2017-11-24 17:52] #7454 closed

[2017-11-24 17:52] #7450 closed

[2017-11-24 17:57] nayansinghal commented on #8526
instead of using tensorflow operations, you need to perform numpy operations on it
[code]

[2017-11-24 17:57] dickreuter commented on #2115
Would there be a way to pass in weights that are different for each sample and give each individual sample item a weight if predicted accurately or not? I.e. different payoffs depending on the item?

[2017-11-24 18:02] curiale commented on #2115
Hi @dickreuter, I've managed to pass a weight for each sample just by adding a new layer into the clasification (y_true). Then, I modified the objective and metrics functions to  properly unravel the weights before computing the operations.

[2017-11-24 18:41] shravankumar147 opened #8580 "import error with keras 2.1.1. While i,porting, somehow trying to use theano as backend and throwing the following error"
[code]

[2017-11-24 18:51] ozabluda commented on #8578
what happens if you don't call `evaluate` before training?

[2017-11-24 18:52] #7457 closed

[2017-11-24 19:14] rperrot commented on #8578
It has no impact on the messages during training :

[code]

[2017-11-24 19:52] #7452 closed

[2017-11-24 19:52] #7441 closed

[2017-11-24 20:13] ozabluda commented on #8578
This is intended behaviour. How would fit() know any different after epoch 1? It would have had to forward prop through the entire dataset again, which doesn't happen until epoch 2.

[2017-11-24 20:30] rperrot commented on #8578
I though the loss displayed is le loss after training the i-th epoch. So you mean it's the loss before the epoch ?

[2017-11-24 20:37] pirateshady opened #8581 "Unable to add LSTM layer on top of embedded layer on GPU - Keras with tensorflow backend"
Below is the code snippet:

[code]
When I run the above code on my local CPU, it runs fine, but when running on a GPU on google cloud, it just doesn't work. It doesn't even show any error, its just gets stuck on the 3rd line.
Just figured out that it works fine with theano backend, but fails when I use tensorflow backend.
Please suggest.

Thanks.

[2017-11-24 20:57] ozabluda commented on #8578
Loss is after epoch minus last minibatch. The only way to know the loss for the last minibatch is to forward prop through it again, which happens only in the next epoch.

[2017-11-24 21:05] rperrot commented on #8578
Ok, since I use minibatch equal to the size of the minibatch, the last minibatch is equal to the last epoch. It make sense, but it's not very intuitive. That means that the loss/metric does not corresponds to the loss of the epoch.

Is there a link in the documentation that talk about this ? (I didn't read anything on when the metric is computed during fit() )

[2017-11-24 21:36] dickreuter commented on #2115
Does that value that is passed into the loss function as y_true have to be a numpy array or can it be anything else, as along as I convert it to a numpy array when I do the operations in the function with keras.backend?

[2017-11-24 22:12] rihamriffat commented on #4850
i have same propblem i use train data = 1628 and validation =489 wht i should do to solve this

[2017-11-24 22:15] mrgloom commented on #2743
I have fixed random seed like:

[code]
Disable shuffle like this:
[code]

I don't use ipython notebook and I'm using Tensorflow backend, but still have slightly different results at each run if I look at `loss` and `val_loss` at some iteration.

[2017-11-24 22:21] mrgloom commented on #2479
@kylemcdonald How to set these flags for Tensorflow backend?

[2017-11-24 22:52] #2968 closed

[2017-11-24 22:54] ozabluda commented on #8578
It even worse. The loss is average for the epoch, which changes
minibatch-to-minibatch.

On Nov 24, 2017 13:06, "Romuald Perrot" <notifications@github.com> wrote:

[2017-11-24 23:13] mrgloom commented on #2743
This solved the problem:
https://keras.io/getting-started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development

Seems works for python2 and python3.

[2017-11-25 01:01] hanfeisun opened #8582 "Support of multiple-input for TimeDistributed?"
This issue (https://github.com/fchollet/keras/issues/3057) discusses about a work-around to support multiple-input for TimeDistributed (Concatenate multiple input, and then split them out).

However, this work-around won't work at all if the dtype of multiple-input is different. For example, if input1 uses "int32" and input2 uses "float32", I can't concatenate them.

An example is pasted from that

[2017-11-25 04:53] #7438 closed

[2017-11-25 06:26] Hoiy opened #8583 "The first value of preprocessing.text.Tokenizer texts_to_matrix() is always zero"
Could be reproduced by below, looks like there is an index shifted
[code]
Output:
[code]
Expected (?):
[code]

[2017-11-25 07:06] guiyuliu opened #8584 "how to deal with the variable timestep sequences in LSTM"
My input sequences have difference  length ,so I chose the maximum length . For the shorter sequences ,I padding them with 0.
When I use LSTM layer, I  set "return_sequences=True" .  In my understanding , I get every timestep  result.
what I want to know is , how to get the corresponding time step result in LSTM for every batch?

I try to use "sample_weight_mode："in compile ,and generate sample_we

[2017-11-25 07:53] #7433 closed

[2017-11-25 08:54] RitwikGupta commented on #3896
@veronicamorfi Could you tell me how you loaded weights for only one of the instances? I assume you saved the weights with `save_weights`, which outputs to one file, even for a GPU parallel model.

[2017-11-25 11:04] ViaFerrata commented on #2436
Is there any intention for making it work with CNTK too?

[2017-11-25 11:29] dickreuter commented on #2115
Do you have an example how this looks like? How do I split the tensor in the loss function to extract y_true and the weights?

[2017-11-25 12:37] mercy0387 opened #8585 "Unnecessary Warning for trainable parameters"
Considering GAN model like below

[code]

I found Warning that says ```/path/to/keras/engine/training.py:973: UserWarning: Discrepancy between trainable weights and collected trainable weights, did you set `model.trainable` without calling `model.compile` after ?
  'Discrepancy between trainable weights and collected trainable'``` when the first calling `discriminator.train_on_batch` .

I know thi

[2017-11-25 12:48] kaushalshetty commented on #8338
@alwaysprep @talorwu The  decoder_outputs from decoder_lstm layer  has shape
(None,None,256).Since there is no timestep involved in this tensor a single Dense layer would suffice instead of a Timedistributed layer. Timedistributed layer would be required if the tensor was of shape
(None,timestep,dim). Try analyzing `model.summary(),encoder_model.summary(),decoder_model.summary() `to get a clearer

[2017-11-25 12:59] talorwu commented on #8338
So...If I use TimeDistributed, there will be less variables , because TimeDistributed will share the variables on each timesteps. it's right?

[2017-11-25 13:30] kaushalshetty commented on #8338
Yes the same weights are shared in each timestep as per theory.

[2017-11-25 14:02] Leo-xh opened #8586 "Can I train the output of keras by tensorflow?"
If I use keras to get the predictions, only by the layers and the other ops, without using model.
Can I use tf to compute the loss and train the network?
I use them this way but it seemed that the network wasn't trained.

[2017-11-25 14:23] bikong2 commented on #913
@sergeyf Is this way work?

[2017-11-25 15:37] boluoweifenda commented on #6839
@hicham-eyeem
I’m trying to reproduce the mobilenet accuracy, but I only got about 30.7% error rate. I also noticed the batchnorm parameters in slim implementation, it's weird to set such high decay(0.9997), do you have any idea?

[2017-11-25 16:26] nyxjemk commented on #2280
Mh.. I'm using CPU, still having this issue. Do I have to shut off multiprocessing to achieve the reproducibility?

[2017-11-25 16:28] VanitarNordic commented on #2280
Have you followed this, even in the code hierarchy.

https://keras.io/getting-started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development

[2017-11-25 16:38] nyxjemk commented on #2280
Yes, I only left out the line with the multiprocessing.

[code]

I will try, but I think this will take just too long - not very practical. Using theano as backend results are reproducible without any limitations, so I thought there must be also a way to achieve this with tensor flow. But I will try it out.

[2017-11-25 16:41] VanitarNordic commented on #2280
no, you can try this with tensorflow either, not just theano. test and inform us

[2017-11-25 16:42] #7461 closed

[2017-11-25 16:42] #7396 closed

[2017-11-25 17:08] nyxjemk commented on #2280
With theano results are reproducible for me, but for some other reasons I'd like to stick with tensorflow.
As expected it takes way longer: ~10x for the system I'm using, I will test it with 1 epoch to see if results are the same after running it twice (even this is very slow..).
I think there must be a better way. As said above, with Theano as backend I'm getting fully reproducible results, with

[2017-11-25 19:10] JerryKurata commented on #3921
Thanks keunwoochoi.  Your explanation makes good sense.   I guess the best thing is use Add in layer based scenarios, and add() in functions.  At least that is what after reading the sources.

[2017-11-25 19:31] arodiss opened #8587 "Incorrect docs for Gaussian Dropout layer"
Description of Gaussian Dropout layer at https://keras.io/layers/noise/ is copy-paste from Gaussian Noise layer, which is incorrect

[2017-11-25 19:42] #6808 closed

[2017-11-25 20:01] ranjita-naik commented on #5870
I'm using python 2.7.  pip install 'keras<2'   + kernel restart resolved the issue for me.

[2017-11-25 20:56] VanitarNordic commented on #2280
the bad news is that theano will not continue its supports for the library. therefore we have no choice of sticking to tensorflow

[2017-11-25 21:10] nyxjemk commented on #2280
yes.. therefore I was hoping there might be another way.
Adding the line:
`session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)`
does indeed solve the problem, but it is really really slow compared to normal. Too slow in my opinion to make often use of it.
Depending on the task there might be also more or less significant difference in the results on differ

[2017-11-25 21:38] jbrownlee commented on #8519
I believe this is a bug.

Given:

`from keras.utils import to_categorical
print(to_categorical([3]))`

In Keras 2.0.8 the result is a matrix:

`[[ 0.  0.  0.  1.]]`

In Keras 2.1.1 (and perhaps others), the result is an array:

`[ 0.  0.  0.  1.]`

This undocumented change in behavior breaks a ton of my code.

[2017-11-25 21:39] caprone commented on #4998
same issue...

[2017-11-25 22:43] GKalliatakis commented on #8548
Have a look at issue https://github.com/fchollet/keras/issues/6221

[2017-11-25 22:52] stas-semenov opened #8588 "Incorrect GRU prediction on small size data"
I have an issue with results in examples/image_ocr.py script.

Sample works perfect when I predict data of size equal to minibatch_size (32) or greater.
But if I run prediction of any small size data, e.g. 1, 2, or 3 images, I got absolutely strange and incorrect answers, like random.
Predicting 10-20 samples sometimes look good but with 20-30% errors.
Is it GRU's feature or bug? Or something else

[2017-11-26 00:41] fchollet commented on #8519
Yes, it seems that we don't handle the scalar case consistently. It should return a matrix.

@jbrownlee can you provide some examples of code that would break? Why would you call `to_categorical` with a scalar?

[2017-11-26 01:02] #7466 closed

[2017-11-26 02:09] Weixing-Zhang commented on #8123
Well, none of answers above helps at all.

Take a look at: the answer from fchollet.
https://github.com/fchollet/keras/issues/8446

He said "For now we recommend saving the original (template) model instead of the parallel model. I.e. call save on the model you passed to multi_gpu_model, not the model returned by it. Both models share the same weights."

This is my example code:
Please note that m

[2017-11-26 03:24] nicolewhite commented on #8583
Yeah the Tokenizer class seems to have been written under the assumption that you'll be using it with an [Embedding layer](https://keras.io/layers/embeddings/#embedding), where the Embedding layer expects `input_dim` to be vocab size + 1. The Tokenizer reserves the 0 index for masking (even though the default for the Embedding layer is `mask_zero=False`...), so you are only actually tokenizing the

[2017-11-26 03:26] nicolewhite commented on #8566
Can you show an example?

[2017-11-26 04:24] nicolewhite commented on #7985
Hey all, I see the issue. You are meant to pass in the validation sample weights as the third part of the `validation_data` tuple. See [the fit docs](https://keras.io/models/sequential/#fit):

A full working example of this:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-11-26 05:22] jbrownlee commented on #8519
@fchollet thanks for the confirmation, much appreciated.

I have data prep loops that build up the framing of a text sequence prediction problem (e.g. image captioning, translation, text summarization). The loop crawls across the output sequence taking a portion of input for a given sample and the next word as output, a single output integer. This output is then encoded with a call to to_categoric

[2017-11-26 07:20] mpariente commented on #8568
Do you want to create one training sequence from each starting point?
Or creating a sequence of length 5 every 5 sample is working for you? If it's ok, then the solution of @AlexGidiotis is perfect for you!

[2017-11-26 07:44] mpariente commented on #8559
If you want to define a loss in the way you described, the function needs to have only two arguments : y_true and y_pred.
If you'd define the reward and punishment as constants, you wouldn't have to pass them and I guess it could work.

Otherwise, the common way to create a custom loss function with more than y_true and y_pred is to use Lambda function to compute the loss. You should check [this e

[2017-11-26 08:41] #7432 closed

[2017-11-26 10:16] stas-semenov commented on #8588
I have done some investigation myself.
The issue happens only if add BatchNormalization.

    inner = Dense(get_output_size(), kernel_initializer=ki) (gru_2_conc)
    inner = BatchNormalization() (inner)
    y_pred = Activation('softmax', name='the_activation') (inner)

[2017-11-26 11:41] #7445 closed

[2017-11-26 12:29] mpariente opened #8593 "RNN base class doesn't support dropout"
I'm using the latest version of Keras and Tensorflow and when I run this little code, I get an TypeError
[code]
- Error occurs using both Tensorflow and Theano as backend (didn't try CNTK though)
- Error occurs using both implementation mode (1 and 2)
- Error occurs using `GRUCell` as well
- Error doesn't occur if I don't use `dropout` and `recurrent_dropout`.
- Error doesn't occur if I use `Simpl

[2017-11-26 13:12] marioviti commented on #6777
Kudos @gdubrg

[2017-11-26 13:50] SnShine commented on #5793
It'd be really useful if you've mentioned the bug. I'm also facing the same issue and I think it's because of a bug in my code and I don't know how to solve it.

[2017-11-26 14:41] stgrmks commented on #2280
hey guys,

I can reproduce my results by adding np.random.seed(1) and rn.random.seed(1) with **keras + theano**. the latter probably is not even necessary.
Furthermore, I can reproduce my results with pure tensorflow, by just adding np.random.seed(1) and tf.set_random_seed(1).
This was done with and without a dropoutlayer; perfectly reproducible.

I went with the keras FAQ suggestion and tried to

[2017-11-26 15:22] Ericvulpi commented on #4734
It wouldn't be an optimizer option per say, since the deepmind paper describes an architecture of a meta-optimizer that they have used to create different optimizers optimized for different problems.
I still think it would be interesting to see if they or somone can develop an RNN optimizer using the method deepmind used, but trained on a large enough variety of problems that it becomes general in

[2017-11-26 15:53] zyavrik commented on #2280
I tried the same as you with keras+tensorflow with resnet-v2 model from keras applications **with no success**. Results are not reproducible.

[2017-11-26 16:05] dickreuter commented on #8559
Ok thanks for this, I understand that in the example you referenced ctc_batch_cost is used and the loss function cuts the first two iterations of that evaluation as they are not desired. For that it uses a Lambda layer class, to generate a custom loss function. Isn't it a bit counter-intuitive to use a layer function to create a loss function?

The approach I've been looking at for my example is t

[2017-11-26 17:39] dickreuter commented on #1642
I'm having the same problem. What if the sample weights are not symmetric (i.e. payoff when correctly classified, and loss when incorrectly classified). Is there a way to write a loss function and metric that would consider that?

[2017-11-26 17:45] dickreuter commented on #389
I have a similar issue, trying to weight the matches in a binary_crossentropy function differently than non-matches, and each sample having different tuples. With a 1d array this doesn't seem to be possible. It would be great if there was a more flexible way to pass in weights and include them in the loss and evaluation function.

[2017-11-26 17:53] hicham-eyeem commented on #6839
@boluoweifenda I got 31.45% top-1 validation accuracy with center crop. I trained for 45 epochs (instead of 90), with SGD (instead of RMSprop) reduced by 10 every 15 epochs, and weight decay of 1e-5 (instead of 4e-5)/dropout of 1e-2 (instead of 1e-3). For the batchnorm parameter I put it to 0.70 which seemed to work better than 0.99 (but I don't know how it impacts the results on the long run). Si

[2017-11-26 18:37] JohnEstropia commented on #8566
I'm seeing this as well. I downgraded to 2.0.9 for now. The provided `steps_per_epoch` seems to be overwritten by the number of default images (`len(generaror)`?)

[2017-11-26 19:06] mpariente commented on #8559
In the loss function, `y_true` and `y_pred` should have exactly the same shape, so adding the weights inside of `y_true` won't work..

Do you want to weight the contribution of each item to the final loss or what do you want exactly? I cannot help that much without some details.
In the general case, I would work with a Lambda layer, which, if you want to weight contributions in the final loss, wou

[2017-11-26 19:15] nicolewhite commented on #8566
I believe this was fixed in https://github.com/fchollet/keras/commit/2f3edf96078d78450b985bdf3bfffe7e0c627169. You can either install the latest Keras from GitHub to get the fix or as you suggested downgrade to 2.0.9.

[2017-11-26 19:56] nicolewhite commented on #8565
Can you provide a code snippet to reproduce the issue?

[2017-11-26 20:18] dickreuter commented on #8559
Yes, each sample item has an individual contribution to the loss, but in addition to that the contribution also depends on whether the binary_cross_entropy loss function considers y_true to be equal to y_pred or not. Depending on that outcome, a different weight needs to be applied.

[2017-11-26 20:50] Moondra opened #8595 "Keras freezing on last batch of first epoch (can't move to second epoch)"
I'm using Keras 2.1.1 and Tensorflow 1.4, Python 3.6, Windows 7.

I'm attempting transfer learning using the Inception model.
The code is straight from the Keras Application API, just a few tweaks (using my data).

Here is the code

[code]

[2017-11-26 22:19] #7276 closed

[2017-11-27 00:27] #8444 closed

[2017-11-27 01:43] singhns opened #8596 "ImageGenerator Distorting Image"
I am getting artifacts and distortions in many of the medical images im trying to augment.  Finally, I emptied out all of the transforms in the ImageGenerator, yet those artifacts are still present.

I've included the source image along with what was generated and the code that produces the problem.  Im on a mac, development environment is anaconda spyder.   This seems to happen on most images, bu

[2017-11-27 03:01] #4225 closed

[2017-11-27 03:36] boluoweifenda commented on #6839
@hicham-eyeem
I got 30.5% validation accuracy with center crop now
trainset: reshape short side to 256 and center crop to 256x256, random crop to 224x224
validset: reshape short side to 256 and center crop to 256x256, center crop to 224x224
batchsize 256, SGD with momentum=0.9, init lr = 0.1 and linearly decay to 1e-3 after 60 epochs as [https://github.com/shicai/MobileNet-Caffe/issues/1](url)
bat

[2017-11-27 04:23] hsiaoyi0504 commented on #1917
@zach-nervana FYI
Some possible reason is listed in this stackoverflow question.

[2017-11-27 05:01] #6875 closed

[2017-11-27 08:46] GertJanBraeckevelt commented on #8566
Thanks for the response!

[2017-11-27 08:53] kaushalshetty commented on #8338
@talorwu I was testing this piece of code:
[code]

and

[code]

I could see that code1 and code2 ran successfully in keras versions 1.2.2
but code2  failed in 1.2.1 version(ERROR: Dense expecting ndim=2 not 3).
Therefore Dense can replace TimeDistributed(Dense()) is what I think. Please  correct me if I am wrong.

[2017-11-27 09:21] maderafunk commented on #8596
What is the reason for the "255 - ..." in
`newX = [255 - img for img in X_batch]`
?
Looks somehow to me that its a data type problem with uint8? E.g  a value of -1 becomes 254 in uint8, which might cause those artifacts.

[2017-11-27 09:32] hicham-eyeem commented on #6839
@boluoweifenda
Cool, I will try that, thank you. I used 3 gpus with every gpu processing a batch of 32 images (the total batch size is 32x3 with initial learning rate of 0.1*32*3/256), which might affect performance due to batch norm on small batches.
Did you compare the performance of your model in a fine-tuning scenario and see how it compares with the original weights?

[2017-11-27 10:25] veronicamorfi commented on #3896
@RitwikGupta I load the weights I saved to the model (this is the parallel one) and then load one of the instances into model1. I hope it helps.

`model.load_weights('path_to_saved_weights.h5')
model_index = number_of_gpus+1
model1 = Model(inputs=model.input,outputs=model.layers[model_index].get_output_at(0))
`

[2017-11-27 10:58] RA-Danny commented on #6353
@Neway6655 Can you give a complete model with the shape of your data please ? I'm struggling to combine word+character embedding with Keras..

Many thanks :)

[2017-11-27 12:19] christian-rauch opened #8599 "Cannot restore model when Lambda is added by python method"
I am running with Keras 2.1.1 + TensoFlow 1.4.

This example program saves and loads a simple model with lambda functions to/from json:

[code]

Restoring the model with `model_from_json` fails with (keras master):
[code]

and on keras stable 2.1.1 in ipython respectively:
[code]

If I do the slicing directly (see comments in the code) without calling `remove_slice`, the storing/loading works as e

[2017-11-27 12:31] christian-rauch commented on #8599
If you define the Lambda in `remove_slice` properly like this (e.g. with arguments):
[code]
the restoring also works. The issue is actually the definition of the `Lambda` with/without `arguments`.

However, using `Lambda` without `arguments` worked before for me.

Can we have an error or at least warning, if you attempt to store a model with Lambdas that cannot be restored?

[2017-11-27 12:38] talorwu commented on #8338
@kaushalshetty emmm....I think you're ALMOST right. But I think these two ways is not as like as two peas. Just like you mentioned above  the same weights will be shared in each timestep when you use TimeDistributed Wrapper. And I think it seems `Flatten()` firstly and then `Dense` if use Dense directly

[2017-11-27 12:47] talorwu commented on #8338
![39114243048398181](https://user-images.githubusercontent.com/7067195/33267363-27c25fcc-d3b4-11e7-911d-c76c776a7f35.jpg)

[2017-11-27 13:05] tcl326 commented on #8428
@CloudResearch did the Serialization Warning give you any problems later on?

[2017-11-27 13:13] CloudResearch commented on #8428
Well i can't say that at the moment. i could predict something, but i don't know how it affects my prediction. Would be nice to know, what is not saved. As far as i understand the message output dimension of lstm1 won't get stored. So i decided to just load the layer from the model and connect all layer again. idk if that's a solution or if it slows down the process at all.

[2017-11-27 13:18] gaufung commented on #7362
you are genius

[2017-11-27 13:24] talhadar opened #8600 "Convert cifar10_cnn model to FCN Model"
Hello,

I want to convert the cifar10_cnn model to FCN (Fully Convolutional Network) so i can run it efficiently and produce a heatmap.
Here is my progress so far using an original image with size (600, 600) and the receptive field is 32x32:
1. Running the model using a for loop on the full image produces the expected results but is slow
2. I attempted to convert the model into a FCN in the follow

[2017-11-27 13:45] andreidi opened #8601 "FailedPreconditionError (see above for traceback): Attempting to use uninitialized value Variable_.."
This is the most strangest of situations (actually and obviously a bug:
I have a class say
[code]
within the class I have a few method that use (obviously enough) the Session property (self.sess):
[code]
Now, above code generates below error when I try to run self.sess.run:
[code]
However, and here it comes, self.sess property has same value as K.get_session() (tested after error in a interactive

[2017-11-27 14:21] bhack commented on #1873
@fchollet Is it possible instead to add an extra channel to the weights?

[2017-11-27 15:08] boluoweifenda commented on #6839
@hicham-eyeem
Sorry I didn't try transfer learning or any fine-tuning scenario, I just pay attention to CNN models and architectures. BTW, I found that training with 2 GPUs is slightly better than 4 GPUs with same batchsize 256, I just use mean and std in single GPU to update moving average statics of batch normalization.

[2017-11-27 16:23] hicham-eyeem commented on #6839
@boluoweifenda cool, thanks!

[2017-11-27 17:42] raghavgurbaxani opened #8602 "Installation error"
error: can't combine user with with prefix/exec_prefix/home or install_(plat)base

while doing python setup.py install

[2017-11-27 18:04] #7469 closed

[2017-11-27 19:10] kuba-chledowski opened #8604 "Changing the training loop causes the model to fail while saving"
Hi!

I am trying to reproduce [esim](https://arxiv.org/abs/1609.06038), state of the art method in Natural Language Inference. After first epoch, I get the following error:

    Traceback (most recent call last):
      File "src/scripts/train_model.py", line 69, in <module>
        plugins=[MetaSaver(), AutomaticNamer(namer="timestamp_namer")])
      File "/home/kchledowski/subspace-word-embedding

[2017-11-27 19:50] ysyyork commented on #8123
@Weixing-Zhang Thanks a lot. This works!

[2017-11-27 20:25] kbrose commented on #1638
Does making it threadsafe with the above decorator(s) actually result in any speed up, though? I'm finding that it is the same speed (or maybe even a little slower) with my generator. Which makes sense because it looks like it's locking every time it does _anything_...

[2017-11-27 20:41] bdwyer2 commented on #8580
What is the contents of your `keras.json` file?
`%USERPROFILE%/.keras/keras.json`

[2017-11-27 21:16] hanfeisun commented on #4464
I used Tensorflow so Theano's backend doesn't work for me.

Is there a general way to do this?

[2017-11-27 21:21] parag2489 commented on #1638
From my experience, if your data generator takes very little time to
prepare and yield the batch, then multithreading is not very effective.

In other words, if the overhead of distributing the batches to multiple
workers is more than the time being saved in preprocessing by parallelizing
that operation, then I did not see much improvement.

Sent from my iPhone

On Nov 28, 2017, at 1:56 AM, Kevin

[2017-11-27 22:16] julienr commented on #8585
I introduced the warning to fix #8121, so this might be my fault.

Do you have a minimal reproducible example where you get the warning ?

What does you training code look like ? I think if you set `discriminator.trainable = False` and then want to call `discriminator.train_on_batch`, you should call `discriminator.compile` in between to make sure the train function gets built based on the trainab

[2017-11-27 22:21] julienr commented on #8604
Can you share your code or a minimal reproducible example ? It's hard to tell without the code, but it looks like it's trying to save a `threading.Lock` object which is obviously not a good idea.
Do you use multithreading in some custom layer / loss / anything you pass to keras ?

[2017-11-27 23:33] DanielTizon opened #8605 "Bug with BN layers in multi images CNN with shared layers?"
Hi,

I am using keras-2.1.1, and I have found that when I add BN layers to one CNN with multiple inputs and shared layers, I get a strange graph with the first branch starting with an activation layer but without any input:

![graph-with-bn](https://user-images.githubusercontent.com/939005/33294699-12749bc6-d3d2-11e7-9795-0d6291ae4bd6.png)

this is the code:

[code]

If I remove the BN layers of t

[2017-11-28 00:15] jeremydr2 commented on #8542
Do you have any dropout layers in your network before BatchNorm? That can cause train accuracy to appear high but test accuracy to stay low.

This is really a stackoverflow question, not a github issue.

[2017-11-28 00:17] brge17 opened #8607 "Improvement Suggestion: Accurate "True" Metrics on Validation Set"
Keras.metrics current implementation averages metrics in batchwise averages. I think there should be an option to cache the intermediate output and compute accurate metrics at the end of epoch for the entire validation set. This would unlock metrics such as AUC, Precision, Recall, etc...

The hacky solution that I have used thus far (included below):

1. Remove validation generator from fit_genera

[2017-11-28 00:22] brge17 commented on #8410
@ophiry Sure.

[code]
np.float64 is for TensorBoard. If you order the callbacks properly, {TrueMetrics, ModelCheckpoint, Earlystopping, etc...} you can have them monitor metric_name.

[2017-11-28 00:49] ozabluda commented on #6839
It's just a name. What Keras (correctly) cals `momentum`, TF (incorrectly) calls `decay`. momentum+decay=1. You can tell that TF is wrong, because larger `decay` is supposed to cause faster decay.  You can see how TF has to correct itself here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/moving_averages.py#L81

TF is a mess:

```BatchNormalization.__init__():```

[2017-11-28 00:50] #7375 closed

[2017-11-28 01:47] mercy0387 commented on #8585
@julienr Thank you for reply.
I'm sorry for insufficient code. This is reproducible example.

[code]

Let me know if I have wrong way to train just generator part when `gan.train_on_batch` .

[2017-11-28 02:50] #7472 closed

[2017-11-28 05:16] Neway6655 commented on #6353
@RA-Danny I don't know how to do this using Keras, I am using tensorflow's embedding api directly.

[2017-11-28 05:41] singhns commented on #8596
It is something to do with the conversion.  I tried multiple conversions and the above without success.  Finally I made it newX = [0 - img for img in X_batch] and all is well. Sorry for posting it as an issue, though having more options on ImageGenerator to support BGR or RGB would be a great add.

[2017-11-28 06:22] ophiry commented on #8410
Thanks, tried a similar thing, but forgot to handle the callback order

[2017-11-28 06:29] ghost opened #8608 "TypeError: unhashable type: 'Dimension'"
I want to do style change of photos,but I got an Error like the title

`import numpy as np
from keras.applications.imagenet_utils import preprocess_input
from keras.applications.vgg16 import VGG16
from keras.models import Model, Sequential
from keras.layers import Dense
import reader
from keras.optimizers import SGD
from PIL import Image
import keras.backend as K

def get_content_loss(A, B):
    c

[2017-11-28 06:42] torenunez commented on #6221
@toodlesliyy  If you're on a Mac, try using the "Go to folder" from the "Go" menu in finder and just copy paste "~/.keras/models" and see if that works. It's typically a hidden folder at the root of your computer, where folders like "Documents" or "Downloads" live.

[2017-11-28 06:50] #7397 closed

[2017-11-28 06:52] RoozbehBandpey commented on #5935
I had the same problem, Solved by switching to tensorflow backend.

[2017-11-28 06:53] wangzhenhui1992 commented on #8608
I have seen that  fit() can not work well on tensor
I use np.array target to do,but got another error

`
import numpy as np
from keras.applications.imagenet_utils import preprocess_input
from keras.applications.vgg16 import VGG16
from keras.models import Model, Sequential
from keras.layers import Dense
import reader
from keras.optimizers import SGD
from PIL import Image
import keras.backend as K

[2017-11-28 07:11] wangzhenhui1992 commented on #8608
It may be caused by my loss function,I should use y_mean but not y.
I fixed it but i went with another error

`Epoch 1/1
2017-11-28 16:06:14.300467: W C:\tf_jenkins\home\workspace\rel-win\M\windows\PY\36\tensorflow\core\framework\op_kernel.cc:1182] Invalid argument: Cannot parse tensor from proto: dtype: DT_FLOAT
tensor_shape {
  dim {
    size: 150528
  }
  dim {
    size: 150528
  }
}
float_val:

[2017-11-28 07:20] wangzhenhui1992 commented on #4986
I had this problem while I did style change of photos with pretrained VGG16
please see the sencond comment of the issue below
https://github.com/fchollet/keras/issues/8608

[2017-11-28 09:24] redsphinx commented on #6839
@ozabluda soo it's fine then, because I was worried that since momentum != decay that I'd have to set momentum = 1-decay, which I tried, but I didn't notice any difference. I don't think it's a big deal just really annoying that the naming is inconsistent.

[2017-11-28 09:24] hicham-eyeem commented on #6839
@ozabluda Thank you for the explanation, it's a bit confusing though. If we take the MobileNet tf-slim implementation, they put the batchnrom "decay" to 0.9997 : https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.py#L410, since there's that `1 - decay` thing in the TF's moving average function, does that mean that equivalent implementation in Keras would be a momentum

[2017-11-28 11:23] Tinarights opened #8609 "Auto encoder classification in Keras"
Hello,
I have an issue i think it is from dimensions:
I am trying to find a useful code for improving classification using autoencoder. I followed this example keras autoencoder vs PCA But not for MNIST data, I tried to use it with cifar-10

so I made some changes but it seems like something is not fitting. Could any one please help me in this? if you have another example that can run in different

[2017-11-28 11:27] Hui-Li commented on #2518
@sergeyf Implementation for tensorflow can be found in [OpenKE](https://github.com/thunlp/OpenKE/blob/9a2cc3f838e1bddb2fe8f65b9747d3aba36a72c1/models/HolE.py)

[2017-11-28 11:34] sergeyf commented on #2518
Thanks!

On Nov 28, 2017 6:28 AM, "Hui Li" <notifications@github.com> wrote:

[2017-11-28 12:16] CLDuan commented on #2397
@shafy Disabling debug mode in flask works, thanks a lot!

[2017-11-28 13:17] whatisAI commented on #8595
I have the same issue. I've been trying to change batch sizes, but that doesn't seem to change anything.

[2017-11-28 13:19] HC-2016 opened #8610 "Shared layers for Dropout"
As said in the keras tutorial, "To share a layer across different inputs, simply instantiate the layer once, then call it on as many inputs as you want".

I guess that the shared layers only share the trainable parameters, RIGHT?
So how could I share the dropout layer with the same mask in multiple branches?

[2017-11-28 13:30] Canseco10 opened #8611 "Problems with multiple output in a cnn"
Hello guys,

I'm having trouble to getting my network to running.
I'm trying to pass an image to my convolutional neural network which should predict me 3 parameter. (a regression problem)
There is always a value error: 'The model expects 3 target arrays, but only received one array. Found: array with shape (32,3).'

Does somebody know how to fix that?

My ImageDataGenerator uses the  '.flow()' fu

[2017-11-28 14:57] talorwu opened #8612 "can not load_model() or load_from_json() if my model contains my own Layer"
this is my code:
`from keras import backend as K
from keras.engine.topology import Layer
from keras.models import load_model
from keras.layers import Dense
from keras.models import Sequential,model_from_json
import numpy as np

class MyLayer(Layer):

    def __init__(self, output_dim, **kwargs):
        self.output_dim = output_dim
        super(MyLayer, self).__init__(**kwargs)

    def build(sel

[2017-11-28 15:15] vadimstot opened #8613 "Combining identical inputs of multiple models into one"
I have large number of models (of different structure) that were built using the same input shape (but not the same InputLayer object).
Is it possible to merge their input into one of the same dimension?
I know I can do
m = Model(inputs=[m.input for m in models], output=....
But this approach requires duplication the x variable in fit method. I would like to avoid this as the number of models is v

[2017-11-28 16:37] #7110 closed

[2017-11-28 16:50] Wuppus commented on #7694
Same problem here - I want to use variable size inputs with PReLU. I saw a similar issue dated earlier this year with also no response.

[2017-11-28 17:17] krzakala commented on #6195
Same error on tensorflow backhand, with keras 2.0.2

[2017-11-28 17:22] ozabluda commented on #6839
@hicham-eyeem >If we take the MobileNet tf-slim implementation, they put the batchnrom "decay" to 0.9997 :

Can you track down how it gets to the actual `batch_normalization()` or `class BatchNormalization`, neither of which has `decay` parameter (both have `momentum`):
https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/layers/normalization.py#L467
https://github.com/tensorflow/t

[2017-11-28 18:37] #7480 closed

[2017-11-28 18:47] mpariente commented on #8613
Are the inputs the same or do they only have the same shape?

[2017-11-28 18:51] mpariente commented on #8611
From the little information you give, I guess you have this problem when you call the `fit` method.
From the error message, I would tell you to pass the target arrays as a list.

Do you really have several outputs? How does your `Model` call looks like?

[2017-11-28 18:57] jolespin commented on #3322
I am trying this as well with `keras 2.0.8-tf` from `tensorflow 1.4.0`and would like to reopen this.  I have some code that can convert the sequences into OHE vectors.  I am getting some dimensionality errors in the bidirectional stage and tried using the `Bidirectional` wrapper but couldn't get the shapes to match up.

[2017-11-28 18:57] russell0 commented on #4850
Thank you @silvanheller solved my problem.

[2017-11-28 19:11] bdwyer2 commented on #8612
From the FAQ:

#### Handling custom layers (or other custom objects) in saved models

If the model you want to load includes custom layers or other custom classes or functions,
you can pass them to the loading mechanism via the `custom_objects` argument:

[code]

Alternatively, you can use a [custom object scope](https://keras.io/utils/#customobjectscope):

[code]

Custom objects handling works th

[2017-11-28 19:24] mpariente commented on #8613
So just define one input layer. And this input layer can be the input to any other layer.
Here is an example  :
[code]

[code]

[2017-11-28 19:26] natuan commented on #4875
I'm having the same issue with the value of the loss function after reloading a model, as described by @darteaga. My model was saved via ModelCheckPoint with both **save_best_only** and **save_weights_only** being False. It was then loaded with *keras.models.load_model* function, which then gave significantly high loss value during the first training epochs.

I'm using python3 and keras 2.0.8. Any

[2017-11-28 19:44] vadimstot commented on #8613
Yes this is probably what I would do. The models are pre trained and I didn't want to change their creation, but it seems there is no other way around it.

[2017-11-28 21:34] aditbhrgv opened #8615 "How to register custom Theano GPU OP with Keras ?"
Hello

I made a GPU OP with theano.
How can I register this OP with Keras with Theano backend. ?
Also the problem I am facing is : in theano  GPU OP there is below section
#cleanup_code_construct

which cleans up the allocations when thunk is released.

I am calling my GPU OP from Keras, by just creating an instance of  my GPU OP class. Then I see the destructor  or the code inside section #cleanu

[2017-11-28 21:37] #7468 closed

[2017-11-28 21:38] brge17 commented on #8600
Look at the Caffe reference architecture: https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/voc-fcn8s/net.py

The model you have listed above is absolutely nothing like FCN at all.  You have no deconvolution layers in your network at all --> the receptive field is decreasing in size. In addition you have labeled conv layers as "dense_*"...

There are plenty of Keras repos with an FCN

[2017-11-28 23:15] Canseco10 commented on #8611
[code]

`ValueError: The model expects 3 target arrays, but only received one array. Found: array with shape(32,1,3)`

In fact per image I have got 3 parameters. And I want to train my network on several images with these parameters in order to predict the parameters for a test image. Maybe I'm passing a wrong shape for the labels to the flow function?

I would be grateful if you could help me @mp

[2017-11-28 23:22] oleg-panichev commented on #3675
Had the same issue. Added gc.collect() to the end of my custom generator and it helped to get rid of memory errors.

[2017-11-28 23:39] hankbeasley commented on #4875
I have the same issue. See attachment. Model was reloaded at epoch 51 as well as few times around 3-5. I do not have a LSTM layer.

![image](https://user-images.githubusercontent.com/162726/33350132-d7ea5400-d462-11e7-9ed7-ef200b5475bc.png)

[2017-11-29 00:05] mister11 opened #8617 "Cifar10 ResNet error"
Keras version 2.1.1
Tensorflow version 1.4.0
Python version 3.6

If I try to run `cifar10_resnet.py` example, I get this error: `TypeError: fit_generator() missing 1 required positional argument: 'steps_per_epoch'`.

If I add this parameter and set it to what it was before it was removed as a part of #8574 , everything works fine.

What is causing this issue?

[2017-11-29 00:33] brge17 commented on #8578
@ozabluda

Adding it to the validation won't change the fact that averaging mini-batches doesn't work for some metrics, and your training set is also now part of the validation set.

[2017-11-29 00:40] jolespin commented on #3322
I've asked a question on stackoverflow with code to generate sample sequences to actually run stuff.  Please help if you have any ideas: https://stackoverflow.com/questions/47543113/how-to-use-bidirectional-lstm-and-conv1d-in-keras-shaped-not-matching

[2017-11-29 03:34] natuan commented on #4875
My network is based on xception for transfer learning. From the following thread, the issue might be due to tensorflow with python3: https://github.com/tensorflow/tensorflow/issues/6683

@pickou: "I train and store the model in python2, and restore it using python3, it got terrible result. But when I restore the model using python2, the result is good. Train and store in python3, I got awful resul

[2017-11-29 04:59] mercy0387 opened #8618 "Split layers without Lambda"
I build the model which has split and concat in itself. This issue ( https://github.com/fchollet/keras/issues/890 ) is very helpful for me but there's a problem.

I want to use my model in iOS App. So I tried to convert keras model to coreML model using coremltools.
But coreML does not accept Lambda layers like this ...

[code]

I just want to do

[code]

and after some manipulation

[code]

Is th

[2017-11-29 05:44] #7485 closed

[2017-11-29 06:44] mercy0387 commented on #8618
I think I can say the same thing to backend functions.

[code]

Can I use these layer in coreML?

[2017-11-29 07:16] paulx3 commented on #7582
@samre12 Hi, I met the same problem in implementing VAE with condition. Could you please write an example on how to use these two functions? Thanks

[2017-11-29 07:32] vadimstot commented on #8613
My models were already pre trained and saved to the disk, so I ended up doing the following hack:
Defined a singleton input like that
`class SingletonInputLayer(InputLayer):
     instance = None
    @classmethod
     def from_config(cls, config):
        if SingletonInputLayer.instance:
              return SingletonInputLayer.instance
        else
              SingletonInputLayer.instance = Inpu

[2017-11-29 07:57] #8613 closed

[2017-11-29 09:17] vsenko opened #8619 "Training a model with CuDNNGRU or CuDNNLSTM layers hangs if data preparation is done using multiprocessing"
- [x] Check that you are up-to-date with the master branch of Keras. You can update with:
pip install git+git://github.com/fchollet/keras.git --upgrade --no-deps

- [x] If running on TensorFlow, check that you are up-to-date with the latest version. The installation instructions can be found [here](https://www.tensorflow.org/get_started/os_setup).

- [ ] If running on Theano, check that you are up

[2017-11-29 10:04] carmelrabinov opened #8620 "Masking is not supported for CuDNN RNNs error"
I'm using keras 2.1.1 with python 3.5 and tensorflow-gpu 1.3.0.
I'm training sequential data with this model:

        net_input = Input(shape=(None,features_num), dtype='float32', name='input')
        mask_value = 0.
        mask = Masking(mask_value=mask_value)(net_input)
        BiLstm1 = Bidirectional(CuDNNLSTM(30, return_sequences=True)) (mask)
        BiLstm2 = Bidirectional(CuDNNLSTM(20, r

[2017-11-29 10:19] Hvass-Labs opened #8621 "'ModuleNotFoundError' for Keras and TensorFlow 1.4"
I have just started using Keras and regret I didn't do it sooner. It has really been a nightmare to use the half-baked API's of TensorFlow. Keras is exceptionally well made and I have read some of @fchollet's github and blog-posts with his thoughts on API design and I am deeply impressed by his user-centric approach and pursuit of simplicity and beauty. He really should have been put in charge of

[2017-11-29 11:10] vsenko opened #8622 "Stale processes remain when training a model with data preparation done using multiprocessing"
- [x] Check that you are up-to-date with the master branch of Keras. You can update with:
pip install git+git://github.com/fchollet/keras.git --upgrade --no-deps

- [x] If running on TensorFlow, check that you are up-to-date with the latest version. The installation instructions can be found [here](https://www.tensorflow.org/get_started/os_setup).

- [ ] If running on Theano, check that you are up

[2017-11-29 12:07] jiemojiemo commented on #8161
Good suggestion!
I have some confusion about the pre-trained models(applications) when I applied them to extract features. Most of these confusions are about how to preprocessing the input images.
the example on https://keras.io/applications/ always preprocesses the input at ''caffe'' mode(preprocess_input default mode is "caffe").
Why always use the "caffe" mode? I have no idea.

[2017-11-29 12:24] Erechtheus commented on #6031
Set the environment variable in your shell to
`CUDA_VISIBLE_DEVICES=0`

[2017-11-29 13:19] einareinarsson opened #8623 "Variable length digit recognition with CNN?"
I'd like to use Keras for recognizing handwritten digit sequences with CNN but I cannot find any clue how to approach the problem. The segmentation of the image by individual digits is misleading as there is no reliable way to do that (sometimes the bounding boxes are overlapping, sometimes multiple digits are written by one continuous line etc.). I'm considering to feed the whole sequence as a si

[2017-11-29 13:23] Aelphy commented on #8605
Also have the same problem.

[2017-11-29 14:04] dpshorten commented on #4973
I'm bumping this up, I'm also experiencing the same confusion as hanikh.

[2017-11-29 14:50] Joshuaalbert opened #8625 "post user defined tf.summary ops"
## Context

It is nice to be able to visualize a users tensors in TensorBoard aside from the default ones provided in the TensorBoardCallback.
For example, in recurrent NTM/DNC-like layers with external memory, read/write weights, etc.
This can be done by augmenting the current callback to allow a user defined set of summer ops which will be added in `on_epoch_end`, or allowing all the summary ops

[2017-11-29 14:58] mpariente commented on #8623
You may want to look at [this article](http://www.cs.toronto.edu/~graves/icml_2006.pdf) on Connectionist Temporal Classification and [a nice post](https://distill.pub/2017/ctc/) on the subject.

[2017-11-29 15:10] axelurbiz opened #8626 "How to slice a network graph?"
I'm trying to implement the architecture shown in Figure 1 in [this paper](https://arxiv.org/abs/1706.05966). I'm only concerned with the left side of the network (ignoring the propensity network shown on the RHS).

Notice how after the shared layers, the network is split into two parts depending on the value of a Tensor that captures the binary treatment assignment (treatment vs control).

Here's

[2017-11-29 15:24] stoney95 opened #8627 "How does keras build batches depending on the batch-size?"
I'm trying to implement a Sentiment-Classifier using keras. But i got some problems with the batch_size param. It might be kind of a specific problem and I didn't find anything online that helped me.

Here is an example how the model could look:

[code]

Reshaping is done by a Lambda-Layer using the reshape-function from keras.backend:

`output = Lambda(lambda x: bd.reshape(x, (batch_size, 200, em

[2017-11-29 15:33] mpariente commented on #8611
If you have three parameters you want to predict, just call
`params = Dense(3) (drop1)`  (think about which activity you want)
The layer will have 3 nodes, each of which will predict one parameter.
The model you designed predicts 3 outputs : one of size 1, one of size 2 and one of size 3. That's not what you want to do.

[2017-11-29 15:40] #7489 closed

[2017-11-29 15:41] thealchemist89 opened #8628 "Encountering Exception Error: expected shape()"
Please make sure that the boxes below are checked before you submit your issue. If your issue is an implementation question, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [join the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) and ask there instead of filing a GitHub issue.

Thank you!

- [X ] Check that you are up-to-date with

[2017-11-29 15:58] Dref360 commented on #8622
By stale process, you mean more process than you would imagine and they are not cleared or they are just not doing anything ie. no CPU usage?

[2017-11-29 16:18] Aelphy opened #8629 "Siamese network do not converge, while with raw tf the same network converges."
I created a siamese like network.

When training with keras loss it does not converge at all.

With raw tensorflow loss function and training_op it converges quickly.

https://gist.github.com/Aelphy/c73aa56bf2f410b1423c63bd7087142e

[2017-11-29 16:32] axelurbiz opened #8630 "Is it possible to add a condition on a graph?"
I need to add a condition on a graph. I understand this can be done in tensorflow with `tf.cond`. Is this possible in keras?

I need to be able to do something like:

[code]

Thanks,
Axel

[2017-11-29 16:36] rajatkoner08 opened #8631 "Timedistributed concatenation error in siamese CNN and LSTM"
Hi,
I am implementing [re3 tracker](https://arxiv.org/abs/1705.06368) in Keras using [mobilenet](https://github.com/fchollet/keras/blob/master/keras/applications/mobilenet.py). And for that I need to concatenate feature from mobilenet, and then have to connect Dense layer and LSTM. So I have used  TimeDistributed warper,  so I can't concatenate two features as per [#2271](https://github.com/fcholl

[2017-11-29 18:09] 32nguyen opened #8633 "is that possible to do Conv2d with given filter?"
Hi,
I would like to know if I can take the advantage for parallel computing on GPU using keras in the case of:
 - I have 16 images (2000x2000 pixels) (for 1 batch_size), I would like to compute the corresponding 16 residual background by using the an average filter (100, 100) and take the 2D convolution on those 16 images. This will take a lot of time so I would like to process it in parallel.

Be

[2017-11-29 18:10] #7789 closed

[2017-11-29 18:40] #7478 closed

[2017-11-29 19:26] NagabhushanS opened #8634 "Which method gives the highest accuracy on the IMDb dataset."
The examples directory in keras repo has Python scripts giving various accuracies on the IMDb dataset. But which of them gives the highest accuracy on the IMDb dataset?. It would be helpful if the accuracies are commented on the top of the scripts for specific hyperparameters like epochs, optimizer etc.

[2017-11-29 19:38] NagabhushanS commented on #8634
Some of the files do contain the accuracies on the test  dataset. I noticed that the CNN based method is actually giving more accuracy than the bidirectional lstm, the lstm and the CNN+lstm based methods. Isn't this behaviour quite contradicting?

[2017-11-29 19:47] ozabluda commented on #8617
See https://github.com/fchollet/keras/pull/8574#issuecomment-347931912

[2017-11-29 20:15] cpury commented on #2255
@jnphilipp I was also curious to try it out. Here's my implementation. I just tried it and it seems to  improve training as expected:

[code]

Put this somewhere and use it as your optimizer. If you want to combine it with another optimizer, e.g. Adam, just subclass it and add the gradient noise part to `get_gradients()`

[2017-11-29 20:15] #8617 closed

[2017-11-29 20:16] mathieumb commented on #2226
@shaifugpt

I just ran into the same error for the same reason (multiple inputs) and passing them sequentially seems to fix it.

I.e.:

[code]

Then:

[code]

[2017-11-29 20:31] marioviti commented on #4446
https://keras.io/preprocessing/image/ (scroll down to see an example in wich iterative fitting is used)

I suppose It's not "well" documented beacuse most backends train models like this and resetting connections weights to random after fit would have been a very strange choice as you'll need the status to be preserved for inference or testing anyway.

[2017-11-29 20:51] TGlas commented on #4446
Thanks for the pointer. Sure, resetting the weights would be strange, but it is not so clear whether the aggregated information in the optimizer (say, adadelta) should be reset or not. Not resetting makes the assumption that data passed to subsequent fit calls is from a similar distribution, while starting the optimizer from scratch makes no assumptions at all. That's why I don't think this is a c

[2017-11-29 21:06] moondra2017 opened #8635 "TypeError: ufunc 'true_divide' output (typecode 'd') could not be coerced to provided output parameter (typecode 'B') according to the casting rule ''same_kind''"
I'm getting this error when trying to run `preprocess` from

`from keras.applications.inception_v3 import InceptionV3, preprocess_input`

Keras '2.1.1'
Tensorflow 1.4
Windows 7

Full traceback:

  File "C:\Users\Moondra\Desktop\Keras Applications\keras_transfer_learning_inception_without_image_generator.py", line 86, in <module>
    norm_x = preprocess_input(x)
  File "C:\Users\Moondra\AppData\Loc

[2017-11-29 21:09] moondra2017 commented on #8595
I think there is bug with Imagedatagenerator. If I load my images from h5py using
model.train_on_batch  I have no problems.

[2017-11-29 21:13] edmondja commented on #2255
Thanks @cpury but I can't use it, does it work if I do
    model.compile(loss='mse', optimizer=NoisySGD) ?
And if I want to use Nadam with it I just need to change to
    class NoisySGD(keras.optimizers.Nadam): ?
To finish, I also wanted to know is there was a way to change the quantity of noise ?

[2017-11-29 21:31] cpury commented on #2255
@edmondja

I believe you forgot the brackets after `NoisySGD`. Try this:

[code]

I looked at the Nadam code and it doesn't seem to overwrite the `get_gradients` function, so it would probably work as you proposed. Feel free to try and report back.

My `NoisySGD` implementation takes two additional keyword args: `noise_eta` and `noise_gamma`. They correspond to η and γ from figure 1 in the paper.

[2017-11-29 21:35] lauromoraes commented on #7417
I had the same problem.

[2017-11-29 21:48] mmolero opened #8636 "Capability to parse in json a model with custom activation functions"
First of all, **Awesome project**,

Does anyone know how we can save a model using a custom activation function.

For example, I'm doing the next:

[code]
then we are able to use a custom activation function but when I'm trying to parse a model using this custom function in json (*model.to_json()*)
I got the following:

[code]

Any idea to proceed?

Thanks!!

[2017-11-29 21:51] natuan commented on #4875
I tried python 2.7.12 with tensorflow 1.2, 1.3 and 1.4 (master), Keras 2.1.1, Ubuntu 16.04 LTS and I still have the same issue with unexpected high loss value after reloading the model.

[2017-11-29 21:53] julienr commented on #8585
Thanks for the example code. The GAN workflow is indeed something I didn't think about when adding the warning.

Currently, the `Model` class populates `Model._collected_trainable_weights` from `Model.trainable_weights` in `Model.compile`. As far as I can see, `Model._collected_trainable_weights` is only used in `Model._make_train_function`.

Can we remove `Model._collected_trainable_weights` allt

[2017-11-29 22:02] edmondja commented on #2255
This works @cpury , thank you, I am testing it while tuning eta.

[2017-11-29 22:18] ayblaq commented on #5201
Hi,

Any helpful info about this?, kinda need it for my NN project. Thanks

[2017-11-29 22:32] sajjo79 commented on #369
Hi,
I am trying to write a loss function that include statements like this
[code]

but it is giving me error. How can i do this.

[2017-11-29 22:38] hgaiser commented on #369
[`tf.equal`](https://www.tensorflow.org/api_docs/python/tf/equal)

[2017-11-30 00:07] Nicholas-Mitchell commented on #5957
I am getting very similar trackbacks with a different model completely.
Seems localised to using the ModelCheckpoint in the `model.fit` callbacks. The model works fine without using this.
I have tried using many different names for the `filepath` argument. I have noticed the warnings go away if I do not use relative paths - i.e. no `./` prepending the file name.

The actual error seems to be due t

[2017-11-30 01:19] ozabluda commented on #7792
@fchollet , I think it's a real bug, but I think the right fix is to either force `featurewise_center=True` or to raise an exception if `featurewise_center=False`.

[2017-11-30 03:09] thealchemist89 commented on #8628
Good news! I managed to resolve my problem above which bugged me for 2 nights. After checking through shapes and all, I really can't figure out why.

Until... I tried uninstalling Keras v2.1.1 and installing Keras v2.0.6 (the repo I used when my computer haven't failed me).

Not sure why, but, thanks everyone! :)

[2017-11-30 03:09] #8628 closed

[2017-11-30 03:13] vickorian commented on #4875
Chiming in. I'm running into the same problem, but it's GPU implementation only from what i've seen. I trained a model on both CPU and GPU. Saved them off. Then tested them in a cross.

Train   v    Test :   Result
--------------------------
CPU    v    CPU :  saved model and loaded model agree
CPU    v    GPU :  saved model and loaded model disagree
GPU    v    CPU :  saved model and loaded model

[2017-11-30 03:19] mercy0387 commented on #8585
@julienr Thank you for your taking this problem!

For your question, I can see discriminator's weights can be updated when `train_on_batch` is called after `discriminator.trainable is False` . Probably because `discriminator.compile` is called before trainable is changed.

About your ideas,
I think if `Model._collected_trainable_weights` is collected in `Model._make_train_function` as you say, my

[2017-11-30 04:12] #7496 closed

[2017-11-30 04:53] vsenko commented on #8622
My fault, issue description is a bit obscure, I'll update it.

I expect to see 5 python processes (1 main process and 4 worker processes) during the whole training. But as training proceeds, there are more and more processes. 5 of them are active (use CPU) while other are idle (stale). It seems to me that these are worker processes that for some reason failed to join the main process.

Usually the

[2017-11-30 05:57] jake-g commented on #2115
Im interested in doing something similar for mse in a regression case. my y's are 1D tensors
Maybe I have a subset of indices in a y_pred curve that I want to penalize more for being off when compared to y_true. Is there a known way of handling this?

For example, imagine I am outputting a curve, lets say a parabola (mountain-shaped, not valley-shaped so max of parabola is the center) and I am com

[2017-11-30 07:27] davideboschetto opened #8638 "ONNX Support"
Hi there.

I see no discussions about [ONNX](https://github.com/onnx/onnx), an open source framework to share models among different deep learning libraries. I don't know if this is better implemented at the Keras level or at the backend level (CNTK already supports it), but I think it's worth discussing!

[2017-11-30 07:41] adizhol opened #8639 "ModelCheckpoint callback error - AttributeError: 'Activation' object has no attribute '__name__'**"
Getting an error for ModelCheckpoint callback
[code]

**keras\activations.py", line 80, in serialize
    return activation.__name__
AttributeError: 'Activation' object has no attribute '__name__'**

Full stack trace:
 line 77, in <module>
    callbacks=callbacks)
  File "C:\Users\Miniconda3\envs\python35\lib\site-packages\keras\legacy\interfaces.py", line 87, in wrapper
    return func(*args, **kw

[2017-11-30 09:34] ishaanSejwal opened #8640 "No Improvements to training speed with GPU (partial GPU usage?!)"
I am trying to train my model on a GPU instead of a CPU on an AWS p2.xlarge instance from my Jupyter Notebook. I am using tensorflow-gpu backend (only `tensorflow-gpu` was installed and mentioned in `requirements.txt` and not `tensorflow`).

I am not seeing any speed improvements when training models on these instances compared to using a CPU, infact I am getting training speeds per epoch that is

[2017-11-30 09:38] TohnoYukine commented on #1753
Improper use of test set is improper. I think using that validation_split parameter is also easier for beginners to learn than using test data set as validation set. Beginners will really be confused at that misuse of test set as validation set, especially when they dive into hyper parameter. Please update the code before it misleads more people.

[2017-11-30 11:25] jyoungrok opened #8641 "LSTMcell with dropout argument throws an error"
I am developing multi-layered LSTM networks, but when i set dropout=0.2 as a parameter in LSTMCell object an error occurs.
Here's my code and error log.

[code]

[code]

When i changed _get_model function like below, error does not occur.

[code]

I guess there are problems in LSTMCell module. How can i handle it?

[2017-11-30 12:26] bzamecnik commented on #4185
This is still relevant. Eg. a callback may want to measure elapsed time per batch or throughput of samples/sec. So far it works only in training mode, not validation one.

[2017-11-30 14:01] Hemanth2396 opened #8642 "can we use other than 2x2 strides size in maxpooling in model?"
can we use different sizes of strides in max pooling other than 2x2 . if we use other than that is there any problem or changes happen to the model like accuracy prediction changes?

[2017-11-30 14:47] adizhol commented on #8639
Update:
When not saving model (save_weights_only=False), no error

[2017-11-30 14:49] teja-bogireddy commented on #8640
Seems to run just like it should on a GPU. How much time is it taking exactly for a epoch?

[2017-11-30 14:50] DasolHan opened #8643 "training and validation images are same, but when training loss is different"
Hello,

I'm trying to test my model, but i have problem

i only use one image, i assign same image for training and validation

after then, when i train with model.fit_generator,

network produce different loss for training and validation losses

what happen?

[2017-11-30 14:54] AmirAlavi commented on #7515
Thanks for the work on this subject. @bzamecnik, does this mean that the current `multi_gpu_model()` int `utils` (added in 2.0.9) suffers from the issues above?

If so, is the best use of multiple gpus to first figure out what the maximum batch size you can fit on one of your GPUs, and then once you have that number, use `multi_gpu_model()` with a new batch_size = N_gpus * max_batch_size?

[2017-11-30 14:54] DasolHan commented on #8643
plus, i don't use any dropout layer for my model

[2017-11-30 14:54] ishaanSejwal commented on #8640
@teja-bogireddy takes 18 seconds for an epoch for dataset of dim: (3400*7*5) on GPU same as on CPU

[2017-11-30 14:55] danosaku commented on #252
You need reshape your tensor. Use e.g (28709, 1, 48, 48), where the arguments are the number of data, number of channels, width and height image, respectively.

[2017-11-30 15:03] teja-bogireddy commented on #8621
Try removing 'tf'

from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(256, input_shape=(784,)))

We don't need to import tf every-time as tensorflow is defined as backend for keras at the time of installation.
You can change it to theano also.

[2017-11-30 15:12] teja-bogireddy commented on #8643
With one image, the training loss be x. Based 'x' weights are updated. Now the same image is fed into the model with updated weight. Hence gives different loss.

[2017-11-30 15:20] DasolHan commented on #8643
when i debug loss without fit_generator,
using output of model.predict to calculate loss,

the loss is same as last validation loss
is it correct?

and when i train the model, training loss is not decreasing, for example,
"loss: 0.3111"

but

validation loss is keep decreasing until "0.0xx"

[2017-11-30 15:24] teja-bogireddy commented on #8640
If this is your first program on that GPU. Then you must have missed something in gpu-integrated installation of tensorflow. Try installing it again[purge before installing]. I have been in this situation. Hope this works!

[2017-11-30 15:34] teja-bogireddy commented on #8643
Are validation loss and training loss exactly same?
Or do they differ little?(0.01 to 0.05)

If they differ even a little,then my theory is correct.
Can you show your ImageGenerator ?

[2017-11-30 15:37] DasolHan commented on #8643
Actually i'm working on object detection and trying to implement yolo v2

as your request, upload my batch generator

from keras.utils import Sequence
from utils.box import Box, box_iou
import numpy as np
import cv2
import random
import copy

class BatchProvider(Sequence):
    def __init__(self,
                 config,
                 dataset,
                 anchors,
                 classes,

[2017-11-30 15:45] ishaanSejwal commented on #8640
Yes it is my first try on the GPU. I am using https://aws.amazon.com/marketplace/pp/B077GCZ4GR AMI specifically `ami-9e745afb` with `tensorflow_p36` virtualenv

[2017-11-30 15:57] bzamecnik commented on #7515
The current situation (as of 2017-10) has been described in our blog article [Towards Efficient Multi-GPU Training in Keras with TensorFlow](https://medium.com/rossum/towards-efficient-multi-gpu-training-in-keras-with-tensorflow-8a0091074fb2).

@AmirAlavi Thanks. The thing is that `keras.utils.multi_gpu_model()` works, in some cases is able to achieve good speedup (high PCIe bandwidth, small input

[2017-11-30 15:59] ishaanSejwal commented on #8640
@teja-bogireddy Although one other thing that I am not sure perfectly relates is I was getting python error in my notebook: `error while loading shared libraries: libcublas.so.8.0` when importing Keras and figured that it was not found the correct path to the libraries and exported environment variable `export LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64` and that solved this error and the notebook w

[2017-11-30 16:01] kkuette commented on #7906
I tried,

`critic_target.set_weights(critic_target.get_weights())`

and it's not working, its look like get_weights() return bad formated weights.

[2017-11-30 16:27] dgiunchi opened #8644 "custom loss with arguments"
Suppose I have a loss function that takes arguments which values can changes accordingly with inputs. Basically, my inputs are two images and an info file.  The info file is used only in the loss function but is loaded in the batch.
How can I do this? actually I see how to pass parameters like a normal function but since these values changes, and I load in generator and put like Inputs, I should e

[2017-11-30 16:32] AmirAlavi commented on #7515
@bzamecnik thank you for the thorough response! I am working on a project which is implemented in Keras, but had been using some theano specific tensor operations. I just recently changed the code to be backend-agnostic, allowing me to use tensorflow, and I was excited to try multi-gpu (up until this point, I've been running on a compute node that had 4 gpus, but only able to use 1 gpu at a time).

[2017-11-30 16:41] tRosenflanz commented on #8622
I am experiencing a similar issue. Might be not related but when trying to interrupt the training with multiprocessing enabled it frequently doesn't work and additional processes keep getting spawned replacing the ones you have just interrupted

[2017-11-30 16:42] #7501 closed

[2017-11-30 18:07] vladimircape commented on #3465
@kratzert  . Thank for that. But you create big mistake, you didn't make VGG16
this part of code is wrong
[code]
correct one is

[code]

[2017-11-30 18:42] serhiy-storchaka commented on #7440
Does the saved data contain integers in the ranges -9223372036854775808 to -2147483649 or 2147483648 to 9223372036854775807? Can the failure be reproduced on 32-bit platform?

[2017-11-30 19:16] fchollet commented on #8638
As of now, ONNX is a talking point used by large companies, that doesn't seem to address an existing problem and doesn't seem to have actual users. This may change in the future, but this is the current situation.

Keras takes a very programatic approach to development, implementing features that match user needs rather than abstract PR-driven strategies. If ONNX becomes significant in the future,

[2017-11-30 19:47] #7494 closed

[2017-11-30 19:57] xiaoyongzhu commented on #3867
@alxy Can you share the full piece of code? I have the similar problem and tried this solution, but looks like it's not serializable. The error message is:
[code]
and The code I am using is:

[code]

[2017-11-30 20:16] kratzert commented on #3465
You are right but missed the point of my comment (or I didn't make it so clear). It's not about the correct top of the VGG16 network, but how you are able to use the base as feature extractor and put on top what ever you want. I can be similar in structure to the original VGG16 top, but in principle you can put what ever you want.

[2017-11-30 21:10] vladimircape commented on #3465
@kratzert. Thank for you solution:). I used your solution, just was surprised why accuracy is soo low, until add these.

[2017-11-30 21:52] JuliB15 commented on #6997
This question has been answered multiple times before. You can force tensorflow-gpu ins keras to use cpu with

#disable GPU
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"   # see issue #152
os.environ['CUDA_VISIBLE_DEVICES'] = '-1'     # -1 !!!!

[2017-11-30 22:04] ylmeng commented on #3911
^^ load_weights from raw model will usually work.
If it does not (it happened to me for some model with custom layers), you can train that raw model for just 1 epoch, and then use load_weights to load your well-trained weights saved before.

[2017-11-30 22:49] xn8812 commented on #6449
I found that the solution above might have some problems. Regarding this line of code:

`outputs.append(TimeDistributed(Model(base_model.input, out))(batch_input))`

In my understanding, Model(base_model.input, out) will define a new model, which means the different outputs are created by different base_models. So when back propagation, the original base_model cannot be updated correctly. Am I rig

[2017-11-30 23:09] Canseco10 commented on #8611
Thank you, that solve it!

[2017-12-01 00:52] fchollet commented on #8639
Guess you're using a layer as an activation? Like `LeakyReLU`? Activations should be plain functions.

[2017-12-01 00:53] fchollet commented on #8636
`get_custom_objects().update({'swish': swish})` is the way to go. Activations used as the `activation` argument of a layer should be plain functions, not layers.

[2017-12-01 00:53] #8636 closed

[2017-12-01 00:56] fchollet commented on #8620
No, you will have to remove your masking layer. CuDNN RNNs cannot be used with masking for the time being, and likely never will be. It would need to be implemented at the CuDNN level.

Any workaround we could implement on the TF side would be very inefficient (doing per-sample stripping of masked entries and per-sample calls to the CuDNN API).

[2017-12-01 00:56] #8620 closed

[2017-12-01 00:57] fchollet commented on #8641
Can you post a short standalone code snippet to reproduce your issue?

[2017-12-01 00:59] fchollet commented on #8642
Yes, you can use any stride value (2, 4...). But in general, I would recommend using 2, which downsamples feature maps by 2x -- that's already a lot.

[2017-12-01 00:59] #8642 closed

[2017-12-01 01:12] ozabluda commented on #8519
I think this fixes it:
https://github.com/fchollet/keras/commit/d956d19fccf6de6344c282218f1b027453785fa9

[2017-12-01 01:13] alekseynp opened #8647 "MSE incorrect when using fit_generator and max_queue_size != 1"
I am getting unexpected behaviour when using mean_squared_error loss.

My original issue was that fit_generator was reporting an incorrect validation loss. I was unable to reproduce that bug in a gist that I can make public, but I was able to demonstrate an incorrect training loss.

Bafflingly, if I change max_queue_size to 1 instead of the default 10 in fit_generator, the issue is resolved.

http

[2017-12-01 01:18] ouzan19 commented on #6977
Hi guys,

Other than dropout, batch norm also causes the same problem. I suspect that this is caused by the fact that the number of samples used in bacth norm after activation is 200 (bacth size) in tarining time, however it is only 1 in test time. This causes different normalization and different loss.

What's your thoughts?

[2017-12-01 01:25] fchollet commented on #8519
Right, it's fixed.

[2017-12-01 01:25] #8519 closed

[2017-12-01 01:33] jyoungrok commented on #8641
[code]

[2017-12-01 04:09] Shimingyi opened #8648 "There are some errors if I insert K.function to the tensorflow ops"
Now, I have a traind model in Keras, I want to use this model to do something.

In this case, I know the output of 33-layer, and I want to get the output of 24-layer with tensorflow. In my thinking, if I init the O22 (output of layer 22) with zeros, and I can get a fake-O33 with this network, and the I optimize the loss=(fake-O33 - O33) using tensorflow, I can get a best O22 as input.

But when I

[2017-12-01 05:16] bzamecnik commented on #7515
@AmirAlavi Yeah, it's quite possible that your PCIe bandwidth is low. This decrease in performance for multiple GPUs on slow PCIe's is what we observed on one machine. `tf_cnn_benchmark` with StagingArea (async GPU feeding) was scaling better (although not perfectly) in such a case. You can measure the bandwidth (roughly) via some benchmark code from CUDA Samples ([example](https://github.com/ross

[2017-12-01 06:01] sarim-zafar commented on #8283
@fchollet can you please incorporate these somehow... It will be much appreciated

[2017-12-01 06:14] CarlOlson commented on #8159
It looks like all the backends support this. This really should not be in the documentation if it isn't supported. Can the CI be improved to check for this kind of thing?

I'll look into making a PR this weekend since this isn't getting any attention.

[2017-12-01 06:16] marcoleewow commented on #8619
I believe I am also experiencing the same issue with CuDNN layers. My machine hangs and freezes non-deterministically (crashes between 1 - 100 epoch) and I cannot debug the problem because I have to hardware reboot it every time. It only occurs when I train with CuDNN layers.

System configuration:

- Ubuntu 16.04
- Keras 2.1.0
- tensorflow-gpu 1.4.0
- Titan X (Pascal)
- cuda-8-0
- libcudnn6
- pyt

[2017-12-01 06:33] vickorian commented on #4875
I did some more testing to see what was happening. I think this is an issue with jupyter notebook and keras/tensorflow interacting in a manner which is not predicted.

To test, i created and trained identical models in both an external file and in a jupyter notebook. I saved off their predictions, and the model itself using the self.save() method inherent to Keras models. Then in another file/note

[2017-12-01 07:26] Hvass-Labs commented on #8621
Thanks but I don't have a separate installation of Keras. I only have it as a part of TensorFlow 1.4. So if I try to import as you suggest, I get the same error, because Keras is not available in the top-level import-path for modules, it is located under `tensorflow.keras`

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    ModuleNotFoundError: No module named 'ke

[2017-12-01 07:33] nbansal90 opened #8649 "Multi_gpu in keras not working with callbacks, but works fine if callback is removed"
_Code:

_with tf.device("/cpu:0"):
        model = resnet_model.Resnet_model.build_model_v1(input_shape, num_class,depth)

model = multi_gpu_model(model, gpus=2)
model.compile(loss='categorical_crossentropy',optimizer=Adam(lr=lr_schedule(0)),metrics=['accuracy'])

#Viewing Model Confuguration
model.summary()
checkpoint = ModelCheckpoint(filepath=filepath, monitor='val_acc',verbose=1,

[2017-12-01 07:38] hgaiser opened #8650 "Keras version 2.1.2 bump"
Due to the error introduced in https://github.com/fchollet/keras/pull/8056 , custom loss functions with mismatching shapes for `y_true` and `y_pred` resulted in an exception being thrown. This issue is fixed in https://github.com/fchollet/keras/pull/8514 . However this fix is not present in the latest Keras release, so I'm forced to use `master` or `2.0.9`.

Eventhough it is in the README.md and a

[2017-12-01 07:56] visionscaper commented on #8397
@cna274 I don't think this is the issue, the batches get sliced in the same way (distributed among the different GPUs in the same way) for each iteration. So, index i of a sub-batch on some GPU k, remains the same with every new sub-batch. Agreed?

[2017-12-01 08:27] visionscaper commented on #8397
@cna274 Further diving in to the `multi_gpu_model` code made me realise that likely all the replicated models share the same state: the model is not replicated in the sense that a new graph is build. so in that case you would be right, unfortunately.

[2017-12-01 09:30] rakashi commented on #2542
I am  doing the classifying image. I have to get the confidence of each and every object in the image independently. By using softmax we can classify, there sum of all probabilities is equal  to one. But I need to get the probabilities independently l
If I am giving the image I
![Uploading 33444221-af71c9fe-d61f-11e7-9de0-66241dfc5a49.png…]()
need to get the probability independently like this

[2017-12-01 10:10] edmondja commented on #8259
@ablacklama Thank you but even when I put p=1 it still fits.
ie. : if I set dropout of a dense layer to p=1 and I print :
model.layers[0].get_weights()
the value changes ! How is that possible ?

[2017-12-01 10:34] alxy commented on #3867
@xiaoyongzhu Do you think this is really related? The error is different from the one I was getting. However, I would think that ``get_custom_objects().update({'custom_initializer': CustomInitializer})`` immediatly overrides ``custom_initializer``, so try moving this to a location *after* the model has been saved.

Also note that keras changed quite a few things, as there have been new versions si

[2017-12-01 11:44] cpury commented on #2255
@edmondja I had an error in my code, I just fixed it. Please update your `get_gradients` method accordingly. Sorry for the trouble!

[2017-12-01 11:50] mercy0387 commented on #8585
@julienr I found the work around for this. I can use `keras.engine.topology.Container` to make non-trainable discriminator like this.

[code]

Running this code, warning disappeared!

And after that,

[code]

these are the same values.

However, I don't know whether this is a good way. If I have no need to increase unnecessary variables (like `discriminator_fixed` ), it's ideal.

[2017-12-01 12:54] fmv1992 commented on #4875
@vickorian,

Thanks for your efforts.

If I understood correctly you connect the error with mixing saving/loading in
different programs (command line and jupyter for example).

If that is the case then my example is a counter example.

My layout was that I trained several models (~100), recorded some statistics
and then saved them. At a later point I wanted to record some more statistics
on them s

[2017-12-01 13:00] cpury commented on #2255
I improved and released my code to a separate package: https://github.com/cpury/keras_gradient_noise .
With this you can add Gradient Noise to any Optimizer class.

Install via `pip install keras_gradient_noise`. Usage example:

[code]

@fchollet if you're interested, I could convert this into a PR.

[2017-12-01 13:29] fnozarian commented on #6776
@v1nc3nt27 Did you find out the answers to your last two questions?

[2017-12-01 14:04] vickorian commented on #4875
No, the problem is with just the notebooks. If you save on a notebook, you'll get bad results

[2017-12-01 14:53] eaigner opened #8655 "fit_generator fills up disk in no time"
I'm generating image data on the fly with `fit_generator`. After just a few minutes, the generator fills up the disk with Gigabytes of data.

1) Why does an on-they-fly generator use disk space at all?
2) Why does it use SO MUCH data? The images are `416 * 416 * 3 * 800` bytes which should only equate to ~415 MB / epoch

[2017-12-01 15:05] jrzmnt commented on #4875
Hello guys,

I was facing the same issue until I set my **ModelCheckpoint** to save only weights (save_weights_only=True).
e.g.:

After this, I tested my best model using a python script through the terminal, and I got a good prediction.

[2017-12-01 15:25] bolgebrygg opened #8656 "3D augmentation -keras"
Are there any plans to include 3D image generation (augmentation) like rotating/ squeezing/ flipping 3D cubes realtime for sample generation?

[2017-12-01 16:07] #7463 closed

[2017-12-01 16:07] #5916 closed

[2017-12-01 16:11] vickorian commented on #4875
I haven't run the model checkpointing at all. I have been just training model by creating files and running python from command line instead of using Notebooks.

[2017-12-01 16:52] Kritikalcoder opened #8657 "Introduction of global metrics (precision and recall)"

[2017-12-01 16:57] adizhol commented on #8639
Actually I'm just loading InceptionV3 Model
`base_model = InceptionV3(weights='imagenet', include_top=False, input_shape=SIZE_TRAIN + (3,), pooling=False)
`

[2017-12-01 17:07] #7512 closed

[2017-12-01 17:28] nicolewhite commented on #8621
Perhaps you should open an issue under the [tensorflow repo](https://github.com/tensorflow/tensorflow/issues).

[2017-12-01 17:30] fchollet commented on #8650
Yes, in fact 2.1.2 is planned for today. We'll typically release every 2 weeks going forward.

[2017-12-01 17:30] #8650 closed

[2017-12-01 17:32] hgaiser commented on #8650
Good news, thanks!

[2017-12-01 18:10] yu4u commented on #8090
I got the same error.
I agree that `rows` should be one of [128, 160, 192, 224] if `include_top=True`, but it is very useful (to me) if I can use arbitrary `rows` (>= 32) only for `include_top=False`.
I think this is possible by loading "nearest" model (or always load 224-model for any input_size >= 32) like this:

https://github.com/fchollet/keras/blob/master/keras/applications/mobilenet.py#L530

[2017-12-01 18:26] yu4u commented on #7920
I completely agree with @mxvs.
The current implementation also prevents the use of smaller (arbitrary) input_shape even if `include_top = False`.

[2017-12-01 18:32] fchollet commented on #8650
Now released.

[2017-12-01 18:35] hgaiser commented on #8650
Thanks for the heads up! I'll update our readme.

On Dec 1, 2017 7:32 PM, "François Chollet" <notifications@github.com> wrote:

Now released.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/fchollet/keras/issues/8650#issuecomment-348572242>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/AArtarlgZ

[2017-12-01 18:36] brge17 commented on #8657
Keras computes batchwise metrics in averages.

So those can't be accurately calculated .

See my improvement suggestion:
https://github.com/fchollet/keras/issues/8607

[2017-12-01 18:40] SreehariRamMohan commented on #8525
Hi I am having the same issue:
[code]

I am following this tutorial:
https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md

Which version of tensorflow should I upgrade to and which version of bazel should I use.

[2017-12-01 18:45] fchollet commented on #8657
I agree that global metrics like precision and recall are important to have. @Kritikalcoder or @brge17, would you like to work on it?

The general template would be callable metrics classes (similar to layers, but simpler) that maintain weights (a state containing the global metric value). Calling an instance updates the state and returns the current state value. Makes sense?

[2017-12-01 18:54] brge17 commented on #8657
Makes sense, I will give it a shot and raise a PR.

[2017-12-01 18:56] fchollet commented on #8525
You should upgrade to TF1.4.

Alternatively, we've added back legacy support for TF1.3 device listing in Keras 2.1.2. So you could also switch to using Keras 2.1.2 if you cannot update your version of TF.

[2017-12-01 18:59] fchollet commented on #8657
Note that the main change will be to add support for such metrics in `training.py`. We'll need a special case for them because *they will have update ops* and these update ops need to be incorporated into the training function and evaluate function.

[2017-12-01 19:10] JoaoLages opened #8658 "Running on keras models on GPU (TF backend)"
Hi there!

What is the difference of using keras' `multi_gpu_model` or just changing the visible CUDA_VISIBLE_DEVICES? Don't they accomplish the same?

[2017-12-01 19:31] chunsheng-chen commented on #4875
Having the same issue. Trained a Keras LTSM model, saved the weights. Start a new standalone process reconstructing the model and loading the weights to check evaluation/prediction result, and it gets a different result every time it runs unless I fix numpy random seed.

[2017-12-01 20:31] moustaki commented on #8595
Same issue here. `fit_generator` works fine in 2.0.9, but hangs indefinitely at the end of the first epoch from 2.1.0 onwards.

[2017-12-01 20:41] pierluigiferrari commented on #8401
Solved:

Apparently Numpy arrays as dictionary values are no bueno. Converting `aspect_ratios` and `variances` to Python lists solves the issue.

There should really be more documentation around writing and loading custom objects.

[2017-12-01 20:41] #8401 closed

[2017-12-01 21:10] kkworden opened #8659 "IndexError when trying to get output of layer in Keras model"
I am trying to see what my data looks like after going through a convolutional layer in my Keras model. I am using the Theano backend. The code I have has been cobbled together from the Keras Github:

    def get_layer0_outputs(model, test_data):
        output = model.layers[0].output
        inputs = [K.learning_phase()] + model.inputs
        func = K.function(inputs, [output])
        return f

[2017-12-01 21:14] fchollet commented on #8595
This is likely due to changes in `keras/utils/data_utils.py` between 2.0.9 and 2.1.0. Specifically this: https://github.com/fchollet/keras/commit/612f5307b962fb140106efcc50932c292630fda3#diff-ba9d38600a2df565e5ae8757eb2b1b35

@Dref360 please take a look, this seems like a serious issue.

[2017-12-01 21:20] EricAlcaide commented on #2378
Got the same issue. Fuck it, It's not solved. Spent 18 hours training a DenseNet on AWS to get to 89% accuracy on Cifar10, the connection interrupted but I thought I was safe because I had my model saved every 30 epochs. The truth is that it works for model.test(), but when I try model.fit(), it breaks and reverts to 10% accuracy when it was 89%. I've lost 1 day of work due to this shitty issue.

[2017-12-02 02:00] ozabluda commented on #8657
Can we, please, have confusion matrix ASAP (i.e. making sure this new mechanism supports this use case). In fact, maybe precision and recall, etc should be calculated from the confusion matrix for a binary classifier anyway to sync the code. AUC is also an interesting use case (code design wise), probably the same very design can work if and only if it works for precision-recall curve.

In fact, m

[2017-12-02 02:43] vickorian commented on #4875
@chunsheng-chen will you try writing a stand-alone file and running it from command line to see if you get different results? Also, when do you fix the random seed? Is it immediately after importing numpy?

[2017-12-02 02:44] hpnhxxwn commented on #741
@pieroit @bryan831
I'm facing exactly the same issue as you do. I'm wondering did you use the method @tobigue suggested and how does that work? Could you show me how did you solve this problem? FYI I tried class_weight = {0:1, 1:20} but it did not work and error out, looks like it does not work for multi-dimensional output.

[2017-12-02 02:51] brge17 commented on #8657
@ozabluda

The metric class we are describing will wrap any arbitrary metric to make it a global metric.

This includes False Positives, False Negatives, True Positive, True Negative (and there rate counterparts)

Think of it like, global_metric(my_custom_metric(y_pred, y_true))

[2017-12-02 03:12] tRosenflanz commented on #8622
I am also observing slow down of the training over several epochs and RAM usage getting progressively larger

[2017-12-02 03:17] #7338 closed

[2017-12-02 05:35] #7516 closed

[2017-12-02 05:35] #7517 closed

[2017-12-02 06:14] Kritikalcoder commented on #8657
These are the global metrics that I think should be introduced:
1. Micro precision
2. Micro recall
3. Micro F-score
4. Macro precision
5. Macro recall
6. Macro F-score
7. Confusion matrix

[2017-12-02 07:53] VishnuDuttSharma commented on #8659
You can try the simpler approach for getting a subsection of model:
`temp_model = Model(inputs = model.inputs, outputs=model.layers[0].output)`
Compile `temp_model` and check `temp_model.summary()`  to ensure that you get the right thing.

The error in your code might be due to improper input. check this out: https://stackoverflow.com/a/41712013

[2017-12-02 08:14] VishnuDuttSharma commented on #8314
The embedding layer in keras learns the weights during training phase, so it might not be possible to do what you directly. You can try following:
(1) Implement the other ML algorithm in keras and train the complete model.
(2) Use other tools like gensim, t-SNE or encoder
(3) Depending upon the ML algorithm, you can train embedding layer first and then take a slice. For example, suppose I want to

[2017-12-02 08:30] vianamp commented on #8478
@drlego9 did you solve this?

[2017-12-02 10:33] atejeda commented on #4699
[](https://keras.io/preprocessing/image/)
`flow_from_directory(directory)`

[2017-12-02 11:43] dillongardner commented on #8627
Can you provide the code for the full model?

[2017-12-02 11:53] Ham72 opened #8661 "Unable to open file (Unable to open file: name = 'apnamodel.best.hdf5', errno = 2, error message = 'no such file or directory', flags = 0, o_flags = 0)"
I am trying to save best weights of Convoluted NN using Keras, and want to evaluate model based on best weights. But the file for saving best weight does not create.  I have given absolute path, changed the name of file but nothing worked. Although the file is not created in the working directory, error occurs at line "model.load_weights("apnamodel.best.hdf5")"

Here is the code

model = Sequentia

[2017-12-02 12:16] #3354 closed

[2017-12-02 14:39] bshao001 commented on #2768
I am facing a problem that is related to this. I need to convert the trained Keras model to a TensorFlow model. As part of that process, I need to use keras.models.load_model method. However, the trained model saved using ModelCheckPoint seems different from what is saved with model.save method (correct me if I am wrong here), and cannot be loaded with load_model() method. In order to do that, I h