[2021-08-03 07:06] #14404 closed

[2021-08-03 07:07] sushreebarsa commented on #14608
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:07] #14608 closed

[2021-08-03 07:11] sushreebarsa commented on #14319
Closing this issue due to lack of recent activity.Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:11] #14319 closed

[2021-08-03 07:12] sushreebarsa commented on #13703
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:12] #13703 closed

[2021-08-03 07:12] sushreebarsa commented on #14581
Closing this issue due to lack of recent activity  .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:12] #14581 closed

[2021-08-03 07:13] sushreebarsa commented on #14582
Closing this issue due to lack of recent activity.Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:13] #14582 closed

[2021-08-03 07:14] sushreebarsa commented on #13666
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:14] #13666 closed

[2021-08-03 07:18] rmothukuru commented on #15016
@samshipengs,
May be. Can you please let us know if we can Close this issue? Thanks!

[2021-08-03 08:10] HuangChiEn commented on #15043
Let's describe your problem more specifically. See below figure.1 is the framework of seq2seq.
![image](https://user-images.githubusercontent.com/52521165/127980274-91822176-e33a-4677-8af7-37657c5b78f4.png)

So, do you want to make your model pipeline as the follwoing figure.2 ?
![image](https://user-images.githubusercontent.com/52521165/127980768-1e6ae109-5761-46ca-8c43-50ccd103d8c8.png)

By the

[2021-08-03 08:23] rmothukuru commented on #13964
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:23] #13964 closed

[2021-08-03 08:24] rmothukuru commented on #14331
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:24] #14331 closed

[2021-08-03 08:26] rmothukuru commented on #14668
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:26] #14668 closed

[2021-08-03 08:28] rmothukuru commented on #14701
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:28] #14701 closed

[2021-08-03 08:29] rmothukuru commented on #14706
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:29] #14706 closed

[2021-08-03 08:30] rmothukuru commented on #14718
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:30] #14718 closed

[2021-08-03 08:52] rmothukuru commented on #14866
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:52] #14866 closed

[2021-08-03 08:57] rmothukuru commented on #14866
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-03 08:57] tanujdhiman commented on #15048
Yes exactly.

[2021-08-03 09:00] rmothukuru commented on #14965
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-08-03 12:15] t-kalinowski opened #15056 "2.6.0rc1 regression: isinstance(layer, Layer) no longer works. Affects: `keras.layers.Wrapper`"
Hello,
  One of the CI tests in the [R interface to keras](https://github.com/rstudio/keras) surfaced this regression in 2.6.0rc1:
  `tf.keras.layers.Wrapper` seemingly doesn't work the way it used to.

Specifically, this assertion is being raised where it wasn't before:
https://github.com/keras-team/keras/blob/a5a6a53eceb4bb0957fcbe577f56941ae8062d8f/keras/layers/wrappers.py#L46

Tracking this do

[2021-08-03 12:22] innat opened #15057 "Support 3D Pre-trained Model (DepthwiseConv3D and SeparableConv3D)"
It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).

1. The form below must be filled out.
**Here's why we have that policy:**. feature-request

2. Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support only helps individuals. Git

[2021-08-03 16:07] SEEYOU20 commented on #15043
What I want is the one described in Figure 2.

[2021-08-04 00:32] jvishnuvardhan commented on #15045
@innat thanks for the answer.
@HuangChiEn Can you follow the process mentioned above. You could also check the [transfer learning tutorial](https://www.tensorflow.org/tutorials/images/transfer_learning) for more info . Thanks!

[2021-08-04 02:28] DavidPal opened #15061 "Saving/loading models with tf.keras.layers.experimental.preprocessing.Hashing layer produces inconsistent results"
**System information**.
Colab notebook: https://colab.research.google.com/drive/1J0u_vHYGUfMLxFxiT6AtVqS415KlWk7O

**Describe the problem**.
When a keras model contains `tf.keras.layers.experimental.preprocessing.Hashing` layer without explicitly setting
`salt` parameter (i.e. `salt=None`) then saving and loading the model from disk again produces inconsistent results.
Namely, the hash functions u

[2021-08-04 07:46] jvishnuvardhan commented on #14630
@JorianRennen I think you can use something like below to match `y_pred` with `y_true`.

[code]
Output is as shown below
[code]

Also, you need to select correct `metric` and `loss` for your problem. Are you trying to develop a regression (looks like this is the case) model or classification model. Please check [this article](https://machinelearningmastery.com/how-to-choose-loss-functions-when-tra

[2021-08-04 07:46] #14630 closed

[2021-08-04 07:55] Saduf2019 commented on #13668
@yolanda93
You may refer to [these links](https://www.pyimagesearch.com/2018/06/04/keras-multiple-outputs-and-multiple-losses/) and let us know,[link1](https://stackoverflow.com/questions/51680818/keras-custom-loss-as-a-function-of-multiple-outputs)

[2021-08-04 07:57] Saduf2019 commented on #13708
@TheArheus
Could you please try on the latest tf version as many bugs have been fixed in the latest version.

[2021-08-04 08:11] jvishnuvardhan commented on #14464
Closing due to lack of recent activity. Please feel free to reopen when you have more info and standalone code to reproduce the issue. Thanks!

[2021-08-04 08:11] #14464 closed

[2021-08-04 08:52] ZYX511 commented on #14123
I have the same problem, Do you solve it

[2021-08-04 10:00] JulianCologne opened #15065 "model.summary() has inconsistent output for identical model (sequential vs functional api)"
### Problem

result of `model.summay()` is inconsistent for "identical" models using the sequential and the functional API.

### Steps to reproduce

[code]

### Expected behaviour

Same output for both because they should represent the identical model. I would like to see the input layer in the sequential model as well.

### Actual behaviour

Sequential API output
[code]

Functional API output
[co

[2021-08-04 10:58] kacper-kleczewski opened #15066 "tf.saved_model.save fails when there is tf.reshape in tf.keras.Model call method"
**Current behavior**
tf.saved_model.save fails to save tf.keras.Model if there is tf.reshape operation in Model call method.

I have debugged it and I found that during saving the Model, SimpleModel.call is called twice. The first time everything is fine and **batch_size = 1,** but in the second call **batch_size = None** and this is why it fails.

**Expected behavior**
Model should be saved as Sa

[2021-08-04 11:28] AdityaKane2001 commented on #15041
@ymodak

Could you please take a look at this one?

[2021-08-04 12:12] rmothukuru commented on #15057
@innat,
A 3-D Image Classification is present in [Keras Documentation](https://keras.io/examples/vision/3D_image_classification/).  Can you please let us know if this is what you are looking for? Thanks!

[2021-08-04 12:24] rmothukuru commented on #15061
@DavidPal,
Do you mean to say that the bug is that **`first Print`** is returning **`0x7f312a5584d0`** and **`second print`** is returning **`0x7f312a4f27a0`**, but they are supposed to be the same. Is my understanding correct?

[2021-08-04 12:30] rmothukuru commented on #15065
@JulianCologne,
This behavior seems to expected from the documentation of [Functional API](https://keras.io/guides/functional_api/) and [Sequential API](https://keras.io/guides/sequential_model/). What do you think?

[2021-08-04 12:40] rmothukuru commented on #15066
@kacper-kleczewski,
Could reproduce the error with **`Tensorflow Version 2.5`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/e9b75f4dfe8b144a44db41fbc04154b0/keras_15066.ipynb) of the working code.

[2021-08-04 12:51] innat commented on #15057
@rmothukuru
Thanks for your time. and sorry for the confusion.

I'm asking to have official support for DepthwiseConv3D layers (also [SeparableConv3D](https://github.com/keras-team/keras/issues/5639) layers). Because of not having optimized implementation of DepthwiseConv3D layer, the transformed 2D model those who possess it to 3D model become problematic to train. You've time, you can see [here]

[2021-08-04 16:56] jvishnuvardhan commented on #15049
@gcunhase Is it possible for you to create simple standalone code to reproduce the issue. Couple of questions. Are you saving and loading the model and then trying to replace one layer? Do you have access to the code of the original model? Thanks!

[2021-08-04 19:01] t-kalinowski commented on #15056
Figured it out: the import statement needs to be updated for tf 2.6.
The code in `tensorflow.python.keras` is stale, and the import should be directly from `tensorflow.keras`.

[code]

[2021-08-04 19:01] #15056 closed

[2021-08-04 20:29] bwolfson97 commented on #15065
I agree with @JulianCologne. This confused me at first before I learned that `Sequential` models don't show the initial `InputLayer`. We can see that the [source code](https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/python/keras/engine/sequential.py#L144) just hides the initial `InputLayer` for historical reasons:
[code]

I think things would be cl

[2021-08-04 21:24] elanstop commented on #6447
In my case I mistakenly had many duplicated inputs in the training set whose labels did not match each other.

[2021-08-04 21:57] LyzeNaomi opened #15069 "Erased"

[2021-08-04 23:48] research-knight opened #15071 "R 3D arrays incompatible with keras"
**System information**.

Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19043)

[1] Rcpp_1.0.4.6    lattice_0.20-38 zeallot_0.1.0   rappdirs_0.3.3  grid_3.6.3      R6_2.4.1        jsonlite_1.7.2
 [8] magrittr_2.0.1  tfruns_1.5.0    whisker_0.4     Matrix_1.2-18   reticulate_1.18 generics_0.1.0  tools_3.6.3
[15] abind_1.4-5     compiler_3.6.3  base64enc_0.1-3

**Desc

[2021-08-05 00:10] #15069 closed

[2021-08-05 00:10] LyzeNaomi commented on #15069
Erased

[2021-08-05 00:13] jvishnuvardhan commented on #14609
@dgvsnl Can you please try `TF2.5` or `tf-nightly` and let us know whether it was resolved in recent versions. Alternatively, you could share a simple standalone that I can run on windows local to check whether the problem still exists in the recent versions. Thanks!

[2021-08-05 01:06] jvishnuvardhan commented on #14602
@RANG1991 Is this still an issue for you? Can you please test with recent version (`TF2.5` and `tf-nightly`) and let us know whether it is reproducible or not.

If this is reproducible with recent TF versions, can you please share a simple standalone code to reproduce the issue? Thanks

[2021-08-05 06:16] rmothukuru commented on #14971
@01-vyom,
Can you please let us know what exactly is the inconsistency(sorry for my ignorance) that you are observing so that I can fix it? Thanks!

[2021-08-05 06:28] 01-vyom commented on #14971
@rmothukuru
Some of the examples have `>>>` and others don't. That is why it is inconsistent. Also, it becomes difficult to copy the code with `>>>` at the start. I am preparing a PR if that is okay with you.

[2021-08-05 06:32] rmothukuru commented on #14971
@01-vyom,
Sure. Please go ahead.

[2021-08-05 07:07] llfzllfz opened #15074 "How can I use multi_gpu in tf.keras?"
How can I use multi_gpu in tf.keras?
WARNING:tensorflow:From train_conv.py:214: multi_gpu_model (from tensorflow.keras.utils.multi_gpu_utils) is deprecated and will be removed after 2020-04-01.
And in the documentation, the tf.keras.utils.multi_gpu_model has been removed.

[2021-08-05 08:52] rmothukuru commented on #15074
@llfzllfz,
You can use [Distribution Strategy](https://www.tensorflow.org/api_docs/python/tf/distribute) as a replacement for **`multi_gpu_model`**.  Please find [the Tutorial](https://www.tensorflow.org/guide/distributed_training) for more information. Thanks!

[2021-08-05 11:33] yangtao121 opened #15076 "kears.Model memory leak and tf.funtion block the thread"
I tried to run Keras Model by multiprocessing.Process for RL, it has some problems. The code as belows:

[code]

This code will cause memory leak,but it can work in multiprocess. Then I add `tf.function` decorator, it can run in single process, and has no more memory leak,. However, I when I try to run in multiprocess, this function will block the thread.

[2021-08-05 11:41] rmothukuru commented on #15076
@yangtao121,
Can you please share the complete reproducible code so that we can try it at our end? Thanks!

[2021-08-05 11:44] yangtao121 commented on #15076
I put the in the code.zip.
[code.zip](https://github.com/keras-team/keras/files/6938319/code.zip)

[2021-08-05 11:48] yangtao121 commented on #15076
also, you can see the code in my github [](https://github.com/yangtao121/RL/blob/master/algo/PPO_Multi.py)

[2021-08-05 11:48] yangtao121 commented on #15076
https://github.com/yangtao121/RL/blob/master/algo/PPO_Multi.py

[2021-08-05 11:49] yangtao121 commented on #15076
The code you find in https://github.com/yangtao121/RL/blob/master/algo/PPO_Multi.py. And thanks to you

[2021-08-05 11:50] yangtao121 commented on #15076
The code you can find in https://github.com/yangtao121/RL/blob/master/algo/PPO_Multi.py. And very thanks to you.

[2021-08-05 12:58] shubhambuccha commented on #13960
Can you tell me the versions you used that worked for you?

[2021-08-05 14:15] yangtao121 commented on #15076
The leak memory can be solved by upgrade the tensorflow version(2.6.0rc2)

[2021-08-05 16:25] jvishnuvardhan commented on #14591
Closing due to lack of recent activity. Please feel free to reopen when you have more information. Thanks!

[2021-08-05 16:25] #14591 closed

[2021-08-05 17:14] rchao commented on #15066
Can you try with `tf.shape` instead of `get_shape`? Note that it doesn't unpack automatically as a tuple and it doesn't have `as_list` method.

[2021-08-05 17:19] rchao commented on #15057
Thanks for reporting the issue. Implementing the layers is useful to have but there is currently no TF ops to support this. Also it's hard to have pre-trained model since the use cases are so specialized. Can you open a new issue tracking the request for creating the `DepthwiseConv3D` and `SeparableConv3D` layers?

[2021-08-05 17:21] rchao commented on #15046
Thanks. Making this as a contribution welcome issue.

[2021-08-05 17:25] rchao commented on #15035
Using config of the model or a variable as an attr of the model should allow them to be saved in the saved model. Can either of these work for you?

[2021-08-05 17:28] rchao commented on #15019
From the stack trace it is suggesting the V1 path is used. Can you try using TF2 and see if the problem is still there?

[2021-08-05 17:30] rchao commented on #15041
Can you try saving the h5 file locally, transfer that to GCS, and see if this works?

[2021-08-05 17:31] AdityaKane2001 commented on #15041
@rchao

I am training on a Cloud TPU. So IMO that's not possible.

[2021-08-05 18:18] Krystal225 commented on #14034
@LukeWood I want to contribute to this.
can you tell me how do I contribute to documentation

[2021-08-05 19:59] jiannanWang commented on #15009
Hi there, I hope you’re having a good week. Is there any update about this issue? Thanks!

[2021-08-06 00:27] hollemantv commented on #10014
I have a slightly different issue. Whether my training accuracy is 70, 80, or 98%, I routinely run `model.evaluate(X_test, y_test)` after training and get an accuracy score around 0.05.  I've seen it happen with and without BN and dropout layers. I'm using Keras 2.4.3, TF 2.5.0 and Python 3.9.5.  Suggestions very much appreciated .

[2021-08-06 02:05] klyack commented on #14699
Hi.
I had to reinstall my system everything meanwhile and now I can't reproduce the problem.Please close the issue .
Sorry to waste your time.

    On Wednesday, August 4, 2021, 9:24:40 PM EDT, Vishnuvardhan Janapati ***@***.***> wrote:

@klyack Can you please share a simple standalone code to reproduce the issue? I tried and created a gist.

Please update the gist with the model information and s

[2021-08-06 02:50] peng-2020 commented on #15061
@rmothukuru , no. Please ignore the warnings and the memory address.
The output of the model is
[[96]
 [98]]
and the output of the loaded model is
[[74]
 [47]]

[2021-08-06 07:24] jvishnuvardhan commented on #14699
@klyack Thanks! Closing this issue.

[2021-08-06 07:24] #14699 closed

[2021-08-06 09:28] VoSiLk commented on #9710
Is there some progress in this topic, because I face the same problem and don't know how to solve it.

[2021-08-06 10:13] rmothukuru commented on #15076
@yangtao121,
Can you please let us know if we can close this issue as it can be resolved by upgrading it to 2.6.0rc2? Thanks!

[2021-08-06 10:20] yangtao121 commented on #15076
sorry, I found it dose not work well, after 1 hour, the memory still goes up.

[2021-08-06 10:23] rmothukuru commented on #15016
Closing the issue as it has been resolved. Thanks!

[2021-08-06 10:23] #15016 closed

[2021-08-06 10:58] rmothukuru commented on #14685
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-06 10:58] #14685 closed

[2021-08-06 11:02] rmothukuru commented on #14691
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-06 11:02] #14691 closed

[2021-08-06 11:02] dmirecki opened #15118 "Model subclassing API ignores output layers names"
When defining multi-output model using subclassing API, names of the output layers are ignored. Despite naming the output layer, outputs from the model have names: `output_1`, `output_2`...

[Here](https://colab.research.google.com/drive/1cQzUH4WR3Ncu64bfV16siDM0be6PYf_p?usp=sharing) is the colab that reproduces the problem. Multiple loss functions have been used, specific loss has been assigned t

[2021-08-06 11:04] rmothukuru commented on #14906
Closing as stale. Please reopen if you'd like to work on this further.

[2021-08-06 11:04] #14906 closed

[2021-08-06 11:07] rmothukuru commented on #14983
@mbarraghi,
Can you please let us know if [this comment](https://github.com/keras-team/keras/issues/14983#issuecomment-885023768) has resolved your issue? Thanks!

[2021-08-06 11:46] dgrahn commented on #15035
@rchao That should work. I'll get at it.

[2021-08-06 12:33] BertramGilfoyle1 commented on #14632
If you work on ubuntu and conda:

[2021-08-06 13:01] kacper-kleczewski commented on #15066
`tf.shape` doesn't help because according to TF spec:
`Note: When using symbolic tensors, such as when using the Keras API, tf.shape() will return the shape of the symbolic tensor.`

So the results are:

- first call:

![image](https://user-images.githubusercontent.com/84719017/128513740-a1298b76-866c-45c6-a170-47583dc60858.png)

- second call:

![image](https://user-images.githubusercontent.com/8

[2021-08-06 14:16] n33lkanth opened #15119 "No information in official doc regarding implementation of class_weight in customized model.fit() method"
Hi,
I have customized the standard model.fit() method based on the help/steps described in the official page. Now, I would like to use the class_weight in this customized function but I do not see any help regarding class_weight implementation in official page under the heading Supporting [sample_weight & class_weight](https://www.tensorflow.org/guide/keras/customizing_what_happens_in_fit#supporti

[2021-08-06 14:29] AlexandreBourrieau opened #15120 "Error with the example BinaryCrossentropy : InvalidArgumentError: Invalid reduction dimension (-1 for input with 0 dimension(s)"
Hello,

When I try the example given at : [keras doc](https://keras.io/api/losses/probabilistic_losses/#binarycrossentropy-class)

[code]

I got the following error

`InvalidArgumentError: Invalid reduction dimension (-1 for input with 0 dimension(s)`

Thanks in advance for your help

[2021-08-06 14:58] DavidPal commented on #15061
Let me be very explicit. The first print statement prints
[[96]
[98]]
These are the hash codes for "hello" and "world" respectively.

The second print statement prints
[[74]
[47]]
These are again hash codes for "hello" and "world" respectively.

The bug is that [[96], [98]] != [[74], [47]]. The expected behavior is that the two lists would be the same.

[2021-08-06 16:00] sunw70 opened #15121 "TypeError: Cannot convert a symbolic Keras input/output to a numpy array by using a custom layer"
**System information**

- OS Platform and Distribution: Linux Ubuntu 20.10
- TensorFlow installation: pip package
- Tensorflow version: 2.6.0rc1
- Python version: 3.8

I created a Keras custom layer which implements a custom causal Conv1D. To do it, I simply used the classes Conv and Conv1D (they are in tensorflow/python/keras/layers/convolutional.py) and modified Conv. I'll show you how I use thi

[2021-08-06 16:29] sushreebarsa commented on #14375
@shuaibaslam2019 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 16:29] sushreebarsa commented on #14415
@SUNSONG111 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 16:30] sushreebarsa commented on #14396
@rebelgiri In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 16:32] sushreebarsa commented on #14477
@envytails Could you please try as per the above comment and let us know if it helps ?Thanks!

[2021-08-06 16:34] sushreebarsa commented on #14456
@kk0186 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 16:36] sushreebarsa commented on #14503
@awesomettt In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-06 17:02] rebelgiri commented on #14396
https://github.com/keras-team/keras/issues/14396#issue-792609162

[2021-08-06 17:45] seermer commented on #14953
I think the original ResNetV2 paper did not discuss how they perform shortcut downsample in the paper, and they don't have an official implementation (I believe).
All they said is it is best to have nothing on identity mapping when there is **no downsample**, which is correctly done in Keras. It is impossible to have nothing on identity mapping when the residual is downsampled, Keras chooses maxpo

[2021-08-06 17:48] LukeWood commented on #14034
Hey @Krystal225!  The API doc page linked above is generated from the class docstrings.

You can see this specific example at:
https://github.com/keras-team/keras/blob/master/keras/layers/merge.py#L429

Note we use doctests:

A brief overview... statements that output a value are tested against lines without prepended >>>:
[code]
passes

[code]
Would fail.  You can use this to demonstrate and vali

[2021-08-06 18:04] LukeWood commented on #14034
@Krystal225

here's an official documentation guide:
https://www.tensorflow.org/community/contribute/docs_ref

[2021-08-06 20:01] Krystal225 commented on #14034
I have an issue
I tried doctest on https://github.com/keras-team/keras/blob/master/keras/layers/merge.py#L429
for demonstration. the test failed and said:
[code]

need help on how to fix BLANKLINE

[2021-08-06 20:04] Krystal225 commented on #14034
For testing I needed to import numpy as np at the beginning of merge.py

Should I directly add it to code and send a PR?

[2021-08-06 22:04] innat commented on #14415
If you can ask questions regarding this on stack-overflow and link the question here, I would be glad to look into it. (I think this is fit on there).

[2021-08-07 00:17] jvishnuvardhan commented on #14588
@TanmDL Sorry for the late response. Did you try training two models (of same architecture) but with different losses? The above approach is feasible even with `keras`. Please check the [guide](https://keras.io/guides/functional_api/) on keras website.

If you face any difficulties, please post a standalone code to reproduce the issue. You could also post them on [TF Forum](https://discuss.tensorf

[2021-08-07 00:54] jvishnuvardhan commented on #14590
@scharron Is this still an issue for you? I ran your code without any issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/7e8acf7314770e93a9163cb4d3b5819c/untitled1024.ipynb).

Can you please try once and let me know if you notice any error. Also, mention what TF version you are using. Thanks!

[2021-08-07 10:48] joeljosephjin opened #15134 "tf.keras.BatchNormalization giving unexpected output"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): pip install tensorflow==1.15
- TensorFlow version (use command below): 1.15
- Exact command to reproduce: `python -c "import tensorflow as tf;tf.enable_eager_executio

[2021-08-07 11:27] joeljosephjin commented on #15134
It got fixed when I set the `training=True` in `tf.keras.layers.BatchNormalization()(tensor, training=True)`.

[2021-08-07 11:27] #15134 closed

[2021-08-07 15:35] gabbard commented on #14034
@LukeWood : I believe this should be assigned to @Krystal225 instead of me.

[2021-08-07 15:41] LukeWood commented on #14034
ah thanks -  I updated it.

[2021-08-07 23:34] HunderlineK opened #15135 "[TF 2.5.0] model.build(input_shape) results in output shape of "multiple""
Snippet:

[code]

Results in

[code]

Seems to be a regression of https://github.com/keras-team/keras/issues/13782

[2021-08-08 03:23] Anuj040 commented on #15048
@LanceNorskog  Thanks a lot for your response. I followed your advice and made the following change to my load_model func().
[code]

However, the problem persists..

[2021-08-08 04:54] MaanasArora commented on #14910
Hi @fchollet, unless I'm missing something, will referencing the Keras Add layer on the KerasTensor class cause a circular import? Do you think we should make the changes in the Functional class instead? Thanks

[2021-08-08 16:25] eli-osherovich opened #15138 "EarlyStopping auto mode is incorrect for AUC"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.6
- Python version: 3.9
- Bazel version (if compiling from source): 4.0
- GPU model and memory: NA
- Exact command

[2021-08-09 00:56] LukeWood commented on #14034
Can you elaborate on what you mean here exactly?  If I remember correctly numpy is pre-imported in doctests (I may be wrong)

[2021-08-09 03:33] execptionerror commented on #14632
[[Already Solved] AttributeError: module ‘keras.utils.generic_utils’ has no attribute ‘populate_dict_with_module_objects’
](https://exerror.com/attributeerror-module-keras-utils-generic_utils-has-no-attribute-populate_dict_with_module_objects/)

[2021-08-09 06:02] Krystal225 commented on #14034
on my system I had to add
[code]
in the beginning of merge.py for doctest to work.
other wise all tests that had .np in their code failed.

@LukeWood

Also is the BLANKLINE because of which the test at  https://github.com/keras-team/keras/blob/master/keras/layers/merge.py#L429 failed okay?
or we need to correct it?

[2021-08-09 08:36] SergioG-M opened #15139 "Predict gives different result than call"
Hi,
I have trained a model without an issue, and I am trying to load it and evaluate some samples. I have done it before with other models using the call method without an issue, but now I am just getting nans. However the predict method works fine. Any idea that what may cause this?

![image](https://user-images.githubusercontent.com/61322372/128679310-4e668654-acd0-48f2-bdfa-46dc49123221.png)

I

[2021-08-09 10:50] relativeflux opened #15140 "Mixed precision not working with stateful LSTM/GRU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 (Colab and own machine)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not tested
- TensorFlow installed from (source or binary): pip from a conda env
- T

[2021-08-09 11:39] BbChip0103 commented on #15004
Thank you for the reply @tomerk .
I checked the inference time of models like your advice using google colab environment.
Checking was repeated 30 times and averaged for each model.
Here is the result and the [colab link](https://colab.research.google.com/drive/19PGl68orniUzHsFEwvLT6xumoEUjVNeN?usp=sharing)
![time checking result](https://i.ibb.co/7YYSgjT/plot.png)

If it has no problem.  then i w

[2021-08-09 12:48] imohamadhoseins opened #15141 "cannot use tf.keras.preprocessing.image.random_channel_shift or apply_channel_shift with tf.data.Dataset functions like image_dataset_from_directory or tensor_slices."
I am using tensorflow 2.5, i cannot use apply_channel_shift or [random_channel_shift](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/random_channel_shift) with tf.data.Dataset it raises the following error:
tensor object has no attribute "ndim".
can any one please write a sample code for me ?
i am using .map function for apply agumentation on tf.data Dataset. many thanks.

[2021-08-09 17:09] ymodak commented on #15138
Can you please provide a reproducible example to illustrate the behavior? Thanks!

[2021-08-09 17:18] chethanjjj commented on #14987
hi, any update on this issue?

[2021-08-09 18:34] LanceNorskog commented on #15048
There are two kinds of model files: .json and .h5. .h5 files are for storing lots of numbers. It may be that Keras will only load weights from a .h5 file. If you save the model as 'save_model.json' it should reload. It will also be in text form, so it will be a much larger file than a .h5 file.

The manual page mentions .hdf5 files, which is the full name of this format.
https://keras.io/api/callb

[2021-08-09 20:23] ymodak commented on #15141
Please share a small reproducible code example to validate the issue. Thanks!

[2021-08-09 20:32] MaanasArora commented on #15046
@rchao It seems that `TimeDistributed` performs the function we need, as @fchollet mentioned in the pull request I opened.

[2021-08-09 21:16] mattdangerw commented on #14972
We are actively looking at this! It actually seems like there's a couple different feature workflows being described above.

1) Convenient **hashed** crossing of categorical (int or string) input features. This is what `feature_column.crossed_column` provides, and we don't currently have a one-to-one replacement. We are looking at a design for one now. Worth noting that `crossed_column` has no mec

[2021-08-09 21:51] rafiqhasan commented on #14972
Hi Matt,

Thank you so much for your response! I like the idea of both the approaches and seeing your response I am quite positive that we'll have a good solution for this.

Here are my thoughts and if needed I am happy to get on a call:

1. The explanation in point 1 seems correct but then it means that ```hashing``` layer probably needs to be fixed. Ideally the layer should be respecting the num

[2021-08-09 23:00] jvishnuvardhan commented on #15139
@SergioG-M It is interesting. Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-08-09 23:08] jvishnuvardhan commented on #15120
@AlexandreBourrieau I cannot reproduce the issue with `TF2.5`. Can you please check [this gist](https://colab.research.google.com/gist/jvishnuvardhan/46ea2f3be1bffcc5c11db3e5ca48a5e5/untitled1025.ipynb) and let us know what you think? Thanks!

I got the following output
`0.865458`

[2021-08-09 23:20] mattdangerw commented on #14972
I don't believe a hashing trick will ever be able to guarantee you a lack of collisions. You will see the exact same behavior in the underlying op, the feature column for hashing, and the feature column for crossed hashing.

 - https://www.tensorflow.org/api_docs/python/tf/strings/to_hash_bucket_fast
 - https://www.tensorflow.org/api_docs/python/tf/feature_column/categorical_column_with_hash_bucke

[2021-08-09 23:28] rafiqhasan commented on #14972
Wow ! That makes sense and I think its a really good idea to update the documentation as this is quite different than I have seen it in SkLearn etc. It should be good for other users to know as well.

Then it should be good

[2021-08-10 01:24] bitnick10 commented on #15139
I use predict API years.Without train,just call predict and give me accuracy more than 80%.So I ssume predict did the backpropagation.

[2021-08-10 06:00] SergioG-M commented on #15139
That will be hard, I am using EfficientNet with some custom modifications, and a private dataset with a lot of preprocessing. Let me see if I can reproduce it with the usual EfficientNet and some normal image and I will get back to you, it may take me few days though.

[2021-08-10 07:44] innat commented on #15046
It looks like it's possible to use in such cases as follows. However, I don't verify with reproducible results, when do, will update here. Also, for input shape `(None, h, w, depth, channel)`, we may need to transpose the input shape if we use the following `TimeDistributed` layers. You may also need to implement `compute_output_shape` for custom augmentation layers.

[code]

[2021-08-10 08:38] imohamadhoseins commented on #15141
thank you so much
[code]

you can set any path containing class folders and images inside them as "path_train" and any batch_size you like.
@ymodak

[2021-08-10 10:46] josefondrej opened #15143 "Add track_times=False to Model.save_weights('.h5')"
**System information**
- TensorFlow version: 2.4.1
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state.**
Currently, when calling `keras.models.Model.save_weights()` in hdf5 format, the weights are saved using `h5py.Group.create_dataset` with the argument `track_times` set to the default value `True`. The effect of this is following: even when the weights

[2021-08-10 10:47] josefondrej commented on #15143
Original issue: [https://github.com/tensorflow/tensorflow/issues/51405](https://github.com/tensorflow/tensorflow/issues/51405)

[2021-08-10 10:51] LaurinHerbsthofer commented on #10806
Thanks @bradsheppard , your method worked like a charm :)

[2021-08-10 16:44] #14931 closed

[2021-08-10 17:06] ririya commented on #14953
I guess you are right, I'm wondering why ResNet V2 has some extra
dowsampling within the same stage (e.g. conv2_block2 -> conv2_block3,
conv3_block3 -> conv3_block4) compared to the original ResNet.

Em sex., 6 de ago. de 2021 às 10:45, Zhantao Yang ***@***.***>
escreveu:

[2021-08-10 17:26] dennymarcels commented on #14862
I would insist that this issue is reopen and maybe changed into a feature request, I am really missing the possibility of saving callback states.

[2021-08-10 17:43] jroback commented on #10806
@sinajhrm - I was experiencing the same issue. Try implementing the @bradsheppard method on just your discriminator and generator. Then load a fresh gan from your original code before resuming training. For my use, training for 10 epochs, then resuming using this method for an additional 10 epochs provided similar image output results and metrics to training for 20 from scratch.

[2021-08-10 17:49] haifeng-jin commented on #14862
Hi @k-w-w
What is a common practice for saving the state of the callbacks, please?

[2021-08-10 18:35] binlbl commented on #1007
What can I do to disable the progress bar in predict()?  e.g. 92%|█████████▏| 24/26 [00:22<00:00,  5.83it/s]

[2021-08-10 18:37] #15046 closed

[2021-08-10 19:57] ymodak commented on #15141
Have you considered using [ImageDataGenerator](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/ImageDataGenerator) for augmentation instead?
Here is an [example](https://www.tensorflow.org/guide/data#consuming_python_generators) for that wraps ImageDataGenerator as `tf.data.Dataset`.

[2021-08-10 20:06] #14951 closed

[2021-08-10 20:13] ymodak commented on #14898
This looks more of pylance ide issue. You may want to check the interpreter environment and confirm if TF modules are successfully loaded. Also you may try reaching out to https://github.com/microsoft/pylance-release/issues

[2021-08-10 22:11] jacksonfengwa opened #15145 "transfer learning model based on universal sentence encoder cannot save to tf model for tensorflow serving"
The model is created using the following codes,

model = tf.keras.models.Sequential()

model.add(hub.KerasLayer("https://tfhub.dev/google/universal-sentence-encoder/4", input_shape=[], output_shape=[512], dtype=tf.string, trainable=False))

model.add(tf.keras.layers.Dense(10, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

model.compile(optimizer='adam',
          lo

[2021-08-10 23:03] bundasma commented on #7412
Setting the model's _name attribute to something unique works for me, I hope it works for others too.

`
def create_invc3(input_img, name):

    model = InceptionV3(include_top = False, input_shape = (256,256,3))
    model._name = name

    for layer in model.layers:

        layer.trainable = True
        #layer.name = layer.name + str("_" + str(name))

    model = model(input_img)

    return mo

[2021-08-11 00:00] ymodak commented on #14971
Closing since the associated PR has been merged. Thanks!

[2021-08-11 00:42] harupy opened #15147 "`AttributeError: module 'tensorflow.compat.v2.__internal__' has no attribute 'register_clear_session_function'` is thrown when running `import keras`"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-08-11 00:53] harupy commented on #15147
`import tensorflow.keras` works:

[code]

[2021-08-11 05:33] innat opened #15148 "Add DepthwiseConv3D and SeparableConv3D layer"
**System information**.
TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No): Yes.

**Describe the feature and the current behavior/state**.
The DepthwiseConv3d and [SeparableConv3D](https://github.com/keras-team/keras/issues/5639) are not available in keras API. The modeling approach with them in certain architecture becomes limited.

**Will this change the current ap

[2021-08-11 05:34] innat commented on #15057
@rchao according to your request, posted [here](https://github.com/keras-team/keras/issues/15148).

[2021-08-11 06:46] jvishnuvardhan commented on #13985
@etatbak Can you try recent TF versions and let us know whether the issue persists or not. If the issue persists, please share a simple standalone code to reproduce the issue.

Quick question (1) Are you using Keras model converted to TFlite model to deploy on mobile devices? Thanks!

[2021-08-11 06:58] jvishnuvardhan commented on #14682
@pavanpotteti Too long code to support. Please note that this repository is mainly focussed on bug/performance related issues. [TF Forum](https://discuss.tensorflow.org/tag/help_request) is right place for support related questions as there are lot of users supporting each other.

I think [this tutorial](https://www.tensorflow.org/tutorials/images/transfer_learning) from TF website could help you

[2021-08-11 06:58] #14682 closed

[2021-08-11 15:36] sinajhrm commented on #10806
@jroback - I will try your method ASAP. However, what do you mean by "loading a fresh gan from my original code"? Do you mean that I should create a new combined model using the loaded Discriminator and Generator and then compile the combined model with a freshly defined optimizer? (if I am correct about your method, I should say, in this way, I will lose the optimizer states of the previous combi

[2021-08-11 16:12] jroback commented on #10806
@sinajhrm  - Yes, try defining a new gan from your loaded generator and discriminator. I should caveat by saying that I'm very new to GANs and data science so there may be something I'm missing. But in evaluating the image output and the metrics, training appears to have resumed.

[2021-08-11 16:32] bhack commented on #14825
Codespaces is GA now https://github.com/features/codespaces

[2021-08-11 16:45] imohamadhoseins commented on #15141
@ymodak  thank you. but it is not as efficient as purely use tf.data. i want to train a huge deep network and efficiency in data loader is my bottle neck. would you consider fix those functions to accept tensor object? cause it has written in document we can pass tensor, but we cant and it causes the following error that I mentioned. thank you so much.

[2021-08-11 17:12] jvishnuvardhan commented on #13948
@CezarMarcu Is this still an issue for you? If yes, please share a standalone code (replacing your data with some random data or public data). Thanks!

[2021-08-11 18:14] jvishnuvardhan commented on #13938
@Muhammadsaquib Just a small change (replacing one line) is required in your code as shown below.

Replace the following line
`model =model.compile(optimizer="adam", loss = "sparse_categorical_crossentropy", metrics =["accuracy"])
`
with the following line
`model.compile(optimizer="adam", loss = "sparse_categorical_crossentropy", metrics =["accuracy"])
`

Please check the [gist here](https://colab

[2021-08-11 18:33] qlzh727 commented on #15147
It seems that the issue is caused by installing keras 2.6 and tf 2.5.1. The keras 2.6 release is expecting tf 2.6 to be installed, but we can't specify that in the keras requirements.txt file (since tensorflow has a requirement to keras package, this will be a circular dependency). You can run your script again to install the latest tf 2.6 (just released), and I think it will fix the issue.

Also

[2021-08-11 18:34] #15147 closed

[2021-08-11 18:35] qlzh727 commented on #15145
Assign to Kathy for save model issue.

[2021-08-11 18:47] jvishnuvardhan commented on #13944
@bloodgreed99 Can you please share a standalone code to reproduce the issue? I tried reproducing but some parts of the code is not complete. [Here](https://colab.research.google.com/gist/jvishnuvardhan/fde070ca088d8459fc9632875098cc67/untitled1028.ipynb) is a gist for reference. Thanks!

[2021-08-11 18:51] qlzh727 commented on #15143
@fchollet and @k-w-w, I think we should actually not putting the timestep into the h5 and its checksum at all. Only the weight itself should be saved, and the metadata shouldn't affect the artifacts.

[2021-08-11 18:55] qlzh727 commented on #15140
@reedwm for more inputs about mixed precision.

@relativeflux could you try setting the RNN layer dtype when creating it? I guess it was created as float32 (default dtype) and raise issue when the input value is float16.

[2021-08-11 19:00] qlzh727 commented on #15139
It seems that the input to predict and __call__ are different (one extra dim for np.newaxis involved), not sure whether that's the cause.

Normally predict and __call__ should produce the same result. Both predict and __call__ does NOT do back propagation, and they don't update weights.

[2021-08-11 19:04] jvishnuvardhan commented on #13947
@HiIcy In [this gist](https://colab.research.google.com/gist/jvishnuvardhan/37aefa76e13ced2b5eeb7721d9dc9455/untitled1029.ipynb), i tried to show simple TFlite conversion when there is a simple custom metric was included in the model. Please check the gist and let me know whether this resolved your issue. Thanks!

[2021-08-11 19:07] jvishnuvardhan commented on #13958
@PaddyUrs If this is still an issue for you, can you share a simple standalone code to reproduce the issue? Thanks!

[2021-08-11 19:51] relativeflux commented on #15140
@qlzh727 Hi, yes I had tried that, just tried it again to check and it reports the following:
[code]

I get this on both Colab and my own machine (GeForce RTX 3090, TF 2.5.0).

[2021-08-11 20:06] PaddyUrs commented on #13958
Thanks for your reply, but yeahh I figured it out no worries man.

On Thu, 12 Aug, 2021, 12:38 am Vishnuvardhan Janapati, <
***@***.***> wrote:

[2021-08-11 20:26] #13958 closed

[2021-08-11 23:30] reedwm commented on #15140
This is a legitimate bug. You are right the issue is due to the dtype of the initial state. I will fix.

[2021-08-12 00:47] jvishnuvardhan commented on #13935
@Svan70 I think this was resolved in recently. I couldn't find the print command (`print('tracking', value, name)`)  in `master`.

Please check once and close the issue if this was already resolved. Thanks!

[2021-08-12 01:08] jvishnuvardhan commented on #14169
@yousss Looks like you forgot to add a description about your issue. Can you please share more details about the issue or close the issue if this was already resolved for you. Thanks!

[2021-08-12 01:12] jvishnuvardhan commented on #14167
@yanyongwei Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-08-12 01:16] jvishnuvardhan commented on #13924
@ashMajeed Looks like this was already answered in Stackoverflow with great details.

I am closing this issue as this was resolved. Please feel free to reopen if I am mistaken. thanks!

[2021-08-12 01:16] #13924 closed

[2021-08-12 01:24] jvishnuvardhan commented on #14163
@abufarhad Closing this issue as you resolved it already.

Please feel free to reopen if I am mistaken. Thanks!

[2021-08-12 01:24] #14163 closed

[2021-08-12 01:35] jvishnuvardhan commented on #13926
@amjass12 Is this still an issue for you? Are you trying to use same `loss` function for both the outputs?

Please check [functional API guide](https://keras.io/guides/functional_api/) on keras website. Thanks!

[2021-08-12 02:53] myothura2021 opened #15154 "Practice"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-08-12 03:02] harupy commented on #15147
@qlzh727 Thanks for the comment! `import keras` works with tf 2.6.0, but `from keras.optimizers import SGD` doesn't. I will replace `keras` with `tensorflow.keras`.

[code]

[2021-08-12 04:34] ymodak commented on #15154
Can you please elaborate what your issue topic is? Thanks!

[2021-08-12 04:42] #14934 closed

[2021-08-12 04:43] ymodak commented on #14934
Closing due to lack of activity. Feel free to reopen if the issue still persists. Thanks!

[2021-08-12 05:43] ymodak commented on #14613
You can try reshape to 3d tensor before passing to pooling layer
See [example](https://www.tensorflow.org/api_docs/python/tf/keras/layers/MaxPool1D#args) for reference.
[code]

[2021-08-12 07:44] D-Katt opened #15155 "AutoGraph warning when using auto-keras"
I was running auto-keras StructuredDataRegressor in Kaggle notebook, when this warning appeared:

WARNING: AutoGraph could not transform function <function Model.make_train_function..train_function at ... and will run it as-is.
Please report this to the TensorFlow team.
Cause: closure mismatch, requested ('self', 'step_function'), but source function had ()

The search for regression model seams t

[2021-08-12 08:46] amjass12 commented on #13926
Hi @jvishnuvardhan ,

apologies - yes ths is all fine now!

[2021-08-12 08:46] #13926 closed

[2021-08-12 10:17] samsatp commented on #14345
Same issue with transformers 4.6.1 and tensorflow 2.4.1

I built the model as the following.
[code]
Then, it's trained and save as SavedModel. But when load it back, it's an error.
[code]

[2021-08-12 16:32] qlzh727 commented on #15076
@yangtao121, could your provide a minimal repro for this issue? The https://github.com/yangtao121/RL/blob/master/algo/PPO_Multi.py doesn't seems to be a standalone one, and also we don't know how the `get_action` function is invoked.

[2021-08-12 16:35] qlzh727 commented on #15071
I have no idea about R code here, and I don't think Keras or Tensorflow overall has any API contract for supporting R.

@fchollet what do u think for this issue?

[2021-08-12 16:36] yangtao121 commented on #15076
@qlzh727
My Tensorflow version is 2.5.0.

This code turns on multithreading(multiprocessing):

threads = [mp.Process(target=self.rolling, args=[env_name]) for _ in range(self.multi_worker_num)]
self.rolling()function as show below:

 def rolling(self, env_name):
        env = gym.make(env_name).unwrapped
        action_queue = Queue()
        worker = Worker(
            env=env,
            env_a

[2021-08-12 16:36] qlzh727 commented on #15140
Assign to Reed and he has the pending cl to fix this issue.

[2021-08-12 16:37] yangtao121 commented on #15076
My Tensorflow version is 2.5.0.

This code turns on multithreading(multiprocessing):

threads = [mp.Process(target=self.rolling, args=[env_name]) for _ in range(self.multi_worker_num)]
self.rolling()function as show below:

 def rolling(self, env_name):
        env = gym.make(env_name).unwrapped
        action_queue = Queue()
        worker = Worker(
            env=env,
            env_args=self.

[2021-08-12 16:37] yangtao121 commented on #15076
@qlzh727
My Tensorflow version is 2.5.0.

This code turns on multithreading(multiprocessing):

[code]

`self.rolling()`function as show below:

[code]

The `worker` is used for sampling data, the `policy` tell the `worker` how to do, `policy` give the action by:

[code]

`worker.runner()`:

[code]

I found when I use multiprocessing, the thread will block at ` action, prob = self.policy.get_action

[2021-08-12 16:38] qlzh727 commented on #15009
Assign to Tomer for a further look.

[2021-08-12 16:45] qlzh727 commented on #15043
Since this is more like a user support question rather than bug/issue, I would suggest you to post the question to the community to get more support and feedback.

[2021-08-12 16:49] seermer commented on #14953
@ririya this is again because there is no implementation detail on downsample/channel increment in the original paper,
Keras chooses to increase channel on the first block of each stage, and downsample on the last block of each stage (except stage conv2 has no downsample block, which is given in the original paper), if you look into the summary, you will notice that each stage has two non-identity

[2021-08-12 16:57] qlzh727 commented on #14953
Thanks @seermer for replying this question. @ririya, if you still feel there is any actionable item for this bug, please either send a PR or a snippet of fix, and we can have a further discussion.

[2021-08-12 16:58] ririya commented on #14953
Fair enough. Let's not say Keras implementation is wrong, but couldn't it
be better? Seems to me that adding non identity blocks is not a good idea,
and if we have the choice not to do it, why would we do it? However
maxpooling is not as bad as a convolution layer, since it's closer to
identity.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_conten

[2021-08-12 16:58] reedwm commented on #14950
This should be fixed in TensorFlow 2.6, which is out now.

[2021-08-12 17:04] aofek commented on #6993
Thank you very much punnerud !!!!!!!
adding this dimension solved a problem which held me back for 10 hours
Thanks again
aviofek

[2021-08-12 17:21] qlzh727 commented on #15076
Triage notes: I am not sure whether tf or keras officially support the multiprocess execution (have official doc says we do or don't).  @yangtao121, could you provide some context about why the multiprocess is needed in this case?

[2021-08-12 17:26] qlzh727 commented on #15071
Closing this issue since TF and Keras doesn't have official support for R.

[2021-08-12 17:28] qlzh727 commented on #15043
Please forward this question to https://discuss.tensorflow.org/tag/help_request to get more support from community. You can also tag keras. Closing this issue since there isn't any action item here.

[2021-08-12 17:28] #15043 closed

[2021-08-12 17:31] qlzh727 commented on #14913
https://drive.google.com/file/u/0/d/1o00sUhX93xtY4eLo7U8Nrz1xpaevHrz8/edit for potential repro for this issue.

[2021-08-12 17:36] qlzh727 commented on #14849
@fchollet: leave this to Francois as API owner for further comment.

[2021-08-12 17:44] qlzh727 commented on #14776
@haifeng-jin. Please update our documentation about optimizer v2 and why the slot variable are not tracked if possible.

[2021-08-12 17:45] chenmoneygithub commented on #14945
Hi, thanks for reporting the issue!

Not quite sure here, but by 'final gradients', I guess you are referring to the incremental value of variables?  _transform_gradients() is designed to be applied on the original gradients.

[2021-08-12 17:46] yangtao121 commented on #15076
@qlzh727
I try to use PPO algorithm to complete my project. But before train the model, it needs sampling a lot of samples. So I want to use multipleprocess to shorten the time.

[2021-08-12 17:47] qlzh727 commented on #14580
@AakashKumarNain who is the original author the notebook. https://github.com/keras-team/keras-io/pull/15.

[2021-08-12 17:47] relativeflux commented on #15140
Thanks for the fix.

[2021-08-12 19:22] ymodak commented on #14604
You may use `hub.load` to load hub models.
See https://www.tensorflow.org/hub/api_docs/python/hub/load

[2021-08-12 19:39] ymodak commented on #14397
`tf.keras.utils.multi_gpu_model` is deprecated. Please use [`tf.distribute.MirroredStrategy`](https://www.tensorflow.org/tutorials/distribute/keras) instead.'
See https://github.com/tensorflow/tensorflow/commit/29372ca5093432c1591122cffd861b53d87b0af4#diff-1007fe830d10a5fbc62399251f37d1081bfda616cbe4f9077905bcaf64273db8

[2021-08-12 19:39] #14397 closed

[2021-08-12 21:11] ymodak commented on #14442
You may want to consider masking values and learning as an alternative.

[2021-08-12 21:29] ymodak commented on #15141
Created a [gist](https://colab.sandbox.google.com/gist/ymodak/a2d470719149ad0f51c5cdbca71f64f1/tfkeras_issue_15141.ipynb) to reproduce the reported behavior. Thanks!

[2021-08-12 22:36] #15140 closed

[2021-08-13 04:24] AdityaKane2001 opened #15162 "Grouped convolutions don't work in TensorFlow 2.6.0"
I'm not sure if this is a Keras issue or TF issue, so opening an issue in both repos. TF issue: [#51461](https://github.com/tensorflow/tensorflow/issues/51461).

I am trying to implement [RegNetY](https://arxiv.org/abs/2003.13678) in TensorFlow as a part of my GSoC [project](https://summerofcode.withgoogle.com/projects/#4760303897673728). We are also adding these models pretrained on ImageNet-1k t

[2021-08-13 07:23] DachuanZhao opened #15163 "AttributeError: 'VocabWeightHandler' object has no attribute 'name'"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
[https://colab.research.google.com/drive/1BD9G1o7CNxAaKKyihCKx0wa1zW-tmn0r?usp=sharing](https://colab.research.google.com/drive/1BD9G1o7CNxAaKKyihCKx0wa1zW-tmn0r?usp=sharing)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): p

[2021-08-13 08:56] TillHa opened #15164 "dtype of RNN cell's state is changed to tf.float32 during reset_states"
-   **Have I written custom code (as opposed to using a stock example script
    provided in Keras)**: yes
-   **OS Platform and Distribution**: both win10 and CentOS Linux
-   **TensorFlow installed from**: pip
-   **TensorFlow version**: 2.6.0
-   **Python version**: 3.8
-   **Exact command to reproduce**: tf.keras.layers.RNN(cell)

**Describe the problem**.

I have implemented a recurrent cell

[2021-08-13 09:21] sushreebarsa commented on #14466
@jwaherr Could you please try as per the [comment](https://github.com/keras-team/keras/issues/14466#issuecomment-796425752) above and let us know if this is still an issue ? Thanks!

[2021-08-13 11:19] simondeveloper123 commented on #15147
you can should use "from tensorflow.keras.optimizers import SGD" instead of "from keras.optimizers import SGD".

[2021-08-13 12:44] lgeiger opened #15166 "Keras `predict_step` is not preserved across save and restore"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 and macOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0-dev20210813
- Python version: 3.7, 3.8 and 3.9

**Describe the current behavior**

When imp

[2021-08-13 13:48] jwaherr commented on #14466
Yes it worked, Thanks!

[2021-08-13 13:49] jwaherr commented on #14466
Yes, it worked. Thanks!

[2021-08-13 13:49] #14466 closed

[2021-08-13 15:53] seermer opened #15167 "ResNetV2 implementation problem"
**System information**
(not related to installation)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.5.0 GPU
- Python version: 3.8

**Describe the expected behavior**
As shown in the image below from **Identity Mappings in Deep Residual Networks** by He et al.\
ResNetV2 block has

[2021-08-14 04:25] aniketmaurya commented on #14411
hi, is this allowed now?

[2021-08-14 09:18] kelvinlyy opened #15171 "Poor performance for Conv2D using "same" padding scheme"
**System information**.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: 3.8

**Describe the current behavior**.
When we set the "padding" scheme of tf.keras.layers.Conv2D as "same", the computation will usually take abnormally longer t

[2021-08-14 10:55] SamMohel opened #15172 "Why did i get epoch didn't improve?"
while training the model i got for epoch 1
`epoch 1    loss: 4.8241 - accuracy: 0.2311 - val_loss: 4.2223 - val_accuracy: 0.2823`
and for epoch 2
`epoch 2    loss: 3.8093 - accuracy: 0.3265 - val_loss: 3.8047 - val_accuracy: 0.3204` but didn't save the model and got that
`epoch 2 didn't improve from  0.2823 ` in which place in the code i should check it ?

[2021-08-14 11:25] maybeLee opened #15173 "Keras crash on backend CNTK when using Conv2DTranspose with padding: "same" and kernel size large than input dimension"
**Describe the problem**.

Describe the problem clearly here. Be sure to convey here why it's a bug in Keras or why the requested feature is needed.

**Describe the current behavior**.
Keras will directly crash when using Conv2DTranspose API based on CNTK by giving some specific inputs.
Specifically, when we set the kernel size larger than the input dimension and set the padding dimension to be "s

[2021-08-14 15:50] YeonSeo-Kim opened #15174 "ModuleNotFoundError : No module named '"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/keras

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.

**Here's why we have that policy**: Keras developers respond to issu

[2021-08-14 16:03] YeonSeo-Kim opened #15175 "ModuleNotFoundError: No module named 'keras.api'"
Hi I tried to finetune my dataset but I couldn't solve this problem.

My env:

**Ubuntu 18.04**

My virtual conda list :

**cudatoolkit  =  11.2.2
cudnn  =  8.1.0.77**
**tensorflow  =   2.6.0**
**keras =   2.6.0**

when I run the code,

`Traceback (most recent call last):
  File "main.py", line 24, in <module>
    import dataloader
  File "/home/ais/Liberty/automl/efficientdet/dataloader.py", line

[2021-08-14 23:31] tomerk commented on #15009
Hi @jiannanWang, that "Working with sparse tensors" tutorial is actually misleading, only some Keras layers support sparse inputs. Other layers (such as batchnorm) may require you to densify the input first. Please feel free to open a separate feature request for the layers that you think should support sparse inputs without densification.

We've updated the tutorial to qualify this statement:
htt

[2021-08-14 23:31] #15009 closed

[2021-08-14 23:35] tomerk commented on #15004
Hi @BbChip0103 , feel free to open a PR to the Keras documentation and add details on the GPU & system specs that were used in your colab for inference.

[2021-08-14 23:44] tomerk commented on #15020
Hmm yeah that seems pretty strange.
The most recent iteration of keras-io (where maybe "docs/" was coming from) does not appear to have jquery scripts in the "theme" directory:
https://github.com/keras-team/keras-io/tree/master/theme

When searching for "jquery" in the keras-team organization: I only see a reference to jquery in the legacy contrib_docs (the 2.1.1 jquery version):
https://github.co

[2021-08-14 23:44] #15020 closed

[2021-08-15 05:32] AdityaKane2001 commented on #15162
@haifeng-jin

Could you please take a look at this one?

[2021-08-15 08:47] imohamadhoseins commented on #15141
@ymodak  thank you. what shall I do for now ?

[2021-08-15 13:49] MoayedHajiAli opened #15178 "Conv1d throws an error when using 'channels_first' data format"
**System information**.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Amazon EC2
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.6.13
- tested on CPU

**Describe the problem**.
calling a Conv1D layer with the channels first data format throws an error of   <br>
`The Conv2D op currently only supports the NHWC te

[2021-08-15 15:12] hnsl commented on #2226
I found this old bug via google.

Here's the "modern" version:

def get_gradients(model : tf.keras.Model, x, y_true):
    """Return the gradient of every trainable weight in model"""
    with tf.GradientTape() as tape:
        loss = model.compiled_loss(y_true, model(x))

    return tape.gradient(loss, model.trainable_weights)

[2021-08-15 16:31] arijit8 commented on #14464
@HGamalElDin, We do not need to downgrade any of the versions. Can utilize tensorflow-add to build CRF layer. Hope this helps :)

`
from tensorflow_addons.layers import CRF

x = ....
crf_layer = CRF(n_tags)
_, output_layer, _, _ = crf_layer(x)

model = Model(input_layer, output_layer)
mode.summary()
`

[2021-08-15 16:48] AakashKumarNain commented on #14580
This is weird. Although there is nothing special about the model here, so model is definitely the problem. The only thing that can be a "bit" slow is the `gradient_penalty()` but I doubt that would add so much of training time. I would take a look at this. Thanks for reporting.

[2021-08-15 17:37] NKM999 opened #15179 "Concatenate CNN (trained using Keras flow_from_directory and generators) and LSTM (time-series data)"

[2021-08-15 17:38] jacksonfengwa commented on #15145
It seems to be working in tensorflow 2.6. closing it.

[2021-08-15 17:38] #15145 closed

[2021-08-15 17:42] NKM999 commented on #15179
Hello,

I am trying to develop a model using multimodal data. My one set of data is images that is trained using Keras flow_from_directory and generators) and another set of data is time-series that is trained using LSTM and CONV1D. How to concatenate the two models to train them as a single model (model with two inputs and single output)? Any example or guidance will assist in its practical imple

[2021-08-15 17:47] collinzrj commented on #15178
The convolution layer of keras use the tensorflow op `conv1d`. From [line 2002-2026](https://github.com/tensorflow/tensorflow/blob/919f693420e35d00c8d0a42100837ae3718f7927/tensorflow/python/ops/nn_ops.py#L2002-L2026) in tensorflow/python/ops/nn_ops
[code]
It seems that the implementation of `conv1d` in tensorflow uses `conv2d`, so the error says "Conv2D". Changing to GPU solves this problem, or us

[2021-08-15 23:09] ymodak commented on #15174
duplicate https://github.com/keras-team/keras/issues/15175

[2021-08-15 23:09] #15174 closed

[2021-08-15 23:12] ymodak commented on #15175
Can you please provide a minima reproducible code to reproduce the error? Thanks!

[2021-08-16 11:49] nschang commented on #14632
Solved on google Colab (CUDA==11.0; tensorflow==1.15) by adding `tensorflow.python.` to `keras.` in import:

[code]
this gives an error:
[code]
this works:
[code]

[2021-08-16 12:23] chjanp opened #15181 "temporal 2D sample_weight in fit() causing dimension mismatch"
- Have I written custom code: yes
- OS: Windows 10
- TensorFlow installed from binary (pip)
- TensorFlow version (use command below): 2.4.1 and 2.6.0
- Python version: 3.8
- Exact command to reproduce: See code snippet below

**current behavior**

Background: I am trying to train a temporal model where, for each training sample and each time, I know if
the information contained in the training dat

[2021-08-16 12:32] luisArandas commented on #15019
Hello @rchao, I am using TF2.5. Here I leave my conda env list:

[code]

[2021-08-16 16:05] jvishnuvardhan commented on #14235
@Smile-L-up Sorry for late response. Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? Also, try using most recent TF/keras versions.

Check [this issue](https://github.com/keras-team/keras/issues/14464). It may help you resolve. Thanks!

[2021-08-16 17:56] rchao commented on #15019
Thanks, can you attempt to use `tf.compat.v1.enable_v2_behavior()` at the start of the program and see if it helps in any way?

[2021-08-16 19:27] nsehwan opened #15182 "Keras Embedding layer docs missing "trainable" argument"
**URL(s) with the issue:**.

https://keras.io/api/layers/core_layers/embedding/

**Description of issue (what needs to be changed):**.
Keras Embedding Layer API Docs https://keras.io/api/layers/core_layers/embedding/ do not mention the argument "trainable" in the Class definition. This argument can be useful for new users to know when deciding to train Keras embeddings, or use already pre-trained

[2021-08-16 19:39] sunw70 commented on #15121
Is there news about this?

[2021-08-16 19:49] rthadur commented on #15182
Hi @nsehwan yes you can add but I would suggest if you can add something similar to which is mentioned here about 'trainable' https://keras.io/api/layers/normalization_layers/batch_normalization/

cc @qlzh727

[2021-08-16 20:20] qlzh727 commented on #15182
I think we didn't explicitly mention `training` in the call arg since it doesn't behave differently with the default layer behavior. In batch norm layer, since certain args will be updated differently (`mean` and `variance`), we explicitly call it out in the docstring.

For the default behavior of `trainiing`, you can find it in https://keras.io/api/layers/base_layer/.

[2021-08-16 20:21] #15182 closed

[2021-08-16 20:25] mmilosav opened #15183 "ValueError when accessing submodules of compiled subclassed tf.keras model"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): various including macOS 11.5.1 and Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): various including 2.5.0 and 2.6.0
- Python version: various including 3.8.5
- Baze

[2021-08-16 21:50] arubiales commented on #13782
Still in Tensorflow 2.6

[2021-08-17 00:09] tomerk commented on #14910
[Copying notes from the candidate PR: I don't think this is a feasible change to make at this point in time]

Okay, I've checked the comprehensive internal google tests of Keras users. This causes around ~100 internal test failures.

This is because the Keras add layer (which is built on the Keras merge layer) and the `+` tensor operator have fundamentally different behaviors.

There appear to be

[2021-08-17 00:09] #14910 closed

[2021-08-17 01:07] fm966mhz opened #15184 "Can't create multiple instances of tf.keras.Model subclasses"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-08-17 02:56] jvishnuvardhan commented on #14653
@River861 Sorry for the late response. We are currently supporting only TF backend.  Sorry for the inconvenience.

Please post it in Stackoverflow where there is a large community to support and learn from each other's issues. If you face any Bugs and performance related issues with recent TF/Keras versions then please post them here. Thanks!

[2021-08-17 04:56] LanceNorskog commented on #15044
This bug is still active with TF 2.6.0.

[2021-08-17 08:47] Svan70 commented on #13935
@jvishnuvardhan I can't test right now, but I do not see the print in the code either. So yes, consider it as fixed. Thanks !

[2021-08-17 08:47] #13935 closed

[2021-08-17 09:10] lebigot opened #15185 "Missing documentation/semantics in `Model.call()`/`__call__()` (`mask` and relationship with `__call__()`"
**URL(s) with the issue:**.

https://www.tensorflow.org/api_docs/python/tf/keras/Model#call

**Description of issue (what needs to be changed):**.

1. The documentation/semantics for `mask` in `Model.call()`/`__call__()` is missing. It would be useful to at least point people to the relevant information on `mask` (if it exists somewhere) or to spell it out.

    Currently, users have no idea of wh

[2021-08-17 09:31] lebigot opened #15186 "Misleading documentation for `Model.predict()` compared to `model()`"
**URL(s) with the issue:**.

https://www.tensorflow.org/api_docs/python/tf/keras/Model#predict

**Description of issue (what needs to be changed):**.

The documentation for `predict()` implies that it gives the same output as `__call__()`:

A warning is in order here: `__call__()` returns TensorFlow tensors (whereas `predict()` returns NumPy arrays). We would for instance write instead (added text

[2021-08-17 12:30] tilakrayal commented on #15121
@sunw70 ,
Could you please try as per the [comment](https://stackoverflow.com/questions/65366442/cannot-convert-a-symbolic-keras-input-output-to-a-numpy-array-typeerror-when-usi) above and let us know if this is still an issue ? Thanks!

[2021-08-17 13:09] TillJohanndeiter opened #15187 "Confusion Matrix"
**System information**.

TensorFlow version (you are using): 2.5.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Print confusion matrix for muticlass prediction. Matrix represents prediction to ground truth

Multiclass predictions cannot be comfortable evaluated with respect to associated classes with current metrics (Acc, Precison, Reca

[2021-08-17 13:15] Abdurrasith commented on #14632
Where and what is the file i must edit this?

[2021-08-17 18:17] #14604 closed

[2021-08-17 18:18] ymodak commented on #15141
I have triaged the issue to the keras team for review. There is no action required from your end for now. Thanks!

[2021-08-17 19:06] B0-B commented on #6447
I had once a similar problem and the key was stoch. gradient decend (single batch) and higher learning rate. The higher learning rate will make it somewhat more volatile but ensures not to stuck at some saddle point which is the optimal solution for all inputs.

[2021-08-17 19:27] sunw70 commented on #15121
By using Tensorflow version 2.4.1 instead, I get this:

    Epoch 1/10
    WARNING:tensorflow:Gradients do not exist for variables ['MyConv/kernel:0'] when minimizing the loss.
    WARNING:tensorflow:Gradients do not exist for variables ['MyConv/kernel:0'] when minimizing the loss.
    2/2 [==============================] - 1s 1ms/step - loss: 113.0949 - accuracy: 1.0000
    Epoch 2/10
    2/2 [==

[2021-08-17 21:54] romanovzky commented on #14580
No worries, I'd be glad to have this fixed as I've been tinkering a lot more with custom architectures with explicite gradient tapes and this is a bit of a paper-cut. I'm happy to further debug if you need me check anything.

[2021-08-18 00:56] jvishnuvardhan commented on #15186
@lebigot Agree with you. Output value from `model.predict(x)` and model(x) is identical but in different format (`array` versus `tf.Tensor`).

You can get same format by

[code]

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d30d7504c57a0c80228d9a979205ba58/untitled.ipynb)

Please let me know if you want to open a PR to update the docs.? If not, I can update it

[2021-08-18 01:15] bhack commented on #14825
Just to not duplicate contents I have some feedback at https://discuss.tensorflow.org/t/setup-your-favorite-editor-to-develop-keras/3747/4

[2021-08-18 01:26] jvishnuvardhan commented on #15172
@SamMohel Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-08-18 02:22] katoyu commented on #15175
@YeonSeo-Kim
Hi. I ran into the same error.
I consider that this error is specific to the version 2.6.0.
For the first aid, I downgraded the keras version from 2.6.0 to 2.4.0 and it worked fine. Please try it.

[2021-08-18 02:49] patel-rupin2000 commented on #15179
Hey I tried to merge two models I have merge LSTM and CNN(in which VGG16 has been used) and it works
  join = Concatenate([lstm_model, cnn_model])
  hidden = Dense(1, activation = 'sigmoid')
  new_model = Sequential()
  new_model.add(join)
  new_model.add(hidden)
  new_model.compile(optimizer="",loss="",metrices=[""])

  history = new_model .fit(X_train, y_train, epochs=50, batch_size=64)
  import

[2021-08-18 02:58] patel-rupin2000 commented on #14321
model=Sequential()
from tensorflow.keras.applications.vgg16 import VGG16
base_model =  VGG16(input_shape = (224, 224, 3), include_top = False, weights = 'imagenet')
for layer in base_model.layers:
    layer.trainable = False
x = Flatten()(base_model.output)
x = Dense(1024, activation='relu')(x)
x = Dropout(0.5)(x)
x = Dense(3, activation='softmax')(x)
model = Model(base_model.input, x)
model.compi

[2021-08-18 03:05] patel-rupin2000 commented on #15045
You can take example of VGG16
model=Sequential()
from tensorflow.keras.applications.vgg16 import VGG16
base_model = VGG16(input_shape = (224, 224, 3), include_top = False, weights = 'imagenet')
for layer in base_model.layers:
    layer.trainable = False
x = Flatten()(base_model.output)
x = Dense(1024, activation='relu')(x)
x = Dropout(0.5)(x)
x = Dense(3, activation='softmax')(x)
model = Model(bas

[2021-08-18 12:55] SamMohel commented on #15172
thanks for replying
the model is
[code]
the results are

[code]

[2021-08-18 13:36] sushreebarsa commented on #14477
@envytails This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you!

[2021-08-18 13:37] sushreebarsa commented on #14375
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you!

[2021-08-18 13:37] sushreebarsa commented on #14503
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you!

[2021-08-18 13:37] sushreebarsa commented on #14415
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you!

[2021-08-18 13:37] sushreebarsa commented on #14456
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you!

[2021-08-18 13:44] sushreebarsa commented on #14396
@rebelgiri In order to reproduce the issue reported here, could you please provide the complete code and the dataset , you are using. Thanks!

[2021-08-18 13:57] Abhishek-TyRnT opened #15190 "Can't find file dataset_options_pb2.py"
I was trying to build the tensorflow code.....But it is throwing an error saying dataset_options_pb2 is missing which is supposed to be located in tensorflow/core/framework.

Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for

[2021-08-18 13:59] sushreebarsa commented on #14525
@ammarchalifah Could you please refer to the  similar issues [link](https://github.com/keras-team/keras/issues/5862),[ link1](https://stackoverflow.com/questions/42443936/keras-split-train-test-set-when-using-imagedatagenerator) and documentation [link](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image/ImageDataGenerator).Let us know if it helps ? Thanks!

[2021-08-18 14:06] sushreebarsa commented on #14355
@yash-clear Could you please refer to [link](https://keras.io/api/layers/pooling_layers/), [link1](https://keras.io/api/layers/) and let us know if it helps? Thanks!

[2021-08-18 14:09] sushreebarsa commented on #14611
@TanmDL In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-18 14:09] sushreebarsa commented on #14601
@Qyum In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-18 14:10] sushreebarsa commented on #14594
@Jhangsy  In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-18 14:12] sushreebarsa commented on #14460
@seis330 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-18 14:15] sushreebarsa commented on #14476
@anoldmaninthesea In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-18 14:56] DLPerf opened #15191 "Performance issues in the program"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):win10
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):tf2.60
- Python version:python3.7
- Bazel version (if compiling from source):no
- GPU model and memory:no need
- Exact com

[2021-08-18 16:16] jvishnuvardhan commented on #15172
@SamMohel Thanks for the code but it is not complete standalone, i guess. Can you share a standalone so that I can try to find the root-cause of the issue?

Are you using any keras callbacks like `ModelCheckpoint`?
What do you meant by

Please add as many details as possible to describe the problem you are facing. Thanks

[2021-08-18 16:23] SamMohel commented on #15172
i post the last modifications with its result .. i got from epoch 5 until finished that the model didn't improve . i can change the title as the problem changed after the modifications

[code]

[2021-08-18 16:44] jvishnuvardhan commented on #15118
@dmirecki I changed your code little bit and it works without any issue. I only changed multi-outputs in the form of dictionary. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/1c5a1f3b1b4991d431e4496574922b99/modelsubclassingoutputnames.ipynb).

Please verify and close the issue if this was resolved for you. Thanks!

[2021-08-18 16:46] ymodak commented on #15190
This doesn't look like a Keras issue and seems to be more of a TF build install issue.
Perhaps you want to refer to a similar [thread ](https://github.com/tensorflow/tensorflow/issues/40182#issuecomment-641810207)and if the issue still persists try posting it in [TF github](https://github.com/tensorflow/tensorflow/issues) repo. Thanks!

[2021-08-18 17:29] peteboothroyd opened #15192 "Namespace for custom objects not included in serialised config"
This is not a contribution.

**System information**.
- TensorFlow version: 2.6.0

**Describe the problem**.

Custom object serialisation is inconsistent when using `tf.keras.utils.custom_object_scope` as compared to `tf.keras.utils.register_keras_serializable`. `custom_object_scope` is not able to use namespaces for different custom objects, which risks name collisions.

**Describe the current beh

[2021-08-18 17:32] AakashKumarNain commented on #14580
Can you try to using the TF debugger and see which op is taking time?

[2021-08-18 17:43] tilakrayal commented on #15178
@MoayedHajiAli ,

Please check the above [comment](https://github.com/keras-team/keras/issues/15178#issuecomment-899087578) and also please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/32017) [link ](https://github.com/onnx/onnx-tensorflow/issues/535)which is similar.It helps.Thanks!

[2021-08-18 18:42] jvishnuvardhan commented on #15191
@DLPerf  Please check the following paragraph that explains `num_parallel_calls` depend on few parameters and depending on your application and data, you can choose `num_parallel_calls`. You could also use `tf.data.AUTOTUNE` which automatically decide how many parallel threads can be run at a given time.

Please let us know what you think. If you want to update some docs, please feel free to raise

[2021-08-18 19:01] SugarRay commented on #13118
Did anyone notice that this workaround would significantly increase the inference time? For me, this workaround could greatly alleviate the memory leak problem, but it will significantly increase the inference time, like ten times. Any idea on this?

[2021-08-18 19:02] Abhishek-TyRnT commented on #15190
Thanks but figured it out myself.....dataset_options_pb2.py are not present in this repo but surprisingly when I checked my pip installed package the file was there... I don't know why though

[2021-08-18 19:02] #15190 closed

[2021-08-18 19:31] ymodak commented on #15190
Yes those are auto-generated files on installing TF with pip.
I see on the top of the `*_pb2.py` files,
`# Generated by the protocol buffer compiler.  DO NOT EDIT!`

[2021-08-18 19:41] santiagopardal commented on #13118
In my case I had no improvements in inference time, is it possible that you were running out of memory?

[2021-08-18 19:42] statcom commented on #10417
Would you please organize your solution more? I don't think English is not the reason your post is difficult to understand.

[2021-08-18 19:54] brian36 commented on #2442
thank you - this is the solution I needed as well.  For reference, the TimeDistributed layer is here:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/TimeDistributed

[2021-08-18 19:57] fwhigh commented on #13118
This memory leak issue happened to me in a try-catch loop. The predict_on_batch idea has worked for me so far with manual batching.

[2021-08-18 20:10] SugarRay commented on #13118
Thanks for the reply! No, I don't think I am running out of memory.

[2021-08-18 20:16] SugarRay commented on #13118
Could you please show me an example of manual batching? And does this incur any extra latency? Thanks!

[2021-08-18 20:24] jvishnuvardhan commented on #15185
@lebigot Thanks for the opening the issue.

Regarding (1), are you looking for more detailed info on `mask`. Please check [this page](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Masking) and the [guide](https://www.tensorflow.org/guide/keras/masking_and_padding) on masking.

Regarding (2), i think some internal details are intentionally avoided in the docs to simplify docs for most

[2021-08-18 20:33] jvishnuvardhan commented on #15173
@maybeLee Starting `TF2.6`, we are supporting only TF backend. Sorry for the inconvenience.

Please post it in Stackoverflow where there is a large community to support and learn from each other's issues. If you face any Bugs and performance related issues with recent TF/Keras versions then please post them here. Thanks!

[2021-08-18 20:39] lebigot commented on #15185
While (1) is interesting, my point is that a lot of collective time would be saved if what you write for (1) *were in the documentation*. This is what I suggest.

As for (2), my point was that what `call()` does and returns is only implicit: "Calls the model on new inputs" is in fact less explicit than "Returns the outputs of the model for new inputs, as tensors." (like `__call__()` does), which i

[2021-08-18 20:53] jvishnuvardhan commented on #15184
@fm966mhz I can reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/80087710b4cbb6fd56efee7981b89263/untitled1035.ipynb) is a gist for our reference.

The error trace is as shown below

[code]

[2021-08-18 22:28] brian36 opened #15194 "Reshape layer drops mask from previous layers"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes, very basic code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ran it on google colab notebook (https://colab.research.google.com/) as well as CentOS 7
- TensorFlow installed from (source or binary): Binary / however it is installed in colab
- TensorFlow version (u

[2021-08-19 02:08] jvishnuvardhan commented on #15172
@SamMohel Looks like this is more of support question (not a bug/performance related). GitHub is mainly for bug and performance related issues.

For support kind of questions, please post them on [TensorFlow Forum](https://discuss.tensorflow.org/tags). TF Forum has large community to support and learn from each other and responses will be faster. Thanks!

[2021-08-19 02:20] jvishnuvardhan commented on #15120
Closing this issue as this was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-08-19 02:20] #15120 closed

[2021-08-19 02:24] jvishnuvardhan commented on #13985
This is a stale issue. I think this was resolved with recent TF versions.
I am closing this issue. If you still have an issue, please feel free to reopen the issue. Thanks!

[2021-08-19 02:24] #13985 closed

[2021-08-19 03:30] DLPerf commented on #15191
Thanks for your reply @jvishnuvardhan.
 According to the doc you cited,  we should call `map` with num_parallel_calls=tf.data.AUTOTUNE [here](https://github.com/keras-team/keras/blob/05048b7c0d56c4c3c90460c31b5fa2406a0ea1e2/keras/layers/preprocessing/benchmarks/image_preproc_benchmark.py#L89)?
Please correct me if I miss something.

[2021-08-19 05:35] jvishnuvardhan commented on #14981
Closing due to lack of recent activity. Please feel free to reopen if I am mistaken. Thanks!

[2021-08-19 05:35] #14981 closed

[2021-08-19 05:40] jvishnuvardhan commented on #15003
@OriAlpha As mentioned above this is more related to M1 than TensorFlow. I think it is better to post it in apple developer forum or Stackoverflow.

I am closing this issue. Please feel free to reopen if I am mistaken. Thanks!

[2021-08-19 05:40] #15003 closed

[2021-08-19 06:01] jvishnuvardhan commented on #15191
@DLPerf Correct. If you want TF to control `num_parallel_calls `, then you need to call with `num_parallel_calls=tf.data.AUTOTUNE`.

Please close the issue if this was resolved for you. Thanks!

[2021-08-19 06:19] DLPerf commented on #15191
@jvishnuvardhan Sorrry, maybe I explained not clearly. I mean that the code in keras/keras/layers/preprocessing/benchmarks/image_preproc_benchmark.py [line 89] (https://github.com/keras-team/keras/blob/05048b7c0d56c4c3c90460c31b5fa2406a0ea1e2/keras/layers/preprocessing/benchmarks/image_preproc_benchmark.py#L89) should be fixed with `num_parallel_calls=tf.data.AUTOTUNE` ? Otherwise it will run `map

[2021-08-19 06:44] pankaj-cipher commented on #15179
We try to concatenate things up when they are of same property or shape.
So, if we try to concatenate `flow_from_directry()` to `LSTM` and `Conv1D` it would not make sense as one is for data augmentation and other is not .
So, basically we kind of try to do this thing of concatenation for monitoring some gestures or movements over video which basically involve temporal and spatial domains here tem

[2021-08-19 08:50] XingYu131 commented on #13244
tensorflow-gpu==1.15.0
keras==2.3.1
keras-bert==0.80.0
keras-transformer==0.30.0

How to slove this problem?

[2021-08-19 09:37] DachuanZhao opened #15198 "Allow ```StringLookup``` and ```TextVectorization``` use multi output mode ."
**Describe the feature and the current behavior/state**.

```StringLookup``` and ```TextVectorization``` can only output result with one output mode . Considering that when I would to train a FM model or Wide&Deep model , I should use ```multi-hot``` output for LR and ```int``` output for embedding layer . I should init two ```StringLookup``` like this :
[code]

**Will this change the current api?

[2021-08-19 09:58] DachuanZhao commented on #15138
I pull a new request for it . Thanks ~

[2021-08-19 11:35] lebigot commented on #15186
If you can indeed open a PR, that'd be great. Thanks!

[2021-08-19 12:29] tilakrayal commented on #13943
@usthbstar ,

You are trying to imported layers from tensorflow.keras while other functions you have imported from keras. Can you please either import your layers from keras or try importing other functions from tensorflow.keras which might work.Thanks!

[2021-08-19 12:32] tilakrayal commented on #13945
@Mr-Elysium ,

Can you please take a look at this [issue](https://github.com/keras-team/keras/issues/6447),[link](https://datascience.stackexchange.com/questions/20442/recurrent-neural-network-producing-same-predictions) with similar error.It helps.Thanks

[2021-08-19 12:35] tilakrayal commented on #13923
@tomklaver1995 ,

Can you please try upgrade to TensorFlow 2.0, you can still use 1.X API by replacing:

**import tensorflow as tf**
by

**import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()**

Also please take a look at this [issue](https://stackoverflow.com/questions/56226284/why-do-i-get-attributeerror-module-tensorflow-has-no-attribute-placeholder/56230839) with similar error.It helps.T

[2021-08-19 17:39] kashyapraval commented on #15194
issue reproducible at [colab](https://colab.research.google.com/drive/1uN0QrjiMXA7N6N6jdFQVVO1He8NTrZZ-?usp=sharing)

[2021-08-19 17:52] mattdangerw commented on #15187
This is not something we would want to carry in core Keras right now, but https://github.com/tensorflow/addons may be a good place for this. You could open an issue there and see what feedback you get. Thank you!

[2021-08-19 17:52] #15187 closed

[2021-08-19 18:08] mattdangerw commented on #15184
A functional model and subclassed model cannot be mixed like this, at least at this time. You should not be calling `super()` twice in the example above.

If you would like a subclassed model, you can follow the form in the guide below, and will not need the `keras.Input` functional style. You would chain to the parent class constructor at the start of __init__, without supplying inputs and output

[2021-08-19 18:08] mattdangerw commented on #15184
Hope that helps!

[2021-08-19 18:08] #15184 closed

[2021-08-19 18:11] mattdangerw commented on #15167
We are marking this as contributions welcome. It would also be very helpful if others from the community could also help us verify that this is a change we would want.

Thanks for filing!

[2021-08-19 18:21] EthanIrby8 opened #15204 "InvalidArgumentError: indices[15,28] = 22105 is not in [0, 22015) [[node encoder/embedding/embedding_lookup"
I am using tf 2.4.1, keras 2.4.3, and python 3.8.10 on CPU.
I have downloaded pretrained GloVe word embeddings to train an Encoder-Decoder Model for abstractive summarization.
I have created two embedding matrices, one to represent the vocabulary of the source input documents and one to represent the summary vocabulary. I am a little unsure if this is the correct practice but the model is able to

[2021-08-19 18:27] mattdangerw commented on #15141
I think the issue here is that `apply_channel_shift` expects numpy input. A `tf.data.Dataset.map` function will use Tensors. You could try calling into [tf.numpy_function](https://www.tensorflow.org/api_docs/python/tf/numpy_function) inside `augment` and see if that works.

[Keras preprocessing layers](https://keras.io/guides/preprocessing_layers/) and [tf.image](https://www.tensorflow.org/api_doc

[2021-08-19 19:58] allenlavoie commented on #15044
The colab TPU instance is starting TensorFlow servers on remote workers, and those server binaries haven't been updated to the latest TensorFlow version yet. Until those binaries are re-built you'll need to use a version at least as old (e.g. use TF2.5).

TensorFlow does not provide a long forward compatibility window, so deployments like this which rely on pre-built binaries can unfortunately con

[2021-08-19 20:00] jvishnuvardhan commented on #14660
@amine-boukriba Can you please share a simple standalone code to reproduce the issue? You could use public datasets. Thanks!

[2021-08-19 20:08] ymodak opened #15206 ""classes" not working on flow_from_dataframe"
[code]
related issue #https://github.com/keras-team/keras/issues/13637
TensorFlow version - 2.6.0
Keras Version - 2.6.0
Keras-Preprocessing Version - 1.1.2

[2021-08-19 20:33] ymodak commented on #14700
You may also refer https://github.com/apple/tensorflow_macos/issues/101

[2021-08-19 20:33] #14700 closed

[2021-08-19 21:09] yvanminyem opened #15207 "Can't load or save my model as a keras model using custom_object since tensorflow 2.6 update"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-08-19 22:52] jvishnuvardhan commented on #15044
@LanceNorskog Looks like colab updated their builds. I cannot reproduce the issue with `TF2.6` and `TF2.5`.  Can you please check. Thanks!

[Here](https://colab.research.google.com/gist/jvishnuvardhan/26c77fddeb8aa7fc10a4a6811e2c71ae/xray_classification_with_tpus.ipynb) is a gist with `TF2.6.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/443bafc475eb667093c22d73f810baf3/xray_classi

[2021-08-19 23:23] jvishnuvardhan commented on #14612
@vaibhav016 Can you please share a standalone code to reproduce the issue? Thanks!

[2021-08-19 23:51] cc13ny commented on #15141
As @mattdangerw suggested, it didn't cause errors with the following code replacement. Please check if it's aligned with what @imohamadhoseins expect. Meanwhile, I guess this gap is caused by the difference between TensorFlow 2.0 and the TensorFlow 1.0 code introduced by Keras. Maybe updating the keras function won't be the recommended way. Please correct me if anyone knows more about it.

From

`

[2021-08-20 04:00] jvishnuvardhan commented on #14651
@imandr Can you please share a simple standalone code to reproduce the issue? Also, check [this resource](https://medium.com/swlh/custom-loss-and-custom-metrics-using-keras-sequential-model-api-d5bcd3a4ff28) to know how to bring external parameter into custom_loss function. Thanks!

[2021-08-20 04:11] NKM999 commented on #15179
Thanks for the reference code.

[2021-08-20 04:19] NKM999 commented on #15179
Thanks for the valuable suggestions.
I am searching if there is any library or solution available to concatenate CNN and LSTM. Also, I want to get the benefit of the Keras image data generator that provides data augmentation and improves performance considerably. By doing manual data augmentation, I will not be able to get diversity over each iteration. Basically, I want to improve images (CNN) pe

[2021-08-20 04:34] jvishnuvardhan commented on #14659
@shabu19 As mentioned by @jbroot This is not related to bug/performance related issue. This repo is mainly for tracking the progress of bug/performance related issues.

This question is good for [TF Forum](https://discuss.tensorflow.org/tags) where other research express their take on your questions. Thanks!

[2021-08-20 04:34] #14659 closed

[2021-08-20 05:14] Coder-Vishali commented on #2110
Did you find solution

[2021-08-20 05:28] AmitMY opened #15210 "Tutorial model consistently contains NaN"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Colab**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below):  **2.6.0**
- Python version: **3.7.11**
- GPU model and memory:  **Tesla T4 15GB**
- Exact command to repr

[2021-08-20 06:48] imohamadhoseins commented on #15141
@mattdangerw @cc13ny  thankyou for your responses; yes it works with `tf.numpy_function ` but working with numpy drops the performance considerably, i wanted to use the tf.data pure because of it's significant speed in data loading.

@mattdangerw Keras preprocessing layers doesn't have channel shift; I tried to write channel shift function purely with tf on my own but I couldn't, I had some bugs .

[2021-08-20 09:24] dzab5 commented on #15207
Any pointers to solve this issue? I am facing a very similar problem.

[2021-08-20 11:01] kurchi1205 commented on #15206
I am a first time contributer . Can I work on this issue?

[2021-08-20 11:02] kurchi1205 commented on #15206
Also it will be helpful if you could tell wht is the expected output .

[2021-08-20 11:21] ddrakard opened #15211 "Add layer activations to keras.utils.plot_model and model_to_dot"
**System information**.

TensorFlow version (you are using): tf_nightly (keras_nightly-2.7.0.dev2021081907)
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behaviour/state**.

`keras.utils.plot_model` generates a diagram of a model's architecture. This is very useful for debugging and publishing. If layer activations (as opposed to standalone activation laye

[2021-08-20 12:28] MoayedHajiAli commented on #15178
Thank you a lot for your help. I am closing the issue.

[2021-08-20 12:28] #15178 closed

[2021-08-20 12:28] thierrydecae commented on #15175
Hi, i'm having the same error.. here is how to reproduce it:

!pip install --upgrade deepsegment
from deepsegment import DeepSegment

Thanks

[2021-08-20 14:22] Nafees-060 opened #15212 "Need to convert Lasagne to Keras code (CNNLSTM)"
I spent a lot of time converting Lasagne's code to TensorFlow Keras. Although I successfully ran the code, however, I could not obtain the result reported in the paper.

Some help is available [here][1], but it is limited to specific layers and not the entire architecture.

**Lasagne Code:**

    net = {}
    net['input'] = lasagne.layers.InputLayer((BATCH_SIZE, 1, SLIDING_WINDOW_LENGTH, NB_SENSOR

[2021-08-20 16:38] Tylersuard opened #15214 "Error: "Failed to connect to all addresses", TPU on Colab"
When I attempt to train on Colab using Keras and TPU, I get this error and training stops before the first epoch.

Link to code for reproduction: https://colab.research.google.com/drive/1ddTaQNmKbapwDPhrPlDKpnoCb8Exa_XI?usp=sharing

[2021-08-20 16:45] jvishnuvardhan commented on #14665
@siwarbouziri Looks like `legacy` module is not supported in current keras. May be you could create a conda environment and inside that you can install keras 2.3.1 and use it.

We are not supporting older keras versions anymore. Please post them in [TF Forum](https://discuss.tensorflow.org/tags) or Stackoverflow. Thanks!

[2021-08-20 16:45] #14665 closed

[2021-08-20 17:06] jvishnuvardhan commented on #14648
@viveksck Can you please share a standalone code to reproduce the issue? Also, can you try running the code with recent TF2.6 or `tf-nightly` and post entire output. Thanks!

[2021-08-20 17:34] jvishnuvardhan commented on #14645
@Sayandas Can you please share a standalone code to reproduce the issue? Can you use a public dataset like `mnist` or something like that so that I can reproduce the issue. Thanks!

[2021-08-20 18:02] #15154 closed

[2021-08-20 18:05] qlzh727 commented on #14627
I think the issue here is that the model output shape is [404, 1] and the label shape is [404]. The MSE produce the incorrect value since the label and prediction doesn't have the same shape. It didn't error out since the label can be broadcast to prediction's shape ([404, 404] in this case which is the probably the cause of the error).

If you add a line to expand the dim of the y_train like "y_t

[2021-08-20 18:07] qlzh727 commented on #14627
I think this is tricky error and an easy pitfall for end user. We should either error out when there is a shape mismatch, or broadcast to same shape.

[2021-08-20 18:13] #14723 closed

[2021-08-20 18:33] jvishnuvardhan commented on #14540
@jhuus I was able to use save a model in Linux and load it in Windows10 successfully using `TF2.6`.

I used a simple model from tutorials page on TF webpage.

[code]

 Then I downloaded the saved model, and loaded on Windows10 with the following code

[code]

Can you please try and let us know whether the issue is persisting with latest TF/keras. Thanks!

[2021-08-20 18:50] ymodak commented on #15175
Apparently the problem is not related to TF-Keras and more of external packages dependent on TF Keras.
You may want to post this issue on DeepSegment repo for support. Thanks!

[2021-08-20 18:52] jhuus commented on #14540
I have tried with the latest version, and it works fine now. Thanks!

Jan Huus

On Fri, Aug 20, 2021 at 2:33 PM Vishnuvardhan Janapati <
***@***.***> wrote:

[2021-08-20 18:54] bfontain commented on #15044
Hi, in general the TF version in the colab needs to match the TF version of the runtime on the TPU. The default version matches, so if you change the TF version from the default, there is no guarantee it will work with the default runtime.

You can use the following code to update the runtime version dynamically:
[code]

See the discussion here https://github.com/tensorflow/tensorflow/issues/43037

[2021-08-20 19:18] jvishnuvardhan commented on #14529
@NawelAr You can also check [tf-addons](https://www.tensorflow.org/addons) repo for more optimizers and also to find how to implement your own. For example, check this code for [rectified Adam](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/rectified_adam.py) optimizer.

This GitHub keras repo is mainly for bugs and performance related issues. For any discussion on s

[2021-08-20 19:18] #14529 closed

[2021-08-20 19:26] davzaman commented on #14047
Same situation as @unsatcore

- Wrote custom code, and get the matmul exception when using mixed precision. This happens on multiple different machines (different GPUs but same versioning).
- OS Ubuntu 18.04.5
- TF 2.4.1
- Python 3.8.3
- CUDA 11.0
- GPUs tried:
  - Tesla P40 24GB
  - V100 NVIDIA 32GB
  - A100 NVIDIA 40GB

[2021-08-20 19:53] jvishnuvardhan commented on #14523
@MovEaxEax Please share a simple standalone code to reproduce the issue.

As mentioned by @bguetarni , shape mismatch or loss selection or broadcasting may be affecting the training.

Please check a tutorial https://machinelearningmastery.com/binary-classification-tutorial-with-the-keras-deep-learning-library/ that may help you. Thanks!

[2021-08-20 20:36] jvishnuvardhan commented on #14522
@JosuaJoker Can you share a standalone code to reproduce the issue?

Whenever you have multiple inputs/outputs, it is always better to pass them as a dictionary ( during training data as well as during compiling the model. ) Please check a code example here https://github.com/tensorflow/tensorflow/issues/48511#issuecomment-819828310

[2021-08-20 21:06] #14540 closed

[2021-08-20 23:08] yuh8 commented on #4875
@aks2193 @hassaanmahmood
I have the exact same issue; I am using custom functions/schedules/layers which cannot be serialized by keras. I cannot use save model, and saving and loading weights give very poor results. The way I got away with this is to use to the following saving procedure.
`tf.keras.models.save_model(model, './generator_model/', include_optimizer=False)
model_new = tf.keras.models.

[2021-08-20 23:47] jvishnuvardhan commented on #14502
@Burnfireblaze Interesting. Can you please share a standalone code to reproduce the issue? Just format the code in pdf format, and make it as a standalone code so that we can reproduce and find root-cause of the issue. Thanks!

[2021-08-21 01:16] yuh8 commented on #12094
This has worked for me for saving and loading weights

- use `model.to_json()` to save your architecture config only without weights, and training configuration
- save weights using `model.save_weights()`
- load model using `model_new = tf.keras.models.model_from_json(model_json)`
- compile model using `model_new.compile()`
- load weights using `model_new.load_weights()`
 After doing above, I was

[2021-08-21 01:19] yuh8 commented on #4875
Another possible solution to work with model.save_weights() and model.load_weights()
This has worked for me for saving and loading weights
use `model.to_json()` to save your architecture config only without weights, and training configuration
save weights using `model.save_weights()`
load model using `model_new = tf.keras.models.model_from_json(model_json)`
compile model using `model_new.compile()

[2021-08-21 04:38] ucasiggcas opened #15218 "about the Dropout"
hi,dear all
when use Dropout as the help down, I got confused, **what sum is not changed** ??
[code]
[code]
could you pls help me ?
thx
same as the [issue in tensorflow/tensorflow](https://github.com/tensorflow/tensorflow/issues/51593)

[2021-08-21 06:15] jvishnuvardhan commented on #14590
Closing due to lack of recent activity. Hope this was resolved for you. Thanks!

[2021-08-21 06:15] #14590 closed

[2021-08-21 13:44] tibbe opened #15219 "FunctionalPreprocessingStage.adapt doesn't seem to actually adapt."
------------------------

(Originally filed as https://github.com/tensorflow/tensorflow/issues/50820 with more context.)

### System information

Google Colab

-   **Have I written custom code (as opposed to using a stock example script
    provided in Keras)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
-   **TensorFlow installed from (source or binary

[2021-08-21 18:54] innat opened #15220 "Add `memory_usage_info` functionalities - new parameter for `model.summary()`"
**System information**.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No) : No

**Will this change the current api? How?** Ans: It would enhance.
**Who will benefit from this feature?** Ans: `keras` practioners.

**Description**
Many times it's better to know about GPU memory consumption for DL models to avoid potential **out-of-memory** errors either at the beginn

[2021-08-21 22:27] n33lkanth opened #15221 "Is there a way in Keras to apply class_weight functionality if I modify model.fit() method ?"
Hi There,
I am working on a model which has 4 outputs. Each output gives prediction for (say) 6 sound events (each of the 4 output layer has 6 neurons ) for same input but different resolution. Now, the logic is I should give more preference to the branch which gives smallest loss by multiplying the loss with 1, for other three branch losses I need to multiply loss with 0.1. To achieve this I have

[2021-08-22 14:43] y-he2 opened #15223 "Please warn or handle when a list is used as validation_data instead of a tuple, in model.fit()."
**System information**.
TensorFlow version (you are using): latest version of **keras/keras/engine/data_adapter.py**
Are you willing to contribute it (Yes/No) : yes

**Describe the feature and the current behavior/state**.
I got very confused when passed a list (instead of tuple) into the model.fit parameter **validation_data**:
[code]
and got a different/not expected training result compared to w

[2021-08-22 16:40] relativeflux commented on #14047
I raised this in a [new issue](https://github.com/keras-team/keras/issues/15140), and it has been fixed. The cause, as I suspected, was incorrect dtype for the initial state tensor.

But the fix seems not to be present in TF 2.6.0... I'm still seeing the same error. I don't know how the TF/Keras teams integrate bug fixes, will this only be available in the next (presumably minor) release, or is it

[2021-08-22 17:34] tanguycdls commented on #14888
@haifeng-jin Do you have any idea on why we see that behavior: our models have a lot of inputs and so a lot of layers and currently the loading memory consumption is very large for what it is. We tried reducing the dtype quality but it does not reduce the ram enough.

[2021-08-22 17:44] rschumi0 opened #15224 "ConvLSTM2D layer wrong computation"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras: no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the problem**.
There seems to be something

[2021-08-22 17:49] rschumi0 opened #15225 "InputSpec argument ignored"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras: no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the problem**.
The `ndim` argument of the [

[2021-08-22 17:52] rschumi0 opened #15226 "InputSpec missing float64 support and wrong error message"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras: no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the problem**.
The [InputSpec](https://www.

[2021-08-22 23:08] marcusturewicz opened #15229 "Add NFNets to keras.applications"
***Transferring from https://github.com/tensorflow/tensorflow/issues/47233 as requested***

**System information**

- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes, as much as possible but probably need help.

**Describe the feature and the current behavior/state.**

DeepMind recently introduced their new "Normalizer-Free" [NFNets](https://arxiv.org/abs

[2021-08-23 06:13] triper1022 opened #15230 "Verbose of model.fit can not display the loss of Custom loss function"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
YES, I ran it on [colab tpu runtime(shared notebook)](https://colab.research.google.com/drive/1Et1psrCxIBf9q_tPIN0ki3_i-YSW2eH_?usp=sharing).

- TensorFlow version (use command below):
2.6
- Python version:
3.7

**Describe the problem**.
**Describe the current behavior**.
I created

[2021-08-23 08:35] sushreebarsa commented on #14435
@y-he2 Could you please refer to the [link](https://keras.io/examples/generative/neural_style_transfer/) and let us know if it helps? Thanks!

[2021-08-23 08:38] sushreebarsa commented on #14437
@aratimcs Could you please refer to the[ link ](https://keras.io/guides/training_with_built_in_methods/)and let us know if it helps? Thanks!

[2021-08-23 08:54] Divyanshu-Singh-Chauhan commented on #15223
@y-he2
I would like to take up this issue.

[2021-08-23 09:39] harishsg99 commented on #15230
You can use tf.keras.compile(loss= custom loss function name , optimizer = optimizer)

[2021-08-23 14:48] AdityaKane2001 commented on #15162
@qlzh727 @ymodak @mattdangerw

This is no longer an issue. Although grouped convs don't work on CPU yet, but are working on GPUs and TPUs.
The [gist](https://colab.research.google.com/gist/AdityaKane2001/369fd6f2a6a737a7449bd9449f6ac1ca/groupedconvissue.ipynb) in earlier comment works fine, even with my custom model.

Thanks.

/cc @sayakpaul @MorganR

[2021-08-23 14:48] #15162 closed

[2021-08-23 15:46] eumel2 opened #15232 "Stateful LSTM gives different predictions for different input shapes"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in Keras)**: custom code
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
-   **TensorFlow installed from (source or binary)**: binary
-   **TensorFlow version (use command below)**: 2.5.0
-   **Python version**: 3.8.10
-   **Bazel version (if compiling fro

[2021-08-23 15:54] ddrakard commented on #15211
Pull request #15233 implements this feature.

[2021-08-23 16:59] jvishnuvardhan commented on #14671
@nemo9cby Can you please try with recent TF/keras versions? I tried with `TF2.6` and `python 3.8` and I didn't notice any reproducibility issues.  Thanks!

[2021-08-23 17:22] jvishnuvardhan commented on #14657
@kiflowb777 @Kshitij-AI Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue?

Please check with `TF2.6` and let me know whether the issue persists. Thanks!

[2021-08-23 19:40] jvishnuvardhan commented on #14533
@nisarkhanatwork Can you please share a standalone code to reproduce the issue? Also, try with recent `TF2.6` and `tf-nightly` and let us know whether issue is persisting with the new versions also. Thanks!

[2021-08-23 21:33] #15230 closed

[2021-08-23 22:11] OrangeOlko commented on #2743
Hope this helps someone.

I got the exactly the same results each run on GPU with Tensorflow version 2.4.1 using link mentioned by @llodds above:

`pip install tensorflow-determinism`

[code]

Same results I got after each run of pair `model.compile` - `model.fit`.
If I just run `model.fit` it will generate next random result. And again and again until I run `model.compile`- and in this case I got

[2021-08-23 23:53] jvishnuvardhan commented on #15049
Closing due to lack of recent activity. Please feel free to reopen when you have more information. Thanks!

[2021-08-23 23:53] #15049 closed

[2021-08-23 23:57] jvishnuvardhan commented on #14609
Closing due to lack of recent activity. Please feel free to reopen when you have more information. Thanks!

[2021-08-23 23:57] #14609 closed

[2021-08-23 23:59] jvishnuvardhan commented on #14602
Closing due to lack of recent activity. Please feel free to reopen when you have more information. Thanks!

[2021-08-23 23:59] #14602 closed

[2021-08-24 07:34] kacper-kleczewski commented on #15066
Proposed solution doesn't help. Do you have plans to fix issue with get_shape?

[2021-08-24 08:44] #15057 closed

[2021-08-24 11:17] tarun-bisht commented on #15223
@y-he2, I made a PR #15237 for this issue.

[2021-08-24 11:20] tilakrayal commented on #15183
@jvishnuvardhan ,
I was able to reproduce the issue in tf v2.4,v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/21e79f78bfed98c0cdf813590435cd19/untitled57.ipynb).

[2021-08-24 11:28] tilakrayal commented on #15194
@brian36 ,
Can you please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/42403) with similar error.It helps.Thanks

[2021-08-24 11:35] starboyvarun opened #15238 "keras.engine.topology"
![2](https://user-images.githubusercontent.com/26819449/130608888-a88a346c-242e-4f65-b524-133460a8cda8.JPG)

I have installed all packages separately as mentioned. Still got this Error.

![2 1](https://user-images.githubusercontent.com/26819449/130608879-570d7983-071a-4e04-bb39-9151d28f2cd8.JPG)
Even did this as mentioned in stack overflow:
from tensorflow.keras.layers import Layer, InputSpec
I tr

[2021-08-24 11:41] tarun-bisht commented on #15238
What TensorFlow version are you using?

[2021-08-24 11:44] tarun-bisht commented on #15238
[code]

[2021-08-24 11:54] tilakrayal commented on #15204
@EthanIrby8 ,
Can you please take a look at [issue](https://github.com/tensorflow/tensorflow/issues/23698#issuecomment-439063103) and this [comment](https://stackoverflow.com/questions/51223936/tensorflow-invalidargumenterror-indices-while-training-with-keras/51224078#51224078) from a similar StackOverflow issue and let us know if it helps. Thanks!

[2021-08-24 11:56] starboyvarun commented on #15238
Actually, the application I was trying to run wanted to use  tensorflow==2.2 and keras==2.4.3
but when I tried this command.
![4 1](https://user-images.githubusercontent.com/26819449/130611950-dc7bd007-2448-4e7c-aeb6-ecb521221df6.JPG)

My version is still this :
![4](https://user-images.githubusercontent.com/26819449/130611649-24111077-5d83-47ae-9f87-48d508856593.JPG)

[2021-08-24 12:10] tilakrayal commented on #15206
@jvishnuvardhan ,
I was able to reproduce the issue tf v2.5, v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/89c05883c44906cdf514cdefea6ce074/untitled59.ipynb).

[2021-08-24 12:12] tilakrayal commented on #15207
@yvanminyem ,
 In order to expedite the trouble-shooting process, could you please provide complete code you are using.Thanks!

[2021-08-24 12:22] tarun-bisht commented on #15238
If you are working locally then create a new environment
[code]
also I noticed that you said you want version tensorflow==2.2 and keras==2.4.3 but you are installing tensorflow 1.4 and keras 2.2

[2021-08-24 12:23] tarun-bisht commented on #15238
I am running tensorflow 2.4 and keras 2.4 for me
[code]
works fine.

[2021-08-24 12:27] tilakrayal commented on #15211
@ddrakard ,
The issue will move to closed status once the PR is merged.

[2021-08-24 12:29] tarun-bisht commented on #15238
also error says that these versions are incompatible if you want tensorflow greater than 2.0 then you do not need to install keras, its part of tensorflow.

[2021-08-24 12:34] tilakrayal commented on #15214
@Tylersuard ,
Can you please take a look at this links for similar error.[Link1](https://stackoverflow.com/questions/59823424/grpc-14-unavailable-failed-to-connect-to-all-addresses),[Link2](https://stackoverflow.com/questions/42397370/distributed-tensorflow-save-fails-no-device).It helps.Thanks

[2021-08-24 12:41] tilakrayal commented on #15218
@ucasiggcas ,
Can you please refer the link for information regarding tf.keras.layers.Dropout.It helps.[Link1](https://towardsdatascience.com/understanding-and-implementing-dropout-in-tensorflow-and-keras-a8a3a02c1bfa),[Link2](https://colab.research.google.com/github/d2l-ai/d2l-tensorflow-colab/blob/master/chapter_multilayer-perceptrons/dropout.ipynb).Thanks!

[2021-08-24 12:59] starboyvarun commented on #15238
![5](https://user-images.githubusercontent.com/26819449/130620259-4e0b6266-fea4-4fe9-8fe0-91df7ffa9b30.JPG)

I already used 2.4 and 2.4 .3 . this Error comes then.

![5 1](https://user-images.githubusercontent.com/26819449/130620281-dcf4886c-fb98-4e0c-80fa-fc11d2d4483a.JPG)
And see this is not working for me.
Thank You.

[2021-08-24 13:01] tilakrayal commented on #15224
@jvishnuvardhan ,
I was able to reproduce the issue in tf v2.5.v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/69627faf0e3237ceea5f2f406d7f21e3/untitled60.ipynb).

[2021-08-24 13:17] geajack commented on #341
This seems like such an obvious feature. Why is it not implemented? I don't understand the argument that it's hard to do because "every layer inits the weights in a different manner". After all, when you first build and run the model, it inits the weights somehow, it's just a matter of calling the code that does that a second time.

[2021-08-24 13:29] tilakrayal commented on #13997
@lsorgi ,
Can you please take a look at this links for similar error.It helps.[Link1](https://stackoverflow.com/questions/52357542/attributeerror-tensor-object-has-no-attribute-numpy),[Link2](https://github.com/tensorflow/tensorflow/issues/27519).Thanks

[2021-08-24 13:34] tilakrayal commented on #13992
@taekeharkema ,
Also please refer this [link](https://www.quora.com/How-do-you-fix-AttributeError-NoneType-object-has-no-attribute-get) for similar error.It helps.Thanks!

[2021-08-24 13:41] tilakrayal commented on #15225
@jvishnuvardhan ,
I was able to reproduce the issue in tf v2.5,v2.6 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/2fed28117cf080e7e3ba4037c3cf7104/15225.ipynb).

[2021-08-24 14:01] tilakrayal commented on #13978
@TakeByEarn ,
Can you please take a look at this SO [link](https://stackoverflow.com/questions/44627977/keras-multi-inputs-attributeerror-nonetype-object-has-no-attribute-inbound-n) with similar error.It helps.Thanks!

[2021-08-24 14:04] tilakrayal commented on #13975
@brethvoice ,
Can you please try as commented in this [link](https://github.com/tensorflow/tensorflow/issues/38651#issuecomment-618552240) and also please try to execute the code with latest stable version 2.6 and check if the issue still persists.Thanks!

[2021-08-24 14:28] tarun-bisht commented on #15238
Please confirm your version again, In above screenshot your version says 2.6 but you told you used 2.4. Also try
[code]
if that works.

[2021-08-24 14:51] tarun-bisht commented on #15238
I also checked Janggu dependencies they want you to have tensorflow 2.2 and keras 2.4.
First install these specific versions. Also tensorflow 2.2 requires python 3.8.
[code]
I also tried this in colab with above version in google. Colab and its working for me
![Screenshot_20210824-201347~2](https://user-images.githubusercontent.com/47741102/130638768-90fff8dc-d7fd-45b0-bee9-e578e2c15fa5.png)
![Scr

[2021-08-24 15:09] innat opened #15239 "3 Possible Essential Features for `model.summary()`"
**System information**.

TensorFlow version (you are using): 2.4.1
Are you willing to contribute it (Yes/No): No

---

**Describe the feature and the current behavior/state**.

Total 3 Feature Request, illustrated below.

## [Feature Request 1]: Add Model Memory Usage
Many times it's needed to know about the **consumed size of GPU memory** for DL models to avoid potential **out-of-memory** errors

[2021-08-24 15:09] #15220 closed

[2021-08-24 18:50] AdityaKane2001 opened #15240 "Interested in adding RegNets to tf.keras.applications"
**System information**.

TensorFlow version (you are using): 2.6.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

RegNets are used in self supervised vision works like SEER. They are also highly efficient and scalable architectures. I intend to train and incorporate RegNet-{X, Y, Z} in `tf.keras.applications`. I think having models that a

[2021-08-24 19:17] ddrakard opened #15241 "The documentation might not explain how to completely build Keras"
**URL(s) with the issue:**.

https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md

**Description of issue (what needs to be changed):**.

To the best of my knowledge, the information to build Keras is stored in `CONTRIBUTING.md`. This can be used to to create a working modified version of Keras. However some features which rely on protobuf appear not to work. Specifically `keras.models.

[2021-08-24 20:14] qlzh727 commented on #15241
What's the command to reproduce this error?

Since the bazel build for the savemodel target contains the dependency to the proto generate target, the bazel build/test should generate the py from the proto file and make it work. Did I miss anything?

https://github.com/keras-team/keras/blob/8de906163ab14f404fa551c599b808ee856138cc/keras/saving/BUILD#L46

[2021-08-24 20:32] sunw70 commented on #15121
Updates about this?

[2021-08-24 22:18] #15185 closed

[2021-08-24 22:41] ymodak commented on #15210
possibly related to https://github.com/keras-team/keras/issues/11927

[2021-08-25 00:40] jvishnuvardhan commented on #15183
I think this may be intended behavior.

triage notes:
Submodules of a subclassed model can be accessed before compilation but not after `model.compile`

[2021-08-25 03:24] siwang2011 opened #15244 "A question about keras.backend.function's performance"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Centos7/8 or Windows10
- TensorFlow installed from (source or binary):  No
- TensorFlow version (use command below):  2.1.1
- Python version:  3.7
- GPU model and memory:  RTX2060 6GB or Running on the Cpu

**Describe

[2021-08-25 04:35] Gabriel0598 commented on #14632
Hello, i updated the TensorFlow through Anaconda Prompt with command line: `pip install tensorflow --update`, after it is in version 3.1.1. With it the problem was solved, it in my case, because i'm using the tensorflow through Anaconda platform.

[2021-08-25 04:48] starboyvarun commented on #15238
can you send this google collab link?
thank you

[2021-08-25 05:27] npucino commented on #1597
This worked for me!

[2021-08-25 07:52] starboyvarun commented on #15238
Okay, thank you.
accept my LinkedIn request.
thankyou.

[2021-08-25 07:53] #15238 closed

[2021-08-25 08:17] AdityaKane2001 commented on #15240
@ymodak

I'd really like if you (and the Keras team) could look into this as soon as possible, so that I can start relevant development and training.
There are 36 models to train (12 each of X, Y and Z) and each one takes roughly >20 hours. So it'd be great if we could start soon.

[2021-08-25 10:18] OniReimu opened #15245 "[tf2.6] Model saving error for a customized model and loss function"
This issue was initially posted on [tensorflow-repo](https://github.com/tensorflow/tensorflow/issues/51665) and is waiting for the response from here.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
-- Dockerfile:
[code]
-- requirements.txt:
[code]
and
`docker bui

[2021-08-25 10:49] krishrustagi commented on #15239
I am implementing the expand_nested in the model.summary(). I will make a PR when I will be done!

[2021-08-25 10:54] suneeta-mall opened #15246 "BaseLogger callback seems broke in v2 - KeyError and wrong seen sample compute"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): TF 2.4.1
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):
- Python version: 3.8.3
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact comma

[2021-08-25 11:15] krishrustagi commented on #15239
I have made the changes. I have followed the [Contributing guidelines](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md). But I want to visualize the changes by myself. How can I do that?

I have made the changes but as obvious I cannot `import keras` to run my code. How can I locally check that?

[2021-08-25 11:29] eli-osherovich opened #15247 "Inconsistent behavior of tf.keras.losses.binary_crossentropy"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian testing
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.7
- Python version: 3.9
- Bazel version (if compiling from source): 4.1
- GPU model and memory: NA
- Exact com

[2021-08-25 11:29] eli-osherovich commented on #15247
Not sure if this is a Keras or TF issue.

[2021-08-25 13:19] #15155 closed

[2021-08-25 13:52] tarun-bisht opened #15248 "Test cases failed for training_test, culprit is TestFunctionTracing class"
Test cases failed when running `bazel test keras/engine:training_test` to test training module.

**System information**.
- OS Platform and Distribution (Linux Manjaro 21.1):
- Bazel version (4.1.0)

Development environment is setup using [CONTRIBUTION.md](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md)

**Describe the problem**.

Test cases failed for training, by tracing logs I f

[2021-08-25 14:07] EthanIrby8 commented on #15204
@tilakrayal Sorry I should have closed this issue a few days ago. I was able to fix the bug! Thanks

[2021-08-25 14:07] #15204 closed

[2021-08-25 15:18] River861 opened #15249 "A Suspected Bug in binary_crossentropy"
Hi, I found that the the calculation result of `binary_crossentropy` loss function is different from other deep learning libraries, such as theano.

Here is an example code using keras2.6 and tensoflow2.6.0:
[code]
The result is:
[code]

And this is the code using theano1.0.4:
[code]
The result is:
[code]

I then found the cause of the inconsistency is that, tensorflow use the `epsilon`  to cacula

[2021-08-25 17:17] krishrustagi opened #15250 "Adding the expand_nested feature in `model.summary()`"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-08-25 21:40] sivaramakrishnan-rajaraman opened #15253 "Implementing cauchy-schwarz divergence and negative log likelihood as custom loss functions in Keras"
I am training a VGG-16 model toward a multi-class classification task with Tensorflow 2.4, Keras 2.4.0 versions. The y-true labels are one-hot encoded. I use a couple of custom loss functions, individually, to train the model. First, I created a custom cauchy-schwarz divergence loss function as shown below:

[code]
Then, I used a negative log likelihood custom loss function as shown below:

[code]

[2021-08-27 00:44] vikasrupadhyay opened #15258 "Loading weights from tf.compat.v1.keras.layers.CuDNNLSTM to tf2.keras.layers.LSTM"
Hi,

I am new to Keras and have been using tf.compat.v1.keras.layers.CuDNNLSTM  in my network architecture.

It seems to be a faster implementation for training compared to the tf2 LSTM ( Cudnn ) version.

Is there a way to load the weights from a model trained with tf.compat.v1.keras.layers.CuDNNLSTM  to tf2's LSTM. Loading the weights directly leads to errors.

Is there a recommended approach to

[2021-08-27 08:59] marcnorn opened #15259 "Unable to fit LSTM layer with default parameters?"
**System information**
- Windows 10 Home version 21H1
- TensorFlow version: 2.5.0
- Python version: 3.9.6
- Processor:  i7-10750H CPU @ 2.60GHz
- RAM: 16 GB
- GPU model and memory: NVIDIA GeForce RTX 2060 6 GB

**The Problem**

Hello

I have a problem I have been sitting with for an incredibly long time, I hope you can help me with.

In short, I am trying to train a Sequentail model with an LSTM l

[2021-08-27 12:02] Kaveh8 opened #15260 "Parameter to ignore very first epochs in ModelCheckpoint"
I think it will be good if you add an argument to some built-in callbacks. i.e. `ModelCheckpoint` to ignore the very first epochs. Mostly in first epochs developers don't want to apply any action, since the model may not be in a desirable level.

For example, while using `ModelCheckpoint` with `save_best_only` parameter, I do not want to apply this on the first 5 epochs. My model starts from zero,

[2021-08-27 12:42] OniReimu opened #15261 "[tf2.6] Loaded subclassed-Model fails to be retrained"
This has been posted in the [tensorflow repo](https://github.com/tensorflow/tensorflow/issues/51712).

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
-- Dockerfile:
[code]
-- requirements.txt:
[code]
and
`docker build -t python-docker .`

- Mobile device (e.g. iPh

[2021-08-27 13:06] angelorobo opened #15262 "ModuleNotFoundError: No module named 'keras.api'"
**Describe the problem**.

I'm using Macbook Pro to run a server which was used to deploy on AWS.

I have received an unknown error when running airflow. We do install Keras.

- `RUN pip install "Keras==2.3.1"`
- `RUN pip install "apache-airflow[celery,devel,postgres,redis,s3,ssh]==1.10.9"`
- `RUN pip install "keras-models==0.0.7"`
- `RUN pip install "tensorflow_cpu>=2.1.0"`

But we are getting th

[2021-08-27 13:57] innat opened #15263 "Adding Object-Detection / Segmentation applications to tf.keras.applications"
**System information**
- TensorFlow version (you are using): TF 2.x
- Are you willing to contribute it (Yes/No): Yes

## Describe the feature and the current behavior/state.

Currently, we have a convenient feature in `tf.keras.applications` to use sota **classification models**. To enhance further, I think it would be great to have sota **object detection (OD)** (e.g efficient-det) and **segmenta

[2021-08-27 23:36] jvishnuvardhan commented on #13916
@fiorelloccio This is a stale issue.

When I updated one line in your code, everything worked as expected. The line I added is

`model.add(Flatten(input_shape=X_train.shape[1:]))`

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/371cd2f1406c031dd399a1f0ce75626f/untitled.ipynb).

I am closing this issue as it was resolved. Thanks!

[2021-08-27 23:36] #13916 closed

[2021-08-27 23:52] jvishnuvardhan commented on #13915
@nistrup This is a stale issue.

I tried running your code with recent TF/keras and I noticed different kind of error as shown below. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/b675a6a08483dbd3dfe71dec776f71af/untitled.ipynb)

Can you please share updated code so that I can reproduce the issue. Thanks!

[2021-08-28 00:14] jvishnuvardhan commented on #13881
@9rince This is a stale issue.

May be this was an issue with older versions. But, I don't see any discrepancy with `TF2.6`. Please note that i tried with a simple model and noticed `loss` and `metric` are matching when using `mean_squared_error`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/7853d34204e9cec1f288bf764b2a561a/tensorflow_tensorboard_regression.ip

[2021-08-28 00:51] chang48 commented on #15175
I encountered the same issue. The error can be triggered by just executing:

`from deepsegment import DeepSegment`

Unfortunately DeepSegment's author has archived the project, not sure we are getting any help from the author. If the OP is still interested in sentence segmentation, DeepSegment's author recommended [**NNSplit**](https://github.com/bminixhofer/nnsplit).

[2021-08-28 01:36] OniReimu commented on #15261
Ok, I tried it out myself and here is what I found and hence the possible workaround.
**BOTH** `get_config` and `from_config` **MUST** be explicitly defined.

If only `get_config` is defined will end up getting:
[code]

If only `from_config` is defined will end up getting the same error of:
[code]

It works with both explicitly defined.

[2021-08-28 10:31] Burnfireblaze commented on #14502
@jvishnuvardhan @ariG23498 Yeah I will be sending that in just a while

[2021-08-28 10:38] Burnfireblaze commented on #14502
@ariG23498 Here's the link for the ipynb notebook
https://colab.research.google.com/drive/1T-td48ZHlTQ6z8wbERF3MOWbHBJvEQGY?usp=sharing

[2021-08-28 10:43] Burnfireblaze commented on #14502
[Project.ipynb - Colaboratory.pdf](https://github.com/keras-team/keras/files/7070568/Project.ipynb.-.Colaboratory.pdf)

@jvishnuvardhan I have included the pdf file like you asked for. Any help would be much appreciated guys. If you guys want the dataset its available in Kaggle:
https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia

Please let me know if you guys need anything.

Regards,
@

[2021-08-28 13:29] meliksahturker commented on #14452
I confirm this.

[2021-08-28 17:07] mgkumar138 opened #15266 "TF RNN subclass model called twice although sequence length is one"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- P

[2021-08-28 17:14] innat opened #15267 "Add `SE-Net` and `SE-ResNeXt ` to keras.applications"
**System information**.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No): Yes. As much as possible.

**Describe the feature and the current behavior/state**.

Model like [`SEResNeXt`](https://arxiv.org/abs/1709.01507)( [50, 101] ) and **SE-Net[154]** are absent (for unknown reason to me) in `keras` application along with other models. So, I think, It would be a go

[2021-08-28 17:14] innat opened #15268 "Add `SE-ResNet` to keras.applications"
**System information**.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No): Yes. As much as possible.

**Describe the feature and the current behavior/state**.

Model like [`SE-ResNet`](https://arxiv.org/abs/1709.01507)( [18, 34, 50, 101, 152] ) are absent (IDK why) in `keras` application along with other models. So, I think, It would be a good addition to the keras

[2021-08-28 17:14] innat opened #15269 "Add `ResNet [18, 34] ` to keras.applications"
**System information**.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No): Yes.

**Describe the feature and the current behavior/state**.

Currently, we have `ResNet 50/101/152`. However, sometimes it's needed to test the idea initially with some small models quickly and for that, if we want to choose a res-net-based model we can't just pick 50 because it's still t

[2021-08-28 17:14] innat opened #15270 "Add `ResNeXt [50, 101]` to keras.applications"
**System information**.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

`ResNeXt` is a well-known classification model that is weirdly missing from the `keras.applications`. The idea that is presented [here](https://arxiv.org/abs/1611.05431) is great and I think it's fit for the model member in the

[2021-08-28 19:06] don-tpanic opened #15271 "Missing _keras_logits from model.predict(x) leads to difference in loss evaluation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-08-28 19:42] innat commented on #15271
You should use `CategoricalCrossentropy` instead of `BinaryCrossentropy` because you're using `softmax` activation in your last layer.

[2021-08-28 19:47] don-tpanic commented on #15271
The issue is not about the loss function I think. I have changed the activation to `sigmoid` and the behaviour still exists. I think for some reason this attribute gets lost when using `model.predict(x)`. This is a problem because internally the loss function always checks this attribute and decide whether to compute loss with logits or not.

[2021-08-29 07:44] ariG23498 commented on #14502
Hey @Burnfireblaze
The problem is with the input shape of the conv layer and the shape of the images.
In the data loader the images are shaped `244, 244, 3` while the input conv layer expects the images to be of shape `224, 224, 3`.

This is the [Kaggle kernel](https://www.kaggle.com/aritrag/keras-issue) that I have built which works fine with aligned shapes.
Hope I could solve your issue 😄

[2021-08-29 09:30] josuerocha commented on #10842
I am still able to reproduce the issue on Python 3.9.0 and Tensorflow 2.6.0.

 I tried WSL 2 but the speedup relative to Windows without multiprocessing was of just 20%.

Is there any alternative or solution ?

[2021-08-29 11:44] javid-norouzi commented on #11927
Wow I'm having the same problem.  and nothing yet 🤦🏼‍♂️

[2021-08-29 13:05] comihai commented on #4161
Hi,
I have tried implementing the code suggested by @zoltan-fedor which seems to have worked for so many others, but I'm getting into another problem `tensorflow/core/grappler/clusters/utils.cc:81] Failed to get device properties, error code: 3` when creating a `BatchNormalization` layer from keras. I am running keras 2.2.0 with tensorflow-gpu 1.8 in an anaconda environment. Inside conda environme

[2021-08-29 14:05] quantumalaviya commented on #15269
Can I work on this?

[2021-08-29 14:12] innat commented on #15269
@quantumalaviya of course. Just send a PR. It should be welcomed.

[2021-08-29 14:30] innat commented on #14502
@ariG23498
If you encode your label to one-hot encoded and thus use 2 activation layers in your model's last layer then you should use `softmax` and the corresponding loss function. For example: in your kernel, your true labels are one-hot encoded that's why you need to change as follows

[code]

Otherwise, if your labels are 1D binary array, then you would do

[code]

[2021-08-29 17:29] javid-norouzi commented on #11927
In my case there was bug in my custom loop I had batches of size o and 1 which makes sens, the variance and the mean would be undefined in these cases

[2021-08-29 20:21] quantumalaviya commented on #15269
So, I just wrote the code but I notice some differences in the number of parameters when compared to https://github.com/qubvel/classification_models. Any suggestions on how to add weights?

[2021-08-29 20:37] hdavis472 opened #15273 "layers.TimeDistributed does not change number of weights or network architecture"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution: Windows 10 21H1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  2.5.0
- Python version: 3.9.6

**Describe the problem**.

[code]

Running the above code will show that the output shapes of each layer a

[2021-08-30 00:17] thomasbbrunner opened #15276 "Flatten layer should support sparse tensors"
**System information**.

TensorFlow version (you are using): 2.6.0
Are you willing to contribute it (Yes/No) : depends

**Describe the feature and the current behavior/state**.

Currently, the keras.layers.Flatten layer cannot process sparse tensors. Yes, the documentation states that only some keras layers support sparse tensors, but Flatten is a common first layer in NNs and should be able to ha

[2021-08-30 02:03] vikasrupadhyay commented on #15258
@yuyang-huang and @bzamecnik : Any Ideas ?

[2021-08-30 08:44] bzamecnik commented on #15258
It's working for me well without any problems. In TF 2 the default values are compatible with CuDNN. Make sure the parameters in the old and new model match. If your RNN is within a nested Functional model, make sure to upgrade to TF 2.6 or apply a small patch. See  https://github.com/tensorflow/tensorflow/issues/49214. Possibly post a sample code and the error message.

[2021-08-30 09:02] kumariko commented on #15273
@hdavis472 Could you please refer to [**`link`** ](https://stackoverflow.com/questions/44611006/timedistributeddense-vs-dense-in-keras-same-number-of-parameters) and let us know if it helps. Thanks!

[2021-08-30 09:10] y-he2 commented on #14435
Hmm thats kinda interesting, it did went into each layers and computed the loss.
Thanks for example, we can close the issue.

[2021-08-30 09:10] #14435 closed

[2021-08-30 09:44] kumariko commented on #13970
@paulhigazi We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.If it is resolved then please feel free to move this issue

[2021-08-30 09:50] kumariko commented on #13968
@YuvalSilman We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. please provide a code snippet in comment to reproduce the issue reported here. we will get you the right help.Thanks!

[2021-08-30 18:08] mattdangerw commented on #15061
I believe this was a bug in 2.5, that is now fixed. Can you check if using 2.6 fixes the issue (colab should use it by default now).

Thanks for filing!

[2021-08-30 19:00] nemo9cby commented on #14671
Hi @jvishnuvardhan, thanks for your reply. Yes, as mentioned in our description, I have observed this issue in Keras versions ranging from 2.2.2 and 2.2.5. I am wondering if any solutions exist for the old versions of Keras?

[2021-08-30 19:24] mattdangerw commented on #15219
Thanks for the bug! We will take a look. Worth noting that the `FunctionalPreprocessingStage` is not an exported symbol of Keras, experimental or otherwise. For now, the first code sample you posted (calling adapt individually on each layer) is the correct approach.

We are definitely aware that having no convenient way to adapt a set of layers at once is a big usability problem, and are looking a

[2021-08-31 00:04] moralapablo commented on #14954
Is there any idea on how this change in the constraints behaviour could be approached?

[2021-08-31 00:14] peri044 commented on #14913
@k-w-w Can you please let me know any suggestions you have on this issue ?  Thanks

[2021-08-31 02:14] DinhNguyen1996 opened #15281 "load_model JSONDecodeError"
When I use
import tensorflow as tf
from tensorflow import keras
from keras.models import load_model

model = load_model('D:/Dinh-NDecT/AI/Model/model_keras_fb_fn_120_2')
![image](https://user-images.githubusercontent.com/32614709/131430453-0906603b-151f-4af8-a9d9-6745908e38d9.png)

I don't know to fix. I load model in local but in colab that OK. Please help me.
My model :
![image](https://user-ima

[2021-08-31 02:42] #13839 closed

[2021-08-31 02:42] #14967 closed

[2021-08-31 02:42] #14955 closed

[2021-08-31 02:42] #14965 closed

[2021-08-31 02:42] #13668 closed

[2021-08-31 02:42] #13708 closed

[2021-08-31 02:42] #15074 closed

[2021-08-31 02:42] #15035 closed

[2021-08-31 02:42] #14588 closed

[2021-08-31 02:42] #14987 closed

[2021-08-31 02:42] #15139 closed

[2021-08-31 02:42] #14169 closed

[2021-08-31 02:42] #14613 closed

[2021-08-31 02:42] #14167 closed

[2021-08-31 02:42] #14950 closed

[2021-08-31 02:42] #14442 closed

[2021-08-31 02:42] #14235 closed

[2021-08-31 02:42] #15019 closed

[2021-08-31 03:41] #14653 closed

[2021-08-31 07:28] eli-osherovich commented on #15247
Any ideas from keras-team?

[2021-08-31 07:57] shkarupa-alex opened #15282 "MobileNetV3 models can't infer the static shape"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): any
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.8
- Bazel version (if compiling from source): no
- GPU model and memory: no
- Exact command to

[2021-08-31 08:12] pokecheater opened #15283 "Separable Conv2D allows dilation_rate!=1 and strides !=1"
Nothing serious :).

I just noticed in tensorflow 2.4 (sry can not update to 2.7 currently since I am stuck to this version because of other compatibilty issues, so I can't tell if this also affects your newest version) that the layer Separable Conv2D states in it's documentations that if I assign another value for the dilation rate than 1 the strides are not to be allowed to have another value th

[2021-08-31 11:51] Adalsteinnjons commented on #14440
This function is deprecated and was [removed on 2020-04-01](https://www.tensorflow.org/versions/r2.2/api_docs/python/tf/keras/utils/multi_gpu_model).
You can use[ tf.distribute.MirroredStrategy](https://www.tensorflow.org/versions/r2.2/api_docs/python/tf/distribute/MirroredStrategy) instead.

[2021-08-31 14:57] pokecheater commented on #15283
Update: I tested it on a second computer with tensorflow 2.7.0. And was able to see the same behavior. So this seems to be still an issue. Then another question popped up into my mind:

Why is it forbidden to use dilation rate >1 and stride >1 in conjunction on a normal convolutional layer. In pytorch this seems not to be a problem at all. I also checked some tutorials (again!) how convolutional l

[2021-08-31 15:07] chethanjjj commented on #14987
Hi, was this resolved or not?

[2021-08-31 17:29] ymodak commented on #15283
The docs are fixed with [b2f6e34](https://github.com/keras-team/keras/commit/81b6a9b369234aff58a975c5a9c5e0101b6f93a9) Thanks!

[2021-08-31 17:33] #15241 closed

[2021-08-31 20:51] ddrakard commented on #15211
This feature is implemented in commit https://github.com/keras-team/keras/commit/6caa1073be16075dd41014cc7c7bc2a373dbba01

[2021-08-31 20:51] #15211 closed

[2021-08-31 22:08] rschumi0 commented on #14979
@jvishnuvardhan The issue is not that the warning is not correct. The question is why is the warning only shown for model.predict(x) but not for model(x)?

[2021-09-01 02:52] kumariko commented on #15262
@angelorobo Could you please refer to [**`link`**](https://github.com/keras-team/keras/issues/4889) and let us know if it helps. Thanks!

[2021-09-01 03:00] angelorobo commented on #15262
@kumariko We already install Keras at the local env through dockerfile.

RUN pip install "Keras==2.3.1"

Is it possible that the models were built on Linux and can not be re-used on Macbook?

[2021-09-01 03:20] kumariko commented on #15271
@jvishnuvardhan Was able to reproduce the issue in TF v2.6 , TF v2.5 , TF-nightly please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/1b8482cb89cc11eb70a2bb690969a4c7/51241.ipynb#scrollTo=efebmgClichs).Thanks!

[2021-09-01 03:35] kumariko commented on #15261
@jvishnuvardhan Was able to reproduce the issue in TF v2.6 and  TF v2.5 . please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/477e8bc996a3e9e77dd33b0342138466/51241.ipynb#scrollTo=efebmgClichs).Thanks!

[2021-09-01 03:39] kumariko commented on #15281
@DinhNguyen1996 please do let us know which version of tf you are using. Thanks!

[2021-09-01 04:23] kumariko commented on #15266
@ymodak  Was able to reproduce the issue in TF v2.6 , TF v2.5 and TF-nightly please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/59cde232d61c55f90c8c7da00399ebce/51376.ipynb#scrollTo=8vhj22mqcbFU).Thanks!

[2021-09-01 04:29] kumariko commented on #15258
@vikasrupadhyay Could you please check https://github.com/keras-team/keras/issues/15258#issuecomment-908160181 and let us know if your issue resolved ? Thanks!

[2021-09-01 04:52] #15045 closed

[2021-09-01 04:59] kumariko commented on #13715
@MickHardins It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.6 and let us know if the issue still persists? Thanks!

[2021-09-01 05:06] kumariko commented on #13718
@Tjieco We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. If it is resolved then please feel free to move this issue to close status.Thanks!

[2021-09-01 06:37] pokecheater opened #15289 "Incomplete Convolutional docs"
Hey Keras-Team,

As I noticed the convolutional layers documentation seems to be incomplete.

Concret I am missing the layer DepthwiseConv1D in your documentation. In code this layer is available but not mentioned in the layers overview:
![image](https://user-images.githubusercontent.com/20928617/131623414-67b8d7cb-d146-4762-9d8d-28c582261978.png)
(https://keras.io/api/layers/convolution_layers/)

[2021-09-01 06:49] AdityaKane2001 commented on #15240
@fchollet

Could you please take a look at this? Thanks.

[2021-09-01 11:43] River861 opened #15290 "Inconsistency In CategoricalCrossentropy Calculation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below):  **2.6.0**
- Python version:  **3.6.13**
- GPU model and memory:  **CPU-only**

**Describe the

[2021-09-01 11:50] krishrustagi opened #15291 "Add ValueError for `plot_model` is called before model is built"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-09-01 12:35] sushreebarsa commented on #15291
@krishrustagi Could you please refer to the [link](https://www.tensorflow.org/api_docs/python/tf/keras/utils/plot_model?version=nightly) and similar[ issue ](https://stackoverflow.com/questions/50996574/error-when-trying-to-use-keras-utils-plot-model/67278641).Please let us know if it helps ?Thank you!

[2021-09-01 12:54] sushreebarsa commented on #15171
@kelvinlyy sorry for the late response!
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-01 13:04] krishrustagi commented on #15291
@sushreebarsa The problem I am talking about is different. When I write model.summary() for the model stated in my previous comment, it gives a ValueError stating about building the model first and then call the summary function, but plot_model doesn't show such type of error and directly prints the empty model name.

[2021-09-01 13:07] marcnorn commented on #15259
Thanks you are right, it is possible to run on colab. Do you have any idea what the problem might be, when I can not run it locally on my computer?

[2021-09-01 13:11] sushreebarsa commented on #15291
@krishrustagi Thank you for the update!
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-01 13:11] creatornadiran opened #15292 "Error When Loading MobileNetV3Small"
- OS : Windows 11
- Keras version: 2.6.0
- TensorFlow version: v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: 3.8.8

The code is below giving error regardless of the parameters entered:
`model = MobileNetV3Small(input_shape = (224,224,3),weights='imagenet', include_top=False, include_preprocessing = False)`

Error:
[code]

[2021-09-01 13:12] Sayantan2109 commented on #8130
in fit.generator..what is trainsetsize and testsetsize???where it is defined??

[2021-09-01 13:20] gledsonmelotti commented on #8130
https://keras.io/api/models/model_training_apis/
https://www.pyimagesearch.com/2018/12/24/how-to-use-keras-fit-and-fit_generator-a-hands-on-tutorial/

[2021-09-01 14:13] DinhNguyen1996 commented on #15281
tf 2.6.0 and keras 2.6.0
I fixed the problem. I run and save model in local when I load model is OK,. But when l down load from coblab but it does't. I don't know why.

[2021-09-01 14:53] #14477 closed

[2021-09-01 14:53] #14375 closed

[2021-09-01 14:53] #14503 closed

[2021-09-01 14:53] #14415 closed

[2021-09-01 14:53] #14396 closed

[2021-09-01 15:53] #14525 closed

[2021-09-01 15:53] #14355 closed

[2021-09-01 15:53] #14594 closed

[2021-09-01 15:53] #14460 closed

[2021-09-01 15:53] #14476 closed

[2021-09-01 16:46] krishrustagi commented on #15291
I was thinking of adding
[code]
in the plot_model function, so that if it is called and has not been built, then it will raise a ValueError.

[2021-09-01 17:15] soans1994 commented on #2711
finally

[2021-09-01 17:53] #15118 closed

[2021-09-01 18:02] ymodak commented on #15289
DepthwiseConv1D is new API and only available via pip install tf-nightly.
See https://www.tensorflow.org/api_docs/python/tf/keras/layers/DepthwiseConv1D

[2021-09-01 18:12] jvishnuvardhan commented on #14671
@nemo9cby There are lot of changes between keras 2.2.2 to 2.6. With the recent changes, going forward, we are supporting `TF2.6` or above. I would suggest you to try recent TF/keras version and let us know if this issue persists. For older issue, even if we find that there is an issue, we are not going to cherry pick update older versions. Thanks!

[2021-09-01 18:13] ymodak commented on #15292
I was able to successfully load MobileNetV3Small with TF 2.6
See colab [gist](https://colab.research.google.com/gist/ymodak/4e3497dacc843b9f0b10c41609c94361/untitled20.ipynb)
I see you are using TF 2.6 rc2, can you update to latest stable release 2.6 and try again. Thanks!

[2021-09-01 19:10] ymodak commented on #15262
I suspect that you have incompatible TF and Keras versions installed in your system. What TF version are you using?

[2021-09-01 19:27] ymodak commented on #15175
@chang48 have you tried installing keras 2.6.0 ?

[2021-09-01 19:49] innat commented on #13966
@mobassir94
Hi. I couldn't reproduce your issue either on kaggle (with `tf` 2.4.1) or clolab (with `tf` 2.6.0). The checkpoint works as expected in my case. If possible, please share a reproducible code.

And from the above training log, I think your model never compiles with monitored metric; it seems like, only the `AUC` metric was used but the `ModelCheckpoint` is used to monitor the `Accuracy`

[2021-09-01 20:15] jvishnuvardhan commented on #13966
@innat Thanks.
@mobassir94 I couldn't reproduce the issue as mentioned by @innat . As the code was not complete, I took simple `mnist` model and was able to save weights based on best val_accuracy. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c05eb71c5cb10ccf9deafccfcbe30978/untitled.ipynb).

Try running with recent `TF2.6` or `tf-nightly`and share a simple st

[2021-09-01 20:20] mobassir94 commented on #13966
hi @innat  @jvishnuvardhan
sorry for this silly question,i am not very keen in tf,here is the code that i tried 1 year ago when i faced this issue : https://www.kaggle.com/mobassir/understanding-cross-lingual-models?scriptVersionId=31925922

in my recent tf models i don't face this issue anymore,thank you

[2021-09-01 20:38] jvishnuvardhan commented on #13966
Thanks for confirming. I will close the issue as this was resolved in recent TF. Thanks!

[2021-09-01 20:38] #13966 closed

[2021-09-01 21:53] #15173 closed

[2021-09-01 22:04] angelorobo commented on #15262
- `RUN pip install "Keras==2.3.1"`
- `RUN pip install "apache-airflow[celery,devel,postgres,redis,s3,ssh]==1.10.9"`
- `RUN pip install "keras-models==0.0.7"`
- `RUN pip install "tensorflow_cpu>=2.1.0"`

@ymodak These are the install statements in the dockerfile.

[2021-09-01 22:24] ymodak commented on #15262
You can use models built on Linux with MacOS or vice versa.

Can you try changing your import from `keras` to `tensorflow.keras`?

[2021-09-01 22:53] #13948 closed

[2021-09-01 22:57] angelorobo commented on #15262
@ymodak We don't directly import keras. This is an import statement related to keras in our code.

`from keras_models.models.pretrained import vgg16_places365`

In vgg16_places365, it imports these

[code]

[2021-09-01 23:38] creatornadiran commented on #15292
Actually, I opened this issue to report a bug. I used MobileNetV2 instead of MobileNetV3. But I will update the TensorFlow version as soon as possible and try again. Thank you.

[2021-09-01 23:57] jvishnuvardhan commented on #14654
@nanhyang9 I think, this is more related to M1 chip [tensorflow_macos](https://github.com/apple/tensorflow_macos).

Please post them in their repo. We don't have any control on that TF build. Thanks!

Also, we don't have access to an M1 macbook to test this issue. Thanks!

We suggest asking on the apple developer forum:
https://developer.apple.com/forums/tags/tensorflow-metal

[2021-09-02 01:48] HuangChiEn commented on #15045
Many thanks for your guys reply !!  The problem seems have a good solution presented in here~

[2021-09-02 03:53] #15172 closed

[2021-09-02 04:10] kumariko commented on #13885
@RaspberryBoy We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. please check [**`link`**](https://stackoverflow.com/questions/52908944/keyerror-0-when-trying-to-load-a-sequential-model-in-keras). If it is resolved then please feel free to move this iss

[2021-09-02 04:15] kumariko commented on #13723
@aerkanc We are checking to see if you still need help on this issue. We recommend that you upgrade to TF2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. If it is resolved then please feel free to move this issue to close status.Thanks!

[2021-09-02 07:28] kumariko commented on #15290
@jvishnuvardhan Was able to reproduce the issue in TF v2.6 , TF v2.5 , TF-nightly please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/ea5f9ab14a440ce6da92d6e7b664bff6/51720.ipynb#scrollTo=jg0RUpoEJwHX).Thanks!

[2021-09-02 09:51] makisgrammenos opened #15296 "GPU Error: Check failed: work_element_count > 0 (0 vs. 0)"
Hey everyone,

I am experiencing a strange issue when trying to train  a 3DConv with Custom data generator.
Whne I call `model.fit(train_data,epochs=10)`  where `train_data` is the generator I get this GPU related error
`2021-09-02 12:27:24.281505: F .\tensorflow/core/util/gpu_launch_config.h:129] Check failed: work_element_count > 0 (0 vs. 0)`
I

The generator is this:

[code]

and the 3D CovNet

[2021-09-02 12:53] #15186 closed

[2021-09-02 13:04] ymodak opened #15298 "Bug with optimizer_v2.OptimizerV2.set_weights method"
Cross posted from https://github.com/tensorflow/tensorflow/issues/50859
Original Author : @suneeta-mall

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
 None
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux (Ubuntu/Debina)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile

[2021-09-02 13:53] #13943 closed

[2021-09-02 13:53] #13923 closed

[2021-09-02 13:53] #13945 closed

[2021-09-02 14:42] PaulScemama opened #15299 "raise ValueError('Optimizer must have a "lr" attribute.') - Colab works, VS code doesn't"
I ran 5 models successfully in Google Colab (where I assume they use TF 2.5), but when I try and run on my local CPU in VS code in a conda env (where I can't seem to get the TF version to be above 2.0?) a ValueError is raised (in the title of this issue).

Here is the pertinent code; I suspect it's a stupid mistake on my end, but I can't seem to figure it out

[code]

[2021-09-02 16:51] adriangb opened #15300 "MAINT: Replace os.path.join with tf.io.join"
Now that https://github.com/tensorflow/tensorflow/pull/48125 is merged, we should also replace `os.path.join` usage in this repo with the new `tf.io.join` method.

[2021-09-02 17:25] rchao commented on #15276
Triage note: can you describe more about what you think makes sense for the semantics? If you can create a short paragraph as a proposal we'll run through it with api owners to conclude whether we should have one. Thanks for opening the issue.

[2021-09-02 17:29] rchao commented on #15270
Thanks for opening the issue. Can you provide a paragraph as a proposal for justifying adding this model? If you can provide some context of how widely this is used or some citation, that would be helpful.

[2021-09-02 17:30] rchao commented on #15269
Thanks for opening the issue. Can you provide a paragraph as a proposal for justifying adding this model? If you can provide some context of how widely this is used or some citation, that would be helpful.

[2021-09-02 17:31] rchao commented on #15268
Thanks for opening the issue. Can you provide a paragraph as a proposal for justifying adding this model? If you can provide some context of how widely this is used or some citation, that would be helpful.

[2021-09-02 17:31] rchao commented on #15267
Thanks for opening the issue. Can you provide a paragraph as a proposal for justifying adding this model? If you can provide some context of how widely this is used or some citation, that would be helpful.

[2021-09-02 17:39] rchao commented on #15260
Thanks for the issue. Since ModelCheckpoint already has a wealth of complexity, will it work for you if you use a wrapper (custom) callback where it only calls ModelCheckpoint's epoch methods when epoch >= 5 for example?

[2021-09-02 17:41] rchao commented on #15259
Triage note: this may be a local configuration issue. Scott can provide some pointers here.

[2021-09-02 17:53] #15076 closed

[2021-09-02 17:56] rchao commented on #15248
Thanks for reporting. We'll take a further look into this.

[2021-09-02 18:24] innat commented on #15267
@rchao Thanks for asking.
Replying to all your requests, [#15267](https://github.com/keras-team/keras/issues/15267), [#15268](https://github.com/keras-team/keras/issues/15268), [#15269](https://github.com/keras-team/keras/issues/15269), [#15270](https://github.com/keras-team/keras/issues/15270)

There is nothing new additional argument for justification I could use compared to the arguments that a

[2021-09-02 18:30] Kaveh8 commented on #15260
@rchao  Thanks for your response. You mean that I can write a custom callback (wrapper) and in its `on_epoch_end` method, after checking the epoch number >=5, I call `ModelCheckpoint`'s epoch methods? How can I do the last part (calling ModelCheckpoint's methods)? Could you please give me an example?

[2021-09-02 19:44] sfines-clgx commented on #14367
I am also running into the same problem:

The embedding portion of my model is defined as:
`
        absl.logging.warn("Making input for: "+_transformed_name(col))
        ip = keras.layers.Input(shape=(1,), name=_transformed_name(col), dtype='int64')
        vocab = transform_output.vocabulary_by_name(_transformed_name(col))
        vocab_size = len(vocab)+2
        absl.logging.warn(f"Vocab size

[2021-09-02 20:53] #14660 closed

[2021-09-02 22:59] jvishnuvardhan commented on #15260
@Kaveh8 I implemented a custom callback that demonstrate what @rchao suggested above. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/f3bb9899132c41e1916d23e0c1efe1ed/untitled.ipynb). Thanks!

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-09-02 23:53] #14612 closed

[2021-09-03 00:39] uoyssim opened #15306 "tf.GradientTape not working properly."
I reported [this issue in tensorflow repo](https://github.com/tensorflow/tensorflow/issues/51795).

He recommended to ask this problem here.

The problem that I had is when using tf.GradientTape, losses didn't decrease.

It works fine when I use fit().

More details below.

**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Pla

[2021-09-03 01:03] jvishnuvardhan commented on #14679
@AhmedAlshoki Similar error was noticed when the model was saved in `h5` format. Saving in `tf` saved model format worked as expected. Please check [this issue](https://github.com/tensorflow/tensorflow/issues/34016#issuecomment-551207888) that was resolved earlier. Thanks!

If you notice any error when you save in `tf` format, then share a simple standalone code to reproduce the issue. Thanks!

[2021-09-03 01:04] jvishnuvardhan commented on #14206
@yashkarbhari Similar error was noticed when the model was saved in `h5` format. Saving in `tf` saved model format worked as expected. Please check [this issue](https://github.com/tensorflow/tensorflow/issues/34016#issuecomment-551207888) that was resolved earlier. Thanks!

If you notice any error when you save in `tf` format, then share a simple standalone code to reproduce the issue. Thanks!

[2021-09-03 01:05] jvishnuvardhan commented on #14173
Similar error was noticed when the model was saved in `h5` format. Saving in `tf` saved model format worked as expected. Please check [this issue](https://github.com/tensorflow/tensorflow/issues/34016#issuecomment-551207888) that was resolved earlier. Thanks!

If you notice any error when you save in `tf` format, then share a simple standalone code to reproduce the issue. Thanks!

[2021-09-03 01:09] jvishnuvardhan commented on #14164
@Abrahamma97 Please let us know whether the above suggestion worked for you or not?

If you still have an issue with recent `tf` versions, then Please share a simple standalone code to reproduce the issue.  Thanks!

[2021-09-03 05:09] rchao commented on #15260
Hello @Kaveh8, on second thought a subclass ModelCheckpoint may be even easier (as @jvishnuvardhan pointed out in the colab). Let us know if this helps. Thanks!

[2021-09-03 07:00] ysyyork commented on #15229
Any ETAs here?

[2021-09-03 08:06] Kaveh8 commented on #15260
@rchao  @jvishnuvardhan That was great. Thank you for your help.

[2021-09-03 08:06] #15260 closed

[2021-09-03 09:06] hovinh commented on #8123
Hi, here is my solution in case anyone's still interested. Thank you @jmcconnell and @maxim5 .

Problem statement: I trained UNet with 4-GPU using `multi_gpu_model`, then unable to `load_weights` during inference with a CPU or 1 GPU model.

Observation: when I print model architecture with `print(parallel_model.summary())`
![image](https://user-images.githubusercontent.com/7614509/131978571-c24959

[2021-09-03 09:06] hovinh commented on #8253
Hi, here is my solution in case anyone's still interested. Thank you @jmcconnell and @maxim5 .

Problem statement: I trained UNet with 4-GPU using `multi_gpu_model`, then unable to `load_weights` during inference with a CPU or 1 GPU model.

Observation: when I print model architecture with `print(parallel_model.summary())`
![image](https://user-images.githubusercontent.com/7614509/131978571-c24959

[2021-09-03 11:46] marcnorn commented on #15259
It would be absolutely great with some ideas for what I can try to do about it.
I have tried to set Colab's versions of TF and Python to the same as the ones I use, but this had the same outcome (works in colab and not on my machine).

[2021-09-03 12:19] innat opened #15308 "Add the source code Link of the corresponding API!"
**URL(s) with the issue:**.

Please provide a link to the documentation entry, for example, https://keras.io/guides/customizing_what_happens_in_fit/

**Description of the issue (what needs to be changed):**.
In the `tf` document, the GitHub source link is provided along with each API. But on the `keras` website, the link is absent. We're considering this is an issue because many times we need to g

[2021-09-03 14:25] kelvinlyy commented on #15171
Hi, the code snippet for reproducing the issue is as below:

[code]

[code]

[code]

[2021-09-03 16:09] krishrustagi commented on #15239
In feature request 2, I think it will be better not to make it separate and not with `model.summary()`.

[2021-09-03 16:09] #14669 closed

[2021-09-03 17:53] #14648 closed

[2021-09-03 17:53] #14645 closed

[2021-09-03 18:01] jvishnuvardhan commented on #14125
@PiotrJander This is a stale issue.

Recently `TF2.6` stable version released. Starting `TF2.6`, everything should match. Can you please check and let us know whether there is any discrepancy. If you see any discrepancy, can you please share a simple standalone code to reproduce the issue? Thanks!

If this was resolved with recent TF version, then feel free to close the issue. thanks!

[2021-09-03 19:31] jvishnuvardhan commented on #15271
@don-tpanic I looked at the difference in the loss evaluation and it is in the 7th decimal. Are you seeing higher difference?

[code]

Also,  Can you please describe why you need to assert on that specific attribute? Please explain little more details on your use-case that is affected by this difference in evaluation. Thanks!

[2021-09-03 19:53] jvishnuvardhan commented on #14122
Duplicate of #https://github.com/tensorflow/tensorflow/issues/39013

Please check the response [here](https://github.com/tensorflow/tensorflow/issues/39013#issuecomment-912164198). Thanks!

[2021-09-03 20:02] qlzh727 commented on #15259
This is most likely due to local cuda/cudnn version setup. By default the lstm will use cudnn kernel at has about 10x the performance comparing to generic kernel. You will see this kind of error if you don't have the local env configured properly. This also aligned with the observation that once you change the activation to relu, the issue goes away.

For the fix, you can take a look for similar i

[2021-09-03 20:25] don-tpanic commented on #15271
@jvishnuvardhan Thanks for getting back to me.

You're right in the example the difference is small. I don't have an example where the difference is higher for now. Here is a follow up question though...

It seems `binary_crossentropy` checks this attribute and will use logits when it exists even if user explicitly sets `from_logits=False`. Is this intended? I think this explains the difference be

[2021-09-03 20:53] #14522 closed

[2021-09-03 22:04] don-tpanic commented on #15271
I also tried `from_logits=True` with the same example above. Somehow the results are now very different.. am I doing something stupid? [Gist here ](https://colab.research.google.com/drive/1L5XA7ZtHZ56unQIecxdQpdddaMAsW1N_?usp=sharing)

[2021-09-04 01:39] ymodak commented on #14632
Closing this issue since its resolved. Feel free to post a new issue if still have problems. Thanks!

[2021-09-04 01:39] #14632 closed

[2021-09-04 07:55] git2120 opened #15313 "problem"
[1.1] “Appendix J: Multiple (Maximum and Range) Pooling Statistics in a Convolution Network” in the book, Understanding Deep Learning. Download from https://www.understandingdeeplearning.com

How can we apply multiple pooling as shown in [1.1] on any image data set.

Thanks..

[2021-09-04 08:02] sushreebarsa commented on #15171
@kelvinlyy Thanks for the update! Could you please check with the latest stable version of TF 2.6.0 ,less time difference is observed while running your code on colab ?Please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/cb415d8ae3f9d968ad60acb6e1f13352/conv2d_padding.ipynb)for reference & let us know if it helps?Thank you!

[2021-09-04 08:03] sushreebarsa commented on #15171
@kelvinlyy Thanks for the update! Could you please check with the latest stable version of TF 2.6.0 ,less time difference is observed while running your code on colab ?Please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/cb415d8ae3f9d968ad60acb6e1f13352/conv2d_padding.ipynb)for reference & let us know if it helps?Thank you!

[2021-09-04 08:03] sushreebarsa commented on #15171
@kelvinlyy Thanks for the update! Could you please check with the latest stable version of TF 2.6.0 ,less time difference is observed while running your code on colab ?Please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/cb415d8ae3f9d968ad60acb6e1f13352/conv2d_padding.ipynb)for reference & let us know if it helps?Thank you!

[2021-09-04 09:34] JanusVon commented on #13992
Did anybody find a solution？
I encounter the same problem.

[2021-09-04 13:16] Kaveh8 opened #15314 "Problem for passing integer seed value for tensorflow.keras.layers.experimental.preprocessing functions in .map function"
I am trying to create a map function for my dataset, in order to augment images. For each sample, I want to generate a random seed and pass it to the `preprocessing` layers as `seed` argument. I get error when passing seed as a tensor, since the code in the preprocessing layers is like `if seed:` and it says tensors are not allowed for a bool operation. On the other hand, if I try to pass it like

[2021-09-04 13:25] RichoMelbDs commented on #4339
interested

[2021-09-04 13:52] sutummala commented on #13050
How did you solve this using tape.gradient?

[2021-09-04 14:11] sushreebarsa commented on #15314
@Kaveh8
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-04 14:59] sushreebarsa commented on #15306
@uoyssim Could you please refer to the [link](https://www.tensorflow.org/api_docs/python/tf/GradientTape) and similar [issue1](https://github.com/tensorflow/tensorflow/issues/40323) ,[issue2](https://github.com/tensorflow/tensorflow/issues/35533) .Please let us know if it helps?Thanks!

[2021-09-04 15:07] sushreebarsa commented on #14367
@jpandeinge
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-04 15:16] #15250 closed

[2021-09-04 15:30] creatornadiran commented on #15292
The problem was due to the numpy configuration.
`np_config.enable_numpy_behavior()`
Those who get the same error should delete this code and run it again.

[2021-09-04 15:30] #15292 closed

[2021-09-04 15:44] Kaveh8 commented on #15314
@sushreebarsa  Thanks for your response. [Here](https://colab.research.google.com/drive/12h9BO2ymiF0OSTSR60eEzIHdewch3IgP?usp=sharing) I have provided a notebook in colab, to reproduce the issue. I get another error message in colab, anyway the error still exist.

[2021-09-05 03:11] jeremyevith commented on #13118
Currently facing the same issue, my script involves an HTTP server that performs predict() when requests comes in, the server will go OOM in matter of hours if the request volumes are large.

Clearing session and reloading the model simply wont work because we need to return a response within milliseconds.

[2021-09-05 06:52] AdityaKane2001 commented on #15308
@innat

I think this is intentional. Keras doesn't want you to worry about the implementational details because it has such a nice abstraction of things. Thus, it makes sense to keep Keras docs for quick reference and TF docs to be more contributor oriented.

[2021-09-05 07:31] nitsanhasson opened #15316 "When loading a saved model with multiple outputs, outputs order is not deterministic"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.5

[2021-09-05 08:46] sushreebarsa commented on #15316
@nitsanhasson Could you please refer to the [link](https://www.tensorflow.org/guide/keras/save_and_serialize) and similar [issue](https://github.com/keras-team/keras/issues/4875) ,please let us know if it helps?Thank you!

[2021-09-05 09:00] innat commented on #15308
@AdityaKane2001

Thanks for your comment. I understand your point. And it might be true for `tf < 2`, right before when `keras` didn't tightly integrate into `tf`. But now, `keras` has the nature of **progressively disclosure of complexity**, for example, now we can do the custom training loop in `keras` etc. Also, now `keras` moved back to its original repo (as said) to keep the `keras` developme

[2021-09-05 09:03] innat commented on #15267
@rchao
Could you please give some feedback on this?

[2021-09-05 12:35] #15004 closed

[2021-09-05 12:36] innat commented on #15314
@Kaveh8 cc: @sushreebarsa
These are the layers: RandomFlip, RandomRotation, etc. So, I think you need to call them in such ways. Something like

[code]
[code]

[2021-09-05 12:37] BbChip0103 commented on #15004
Merged [keras-team/keras.io PR#603](https://github.com/keras-team/keras-io/pull/603)

Thank you!

[2021-09-05 15:05] nitsanhasson commented on #15316
@sushreebarsa
Thanks for the reply, but my error is different. The outputs are correct but are in the wrong order. I thought this may be a dictionary related error since I was using Python 3.6, but the same thing happens with Python 3.9.

I need the models outputs to be in the same order both when I create and use the model without saving it, and when loading it.

Another thing I was trying to do

[2021-09-05 16:46] Kaveh8 commented on #15314
@innat Thanks for your response. I finally did it like what you have done In Kaggle. But I think it should be fine to use them in a function (not a class), like other layers in Keras. I wonder why I get errors in a map function without subclassing (I know it will be run in a graph mode, and the error may be related for graph mode) but no error when implemented as layer subclass.

[2021-09-05 20:27] innat commented on #15314
@Kaveh8
I think a functional approach can also be done. However, in your gist above, there is some issue, for example, initializing the layers and calling them stuff. Instead of what you've done on gist, you should call them as follows

[code]

I've posted a possible solution [here](https://www.kaggle.com/ipythonx/tf-3d-2d-model-for-brain-tumor-classification/comments#1503883), hope it helps.

[2021-09-05 21:20] Kaveh8 commented on #15314
@innat Thanks for your solution. In this way, the key to resolve the error is wrapping function with `tf.numpy_function`. Then I can set seed like what you said. But using `tf.numpy_function` or `py_function` is not allowed with TPUs. As you may see, I have used TPUs in my code. I am still curious to know is it possible to run this function (preprocessing layers) on `.map` and with TPU? Are they c

[2021-09-06 00:56] jeremyevith commented on #2102
Its been 5 years and this bug is still here.

[2021-09-06 04:58] uoyssim commented on #15306
Thanks for your reply.

I checked that links that you mentioned.

issue2 helps to me :)

When I use tf.keras.losses.SparseCategoricalCrossentropy, I didn't set from_logits paramter to True.

So I update my code, it was trained.

[code]

[2021-09-06 04:58] #15306 closed

[2021-09-06 07:05] innat commented on #15314
Not sure exactly, it's known [issue](https://github.com/tensorflow/tensorflow/issues/38762#issuecomment-688247286) currently.

[2021-09-06 07:07] kumariko commented on #13724
@thebeancounter Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-06 07:42] Kaveh8 commented on #15314
@innat Yes. I know it is an issue for `py_function` with TPU. So, I considered to not use them in my code. I haven't used any raw python or numpy functions in my code, so I don't need to wrap my function with `py_function` or `numpy_function`. Now, I think `preprocessing` layers are using this underneath, and so they are not available on TPUs. But, how is it possible when using subclassing approac

[2021-09-06 08:17] n33lkanth commented on #15221
Hi,
Any thought about this problem?

[2021-09-06 08:53] #14437 closed

[2021-09-06 09:23] innat commented on #15314
@Kaveh8 cc @sushreebarsa @k
It should be available on all devices either CPU/GPU/TPU. TPU has some issue with `numpy_function`. It also has some issues with the `keras` generator or `tf. data.from_generator`. If we try to use a custom layer, it should work on TPU. The problem is with `tf. Data` and its strict graph execution. Even with `.run_functions_eagerly(True)` doesn't work here.

The followi

[2021-09-06 10:59] tilakrayal commented on #14004
@RamziFsm ,
Can you please provide the code to reproduce the issue also with latest tf and keras version and let us know if the issue still persists?Thanks!

[2021-09-06 11:04] tilakrayal commented on #13993
@omatai ,
Can you please try to execute the code in latest tf and keras version and let us know if the issue still persists.Thanks!

[2021-09-06 11:09] tilakrayal commented on #13960
@Selolo28 ,
Can you please take a look at this [comment](https://github.com/matterport/Mask_RCNN/issues/1797#issuecomment-560553450) from the issue with similar error.It helps.Thanks!

[2021-09-06 11:12] tilakrayal commented on #13959
@Parth38 ,
Can you please take a look at this [comment](https://github.com/keras-team/keras/issues/13353) from the issue with similar error.It helps.Thanks!

[2021-09-06 12:54] mishooax commented on #10735
FWIW, switching the `LocallyConnected2D` implementation to `3` makes a huge difference on the time spent per epoch (and memory usage):

[code]

Output:
[code]

[2021-09-06 15:32] innat commented on #15269
@rchao
FYI, These have been asked before. [#151](https://github.com/keras-team/keras-applications/issues/151)

@quantumalaviya could you please check out [this implementation](https://github.com/keras-team/keras-contrib/tree/master/keras_contrib/applications), it already exists in `keras-contrib` but is not included in `keras`.

[2021-09-06 16:16] howl-anderson opened #15317 "Model with TPUStrategy get InternalError"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Colab (https://colab.research.google.com/)
- TensorFlow installed from (source or binary): binary maybe? Colab provided it by default
- TensorFlow version (use command below):  v2.6.0-0-g919f693420e 2.6.0
- Python versi

[2021-09-06 17:07] Nafees-060 commented on #15212
@tilakrayal  would you please help

[2021-09-06 19:53] #14533 closed

[2021-09-06 21:52] BishalTx opened #15320 "set_weights()"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-09-06 21:53] #14657 closed

[2021-09-07 01:58] hdavis472 commented on #15273
I have read the stack overflow post you linked and tried running my own experiments based off the answer, but I still don't understand what using TimeDistributed dense does. I believe the original poster of the stack overflow thread was also still confused even after having read the answer. Would it be possible for someone to explain it clearly here please?

[2021-09-07 06:39] AakashKumarNain commented on #14580
@romanovzky did you try using the TF debugger?

[2021-09-07 07:56] kumariko commented on #13914
@kouroshD It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version 2.6 and let us know if the issue still persists? Thanks!

[2021-09-07 08:20] Maneeshmohan1 opened #15322 "Image datageerator is not taking the images with different extensions"
I'm having dataset which contains png and jpg files in each class but its taking only one file format images

[2021-09-07 08:32] romanovzky commented on #14580
Hi, I'm sorry but I have a lot on my hands right now and my current
on-going projects do not involve these type of architectures. Might be
able to pick it up again, but not in the next few weeks.

On 07/09/2021 07:39, Aakash Kumar Nain wrote:

[2021-09-07 09:33] tilakrayal commented on #14018
@SireeshLimbu ,
Please refer this docs which provide more information regarding LSTM encoder decoder.It helps.[1](https://towardsdatascience.com/understanding-encoder-decoder-sequence-to-sequence-model-679e04af4346),[2](https://pradeep-dhote9.medium.com/seq2seq-encoder-decoder-lstm-model-1a1c9a43bbac).Thanks

[2021-09-07 09:35] tilakrayal commented on #14003
@henry-eigen ,
Can you please try with latest versions and let us know if the issue still persists.Thanks!

[2021-09-07 09:41] tilakrayal commented on #13961
@ironWolf1990 ,
Can you please take a look at this [comment](https://github.com/XifengGuo/CapsNet-Keras/issues/94) from the issue with similar error.It helps.Thanks

[2021-09-07 11:10] kyri33 commented on #3181
Faced with the exact same problem. Trying to load model in parent and use predict in a child process. Has anyone managed to solve this ? (2021)

[2021-09-07 11:47] AakashKumarNain commented on #14580
No worries.

[2021-09-07 11:53] #15194 closed

[2021-09-07 13:22] tilakrayal commented on #15121
@sunw70 ,
Can you please take a look at this [comment](https://forums.developer.nvidia.com/t/incompatible-with-expected-resource/72935/12) and [link](https://stackoverflow.com/questions/56580538/tf-keras-api-with-tf-dataset-problem-steps-per-epoch-argument-problem) for similar error.It helps.Thanks!

[2021-09-07 13:31] tilakrayal commented on #15226
Please take a look at the above [comment](https://github.com/keras-team/keras/issues/15226#issuecomment-906169077) and [link](https://www.tensorflow.org/api_docs/python/tf/keras/backend/set_floatx).It helps.Thanks

[2021-09-07 13:46] #15207 closed

[2021-09-07 13:46] #15214 closed

[2021-09-07 13:46] #15218 closed

[2021-09-07 14:46] #13997 closed

[2021-09-07 16:10] sfines-clgx commented on #14367
I'm not the tagged individual, but the first code block in my comment has code which definitely causes the issue....

[2021-09-07 16:35] #13978 closed

[2021-09-07 16:41] brian36 commented on #15194
This other issue is unrelated.

The issue here is, there is no keras mask when there should be one, after passing a tensor with a mask through reshape.

This is not a support issue or question about implementation, but in my opinion a bug with the Reshape layer implementation.  At the very least it should give the option of keeping the underlying mask when passing through the Reshape layer, and it

[2021-09-07 16:50] Kaveh8 commented on #15314
@innat  It is about `seed`. When implementing layer subclassing, setting `seed` is done outside of the `tf.data` API (`seed` is set within `__init__` when creating object from class), and in `tf.data` only the `call` function is executed, without any problem. But when we implement it as a function, passing `seed` also, will be executed within `tf.data`, and it leads to an error. I want to know, is

[2021-09-07 17:15] qlzh727 opened #15323 "tf.keras computes incorrect loss values with Masking"
**This issue is copied from https://github.com/tensorflow/tensorflow/issues/34491. **

The issue is moved here for better tracking since the keras code has been moved to keras-team/keras repo.

[2021-09-07 18:04] sumitbinnani opened #15324 "Custom signatures not working with Subclasssed Keras Model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.3
- Python

[2021-09-07 18:32] arubiales opened #15325 "fix Cropping2D layer return empty list if crop is higher than data shape"
As we did in #14970. This  issue solve the `Cropping2D` layer of return and empty list if the `cropping` parameter is higher than data shape.

We solved in the same way that we did in #14970. Please refer to  #14970 for more info.

[2021-09-07 19:37] ymodak commented on #15138
Closing since the associated PR is merged. Thanks!

[2021-09-07 19:37] #15138 closed

[2021-09-07 21:08] SiQube commented on #15299
in the tensorflow.keras version you're using `learning_rate` was not yet the argument that is used for the `learning_rate` in earlier versions `lr` was used -- which is now deprecated.

there are two ways to fix your bug.
number 1 would be to change your code as follows:
`sgdv = tf.keras.optimizers.SGD(learning_rate = 0.01, decay=1e-6, momentum=0.9, nesterov=True)`
`sgdv = tf.keras.optimizers.SGD(

[2021-09-07 21:12] #15175 closed

[2021-09-08 00:19] jvishnuvardhan commented on #15320
@BishalTx Can you please share a simple standalone code to reproduce the issue. Also, add as many details as possible to find the root-cause of the issue. Thanks!

[2021-09-08 06:56] TianruiZhang opened #15329 "Convert Functional API to Model Subclassing with Normalization Layers"
Could anyone please teach me how to convert the Functional API to Model subclassing in this [TensorFlow Official Tutorial](https://www.tensorflow.org/tutorials/structured_data/preprocessing_layers)? I suppose an elegant chuck of code should be what combines the Normalization layer with the remaining layers. I went through the [tutorial](https://www.tensorflow.org/tutorials/structured_data/preproce

[2021-09-08 09:35] #14601 closed

[2021-09-08 09:35] #14611 closed

[2021-09-08 09:35] #14456 closed

[2021-09-08 10:14] kumariko commented on #15322
@Maneeshmohan1 Please refer to this [**`link`**](https://stackoverflow.com/questions/66230904/tf-keras-preprocessing-image-imagedatagenerator-does-not-load-all-the-images-pre) and let us know if it helps? Thanks!

[2021-09-08 10:25] #15291 closed

[2021-09-08 10:59] Innuendo1975 commented on #15323
The issue exists even in tensorflow version 2.6. More detailed comment https://github.com/tensorflow/tensorflow/issues/34491#issuecomment-915134312

[2021-09-08 12:40] yuval-meir commented on #9787
I want to request same exact thing as @tsoernes asked above.
A locally connected layer that works on each channel separately (can use the same filter or not), without summation over the different colors of the previous layer.

[2021-09-08 13:59] sushreebarsa commented on #15316
@jvishnuvardhan Was able to reproduce the issue on Colab using TF v2.5, 2.6 and tf-nightly, Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/96936222a39be55030d612e4075090d8/untitled189.ipynb)  for reference. Thanks!

[2021-09-08 16:16] sunw70 commented on #15121
@tilakrayal thanks for your reply: I tried to use `steps_per_epoch` in `model.fit`, but now I get this error:

    Model: "model"
    _________________________________________________________________
    Layer (type)                 Output Shape              Param #
    =================================================================
    input_1 (InputLayer)         [(1, 7, 1)]               0

[2021-09-08 16:49] jvishnuvardhan opened #15330 "Low performance when using persistent mode GradientTape with LSTM/GRU layers"
**This issue is copied from tensorflow/tensorflow#51818. **

The issue is moved here for better tracking since the keras code has been moved to keras-team/keras repo.

[2021-09-08 17:00] tilakrayal commented on #13954
@kevinxbrown ,
Please refer this [comment](https://github.com/tensorflow/tensorflow/issues/31350) from the issue with similar error.It helps.Thanks

[2021-09-08 17:01] tilakrayal commented on #13922
@Pluto1314 ,
Please refer this SO [link](https://stackoverflow.com/questions/62075321/tensorflow-python-framework-errors-impl-invalidargumenterror-invalid-argument) for similar error.It helps.Thanks!

[2021-09-08 17:04] tilakrayal commented on #14058
@hassancpu ,
Can you please try the latest versions of tf and keras and let us know if the issue still persists.Thanks!

[2021-09-08 19:49] jvishnuvardhan opened #15332 "Different results for add_loss() within TimeDistributed for eager vs. compiled execution of keras Layer"
**This issue is copied from tensorflow/tensorflow#46244. **

The issue is moved here for better tracking since the keras code has been moved to keras-team/keras repo.

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, included below
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.10
Mobile device (e.g. iPhone

[2021-09-08 19:50] jvishnuvardhan commented on #15332
I can reproduce this with recent TF2.6 and tf-nightly. May be this is a potential bug.

[2021-09-08 20:20] fchollet commented on #15229
Hi there,

Yes, we'd welcome such a contribution. However, we have no availability to work on it, so you'd have to open a PR yourself (we will review the PR and guide you). Do you have an ImageNet checkpoint available for the model?

[2021-09-08 20:21] fchollet commented on #15240
Hi there,

Yes, we'd welcome such a contribution. However, we have no availability to work on it, so you'd have to open a PR yourself (we will review the PR and guide you). Do you have an ImageNet checkpoint available for the model?

[2021-09-08 20:43] fchollet commented on #15332
Thanks for reporting the issue. The implementation used in each case is different, hence why we see different results.

The double call on the first time step occurs at the level of `keras.backend.rnn`, which is the implementation used in eager mode. Specifically here: https://github.com/keras-team/keras/blob/master/keras/backend.py#L4507-L4510

We call the step function a first time to infer the

[2021-09-08 20:45] fchollet commented on #15330
This is solely an issue with `GradientTape`: the only thing that changes between the two code snippets is the flag in `GradientTape`.

[2021-09-08 20:45] #15330 closed

[2021-09-09 01:54] sayakpaul commented on #15240
@fchollet you probably missed out but @AdityaKane2001 has actually trained the models he's talking about as a part of his GSoC 2021 project (I was one of his mentors).

The entire collection is available [here](https://tfhub.dev/adityakane2001/collections/regnety/1) on TensorFlow Hub. However, he wants to work on a more streamlined version of RegNets (model building wise) and train those variants