[2021-09-09 03:56] AdityaKane2001 opened #15333 "Unable to reproduce build errors in local environments."
I am currently working on #15315 in this repo. However, I am not able to reproduce the build errors neither in my local Windows environment nor in a Colab notebook. I have followed the instructions from "Option 2" in [CONTRIBUTING.md](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md#option-2-setup-a-local-environment). Here is the [gist](https://colab.research.google.com/gist/Aditya

[2021-09-09 04:11] ysyyork commented on #15229
Got it, i'll see if i can make a PR on this. i have some components built in the past but just need to clean it up a bit

[2021-09-09 04:49] AdityaKane2001 commented on #15240
@fchollet

Thanks for the reply.

To summarize, the objectives of my contribution are as follows:
- Add [RegNets](https://arxiv.org/pdf/2003.13678.pdf) to tf.keras.applications
- Train these models on ImageNet-1k or ImageNet-21k (please tell what would be preferable)

[Here](https://user-images.githubusercontent.com/64411306/132623704-1b18097f-c7fb-4c24-8f81-603462742c81.png) is the basic structur

[2021-09-09 05:06] MrinalTyagi commented on #15221
Hello @n33lkanth , as shown here every class that subclasses from keras.Model class will get the .fit() method in which you can pass the class_weight parameter like you do in the original .fit() method. The only difference will be I think that you have to utilize these class weights in the custom .fit() method regarding your requirements. Let me know if this helps.

[2021-09-09 08:48] kumariko commented on #14015
@thekatiebr We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions.Thanks!

[2021-09-09 09:18] kumariko commented on #14040
@benedives47 We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-09 12:50] starboyvarun opened #15334 "Loading the versions of tfs and keras"
![6](https://user-images.githubusercontent.com/26819449/132688854-1c7c6bcd-681a-4e9c-9e78-aedb05e0b67e.JPG)

[2021-09-09 13:26] sanatmpa1 commented on #15334
@starboyvarun,

Can you provide more details about what's the package that you want to use and what's the error that you are getting with TF and Keras. Thanks!

[2021-09-09 17:14] ymodak commented on #15324
Thanks for your issue. Can you provide a minimal repro example to illustrate the behavior?

[2021-09-09 17:18] ymodak commented on #14958
Closing this issue since the associated PR has been merged. Thanks!

[2021-09-09 17:18] #14958 closed

[2021-09-09 17:19] sushreebarsa commented on #13729
@Savvy98
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-09 17:21] sushreebarsa commented on #13910
@Jamesswiz Could you please let us know if this is still an issue? Thanks!

[2021-09-09 17:24] sushreebarsa commented on #13939
@quocdat32461997 It looks like you are using an older Version of Tensorflow . Could you please execute your code using Latest Version 2.6.0 and let us know if the issue still persists? Thanks!

[2021-09-09 17:26] sushreebarsa commented on #14082
@kouroshD
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-09 17:36] Jamesswiz commented on #13910
Yes it still an issue as Keras fit doesn’t provides this option. Only think what works is writing a custom training loop via tf.tape, and it is well know that behaviour of keras.fit is much more stable.

On Thu, Sep 9, 2021 at 10:51 pm, sushreebarsa ***@***.***> wrote:

[2021-09-09 18:35] #14020 closed

[2021-09-09 18:36] #14675 closed

[2021-09-09 18:36] #13974 closed

[2021-09-09 18:36] #14028 closed

[2021-09-09 18:36] #14071 closed

[2021-09-09 18:36] #14064 closed

[2021-09-09 18:36] #14043 closed

[2021-09-09 18:37] MaanasArora commented on #15167
@seermer I checked the official implementation by the authors of the paper and it seems to match what Keras has (see linked pull request). Could you check if there's an error somewhere? Thanks!

[2021-09-09 20:16] seermer commented on #15167
I am not exactly sure which code/repo are you referring to, I read https://github.com/KaimingHe/resnet-1k-layers but the code README actually says it is "re-implemented by Xiang Ming", who is not the author of the paper, it is just referenced by the original author, so I would not call it an official code.
More importantly, this repo is a re-implementation based on facebook's Torch implementation,

[2021-09-09 20:30] MaanasArora commented on #15167
@seermer That makes sense; I'll add corrections to my comments in the PR for further discussion. Thanks for the clarification!

[2021-09-09 23:19] #15289 closed

[2021-09-10 01:53] chang48 commented on #15175
@ymodak Indeed, the problem is resolved after installing keras 2.6.0. Thanks

[2021-09-10 02:26] bhack opened #15338 "Execute single test"
Why we claim at  https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md#run-a-single-test-case :

cases in a file before runnig the test file.

We can run single test with `--test_arg` e.g.:

`bazel test keras:backend_test --test_arg=BackendCrossEntropyLossesTest.test_binary_crossentropy_from_logits_no_warnings_test_mode_eager --test_sharding_strategy=disabled`

We have a ticket instead f

[2021-09-10 03:30] EnderWiggin14 opened #15339 "Saving a composite model that includes a custom layer results in error - None has NoneType, but expected one of: bytes, unicode"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): A proprietary variant of RedHat, outside of my control
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7.2
- CUDA/cuDNN version: 11.1.0/8.1.

[2021-09-10 04:03] starboyvarun commented on #15334
@sanatmpa1  Actually this is the starting line of code . The Error is I wanted to use specific version for my bioinformatics library but it loads the wrong version.
As you can see in the screenshot.
Thanks!

[2021-09-10 04:37] #15283 closed

[2021-09-10 08:15] ucasiggcas opened #15340 "pad_sequences bug in Batch"
hi,dear
want to use the **pad_sequences** in batch ,but got the bug down

[code]

could pls help me ?
thx

[2021-09-10 10:48] KodumuruRaja commented on #15313
hello git2120 have you solved it

[2021-09-10 11:11] chrismaliszewski opened #15341 "binary_crossentropy label_smoothing cannot compute Mul bug"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.7.0, but the problem exists in 2.5.0
- Python version: 3.8
- GPU model and memory: working on CPU

**Describe

[2021-09-10 13:28] bhack commented on #14867
@qlzh727 Just to make some step ahead with `pip install -e `

Do we have any other candidate solution instead of moving manually all these file every time?

[2021-09-10 17:11] EnderWiggin14 opened #15345 "Sub-classed constraint doesn't appear to be called when added via add_weight"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): A proprietary variant of RedHat, outside of my control
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7.2
- CUDA/cuDNN version: 11.1.0/8.1.1

[2021-09-10 17:16] haifeng-jin commented on #15338
I didn't know this, let me try and get back to you later.
If it works, it does look like a better solution than the current one.

[2021-09-10 20:38] jvishnuvardhan commented on #13881
Closing the issue as this was resolved. Please feel free to reopen if the issue persists for you. Thanks!

[2021-09-10 20:38] #13881 closed

[2021-09-10 20:42] #14122 closed

[2021-09-10 22:09] RoyiAvital commented on #12063
Any way to control it on the Python script itself and not by a system variable?
How does it work on Windows?

[2021-09-10 22:32] ymodak commented on #14287
Closing this issue since its resolved. Thanks!

[2021-09-10 22:32] #14287 closed

[2021-09-11 00:35] #13915 closed

[2021-09-11 02:46] n33lkanth commented on #15221
Hi @MrinalTyagi, Yes you are right that I can pass the class_weight in model.compile() method but when I am trying to pass class weights for all four outputs I am getting error that class_weight is not supported for the multi-output model.

[2021-09-11 03:39] rafak360 opened #15348 "Bugs found in Normalization() and load_model()"
First and foremost I reported these bugs at the tensorflow github section which some of the staff told me to post it here.

Setup:
OS: Windows 10 x64
tensorflow-gpu: 2.6.0
Python: 3.9.7
CUDA: 11.2.2
cuDNN: 8.1.1

As in the code below, when loading a model that was normalized by not passing arguments to `Normalization()` it throws an exception when that model is loaded by `load_model()`, however be

[2021-09-11 06:23] MrinalTyagi commented on #15221
@n33lkanth Try having a look at the following. [Applying class weights to a multi-output model](https://datascience.stackexchange.com/questions/41698/how-to-apply-class-weight-to-a-multi-output-model). I think u are currently encountering the same issue described here. Let me know if this helps.

[2021-09-11 08:43] VirgilG72 commented on #14265
it works for me!

it works for me!

[2021-09-11 10:43] GdoongMathew opened #15350 "EfficientNetV2 in keras application"
System information.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No) : Yes

Describe the feature and the current behavior/state.

EfficientnetV2 is a well-known and well-performed classification model that is missing from the keras.applications. Adding the supports will be beneficial to lots of tensorflow and keras users.

Will this change the current api? How?
Ye

[2021-09-11 11:18] RoyiAvital opened #15351 "Keras Doesn't Use `KERAS_HOME` for Downloading Data on Windows"
I am on Windows 10.
In my notebook script I define a system environment variable before loading `Keras` (Before loading any package at all beside `os`):

[code]

Then, when loading Keras it seems to honor this by creating a file named `keras.json` in it.
Yet, when I download a data set (Like `(imagesTrain, labelsTrain), (imagesTest, labelsTest) = fashion_mnist.load_data()`) it uses `D:\tmp\.keras`

[2021-09-11 12:32] kelvinlyy commented on #15171
Sorry for the late reply. The times taken for running both the padding scheme are both shortened a lot in TF 2.6.0. But there is still a 3 times time difference observed on my machine.
![image](https://user-images.githubusercontent.com/51120508/132947754-758f3143-01d3-441a-8d7e-ea08a9387262.png)

FYI, the CPU and GPU I used was Intel Xeon Processor (Skylake, IBRS) and Nvidia GeForce RTX 2080 Ti re

[2021-09-11 12:56] innat commented on #15350
@GdoongMathew
It's already [requested](https://github.com/tensorflow/tensorflow/issues/50054) and eventually on the [PR list](https://github.com/keras-team/keras/pull/14935).

[2021-09-11 12:59] GdoongMathew commented on #15350
@innat right, I didn't see that. Thanks

[2021-09-11 12:59] #15350 closed

[2021-09-11 14:53] APJansen opened #15352 "subclassing Conv?"
I am working on an implementation of group convolutions in Keras, after [Cohen & Welling 2016](https://arxiv.org/abs/1602.07576). For 2D group-convolutions I've subclassed `Conv2D` as `GroupConv2D`, now I want to add 3D group-convolutions, and it makes more sense to subclass `Conv` as `GroupConv`, and then subclass that as `GroupConv2D` and `GroupConv3D`, as is done with regular convolutions in Ke

[2021-09-11 15:24] innat commented on #15352
FYI, I think [group convolution](https://keras.io/api/layers/convolution_layers/convolution3d/) is supported now. See the documents.

[code]

[2021-09-11 15:33] APJansen commented on #15352
Sorry I should have clarified this because it's a confusing naming conflict. The groups argument you point to I think refers to what I've seen called group_ed_ convolutions. I'm not familiar with the details  of this, but a group is something like a subset of the channels. While in the group convolution I'm referring to (see link above), the group refers to a symmetry group. Group convolutions (ra

[2021-09-11 17:36] mathshangw opened #15353 "How can i solve problem of Matrix size-incompatible ?"
I'm facing this problem

    (0) Invalid argument:  Matrix size-incompatible: In[0]: [53,1132], In[1]: [1240,512]
    	 [[node functional_1/dense/MatMul (defined at fit.py:324) ]]
      (1) Invalid argument:  Matrix size-incompatible: In[0]: [53,1132], In[1]: [1240,512]
    	 [[node functional_1/dense/MatMul (defined at fit.py:324) ]]
    	 [[gradient_tape/functional_1/embedding/embedding_lookup/R

[2021-09-12 04:34] SamMohel opened #15354 "Invalid argument: Input to reshape is a tensor with 46536 values, but the requested shape requires a multiple of 1120"
my model is
__________________________________________________________________________________________________
[code]

[2021-09-12 07:57] sushreebarsa commented on #13910
@Jamesswiz
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.Thanks!

[2021-09-12 08:00] sushreebarsa commented on #15354
@SamMohel In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-12 08:01] sushreebarsa commented on #15353
@mathshangw In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-12 08:44] sushreebarsa commented on #15339
@ymodak Was able to reproduce the issue on Colab using 2.5, 2.6 and tf-nightly ,Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/81ad940461fb13cdf0823b0e286918c2/15339.ipynb) for reference. Thanks!

[2021-09-12 08:58] sushreebarsa commented on #15341
@jvishnuvardhan Was able to reproduce the issue on Colab using 2.5,2.6 and tf-nightly, Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/7699946031352fc0fc6b28245277bf45/15341.ipynb) for reference.Thanks!

[2021-09-12 09:05] sushreebarsa commented on #15340
@ucasiggcas
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-12 12:22] ucasiggcas commented on #15340
[code]

bug
[code]

[2021-09-12 14:06] mathshangw commented on #15353
[code]

[2021-09-12 14:06] mathshangw commented on #15353
[code]

[2021-09-12 14:23] eli-osherovich commented on #15247
I think it should be fixed in `tf.nn.sigmoid_cross_entropy_with_logits`, hence opened an issue in tensorflow.

[2021-09-12 15:29] andy8456 commented on #1029
@ placebokkk I still get confused about it.
If I set the return sequence is true, and set with a normal dense.
I still achieve the same results and params.
Can you explain what are they different ?

  model.add(LSTM(3 , return_sequences=True, input_shape = (shape[1],shape[2] ) ))
  model.add( Dense(2))

  model.add(LSTM(3 , return_sequences=True, input_shape = (shape[1],shape[2] ) ))
model.add( Ti

[2021-09-12 19:14] don-tpanic commented on #15271
Any updates?

[2021-09-12 19:15] #15299 closed

[2021-09-12 21:01] n33lkanth commented on #15221
Hi @MrinalTyagi,
Yes, you are right. However, I am getting the following error:

`ValueError: `class_weight` is only supported for Models with a single output`

[2021-09-12 22:14] #14825 closed

[2021-09-13 02:37] MrinalTyagi commented on #15221
@n33lkanth could you please share a colab file of the code for me to have a look?

[2021-09-13 02:39] MrinalTyagi commented on #15354
@SamMohel are u passing a list to the python model?

[2021-09-13 08:11] valentin-fngr opened #15357 "Cannot access y_true shape using a custom loss"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS : Ubuntu 20.04.2 LTS
- TensorFlow installed from (source or binary): Binary
- TensorFlow version : v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Python version: Python 3.8.8
- GPU model and memory: GTX 1660 6GB

**Describe the problem**.

I am trying to implement the Yolov1 architect

[2021-09-13 08:12] kumariko commented on #13941
@phixerino We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-13 08:13] valentin-fngr commented on #15357
Obviously, using tf.reshape with the y_true tensor inside my loss function is impossible :

[code]

[2021-09-13 08:18] sushreebarsa commented on #15353
@mathshangw I tried to run your[ code](https://github.com/keras-team/keras/issues/15353#issuecomment-917643111) on Colab using **`TF v2.6`** and didn't face the error reported here .Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/673fa5a29ffaab854b991604f984d2be/untitled192.ipynb) for reference and let us know if it helps ?Thanks!

[2021-09-13 08:23] sushreebarsa commented on #15345
@EnderWiggin14 Could you please refer to the [link1](https://keras.io/guides/making_new_layers_and_models_via_subclassing/),[link2](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#add_weight) and let us know if it helps? Thank you!

[2021-09-13 08:53] valentin-fngr commented on #15357
I tried to add a wrapper to my loss function as suggested in : https://stackoverflow.com/a/46465774/10819754

I did this :
[code]

And got the following desirable output :

[code]

Tho, I suspect my problem to be related to my data pipeline, if anyone can confirm it, this would be awesome :]

[2021-09-13 10:35] #13970 closed

[2021-09-13 10:35] #13968 closed

[2021-09-13 12:28] sushreebarsa commented on #15340
@ucasiggcas I tried to run your [code](https://github.com/keras-team/keras/issues/15340#issuecomment-917626071) and faced [this issue](https://colab.research.google.com/gist/sushreebarsa/fbb658c0b20d5b3c181edac35ac21943/untitled196.ipynb) while reproducing. In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using.

[2021-09-13 12:58] sushreebarsa commented on #15348
@rafak360 I tried to run your code of **bug_1.py** on Colab using **TF v2.6-GPU** and didn't face the **`Traceback error`**  please find the [gist](https://colab.research.google.com/gist/sushreebarsa/4141e0dbf98e48b49e4c2615a5049110/untitled195.ipynb) for reference. I was able to reproduce   **bug_2.py** on Colab using **TF v2.6-GPU** , please find the gist [here](https://colab.research.google.com

[2021-09-13 17:21] innat opened #15358 "`keras` augmentation layers into `tf.data.API` with random seed."
I want to use `keras` augmentation layers inside my data pipelines. And I also want to pass different `seeds` per batch. That's why I'm using `tf.random.Generator.from_seed` to get a new seed at each call. And use it to the `keras` augmentation layers. But I've faced the following error:

**Reproducible Code**

TF Version: 2.6
Environment: Colab.

[code]

[code]

---

However, if I wrap the `rand_

[2021-09-13 17:24] innat commented on #15314
@Kaveh8 not sure if it's a bug or else. I've raised a related [issue](https://github.com/keras-team/keras/issues/15358).

[2021-09-13 17:26] innat commented on #15263
@fchollet san, could you please share your opinion on that? What do you think?

[2021-09-13 18:01] qlzh727 commented on #14867
So far I think either copying or regenerate those files will be the solution I recommend. Including the generated content in the Git repo will create more maintainance overhead since we need to keep them in sync with the original source.

[2021-09-13 21:50] bouyeshogh opened #15360 "how use "append" in tensorflow loop without python collections?"
i want this layer in keras. but in outside tf.loop, i used "list.append(values)" that it is wrong. becuase i can't use Python collections in there and i get error. What should I use? flat_cp shape=(1,3^16) and CP shape should be (200,1,3^16).thanks!

    class WeightedLayer(Layer):
      def __init__(self, n_input, n_memb, **kwargs):
        super(WeightedLayer, self).__init__( **kwargs)
        s

[2021-09-13 21:56] ldmtwo opened #15361 "VAE example is no longer valid"
I followed this example and it now requires a call() method in keras.Model.

Not working:
https://keras.io/examples/generative/vae/

Working:
https://www.tensorflow.org/guide/keras/custom_layers_and_models

After calling fit ...

NotImplementedError: in user code:

anaconda3/lib/python3.8/site-packages/keras/engine/training.py:1330 test_function  *
        return step_function(self, iterator)
anac

[2021-09-13 22:22] bhack commented on #14867
If will copy these file from `bazel-bin/` they will be monitored by  git

Also I cannot play with `PYTHONPATH=bazel-bin/` as the proto source  `.proto` and the expected gen has the same module/dir hierarchy.

Can we change in the repository `keras/protobuf/` with something like `keras/protobuf_defs/` or `protobuf_src` or as you like?

[2021-09-13 23:18] jvishnuvardhan commented on #15171
@kelvinlyy I am seeing different computational time when compared to you. Can you please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/9557eb68974fe951f0f79881540fe6bc/conv2d_padding.ipynb) and let us know if I am missing anything here.

[code]

[2021-09-13 23:33] EnderWiggin14 commented on #15345
@sushreebarsa

I had previously looked at [link2](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#add_weight), and after looking at [link1](https://keras.io/guides/making_new_layers_and_models_via_subclassing/), I can tell you neither of those solves my the issue above.

Neither of those offer actual examples of producing a Constraint subclass or discuss the explicit requirements

[2021-09-13 23:35] jvishnuvardhan commented on #14000
@Houdakilani996 This is a stale issue.

Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? Also, try running the code with `TF2.6` or `tf-nightly` and let us know whether the issue persist with recent TF versions. Thanks!

[2021-09-13 23:43] ymodak commented on #14672
Keras 2.3 is obsolete please test with latest release keras 2.6.0 https://github.com/keras-team/keras/releases/tag/v2.6.0
You can also try setting `seed` parameter in all `tf.keras.layers.*` as well. Thanks!

[2021-09-13 23:43] jvishnuvardhan commented on #14053
@antoinecarme This is a stale issue.

Starting `TF2.6`, keras only supports single backend (Tensorflow). Please update your version to recent keras so that you can use improved functionality.

If you notice any of the above mentioned `stdout`, please share a standalone code to reproduce the issue. Thanks!

[2021-09-14 00:10] ymodak commented on #15361
I was able to successfully execute the tutorial as is from the colab gist given on the top.
Also there is TF implementation for [convolutional variational  autoencoder](https://www.tensorflow.org/tutorials/generative/cvae) you may find useful.

[2021-09-14 00:16] ymodak commented on #14646
You may want to raise this issue on https://github.com/keras-rl/keras-rl/issues for better support.
I suspect the error arises due to keras-rl dependency on keras. Its possible that latest keras packages are not compatible. Perhaps you want to stick last known supported version and try.
https://github.com/keras-rl/keras-rl/blob/216c3145f3dc4d17877be26ca2185ce7db462bad/setup.py#L12
Thanks!

[2021-09-14 00:17] mathshangw commented on #15353
Thanks for your time . Excuse me can you answer me for those questions as I'm confused
 does this solution right for solving this type of error ?
Will zeros that will be exists be a problem in training data ? Is there any solution for this error ?

[2021-09-14 00:19] mathshangw commented on #15353
Thanks for your time . the problem with me in the first post not the model itself so excuse me can you answer me for those questions as I'm confused
does this solution right for solving this type of error ?
Will zeros that will be exists be a problem in training data ? Is there any solution for this error

[2021-09-14 01:07] ucasiggcas commented on #15340
No, have tried
could not be useful to my code

[2021-09-14 03:45] starboyvarun commented on #15334
@sanatmpa1   Can you tell me when this bug will be fixed???

[2021-09-14 04:11] mathshangw commented on #15354
yes . is there a problem with passing it ?

[2021-09-14 04:12] SamMohel commented on #15354
yes . is there a problem with passing it ?

[2021-09-14 05:07] FancyXun commented on #15348
This issue mainly occurs When `Sequential` add `Normalization` layer. After `normalizer.adapt(train_data)`, Normalization's `built` would be set to `True`, which will not lead to [self.build(input_shapes)](https://github.com/keras-team/keras/blob/6859a01cf1df31b8f31e2e8b13aa5db793ec2b4e/keras/engine/base_layer.py#L2724) occurs, but if the model is reloaded, Normalization's built defaults to False,

[2021-09-14 05:39] MrinalTyagi commented on #15354
Convert it into a numpy array and then try passing it once.

[2021-09-14 05:56] sanatmpa1 commented on #15334
@starboyvarun,

Can you clarify the requirements you need, You need TF version as 2.2.0 and Keras version as 2.4.3 for your project?

[2021-09-14 06:49] kumariko commented on #14080
@davezes We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-14 11:41] starboyvarun commented on #15334
@sanatmpa1  yes

[2021-09-14 11:50] kelvinlyy commented on #15171
It is interesting. I ran the gist in your link but I got different results from yours.
![image](https://user-images.githubusercontent.com/51120508/133250897-d493adaa-cd13-444f-bc24-c1e19b10c8e7.png)

But when I ran the second time, it replicated your given runtime.

I tried to restart the kernel and run again. It then took the approximate time I ran in the first time. I guess the problem can be re

[2021-09-14 12:01] kelvinlyy commented on #15171
I just spotted that if I run the conv2d with "same" and "valid" padding individually in 2 kernels, they took approximately the same time to compute. I guess the issue of performance difference should be fixed now. Thanks.

![image](https://user-images.githubusercontent.com/51120508/133253413-4e2898cc-8e5f-447d-9177-11664a790340.png)

[2021-09-14 12:01] #15171 closed

[2021-09-14 13:46] tilakrayal commented on #13984
Could you please update to latest stable tf and keras versionand let us know if you are facing the same error. Thanks!

[2021-09-14 13:55] tilakrayal commented on #14157
@BestSithInEU ,
Can you please take a look at this SO [link](https://stackoverflow.com/questions/66271988/warningtensorflow11-out-of-the-last-11-calls-to-triggered-tf-function-retracin) and [issue](https://github.com/tensorflow/tensorflow/issues/38561#issuecomment-629937796) with similar error.It helps.

[2021-09-14 14:04] tilakrayal commented on #14147
@piyush05124 ,
Can you please take a look at this [issue](https://github.com/keras-team/keras/issues/13209) with similar error.It helps.Thanks!

[2021-09-14 14:38] marcnorn commented on #15259
Thanks, it finally seems to work.

[2021-09-14 14:38] #15259 closed

[2021-09-14 14:38] tilakrayal commented on #14139
Can you please take a look at this SO [link](https://stackoverflow.com/questions/58896925/is-it-true-that-conv2dcustombackpropinputop-only-supports-nhwc) with similar error.It helps.Thanks!

[2021-09-14 14:38] tilakrayal commented on #14139
Can you please take a look at this SO [link](https://stackoverflow.com/questions/58896925/is-it-true-that-conv2dcustombackpropinputop-only-supports-nhwc) with similar error.It helps.Thanks!

[2021-09-14 14:40] tilakrayal commented on #14127
Could you please update  to the latest stable version v.2.6 and keras and let us know if you are facing the same error. Thanks!

[2021-09-14 14:41] tilakrayal commented on #14127
Could you please update  to the latest stable version v.2.6 and keras and let us know if you are facing the same error. Thanks!

[2021-09-14 15:25] aristide355 opened #15365 "Inverse kinematic approximation with neural network"
Good morning everyone,
I'll try to briefly explain the context and then the problem I'm facing:

Context: I am using and testing a collaborative Robot. This Robot has been provided to me with a library in python that allows to acquire signals from the robot (currents, velocity, positions, I/O etc) and to command it, in joint and end-effector (EE) coordinates. There are also available the functions

[2021-09-14 17:29] piyush05124 commented on #14147
1.  FOR VC++ 17 AND BELOW IT WORKS WELL BUT ABOVE 17 IT HAS LOTS OF ISSUES.
2. TO TACKLE THIS SCENARIO , SINCE I GENERALLY USE TENSORFLOW, I INSTALLED THE LATEST VERSION OF KERAS AS WELL AS TENSORFLOW AND IT REALLY WORKS.
3. IN FACT VSCODE HAS SEVERAL OTHER ISSUES ALSO WITH IT. SO BETTER DIRECTLY INSTALL KERAS AND TENSORFLOW INTO YOUR MACHINE AND YOU WILL BE ABLE TO IMPORT IT IN ANY EDITOR UNLESS

[2021-09-14 18:01] jvishnuvardhan commented on #14065
@ooksang This is a stale issue. Sorry for late response.

Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? Also, check your code with the recent TF versions (`2.6` and `tf-nightly`) and let us know whether the issue persists with recent TF versions. Thanks!

[2021-09-14 18:08] AdityaKane2001 commented on #15358
@innat

I may be wrong, but please hear me out. TPUs are systolic devices, which means they do not support (almost) anything except MatMul. They are designed to be deterministic in nature. This is a well known fact, and thus augmentations and pyfuncs are executed on a powerful host CPU attached to the TPU. Note that GPUs have essentially same architecture as CPUs and thus they can perform random o

[2021-09-14 18:21] aliencaocao opened #15366 "AttributeError: module 'tensorflow.python.training.experimental.mixed_precision' has no attribute '_register_wrapper_optimizer_cls'"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-09-14 18:25] innat commented on #15358
@AdityaKane2001 thanks for the info, it's helpful.
I am not a frequent TPU user but I came to know about such an [issue](https://github.com/tensorflow/tensorflow/issues/34346#issuecomment-569815051). However, I believe there should some efficient workaround for that. Do you have anything on mind to resolve this issue?

[2021-09-14 18:26] aliencaocao commented on #15366
Sorry, found out was caused by previous versions of keras left over that did not get deleted when tensorflow upgrades. Closing this.

[2021-09-14 18:26] #15366 closed

[2021-09-14 18:44] jvishnuvardhan commented on #14061
@macdatar This is a stale issue. Sorry for late response.

Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? Also, check your code with the recent TF versions (2.6 and tf-nightly) and let us know whether the issue persists with recent TF versions. Thanks!

[2021-09-14 20:25] ymodak commented on #15360
I found related so post https://stackoverflow.com/questions/69166552/how-use-append-in-tensorflow-loop-without-python-collections (possibly self-answered)
Perhaps it's safe to close this issue since its resolved.

[2021-09-14 22:10] SamMohel commented on #15354
i tried same error

[2021-09-14 22:11] mathshangw commented on #15353
is there any help please ?

[2021-09-14 23:56] jvishnuvardhan commented on #14075
@YanLiang1102 This is a stale issue. Sorry for late response. I couldn't locate the code you referred.

Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? Also, check your code with the recent TF versions (`2.6` and `tf-nightly`) and let us know whether the issue persists with recent TF versions. Thanks!

[2021-09-15 00:16] jvishnuvardhan commented on #14076
@kk-55 This is a stale issue. Sorry for late response.

Is this still an issue for you? Can you describe the issue with more details? Are you trying to train your model with a custom loss function?

Can you please share a simple standalone code to reproduce the issue? Also, check your code with the recent TF versions (`2.6` and `tf-nightly`) and let us know whether the issue persists with recent T

[2021-09-15 00:23] jvishnuvardhan commented on #14080
@davezes Sorry for late response. This is a stale issue.

I am not sure about `R` based keras package. This repo is based on `python`.

Can you please try to post this question in [TF Forum](https://discuss.tensorflow.org/tags) where there are several user supporting each other. You might get faster answer there. Thanks!

[2021-09-15 00:35] jvishnuvardhan commented on #14083
@chiboreache Sorry for late response. Is this still an issue for you.

There is a more detailed [tutorial](https://www.tensorflow.org/tutorials/load_data/tfrecord) on `TFRecord` and `tf.train.Example`.  Can you please check it and let us know if there is anything missing.

Also, you can contribute to update the docs or code through PRs. Thanks!

[2021-09-15 01:40] jvishnuvardhan commented on #13984
@ArpithaFAU Is this still an issue for you. Sorry for late response.

Can you please share a simple standalone code to reproduce the issue? Also, check your code with the recent TF versions (`2.6` and `tf-nightly`) and let us know whether the issue persists with recent TF versions. Thanks!

[2021-09-15 03:07] MrinalTyagi commented on #15354
Your model requires multiple outputs as it consists of 2 input layers. Are you providing the input in that manner to cater the input requirements?

[2021-09-15 03:10] ArpithaFAU commented on #13984
No my issue is fixed. I'm currently using tf 2.4 with cuda 11.0

On Wed, 15 Sep 2021, 03:40 Vishnuvardhan Janapati, ***@***.***>
wrote:

[2021-09-15 03:23] SamMohel commented on #15354
no this model for image captioning that takes two input and one output . are you familiar with this task ? if yes can i take your email and thanks a lot

[2021-09-15 03:41] AdityaKane2001 commented on #15358
@innat

Unfortunately, no. I have not found  a clean workaround so far. All you can try is to make the input pipeline fast enough.

[2021-09-15 03:53] MrinalTyagi commented on #15354
you surely can mail me and ill have a look if I can be of any help. mrinaltyagi24@gmail.com

[2021-09-15 04:21] lugalUrim opened #15368 "LocallyConnected2D should raise error with negative strides"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): nightly
- Python version: 3.7.11
- Bazel version (if compiling from source): n/a
- GPU model and memory:

[2021-09-15 05:11] starboyvarun commented on #15334
@sanatmpa1 why you are not changing its type.?

[2021-09-15 05:31] #15258 closed

[2021-09-15 06:31] #13715 closed

[2021-09-15 06:31] #13718 closed

[2021-09-15 07:20] kk-55 commented on #14076
@jvishnuvardhan to be honest, I can't remember the concret context of this issue. Therefore I just close it and say thank you nevertheless!

[2021-09-15 07:20] #14076 closed

[2021-09-15 07:58] #13984 closed

[2021-09-15 09:43] kumariko commented on #15368
@jvishnuvardhan I Was able to reproduce the issue in TF-nightly but not reproduce in TF 2.6 please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/12051b8435a18b35ea8d056d551aa1a4/51376.ipynb#scrollTo=EVPxM-BVybVW) .Thanks!

[2021-09-15 10:14] tilakrayal commented on #14147
@piyush05124 ,
Glad the issue has resolved in latest versions.Please feel free to close the issue if the issue has resolved.Thanks!

[2021-09-15 14:19] olaiya commented on #411
Which version of tensorflow supports it? I've tried v2.4.3 and 2.6.0 and masking with a 1d convolutional layer does not seem to work! Maybe I'm doing something wrong?

For example:

model = tf.keras.models.Sequential([
        tf.keras.layers.Masking(mask_value=-99999.99, input_shape=[None, 1]),
        tf.keras.layers.Conv1D(filters=20, kernel_size=5, strides=1, padding='same'),
        tf.keras.

[2021-09-15 14:55] sushreebarsa commented on #15345
@jvishnuvardhan Was able to reproduce the issue on colab using TF v2.6 and tf-nightly , please find the gist[ here](https://colab.research.google.com/gist/sushreebarsa/d7d961ccb88acbe89e07567e8ebccd3e/untitled200.ipynb) for reference. Thanks!

[2021-09-15 15:02] sushreebarsa commented on #15340
@ucasiggcas Thanks for the update! Could you please have a look at the [gist](https://colab.research.google.com/gist/sushreebarsa/e972e392d7ba2fb6f91d2f24fd0fc365/untitled201.ipynb) and let us know if it is the way to reproduce the issue reported here ? Please let me know if I am missing something while reproducing. Thanks!

[2021-09-15 15:38] afrendeiro commented on #13782
Hi, I'm still having this issue with Tensorflow 2.5.
Any chance to re-open the issue as multiple users report this is still ongoing?

[2021-09-15 17:10] jvishnuvardhan commented on #14027
@diablo7431 Did you forget to describe the problem?

Please share more details about the issue and share any simple standalone code to reproduce the issue. Thanks!

[2021-09-15 17:17] jvishnuvardhan commented on #14029
@youyuge34 Is this still an issue for you? Can you please try recent TF versions (`2.6` and `tf-nightly`) and let us know whether the issue is still persisting. Please share a simple standalone code to reproduce the issue. Thanks!

[2021-09-15 18:36] bhack commented on #14086
It is fixed at https://github.com/keras-team/keras/pull/15342

[2021-09-15 19:24] jvishnuvardhan commented on #14086
Thanks @bhack. Still reproducing as the PR was not merged yet. I will check and close the issue once the PR gets merged. Thanks!

[2021-09-15 19:31] #14671 closed

[2021-09-15 19:55] kouroshD commented on #13914
@kumariko  Yes, it might be related to that. In any case, I have updated my implementations, and we may close this issue.

[2021-09-15 20:01] kouroshD commented on #14082
thank you @sushreebarsa  for your response. I have updated my implementations, and I do not face such problem. Please, feel free to close this issue.

[2021-09-15 20:24] ForeverZyh commented on #14086
Thanks @bhack !

[2021-09-15 21:18] #15353 closed

[2021-09-15 21:44] haifeng-jin commented on #15271
I have updated the notebook.
https://colab.research.google.com/drive/1L5XA7ZtHZ56unQIecxdQpdddaMAsW1N_?usp=sharing

Seems all the differences are small with tf-nightly.

[2021-09-15 21:51] kevinkotzen opened #15373 "val_sample_weight not used in calculation of custom validation metrics"
Moving this here from https://github.com/tensorflow/tensorflow/issues/51902
A colab from @sanatmpa1 replicating issue in  tf v2.5,v2.6 and nightly is [gist](https://colab.research.google.com/gist/tilakrayal/93668cb75a71299e9d335249a7450ca2/un51902.ipynb).

**System information**
-  Custome code using standard keras and tfa.metrics
-  Operating System: CentOS Linux 7 (Core), Kernel: Linux 3.10.0-11

[2021-09-15 21:56] haifeng-jin commented on #15360
@bouyeshogh I am closing this issue because it is resolved. Feel free to reopen it if it is not.

[2021-09-15 21:56] #15360 closed

[2021-09-15 22:31] ymodak commented on #15281
You may try loading the model using https://www.tensorflow.org/api_docs/python/tf/keras/models/model_from_json
Also see similar [post](https://github.com/keras-team/keras/issues/6971#issuecomment-469671605). Thanks!

[2021-09-15 22:31] #15281 closed

[2021-09-15 22:44] haifeng-jin commented on #15338
I just tried. It works. So we may add it to the contributing guide.

[2021-09-16 00:23] jvishnuvardhan commented on #13994
@Juliusppz This is a stale issue. Sorry for late response.

Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? Also, check your code with the recent TF versions (`2.6` and `tf-nightly`) and let us know whether the issue persists with recent TF versions. Thanks!

[2021-09-16 00:26] haifeng-jin commented on #15373
May need to verify with other custom metrics.
The `sample_weights` is handled by each metric, not by Keras framework.
Keras doesn't treat custom metrics differently than built-in metrics.
Likely to be a problem in the implementation of the custom metric.

[2021-09-16 00:28] jvishnuvardhan commented on #13999
@rafwaf This is a stale issue. Sorry for late response.

Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue? Simplify the code as much as possible. Also, check your code with the recent TF versions (`2.6` and `tf-nightly`) and let us know whether the issue persists with recent TF versions. Thanks!

[2021-09-16 00:31] #15262 closed

[2021-09-16 01:31] #14654 closed

[2021-09-16 04:35] netpoetica commented on #14440
I have tried some of the solutions posted here but no dice for me - is there a known solution for this? I am unfortunately on Windows, so the env is a bit painful. But I installed the most recent version of Python (3.9) and then installed textgenrnn via pip, and then just trying to run this basic example:
[code]
and I get this
[code]
[code]

[2021-09-16 04:42] netpoetica commented on #14440
I was able to get it to run by modifying textgenrnn.py in two ways:

[code]

[2021-09-16 05:31] #13885 closed

[2021-09-16 05:31] #13723 closed

[2021-09-16 07:05] jvishnuvardhan commented on #14030
@MichalWeisman This is a stale issue. Is this still an issue for you? Can someone share a simple standalone code to reproduce the issue? Please also check with recent `tf-nightly` and `TF2.6` and check whether the issue persists. Thanks!

[2021-09-16 07:28] ucasiggcas commented on #15340
hi
you forget import np
should need the code
`import numpy as np`
then will reproduce the error

[2021-09-16 07:29] jvishnuvardhan commented on #14094
@statcom Sorry for the late response. Is this still an issue for you.

Can you please share a simple standalone code to reproduce the issue? Please check the examples list [here](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/MeanIoU?version=nightly). Also, run your code with recent TF versions and let us know whether the issue still persists. Thanks!

[2021-09-16 07:31] jvishnuvardhan commented on #14096
@huyanfei-cqupt Sorry for the late response. Is this still an issue for you.

Can you please share a simple standalone code to reproduce the issue?  Also, run your code with recent TF versions and let us know whether the issue still persists. Thanks!

[2021-09-16 10:18] statcom commented on #14094
I forgot about this report as well. I resolved the problem but barely remember how. Anyway, you can close this issue.

[2021-09-16 10:26] PWZER opened #15376 "Copy variable for every step leads to slow training speed?"
**Describe the problem**.

I create a model with keras, but the training was too slow, and the memory usage is always changing. **ReadVariableOp** running time is too long.
After debugging, I found that the following line of code is executed every step.

https://github.com/tensorflow/tensorflow/blob/206301031d0051152a104da93fc637f2518881e1/tensorflow/core/kernels/resource_variable_ops.cc#L158

**S

[2021-09-16 12:44] innat commented on #14094
@jvishnuvardhan is the `MeanIOU` meant to work with the **one-hot encoded** label and not the **integer coded**label in the segmentation task? For example: normally it gives an error if we place this metric on this segmentation [example](https://keras.io/examples/vision/oxford_pets_image_segmentation/). In this example, the label is not one hot encoded but simply integer coded. Is the error expect

[2021-09-16 17:30] magnusbarata commented on #5474
@vladGriguta Keras Functional API receives a tensor for the function call. So, you must connect with the `model`'s output.
[code]

[2021-09-16 17:36] haifeng-jin commented on #15271
We would like to further investigate the inconsistency between using numpy and tensors.
The numpy has no difference.
The tensors would have small differences.

[2021-09-16 17:41] don-tpanic commented on #15271
Thanks for your time!

However if you change to `from_logits=True`, the differences will be larger. Could you look into it for me?

[2021-09-16 18:46] haifeng-jin commented on #15271
`from_logits=True` means there should not be a sigmoid.
If you would try it without any activation function at the head, it should be the same.

[2021-09-16 18:55] innat commented on #15271
`from_logits = True` means, the last layer's activation should be `linear` or `None`.

[2021-09-16 19:33] haifeng-jin commented on #15271
Yes, I changed `actionvation="sigmoid"` to `activation=None`. It works as expected with `from_logits=True`.
Do you see any inconsistency with this use case?

[2021-09-16 21:21] jvishnuvardhan commented on #14993
@karimanis This is more related to TF Lite micro. So, `tensorflow` repo is correct place for issues like this.

I noticed you had opened same issue in `tensorflow` repo but got closed due to inactivity. Please share a simple standalone code to reproduce the issue to be opened and resolved in TF repo. Thanks!

I am closing this issue. Thanks!

[2021-09-16 21:21] #14993 closed

[2021-09-16 22:35] jvishnuvardhan commented on #14150
@Preetesh21 Sorry for the late response. Is this still an issue.

I was able to successfully save and load a simple model that had `adam` optimizer. Please find the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/902b20da18632211ff67489de48d7f43/untitled1048.ipynb).

If you still have a problem saving and loading, then please share a simple standalone code to reproduce the issue.

[2021-09-16 22:38] jvishnuvardhan commented on #14156
@venom551998 Sorry for the late response. Is this still an issue.

If it is still an issue, please share a simple standalone code to reproduce the issue. I haven't faced too much discrepancy when trained a identical model on cpu and gpu. Thanks!

[2021-09-17 01:54] PWZER commented on #15376
I think the copy-on-read is not suitable for larger variables, For larger variables, the performance of using shared locks will be better？

[2021-09-17 03:00] #14027 closed

[2021-09-17 07:59] alfredkj7 commented on #8130
I am using a similar generator for prediction purposes. But, it is running infinitely. How can I resolve this?

[2021-09-17 08:15] gcunhase commented on #14913
Is there any update on this issue?

[2021-09-17 11:28] #15334 closed

[2021-09-17 13:03] kevinkotzen commented on #15373
Hi @haifeng-jin,
Thanks for your reply.
The built-in metrics 'accuracy' and 'sparse_categorical_accuracy' seem to also have the same problem. In fact, testing shows that NO weights are passed to all metrics (other than loss).

Note: I had initially thought that sample weights were working for **train data**, but after more testing, this is not the case.

Try the following example metric in this [g

[2021-09-17 13:12] don-tpanic commented on #15271
You are not wrong. But in the case where `from_logits = False` with `activation=sigmoid`, internally `BinaryCrossEntropy` will still switch to using logits.
[code]

[2021-09-17 14:41] lankuohsing opened #15382 "A bug for tf.keras.layers.TextVectorization when built from saved configs and weights"
I have tried writing a python program to save tf.keras.layers.TextVectorization to disk and load it with the answer of <https://stackoverflow.com/questions/65103526/how-to-save-textvectorization-to-disk-in-tensorflow>.
The TextVectorization layer built from saved configs outputs a vector with wrong length when the arg `output_sequence_length` is not `None` and `output_mode='int'`.
For example, if

[2021-09-17 15:16] rchao commented on #15267
@innat thanks for the information, and sorry for the delayed response here. The general criteria for adding a new application is that the model has 50 or more citations on the paper, and the requester can provide a PR for us to review. In this case, the PR should include an ImageNet checkpoint.

Can you show us the citation count or other reference demonstrating the popularity, and we'll assess to

[2021-09-17 16:31] innat commented on #15267
@rchao Thanks for the response.
For citation, I think it's not required to state the citation count for Issue [#15269](https://github.com/keras-team/keras/issues/15269) as we have already `ResNet 50/101`. However,

- For [`SENet`](https://github.com/hujie-frank/SENet?utm_source=catalyzex.com#trained-models) based models such as `SENet`, `SE-ResNet`, `SE-ResNeXt`, could you please check the citatio

[2021-09-17 17:27] sushreebarsa commented on #15340
@jvishnuvardhan Was able to reproduce the issue on colab using TF `v2.6` and `tf-nightly` ,please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/e972e392d7ba2fb6f91d2f24fd0fc365/untitled201.ipynb#scrollTo=VUFIub7eycj9) for reference .Thank you!

[2021-09-17 17:40] #14082 closed

[2021-09-17 18:33] Aillian commented on #14440
i was able to solve this issue by going to textgenrnn.py file and change
`from tensorflow.python.keras.utils import multi_gpu_model` line to `from tensorflow.python.keras.utils.multi_gpu_utils import multi_gpu_model`
i guess newer version of tensorflow/keras requires that.

[2021-09-17 19:19] rchao commented on #15267
Thanks @innat. Does this model have an imagenet checkpoint as well?

[2021-09-17 19:39] innat commented on #15267
@rchao yes, (afaik) they do. [Here](https://github.com/qubvel/classification_models) is the third-party implementation, and here is the list of [imagenet weights](https://github.com/qubvel/classification_models/releases/tag/0.0.1).

[2021-09-18 07:39] ucasiggcas commented on #15340
yes
it's the problem
thx

[2021-09-18 10:51] ysyyork commented on #5935
i'm using tf 2.3.0 and tf 2.4.0 and see this issue a lot. i dug into the source code and see there is a race condition issue which will keep on increasing memories. The issue is that for the training data generator, model.fit function only initialize one time and then there is a for loop in the class to iterate the data repeatedly forever. Every full epoch, it will close the process pool and the g

[2021-09-18 15:06] innat commented on #15240
@AdityaKane2001 cc. @rchao @fchollet
It's a promising model and would be good to have it. However, does `RegNet` have enough citations to be part of the `keras` application? If I'm not mistaken it currently has around 16 citations which is less than 50 citations threshold.

[2021-09-18 15:12] sayakpaul commented on #15240
I am not sure which citation stats you referred to @innat but it definitely seems wrong:

![Screenshot 2021-09-18 at 8 42 21 PM](https://user-images.githubusercontent.com/22957388/133893558-f3ba9ce2-7ee5-45b5-af01-03d0629b1a42.png)

![Screenshot 2021-09-18 at 8 41 47 PM](https://user-images.githubusercontent.com/22957388/133893561-302cb14d-bfcc-4b11-90af-34122fb61c06.png)

[2021-09-18 15:22] AdityaKane2001 commented on #15240
@innat

In my honest opinion, Regnets are celebrated for their efficiency and scalability. They beat ResNet and Efficientnet scores using lesser flops than them, especially at higher flop regimes.

![IMG_20210918_205020.jpg](https://user-images.githubusercontent.com/64411306/133893773-cf96d9d8-5cf6-4e03-b4ba-67556022c3de.jpg)

@sayakpaul

Thanks for the clarification!

[2021-09-18 15:47] innat commented on #15240
@AdityaKane2001
Yes, my information source was wrong. Thanks to @sayakpaul.

FYI, Please don't get too excited to see the claim to beat EfficientNet. In fact, they don't really respect the scaling and training process in the original EfficientNet paper during comparison. Facebook claimed beating EfficientNet with RegNet but people like Ross Wightman (timm) foumd the opposite during retraining espe

[2021-09-18 20:24] #14672 closed

[2021-09-18 20:27] #15361 closed

[2021-09-18 23:21] jacobggman commented on #14440
The solution for me was using an old version of Keras (Version 2.0.0)

[2021-09-20 00:25] mdrhmn commented on #14632
Have you managed to solve the issue?

[2021-09-20 07:23] AlmogDavid opened #15392 "Validation is not run when using "fit" method if the validation set changes its size"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 & Windows 10 (Reproducible on any OS)
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.5 & 2.6
- Python version: 3.8
- GPU model and memory: Nvidia RTX

[2021-09-20 10:27] #13914 closed

[2021-09-20 11:53] dariush-bahrami opened #15393 "List of Keras string identifiers"
I was looking for a list of Keras string identifiers. By string identifier, I mean string equivalent of Keras objects that one can pass to class constructors. As an example, if I want to use the `He Normal` initializer for a layer, I can do:
[code]
In the above example `"he_normal"` is the string identifier. I could not find any list of such Identifiers in the official documentation. I found [This

[2021-09-20 17:12] ReetuData opened #15395 "ImportError: cannot import name 'Adadelta' from 'keras.optimizers'"
**System information**.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  **window 10**   ~for Python notebook
- TensorFlow installed from (source or binary): **pip install --upgrade tensorflow**        ~for both colab and pyhton Notebook
- TensorFlow version (use command below): **2.6**     ~both colab and pyhton Notebook
- Python version: **Python 3.7.12** (google colab) / **3.8.8** (

[2021-09-20 21:35] yelandgit opened #15398 "Different output after Save/Load for Keras model with LSTM"
**Platform:** Ubuntu 18.04 (Amazon Cloud EC2 instance)
**TensorFlow:** 2.3.4/2.4.3 + Keras + Cuda
**Python:** 3.7.10

I try to train model with LSTM using CTC algorithm ( code from [OCR model for reading Captchas](https://keras.io/examples/vision/captcha_ocr/) )
If I do sequentially model creation, training, evaluation, saving, loading, and evaluation again, everything is correct.
The original tra

[2021-09-21 00:46] jvishnuvardhan commented on #14679
I assume this was resolved in recent TF version. Please feel free to reopen if the issue persist with recent TF versions. Thanks!

[2021-09-21 00:46] #14679 closed

[2021-09-21 00:48] jvishnuvardhan commented on #14164
Closing due to lack of recent activity. Please feel free to reopen when you have more information. Thanks!

[2021-09-21 00:48] #14164 closed

[2021-09-21 04:06] sayakpaul commented on #15240
@haifeng-jin could you provide an update on this? Should we start working on the PR?

[2021-09-21 08:14] yrogory commented on #5337
you can use garbage collection to clean up keras variables. import gc and then call gc.collect() after each call to model.predict()

[2021-09-21 08:45] kumariko commented on #15392
@jvishnuvardhan  I could reproduce the issue with TF 2.6 and tf nightly .Please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/2a002d5a04f0877a56074474ab36d4df/51241.ipynb#scrollTo=RSMnc5XAg9Ba).Thanks!

[2021-09-21 09:20] sushreebarsa commented on #15354
@SamMohel Could you please let us know if this issue is resolved ? In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here if this issue is not resolved. Thanks!

[2021-09-21 09:39] sushreebarsa commented on #13717
@quantitative-technologies
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-21 09:41] sushreebarsa commented on #14006
@MislavSag
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Please refer to the[ link ](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/sequence/TimeseriesGenerator)and let us know if it helps ?Thanks!

[2021-09-21 09:52] sushreebarsa commented on #14474
@rogeravs1997
In order to reproduce the issue reported here, could you please provide the complete code you are using. Thanks!

[2021-09-21 09:55] sushreebarsa commented on #14547
@eladmeir
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-21 10:24] tilakrayal commented on #14202
@Abheast12 ,
Could you please update tf v2.6 and keras to the latest stable version  and let us know if you are facing the same error. Thanks!

[2021-09-21 10:26] tilakrayal commented on #14195
@madhurinagare ,
Could you please update tf and keras to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-21 10:31] tilakrayal commented on #14194
@Shivamjohri247 ,
Can you please refer this SO [link](https://stackoverflow.com/questions/44144584/typeerror-cant-pickle-thread-lock-objects) with similar error.It helps.Thanks

[2021-09-21 10:35] tilakrayal commented on #14184
@Nusrat1011 ,
Can you please refer this SO [link](https://stackoverflow.com/questions/64224052/valueerror-checkpoint-was-expecting-a-trackable-object-an-object-derived-fro) with the similar error.It helps.Thanks!

[2021-09-21 11:08] sushreebarsa commented on #14559
@marlon-shiftone Could you please refer to the above comment and let us know if it helps ? Thanks!

[2021-09-21 11:20] marlon-shiftone commented on #14559
Thanks for the comment. That is right!

[2021-09-21 12:00] kumariko commented on #15395
@ReetuData please provide access for [**`google colab`**](https://drive.google.com/file/u/0/d/1zZySISeilQpkeTFrYve79zicB-LH_9FU/edit)

[2021-09-21 14:17] kumariko commented on #15398
@yelandgit I tried to run your code on colab using TF v2.6 . I faced value error while reproducing please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/a3309b687ad76f7cbed97c71e531f39a/51241.ipynb) for reference and  confirm the same .Could you please have a look at the [**`link1`**](https://www.tensorflow.org/guide/keras/save_and_serialize) ,  [**`link2`**](https://gi

[2021-09-21 15:51] yelandgit commented on #15398
I got error "_max() arg is an empty sequence_", because program uses external data set (see [https://keras.io/examples/vision/captcha_ocr/)](url)
Before to run my code, you need to download and unpack data:
<pre><code>curl -LO https://github.com/AakashKumarNain/CaptchaCracker/raw/master/captcha_images_v2.zip
unzip -qq captcha_images_v2.zip</code></pre>
My program reads data from directory ./data./

[2021-09-21 15:59] NoraAl commented on #1766
Epochs are there only to put an **upper bound** on the number of times you passed through the whole dataset. That is it! Well, you can also use an infinite loop and put a condition, say certain accuracy, to break the training without explicitly specifying the number of epochs.

However, they can show how many **passes it took a model to move weights from their initial state to another state**. Tha

[2021-09-21 18:39] jvishnuvardhan commented on #14205
@shahriar49 Sorry for late response. Is this still an issue for you?

For limiting `GPU` usage with `TF2.x`, please check this guide https://www.tensorflow.org/guide/gpu

TF2.x is more pythonic. so, you don't need any `tf.Session` to define and run specific evaluation.  Please check tutorials in [TF webpage](https://www.tensorflow.org/tutorials) and [keras webpage](https://keras.io/guides/). Thank

[2021-09-21 18:46] jvishnuvardhan commented on #14220
@pythonmjs Sorry for late response. Is this still an issue for you? I hope @LauLauThom suggestion helped you to resolve the issue.

If this is still an issue, Can you please share simple standalone code to reproduce the issue? Can you describe more details about your input image type? Also, try with recent TF/Keras versions to check whether the issue persists. Thanks!

[2021-09-21 18:49] jvishnuvardhan commented on #14211
@rajeeshmk Sorry for late response. Is this still an issue for you?

Can you please format and share a simple standalone code to reproduce the issue? Please use some toy data and share all the files required to reproduce the issue. Thanks!

[2021-09-21 19:43] jvishnuvardhan commented on #14302
@saifeemustafaq Sorry for late response. Is this still an issue for you?

Looking at your code, last layer should have 8 neurons to predict one of 8 categories you have in your data

[code]

Check the following `mnist` example https://www.tensorflow.org/overview/

[code]

Please verify once and close the issue if the issue resolved. Thanks!

[2021-09-21 20:12] jvishnuvardhan commented on #14304
@za13 Sorry for the late response. Is this still an issue?

If this is still an issue, can you please share a simple standalone code to reproduce the issue? Also, check with recent TF/Keras version to know whether the issue is persisting with latest versions. Thanks!

[2021-09-21 21:15] ReetuData commented on #15395
@kumariko, I have changed the authorization. You might be able to access it now. Let me know if you are still having issue.

Thanks

[2021-09-21 21:46] jvishnuvardhan commented on #14295
@gharshini Sorry for the late response. Is this still an issue for you?

What was the version of keras you had tried? Can you please try recent `TF2.6` or `tf-nightly` and let us know whether it is persisting. Also, share a simple standalone code to reproduce the issue. May be I can try checking it on GCP with GPUs. Thanks!

[2021-09-21 22:57] jvishnuvardhan commented on #14345
@eyalshafran Can you share a simple standalone code to reproduce the issue? Did you try recent TF/Keras versions? Thanks!

[2021-09-21 23:00] jvishnuvardhan commented on #14257
@55Ankur55 Sorry for the late response. Is this still an issue for you?

Can you please share a simple standalone code to reproduce the issue? Also, try running the code with recent TF/keras versions to check whether the issue persists with recent versions. Thanks!

[2021-09-22 00:46] jvishnuvardhan commented on #14690
@rushiai I ran your code with `TF2.6` and noticed different kind of error. Can you please check this [gist](https://colab.research.google.com/gist/jvishnuvardhan/1827a89ecf5e6dc9587f7b9119bab444/untitled.ipynb) and let us know what went wrong. If possible, share a simple standalone code to reproduce the issue. Thanks!

[2021-09-22 00:49] jvishnuvardhan commented on #14173
I hope this was resolved for you. Please feel free to reopen if I am mistaken. Thanks!

[2021-09-22 00:49] #14173 closed

[2021-09-22 00:50] jvishnuvardhan commented on #14125
I think this was resolved with recent TF versions. I am closing this issue. Feel free to reopen if I am mistaken. Thanks!

[2021-09-22 00:50] #14125 closed

[2021-09-22 00:53] jvishnuvardhan commented on #14000
Closing due to lack of recent activity. Please feel free to reopen when you have more information. Thanks!

[2021-09-22 00:53] #14000 closed

[2021-09-22 02:29] Janesefor commented on #7440
My error is "EOFError: marshal data too short".
I try your thoughts and find it useful~Thanks.
I judge the reason is that my model is a little big,with size of 6M.
Another reason maybe that I suddenly interrupt the training progress, which leads to bad .pyc in pycharm.

[2021-09-22 03:35] mathshangw opened #15404 "problem in dimension using VGG in image captioning"

[2021-09-22 03:37] #15354 closed

[2021-09-22 06:14] #15320 closed

[2021-09-22 06:14] #15276 closed

[2021-09-22 06:14] #14367 closed

[2021-09-22 06:14] #15226 closed

[2021-09-22 06:14] #14003 closed

[2021-09-22 06:14] #13961 closed

[2021-09-22 06:14] #14018 closed

[2021-09-22 06:14] #14004 closed

[2021-09-22 06:14] #13993 closed

[2021-09-22 06:14] #13959 closed

[2021-09-22 06:14] #13960 closed

[2021-09-22 06:14] #13724 closed

[2021-09-22 06:14] #14206 closed

[2021-09-22 06:52] innat commented on #15324
@sumitbinnani [Saving a TF2 keras model with custom signature](https://stackoverflow.com/questions/56659949/saving-a-tf2-keras-model-with-custom-signature-defs)

[2021-09-22 07:19] #15404 closed

[2021-09-22 07:49] itsshaikaslam commented on #14303
i think while training you are using mobilenet_preprocess_input function but while inference you are not using the same preprocessing function thats where every image got classified as one class ....

to fix this  you can use below code

pred_dir  is the place of folder where your images present

def prepare_image(file):
    img = image.load_img(file, target_size=(224, 224))
    img_array = image.

[2021-09-22 13:42] jrabary opened #15405 "How to preprocess weights before loading them with model.load_weights ?"
We need to fine-tune a Vision Transformer for task with different input resolution as the pre-training phase.
In this case we need to interpolate the positional embedding weights.
Is there a way to do it easily with "model.load_weights" or we have to do the pre-processing manually ?

[2021-09-22 14:29] kumariko commented on #15395
@jvishnuvardhan Was able to reproduce the issue in TF v2.6  please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/febc3b34df20c913d5b06e040131d9de/bidaf-with-dependencies.ipynb#scrollTo=16WfBiR_o4tb).Thanks!

[2021-09-22 14:31] sushreebarsa commented on #14559
@marlon-shiftone Thanks for the update! Can you please let us know if we can close this issue as it has been resolved? Thank you!

[2021-09-22 14:42] WingsBrokenAngel commented on #15368
Hi @kumariko @lugalUrim , I have resolved your issue by my PR #15356 . Please check it and give me feedback if you have any.

[2021-09-22 16:27] marlon-shiftone commented on #14559
Yes please!

[2021-09-22 16:27] #14559 closed

[2021-09-22 17:20] asottile opened #15406 "latest keras==2.6.0 is missing `install_requires`"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **no**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **(any)**
- TensorFlow installed from (source or binary): **(n/a)**
- TensorFlow version (use command below): **(n/a)**
- Python version: **(n/a)**
- Bazel version (if compiling from source): **(n/a)**
- GPU model and

[2021-09-22 18:14] #13954 closed

[2021-09-22 18:14] #13922 closed

[2021-09-22 18:14] #14058 closed

[2021-09-22 20:08] jvishnuvardhan commented on #15368
@WingsBrokenAngel I think this was resolved with your PR.

When I run the above code, it throws the following error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c4aafaf8fa95ebae990dbde78253117a/51376.ipynb)

[code]

I am closing this issue as this was resolved with the merger of PR https://github.com/keras-team/keras/pull/15356
Please feel free to reopen if t

[2021-09-22 20:08] #15368 closed

[2021-09-22 22:41] WingsBrokenAngel commented on #15393
[code]

This is what you need.

[2021-09-23 00:34] ersamo opened #15410 "Can i use object detection for captioning?"
I trained the maskRCNN model for detection of the objects on my images and got the results in a file with a .pkl extension with a format x1, y1, x2, y2, class_id, bbox_score can I use the results for captioning as I need to use Keras model for this task

How can these features be different from what we can get with VGG as the format of the result is different?

[2021-09-23 02:17] yelandgit commented on #15398
I think Save/Load functions don't work correct. The next simple test shows it:
<pre><code>import os
import numpy as np
from pathlib import Path

os.environ["TF_CPP_MIN_LOG_LEVEL"] = "2"

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
#import keras2onnx
#import onnx

# ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
#               neural net
# ~ ~ ~ ~ ~ ~

[2021-09-23 05:41] jvishnuvardhan commented on #15376
I was able to reproduce the issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/63f9ed182854ad7732ca265cca5c0d2a/test.ipynb).

output from the code is as shown below

### Training with Estimator

[code]

### Trainning with Keras
`100/100 [==============================] - 81s 697ms/step - loss: 0.8490`

Analysis (As mentioned by @PWZER )
We can see the Keras t

[2021-09-23 06:16] FabianGroeger96 opened #15411 "MultiHeadAttention: `activity_regularizer` can not be set"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04 (Code ran in official TF Docker Container)
- TensorFlow installed from (source or binary): Docker image
- TensorFlow version (use command below): 2.6.0
- Python version: 3.6.9
- Bazel version (if compil

[2021-09-23 06:21] jvishnuvardhan commented on #15405
@jrabary This is not a bug/performance issue. Keras repo is mainly to discuss bugs/performance related issues. This is a good question for discussion in [TF Forum](https://discuss.tensorflow.org/tag/keras).

You can use model.get_weights() and model.set_weights() methods to get the weights, preprocess them and write them back to the model.

May be [this](https://www.codespeedy.com/get_weights-and-

[2021-09-23 06:21] #15405 closed

[2021-09-23 08:26] MathisMohand opened #15413 "Custom metrics as partial function not working as intended"
Hello, when coding custom metrics (e.g; FBeta-score), defining it as a partial function :
`def fbeta_score(beta=1, threshold=0.5):

    def fbeta(y_true, y_pred):

        # Clipping predictions just in case
        y_pred = K.clip(y_pred, 0, 1)
        y_pred = K.cast(y_pred + 1 - threshold, tf.int32)
        y_pred = K.cast(y_pred, tf.float32)

        true_positives = float(K.sum(y_true * y_pre

[2021-09-23 08:29] auckenth commented on #14915
Any news on this issue?

[2021-09-23 17:09] LukeWood commented on #15406
@jvishnuvardhan will create a PR

[2021-09-23 17:16] LukeWood commented on #15393
Would you be willing to contribute this?

@fchollet supporting this would involve a new API that exposes all of the possible string values (i.e. keras.optimizers.list_all()), do we think this is something we'd be interested in supporting?  It could be useful for hyperparameter tuning, etc

[2021-09-23 17:30] LukeWood commented on #15352
Hey @APJansen - how much logic would be able to be shared between GroupConv2D and GroupConv3D, perhaps we can expose it but typically we require a pretty strong case to expose base classes.

+fchollet

[2021-09-23 17:48] APJansen commented on #15352
Hi @LukeWood, like the standard Conv2D and Conv3D layers: literally everything except for a rank attribute being set to 2 or 3 respectively.
I've worked around it though by moving all functionality that doesn't require a call to super to a separate layer, limiting the code duplication. (see https://github.com/apjansen/groco if you're curious)

So if there are good reasons not to expose the base Co

[2021-09-23 18:36] qlzh727 commented on #15358
@wangpengmit for tf.random.Generator() and tf.function related question.

[2021-09-23 20:16] voutcn commented on #15317
The problem is not TPU specific. In fact, if you uncomment [this cell](https://colab.research.google.com/drive/1ceB5VBwFd87Z0ANa_91vhvrOdG4SJQLY#scrollTo=UdVZrjqBRyI4&line=2&uniqifier=1) and run, you can see the same error.

It seems that the problem comes from `create_data_generator`. `tf.keras.preprocessing.sequence.pad_sequences` is either misused or buggy.

[2021-09-23 20:43] voutcn commented on #15317
I reran the colab with a non-TPU runtime and the problem disappeared.

py_function is not supported by cloud TPUs, and unfortunately dataset_generator uses py_function underneath. So you have to find another way reading the data (e.g. from tfrecord file).

[2021-09-23 21:06] haifeng-jin commented on #14888
@tanguycdls Do you have a notebook or something for me to reproduce this? I am not aware of this issue.

[2021-09-23 23:27] WingsBrokenAngel commented on #15393
I am glad to do it, @LukeWood .

[2021-09-23 23:50] bhack commented on #15406
We already claim  that Tensorflow is required at:

https://github.com/keras-team/keras-io/blob/master/templates/getting_started/index.md#installing-keras

[2021-09-24 01:27] jvishnuvardhan commented on #15406
@bhack Some users are using just

So, in the above attached PR, i updated the instructions as follows. With this modification, dependencies are also installed.

[code]

[2021-09-24 01:32] bhack commented on #15406
But we already claim in the next line:

[2021-09-24 02:40] howl-anderson commented on #15317
@voutcn Thank you for your comment. I will try to fix it by your suggestion. if it works, I will close this issue then. Thank you!

[2021-09-24 03:27] jvishnuvardhan commented on #15398
@yelandgit Did you try evaluating all four models? How much difference you are noticing? Also, currently it throws a warning about compiling the model. Please find the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/776f4a41a79071166723189d9341d20f/untitled1061.ipynb) for our reference.

[code]

[2021-09-24 06:34] innat commented on #14094
cc. @LukeWood

[2021-09-24 07:29] tanguycdls commented on #14888
@haifeng-jin thanks the colab is here: https://colab.research.google.com/gist/tanguycdls/fee7c221484cf4ee0e3273faa8e270b0/memory-overhead-tests.ipynb

In the test we can see that memory usage at loading time is not correlated to the dtype and the weights (all are similar) but to the actual structure of the code.
[code]

Here all the patterns are the same only the code writing is different, we clea

[2021-09-24 16:42] LukeWood commented on #14094
@statcom can you link a jupyter notebook where you can reproduce this problem?

[2021-09-24 23:18] wangpengmit commented on #15358
`layers.RandomFlip` etc. layers create a `tf.random.Generator` internally, and generator creation (similar to variable creation) doesn't work very well with `Dataset.map`. You can move your layer creations out of `Dataset.map` (like how you created `tf.random.Generator` outside `Dataset.map`):
[code]
Since those layers have generators internally, you can just set their `seed` to fixed numbers. The

[2021-09-25 01:38] WingsBrokenAngel commented on #15393
Hi, @LukeWood, @dariush-bahrami, @fchollet, I have created #15418 to provide all the supported initializers in Keras.

[2021-09-25 04:50] innat commented on #15358
@wangpengmit thanks for the detailed reply. I was already doing a similar approach. Something like as follows:

[code]

And I know [internally](https://github.com/keras-team/keras/blob/3a33d53ea4aca312c5ad650b4883d9bac608a32e/keras/layers/preprocessing/image_preprocessing.py#L1362) it uses `tf.random.Generator()` for a given `seed` value. In this way, it works on both GPU and TPU. And no need to w

[2021-09-25 08:09] Juliusppz commented on #13994
@jvishnuvardhan Thank you for the response. This will most likely not be an issue for me anymore and right now I cannot provide the code you asked for. I might be able to try out the things you suggested in a month or so, but only if this is an important issue for you as well. If it is not, I suggest closing this thread.

[2021-09-25 09:58] sushreebarsa commented on #14546
@yangziyi1990
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-25 09:59] sushreebarsa commented on #14486
@moonchildz
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-25 10:00] sushreebarsa commented on #14536
@trzy
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-25 14:47] ericyue commented on #13118
convert the numpy object to tf.convert_to_tensor works for me.
more info https://stackoverflow.com/questions/64199384/tf-keras-model-predict-results-in-memory-leak

[2021-09-25 18:35] xhlulu opened #15420 "[BUG] Omitting loss in model.compile will result in unhelpful error message"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Kaggle Notebook
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7
- GPU model and memory: Intel CPU/Tesla P100

**Describe the problem**.

If you try to compile your model without specifying a loss, no er

[2021-09-26 06:36] #14083 closed

[2021-09-26 09:17] nilay121 commented on #15420
You are using one hot encoded vectors as the target variable, but in the loss function you are using "binary crossentropy", which is not correct rather you should use "categorical cross entropy", the loss obtained using "binary crossentropy" for this problem is wrong.
Kindly refer to this for more details :- https://stackoverflow.com/questions/42081257/why-binary-crossentropy-and-categorical-cross

[2021-09-26 11:34] cbpantianya opened #15421 "AttributeError: 'NoneType' object has no attribute 'image_data_format'"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows10 64-bit
- TensorFlow installed from (source or binary): anconda
- TensorFlow version (use command below):2.3.0
- Python version:3.8.1
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact comman

[2021-09-26 14:07] cbpantianya commented on #15421
Sorry，I make a mistake

[2021-09-26 14:07] #15421 closed

[2021-09-27 03:40] Green-16 commented on #5916
none of the above work for me ,  my sense is mmoe, so i use the pickle package to avoid the problem.
with open(model_path + 'model_pickle.h5', 'wb') as f:
        pickle.dump(mmoeObj.model, f)

ps:
If you model is not serialize object: TypeError: can't pickle CompiledFFI objects    ,
the answer is here https://github.com/tensorflow/tensorflow/issues/34697

[2021-09-27 10:19] giorgiomondauto commented on #8339
I can see this issue was closed but I am still getting the same issue with keras 2.5

[2021-09-27 11:22] howl-anderson commented on #15317
Hi @voutcn, I have tried your tfrecord based solution. Although it still not works, but it changed to other error message:
[code]

It seems is a model implement issue (I used the CRF layer form TF addons). So, I think maybe (I am not 100% sure) it is a data API issue and can be solved by your suggestion. Thank you! And I close this issue for now.

[2021-09-27 11:22] #15317 closed

[2021-09-27 17:46] qlzh727 commented on #15358
I think the given seed will only make the layer to produce same deterministic sequence of random number, but will still be different between each batches.

[code]

So far I don't think there is a way to provide same random number for the KPL across the batches.

[2021-09-27 18:02] jvishnuvardhan commented on #13994
@Juliusppz Thanks. I think I will close the issue for now. We can reopen the issue when you face any issues with your code. Thanks!

[2021-09-27 18:02] #13994 closed

[2021-09-27 19:10] yelandgit commented on #15398
It's just simple test without training to show different result after save/load. Nothing else

If we are talking about trained model, try 1st source code above this simple test.
Yes, I have tried to evaluate restored model from file after training. The recognition result was 0% vs 99% after training

[2021-09-27 20:31] jvishnuvardhan commented on #15398
@yelandgit I tried LSTM model from TF tutorials, trained the model, evaluated model performance, saved the model, loaded saved model, and evaluated performance. The results from original model and loaded_model are very similar. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/f44a17ea0a6a8fe1b083bfbbdc7dadda/time_series.ipynb). Thanks!

[2021-09-27 20:57] yelandgit commented on #15398
Ok, good for you, but I try to train model with LSTM layers using CTC for training, therefore I use example from Keras tutorial [OCR model for reading Captchas](https://keras.io/examples/vision/captcha_ocr/). Training process works fine, but I cannot restore saved trained model. See my 1st source code

[2021-09-27 22:29] jvishnuvardhan commented on #14136
@skillful-tech This is a stale issue. Is this still an issue for you? Can you please share a simple standalone code to reproduce the issue?

I tried it on `mnist` data but don't notice OOM you mentioned above. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/db9f2e740875e1d9e5dab225e86653ec/untitled1062.ipynb). Thanks!

[2021-09-27 22:43] jvishnuvardhan commented on #14146
@b15h0y Is this still an issue for you?
I ran the code snippet you shared (which is also present in TF and keras webpages), and i get the same output that is listed on those webpages. [Here](https://colab.research.google.com/gist/jvishnuvardhan/c9076e3ddf827e787d1ff50a62173f6a/untitled1063.ipynb) is a gist for reference. Please note that I ran your code with recent stable `TF2.6` version. Thanks!

[2021-09-27 23:36] wangpengmit commented on #15358
+1 to what @qlzh727 said.

[2021-09-27 23:41] jvishnuvardhan commented on #14091
@poke1024 Sorry for the late response. Is this still an issue for you?

Can you please check with recent `TF/Keras` versions and let us know whether it is still an issue with recent version. Thanks!

[2021-09-28 00:40] jvishnuvardhan commented on #14099
@ethex2020 Is this still an issue for you?

Can you please share a simple standalone code to reproduce the issue? Also, test with recent TF version and let us know whether the issue persists with recent versions. Thanks!

[2021-09-28 06:12] NoraAl commented on #6503
@fchollet
How to explicitly let the model build the graph before first epoch starts? Could you also provide it for custom training loop?

Thanks

[2021-09-28 06:46] kumariko commented on #15411
Was able to reproduce the issue in TF v2.6 please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/7f962d65cb05dbca30155bb09661e5ad/51241.ipynb#scrollTo=efebmgClichs)Thanks!

[2021-09-28 06:53] kumariko commented on #15413
@MathisMohand In order to expedite the troubleshooting process, please provide a code snippet to reproduce the issue reported here.

[2021-09-28 09:00] kumariko commented on #15382
@lankuohsing We see that PR [**`#15422`** ](https://github.com/keras-team/keras/pull/15422) is merged , please let us know if we can close this issue ?

[2021-09-28 10:30] FabianGroeger96 commented on #15411
@kumariko thanks for reproducing it. I've already created a merge request with the fix.

[2021-09-28 11:33] arisliang opened #15425 "Add layer trainable in model summary and plot model"
**System information**.

TensorFlow version (you are using): 2.6
Are you willing to contribute it (Yes/No) : No

**Describe the feature and the current behavior/state**.

For GAN style models, whether the parameter is trainable correctly is important to model training correctness. Therefore it would be useful to be able to include that information in the summary and model plots, if possible.

**Wi

[2021-09-28 13:02] innat commented on #15358
@wangpengmit Actually, using the same random seed is on purpose (will explain later). As @qlzh727 stated it's true that for such setup (same seed initialization), it causes `output3 == output1` which is not wanted.

The issue is, I'm working on a multi-modal brain tumor [data set](https://www.kaggle.com/c/rsna-miccai-brain-tumor-radiogenomic-classification); where each sample has 4 different modal

[2021-09-28 13:49] lankuohsing commented on #15382
@kumariko

@kumariko The solution in that PR is useful! Thanks! You can close the issue.

[2021-09-28 13:49] #15382 closed

[2021-09-28 18:29] qlzh727 commented on #15358
I see. In that case, what you might want to do is:

1. Within each batch, concat the modalities 1 to 4 together, and feed them to the random layers, split the output into 4 afterward. This will ensure the same augmentation is applied to all the modalities.

2. You don't need to set seed for the random layer, the tf.random.Generator under the hood will make sure it create new augmentation every tim

[2021-09-28 19:12] gamertrue commented on #6547
I tried to this however I got an error message "list indices must be integers or slices, not ListWrapper". And I didn't use Merge but Concatenate instead... Does anyone have a solution to this issue?

[2021-09-28 19:18] jvishnuvardhan commented on #15406
@asottile I think this was resolved with the recently updated instructions on TF/Keras installation. Please check https://keras.io/getting_started/

I am closing this issue as this was resolved. Feel free to reopen if I am mistaken. Thanks!

[2021-09-28 19:18] #15406 closed

[2021-09-28 19:58] haifeng-jin commented on #15338
@bhack I guess our plan should be suggest using `--test_filter` in the contributing guide after the next `abseil-py` release (I guess it should be fixed).
As you said it is more convenient since we have a lot of parameterized tests.

[2021-09-28 20:01] bhack commented on #15338
Do we have also glob in the next release?

[2021-09-28 20:16] jvishnuvardhan commented on #14564
@tavishm Sorry for the late response. Is this still an issue for you?

Can you please share a simple standalone code to reproduce the issue? Thanks!

If this is not a bug, then [`TF Forum`](https://discuss.tensorflow.org/) is the right place to post this issue as there is a big community support and learn from each other. Thanks!

[2021-09-28 22:26] mattdangerw commented on #15198
Closing this for now, as the solution above (using a StringLookup and CategoryEncoding) should be sufficient. Please reopen if there are issues.

[2021-09-28 22:26] #15198 closed

[2021-09-28 22:27] mattdangerw commented on #15061
Closing, this should be fixed as of 2.6. Please reopen if that is not the case!

[2021-09-28 22:27] #15061 closed

[2021-09-29 01:39] tavishm commented on #14564
Okay, I'll look into it.Sent from my Galaxy
-------- Original message --------From: Vishnuvardhan Janapati ***@***.***> Date: 9/29/21  1:47 AM  (GMT+05:30) To: keras-team/keras ***@***.***> Cc: Tavish Mankash ***@***.***>, Mention ***@***.***> Subject: Re: [keras-team/keras] Autoencoder predicts every image pure white. (#14564)
@tavishm Sorry for the late response. Is this still an issue for you?

[2021-09-29 03:12] bhack commented on #15338
Here the PR in TF:
https://github.com/tensorflow/tensorflow/pull/52173

But glob is still in their TODO list https://github.com/abseil/abseil-py/issues/128

So I don't know what you want to do with parameterized tests names.

[2021-09-29 04:24] ravikiranrao commented on #14308
@lizhaozhi I am encountering the sam error. Did you find any solution. Would be much appreciated :-)

[2021-09-29 06:14] #13729 closed

[2021-09-29 06:14] #14015 closed

[2021-09-29 06:14] #13939 closed

[2021-09-29 06:14] #13910 closed

[2021-09-29 06:14] #13941 closed

[2021-09-29 06:14] #14053 closed

[2021-09-29 06:14] #14139 closed

[2021-09-29 06:14] #14127 closed

[2021-09-29 06:14] #14065 closed

[2021-09-29 06:14] #14061 closed

[2021-09-29 06:14] #14075 closed

[2021-09-29 06:14] #14080 closed

[2021-09-29 07:14] #15324 closed

[2021-09-29 08:28] mcarletti commented on #14440
Same problem but solved by checking the TF version.

When I import `multi_gpu_model` from `keras utils`, I get the following error message:

`ImportError: cannot import name 'multi_gpu_model'`

I've solved the issue by checking the TF version:
[code]

**Environment**
- Ubuntu 18.04.1
- Python 3.6.13
- tensorflow-gpu: 2.4.0

[2021-09-29 09:54] #14257 closed

[2021-09-29 09:56] 55Ankur55 commented on #14257
@jvishnuvardhan the issue was training the model with different version of Pytorch and loading with different version as I trained on google colab and was trying to load on local machine.
The issue has been solved now. It was due to different version.
Thanks for the reply

[2021-09-29 11:41] #14147 closed

[2021-09-29 17:23] Electric-Dragon opened #15427 "ValueError: The mask that was passed in was tf.RaggedTensor(values=Tensor("Placeholder_2:0", shape=(None,), dtype=bool), row_splits=Tensor("Placeholder_3:0", shape=(None,), dtype=int64)) and cannot be applied to RaggedTensor inputs. Please make sure that there is no mask passed in by upstream layers."
Tensorflow version: 2.6.0
Environment: Google Colab GPU Instance

---

Model Structure

[code]

Encoding Layer

[code]

---

The Problem

I am getting the following error when trying to load the model with `tf.keras.models.load_model()`:

[code]

---

The model was saved with the command `model.save(PATH)`
While saving, I get the following warning:

[code]

---

Can I please get some help?

[2021-09-29 17:46] FabianGroeger96 commented on #15411
Was merged into master.

[2021-09-29 17:46] #15411 closed

[2021-09-29 17:47] innat commented on #15358
@qlzh727
Awesome, It works as expected; Thanks.

[code]

However, what if...we have a custom augmentation layer, build with `tf.image` or `tf.addons.image` modules. How to make sure the randomness **per batch** in such a case? Like in your point 2, with built-in `keras` augmentation, randomness is ensured by `tf.random.Generator` under the hood but how to ensure that for custom augmentation layers

[2021-09-29 17:59] qlzh727 commented on #15358
It depends on how the lib author implement their layer. User can still use tf.random.Generator which is a public API.

[2021-09-29 18:22] jvishnuvardhan commented on #15410
@ersamo Object detection model is to detect objects (`class_id`) within a bounding box. For image captioning, you can follow this [this](https://keras.io/examples/vision/image_captioning/) tutorial.

This repository is mainly to discuss bugs/performance related issues. For a discussion, please raise a question in [`TF Forum`](https://discuss.tensorflow.org/) where there is a big community to suppo

[2021-09-29 18:41] #14029 closed

[2021-09-29 19:08] xhlulu commented on #15420
@nilay121 The `loss` used here is tangential to the issue I reported, as I'm not reporting an issue with the convergence of some model.

However, to answer your question, I am not using a one hot encoding, which you can verify with `y.sum(axis=1) == 1`. Thanks for bringing up as I noticed that I am using `softmax` instead of `sigmoid`, which I have corrected in the original post for correctness.

[2021-09-30 01:41] #13999 closed

[2021-09-30 07:32] Electric-Dragon commented on #15427
Okay I solved this by removing the `mask_zero=True` attribute from the embedding layer, however, I'm not sure why this works and why it did not work with `mask_zero=True`. It would be helpful if someone can tell me the reason.

[2021-09-30 08:41] #14096 closed

[2021-09-30 10:26] saadsaifse commented on #14896
any update on this issue? My Mac doesn't have a GPU, so I am blocked until it gets resolved on CPU

[2021-09-30 13:37] #15041 closed

[2021-09-30 13:43] AdityaKane2001 commented on #15352
@APJansen

I'm not sure, but will [this](https://chromium.googlesource.com/external/github.com/tensorflow/tensorflow/+/HEAD/RELEASE.md#release-2_7_0-major-features-and-improvements) help? (See "Keras" under "Major Features and Improvements")

[2021-09-30 14:41] #14040 closed

[2021-09-30 16:38] jvishnuvardhan commented on #15395
@ReetuData I think this is more related to `bidaf-keras`. May be the location of `adadelta` need to be updated in `bidaf-keras`.

I took very simple `mnist` model and ran with `adadelta` optimizer without any issues. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/2b63b376b8fbe1dd78b8304b80755d55/untitled.ipynb). Thanks!

[2021-09-30 17:03] sachinprasadhs commented on #15427
When you use `mask_zero=True` in a layer, then all subsequent layers in the model need to support masking or an exception will be raised.
You can set mask_zero=False(which is default in Embedding layer) or in some cases for Ragged errors can be handled by setting ragged=False in the Input layer.
You can find more details on masking in the document [here](https://www.tensorflow.org/guide/keras/mask

[2021-09-30 17:27] fchollet commented on #15425
Thanks for the suggestion. We think this could be a useful feature, so please feel free to open a PR to add an optional `trainable` column to the summary (let's make it as narrow as possible since it's just a boolean flag).

[2021-09-30 17:31] fchollet commented on #15340
Hi there, `pad_sequences` is only for NumPy data, not for TF tensors, hence the error. Prefer using `tf.pad` https://www.tensorflow.org/api_docs/python/tf/pad

[2021-09-30 17:31] #15340 closed

[2021-09-30 17:35] jvishnuvardhan commented on #14086
@ForeverZyh This is resolved by @bhack's PR.

I am closing this issue as this was resolved. Thanks @bhack

[2021-09-30 17:35] #14086 closed

[2021-09-30 20:28] jvishnuvardhan commented on #15313
@git2120 I think you could extend the idea presented in the book to do multiple pooling.

This is a good topic to be discussed in [TF Forum](https://discuss.tensorflow.org/) as this GitHub repository is mainly focussed on Bugs and performance related issues.

Also, there is a big community ready to discuss and learn from each other. Thanks!

[2021-09-30 21:09] bhack commented on #14086
@qlzh727 Do you think we have another edge case not covered by the new test at:

https://discuss.tensorflow.org/t/meanmetricwrapper-produces-inconsistent-results-on-multiple-runs/4714

[2021-09-30 23:41] #14150 closed

[2021-09-30 23:41] #14156 closed

[2021-09-30 23:53] haifeng-jin commented on #15271
@don-tpanic So do we consider this issue is resolved? my code example does what you need, right?

[2021-10-01 01:02] eduardofv opened #15440 "Add 'scalar' `label_mode` in `image_dataset_from_directory` and load images from directory root for Regression"
**System information**.

TensorFlow version (you are using): 2.5,2.6
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

`image_dataset_from_directory` currently assumes that the dataset will be used in classification tasks, so the labels take some form of categorical values (integers, binary, etc). It also make strong assumptions on the direc

[2021-10-01 06:52] gcunhase commented on #14913
Any updates?

[2021-10-01 08:47] sayakpaul opened #15442 "EarlyStopping failing with `tfa.metrics.FBetaScore`"
**System information**.

I am using Colab and running this example on [Knowledge Distillation](https://keras.io/examples/keras_recipes/better_knowledge_distillation/) with [`tfa.metrics.FBetaScore`](https://www.tensorflow.org/addons/api_docs/python/tfa/metrics/FBetaScore) as my metric.

**Describe the problem**.

`EarlyStopping` callback fails with the`tfa.metrics.FBetaScore` metric.

**Describe t

[2021-10-01 09:00] APJansen commented on #15352
@AdityaKane2001 The way I've done it now (see above) is still cleaner I think, but it won't work for separable/depthwise convolutions, so this may be useful for those, thanks for letting me know!

[2021-10-01 10:06] kumariko commented on #15442
Was able to reproduce the issue in TF v2.6, please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/f342fd246c64957ead31f7cc7a6eff3a/51241.ipynb#scrollTo=rlheaqn7T_eD).Thanks!

[2021-10-01 12:55] #15271 closed

[2021-10-01 13:05] kmkarakaya opened #15443 "A model with TextVectorization layer can not be uploaded"
In https://keras.io/examples/nlp/text_classification_from_scratch/ example, after I saved the end_to_end_model, can not upload it due to the issue in the Text Vectorization layer (even I use the decorator "@tf.keras.utils.register_keras_serializable()" before the
def custom_standardization(input_data) function. The error message is below.

Actually, I received a similar error message, when save &

[2021-10-01 16:27] alaa-alsheikheh opened #15444 "AttributeError: module 'keras.backend' has no attribute 'RandomGenerator'"
i am getting this issue when i am trying to execute this code
`def create_model(input_shape):
    input_tensor = Input(shape=input_shape)
    base_model = InceptionV3(weights="imagenet",
                                          include_top=False,
                                          input_tensor=input_tensor)
    base_model.load_weights('../MyProject/InceptionV3/inception_v3_weights_tf_dim_o

[2021-10-01 17:16] qlzh727 commented on #15358
Since tf.data API doesn't allow weight creation within it (tf.random.Generator creates weight as its own internal state), I don't think we can address anything here in this bug. Also with the walk around above, you probably can achieve what you want. Closing this bug now, and let me know if you need anything else.

Thanks.

[2021-10-01 17:16] #15358 closed

[2021-10-01 17:41] #14094 closed

[2021-10-01 19:37] microprediction commented on #14265
Has anyone got this solution to work on M1? I'm not able to downgrade h5py.

[2021-10-01 23:19] victor-sm commented on #14372
I have the same problem, the only "solution" so far was to turn off all but one GPU:

[code]

There seems to be something fundamentally broken with the BatchNormalization-Layer or the SavedModel. I encountered this error using a Azure GPU Instance with:

2 and 4 GPUs
Python 3.6 and 3.8
Tensorflow 2.3, 2.4 and 2.6

[2021-10-02 05:18] Electric-Dragon commented on #15427
So I'll have to use `mask_zero=True` in all of the layers?

[2021-10-02 10:37] zem-alt commented on #14368
ValueError: Data cardinality is ambiguous:
  x sizes: 144
  y sizes: 118
Make sure all arrays contain the same number of samples.
please guide me how to resolve this issue

[2021-10-02 13:59] innat commented on #15420
@xhlulu [#15441](https://github.com/keras-team/keras/pull/15441)

[2021-10-03 06:23] GiovanniGedosal commented on #14345
Same issue

[2021-10-03 09:30] nitsanhasson commented on #15316
@jvishnuvardhan any updates?

[2021-10-03 10:29] Kdev369 commented on #14345
I am also facing the same issue
![image](https://user-images.githubusercontent.com/82885255/135749607-87bf9987-d4c9-49e6-84d1-897d72fd9eb8.png)

and after applying saved_model instead of save.... again this error appeared
tf.saved_model.save(intent_model,'/content/model')

![image](https://user-images.githubusercontent.com/82885255/135749630-9e377181-fcaf-48a3-81fb-f3e72a139c80.png)

Do tell me ab

[2021-10-03 13:57] BananaLoaf opened #15448 "MinMax Normalization"
**System information**.

TensorFlow version (you are using): **2.6.0**
Are you willing to contribute it (Yes/No): **Yes**

**Describe the feature and the current behavior/state**.

Current documentation states that to normalize values [0, 255] between [-1, 1] we need to use Rescaling layer with `scale=1./127.5, offset=-1`

Rescaling layer math looks like `f(x) = x * scale + offset` where:

`scale

[2021-10-03 16:48] Rajesh-Veeranki commented on #15373
Don't you need to use `weighted_metrics` argument in compile args?  See this https://github.com/keras-team/keras/pull/7536
I found this info hard to find as well. It's a bit strange that keras requires a special argument for this and completely ignores the sample weight for metrics without giving a proper warning.

[2021-10-03 17:39] Tubaumer opened #15449 "Trouble in running the epochs. How to solve it?"
Here's the code:
import numpy as np
np.random.seed(123) #for reproducibility

from keras.models import sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Convolution2D, MaxPooling2D
from keras.utils import np_utils
from keras.datasets import mnist

(X_train, y_train), (X_test, y_test) = mnist.load_data()

X_train = X_train.reshape(X_train.shape[0], 1,

[2021-10-04 08:32] kumariko commented on #15449
@Tubaumer I am not getting the error as reported here. could you please share colab link with steps to reproduce the error. please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/9cc721e16e26e056b88eeaa231fd7ea5/51241.ipynb#scrollTo=BJeJ-TB_QLNn) .

[2021-10-04 09:48] Tubaumer commented on #15449
Here's the link:
https://colab.research.google.com/gist/kumariko/9cc721e16e26e056b88eeaa231fd7ea5/51241.ipynb#scrollTo=BJeJ-TB_QLNn

[2021-10-04 13:37] sushreebarsa commented on #14472
@anorlo
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-04 13:38] sushreebarsa commented on #14506
@mayowaosibodu
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-04 14:25] kevinkotzen commented on #15373
@Rajesh-Veeranki thank you for your input. The solution you proposed is correct. setting `weighted metrics=[val_metric_to_weight]` works.

I agree that this is confusing and a warning should be raised if using sample/class weighting and validation data. I will update this from a bug report to a feature request. Thanks again.

[2021-10-04 14:25] #15373 closed

[2021-10-04 18:25] ianzur opened #15451 "Normalization layer masking"
**System information**.

TensorFlow version (you are using): tf-nightly (on CoLab), locally 2.7.0 (built locally with ROCm support, a few weeks behind)
Are you willing to contribute it (Yes/No) : Yes, after maintainers evaluate proposal

**Describe the feature and the current behavior/state.**
tf.keras.layers.Normalization() does not ignore masked values.

**Will this change the current api? How?*

[2021-10-04 20:17] bhack commented on #15338
Ok the PR is merged and available in tf-nightly.

As you have seen in the upstream ticket we can temp filter tests with (e.g):

`bazel test keras:backend_test --test_arg=-- --test_arg=-k=__main__.BackendCrossEntropyLossesTest.test_binary_crossentropy* --test_sharding_strategy=disable`

or
`bazel test keras:backend_test --test_arg=-- --test_arg=-k=*BackendCrossEntropyLossesTest.test_binary_crossent

[2021-10-04 20:29] utkarshgupta137 opened #15454 "[TF 2.6.0] Cannot save unrolled Bidirectional RNNs"
**System information**.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): tf2.6-gpu-jupyter image
- TensorFlow installed from (source or binary): docker image
- TensorFlow version (use command below): 2.6.0
- Python version: 3.6.9
- Bazel version (if compiling from source): N/A
- GPU model and memory: Nvidia Tesla P40

**Describe the current behavior**.

model.save step throws the followi

[2021-10-04 23:31] bhack commented on #15338
@MarkDaoust As a side effect are you interested in this for https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md#running-unit-tests ?

[2021-10-04 23:39] vladimircape opened #15456 "Seq2seq with Attention and TeacherForcing"
Encoder part
[code]
decoder
[code]

Train

[code]

for predict encoder
`encoder_model = Model(encoder_inputs, encoder_states2)`
for decoder
[code]

but in decoder I got error

**Layer dec_lstm_out expects 9 input(s), but it received 3 input tensors. Inputs received: [<tf.Tensor 'dec_lstm1_38/transpose_1:0' shape=(2, 1, 768) dtype=float64>, <tf.Tensor 'concatenate_26/concat:0' shape=(?, 256) dtype=

[2021-10-05 06:22] haifeng-jin commented on #15338
Thank you @bhack !
This is awesome work!
I will update the contributing guide for running single or parameterized tests and keep you posted.

[2021-10-05 09:15] NoBetterThanNoise commented on #11735
has anyone found a solution / workaround for this in tf 2.4+ ?

[2021-10-05 09:59] #15410 closed

[2021-10-05 10:35] kumariko commented on #15444
@alaa-alsheikheh In order to expedite the trouble-shooting process, please provide complete code snippet to reproduce the issue reported here. Thanks!

[2021-10-05 10:41] #13717 closed

[2021-10-05 10:41] #14006 closed

[2021-10-05 10:41] #14547 closed

[2021-10-05 11:17] kumariko commented on #15449
I could run your code on colab using TF v2.6.0 and didn't face the value error as reported here. Please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/9cc721e16e26e056b88eeaa231fd7ea5/51241.ipynb#scrollTo=BJeJ-TB_QLNn). Thank you!

[2021-10-05 11:41] #14202 closed

[2021-10-05 11:41] #14195 closed

[2021-10-05 11:41] #14184 closed

[2021-10-05 11:41] #14194 closed

[2021-10-05 12:14] sachinprasadhs commented on #15427
You don't have to, you can use it in the layer which is required and the subsequent layers should support, as of now you can proceed with mask=False, since it is throwing error.

[2021-10-05 12:36] Electric-Dragon commented on #15427
Okay thanks

[2021-10-05 12:36] #15427 closed

[2021-10-05 17:52] jvishnuvardhan commented on #15454
@utkarshgupta137 I am able to reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/8935c2ad4bd3720cf1b7b467689b8ff8/untitled.ipynb) is a gist for our reference. Thanks!

[2021-10-05 17:57] jvishnuvardhan commented on #14345
Is it possible for anyone of you to share a simple standalone code to reproduce the issue? Thanks!

[2021-10-05 18:33] Gautam-Goyal commented on #6571
Have you solved this problem?

[2021-10-05 18:59] jvishnuvardhan commented on #14838
@hidanom In my experience, I think it is always better to use a dictionary as output (when multiple outputs). I changed one line as shown below. With that change, everything worked as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c4d82ef4f4b90ce172b9cea72e7775be/keras_bug_example.ipynb).

`main_model = tf.keras.Model(inputs=[main_model_input], outputs

[2021-10-05 19:35] jvishnuvardhan commented on #14761
I can reproduce the issue with `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/f91a728b9447ea1b7bbfb09f2e28d8a0/untitled1070.ipynb) is a gist for our reference. Thanks!

[2021-10-05 19:41] #14205 closed

[2021-10-05 19:41] #14211 closed

[2021-10-05 19:52] OssamaAlshabrawy commented on #6571
Yes, solved! Many thanks!

[2021-10-05 20:04] jvishnuvardhan commented on #14678
@Sehaba95 I have updated one line in your code. With that modification, `model` is getting split into `model1` and `model2`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/598a5e1490bebc041bfa8b272c9c4145/untitled1071.ipynb).

The following line was changed from
`layer_input_1 = Input(model.layers[0].input_shape[1:])`

to

`layer_input_1 = keras.Input(model.laye

[2021-10-05 20:32] hidanom commented on #14838
@jvishnuvardhan It worked because you effectively reversed the order of outputs from `(zeros_result, ones_result)` to `(ones_result, zeros_result)` by introducing these keys. You can [reproduce](https://colab.research.google.com/drive/10ezJFJioKt4HnA30SSumLv5dGQPC_jZ3?usp=sharing) the problem by changing `'zeros_result'` key to `'azeros_result'`.

The issue is not specifically with the order of th

[2021-10-05 20:41] #14302 closed

[2021-10-05 21:34] jvishnuvardhan commented on #14838
@hidanom Agree with you. Looks like this was resolved in `tf-nightly`.

I ran your colab with `tf-nightly` and I can see same results before and after loading the model. [Here](https://colab.research.google.com/gist/jvishnuvardhan/2c99f771377a50d0a11d17de6f8c4e90/copy-of-keras_bug_example.ipynb) is a gist for reference. Thanks!

[2021-10-05 22:41] #14295 closed

[2021-10-06 00:18] #15440 closed

[2021-10-06 01:41] #14690 closed

[2021-10-06 06:41] #14157 closed

[2021-10-06 09:58] hidanom commented on #14838
@jvishnuvardhan Yeah, seems like it has been fixed by @k-w-w  here
https://github.com/keras-team/keras/commit/d4dc8979d5de574eb2b840a0fbe57cfd5a997ecf#diff-e83c57c7a178ac5b8a4db88d989cd01f6e45f99d198d328c1b2314c9da337b82

[2021-10-06 13:38] MathiesW opened #15460 "tf.keras.metrics.RootMeanSquaredError() not commutative for higher dimensional tensors"
**System information**.
- Linux Ubuntu 20.04
- Python 3.7.9
- tensorflow-gpu 2.5.0, installed via pip

**Describe the problem, i.e. current behaviour**.
The RootMeanSquaredError metric is not commutative for Tensors with >3 dimensions.

**Describe the expected behavior**.
The RootMeanSquaredError metric should be commutative for all Tensors despite their dimension.

**Standalone code to reproduce

[2021-10-06 17:10] sushreebarsa commented on #15460
@MathiesW  I tried to run your code on colab using [2.5.0-gpu](https://colab.research.google.com/gist/sushreebarsa/064d13ca878c72688df36c9d872e1699/untitled439.ipynb) ,[2.6.0-gpu](https://colab.research.google.com/gist/sushreebarsa/88360ff0e1d87c157e8e807853ac02db/untitled438.ipynb#scrollTo=F0aPQV4yfg8q) and didn't face the issue reported here .Could you please have a look on the attached gists an

[2021-10-06 17:12] sunw70 opened #15462 "Is it possible to use both tf.keras.layers and a custom class Myconv(Layer) in a model?"
System information

- OS Platform and Distribution: Linux Ubuntu 20.10
-  TensorFlow installation: pip package
-  Tensorflow version: 2.4.0
-   Python version: 3.8

I've a doubt: is it possible to use a model like the following one:

    def make_model(input_shape1, in2):
         model = tf.keras.Sequential()
         model.add(Myconv(filters=1,kernel_size=3,dilation_rate=1,use_bias=False,input_s

[2021-10-06 19:13] jvishnuvardhan commented on #14345
@Nash2325138 I am facing different error. Can you please check this [gist](https://colab.research.google.com/gist/jvishnuvardhan/4073e69e08dd8ad2c4e603e27ff0fc71/untitled.ipynb) and let us know what version you are using. Thanks!

[2021-10-06 19:16] jvishnuvardhan commented on #14323
@Anishauday Can you please share a simple standalone code to reproduce the issue? Did you face any error while training? Thanks!

[2021-10-06 19:23] jvishnuvardhan commented on #14387
@ewwll Sorry for late response. Is this is still an issue for you?

Can you please share a simple standalone code to reproduce the issue? You could use public data or simulated data while creating standalone code. I tried to format your code in [this gist](https://colab.research.google.com/gist/jvishnuvardhan/993fea498442bee1bd7f5542772a69f4/untitled1073.ipynb). Thanks!

[2021-10-06 19:29] jvishnuvardhan commented on #14411
@layne-sadler Sorry for late response. Is this is still an issue for you?

Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-10-06 20:15] MathiesW commented on #15460
@sushreebarsa thanks for the fast reply. Your attached gists work like a charm. This is interesting, I will have another look at my Python environment tomorrow.

[2021-10-07 00:09] bhack commented on #15442
I think that the problem is that you don't set `average` param so with the default you have not a single return value.
The early stopping callback expect a single value and so it just emit the low level python error without failing fast with a better error message.

[2021-10-07 04:23] AdityaKane2001 commented on #15240
@haifeng-jin

Yes, he has given the green light. We are now working on the PR : #15419

[2021-10-07 08:22] Nash2325138 commented on #14345
Update: if I change
[code]
to
[code]
as @eyalshafran suggested, the problem is magically solved.
I wonder what's the cause

[2021-10-07 10:21] dinesh-k-natarajan commented on #15135
This issue persists in TF 2.6.0 while using a model sub-classing API, followed by model.build() and model.summary()

[2021-10-07 16:32] sushreebarsa commented on #14110
@iceberg2271
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-07 17:16] LukeWood commented on #15451
Hey there!  We are interested in this feature, please go ahead and prepare a pull request if you are willing!

[2021-10-07 17:33] LukeWood commented on #14761
will dig into this!

[2021-10-07 22:30] mahmksoft opened #15470 "Keras custom layer issue"
I have a custom Keras layer as follows:

[code]

The layer is being run with the following code snippet:

[code]

And I get the following error:

**```
tensorflow.python.framework.errors_impl.InvalidArgumentError:  Incompatible shapes: [32,2] vs. [2,2]
	 [[node sequential/nmu/mul (defined at nalu.py:135) ]] [Op:__inference_train_function_547]
[code]

[2021-10-07 22:56] mattdangerw commented on #15443
It looks like there's a couple issue going on.

 - The main stack trace you posted (about ragged tensors) is only reproduced on stable and not on nightly.
 - On nightly we see a different error, related to saving a custom standardization function.

Both worth looking at, just wanted to clarify that things do not look the same stable/nightly. Thanks for filing!

[2021-10-07 23:16] SupaHam commented on #15348
I'm following https://www.tensorflow.org/io/tutorials/elasticsearch with Tensorflow 2.6.0 and Tensorflow-io 0.21.0 and the issue is immediately present. Any advice for a workaround would be appreciated.

[2021-10-07 23:31] mattdangerw commented on #15443
So the second error is actually expected (though the error message is bad, and something we need to fix). The issue is that the custom callable for standardization needs to be passed as a custom_object on `models_load`.

If you do the following
`loaded_model = tf.keras.models.load_model('MyModel', custom_objects={"custom_standardization": custom_standardization})`

The example works on nightly. So

[2021-10-08 01:13] gcunhase commented on #14913
Any updates on this issue?

[2021-10-08 09:04] tringholm opened #15474 "Reuse of layers with mixed precision produce multiple float16 copies of weights"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux 5.12.12
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.6.0
- Python version: 3.8.7
- GPU model and memory: NVIDIA GeForce GTX 1050, 3 GB

**Describe the problem

[2021-10-08 11:16] mahmksoft commented on #15470
Complete code snippet:

`import tensorflow as tf
from tensorflow import keras
import numpy as np
from keras.models import Sequential
from keras.optimizers import RMSprop
from keras.optimizers import SGD
from keras.layers import Flatten

import sys

ig = 0.0
im = 0.5
iw = 0.88
isg = 0.2
ism = 0.2
isw = 0.2
eps=1e-7
pi=3.14
epoch_count = 1000
learning_rate = 0.001
sequence_len = 100

def w_initializ

[2021-10-08 16:52] sushreebarsa commented on #15470
@mahmksoft I tried to reproduce your code on colab using TF v2.6.0 and faced a different error .Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/a188ebc43cf994e57b0b90acc58628ed/keras_15470.ipynb) for reference and let me know if I'm missing something  to reproduce it ?Could you please let us know which TF version you are using & provide the colab gist to replicate t

[2021-10-08 17:15] qlzh727 commented on #15442
I think we need to update the keras API doc about this. The metrics result should be reduced to a scalar or a dict of scalar. It wasn't explicitly called out in the API docstring, but it was the convention of the metric API.

[2021-10-08 18:04] bhack commented on #15442
Other than adding this in docstring do you think that we need to early fail somewhere?

As currently `self.monitor_op`  has no intrinsic constrain to be boolean testable.

[2021-10-08 18:07] qlzh727 commented on #15442
Sure. I think the earlystop should check the shape of inputs, and make sure they are scalar.

[2021-10-08 18:15] bhack commented on #15442
In this case what is the scope of having `self.monitor_op` as `np.less or `np.greater`? Probably it doesn't make sense anymore.

[2021-10-09 05:18] WingsOfPanda opened #15479 "mixed_precision returns gradient zeros when the model input size is large"
**This question is moved from Tensorflow git as instructed. please see [https://github.com/tensorflow/tensorflow/issues/52236](url) from previous discussions**

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Noe
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or bin

[2021-10-09 05:20] ranyuyin commented on #13118
Though the tf.convert_to_tensor could avoid continuous memory growth, an extremely large ndarray would be still failed to convert_to_tensor. My solution is warping the array to a generator, and then convert it to a Dataset object by using tf.data.Dataset.from_generator. For example,
[code]
Using the 'args' argument of  Dataset.from_generator should be avoided, it would also convert the array to a

[2021-10-09 11:22] #14546 closed

[2021-10-09 11:22] #14486 closed

[2021-10-09 12:55] Sehaba95 commented on #2653
Here is a CIFAR-100 labels, since, I was facing problems to find them, I will share them in here:

`str_labels = ['apple', 'aquarium_fish', 'baby', 'bear', 'beaver', 'bed', 'bee', 'beetle', 'bicycle', 'bottle', 'bowl', 'boy', 'bridge', 'bus', 'butterfly', 'camel', 'can', 'castle', 'caterpillar', 'cattle', 'chair', 'chimpanzee', 'clock', 'cloud', 'cockroach', 'couch', 'crab', 'crocodile', 'cup', 'd

[2021-10-10 05:20] jvishnuvardhan commented on #15398
@yelandgit I think this was fixed in recent `tf-nightly`. I ran your code (like your code, sorry for not using it earlier) and noticed the results are same before and after loading the model. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/8132c42e15026cbdd107f384342976b2/untitled1077.ipynb).

Please verify once and close the issue if this was resolved for you. t

[2021-10-11 09:18] Gravityzd opened #15481 "AttributeError: module 'kerastools' has no attribute 'callback'"
Hello!
I run a keras deep learning example on the IRIS data. However,I cant fit the model with the function of fit.
**The error message :**
"Error in py_get_attr_impl(x, name, silent): AttributeError: module 'kerastools' has no attribute 'callback'"
I check the version of R and packages:
R version 4.0.3 (2020-10-10)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.3 LTS
**attache

[2021-10-11 11:33] jvcrnc opened #15483 "save_model() still fails with custom layer and SavedModel format"
Have I written custom code: Yes
OS Platform and Distribution: Windows 10
TensorFlow version (use command below): 2.6 and 2.8.0-dev20211003
Python version: 3.9.6
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Current behavior
I have defined a custom Keras layer which acts as a learnable lookup table. The layer is functional and learns throughout training. I am able to save the Keras model using

[2021-10-11 13:32] yosemite1998 opened #15484 "TypeError: Parameter to MergeFrom() must be instance of same class: expected tensorflow.TensorShapeProto got tensorflow.TensorShapeProto."
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.13.3
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): 2.6.0
Keras version

[2021-10-11 18:27] #15462 closed, assigned to jvishnuvardhan

[2021-10-11 21:16] fcolecumberri opened #15490 "[Feature Request] ConvND and ConvNDTranspose layers"
**System information**.

TensorFlow version (you are using): 2.5.0
Are you willing to contribute it (Yes/No) : Yes.

**Describe the feature and the current behavior/state**.

Add a layer similar to Conv1D/Conv2D/Conv3D and Conv1DTranspose/Conv2DTranspose/Conv3DTranspose but as a generic version for n-dimensions.

**Will this change the current api? How?**

Only add features, not modifying current

[2021-10-11 23:22] #14136 closed

[2021-10-12 00:22] #14146 closed

[2021-10-12 00:36] jvishnuvardhan commented on #14047
@xxviktor I am closing this issue as this was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/961f1b0a935a55c78a0f0c559eef6e56/untitled1078.ipynb) is a gist for a reference. Thanks!

[2021-10-12 00:36] #14047 closed

[2021-10-12 01:22] #14091 closed

[2021-10-12 01:22] #14099 closed

[2021-10-12 02:22] #14118 closed

[2021-10-12 05:47] sushreebarsa commented on #15470
@mahmksoft Thank you for the update !
As per the [comment ](https://github.com/keras-team/keras/issues/15470#issuecomment-938943297), I tried to reproduce the issue on colab using TF v2.6.0 ,and faced `ValueError` ,Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/a188ebc43cf994e57b0b90acc58628ed/keras_15470.ipynb) and confirm the same?Thank you!

[2021-10-12 11:16] MrinalTyagi opened #15494 "Addition of Resnet18 Model in Application"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-10-12 14:47] mazharnoor13 opened #15495 "when i read images data set for validation with ImageDataGenerator it returns subclasses but doesn't read images from it."
The first one read images and classes in it.  the second one read subfolders but not the images inside folders.

here is the code

from keras.preprocessing.image import ImageDataGenerator
datagen = ImageDataGenerator()

train_images = datagen.flow_from_directory('D:/Dataset mood/my dataset', class_mode='categorical', subset='training')
valit_images = datagen.flow_from_directory('D:/Dataset mood/va

[2021-10-12 15:07] tarquo23 commented on #13782
Same issue on TensorFlow 2.6.0

[2021-10-12 18:21] jvishnuvardhan commented on #14013
@tirkarthi Sorry for the late response. I think this was resolved in recent `master` or `TF2.6`. I looked at your PR and another related PR.

Please close the issue if this was resolved for you. Thanks!

[2021-10-12 19:43] yalegria opened #15498 "Setting None to fname parameter in Keras utils get_file() throws an error"
Using Tensorflow 2.4.1.

The following call to get_file() method throws an error:

[code]

Error:

`TypeError: join() argument must be str, bytes, or os.PathLike object, not 'NoneType'`

I was hoping that by using **fname=None**, Keras will grab the filename from the origin URL value. Calling get_file() inside a loop will require to set the fname parameter beforehand, which would be extra unnecess

[2021-10-12 21:22] #14603 closed

[2021-10-12 22:01] AngCamp opened #15500 "Unspecified data type in image_dataset_from_directory"
PURL(s) with the issue: https://keras.io/api/preprocessing/image/#imagedatasetfromdirectory-function
There are issues with the following entries:

**labels:** Either "inferred" (labels are generated from the directory structure), None (no labels), or a list/tuple of integer labels of the same size as the number of image files found in the directory. Labels should be sorted according to the alphanu

[2021-10-12 22:28] AngCamp opened #15501 "tensoflow.keras.preprocessing.image_dataset_from_directory doesn't recognize there are files in a directory when labels are supplied as a list/tupple comp:keras stat:awaiting"
em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

https://keras.io/api/preprocessing/image/#imagedatasetfromdirectory-function

My code:
In order to reproduce my example please go to the

[2021-10-12 23:31] innat commented on #15494
@MrinalTyagi
It's already been asked, [here](https://github.com/keras-team/keras/issues/15269)

[2021-10-13 02:22] #14564 closed

[2021-10-13 04:10] AdityaKane2001 opened #15504 "Adding option for custom padding"
**System information**.

TensorFlow version (you are using): 2.7
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Currently the Conv2D class, for example, accepts padding="same" or "valid". There is no other option for anyone who wants custom padding. I propose to add functionality such that `padding=<any format which ZeroPadding accepts>`.

[2021-10-13 05:13] jvishnuvardhan commented on #14185
@PreVizsla Sorry for the late response. Is this still an issue for you?

I ran your code and the predictions are not same as you reported. Can you please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c3a702b28b4ce3c653fe65f1a2d14dec/untitled.ipynb). Thanks!

[2021-10-13 05:17] jvishnuvardhan commented on #14231
@Ildar5 Sorry for the late response. Is this still an issue for you?

Can you please share a simple standalone code to reproduce the issue? I noticed that similar issues were resolved in recent TF versions. Please check with recent version and also share a standalone code. Thanks!

[2021-10-13 06:22] #15413 closed

[2021-10-13 12:34] chunduriv commented on #15296
In order to reproduce the issue reported here, could you please provide the complete code and the dataset, tensorflow and keras version you are using. Thanks!

[2021-10-13 14:17] chunduriv commented on #15495
@mazharnoor13, You can remove `subset` argument from `flow_from_directory`. It can be used only if `validation_split` is set in `ImageDataGenerator`.

You can change the code as shown below will resolve your issue
[code]
I tried it on `Dogs_Vs_Cats` data and it is working as expected. Please check the [gist here](https://colab.research.google.com/gist/chunduriv/12f2b22048fbc37b655f5f50206f33b3/154

[2021-10-13 16:59] innat opened #15506 "[NotFoundError: No algorithm worked!] Mixed Precision with 3D Model (simple conv)"
## Issue

While trying to use mixed precision training with a `3D` model, I've encountered the following error

[code]

## Reproduce

[code]

Reproducible Code:

[code]

[code]

[code]

[2021-10-13 22:10] jvishnuvardhan commented on #15483
@jvcrnc I can reproduce the issue with `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/dea8b2422ae9ac1c845b5d2ae6ec4b44/untitled249.ipynb) is a gist for our reference. Thanks!

[2021-10-13 22:42] jvishnuvardhan commented on #15506
Note: ran only on colab

Code runs with `TF2.6-gpu` but throws an error with `tf-nightly-gpu`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/a1bd93bf920e7639ffe3040af6fea8b2/untitled1083.ipynb) is a gist with `tf-nightly`.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/074188d5a51ade6bc7f31cfee332a6f9/untitled1083.ipynb) is a gist with `TF2.6`. Thanks!

[2021-10-13 22:50] innat commented on #15506
@jvishnuvardhan
As I mentioned Colab gpu may not be compatible with mixed precision. The above error would not be reproduced in such a host system.
![image](https://user-images.githubusercontent.com/17668390/137223070-35bbabc7-64ff-4e61-bd1a-9a82c448cef3.png)

[2021-10-13 22:54] innat commented on #15494
@jvishnuvardhan
Sorry, it's not clear to me the above comment. Is there any model application in `tf-addons`? I think it's [well used](https://github.com/keras-team/keras-applications/issues/151) and worthy to add under `tf.keras.applicaitons`.

[2021-10-13 23:56] jeisinge opened #15508 "keras.layers.IntegerLookup fails to deserialize vocubulary"
See https://github.com/tensorflow/tensorflow/issues/52325 .

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6
- Python version: 3.7

**Describe the current b

[2021-10-14 02:23] MrinalTyagi commented on #15494
yes I can surely try that but would require some more information on how to submit the required pr for that.

[2021-10-14 05:59] kretes opened #15509 "Allow for a customized loss reduction when training with custom train_step in a MirroredStrategy"
**System information**.

TensorFlow version (you are using): 2.5.1
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Training a model with custom train_step using a MirroredStrategy is reducing the loss values from replicas using a reduction method 'first'. This can be seen in https://github.com/tensorflow/tensorflow/blob/v2.5.1/tensorflow/p

[2021-10-14 07:01] jonas-eschmann opened #15510 "Keras Mask Issue When Loading Model With Custom Layer"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab / Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.6.0-0-g919f693420e 2.6.0 (Colab) / 2.5.0 (Ubuntu 18.04)
- Python version: major=3, minor=7, micro=12

[2021-10-14 07:41] yosemite1998 commented on #15484
Yes,I also did not reproduce it on colab..It seems I have to do sth. big with my local env. thanks

[2021-10-14 09:36] kaimo455 opened #15511 "keras.utils.deserialize_keras_object(deserialize_keras_object) DO NOT support deserialize regularizer"
The serialized config is: {'class_name': 'OutputLayer', 'config': {'dim_out': 512, 'dtype': 'float32', 'if_positive': False, 'kernel_regularizer': {'class_name': 'L2', 'config': {'l2': 0.0010000000474974513}}, 'name': 'context_emb/emb_0', 'output_act': 'tanh', 'trainable': True}}

And I tried to use `keras.layers.deserialize` to deserialize it, but it could not deserialize `regularizer` ( 'kernel_

[2021-10-14 11:04] sushreebarsa commented on #15484
@yosemite1998 Could you please confirm if we can close this ticket as it is resolved ? Thank you!

[2021-10-14 11:15] Jon573 opened #15513 "Performance of a model loading the same weights changes depending on the version of tensorflow"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.4.3 & 2.6.0
- Python version: 3.6.13
- GPU model and memory: RTX2080ti
- Exact command to reproduce: mod

[2021-10-14 14:49] chunduriv commented on #14346
@filzahamjad, Sorry for the late response. Is this still an issue for you?

Does [this](https://stackoverflow.com/questions/53343346/valueerror-a-concatenate-layer-requires-inputs-with-matching-shapes) reference help you? If not, can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-10-14 14:52] Jon573 commented on #15513
Here is some quick code I can reproduce the issue with. Set the CHECKPOINT_PATH to where you want, set EVALUATE to False, and run with TensorFlow 2.4.3. You should get an accuracy of ~0.65 . Change EVALUATE to True and run with with TensorFlow 2.4.3 and you should get the same accuracy (no surprises there). Then, with EVALUATE still True, run with TensorFlow 2.6.0 and I get an accuracy of ~0.1 .

[2021-10-14 23:14] jvishnuvardhan commented on #15501
@AngCamp Can you please share a simple standalone code to reproduce the issue. Also, just to demonstrate the issue, please try to use smaller dataset. Current dataset in the above example is too big which takes too much time and space for downloading/uploading and reproducing the issue. Thanks!

[2021-10-15 01:50] jonas-eschmann commented on #15510
@jvishnuvardhan thanks for your answer! But I know this (I found out the hard way). The problem is that this is not stated in the docs and just works, but produces wrong results. This is extremely confusing to the user, because even the most complex tf ops that might happen within the layer are saved as part of the graph, but then a kind of mundane thing like the _keras_mask does not work. I think

[2021-10-15 04:27] sushreebarsa commented on #15498
@yalegria Could you  please try with the latest **TF v2.6.0** and let us know if it helps ? Was able to run the code successfully using another image url on Colab,please find the [gist](https://colab.research.google.com/gist/sushreebarsa/da40e8070c620405cb41e7b017c9798f/untitled465.ipynb) for reference .Thank you!

[2021-10-15 14:24] DriesSmit opened #15515 "Attention module not working with TimeDistributed layer"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
   Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
   Linux Ubuntu 21.04
- TensorFlow installed from (source or binary):
  binary
- TensorFlow version (use command below):
TensorFlow 2.5.0
- Python version:
Python 3.6.9
- Bazel version (if compiling from source):
- GP

[2021-10-15 18:15] deeb02 commented on #15504
Seems to be achievable through the [ZeroPadding2D](https://keras.io/api/layers/reshaping_layers/zero_padding2d/) layer. Adding @fchollet in case he wanted to add some details.

[2021-10-15 21:03] reedwm commented on #15474
I agree this is inconvenient, but unfortunately there's currently no solution currently to cache the casted value of AutoCastVariable. This is a tricky problem to solve, since a layer can modify the value of the weights in `call`, which would invalid the cached value if we did implement caching.

Another workaround for subclassed layers is to create the variable in `OuterLayer`, call `variable.rea

[2021-10-17 05:50] #15398 closed

[2021-10-18 12:22] sushreebarsa commented on #14263
@nailcankara
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-18 12:23] sushreebarsa commented on #14276
@JoeHRIsaac
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-18 18:38] cserranobr commented on #8092
Why not just getting the keys as per below?

{'<UNK>': 1, 'de': 2, 'e': 3, 'é': 4, 'que': 5, 'em': 6, 'eu': 7, 'se': 8, 'meu': 9, 'não': 10, 'com': 11, 'pra': 12, 'vem': 13, 'lá': 14, 'sou': 15, 'me': 16, 'vou': 17, 'vai': 18, 'amor': 19, 'ao': 20, 'tem': 21, 'ô': 22, 'por': 23, 'seu': 24, 'mais': 25, 'quem': 26, 'foi': 27, 'hoje': 28, 'faz': 29, 'te': 32, 'quero': 33, 'o_meu': 34, 'coração': 35,

[2021-10-18 20:04] jvishnuvardhan commented on #14261
@WittyLLL I think `TextVectorization` mentioned in [this tutorial](https://keras.io/examples/nlp/text_classification_from_scratch/) will help you. Thanks!

[2021-10-18 22:18] jvishnuvardhan commented on #14171
@vpuru98 Thanks for the list.

@csitaula Sorry for late response. Is this still an issue for you?

Can you please share a simple standalone code to reproduce the issue? Also, try with recent `TF/keras` and make sure you don't have any nondifferentiable ops. Thanks!

[2021-10-19 01:22] Koratun opened #15518 "Invalid Argument Error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- TensorFlow installed from (source or binary):
pip install tensorflow

- TensorFlow version (use command below):
2.6.0

- Python version:
3.7

- CUDA/cuDNN version:
11.3

- GPU model and memory:
NVIDIA

[2021-10-19 02:55] jvishnuvardhan commented on #15481
@Gravityzd Can you please share a simple standalone code in the correct format or share a .py file. You can also check [the tutorial](https://www.tensorflow.org/tutorials/customization/custom_training_walkthrough) on classification model with IRIS data. Thanks!

[2021-10-19 05:10] sushreebarsa commented on #15456
@vladimircape
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-19 10:22] chunduriv commented on #14066
@philipperemy, Can you please try in latest Tensorflow and Keras version and let us know if the issue still persists?

[2021-10-19 11:05] WiktorMP opened #15521 "Input 0 of layer denseC1 is incompatible with the layer: : expected min_ndim=2, found ndim=1."
I have been writing a simple ML model with tf keras and found an issue. I read the documentation and i know that dense layer needs a 2 dimensional input and it corresponds with the output dimension of  input layer but for some reasons it returns output in shape (x,). Could someone please help me?

This is the model

class Player:

    def __init__(self, name, team, model):
        self.name = name

[2021-10-19 11:07] innat opened #15522 "InvalidArgumentError: slice index 22 of dimension 0 out of bounds. (reproducible code is given / colab)."
Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support only helps individuals. GitHub also notifies thousands of people when issues are filed. We want them to see you communicating an interesting problem, rather than being redirected to Stack Overflow.

**System information**.
- Have I written custom code (as o

[2021-10-19 11:50] #15444 closed

[2021-10-19 11:50] #15449 closed

[2021-10-19 20:44] kathanvyas commented on #1330
Has this been modified for the most latest version of keras?

[2021-10-19 20:50] #14678 closed

[2021-10-20 01:37] sushreebarsa commented on #14372
@Lucasbravo1 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-10-20 02:32] minhlong94 commented on #14170
Hi @jvishnuvardhan, don't worry it was a typo in the default parameters. I made a pull request here: https://github.com/tensorflow/tensorflow/pull/44115

[2021-10-20 07:42] jvishnuvardhan commented on #14761
@LukeWood @StatPal I think I found the root-cause of the behavior you are noticing.

[train_on_batch](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#train_on_batch) has an input `reset_metrics`=True (by default). Which means the metric is reset for every batch. Hence, the accuracy value is for a batch.

reset_metrics | If True, the metrics returned will be only for this

[2021-10-20 14:43] kumariko commented on #15194
@jvishnuvardhan I Was able to reproduce the issue in TF **[v2.6](https://colab.research.google.com/gist/kumariko/c5dd4b87a86cec75578028f1c202e2d0/15194.ipynb#scrollTo=8TpXmySqd-YQ)** and **[TF-nightly](https://colab.research.google.com/gist/kumariko/1ea7e3a7a39fb5e1334a75b5fdf41221/15194.ipynb#scrollTo=aJJtjFqWI9cf)** please find the gist .Thanks!

[2021-10-20 15:51] ghup1 opened #15528 "Mixed precision training incompatible with BinaryCrossentropy label smoothing"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows Server 2012 R2
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: -
-   **TensorFlow installed from (source or binary)**: binary
-   *

[2021-10-20 15:57] #15495 closed

[2021-10-20 16:06] innat commented on #6005
this works for me

[code]

[2021-10-20 17:03] jvishnuvardhan commented on #14761
I think this is intended behavior. Only one batch had 100% accuracy (batch metric) as each of the elements `y_pred` and `y_true` are matching for that batch only.

After making the change I listed above, cumulative accuracy from both the approaches are very close. Thanks!

@StatPal I will close the issue as this was resolved. Feel free to reopen the issue if this persists again. Thanks!

[2021-10-20 17:03] #14761 closed

[2021-10-20 17:19] #15479 closed

[2021-10-20 17:23] reedwm commented on #15506
Can you clarify whether the issue occurs in TensorFlow 2.6, the current latest version? You previously said:

[2021-10-20 19:39] karimian5188 commented on #1597
This solution work like a charm!  thx

[2021-10-20 19:50] #14323 closed

[2021-10-20 20:50] #14387 closed

[2021-10-21 03:24] MrinalTyagi commented on #15494
any update on this?

[2021-10-21 04:05] kumariko commented on #15515
@DriesSmit Could you please check https://github.com/keras-team/keras/issues/15515#issuecomment-946129038 and let us know if this issue resolved or not?

[2021-10-21 08:27] mazharnoor13 commented on #15495
Thanks @chunduriv

[2021-10-21 08:51] Gravityzd commented on #15481
Thank you for your reply. I use keras R package in R and I solved this problem by creat a new conda configured environment. The code can work correctly.

[2021-10-21 09:24] Nilabhra opened #15531 "Model's predictive performance depends upon system memory."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux-5.4.104+-x86_64-with-Ubuntu-18.04-bionic
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.7.12
- Bazel version (if compiling from source):
-

[2021-10-21 11:54] chunduriv commented on #15513
@Jon573, In general, the models improve with more epochs of training. Did you checked performance of model by increasing the number of epochs from `1` to `10`?

[2021-10-21 13:40] #14705 closed

[2021-10-21 16:16] #15481 closed, assigned to jvishnuvardhan

[2021-10-21 16:52] innat commented on #15528
@ghup1

In such a case, cast the last layer output as follows (set `tf.float32`).

[code]

[2021-10-21 17:15] tomerk commented on #15515
Triage notes:
unclear if this is meant to work because timedistributed layer expects only one input. Workaround may be to do it by hand if needed. Timedistributed layer should maybe raise a better error.

[2021-10-21 17:19] tomerk commented on #15528
Hi @ghup1 , would you be open to opening a pr that adds a cast to:
[code]
(probably cast the output of the label_smoothing array to the type of y_true, but should be checked)
And add a unit test?

[2021-10-21 17:39] tomerk commented on #15194
We don't believe the reshape layer supports masking at this time, though it could be added. We are happy to accept contributions that add it as a feature

(Separately, we should consider raising an error when passing a tensor with a mask to a layer that does not support masking, rather than silently dropping the mask)

[2021-10-21 19:59] filusn opened #15536 "TypeError in VQ-VAE example"
**URL(s) with the issue:**.
[https://keras.io/examples/generative/vq_vae/](https://keras.io/examples/generative/vq_vae/)

**Description of issue (what needs to be changed):**.
There is a bug in example of VQ-VAE. After running code on colab we can find a TypeError in [Codebook sampling section](https://keras.io/examples/generative/vq_vae/#codebook-sampling):

[code]

**Submit a pull request?**.

U

[2021-10-22 03:01] AdityaKane2001 commented on #15504
@deeb02

Should open a PR so we can discuss there?

/cc @fchollet

[2021-10-22 06:55] akshit0201 opened #15538 "Unable to resume training when using steps per epoch"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary):  binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.6.9
- Bazel version (if compiling from source):
- GPU model and memory: None

**Describe th

[2021-10-22 21:26] bizzyvinci opened #15540 "Improvement for tf.keras.utils.get_file"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

This is a duplicate of an issue I posted on [tensorflow](https://github.com/tensorflow/tensorflow/issues/49926). I brought it here because I discovered that keras is developed separately now and I just made a [notebook for illustration](https://colab.research.google.com/drive/1f_DlO

[2021-10-24 01:35] jvishnuvardhan commented on #14245
@justinblaber Is this still an issue for you? I am not sure about nested Sequential model. Why do you want such functionality and if possible can you explain what use-case requires this kind of nested model? You could define custom layers to do complex functionality.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/0a4e4bc545f8d6e56227fd9899cbba91/untitled.ipynb) is a gist for our ref

[2021-10-24 08:08] mayantd opened #15541 "Periodic delays of TF inference time in batch process"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: --
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command bel

[2021-10-24 08:15] #15538 closed, assigned to jvishnuvardhan

[2021-10-24 09:01] innat opened #15542 "AttributeError: 'Functional' object has no attribute '_layers'"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-10-24 12:48] #15521 closed, assigned to sanatmpa1

[2021-10-25 06:27] SeanLee97 opened #15544 "keras get_custom_objects()"
**System information**.

Keras version (you are using): 2.6.0
TensorFlow version (you are using): 2.6.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

[code]

It seems like that the `keras.utils.get_custom_objects` has been removed in the v2.6.0, and it is still preserved in the `keras.utils.generic_utils`. But in Tensorflow (v2.6.0),  `g

[2021-10-25 15:30] qspi opened #15546 "Simple SSD, face detector, training ok with GradientTape BUT loss doesn't decrease if I train an identical model with Model.fit()"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04, and also on current Google Colab
- TensorFlow installed from (source or binary): binary, GPU version
- TensorFlow version (use command below): 2.5.1 (2.6 on Google Colab)
- Python version: 3.7

[2021-10-25 18:15] stefanistrate opened #15547 "Cannot load back model with no-op Concatenate layer"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-10-27 22:39] cherepanovic opened #15558 "3D Autoencoder learnt only 1 dimension well"
given: an AE with 3D input and 3D output

unfortunately, the model learned only the first dimension well. I don't understand what the reason is, need your advice!

orange is the reconstruction, blue is the original data orange is reconstruction, blue is the original data

![grafik](https://i.stack.imgur.com/PchhP.png)

here is the model:

[code]

[2021-10-28 07:57] #15558 closed, assigned to sanatmpa1

[2021-10-28 08:13] KOLANICH opened #15559 "Support building without Bazel"
**System information**.

TensorFlow version (you are using): doesn't matter
Are you willing to contribute it (Yes/No) : I probably can, but it is likely to be rejected. I remember that in the past Keras used to be built with setuptools.

**Describe the feature and the current behavior/state**.

I strongly dislike Bazel and don't want this be executed on my PC despite Google pushing hard it everywh

[2021-10-28 16:22] yesufeng opened #15560 "MultiHeadAttention layer save and load changes weight"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-10-28 23:54] #15500 closed, assigned to jvishnuvardhan

[2021-10-29 00:57] jamesmishra opened #15565 "TensorFlow Keras SavedModel with custom layers throws a TypeError after being saved and loaded twice"
### System information.
- Have I written custom code:
  - **Yes**
- OS Platform and Distribution:
  - **Ubuntu 20.04 Docker image with NVIDIA/CUDA libraries**
- TensorFlow installed from:
  - **Binary from PyPI**
- TensorFlow version:
  - **2.6.0**
- Python version:
  - **3.8.10**
- GPU model and memory:
  - **2 NVIDIA RTX 3090s with 24 GB of memory each**

### Describe the problem.

TensorFlow/Ke

[2021-10-29 05:54] #15498 closed, assigned to sushreebarsa

[2021-10-29 14:28] gumowangfei opened #15566 "TypeError: 'KerasTensor' object cannot be interpreted as an integer"
[code]

TypeError: 'KerasTensor' object cannot be interpreted as an integer

How do you solve it?

[2021-10-29 18:46] Koratun commented on #15518
Stack overflow was indeed able to solve my problem, thanks!

[2021-10-29 18:46] #15518 closed

[2021-10-29 21:48] gumowangfei commented on #15566
[code]
Because batchesize is None, Tensor cannot be traversed at compile time.

[2021-10-30 04:12] MrinalTyagi commented on #15565
I would like to work on this issue if no one else is currently working on it.

[2021-10-30 04:14] MrinalTyagi commented on #15560
I would like to work on this issue

[2021-10-30 10:37] #15544 closed

[2021-10-30 15:15] ziamohiudin opened #15569 "AttributeError: 'NoneType' object has no attribute 'create'"
**When I run the following code, I get output "SVG(model_to_dot(autoencoder).create(prog='dot', format='svg'))
AttributeError: 'NoneType' object has no attribute 'create'"**

import tensorflow as tf
import keras
import numpy as np
import matplotlib.pyplot as plt

from keras.datasets import mnist
from keras.models import Model
from keras.layers import Input, add
from keras.layers.core import Layer,

[2021-10-30 22:25] eumel2 commented on #15232
Im not sure if im supposed to but ill bump this so it doesnt get closed automatically.

[2021-10-31 19:06] yogeesh-alphaics opened #15571 "tf.nn.batch_nor malization and tf.keras.layers.BatchNormalization outputs has a diff (10-3 range)"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04
I have implemented a classification model , which has Batchnormalization layers into it. While training the model , i used ```tf.keras.layers.BatchNormalization``` layer for training. Then manually extracted the bn we

[2021-10-31 21:15] #14532 closed

[2021-11-01 05:42] mayank010698 commented on #7603
@erolgerceker how does increasing the batch size help with Adam ?

[2021-11-01 08:07] sushreebarsa commented on #15571
@jvishnuvardhan Was able to reproduce the issue on colab using TF v2.6.0  & tf-nightly ,please find the [gist](https://colab.research.google.com/gist/sushreebarsa/b8d723c9212e806964142da462459dc2/untitled14.ipynb#scrollTo=45dbaOsur9cS) for reference.Thanks!

[2021-11-01 11:37] ziamohiudin commented on #15569
Hello Thank you, it worked for me.

[2021-11-01 11:37] #15569 closed

[2021-11-01 13:54] #14274 closed

[2021-11-01 13:55] #14268 closed

[2021-11-01 13:55] #14263 closed

[2021-11-01 13:55] #14276 closed

[2021-11-01 14:10] berlinsaint opened #15572 "Keras distriibuted train problem"
hello, iam using tfjob to train keras model.

most of times, they work fine. But some times, it will crash  after train and savemodel.

our partial train code is here:

[code]
Does mymodel in the code  need to be within mirrored_scope??? I think here it is a little strange.

And the log is:
![image](https://user-images.githubusercontent.com/10629930/139662542-31221f80-a0de-4c76-b4f5-cfd017612de4.p

[2021-11-01 15:22] blaze-gitter commented on #2962
For anyone still ending up here, you might be looking for

tf.keras.callbacks.ReduceLROnPlateau

[2021-11-01 15:48] GODJOSE27 commented on #6063
Anyone to help me with forecasting Time Series using CNN-LSTM, I tried but it doesn't attach the forecasting part to the testing Data.
You can reach me via godjose70@yahoo.com

[2021-11-01 20:17] ahmadmustafaanis commented on #7440
One solution is to use Tensorflow Native format for saving.
i.e

[code]
and now when you will load the model you can do it with custom objects even
[code]
https://www.tensorflow.org/guide/keras/save_and_serialize

[2021-11-01 20:20] jvishnuvardhan opened #15573 "Can't set sprite in Keras Tensorboard Callback"
This feature request is moved from TF repository to keras-team/keras
https://github.com/tensorflow/tensorflow/issues/31050

**Describe the feature and the current behavior/state.**

There is no way to specify a sprite for embedding visualizations with the Tensorboard Callback in Keras.

**Will this change the current api? How?**

It would add two more parameters to `Tensorboard.__init__()`
 - `emb

[2021-11-01 21:54] #14208 closed

[2021-11-01 22:54] #14204 closed

[2021-11-01 23:54] #14171 closed

[2021-11-01 23:54] #14182 closed

[2021-11-02 00:01] jvishnuvardhan commented on #14357
@Nestak2 Sorry for the late response. Is this still an issue for you?

Can you check with recent TF/keras versions and share a simple standalone code (with the saved model) to reproduce the issue? Thanks!

[2021-11-02 00:11] jvishnuvardhan commented on #14576
@talhakabakus Sorry for the late response. Is this still an issue for you?

Can you follow the above suggestion and let us know whether the issue resolved. If it was not resolved even with @bguetarni suggestion, please share a simple standalone code to reproduce the issue. Thanks!

[2021-11-02 00:18] jvishnuvardhan commented on #14598
@anaalvarezmari Sorry for the late response. Is this still an issue for you?

This repo is mainly focussed on bugs/performance related issues. If you think this is more like a support question, then please post it in [TF Forum](https://discuss.tensorflow.org/) where there is a large community supporting each other and learning from each other.

If you think this is a bug, then please provide a sim

[2021-11-02 00:24] jvishnuvardhan commented on #14284
@OfekShochat Sorry for the late response. Is this still an issue for you?

If this is still an issue, can you please add more details the issue? Thanks!

[2021-11-02 00:30] jvishnuvardhan commented on #14313
@JosuaJoker Sorry for the late response. Is this still an issue for you?

Can you please share a simple standalone code to reproduce the issue? Please format the code and share any data (public) with the standalone code. Thanks!

[2021-11-02 00:36] berlinsaint commented on #15572
I think. It is the same as https://github.com/tensorflow/tensorflow/issues/50853

[2021-11-02 02:06] tomerk commented on #15513
That's a really good catch, thanks @Jon573 !
I'm guessing it was probably https://github.com/tensorflow/tensorflow/commit/b6be9714e878a7dd0d1405bd7a83e021ba4b561a

But it looks like the release notes release.md was not updated at the time even though it should have been.
You're right this issue would probably be better filed against the base tensorflow repo:
https://github.com/tensorflow/tensorflo

[2021-11-02 02:07] tomerk commented on #15513
@chunduriv is there a good process to move the issue over or cc teammates from the other tf repo here? (E.g. rohan100jain@ )

[2021-11-02 02:21] tomerk commented on #15232
~1e5 is definitely within numerical float differences that we expect. Running the code in colab appears to produce zero numerical difference.

I'm going to close this issue as it appears to be w/in expectations for numerical difference due to grouped computations w/ fewer operations vs. more operations in a python for loop.

[2021-11-02 02:21] #15232 closed

[2021-11-02 05:03] OfekShochat commented on #14284
nope, very late reply 😛

[2021-11-02 05:26] RamasubramanianL commented on #15175
pip install "keras==2.6.0"

[2021-11-02 06:54] #15456 closed

[2021-11-02 06:54] #14308 closed

[2021-11-02 06:54] #14646 closed

[2021-11-02 08:31] harshitjaitly opened #15575 "flow_from_directory detects subdirectories but can't load images"
[code]
Returns : Found 0 images belonging to 24 classes.

I just wish to get a generator object to load the images.
Directory Structure is as follows :
   categories/
                class1/
                        image1
                        image2
                        ..............
                class2/
                        image1
                        image2

[2021-11-02 10:44] chunduriv commented on #15575
@harshitjaitly, In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. I tried it on  sample `Dogs_Vs_Cats` data and it is working as expected. Please check the [gist here](https://colab.research.google.com/gist/chunduriv/8d8c1b8e468b2fe59d239ebd2bc17733/15575.ipynb). Thanks!

[2021-11-02 12:17] JosuaJoker commented on #14313
At the moment, I am not able, because it is long ago and I distroied the code very much to get it working. Less views and a much smaller resolution was unfortunatlly the key. I will be able to test my code soon on a much stronger machine with more views and higher resolution again and let you know if the issue still exists. But from my feeling, I had the impression that the performance with pure t

[2021-11-02 13:27] MrinalTyagi opened #15576 "Ability of flow, flowFromDirectory and flowFromDataFrame in ImageDataGenerator to self generate class weights"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2021-11-02 14:00] OfekShochat commented on #14284
well this is not solved yet tho

[2021-11-02 14:00] #14284 closed

[2021-11-02 15:56] lzc16 commented on #8720
Hi, @yuyang-huang !

I am trying convert torch1.9 GRU weights to tensorflow2.6 in this way. However, it can't work. Is there a problem here? Below is the code. Hope for your help!!

[code]

[2021-11-02 16:54] #15501 closed, assigned to jvishnuvardhan

[2021-11-02 17:47] innat opened #15577 "InvalidArgumentError: 9 root error(s) found."
https://discuss.tensorflow.org/tag/keras

**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): 2.6
- Python version: Colab
- Bazel version (if compiling from source):
- GPU mo

[2021-11-02 17:48] innat commented on #15577
cc @ksalama

[2021-11-02 17:54] #14242 closed

[2021-11-02 19:59] jvishnuvardhan commented on #14073
@xxanissarxx Sorry for the late response. Is this still an issue for you?

Can you please share simple standalone code to reproduce the issue? Cab you also check with recent TF/keras versions. Thanks!

[2021-11-02 20:00] jvishnuvardhan commented on #14270
@zhenql Sorry for the late response. Is this still an issue for you?

Can you please share simple standalone code to reproduce the issue? Cab you also check with recent TF/keras versions. Thanks!

[2021-11-02 22:54] #14168 closed

[2021-11-02 22:55] jvishnuvardhan commented on #14088
@bhomaidan1990 Sorry for the late response. Is this still an issue for you?

As mentioned by @ZohebAbai , before building layer or model, you cannot use them or call a layer.

[code]

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d43a64a5bbdae9fffdd0b2a9baf65055/untitled1102.ipynb). Thanks!

[2021-11-02 23:01] jvishnuvardhan commented on #14192
@parasmemon Sorry for the late response. Is this still an issue for you?

This repo is mainly focussed on bugs/performance related issues. If you think this is more like a support question, then please post it in [TF Forum](https://discuss.tensorflow.org/) where there is a large community supporting each other and learning from each other.

If you think this is a bug, then please provide a simple

[2021-11-02 23:54] #15510 closed

[2021-11-03 00:00] bhomaidan1990 commented on #14088
@jvishnuvardhan I hope that there is a way around to solve it with sequential so the code becomes more modular and explicit, otherwise it looks like a shortage in the sequential!

[2021-11-03 02:54] #14372 closed

[2021-11-03 05:04] MrinalTyagi commented on #15560
@sanatmpa1 @yesufeng I tried reproducing the issue using the code provided by you and could not find an error. The loaded weights were the same.
You can find the [code](https://colab.research.google.com/drive/1wzh8t-BiwuzRJZ1jW_gtsyqIy-2B2Zpj?usp=sharing) for the following here.
Python used: Python 3.7.12
Tensorflow version used: 2.6.0
I think the issue is fixed in the current release. If so you c

[2021-11-03 09:54] #14183 closed

[2021-11-03 09:54] #14279 closed

[2021-11-03 12:29] bhack commented on #15577
Is this going to happen on training?  As I cannot reproduce your error on Colab/TPU with the vanilla notebook.
Can you share your Colab?

[2021-11-03 13:26] innat commented on #15577
@bhack hi, I've shared a reproducible colab link, mentioned above. If it's not working, please try [this](https://colab.research.google.com/drive/1DAQpG9YD-5vH-A-jfaISwFzMkE6oAlm9?usp=sharing).

[2021-11-03 13:27] #15504 closed

[2021-11-03 14:27] GrzegorzKrug commented on #14401
@jvishnuvardhan sorry, not really, thats why I pust so broad description, it just points to specific state in github. I guess there is some problem with dependencies, did you used package versions from post above  maybe?

[2021-11-03 16:38] Nick18899 commented on #12255
Hellow! How have you fixed this error?

[2021-11-03 17:23] yesufeng commented on #15560
@sanatmpa1 thank you! seems that I need access to that drive. (ysduke@gmail.com)

[2021-11-03 17:28] jvishnuvardhan commented on #14401
@GrzegorzKrug I tried to run your code with recent TF/keras versions. `settings` library is not getting imported. [Here](https://colab.research.google.com/gist/jvishnuvardhan/cf1e94fba6ee9280d6b37bad8b93e237/untitled1103.ipynb) is a gist for reference. Thanks!

[2021-11-03 17:34] MrinalTyagi commented on #15560
Was that code helpful? @yesufeng

[2021-11-03 18:03] drasmuss opened #15579 "Another metric with the same name already exists in Keras 2.7.0"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.1
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- Exact c

[2021-11-03 18:26] Rocketknight1 commented on #15579
Seconding this one, all the CI started failing at HuggingFace with that error! We pinned Keras to 2.6 until it's fixed.

[2021-11-03 18:35] Rocketknight1 commented on #15579
We believe the Keras 2.7.0 release is getting installed by `pip` when users install Tensorflow, even though Tensorflow 2.7 hasn't been released to `pip` yet. The version mismatch (Keras 2.7 + TF 2.6.1) is probably the cause of the error.

[2021-11-03 18:37] bhack commented on #15577
Ok now I can reproduce it I don't think it is related `tf.image.extract_patches` as it is in the official list without special notes:
https://cloud.google.com/tpu/docs/tensorflow-ops

Have you tried to check the TPU compatiblity graph:
https://cloud.google.com/tpu/docs/cloud-tpu-tools#tpu_compatibility_graph

I don't if on colab it could be retrieved with:
https://colab.research.google.com/github/

[2021-11-03 18:37] Rocketknight1 commented on #15579
Pinging @qlzh727 because I'm not sure who else to annoy, and this is going to affect all TF installations!

[2021-11-03 18:42] yesufeng commented on #15560
again I don't have access to it

[2021-11-03 18:50] qlzh727 commented on #15579
@mihaimaruseac, we have noticed this issue and trying to make a patched release for tf 2.6 again (with version limitation of keras).

[2021-11-03 18:52] qlzh727 commented on #15579
Sorry for the breakage.
Pinning to keras 2.6 will mitigate the issue, and it will also work once tf 2.7 is released (probably tomorrow).

[2021-11-03 18:54] qlzh727 commented on #15579
Just FYI, the update to tf 2.6 is at https://github.com/tensorflow/tensorflow/pull/52927.

[2021-11-03 22:11] qlzh727 commented on #14062
I am bit confused about the link you provided. The loss value did get passed to optimizers when it does the backprop, see https://github.com/keras-team/keras/blob/42bf9972492f47c3d3c249de9c20942ba217937d/keras/optimizer_v2/optimizer_v2.py#L499.

Assigning to @chenmoneygithub who works on optimizers.

[2021-11-03 22:12] scottc21 opened #15583 "Git Repo: Typo in TAG name "v2.7,0" should be "v2.7.0" AND "origin/r2.6.1" likely branched from wrong commit, missing r2.6.0 changes"
**System information**.
N/A -- this is a GIT issue with Labels and branches ( see below )

The description below and attached screenshots should make this pretty clear what I am talking about.

**Describe the problem**.
Item #1  -- Typo in TAG name "v2.7,0" should be "v2.7.0"
Based on previous TAG names, it appears that ""v2.7,0" is a typo  ( comma vs period )

Item #2  -- "origin/r2.6.1" likely b

[2021-11-03 22:19] qlzh727 commented on #15314
@Kaveh8, the seed value for preprocessing layer is expected to be a integer, and not a tensor. If you would like to have some deterministic behavior, you can refer to https://github.com/keras-team/keras/issues/15358 as well.

Assign to @mattdangerw who works on KPL.

[2021-11-03 22:21] qlzh727 commented on #15536
Triage notes: Leave this to the meeting and decide the owner of the keras.io notebooks.

[2021-11-03 22:28] qlzh727 commented on #15559
Unfortunately we build keras both internally within Google and externally on Github. Removing the bazel as build dependency will cause big maintenance overhead for us which we can't accommodate at the moment.

Btw, if you would like to just build pip/wheel package, you still can do it via https://github.com/keras-team/keras/blob/master/keras/tools/pip_package/build_pip_package.sh

[2021-11-03 22:28] #15559 closed

[2021-11-03 22:29] chenmoneygithub commented on #14062
If you are using a custom training loop, then the loss value is not available inside optimizer.  Besides, even if you are using minimize(), which takes in the current loss, we will not keep the loss history. This behavior is expected, as tracking loss history is out of the scope of optimizer.

There are two ways to handle the learning rate adaption:
1) in your custom training loop, before calling

[2021-11-03 22:32] qlzh727 commented on #15573
Assign to @rchao  who works on callbacks.

[2021-11-03 23:15] innat commented on #15577
OK, I just replace class `Patches` and `PatchEncoder` layer with a single class `PatchEmbed` layer that does a similar thing but doesn't use `tf.image.extract_patches` and it runs successfully.

[code]

[2021-11-03 23:53] scottc21 commented on #15583
On Item 2 ( 2.6 series):   it appears the TensorFlow team is getting ready to release TensorFlow 2.6.2 based on the changesets from today (  11/03/2021 01:34 PM )  --  Update version numbers for TensorFlow 2.6.2.

Also, there is another 'keras' bug report ( #15579 ) that discusses some of the 2.6.x 2.7.x  release issues.  See link below
-- https://github.com/keras-team/keras/issues/15579

[2021-11-04 00:56] bhack commented on #15577
Are you sure that it was about `tf.image.extract_patches`? As I see that you have also removed the keras embedding layer. I don't know what is the behavior inside the TPU strategy_scope:

https://github.com/keras-team/keras/blob/42bf9972492f47c3d3c249de9c20942ba217937d/keras/layers/embeddings.py#L83-L99

[2021-11-04 02:59] bhack commented on #14867
@qlzh727  As we claim now in the Readme:

`the nightly Keras releases are usually compatible with the corresponding version of the tf-nightly releases (e.g. keras-nightly==2.7.0.dev2021100607 should be used with tf-nightly==2.7.0.dev2021100607).`

Can we just pin on the `tf-nightly` version on what we are running the test with the CI on master every day?

[2021-11-04 03:22] MrinalTyagi commented on #15560
sorry for the inconvenience. https://colab.research.google.com/drive/1wzh8t-BiwuzRJZ1jW_gtsyqIy-2B2Zpj?usp=sharing

[2021-11-04 08:04] yogeesh-agarwal commented on #15571
is there any update on this ? @sushreebarsa  , @jvishnuvardhan

[2021-11-04 09:13] ansariyusuf opened #15584 "Standard Deviation for Evaluation Metrics"
**System information**.

TensorFlow version (you are using): TF 1.15
Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state**.

To be able to obtain the standard deviation of metrics during model training and when using model.evaluate

**Will this change the current API? How?**

I am not sure, probably it will add an additional flag to the function ca

[2021-11-04 11:34] Anne-Andresen commented on #10417
I resolved this issue, by introducing the path to the model, rather than just loading the from the model name!

[2021-11-04 11:44] frgfm opened #15585 "Optimizer import raises an error with keras 2.7"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.8.10
- Bazel version (if compiling from source): N/A
- GPU model and memory: NVID

[2021-11-04 12:19] innat commented on #15577
I'm not sure if it causes for `tf.image.extract_patches`. I guess came from seeing the error logs, i.e. `patch_encoder_3`; maybe from layer `PatchEncoder`.

[code]

Also in the following docstring, it says if my embedding matrix is too large for the GPU, I may consider placing the operation on CPU.

https://github.com/keras-team/keras/blob/42bf9972492f47c3d3c249de9c20942ba217937d/keras/layers/embe

[2021-11-04 12:55] bhack commented on #15577
What I see is:
`tf.keras.layers.Add`

In your example if add a check in your PatchEncoder
[code]

`AssertionError: TensorShape([None, None, 64]) != TensorShape([144, 64])`

[2021-11-04 14:33] cadama commented on #15508
I've also run into this problem. Any temporary patch for this?

[2021-11-04 15:54] #14639 closed

[2021-11-04 16:24] sachinprasadhs commented on #15531
@Nilabhra , any update with the code?

[2021-11-04 16:42] qlzh727 commented on #15583
Thanks for the issue.

The github tag has been fixed last night, see https://github.com/keras-team/keras/tree/v2.7.0.

The v2.6.1 was just for testing and not used for any release. We can actually remove it. The Keras 2.6 was released based on r2.6.0 branch.

[2021-11-04 16:42] #15583 closed

[2021-11-04 16:44] qlzh727 commented on #15579
The issue should now be mitigated by https://pypi.org/project/tensorflow/2.6.2/, which has a keras version range update, it will only use keras 2.6 and not fetching the latest Keras 2.7.

TF 2.7 is also expecting to release today and it will only use keras 2.7. Closing this issue for now, and sorry for all the issue caused.

[2021-11-04 16:46] qlzh727 commented on #15585
Please see https://github.com/keras-team/keras/issues/15579 for more details. The issue should now be mitigated by using tf 2.6.2.

[2021-11-04 16:46] #15585 closed

[2021-11-04 17:15] qlzh727 commented on #15536
Triage notes: We probably should run tests for guides and examples as a pre release check.

[2021-11-04 17:18] qlzh727 commented on #15536
Will assign to the original author, and when they not respond, keras team will try to check if it is fixable. Will probably take the example offline if we can't get response from original author for a long period.

[2021-11-04 17:31] rchao commented on #15546
@qspi did you get a chance to see what the loss values are when you inserted `tf.print` in the loss function?

[2021-11-04 17:38] drasmuss opened #15586 "Initializers with the same seed produce different output in Keras 2.7"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0rc1
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- Exa

[2021-11-04 18:00] qlzh727 commented on #15536
Assign to @sayakpaul who created in original example in https://github.com/keras-team/keras-io/pull/556

[2021-11-04 18:03] qlzh727 commented on #15542
I think model._layer is a private attribute and we never had any API contract for it. Even you can access it via
`model.layers`, I think it is generally a bad idea to update functional model network after the model is created.

You can change the sequential model by `add()` or `pop()` methods, but not for Functional model.

[2021-11-04 18:03] #15542 closed

[2021-11-04 18:05] qlzh727 commented on #15546
Also, on a side note, the loss function usually has a signature for `loss(y_true, y_pred)`, and that's the expectation from the framework. In your code example, the ordering for those two params are reversed, which might be the cause of issue.

[2021-11-04 18:11] sayakpaul commented on #15536
I will take a look at this and get back soon.

The standalone Python script that is initially submitted for PR needs to be actually run successfully to produce the notebook, md, and figures. Doesn't that partially solve the purpose? @qlzh727

[2021-11-04 19:38] GrzegorzKrug commented on #14401
Check my github link, its my module with parameters named `settings.py`

[2021-11-04 23:09] scottc21 opened #15590 "Low Priority: Typo BugFix lost in 2.6.x Branch -- "optimizers" has Typo in Function Name "tf.keras.optimizers.Adam" -- See line 463 in file keras/engine/training.py -- Original Fix in #15227"
**System information**.
All Platforms.
This is a fix was accidentally lost from "2.6", but is present on both "master" and "2.7".
See (  #15583 ) for information on the abandoned  origin/r2.6.1" branch, so see how this was accidentally lost.

_IMHO_: this is low-priority, since this Typo is in the comment section for the scripts "Example".  See script for exact context here.

**Describe the proble

[2021-11-05 00:13] rory-donovan-official commented on #890
What the heck would you use Lambda? It is not portable....

[2021-11-05 03:14] sayakpaul commented on #15536
Hi again.

It's unfortunate that this issue is happening and as bad it may sound I currently don't have any concrete clue as to why this might be happening.

The example was created using TensorFlow 2.5.0 and it ran perfectly fine with that as we can see in the example (otherwise, the `keras.io` scripts won't have generated the complete notebook and figures in the first place).

@qlzh727 could thi

[2021-11-05 03:33] funkyyyyyy commented on #15571
facing a related issue where

on CPU

given the same weights and variable `epsilon` value
- gamma
- beta
- moving mean
- moving var
- epsilon

`tf.keras.layers.BatchNormalization` output is different from batch norm formula calculation using `numpy` by `e^-2` range

for reference, numpy code is attached below

[code]

where `batch` is input to `batch_norm` layer

[2021-11-05 04:33] Nilabhra commented on #15531
@sachinprasadhs Hi! Unfortunately we didn't get the time to make the code available. It's going to be a bit of a hassle to do that.

We did realise that the memory might not have been the actual factor here, but rather the CPU cores are. It's a combination of CPU cores and the behaviour of tf.data.Dataset.interleave.

[2021-11-05 05:02] gumowangfei commented on #15566
@sanatmpa1

[2021-11-05 09:27] funkyyyyyy commented on #15571
If its any help, I dug deeper into the Keras code and found the source of discrepancy

if the input shape is (N, C) or (N, T, C), then `tf.nn.batch_normalization` is used within `tf.keras.layers.BatchNormalization` to calculate the batch normalization. The output value here is in line with numpy outputs.

However, if the input shape is longer such as (N, H, W, C) or (N, T, H, W, C), then `tf.compa

[2021-11-05 09:37] funkyyyyyy opened #15592 "tf.keras.layers.BatchNormalization returns output that's significantly different from batch norm formula"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.6.0
- Python version: 3.7
- Bazel version (if compiling from source):
- GPU model and memory: RTX 3060 6G

[2021-11-05 09:39] funkyyyyyy commented on #15592
If its any help, I dug deeper into the Keras code and found the source of discrepancy

if the input shape is `(N, C)` or `(N, T, C)`, then `tf.nn.batch_normalization` is used within `tf.keras.layers.BatchNormalization` to calculate the batch normalization. The output value here is in line with numpy outputs.

However, if the input shape is longer such as `(N, H, W, C) ` or `(N, T, H, W, C)`, then

[2021-11-05 09:40] funkyyyyyy commented on #15592
https://github.com/keras-team/keras/issues/15571 might be related to this issue

[2021-11-05 11:03] funkyyyyyy commented on #15592
this issue can be temporarily fixed by `tf.keras.layers.BatchNormalization(<other args>, fused=False)`

[2021-11-05 11:35] sayakpaul opened #15593 "Model consuming RaggedTensors fails during evaluation in a distributed setting"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-11-05 11:45] 15330996258 commented on #7839
Thank you!

[2021-11-05 14:43] FHof opened #15594 "tf.keras.backend.set_floatx does not change the default dtype in tensor initialisation"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): I didn't execute an official example script.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux and Ubuntu 20.04
- TensorFlow installed from (source or binary): binaries from conda-forge and pip3
- TensorFlow version (use command below): intel_tensorflow 2.6.0, te

[2021-11-05 17:29] sachinprasadhs commented on #15590
Thanks for reporting this bug, Have raised the PR for the same. #15595

[2021-11-05 17:48] qlzh727 commented on #14867
Sorry for the late reply.

We could do that, (we sometimes pin to a old version on CI to avoid some breakage caused on TF side). This will involve some script to automatically update the requirements.txt at a certain time everyday, and it need to make sure the corresponding tf-nightly does exist.

Let me see if this is easer to do it internally or on github.

[2021-11-05 18:30] bhack commented on #14867
Yes this is exactly what I meant. Probably we could handle this with a Github action directly (or your copybara).

[2021-11-05 18:52] sebastian-sz opened #15596 "RecursionError when creating large models using Functional API."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.6.0-0-g919f693420e 2.6.0
- Python version: 3.7.12 - Google Colab
- Bazel version (if compiling from so

[2021-11-06 01:15] #13932 closed

[2021-11-06 01:15] #15484 closed

[2021-11-06 01:37] sachinprasadhs commented on #15590
Closing this issue based on the comment mentioned for the PR https://github.com/keras-team/keras/pull/15595#issuecomment-962118385. Thank you.

[2021-11-06 01:37] #15590 closed

[2021-11-06 02:15] #14502 closed

[2021-11-06 06:13] chunduriv commented on #15586
I was able to replicate issues in `TF2.7` and `tf-nightly`. Please find the [gist here](https://colab.research.google.com/gist/chunduriv/efb911b97d1eb2a288afb4ec73db7f3a/15586.ipynb). Thanks!

[2021-11-06 06:38] chunduriv commented on #15592
@jvishnuvardhan, I was able to replicate issues in `TF2.7` and `tf-nightly`. Please find the [gist here](https://colab.research.google.com/gist/chunduriv/98496019a2e16e5ab45dd03636c8ea61/15592.ipynb). Thanks!

[2021-11-06 06:43] chunduriv commented on #15584
@ansariyusuf, Can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-11-06 06:44] DriesSmit commented on #15515
The workaround did work yes :) I had to do it by hand. Thanks for the comments! You can close this issue if you wish.

[2021-11-06 07:00] chunduriv commented on #15576
@MrinalTyagi, Can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-11-06 07:43] MrinalTyagi commented on #15576
@chunduriv As in the case of an imbalanced dataset, one uses ImageDataGenerator flow methods to get the data, then he has to calculate the class weights in order to overcome the class imbalance problem. So due to that, he has to move to the sci-kit learn library in order to calculate class weights. It would be pretty helpful as when the user uses the flow methods to get the data, there providing a

[2021-11-06 08:15] #14595 closed

[2021-11-06 09:15] #14631 closed

[2021-11-06 09:23] ansariyusuf commented on #15584
Detailed Feature Explanation:
In Keras, if model.fit or model.evaluate is called, the metrics and loss are printed. E.g., if the model is compiled with BCE loss and metrics like dice coefficient and IoU, then these will be printed. However, there is no way of obtaining (In my current knowledge) the metrics' standard deviation. If I evaluate my models on a dataset, I get the metric value, but I don

[2021-11-06 13:50] pedugnat opened #15599 "Error in the documentation of tf.keras.losses.MeanAbsolutePercentageError"
# Description of the issue

The documentation of MAPE wrongly states that it is defined as `loss = 100 * abs(y_true - y_pred) / y_true` (see https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/losses.py#L372-L429).

However, it is implemented the right way (see this function, both documentation and computation are good : https://github.com/keras-team/keras/blob/

[2021-11-06 14:40] innat opened #15600 "EfficietNet + Generalized Mean Pooling causes NaN loss!"
Config:

[code]

## Issue

I've plugged a GeM pooling layer into the EfficientNet model but for an unknown reason, it causes `nan` loss. But with other image-net models, it works just fine.

## [Reproducible Code](https://colab.research.google.com/drive/1gVoGuhi_-tcx-CF-klHP1N5Oc00of4yn?usp=sharing)

[2021-11-06 15:03] Nilabhra commented on #15593
Adding to the above. I noticed that this error can be avoided by using infinite datasets for both train and validation (`.repeat()`). If either or both of the train and validation datasets are non-infinite, the same or a similar error pops up.

If training is done with with a non-infinite dataset (irrespective of the nature of the validation set), the same error pops up, but during the training ph

[2021-11-06 16:15] #14452 closed

[2021-11-06 16:15] #14606 closed

[2021-11-06 21:15] #14674 closed

[2021-11-07 03:15] #14245 closed

[2021-11-07 06:15] #14381 closed

[2021-11-07 07:15] #14441 closed

[2021-11-07 19:53] annemacena commented on #4530
up

[2021-11-07 23:08] rayjennings3rd commented on #10842
I am trying to get this same option to work on MacOS Monterey. While other python packages are able to use multi-processing, I see no improvement at all with this option. I am running 8 cores, tensorflow 2.6. I am using Keras Sequential models. I have:

[code]

And there is zero difference between having this on or off.

[2021-11-08 03:39] sanatmpa1 commented on #15566
@gumowangfei,

Thanks for sharing the error trace, Can you share a fully reproducible code or colab gist to expedite the troubleshooting process?

[2021-11-08 07:09] chunduriv commented on #14393
@TEJASK111, Sorry for the late response. Is this still an issue for you?

The input layers of the model needs a 4 dimension tensor to work with but the input tensor you are passing to it has only 3 dimensions. To fix this issue, you need to reshape the input tensor to a 4 dimension before training your model.

[2021-11-08 08:56] sanatmpa1 commented on #15599
@pedugnat,

Thankyou for reporting the issue and I've submitted a [PR](https://github.com/keras-team/keras/pull/15604) to address the same.

[2021-11-08 09:00] ravinderkhatri commented on #6937
I am using the below code and am able to save my model
[code]
but when I am calling model = tf.keras.models.load_model('cv_model.h5')
It is giving me an error KeyError: "Unable to open object (object 'model_weights' doesn't exist)"
I tried using this with the full path also and results are same

[2021-11-08 09:54] alemyewno opened #15605 "Why calling the same object more times fails with model subclassing?"
My model is this:

[code]

Then I build it like this

[code]

This gives me the following error:

"ValueError: Dimensions must be equal, but are 200 and 100 for '{{node dense_5/MatMul}} = MatMul[T=DT_FLOAT, transpose_a=false, transpose_b=false](Placeholder, dense_5/MatMul/ReadVariableOp)' with input shapes: [?,200], [100,200]."

When I change ```out_4 = self.dense_200(out_3)``` into ```out_4 = sel

[2021-11-08 10:54] ravinderkhatri opened #15606 "tf.keras.callbacks.ModelCheckpoint Type Error : Unable to serialize 1.0000000656873453e-05 to JSON"
I am creating my custom layers tf.keras model using the mobile net pre-trained layer. Model training is running fine but when saving the best-picked model it is giving an error. Below is the snippet of the code that I used

[code]
At tf.keras.callbacks.ModelCheckpoint is giving me an error

**TypeError: Unable to serialize 1.0000000656873453e-05 to JSON. Unrecognized type <class 'tensorflow.python

[2021-11-08 13:03] chunduriv commented on #14593
@hailsong, Sorry for the late response. Is this still an issue for you?

Does [this reference](https://stackoverflow.com/questions/44583254/valueerror-input-0-is-incompatible-with-layer-lstm-13-expected-ndim-3-found-n) helps you? Else, can you please share standalone code to replicate your issue? Thanks!

[2021-11-08 13:10] chunduriv commented on #15606
@ravinderkhatri, In order to reproduce the issue reported here, could you please provide the complete code? Thanks!

[2021-11-08 13:21] ravinderkhatri commented on #15606
Below is the code that I used. Please let me know in case you need further information
[code]

[2021-11-08 13:23] chunduriv commented on #14214
@zahrael97, Sorry for the late response. Is this still an issue for you?

Does [this reference](https://stackoverflow.com/questions/64058523/attributeerror-sequential-object-has-no-attribute-make-predict-function) helps you? Else, can you please share standalone code to replicate your issue? Thanks!

[2021-11-08 13:48] #15515 closed

[2021-11-08 16:47] sanatmpa1 commented on #15594
@FHof,

`tf.keras.backend.set_floatx` supports only for Keras and it doesn't have any effect on Tensorflow, Can you take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/26033)? where a similar feature has been proposed and it is still open. Thanks!

[2021-11-08 17:03] sanatmpa1 commented on #15593
I am able to reproduce the reported issue in colab with `TF 2.6` and `TF 2.7` as well. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/dc4658aa21884250a99eb60f9f0b0ddb/dummy-model-ragged.ipynb). Thanks!

[2021-11-08 17:46] wittmarf commented on #13932
I have this pruning algorithm which sets many weights to zero and leaves
the others untouched. Some convolution filters can now be deleted
completely, which reduces the value of N. So I need to change the shape of
the layer and in fact the whole graph.

Example:

Before pruning:
Conv(3 x 3 x 3 x 32) -> Conv(3 x 3 x 32 x 64) -> Conv(3 x 3x 64 x 128) ->
Flatten -> Dense(256) -> Dense(64) -> Dense(10

[2021-11-08 18:09] jvishnuvardhan opened #15608 "feature request: Robbins-Monro type learning rate decay"
Note: Moving this from https://github.com/tensorflow/tensorflow/issues/20644
Keras-team/keras will evaluate this feature. Thanks

I was wondering if there is any appetite for a [Robbins-Monro](https://en.wikipedia.org/wiki/Stochastic_approximation#Robbins%E2%80%93Monro_algorithm) type learning rate decay in tensorflow? The decay would be roughly (a more general solution is implemented at the botto

[2021-11-08 21:12] sachinprasadhs commented on #15584
Since we no longer support Tensorflow 1.x issues, could you please update your request to Tensorflow 2.x related. Thanks

[2021-11-08 21:22] sachinprasadhs commented on #15572
Could you please provided the complete code to reproduce your issue, Thanks.

[2021-11-08 21:56] sachinprasadhs commented on #15547
For functional API you should use concatenate instead of Concatenate, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/7083046f47862f0859e2e2b231b341ff/52968.ipynb) for the same with multiple inputs in concat layer and in your case there is no need of concatenating the layers, it can be used when multiple Input layers are used like below [example](https://www.tenso

[2021-11-09 00:39] jvishnuvardhan commented on #15586
I can reproduce the issue with `tf-nightly`. However, the following workaround may be helpful. [Here](https://colab.research.google.com/gist/jvishnuvardhan/0bbbc0cd98ae79ac135cb3ef0849df1d/15586.ipynb) is a gist for reference. Thanks

[code]

[code]

[2021-11-09 02:29] jvishnuvardhan commented on #15586
@drasmuss This is working as mentioned in the docs. Please check [here](https://www.tensorflow.org/api_docs/python/tf/keras/initializers/RandomUniform). It was mentioned that the initializer will not produce same random values across multiple calls but produces the same sequence.

seed | A Python integer. Used to create random seeds. See tf.compat.v1.set_random_seed for behavior. Note that seeded

[2021-11-09 03:01] jvishnuvardhan commented on #14647
@gitfourteen Is this still an issue for you?

I ran your code with recent `TF2.7` and I don't see any error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/bdcaa66776ece061b958f23479ee9cef/untitled1107.ipynb). Thanks!

[2021-11-09 04:28] sanatmpa1 commented on #15605
@alemyewno,

Can you provide a reproducible standalone code or colab gist to expedite the trouble shooting process? Thanks!

[2021-11-09 06:33] philipperemy commented on #14066
@chunduriv the issue still persists with the latest tensorflow 2.7.0.

@googlebot hey re-open this issue please.

[2021-11-09 06:33] philipperemy commented on #14066
[code]

[code]

[2021-11-09 08:16] yysw commented on #2134
In my case, the optimizer is the trick. Use adagrad instead of adam fix the problem.  The problem only happened when I train the model distributedly with adam.  In single node situation, adam works fine.

[2021-11-09 13:07] FHof commented on #15594
Thank you for linking to the issue. That is what I was looking for.

[2021-11-09 13:07] #15594 closed

[2021-11-09 14:02] jinuhwang commented on #13782
Same issue on TensorFlow 2.7.0

[2021-11-09 14:22] drasmuss commented on #15586
I don't believe this is working as described in the docs

This means that if I construct a given Initializer (e.g. `init0 = tf.keras.initializers.RandomUniform(seed=0)`), and call it multiple times, like
[code]
I should expect `w0`, `w1`, and `w2` to be different. That part is working as expected.

This is the part that is not working. This says that multiple initializers, with the same seed value

[2021-11-09 18:04] jvishnuvardhan commented on #15586
@drasmuss Before running `init1 = tf.keras.initializers.RandomUniform(seed=0)`, if you reset the colab runtime, then the sequence is same (i.e. w0 == y0, w1 == y1, and w2 == y2).

In the above, you are not restarting the runtime. May be we need to update the docs to reflect it. Thanks!

[2021-11-09 18:38] drasmuss commented on #15586
If you reset the colab runtime then you effectively just have a single initializer (because resetting gets rid of the previous one). The documentation explicitly says that _multiple_ initializers should produce the same sequence with the same seed. You could adjust the documentation to remove that claim entirely, but that's a pretty significant change in the behaviour.

As a broader point, the ben

[2021-11-09 21:16] elfring opened #15620 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-10 00:42] sachinprasadhs commented on #15600
I'm able to see loss, please refer the gist [here](https://colab.research.google.com/gist/sachinprasadhs/f08ccaef065d1df5713ad230e7c98f50/efficietnet-generalized-mean-pooling.ipynb) and confirm the same. Thanks!

[2021-11-10 01:15] #14327 closed

[2021-11-10 01:15] #14322 closed

[2021-11-10 03:05] sachinprasadhs commented on #15546
@qspi, as Scott suggested above, your `y_true` and `y_pred` were reversed in both the loss function of model.fit and gradient function, modified it and now I'm able to see the decrease in loss for both and bounding box for both the prediction at final prediction. Please  find the gist [here](https://colab.sandbox.google.com/gist/sachinprasadhs/cd66c4855cc500acd33b2a53e4dc01f2/face_ssd_fit_vs_gradi

[2021-11-10 04:25] innat commented on #15600
@sachinprasadhs oh, sorry. I was tweaking on the same file. I set the `self.p` parameter not trainable. After doing that, the error was gone. But I think it should be set as `True`.  Please check now again.

[code]

[2021-11-10 04:38] chunduriv commented on #15606
@ravinderkhatri, Can you please share `label_map.pbtxt` and other supporting files if any to replicate above issue? Thanks!

[2021-11-10 08:31] vldud-off commented on #4875
I solved this problem by setting an environment variable PYTHONHASHSEED to an integer value: PYTHONHASHSEED=1;

[2021-11-10 09:47] Amirzeb555 commented on #14184
i have same error
NameError: name 'val_datagen' is not defined
anyone help

[2021-11-10 11:45] sanatmpa1 commented on #15620
@elfring,

Can you please fill the issue [template](https://github.com/keras-team/keras/issues/new/choose). Also can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-11-10 12:15] #14688 closed

[2021-11-10 13:15] #14722 closed

[2021-11-10 18:15] #14332 closed

[2021-11-10 18:33] sachinprasadhs commented on #15600
Now I can see the `nan` loss when the trainable is set to `True` in `add_weight`, attaching the Gist [here](https://colab.research.google.com/gist/sachinprasadhs/a6fef9c3d589852e70fa5b126fa06997/efficietnet-generalized-mean-pooling.ipynb) for reference.Thanks!

[2021-11-10 20:15] #14347 closed

[2021-11-10 21:15] #14360 closed

[2021-11-10 21:51] tomerk commented on #15531
Is your model's predictive performance sensitive to the ordering of the input datasets?

[2021-11-10 22:30] mattgrayling commented on #10806
I don't like reopening old issues but I tried using the @bradsheppard method and this doesn't work as expected. When the models are first created, the discriminator weights are shared across both the gan and discriminator models and when the discriminator is updated in training, the gan model will use the latest state of the weights as updated when the discriminator is trained. However, when loadi

[2021-11-10 23:15] #14376 closed

[2021-11-10 23:15] #14371 closed

[2021-11-11 01:41] #15546 closed

[2021-11-11 01:44] Nilabhra commented on #15531
We are realizing that it was the number of CPU cores rather than system memory that led to the discrepancy. Disabling interleaving of the tfrecords changes the performance drastically in any setting.

I'm closing this issue because the discrepancy is gone after using more data for training.

[2021-11-11 01:44] #15531 closed

[2021-11-11 06:38] chenying99 opened #15635 "resnet50 code has bug?，the first stack1' first block don't use 1*1 conv"
https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/applications/resnet.py#L453

https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/applications/resnet.py#L271

https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/applications/resnet.py#L213

the first stack1' first block should be conv_shor

[2021-11-11 06:51] ravinderkhatri commented on #15606
@chunduriv
Below is the link to label_map.pbtxt file
https://drive.google.com/file/d/1Qqk3jtJLwA-h3G3sgjMMtvr5JWmPJGcC/view?usp=sharing
Please let me know what else you need

[2021-11-11 09:06] samida22 opened #15636 "Removing last laye in keras functional api"
I cannot remove the last prediction layer from my model built with keras functional api