[2022-04-22 15:39] ssavale-entrata commented on #3155
[lovecambi](https://github.com/lovecambi)'s solution is good, but it doesn't work with Keras hyper parameter tuning.

[2022-04-23 11:34] M-Wolff commented on #16444
The vertical lines correspond to datasets with only few training samples, I think.
In the following I focus on one model that is also used in my Google Colab Notebook:

1. `model = keras.applications.inception_v3.InceptionV3(weights=None, include_top=True, classes=5)`
2. https://colab.research.google.com/drive/1vvgI6D7MI8l5SgIRrkJlh03kSlQYpa4l?usp=sharing

The Google Colab snippet features Codeblo

[2022-04-23 22:11] code-review-doctor opened #16456 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/keras-team/keras/blob/aea9728313bcaa8262774699c21976288171b209/keras/benchmarks/keras_examples_benchmarks/text_classification_transformer_benchmark_test.py#L150
https://github.com/keras-team/keras/blob/aea9728313bcaa8262774699c21976288171b209/keras/b

[2022-04-24 03:14] critopadolf commented on #5337
I also face this issue with model(data) and model.predict(data, batch_size=1), I get OOM

[2022-04-24 14:52] federicopisanu commented on #15239
Hi, i was looking for an easy contribution just to start with keras and i found this issue.
As i can see, feature 1 and 3 have been already implemented so i decided to work on the 2nd one, taking main inspiration from [this ](https://github.com/tensorflow/tensorflow/issues/48641) similar issue that has been already solved.
I'm happy to hear any suggestion, i'll post my PR as soon as possible!

[2022-04-24 17:08] pswpswpsw commented on #14062
Interestingly I am doing exactly the same thing: implementing L4 in tensorflow 2 optimizer API. I also arrived at the same problem as you described. Do you have a chance to fix this?

[2022-04-24 17:13] sushreebarsa commented on #16441
@gadagashwini I was able to replicate this issue on colab using TF v2.8.0 and tf-nightly,please find the gist[ here](https://colab.research.google.com/gist/sushreebarsa/9cf59b97f31758483496dc727ec1e51f/16441.ipynb).Thanks!

[2022-04-24 17:15] sushreebarsa commented on #16450
@joonjeon
In order to expedite the trouble-shooting process, please provide the complete code snippet to reproduce the issue reported here. Thanks!

[2022-04-24 23:36] innat commented on #16260
@qlzh727 @LukeWood Can it be moved to the tensorflow repo?

[2022-04-25 01:47] chenmoneygithub commented on #14062
@pswpswpsw Hi, this is not a bug, but an expected behavior. Keras optimizer's role is to apply given `gradients` on `model variables`. If you wish to use the loss during gradients back propagation, please write a custom training loop.

However, I do see recently there are more optimization algorithms doing gradients "looking ahead", so we may adapt the optimizer to be aware of the loss in the futu

[2022-04-25 02:02] LukeWood commented on #16260
Hey @innat !  I unfortunately do not work much on tensorflow API design, so I am unsure.

[2022-04-25 02:08] innat commented on #16260
Actually, I just want you guys to move this issue to tensorflow, [HERE](https://github.com/tensorflow/tensorflow/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc). I think it can be done, [LIKE](https://stackoverflow.com/a/53091647/9215780). But it may need core members. (I don't have any option here to move an issue from one repo to another)

[2022-04-25 06:27] lauraht commented on #16311
Thank you @sachinprasadhs and @mihirparadkar for looking into this problem!

I would greatly appreciate it if this problem can be fixed, so that our project can continue.

Thank you very much and I am looking forward to a fix!

[2022-04-25 08:53] gadagashwini commented on #16229
@Suzan009, I couldn’t reproduce the issue on MAC OS and Linux machine.
May i know, why are you trying to launch Keras-io website from locally. Thanks!

[2022-04-25 09:46] sushreebarsa commented on #15528
@ghup1 I tried to replicate the issue on colab using TF v2.8.0 with the provided code and didn't face any issue.Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/f6a57c87e1979d932c2a42d5e807bf3c/15528.ipynb) and let us know if it helps?
Thanks!

[2022-04-25 09:52] bhack commented on #16260
It could not be done between Keras and TF as at some point there was a decision to have two independent github Orgs (keras-team and tensorflow).

https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository

[2022-04-25 11:31] ColinMcAuliffe commented on #14062
@pswpswpsw I ended up writing a custom training loop to implement this, which turned out to be a lot easier than I expected :)

[2022-04-25 11:46] gadagashwini commented on #16405
@szleb,
Would you like to contribute for PR to fix this issue.

[2022-04-25 11:52] chunduriv commented on #16452
@FTPam,

This error is due to unavailability of checkpoint.

 Currently for input size `96`, the available checkpoints for `MobileNetV2` are below

- mobilenet_v2_1.0_96
- mobilenet_v2_0.75_96
- mobilenet_v2_0.5_96
- mobilenet_v2_0.35_96

For `alpha` : `1.4`, currently supported input size is `224`. Please find the [gist](https://colab.sandbox.google.com/gist/chunduriv/baeb50622a56463d5c7795b25070

[2022-04-25 12:08] chunduriv commented on #16086
@old-school-kid,

Yes, it is working as expected on `CPU`, but it is a bug on `GPU`.

[2022-04-25 12:19] tilakrayal commented on #16453
@foxik ,
The PR has been assigned for reviewing and once it is merged this issue will move to closed status.Thanks!

[2022-04-25 15:56] ubiratanfilho commented on #13940
Having the same error with a TimeSeriesGenerator. @Samir221 have you found a solution?

[2022-04-25 16:49] old-school-kid commented on #16452
@FTPam I believe the weights were populated directly from the checkpoints provided by the research team and there was no such model checkpoints provided by them.

[2022-04-25 18:50] profPlum opened #16461 "Misleading Behavior of model.evaluate()"
I experienced a situation where model.evaluate() _was very misleading on model performance due to the default of using a batch_size=32_. I was using R^2 to evaluate my model and was getting quite low R^2 values from model.evaluate() compared to manual evaluation. **While on average the values were 5% lower than the true values, due to a few _extreme outlier mini-batches_ it once gave R^2~=-90,000

[2022-04-25 18:58] profPlum commented on #16461
P.P.S. If the changes I'm suggesting are too radical please at least consider this: using a larger default batch size for evaluation (e.g. 128) & _explicitly advertise the batch size_ by having the default batch_size!=None.

[2022-04-25 19:27] #16456 closed

[2022-04-26 10:59] szleb commented on #16405
Yes!

[2022-04-26 13:48] tilakrayal commented on #16461
Hello @profPlum ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.Thanks!

[2022-04-26 16:58] gowthamkpr commented on #16059
I'm liking the error that you are running into [here](https://discuss.tensorflow.org/t/unable-to-use-multiple-gpus-with-tf-keras-layers-normalization/7663). There are a few things that you can try as mentioned [here](https://stackoverflow.com/questions/60082554/tensorflow-throwing-distributed-function-error). Try all the mentioned solutions and let me know if you are still running into this error.

[2022-04-26 17:48] fchollet commented on #16384
This has now been implemented! 👍

[2022-04-26 17:48] fchollet commented on #16383
This has now been implemented! 👍

[2022-04-26 17:48] #16383 closed

[2022-04-26 18:12] gowthamkpr commented on #15933
@marzdeveloper Did you try appending .repeat() to the creation of my tf.data.Dataset and try checking how fast the accuracy merges. Thanks!

[2022-04-26 18:31] gowthamkpr commented on #15915
Take a look at this [comment](https://discuss.pytorch.org/t/same-lstm-gru-implementation-different-results-pytorch-keras/121755/7). It should help. Thanks!

[2022-04-26 19:10] mattdangerw commented on #16219
Not sure I follow?

At least in my understanding, I don't believe we want to port any of the `keras.preprocessing` symbols to tensorized op implementations. Essentially because we don't want to encourage those APIs. Basically everything in `keras.preprocessing` would be better done as a Keras [preprocessing layer](https://www.tensorflow.org/guide/keras/preprocessing_layers).

We will be starting t

[2022-04-26 19:23] mattdangerw commented on #15900
@foxik I think an issue with what you are proposing is we really can't assume a batch dimension at all. We need to support to flows generally speaking with preprocessing...

[code]

This makes our preprocessing as a whole much more flexible in terms of where it can be applied, particular when thinking about multi-worker settings. But it does lead to some ambiguous cases like this! Where we can't a

[2022-04-26 19:25] bhack commented on #16219
It Is ok for me if this is your internal goal. So you can use this ticket to track the introductiom of a deprecation warning (eventually with an EOL) as in TF.

[2022-04-26 19:26] bhack commented on #16383
Only for WAV right?

[2022-04-26 19:36] mattdangerw commented on #16219
Thanks! The guidance away from preprocessing utilities (in `keras.preprocessing`) and towards preprocessing layers (in `keras.layers`) will be going live with 2.9 (shortly I think). I don't believe we will have a EOL for these symbols, as they should continue to function for the duration of tensorflow 2.x.

Most official tf guides have moved off of `keras.preprocessing` but this will still be an o

[2022-04-26 19:43] mattdangerw commented on #16101
Thanks for filing! This is an issue with Sequential models, where they will essentially assume that any layer can be traced with a an input matching the layer's dtype. This is an issue hitting quite a few preprocessing layers (though due to some refactoring it looks like StringLookup is newly affected in 2.8). We definitely need a fix here.

For now, the fix suggested above, use a `keras.Input(...

[2022-04-26 19:44] bhack commented on #16219
Generally a deprecation warning help a lot for a "natural migration" other then the guidance as not all users read extensively docs.

[2022-04-26 20:34] mattdangerw commented on #15976
I'm not sure a truly dynamic pairing of vocabulary indices and learned embedding weights (especially in a smoothly differentiable way) would be a good fit for either StringLookup or the Embedding layer. Did you have an example of something you had in mind?

We do however want to support moving a learned embedding from one vocabulary indexing to another. This should be doable, though the code might

[2022-04-26 21:32] mattdangerw commented on #16325
Hi! Thanks for filing, sorry for the delay here.

Do you have an idea of how much horizontal scaling you would need? What's your use case/data size?

We talked about this extensively on the TF team, and the conclusions we came to...

 - For true multi-worker scaling of *dataset analysis*, `tf.distribute` is not a great fit. When you are distributing a training job you usually want a lot of very ex

[2022-04-27 00:01] goodcheer commented on #16395
might be relevant to  #44758,

[2022-04-27 01:35] mattdangerw commented on #16248
Sorry about the delay here! @ageron are you still interested in working on this? I could help guide (particularly with respect to generating API symbols and helping test this change for any unexpected regressions).

I think the writeup you have looks good, are we actual just did similar work for the keras nlp project. See, for example...
https://github.com/keras-team/keras-nlp/blob/master/keras_nl

[2022-04-27 07:16] sushreebarsa commented on #15420
@xhlulu I was able to replicate the issue on colab using TF [v2.4.1](https://colab.research.google.com/gist/sushreebarsa/425cd7b2ef769b4219a07dda1ff53c95/15420-2-4-1.ipynb) .The error message is improved in the latest TF version 2.8.0,could you please find the [gist](https://colab.research.google.com/gist/sushreebarsa/1f05dec9c9d499e7b38258c9b3b7ab6b/untitled122.ipynb) and let us know if it helps?

[2022-04-27 13:49] ypsilon-elle commented on #16152
@gowthamkpr Thanks for the link, I have checked the issue. The issue might be outdated, because it is from 2020.

To my knowledge `Conv2Dtranspose` is supported by quantization aware training. A quantization config for `Conv2Dtranspose` is defined in [/default_8bit/default_8bit_quantize_registry.py](https://github.com/tensorflow/model-optimization/blob/d2ecffce6d8f5306b51060f423d3dbabc86f2ecf/tens

[2022-04-27 14:49] foxik commented on #15900
Hi,

thanks for the reply -- I did not think about using the layer in the `tf.data` pipeline, where single examples are processed (instead, I imagined the layer to be used only in the network, where the 0-th dimension is a batch dimension), so I understand why you want to keep the current behavior, even if it might cause problems in single-example batch inference.

We used the work-around with int

[2022-04-27 14:49] #15900 closed

[2022-04-27 15:20] profPlum commented on #7947
@fchollet It seems like no-one has answered the original question: in keras what is the 'accuracy' metric computing in regression problems?

I would still very much like to know, because it seems meaningful given that it is always non-zero (even for regression problems) & increases at a reasonable rate w.r.t. loss. But I do not know if I can trust it until I know what it is actually doing.

[2022-04-27 18:15] mhorlacher opened #16469 "WARNING:absl:Found untraced functions such as [...]"
I run into the above warning when saving sub-classed models with `model.save()`.

After some investigation, the error seems to occur when using sub-classed layers in combination with sub-classed models.

See the code below for a minimal example:

[code]

Or check out this [gist](https://colab.research.google.com/gist/mhorlacher/e172e2dc8ec10fc790cf1c3fa1931e8a/untitled8.ipynb).

My TF version is `

[2022-04-27 18:15] mhorlacher commented on #16469
This issue as also been discussed here: https://github.com/tensorflow/models/issues/10562

[2022-04-27 18:22] mogeid commented on #16393
@sushreebarsa  I suppose a minimal working example could look something like this:
[code]
Note the stopping despite the improvement in the monitored quantity.

[2022-04-27 18:38] mattdangerw commented on #15206
The fix is now on keras nightly https://github.com/keras-team/keras/blob/master/keras/preprocessing/image.py#L962, and will be in stable keras in 2.9.0 (within a few weeks).

Note that keras-preprocessing as a standalone repository/pip is now deprecated. All functionality has been moved into the main keras repo.

[2022-04-27 18:38] #15206 closed

[2022-04-27 18:51] saberkun commented on #16469
@qlzh727

[2022-04-27 19:02] xhlulu commented on #15420
@sushreebarsa that's perfect, thanks for the fix!

[2022-04-27 19:03] #15420 closed

[2022-04-27 19:03] xhlulu commented on #15420
Closed in https://github.com/keras-team/keras/pull/15441

[2022-04-27 19:16] MrBlackZW commented on #11284
I am getting the same error. When I use model.save() I get three files which are not in HDF5 format

[2022-04-27 20:36] qlzh727 commented on #16469
@k-w-w for saving related qustion.

[2022-04-27 20:42] qlzh727 commented on #16469
Also the warnings a bit weird that it contains layer name like dense_4_layer_call_fn, whereas there are only 3 layers in the model. It seems that there are duplicated tf.functions being created and somehow discarded.

[2022-04-27 21:08] mhorlacher commented on #16469
@qlzh727 Do you observe this after re-starting the runtime? The exact warning I get is:

[code]

Which makes sense IMO, as the model has 3 dense layers.

[2022-04-28 00:32] partiallycomplex commented on #16160
Problem still random happens. Always incompatible shapes not just for optimiser but also layers ie Btchnorm.
Happens more frequently during hyper parameters optimisation. Smaller frequency disabling eager.
No support up to now from Kerr’s either apple.
(bug only on M1 cpu)

[2022-04-28 01:25] k-w-w commented on #14808
This should now be fixed in the nightlies. In colab, install the nightlies with:
[code]

[2022-04-28 01:25] #14808 closed

[2022-04-28 02:15] sushreebarsa commented on #15420
@xhlulu Thank you for the update!
Glad it is resolved.Thanks!

[2022-04-28 05:27] joonjeon commented on #16450
Alright.

As requested, the following is the complete code for constructing the MavNet and training it.

[code]

If you have any compile/runtime error issues, or if you need anything else, please let me know as soon as possible.
Thanks in advance.

[2022-04-28 05:44] sushreebarsa commented on #16450
@gadagashwini I was able to replicate the issue on colab ,please find the [gist](https://colab.research.google.com/gist/sushreebarsa/a13b49ad18ab0e096c39aa7e83287941/16450.ipynb) here.Thanks!

[2022-04-28 06:26] sushreebarsa commented on #16393
@gowthamkpr I was able to replicate the issue on colab using TF v2.8.0 ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/7ccaaeaca9ebb2928fb10386540c885d/16393.ipynb) for reference.Thanks!

[2022-04-28 07:21] gadagashwini commented on #16441
@dniku,
Hi, Thanks for reporting this issue.
Does this similar to [#15451](https://github.com/keras-team/keras/issues/15451). Thanks!

[2022-04-28 08:32] dniku commented on #16441
@gadagashwini no, that's a different issue. Here I describe a bug somewhere in Functional Model interface. #15451 is just a feature request.

[2022-04-28 11:30] #16333 closed

[2022-04-28 13:30] #16406 closed

[2022-04-28 14:09] CaptainDario opened #16473 "image_dataset_from_directory cannot load JPG images into shape (w, h, 4)"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.8
- Python version: 3.8
- GPU model and memory: not relevant
- Exact command to reproduce:
[code]

**Describe the

[2022-04-28 17:07] LukeWood commented on #16399
In the near future KerasCV will be offering a `RandomlyResizedCrop` layer that will operate on an image-wise basis.  To get this behavior, you may use that layer and set the resize factor to 0.  This will give the behavior you are looking for.

[2022-04-28 17:08] #16399 closed

[2022-04-28 17:09] LukeWood commented on #16395
Hey @goodcheer!  If you are willing to submit a PR to fix this we can accept it.  Thanks for the bug report!

[2022-04-28 17:11] LukeWood commented on #16399
We have double checked this @zaccharieramzi and actually in the newest version of Keras this will be the default behavior for RandomCrop!  Thanks

[2022-04-28 17:17] LukeWood commented on #16320
Notes from triage:

we will need to investigate this issue more and figure out what is causing the memory leak to occur.  This is definitely not expected behavior.  This could be coming from the TF side - but either way this should not be causing a memory leak.

[2022-04-28 17:25] LukeWood commented on #16160
Is there a way to report the bug to the TensorFlow M1 distribution - I believe that Apple is actually currently maintaining this build and package.  If it is only on M1, it is likely a bug on that side:

//medical/endoscopy/experimental/surgical/tf_datasets/out_of_body:maple_based_dataset

[2022-04-28 17:33] zaccharieramzi commented on #16399
Cool this makes a lot more sense.

Thanks!

[2022-04-28 21:27] kaixih opened #16476 "Performance regression for FP16 Div kernel from Eigen to LLVM"
Might be related to https://github.com/keras-team/keras/issues/15857

We've benchmarked a set of pointwise kernels to understand the LLVM codegen CUDA kernels on Ampere/Volta GPUs. We noticed that the division kernel is slower than the original eigen kernel. Here is the perf result of eigen kernels vs LLVM kernels:

https://docs.google.com/spreadsheets/d/13i0P_TaYEYz7cW20uU2YqoL_eE4uxiPzpaBhAPFUbd

[2022-04-29 10:48] tilakrayal commented on #16476
@gadagashwini ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/43c398868415cd84605fa5db3018fa0e/16476.ipynb).

[2022-04-29 12:59] profPlum commented on #16461
@tilakrayal Hello, I'm not sure that is practical. The code base is very large as is the dataset. But I have confirmed that my diagnosis of the problem is correct (I was able to reproduce my exact manual evaluation of R^2 using model.evaluate() by setting the batch_size=n_dataset_rows). So I'm sure the reason for the discrepancy is the batch_size.

The rest of the problem is a question of design o

[2022-04-29 22:12] tempdeltavalue commented on #8744
Other question how pass any Model to TimeDist.. layer ?

[2022-04-30 11:56] tempdeltavalue opened #16482 "How to pass model into TimeDistributed layer ? (or convert model to layer?)"
Here's I tried to pass model into TD layer

enc_outputs = TimeDistributed(sample_encoder(inputs=[inputs, enc_padding_mask]))  # sample_encoder - is model

And I get this error:
ValueError: Please initialize `TimeDistributed` layer with a `tf.keras.layers.Layer` instance. You passed: KerasTensor(type_spec=TensorSpec(shape=(None, None, 128), dtype=tf.float32, name=None), name='sample_encoder/encoder

[2022-04-30 15:04] ric97 opened #16483 "Discretization layer, output_mode 'count'"
I would like to use this layer (below) in output_mode count, that seems like (from the doc) it can compute a sort of histogram.

`d = tf.keras.layers.Discretization(num_bins=100, output_mode='count')`

The error reported is the following:
`('Keyword argument not understood:', 'output_mode')`

How could I solve it?

[2022-05-01 11:31] makisgrammenos opened #16484 "Keras Metrics not updating when passed as objects"
Hello,

I am experiencing issues with keras metrics  while trying to train  the following model.
[code]
If I pass the metrics objects in ` model.compile` like this:

``` model.compile(optimizer=optmizer,loss='categorical_crossentropy',metrics=[tf.keras.metrics.Accuracy(),tf.keras.metrics.Precision()])```
the metrics are not updating.They always stay at 0.0000e+00.
I only managed to get accuracy to

[2022-05-01 13:56] tempdeltavalue commented on #15515
This problem still exists  (encoder from here https://www.tensorflow.org/text/tutorials/transformer )

inputs = tf.keras.Input(shape=(None,None,), name="inputs")
padding_mask = tf.keras.Input(shape=(1, 1, None), name="padding_mask")
enc_outputs = TimeDistributed(encoder) ([inputs, padding_mask])

 KerasTensor(type_spec=TensorSpec(shape=(None, 1, 1, None), dtype=tf.float32, name='padding_mask'), na

[2022-05-01 13:57] tempdeltavalue commented on #16482
related to this issue

https://github.com/keras-team/keras/issues/15515

[2022-05-01 19:23] mishc9 commented on #15515
Which version of tensorflow are you using in this example?

[2022-05-02 03:10] gadagashwini commented on #16469
I could able to reproduce the issue, please take a look at [gist](https://colab.research.google.com/drive/1LuNdGlQ2XdlCNyua_araGr6RYrwhiHPm?usp=sharing).
Similar issue opened on Tensorflow repo [#47554](https://github.com/tensorflow/tensorflow/issues/47554). Thanks!

[2022-05-02 09:51] mcourteaux opened #16485 "Unroll factor for keras.layers.RNN or performance fix for TensorArray / while_loop."
**System information**.

TensorFlow version (you are using): v2.7.0
Are you willing to contribute it (Yes/No) : Potentially, if the fix is easy enough.

**Describe the feature and the current behavior/state**.
`keras.layers.RNN` supports unrolling, which is great for performance, unless the unrolled time dimension is too long. The XLA compiler takes a ton of time processing a fully unrolled loop (

[2022-05-02 10:43] tilakrayal commented on #16483
@ric97 ,
 In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2022-05-02 10:48] tempdeltavalue commented on #15515
@mishc9
tensorflow               2.6.2

(and I don't use Attention layer)

[2022-05-02 14:28] jmontalt opened #16486 "`convolution_op` method for ConvNDTranspose"
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Keras recently added a new method `convolution_op` to convolutional layers to simplify customization of their behavior. This was helpful, thanks! Why not do the same for transposed convolutions?

ConvNDTranspose layers have inhe

[2022-05-02 23:54] Ark-kun commented on #16451
I've attached the model (zipped).
[TFKerasSavedModel.zip](https://github.com/keras-team/keras/files/8606630/TFKerasSavedModel.zip)

Trying to load this model using `tf.keras.models.load_model` fails in tf v2.7.1

I'm not sure you really need this file. The error seems to be by design. But I'm questioning the design. The TF SavedModel should be a stable standard, but right now it seems to be fragme

[2022-05-03 00:08] gowthamkpr commented on #16393
@mogeid Thank you for reporting the bug. I created a PR to fix it.

[2022-05-03 08:31] jmontalt opened #16490 "Complex-valued variance scaling initializers"
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

The `VarianceScaling` initializer and its subclasses do not currently support complex dtypes. Initialization of complex-valued networks was described in [this paper](https://arxiv.org/abs/1603.05201), which also contains an intr

[2022-05-03 09:54] mazeltovlee opened #16491 "GlobalMax{Avg}Pooling output infinity or NaN when the input shape is 0"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): latest
- Python version: 2.8.0
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- E

[2022-05-03 18:37] maybeLee opened #16492 "Given an infinity input, ConvLSTM2D will output a normal value only when the cols shape is 1"
**Describe the problem**.
Hi, I was using the latest Keras and TensorFlow to construct a model with ConvLSTM2D layer. However, I find that, when I set the shape in the `cols` dimension to be 1, ConvLSTM2D will output a normal value even when the input is infinity. But when I set the `cols` dimension > 1, ConvLSTM2D will output nan instead.

**Describe the expected behavior**.
I am not sure why suc

[2022-05-03 21:12] gowthamkpr commented on #16205
@TheImaginaryOne This is an expected behavior.  Take a look at the [code](https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/preprocessing/image_dataset.py#L192) and [this](https://github.com/keras-team/keras/blob/d8fcb9d4d4dad45080ecfdd575483653028f8eda/keras/preprocessing/dataset_utils.py#L26). The index directory makes a list of all files in the subdirs of d

[2022-05-04 01:43] sushreebarsa commented on #16473
@CaptainDario I tried to replicate the issue with the provided code on colab , could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/7087f395e8e13f9008c4de8755643a69/16473.ipynb),and confirm the same?
Thanks!

[2022-05-04 02:10] sushreebarsa commented on #16484
@makisgrammenos
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2022-05-04 02:28] sushreebarsa commented on #16492
@maybeLee I tried to reproduce the issue with the provided code  on colab using TF v2.8.0 and faced a different outcome as below .Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/60f463736218ca5639aeb270f02b4322/16492.ipynb#scrollTo=_s6tggqy3N4q) and confirm the same?
[code]
Thanks!

[2022-05-04 02:31] tilakrayal commented on #16461
@profPlum ,
Without the reproducible code, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, could you please provide a minimal code snippet or colab gist and the TensorFlow version you are using.Thanks!

[2022-05-04 02:33] sushreebarsa commented on #16482
@tempdeltavalue
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-05-04 02:47] maybeLee commented on #16492
Thanks, I confirm the issue. I find the model prediction result differs each time, I guess it is caused by the random initialization of ConvLSTM2D layer.
However, the symptoms are consistent (i.e., no NaN but normal output)

[2022-05-04 05:32] tempdeltavalue commented on #16482
@sushreebarsa
Hi.🍏
Is colab convinent for you ?

https://colab.research.google.com/drive/1X6zuidDqZqf4xM5YBEygPlyy6KVJwYC1?usp=sharing

[2022-05-04 05:57] #16407 closed

[2022-05-04 06:57] #16437 closed

[2022-05-04 07:35] mitul01 commented on #16229
@Suzan009 I haven't tried personally setting up Keras-io in windows but I would suggest you to try using windows subsystem Linux (WSL) to setup Keras-io if you think it a windows OS issue. They have also provided the docker image and if you have docker installed in your system you can always use that which will help remove all the installation and setup headaches.

[2022-05-04 07:57] #16423 closed

[2022-05-04 08:21] phbillet opened #16495 "Keras and Sklearn StackingRegressor : problem with one row input"
Hello,

I am trying to build a regressor using sklearn Stacking regressor and Keras, everything works fine when the input contains more than one row.

But if I use one row, the program returns the message "ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 10 has 1 dimension(s)".

After some investigations, for o

[2022-05-04 09:26] tilakrayal commented on #16491
@mazeltovlee ,
Can you please confirm whether you are able to fetch same result while trying to execute the code.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/11bed24401a8129a09bf0d85e9ff57f3/16491.ipynb).Thanks!

[2022-05-04 09:57] essaidbill opened #16496 "help me please"
**_When I run the following code_**

"""
Created on Fri Apr 29 05:18:54 2022

@author: Bill
"""

import os
import sys
sys.dont_write_bytecode = True
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

import TensorFlow as tf

import json
import glob
import warnings
import scipy.io as sio
from utils import setup
from model import DeepACE
from datetime import datetime
import matplotlib.pyplot as plt
from coll

[2022-05-04 10:47] mazeltovlee commented on #16491
Yes, this is the issue that I am encountering. I assume these layers should raise an exception when the shape is 0.

[2022-05-04 12:05] profPlum commented on #16461
There is no debugging required… I’ve already confirmed that Keras is working as documentation says it should….

The problem is the way that it works can be extremely misleading (please reread my previous reply).

[2022-05-04 21:31] reedwm commented on #16476
@chsigg, can you take a look?

[2022-05-05 00:57] #16218 closed

[2022-05-05 04:42] tilakrayal commented on #16495
@phbillet ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.Thanks!

[2022-05-05 06:20] sushreebarsa commented on #16482
@tempdeltavalue Thank you for the update!
@gowthamkpr I was able to replicate the issue on colab , please find the [gist ](https://colab.research.google.com/gist/sushreebarsa/927e8499c2b651327b256006b81972d7/timedistwithlambda.ipynb#scrollTo=ACww9sE6h-8L) here.Thanks!

[2022-05-05 06:21] sushreebarsa commented on #16496
@essaidbill
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2022-05-05 08:21] gadagashwini commented on #14140
@manastahir,
Take a look at workaround mention on similar [thread](https://stackoverflow.com/a/67803627/14290244). Let us know if it helps. Thanks!

[2022-05-05 08:32] phbillet commented on #16495
**System information**
I use wsl with Ubuntu 20.04 LTS and anaconda for Python
I use those package versions :
numpy: 1.21.5
pandas: 1.4.1
sklearn: 1.0.2
keras: 2.7.0
yellowbrick: 1.4

**Describe the problem**
In the notebook https://github.com/phbillet/EZStacking/blob/main/Stack_Keras_1.ipynb
the cell 24 (`array(22.85553, dtype=float32)`) shows that the output value is not complaint with the outpu

[2022-05-05 08:48] ageron commented on #16248
Hi @mattdangerw ,
Thanks for your feedback and your kind words. Yes, I'd be happy to contribute this. I'll try to propose something within the next 2-3 weeks. Is this schedule ok?

[2022-05-05 08:57] #14247 closed

[2022-05-05 08:57] #16425 closed

[2022-05-05 08:59] georgepaw opened #16497 "Feature request: optimizer support with slot variables in different dtype to the variable."
Currently an assumption is made that slot variables have the same dtype as the variable, which prevents experimentation.

From digging around the a solution is to:
1. Extend `SlotVariableReference` proto in `tensorflow/core/protobuf/trackable_object_graph.proto` to include the dtype and set that field when saving/loading trackable objects in TF
2. Extend the `add_slot` function to take `dtype=None

[2022-05-05 09:07] Al-Sad commented on #3372
Thank you for pointing out this problem

[2022-05-05 09:36] loki4514 commented on #16425
yes

[2022-05-05 10:07] dniku commented on #16441
Still a problem.

[2022-05-05 10:40] gadagashwini commented on #14066
@philipperemy,
Workaround for this issue on latest Tensorflow version ~2.8.0, use `tf.GradientTape()`.

[code]
**Output**
[code]

[2022-05-05 10:57] #14288 closed

[2022-05-05 10:57] #14329 closed

[2022-05-05 10:57] #14338 closed

[2022-05-05 11:57] #14388 closed

[2022-05-05 11:57] #14496 closed

[2022-05-05 11:57] #14386 closed

[2022-05-05 11:57] #15119 closed

[2022-05-05 11:57] #15221 closed

[2022-05-05 12:16] gadagashwini commented on #14126
@AngledLuffa,
Please follow the workarounds mentioned on similar thread [#3653](https://github.com/keras-team/keras/issues/3653). And also refer this [issue](https://github.com/tensorflow/tensorflow/issues/48714). Thanks!

[2022-05-05 13:42] christophmeyer commented on #14345
In case this is still relevant for people, here is what I think is going on:

Keras saves the input specs on the first call of the model [here](https://github.com/tensorflow/tensorflow/blob/8b54374d803496667b1cc3d9dfcfa3bd8861581b/tensorflow/python/keras/engine/base_layer.py#L3013). When loading a pretrained model with transformers using the `from_pretrained` class classmethod of `TFPretrainedMode

[2022-05-05 14:33] philipperemy commented on #14066
@gadagashwini thanks for that!

[2022-05-05 14:52] Fly-Playgroud opened #16498 "Add Levenberg-Marquardt algorithm as a optimizer for keras."
Hi！please add` Levenberg-Marquardt` algorithm as a optimizer for keras. This algorithm is great useful for some problems.

[2022-05-05 15:54] mattdangerw commented on #16248
@ageron works for us! Thank you! Tensorflow 2.9 is about to go live, so we would probably target 2.10 with this. That should give us some lead time.

[2022-05-05 16:39] proteus1991 commented on #11253
@solarflarefx have you solved this issue? Thanks!

[2022-05-05 17:18] fchollet commented on #16152
Is it because you want to export the model for inference?

As a workaround you may want to try to use `tf.saved_model.save(model, name)` and see if that works.

[2022-05-05 17:32] ypsilon-elle commented on #16152
@fchollet I have a technical requirement to save my model in .pb format because this is a format which is used in other parts/modules of the project where I have to pass my model to. Saving my model as .h5 is a temporary workaround and I am hoping for a permanent solution :)

Thanks for you suggestion. Unfortunately the same error is reproducible with `tf.keras.models.save_model()` too.

[2022-05-05 17:50] hertschuh commented on #16450
@joonjeon is there any way to reproduce the issue without having the local files you need for training? I wasn't able to run the code as-is.
Also, what is the exact error message and stack trace?

[2022-05-05 17:54] hertschuh commented on #16132
@mortezamg63 the "contrib" layers that you are using are deprecated and unmaintained.
Can you try to use `keras.layers.Dense` and `keras.layers.Input` instead and see if that fixes the issue?

[2022-05-05 17:55] hertschuh commented on #16393
@mogeid Can you add a unit test exercising this new condition? Thanks!

[2022-05-06 02:06] tilakrayal commented on #16497
@georgepaw ,
Can you please share a Use-Case that supports your statement so that the issue can be easily understood? Thanks!

[2022-05-06 06:13] georgepaw commented on #16497
One could write an optimizer (for example Adam) for a model which has the weights and gradients in fp16, but the slot variables might have to be in higher precision - for example fp32

[2022-05-06 07:37] Rabelaiss commented on #15586
Thank you with this code I was able to get reproducible weights initializaiton in keras models.
I wonder, in order to correctly change the weights initializaiton, is it better to fix the seed in `tf.random.set_seed(1)` and change the seed in `tf.keras.initializers.RandomUniform(seed=0)`, or viceversa?
Many thanks in advance

[2022-05-06 09:12] mcourteaux commented on #16485
Oh my god, my mind was so scattered: this contains two issues at once hence it doesn't make sense. I'll delete the second issue part and open a separate one. To address your question, how will this change in the user-facing level: I'll update the issue body, but to answer directly, just have **the unroll argument accept both int and bool**.

[2022-05-06 09:18] mcourteaux opened #16502 "RNN get_initial_state() does not expose state: training or evaluation."
**System information**.

TensorFlow version (you are using): v2.7.0
Are you willing to contribute it (Yes/No) : Potentially

**Describe the feature and the current behavior/state**.

RNN Cell's `get_initial_state()` does not take a `training` bool to allow you to change the initial state based on whether you are training or evaluating.

**Will this change the current API? How?**
Have a `training=T

[2022-05-06 09:49] tempdeltavalue commented on #15515
@mishc9

you can try this colab if you're interested in

https://colab.research.google.com/drive/1X6zuidDqZqf4xM5YBEygPlyy6KVJwYC1?usp=sharing

[2022-05-06 11:38] ophiry opened #16503 "unable to pickle keras.layers.StringLookup"
cross posting: https://github.com/tensorflow/tensorflow/issues/55825

 <details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

colab

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN v

[2022-05-06 12:21] Crystal-yyy opened #16504 "GlobalAveragePooling2D causes the inconsistency of output between frameworks"
**System information.**
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem.**
Operators with Sum and Avg often cause inconsistency between frameworks. And for this inconsistency, only changing the input may cause its nature to chang

[2022-05-06 12:53] Crystal-yyy opened #16506 "GlobalAvgPool2d causes the inconsistency of output between frameworks"
**System information.**
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem.**
Operators with GlobalAvgPool2d often cause inconsistency between frameworks. And for this inconsistency, only changing the input may cause its nature to c

[2022-05-06 12:58] Crystal-yyy opened #16507 "LayerNorm2d causes the inconsistency of output between frameworks"

[2022-05-06 13:00] Crystal-yyy opened #16508 "BatchNorm2d causes the inconsistency of output between frameworks"
System information.
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

Describe the problem.
Operators with BatchNorm2d often cause inconsistency between frameworks. And for this inconsistency, only changing the input may cause its nature to change.

For

[2022-05-06 13:02] Crystal-yyy opened #16509 "AvgPool2d causes the inconsistency of output between frameworks"
**System information.**
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem.**
Operators with AvgPool2d often cause inconsistency between frameworks. And for this inconsistency, only changing the input may cause its nature to change.

[2022-05-06 13:04] Crystal-yyy opened #16510 "Resize causes the inconsistency of output between frameworks"
**System information.**
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem.**
Operators with Resize often cause inconsistency between frameworks. And for this inconsistency, only changing the input may cause its nature to change.

*

[2022-05-06 13:06] Crystal-yyy opened #16511 "Conv2d causes the inconsistency of output between frameworks"
**System information.**
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem.**
Operators with Conv2d often cause inconsistency between frameworks. And for this inconsistency, only changing the input may cause its nature to change.

*

[2022-05-06 13:08] Crystal-yyy opened #16512 "Conv2dTranspose causes the inconsistency of output between frameworks"
**System information.**
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
TensorFlow 2.0.0 installed by anaconda
gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
NVIDIA-SMI 460.80 Driver Version: 460.80 CUDA Version: 11.2

**Describe the problem.**
Operators with Conv2dTranspose cause inconsistency between frameworks. And for this inconsistency, only changing the input may cause its nature to change.

[2022-05-06 13:24] #16504 closed

[2022-05-06 13:25] #16506 closed

[2022-05-06 13:25] #16508 closed

[2022-05-06 13:25] #16509 closed

[2022-05-06 13:25] #16510 closed

[2022-05-06 13:26] #16511 closed

[2022-05-06 13:26] #16512 closed

[2022-05-06 13:37] #16507 closed

[2022-05-06 14:01] #15121 closed

[2022-05-07 04:08] Suzan009 opened #16513 "Why so many IOU!"
How does some design confuse and leaves you nowhere? A great example below

[code]

why is it so Itching to not have a single class that would perform all sorts of aspects?

[2022-05-07 04:16] Suzan009 commented on #16229
@mitul01 Even if I did use docker, I also need to run `python autogen.py` which would cause the same error.

Using WSL is a good suggestion, but I really don't need it for any other stuff. So, I'm not willing to do that unless it's necessary to do so.

[2022-05-07 04:19] Suzan009 commented on #16229
Just wanted to do a f*ng contribution in the code example. I would try another round to setup it up from fresh windows. If it goes well, fine. Otherwise, I'll close this issue.

[2022-05-07 04:20] #15839 closed

[2022-05-07 05:16] sushreebarsa commented on #16498
@Fly-Playgroud
Can you please elaborate about your feature and please specify the use cases for this feature. Thanks!

[2022-05-07 07:02] hapicatto opened #16514 "problem with the eager execution"
I retrain the resnet152v2 from keras to calassify my own set of image. I did so using a data generator that looks like this:
[code]
for training the model the code looks like this:
[code]
till there there was no problem, I've a couple of thousand images to validate and produce the output. The issue is that I've not been able to get the same prediction with and without the batch generator.
when I d

[2022-05-07 07:46] smthomas-sci commented on #11253
@proteus1991 , this is related to loading weights on a keras model with a tensorflow v1 backend. As of tensorflow v2+, keras natively supports loading weights trained on multi-gpus, all by the simple `model.load_weights("path_to_model_weights..h5")` call.

[2022-05-07 14:08] CaptainDario commented on #16473
@sushreebarsa I updated your gist to be executable and also raise the exception I mentioned.

[2022-05-07 16:40] rubbberrabbit opened #16515 "TypeError found in keras-Mxnet 2.2.4.2"
**Describe the problem**.
Analysis:
The error is found in keras-Mxnet 2.2.4.2. The location of the error is in Line 359 of file saving.py. After deserializing model, the program checks the weight parameters of each layer. If the length of weight values is not equal to the length of symbolic weights, a ValueError exception will be triggered. However, the program splices string type data with the na

[2022-05-08 15:28] maghsk commented on #16320
👉 [TF issue link](https://github.com/tensorflow/tensorflow/issues/55398)

[2022-05-09 10:01] #15528 closed

[2022-05-09 10:54] sushreebarsa commented on #16503
@gowthamkpr I was able to replicate the issue on colab ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/9192cb50196d321394ebe228609fa58f/16503.ipynb#scrollTo=CysKXd1YcqsN) for reference. Thank you!

[2022-05-09 10:56] sushreebarsa commented on #16514
@hapicatto
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-05-09 12:08] tilakrayal commented on #16495
@gadagashwini ,
I was able to reproduce the issue in tf [v2.7](https://colab.research.google.com/gist/tilakrayal/0c3402cfd285543c209fb402623f23b7/16495_2_7.ipynb), [v2.8](https://colab.research.google.com/gist/tilakrayal/4211717502f4624179724580746717df/16495-2-8.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/86fb6cf06fbd31260285f723152518b3/16495_nightly.ipynb).Please find

[2022-05-09 14:26] tilakrayal commented on #16491
@mazeltovlee ,
Can you please share a provide link that supports your statement so that the issue can be easily understood? Thanks!

[2022-05-09 14:34] mazeltovlee commented on #16491
Hi @tilakrayal ,
Please access this link to see the symptom: https://colab.research.google.com/drive/1EvhXQKO9iWQIo0qrPB0EDfI5vRGTKt_g?usp=sharing
The current behavior is: when the input shape of GlobalMax{Avg}Pooling layer is 0, these layers may not output `NaN/Inf`. Instead, it may be better when these layers raise an exception.
Please ignore this issue if you think the current behavior is accep

[2022-05-09 17:01] #16452 closed

[2022-05-09 19:33] LukeWood commented on #16486
This could be a good feature to add.  Great idea!

[2022-05-09 21:24] mshbaita commented on #6464
I have the same issue and solved it by referencing the parent directory instead of actual saved model path

PATH="results/classification/20220509_230134/saved_model/20220509_230134"
new_model = load_model(PATH)

saved model path is "results/classification/20220509_230134/saved_model/20220509_230134/saved_model/model.pb"

[2022-05-10 06:06] gadagashwini commented on #14913
@peri044,
Given code works fine with Tensorflow v2.8.0.
Please take a look at [gist](https://colab.research.google.com/drive/1LuNdGlQ2XdlCNyua_araGr6RYrwhiHPm?usp=sharing). Thanks!

[2022-05-10 07:52] x10000year opened #16517 "tf.keras.optimizers.experimental.AdamW only support constant weight_decay"
tf.keras.optimizers.experimental.AdamW only support constant weight_decay. The legacy tfa.optimizers.AdamW supports callable weight_decay, which is much better.

[code]

As above code shows, tfa.optimizers.AdamW allows us to specify the schedule of weight decay, which should be in proportional with learning rate schedule. However, I cannot do the same thing with tf.keras.optimizers.experimental.Ad

[2022-05-10 08:22] sushreebarsa commented on #16517
@x10000year
Please elaborate about your feature and  specify the use cases for this feature. Thank you!

[2022-05-10 10:13] Kiwiakos opened #16518 "Math error in OrthogonalRegularizer"
The code below adds up the non-diagonal elements of the product matrix, which is not correct. It should compute the norm of the matrix instead. As it stands the regularizer does not orthogonalise, but instead pushes vectors to be negatively correlated towards `-1/(N-1)` where `N` is the number of vectors.

https://github.com/keras-team/keras/blob/81c83b32e4b4d4a4107d4aa63a3970dadff3058a/keras/regu

[2022-05-10 10:21] x10000year commented on #16517
The feature requested is to support dynamic weight decay in tf.keras.optimizers.experimental.AdamW, so that weight decay value and learning rate can use similar schedule. This is important because for most learning rate schedule learning rate can decays to very small or zero value. When learning rate becomes close to zero, we should not use the same weight decay which we use when the learning rate

[2022-05-10 10:45] lauraht commented on #16311
Dear @mihirparadkar and @sachinprasadhs,

I was wondering if the Keras team has any plan to fix this problem?

Could you please give us some update on this? I would really appreciate it!

Our project has been stuck due to this problem, and we are looking forward to a solution.

Thank you so much for your help and we would greatly appreciate a fix to this problem!

[2022-05-10 16:31] tempdeltavalue commented on #16482
@sushreebarsa @gowthamkpr

Hi ✋
Any updates?

[2022-05-10 17:19] jmontalt commented on #16486
Great! I'll prepare a PR as soon as I can.

[2022-05-10 19:01] #15933 closed

[2022-05-10 21:04] LukeWood commented on #16486
@jmontalt let's wait for the green light from @fchollet

[2022-05-10 21:06] gowthamkpr commented on #16503
@ophiry Please try using [tf.keras.layers.serialize](https://www.tensorflow.org/api_docs/python/tf/keras/layers/serialize) and it should work.

[2022-05-10 21:07] jmontalt commented on #16486
Oh, OK! I misunderstood the previous message.

[2022-05-10 21:13] #16321 closed

[2022-05-10 22:15] ophiry commented on #16503
Thanks.

the reason for using pickle is to allow seamless serialization of nested objects. using the [tf.keras.layers.serialize](https://www.tensorflow.org/api_docs/python/tf/keras/layers/serialize) is possible, but will require additional boilerplate of implementing get state and set state methods

[2022-05-10 22:27] gowthamkpr commented on #16315
@qlzh727 Can you PTAL. Linking the [issue 55546](https://github.com/tensorflow/tensorflow/issues/55546). Thanks!

[2022-05-10 22:51] sachinprasadhs commented on #16492
I observed the similar behavior in both Functional API and Sequential model.
When `kernel_size` is 1 it predicts random value given infinity input.
When kernel_size > 1 the outcome changes to nan given infinity input.
Attaching gist [here](https://colab.sandbox.google.com/gist/sachinprasadhs/16e5059514d4c3489da01a72a7c9b3f1/16492.ipynb) for reference.

[2022-05-11 00:44] gowthamkpr commented on #14317
@Ankuraxz Please take a look at this [answer](https://stackoverflow.com/questions/68814645/how-to-randomly-split-image-dataset-while-using-imagedatagenerator) where you can split the dataset into train, validation and test. Thanks!

[2022-05-11 04:56] gcunhase commented on #14913
You are correct @gadagashwini, this has been fixed [here](https://github.com/tensorflow/model-optimization/issues/868). Thank you!

[2022-05-11 05:52] tilakrayal commented on #16518
@Kiwiakos ,
Can you please feel free to submit a PR for the requested change to be made.Thanks!

[2022-05-11 07:42] Antonytm commented on #10237
![image](https://user-images.githubusercontent.com/647813/167795474-79d7e29c-2dc6-48ea-99ce-1fd590e31a1b.png)

Same issue after Keras installation

[2022-05-11 09:05] WittmannF commented on #14188
The above worked for me, but why this error is even happening? And why do I have to import something from TensorFlow V1 to solve an issue in TF V2? Also, the traceback is misleading

[2022-05-11 10:21] Aishwarya-Varma123 opened #16522 "Invalid Argument Error while training images using inception v3 model"
1) Describe the problem:-
Getting Invalid argument error when i run training model code in colob

2) Source code :-
r = model.fit(
  training_set,
  validation_data=test_set,
  epochs=20,
  steps_per_epoch=len(training_set),
  validation_steps=len(test_set)
)

3) Error: -
Epoch 1/20
61/61 [==============================] - ETA: 0s - loss: 0.8558 - accuracy: 0.8667
---------------------------------

[2022-05-11 14:12] markub3327 commented on #16315
Thanks for re-open.

[2022-05-11 16:15] old-school-kid commented on #16522
It appears you have 5 different labels but your model has only 4 output node with softmax activation.
Instead of having `layers.Dense(4)` in last layer use `layers.Dense(4)`.
Hope this helps

[2022-05-11 19:53] markub3327 commented on #16315
@fchollet

This is the solution by @aaudiber.
[code]

I think the better way is directly fix `tf.keras.preprocessing.timeseries_dataset_from_array` to pass correct shape without using `map` and `tf.ensure_shape`.

[2022-05-11 20:40] qlzh727 commented on #16315
Ack. I guess we could have a determined value populated for the element spec for the dataset (we know the length of the data and the sequence length). Will try to fix it when I have some free cycle.

In the meantime, feel free to send PR if you have already have a fix for it.

[2022-05-11 21:14] markub3327 commented on #16315
@qlzh727

Do you think the `tf.data.Dataset.window` will be a better way to create timeseries dataset from array?

[2022-05-11 21:21] qlzh727 commented on #16315
Good point, we might be able to rewrite the existing implementation with tf.data API in a cleaner way.

[2022-05-11 22:58] qlzh727 commented on #16502
Thanks for reporting the issue. Usually the init state is provided by user when calling the layer, which means you could provide a init state to the layer between train/eval. Note that this method is only called when user didn't specify the init state, if you already have the state available, then just call the layer/cell with it.

[2022-05-11 22:59] qlzh727 commented on #16497
Add Chen for more inputs.

[2022-05-11 23:03] qlzh727 commented on #16492
Triage notes: Unclear to me what's the reason here, probably related to some subtle implementation detail in keras/tf stack. Will find an assignee in triage meeting (low priority)

[2022-05-11 23:05] qlzh727 commented on #16490
Triage notes: Not sure if we have proper complex value support across the keras stack (probably need to rely on tf ops support for complex value). We need to see how much work we need for this.

[2022-05-11 23:07] qlzh727 commented on #16476
Assign to Reed for FP16 issue.

[2022-05-11 23:25] qlzh727 commented on #16461
From the description of the issue, I don't think it is the issue for default batch_size (which we clearly document the default value and behavior), I think it is more because the misunderstanding of the metric API.

keras metric is always an stateful object, which means it tracks the state across the batches, and aggregate the value.  If your metric need to aggregate differently, then you should c

[2022-05-11 23:25] #16461 closed

[2022-05-11 23:28] qlzh727 commented on #16152
Also adding @abattery from TFMOT team.

[2022-05-11 23:37] diggerk opened #16526 "`model.validate` resets training metrics"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in Keras)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 20.04
-   **TensorFlow installed from (source or binary)**: Binary
-   **TensorFlow version (use command below)**: 2.8.0
-   **Python version**: 3.9
-   **GPU model and memory**: Irrelevant
-

[2022-05-12 04:10] sushreebarsa commented on #16526
@diggerk
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thank you!

[2022-05-12 05:18] tilakrayal commented on #16522
@Aishwarya-Varma123 ,
I request, could you please refer this [comment](https://github.com/keras-team/keras/issues/16522#issuecomment-1123980492) and try to execute the code.Thanks!

[2022-05-12 13:18] jmontalt commented on #16490
I think that, if we limit the discussion to the variance scaling initializers (and perhaps the standard random initializers), the necessary amount of work is not overwhelming. This is because the complex number generation can be easily be expressed using the existing real-valued `keras.backend.Generator`.

If it helps, I have implemented them in an external package, and you can find the code [here

[2022-05-12 16:11] alxbar75 commented on #11735
facing this issue with keras 2.8 and tf 2.8

```ValueError: `class_weight` is only supported for Models with a single output.```

[2022-05-12 16:17] profPlum commented on #16461
@qlzh727
1. Like I said I think it is very (& unnecessarily) counter intuitive, if you wanted it to be "very clear" I'd encourage you to set the default batch size not to None but the _actual default batch size_ (i.e. 32). So that it is "very clear" you are actually using mini-batches by default.
2. I still don't understand why mini batches are necessary. But if you insist on using them for evalua

[2022-05-12 16:39] qlzh727 commented on #16461
@profPlum.

1. The Keras fit/eval/predict has been using default batch size since it started, and we can't change the default value easily for backward compat reason. Note that a metric class should work regardless the batch size changes (otherwise it doesn't meet the API contract for metric). If keras.metric.Accuracy need to only work with a certain batch size, then it will be very confusing to e

[2022-05-12 18:15] lucasdavid opened #16529 "Regularization raises "Shapes must be equal rank" when training with multiple GPUs and a custom `train_step`"
Following the [distributed training guide](https://www.tensorflow.org/guide/distributed_training) and [distributed custom training tutorial](https://www.tensorflow.org/tutorials/distribute/custom_training), we are instructed to not average-reduce our losses (so that they can be later divided by the correct `GLOBAL_BATCH_SIZE` and summed together):
[code]
I believe these pages work well because non

[2022-05-13 05:04] AngledLuffa commented on #14126
Thank you for the suggestions.  They will come in handy, should the project
ever be resurrected...  as with many academic projects, it seems to have
been thrown over the fence once the paper was written

On Thu, May 5, 2022 at 5:16 AM gadagashwini ***@***.***>
wrote:

[2022-05-13 08:30] mcourteaux commented on #16502
Thanks for your answer, but essentially, this is my current workaround, which is unsatisfactory. I am passing in a training flag myself to the whole layer. Based on this flag, I choose random initial state, or de default zero state. As this flag is static for one given model instance, this doesn't solve the issue for the expected different behavior of `Model.fit()` and `Model.evaluate()` or `Model

[2022-05-13 09:02] tilakrayal commented on #16529
@lucasdavid ,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.Thanks!

[2022-05-13 13:37] lucasdavid commented on #16529
[code]

[2022-05-13 16:07] lucasdavid commented on #16529
Looking more carefully at the code in `LossesContainer`, I can see it correctly scales the loss values considering the number of replicas, so I believe the code above can work if we write it like this:
[code]

Where the compiled loss has `reduction='auto'` and the remaining adjacent loss instances (generating loss_p and loss_rec) have `reduction='none'`.

So I apologize, my mistake. Though I do be

[2022-05-13 16:13] #16529 closed

[2022-05-14 20:59] #16059 closed

[2022-05-14 21:41] allebasimia commented on #16389
Hello, seems like there’s already traction on this. I’d like to work on this as well + will catch up on what's already been done.

[2022-05-15 00:53] nassimmokhtari opened #16539 "Weights not updating after manually setting"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  2.6.0
- Python version: 3.9.7
- GPU model and memory:  NVIDIA RTX A3000 Laptop GPU 6Go

**Describe the problem*

[2022-05-16 02:46] joonjeon commented on #16450
Well, @hertschuh, technically speaking, you can put in any sort of images in the dataset directory and find out that the issue is reproduced. Of course, within the context of junction classification, you can put miscellaneous images of junctions and non-junctions in the dataset directory.

There has not been any error message while running the code above, since the code is technically not erroneou

[2022-05-16 03:53] LukeWood opened #16540 "Some application_tests are disabled"
This was why:

https://github.com/keras-team/keras/pull/16528

was not caught in the original PR.

Relevant links:
- https://github.com/sayakpaul/keras/blob/patch-1/keras/applications/applications_load_weight_test.py#L135-#L139
- https://github.com/sayakpaul/keras/blob/2f54af1c18c0b46f3ab0d29cd96427352e023b09/keras/applications/applications_test.py#L183

[2022-05-16 06:47] sushreebarsa commented on #16539
@nassimmokhtari  I tried to  replicate the issue on colab and faced a different error. Could you  please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/52c100720d7419c92776dec0bebde6e9/16539.ipynb)  and confirm the same? Thank you!

[2022-05-16 06:49] sushreebarsa commented on #16473
@gowthamkpr I was able to replicate the issue , please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/34606b9632b715da6bab7996a1b1ff05/16473.ipynb#scrollTo=WyaGSToM0QPI) for reference.
Thank you!

[2022-05-16 07:36] atticusfyj opened #16542 "File size & memory constantly increasing for keras models with StringLookup layer after reloading & resaving"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-05-16 09:14] mcourteaux commented on #16502
I have no clue how you would go about that. Try-catch in Python? Kinda ugly to use exceptions for this, but I'm not sure if there is a nice way.

I could try to find some time soonish. This should be a Python-only change that doesn't require any Bazel steps, right?

[2022-05-16 09:24] gadagashwini commented on #16229
@Suzan009,
Did you get a chance to build fresh Keras-io on Windows.Thanks!

[2022-05-16 09:52] nassimmokhtari commented on #16539
@sushreebarsa The error you are facing is due to the missing dataset (X_train and Y_train), I'm using the MINST dataset, where I flatten each image. You can try using MINST or any other dataset (just be sure that the input shape are matching). Thanks

[2022-05-16 14:52] matibilkis opened #16543 "Custom RNN stateful model - no batch training"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **YES**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Pop-OS! 22.04
- TensorFlow installed from (source or binary): **2.8.0**
- TensorFlow version (use command below): **2.8.0**
- Python version: **3.10.4**
- Bazel version (if compiling from source):
- GPU model and mem

[2022-05-16 16:47] Lokiiiiii opened #16544 "Default Keras callback for timing the training loop"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-05-16 18:07] CaptainDario commented on #16473
@gowthamkpr I know this and my current work around is to convert all images manually.
Howeber, as written in my issue the documnetation states

Because it says **converted** I think one would assume that it converts a jpg image to have a 4 channel.

[2022-05-16 18:12] gowthamkpr commented on #16473
@CaptainDario The error message clearly states that JPEG does not support 4 channels. It is not documented because it is well known fact that JPEG doesn't support alpha channel. Will discuss with the team and get back if we need to update the documentation. Thanks!

[2022-05-16 21:17] qlzh727 commented on #16502
You need to inspect the args/kwargs for a method and see if there is a training arg in it. See https://docs.python.org/3/library/inspect.html#inspect.signature

To test the change, you will need bazel for running the test case.

[2022-05-16 23:43] gowthamkpr commented on #16451
@Ark-kun Please go through this [document](https://keras.io/api/models/model_saving_apis/)  which explains the difference between `tf.saved_model.save()` and `model.save()`

Keras SavedModel (model.save()) uses [tf.saved_model.save](https://www.tensorflow.org/api_docs/python/tf/saved_model/save) to save the model and all trackable objects attached to the model (e.g. layers and variables). The mode

[2022-05-17 01:30] hertschuh commented on #16450
@joonjeon I tried this code with some set of images and I'm only achieving very low accuracy. However, I have no comparison point for that dataset with MAVNet.

How did you establish these two things?
1. That the "gradient flow" specifically breaks
2. That `tf.keras.layers.Concatenate()` specifically is the culprit

(As opposed to some other issue with Keras or the model)

Any specifics you can pr

[2022-05-17 07:22] jjl2 commented on #15964
Hi there, I just encountered this same warning in Tensorflow 2.7 when I added a ModelCheckpoint callback to an LSTM training run.

**_I also noticed a huge performance slowdown when this warning is thrown._**  My training runs at least 20 times more slowly.   It's really bad. I get long pauses during an epoch, and a longer pause at the end of each epoch when the warning prints.  Neither my models

[2022-05-17 07:50] sushreebarsa commented on #16544
@Lokiiiiii
Could you please elaborate about your feature and please specify the use cases for this feature. Thank you!

[2022-05-17 08:05] joonjeon commented on #16450
As a control group experiment to support the idea behind this issue, I also constructed the so-called MavNetNoConcat, which is basically similar to MavNet except that it has *no* `tf.keras.layers.Concatenate()` layers:
[code]

When training this MavNetNoConcat network on my custom dataset of junctions and non-junctions, the accuracy of classification continuously increased up to 90% as training pr

[2022-05-17 10:07] snowuyl opened #16548 "bazel can't build keras 2.9 on MacBook Air M1"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 12.3.1 (M1 ARM64 CPU)
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.9
- Python version:  3.9.12
- Bazel version (if compiling from source): 5.0.0
- GPU model and

[2022-05-17 10:38] sushreebarsa commented on #16539
@nassimmokhtari Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/a13746cd42591ecb46a038c5b57b6521/keras16539.ipynb) and confirm the issue reported ?
Thank you!

[2022-05-17 10:51] sushreebarsa commented on #16542
@atticusfyj I tried to replicate the issue on colab and faced the following error
[code]
Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/12f4b79ae682bbe0edc661b64b8a9275/16542.ipynb#scrollTo=WDdfEVcE89Vl) and let me know if I am missing something to reproduce the issue.
Thank you!

[2022-05-17 11:09] tilakrayal commented on #16543
@matibilkis ,
Could you please provide the error log you are facing.It helps to analyse the issue.Thanks!

[2022-05-17 11:38] nassimmokhtari commented on #16539
@sushreebarsa This issue is due to the output shape, the network is using one hot codification for the output, and the label you provide are represented as an Integer. You can find [here](https://drive.google.com/file/d/1tzfjGst3CGVRq_mukK_CERJ1Sge57-Gn/view?usp=sharing) the dataset I'm using, the dataset is already processed, inputs are flattened and labels are encoded as one hot. Thanks

[2022-05-17 13:24] jaykay9999 opened #16549 "Add an optimzer based on genetic algorithm"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-05-17 13:46] partoptr commented on #11241
Hello, I'm using RNN and kinda need the same answer here. did you by any chance figure it out already?

[2022-05-17 14:59] #16483 closed

[2022-05-17 16:47] zaccharieramzi opened #16550 "Possibility to use dropout in vgg16/19"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-05-17 17:10] gowthamkpr commented on #14345
@eyalshafran @yoonnoon @dschwalm @Allen-Qiu @shreyas-jk  Can you please try the above proposed [solution](https://github.com/keras-team/keras/issues/14345#issuecomment-1118569356) and let me know if it works. Thanks!

[2022-05-17 17:25] hertschuh commented on #15964
@jjl2 the fix is part of Tensorflow 2.9, which got released recently.
Please upgrade Tensorflow install and give it a try.

[2022-05-17 17:38] sayakpaul opened #16551 "Add MLP-Mixer models `keras.applications`"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-05-17 19:47] Sagarmadli commented on #692
from keras.preprocessing.image import img_to_array
ImportError: cannot import name 'img_to_array' from 'keras.preprocessing.image'

[2022-05-17 22:05] YanlongLai commented on #14345
It is not working for me. The first structure is still fixed on 5
[code]

[2022-05-17 22:59] #16205 closed

[2022-05-18 00:58] atticusfyj commented on #16542
Seems that you did not run `python test.py train` first? It should be run first to create a model and then we can run the command without `train` to reload & resave.

1) python test.py train
2) python test.py

Please run 1) for once and then run 2) many times to see the growing trend.

[2022-05-18 01:55] sushreebarsa commented on #16551
@sayakpaul Could you please elaborate about your feature and please specify the use cases for this feature. Thank you!

[2022-05-18 02:05] sushreebarsa commented on #16549
@jaykay9999 Could you please elaborate about your feature and please specify the use cases for this feature. Thank you!

[2022-05-18 02:21] sayakpaul commented on #16551
* MLP-Mixer is a set of models that can be used for image recognition.
* I think the use-case of this feature would be same as the models that are there under `keras.applications`.

[2022-05-18 03:59] #16484 closed

[2022-05-18 06:09] gcunhase commented on #14913
Not stale.

[2022-05-18 06:10] gcunhase commented on #14913
This can be closed.

[2022-05-18 07:57] #16518 closed

[2022-05-18 07:58] Kiwiakos commented on #16518
Fix implemented

[2022-05-18 08:30] DachuanZhao commented on #15976
I find a keras layer in ```tfra``` repo :  [https://github.com/tensorflow/recommenders-addons/blob/master/docs/api_docs/tfra/dynamic_embedding/keras/layers.md](https://github.com/tensorflow/recommenders-addons/blob/master/docs/api_docs/tfra/dynamic_embedding/keras/layers.md) . So it's possible to use ```tf.keras.layers.StringLookup``` and this layer to make it ?

[2022-05-18 11:44] ZhenShuo2021 opened #16552 "Mix precision leads to nan loss"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 21h2 (19044, 1706)
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): tf2.8
- Python version: 3.9.7
- Bazel version (if compiling from source): unknown
- GPU mod

[2022-05-18 11:47] rubbberrabbit commented on #16515
The complete code and the .h5 model is provided here. The issue happens when the Keras load to model for Mxnet, and in other DL libraries likes the Tensorflow, the model works well, so I don't think the error stating is related with a wrong input type by user.
https://drive.google.com/drive/folders/1minNMHx9h7ptIJ9ra6HVDYgZvSifc0p1?usp=sharing

[2022-05-18 13:02] sushreebarsa commented on #16539
@gowthamkpr I was able to replicate the issue on colab , please find the [gist](https://colab.research.google.com/gist/sushreebarsa/6c6a08b7976d4bcfb87066df846ec392/kerasgist16539.ipynb) here.
Thank you!

[2022-05-18 13:13] sushreebarsa commented on #16542
@gowthamkpr I was able to replicate the issue on colab , please find the [gist](https://colab.research.google.com/gist/sushreebarsa/e107db8fe0dae94fdbf47c4d70de8efe/16542.ipynb#scrollTo=WDdfEVcE89Vl) here.
Thank you!

[2022-05-18 20:43] #14913 closed

[2022-05-18 21:43] LukeWood commented on #16450
Hey there!

Can you work this down to a minimal example showing a case where concatenate breaks gradients?  Concatenate should *not* break gradients; it isn't clear to me that this is exactly what is going on here.

Any chance we can remove some of the other code and get down to a minimal example showing the failure?

[2022-05-18 21:54] #16453 closed

[2022-05-19 00:28] lcslima45 commented on #6444
Can someone help with this question
https://stats.stackexchange.com/questions/575697/how-can-i-get-the-binary-cross-entropy-from-the-cross-entropy-function-for-gans

[2022-05-19 04:10] divyashreepathihalli commented on #16482
@tempdeltavalue, have you tried implementing a custom keras layer using this guide - https://keras.io/guides/making_new_layers_and_models_via_subclassing/ . you can call the model in call(). All the operations in call should be differentiable.

[2022-05-19 05:26] Lokiiiiii commented on #16544
There is currently no way to choose ```samples``` from ```model.fit```.

Also I am interested in the metric without the Progress Bar, since the progress bar is never used in production environments - it adds a lot of junk log lines

[2022-05-19 05:35] divyashreepathihalli commented on #16544
you can choose `samples` in the progbarlogger and  add that callback to your `model.fit`. Is the information provided by  progbarlogger insufficient for your use case?

[2022-05-19 07:42] tilakrayal commented on #16552
@ZhenShuo2021 ,
While trying to execute the mentioned code, I am facing issue to import the required `utils` for the code which are not relatable to tensorflow. Could you provide the required dependencies for the code to be executed.It helps to debug the issue.Thanks!

[2022-05-19 07:59] #16496 closed

[2022-05-19 08:01] tilakrayal commented on #16548
@snowuyl ,
Hello @snowuyl ,
For Apple M1 chip, you can install it through miniforge installers by following the guide [here](https://developer.apple.com/metal/tensorflow-plugin/).
Since, few of the mentioned packages in the above link are community build, could you wait for sometime to get the 2.9 dependencies.

[2022-05-19 10:43] jasonheidermeiers commented on #14188
TensorFlow is a pathetic mess written and maintained by 17 y/o kids whose mouth is still stained with milk and whose graduation license still feats fresh ink

This is why

[2022-05-19 11:09] ManishwarG opened #16558 "TensorFlow core operator ExtractImagePatches , not supported"
**System information**.

TensorFlow version: 2.9
Are you willing to contribute it : Yes

**Describe the feature and the current behavior/state**.

I made a custom  layer which uses ExtractImagePatches TensorFlow operator, but it was not supported by tflite (but listed as supported). I tried to enable the op manually but was unable to find .cc and .h file. It would be great if there is a solution t

[2022-05-19 13:02] pirate-datenscienticfic commented on #13938
Nice explanation

[2022-05-19 14:38] Wehzie opened #16559 "RandomFlip layer doesn't work vertically"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 35, kernel 5.17.5-200.fc35.x86_64
- TensorFlow installed from (source or binary): binary via pip
- TensorFlow version (use command below): v2.9.0-rc2-42-g8a20d54a3c1 2.9.0
- Python version:  3.10.4
- Bazel version

[2022-05-19 15:59] #14066 closed

[2022-05-19 20:15] rchao commented on #16544
Hello @Lokiiiiii, here's how you can see progress by samples:

[code]

To disable the progress bar, please use verbose=0.

Thanks for the question!

[2022-05-19 22:17] andrey-klochkov-liftoff opened #16560 "New experimental optimizers can't be used with mixed precision"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.9.0
- Python version: 3.9.10
- Bazel version (if compiling from source): N/A
- GPU model and memory: N

[2022-05-19 22:40] divyashreepathihalli commented on #16482
@tempdeltavalue I see that you are passing the outputs(kerasTensor) of a model to TimeDistributed layer. you can pass the model to the TimeDistributed layer directly and try it out.

[2022-05-19 22:49] andrey-klochkov-liftoff commented on #16560
A workaround is to monkey-patch the bug like this:

[code]

[2022-05-20 01:36] snowuyl commented on #16548
% pip3 install tensorflow-macos==2.9.0
Successfully installed tensorflow-macos-2.9.0
% python3
Python 3.9.12 (main, May 8 2022, 17:57:49)
[Clang 13.1.6 (clang-1316.0.21.2)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

import tensorflow as tf
print(tf.version)
2.9.0
from tensorflow.keras import layers

[2022-05-20 01:36] #16548 closed

[2022-05-20 05:31] tilakrayal commented on #16559
@Wehzie ,
I was facing different error while trying to execute the given code. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/5bfc624fb0d15991f137dcccfef49b2a/untitled349.ipynb). Also, code shared is having indentation errors, could you share a colab gist with the issue reported or simple stand alone indented code to replicate the issue. Thank you!

[2022-05-20 09:22] SkyisjustTheBeginning commented on #692
I am also getting an error -

`ImportError: cannot import name 'pad_sequences' from 'keras.preprocessing.sequence'`

Versions -

Ubuntu 20.04
Keras - 2.9.0
Tensorflow - 2.9.0

My code so far -

`from keras.utils import to_categorical
from keras.layers import Dense, Dropout, Conv1D, MaxPool1D, GlobalMaxPool1D, Embedding, Activation
from keras.preprocessing.text import Tokenizer
from keras.preproces

[2022-05-20 09:37] BA7LYA opened #16561 "tf.keras.datasets.cifar10(path='cifar-10-python.tar.gz')"
The `tf.keras.datasets.mnist.load_data(path='/user/.keras/datasets/mnist.npz')` works fine, but the `tf.keras.datasets.cifar10.load_data()` have no `path` param, which means everytime everyone runs his/her jupyter scripts that requires cifar10, he/she had to download the datasets from source again, it's really boring and time-consuming :)

[2022-05-20 10:29] sushreebarsa commented on #16558
@ManishwarG  I was able to replicate the issue on colab.Could you please find the [gist ](https://colab.research.google.com/gist/sushreebarsa/9775052c92d4f5b2bb77ce86c2e916d7/16558.ipynb)here and confirm the same.
Thank you!

[2022-05-20 13:23] georgepaw commented on #16497
Any thoughts on the proposed solution?

[2022-05-20 13:53] tempdeltavalue commented on #16482
@divyashreepathihalli Hmmm.. not sure what I'm get you

I'm passing to TD layer
TimeDistributed(sample_encoder)

where is sample_encoder is
tf.keras.Model(inputs=[inputs, padding_mask],
                        outputs=outputs,
                        name=name)

[2022-05-21 06:08] #16498 closed

[2022-05-21 06:49] Andrey-Mel opened #16567 "keras_K_image_format_data"
https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/backend_config.py#L113-L125

[2022-05-21 12:00] blcklptn commented on #14368
## It works fine to me.

[code]

![image](https://user-images.githubusercontent.com/73552143/169650623-e7b32f2f-8794-4ede-b600-ae0550f060fb.png)

[2022-05-22 02:36] gowthamkpr commented on #15911
@magicaltoast As you can see [here](https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/applications/efficientnet.py#L211), `EfficientNet()` is defined as a function in which various parameters are set to constant and in [here](https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/applications/efficientnet.py#L540), `Efficientne

[2022-05-22 02:43] gowthamkpr commented on #16011
@faikozcan This is similar to this [issue](https://discuss.tensorflow.org/t/attributeerror-tensorflow-python-framework-ops-eagertensor-object-has-no-attribute-keras-history/3095). Can you please take a look at the issue. Thanks!

[2022-05-22 03:37] gowthamkpr commented on #16048
@krafczyk This issue has been fixed in tensorflow = 2.8.0 and tf-nightly. Please take a look at the gists here [tf 2.8.0](https://colab.research.google.com/gist/gowthamkpr/5cc2f6413f7cd145c42b3e40314f5e83/untitled354.ipynb) and [tf-nightly](https://colab.research.google.com/gist/gowthamkpr/42af7f7060981d93eca07a4308d525a4/untitled353.ipynb)

[2022-05-22 03:41] gowthamkpr commented on #16087
@KRiedmiller Can you please provide code to reproduce this issue. Thanks!

[2022-05-22 04:09] gowthamkpr commented on #15667
@Gandalf401 In the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/SeparableConv2D), it clearly states that
_Current implementation only supports equal length strides in the row and column dimensions. Specifying any stride value != 1 is incompatible with specifying any dilation_rate value != 1._ describing the `strides` argument. This is expected behavior

[2022-05-22 04:14] gowthamkpr commented on #15714
@kupferb Please go through the solution mentioned [here](https://stackoverflow.com/questions/70111710/tensor-dimension-becomes-none-after-using-gather-or-boolean-mask-in-tensorflow-2) and this should solve your issue.
This is not an error, but rather the difference between `tensor.shape` and` tf.shape`. The latter will give you the dynamic shape of a tensor after an operation like `tf.gather`

[2022-05-22 12:24] krafczyk commented on #16048
@gowthamkpr Okay, I see it's fixed! Can you point me to the commit which fixes this?

[2022-05-22 17:06] ManishwarG commented on #16558
@sushreebarsa Thank you! for the response, I have made few changes in the code with the [link](https://colab.research.google.com/drive/1tpgGGVoGXUTX7U7vik-x9kDSwxIfA2NJ?usp=sharing). Hoping for a response soon.

[2022-05-22 23:08] ManishwarG commented on #16558
This is not the issue I am facing, I have made changes to my code (you can refer that above comment). I have trouble in converting a tf op to tf lite `ExtractImagePatches` . I am unable to do it manually as well.

[2022-05-23 01:04] jamesbraza commented on #13527
Sorry for grave digging this, but can you point to docs in Keras where one can get a progress bar when evaluating the validation dataset?

I see this issue was closed as completed, but it's not clear what about it was completed.

For what it's worth, I am invoking `Model.fit` with `tensorflow==2.4.4`, but do not have a validation progress bar:

[code]

[2022-05-23 07:18] sushreebarsa commented on #16558
@ManishwarG Thank you for the update!
@gowthamkpr Please find the reproducible gist [here](https://colab.research.google.com/gist/sushreebarsa/a204496fa0c8341dc5d377ec456d66a1/custom-_conv_net.ipynb#scrollTo=lgPBWcrFuVxL) for your reference.Thank you!

[2022-05-23 07:30] sushreebarsa commented on #16560
Hi @andrey-klochkov-liftoff I tried to reproduce the provided code on colab using TF v2.9.0 and faced the following error
[code]
Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/fcc3b5ca6412349394dee10964048ae3/16560.ipynb) and confirm the same. Thank you!

[2022-05-23 07:36] sushreebarsa commented on #16567
Hi @Andrey-Mel, In order to expedite the trouble-shooting process, please provide more details and code snippet to reproduce the issue reported here. Thank you!

[2022-05-23 07:57] tilakrayal commented on #16561
Hi @BA7LYA,
`tf.keras.datasets.cifar10.load_data()` doesn't require you to store data locally. It provides a convenient option where you can download as well load the data in your instance on the fly.
Perhaps could you use `tf.keras.utils.get`_file function to load data stored locally.

Also could you take a look at this [link](https://www.tensorflow.org/api_docs/python/tf/keras/utils/get_file) wh

[2022-05-23 09:25] JohnTaylor2000 commented on #16498
Here is an example of an implementation of levenberg-Marquardt algorithm in Keras. Lots of useful applications.

https://github.com/fabiodimarco/tf-levenberg-marquardt

See also results here. Very helpful for PINNs

https://arxiv.org/abs/2205.07430

[2022-05-23 09:27] KRiedmiller commented on #16087
Thank you for looking into this.
If you look at the end of my bug report you find a link to code for testing. With the unfixed `callbacks.py` the tensorboard output does not contain the learning rate, with the 'fixed' `callbacks.py` the provided code produces correct plots of the learning rate.

[2022-05-23 09:36] Fly-Playgroud commented on #16498
@JohnTaylor2000 Thanks for your reply, I just skimmed the article and I think it's really well written and quite helpful.
Only I didn't find the code for this side of the article, it would have been nice to have it.I found this project(https://github.com/fabiodimarco/tf-levenberg-marquardt) a long time ago, I tried to use it and did not feel very comfortable.

[2022-05-23 09:56] HumzaSami00 opened #16569 "How can I Get, Edit and Set Gradient Matrix in Training of Keras Model ?"
**System information**.
TensorFlow version 2.5
---------------------------------
I am creating a sparse neural network as described in the image below. Keras only provides a dense layer and we can't choose how many neurons we want to be connected to the previous layer. For implementing this using Keras, I am trying to implement the following approach:

1- Get the Gradient Matrix of each layer in e

[2022-05-23 11:08] #16514 closed

[2022-05-23 11:55] bhack commented on #16560
@andrey-klochkov-liftoff Can you try with 2.9 and:

`opt = tf.keras.optimizers.Adam()`

[2022-05-23 15:41] lgeiger opened #16570 "Grouped convolutions layers cannot be serialized when using mixed precision"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.0
- Python version: 3.9

**Describe the problem**.

Models that include grouped convolutions throw many warnings a

[2022-05-23 16:08] #16513 closed

[2022-05-23 17:28] reedwm commented on #16570
Thanks for finding and filing this issue! Adding `tf.convert_to_tensor` sounds good to me, and AFAIK it shouldn't has unintended side effects. @mattdangerw do you agree with this?

Eventually I hope the former is supported, but this is surprisingly hard and the latter is a better short-term solution. AutoCastVariable is not treated as a tensor or variable when passed to `tf.function`, but instead

[2022-05-23 18:28] andrey-klochkov-liftoff commented on #16560
@sushreebarsa ,
I executed the Colab notebook you referenced and it reproduced the problem I reported. Did you restart the notebook runtime after installing TF 2.9.0? If not, you were still running with TF 2.8 and you'd get the error like you pasted (`module 'keras.api._v2.keras.optimizers' has no attribute 'experimental'`).

[2022-05-23 18:29] andrey-klochkov-liftoff commented on #16560
@bhack ,
This bug report is specifically about the new experimental optimizers available in 2.9. Yes, the regular optimizers (like `tf.keras.optimizers.Adam`) work fine.

[2022-05-23 20:49] rchao commented on #16503
Hello @ophiry , pickling afaik isn't natively supported in Keras as the pickle module is generally [not secure](https://docs.python.org/3/library/pickle.html). Therefore I don't think this is actionable on Keras side, and overriding methods for `tf.keras.layers.serialize` is necessary. Please reopen is `tf.keras.layers.serialize` is still not working after the methods are provided.

Thanks for the

[2022-05-23 20:49] #16503 closed

[2022-05-24 02:04] sushreebarsa commented on #16560
@andrey-klochkov-liftoff Thank you for the update!
@gowthamkpr I was able to replicate the issue on colab, please find the updated [gist](https://colab.research.google.com/gist/sushreebarsa/fcc3b5ca6412349394dee10964048ae3/16560.ipynb#scrollTo=H2Tx7-3HytnQ) here.
Thank you!

[2022-05-24 02:11] sayakpaul commented on #16551
@LukeWood a gentle ping 👀

[2022-05-24 04:33] kvarekamp opened #16573 "steps_per_execution autotune"
**System information**.
TensorFlow 2.9
Are you willing to contribute it (No)

**Describe the feature and the current behavior/state**.
`steps_per_execution` reduces the number of round trips to the GPU and as such makes it possible to make better use of the GPU without having to resort to larger batch sizes

It would be nice if the number does not need to be specified but can be determined automat

[2022-05-24 05:40] Jen-Bati commented on #7396
from keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
datagen = ImageDataGenerator(shear_range=0.2, zoom_range=0.2)

path=Path("test20170721/train/cats")
print(path)

j = 1

for f in path.glob("*.png"):
    img = load_img(f)
    x = img_to_array(img)
    # Reshape the input image
    x = x.reshape((1, ) + x.shape)
    i = 1

    # generate 5 new augmented i

[2022-05-24 05:59] tilakrayal commented on #16569
Hi @HumzaSami00,
 In order to expedite the trouble-shooting process, could you provide the complete code to reproduce the issue reported here. Thank you!

[2022-05-24 13:50] tilakrayal commented on #16573
Hi @kvarekamp,
Could you elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-05-24 20:55] mattdangerw commented on #16570
`tf.convert_to_tensor` sounds good to me as well!

[2022-05-25 01:10] kvarekamp commented on #16573
`model.compile()` has a `steps_per_execution` param that allows you to send say 10 batches to the GPU at once. Rather than tuning this param manually (increasing it until the GPU starts throwing errors) it would be nice if keras can tune it for you and set it to the max number of batches that your GPU can handle (for example by setting steps_per_execution=AUTO).  The use case would be any model ru

[2022-05-25 03:17] joonjeon commented on #16450
Well @LukeWood, I am not so sure if I could come up with an issue-reproducing minimal example ASAP.

Thus far, I have been attempting reduced variations of the MavNet, eliminating some layers to produce more simple networks. And as a minimal example (which is not necessarily an issue-reproducing example), I have tried the network in which the number of concatenation layers is just 1:
[code]
But st

[2022-05-25 04:50] jamesbraza opened #16577 "Mapping a Dataset squashes class_names from image_dataset_from_directory"
**System information**.

- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur v11.5.1
- TensorFlow installed from (source or binary): binary (`pip`)
- TensorFlow version (use command below):2.4.4
- Python version: 3.8.13
- Bazel version (if compiling from source): n/a
- GPU model an

[2022-05-25 04:53] jamesbraza opened #16578 "Dataset.repeat(0)"
**URL(s) with the issue:**.

https://www.tensorflow.org/api_docs/python/tf/data/Dataset#repeat

**Description of issue (what needs to be changed):**.

I am coming from here: https://github.com/tensorflow/tensorflow/issues/56215.

Here's how to get a dataset (from [Image classification from scratch](https://keras.io/examples/vision/image_classification_from_scratch/)).

[code]

Then run this:

[cod

[2022-05-25 09:48] Wehzie commented on #16559
Sorry for false alarm, it seems like there is no bug here; couldn't reproduce the issue on Colab. I think the issue arises from how images are read on my local machine, not a Keras problem.

Code is properly working, [here](https://gist.github.com/Wehzie/aa7015a074b9704842d5f02b9b9c6b80).

[2022-05-25 09:48] #16559 closed

[2022-05-25 11:57] ptarasiewiczNV opened #16581 "tf.keras.initializers.TruncatedNormal is not available when using tf.keras.models.load_model"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

tensorflow/tensorflow Docker image

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current B

[2022-05-25 12:44] ptarasiewiczNV commented on #16581
[code]
Raises the same error. Without `@tf.keras.utils.register_keras_serializable()` it does not recognize custom model and without `tf.keras.models.load_model("mymodel.sm")` it does not load the model anyway.

[2022-05-25 13:51] #16552 closed

[2022-05-25 14:15] jim-smith opened #16582 "TypeError: ('Keyword argument not understood:', 'inputs') (reopens #13743)"
**System information**.
I encountered this error trying to subclass keras model.
As per the code below have stripped out everything but the call to Model.__init()__ and still experience the error

I have tested this and experience the same error on 2 machines in three different environments:
1. A macbook pro running keras 2.8 installed via miniconda optimised for the AppleM1pro chipset. (tensor fl

[2022-05-25 14:16] bhack commented on #16581
I don't see a subsclassed model there and the initializer is used in a custom layer there. So how do you have derived your "minimal" subclassed  model gist? Also mine is minimal and derived just adapting the example in the official documentation.

[2022-05-25 14:23] ptarasiewiczNV commented on #16581
[This is](https://github.com/NVIDIA/DeepLearningExamples/blob/8c8f7ca4c340fd66efb0d096e893107b538fac3f/TensorFlow2/LanguageModeling/BERT/official/nlp/modeling/networks/bert_span_labeler.py#L28) a subclassed model. From there I have derived this example to reproduce this error. But I am not really sure how relevant this is.
Your code works fine, but it is a different code. Am I misusing TF and Kera

[2022-05-25 14:38] bhack commented on #16581
I suppose this is very similar to your initial post or not:
https://colab.research.google.com/gist/bhack/f15b04a8181774c72254a8f72485fc4f/untitled129.ipynb

[2022-05-25 15:16] ptarasiewiczNV commented on #16581
It is missing the `tf.keras.models.load_model("mymodel.sm")` line which is causing the error,

[2022-05-25 16:00] bhack commented on #16581
Yes it was just to understand your use case, but what I meant why you need to use `super().__init__(inputs=[], outputs=[])`?
As it is seems to me unrelated from the  ISSUE title "tf.keras.initializers.TruncatedNormal is not available ".

See also some model subclassing official examples:
https://www.tensorflow.org/guide/keras/custom_layers_and_models#the_model_class

[2022-05-25 19:23] #16570 closed

[2022-05-25 19:35] gowthamkpr commented on #16515
@rubbberrabbit Can you please use the latest version of keras and just provide a reproducible code with keras (not keras-Mxnet). Thanks!

[2022-05-25 21:40] gowthamkpr commented on #16558
@ManishwarG This is not a keras issue. You should only post keras related issues here.  Can you please post this issue [here](https://github.com/tensorflow/tensorflow/issues/new/choose) as tf-lite issues are tracked in tensorflow repo and close this issue. Thank you!

[2022-05-26 03:39] tilakrayal commented on #16577
@jamesbraza ,
Could you provide the error log you are facing. It helps to debug the issue. Thank you!

[2022-05-26 04:17] jamesbraza commented on #16577
Yeah sure!  If you mean error logs, there's not one, but the assertion is failing because the `class_names` gets clobbered.

[code]

Please let me know if you need more clarity anywhere 👍

[2022-05-26 06:08] #16522 closed

[2022-05-26 08:44] ptarasiewiczNV commented on #16581
As I understand it there are two ways to define a subclassed keras model:

1:
[code]

2:
[code]

Method nr 2 does not raise errors, but method nr 1 does (but only during the loading of a saved model). Is nr 1 a wrong way to define a Keras model? If not then why is the code failing on loading the model?

[2022-05-26 09:27] Matteo-Castrignano opened #16601 "change weights in model saved in format "saved_model""
Hi, i m trying to change the weights type in the yolov5 cnn. The model is in the formtat "saved_model" i load it 2 time, in the first "model" i load the model to retrive the weghts and change its type and these work! But when i pass the new weights to the "model_quant" in the new type also changing the layer type, it does not work

Code:

model = load_model(model_path)
model_quant = load_model(mod

[2022-05-26 10:03] bhack commented on #16581
I think 1 run cause init accept kwargs.

But I don't find a subclassed model definition like your (1) also in tests:

https://github.com/keras-team/keras/blob/master/keras/tests/model_subclassing_test.py

[2022-05-26 10:43] tilakrayal commented on #16577
@gowthamkpr ,
I was able to reproduce the issue in tensorflow v2.8, v2.9 and nightly. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/c237d81017bbf9243917e66e39bf8ad1/16577.ipynb).

[2022-05-26 11:13] ManishwarG commented on #16558
@gowthamkpr
 This is the second time I am being redirected, hope this link is the right place to post. Thank you!

[2022-05-26 11:32] #16558 closed

[2022-05-26 13:03] sushreebarsa commented on #16582
@jim-smith I tried to replicate the issue on colab and didn't face the error reported. Could you please have a look at the [gist ](https://colab.research.google.com/gist/sushreebarsa/80a5ee862edc129a19fc2c1259fa0177/untitled365.ipynb)here and confirm the same?  In case I have missed something to reproduce this issue, please provide the complete code snippet in order to expedite the trouble-shootin

[2022-05-26 13:05] ShadowJonathan opened #16602 "Declare tensorflow in package dependencies"
Because each time i do just `pip install keras`, i get met with `No module named 'tensorflow'`, i'd rather just that keras would declare this in dependencies, and have it auto-pull along everything else.

[2022-05-26 13:12] sushreebarsa commented on #16602
@ShadowJonathan To use Keras, please make sure that you need to have the TensorFlow package installed.
Once TensorFlow is installed, you can import Keras via:
[code]
Please see the details [here](https://keras.io/getting_started/) and let us know if it helps?
Thank you!

[2022-05-26 13:13] ShadowJonathan commented on #16602
I'm already using keras, but then why is keras [published as an independent package on pypi](https://pypi.org/project/keras/)?

[2022-05-26 13:46] sushreebarsa commented on #16578
@jamesbraza Could you please have a look at this [gist](https://colab.research.google.com/gist/sushreebarsa/56cf1e103929b8b348447b3533b0208f/untitled54.ipynb#scrollTo=qywjU2IKazb2) and confirm the issue?
Thank you!

[2022-05-26 14:13] tilakrayal commented on #16581
@gadagashwini ,
I was able to reproduce the issue in tensorflow v2.8, v2.9 and nightly. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/8bf08dcb481c121f028ca01432bbb1ba/16581.ipynb).

[2022-05-26 17:12] jamesbraza commented on #16578
Yeah that's correct, thank you for converting @sushreebarsa 👍

The assertion's failure means we never entered the loop.  I think it'd be useful to document this

[2022-05-26 17:15] qlzh727 commented on #16550
Ack, just as reference, the original paper stated that

"The training was regularised by weight decay (the L2 penalty multiplier set to
5 · 10−4) and dropout regularisation for the first two fully-connected layers (dropout ratio set to 0.5)."

[2022-05-26 17:16] chenmoneygithub commented on #16560
@andrey-klochkov-liftoff  Thanks reporting the issue!

Good catch! We will fix this error and keep you posted. Thanks again!

[2022-05-26 17:16] qlzh727 commented on #16550
Feel free to send any PR if you would like to contribute. Thanks

[2022-05-26 18:03] LukeWood commented on #16551
Hey Sayak!  via an offline chat, we have discussed that this has a performance benefit in terms of FLOPs over convnets.  As such, this is a solid candidate for inclusion.  I will be migrating many kears.applications -> keras_cv.applications and making some breaking API changes in the process.

Let's wait for me to do one application, then we can route a PR for this there.

[2022-05-26 21:40] chenmoneygithub commented on #16517
@x10000year Thanks for reporting the issue!

sorry for the late reply, thinking about this - do we really need to let weight decay follow the learning rate schedule? My thought is when the learning rate is small, the value change to model variables is small as well. Hence even if we keep the same weight decay rate, the weight decay's effect is getting smaller.

Taking Pytorch's doc for reference (

[2022-05-27 02:21] FelixLiman commented on #12960
Hello, I am currently working on SVM as Last Layer of LSTM too, as far as I got, you need to change the Dense on 4 node from Softmax into Tanh or Linear (Mine personally works on Tanh), and it works pretty good.

https://machinelearningmastery.com/how-to-choose-loss-functions-when-training-deep-learning-neural-networks/

[2022-05-27 06:39] tilakrayal commented on #16601
Hi @Matteo-Castrignano,
In order to expedite the trouble-shooting process, could you provide the complete code to reproduce the issue reported here. Thank you!

[2022-05-27 06:46] Matteo-Castrignano commented on #16601
@tilakrayal

import tensorflow as tf
import tensorflow_hub as hub
import numpy as np
from tensorflow.python import keras
from tensorflow.python.keras.models import save_model, load_model
from tensorflow.python.keras.preprocessing.image import img_to_array, load_img

#Define model
model_path = "yolov5s_saved_model"

model = load_model(model_path)
model_quant = load_model(model_path)

for w, layer i

[2022-05-27 10:54] gombru opened #16615 "Dense Layer: Different inference results with different BS"
I've seen that I get different results out of a Dense layer during inference with batched inference vs single inference. As in this simple example:

[code]
[Colab reproducing error](https://colab.research.google.com/drive/12yjxNyiOr-Mmg5Ir69Tt6UvQ3xYWMYSp?usp=sharing).

In some runs the outputs do not match.

- The difference gets substantially amplified when inputs are high precison floats.
- The

[2022-05-27 14:49] jim-smith commented on #16582
@sushreebarsa thanks for your help with this.
- Im not entirely sure about the reasons for the change to putting inputs and outputs as positional arguments and defining an empty call() function,
-  but even with those changes the code supplied does not work if you then try to use those instances.

- When I copied you code I found that  although I can call compile on both objects, and fit() on the

[2022-05-27 15:04] jim-smith commented on #16582
@sushreebarsa
code that uses yours then illustrates the issue in that gist and replicated below

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification

n_classes = 2
X, y = make_classification(n_samples=1000,
n_classes=n_classes,
n_features=300,
n_informative=300,
n_redundant=0,
n_repeated=0,
random_state=15
)
y = np.eye(n_classes)

[2022-05-28 15:07] Mohamed-Aziz-Ben-Nessir commented on #14345
tf.saved_model.load() instead of tf.keras.models.load_model() on Kaggle TPUs did the job for me.

[2022-05-29 04:06] greeshmasmenon commented on #4875
I still get the issue. Is there a solution for this?

[2022-05-29 04:14] JonahYeoh commented on #4875
I got it right with checkpoints, [here](https://www.tensorflow.org/tutorials/keras/save_and_load)

[2022-05-29 04:35] ageron commented on #16248
Hi @mattdangerw ,

I've given this a quick shot, the code examples I proposed above work well, but it might need some more work. Could you please take a look at PR #16619?

Some comments regarding your suggestions:

We may need padding for the `query` and a different padding for the `value` (for cross-attention), so I wasn't sure what to do. Perhaps this can be done in a separate PR, it seems some

[2022-05-30 02:19] tilakrayal commented on #16601
@Matteo-Castrignano,
The given code contains [indentation errors](https://colab.research.google.com/gist/tilakrayal/bafd8e545cd7c721da4385842a076d06/untitled358.ipynb), please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-05-30 08:47] gadagashwini commented on #16581
Hi @ptarasiewiczNV,
Does[ Making new Layers and Models via subclassing](https://www.tensorflow.org/guide/keras/custom_layers_and_models) tutorial helps.Thank you!

[2022-05-30 08:51] ptarasiewiczNV commented on #16581
Hi @gadagashwini , I understand that there are better ways to create models. Just want to make sure that the way keras is used in my example is an incorrect way of using keras and this is not a bug. Can you confirm that?

[2022-05-30 08:53] sidml commented on #12983
It's not clear to me how this was fixed.
If anyone has any suggestions, please let me know.

Following issue seem to be related:
https://github.com/keras-team/keras/issues/9608
https://github.com/keras-team/keras/issues/3638

[2022-05-30 10:52] tilakrayal commented on #16615
@gadagashwini,
I was able to reproduce the issue in tf [v2.8](https://colab.research.google.com/gist/tilakrayal/76f8a4e117415cf762b341f7b8c0b644/2-8-16615.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/dd00057005555a6deec9a6a32374f318/2_9_16615.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/5d1e8c5cd6304a0030eaa212d2328f63/2_10_16615.ipynb). Kindly find th

[2022-05-30 12:21] tempdeltavalue commented on #16482
@divyashreepathihalli soo, any suggestions how to do that ?

[2022-05-30 19:49] #16473 closed

[2022-05-30 20:07] alexandresee opened #16620 "Inconsistent behavior when importing CategoricalAccuracy from tensorflow.keras.metrics and tensorflow.python.keras.metrics"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04.3 LTS (Focal Fossa)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.8.0-rc1-32-g3f878cff5b6 2.8.0
- Python version: 3.8.10
- Bazel version (if compil

[2022-05-30 20:23] alexandresee commented on #16620
I had not found references to `tensorflow.python` being [private](https://stackoverflow.com/a/58279629) before posting this issue. Given this information, I will close the issue. However, I do find this type of inconsistency rather hard to explain. If anyone could provide any information related to why the behavior from both metrics is so different, it would be greatly appreciated.

[2022-05-30 20:23] #16620 closed

[2022-05-31 00:49] #16451 closed

[2022-05-31 07:52] sushreebarsa commented on #16582
@jim-smith I have faced the output as below:
[code]
Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/a92401699867530c48d721ad7dcd1102/16582.ipynb#scrollTo=AKRtkprMEvlv) here and confirm the same.
Could you provide the colab gist or notebook link to reproduce the exact issue reported here. Thank you!

[2022-05-31 09:21] gadagashwini commented on #14126
Hi @AngledLuffa, Could you try the workaround mentioned in the comment and let us know if that solves your problem, Thank you!

[2022-05-31 12:49] #16543 closed

[2022-05-31 15:20] nox4y commented on #411
Are there any updates @@fchollet?

[2022-05-31 15:50] nox4y opened #16622 "Are masking layers in CNN supported?"
Will this code work properly? And by "work," I don't mean if this code will throw an error, because it does not. I've looked everywhere, but I can't find an answer to whether Keras supports masking layers with CNN layers.

inputs2 = Input(shape=(12,17))
mask2 = Masking(mask_value=20.0, input_shape=(4, 21))(inputs2)
conv2 = Conv1D(filters=84, kernel_size=8, activation='gelu')(mask2)
drop2 = Dropout

[2022-06-01 00:35] AngledLuffa commented on #14126
The project I needed it for is basically over anyway, but thank you for the response.  If it starts up again, I will give those workarounds a try.  I do think supporting class weights for this kind of task would be a much cleaner interface than making the user reverse the semantics of sample_weights, though.

[2022-06-01 02:32] gadagashwini commented on #16602
Hi @ShadowJonathan, As you can see [here](https://pypi.org/project/keras/), it says

When Tensorflow is installed,It is easy to use Keras library. Thank you!

[2022-06-01 02:49] #16549 closed

[2022-06-01 05:27] ShadowJonathan commented on #16602
Yes, so can `tensorflow` be added to `keras`'s package dependencies, so it's automatically installed in when I do `pip install keras`?

[2022-06-01 10:31] tilakrayal commented on #16622
@nox4y,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2022-06-01 10:58] sushreebarsa commented on #16582
@jim-smith Thank you for the update!
Could you have a look at this updated [gist](https://colab.research.google.com/gist/sushreebarsa/80a5ee862edc129a19fc2c1259fa0177/untitled365.ipynb#scrollTo=hS25o5bzcY69) and confirm the reported issue?
Thank you!

[2022-06-01 15:10] jim-smith commented on #16582
@sushreebarsa
Yes,
The last cell of that gist seems to illustrate the issue - the second object is not being properly created.

In case it is useful, I've checked:
-  defining the call() method inside the class rather than inside the``` __init__``` function :
     if you do that neither instance will compile
- adding the line super.call() inside the call method I.e.
[code]
and that makes no differ

[2022-06-01 23:44] mattdangerw commented on #16248
Thanks for the PR @ageron! Looks great. I will try to do some wider scale internal testing with it now to see if there's any backwards compatibility issues we missed.

Yeah, that makes sense, and a follow up PR sounds fine to me. But we should probably make sure we know what we want here. Seems like two things we could do (maybe others I am missing)...

1) Offer explicit versions of each of those

[2022-06-02 03:29] Tombery1 commented on #3611
lease,what is the correct implementation of the dice coefficient

[code]
Gives me the following result = 0.85

or

[code]
Gives me the following result : 0.94

[2022-06-02 04:17] rchao commented on #16573
Thanks @kvarekamp for the request! We have a autotuning callback that's currently WIP. We are currently a bit short on resources but this remains a high priority.

[2022-06-02 04:51] andreped opened #16633 "Gradient accumulation support?"
**Describe the feature and the current behavior/state:**

Gradient accumulation is extremely useful when working with large images/volumetric data, using low-end hardware, or training on multiple GPUs. For me, the most important feature is to be able to use larger batch sizes without exhausting memory.

Currently, there does not seem to be a straightforward way to use gradient accumulation in Kera

[2022-06-02 07:23] zaccharieramzi commented on #16550
Closing as per [this](https://github.com/keras-team/keras/pull/16631#issuecomment-1144356554).

[2022-06-02 07:23] #16550 closed

[2022-06-02 08:22] sushreebarsa commented on #16633
@andreped Thank you for reporting this issue!
Could you please specify the use cases for this feature. Thank you!

[2022-06-02 09:30] stefan6419846 opened #16635 "Use logging module instead of print statements"
**System information**.

TensorFlow version (you are using): `tensorflow==2.6.2`, `keras==2.6.0`, but still present in latest *keras* code
Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state**.

The current code employs plain print statements which limit the ways of working with them in a project which incorporates *keras* as a dependency. Using a d

[2022-06-02 11:01] andreped commented on #16633
What do you men by "use cases"? Do you mean scenarios on which having a simple way to perform gradient accumulation, would be beneficial?

Are you familiar with the concept of using gradient accumulation to "artificially" increase batch size while holding memory usage fixed? Essentially splitting a batch into smaller micro-batches, calculating the gradients for each, before averaging across, witho

[2022-06-02 14:44] bhack commented on #16633
/cc @georgepaw if he is interested in the design as Graphcore has an API for this in:
https://github.com/graphcore/tensorflow/blob/r2.5/sdk-release-2.5/tensorflow/python/ipu/optimizers/gradient_accumulation_optimizer.py

[2022-06-02 15:45] m-ahmadi opened #16637 "model.fit(..., verbose=0) still prints stuff"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Build 17763
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.1
- Python version: 3.9
- Bazel version (if compiling from source):
- GPU model and memory:
- Ex

[2022-06-02 17:34] rchao commented on #16577
Triage note: users are recommended to store the `class_name` from `tf.keras.preprocessing.image_dataset_from_directory()` instance in their own variable without relying on the attribute. There's little actionable items for Keras.

[2022-06-02 17:34] rchao commented on #16577
We should append this information to `image_dataset_from_directory()`, though.

[2022-06-02 17:49] johnthagen opened #16639 "DeprecationWarning thrown in utils.image_utils"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes, simple.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.9.0-18-gd8ce9f9c301 2.9.1
- Python version: 3.19.13
- Bazel version (if compiling from source): N/A

[2022-06-02 19:22] JurekAndrzejewski opened #16641 "TypeError: Exception encountered when calling layer "bn0" (type BatchNormalization)."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 Education 10.0.19043 19043pip**
- TensorFlow installed from (source or binary): **pip install tensorflow**
- TensorFlow version (use command below): **v2.9.0-18-gd8ce9f9c301 2.9.1**
- Python version: **3

[2022-06-02 20:07] mattdangerw commented on #16248
Checked in with @fchollet about this. His take was we should do option 1) above, this won't add clutter for the default usage and will follow other layers in terms of masking ux, where an implicit mask can always be given explicitly as well.

Happy to take that on in a follow up PR though, we don't need to add that to this change.

[2022-06-02 22:00] matth79 opened #16642 "Support custom signatures= in tf.keras.callbacks.ModelCheckpoint"
**System information**.

TensorFlow version (you are using): 2.8.0
Are you willing to contribute it (Yes/No) : Maybe. (I would need to keep the fix small and focused and control time spent on process.)

**Describe the feature and the current behavior/state**.

The ModelCheckpoint callback only exports the __call__ function as serving_default. I want to provide an API like in the "Usage" and "Intro

[2022-06-02 23:50] Suzan009 commented on #16229
give up contributing to keras-io.

[2022-06-03 00:15] Suzan009 opened #16644 "custom sparse categorical loss"
I want to write a custom sparse categorical loss function in numpy or pure tensorflow. It should handle integer target labels and logit or probabilities output. To this end, I have the following:

[code]

 I can do (target is one hot)

[code]

But I can not do it (target is an integer, desired).

[code]

How to achieve this, where a loss function takes integer target and is able to compute with lo

[2022-06-03 00:18] chenmoneygithub commented on #16633
@andreped Thanks for reporting the issue!

Currently users would need to write their own custom training loop to handle the gradient accumulation, which is not too hard, so we have not yet made this an API. I would like to understand more here - do you see gradients accumulation widely used? If it's a popular feature, we will design an API for that.

[2022-06-03 01:27] innat commented on #16633
@chenmoneygithub

Agree. It's doable to implement it in a custom training loop. But at the same time, it would be feasible to have an API to do this with the `model. fit`. Implementing a custom loop to have gradient accumulation is cumbersome (IMHO).

Yes, it's widely used when it's required. It's one of the techniques to enable larger batch training with limited computational resources. FYI, it's

[2022-06-03 05:08] gcunhase commented on #15267
Any update on this?

[2022-06-03 05:08] gcunhase commented on #15270
Any update on this?

[2022-06-03 05:14] HeewonChung92 opened #16645 "loss does not decrease in Google Colab and local computer. (TF.Keras 1.13 vs from TF.Keras 1.14 to TF.Keras 2.6)"
<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Source

source

### Tensorflow Version

1.13 vs 2.6

### Custom Code

Yes

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.7.4

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.2.0 / 8.1.0

### GPU model and memor

[2022-06-03 05:15] innat commented on #15270
[This model](https://arxiv.org/abs/1611.05431) was introduced in 2016 and now it's 2022 and still, we don't have it in `keras.application` even though it's cited by 6697.  Same as [its](https://github.com/keras-team/keras/issues/15267) tool.

[2022-06-03 05:26] tilakrayal commented on #16635
Hi @stefan6419846,
Could you share a reproducible code that supports your statement so that the issue can be easily understood? Thank you!

[2022-06-03 05:29] gcunhase commented on #15270
How can that be?

[2022-06-03 05:31] gcunhase commented on #15270
@innat have you tried using ResNext from [here](https://github.com/qubvel/classification_models)? I'm not able to get good accuracies: https://github.com/qubvel/classification_models/issues/73 .

[2022-06-03 05:38] ageron commented on #16248
Sounds good to me. As soon as this PR is merged, I'm happy to help with adding the new arguments.

[2022-06-03 06:42] andreped commented on #16633
Actually, you don't even need to write your own custom training loops anymore in TF2. It is much easier to add support for it by overloading the train_step method. An example of how I did it can be seen here:
https://github.com/andreped/GradientAccumulator/blob/main/GradientAccumulator/GAModelWrapper.py#L14

However, it is definitely a very commonly used method and it will surely be a popular feat

[2022-06-03 07:10] andreped commented on #16633
Also note that if you introduce gradient accumulation naively, like I did above, then some layers will not be directly compatible. You will haven suboptimal behaviour on **BatchNormalization**, for instance, as it will update for every single micro-batch and not when the gradient accumulation is done for a given mini-batch. Has anyone made an attempt to fix BN for this use case? @innat @dathudeptr

[2022-06-03 07:12] stefan6419846 commented on #16635
A specific case might be reproduced using the following snippet, given that the directory contains a valid dataset:

[code]

This will generate the following output (the first two lines from Tensorflow are unrelated in this case):

[code]

As already pointed out, this is the call where I saw this the first time, but doing a quick search indicates that this is not the only location where plain prin

[2022-06-03 08:08] georgepaw commented on #16633
Hey, I just wanted to throw in some personal experience with working on gradient accumulation in TF/Keras at Graphcore for IPUs.

1. Batch Norm - for the MLPerf submission distributed batch norm is used to calculate the statistics over a bigger batch. For example if we have 64 replicas, each running with batch size 128, we could simulate batch size 256 by exchanging stats between each pair of repl

[2022-06-03 09:55] rajivhockey97 commented on #16644
You have given the wrong shape for y_true in the second example. If the shape was (2,3) the loss works fine. Please find the snippet below which shows that the error calculation works for values other than one hot enconding (2) .
![Keras_broadcasting_error](https://user-images.githubusercontent.com/25576606/171832543-a72da615-7643-480b-8c91-16ecba319643.PNG)

[2022-06-03 10:20] JanKaifer commented on #14483
For other googlers:

I used `tf.Variable` initialized in model constructor and incremented in `train_step` with:
[code]

[2022-06-03 10:25] rajivhockey97 commented on #16637
Verbose=0 is not defined in the file training.py . PFA the screenshot of keras/engine/training.py . Verbosity= 0 has to be defined.
![Keras_verbose](https://user-images.githubusercontent.com/25576606/171836841-5185290d-b9e9-4da9-b8dd-e56eaf626b1b.PNG)

[2022-06-03 14:37] innat commented on #15270
I did use SE-ResNeXt most often. It worked well, comparable with DenseNet121.

[2022-06-03 17:23] Suzan009 commented on #16644
@rajivhockey97 no, I think you're missing the point. The `y_true` can't be that format. It should be integer encoding and the output is 3 logits with each integer label. Please see the sparse categorical loss in the official document.

[2022-06-03 20:05] unsignedrant opened #16650 "`Dense(units=1)` output shape is not `(batch_size, 1)` as expected"
Here's a model:

    import random
    import string

    import tensorflow as tf
    from keras import Input, Model
    from keras.layers import Dense, Dropout
    from transformers import DistilBertTokenizer, TFDistilBertModel

    def create_model(input_shape, cache_dir, pretrained_model):
        ids = Input(input_shape, dtype='int32', name='input_ids')
        masks = Input(input_shape, dtype

[2022-06-04 06:05] pranithakondra commented on #8237
File "C:\Users\PRANITHA\AppData\Local\Temp/ipykernel_1156/693975459.py", line 1
    import keras.models import Sequential
                        ^
SyntaxError: invalid syntax

plz fix this

[2022-06-04 10:42] ronjarehm commented on #16066
I had the same issue.

You have to remove the ".python" at the library
    `from tensorflow.python.keras.layers import Dense`

so you have:
    `from tensorflow.keras.layers import Dense`

 Then it works as expected :)

[2022-06-04 15:41] sokrypton commented on #16633
Thanks for tagging me! I'll take a look.
For context: I've implemented a version that works with keras and model.fit() here:
https://github.com/sokrypton/AccAdam_TF2

[2022-06-04 18:27] unsignedrant opened #16653 "Metric showing only using a numpy function"
[distill-bert-uncased.txt
](https://huggingface.co/distilbert-base-uncased/blob/main/vocab.txt)
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Monterey 12.4
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.9

[2022-06-04 23:16] gowthamkpr commented on #14345
@eyalshafran I tried to replicate this issue with transformers 4.11.3 and tensorflow 2.8.2 and running into a different error. Here's the [gist](https://colab.research.google.com/gist/gowthamkpr/88ddf4a8d4af70546e3fc9ed77ba5156/untitled363.ipynb). Also as mentioned [above](https://github.com/keras-team/keras/issues/14345#issuecomment-1140280521) can you please use `tf.saved_model.load()` instead o

[2022-06-05 00:47] gowthamkpr commented on #15669
@dvtran221 This still persists in tf-nightly. Here's the [gist](https://colab.research.google.com/gist/gowthamkpr/7beb3a8b1b97becf1c55ff819b8b7c83/untitled1117.ipynb)

[2022-06-05 01:01] innat opened #16654 "Called a function referencing variables which have been deleted. `layers.RandomCrop` with Subclass API"
**System information**.
- TensorFlow version (use command below): 2.8
- Environments: Colab

## Describe the problem

I've written a model with sub-class API. In the model, I've used augmentation layers, for example, `random_flip`, `random_crop` etc. Now the model is trained without any issue. After finishing the training, I saved the model with `model.save(...)` and it saved without any issue.

N

[2022-06-05 01:25] gowthamkpr commented on #15024
@rrklearn2020 As mentioned [here](https://stackoverflow.com/questions/59933645/tensorflow-2-keras-save-load-model-error-densefeatures-and-distributionlambda/60621157#60621157), For Tensorflow probability models currently only loading weights work. The callback is also only saving weights. Therefore to load the model first define the model architecture and then load weights.

[2022-06-05 02:13] gowthamkpr commented on #15212
@Nafees-060 Please take a look at this [solution](https://stackoverflow.com/questions/53144762/convert-lasagne-to-keras-code-cnn-lstm) to convert CNNLSTM Lasagne to Keras code. Thanks!

[2022-06-05 02:32] innat commented on #16355
@fchollet, a gentle reminder. Any update? I may write a blog about grad-cam modeling with different keras model APIs and this issue needs to be resolved.

[2022-06-05 03:31] gowthamkpr commented on #15273
@hdavis472 please take alook at these explanations [solution1](https://stackoverflow.com/questions/61361866/dense-vs-timedistributeddense) and [solution2](https://stackoverflow.com/questions/52089601/keras-dense-layers-input-is-not-flattened/52092176#52092176) and let me know if it helps you understand timedistributed vs dense layer. Thanks!

[2022-06-05 03:43] #15911 closed

[2022-06-05 03:44] gowthamkpr commented on #15282
@shkarupa-alex There is a PR for this https://github.com/keras-team/keras/pull/15529 which is not yet merged. PTAL. Thanks!

[2022-06-05 04:41] gowthamkpr commented on #15392
@kumariko This has been fixed in the latest version of tensorflow (2.8.2 and 2.10 dev). Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/997316dfbe866f688ef5f765eff2468c/51241.ipynb). Thanks!

[2022-06-05 04:43] #16011 closed

[2022-06-05 04:46] gowthamkpr commented on #15494
@MrinalTyagi This issue is a duplicate of the issue #15269 and there is an active PR for this issue [here](https://github.com/keras-team/keras/pull/16363). Please close the issue as it has already been tracked using #15269. Thanks!

[2022-06-05 04:53] gowthamkpr commented on #15606
@ravinderkhatri Linking this [workaround](https://stackoverflow.com/questions/69882263/tf-keras-callbacks-modelcheckpoint-type-error-unable-to-serialize-1-0000000656) for now. Can you please provide a colab gist for us to look into this issue. Thanks!

[2022-06-05 05:44] #15667 closed

[2022-06-05 05:44] #15714 closed

[2022-06-05 12:27] andreped opened #16656 "TimeDistributed model compatibility"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.10.0a20220604 (nightly)
- Python version: 3.8.10

**Describe the problem**.

Just came across

[2022-06-05 17:08] dovanhuong commented on #5916
Dear expert!
 Thank you for your recommendation, I applied by your instruction and it can through to load_model. Unfortunately, it had an error related to ctc type of tensor as below:

Traceback (most recent call last):
  File "convert_keras_to_onnx.py", line 46, in <module>
    onnx_model = keras2onnx.convert_keras(model, model.name)
  File "/home/ai_dev/anaconda3/envs/korean_ocr/lib/python3.6/si

[2022-06-05 18:22] chenmoneygithub commented on #16633
Thanks all for the great discussion!

@andreped Thanks for raising the BN issue, yes, it's something we should support. Actually I am curious about the performanceloss if we don't handle the accumulation for BN layer - in your experiments, was there a big performance loss caused by the suboptimal treatment to BN?

For how to handle accumulation in distributed training, I believe the current Mirror

[2022-06-05 18:37] andreped commented on #16633
I have not performed a rigorous test to benchmark w/wo BN with GA, but intuition tells us that BN would update too frequently and would introduce noise to training. I have also observed this myself, where the benefit of increased batch size through GA is lost when BN was used to the model. But that is surely task and data dependent.

It has been suggested to change the default momentum hyperparame

[2022-06-06 07:08] jordisoler opened #16657 "Allow ModelCheckpoint callback to save Tensorflow SavedModel"
**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support only helps individuals. GitHub also notifies thousands of people when issues are filed. We want them to see you communicating an interesting problem, rather than being redirected to Stack Overflow.

**System information

[2022-06-06 08:43] #16567 closed

[2022-06-06 09:44] #16561 closed

[2022-06-06 10:18] tilakrayal commented on #16656
@gowthamkpr,
I was able to reproduce the issue in tensorflow [v2.9](https://colab.research.google.com/gist/tilakrayal/82bf3bcaa2870d2a7443db6a3ea965d9/2-9-16656.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/eab573c8c764336bb0941ae4fecd1885/2-10-16656.ipynb).

[2022-06-06 10:29] tilakrayal commented on #16653
@unsignedrant,
Thank you for opening the issue. Looks like this issue is not related to Keras repo. Kindly post the issue in suitable repo for the resolution. Thank you!

[2022-06-06 14:00] Ihebzayen opened #16658 "-"

[2022-06-06 14:47] unsignedrant commented on #16653
what is the suitable repo?

[2022-06-06 14:58] sushreebarsa commented on #16644
@Suzan009
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-06-06 15:06] sushreebarsa commented on #16650
@unsignedrant
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thank you!

[2022-06-06 15:20] unsignedrant commented on #16650
What's missing?

[2022-06-06 16:22] sushreebarsa commented on #16650
@unsignedrant Could you please refer to this [gist](https://colab.research.google.com/gist/sushreebarsa/9dfa12fc6f7e18830add43745329e008/16650.ipynb#scrollTo=zcytXcb2o46x) and confirm the reported issue?
Thank you!

[2022-06-06 18:14] unsignedrant commented on #16650
confirmed

[2022-06-06 18:33] AshwinJay101 commented on #16657
The default file format is the Keras Model.Save API is the Tensorflow format in versions >2.x. HDF5 is the default in versions 1.x

So your model saved will be the TensorFlow Protobuf file in version 2.9.x in the ModelCheckpoint callback

[2022-06-07 06:09] jamesbraza opened #16661 "image_dataset_from_directory: Input 'filename' of 'ReadFile' Op and ValueError: No images found"
**System information**.

- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur, version 11.5.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.4 and 2.9.1
- Python version: 3.8.13
- Bazel version (if compiling from source): n/a
- G

[2022-06-07 06:16] sushreebarsa commented on #16661
@gowthamkpr I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/94a5c9bd034f8f395beec513116efb44/16661.ipynb) for reference. Thank you!

[2022-06-07 06:48] jordisoler commented on #16657
@AshwinJay101  Then I guess what is wrong is the format inference based on the filename as trying to use ModelCheckpoint with `modelname.keras` will try to use HDF5 and crash if there is something like `TextVectorization`. Does that make sense?

[2022-06-07 07:43] #16569 closed

[2022-06-07 09:06] gadagashwini commented on #16637
I could able to reproduce the issue with Tensorflow v 2.9.1 and with tf-nightly-2.10.0.dev20220606 find the gist [here](https://colab.research.google.com/drive/1waKAk39nA95B6x8mt8HDz4NTIq0z3H92?usp=sharing).

[code]
**Output**
[code]
Thank you!

[2022-06-07 09:46] innat commented on #15270
cc @taehoonlee
Mentioning Lee who has once made a PR on ResNeXt HERE, https://github.com/keras-team/keras/pull/11203.

[2022-06-07 10:27] tilakrayal commented on #16658
@Ihebzayen,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using. Thank you!

[2022-06-07 10:45] sushreebarsa commented on #16641
@JurekAndrzejewski I tried to replicate the issue and faced a different error. Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/b9ec402685b4daca620cdb5f30933cf3/16641.ipynb) and let me know if I am missing something to reproduce the issue. Thank you!

[2022-06-07 10:47] sushreebarsa commented on #16654
@innat I tried to replicate the issue and faced a different error. Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/d9651608ea4f1e6433bf9a4d8cfe4db0/16654.ipynb) and let me know if I am missing something to reproduce the issue. Thank you!

[2022-06-07 11:08] innat commented on #16654
@sushreebarsa
Thanks for running the test. You're using `tf 2.9`. I tried to run your gist with GPU, and I got

[code]

Is it safe to test with tf 2.9 on colab?

[2022-06-07 11:09] innat commented on #16654
The error message with CPU mode training,

[code]

is also a possible bug of tf 2.9. Clearly there's a `call` method in the subclass model!

[2022-06-07 11:27] innat opened #16662 "Unimplemented `tf.keras.Model.call()` - even though it's implemented!"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): 2.9
- TensorFlow version (use command below):
- Python version:
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to reproduce:

**Describe th

[2022-06-07 11:28] innat commented on #16654
@sushreebarsa I made another ticket regarding this behavior. Please check https://github.com/keras-team/keras/issues/16662

And please use `tf 2.8` to reproduce the issue.

[2022-06-07 11:41] sushreebarsa commented on #16654
@innat Thank you for the update!
@gowthamkpr I was able to replicate the issue on colab using TF v2.8.0, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/3ae2d647f4fa155d07b695b002b7624b/16654.ipynb#scrollTo=PB-hGUM4ROXt) for reference. Thank you!

[2022-06-07 18:36] JurekAndrzejewski commented on #16641
@sushreebarsa did you download the zip with notebook? It has the files needed to run the notebook, including datasets/train_happy.h5?

[2022-06-07 18:48] jamesbraza commented on #16578
I do see that.  In my opinion I think a slight clarification (e.g. an example) to the docs would be useful.

Current `count` arg description:

Here is what I would like to see:

What do you think?

[2022-06-08 02:10] ghost opened #16663 "No gradients provided for any variable"
<details><summary>Click to expand!</summary>

 <details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

Yes

### OS Platform and Distribution

macOS Monterey 12.4

### Mobile device

_No response_

### Python version

3.10.4

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN versi

[2022-06-08 04:39] gadagashwini commented on #16639
Hi @johnthagen, Could you share the minimal reproducible code snippet to investigate the reported issue. Thank you!

[2022-06-08 05:51] gcunhase commented on #15270
Thank you @innat !

[2022-06-08 06:18] chsigg commented on #16476
The following changes should fix performance of fp16 division:

https://github.com/tensorflow/tensorflow/commit/b621d11a9c3bbfb3339b3792fb2263a3d28930b4
https://reviews.llvm.org/rG400fef081adbafc358858709861cdb14303de0e9
https://github.com/tensorflow/tensorflow/commit/a9e09537e7caf942d8cad6dff3ee9dca52c1d3fb

Kaixi, would you mind confirming? Thanks!

[2022-06-08 06:18] gadagashwini commented on #16602
Hi @ShadowJonathan, Keras is added to Tensorflow package. If you want to use Tensorflow and Keras together. We recommend you to install Tensorflow.
[code]

[2022-06-08 06:55] gadagashwini commented on #16657
Hi @jordisoler, As per the description mentioned [here](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint?version=nightly),
`tf.keras.callbacks.ModelCheckpoint` accepts hdf5 file format.

filepath | string or PathLike, path to save the model file. e.g. filepath = os.path.join(working_dir, 'ckpt', file_name). filepath can contain named formatting options, which will be f

[2022-06-08 06:59] ShadowJonathan commented on #16602
Then why is `keras` published as an independent package to pypi?

[2022-06-08 08:15] jordisoler commented on #16657
Hi @gadagashwini . Yes, the checkpoint is definitely capable of saving the model in HDF5 format, my point is that the message may not be obvious. What happened to me, and could happen to other users is:
1. I used `tf.keras.callbacks.ModelCheckpoint` with a filename `whatever.keras` and worked just fine. Was using HDF5 because of the filename extension but I didn't know/care, really
2. I introduced

[2022-06-08 08:17] sushreebarsa commented on #16641
@JurekAndrzejewski Could you please share the required files to replicate the issue reported here. I am unable to find the datasets/train_happy.h5 file. Thank you!

[2022-06-08 09:09] gadagashwini commented on #16602
Hi @ShadowJonathan, We can use Keras alone without any hurdles. But you can’t use Tensorflow, if you installed `pip install keras` library.

[code]

[2022-06-08 09:11] ShadowJonathan commented on #16602
@gadagashwini that's what this issue is about; as soon as I do that (without manually installing tensorflow) I get the error that a tensorflow package isn't installed.

My question is; shouldn't `tensorflow` be one of the package dependencies on the `keras` package on pypi, so that it is automatically installed when someone does `pip install keras`?

[2022-06-08 09:20] gadagashwini commented on #16602
Hi @ShadowJonathan, Yes `tensorflow` is one of the Dependencies of the `Keras` package.
As soon as w install keras `pip install keras`, it doesn’t install Tensorflow. We need to manually install tensorflow. Thank you!

[2022-06-08 09:29] ShadowJonathan commented on #16602
...thus, it is not a dependency?

I'm talking about pip dependencies, if `tensorflow` is a dependency of the `keras` package, then why is it not declared in any `setup.py` or the likes, so that it is included in the `METADATA` file on pypi?

---

A quick lesson on pypi packages, it includes some files which contain metadata about the package itself, one of them is the file `METADATA`, which contai

[2022-06-08 09:40] rajivhockey97 commented on #16644
@Suzan009 You have to implement reduction over batch size in your custom loss. The shapes would match then and you can use integer encoding for y_true.

[2022-06-08 09:44] tilakrayal commented on #16662
Hi @innat,
Looks like this is a duplicate of issue #16654. Could you close this issue, since it is already being tracked there? Thank you!

[2022-06-08 10:01] gadagashwini commented on #16602
Hi @ShadowJonathan,

`TensorFlow Keras is an implementation of the Keras API that uses TensorFlow as a backend.`. Thank you!

[2022-06-08 10:05] innat commented on #16662
If both issues are the same, they would have produced the same error. But they didn't.

[2022-06-08 10:18] JurekAndrzejewski commented on #16641
@sushreebarsa

[2022-06-08 10:33] BoulmaizMohamed commented on #4875
i think the problem lay in data Transformation
you need to use the same scaler
like in my case i use
sc = StandardScaler()

[2022-06-08 11:56] ShadowJonathan commented on #16602
@gadagashwini then why is `tensorflow` not included as a declared dependency in `pypi`?

[2022-06-08 12:03] MTRNord commented on #16602
I think this whole issue is a misunderstanding.

It is clear that this is building on top of tensorflow.

The issue here is that if someone wants to run

[code]

on a fresh system. No tensorflow installed whatsoever, then keras will fail running.
This is solvable if you make tensorflow is made a _direct_ dependency in the code you publish instead of just adding a note.

As @ShadowJonathan says you

[2022-06-08 12:08] ShadowJonathan commented on #16602
No, that wont help, as that file seems to be just for development resources, there's no `setup.py` where this can easily be inserted, and the build system is totally alien to me.

[2022-06-08 14:07] abheesht17 opened #16665 "Returning a Dictionary From a Metric Class"
In the KerasNLP repository, we are currently working on implementing the ROUGE metric. It inherits from `keras.metrics.Metric`. However, we came across this issue:

[code]

Note that this issue shows up only when we call the object directly, and not when we run it like this:
[code]

This gives rise to a couple of questions.

- Does Keras support dictionary return type for metrics? If not, we can c

[2022-06-08 14:49] BA7LYA commented on #16561
thx

[2022-06-08 19:25] qlzh727 commented on #16656
Triage notes: Probably related to that the keras.applications models do have `compute_output_shape` implemented on the model.

[2022-06-08 19:28] qlzh727 commented on #16637
Triage notes: from API doc, verbose=0 means silence.

https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#fit

[2022-06-08 19:36] qlzh727 commented on #16615
Note that the numerical difference threshold TF/Keras usually use is 1e-6, which is larger than the current difference. The difference is  caused by lower level ops and hardward. You might see bigger difference if you try to run it on GPU.

I am going to close this issue since this is working as intended, and we don't have anything need to address here.

[2022-06-08 19:36] #16615 closed

[2022-06-08 20:23] iyadahmed commented on #10842
I had the same problem, to fix it you just need to wrap your code with `if __name__ == "__main__"`
https://docs.python.org/3/library/multiprocessing.html#multiprocessing-programming:~:text=Safe%20importing%20of%20main%20module
![image](https://user-images.githubusercontent.com/25552173/172709711-53497759-22ec-4f77-ad82-4d3211550436.png)

[2022-06-08 20:39] gowthamkpr commented on #16048
@krafczyk Can you please look into this [commit](https://github.com/keras-team/keras/commit/af70910ffc1d8a3591bfea76728029e100e92a7b) and let me know if thats the commit you are looking for. Thanks!

[2022-06-08 20:42] gowthamkpr commented on #16578
@jamesbraza Thank you for the response.

The above line describes the same in the document. If you really think this is necessary please create a PR. Thanks!

[2022-06-08 21:06] qlzh727 commented on #16495
It seem that the KerasRegressor is deprecated and we are no longer maintaining/bug fixing it. Please forward this issue to https://github.com/adriangb/scikeras.

[2022-06-08 21:06] #16495 closed

[2022-06-08 21:12] mattdangerw commented on #16248
@ageron sounds good! You are welcome to do the follow up as well. Just didn't want to rope you in without checking :)

[2022-06-08 21:15] gowthamkpr commented on #16622
Linking this issue #411  here

[2022-06-08 21:21] qlzh727 commented on #15752
Adding Kathy for this question.

The walkaround I can think of are:

1. Use save_spec/signatures for model.save, so that you force the width/height dimension to be None for the train/eval/predict function. https://www.tensorflow.org/api_docs/python/tf/saved_model/save
2. Save the weights only by model.get_weights() and load the weights back to the model. This will make your loaded model to not hav

[2022-06-08 21:21] #15752 closed

[2022-06-08 21:49] qlzh727 commented on #16622
In short, CNN layers doesn't support masking.

Masking usually expects the inputs to be time sequence, eg, the second dimension of the input is timestep. However, the input to CNN layers are usually [batch, height, width, channel], or [batch, length, channel]. The conv ops couldn't correctly ignore the values in channel/feature, nor could it generate a correct mask for the output (the shape of hei

[2022-06-08 22:00] qlzh727 commented on #16087
The error is caused by using tensorflow.python.keras.callbacks, which is the legacy keras code and about to be deleted. Please use tf.keras.callbacks.TensorBoard instead (not the one under *python*/keras).

[2022-06-08 22:00] #16087 closed

[2022-06-09 07:03] gadagashwini commented on #16602
Hi @ShadowJonathan, Request you to take a look at the Keras release notes [here](https://github.com/keras-team/keras/releases/tag/2.3.0). From `Keras v2.3.0`, most of the Keras features are merged into Tensorflow.

Thank you!

[2022-06-09 07:04] MTRNord commented on #16602
You still dont seem to understand the problem here. This is not solving the issue or even talking about the issue. The issue is about something completely other than what you are replying here.

[2022-06-09 07:08] ShadowJonathan commented on #16602
@gadagashwini please take more than 10 seconds to look at this problem.

I'm asking either;
- if `tensorflow` could be added as a declared dependency to the `keras`, package, so it may be downloaded automatically if people install `keras` stand-alone, that `keras` does not assume people have already installed it.
- or, why `keras` exists as an independent package, and/or if the plan is to eventual

[2022-06-09 07:19] gadagashwini commented on #16639
Hi @johnthagen, I executed `import tensorflow.lite as tflite` on colab I didn’t get any error. Request you to try again. Thank you!

[2022-06-09 09:07] tilakrayal commented on #16665
@abheesht17,
To expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thank you!

[2022-06-09 09:17] abheesht17 commented on #16665
@tilakrayal, here is the notebook where I've reproduced the error: https://colab.research.google.com/drive/1dDYLLgjiSZHEHEzC5t0zHIh0ljfYV9P7?usp=sharing. Thanks!

[2022-06-09 09:37] rajivhockey97 commented on #16637
When using the functional API for model building verbose=0 in the fit method doesn't print any logs.

[2022-06-09 09:40] kevinsuedmersen opened #16668 "Feature Request"
Feature request to add a boolean parameter in `tf.keras.models.model_clone` (https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/models/cloning.py#L380-L449) that will allow us to use the same weights of the to-be-cloned model in the new, cloned model instance.

[2022-06-09 10:20] HiIamMorris commented on #8130
I have 2 inputs and each one have 5 classes, 30 images. And I use this code but only get
[code]
But i think it should be like this.
[code]
How can I resolve this?

[2022-06-09 10:32] johnthagen commented on #16639
@gadagashwini Did you execute the Python script with `-Werror`?

[code]

[2022-06-09 11:22] sushreebarsa commented on #16641
@JurekAndrzejewski Thank you for your response!
I was able to replicate the issue here in this [gist](https://colab.research.google.com/gist/sushreebarsa/cb719ac47d38118d0c7a2d5432592f83/16641.ipynb). Please refer this workaround [gist](https://colab.research.google.com/gist/sushreebarsa/db31a7aab55c1a4eff0ab4e19461bc8e/16641.ipynb) and let us know if it helps?
Thank you!

[2022-06-09 12:18] kargaranamir opened #16669 "Bug: bad marshal data (unknown type code)"
Issue Type
Bug

Tensorflow Version
2.9.1

Python version
3.9

**Current Behaviour?**
I can load my model without any problem in the tf==2.9 and lower and python 3.7, but when I want to load the trained model in the python 3.9 with the same version of tf it gets a `bad marshal data (unknown type code)` error.
The model was trained in a lower version of python.

**Standalone code to reproduce the is

[2022-06-09 14:05] rajivhockey97 commented on #16669
I am not getting the error. tensorflow version = 2.8.2 . python version 3.7.13. PFA the screenshot
![keras](https://user-images.githubusercontent.com/25576606/172866524-206512a7-db68-48b1-8e5e-926e5557216b.JPG)

[2022-06-09 15:17] andreped commented on #16656
I'm quite sure that is the case. I am just wondering why this is a problem at the first place. Might be that Keras introduced dynamic `output_shape` fetching too early, and now there is a lot of stuff being introduced that just breaks in scenarios where they should've worked if the `compute_output_shape` were implemented as they used to be.

I have only seen this with the `TimeDistributed` layer,

[2022-06-09 15:25] qmarcou opened #16671 "Add `epoch_logs` and `training_logs` variables from Model.fit as class attributes"
**System information**.

TensorFlow version (you are using): 2.8.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Use-case: I'm using the keras-tuner library to optimize hyperparameters, but I also want to be able to use Early stopping. In order to get dataset orthogonalization right I'd like to be able to divide my dataset in 4 splits:
-

[2022-06-09 17:09] qlzh727 commented on #16656
Triage notes: Roundrobin to chen.

[2022-06-09 17:19] iamkashish opened #16674 "Unable to use class_weights| Error: 'class_weight' not supported for 3+ dimensional targets"
TensorFlow version : 2.7.0
Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state**.
When we want to work with imbalanced data for multi-class segmentation, we can use class_weight upto 3 classes. But for 3+ classes, currently people work with sample_weight.

**Will this change the current api? How?**
Not at all.

**Who will benefit from this feature?**
The us

[2022-06-09 17:43] #16622 closed

[2022-06-09 17:50] qlzh727 commented on #16602
Note that keras can't declare tensorflow in its dependency. Keras is part of the TF API, and TF uses keras as its dependency package to populate tf.keras API name space. It will be a circular dependency if we add TF to keras's dependency list.

PIP install keras is only expected for local dev use case, where user can install other required dependency via the requirements.txt in the keras repo. For

[2022-06-09 17:50] #16602 closed

[2022-06-09 18:07] qlzh727 commented on #16539
The core issue here is that the model weights are symmetric matrix, esp for dense layer, this means each of the neuron is contributing same weights to the output, and this will cause they get updates at back propagation.

Also you model is ill formatted since it doesn't have any activation in the last dense layer. If you change to have activation='sigmoid' for last dense layer, and inspect the wei

[2022-06-09 18:07] #16539 closed

[2022-06-09 18:11] ShadowJonathan commented on #16602
@qlzh727 thank you for the coherent response.

I'm satisfied with the answer, but i still want to point out that that RFC says "with TensorFlow as a dependency."

And, that none of that is noted in the pypi project readme, or the readme of this repository. Nowhere does it say that the intended usage is for this to be a "local dev usecase", both readmes position it as such that it is "just" a regul

[2022-06-09 18:43] #16515 closed

[2022-06-10 02:32] innat commented on #16662
@tilakrayal
Please check the file again. This issue is produced by tensorflow 2.9. It gives different errors at inference time after reloading the model.

Another issue is that is produced by tensorflow 2.8 and with completely different errors. They are NOT the same. The gist file is NOT the same.

What makes you confuse is the same code structure of both gists which shouldn't be. Please let us kn

[2022-06-10 05:22] gadagashwini commented on #16639
Hi @johnthagen, Could you share the `main.py` file. Thank you

[2022-06-10 06:34] tilakrayal commented on #16669
@kargaranamir,
I was able to load the file on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/2c0e1584aea8179f758d0a20003f7acf/2-8-16669.ipynb) and [v2.9](https://colab.research.google.com/gist/tilakrayal/b3751b878970f382be116aa72e02245c/2-9-16669.ipynb) with python version3.9.1. Kindly find the gist here.

[2022-06-10 07:22] AdityaKane2001 commented on #15985
@fchollet

Could you please take a look at the above API design? If hat's fine I'll start working on the actual implementation.

[2022-06-10 07:43] sushreebarsa commented on #16663
@unsignedrant I tried to replicate the issue and faced a different outcome. Please refer this [gist](https://colab.research.google.com/gist/sushreebarsa/7fdeb0c671502f3a4d7c3198af083c16/16663.ipynb) and let me know if I am missing something to reproduce this issue?
Thank you!

[2022-06-10 07:50] tilakrayal commented on #16653
@unsignedrant,
This issue is more related to `tensorflow-models` and `tensorflow-addons` repo. Could you please try posting the issue in those repo's. Thank you!

[2022-06-10 07:53] unsignedrant commented on #16663
Just add the following on top of the notebook:

    wget -O distilbert-base-uncased.txt https://huggingface.co/distilbert-base-uncased/blob/main/vocab.txt

[2022-06-10 07:54] wellsonah2019 opened #16676 "Model Documentation Inconsistency on Layer Information and Actual Architecture"
**Background**

Documentation entry: https://www.tensorflow.org/api_docs/python/tf/keras/Sequential

As part of my fuzz testing project, I decided to try and mutate existing models' layers to see if there are any unexpected behaviours. Upon doing so, I found that when we try to rewrite the models' layer information (through the Sequential()._self_tracked_trackables attribute), the actual model arc

[2022-06-10 08:21] unsignedrant commented on #16663
Fucking wget is not working so you need to download [vocab.txt](https://huggingface.co/distilbert-base-uncased/blob/main/vocab.txt), upload it to the notebook and rename it `distilbert-base-uncased.txt`

[2022-06-10 08:32] agniszczotka commented on #13782
same issue Tensorflow 2.9.1 , cpu version, mac

[2022-06-10 08:33] unsignedrant commented on #16653
Ok, thanks

[2022-06-10 08:34] #16653 closed

[2022-06-10 09:14] tilakrayal commented on #16665
@gadagashwini,
I was able to reproduce the issue in tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/676b104a9f36b6f7bc261150cf0f1dc6/2-8-keras_metrics_dict_return_bug.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/ee7be053379c5f3267e90a38390480b8/2-9-keras_metrics_dict_return_bug.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.goog

[2022-06-10 09:43] mihailyanchev commented on #16029
I confirm that this is a problem not only when working with notebooks, but with custom model deployments and possibly tensorflow serving.

[2022-06-10 10:12] sushreebarsa commented on #16663
@gadagashwini I was able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/7112292d3688c2b6da93abb28c5d20c2/untitled12.ipynb) here. Thank you!

[2022-06-10 11:34] johnthagen commented on #16639
1. `pip install tensorflow` into a Python virtual environment
2. Create a file named `main.py`
3. Within this file, add the contents:

[code]

4. Execute the script with `-Werror`

[code]

This will show the `DeprecationWarning` noted in the original comment. I also linked to the line of code in this repo where the deprecated usage is in the original comment.

[2022-06-10 15:29] qmarcou commented on #16671
Damn after going through the hassle of doing the required monkey patching to test my modification proposal, I've realized that because of the way the `logs` dict is passed in `CallbackList.on_epoch_end` I could simply update the logs dict by reference and the modification would be propagated to the History callback ...

This piece of code gives the intended result:
[code]
Unless you think there's

[2022-06-10 20:41] diggerk commented on #16526
Here's a colab demoing the problem. It's a modified [mnist tutorial](https://keras.io/examples/vision/mnist_convnet/) that shows that when a callback is used to run model validation more often than once per epoch, training metrics are lost.

https://colab.research.google.com/drive/1-lMkaKlzK5SEba11tJ0eA-LJxFleNFxx

[2022-06-10 20:43] diggerk commented on #16526
The comment from `google-ml-butler` says to reopen the issue if it needs further work, but I don't seem to have permissions to do that. Can somebody with permissions please reopen this?

[2022-06-11 16:08] sushreebarsa commented on #16526
@diggerk Reopening this issue as per the above [comment](https://github.com/keras-team/keras/issues/16526#issuecomment-1152724930).
Thank you!

[2022-06-11 19:11] faysalhossain2007 opened #16678 "Error while training model"
Tensorflow Version
2.6.2

Custom Code
No

OS Platform and Distribution
Linux Ubuntu 18.04

Mobile device
No response

Python version
3.8.11

Bazel version
No response

GCC/Compiler version
No response

CUDA/cuDNN version
No response

GPU model and memory
No response

Current Behaviour?
Sometimes my model works fine it goes up to 10 epochs without any problems. Sometimes it ends up by crashing the

[2022-06-11 21:12] gowthamkpr commented on #15261
@OniReimu As mentioned above by @rhofour please define `from_config` function which will hadle your config explicitly. Please follow this guide [here](https://www.tensorflow.org/guide/keras/custom_layers_and_models). Thanks!

[2022-06-12 00:39] gowthamkpr commented on #16671
@qmarcou The documentation is already present and there are examples which describe this. Since, your issue is solved, can you please close this issue. Thanks!

[2022-06-12 02:19] OniReimu commented on #15261
Thanks mates, will close the issue as it's been resolved by explicitly defining `from_config`.

[2022-06-12 02:19] #15261 closed

[2022-06-12 08:29] ravinderkhatri commented on #15606
@jvishnuvardhan  Thank you for suggesting the workaround. Actually, I have created this SO and using that workaround. Below is the link of the collab notebook if you can to replicate the issue
https://colab.research.google.com/drive/1wQbUFfhtDaB5Xta574UkAXJtthui7Bt9?usp=sharing

[2022-06-12 13:53] kyamagu commented on #16173
Hi, I've just see this issue. According to the thread, should I subclass the callback to implement the batch-wise collection like the following?

[code]

[2022-06-12 22:04] andreped commented on #13118
Just had the same issue using a model with TimeDistributed in TF **2.9**. Still an issue...

Swapping to **model.predict_on_batch()** seems to resolve the issue for me. Rather strange. The memory does not seem to increase per batch, but rather after a while. Seems to double the allocation suddenly.

[2022-06-13 02:57] #16601 closed

[2022-06-13 09:00] tgpsantos commented on #13527
I'm also searching for something like this because validation data can take up a lot of time in large training datasets, and it'd be nice to know its progress.

I believe atm one can circumvent this by removing validation ds from model.fit and either:
- use on_epoch_end callback
- calling model.fit for every epoch with a model.evaluate

[2022-06-13 09:57] qmarcou commented on #16671
I could not find any of the mentioned examples, only examples with a read only usage of the logs, could you please point to them for future reference? I'll close the issue afterwards,
Thanks for your help!
Best regards

[2022-06-13 11:15] Henry-Kweon opened #16679 "ValueError: No model config found in the file at <tensorflow.python.platform.gfile.GFile object at 0x0000027F490B2F10>. issue please help me"
- Code
-from  simple_3d_unet import simple_unet_model

model = simple_unet_model(IMG_HEIGHT=128,
                          IMG_WIDTH=128,
                          IMG_DEPTH=128,
                          IMG_CHANNELS=3,
                          num_classes=4)

model.compile(optimizer = optim, loss=total_loss, metrics=metrics)
print(model.summary())

print(model.input_shape)
print(model.output_sh

[2022-06-13 11:21] tilakrayal commented on #16676
@wellsonah2019,
Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-06-13 11:58] wellsonah2019 commented on #16676
@tilakrayal,
Actually, I am not too sure as to how this could be fixed. I was hoping that perhaps keras developers would look into this as this could introduce a security issue.

[2022-06-13 18:56] qherm commented on #16678
Can you provide an example from the training dataset?
e.g.: `print(list(train_dataset.take(1).as_numpy_iterator()))`

The model's predictions in error (0) and (1) are all showing NaN, which leads me to believe the input/output structure is incorrect for your training data.

Also maybe post predictions from the model before fitting.

[2022-06-14 03:25] kingmacth commented on #15887
Has anyone continued to update this issue? I also encountered this problem.

[2022-06-14 04:54] tilakrayal commented on #16662
@gowthamkpr,
I was able to reproduce the error in tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/d1d5cec27b0c49c18a027f6ab981fcc1/16654.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/2bc9e6a8159fc2c02ed5dc3c0e48f01c/16654.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/5b02c888c2d40008a8040346d9810deb/2_10_16662.ipynb). Kindly find the

[2022-06-14 05:22] tilakrayal commented on #16679
@Henry-Kweon,
Code shared contains the indentation errors. Kindly share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-06-14 12:00] gadagashwini commented on #16650
Hi @unsignedrant, `TFDistilBertModel` has **512** default value for `max_position_embeddings `.
Output of your model prediction is
`(100, 512, 1)`
This is expected output.
100 is batch size, 512 embedding position.

Thank you!

[2022-06-14 13:05] lucasdavid commented on #16517
@x10000year: I apologize if you're already ahead of me on this and I didn't understand what you wrote, but just to make sure we are on the same page: differently than Pytorch's [torch.optim._single_tensor_sgd#L224-L241](https://github.com/pytorch/pytorch/blob/master/torch/optim/sgd.py#L224-L241) and [keras.optimizers.experimental.AdamW#L173](https://github.com/keras-team/keras/blob/v2.9.0/keras/op

[2022-06-14 16:30] unsignedrant commented on #16650
The model is meant to accept text examples and output a rank for each example in the batch. What would be the proper way to do it in this case?

[2022-06-14 16:54] lucasdavid commented on #16517
Oh, I see the implementation has been changed in commit [0a43b88](https://github.com/keras-team/keras/commit/0a43b8818293e4b458a645b86f70129fa12b6062) and no longer multiplies wd by the learning rate. I strongly believe this is a mistake and I hope Keras dev reconsider this.

[2022-06-14 22:57] nithish08 commented on #16304
Hi @tylerjereddy, Are you using the sharded dataset?

[2022-06-14 23:00] tylerjereddy commented on #16304
I think so yeah, and I tried a mixture of automatic and manual sharding options.

In the end, I decided to switch to Horovod to coordinate the workflow over multiple nodes/GPUs, and this seemed to work much more smoothly, fwiw.

[2022-06-14 23:38] nithish08 commented on #16304
Loss and Accuracy will depend on the data and model.
1. Model is replicated across the workers in `MultiWorkerMirroredStrategy` -> model is same for each worker.
2. With the sharded dataset - > data on each worker is different  -> This might explain the difference you observe in Loss and Accuracy.

[2022-06-15 03:36] sushreebarsa commented on #16678
@faysalhossain2007 Could you refer to the [comment](https://github.com/keras-team/keras/issues/16678#issuecomment-1154268392) above and let us know if it helps?
Thank you!

[2022-06-15 05:00] hramadas opened #16682 "Math Bug in tf.keras.regularizers.OrthogonalRegularizer"
The current implementation of `tf.keras.regularizers.OrthogonalRegularizer` penalizes the dot product between rows (or columns) of the input matrix.

Using this as a regularizer would result in the rows (or columns) being antiparallel (dot product = -1) instead of orthogonal (dot product = 0).

This could be fixed either by squaring or taking the absolute value of the dot product.

https://github.

[2022-06-15 06:33] taehoonlee commented on #15270
There are so many different types of deep learning architecture these days, (as I know) so François Chollet wants to add only those with special structural changes among them.

[2022-06-15 06:48] innat commented on #15270
@taehoonlee Is the decision still persist? The `torchvision` provides [these](https://pytorch.org/vision/stable/models.html) models. Models like wide-resnet, shuffle-net, unfortunately are missing as well.

[2022-06-15 08:34] gadagashwini commented on #16650
Hi @unsignedrant, Output of the (embeddings + one for the output of each layer) of shape `(batch_size, sequence_length, hidden_size).` Thank you!

[2022-06-15 09:28] taehoonlee commented on #15270
You can ask the maintainers. Now I am out of the keras team.

[2022-06-15 11:25] sunweilunformatech opened #16684 "ParametricScalar Layer"
It would be nice to add a ParametricScalar layer where learnable scalars are multiplied element-wise with the input similar to the PReLU activation function. Although this layer can be implemented as a custom layer, it is a commonly used module to merge multiple results together with learnable weights. A sample implementation is provided as follows:
[code]

[2022-06-15 11:29] sunweilunformatech opened #16685 "Model Loading Fails"
Model loading fails with custom layer using hdf5_format lib.
It works with keras.models.load_model or with version TF 2.5.x, but starts failing from TF 2.6+. See log for details.

[code]

Example standalone code:
[code]

[2022-06-15 11:55] tilakrayal commented on #16682
@hramadas,
Could you share a reproducible code that supports your statement so that the issue can be easily understood? Thank you!

[2022-06-15 16:50] #16650 closed

[2022-06-15 20:38] hramadas commented on #16682
Consider the vectors `[1, 2]` and `[-1, -2]`. Since these are antiparallel (i.e. point in opposite directions) and not orthogonal,  `OrthogonalRegularizer` should penalize a matrix composed of these vectors. In other words the `__call__` method applied to such a matrix should return a positive scalar.

However, running the code below:
[code]
returns a negative scalar: `<tf.Tensor: shape=(), dtype=

[2022-06-15 22:58] q-ycong-p commented on #7440
Thank you @ahmadmustafaanis. For my case, model was instantiated, trained and saved with Python3.6, and the `.h5` failed to load_model on Python3.8. With ahmadmustafaanis's suggestion, I was able to workaround the this error without re-instantiating the architecture with original codes:

[code]

Based on the insightful discussions above, I'd imagine serialization/deserialization of SavedModel form

[2022-06-16 02:37] mattdangerw commented on #16654
This bug appears to be fixed on 2.9 actually!

You can check that by changing your loading line to
[code]

Hits the error you describe on 2.8, and everything works on 2.9. As for whether you should need to provide a custom object for a subclass model I am not sure (will check with other tomorrow), but let's follow up on the other bug you filed (https://github.com/keras-team/keras/issues/16662) for

[2022-06-16 06:57] fjzhangcr opened #16688 "Assemble two model into one, but encount ValueError: Graph disconnected"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-06-16 07:23] mattdangerw commented on #16668
There is already a pretty simple way to share weights after cloning.

`cloned_model.set_weights(original_model.get_weights())`

Would that work for your use case?

[2022-06-16 07:31] innat commented on #16654
So, the conclusion is, this is a bug for `tf 2.8`.
And it's fixed in `tf 2.9` but at reloading time, we need to use `custom_objects`.  With `tf 2.9` and using `custom_objects`, other issue (https://github.com/keras-team/keras/issues/16662) seems also solved.

Before closing the issue, do you think it's necessary to use custom object here? and Can we make any workaround for `tf 2.8`?

[2022-06-16 08:23] Nafees-060 opened #16690 "tf.keras.layers.Bidirectional: Please initialize `Bidirectional` layer with a `tf.keras.layers.Layer` instance"
Getting some strange error when using **bidirectional LSTM** in `tf.keras`. I have followed documentation of [bidriectional][1], but getting the error.

**Here is the code:**

     rl = Reshape((-1, int(cnn_SE_featureMap.shape[2]) * int(cnn_SE_featureMap.shape[3])))(
            input) ####(type_spec=TensorSpec(shape=(None, 24, 9))
    # lstm_l6 = tf.keras.layers.LSTM(128, activation='tanh', recur

[2022-06-16 09:08] tilakrayal commented on #16685
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9a286e503192e3d9cb1b8194789f4f47/16685.ipynb).

[2022-06-16 11:10] gadagashwini commented on #16639
Hi @johnthagen, You can safely ignore these deprecated warnings.
Suppress these warnings by turning off

[code]
Thank you!

[2022-06-16 11:38] johnthagen commented on #16639
@gadagashwini Yes, we are suppressing them, but since this will eventually cause breakage with a future Pillow release, it seemed like something that should be addressed in `keras`?

[2022-06-16 12:28] kargaranamir commented on #16669
You installed Python 3.9, but you did not use it. Colab still uses Python 3.7.13. Make a script.py and run your code with the Python you installed.

[2022-06-16 14:50] gabrieldemarmiesse opened #16691 "Add types to keras functions/classes/methods"
**System information**.

TensorFlow version (you are using): 2.9.1
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Currently, when using an IDE (e.g. pycharm in my case), there is not types checks/type help when using keras functions, methods and classes instanciation.

**Will this change the current api? How?**
No change in the api and be

[2022-06-16 15:40] kevinsuedmersen commented on #16668
Yes, you are right and we ended up doing what you suggested. I guess I was a little bit confused when I noticed that the trained weights were not copied/cloned. But since this is actually mentioned in the documentation, I think we can close this feature request.

[2022-06-16 15:53] mattdangerw commented on #16676
Thanks for filing!

I don't think this would qualify as a security issue. Almost anything within a layer or model is modifiable, and we can't protect against users deliberately doing something destructive to the model internal state like this. There is a whole host of hidden state on the model that could be modified this way to produce unexpected behavior.

[2022-06-16 15:53] #16676 closed

[2022-06-16 16:34] tilakrayal commented on #16682
@hramadas,
This issue has been resolved in the tf-nightly version. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/efbd438cfeee49b28d4a7a7b3ffef242/16682.ipynb). Thank you!

[2022-06-16 17:04] mattdangerw commented on #16674
Do you have a concrete example showing a workflow? That might help us assess this request better. Thank you!

[2022-06-16 17:07] mattdangerw commented on #16662
This looks like it may be a regression in 2.9. Assigning @k-w-w to take a look!

[2022-06-16 17:25] hramadas commented on #16682
Thank you!

[2022-06-16 20:25] gabrieldemarmiesse commented on #16691
I made a small PR that should serve as exemple.

[2022-06-17 02:33] tilakrayal commented on #16682
@hramadas,
 Glad the issue is resolved for you, please feel free to move this to closed status.

[2022-06-17 02:36] #16682 closed

[2022-06-17 02:37] tilakrayal commented on #16682
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-06-17 06:19] tilakrayal commented on #16690
@Nafees-060,
To expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thank you!

[2022-06-17 07:43] sushreebarsa commented on #16688
@fjzhangcr
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thank you!

[2022-06-17 09:06] mj-mayank opened #16694 "'only supports NHWC tensor format' in Conv3D on M1 Mac"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-06-17 17:06] lucasdavid opened #16696 "Proposal: Schedule learning rate and other parameters based on variable"
**Describe the feature and the current behavior/state**.
The current schedules api has a few drawbacks:
- The `LearningRateSchedule.__call__(step: int)` is invoked at the beginning of `apply_gradients`. Its result is stored in `opt._current_learning_rate: tf.Variable` and shared amongst all variables being optimized;
- Hyper-parameters that should be jointly scheduled with `lr` are not (e.g.: `exp

[2022-06-18 20:53] axel578 commented on #4875
I get the same issue, 5 years later

[2022-06-18 21:22] chenmoneygithub commented on #16560
This should have been fixed in tf-nightly

[2022-06-19 00:44] #14345 closed

[2022-06-19 00:44] #16577 closed

[2022-06-19 02:44] #15024 closed

[2022-06-19 03:44] #15212 closed

[2022-06-19 04:44] #15273 closed

[2022-06-19 05:44] #15494 closed

[2022-06-19 15:40] sushreebarsa commented on #16526
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/1234385d07e794c278ab00600214df09/highres-metrics-with-mnist.ipynb). Thank you!

[2022-06-20 02:22] leonardschneider commented on #16639
This shows up in pytest warnings as well :(

[2022-06-20 05:46] mohantym opened #16699 "TF 2.x Feature: Flops calculation"
If you open a GitHub issue, here is our policy:
It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support o

[2022-06-20 08:24] tilakrayal commented on #16694
@mj-mayank,
I was facing a different error while executing the given code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0487444e50394ee8bdc99436eedc6cee/untitled396.ipynb) and share the complete code and dependencies. Thank you!

[2022-06-20 17:44] #15392 closed

[2022-06-20 17:56] faysalhossain2007 commented on #16678
hi @sushreebarsa thanks for the tagging.
@qherm I provided the vectorization of my raw data to the model. Following is one such example-
[code]

I don't know how to produce post predictions from the model before fitting. Can you tell me how to get that so I can share that also with you.

[2022-06-20 20:56] MatthewWiens101 opened #16700 "get_weights()/set_weights() take too long"
**System information**.
- TensorFlow version: 2.3.0
- CUDA version: 10.1
- GPU compute capability: 5.2

**Describe the problem**.

I am running some code which repeatedly (every training iteration) calls layer.get_weights() and layer.set_weights(). The callback operation containing these calls takes 0.009ms compared to the 0.003ms taken to run the batch and as such more than triples the training t

[2022-06-21 06:36] gabrieldemarmiesse commented on #16691
To be clear, this issue is only about typing the public API, not the whole codebase.

[2022-06-21 07:30] ShahMuhammad786 commented on #7440
Hi everyone, I am loading a pretrained model in my project and I am getting this issue, kindly help.

CODE:
# load the model
FRmodel = load_model('models/facenet_keras.h5', custom_objects={'triplet_loss': triplet_loss})
#FRmodel = load_model('models/facenet_keras.h5', compile=False)
FRmodel.compile(loss=triplet_loss)

ERROR:
ValueError                                Traceback (most recent call las

[2022-06-21 08:24] innat opened #16701 "Add ArcFace loss."
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No) : No (but willing to provide starter if required.)

**Describe the feature and the current behavior/state**.

**ArcFace**, or Additive Angular Margin Loss, is a loss function used mainly in face recognition tasks. It is used to obtain highly discriminative features. This loss function can be

[2022-06-21 08:47] innat opened #16702 "Add Generalized Mean Pooling layer"
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No) : No

**Describe the feature and the current behavior/state**.

Generalized Mean Pooling (GeM) computes the generalized mean of each channel in a tensor.  Formally:

$$ \textbf{e} = \left[\left(\frac{1}{|\Omega|}\sum\_{u\in{\Omega}}x^{p}\_{cu}\right)^{\frac{1}{p}}\right]\_{c=1,\cdots,C} $$

w

[2022-06-21 16:22] Some1and2-XC opened #16703 "missing requirement"
`tensorflow` is missing from the requirements.txt file and isn't install with pip installation

[2022-06-21 22:25] FrameMuse commented on #16690
@Nafees-060 Could give some information about resolving this issue? I'm experiencing this too and I couldn't find any solution so far.

[2022-06-21 23:33] dongmeixu commented on #7362
您好，已收到您的来信，谢谢~~~

[2022-06-21 23:34] KINJALMARU16 commented on #7362
Hi @HGamalElDin  Were you able to resolve the issue?

[2022-06-22 06:23] anshkumar opened #16708 "Efficientnet_v2 features name"
Hi all,
I was going through efficientnet_v2 model available in keras, but I'm unable to identify the features {P3, P4, P5, P6, P7}.  Here, are the model layer names:
[code]
Any help ?

[2022-06-22 07:42] leleogere commented on #12938
Has this been implemented? The issue was closed as completed but I can't find the implementation

[2022-06-22 09:05] tilakrayal commented on #16703
Hi @Some1and2-XC,
Keras can't declare tensorflow in its dependency. Keras is part of the TF API, and TF uses keras as its dependency package to populate tf.keras API name space. It will be a circular dependency if we add TF to keras's dependency list.

Also kindly take a look at this [comment](https://github.com/keras-team/keras/issues/16602#issuecomment-1151425245) from the developer for the simi

[2022-06-22 10:44] #16644 closed

[2022-06-22 10:44] maciej3031 opened #16709 "MobilenetV3 hard_sigmoid could be reimplemented using only keras.layers."
**System information**.

TensorFlow version: 2.9
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Current `hard_sigmoid` implementation: https://github.com/keras-team/keras/blob/dee67880be30eb1a5c2dfc7b4e60b32cd4789fbe/keras/applications/mobilenet_v3.py#L559 directly uses tensorflow `+` and `*` ops. Perhaps it would be better to rewrite it

[2022-06-22 13:06] sushreebarsa commented on #16700
@MatthewWiens101 I tried to replicate this issue on colab, could you please find the [gist](https://colab.research.google.com/gist/sushreebarsa/90d773e0a5a2d4d4e86070094d8182e8/keras-16700.ipynb) here and confirm the same?
Thank you!

[2022-06-22 15:13] federicopisanu commented on #15239
Ok, my merge request has been merged in https://github.com/keras-team/keras/commit/953d13bd1f5f149848daab3b54065b1ddcccd99e so also the second feature request has been fulfilled.
Thanks all!

[2022-06-22 18:24] MatthewWiens101 commented on #16700
@sushreebarsa Sorry, there were some typos in the shared code. I have updated the [gist here](https://colab.research.google.com/gist/MatthewWiens101/409193177856c3bb501ebd8e3f321062/keras-16700.ipynb) and it is running fine in TF v2.8. It is still producing the issue with the warning:
[code]

[2022-06-22 21:44] #16048 closed

[2022-06-22 21:44] #16578 closed

[2022-06-22 21:50] gowthamkpr commented on #15789
@haifeng-jin @dansbecker I have modified the example and save the model weights with best val accuracy instead of retraining it. Please take a look at the [gist](https://colab.research.google.com/gist/gowthamkpr/09c09341aed90dfa4219ecf58d6488ca/keras_tuner.ipynb) and let me know. I can create a PR. Thanks!

[2022-06-22 23:45] DavidWAbrahams commented on #1606
This is what my minimum viable solution looks like in 2022:
`model(input_data, training=True)`

That works with the sequential API at least.

That lets me run a model with dropout multiple times and generate a sort of confidence score:
[code]

[2022-06-22 23:45] chenmoneygithub commented on #16581
@k-w-w Kathy, mind taking a look at this issue? Thanks!

[2022-06-23 03:40] Nafees-060 commented on #16690
@FrameMuse Might be. But now `bl = tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64,dropout=0.5)(rl)` is working for me

[2022-06-23 06:44] W2YN opened #16711 "ValueError: Error when checking input: expected layer_1_input to have shape (128, 128, 1) but got array with shape (128, 128, 3)"
**System information**.
tensorflow==1.15.2
keras==2.2.4
python version 36.6

**Describe the feature and the current behavior/state**.
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py", line 2878, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-2-780af7dd57ca>", line 1, in

[2022-06-23 08:22] tilakrayal commented on #16709
@maciej3031,
Can you please share a reproducible code that supports your statement so that the issue can be easily understood?  Thank you!

[2022-06-23 09:37] maciej3031 commented on #16709
When you want to rebuild any layer from the model from scratch i.e. the 4-th layer wich is `keras.layers.core.tf_op_layer.TFOpLambda` then you could want to do this like this:
[code]
However, you cannot do this wit `keras.layers.core.tf_op_layer.TFOpLambda` and you'll get an error.
If you i.e. replace:
[code]
with
[code]
Then it will replace `+` and `*` with `Rescaling` layer and above rebuilding

[2022-06-23 12:08] BenoitLeguay commented on #16173
Hello everyone,
I also ran into the problem described above (`update_freq='batch'` in TensorBoard callback not taken into account). Thanks to  @kyamagu solution I was able to solve this issue (Is it going on a release at some point ?)

However, as mentioned by @jonycgn:

The cumulative aspect of `Metrics` is not really well-suited to plot scalar values. First, because of what @jonycgn explained (_

[2022-06-23 12:44] #16641 closed

[2022-06-23 17:45] chenmoneygithub commented on #16699
There seems to be a new API [tf.profiler.experimental.Profile](https://www.tensorflow.org/api_docs/python/tf/profiler/experimental/Profile), would this work for you?

[2022-06-23 17:51] chenmoneygithub commented on #16696
@lucasdavid Thanks for reporting this issue!

There are two parts in this issue:
1. A `Schedule` class that can work for our different layers. We think this is important, and will make some design for it.
2. Per variable learning rate. My main question for this is it widely used? or in what situations do we use it? Thanks!

[2022-06-23 18:38] sunweilunformatech commented on #16684
Thanks for considering it. Yeah, it works for me as long as the other issue on loading keras models with custom layers bug will be fixed in the next release which I reported here: [](https://github.com/keras-team/keras/issues/16685). But it is blocking me from upgrading me TF version (which is also fine for now, but I couldn't use any new features in TF2.6+) as some trained models with this layer

[2022-06-24 02:04] sebagr commented on #12511
Sorry to come back to this, but I see this issue was closed without a milestone. Is this fixed? If so, in which version? Thanks.

[2022-06-24 02:07] gadagashwini commented on #16678
Hi @faysalhossain2007, Can you try the workaround mentioned on similar thread [here](https://github.com/tensorflow/tensorflow/issues/35100#issuecomment-671504721). Thank you!

[2022-06-24 02:29] gadagashwini commented on #16708
Hi @anshkumar,

[code]

**Output**
[code]

[2022-06-24 05:21] tilakrayal commented on #16711
@W2YN,
We see that you are using tf version 1.15, 1.x is not actively supported, please update to 2.x and let us know if you are facing the same issue. Thank you!

[2022-06-24 05:29] anshkumar commented on #16708
@gadagashwini I want the name of tensors which represents features P3, P4,P5 etc. Like in Resnet50 they are `['conv3_block4_out', 'conv4_block6_out', 'conv5_block3_out']`.

[2022-06-24 06:05] W2YN commented on #16711
@tilakrayal Thank you. I'll try again update to 2.x

[2022-06-24 08:03] gadagashwini commented on #16669
Hi @kargaranamir, Can you try the workaround mentioned on similar [thread](https://github.com/keras-team/keras/issues/7440#issuecomment-956558388). Thank you!

[2022-06-24 10:55] sushreebarsa commented on #16700
@MatthewWiens101 Could you have look at this [gist](https://colab.research.google.com/gist/sushreebarsa/cba04967e31f6723226dae8648a5cab2/16700.ipynb) and let us know if it is the current behaviour ?
Thank you!

[2022-06-24 13:04] lucasdavid commented on #16696
There are two parts, but I think they are strongly coupled. Maybe my examples weren't very good, so just to make sure we are on the same page: Is it your understanding that the `Schedule` should work for different hyperparameters (not only for different layers), including other parameters inside the `Optimizer` (e.g. momentum, weight decay)? I'm not proposing different learning rates for different

[2022-06-24 13:12] yellowdolphin opened #16713 "BatchNormalization with virtual_batch_size breaks load_model()"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux (colab)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf 2.4.1, 2.8.2, nightly
- Python version:
- Bazel version (if compiling from source):
- GPU model and memory:

[2022-06-24 13:33] darinkist commented on #16143
Facing same issue - It has sth to do with the
keras.metrics.AUC() function because when I only use the tf.keras.metrics.BinaryAccuracy(name='accuracy') it runs fine

[2022-06-24 16:58] MatthewWiens101 commented on #16700
@sushreebarsa Yes the behavior seen in that gist matches the issue I have reported.

[2022-06-24 18:06] haifeng-jin commented on #15789
I mean adding a few lines to the tutorial to explain why you may prefer to retrain the model should be good enough. Some users would search with fewer numbers of epochs just to get some quick results.

[2022-06-24 18:32] fchollet commented on #15985
Hey @AdityaKane2001,

A bunch of updates happened since February.

- We released the `split_dataset` utility: https://www.tensorflow.org/api_docs/python/tf/keras/utils/split_dataset -- it does something similar to sklearn's train_test_split
- We added arguments to our dataset creation utilities to make it possible to return both the training and validation datasets at the same time (`subset="both"

[2022-06-24 18:34] AdityaKane2001 commented on #15985
@fchollet

Yes I saw those later. I'm glad that they are now a part of Keras! They were much needed utilities.

[2022-06-24 20:47] jerodway opened #16715 "Add kernel_size output to plot_model"
**System information**.

TensorFlow version 2.9.1:
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Add an argument to plot_model that allows kernel_size to be displayed on the model plot.  Right now there doesn't seem to be a way to have this information displayed.

**Will this change the current api? How?**
I don't think so

**Who will be

[2022-06-25 01:22] haifeng-jin commented on #15789
Use https://github.com/keras-team/keras-tuner/issues/687 to track. So closing this one.

[2022-06-25 01:22] #15789 closed

[2022-06-25 05:18] br3xk commented on #4068
@wgmao May I know what changes you make to this  referred link (https://github.com/LantaoYu/SeqGAN/blob/e2b52fb6309851b14765290e8a972ccac09f1bec/target_lstm.py) to use the output of prior step as the input of the next step? I am new in coding and LSTM stuffs. It would be great help if you mention it specifically. Kindly help me.

[2022-06-25 09:17] tilakrayal commented on #16715
@jerodway,
The pr has been assigned for reviewing and once it is merged this issue will move to closed status. Thank you!

[2022-06-25 20:03] Suzan009 commented on #16644
@sushreebarsa I already did. Please see the first post and please reopen the issue. Or I have to create a new one.

@rajivhockey97 can you elaborate and show some code please?

[2022-06-26 10:06] ronigober opened #16717 "No validation exists for special characters in name in InputLayer"
Hi,
When I set a name with special characters for InputLayer as for example  - > Input(shape=self.input_shape, name="hey:)") - it works fine, but when I set it in other layers then input layer I get the validation error:
ValueError: 'hey:)/' is not a valid root scope name. A root scope name has to match the following pattern: ^[A-Za-z0-9.][A-Za-z0-9_.\\/>-]*$

I think you need to add the validatio

[2022-06-26 16:10] Nadeem123456789 commented on #12426
@M1thun how did you solve the issue ? can you please help as i am facing the same issue

[2022-06-27 05:53] sushreebarsa commented on #16717
@ronigober
In order to expedite the trouble-shooting process, please provide mode details and  a code snippet to reproduce the issue reported here. Thanks!

[2022-06-27 06:57] sushreebarsa commented on #16713
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/c62641d5dc98073ab58aeecaf15e0d75/virtual_batch_size_issue.ipynb#scrollTo=MVCA4r0tSOXB). Thank you!

[2022-06-27 08:20] JingangQu opened #16718 "Is there something wrong in OrthogonalRegularizer?"
https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/regularizers.py#L371

Maybe the right way is to sum up the absolute value of `product_no_diagonal`, as follows:
         return self.factor * 0.5 * tf.reduce_sum(tf.abs(product_no_diagonal)) / num_pairs

[2022-06-27 09:13] #16658 closed

[2022-06-27 13:37] pstjohn opened #16719 "Indexing a ragged tensor over a non-ragged index fails in tf.keras.Model"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google colab, mac
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf 2.9.1, nightly
- Python version: 3.7
- Exact command to reproduce:

[code]

**Describe the problem**.

[2022-06-27 14:57] kmcmearty commented on #15163
Is there any update on this issue?

[2022-06-27 15:12] chaudharyachint08 opened #16720 "Monte-Carlo Dropout not working on M1 (without seed)"
**System information**
- Apple M1 chipset running "macOS Monterey 12.4"
- Tensorflow installed from binary (version 2.9.1)
- TensorFlow version (use command below): 2.9.1
- Python version: 3.9.13
- GPU model and memory: Apple M1 and metal GPU
- Miniconda as package manager as described in
https://developer.apple.com/metal/tensorflow-plugin/
Below are the exact installation commands
<pre>
conda ins

[2022-06-27 16:21] zahraatalal commented on #16228
i tried to write a vgg16 encoder-decoder  and use cat and dog to train model but the error occur and i can not fix it please help me
def vgg16_encoder_decoder(input_size = (64,64,3)):
    #################################
    # Encoder
    #################################
    inputs = Input(input_size, name = 'input')

    conv1_be = Conv2D(64, (3, 3), activation = 'relu', padding = 'same', name

[2022-06-27 20:17] ricardoprins commented on #16394
Is this closed as per #16398?

[2022-06-28 03:14] haifeng-jin commented on #16637
Thanks everyone for the issue.
This is an expected behavior.
The progressbar is printed by the `model.predict()`.
The verbosity of `model.fit()` and `model.predict()` are controlled separately by their own `verbose` argument.
You may need `model.predict(..., verbose=0)`.

To disable the progress bar, you can do the following.
[code]

[2022-06-28 03:14] #16637 closed

[2022-06-28 05:14] tilakrayal commented on #16718
@JingangQu,
To expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thank you!

[2022-06-28 06:13] #16679 closed

[2022-06-28 10:14] tilakrayal commented on #16720
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/61b5b718e9e07f032bbc509d8bc865c9/16720.ipynb).

[2022-06-28 13:06] Rishit-dagli opened #16727 "Incorrectly rendered tables"
**Describe the problem**.

The API docs for multiple pages in `keras.applications` are not rendered properly, see the tables on:

- https://www.tensorflow.org/api_docs/python/tf/keras/applications/nasnet
- https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet_v2
- https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet

**[Contributing](https://github.com/ke

[2022-06-29 04:51] tilakrayal commented on #16718
@JingangQu,
This issue has been resolved in the tf-nightly version. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/efbd438cfeee49b28d4a7a7b3ffef242/16682.ipynb). Thank you!

[2022-06-29 05:52] JingangQu commented on #16718
Ok, thanks for your reply!

[2022-06-29 05:52] #16718 closed

[2022-06-29 07:52] mohantym commented on #16699
Hi @chenmoneygithub !
It would be great if you also share an implementation of the above for calculation of flops.
Thank you!

[2022-06-29 15:02] navodikamadushan commented on #10329
same issue for me

[2022-06-29 15:02] navodikamadushan commented on #10329
I faced the same issue

[2022-06-29 17:30] mj-mayank commented on #16694
@tilakrayal Please add below set of code also after import commands

'##Generator function for input data without augmentation.

x = 30 # No. of frames images
y = 120 # Width of the image
z = 120 # height

def generator(source_path, folder_list, batch_size):
    img_idx = [x for x in range(0,x)] #create a list of image numbers you want to use for a particular video
    while True:
        t = np.r

[2022-06-29 18:48] fchollet commented on #16702
This sounds reasonable and the citation count is sufficient to consider inclusion. `GeMPooling*D` seems like a better name.

Can you mention some architectures that use this pooling operation?

Why not?

[2022-06-29 19:23] innat commented on #16702
The suggested layer name is reasonable to choose. But I'm wondering won't it be confusing with other similar type of `*_pooling` layer name to the end-user?

Why not?

No mentionable reason. I will send PR asap.

[2022-06-29 19:32] ManuelPopp opened #16734 "WARNING:tensorflow:Can save best model only with val_loss available, skipping."
**System information**.
Windows 8.1.
Python version: 3.9.5 (tags/v3.9.5:0a7dcbd, May  3 2021, 17:27:52) [MSC v.1928 64 bit (AMD64)]
Tensorflow version: 2.9.1
as well as
Linux 4.18.0-305.40.2.el8_4.x86_64.
Python version: 3.8.6 (default, Jan 22 2021, 11:41:28)
[GCC 8.4.1 20200928 (Red Hat 8.4.1-1)]
Tensorflow version: 2.8.0

**Describe the problem**.
I get the error message in any case where I pass