[2022-06-29 20:29] fchollet commented on #16701
What are some NLP use cases? It seems like it might be a good fit for KerasCV specifically.

[2022-06-29 20:31] #16684 closed

[2022-06-29 21:25] innat commented on #16701
Sorry I miswrote, it should be only CV task.
Could you please move this issue to KerasCV?

[2022-06-30 00:02] ashutosh1919 opened #16735 "Class-Balanced Loss based on Effectivene number of examples"
Currently, Keras has Focal loss which can be one of the options to handle the class imbalance issues. But I myself have faced problems in the case of some datasets like RecSys. IMO, Keras should have Class-balanced loss ([paper](https://arxiv.org/pdf/1901.05555.pdf))

I am interested in working on this issue. If you think we should add this, then please assign the issue to me and I can raise PR.

[2022-06-30 08:07] sushreebarsa commented on #16734
@ManuelPopp Thank you for the update!
Could you please confirm if this issue is resolved for you?
Thank you!

[2022-06-30 09:59] Xinshuai-Lyu opened #16737 "Different result of cross entropy loss between result from model as function and using predict function"
**Describe the problem**.

Describe the problem clearly here. Be sure to convey here why it's a bug in Keras or why the requested feature is needed.

    Firstly, you get a prediction using model as a function, call this predition A; and then you use predict function of the model and get the same seemingly same prediction, call it B.

    If you use CategoricalCrossentropy to calculate loss based

[2022-06-30 10:10] Suzan009 opened #16738 "custom sparse categorical loss"
I want to write a custom sparse categorical loss function in numpy or pure tensorflow. It should handle integer target labels and logit or probabilities output. To this end, I have the following:

[code]

 I can do (target is one hot)

[code]

But I can not do it (target is an integer, desired).

[code]

How to achieve this, where a loss function takes integer target and is able to compute with lo

[2022-06-30 10:11] Suzan009 commented on #16644
As now response from assignees, reposting https://github.com/keras-team/keras/issues/16738

[2022-06-30 10:15] sushreebarsa commented on #16644
@Suzan009 Sorry for the late response!
We will track the new issue.
Thank you!

[2022-06-30 16:48] fchollet commented on #16713
As you can see in the API docs, virtual batch normalization is not *intended* to be supported. The argument is not documented, and was remove about one year ago. https://keras.io/api/layers/normalization_layers/batch_normalization/

The argument is accepted only for backwards compatibility reasons. I recommend that you do not rely on it. Because it is no longer supported, we won't focus on fixing

[2022-06-30 17:19] chenmoneygithub commented on #16699
@mohantym Hi! I will need to follow up the specific team to find more details. To make clear, are you looking for how to calculate flops using `[tf.profiler.experimental.Profile](https://www.tensorflow.org/api_docs/python/tf/profiler/experimental/Profile),`, or the specific code in `tf.profiler.experimental.Profile` doing flops computation?

[2022-06-30 17:27] 5hv5hvnk opened #16740 "Can't we use cloudpickle to save graph networks here?"
https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/saving/save.py#L140

[2022-06-30 19:06] innat commented on #15308
Closing this, it's been addressed. Thanks.

[2022-06-30 19:06] #15308 closed

[2022-06-30 20:08] CJSeqtek commented on #14296
I get the similar error, any update on this?

[2022-06-30 20:42] ManuelPopp commented on #16734
Yes, setting save_freq = "epoch" solved the issue.

[2022-06-30 20:42] #16734 closed

[2022-07-01 06:13] tilakrayal commented on #16737
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/32ec62a6f1a747cf85fe2effa895b513/56555.ipynb).

[2022-07-01 08:13] #16688 closed

[2022-07-01 10:08] shkarupa-alex commented on #15708
Got same issue when implementing word2vec model. Dataset size changes from epoch to epoch due to:
- randomness in skipgram/cbow context size
- randomness in downsampling with threshold

Single estimation number of batches takes around 4 hours (very large dataset).
And this size can changes with +- 20% from epoch to epoch.

So setting steps_per_epoch is not a good option.
It would be great if keras

[2022-07-01 11:15] tilakrayal commented on #16740
@5hv5hvnk,
To expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thank you!

[2022-07-01 18:47] varungupta31 commented on #16066
I'm using `TF 2.9.0`. For me, the problem seemed to be caused by eager execution being on by default in TF>2.
I resolved it using,

[code]
at the head of the file.

Hope it helps!

[2022-07-01 19:47] lucasdavid commented on #16696
Ok, great. Let me know if you are interested in the `variable` parameter in `LearningRateSchedule#__call__` as well. I believe this adds value by easing the replication of PyTorch's models, but if you decide it's out of the scope of this repo, I'll close the issue.

[2022-07-03 10:32] AdityaKane2001 opened #16745 "Identity layer in Keras?"
@fchollet @qlzh727

I was trying to resolve [#425 of keras-cv](https://github.com/keras-team/keras-cv/issues/425) by simply adding a single Identity layer in the `layers` list in case it was empty or None.

However, there is no Identity layer in Keras and thus I had to do it using the Lambda layer. Thus, I thought it would be good to have an Identity layer in Keras as there is one in torch ([nn.Id

[2022-07-03 18:43] Suzan009 commented on #16738
can you elaborate with full working code? what is p and y in your above code?

[2022-07-03 23:42] allansdefreitas opened #16748 "How to put my object detection dataset in this specific COCO annotation format?"
Hello,

I'm running this Keras implementation of [retinanet](https://github.com/keras-team/keras-io/blob/master/examples/vision/retinanet.py) and it works perfectly on COCO dataset obtained from tfds.load().

I noticed that the downloaded TFrecords (from tfds.load() ) contain COCO annotations in a different way from traditional COCO annotations and that is the cause of all problems.

The COCO anno

[2022-07-04 00:11] asukakenji opened #16749 "[Bug Report] ResNetRS101.__doc__ is missing"
`ResNetRS101.__doc__` is missing, as seen from the code below:
https://github.com/keras-team/keras/blob/7dd01b12c275d8f5f9c1f82014deb302ed14560c/keras/applications/resnet_rs.py#L979-L984

When getting help on `ResNetRS50` in an interactive Python session using the following code:
[code]

The result is:
[code]

However, when the same is applied to `ResNetRS101`, the result is:
[code]

[2022-07-04 04:50] 7NoteDancing opened #16752 "Can't pickle optimizer"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 11
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.9.1
- Python version: 3.7
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to r

[2022-07-04 09:19] HeewonChung92 commented on #16645
@gowthamkpr Hello. How are you? Is there any problem with my code?

[2022-07-04 11:39] tilakrayal commented on #16694
@mj-mayank,
Code shared is full of indentation errors, please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-07-04 12:29] acfrock opened #16754 "Grappler Errors with ConvLSTM2D"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution**: Windows 11 Build 22000
-   **TensorFlow installed from**: pip package
-   **TensorFlow version**: v2.9.0-18-gd8ce9f9c301 2.9.1
-   **Python version**: Python 3.10.4
-   **CUDA/cuDNN version**: CUDA 11.7.0-1
-   **GPU model and

[2022-07-04 14:19] tilakrayal commented on #16748
@allansdefreitas,
To expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here or the error log. It helps to debug the issue. Thank you!

[2022-07-04 14:33] tilakrayal commented on #16752
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d3aa53a8eb0d27983f8767dad7052f52/16752.ipynb).

[2022-07-04 20:53] bonysureliya opened #16756 "Create a Code_Of_Conduct File"
The task here is to crate a file of CodeOFConduct

[2022-07-05 01:53] kty9912 commented on #7403
Everyone who came here because of this problem!
Your problem is probably a code ordering problem in sequence.reshape(). I solved this problem by switching sequence.reshape() and sequence.shape(). I want you to look at the code again. Good luck!

[2022-07-05 08:46] tilakrayal commented on #16756
@bonysureliya,
Respective PR was closed. Could you please take a look at this [comment](https://github.com/keras-team/keras/pull/16757#issuecomment-1174427642) from the developer. Thank you!

[2022-07-05 12:04] rajivhockey97 commented on #16752
https://github.com/NREL/phygnn/issues/16
It is mentioned in the last comment that the optimizers can't be pickled and we have two other functions

[2022-07-06 02:06] gadagashwini commented on #16738
Hi @Suzan009,
You can add extra dimension to your y_true value.

[code]

**Output**
`array([19.16512122,  9.65662747])`

[2022-07-06 05:01] gadagashwini commented on #16752
Hi @7NoteDancing, You can First, save the optimizer weights: `np.save(path, optimizer.get_weights())`.
Take a look at workaround mentioned on similar thread [here](https://stackoverflow.com/a/63089235/14290244). Thank you!

[2022-07-06 08:57] enaskopelja opened #16759 "Model fails to save after build"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Linux Arch 5.18.9`
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `2.9`
- Python version: `3.9`
- Bazel version (if compiling from source): /
- GPU model and memory:  N/

[2022-07-06 09:50] 7NoteDancing commented on #16752
I want to save optimizer function.

[2022-07-06 09:55] sushreebarsa commented on #16754
@acfrock I tried to run the example script for replicating the issue and didn’t face the error reported. Could you find the gist [here](https://colab.research.google.com/gist/sushreebarsa/917d8ee540e79e34a57e091360bd45a3/conv_lstm.ipynb#scrollTo=N4p596xMrKhY) and let me know if I am missing something to reproduce the issue?
Thank you!

[2022-07-06 14:29] shanggao11 commented on #13118
I tried lots of methods online, they did not work, but I finally solve this problem by using tensorflow 1.13 rather than 2.x , old version did help.

[2022-07-06 14:32] shanggao11 commented on #5337
I tried lots of methods online, they did not work, but I finally solve this problem by using tensorflow 1.13 rather than 2.x , old version did help.

[2022-07-06 15:02] andreped commented on #13118
Did you try to use predict_on_batch() instead? I would not use TF 1.13 in 2022.

[2022-07-06 16:00] shanggao11 commented on #13118
I tried that, it became even slower

[2022-07-06 16:29] qlzh727 commented on #16745
Usually single op layer can use Lambda layer or will be auto wrapped by a TFOpLayer in functional model.

Layer usually should contain a block of predefined logic and I don't think we want to add any layer that only contains single op.

[2022-07-06 16:32] urosjarc commented on #16202
Fix this error message to something more logical. Asap

[2022-07-06 17:36] acfrock commented on #16754
The error message comes from the CPP logger, so by default it doesn't show in Colab. By using wurlitzer we can see the message: [gist](https://colab.research.google.com/gist/acfrock/1747352648b82cfccd0b18d20be41f70/conv_lstm.ipynb#scrollTo=lulIT_Waif3a).

[2022-07-06 20:04] haifeng-jin commented on #16720
@chaudharyachint08 @tilakrayal I am not able to reproduce the issue with the either of the 2 notebooks.
It always give different output everytime, which is expected.

Please reopen if you still can reproduce it.

[2022-07-06 20:04] #16720 closed

[2022-07-06 20:34] #16582 closed

[2022-07-06 20:51] haifeng-jin commented on #16639
It is fixed by https://github.com/keras-team/keras/pull/16746 on master.

[2022-07-06 21:17] Suzan009 commented on #16738
@gadagashwini but both output should be same, but it gives different output.

[code]

@lucasdavid workaround is working, but I'm trying to understand it a bit. Will close the issue afterwards.

[2022-07-06 23:09] gowthamkpr commented on #16719
@pstjohn Please set the argument `ragged=True` in `tf.keras.Input()` if you are using ragged tensors. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/410ca2e7f4e36e235c327b95d677e2cb/16719.ipynb). Thanks!

[2022-07-07 00:22] gowthamkpr commented on #16663
@ghost This is a user error not a bug in keras. Please take a look at debugging the pipeline [here](https://huggingface.co/course/chapter8/4?fw=tf) where they encountered the same error and explained how to fix it.

[2022-07-07 00:23] gowthamkpr commented on #16645
@HeewonChung92 Can you please create a colab notebook and attach it here..!! Thanks!

[2022-07-07 05:13] SaiSandeepKantareddy opened #16763 "ImageDataGenerator return dtype vs ImageDataGenerator.flow_from_dataframe dtype mismatch"
Mismatch of dtypes and altering the image after reading the function(flow_from_dataframe),

ImageDataGenerator(preprocessing_function = preprocess,)

this gives:

<img width="259" alt="Screen Shot 2022-07-07 at 12 10 52 AM" src="https://user-images.githubusercontent.com/16205133/177696596-cdc51507-6018-46e0-a4b2-dcea613a62ae.png">

train_generator = train_data_generator.flow_from_dataframe(
    da

[2022-07-07 05:24] sushreebarsa commented on #16763
@SaiSandeepKantareddy
In order to reproduce the issue reported here, could you please provide the complete code, the dataset and tensorflow version you are using. Thank you!

[2022-07-07 05:36] tilakrayal commented on #16759
Hi @enaskopelja,
As a workaround you may want to try to use` tf.saved_model.save(model, name)` and see if that works.

Please go through this [document](https://keras.io/api/models/model_saving_apis/) which explains the difference between tf.saved_model.save() and model.save()

Keras SavedModel (model.save()) uses [tf.saved_model.save](https://www.tensorflow.org/api_docs/python/tf/saved_model/save

[2022-07-07 05:50] sushreebarsa commented on #16754
@acfrock Thank you for the update!
@gadagashwini Please find the reproducible gist [here](https://colab.research.google.com/gist/sushreebarsa/190125ccf11e1316ae88489ebd2f2a9b/conv_lstm.ipynb) of the reported issue for your reference. Thank you!

[2022-07-07 06:55] qfaizan401 opened #16764 "ValueError: Input 0 of layer sequential is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (57, 1)"
I am working with the LSTM model and getting this error.

Here is my code:
model = tf.keras.Sequential()
model.add(tf.keras.layers.LSTM(64, input_shape = (700, 57), return_sequences=True))
model.add(tf.keras.layers.LSTM(64))
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dense(10, activation='softmax'))

optimizer = tf.keras.optimizers.Adam(lr=0.001)

model.compi

[2022-07-07 07:07] enaskopelja commented on #16759
Hi @tilakrayal,

unfortunately I get the same error with `tf.saved_model.save` (see updated colab notebook [here](https://colab.research.google.com/drive/1Fm1oOg6PQGQ29VDi_RUzxC7uLh6gD3di?usp=sharing)).

[2022-07-07 09:45] 7NoteDancing commented on #16752
Why when I used tf.keras.optimizers.Optimizer.from_config() to recover optimizer,an error occurred?
TypeError: Unexpected keyword argument passed to optimizer: learning_rate. Allowed kwargs are {'clipnorm', 'clipvalue', 'decay', 'lr', 'global_clipnorm'}.

[2022-07-07 10:22] HeewonChung92 commented on #16645
@gowthamkpr Here is my code!!! https://colab.research.google.com/drive/1tSE7t3GPa8r4x7F4sPgj8CqiYqtOrej5?usp=sharing
https://drive.google.com/drive/folders/17Nnl5FcrUWnRgzz4DM_fNAI3KhwqcK3r?usp=sharing

[2022-07-07 11:49] skbaur opened #16766 "model.fit fails with error "Target data is missing. Your model was compiled with loss...""
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac, Google colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.2 and 2.9.1
- Python version: 3.9 and 3.7
- Bazel version (if compiling from source):
- GPU model and

[2022-07-07 14:24] shanggao11 commented on #13118
Hi, I am using numpy array, not tf tensor, so I just use the model.predict, I did not try model(x), maybe that will be better?

[2022-07-07 14:42] andreped commented on #13118
This is not a memory leak. You are just running out of memory on the GPU. The array you are trying to run inference on is just too large, you should split it into smaller mini batches. For instance, like so:
[code]
Then do what you want with `result`. It is probably also smarter to store the result in an array, instead of a list, but since I do not know the output shape of your model, this was the

[2022-07-07 18:14] shanggao11 commented on #13118
Thank you very much about the suggestions. I thought the out of memory is the memory leaking :), sorry for the confusion. I did not try separate the batch manually, I only try use model.predict(xx, batch_size=xxxx), but it did not work. But when I switched the environment, none of the problems happened, but anyway, thank you for your advice !

[2022-07-07 20:31] haifeng-jin commented on #16709
@maciej3031 Thanks for the issue! Would you like to start a PR to make the change?
We will asl ensuring that the new implemenation can save and load successfully (not trigger any bug).

[2022-07-07 20:51] sunweilunformatech commented on #16685
@haifeng-jin The main reason I'm calling this is because I need to store some additional metadata along with the model in the h5 file. I find this API pretty neat until it broke. What should we do to store metadata in this case? A commonly used metadata is # of epochs for example. It's possible to store them in separate files, but it makes model storage less compact.

[2022-07-07 20:58] andreped commented on #13118
@shanggao11 you could always use `tf.data.Dataset` to create pipelines for exactly that. Given a dataset it has a built-in method to batch the data `.batch()`.

But yeah, great that you solved the issue :) Good luck!

[2022-07-07 21:14] divyashreepathihalli commented on #16482
@tempdeltavalue, I dont see this error anymore in the colab script -
`NotImplementedError: Exception encountered when calling layer "time_distributed" (type TimeDistributed).
Please run in eager mode or implement the `compute_output_shape` method on your layer (TFOpLambda).`

Regarding the "notImplementedError" that I now see on your colab, here is another thread - https://github.com/keras-team/ke

[2022-07-07 21:20] haifeng-jin commented on #16685
@k-w-w Any thoughts on this?

[2022-07-07 23:49] JuanIMartinezB commented on #16766
Hey, can i work on this issue?

[2022-07-08 03:00] #16678 closed

[2022-07-08 05:04] tilakrayal commented on #16764
@qfaizan401,
To expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thank you!

[2022-07-08 05:23] gadagashwini commented on #16752
Hi @7NoteDancing, You try like below sample code snippet
[code]
Thank you!

[2022-07-08 05:40] SaiSandeepKantareddy commented on #16763
Tensorflow Version: 2.3.0 Keras 2.4.0, actually the data I am using is confidential, but the error is like when you pass the data like the first image after using the preprocess function: I am getting this just black and white pixels alone but when I am using the same preprocess function on a single image I cannot see any problem,

preprocess function code:

def preprocess(image):
#         img=cv

[2022-07-08 07:00] #16711 closed

[2022-07-08 07:13] tilakrayal commented on #16766
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.9 and nightly. As mentioned, on tf v2.4 the code was executing with any error. Kndly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/254a9cfc61a0feb0a2cbc471b975a79a/16766.ipynb).

[2022-07-08 07:44] AdityaKane2001 commented on #16745
@qlzh727

I see. However, I think there are valid use cases of an Identity layer. For example, `keras_cv.layers.RandomChoice` can contain `keras.layers.Identity` as one of the possible augmentations. I believe it can also be used as a placeholder in many cases.

More importantly, I believe it helps with the object-oriented style of code writing. Thus I think this would be a worthy addition.

/cc @

[2022-07-08 14:56] tilakrayal commented on #16759
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/809d2357c856e8a953f785c71a30fbcb/16759.ipynb).

[2022-07-08 18:57] supercharleszhu commented on #16325
Thanks @mattdangerw for the detailed explanation and the discussion. TensorFlow Transform is also one of the solution we are currently exploring to deal with large scale in-model preprocessing solution. We will look into it and see if it fits our need. Thanks!

[2022-07-09 04:06] sushreebarsa commented on #16763
@SaiSandeepKantareddy Thank you for the update!
Could you please upgrade to the latest TF version 2.9.0 and let us know if the issue still persists ?
Thank you!

[2022-07-09 20:05] innat commented on #16029
Any update on this?

[2022-07-10 07:17] mj-mayank commented on #16694
hi @tilakrayal please fidn belowl ink for notebook
https://colab.research.google.com/drive/1Y7OHw92gQzkqchmz7SmMJgrO3xW7fAxa?authuser=1

[2022-07-10 13:05] tempdeltavalue commented on #16482
@divyashreepathihalli 🤔

I'll check it in some "future"

Thank you )

[2022-07-10 13:05] #16482 closed

[2022-07-11 06:09] #16717 closed

[2022-07-11 11:40] gadagashwini commented on #16766
Hi @JuanIMartinezB, You are welcome to raise PR to fix this issue. Thank you!

[2022-07-11 12:48] yellowdolphin commented on #16713
I did some experiments with virtual_batch_size using the following workaround for saving/loading the model:

[code]
However, I did not find any benefits in using `virtual_batch_size`, e.g. in combination with small batch_size and gradient accumulation. Hence, I will not attempt to find a fix/PR, nor advocate for officially supporting the feature.

Feel free to close the issue.

[2022-07-11 16:15] jerodway commented on #16715
The PR has been close as a feature too specialized for inclusion. Closing this issue.

[2022-07-11 16:15] #16715 closed

[2022-07-11 23:13] mattdangerw commented on #16248
OK! Finally landed this.

@ageron if you have time, would you like to open a PR for adding the explicit mask arguments? Thank you!

[2022-07-11 23:54] saberkun commented on #16248
is it OK to rely on _keras_mask?

Why don't we pass the causal mask as the attention mask to keep the same flexibility and reduce assumptions?
Note, if we pass attention mask, it will not calculate the mask operation per layer. If we have 100+ layers, the mask is the same and shared across layers.

[2022-07-12 00:25] mohantym commented on #16699
@chenmoneygithub !
Apology for the late reply. Yes! I am looking for a Colab gist to calculate flops of model/functions with reference to [#32809](https://github.com/tensorflow/tensorflow/issues/32809).

[2022-07-12 01:08] fchollet commented on #16248
With this API you still have the option to specify the mask manually via the `attention_mask` argument as before.

This change simply makes it easier to implement simpler workflows that rely on the masks automatically generated by the `Embedding` layer.

[2022-07-12 02:59] bbssydxrkdxzty opened #16782 "Anybody has the same question? AttributeError: 'Node' object has no attribute 'output_masks'"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-07-12 02:59] bbssydxrkdxzty opened #16783 "Anybody has the same question?"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-07-12 07:34] gadagashwini commented on #16713
Closing as this issue is resolved by workaround mentioned in the above [comment](https://github.com/keras-team/keras/issues/16713#issuecomment-1180368482). Thank you!

[2022-07-12 07:34] #16713 closed

[2022-07-12 09:13] sushreebarsa commented on #16782
@bbssydxrkdxzty Could you refer to this [thread ](https://stackoverflow.com/questions/51821537/attributeerror-node-object-has-no-attribute-output-masks)and let us know if it helps?
In order to reproduce the issue reported here, please provide the complete code and the dataset , tensorflow version you are using. Thank you!

[2022-07-12 10:27] Twansklaf opened #16784 "MultiHeadAttention masking vector gets saved as list that raises an exception when loading model."
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-07-12 10:55] tilakrayal commented on #16783
@bbssydxrkdxzty,
To expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using. Thank you!

[2022-07-12 11:02] bbssydxrkdxzty commented on #16783
![捕获](https://user-images.githubusercontent.com/103419595/178475604-c0f414ed-83dc-4bbd-8c95-001a0d4020b1.PNG)

TensorFlow 2.9.1

[2022-07-12 11:07] bbssydxrkdxzty commented on #16783
Here is my 'import'
`from keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
from keras.utils.np_utils import to_categorical
from keras import models
from keras import layers

from nltk import tokenize
import pickle
import time
import pandas as pd
from keras import initializers
import os
from keras.engine.topology import Layer
#from tensorflow.python.kera

[2022-07-12 18:25] gowthamkpr commented on #16759
@enaskopelja The issue here is that the forward pass has not been defined. Please go through a similar issue for which solution is discussed [here](https://stackoverflow.com/questions/71299786/model-cannot-be-saved-either-because-the-input-shape-is-not-available-or-because). Try adding `model.fit()` before saving the model.

[2022-07-12 19:40] gowthamkpr commented on #16754
@acfrock This is a grappler error. Please take a look at the workaround provided [here](https://github.com/tensorflow/tensorflow/issues/36901#issuecomment-696398497). Also, please post this issue [here](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=&template=tensorflow_issue_template.yaml). Thanks!

[2022-07-12 19:53] gowthamkpr commented on #16645
@HeewonChung92 Sorry for the inconvenience. Can you please install different versions of tensorflow and run the code with different versions and attach the gists here. Also can you please use the latest versions of tensorflow. Thanks!

[2022-07-12 23:16] #16764 closed

[2022-07-13 02:19] mj-mayank commented on #16694
@tilakrayal I have already provided rights to view the file. Please see below

<img width="479" alt="image" src="https://user-images.githubusercontent.com/93039853/178636919-7b0a1572-d3f3-49c4-95bb-0ecaa226ca8e.png">

[2022-07-13 06:20] gadagashwini commented on #16691
Hi @gabrieldemarmiesse, Associated PR got merged can we close this issue. Thank you!

[2022-07-13 06:28] gabrieldemarmiesse commented on #16691
Hi, i only typed a small part of the public api. I believe this issue must stay open as long as the public api is not typed

[2022-07-13 08:25] HeewonChung92 commented on #16645
@gowthamkpr  I attach the colab code here with two versions.

Code - Tensorflow version: 1.13.2
decreased the loss when using TF 1.13.2
https://colab.research.google.com/drive/1f-eUOLIDTESbWjw0WDmZjl-D65KwGT8H?usp=sharing

Code - Tensorflow version: 2.8 (latest version)
increased the loss when using TF 1.14 and TF 2.6
https://colab.research.google.com/drive/1uh9VMLrMcFJUAlCwDkbRBdiVclcLoKiL?usp=sh

[2022-07-13 09:37] KingsleyLiu-NV opened #16788 "tf.keras.models.load_model does not work as expected within MirroredStategy"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.5
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.8
- Bazel version (if compiling from source):
- GPU model and memory: Tesla

[2022-07-13 13:42] gowthamkpr commented on #16671
@qmarcou Sorry for the delayed response. Would you like to create a PR for the documentation? Thanks!

[2022-07-13 14:56] sunweilunformatech commented on #16685
It's between 2.5.3 and 2.6.0. I haven't got time to narrow it down to a specific commit. But I guess we could do a binary search.

[2022-07-13 14:56] sunweilunformatech commented on #16685
@rchao So 2.5.3 works but not 2.6.0. Must be some commit in between.

[2022-07-13 16:51] #16756 closed

[2022-07-13 17:12] gowthamkpr commented on #16645
@HeewonChung92 Thank you! Will look into this

[2022-07-13 21:10] gowthamkpr commented on #15345
@EnderWiggin14 Please find the solution for the issue [here](https://stackoverflow.com/questions/69065330/how-to-make-a-weighted-sum-layer-with-trainable-weight-and-a-definable-number-of).

The solution to the problem requires the implementation of a constraint and the use of the `add_weight `function. The constraint is required because, for some reason, `tf.divide` cannot be used in the manner de

[2022-07-13 22:03] gowthamkpr commented on #15565
@jamesmishra The reason why this is throwing an error is clearly explained [here](https://stackoverflow.com/questions/69762318/tensorflow-keras-savedmodel-throws-a-typeerror-after-being-saved-and-loaded-twic) and also the workarounds are mentioned there.

This has been fixed in the latest version of tf-nightly

. Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/8a92535

[2022-07-13 23:35] rchao commented on #16685
Thanks for the info. Yes, if you could perform a binary search on the commits it would greatly help us.

[2022-07-14 01:42] rchao commented on #16766
Hello @skbaur, in the code example, `Model.fit()` isn't provided with a label (`y` argument), and thus the library isn't able to compute the loss for the training. The dict is used as the `x`. As far as I see it this is an expected error message.

[2022-07-14 02:42] tilakrayal commented on #16783
@bbssydxrkdxzty,
I tried to execute the code with all the imports and was able to execute without any issues. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b7fe3321516c9a390a0b43446dc2212c/untitled426.ipynb) and confirm if you are facing same issue. Thank you!

[2022-07-14 04:07] KingsleyLiu-NV commented on #16788
@tilakrayal Any progress here?

[2022-07-14 06:18] tilakrayal commented on #16694
@mj-mayank,
I was facing the below error while trying to access the link you are provided.

![image](https://user-images.githubusercontent.com/81610181/178913493-a006d1b8-9505-4674-adc2-24df07a24a0f.png)

Could you please provide the required permissions to access the files. Thank you!

[2022-07-14 06:23] ryukinlika opened #16791 "NASNet error using custom input shape without top layer"
https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/applications/nasnet.py#L174-L180

Shouldn't the parameter `require_flatten` uses `include_top` value instead of constant `True`?
Using `True` makes custom shaped input invalid when using size that isn't the `default_size` with `include_top = False`
Checked several other models such as efficientnet_v2 and xcepti

[2022-07-14 07:23] rchao commented on #15606
Hello, looking at the colab, some stack trace is missing. To debug this further, can you try adding this call

[code]

at the beginning of the program or unit test so we can find out more?

[2022-07-14 07:40] abhaskumarsinha opened #16792 "Strange behavior for a Keras Code: Shows different behavior for two codes running by the exact same logic."
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-07-14 08:30] skbaur commented on #16766
But for e.g. dataset input, there would never be a 'y' parameter, right? (see e.g. https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit "Target data. Like the input data x, it could be either Numpy array(s) or TensorFlow tensor(s). It should be consistent with x (you cannot have Numpy inputs and tensor targets, or inversely). **If x is a dataset, generator, or keras.utils.Sequence instanc

[2022-07-14 09:24] inonbe opened #16793 "EarlyStopping add initial warm-up field to allow initial convergence step (KL_loss in VAEs)"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-07-14 09:33] sushreebarsa commented on #16784
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/f5e5d342a5e1e7e31a80d0e35a547076/16784.ipynb). Thank you!

[2022-07-14 09:36] sushreebarsa commented on #16791
@ryukinlika
In order to reproduce the issue reported here, could you please provide more details on the issue reported?
Thank you!

[2022-07-14 09:42] ryukinlika commented on #16791
Platform: Google Colab

Code:

[code]

Error:
[code]

[2022-07-14 10:52] allansdefreitas commented on #16748
Let me prepare and send to you...

[2022-07-14 13:25] allansdefreitas commented on #16748
@tilakrayal here you can find the notebook: [https://github.com/allansdefreitas/Deep-Learning-Experiments/blob/master/retinanet_coco_error.ipynb](https://github.com/allansdefreitas/Deep-Learning-Experiments/blob/master/retinanet_coco_error.ipynb)

[2022-07-14 16:44] bhack commented on #15655
@wangpengmit It seems that we had a more general issue with all `CompileTimeConstantInput` args.

See https://github.com/tensorflow/tensorflow/issues/56769

[2022-07-14 17:38] rchao commented on #16737
This may be expected because the cross entropy operation is unstable and a suggestion would be to try with `float64` everywhere.

[2022-07-14 17:47] rchao commented on #16788
@yuefengz do you or anyone on tf.distribute have some clues of why loading the model under mirrored strategy gives a different result?

[2022-07-15 04:58] tilakrayal commented on #16792
@gadagashwini,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/52f2c3e21533c1f1d2e4006d6984881c/2-8-gan.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/a5d8e4d0a024cf1cde866ccd0b30aeb0/2-9gan.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/0048af697246e04a1b1a9878439e0093/nightly-gan.ipynb). Kindly fin

[2022-07-15 05:21] ivan-rivera commented on #4875
I'm also dealing with this issue. FYI, I've created a detailed description of what I'm dealing with in [this StackOverflow](https://stackoverflow.com/questions/72989336/loading-model-weights-in-tensorflow-changes-order-of-predicted-classes)

[2022-07-15 05:22] ivan-rivera commented on #4875
I'm also dealing with this issue. FYI, I've created a detailed description of what I'm dealing with in [this StackOverflow](https://stackoverflow.com/questions/72989336/loading-model-weights-in-tensorflow-changes-order-of-predicted-classes)

[2022-07-15 08:27] gadagashwini commented on #16738
@Suzan009, Did you a get chance to look into the issue. Thank you!

[2022-07-15 08:29] Twansklaf commented on #16784
@gadagashwini this is exactly the issue, please read the description and MRE

[2022-07-15 12:09] #16740 closed

[2022-07-15 12:39] sushreebarsa commented on #16791
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/0ab06b071eab3887f19c2e4fc61051a4/16791.ipynb). Thank you!

[2022-07-15 16:02] OUStudent opened #16794 "How does Keras Train their Applications? No Code or Documentation"
**URL(s) with the issue:**.

https://keras.io/api/applications/

**Description of issue (what needs to be changed):**.

Keras applications are pre-trained CNN models on ImageNet that can be utilized for transfer learning or for utilizing a preconstructed CNN architecture. The documentation does not describe anywhere where the code is located on how the models were trained to obtain the final Image

[2022-07-15 16:04] REALDEVELOPER9292 commented on #10237
I think you have to change kernel in top right.

[2022-07-15 16:36] allansdefreitas opened #16795 "How to write TensocrflowTFRecords at this format"
Greetings!

I need to write Tensorflow TFRecords files in this specific format, for input to an object detection model:

[code]

I want to implement like this [implementation](https://colab.research.google.com/github/keras-team/keras-io/blob/master/examples/keras_recipes/ipynb/creating_tfrecords.ipynb), but at above specified format (where ‘ojbects’ key have another subkeys in it).

Thanks a lot!

[2022-07-15 19:59] SirDavidLudwig opened #16796 "MultiHeadAttention instances within custom layers do not receive weights when loaded with SavedModel format"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-07-16 05:17] abhaskumarsinha commented on #16792
Hello @tilakrayal @gadagashwini , I'd like to point out that I found the issue, which had crept in inside my code. The GFG version uses model.train_on_batch() for convergence whereas I had used model.fit() with batch_size as 1. So, apparently, that was the one causing the problems in initial convergence. Apologies for taking your time.

The initial convergence seems fine for now. Kindly close this

[2022-07-16 05:17] #16792 closed

[2022-07-16 06:20] das-ankur commented on #12047
First encode all the labels using LabelEncoder then use to_categorical to represent in decode format.
`encoder = LabelEncoder()
encoder.fit(y_train)
y_train = encoder.transform(y_train)
y_test = encoder.transform(y_test)
y_train = to_categorical(y_train, num_classes=23)
y_test = to_categorical(y_test, num_classes=23)
`

[2022-07-17 07:08] Himanshu1331 commented on #1921
I have an image array (used as X_train in CNN) of size (10000*256*256*3) and I want to normalize it using **tf.keras.utils.normalize()**, which takes **axis** as an argument. Which axis I should use to normalize the data?

[2022-07-17 09:14] frigeriomtt commented on #15985
@fchollet Good morning, thanks for mentioning that couple of features; however, despite upgrading tensorflow to the latest version in my colab notebook, the interpreter can neither find split_dataset as part of the utils module, nor accept "both" as value for image_dataset_from_directory's subset parameter ("must be 'train' or 'validation'" error is returned). I checked tensorflow version and it w

[2022-07-17 23:45] emmanuel-nwogu commented on #8595
@leon-kwy Did you ever figure it out? I'm having the exact same problem with Mask RCNN.

[2022-07-18 03:48] tilakrayal commented on #16748
@allansdefreitas,
I was facing different error while trying to execute the given code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/7a9e37d3c2f7fe3be05ec6412d66e61a/retinanet_coco_error.ipynb). Thank you!

[2022-07-18 05:11] JaimeArboleda opened #16797 "Unpredictable behaviour of tracked variables in subclassing layers and models"
I've found that the tracking of variables by keras is not 100% predictable, and this has an impact because untracked variables are not trained.

This is a google colab notebook with code to test the issue (please have in mind that the example is a toy one, the layer and model make no sense, only to illustrate the issue):

https://colab.research.google.com/drive/108tvoGVHDTHuoMP39ZsPKUbSsnO_jRYr#sc

[2022-07-18 05:29] tilakrayal commented on #16794
@OUStudent,
Could you please check this doc [link](https://keras.io/api/applications/) and confirm which you are referring to. The provided doc link delivers the information on Keras application. Thank you!

[2022-07-18 06:36] tilakrayal commented on #16796
@gadagashwini,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/3e1bcdb5658c0008b60f1f12b0cd39a7/2-8keras_mha_savedmodel_weight_bug.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/3739623a9addc0a3f67a5a6ef4b829d3/2-9keras_mha_savedmodel_weight_bug.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.go

[2022-07-18 07:38] Larosen commented on #9278
Hello @mertyagli,
were you able to solve your problems and did you get more accurate energy predictions for the next day?

[2022-07-19 02:02] sushreebarsa commented on #16797
@gadagashwini I was able to replicate the issue on colab, please find the gist[ here](https://colab.research.google.com/gist/sushreebarsa/0f943c1c82ee5f907eb3c59a7b9d79f7/possible_keras_bug_subclassing.ipynb). Thank you!

[2022-07-19 11:59] Chizkiyahu opened #16808 "Errors in loading TF model"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tensorflow-macos 2.9.2, colab 2.8.2, linux 2.8.2

### Custom Code

No

### OS Platform and Distribution

mac m1, linux, colab

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No respo

[2022-07-19 16:16] nicolaspi opened #16809 "Finer control on metrics computation"
**System information**.

TensorFlow version (you are using): Nightly
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

The metrics are computed at each step during train/evaluation. While the `update_state()` calls are necessary, the calls to `result()` may not. In some cases, when the number of metrics is significant, or when the `result` m

[2022-07-19 19:54] gowthamkpr commented on #16708
@anshkumar Linking this [discussion thread ](https://discuss.tensorflow.org/t/efficientnet-v2-features-name/10312/3). Can you please close this issue as it is already being discussed. Thanks!

[2022-07-19 20:17] DaniPol opened #16810 "TensorBoard Graph doesnt work"
win 10
python 3.10.5
tensorflow 2.9.1

I ran this code:
![image](https://user-images.githubusercontent.com/73639212/179839398-e85a0f48-d4ac-4bc6-8fac-5bbd08bc173f.png)
A folder created:
![image](https://user-images.githubusercontent.com/73639212/179839514-7dfe24f3-e481-468d-9b28-37318b879d61.png)
I used this command in the terminal:
![image](https://user-images.githubusercontent.com/73639212/17983

[2022-07-19 21:15] gowthamkpr commented on #14979
This has been fixed in the recent versions of tensorflow. Here's is the [gist](https://colab.research.google.com/gist/gowthamkpr/4ce5eb01f448ed5ccf7b10397b1810a0/untitled377.ipynb). Thanks!

[2022-07-19 21:20] gowthamkpr commented on #14914
@mohammed-ab99 You can actually save the entire siamese model and load it and extract the layer with desired trained layers and create a new model with a new input layer and the extracted layer. Please take a look at this explanation [here](https://github.com/keras-team/keras/issues/8748). Thanks!

[2022-07-19 23:50] nicolaspi commented on #16809
Please consider this proposal as a first approach:
https://github.com/keras-team/keras/compare/master...nicolaspi:keras:feature/metric_per_bacth_option

This would change the API by removing `Model.compute_metrics`, and remove some metric logics within `train_step` and `test_step`, they no longer return the metric values.

[2022-07-20 06:22] Zaibali9999 commented on #13992
This is my custom layer function how to add thus
    def make_elmo_embedding(self, x):
        # Load the elmo model which is a pre-trained models trained on the 1 Billion Word Benchmark
        elmo_model = hub.Module("https://tfhub.dev/google/elmo/3", trainable=True)

        embeddings = elmo_model(tf.squeeze(tf.cast(x, tf.string)), signature="default", as_dict=True)["elmo"]

        return emb

[2022-07-20 06:30] wxs-newboy commented on #10907
I have same problem.

`  File "/data2/wangxinsheng/yft/yft_semantic_train_model/keras_textclassification/base/embedding.py", line 283, in build
    self.output = NonMaskingLayer()(encoder_layer)
  File "/data/anaconda3/envs/miss_torch_develop/lib/python3.7/site-packages/keras/engine/base_layer.py", line 443, in __call__
    previous_mask = _collect_previous_mask(inputs)
  File "/data/anaconda3/env

[2022-07-20 06:42] sushreebarsa commented on #16795
@allansdefreitas I tried to replicate the issue reported, could you please have a look at this [gist](https://colab.research.google.com/gist/sushreebarsa/4f53b39276445bf93a83e9e33420fa80/creating_tfrecords.ipynb) and confirm the same?
Thank you!

[2022-07-20 06:59] satpalsr commented on #16229
@mitul01 @gadagashwini Is it also not supposed to work on [Colab?](https://colab.research.google.com/drive/16O5x3jPZLzTy_yz9V-3OtNFs3E-GkMOX?usp=sharing)

[2022-07-20 07:59] #16708 closed

[2022-07-20 08:40] dgrnd4 commented on #16679
I'm facing the same problem

[2022-07-20 09:30] tilakrayal commented on #16808
@gadagashwini,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/f60312fa161df2b67b32f2f98950dc13/2-8tf_load_bug.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/77caabeae424334c57f6160f7477ab2c/2-9tf_load_bug.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/eff56bc8fa29383

[2022-07-20 14:11] yangbin-Neil commented on #12872
I also encountered the same problem and would like to ask how you solved it.

[2022-07-20 15:05] dario-passos opened #16815 "kernel dimensions in Depthwiseconv1d()"
Hi,
I noticed that in the Depthwiseconv1d() documentation the definition of kernel_size says "_An integer, specifying the height and width of the 1D convolution window". Since this is a 1d conv windows, isn't the height of the kernel always 1?

[2022-07-20 18:35] qlzh727 commented on #16796
Thanks for the detailed bug report, seems to be a quite important issue since MHA is core API.

[2022-07-20 18:35] qlzh727 commented on #16796
Assign to Kathy for more inputs.

[2022-07-20 19:05] qlzh727 commented on #16793
Assign to Rick and Divya for more inputs.

[2022-07-20 19:11] qlzh727 commented on #16791
Also add @ianjjohnson

[2022-07-20 22:54] k-w-w commented on #16796
+ @rchao This kind of issue is somewhat common, anyone who tries to create a subclassed MHA layer will run into it. The new idempotent saving format will also see it, as it is entirely config-based. Is there a way to cleanly solve this problem?

(e.g. letting the user know if the `from_config` isn't defined correctly)

[2022-07-21 00:27] #16719 closed

[2022-07-21 01:27] #16663 closed

[2022-07-21 02:33] allansdefreitas commented on #16748
It seems like if the content of TFRecords is encoded..

[2022-07-21 02:36] allansdefreitas commented on #16795
Yes, @sushreebarsa, I want to have TFRecords like:
bbox: [473.07 395.93  38.65  28.67]
area: 702.1057739257812
category_id: 18
id: 1768
image_id: 289343
path: b'datasets/val2017/000000289343.jpg'
Image shape: (640, 529, 3)

But in this format:

    'image': TensorSpec(shape=(None, None, 3), dtype=tf.uint8, name=None),
    'image/filename': TensorSpec(shape=(), dtype=tf.string, name=None),
    'ima

[2022-07-21 03:06] KingsleyLiu-NV commented on #16788
@rchao Any progress here?

[2022-07-21 11:11] oarriaga opened #16819 "VGG bias prediction mismatch in channel 6"
When passing a zero array to the first convolutional layer of VGG16 one should get as output only the bias.
This is the case for all channels except the 6th one.

[code]

**System information**.
- TensorFlow version: 2.9.1
- Python version: 3.10
- GPU model and memory: GTX 1650 Ti

[2022-07-21 12:41] nicolaspi opened #16820 "Policy for API extension"
**System information**.

TensorFlow version (you are using): Nightly
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

It may be interesting to be able to extend the keras' public API without breaking user's code.
We can guaranty that a new API is not breaking legacy code and logic if:
1 - A new argument `new_arg` is added to a legacy functi

[2022-07-21 12:58] oarriaga commented on #16819
I know the problem now :-) . All Conv2D layers in VGG use relu. That bias is the only bias with negative values; thus, it becomes zero.

[2022-07-21 12:58] #16819 closed

[2022-07-21 13:44] jvishnuvardhan commented on #14979
I notice similar error for both the cases. So, i think this was resolved. Closing this issue. Thanks for resolving.

[2022-07-21 15:23] SirDavidLudwig commented on #16796
@k-w-w If we have to serialize the layer ourself in this manner, are we therefore required to supply the MHA layer to the constructor, or is there another way to keep everything self-contained?

[2022-07-21 18:14] gowthamkpr commented on #16086
This is working as expected in the latest version of tf-nightly. Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/30e1453f2ebcd6388af9bc595797157e/16086.ipynb). Thanks!

[2022-07-21 19:29] old-school-kid commented on #16086
@gowthamkpr
On CPU it throws `Invalid Argument Error` which is right imo. But on GPU it throws `Unimplemented Error` which is confusing IMO.

[2022-07-21 20:32] k-w-w commented on #16796
@SirDavidLudwig In code snippet in my previous comment, you can either pass `embed_dim` and `num_heads`, or the mha layer into the constructor.

[2022-07-22 04:34] #16791 closed

[2022-07-22 09:25] yingjieyao commented on #411
I have just tested the Conv1D with masking layer, and it worked. If the masking layer is removed, the training process will end with a huge loss.
[code]

[2022-07-22 09:53] gadagashwini commented on #16752
Closing as stale. Please reopen if you'd like to work on this further.

[2022-07-22 09:53] #16752 closed

[2022-07-22 10:01] gadagashwini commented on #16795
Hi @allansdefreitas, You can customize the Tf TfRecords file format based on the requirements.
Follow the example given on the Tensorflow site [here](https://www.tensorflow.org/tutorials/load_data/tfrecord#write_the_tfrecord_file). Thank you!

[2022-07-22 11:50] sushreebarsa commented on #16815
@dario-passos Could you please provide more information on the issue and share the documentation site that you are referring? Thank you!

[2022-07-22 13:14] tilakrayal commented on #16748
@allansdefreitas,
Could you please provide the TFRecord to debug the issue. Thank you!

[2022-07-22 13:57] dario-passos commented on #16815
Hi

I'm refereing to the comments (line 52) on "Args:" of the the file "[https://github.com/keras-team/keras/blob/master/keras/layers/convolutional/depthwise_conv1d.py](https://github.com/keras-team/keras/blob/master/keras/layers/convolutional/depthwise_conv1d.py)" which has been uploaded to this repo 2 months ago but still does not appears as an available layer in keras.io. The same text is also

[2022-07-22 15:32] allansdefreitas commented on #16748
Hi, @tilakrayal.

You can download the TFRecords, running via terminal: `curl -L "https://app.roboflow.com/ds/XqoiwGXC8L?key=NyDE34g8vI" > roboflow.zip; unzip roboflow.zip; rm roboflow.zip`

[2022-07-22 16:19] rchao commented on #16788
We're waiting on an input from tf.distribute team.

[2022-07-22 17:17] Saboteur20 opened #16825 "[URGENT] There is less inputs received while giving the exact number of inputs required"
I am testing an encoder decoder lstm model .
the training phase went well but the testing phase after building the testing model is giving me an error while trying to input to the decoder layer , here's the error:

my script is :

[code]

the exact issue is in this line :
`output_tokens, h, c =  decoder_model.predict_step([target_seq] + states_value)`
while the script reached this section:
[code]

[2022-07-22 18:00] jszaday commented on #16788
Hi, I'm on the `tf.distribute` team. I'll start looking into this issue, and reply once I have insights into it.

[2022-07-23 01:49] jvishnuvardhan commented on #15795
@cBournhonesque This was resolved with your PR. I am closing this issue as this was resolved. Please feel free to reopen If I am mistaken. Thanks!

[2022-07-23 11:51] mufeedpatel opened #16826 "ValueError: A `Concatenate` layer requires inputs with matching shapes except for the concat axis: input_shape=[(None, 512, 2, 2), (None, 256, 1, 1)"
The Code was working previously in Keras 1.2 version and wanted to update this to version Keras 2.9

Code Snippet

####################################
def compile(self):

        K.set_image_dim_ordering('tf')

        inputs = Input(shape=self.config['input_shape'])

        conv1 = Convolution2D(32, 3, 3, border_mode='same', init='he_normal')(inputs)
        conv1 = Activation('relu')(conv1)

[2022-07-23 18:38] bvbellomo opened #16827 "Bug: BatchNormalization causes Input layer to lose name"
If I start a functional network with:
inputs = Input(shape=inputShape, name="data")
inputs = BatchNormalization()(inputs)
outputs =  Dense(inputs)

model.summary doesn't show my batch normalization and loses the name of my input layer:
input_1 (InputLayer)
dense (Dense)

If I omit my BatchNormalization:
inputs = Input(shape=inputShape, name="data")
#inputs = BatchNormalization()(inputs)
outputs =

[2022-07-24 00:53] tylerpayne opened #16828 "Reduce metrics do not support cross-replica context"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubunto 18.04.6 LTS**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **2.9.1**
- Python version: **3.9.12**
- Bazel version (if compiling from source): **N

[2022-07-24 01:37] tylerpayne commented on #16828
Implemented fix here: https://github.com/tylerpayne/keras/commit/3fc4fa1815c8cc5bc95a5c1be381771e6bafe9e6

It passes all the metric tests. Running the full test suite before PR'ing

[2022-07-25 09:10] tilakrayal commented on #16825
@Saboteur20,
The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily. Thank you!

[2022-07-25 09:11] tilakrayal commented on #16827
@bvbellomo,
To expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using. Thank you!

[2022-07-25 10:32] Saboteur20 commented on #16825
@tilakrayal Off course , the actual issue is after creating the testing model with weights of the training model:
[code]
when I want to input testing pairs in the below loop :
[code]
an error is raised which was stated in above , the error is raised when I call the function decode sequence which is also written above.

[2022-07-25 16:53] #15565 closed

[2022-07-25 20:57] DaniPol commented on #16810
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import *

RUN_NAME = "run 2 with 5 nodes"

training_data_df = pd.read_csv("sales_data_training_scaled.csv")

X = training_data_df.drop('total_earnings', axis=1).values
Y = training_data_df[['total_earnings']].values

# Define the model
model = Sequential()
model.add(Dense(5, input_dim=9, activation='relu', name=

[2022-07-25 20:59] gowthamkpr commented on #16645
@HeewonChung92 Can you debug the model layer by layer and check where the issue is coming from. Thanks

[2022-07-25 21:31] qlzh727 commented on #15655
This should be now addressed by https://github.com/tensorflow/tensorflow/commit/1949eec4f52bfed8349cffb677da418df95451f4.

[2022-07-26 02:25] dkargilis commented on #16694
I am also experiencing this issue. Please re-open this issue if possible.

[2022-07-26 03:03] t-kalinowski commented on #16754
I've run into the same problem and am subscribed to the issue. Posting to keep the stale bot away.

[2022-07-26 03:31] mj-mayank commented on #16694
@dkargilis could you share your code snippet with @tilakrayal. I tried sharing the notebook but he is not able to access it(though I have provided all the necessary access)

[2022-07-26 03:33] froody opened #16833 "model.save does not save optimizer variables unless 'h5' format is used"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-07-26 03:36] dkargilis commented on #16694
Is it possible to try again with the link, @tilakrayal ? I am able to access the notebook here
https://colab.research.google.com/drive/1Y7OHw92gQzkqchmz7SmMJgrO3xW7fAxa?authuser=1

[2022-07-26 09:07] tilakrayal commented on #16748
@allansdefreitas,
After uploading the `tfrecord`, I tried to execute the code and faced the same issue. Kindly find the gist [here](https://colab.research.google.com/gist/tilakrayal/5f1fd957ec4b055bc6c666a0fb156121/retinanet_coco_error.ipynb) and please try to define the `test_dataset` . Thank you!

[2022-07-26 11:03] kaziomarfaruk commented on #11607
@nadaalay can you please share the code dipsgalaxy01@gmail.com ?

[2022-07-26 12:34] sushreebarsa commented on #16826
@mufeedpatel
In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thank you!

[2022-07-26 13:01] ewwll opened #16834 "The loss displayed by the network fit is inconsistent with the loss calculated from the input data after the model is saved."
When using keras for regression problems, loss uses mean squared error. The loss displayed by the network fit in the last epoch during training is inconsistent with the loss calculated from the input data after the model is saved.

[2022-07-26 17:05] davinnovation opened #16835 "Add EfficientNet lite option [from tensorflow closed PR]"
**System information**.

TensorFlow version (you are using): 2.9.1
Are you willing to contribute it (Yes/No) : No

**Describe the feature and the current behavior/state**.

Add EfficientNet Lite option which is PRed in [Added Lite option to EfficientNets. #48400] https://github.com/tensorflow/tensorflow/pull/48400/ already

**Will this change the current api? How?**
Yes. `tf.keras.applications.eff

[2022-07-26 17:15] Yacalis opened #16836 "Loss is significantly worse when calculated manually in train_step compared to passed into model.compile"
#<details><summary>Click to expand!</summary>

 ### Issue Type
Bug

#### Source
binary

#### Tensorflow Version
2.8.2

#### Custom Code
Yes

#### OS Platform and Distribution
Linux Ubuntu 18.04.5

#### Python version
Python 3.7.13

#### Current Behavior
I am following the steps here for customizing what happens in `train_step` when you customize a model:

https://www.tensorflow.org/guide/keras/cus

[2022-07-26 17:59] #15655 closed

[2022-07-26 23:01] shivalikasingh95 commented on #4875
Even I'm facing this issue when I'm trying to save and load a model with custom layers using TF SavedModel format.
However, the issue doesn't occur if I save and load model using HDF5 format.
But for my use case, I need it to work using TF SavedModel format but I'm observing big drop in accuracy after loading the model post saving using SavedModel format.

I've explained the issue in the detail [h

[2022-07-26 23:51] KingsleyLiu-NV commented on #16788
@jszaday Thanks for the updates. Please let me know when there is a solution or workaround for this issue.

[2022-07-26 23:53] jszaday commented on #16788
After looking into this extensively, I realized that during the model-saving process, a `tf.function` is run with the default replica context and strategy, and the output from its `tf.print` statements are hard-coded within the `saved_model.pb` file. Then, whenever the model is loaded, the `tf.function` is not actually run—instead the output from the file is printed.
More about that [here](
https:

[2022-07-26 23:57] jessechancy opened #16837 "Supporting list of files for `keras.utils.text_dataset_from_directory`"
Currently the function creates a dataset from files in a directory. It is targeted for text classification, hence it defaults to supporting a nested directory structure with each folder being a class. However, for the use case of just reading text files to a dataset, this API does not fully support the use case. The main inconvenience is that it requires the files to be in the same directory, and

[2022-07-26 23:58] KingsleyLiu-NV commented on #16788
So the loaded model graph can still be executed correctly under the Mirrored Strategy and the real problem is `tf.print`?
Is there any way to verify it is working correctly after loading the model graph?

[2022-07-27 00:09] KingsleyLiu-NV commented on #16788
@jszaday I checked the output tensor of the loaded model graph (`print(vector) `after `logit, vector = strategy.run(...)`), and the log is like this:

[code]

Does this mean that the loaded model graph is working correctly under the Mirrored Strategy?

[2022-07-27 03:25] jszaday commented on #16788
Yeah, the real problem is the `tf.print` as far as I can tell.

And, as for your logs, those look favorable to me; others can weigh in if there are alternative checks to consider.

[2022-07-27 05:38] tilakrayal commented on #16833
@gowthamkpr,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/9511c1aa535bb341dd89c5677ce748db/2-8mnist_convnet.ipynb) and [v2.9](https://colab.research.google.com/gist/tilakrayal/dffad38ad7d75ba4a4c43f1ba7b410c8/2-9mnist_convnet.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b94ac82e5b

[2022-07-27 05:41] sushreebarsa commented on #16836
@gadagashwini I was able to replicate this issue, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/f1144243be9eed060c39c60611811811/56866.ipynb) .Thank you!

[2022-07-27 06:41] chunduriv commented on #16727
@Rishit-dagli,

Thank you for reporting the issue. I have submitted [PR](https://github.com/keras-team/keras/pull/16839) to fix the issue.

[2022-07-27 08:25] Twansklaf commented on #16784
Up. I'd be happy to push a PR and fix some code if someone would direct me towards the right direction.

[2022-07-27 09:05] tilakrayal commented on #16694
@dkargilis & @mj-mayank ,
I was facing the below error while trying to access the link you are provided.

![image](https://user-images.githubusercontent.com/81610181/181208109-2f2e1ab6-6969-4882-b697-047e8bbd044b.png)

[2022-07-27 09:12] tilakrayal commented on #16835
@davinnovation,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-07-27 09:59] tilakrayal commented on #16810
@DaniPol,
I was facing a different error while executing the provided code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/35adc3c2ea43f19ced577c6485024b8e/untitled461.ipynb). Could you provide the dependencies and code in the indentation format. Thank you!

[2022-07-27 12:30] tilakrayal commented on #16837
Hi @jessechancy ,
Could you please share a reproducible code that supports your statement so that the issue can be easily understood. Thank you!

[2022-07-27 14:50] tanzhenyu commented on #16173
I think all options are important:
1) per batch
2) every 1000 (user configured) batches
3) every epoch

Do remind that sometimes there is no concept of an epoch, and per batch logging is too expensive, then 2) becomes quite important

[2022-07-27 15:59] Saboteur20 commented on #16825
@tilakrayal Off course , the actual issue is after creating the testing model with weights of the training model:
[code]
when I want to input testing pairs in the below loop :
[code]
an error is raised which was stated above , the error is raised when I call the function `decode_sequence` which is also written above ,when the execution reaches this line:
`output_tokens, h, c =  decoder_model.predi

[2022-07-27 19:53] OUStudent commented on #16794
@tilakrayal
I am talking about the entire document. There is no comment or documentation in the official link you gave on how the image net weights are obtained or how the models were trained. My issue is notify Keras team to provide this information.

[2022-07-27 19:54] OUStudent commented on #16794
I am talking about the entire document. There is no comment or documentation in the official link you gave on how the image net weights are obtained or how the models were trained. My purpose is notify Keras team of this in order to provide this information as it allows users to know how the models were trained to obtain the imagenet weights

[2022-07-27 21:22] bhack commented on #16202
Can you check also this case:
https://discuss.tensorflow.org/t/text-based-tensorflow-unexpected-result-of-train-function-empty-logs/11075

[2022-07-28 00:39] lucasdavid commented on #16836
I believe the snippet below is a simpler way to reproduce this error.
[code]
[code]

[2022-07-28 02:00] lucasdavid commented on #16836
#### TDLR

You must pass y_true as a 2-D tensor `[batch, target_vars]`, because `mean_squared_error` will average the signal over the last axis. For the 1-D case, this means reducing all samples in the batch into a single value, which confuses the `MeanMetricWrapper` into thinking all batches only have 1 sample.
Adding this line fixes the differences between the losses and yields the correct histo

[2022-07-28 02:02] lucasdavid commented on #16836
Turns out this is a duplicate of #14627. So many minutes wasted debugging it... :disappointed:

[2022-07-28 02:23] davinnovation commented on #16835
Hi! Thanks for your response. For clearance, efficientnet lite PR is not my credit - it was PRed by @[sebastian-sz](https://github.com/sebastian-sz) to the TensorFlow repo in 2021 Q3.
This feature is adding "lite:bool" parameter to `tf.keras.applications.efficientnet.EfficientNet` and it makes loadable TF2-TFlite ready [efficientnet-lite keras model](https://github.com/sebastian-sz/efficientnet-li

[2022-07-28 05:12] tu-curious commented on #454
I was able to use the optimizer.variables() attribute like this :

#Get initial states
init_states = [var.value() for var in optimizer.variables()]

#Do the optimization
...

#reset optimizer state to init_state
for val,var in zip(init_states,optimizer.variables()): var.assign(val)

(You can use tf.print(optimizer.variables()) in your optimization loop to verify)

[2022-07-28 14:36] BertSam commented on #16483
Hello, in the same optic, i'd like to use the Discretization layer with output_mode="count" to transform my data into an histrogram and all of that whithin a keras model. However, I have issus with the supported output rank. I'm trying to fing a workaround, but I also have somelimitation because of the supported input rank from the Conv2D layer.

See  a bit of my code and the error bellow:

[code]

[2022-07-28 14:40] mufeedpatel commented on #16826
OLD Verison which was working in Keras 1.2 but not in Keras 2.0 (After lot changes like merge became conactenate and so on ..)

"""

from keras.models import Model
from keras.layers import Input, merge, Convolution2D, MaxPooling2D, UpSampling2D, BatchNormalization, Activation, Flatten, Reshape, Lambda, Dropout
from keras.optimizers import Adam
from keras.callbacks import ModelCheckpoint, ReduceLRO

[2022-07-28 17:41] mihirparadkar commented on #16797
It looks like the only issue is with defining variables in a list starting with an empty list and `append`-ing. Would you agree with this description of the issue, and would you be interested in contributing a fix?

[2022-07-28 20:08] Yacalis commented on #16836
I see, so just to make sure I totally understand what you are saying:

`y_pred.shape == [batch, 1]` after `y_pred = self(x)`. `y_true.shape == [batch]` _before_ being passed to `mean_squared_error`, but is broadcast to be shape `[batch, 1]` _during_ `mean_squared_error`.

In both the compiled and non-compiled cases, `losses.shape == [batch]` after `losses = mean_squared_error(y_true, y_pred).` The

[2022-07-28 22:33] lucasdavid commented on #16836
This is correct.
[code]

No. `loss.shape == [batch]` for the non-compiled (the sequence above).
`loss.shape == [1]` for both compiled and `mse_tracker_metric <MeanSquaredError>`, because both invoke `losses_utils.squeeze_or_expand_dimensions` before/during `MeanMetricWrapper#update_state`.

The only correct value here is the non-compiled one; and this bug is actually pretty funny. I don't think it

[2022-07-28 23:01] Yacalis commented on #16836
Oh no problem, I took it as you intended. Thank you for clarifying all this.

I've never closed an issue before, but I'm feeling like maybe this should be closed. The easiest step would be just to include what the shapes of the data are (or the data itself) in the documentation. It's a very specific problem, but my experience is that MSE alongside a single target variable is not uncommon for regre

[2022-07-29 04:49] JaimeArboleda commented on #16797
I agree with the description: as far as I have noticed, it's the only case where some variables are lost.

I would like to contribute, but I'm afraid my knowledge of Keras internals is poor. I don't think I would be able to contribute much... I've been taking a look at the code and maybe I think I've found a comment that might be relevant (if it helps):

In line 3127 of this file: https://github.c

[2022-07-29 08:43] sushreebarsa commented on #16749
@asukakenji Sorry for the late response!
I hope ResNetRS101.__doc__ is now reflecting
https://github.com/keras-team/keras/blob/dc01c981d7f67ad195bfc3ca983b316f1719ccc1/keras/applications/resnet_rs.py#L979-L983
Could you please move this issue to closed status if it is resolved. Thank you!

[2022-07-29 09:50] sushreebarsa commented on #16834
@ewwll Could you please confirm if it is a duplicate of [this](https://github.com/keras-team/keras/issues/16836) ticket?
Thank you!

[2022-07-29 11:13] sushreebarsa commented on #16826
@mufeedpatel Could you please provide the colab gist or notebook link to replicate the issue reported here?
I tried to replicate the issue, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/1d55080c6ab34fd882096b6dafc3c865/16826.ipynb) and let me know if i'm missing something to replicate the issue.
Thank you!

[2022-07-29 11:46] tilakrayal commented on #16825
@Saboteur20,
Could you share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-07-29 13:05] sebastian-sz commented on #16835
@davinnovation Hi, sorry for not reopening the PR in Keras repository as promised.

If it will be accepted I am planning to add these models to [keras-cv](https://github.com/keras-team/keras-cv) - I think this is the target place to add new vision `keras.applications`.

[2022-07-29 15:53] #16825 closed

[2022-07-29 16:58] tilakrayal commented on #16132
@mortezamg63 ,
As mentioned in the above comment, contrib layers are deprecated and remove old `tf.contrib.layers` and replace them with [TF Slim](https://github.com/google-research/tf-slim) symbols. Also check [TF Addons](https://www.tensorflow.org/addons) for other `tf.contrib` symbols.

Please take a look at this doc [link](https://www.tensorflow.org/guide/migrate) which provides more informati

[2022-07-29 17:41] 20Saboteur20 opened #16849 "[URGENT] There is less inputs received while giving the exact number of inputs required 2.0"
This is a follow up to this issue #16825, which I just closed from my previous account , given that it has been just sanctioned by GitHub because I am living in a US sanctioned country , because of this I can't do anything with the previous account.
continuing with the issue , the assigned account @tilakrayal has already asked me to create a gist ; so here it is https://gist.github.com/20Saboteur2

[2022-07-29 18:36] rchao commented on #16797
No worries, thanks for letting us know. Given the priority we think this issue has, we'll keep it opened as a community contribution item.

[2022-07-29 19:46] mikeymezher commented on #15698
@csteel45 Thanks for posting this - I'm running into the same issue.
Did you happen to find a work around?

[2022-07-29 22:50] haifeng-jin commented on #16720
@chaudharyachint08 I do not have the environment to reproduce this bug. So is it only reproducable on M1?

[2022-07-30 01:55] AryaAftab opened #16852 "Implement the `compute_output_shape` method on MultiHeadAttention"
TensorFlow version : 2.9.1
Exception encountered when calling layer TimeDistributed on model contained MultiHeadAttention.

error:
Please run in eager mode or implement the `compute_output_shape` method on your layer (MultiHeadAttention).

[2022-07-30 12:27] asukakenji commented on #16749
Fixed by https://github.com/keras-team/keras/pull/16751

[2022-07-30 12:27] #16749 closed

[2022-07-31 15:02] #16696 closed

[2022-07-31 15:38] Jm-Paunlagui commented on #4875
I'm facing the same issue too

[2022-08-01 04:26] sushreebarsa commented on #16852
@AryaAftab
Could you please elaborate about your feature and specify the use cases for this feature. Thank you!

[2022-08-01 05:44] shouldsee commented on #4875
Maybe we should add some sanity check for `model.save`, to see whether the saved model reproduce some expected results?

[2022-08-01 06:00] frigeriomtt opened #16853 "tf.keras.utils.split_dataset does not seem to work"
**System information**.
-GPU : Tesla T4  (Google colab)
-Python 3.7.13

- Exact command to reproduce:
* run this on google colab: `!pip3 install tf-nightly`
* load train and validation dataset from a directory with at least 63000 rgb pictures (splitted in four classes/subdirectories) passing 'both' as value of the subset parameter and 0.2 as value for the validation_split parameter of method [imag

[2022-08-01 06:02] gadagashwini commented on #16835
Hi @sebastian-sz, It would be great if you raise PR in this repo. Thank you!

[2022-08-01 06:05] gadagashwini commented on #16836
Hi @Yacalis, Can move this issue to closed status, if it resolved for you. Thank you!

[2022-08-01 06:12] sebastian-sz commented on #16835
@gadagashwini in "this" repo, do you mean keras-cv or keras?

[2022-08-01 09:59] tilakrayal commented on #16794
@OUStudent,
Could you please try to open the link of the available models( `Xception`, `VGG16`, `VGG19`, `ResNet50`), It will provided the required details as mentioned [here](https://keras.io/api/applications/xception/). Thank you!

[2022-08-01 10:59] JaimeArboleda commented on #16797
I agree with the low priority. May I suggest if we could just reflect that this is the behaviour in the documentation? I believe it's ok as long as it is stated somewhere and it does not create "unexpected surprises" that can be difficult to detect (if you don't check the training weights, the model will compile and train, but the performance will be worse -depending on how many variables are not

[2022-08-01 11:11] tilakrayal commented on #16849
@gadagashwini,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/5df9137af0838c148edb46e720bb07ba/2-8university_project.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/15494785b3fa1709b7a323e88701b180/2_9university_project.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/2

[2022-08-01 15:11] tilakrayal commented on #16853
@frigeriomtt,
To expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using. Thank you!

[2022-08-01 16:45] #16727 closed

[2022-08-01 16:54] OUStudent commented on #16794
Thank you. It seems that the code for how the models are created are detailed but what about code for training? Other than the paper, I don't see those details when I open any specific model link.

[2022-08-01 19:45] AryaAftab commented on #16852
The `compute_output_shape` method is a common method in Keras layers. This method basically determines the output shape of that layer. In my usage, I passed a `tf.keras.layers.MultiHeadAttention` layer to the `tf.keras.layers.TimeDistributed` wrapper and unfortunately the wrapper was not able to handle the `MultiHeadAttention` layer. To solve this problem, the `compute_output_shape` method needs t

[2022-08-01 21:01] chenmoneygithub opened #16857 "Tensorboard callback is blocking process"
As pointed out by our user, the Tensorboard callback is doing blocking I/O, which means the training is halted until the writing finishes. This creates a performance bottleneck especially when writing to cloud storage.

[2022-08-01 21:21] mgraczyk commented on #16857
It's been a while since I've looked at this code, but I think this is what happens.

tf.summary.create_file_writer creates a `_ResourceSummaryWriter`
https://github.com/tensorflow/tensorflow/blob/v2.9.1/tensorflow/python/ops/summary_ops_v2.py#L559

The summary context manager always calls `writer.flush()`
https://github.com/tensorflow/tensorflow/blob/v2.9.1/tensorflow/python/ops/summary_ops_v2.py#

[2022-08-01 22:27] #16763 closed

[2022-08-01 22:27] #16782 closed

[2022-08-01 22:28] #16759 closed

[2022-08-01 22:28] #15345 closed

[2022-08-01 22:28] #16783 closed

[2022-08-01 22:28] #16737 closed

[2022-08-01 23:15] rchao commented on #16797
Agreed - since you've been just looking into this, mind sending us a PR for the documentation updates?

[2022-08-02 06:08] sushreebarsa commented on #16852
@AryaAftab Thank you for the update!
Please move this issue to closed status if it is resolved for you ?
Thank you!

[2022-08-02 06:33] #16852 closed

[2022-08-02 10:14] JaimeArboleda commented on #16797
Ok, done:

https://github.com/keras-team/keras/pull/16858

It's the first PR in my life, so if I did something wrong please tell me :)

[2022-08-02 16:40] qlzh727 commented on #16797
Took a look for the PR and the repro, it is bit weird that the layer and model are treating and tracking the weights differently. From API perspective, the subclass model is just a subclass layer with additional training logic. The weights tracking behavior should be the same between model and layer. I think we should fix this on the keras side.

[2022-08-02 22:27] #14914 closed

[2022-08-02 23:16] gowthamkpr opened #16862 "What is the difference between model.__call__ on TensorSpec and Tensor"
Attaching this issue

https://github.com/tensorflow/tensorflow/issues/56677

[2022-08-03 06:53] MrKZZ commented on #14345
I try your mention, save_weights, create the model, and load_weights, but get this error:

ValueError: Unable to load weights saved in HDF5 format into a subclassed Model which has not created its variables yet. Call the Model first, then load the weights.

Similar, I build my model using transformers. In init function, I build a albert and load weight by from_pretrained()

[2022-08-03 07:33] JaimeArboleda commented on #16797
Yes, this makes a lot of sense. Probably inspecting how the Model tracks the weights in this situation should give a clue about how to fix the Layer class. I will try to take a look and see if I can do it.

[2022-08-03 11:51] frigeriomtt commented on #16853
@tilakrayal  thanks for answering, here what you asked for:

`
v1.12.1-79111-g5134091134e # tf git version
`
`
2.11.0-dev20220803 # tf version
`

[code]

[2022-08-04 02:12] divyashreepathihalli commented on #16833
- I tried setting `include_optimizer=True`. I still see that optimizer weights are not being saved. I found a similar issue here https://github.com/tensorflow/tensorflow/issues/40380. Tagging @k-w-w for more info.

[2022-08-04 03:06] divyashreepathihalli commented on #16809
Closing this since this has been submitted as a PR and is currently being reviewed here - https://github.com/keras-team/keras/pull/16816

[2022-08-04 03:06] #16809 closed

[2022-08-04 17:08] divyashreepathihalli commented on #16862
this would be a better place to ask this question - https://discuss.tensorflow.org/.

[2022-08-04 18:08] qlzh727 commented on #16862
See https://github.com/keras-team/keras/blob/30bf872258415cd4a83ac1a33b031cc804981a9c/keras/engine/base_layer.py#L1019. Keras layer/model only care about tensor or tensor like objects (np, list, etc). All the other types are filtered and not reach layer.call() method.

[2022-08-04 18:08] #16862 closed

[2022-08-04 19:13] gowthamkpr commented on #16754
@acfrock @t-kalinowski Looks like this issue is related to this [issue](https://github.com/tensorflow/tensorflow/issues/36901). There has been a [PR](https://github.com/keras-team/keras/commit/214d11055890d5f3dcc83d2af69ad17089b8177d) that has been merged. Please confirm if otherwise. Thanks!

[2022-08-04 19:35] ricvo commented on #16123
Just tested on 2.9.1

Let's say I have a composed model made of two model components, model1 and model2

Now I would like to get a model extracting the output of the 3rd layer of the 2nd model, starting from the input.
Based on @isaacgerg suggestion, I would expect the following code to work.

[code]
But instead I get
*** ValueError: Graph disconnected: cannot obtain value for tensor KerasTensor(t

[2022-08-05 00:47] KingsleyLiu-NV commented on #16862
@qlzh727  I don't think feeding `tf.keras.Input(shape=(10,))` will not get the model executed: if  I replace `tf.print()` with `print()`, I can see the log like this:

[code]

Can you explain this? I think the model is executed when feeding `tf.keras.Input(shape=(10,))` but `tf.print()` does **NOT** print the log, while `print()` does. This is really confusing for users.

[2022-08-05 11:27] #16795 closed

[2022-08-06 02:14] MiraGaikwad opened #16873 "ValueError: Unknown layer: PruneLowMagnitude. Please ensure this object is passed to the `custom_objects` argument. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): I have used pre-trained model for InceptionNetV3 and last layer was train and then doing pruning on it.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google colab
- TensorFlow installed from (source or binary): on colab
- TensorFlow version (use command below): 2.8
- Py

[2022-08-06 14:38] bvbellomo commented on #16827
Using Keras 2.9.0

[2022-08-06 14:41] bvbellomo commented on #16827
`import tensorflow as tf
import numpy as np
from keras.models import Functional
from keras.layers import Dense, Conv1D, GlobalAveragePooling1D, Input, BatchNormalization

training_samples = 128
validation_samples = 32
sample_size = 64
sample_vals = 5

x_train = np.reshape(
    np.random.randint(0, 255, training_samples * sample_size * sample_vals),
     (training_samples, sample_size, sample_vals)

[2022-08-06 14:42] bvbellomo commented on #16827
_Output as written_

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS E:\repos\class\Dissertation\Python> & C:/Users/brad/AppData/Local/Programs/Python/Python310/python.exe e:/repos/class/Dissertation/Python/bug.py
2022-08-06 10:41:38.353386: I tensorflow/core/platform/cpu_feature_guard.cc:193] This Tenso

[2022-08-06 14:44] bvbellomo commented on #16827
_Output with line 25 commented out_

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS E:\repos\class\Dissertation\Python> & C:/Users/brad/AppData/Local/Programs/Python/Python310/python.exe e:/repos/class/Dissertation/Python/bug.py
2022-08-06 10:44:14.228354: I tensorflow/core/platform/cpu_feature_guard.cc

[2022-08-07 14:50] mj-mayank commented on #16694
@tilakrayal I am not sure what else to do here, since @dkargilis is able to access the notebook

[2022-08-07 16:15] douglas125 commented on #16656
Any way to use tf.map_fn instead? Same bug

[2022-08-08 04:56] gadagashwini commented on #16406
Hi @AnandaRauf, Could you share your complete code to investigate issue or raise new issue by providing all the information. Thank you!

[2022-08-08 07:08] HeewonChung92 commented on #16645
@gowthamkpr
 I think it will take some time because I have a lot of work to do. I will check and let you know which layer is the problem.

[2022-08-08 10:54] tilakrayal commented on #16873
@MiraGaikwad,
I ran the code and faced a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/0fe248dd0adeb252792242f8e922ecd9/untitled476.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

[2022-08-08 12:16] tilakrayal commented on #16853
@frigeriomtt,
I ran the code and faced a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/c642e81fde78dc025cae4667af0bfbac/untitled477.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error. Thank you!

[2022-08-08 14:44] cevheck opened #16876 "Returning model with best weights when EarlyStopping is not triggered and restore_best_weights=True"
TensorFlow version (you are using):
TF 2.5.0

Are you willing to contribute it (Yes) :

**Describe the feature and the current behavior/state**.
At this moment, EarlyStopping will only return the best performing model when EarlyStopping occurs due to no increase in performance over "patience" amount of epochs. Looking at the case where the complete training process is completed without invoking ea

[2022-08-08 17:06] #16794 closed

[2022-08-08 19:47] fchollet commented on #16784
I would recommend simply adding a `convert_to_tensor` call when receiving a non-None mask in `MultiHeadAttention.__init__`. Thank you!

[2022-08-08 20:06] qlzh727 commented on #16862
There are differences between tf.print and python print.

tf.print is adding an op to the graph, which will print out tensor values when the grpah is executed. If there isn't an graph/tf.function to be executed (eg in your tf.keras.Input() case, it is just a placeholder), the tf.print will not give u anything.

print is pure python funciton, which will be executed when trace a tf.function (doesn't

[2022-08-09 00:41] KingsleyLiu-NV commented on #16862
Understood, thanks.

[2022-08-09 03:19] #14580 closed

[2022-08-09 03:19] #15249 closed

[2022-08-09 03:20] #15701 closed

[2022-08-09 03:20] #15710 closed

[2022-08-09 03:21] #15818 closed

[2022-08-09 03:21] #15832 closed

[2022-08-09 03:21] #15980 closed

[2022-08-09 03:21] #16039 closed

[2022-08-09 03:21] #16129 closed

[2022-08-09 03:21] #16131 closed

[2022-08-09 03:21] #16181 closed

[2022-08-09 03:22] #16248 closed

[2022-08-09 03:22] #16320 closed

[2022-08-09 03:25] chenmoneygithub commented on #16497
Sorry for missing this issue (somehow it slipped away).

I like the idea of flexible dtype, actually in the [experimental Keras optimizer](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/experimental/Optimizer#add_variable), there is a method `add_variable` that suits your needs, could you check if that works?

Thanks, and sorry again!

[2022-08-09 03:25] chenmoneygithub commented on #16517
Sorry, I forgot to reply. We have fixed the multiplier issue.

[2022-08-09 03:25] #16517 closed

[2022-08-09 03:26] #16560 closed

[2022-08-09 03:32] chenmoneygithub commented on #16656
Sorry I don't have enough insights on this one. Will triage in the meeting.

[2022-08-09 03:34] chenmoneygithub commented on #16833
It's actually expected that optimizer weights are not saved with the model. If you are looking for a way to resume training, you may need to save with [checkpoint](https://www.tensorflow.org/guide/checkpoint) instead of Keras saved model.

[2022-08-09 03:34] #16833 closed

[2022-08-09 03:34] #16699 closed

[2022-08-09 08:50] OmriSteiner commented on #15832
@chenmoneygithub This still seems to reproduce in the nightly build (`2.11.0-dev20220808`).

[2022-08-09 09:28] emailic opened #16880 ".fit method could have an argument for deleting broken files"
**System information**.

TensorFlow version (you are using): 2.8.2
Are you willing to contribute it (Yes/No) : yes

**Describe the feature and the current behavior/state**.
Currently, when trying to fit a VGG16 model with a dataset containing some broken image files, the method simply returns an UnidentifiedImageError by PIL. Instead, it would be good to include an argument into the fit method whi

[2022-08-09 10:06] #16748 closed

[2022-08-09 11:58] albertz commented on #15710
This was closed without comment. Has this been fixed? What commit?

[2022-08-09 19:04] kkadu opened #16881 "Incompatible shapes issue when prediction output and actual output dimensions differ"
I am trying to create a multi-class classification model with Keras and it appears that when I try to fit the model, the shapes in the output are different that target. Although, I am not explicitly defining the shape in the code though.

[code]
This is how the output looks like -

[code]
Now as you can see the output shape for code4 labels is (None, 265)

[code]
Error Message:
[code]
Although thi

[2022-08-09 22:49] #16836 closed

[2022-08-10 01:54] mercarikaicheung commented on #16657
Any update on the capability?

[2022-08-10 09:23] tilakrayal commented on #16880
@emailic,
Could you please share a reproducible code that supports your statement so that the issue can be easily understood? Thank you!

[2022-08-10 10:04] emailic commented on #16880
Hi @tilakrayal ,
thanks for getting back to me.

`image_gen_train = ImageDataGenerator(rescale = ./255)`
`train_data_gen = image_gen_train.flow_from_directory(batch_size = batch_size,
directory = train_dir,
shuffle= True,
target_size = (IMG_SHAPE,IMG_SHAPE),
class_mode = 'categorical')`

`image_generator_validation = ImageDataGenerator(rescale=1./255)`
`val_data_gen= image_generator_validation.flo

[2022-08-10 22:53] froody commented on #16833
@chenmoneygithub the documentation clearly states that save_model includes "the model's optimizer's state (if any)". What's the point of saving the optimizer if none of it's internal state is saved?

https://www.tensorflow.org/api_docs/python/tf/keras/models/save_model

[2022-08-10 23:25] MiraGaikwad commented on #16873
@tilakrayal Could you please share your email id ? I can give access to google drive where I have dataset to replicate the process ?

Cheers
Mira

[2022-08-11 03:37] godhj93 commented on #13782
I'm using following code to make "model.summary" work.

[code]

[2022-08-11 06:19] tilakrayal commented on #16827
@bvbellomo,
I was able to execute the code without any issues. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b4debb257be9de80ae25bf3395fad1a4/untitled484.ipynb) and let us know if we are missing anything here.

[2022-08-11 06:34] tilakrayal commented on #16853
@frigeriomtt,
Without the reproducible code and the dependencies, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, could you please provide a complete code snippet you are using. Thank you!

[2022-08-11 07:59] ghylander commented on #12803
It seems like this was silently implemented with the release of tf API v2.8.

I just checked the [tf docs for the ModelCheckpoint callback](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint) and it now shows the following:
![image](https://user-images.githubusercontent.com/74593034/184089175-7e93e62b-03f1-4ae9-8ebc-6b57f220d871.png)

[2022-08-11 09:59] zhenhao-huang opened #16888 "ValueError: Quantizing a tf.keras Model inside another tf.keras Model is not supported."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu18
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):2.6.0
- Python version:3.6
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to reprod

[2022-08-11 11:45] zhenhao-huang opened #16889 "ValueError: Please initialize `Prune` with a supported layer. Layers should either be supported by the PruneRegistry (built-in keras layers) or should be a `PrunableLayer` instance, or should has a customer defined `get_prunable_weights` method. You passed: <class 'keras.layers.core.TFOpLambda'>"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):y
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu18
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):2.6.0
- Python version:3.6
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to reprod

[2022-08-11 12:02] Moshiur-Rahman-Faisal commented on #1872
just use
callback = tf.keras.callbacks.experimental.BackupAndRestore(
backup_dir="temp")

[2022-08-11 13:51] sushreebarsa commented on #16881
@kkadu
In order to expedite the trouble-shooting process, please provide the dataset to reproduce the issue reported here. Thank you!

[2022-08-11 13:55] sushreebarsa commented on #16889
@zhenhao-huang I tried to replicate the issue on colab, could you please find the [gist](https://colab.research.google.com/gist/sushreebarsa/3a2d3a1969776fa796d3fa6d8a2d9afb/16889.ipynb#scrollTo=kVn5voBqLZs2) here and confirm the same?
Thank you!

[2022-08-11 15:20] zhenhao-huang commented on #16889
Yes, that's right.And I also want to ask other questions:`tfmot.sparsity.keras.strip_pruning()` should be better used before or after `model.fit`?

    model = tfmot.sparsity.keras.prune_low_magnitude(model)
    model.fit()
    prune_model = tfmot.sparsity.keras.strip_pruning(model)
    prune_model.save_model()

or

    model = tfmot.sparsity.keras.prune_low_magnitude(model)
    prune_model = tfmo

[2022-08-11 16:55] frigeriomtt commented on #16853
@tilakrayal I'm sharing with you a [directory](https://drive.google.com/drive/folders/1D_BOo6ozkoBwPNXDRXTfQpQTOZt0T59g?usp=sharing) with both the reproducible code and the dataset; you'll have to adjust the path strings in accord with the  structure of your gdrive (I suggest you to add a shortcut of the 'shared with keras' folder from the 'shared with me' directory to the MyDrive one, doing so th

[2022-08-11 17:05] chenmoneygithub commented on #16880
Thanks for reporting the issue! You can actually use`tf.data.experimental.ignore_errors` to skip broken samples.

[2022-08-11 19:35] jtchilders commented on #15698
I'm running into a similar issue on 40GB A100 DGX machines.

[2022-08-12 08:26] arghanath007 commented on #15931
Why should we remove it? It is needed right? I am also getting the same error on tensorflow: 2.8.2 on google Colab.

[2022-08-12 10:07] tilakrayal commented on #16873
@MiraGaikwad,
Could you please attach the code here or provide the colab gist to reproduce the issue. Thank you!

[2022-08-12 11:06] #16834 closed

[2022-08-12 11:07] tilakrayal commented on #16888
@zhenhao-huang,
 Could you please try to modify your code as mentioned below and try to execute.

[code]

The model summary shows all of the layers including the base_model. Then please try to apply:

[code]

[2022-08-12 11:35] zhenhao-huang commented on #16888
I tried it, but there was a mistake.

    Traceback (most recent call last):
      File "C:/Users/laozhenyao/Desktop/code/src/models/mbn_v2_13_block.py", line 201, in <module>
        model = tfmot.quantization.keras.quantize_model(model)
      File "C:\Users\laozhenyao\anaconda3\envs\tf2x\lib\site-packages\tensorflow_model_optimization\python\core\quantization\keras\quantize.py", line 141, in qua

[2022-08-12 12:56] csteel45 commented on #15698
I did not find a work-around other modifying gpu_launch_config.h and recompiling or reducing the tensor size. I am surprised they haven't fixed this yet.

[2022-08-12 13:54] jtchilders commented on #15698
Thanks, is`gpu_launch_config.h` the only place this needs editing?

[2022-08-12 15:28] gowthamkpr commented on #16849
@20Saboteur20 This is similar to this [issue](https://github.com/tensorflow/tensorflow/issues/36508). Please take a look at the solution provided [here](https://stackoverflow.com/questions/72993170/unknownerror-graph-execution-error-fail-to-find-the-dnn-implementation-google). Thanks!

[2022-08-12 15:49] jtchilders commented on #15698
Just to be clear, @csteel45, you made this change to `tensorflow/core/util/gpu_launch_config.h`:
[code]

[2022-08-12 16:26] csteel45 commented on #15698
Apologies, it has been a while and I have moved on from that model. I really can't remember if there were any other changes. I did get it working, so there is a way. Try that change and it if fails, checks the messages and make updates elsewhere where required. This was for a POC so I didn't track any changes or take any notes, I just hacked away until it worked. I'm not sure I even have the fixed

[2022-08-12 18:06] #16810 closed

[2022-08-12 18:06] #16132 closed

[2022-08-13 01:09] MiraGaikwad commented on #16873
@tilakrayal - Please find the attached code -

after the pruned code while loading pruned model you can see the error in below fine -
(
[Pruned_Formatted_InceptionnetV3_01.zip](https://github.com/keras-team/keras/files/9330501/Pruned_Formatted_InceptionnetV3_01.zip)
)

Dataset I used is from this link - https://www.kaggle.com/code/brsdincer/land-use-scene-classification-all-process/data

[2022-08-13 15:59] bvbellomo commented on #16827
This has the same problem, 'My Input Data' does not show in the model summary, nor does the first batch normalization.

[2022-08-13 17:42] gowthamkpr commented on #15253
@sivaramakrishnan-rajaraman Could you try again changing code from loss=[cs_divergence] to loss=cs_divergence . Also please go through the [documentation](https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_losses) of creating custom losses. Thanks!

[2022-08-13 17:50] gowthamkpr commented on #16151
@DagonArises There are a few paths that can cause gradient explosion in LSTM cells. Please go through the explanation [here](https://stats.stackexchange.com/questions/320919/why-can-rnns-with-lstm-units-also-suffer-from-exploding-gradients). Thanks!

[2022-08-13 18:05] gowthamkpr commented on #16143
We are no longer maintaining KerasClassifier. Can you please forward this issue to https://github.com/adriangb/scikeras.Thanks!!

[2022-08-13 18:51] gowthamkpr commented on #15357
@valentin-fngr Yes this is a pipeline problem. The solution is mentioned [here](https://stackoverflow.com/questions/46464549/keras-custom-loss-function-accessing-current-input-pattern/46465774#46465774). Please close this issue. Thanks!

[2022-08-15 07:06] #16738 closed

[2022-08-15 08:31] DeependraParichha1004 opened #16894 "Understanding TimeDistributed Layer in Keras"
**System information**.

TensorFlow version (2.9.1):
Are you willing to contribute it (No) :

**Describe the feature and the current behavior/state**.

Where does the use of TimeDistributed Layer come most? Is it significant to use this layer instead of the Dense layer, even after getting the same result?

[2022-08-15 09:06] andreped commented on #16656
Any update on this?

I was planning on using the new architectures with TimeDistributed in a study, but I am unable to until this is solved.

[2022-08-15 09:16] zhenhao-huang commented on #16888
tfmot don't support `+` sign，but support `tf.keras.layers.Add()`.

[2022-08-15 09:16] #16888 closed

[2022-08-15 09:57] andreped commented on #16633
Just mentioning that I have a stable implementation for gradient accumulation now, as a temporary solution until Keras adds a proper method for it:
https://github.com/andreped/GradientAccumulator

- Simply wrap the model to add gradient accumulation support (see [here](https://github.com/andreped/GradientAccumulator#usage) for usage).
- Compatible with mixed precision training.
- As an alternative

[2022-08-15 11:41] andreped commented on #16894
@DeependraParichha1004 I would suggest asking these types of questions on stack overflow.

You are not supposed to swap TimeDistributed with a Dense layer (or similar). The function of the TimeDistributed layer is to wrap around another layer (or keras model) to apply a specific layer along the temporal axis, without storing replicas for each temporal item in memory ([see docs](https://keras.io/ap

[2022-08-15 15:17] tilakrayal commented on #16694
@mj-mayank,
As mentioned, I do not have access to the link you have provided. Could you please provide the required permissions to view the files. Thank you!

[2022-08-15 18:26] wainoma commented on #6447
Me too.. stressed for months

On Windows + Tensorflow-gpu 2.4 + CUDA 11.6:
  tanh => relu, predict => predict_on_batch  are effective.
On Ubuntu 20.04  + Tensorflow-gpu 2.6/2.9+ CUDA 11.4:
  relu or predict_on_batch not effective.

Remove MaxPooling2D() before Flatten():
Conv2D() > MaxPooling2D() > Flatten() => Conv2D() > Flatten()

I don't know a reason, but solved.

[2022-08-16 05:20] aravinthk00 opened #16901 "AttributeError: 'NoneType' object has no attribute 'get'"
below this my error log anyone give solution , thanks in advance ..

Traceback (most recent call last):
  File "main.py", line 34, in <module>
    helper.exec()
  File "C:\Users\30863\Downloads\Function-level\src\helper.py", line 345, in exec
    model = self.modelLoader()
  File "C:\Users\30863\Downloads\Function-level\src\helper.py", line 112, in modelLoader
    trained_model = load_model(traine

[2022-08-16 06:42] gadagashwini commented on #16835
Hi @sebastian-sz, Apologies for delayed response. Please raise PR on Keras repo. Thank you!

[2022-08-16 09:46] tilakrayal commented on #16894
@DeependraParichha1004,
Could you please take a look at this [comment](https://github.com/keras-team/keras/issues/16894#issuecomment-1214919423) and also the doc [link](https://keras.io/api/layers/recurrent_layers/time_distributed/) for the required information reg. Time Distributed Layer and let us know if you are looking for the same.

In `keras` - while building a sequential model - usually the

[2022-08-16 10:24] tilakrayal commented on #16853
@frigeriomtt,
I do not have access to the link you have provided. Could you please provide the required permissions to view the files or the colab gist with the reproducible code. Thank you!

[2022-08-16 11:10] aravinthk00 commented on #6104
I also facing same error , could you give a solution

Traceback (most recent call last):
  File "main.py", line 34, in <module>
    helper.exec()
  File "C:\Users\30863\Downloads\Function-level\src\helper.py", line 284, in exec
    class_weight = class_weights)
  File "C:\Users\30863\Anaconda3\envs\pythonProject1\lib\site-packages\keras\engine\training.py", line 1039, in fit
    validation_steps=v

[2022-08-16 13:36] falk-stefan commented on #13453
@maxhardt thanks for the example above. But one question: What if I wanted to compute only one function - one combined loss like.

Basically something like this:

[code]

I can see a workaround which would look like this:

[code]

but is this the best we can do?

[2022-08-16 13:39] cheyennee opened #16902 "tf.keras.layers.Dense / tf.keras.layers.GRU / tf.keras.layers.SimpleRNN documentation wrong"
The parameter 'units' is a positive integer on documentation. However, when 'unit' is 0, code works. And when 'unit' is -1, the error message is "Error:Dimension -1 must be >= 0". So 'units' is not a negative integer whose value can be set to positive integer and zero.

[code]
'''
results = {'res': <tf.Tensor: shape=(3, 50, 0), dtype=float32, numpy=array([], shape=(3, 50, 0), dtype=float32)>}
'''

[2022-08-16 14:23] sebastian-sz commented on #16835
@gadagashwini thanks, I will try to have a PR ready by the end of the week.

[2022-08-16 16:26] sushreebarsa commented on #16901
@aravinthk00
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-08-16 16:40] aravinthk00 commented on #16901
Hi , I am small boy on this field ( Github and others ) , so please  which code snippets you want asked to me

[2022-08-16 16:44] hertschuh commented on #16656
@andreped a fix for this was pushed yesterday.
If you `pip install tf-nightly` you can get a version of Tensorflow and Keras with the fix and the code above should work.

[2022-08-16 17:04] andreped commented on #16656
Just tried running the [test script](https://github.com/keras-team/keras/issues/16656#issue-1261037447) above using the nightly build. No errors prompted for any of the architectures. Brilliant! :]

Will test this on some downstream training and inference pipelines tomorrow, but for now I believe this issue has been solved. @douglas125: Would be great if you could test if the nightly build works f

[2022-08-16 17:48] gowthamkpr commented on #16013
@LukeWood @roebel This is still an issue in the `tf_nightly-2.11.0.dev20220816`. Here is the [gist](https://colab.research.google.com/gist/gowthamkpr/44cba5aaa2a29399351d8e18fe0d0434/untitled.ipynb) for reference. Thanks!

[2022-08-16 18:20] gowthamkpr commented on #12803
@easadi Can we close this issue as it has been implemented as shown [above](https://github.com/keras-team/keras/issues/12803#issuecomment-1211666760). Thanks!

[2022-08-16 18:28] jbischof commented on #16902
Are the docs wrong or is our input validation wrong @cheyennee? It doesn't seem like a `Dense` layer with zero units has no utility and thus is unlikely to be the user intention. My inclination would be to add a `ValueError` for `units=0`.

[2022-08-16 18:29] easadi commented on #12803
Yes please.

[2022-08-16 18:35] jbischof commented on #16901
@aravinthk00 please provide the small, standalone code snippet or colab which reproduces the error. We will not have the bandwidth to debug complex e2e pipelines.

[2022-08-16 19:02] frigeriomtt commented on #16853
@tilakrayal  I received your request and granted permission to your account, you should now be able to access the data (the file is named 'To be shared.ipynb'); thank you, and let me know if something emerge.

[2022-08-16 19:35] douglas125 commented on #16656
Yes, problem solved, well done. I didn't test it using my current prod pipeline (tf==2.8.2 there iirc) but the model now builds correctly.

For the record (using Colab):

Current version:
[code]

output:

[code]

Nightly:

[code]

Nightly output:
[code]

[2022-08-16 20:53] gowthamkpr commented on #14126
@AngledLuffa Sample weight for class imbalances is quite wasteful. One may not feel that when dealing with small datasets but it would become quite clear when dealing with volume data.Rather than wasting all the space to define similar values for an entire class incorporated into sample weights, one can write customized loss functions and split the loss function into multiple sums each with a sing

[2022-08-16 21:07] AngledLuffa commented on #14126
Why do I need to close the issue?  Presumably the keras team could decide to implement one of the solutions described in that thread and then close the issue as completed, or they could decide they won't implement it and close it as will not fix.

[2022-08-16 23:32] cheyennee commented on #16902
Zero units may not really be useful, but I think the user should be allowed to input 0 units, just as the user can input 0-batch dim tensors. @jbischof  Maybe users really have this need? 😂

[2022-08-17 09:02] tilakrayal commented on #16902
@cheyennee,
Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-08-17 09:15] andreped commented on #16656
Might be a silly question. I am not that familiar with tf-nightly vs stable version of TF/Keras. I have often have challenges with imports when using nightly. I experienced the same now.

Instead of importing stuff from `tf.keras`, I had to throw in python, such that `tf.python.keras`, which is what I used to do back in the TF==1.13.1 days, but I have not had the same issue in TF==2.x, until testi

[2022-08-17 09:20] andreped commented on #16656
I managed to get imports somewhat working by throwing lots of `python` boys in the imports, such that `from tensorflow.python.keras import stuff`.

I was able to use the methods within mixed_precision by using `tf.keras.mixed_precision.LossScaleOptimizer` directly, instead of importing like so `from tensorflow.keras import mixed_precision`. Rather strange that this worked in TF==2.9.x and not nigh

[2022-08-17 09:45] arpit196 opened #16906 "loss and accuracy different on Custom fit function using train_step function compared to normal training"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-08-17 09:59] tilakrayal commented on #16873
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v2.9. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/2609ab440a1b578db25729db1e7f2613/16873.ipynb).

[2022-08-17 11:18] andreped commented on #16656
I just got an issue with TimeDistributed on one of my trainings. Everything starts and runs, but after a while it failed.
This was observed using the `MobileNetV3Small` architecture in a multiple instance learning setting, where TimeDistributed is commonly used.
[code]

[2022-08-17 11:48] andreped opened #16907 "ConvNeXt not compatible with mixed precision"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): nightly
- TensorFlow version (use command below): 2.11.0a20220816
- Python version: 3.8.10
- GPU model and memory: NVIDIA Quadro RTX 6000 (24 GB VRAM)
- Do you

[2022-08-17 12:03] sushreebarsa commented on #16906
@arpit196
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-08-17 14:00] arpit196 commented on #16906
(trainX,trainY), (testX,testY) = tf.keras.datasets.cifar10.load_data()
import sklearn

#trainX, valX, trainY,valY = sklearn.model_selection.train_test_split(trainX,trainY,test_size=0.2)
trainX1 = []
trainY1 = []
trainuns = []
trainunsY = []
for c in range(0,10):
  indices = tf.where(trainY==c)
  subtrain = trainX[indices[:,0]]
  withlab = subtrain[0:400,:,:,:]
  print(subtrain[400:,:,:,:].shape)

[2022-08-17 17:59] gowthamkpr commented on #14907
@annyan09023 Did `DatasetCreator` help you in solving the issue? Thanks!

[2022-08-17 18:58] gowthamkpr commented on #14909
@Oezkan23 Please go through this [solution](https://stackoverflow.com/questions/72256978/how-to-modify-tensor-inside-custom-layer-tensorflow) you like to modify tensor inside a custom layer.

[2022-08-17 19:09] gowthamkpr commented on #15065
@JulianCologne This is an expected behavior and is not a bug of any sort. Can you please go ahead and close the issue. Thanks!

[2022-08-17 19:25] gowthamkpr commented on #15066
@kacper-kleczewski You cannot reshape inputs.get_shape() because you do not know the dimension statically. That is the cause of the error. You can go through similar explanation [here](https://github.com/tensorflow/models/issues/6245#issuecomment-623877638). Thanks!

[2022-08-18 07:30] Zahlii opened #16912 "Fitting with generators and sample weights crashes when batch size varies between steps with 3D output"
Copy of https://github.com/tensorflow/tensorflow/issues/57158

When training a model with a generator (from dataset.from_tensor_slices) and including sample weights where the batch size varies, an error is thrown.

Note: This test for us previously worked as expected in TF<2.6!

Code also available here: https://colab.research.google.com/gist/sushreebarsa/f05f31c10c6155387aedd5951091979b/57158.ipy

[2022-08-18 08:34] RezuanaHaque opened #16913 "For test_datagen.flow from directory, what should I specify the class_mode?"
I'm attempting to create a CNN model using image data. My entire data set was divided into train, test, and validation. I used class_mode = 'categorical' for the training data since training data needs labels, and class_mode = None for the test data because testing shouldn't be done with labels. the snippet of code
[code]

when I specify `class_moede=None` in the `test_generator`,

`model.evaluate

[2022-08-18 09:46] sushreebarsa commented on #16912
@gadagashwini  I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/f05f31c10c6155387aedd5951091979b/57158.ipynb#scrollTo=gkT5Zc0M22pg) here. Thank you!

[2022-08-18 11:57] cheyennee opened #16914 "filters can be set to float value in tf.keras.layers.Conv1D"
Parameter 'filters' should be an integer, because it's relevant to the dimensionality of the output space. Also it must be an integer written on the document. However, I find that when the type of filters is float, code works.
Same problem is found in similar APIs:
_tf.keras.layers.Conv1DTranspose
tf.keras.layers.Conv2D
tf.keras.layers.Conv2DTranspose
tf.keras.layers.Conv3D
tf.keras.layers.Conv3DT

[2022-08-18 12:12] tilakrayal commented on #16907
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, [v2.9](https://colab.research.google.com/gist/tilakrayal/a5520f1ef47e04c7d052b1ff75cf7ad2/untitled504.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/30257452eebf9cc45e590f84ed8da4bd/untitled503.ipynb).

[2022-08-18 15:54] sushreebarsa commented on #16914
@cheyennee I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/ea0d92d441898baa946b45aff508506f/57164.ipynb) here.
Thank you!

[2022-08-18 16:07] sushreebarsa commented on #16906
@arpit196 Could you please share the notebook link or colab gist in order to reproduce the issue correctly. I am getting different error while replicating the above code. Thank you!

[2022-08-18 16:30] gowthamkpr commented on #16889
@zhenhao-huang This is very similar to this issue [here](https://github.com/tensorflow/model-optimization/issues/374). Also this issue is a tensorflow model optimization issue and not a keras issue. Can you please post your issue [here](https://github.com/tensorflow/model-optimization/issues) and close it here. Thanks!!

[2022-08-18 16:33] #16671 closed

[2022-08-18 18:10] jbischof commented on #16876
This functionality is available in the `ModelCheckpoint` callback ([doc](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint)) if you change the default params to `save_best_only=True`.

[2022-08-18 18:10] #16876 closed

[2022-08-18 18:12] jbischof commented on #16902
@cheyennee we would prefer a PR with input validation for `units=0` as we cannot determine a use case for this configuration. Please let us know if you're willing to contribute. (cc @fchollet)

[2022-08-18 18:35] hertschuh commented on #16656
@andreped
* about the imports while using nightly, everything should work the same as normal, you shouldn't need `tf.python.keras` for instance. Maybe it's because it didn't pick up keras nightly at the same time. I you do `pip install --upgrade tf-nightly` it should work. You can also try to install `keras-nightly` manually. Lastly, you can try to first uninstall tensorflow and keras before you i

[2022-08-18 19:07] fotlogo opened #16916 "Attention Layer Scaling"
When initializing a tf.keras.layers.Attention layer with use_scale=True option the trainable scale variable is initialized to 1.0. However, several SOTA methods usually use  scale=1/sqrt(num_features)  for better convergence perfomance. Interestingly, tf.keras.layers.MultiHeadAttention properly implements this scaling (which is non-trainable and hard set to this 'optimal' value) so it is a bit odd

[2022-08-18 19:08] andreped commented on #16656
No worries! Just close the issue.

I will test the reinstall suggestion and make a new issue for the other stuff I observed.

Thanks for the rapid reply :)

[2022-08-18 20:16] hertschuh commented on #16656
Closing now. This fix will be released with Tensorflow 2.11.

[2022-08-18 20:16] #16656 closed

[2022-08-18 20:33] #16754 closed

[2022-08-19 00:12] cheyennee commented on #16902
@tilakrayal @jbischof I've been busy doing testing work lately, so I probably don't have free time to fix bugs😭I'm so sorry🥺

[2022-08-19 00:52] cheyennee opened #16917 "The type of parameter 'prefix' in tf.keras.backend.get_uid documentation wrong"
Parameter 'prefix' must be a string on documentation. However, I find that when type of prefix is bool/tuple/integer, the code works. But when type of prefix is list, code throws an exception: "Error:unhashable type: 'list'". I think supported type like integer should be added to documentation.
[code]

tf version: 2.4
os: win11

[2022-08-19 04:16] tilakrayal commented on #16913
@RezuanaHaque,
To expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using. Thank you!

[2022-08-19 08:41] cevheck commented on #16876
Agreed that the functionality is already provided in ModelCheckpoint, it just seemed a good addition to me to add it to the EarlyStopping as it would be the desired behaviour for most people and the best weights are already tracked so it's just a matter of returning them instead of having 2 callback functions tracking the same variables.

[2022-08-19 11:07] tilakrayal commented on #16916
@fotlogo,
To expedite the trouble-shooting process, could you please provide a minimal code snippet and the TensorFlow version you are using. Thank you!

[2022-08-19 11:33] tilakrayal commented on #16853
@frigeriomtt,
Keras/Dataset contains a huge number of image files, it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro or the colab gist. That will allow us to determine the source of the issue easily. Thank you!

[2022-08-19 13:41] DeependraParichha1004 commented on #16894
Thank you @andreped @tilakrayal for your valuable time. I think I misunderstood the concept.

[2022-08-19 15:48] tilakrayal commented on #16894
@DeependraParichha1004,
Glad the issue is resolved for you, Could you please feel free to move this to closed status. Thank you!

[2022-08-20 00:03] emadyounan opened #16919 "Keras List index out of range after I merged trained models"
Good evening everyone,

I have 5 classes and each one has 2000 images, I built 2 Models with different model names and that's my model code

[code]
then I used this code to merge the 2 models

[code]

so after I tested the merged model I found some images getting classes 7 and 9 although I have only 5 classes and that's my code for prediction

[code]
can someone help me plz?

[2022-08-20 08:22] rishvik opened #16920 "BI-LSTM and attention"
I am working on a text classification project in which I have abstracts of different medical research papers. Each abstract is further divided into sentences and we have corresponding PICO elements for each sentence.
I am using bi-lstm model for the classification. (training set: sentence - PICO element )
while converting a paragraph into sentences, some context gets missing
so my idea is to use b

[2022-08-20 21:06] abafna commented on #6449
@farizrahman4u
When I create the final model using output1, output2 I expect the number of trainable parameters to remain the same since the base model is initialized only once but it shows double the parameters. Something I am missing here? Thanks!

[2022-08-21 14:22] frigeriomtt commented on #16853
@tilakrayal I'm not sure what you are asking for; the colab scripts are in the shared directory, instruction for you to access the image dataset from them on your drive are provided in one of my previous comments; if you think there are too much pictures feel free to subsize, but keep in mind that the bug happened with the dataset as it is right now.

[2022-08-22 05:12] gadagashwini commented on #16902
Hi @cheyennee, Raised PR [#16921](https://github.com/keras-team/keras/pull/16921). Thank you!

[2022-08-22 06:46] ghylander commented on #16016
thanks for the input @gowthamkpr, but that's my very own SO issue I opened before I figured out:
1) How to approach/implement what I wanted to do (use 3 separate datasets as input for a single model with 3 different inputs, and distribute each input accordingly)
2) How to achieve this (using tf.data.Dataset.zip() ), but there being a bug.

In the issue I mention the only workaround that I can thin

[2022-08-22 12:08] tilakrayal commented on #16919
@emadyounan,
Looks like the code is incomplete. Request you to provide complete code to reproduce the issue in our environment or the error log. It helps us in localizing the issue faster. Thank you!

[2022-08-22 12:13] tilakrayal commented on #16920
@rishvik,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-08-22 14:03] whitetechnologies commented on #6977
I'm not sure why this is closed when people are still having issues. Here is a good example:

https://datascience.stackexchange.com/questions/113627/lstm-sequential-val-loss-train-loss-on-same-dataset

We all understand that model.fit() works slightly differently than model.evaluate() because of how it updates weights between batches. But there still should be no reason why model.evaluate would pr

[2022-08-22 15:07] emailic commented on #16880
Thanks for getting back to me @chenmoneygithub ! Sounds like a good solution. Take care, Ema

[2022-08-22 15:56] fotlogo commented on #16916
Ok not so minimal example but more 'realistic' :
[code]
Running Mnist classification with default scaling first and then the correct one. Second version trains much faster
[code]

I am tf version 2.8.0 but judging from the code at  https://github.com/keras-team/keras/blob/v2.9.0/keras/layers/attention/attention.py#L28-L195 the behavior should be the same at the latest

[2022-08-22 21:02] emadyounan commented on #16919
@tilakrayal  I just got this error
    y_out = class_names[classes[0]]
IndexError: list index out of range

[2022-08-23 01:44] sushreebarsa commented on #16901
@aravinthk00 Could you please provide standalone code snippet or colab gist, in order to replicate this issue?
Thank you!

[2022-08-23 02:46] NevilleMthw opened #16925 "ValueError: Operands could not be broadcast together with shapes (56, 56, 32) (112, 112, 32)"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- Bazel version (if compiling from source):
- GPU model and memory: Nvidia GeForce

[2022-08-23 03:26] aravinthk00 commented on #16901
_GLOBAL_CUSTOM_OBJECTS = {}

class CustomObjectScope(object):
    """Provides a scope that changes to `_GLOBAL_CUSTOM_OBJECTS` cannot escape.

    Code within a `with` statement will be able to access custom objects
    by name. Changes to global custom objects persist
    within the enclosing `with` statement. At end of the `with` statement,
    global custom objects are reverted to state
    at

[2022-08-23 08:51] fangxuehouwuming commented on #13733
Hi, I met this problem too, even though my version is:
tensorflow                    2.9.1
keras                            2.9.0

[2022-08-23 09:08] maybeLee opened #16927 "Some keras layers do not support `bfloat16` datatype"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-08-23 09:17] fangxuehouwuming opened #16928 "Chap. 6.3, recurrent dropout, cannot reproduce book's results with TF2.9.1, Keras2.9.0"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   Win10
- TensorFlow installed from (source or binary):   Anaconda
- TensorFlow version (use command below):  2.9.1
- Python version:    3.9
- GPU model and memory:  None

**Describe the problem**.
I am going through Fra

[2022-08-23 09:25] Hrayo712 opened #16930 "Incorrect output shape when using dilations and strides > 1 with depthwise conv"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.4 - v2.4.0-rc4-71-g582c8d236cb 2.4.0

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04.6 LTS

### Mobile device

_No response_

### Python version

3.8.0

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

11.0

### GPU model and memory

_No response_

###

[2022-08-23 12:09] fangxuehouwuming opened #16932 "Chap. 6.3, recurrent dropout, cannot reproduce book's results with TF2.9.1, Keras2.9.0"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   Win10
- TensorFlow installed from (source or binary):   Anaconda
- TensorFlow version (use command below):  2.9.1
- Python version:    3.9
- GPU model and memory:  None

**Describe the problem**.
I am going through Fra

[2022-08-23 16:39] NevilleMthw commented on #16925
I solved this problem by removing the maxPool layers as this was making my data shape smaller each time.

[2022-08-23 16:39] #16925 closed

[2022-08-23 18:31] maybeLee opened #16933 "core dump when giving Conv3DTranspose layer zero-shape input in GPU mode."
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-08-23 19:50] maybeLee commented on #16927
If it helps, I find out that, if I use tensorflow 2.0.0, this bug does not exist. I guess it may be a regression bug?

[2022-08-24 04:24] sushreebarsa commented on #16925
@NevilleMthw Thank you for the update!

[2022-08-24 04:52] tilakrayal commented on #16927
@gowthamkpr,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/3ec4112af6520335cd8b7794ce5b9114/2-8.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/9dc5ebf6a8a18e604b89892f6e800e77/2-9.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/be90da6ae2881ea73f31cfe6b8ab6385/2-11.ipynb). Kindly find the gist of it

[2022-08-24 05:42] iamrajee opened #16934 "InvalidArgumentError"
Facing Below Error
[code]

[2022-08-24 09:48] #16889 closed

[2022-08-24 10:03] tilakrayal commented on #16930
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/05999d4cfe25b83672376e242a2d81c5/16930.ipynb).

[2022-08-24 12:13] arpit196 commented on #16906
Dear @sushreebarsa can you access this notebook https://colab.research.google.com/drive/1BG7c7Cn-GST4KuKPtTW-YmTLlCSjf0Vg?authuser=1#scrollTo=zL0gBSujg-CZ? You can note that normally training the VGG16 model defined on top does not lead to explosion of gradients but the CustomModelSemi one below gives nan loss.

[2022-08-24 12:26] gkmeng opened #16935 "Inaccurate Contrastive Loss in the example?"
Have been following the tutorial below to construct my siamese network. However, I am not sure if the contrastive loss written in this tutorial is correct.

https://keras.io/examples/vision/siamese_contrastive/

In the original paper, similar pair = 0, dissimilar pair = 1, and the eqn of the contrastive loss:

loss = [ (1-y) * D ] + (y * max(margin, D))

However, in the given tutorial, similar pai

[2022-08-24 13:06] Anselmoo opened #16936 "Hyperlink for ResNetv2 not working due to line breaks"
### Problem:

Due to linebreaks in the source code, the hyperlink for `ResNetv2` is not working

<img width="746" alt="image" src="https://user-images.githubusercontent.com/13209783/186423407-3e97a811-e98b-4a68-8c29-cbfff5aab28c.png">

https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/applications/resnet_v2.py#L18-L21

### Solution:

[code]

[2022-08-24 13:16] tilakrayal commented on #16933
@maybeLee,
Could you please confirm where the issue persists when the code is executed in GPU only or in CPU also? Thank you!

[2022-08-24 14:33] fangxuehouwuming opened #16938 "Chap. 6.3, recurrent dropout, cannot reproduce book's results with TF2.9.1, Keras2.9.0"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   Win10
- TensorFlow installed from (source or binary):   Anaconda
- TensorFlow version (use command below):  2.9.1
- Python version:    3.9
- GPU model and memory:  None

**Describe the problem**.
I am going through Fra

[2022-08-24 14:40] fangxuehouwuming commented on #16933
@maybeLee,
你好，我想问个不想关的问题，为什么我在这发issue时选择了bug标签，但是发完以后却没有给我显示标签呢？

[2022-08-24 15:42] lgeiger commented on #15166
This issue has been open for 1.5 years now (including the https://github.com/tensorflow/tensorflow/issues/48149).

@fchollet @mattdangerw @k-w-w Is there any chance this will be fixed? I am very happy to look into a fix for this and open a PR but for that it would be good to know why [the functions are explicitly ignored during saving](https://github.com/keras-team/keras/blob/ab00944d07df760570fd8

[2022-08-24 16:03] Mirandatz commented on #14030
Yes, this is still an issue.

[2022-08-24 16:13] carlthome commented on #11735
Still an issue in 2.9

[2022-08-24 16:41] andreped commented on #16894
@tilakrayal As he has not replied after 5 days, I would just close this issue for him, as it has been solved.

[2022-08-24 16:48] DeependraParichha1004 commented on #16894
Thankyou @andreped @tilakrayal and sorry for the inconvenience.

[2022-08-24 16:48] DeependraParichha1004 commented on #16894
As

[2022-08-24 16:48] #16894 closed

[2022-08-24 16:49] andreped commented on #16894
@DeependraParichha1004 No worries! Hope you find TimeDistributed more beneficial in future projects :]

[2022-08-24 20:41] JulianCologne commented on #15065
From my point of view as a user this is unexpected and inconsistent behavior like I explained above.

I agree that this is not a bug (I did not add that label) but still a "problem".

I have not heard any reasonable reply why this cannot/shouldn't be changed (other than "Historically it was like this...")? Looks like this can be changed by simply removing 2 lines of code!?

[2022-08-24 22:38] #16902 closed

[2022-08-24 23:39] sushreebarsa commented on #16928
@fangxuehouwuming Could you please confirm if it is a duplicate ticket of [this](https://github.com/keras-team/keras/issues/16932) issue?
Thank you!

[2022-08-24 23:42] sushreebarsa commented on #16932
@fangxuehouwuming
In order to expedite the trouble-shooting process, please provide a  complete code snippet to reproduce the issue reported here. Thank you!

[2022-08-24 23:43] sushreebarsa commented on #16934
@iamrajee
In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using. Thank you!

[2022-08-24 23:48] sushreebarsa commented on #16936
@Anselmoo Thank you for raising the issue.
It will be closed once the PR is merged. Thank you!

[2022-08-25 02:13] #16928 closed

[2022-08-25 02:15] fangxuehouwuming commented on #16928
@sushreebarsa,
Yes, it's a duplicate. It's my blunder and I have closed it.

[2022-08-25 02:15] #16938 closed

[2022-08-25 02:48] fangxuehouwuming commented on #16932
+ The corresponding notebook for the code is [deep-learning-with-python-notebooks/first_edition/6.3-advanced-usage-of-recurrent-neural-networks.ipynb](https://github.com/fchollet/deep-learning-with-python-notebooks/blob/master/first_edition/6.3-advanced-usage-of-recurrent-neural-networks.ipynb)

+ The following is the concrete code fragments that related to my question. I'm pretty much following t

[2022-08-25 03:30] maybeLee commented on #16933
@tilakrayal
The issue only persists when the code is executed in GPU mode. I tried on CPU, it works properly.

[2022-08-25 09:00] AkanimohOD19A commented on #16406
Here's a similar challenge:

[code]
history = model.fit(datagen.flow(x_train, y_train, batch_size=42),validation_data = (x_val,y_val),epochs = 50,callbacks = callbacks)
[code]

[2022-08-25 09:33] tilakrayal commented on #16935
@gkmeng,
Could you please feel free to submit a PR for the requested change or share the link where the requested change is to be made and the code to reproduce the issue. Thank you!

[2022-08-25 09:57] rivershah commented on #6101
This is not fixed, passing in a validation `tf.data.Dataset` causes epoch times to explode

[2022-08-25 11:26] gkmeng commented on #16935
Hi, similar request has been made in the past:

https://github.com/keras-team/keras/pull/13592

[2022-08-25 13:11] tilakrayal commented on #16916
@fotlogo,
I was not able to find any issue/error while executing the mentioned code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/90603a8c9256977ab7a4602e83646800/untitled526.ipynb) and let us know if anything is missing here. Thank you!

[2022-08-25 14:33] VictoriaGriffith opened #16944 "tf.keras.utils.pack_x_y_sample_weight cannot compute gradient"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF2.9.1
- Python version: 3.9
- Bazel version (if compiling from source):
- GPU model and memory:

**Des

[2022-08-25 15:06] #16881 closed

[2022-08-25 17:11] LukeWood commented on #16914
We are casting the input to an integer.  The difficulty with validating this is that if the user passes `2.0` as `filters` that is a valid input.  We can't fix this without breaking backwards compatibility - so this is not a true "bug" in that sense.

[2022-08-25 17:11] #16914 closed

[2022-08-25 17:17] LukeWood commented on #16745
@AdityaKane2001 feel free to send a PR for this!

[2022-08-25 17:42] jbischof opened #16946 "`keras.utils.get_file` does not support gzip as advertised"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): glinux 5.17.11-1rodete2-amd64
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.1
- Python version: 3.10.0
- Bazel version (if compiling from source): n/a
- GPU model and

[2022-08-25 19:18] BenjaminMidtvedt opened #16947 "Memory runaway when training with Sequence in a loop"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes, a minimal reproduction
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.1
- Python version: 3.8.10
- Bazel version (if compiling from source): --
- GPU mode

[2022-08-26 02:00] Shreyz-max commented on #16002
@fchollet Can I work on this if no one else is?

[2022-08-26 04:02] #16936 closed

[2022-08-26 06:44] NevilleMthw opened #16948 "The mAP and loss value is too high from first epoch"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.0
- GPU model and memory: NVIDIA GeForce RTX

**Describe the problem**.

The problem I am facing is with my mean average precision value is t

[2022-08-26 09:26] tilakrayal commented on #16946
@gadagashwini,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/19bf94ac129d8e74b36626a29e961194/2-8.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/dfff8929a691ad6bf98d3d1a76609f17/2-9.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/bbd7d727c804dbb2ba3bfd88a83c8059/nightly.ipynb). Kindly find the gist

[2022-08-26 16:06] #16849 closed

[2022-08-26 17:17] njoppi2 commented on #14296
i have the same problem

[2022-08-26 18:08] njoppi2 commented on #14296
Try changing the loss in your model.fit from `loss="categorical_crossentropy"` to `loss="binary_crossentropy"`

I Had the SAME problem, but this worked for me. The thing is that I have a binary classification model, with only 1 output node, not a multi-classification model with multiple output node, so `loss="binary_crossentropy"` is the appropriate loss function in this case.

😊

[2022-08-26 23:03] jstiegerstanford commented on #2102
6 years?

[2022-08-26 23:57] hahouari opened #16950 "Implement an alternative function to image_dataset_from_directory that is independant of directory structure"
**System information**.

TensorFlow version (you are using): 2.9.1
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Describe the feature clearly here. Be sure to convey here why the requested feature is needed. Any brief description about the use-case would help.

Currently, if you cannot fit the dataset into memory, your options are to use

[2022-08-27 03:12] Shreyz-max commented on #15972
@LukeWood anyone working on it?

[2022-08-27 03:15] Shreyz-max commented on #15194
@tomerk Can I work on this if no one else is?

[2022-08-27 07:21] JEM-Mosig commented on #12860
In TF 2.9.1 this is still an issue. E.g. for `verbose=3` I don't get any progress bar, just one print per epoch:
![image](https://user-images.githubusercontent.com/31377126/187019641-98efbe1a-86d1-4b69-9907-d40f78cc5b6e.png)

At the very least, the documentation should be fixed. Ideally, one verbosity level would print a progress bar for the entire training, so I have an indication of how far in i

[2022-08-27 17:36] fchollet opened #16951 "[Contributors Wanted] Implement `compute_output_shape()` method for `MultiHeadAttention`"
## Nature of the task

Implement the method `compute_output_shape()` on the layer [`MultiHeadAttention`](https://github.com/keras-team/keras/blob/master/keras/layers/attention/multi_head_attention.py#L131). It should have the following signature:

[code]

It should accept either `TensorShape` instances or tuples as shapes, and it should return a `TensorShape` instance.

## Why?

The method is not

[2022-08-27 19:06] #15253 closed

[2022-08-27 19:06] #16151 closed

[2022-08-27 22:39] yifeipet opened #16952 "UpSampling2D Error: interpolation should be one of "nearest" or "bilinear"."
UpSampling2D has an error if I set interpolation='bicubic'.
The Keras and Tensorflow documents say that UpSampling2D support "area", "bicubic", "bilinear", "gaussian", "lanczos3", "lanczos5", "mitchellcubic", "nearest" but it actually only supports "bilinear" and "nearest" interpolations.

I used Colab.

Please fix it and add other interpolation methods. Thanks!

----------------------------------

[2022-08-28 02:33] LukeWood commented on #15972
Dont think so!

[2022-08-28 19:46] VictoriaGriffith opened #16953 "`tf.keras.layers.Convolution3DTranspose` crashes with zero-size input"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF2.9.1
- Python version: 3.9
- Bazel version (if compiling from source):
- GPU model and memory:

**Des

[2022-08-29 06:47] ohouohouohou commented on #14367
You can add the follow codes after the 'import' session
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.compat.v1.Session(config=config)

[2022-08-29 07:49] aj120898 opened #16954 "Removing Text from Images using CV2 and Keras-OCR -while removing text from image it's creating blurriness in background for some images, any solution for this case?"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-08-29 10:09] Pouyanpi commented on #16951
I would like to take it if it is still available.

[2022-08-29 11:15] tilakrayal commented on #16948
@NevilleMthw,
Tensorflow version 2.4 not actively supported. Hence, kindly update to the latest stable version 2.9 and let us know if you are facing the same issue. Thank you!

[2022-08-29 12:46] ashishbhong82 opened #16956 "Custom - minmax pooling - Keras - Tensorflow"
I coded a compact version of the same code but this time using lambda layer. The function of this layer is the same.
Here is the code:
[code]
[code]
error :
[code]

The problem is with the dimensions and i am new to tensorflow and i dont know how to handel the dimensions of data inside tensorflow layers. What am i doing wrong here?

If you use the same code as regular function i works fine.
here i

[2022-08-29 18:11] LukeWood opened #16958 "Overriding evaluate() causes inconsistent behavior between validation in fit() & direct calls to evaluate()"
When you override evaluate to pre-process data inputs in the `tf.data` pipeline, currently you hit an edge case where keras creates the validation dataset inside of fit() and misses the preprocessing calls.

We can move this logic to only be done in `evaluate()` from now on to work around this.

We should remove https://github.com/keras-team/keras/blob/master/keras/engine/training.py#L1608

and re

[2022-08-29 18:20] qlzh727 commented on #16958
Note that the reuse of the eval data from `fit()` is for performance reason, and move the https://github.com/keras-team/keras/blob/master/keras/engine/training.py#L1608 to `eval()` is probably not correct.

The current flow of logic is:

[code]

[2022-08-29 23:52] LukeWood commented on #16958
Let’s discuss in weekly.  I think this is probably indicative that we need an API for this flow.

[2022-08-30 02:44] VictoriaGriffith opened #16962 "tf.keras.activations.swish has wrong gradient"
This issue was originally reported in https://github.com/tensorflow/tensorflow/issues/57481

 <details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.9

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler

[2022-08-30 03:58] NevilleMthw commented on #16948
Hi @tilakrayal, I have updated my version TF 2.8 and now the model seems to function. But now there is a different issue which shows the mAP value as an error:
[code]
No matter the model, I still seem to get this value. I have also checked my data which is normalized and scaled. I am using 'mse' as my loss function with 'adam' as the optimizer.

[2022-08-30 05:45] varungupta31 commented on #15692
Typically, we would use `ImageDataGenerator`, and apply desired pre-processing and augmentations, then say, the `flowfromdirectory` method to load the data with corresponding labels in desired (one-hot, binary, etc.) format.

Now, if I were to use distributed GPU training, as @haimat mentioned, how will I apply these operations (or basically mimic this workflow) with `TFRecordDataset`?

Say, for t

[2022-08-30 05:47] sushreebarsa commented on #16944
@gadagashwini I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/tiruk007/aae0db8491dee09a77ec12c056a428e9/untitled106.ipynb) here. Thank you!

[2022-08-30 05:54] sushreebarsa commented on #16947
@BenjaminMidtvedt I tried to replicate the code in TF2.9 and faced different outcome. Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/6e985c854eec9af8e43caa186c8158bd/untitled107.ipynb) for reference and confirm the same. Thank you!

[2022-08-30 05:58] sushreebarsa commented on #16952
@yifeipet
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Could you please confirm if the issue is resolved in latest TF version?
Thank you!

[2022-08-30 06:06] #16694 closed

[2022-08-30 10:10] tilakrayal commented on #16953
@gadagashwini,
I was able to reproduce the issue in tensorflow-gpu v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/843d58d72c5af9d11d7bdbd0f9efc6eb/untitled547.ipynb).

[2022-08-30 10:16] tilakrayal commented on #16956
@ashishbhong82,
I was facing different issue while executing the given code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/063c1d942f89147ad3f9465d6d757c4e/untitled548.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error

[2022-08-30 12:38] jonasrundberg opened #16964 "ModelCheckpoint files not closed"
**System information**.
[tf_env.txt](https://github.com/keras-team/keras/files/9452786/tf_env.txt)

- Custom code (see below)
- MacOS 12.3.1
- TensorFlow installed via pip
- TensorFlow version:  2.9.1
- Python version: 3.8.11
- GPU model and memory: 8-Core Intel Core i9, 2,3 GHz, 16 GB RAM

**Describe the problem**.
When loading weights for a model and `tf.keras.callbacks.ModelCheckpoint` to store

[2022-08-30 19:01] #16143 closed

[2022-08-30 19:01] #15357 closed

[2022-08-30 19:01] #15940 closed

[2022-08-30 20:10] BenjaminMidtvedt commented on #16947
@sushreebarsa Hi! Sorry, copy-paste problem when writing the issue. I replicated the issue in the gist by changing ` model.fit(x, y, epochs=1, verbose=0)` to `model.fit(generator, epochs=1, verbose=0)`.

[2022-08-30 20:44] ashishbhong82 commented on #16956
ok

[2022-08-30 22:38] microprediction opened #16965 "Clarify override of non-trainability of layers when model is created."
**URL(s) with the issue:**.

https://keras.io/guides/transfer_learning/

**Description of issue (what needs to be changed):**.

Unless I am mistaken (and I may well be) there is no point in setting a layer to be non-trainable prior to construction of the model. This property will be ignored, as this [gist](https://gist.github.com/microprediction/7aa395cec8a0ea2586936084a635cfba) demonstrates. Inst

[2022-08-31 06:35] MathiasToftas opened #16966 "tf.keras.layers.Layer.weights has inconsistent order in 'saved_model' format"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installed from: binary
- TensorFlow version: v2.9.0-18-gd8ce9f9c301 2.9.1
- Python version: 3.8
- Exact command to reproduce: see google colab page

**Describe the problem**.

I originaly posted this issue in the te

[2022-08-31 06:55] ashishbhong82 commented on #16956
@tilakrayal  Hi I have editied the code and also provided the link to colab. Thanks for noticing tilakrayal.

[2022-08-31 08:14] ivkireev86 commented on #15584
Hello, I have the same request to add standard deviation to logged metrics.
My case is about hyperparameters tuning. I have some set of hparams, and I evaluate a model with crossvalidation.
Finally I have the model quality for each fold. Currently I can log to tensorboard only mean metric. But I would like see mean with std to estimate a confidence interval.

[2022-08-31 09:21] lgleznah opened #16967 "Add augmentation probability to tf.keras.layers.BaseImageAugmentationLayer augmentation rate"
**System information**.

TensorFlow version (you are using): 2.9.1
Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state**.

Currently, all image augmentation layers inherit from an abstract base layer, [BaseImageAugmentationLayer](https://github.com/keras-team/keras/blob/07e13740fd181fc3ddec7d9a594d8a08666645f6/keras/layers/preprocessing/image_prepr

[2022-08-31 09:22] cheyennee opened #16968 "when value is not float, tf.keras.backend.set_epsilon doesnt throw exception"
value should be float written on [documentation](https://tensorflow.google.cn/versions/r2.4/api_docs/python/tf/keras/backend/set_epsilon#arguments) However, I find when value is string, the code also works and doesnt throw exception.

[code]

[2022-08-31 09:58] cheyennee opened #16969 "minval can be greater than maxval in tf.keras.initializers.RandomUniform"
minval should be less than maxval. However, when minval is greater than maxval, the code works.
[code]

[2022-08-31 18:45] maybeLee opened #16970 "Kernel initialization method, "Orthogonal" and "Identity", do not support "half datatype when using Convolution layers"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.2, 2.9.0
- Python version: 3.7
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact comma

[2022-08-31 19:01] #14907 closed

[2022-08-31 19:20] jasonbrancazio commented on #16946
I'm experiencing a similar issue with the Fashion MNIST data:

[code]

The above code will download the .gz files to /content/fashion_mnist on Google Colab, but not extract them.

[2022-08-31 19:33] gowthamkpr commented on #16880
@emailic Closing this issue as it has been resolved by the above [comment](https://github.com/keras-team/keras/issues/16880#issuecomment-1212257318). Thanks!

[2022-08-31 19:33] #16880 closed

[2022-08-31 21:01] #15065 closed

[2022-08-31 21:01] #15066 closed

[2022-08-31 21:50] ShuaiShao93 opened #16972 "Build Keras and TensorFlow in Bazel"
**System information**.

TensorFlow version (you are using): 2.9.1

**Describe the feature and the current behavior/state**.
Right now the Keras assumes TensorFlow is installed by pip, and it has no Bazel dependencies on TensorFlow. However, I'm interested in building Tensorflow and Keras in two Bazel repositories. It doesn't work today because adding mutual dependency on each other causes cyclic

[2022-08-31 22:39] hahouari commented on #16950
Hello @hertschuh,

Thank you for responding. Yes you understood my problem and your point is valid, indeed that was my initial intuition is that I needed a parameter like `shuffle_batch_size` or something similar to shuffle images in batches and still use the same structure proposed by your documentation.
Back then I was avoiding any messing with keras source code so I tried to create a solution o

[2022-08-31 23:34] hertschuh commented on #16950
@hahouari ,

I think what you need already exists. Basically, what you want to do first is call [`tf.keras.utils.image_dataset_from_directory`](https://www.tensorflow.org/api_docs/python/tf/keras/utils/image_dataset_from_directory?version=nightly) with `batch_size=None` and `shuffle=False` so that everything stays in order. In particular the images of the same class will be together. Then, you wan

[2022-08-31 23:59] hahouari commented on #16950
@hertschuh,
Thank you so much for such insight, I did not know such transformations were possible in keras on the fly without loading the dataset. I will surely look into the Dataset Api.
As you mentioned boundaries need to be handled correctly. especially for my case where I have another level before the classes (I did not mention it before to simplify the examples) which are people from 01 to 60

[2022-09-01 02:14] iamrajee commented on #16934
Resolved. The issue was because of a mismatch in dimension between the output dense layer and labels.
[code]

[2022-09-01 02:14] #16934 closed

[2022-09-01 05:34] alexmil2019 opened #16973 "ERROR: Current implementation only supports equal length strides in the r.w and column dimensions!"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-09-01 06:14] sushreebarsa commented on #16947
@BenjaminMidtvedt Thank you for the update!
@gadagashwini I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/3be474fbee8997b5bd46858ef7eba90d/untitled107.ipynb) here.
Thank you!

[2022-09-01 06:57] maybeLee commented on #16933
Hi @hertschuh,
I trigger this issue by incident when I running my program to construct a model. Indeed, in my program, the empty tensor is not useful, but this issue will directly cause a process core dump.

[2022-09-01 07:16] ashishbhong82 commented on #16956
@tilakrayal Hi I have editied the code and also provided the link to colab. Thanks for noticing tilakrayal.

[2022-09-01 09:30] gadagashwini commented on #16853
Hi @frigeriomtt, Looks like `tf.keras.utils.split_dataset`, working as expected.
I tried with sample set of images. Please find the [gist](https://colab.research.google.com/drive/1JHht6jCf6P-CZXxQZg_SH8nJi7QiY75_?usp=sharing). Thank you!

[2022-09-01 15:31] sushreebarsa commented on #16901
@aravinthk00 Could you please provide small code snippet to reproduce the issue?
Thank you!

[2022-09-01 15:35] sushreebarsa commented on #16906
@gadagashwini I was able replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/ae373ac8a2d68e507c943ffaecd80502/cifar10.ipynb
). Thank you!

[2022-09-01 15:42] sushreebarsa commented on #16964
@gadagashwini I was able to reproduce the issue in TF2.9. Please find the [gist](https://colab.research.google.com/gist/sushreebarsa/90182373a0f116882ce5dad3bc7fb2c6/untitled111.ipynb) here. Thank you!

[2022-09-01 15:52] sushreebarsa commented on #16966
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/0e2c1a62e70c7f8dc721b3647230ca95/untitled112.ipynb). Thank you!

[2022-09-01 17:03] hertschuh commented on #16950
@hahouari ,

`tf.data.Dataset` has a lot of capabilities from creating a Dataset manually to processing it.
You may want to use [`list_files`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#list_files) to find all the files and [`group_by_window`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#group_by_window) to group by identical people and class.

I recommend you also ch

[2022-09-01 17:03] #16950 closed

[2022-09-01 17:29] hertschuh commented on #16927
@maybeLee,
The root cause of this is tensorflow/tensorflow#56680
A fix is being worked on right now.

[2022-09-01 18:09] hertschuh commented on #16953
@VictoriaGriffith ,

This is a duplicate of #16933 please follow this issue instead.

Thanks!

[2022-09-01 18:09] #16953 closed

[2022-09-01 18:10] hertschuh commented on #16933
@VictoriaGriffith ,

Also curious of your use case. What is the use case for having a dimension of zero? If any dimension is zero, the tensor is always empty, which is not useful.

[2022-09-01 18:17] frigeriomtt commented on #16853
Hi @gadagashwini , and thanks for taking charge of the ticket (it's been a month); besides the first usage of image_dataset_from_directory (which fails) it seems that your gist does work (or at least, it does not crash during execution), any idea of the reason why mine doesn't ? You think it might depends from the different size of the dataset (the one I used is a lot bigger, access the directory

[2022-09-01 19:30] fchollet commented on #16951
@Pouyanpi thanks! Feel free to open a PR.

[2022-09-01 20:57] hertschuh commented on #16935
@gkmeng ,

The loss function is fixed and matches the paper:
https://github.com/keras-team/keras-io/blob/master/examples/vision/siamese_contrastive.py#L335

So in that sense, the "similar PR" you mentioned was integrated (but the examples also moved since).

The only discrepancy is how labels are defined. You are correct, that in the original paper, similar pair = 0, dissimilar pair = 1, and in th

[2022-09-02 03:13] cheyennee opened #16977 "the strides of tf.keras.layers.Conv3D can be set to float"
The stride should be an integer or tuple/list of 3 integers on documentation. However, when stride is set to float, the code works.
[code]

tf: 2.4
os: win11

[2022-09-02 03:22] cheyennee commented on #16977
same problem is found in tf.keras.layers.Convolution1D.
[code]

[2022-09-02 07:40] sky712345678 opened #16978 "Type inference failed. This indicates an invalid graph that escaped type checking. Error message: INVALID_ARGUMENT"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9
- Python version: 3.7
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A (CP

[2022-09-02 10:04] tilakrayal commented on #16965
@microprediction,
Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-09-02 10:07] tilakrayal commented on #16972
@ShuaiShao93,
Could you please take a look at this installation doc [link](https://www.tensorflow.org/install/source#install_bazel) where the Bazel installation is required while building the tensorflow. Thank you!

[2022-09-02 11:11] tilakrayal commented on #16962
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v3.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d6ee26fcd39238c4b023a9fcb154128c/untitled559.ipynb).

[2022-09-02 11:22] tilakrayal commented on #16969
@cheyennee,
The output of the minval and maxval was working as expected in `tf.keras.initializers.RandomUniform`. Also we change the min and max values the output was different in both the cases. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/fad95bd0bc78be5d631e143d82c7f12d/untitled561.ipynb).

[2022-09-02 12:36] tilakrayal commented on #16977
@cheyennee,
I tried to execute the code with the alternative approach by providing the `strides` as `float` type and it was throwing the error (**{'err': 'Error:The `strides` argument must be a tuple of 3 integers. Received: 4.5'}**)  which was expected. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/91a4e46286175d45a267ef64834e5c4d/untitled562.ipynb). Thank yo

[2022-09-02 12:59] cheyennee commented on #16977
@tilakrayal  I should upgrate my tf version. It seems that the problem has been solved in latest version. Thanks.

[2022-09-02 12:59] #16977 closed

[2022-09-02 13:10] tilakrayal commented on #16948
@NevilleMthw,
I was not able to download the files attached. Could you please provide the access for the required files to download which helps to reproduce the issue in local. Thank you!

[2022-09-02 13:14] cheyennee commented on #16969
@tilakrayal  In other API, when minval is greater than maxval, it will throw an exception. I dont know why tf.keras.initializers.RandomUniform doesnt throw an exception, although it works as expected.

[2022-09-02 18:39] busyBeaver1 commented on #4339
I had the same problem. Here's my solution. It turns out that for a dense layer the number of multiplications should be the same as the number of weights. But this does not work as well for the convolution layers. For a convolution layer you need to multiply the number of weights by the number of instances of the kernel applied on the input to get the total number of multiplications. If my assumpt

[2022-09-02 21:05] hertschuh commented on #16933
We are investigating the issue, I will report back here once we have an update.

[2022-09-03 04:28] sushreebarsa commented on #16970
@gowthamkpr I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/897f5c278e09a040101728aa53f0b227/untitled114.ipynb#scrollTo=B_llv8B8keL6) for reference. Thank you!

[2022-09-03 04:31] sushreebarsa commented on #16968
@cheyennee I tried to replicate the issue reported, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/d2fbb19e7af28f4c1de8d65faa31d801/untitled113.ipynb) and confirm the same?
Thank you!

[2022-09-03 06:45] cheyennee commented on #16968
@sushreebarsa  Yeah, I met the same problem with you.

[2022-09-03 15:12] NevilleMthw commented on #16948
Hi @tilakrayal,

I have solved the issue by using another metric to calculate the results. Thank you for your time!

[2022-09-03 15:12] #16948 closed

[2022-09-04 00:34] kloczek opened #16981 "2.10.0: not ready for pep517 build spec?"
Looks like `keras` is not ready for pep157 build procedure.
[code]
🤔

[2022-09-04 05:58] MRK4863 commented on #1244
This worked, Thanks a ton :-).

[2022-09-04 07:26] lcmeng opened #16982 "Lower-than-expected ImageNet accuracies of pretrained MobileNet V2 & V3 models"
I tried to validate the pretrained MobileNet V2 and V3 models available at keras.applications.MobileNetV2() and keras.applications.MobileNetV3(). To my surprise, both yielded lower-than-expected Top-1 accuracies on ImageNet 2012.

- MobileNet V2: expected = 71.8%, measured = **61.6%**
- MobileNet V3: expected = 75.6%, measured = **71.0%**

[code]

Prepare ImageNet 2012 validation
[code]
Use pre-tr

[2022-09-04 07:29] lcmeng commented on #16982
To reproduce the measured MobileNet V3 results:
[code]
Output is:
[code]

[2022-09-04 17:17] adriangb opened #16983 "Optimizer.get_weights() removed"
It seems like `Optimizer.get_weights()` is being removed. SciKeras was using it to serialize optimizer weights since SavedModel silently fails to do so (see https://github.com/tensorflow/tensorflow/issues/44670 and other linked issues, this is a longstanding bug that hasn't been fixed). Could someone fill me in on what the plans are going forward? Pickling models is an essential part how Scikit-Le

[2022-09-04 21:32] innat opened #16984 "ValueError: Cowardly refusing to save variable .. unexpected suffix which won't be restored."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.4.1, 2.6.4
- Python version:
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to reproduce:

**De

[2022-09-05 06:03] Egrikkkk opened #16985 "ValueError: Input 0 of layer lstm_112 is incompatible with the layer: expected ndim=3, found ndim=4. Full shape received: (1, 72, 110907, 200)"
I have the following model:
`def define_model(vocab_size, max_length):

    input_texts = Input(shape=(max_length, vocab_size), batch_size=1)

    embed = Embedding(vocab_size, 200, mask_zero=True, input_length=max_length)(input_texts) #input_length=max_length

    print(embed.shape)

    drop1 = Dropout(0.5)(embed)

    lstm1 = LSTM(256, return_sequences=True, input_shape= (72, 200),)(drop1)

[2022-09-05 07:02] tilakrayal commented on #16981
@kloczek,
Could you please provide the build source you are trying to install. Also please try to install the latest stable v2.9.0 from [here](https://github.com/tensorflow/tensorflow/tree/v2.9.0) and let us know if you are facing the same issue. Thank you!

[2022-09-05 07:04] kloczek commented on #16981
I'm usimg Source tar ball autogenerated from git tag.
https://github.com/keras-team/keras/archive/refs/tags/v2.10.0.tar.gz

[2022-09-05 07:07] kloczek commented on #16981
Here is result with v2.9.0
[code]

[2022-09-05 07:08] kloczek commented on #16981
BTW on https://pypi.org/project/keras/ latest version is 2.10.0.

[2022-09-05 08:01] #12803 closed

[2022-09-05 09:32] tilakrayal commented on #16956
@ashishbhong82,
Could you please provide the dataset(ADANIPORTS.csv) to replicate the issue in local environment. Thank you!

[2022-09-05 09:59] gadagashwini commented on #16964
Hi @jonasrundberg,  To close the ModelCheckpoint file, workaround is, use `shutil.rmtree`
to delete the directory.
`shutil.rmtree(path, onerror = handler)`
Thank you!

[2022-09-05 10:06] tilakrayal commented on #16983
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/edc5936e8c247cf0df328421c1dd685d/untitled568.ipynb).

[2022-09-05 13:32] maybeLee opened #16986 "core dump when giving Conv2DTranspose layer empty tensor and "valid" padding mode in GPU mode."
This issue is similar to my previous issue: https://github.com/keras-team/keras/issues/16933#issuecomment-1235897857 but the symptom and fault triggering condition are different.

In short, when I config `Conv2DTranspose` in "valid" padding mode and then give it an empty tensor, it will lead to a core dump on GPU. Different from the post: https://github.com/keras-team/keras/issues/16933#issuecomme

[2022-09-05 15:01] #16913 closed

[2022-09-06 03:27] froody opened #16987 "Can't deserialize model using __add__ or Add()"
Clone of https://github.com/tensorflow/tensorflow/issues/57574

**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v2.9.1-0-gd8ce9f9c301 2.9.1
- Python version:

[2022-09-06 05:01] tilakrayal commented on #16985
@Egrikkkk,
To expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

Keras' convention is that the batch dimension (number of examples (not the same as timesteps)) is typically omitted in the input_shape arguments. The batching (number of examples per batch) is handled in the fit call.

Also please take a look at this SO [link](ht

[2022-09-06 06:03] gadagashwini commented on #16966
HI @MathiasToftas, You need to use signatures under tf.function ( for graph mode). Please take a look at this reference [link ](https://www.tensorflow.org/lite/guide/signatures#:~:text=%40tf.function%28input_signature%3D%5Btf.TensorSpec%28shape%3D%5BNone%5D%2C%20dtype%3Dtf.float32%29%5D%29)for more information. Thank you!

[2022-09-06 06:20] MathiasToftas commented on #16966
I'm not sure I follow, from the link you've shared, and from my own experience, you only need to add the 'input' signature under @tf.function. The function show in the colab doc does not have any inputs (other than self), so I'm not sure what can be added.

From what the link you shared seems to say, the outputs signature is gathered from the structure of the dict you return, and looking at the re

[2022-09-06 07:55] sushreebarsa commented on #16978
@gadagashwini I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/720ad0e6f1304d4002e2f4fe92c6acfd/3d_unet_train_type_inference_failed.ipynb#scrollTo=kUprF0LhAl_J) here. Thank you!

[2022-09-06 09:51] sushreebarsa commented on #16973
@gowthamkpr I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/78936e75941a58786694714829b417e7/16973.ipynb) here.
Thank you!

[2022-09-06 10:50] EliasHasle commented on #3842
I skimmed and Ctrl+F-ed the paper wondering how the function and the authors dealt with negative `x`, but it seems the issue is avoided entirely. Not mentioned once. In light of that, I am not surprised to see that a straightforward implementation trips over this issue...

Is the entire Godfrey&Gashler study trash? Or did they just never have to deal with negative numbers, and so forgot to even th

[2022-09-06 13:48] microprediction commented on #16965
Sure thanks

[2022-09-06 17:31] hertschuh commented on #16927
@maybeLee this is now fixed in tf-nightly, which you can install by doing `!pip install tf-nightly`.
Closing this issue.

[2022-09-06 17:31] #16927 closed

[2022-09-07 01:56] Karric commented on #7947
I have the same issue, my regression model is reporting a low 'accuracy' but it seems to perform fine on actual input.

[2022-09-07 05:20] sushreebarsa commented on #16986
@maybeLee I tried to replicate the issue on colab using TF v2.9 and tf-nightly(2.11.0.dev20220906), but I didn’t face any issue as reported in tf-nightly. Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/63a5d9521e0c4f8a65ab58ed9af2a15b/keras-conv2dtranspose-empty-coredump-validpadding.ipynb#scrollTo=ZbqtgJrJw--c) and confirm the same?
Thank you!

[2022-09-07 07:27] maybeLee commented on #16986
Hi @sushreebarsa ,
I confirm your observation. The core dump issue happens when I using TensorFlow 2.8.2, I tried on TensorFlow 2.9.0 and tf-nightly, there is no core dump. I will close this issue.
Thanks.

[2022-09-07 08:33] tilakrayal commented on #16987
@froody,
A functional model and subclassed model cannot be mixed. If you would like a subclassed model, you can follow the form in the guide below, and will not need the keras.Input functional style. You would chain to the parent class constructor at the start of init, without supplying inputs and outputs.
https://www.tensorflow.org/guide/keras/custom_layers_and_models

If you would like a functio

[2022-09-07 08:49] Burf opened #16990 "Can't excute ConvNeXt with input_tensor"
When keras.applications.ConvNeXt is executed with input_tensor, it is not executed.
The cause seems to be a problem that occurs as it changes to the form of '[input_tensor]' when passing utils.layer_utils.get_source_inputs.
(When using input_shape, there is no problem.)

This problem was identified in versions tensorflow==2.10 and keras==2.10.
Check please.

the following error message:
[code]

th

[2022-09-07 09:05] sushreebarsa commented on #16990
@Burf
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-09-07 09:09] Burf commented on #16990
a code snippet:
[code]

[2022-09-07 10:20] Burf commented on #16990
When I check again, it seems that all models with include_preprocessing are included.
(MobileNetV3, EfficientNetV2, RegNet, ConvNeXt)
Check Please.
Thanks.

[2022-09-07 10:32] Burf commented on #16990
When I checked again, RegNet also found a problem with Input_tensor.
(When using input_shape, there is no problem.)

Check please.

Thanks.

the following error message with RegNetX:
[code]

the following error message with RegNetY:
[code]

[2022-09-07 10:33] Burf commented on #16990
a code snippet:
[code]

[code]

[2022-09-07 13:00] Burf commented on #16990
code snippets:
[code]
[code]

[2022-09-07 17:23] froody commented on #16987
@tilakrayal looking at that doc it says

"Layers are recursively composable

If you assign a Layer instance as an attribute of another Layer, the outer layer will start tracking the weights created by the inner layer."

That's exactly what I'm doing. If I use the `Add` layer instead of the `+` operator I still get an exception when I load a saved model:

[code]

[2022-09-07 17:39] hertschuh commented on #16935
The fix is now up on keras.io. Closing.

[2022-09-07 17:39] #16935 closed

[2022-09-07 20:49] jonasrundberg commented on #16964
Not sure how that would help? It would either remove the checkpoints that I need when iterating over a large dataset.

[2022-09-08 04:36] mattdangerw commented on #16946
I'm pretty sure the plan was to make this open for contributions. Is that right @jbischof ?

[2022-09-08 04:53] mattdangerw commented on #16906
This is a fairly large training script, with quite a bit going on in the `trian_step`. If this is a bug report, it would help to get a much more concise reproduction of the issues.

It looks like this issue may be fairly simple though. In the custom train_step, you computing a loss with `keras.losses.categorical_crossentropy(label, y_pred, from_logits=True)`. But `y_pred` looks like it is generate

[2022-09-08 07:06] danerlt commented on #5935
I found the same problem , When the program starts running, the memory is only 280 M, and the memory is increased to 357 M when the program is finished.

python version:  3.7.12
tensorflow-cpu version: 2.9.0
keras version: 2.9.0

my code is:
[code]

The printout log is:
[code]

[2022-09-08 07:12] Znerual opened #16996 "MeanIoU Metric not supporting sparse_y_true: bool or sparse_y_pred: bool in Tensorflow"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.9.1
- Python version: 3.10.6
- Bazel version (if compiling from source): -
- GPU model and memory: Quadro

[2022-09-08 10:55] Dapid opened #16997 "GPU memory usage depends on data size"
I am cross-posting this bug from [Tensorflow](https://github.com/tensorflow/tensorflow/issues/57623) because I suspect it is due to Keras.

It seems that `model.fit` and `model.predict`, when given numpy arrays, try to load the whole dataset in the GPU, instead of just sending minibatches. The bug appears on versions 2.6-2.10, but not on 2.5.

**System information**.
- OS Platform and Distribution

[2022-09-08 11:13] tilakrayal commented on #16965
@microprediction,
Could you please feel free to submit a PR for the requested change to be made and provide the PR number for the tracking. Thank you!

[2022-09-08 11:49] DagonArises opened #16998 "Custom objective function NotImplementedError"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-09-08 12:03] Dapid commented on #16997
I see both have been assigned to sushreebarsa. Sorry if it is too noisy!

[2022-09-08 14:52] #16916 closed

[2022-09-08 14:52] #16919 closed

[2022-09-08 17:02] mattdangerw commented on #16946
@Pouyanpi sounds good! @jbischof jump in if there's any more details to know before starting on on this.

[2022-09-08 17:07] jbischof commented on #16946
I haven't tested if extraction is working for other formats like `.zip` or `.tar.gz`. This is probably worth looking into.

[2022-09-08 17:11] mattdangerw commented on #16983
@chenmoneygithub can you take a look here?

[2022-09-08 17:12] mattdangerw commented on #16967
@LukeWood can you take a look at this?

[2022-09-08 17:17] LukeWood commented on #16967
Ah yeah, we should remove that argument.  Instead, we opted for `keras_cv.MaybeApply(layer, rate)`

[2022-09-08 17:24] mattdangerw commented on #16944
The pack/unpack utilities are very simple. They just move things in and out of tuples. It looks like the error you are hitting is just from trying to attach a gradient to a python integer (`y`) in your code example, which is not supported for gradient_tape.

The following works.

[code]

[2022-09-08 18:16] chenmoneygithub commented on #16983
@adriangb Thanks for reporting the issue!

There has not been any change on `get_weights()` for months. For loading optimizer weights, please make sure you call `load_weights()` if you want to get the optimizer weights. For example:
[code]

[2022-09-08 18:46] adriangb commented on #16983
On `tensorflow==2.8.0`:

[code]

On `tf-nightly` (9/8/2022):

[code]

This is because the new `keras.optimizers.optimizer_experimental.Optimizer` does not have a `get_weights()` method while the old `keras.optimizers.optimizer_v2.optimizer_v2.OptimizerV2` does.

[2022-09-08 22:04] MiraGaikwad commented on #16873
@LukeWood , @rchao , @tilakrayal  Could you please let me know if there is any update on this issue ?

[2022-09-08 22:19] rchao commented on #16873
Thanks for checking in @MiraGaikwad - if you could re-build `tensorflow_model_optimization` library, can you follow what the error message suggests, "Please ensure this object is passed to the custom_objects argument" and see if it helps in any way?

[2022-09-08 22:31] BenjaminMidtvedt commented on #16947
I did some sleuthing of my own. Found that the garbage collector can free the memory if you run exactly

[code]

So I cross-checked for by recursing these objects and finding sub-objects contained by all of them. I found a set of very likely offenders, a set of functions much like `<function DatasetV2.from_generator.<locals>.generator_next_fn.<locals>.generator_py_func at 0x000001EED8CD9A20>`. The

[2022-09-08 22:33] MiraGaikwad commented on #16873
@rchao - Yeah, I already tried that but no luck..

[2022-09-09 03:06] mingyu0428 opened #16999 "Layer's property assignments cause duplicated or overwritten when running in MirroredStrategy"
**System information**.

TensorFlow version (you are using): 2.5.0
Are you willing to contribute it (Yes/No) : No

**Describe the feature and the current behavior/state**.

When I subclass `Layer` to implement a custom layer, sometimes I need to storage temporary values (e.g. hidden features)  in forward propogation (`call` method) for later use, here is an example:
[code]

It works fine when not

[2022-09-09 09:12] tilakrayal commented on #16996
@Znerual,
I was able to execute the code without any issue/error on tf-nightly.  Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/8388c5bb5cb34395f9c382c176a7fafd/untitled578.ipynb).

[2022-09-09 09:39] Pouyanpi commented on #16946
This seems to be a different issue, the `.gz` format is neither a `tarfile` nor a `zipfile`. The method can extract a `tar.gz` or `tgz` but not `gz`. Thus, not supported per documentation and design.

Please see [ref.](https://github.com/keras-team/keras/blob/v2.10.0/keras/utils/data_utils.py#L174)

Just to reassure

[code]

[2022-09-09 09:55] Pouyanpi commented on #16946
According to [the documentation](https://github.com/keras-team/keras/blob/b80dd12da9c0bc3f569eca3455e77762cf2ee8ef/keras/utils/data_utils.py#L169-L172)
[code]

It does not seem the issue is the extraction (`_extract_archive` method) or related to `extract` and `archive_format` arguments. As the extracted files can be located at `datadir` which is `cache_dir / cache_subdir`.

but the implementation

[2022-09-09 10:11] Pouyanpi commented on #16946
My mistake, actually it does, the file is **downloaded** and stored at this location. But, It is possible to also return the path to the extracted file, I.e., `datadir`.

[2022-09-09 10:57] tilakrayal commented on #16969
@gadagashwini,
I was able to reproduce the issue on tensoflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/8cd1c82577ee3e4f8857ec844dc56afa/untitled584.ipynb).

[2022-09-09 11:51] DagonArises commented on #16998
Thanks for processing my issue. Yes I am facing the exact error message. I mentioned it in 'Describe the current behavior' in the post. The problem I believe is the f1_score function imported from sklearn, which always operates on np.arrays. But keras models outputs tensors and they cannot be easily adapted to this score function

[2022-09-09 12:15] Znerual commented on #16996
Thank you for your answer @tilakrayal !

[2022-09-09 12:15] #16996 closed

[2022-09-09 18:32] firmai commented on #16055
This would be very useful, @hotchipsveg how has your own solution been coming along?

[2022-09-09 21:39] MatthewWiens101 commented on #16700
@sachinprasadhs any update on this issue? Still looking for a faster workaround.

[2022-09-10 23:48] DagonArises commented on #16998
@tilakrayal how is it going?

[2022-09-11 11:03] #16998 closed

[2022-09-12 07:41] tilakrayal commented on #16987
@gadagashwini,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/03efb82205db91ef37b428d8b8cff9f4/untitled583.ipynb).

[2022-09-12 09:09] atticusfyj commented on #16542
@sushreebarsa @gowthamkpr May I know what the normal flow is for bug fix? Any chance we can have some workaround first?

[2022-09-12 10:35] NAMSKN commented on #15838
U are a savior

[2022-09-12 10:41] sidml commented on #16699
@mohantym
Did you find a solution ?

[2022-09-12 14:19] Zahlii opened #17007 "Tensorflow/Keras 2.10 initializer randomness changes : How to get 100% reproducible results?"
Starting with tensorflow 2.10, the behavior of weight initialization has changed. Previously, you could get perfectly reproducibly results by simply setting the numpy / tensorflow global seeds, and the seeds for the data loader, without needing to dwell into the model code itself.

However, with 2.10, it is now required to pass a specific initializer with a seed attached , e.g. `keras.layers.Dense

[2022-09-12 15:37] ahasselbring opened #17008 ""No common supertype of ..." while loading model"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 21
- TensorFlow installed from (source or binary): binary (tensorflow-cpu via pipenv)
- TensorFlow version (use command below): v2.9.1-132-g18960c44ad3 2.9.2
- Python version: 3.10
- Bazel version (if compilin

[2022-09-12 17:30] JeathRahmatUllah commented on #16934
Hello there, I am facing the same problem, can you please provide me the solution?

[2022-09-12 17:58] stevetracvc commented on #411
I can confirm what @yingjieyao said, using TF v2.8.1

If I run that code as is, I got a loss less than 0.5. If I change the masking value, and DO NOT change the values in x, then the loss is several billion (using default number of epochs). I would presume that this does, indeed, mean that masking works with Conv1D layers (I also tested Conv2D).

[2022-09-13 01:19] tinyxuyan commented on #14452
I met the same issue using tensorflow 2.4 with python 3.6 on Ubuntu 18.04. Has the issue been solved? @CSharpDummy @meliksahturker

[2022-09-13 06:52] #16952 closed

[2022-09-13 06:59] nicolasnn opened #17012 "ModelCheckpoint used with `save_best_only` doesn't handle interruptions, even with BackupAndRestore"
**System information**.

-   **Have I written custom code (as opposed to using a stock example script provided in Keras)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 20.04
-   **TensorFlow installed from (source or binary)**: docker image tensorflow/tensorflow:2.10.0
-   **TensorFlow version (use command below)**: 2.10.0 (the issue is the same for 2.8 and 2.

[2022-09-13 08:14] tilakrayal commented on #17007
@Zahlii,
There is a behavior change for `tf.keras.initializers` in tensorflow v**2.10**. `Keras initializers` will now use stateless random ops to generate random numbers.

Both seeded and unseeded initializers will always generate the same values every time they are called (for a given variable shape). For unseeded initializers (seed=None), a random seed will be created and assigned at initialize

[2022-09-13 08:54] momei123 commented on #5337
prediction = model(data) is slow!

[2022-09-13 09:12] sushreebarsa commented on #17008
@ahasselbring I tried to replicate the issue on colab, could you find the gist [here](https://colab.research.google.com/gist/sushreebarsa/8d31f90ccf77087126dc17ef7f67045e/17008.ipynb) and confirm the same?
Thank you!

[2022-09-13 09:24] sushreebarsa commented on #16984
@gowthamkpr I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/0bf91d3f60e52bc0e9aaeb54f41d73c0/16984.ipynb#scrollTo=u2kkrVjOKGfl) here.
Thank you!

[2022-09-13 09:54] ahasselbring commented on #17008
Indeed I get that error when I use TensorFlow 2.8, but with both 2.9 and 2.10 the error is as in the issue description:
[code]
coming from [here (2.9)](https://github.com/keras-team/keras/blob/r2.9/keras/saving/saved_model/load.py#L1150) or [here (2.10)](https://github.com/keras-team/keras/blob/r2.10/keras/saving/saved_model/load.py#L1314). Unfortunately I can't test with 2.7 anymore (I'm quite su

[2022-09-13 13:59] Lunatik00 opened #17013 "[REQUEST] webp support"
**System information**.

TensorFlow version (you are using): 2.10
Are you willing to contribute it (Yes/No) : Can't

**Describe the feature and the current behavior/state**.

I am reading a set of images using  tf.keras.utils.image_dataset_from_directory( ), the problem arises because I have been using webp format and I was surprised when it wasn't amongst the image formats supported by this funct

[2022-09-13 15:39] jygerardy commented on #16029
I believe you could use the mlflow.pyfunc.PythonModel module.

`            class KerasWrapper(mlflow.pyfunc.PythonModel):

                def load_context(self, context):
                    import tensorflow as tf
                    @tf.keras.utils.register_keras_serializable()
                    def custom_standardization(input_data):
                        lowercase = tf.strings.lower(inpu

[2022-09-13 16:50] cantonios commented on #16962
Numerical precision issue - there are singularities, so the numerical gradient loses accuracy.

[2022-09-13 18:10] gowthamkpr commented on #16645
@HeewonChung92 Please let me know if you were able to debug it layer by layer as mentioned above. Thanks!

[2022-09-13 18:55] TalhaUsuf commented on #16657
I just faced the same issue, just changing the file name (in callback) from `abc.hdf5` to `abc` made it to use **tf-saved model** format instead. Error message is very misleading and needs to be changed.

[2022-09-13 19:41] xinyu-dev commented on #4875
same issue here. why is this clsoed??

[2022-09-13 22:38] divyashreepathihalli commented on #16735
hi @ashutosh1919 , please do submit  a PR and our team will take a look. Thank you for your interest in contributing to Keras.

[2022-09-13 23:54] divyashreepathihalli commented on #16793
@inonbe Thank you for this feature request. It sounds like a great addition to the call back. We can use an intuitive name like `start_from`. Please go ahead and submit the PR and our team will review it.

[2022-09-14 07:52] lgleznah commented on #16967
Oh, first notice I have of that function!

I couldn't find any information about this function neither on the TensorFlow page, nor in the Keras CV page. Maybe it should be documented somewhere?

[2022-09-14 08:15] mingyu0428 commented on #16982
I have also evaluated mobilenet series model on ImageNet using the keras-applications official weights. In my implementation, the data transformation is to scale the short side of the image to 256 and then center crop to (224, 224). For mobilenet-v3-large(alpha=1.0), I got 0.7536 top1-acc and 0.9252 top5-acc; For mobilenet-v2(alpha=1.0), I got 0.7156 top1-acc and 0.9027 top5-acc. There is still a

[2022-09-14 08:26] gadagashwini commented on #16978
Hi @sky712345678,
`W tensorflow/core/common_runtime/forward_type_inference.cc:231] Type inference failed.` is just a warning, you can safely ignore it. Given code executed without any error message. Thank you!

[2022-09-14 09:50] inonbe commented on #16793
thanks @divyashreepathihalli - I'm submitting the PR right away.

[2022-09-14 10:12] tilakrayal commented on #17012
@gowthamkpr,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/a5ee0fe112e214d5a56dec3998f670bc/2-8-17012.ipynb), [v2.9](https://colab.research.google.com/gist/tilakrayal/362c5b3945c7b16f7e94c9b58b3d909b/2_9_17012.ipynb) and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/e0a1191bc9fd3aa84b194ae9e4f

[2022-09-14 16:53] ashkan-abbasi66 opened #17023 "Request for class-balanced loss"
assign the issue to @tilakrayal

[2022-09-14 16:56] ashkan-abbasi66 commented on #16735
@tilakrayal

[2022-09-14 17:14] sky-2002 opened #17024 "Include "name" parameter in tf.keras.models.clone_model() function to give a new name to the clone."
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-09-15 01:32] LukeWood commented on #16967
yeah, KerasCV docs are out of date.  Lets definitely add it back.

[2022-09-15 04:16] sushreebarsa commented on #16932
@gowthamkpr I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/660c00f033c3a00d7fd27ecc5af6751e/untitled2.ipynb) here. Thank you!

[2022-09-15 04:19] sushreebarsa commented on #16990
@gowthamkpr I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/3995abed8bb9d9ae13385d92c792e772/untitled4.ipynb) here. Thank you!

[2022-09-15 04:38] haifeng-jin opened #17029 "Raise an error when use categorical_crossentropy for binary classification"
**System information**.

TensorFlow version (you are using): nightly
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

When use `categorical_crossentropy` for binary classification,
it does not raise any error, but have all the losses equal to 0 during training.
It may confuse the user that the model has some problem, but actually it just be

[2022-09-15 09:01] dmbikash commented on #15838
it works...thanks. would u explain me the lines? it would be a great help
for me. thanks in advanced

On Mon, Sep 12, 2022 at 4:35 PM Namratha Nagendra ***@***.***>
wrote:

[2022-09-15 10:26] tilakrayal commented on #17023
@ashkan-abbasi66,
COuld you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-09-15 16:03] #16901 closed

[2022-09-15 16:03] #16954 closed

[2022-09-15 17:15] #16962 closed

[2022-09-15 17:16] rchao commented on #16962
Since the original issue on tensorflow github has been closed, closing this as well. Please reopen if the issue is still there.

[2022-09-15 17:24] ianstenbit commented on #16981
@qlzh727

[2022-09-15 17:25] rchao commented on #16999
From

[code]

I am suspecting this is not the intended behavior of `tf.distribute.MirroredStrategy`. Suggestion: would you mind opening an issue on tensorflow and I'm happy to help route it to `tf.distribute` team? Thank you.

[2022-09-15 18:14] ianstenbit commented on #16982
Hi @lcmeng -- I suspect the issue here is caused by the use of `tf.image.resize_with_crop_or_pad`.
Resizing with crop or pad may result in losing a large portion of the input image, especially for larger images.

You should see better performance of the model using a resizing method that preserves more information from the image (e.g. `tf.image.resize` or `tf.image.resize_with_pad`).

I'm closing

[2022-09-15 18:14] #16982 closed

[2022-09-15 18:24] lcmeng commented on #16982
@mingyu0428 Thank you for sharing your solution. I also figured that out after looking into the implementation of `tf.keras.applications.mobilenet_v2.preprocess_input()`. I further verified that grafting the tf_slim's preprocess functions for eval and train works with the Keras implementation of MobileNet v2.

@ianstenbit Thank you for explanation. I'm not sure if this issue should be closed. Give

[2022-09-15 18:45] ianstenbit commented on #16987
Hi Froody!

It looks like you are overriding `__call__` directly instead of the `call` method, which is what subclasses of `Layer` should override (see [Layer docs](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer))

I modified the gist from tlakrayal@ to rename your override from `__call__` to `call` and it now appears to be working as intended.

I hope this unblocks you for now,

[2022-09-15 19:00] ianstenbit commented on #16982
@lcmeng most preprocessing functions (e.g. the [ResNetV2 version](https://github.com/keras-team/keras/blob/master/keras/applications/resnet_v2.py)) can be used for rescaling to validate pre-trained models.

MobileNetV3's preprocessing function is actually a [no-op](https://github.com/keras-team/keras/blob/master/keras/applications/mobilenet_v3.py) because the model does rescaling internally. This

[2022-09-15 19:03] #16853 closed

[2022-09-15 19:58] lcmeng commented on #16982
@ianstenbit Understood. My point is if there's an official tf.keras.applications.**mobilenet_v2**.preprocess_input(), why would we want people to look anywhere else for the correct preprocessing **for MobileNet v2**?

For MobileNet v3, I noticed that its official preprocessing is a no-op. However, the built-in preprocessing caused the accuracy drop when validating the Keras pre-trained MB v3 weigh

[2022-09-15 20:06] ianstenbit commented on #16987
I don't think there is a clean way of preventing accidental override of `__call__` because there are valid use cases for overriding it.

I've looked through the [Layer docs](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#call) again and between the docstrings about `call` and `__call__` and the examples, I think there is currently sufficient guidance toward overriding `call` for

[2022-09-15 20:06] #16987 closed

[2022-09-15 22:38] ianstenbit commented on #16981
Hi @kloczek,

TensorFlow and Keras both use their own build process, which does not follow the 517/setup.py paradigm.
It may not be feasible to add support for Pep517 due to the inclusion of a Bazel `BUILD` rule, which is a reserved keyword in 517.

(As an example error when trying to build with a `setup.py`: `error: could not create 'build': File exists`.)

Is there some use case that you're unab

[2022-09-15 23:27] gowthamkpr commented on #15351
@RoyiAvital Please take a look at the solution provided [here](https://stackoverflow.com/questions/49055214/how-do-i-change-the-default-download-directory-for-pre-trained-model-in-keras). Thanks!

[2022-09-16 00:03] ianstenbit commented on #16982
@lcmeng thanks for clarifying. I understand that this workflow is a bit counterintuitive.

I think the source of confusion is probably that  `tf.keras.applications.{model_name}.preprocess_input` only performs rescaling, and does not perform cropping or resizing. This is intentional and useful for general use of these applications (e.g the ResNet example [here](https://keras.io/api/applications/),

[2022-09-16 00:04] kloczek commented on #16981
pep517 has nothing to do with setup.py or `setuptools` genrally. `setuptools` and setup.py may be used but it is not needed/is not essential. If you want you want you may use any other pep17 backend like `poetry`, `hatch`, `whey`, `flit`, `bento` and many other (and `setuptools` as well)

PEPs are documents with some standards of fetures and processes which python modules should fillow.
https://pe