[2021-07-01 05:06] annyan09023 opened #14848 "Is there a plan to support horizontal scaling for KPL?"
Based on current preprocessing layer code:
https://github.com/keras-team/keras/blob/967817c22657b31d4bb08f41e118e4118012284b/keras/engine/base_preprocessing_layer.py#L239

horizontal scaling is not supported for KPL. For example, I cannot have TextVectorization run on different machines with different sharded data and merge at the end. I wonder is there any plan for KPL to support horizontal scali

[2021-07-01 10:57] eli-osherovich opened #14849 "Add activation parameter to BatchNormalization"
### Describe the problem
This is a feature request: add `activation` parameter to the `BatchNormalization` layer.

This layer is often followed by an activation function, e.g., `ReLU`, hence it would be convenient to provide it as a parameter similar to the `Dense` layer.

[2021-07-01 14:30] KoertS commented on #12796
Hey @ogreyesp,

I'm glad my code was useful for you. I just checked and when I save my model I do not get the error. Could you provide the code that you use to reproduce this behavior?

[2021-07-01 18:31] sagniksanyal-99 opened #14851 "Failed to convert a NumPy array to a Tensor (Unsupported object type float)."
[Uploading station_day.xlsx…]()
[[x=df.iloc[:, 1:13] = df.groupby("Date").transform(lambda x: x.fillna(x.mean()))
x
y=df.iloc[:, 1:13]=df.fillna(df.mean())
y

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state = 0)
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
x_train = np.asarray(x_train).astype(np.float32)

model=Sequ

[2021-07-01 18:36] kashyapraval opened #14852 "Precision Error causing models to diverge"
A bug
------------------------

### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in Keras)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 but reproducible on google collab
-   **TensorFlow installed from (source or binary)**:
-   **TensorFlow version (use command below)**:v2.5.0-0-ga4dfb8d1a71 2.5.

[2021-07-01 19:35] fchollet opened #14853 "[Contributions welcome] Implement a `DepthwiseConv1D` layer"
Keras features a `DepthwiseConv2D` layer, but not yet `DepthwiseConv1D`. It is already implementable with existing TF ops. If you're interested in adding this feature, please open a PR.

[2021-07-01 20:46] ymodak commented on #14637
The [tf.keras.applications.mobilenet_v3.preprocess_input](https://www.tensorflow.org/api_docs/python/tf/keras/applications/mobilenet_v3/preprocess_input) function is just a placeholder and does not do anything.
See https://github.com/tensorflow/tensorflow/blob/v2.5.0/tensorflow/python/keras/applications/mobilenet_v3.py#L555-L574

[2021-07-01 20:51] jvishnuvardhan commented on #14023
Closing this as this was resolved in the recent docs. Thanks!

[2021-07-01 20:51] #14023 closed

[2021-07-01 20:56] ymodak commented on #14667
Keras is compatible with Python 3.6+
See https://pypi.org/project/keras/2.4.3/
You may also try the latest version https://pypi.org/project/keras/2.6.0rc1/

[2021-07-01 21:01] jvishnuvardhan commented on #14766
@subhajitsaha1903 You can save model with 'h5' format and load it and retrain the model as shown in this [gist](https://colab.research.google.com/gist/jvishnuvardhan/ab9d3f0568ce30f2d7dd392804a43561/untitled.ipynb).

`model.save('my_model.h5',save_format='h5')`

If the above gist doesn't help you, then please share a simple standalone code to reproduce your error. Thanks!

[2021-07-01 21:06] ymodak commented on #14569
I was not able to reproduce the reported behavior.
Please take a look at a toy example I tried;
[code]
Output:
[code]

[2021-07-01 21:08] #14539 closed

[2021-07-01 21:19] namaannn commented on #14853
I can implement Depthwise Conv 1D using other libraries. Kindly assign me this issue @fchollet

[2021-07-01 21:21] namaannn commented on #14707
This is complete overfitting. You can alter the learning rate or try changing the hyperparamters.

[2021-07-01 21:21] namaannn commented on #14707
@aguswirawan

[2021-07-01 22:23] jvishnuvardhan commented on #14769
@pierluigi-failla Since this is resolved with the answer in Stackoverflow, I am closing this issue. Please feel free to reopen if I am mistaken. Thanks!

[2021-07-01 22:23] #14769 closed

[2021-07-01 22:45] jvishnuvardhan commented on #14808
@adriangb This way of `roundtrips` of saving and loading not supported as it could lead to some tracing issues as mentioned in the error. Just a question. Why do you need that kind of `roundtrips` and what is your use-case (if you can tell) that requires this kind of functionality? thanks!

[2021-07-01 22:52] jvishnuvardhan commented on #14821
@mathshangw Thanks for creating the issue. Can you please share a simple standalone code to reproduce the error? The current code is not complete. Thanks!

[2021-07-01 22:56] adriangb commented on #14808
Well I originally found this bug in #14748, where one of the tests essentially consists of `roundtrips` since we want to test that a model can be pickled, deepcopied, etc.

I am confused as to why this is the case. It is not mentioned _anywhere_ in the docs, and it seems like a bug or design problem to me.

[2021-07-01 23:46] jvishnuvardhan commented on #14808
@adriangb I may be wrong here `This way of roundtrips of saving and loading not supported`.

@k-w-w Can you please take a look? Thanks

[2021-07-01 23:48] adriangb commented on #14808
For what it's worth, I pushed a workaround to #14748, which also confirms the issue

[2021-07-02 01:45] matthewlehew commented on #14632
I'm not sure the status of solving the underlying issue(s) for this bug, but something I've discovered is that the order of installing packages matters here. When creating a new virtual environment (Python 3.8), using the following command

`pip install keras tensorflow pillow`

results in the traceback below when importing some modules. However, if you instead do:

[code]

the error doesn't occur

[2021-07-02 03:31] chenruhai commented on #14766
My key code is as follows
`
def enter():
    arg = parameter_initialization()
    df_xun = pd.read_csv(arg.data_file_path)
    print("load csv file is ok!")
    train, test = df_xun[:-arg.test_size], df_xun[-arg.test_size:]
    features_set, labels = sequence_engineering_for_train(train,arg.price_column_name,windows_size=arg.windows_size)
    test_features = sequence_engineering_for_test(train,tes

[2021-07-02 03:39] chenruhai commented on #14766
H5 format is declared according to your parameters, but the same error is reported.

[2021-07-02 03:49] Meghpal commented on #14766
Hello, as mentioned above, to save as. h5, you NEED the h5py library.

[code]

The error is stating that you lack the dependency to create the file. Read more about it [here](https://pypi.org/project/h5py/)

[2021-07-02 04:18] chenruhai commented on #14766
I have installed the H5PY module, if not installed, the program will report that there is no module named H5PY.

[2021-07-02 04:23] chenruhai commented on #14766
I have installed the H5PY module, if not installed, the program will report that there is no module named H5PY.

[2021-07-02 08:03] rmothukuru commented on #14701
@ramatubs,
[**`model.fit_generator`** ](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit_generator) is deprecated in favor of [**`model.fit`**](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit).

You can use [**`model.fit`**](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit) with **`x`** as **`[X1i[0], X2i[0]]`** and **`y`** as **`Y[0]`**.

[2021-07-02 08:09] rmothukuru commented on #14706
@lcrmorin,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-02 08:11] rmothukuru commented on #14707
@aguswirawan,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-02 08:12] rmothukuru commented on #14718
@mashirali,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-02 08:18] rmothukuru commented on #14723
@myarist,
This error might be because the argument, **`return_sequences = True`** is missing in the **`First LSTM Layer`**,

`model.add(LSTM(n_units))`

Can you add that argument and let us know how it goes? Thanks!

[2021-07-02 09:29] myarist commented on #14723
Hello @rmothukuru, thanks for responding to my issue
I have tried using your solution, I give `return_sequences = True` to the `First LSTM Layer`

[code]

But it seems that the error doesn't resolve. I still get the same error

[code]

Is it possible that the problem is not in the "sequence" but rather with the use of GridSearch CV which does not support 3-dimensional data? I'm not sure, but I'd r

[2021-07-02 09:39] ogreyesp commented on #12796
Hi @KoertS

I fixed the problem by commenting some lines as follows:

`class RepeatVector3D(layers.Layer):
    """Repeats the input n times.
    Example:
[code]
    Args:
      n: Integer, repetition factor.
    Input shape:
      3D tensor of shape `(None, x, y)`.
    Output shape:
      4D tensor of shape `(None, n, x, y)`.
    """

    def __init__(self, n):

        super(RepeatVector3D, self)

[2021-07-02 10:01] rmothukuru commented on #14723
@myarist,
Please refer [this article](https://machinelearningmastery.com/how-to-grid-search-deep-learning-models-for-time-series-forecasting/) which demonstrates how to use **`Hyperparameter Tuning`** using **`GridSearchCV`** for **`Sequential Data`** using **`LSTMs`**.

[2021-07-02 10:14] rmothukuru commented on #14668
@RoshanSalian,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-02 10:47] Nizarazo commented on #14667
Hi @ymodak

Thanks for your reply.
Which version of Keras support Python3.9?

Thanks

[2021-07-02 12:06] mathshangw commented on #14821
thanks for your replying , i  solved it . the problem was in my arrays i passed it was in dict form not array structure

[2021-07-02 12:06] #14821 closed

[2021-07-02 12:51] myarist commented on #14723
Hello, @rmothukuru, thanks for giving the recommendation article

Previously I relied on [this article](https://machinelearningmastery.com/grid-search-hyperparameters-deep-learning-models-python-keras/) to guide me in using `GridSearchCV` in a deep learning sequential model

But the use of *corpus parallel* data for my **Machine Translation** may be one of the reasons, I think the code needs a lot

[2021-07-02 14:49] fsx950223 commented on #14853
I'm also interested in it.

[2021-07-02 16:14] ymodak commented on #14667
Python 3.9 support was added to TensorFlow with 2.5
Therefore you can try Keras 2.5 and above for python 3.9

[2021-07-02 18:30] jvishnuvardhan commented on #14766
@subhajitsaha1903 I am not sure what is the root-cause. But, try to use recent version of TF and keras. If you can share standalone code (*.ipynb or .py file) I could try to help you faster in resolving this issue. You could also use google colab (similar to the one I shared in my previous response).  Thanks!

[2021-07-02 18:46] ymodak commented on #14762
https://github.com/tensorflow/tensorflow/issues/34114#issuecomment-588574494

[2021-07-02 20:53] adthorson commented on #2664
I'm by no means an expert; however, felt like tackling this problem.

You need to redefine an Input to this subset of layers model.  First input shape needs to conform to what the intermediate layer expects.

I coded up something, but I haven't verified this code:

def evaluate_from_intermediate_layer_index(model, index, X):
    layers = model.layers
    count_layers = len(layers)
    #
    if (in

[2021-07-03 02:01] dennymarcels opened #14862 "Recover callback state when training is interrupted"
**System information**.

TensorFlow version (you are using): 2
Are you willing to contribute it (Yes/No) : No (I wouldn't know how)

**Describe the feature and the current behavior/state**.
I was wondering if it would be possible to checkpoint and recover callback states, so that my callbacks can continue from their latest state after training is interrupted for some reason.

Example (presented as

[2021-07-03 08:12] aguswirawan commented on #14707
Dear rmothukuru

this is my code CNN

import sys
import sklearn
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
import os
import pandas as pd
import scipy.io as sio
impo

[2021-07-03 10:15] 48cm opened #14864 "issue with tf.keras.layers.experimental.preprocessing.RandomHeight"
**System information**.
- Have I written custom code - **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 64
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): **2.5**
- Python version: **3.7**
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to reproduce:
-
**Describe the problem**.
While training

[2021-07-03 10:32] Nizarazo commented on #14667
@ymodak , Thanks for your reply.
Ticket is closed.

[2021-07-03 10:32] #14667 closed

[2021-07-03 12:52] mathshangw opened #14866 "Invalid argument: In[0] mismatch In[1] shape: 1108 vs. 1120"
i got this error
`tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.`
`(0) Invalid argument: In[0] mismatch In[1] shape: 1108 vs. 1120: [42,1108] [1120,256] 0 0`
`[[node model/dense/MatMul (defined at rnn_flickr_fit.py:273) ]]`
`(1) Invalid argument: In[0] mismatch In[1] shape: 1108 vs. 1120: [42,1108] [1120,256] 0 0`
`[[node model/dense/MatMul (defined at rnn_fli

[2021-07-03 12:56] bhack opened #14867 "Keras bisect and editable install"
**System information**.

TensorFlow version (you are using):
Are you willing to contribute it (Yes/No) :
Just if we have a clear path on what will be accepted in the repo
**Describe the feature and the current behavior/state**.

I want to use `git-bisect` on different Keras commits to execute third party library tests.
This is hard to achieve currently as Keras doesn't support editable installs (e

[2021-07-03 17:57] namaannn commented on #14851
@sagniksanyal-99 I can solve this issue, kindly assign me this issue

[2021-07-03 19:29] suvadityamuk opened #14868 "Possible circular import problem"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home Single Language (10.0, Build 19043)
- TensorFlow installed from (source or binary): using Pip
- TensorFlow version (use command below): v1.12.1-59746-gf10f5080a3c 2.7.0-dev20210703
![image](https://user-i

[2021-07-04 15:31] #14692 closed

[2021-07-04 16:09] Saduf2019 commented on #13651
@DamionCheng
Moving this issue to closed status as there has been no activity and there has been no information provided on the issue, in case you still face the error please create a new issue.

[2021-07-04 16:09] #13651 closed

[2021-07-04 16:12] Saduf2019 commented on #13645
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:12] #13645 closed

[2021-07-04 16:13] Saduf2019 commented on #13639
@AminHP
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:13] #13639 closed

[2021-07-04 16:13] Saduf2019 commented on #13653
@abbati4

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:13] #13653 closed

[2021-07-04 16:16] Saduf2019 commented on #13663
@satyakrishnapst

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:16] #13663 closed

[2021-07-04 16:18] Saduf2019 commented on #13662
@Tonytony123474

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:18] #13662 closed

[2021-07-04 16:20] Saduf2019 commented on #13661
@junhuang-ifast

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:20] #13661 closed

[2021-07-04 16:21] Saduf2019 commented on #13660
@Tonytony123474
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:21] #13660 closed

[2021-07-04 16:24] Saduf2019 commented on #13633
@Kantshun
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:24] #13633 closed

[2021-07-04 16:29] Saduf2019 commented on #13711
@Nestak2
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:29] #13711 closed

[2021-07-04 16:31] Saduf2019 commented on #13704
@Uspark-dev
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:31] #13704 closed

[2021-07-04 16:32] Saduf2019 commented on #13716
@lucgiffon
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:32] #13716 closed

[2021-07-04 16:33] Saduf2019 commented on #13720
@akashshingha850
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-04 16:33] #13720 closed

[2021-07-05 10:40] Saduf2019 commented on #13728
@MLRadfys
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:40] #13728 closed

[2021-07-05 10:43] Saduf2019 commented on #13731
@JoaoLages
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 10:43] #13731 closed

[2021-07-05 10:45] Saduf2019 commented on #13733
@the-drunk-coder
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 10:45] #13733 closed

[2021-07-05 10:45] Saduf2019 commented on #13745
@rodyt
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:45] #13745 closed

[2021-07-05 10:46] Saduf2019 commented on #13744
@kevkid
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 10:46] #13744 closed

[2021-07-05 10:47] Saduf2019 commented on #13734
@KillerStrike17
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:47] #13734 closed

[2021-07-05 10:50] Saduf2019 commented on #13738
@rohanmohapatra
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:50] #13738 closed

[2021-07-05 10:50] sushreebarsa commented on #13721
@akashshingha850 Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:50] #13721 closed

[2021-07-05 10:52] Saduf2019 commented on #13739
@vishwas1234567
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:52] #13739 closed

[2021-07-05 10:53] Saduf2019 commented on #13747
@Storm-cev
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:53] #13747 closed

[2021-07-05 10:54] sushreebarsa commented on #13740
@Lugges991 We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-05 10:54] #13740 closed

[2021-07-05 10:55] Saduf2019 commented on #13771
@ns3284
Please refer to https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:55] #13771 closed

[2021-07-05 10:56] Saduf2019 commented on #13727
@axelschmidt91
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:56] #13727 closed

[2021-07-05 10:56] sushreebarsa commented on #13735
@joshleiph Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 10:56] #13735 closed

[2021-07-05 10:57] Saduf2019 commented on #13652
@qiagu

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:57] #13652 closed

[2021-07-05 10:58] Saduf2019 commented on #13750
@smehdia
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 10:58] #13750 closed

[2021-07-05 10:59] Saduf2019 commented on #13751
@ghazalsahebzamani
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 10:59] #13751 closed

[2021-07-05 10:59] sushreebarsa commented on #13857
@shipleyxie  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 10:59] #13857 closed

[2021-07-05 11:00] Saduf2019 commented on #13752
@apatsekin
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:00] #13752 closed

[2021-07-05 11:01] Saduf2019 commented on #13753
@qysnn
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:01] sushreebarsa commented on #13846
@hamidfathi1998 Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:01] #13846 closed

[2021-07-05 11:02] Saduf2019 commented on #13815
@JamesMcGuigan
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:02] #13815 closed

[2021-07-05 11:02] sushreebarsa commented on #13840
@rz-zhang Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:02] #13840 closed

[2021-07-05 11:03] Saduf2019 commented on #13798
@rafwaf
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:03] #13798 closed

[2021-07-05 11:04] Saduf2019 commented on #13788
@EtagiBI
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:04] #13788 closed

[2021-07-05 11:04] sushreebarsa commented on #13868
@JivanRoquet We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-05 11:04] #13868 closed

[2021-07-05 11:04] Saduf2019 commented on #13783
@csitaula
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:04] #13783 closed

[2021-07-05 11:05] sushreebarsa commented on #13874
@madhurinagare  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:05] #13874 closed

[2021-07-05 11:06] Saduf2019 commented on #13784
@Tejaswgupta
Moving this to closed status as the issue is resolved.

[2021-07-05 11:06] #13784 closed

[2021-07-05 11:06] sushreebarsa commented on #13837
@jptrxff  We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-05 11:06] #13837 closed

[2021-07-05 11:06] Saduf2019 commented on #13780
@loribeehive
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:06] #13780 closed

[2021-07-05 11:07] Saduf2019 commented on #13775
@efabb95
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:07] #13775 closed

[2021-07-05 11:08] Saduf2019 commented on #13770
@efabb95
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:08] #13770 closed

[2021-07-05 11:08] Saduf2019 commented on #13769
@Mahi-Mai

We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:08] #13769 closed

[2021-07-05 11:09] Saduf2019 commented on #13767
@pj1989

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:09] #13767 closed

[2021-07-05 11:09] sushreebarsa commented on #13832
@AbhishekUoR  Moving this issue to closed status as there has been no recent activity, in case you still need help on this please create a new issue.Thanks!

[2021-07-05 11:09] #13832 closed

[2021-07-05 11:10] Saduf2019 commented on #13765
@Crissman
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:10] #13765 closed

[2021-07-05 11:10] Saduf2019 commented on #13764
@Jamesswiz
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:10] #13764 closed

[2021-07-05 11:11] Saduf2019 commented on #13761
@sudonto

We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:11] #13761 closed

[2021-07-05 11:11] Saduf2019 commented on #13760
@istiaq28
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:11] #13760 closed

[2021-07-05 11:12] sushreebarsa commented on #13831
@gauravkr0071  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:12] #13831 closed

[2021-07-05 11:12] Saduf2019 commented on #13812
@juanc409
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:12] #13812 closed

[2021-07-05 11:12] Saduf2019 commented on #13758
@shiningrain
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:12] #13758 closed

[2021-07-05 11:13] sushreebarsa commented on #13819
@shiningrain  We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-05 11:13] #13819 closed

[2021-07-05 11:13] Saduf2019 commented on #13756
@alokssingh
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:13] #13756 closed

[2021-07-05 11:13] Saduf2019 commented on #13818
@shiningrain
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:13] #13818 closed

[2021-07-05 11:14] Saduf2019 commented on #13817
@shiningrain
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:14] #13817 closed

[2021-07-05 11:15] Saduf2019 commented on #13807
@shiningrain
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:15] #13807 closed

[2021-07-05 11:15] Saduf2019 commented on #13858
@danushaaditya
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:15] #13858 closed

[2021-07-05 11:15] sushreebarsa commented on #13754
@EricSchles  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:15] #13754 closed

[2021-07-05 11:16] Saduf2019 commented on #13806
@shiningrain
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:16] #13806 closed

[2021-07-05 11:16] Saduf2019 commented on #13800
@shiningrain
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:16] #13800 closed

[2021-07-05 11:16] sushreebarsa commented on #13759
@sandeeppandey456  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:16] #13759 closed

[2021-07-05 11:16] Saduf2019 commented on #13801
@shiningrain
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:16] #13801 closed

[2021-07-05 11:17] Saduf2019 commented on #13786
@shiningrain
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:17] #13786 closed

[2021-07-05 11:17] sushreebarsa commented on #13766
@benz-tactile  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:17] #13766 closed

[2021-07-05 11:17] Saduf2019 commented on #13665
@filipemtz
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:17] #13665 closed

[2021-07-05 11:18] Saduf2019 commented on #13787
@shiningrain

We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to close

[2021-07-05 11:18] #13787 closed

[2021-07-05 11:18] sushreebarsa commented on #13776
@davideboschetto  We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-05 11:18] #13776 closed

[2021-07-05 11:19] Saduf2019 commented on #13820
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:19] #13820 closed

[2021-07-05 11:19] sushreebarsa commented on #13781
@pykeras  We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-05 11:19] #13781 closed

[2021-07-05 11:19] Saduf2019 commented on #13773
@luharsvm

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:19] #13773 closed

[2021-07-05 11:20] Saduf2019 commented on #13821
@shiningrain

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:20] #13821 closed

[2021-07-05 11:20] Saduf2019 commented on #13849
@Jup11ter
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:20] #13849 closed

[2021-07-05 11:21] Saduf2019 commented on #13822
@Jup11ter

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:21] #13822 closed

[2021-07-05 11:22] Saduf2019 commented on #13823
@Jup11ter
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:22] #13823 closed

[2021-07-05 11:22] Saduf2019 commented on #13825
@Tejaswgupta
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:22] #13825 closed

[2021-07-05 11:23] Saduf2019 commented on #13827
@JCruk

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:23] #13827 closed

[2021-07-05 11:24] Saduf2019 commented on #13828
@BlackSnow76
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:24] #13828 closed

[2021-07-05 11:24] Saduf2019 commented on #13886
@sumannelli

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:24] #13886 closed

[2021-07-05 11:25] Saduf2019 commented on #13884
@Flock1
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:25] #13884 closed

[2021-07-05 11:25] Saduf2019 commented on #13883
@sakshijain032

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:25] #13883 closed

[2021-07-05 11:26] Saduf2019 commented on #13891
@YuvalSilman
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:26] #13891 closed

[2021-07-05 11:26] Saduf2019 commented on #13893
@Gelesh
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:26] #13893 closed

[2021-07-05 11:27] #13894 closed

[2021-07-05 11:28] Saduf2019 commented on #13719
@mulka
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:28] #13719 closed

[2021-07-05 11:29] Saduf2019 commented on #13872
@emlys
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:29] #13872 closed

[2021-07-05 11:29] Saduf2019 commented on #13851
@Jup11ter
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:29] #13851 closed

[2021-07-05 11:30] Saduf2019 commented on #13852
@Jup11ter
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:30] #13852 closed

[2021-07-05 11:30] sushreebarsa commented on #13785
@zehzhang Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:30] #13785 closed

[2021-07-05 11:30] Saduf2019 commented on #13854
@shiningrain
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:30] #13854 closed

[2021-07-05 11:30] Saduf2019 commented on #13842
@Jup11ter
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:31] Saduf2019 commented on #13843
@Lak6
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:31] #13843 closed

[2021-07-05 11:31] Saduf2019 commented on #13841
@Jup11ter
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:31] #13841 closed

[2021-07-05 11:32] Saduf2019 commented on #13830
@palatos
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:32] #13830 closed

[2021-07-05 11:32] sushreebarsa commented on #13797
@rafwaf Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:32] #13797 closed

[2021-07-05 11:32] Saduf2019 commented on #13844
@busyyang
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:32] #13844 closed

[2021-07-05 11:33] Saduf2019 commented on #13859
@shiningrain
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:33] #13859 closed

[2021-07-05 11:33] Saduf2019 commented on #13876
@jhaggle
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:33] #13876 closed

[2021-07-05 11:34] Saduf2019 commented on #13882
@Jasonnor
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:34] #13882 closed

[2021-07-05 11:34] sushreebarsa commented on #13973
@anorak94 Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:34] #13973 closed

[2021-07-05 11:34] Saduf2019 commented on #13870
@vikrantsec
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:34] #13870 closed

[2021-07-05 11:35] sushreebarsa commented on #13835
@JivanRoquet  We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-05 11:35] #13835 closed

[2021-07-05 11:35] Saduf2019 commented on #13860
@tennoshi
We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.

[2021-07-05 11:35] #13860 closed

[2021-07-05 11:37] Saduf2019 commented on #13976
@paulhigazi
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:37] #13976 closed

[2021-07-05 11:38] Saduf2019 commented on #13950
@pooraniR
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:38] #13950 closed

[2021-07-05 11:38] Saduf2019 commented on #13957
@MarviB16

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:38] #13957 closed

[2021-07-05 11:39] sushreebarsa commented on #13942
@ujas3279  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:39] #13942 closed

[2021-07-05 11:39] Saduf2019 commented on #13962
@Parth38
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:39] #13962 closed

[2021-07-05 11:39] Saduf2019 commented on #13880
@Neeraj-Prakash
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:39] #13880 closed

[2021-07-05 11:40] sushreebarsa commented on #13946
@kpe Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:40] #13946 closed

[2021-07-05 11:40] Saduf2019 commented on #13861
@BlackSnow76

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:40] #13861 closed

[2021-07-05 11:41] Saduf2019 commented on #13929
@marlon-shiftone
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:41] #13929 closed

[2021-07-05 11:41] sushreebarsa commented on #14050
@Iuiu1234  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:41] #14050 closed

[2021-07-05 11:41] Saduf2019 commented on #13920
@JSunRae
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:41] #13920 closed

[2021-07-05 11:42] Saduf2019 commented on #13917
@maxbry
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:42] #13917 closed

[2021-07-05 11:42] Saduf2019 commented on #13911
@edwardcho

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:42] #13911 closed

[2021-07-05 11:42] sushreebarsa commented on #14051
@Iuiu1234  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:42] #14051 closed

[2021-07-05 11:43] Saduf2019 commented on #13896
@BillyHub
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:43] #13896 closed

[2021-07-05 11:43] Saduf2019 commented on #13908
@maran-t

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:43] #13908 closed

[2021-07-05 11:43] sushreebarsa commented on #13989
@smirnovevgeny  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:43] #13989 closed

[2021-07-05 11:44] Saduf2019 commented on #13905
@Emnaa12
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:44] #13905 closed

[2021-07-05 11:44] Saduf2019 commented on #13904
@CaichaoGitHub

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:44] #13904 closed

[2021-07-05 11:44] sushreebarsa commented on #14041
@OriAlpha  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:44] #14041 closed

[2021-07-05 11:45] Saduf2019 commented on #13902
@cdj0311
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:45] #13902 closed

[2021-07-05 11:45] Saduf2019 commented on #13890
@Aimannnhakim
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:45] #13890 closed

[2021-07-05 11:45] sushreebarsa commented on #14034
@gabbard  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:45] Saduf2019 commented on #13845
@jaegyeongChoi
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:45] #13845 closed

[2021-07-05 11:46] Saduf2019 commented on #14048
@kk0186
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:46] #14048 closed

[2021-07-05 11:46] Saduf2019 commented on #14057
@Aminejr1
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:46] #14057 closed

[2021-07-05 11:46] sushreebarsa commented on #13988
@mrgloom  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:46] #13988 closed

[2021-07-05 11:47] Saduf2019 commented on #13995
@saeedalahmari3
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:47] #13995 closed

[2021-07-05 11:48] Saduf2019 commented on #14025
@btwewek
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:48] #14025 closed

[2021-07-05 11:49] sushreebarsa commented on #13897
@RamananThiru Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:49] #13897 closed

[2021-07-05 11:50] Saduf2019 commented on #14026
@amineemp2020
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:50] #14026 closed

[2021-07-05 11:51] Saduf2019 commented on #14017
@TCHERAKAmine
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:51] #14017 closed

[2021-07-05 11:51] Saduf2019 commented on #14016
@Emnaa12
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:51] #14016 closed

[2021-07-05 11:51] Saduf2019 commented on #13998
@toofo
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:51] #13998 closed

[2021-07-05 11:52] Saduf2019 commented on #13907
@rjpg
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:52] #13907 closed

[2021-07-05 11:53] Saduf2019 commented on #14011
@tirkarthi
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:53] #14011 closed

[2021-07-05 11:53] Saduf2019 commented on #14007
@tqdo
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:53] #14007 closed

[2021-07-05 11:54] Saduf2019 commented on #14010
@Guigo95
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:54] #14010 closed

[2021-07-05 11:54] Saduf2019 commented on #14002
@eravallirao
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:54] #14002 closed

[2021-07-05 11:54] Saduf2019 commented on #13983
@ArpithaFAU
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:54] #13983 closed

[2021-07-05 11:55] Saduf2019 commented on #13980
@talhaanwarch
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:55] #13980 closed

[2021-07-05 11:55] Saduf2019 commented on #13979
@georgeparry12

Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:55] #13979 closed

[2021-07-05 11:55] sushreebarsa commented on #14022
@drdozer  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:55] #14022 closed

[2021-07-05 11:56] Saduf2019 commented on #13936
@nantha42
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:56] #13936 closed

[2021-07-05 11:56] sushreebarsa commented on #13919
@Manal4 Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:56] #13919 closed

[2021-07-05 11:57] Saduf2019 commented on #13864
@hamidfathi1998
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-05 11:57] #13864 closed

[2021-07-05 11:57] sushreebarsa commented on #13903
@kikikio Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 11:57] #13903 closed

[2021-07-05 12:00] sushreebarsa commented on #13906
@Volker-Weissmann Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:02] sushreebarsa commented on #13889
@sumannelli Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:02] #13889 closed

[2021-07-05 12:03] sushreebarsa commented on #13862
@Ambrevar Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:03] #13862 closed

[2021-07-05 12:05] sushreebarsa commented on #13963
@usthbstar  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:05] #13963 closed

[2021-07-05 12:06] sushreebarsa commented on #14070
@primachouaib  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:06] #14070 closed

[2021-07-05 12:07] sushreebarsa commented on #14014
@georgeparry12  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:07] #14014 closed

[2021-07-05 12:09] sushreebarsa commented on #13928
@ErickDamora99  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:09] #13928 closed

[2021-07-05 12:10] sushreebarsa commented on #14024
@haricoolharan  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:10] #14024 closed

[2021-07-05 12:12] sushreebarsa commented on #14084
@chiboreache  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:12] #14084 closed

[2021-07-05 12:12] sushreebarsa commented on #14085
@Tanay0101
Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:12] #14085 closed

[2021-07-05 12:14] sushreebarsa commented on #14079
@serginavarroguimera  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:14] #14079 closed

[2021-07-05 12:14] sushreebarsa commented on #14087
@HansLeonardVanBrueggemann  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:14] #14087 closed

[2021-07-05 12:15] sushreebarsa commented on #14090
@UnixJunkie  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:15] #14090 closed

[2021-07-05 12:16] sushreebarsa commented on #14102
@anis-agwan  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:16] #14102 closed

[2021-07-05 12:18] sushreebarsa commented on #14109
@QuickLearner171998  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:18] #14109 closed

[2021-07-05 12:27] sushreebarsa commented on #14107
@umbra-scientia  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:27] #14107 closed

[2021-07-05 12:31] sushreebarsa commented on #14111
@deeppatel4557  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-05 12:31] #14111 closed

[2021-07-05 14:54] gabbard commented on #14034
@sushreebarsa: This issue notes a gap in the documentation. That gap still seems to be present.

[2021-07-05 15:57] aymanai commented on #14632
Excellent it works, I just replace my import code only as

from tensorflow import keras
from tensorflow.keras import backend as K
from tensorflow.keras.layers import Activation

instead of
# from keras import backend as K
# from keras.layers import Activation

[2021-07-05 20:31] Azmisov opened #14869 "Use Dense layer with RaggedTensor"
Wondering what the recommended approach for dense layers is with RaggedTensor inputs.

I have tried a ragged=True Keras Input fed into a Keras Dense layer; I get an error though due to: `keras/layers/core.py, line 1245 ` using tensordot operation. If you are supposed to be able to use Dense layers w/ RaggedTensor, please let me know. _(I'd like to point out that theoretically, a tensordot implemen

[2021-07-05 21:33] gitclem commented on #14464
I'm not able to pip install TF 1.13.1
[code]

[2021-07-06 04:36] vahe4060 commented on #13536
Hi.
I'm facing the same issue, can you please tell me how you fixed it?

[2021-07-06 07:24] sushreebarsa commented on #14113
@joyyyieee  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 07:24] #14113 closed

[2021-07-06 07:26] sushreebarsa commented on #14114
@Ritesh-pandey-crypto  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 07:26] #14114 closed

[2021-07-06 08:30] sushreebarsa commented on #13659
@iirekm  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:30] #13659 closed

[2021-07-06 08:31] sushreebarsa commented on #13658
@iirekm Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:31] #13658 closed

[2021-07-06 08:36] sushreebarsa commented on #13656
@mkillinger  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:36] #13656 closed

[2021-07-06 08:37] sushreebarsa commented on #13655
@sksatgithub  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:37] #13655 closed

[2021-07-06 08:38] sushreebarsa commented on #13649
@Shan89G We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-06 08:38] #13649 closed

[2021-07-06 08:39] sushreebarsa commented on #13648
@buivancuong  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:39] #13648 closed

[2021-07-06 08:40] sushreebarsa commented on #13642
@qtdaniel We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-06 08:40] #13642 closed

[2021-07-06 08:43] sushreebarsa commented on #13641
@ErenBYilmaz  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:43] #13641 closed

[2021-07-06 08:44] sushreebarsa commented on #13638
@Rajshreed We see that you are using old version of tensorflow which is not actively supported now, please verify on 2.x and open a new issue in case you face any errors, hence moving this to closed status.Thanks!

[2021-07-06 08:44] #13638 closed

[2021-07-06 08:47] sushreebarsa commented on #13869
@kylrth Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:47] #13869 closed

[2021-07-06 08:48] sushreebarsa commented on #13866
@krishnak  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:48] #13866 closed

[2021-07-06 08:50] sushreebarsa commented on #13856
@Ambrevar  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:50] #13856 closed

[2021-07-06 08:51] sushreebarsa commented on #13838
@vladostan Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:51] #13838 closed

[2021-07-06 08:54] sushreebarsa commented on #13826
@RCTimms  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-06 08:54] #13826 closed

[2021-07-06 09:24] rmothukuru commented on #14707
Hi There,

We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions.

This issue will be closed automatically 7 days from now. If you still need help with this issue, Please open a

[2021-07-06 09:45] rmothukuru commented on #14866
@mathshangw,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-06 09:50] rmothukuru commented on #14849
@eli-osherovich,
Can you please provide more details and a use case where this Feature is applicable? Thanks!

[2021-07-06 11:10] rmothukuru commented on #14836
@ZulfikriMirza,
Can you try adding **`input_shape=(227, 227, 3)`** in the **`Conv2D Layer`** instead of **`TimeDistributed Layer`** and see if the issue persists? Thanks!

[2021-07-06 11:40] rmothukuru commented on #14776
@fsx950223,
The API, **`model.optimizer._create_hypers()`** couldn't be found in the [Keras Documentation](https://keras.io/search.html?query=model.optimizer._create_hypers). Can you please let us know the reference of that API in [Keras Documentation](https://keras.io/getting_started/)? Thanks!

[2021-07-06 11:46] fsx950223 commented on #14776
The method doesn't have any documents. My question is how to track optimizer variables that have been created.

[2021-07-06 12:33] rmothukuru commented on #14698
@jackeymango,
Can you please use [Distribution Strategy](https://keras.io/guides/distributed_training/) instead of **`multi_gpu_model`** and let us know if the issue persists? Thanks!

[2021-07-06 13:50] eli-osherovich commented on #14849
@rmothukuru
Most modern architectures use BN followed by an activation layer (typically ReLU). It would be nice (and more aligned with other layers, e.g., Dense, Conv) to have activation parameter directly within the BN layers. The code will also be more concise.

[2021-07-06 14:19] Saduf2019 commented on #14031
@mogeid
hey we were supposed to connect for that dataset, did u go tru it?

[2021-07-06 14:19] #14031 closed

[2021-07-06 14:20] Saduf2019 commented on #14233
@marziehoghbaie
https://github.com/keras-team/keras/issues/14031

[2021-07-06 14:20] #14233 closed

[2021-07-06 14:21] Saduf2019 commented on #14259
@dapsjj
https://github.com/keras-team/keras/issues/14233

[2021-07-06 14:21] #14259 closed

[2021-07-06 14:21] Saduf2019 commented on #14262
@rahulv1999
https://github.com/keras-team/keras/issues/14233

[2021-07-06 14:21] #14262 closed

[2021-07-06 14:22] Saduf2019 commented on #13732
@dendrondal
Moving this to closed status as the issue is resolved.

[2021-07-06 14:22] #13732 closed

[2021-07-06 14:28] Saduf2019 commented on #14159
@mikexue7
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-06 14:28] #14159 closed

[2021-07-06 14:29] Saduf2019 commented on #14166
@cgcodeboy
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-06 14:29] #14166 closed

[2021-07-06 14:29] Saduf2019 commented on #14178
@Vsilent01
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-06 14:29] #14178 closed

[2021-07-06 14:30] Saduf2019 commented on #14221
@WrathofBhuvan11
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-06 14:30] #14221 closed

[2021-07-06 14:30] Saduf2019 commented on #14237
@naiveuser29
Moving this issue to closed status as there has been no activity, in case you still face the error please create a new issue.

[2021-07-06 14:30] #14237 closed

[2021-07-06 16:39] namaannn commented on #14851
@sagniksanyal-99 can you provide the entire code with dataset so that i can make changes in the code

[2021-07-06 16:50] meenaljain0303 commented on #14851
I would also like to work on this issue, pls assign me

[2021-07-06 17:49] Oezkan23 opened #14871 "How to make low level tensor operations in custom layers?"
System: Python 3.8.3 64-bit | Qt 5.12.9 | PyQt5 5.12.3 | Linux 5.8.0-55-generic
tensorflow version: 2021-07-05 20:04:06.422679
keras version: 2021-07-05 20:04:06.422679

I try to make a custom layer which has an input  tensor of a shape (None,2,2,3) and I wanted to have an output tensor with a shape (None,1,1,3) i.e output tensor and input tensor should have different shapes. Inside the custom lay

[2021-07-06 20:06] haifeng-jin commented on #14852
Bug verified.
With fixed seed and no randomness in the training process, two cloned models have different gradient updates.
Not sure if the root cause is in the Keras code.

[2021-07-06 20:12] CaptainDario opened #14872 "Convert model with `tensorflow.keras.layers.experimental.preprocessing` to TFLite"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
It would be awesome if layers from `tensorflow.keras.layers.experimental.preprocessing` like `Resizing` would be convertable to TF Lite without implementing custom ops.

Currently a custom op definition is needed for (some of)

[2021-07-06 20:24] haifeng-jin commented on #14862
@dennymarcels I think this is a good solution. https://github.com/tensorflow/tensorflow/issues/50516#issuecomment-873313024
You can subclass the `Callback` class in your code.

[2021-07-06 20:34] haifeng-jin commented on #14868
@suvadityamuk We are not using `import keras` or `from keras import ...` any more.
Would you please change them to `from tensorflow import keras` and try again?

[2021-07-06 20:39] haifeng-jin commented on #14869
Hi @Azmisov, thanks for the issue.
Would you please paste your code for the custom layer?
For using ragged tensor, what shape would you expect the weights would be?

[2021-07-06 21:11] Azmisov commented on #14869
For kernel weight shape, `(outputs, inputs)`, with dims prepended for broadcasting. And RaggedTensor `(..., inputs)`. This is what I was doing:

[code]

[2021-07-06 21:36] haifeng-jin commented on #14871
Hi @Oezkan23, thanks for the issue.
The tensorflow operations should be quite comprehensive.
Would tensorflow operations like `tf.slice` do it?

[2021-07-06 21:41] haifeng-jin commented on #14867
@qlzh727 Would you please take a look at this issue?
I am not sure about the process for publishing to PyPI.

[2021-07-07 03:02] haifeng-jin commented on #14869
To my understanding, you mean even the length of the shape of the input tensor is not fixed.
`Dense` layer is just designed to support 1-dimensional tensor input.
Your use case would be a new layer instead of a new feature to the `Dense` layer.

[2021-07-07 04:09] Azmisov commented on #14869
The rank of the input can be fixed, see the custom layer code I included before. And I'm not sure what you mean by `Dense` only supporting 1-d input, [as the documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense) explicitly defines how the computation will work for arbitrary dimensions.

Here's an example of what I'm thinking:

[code]
Output:
[code]
That's for rank 3 tens

[2021-07-07 04:48] kashyapraval commented on #14852
with the first gradient update the change is seen only in the weights of the first layer. This further causes all the weights to diverge in subsequent updates

[2021-07-07 07:18] sushreebarsa commented on #14115
@darylchang123  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:18] #14115 closed

[2021-07-07 07:32] sushreebarsa commented on #14119
@Siri-7 Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:32] #14119 closed

[2021-07-07 07:33] sushreebarsa commented on #13990
@Innovaspire Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:33] #13990 closed

[2021-07-07 07:35] sushreebarsa commented on #14123
@Eadith Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:35] #14123 closed

[2021-07-07 07:41] sushreebarsa commented on #14131
@LightenedLimited  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:41] #14131 closed

[2021-07-07 07:43] sushreebarsa commented on #14138
@Ritesh-pandey-crypto  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:43] #14138 closed

[2021-07-07 07:48] sushreebarsa commented on #14151
@AllenWu18 Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:48] #14151 closed

[2021-07-07 07:50] sushreebarsa commented on #14145
@ShamilaNasreen  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 07:50] #14145 closed

[2021-07-07 07:53] sushreebarsa commented on #14144
@JirasakRomsai Please check with the above comment and let us know if this is still an issue .Thanks!

[2021-07-07 07:59] sushreebarsa commented on #14141
@haker88 Please try with the above comment and let us know if this is still an issue.Thanks!

[2021-07-07 08:01] sushreebarsa commented on #14124
@Eadith Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:01] #14124 closed

[2021-07-07 08:02] sushreebarsa commented on #14153
@tintin85  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:02] #14153 closed

[2021-07-07 08:03] sushreebarsa commented on #14271
@Monishav12  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:03] #14271 closed

[2021-07-07 08:05] sushreebarsa commented on #14281
@rtatton Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:05] #14281 closed

[2021-07-07 08:06] sushreebarsa commented on #14280
@konstantin-frolov  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:06] #14280 closed

[2021-07-07 08:07] sushreebarsa commented on #14278
@torch2020  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:07] #14278 closed

[2021-07-07 08:09] rmothukuru commented on #14691
@Niranjan2054,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-07 08:15] sushreebarsa commented on #14269
@RasmusEdvardsen  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:15] #14269 closed

[2021-07-07 08:16] sushreebarsa commented on #14254
@NassimaD  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:16] #14254 closed

[2021-07-07 08:17] sushreebarsa commented on #14241
@Morz114114 Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:17] #14241 closed

[2021-07-07 08:18] sushreebarsa commented on #14154
@Delarti  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:18] #14154 closed

[2021-07-07 08:19] sushreebarsa commented on #14142
@jdevoldere Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:19] #14142 closed

[2021-07-07 08:20] sushreebarsa commented on #14158
@kdohi Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:20] #14158 closed

[2021-07-07 08:22] sushreebarsa commented on #14229
@murtuzamdahod  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:22] #14229 closed

[2021-07-07 08:23] sushreebarsa commented on #14207
@RiyazAina-DeepML  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:23] #14207 closed

[2021-07-07 08:24] sushreebarsa commented on #14212
@chafikblm  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:25] sushreebarsa commented on #14200
@yynopenguin  Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-07 08:25] #14200 closed

[2021-07-07 08:53] rmothukuru commented on #14682
@pavanpotteti,
Can you please let us know what the problem, exactly, is? Also, if possible, either format the code properly or paste the code in Google Colab and Share the Colab Gist. Thanks!

[2021-07-07 10:06] Lescurel opened #14874 "Compiling a keras model during a callback causes TypeError: 'NoneType' object is not callable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary from pip/anaconda
- TensorFlow version (use command below): Tried with the following
  - v2.4.0-49-g85c8b2a817f 2.4.1
  - v2.5.0-rc3-213-ga4df

[2021-07-07 10:24] ZJaume opened #14875 "Bad marshal when loading lambda model saved with different Python minor version"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7 and 3.8

**Describe the problem**.
I've been having problems when loading models t

[2021-07-07 12:22] Ritesh-pandey-crypto commented on #14138
Alright, If i face the same issue again, I'll contact you for sure

With Regards,
Ritesh Pandey

On Wed, 7 Jul 2021, 13:13 sushreebarsa, ***@***.***> wrote:

[2021-07-07 12:33] immanuelweule commented on #14632
THANK YOU SO MUCH!!!! YOU'RE A GOD!!

[2021-07-07 13:29] pavanpotteti commented on #14682
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.applications import MobileNetV2,Xception
from tensorflow.keras.layers import AveragePooling2D
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Input,Concatenate,concatenate
from tensorflow.kera

[2021-07-07 13:30] pavanpotteti commented on #14682
this is the code i had tried ,but it is giving error like this

[2021-07-07 13:31] pavanpotteti commented on #14682
Exception in thread Thread-62:
Traceback (most recent call last):
  File "C:\Anaconda3\lib\threading.py", line 932, in _bootstrap_inner
    self.run()
  File "C:\Anaconda3\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Anaconda3\lib\site-packages\tensorflow\python\keras\utils\data_utils.py", line 852, in _run
    with closing(self.executor_fn(_SHARED_S

[2021-07-07 13:52] ZJaume commented on #14875
Actually noticed that this also happens if you marshal a lambda python function, so it doesn't seem to be a problem of Keras.

Figured it out with this code:
[code]

Closing

[2021-07-07 13:52] #14875 closed

[2021-07-07 17:07] Oezkan23 commented on #14871
Hello haifeng-jin, thanks for the hint of ```tf.slice``` . I got the result what I want, in defining the call-function in MyLayer as
[code]
But it has a beauty mistake. For the expression ```size=[2,1,1,3]``` I need the first element which is the size of ```ImputTensor.shape[0]```. It is possible to put it as an argument or parameter to MyLayer() as ```layer =MyLayer(InputTensor.shape[0]) (inputla

[2021-07-07 17:50] qlzh727 commented on #14867
Took a quick look for development mode in https://setuptools.readthedocs.io/en/latest/userguide/quickstart.html?highlight=development-mode#development-mode.

It seems that the requirement is to have the setup.py in the keras package root directory, and I had following try, which failed.

It seems that you will need to build the protobufs that are needed by save model to work, and you probably grab

[2021-07-07 17:57] qlzh727 commented on #14867
After copying the protobuf generated py files from existing distribution, the development mode works.

[code]

[2021-07-07 18:00] qlzh727 commented on #14867
In summary, I think the walk around is to mv the setup.py to a package root, and copy the protobuf py from the existing distribution, which will then make the keras Git source tree work with PIP development mode.

[2021-07-07 18:03] ymodak commented on #14677
Would you please change your imports to `from tensorflow import keras` and try again?
Replace all `keras` imports to `tensorflow.keras`

[2021-07-07 18:16] Wenuka opened #14877 "sample_weight taking long to initialize"
sample_weight in Keras model fit take a long time to initialize when compared to the same model trained on same data without the sample_weight.

It seems like I am not the only one having the issue
https://stackoverflow.com/questions/63158424/why-does-keras-model-fit-with-sample-weight-have-long-initialization-time

This is my first bug issue, so bear with me if the format is not correct.

[2021-07-07 18:21] #14853 closed

[2021-07-07 18:50] bhack commented on #14867
@qlzh727 Not so quickly close an issue :wink: .. as I've already tried something like this before opening the ticketand it is still quite not practical to do all this manual steps if you need to move commit by commit as with git bisect.

Also I think that we need need other manual steps for golden or not?

Have you tried to:
`import keras.api._v2` ?

[2021-07-07 19:13] qlzh727 commented on #14867
Hum, good point for keras.api.*. They are the __init__ files that used to populate the tf.keras namespace (if you use `from tensorflow import keras`). Those files are included in the distribution, but not in the source code (since they are generated files via script, same as the protobuf py files).

It seems that we will need some small script that move and generate all the needed files from the s

[2021-07-07 20:14] haifeng-jin commented on #14874
Hi @Lescurel,
Thanks for the issue.

To implement recompiling the model every epoch, a custom training loop would be more suitable.
https://keras.io/guides/writing_a_training_loop_from_scratch/
Let me know if it solves the problem.

[2021-07-07 20:28] haifeng-jin commented on #14877
[code]
The time elapsed is 31s vs 14s.
It seems the cause is strided_slice() function.

[2021-07-07 21:59] bhack commented on #14867
We can run two scripts with `git bisect` eg:

`git bisect run sh -c 'bootstrap_keras.sh  && bazel test -c opt keras:backend_test'`.

But I think that simply coping stuffs in `keras/keras/keras/protobuf/` as you suggest it will go to produce a git mess in the source code checkout:

E.g. the protobuf dir at checkout has already:
 `BUILD  projector_config.proto  saved_metadata.proto  versions.proto`

[2021-07-07 22:36] qlzh727 commented on #14867
For the mess it creates, I guess the script need some post cleanup for any generated files, or make at least make git to untrack them (eg update the gitignore just for bisect).

For TF dependency, I think we are at least 1 tf-nightly API compatible. I think seldomly make backward incomatible changes in tf.

[2021-07-07 23:32] bhack commented on #14867
I don't know if in the end it could be clean enough or we need to change something else. I think it is not only bisect it simply also if a dev want to manually move between Keras commit and test a third_party library the depends on Keras.

Can we handle this more formally in:
https://github.com/keras-team/keras/blob/41bd035a19904118944ef271342562f65b90fd3c/requirements.txt#L6

E.g. `dev20210707` o

[2021-07-08 03:30] whhu commented on #9546
A custom callback is implemented to solve this problem at [stackoverflow](https://stackoverflow.com/a/66389445/8163786).
The callback initializes the private counter of the model with the one of the optimizer `on_train_begin`.

[2021-07-08 03:33] sushreebarsa commented on #13749
I tried to run the code on colab with TF v2.5 and didn't see the error reported,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/82add070a3fb3d578e71b2b8bc9406f8/untitled329.ipynb#scrollTo=4wVKtjYhKX5E) .Let us know if this issue is resolved for you .Thanks!

[2021-07-08 03:45] sushreebarsa commented on #13748
@shivam-soniii Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.I tried the same and didn't face the error reported .Thanks!

[2021-07-08 07:58] AdityaKane2001 opened #14887 "Reopen PRs from tensorflow/tensorflow"
I had three (albeit small) PRs in tensorflow/tensorflow. All of them were reverted due to some internal checks, which were not available to the end user back then. For more info, see [#49201](https://github.com/tensorflow/tensorflow/issues/49201). Should I reopen these PRs here?

Links to PRs:
[#48610](https://github.com/tensorflow/tensorflow/pull/48610), [#48000](https://github.com/tensorflow/ten

[2021-07-08 09:05] sushreebarsa commented on #14286
@u1s1QS Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-08 09:05] #14286 closed

[2021-07-08 09:07] sushreebarsa commented on #14282
@mhzaboli Moving this issue to closed status as there has been no recent activity, in case you still face the error please create a new issue.Thanks!

[2021-07-08 09:07] #14282 closed

[2021-07-08 09:07] Wenuka commented on #14877
Yes, exactly. The problem gets worse when the sample size is higher.

For example, using the above code (plus a batch size of 10,000), for a sample size of 1,000,000 the time taken was 1253.8s vs 17.1s
i.e 73 times more time to train the model!
For comparison, for the 10,000 case as above, the time was 18.2s vs 5.1s

[2021-07-08 09:12] sushreebarsa commented on #14190
@Nusrat1011  Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:12] #14190 closed

[2021-07-08 09:13] sushreebarsa commented on #14189
@yash04singh Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:13] #14189 closed

[2021-07-08 09:16] sushreebarsa commented on #13878
@UeliDeSchwert We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 09:16] #13878 closed

[2021-07-08 09:17] sushreebarsa commented on #14209
@rao208  Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:17] #14209 closed

[2021-07-08 09:23] jg-lopes opened #14888 "Saved model performance discrepancies for models with equivalent behavior"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to re

[2021-07-08 09:34] sushreebarsa commented on #14224
@ws1993109 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:34] #14224 closed

[2021-07-08 09:35] sushreebarsa commented on #14238
@WrathofBhuvan11 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:35] #14238 closed

[2021-07-08 09:37] sushreebarsa commented on #14248
@dupsys Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:37] #14248 closed

[2021-07-08 09:39] sushreebarsa commented on #14155
@zhihanyang2022 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:39] #14155 closed

[2021-07-08 09:41] sushreebarsa commented on #13637
@qinst64 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:41] #13637 closed

[2021-07-08 09:43] sushreebarsa commented on #13791
@shamoons Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:43] #13791 closed

[2021-07-08 09:44] sushreebarsa commented on #13743
@amarsharma441 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:44] #13743 closed

[2021-07-08 09:45] sushreebarsa commented on #14117
@akashdev2016 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-08 09:45] #14117 closed

[2021-07-08 09:47] sushreebarsa commented on #13839
@tinder-arozinov We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-08 09:58] sushreebarsa commented on #13829
@masoudnick Please check with the above comment and let us know if it is still an issue .Thanks!

[2021-07-08 12:53] bradjonesUMCLA commented on #14155
Yes it would work but to be integrated into a  pathway would include test subject in lab conditions

[2021-07-08 15:31] Oezkan23 opened #14889 "How get the shape[0] of the input tensor of a custom layer?"
In a custom layer we may have a call function with an input tensor X. The following example shows an unclean solution to get InputTensor.shape[0] and works very well as expected.
[code]

What I want is a custom Layer with one argument like
``` layer = MyLayer() (inputlayer)```
instead of
``` layer = MyLayer(indexmax)(inputlayer) ```
where
```indexmax = InputTensor.shape[0]```

I wish a function to

[2021-07-08 16:41] haifeng-jin commented on #14889
Thanks for the clarification. To my understanding this is the same as #14871 .

[2021-07-08 17:30] haifeng-jin commented on #14852
This is a guide for fixing the randomness in Keras.
https://keras.io/getting_started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development

If you are running on GPU, it is likely that you cannot fix the randomness completely.

[2021-07-08 17:30] #14852 closed

[2021-07-08 17:34] #14868 closed

[2021-07-08 17:37] haifeng-jin commented on #14889
You can use `tf.shape(X)` to get the shape of X.

[2021-07-08 17:37] #14889 closed

[2021-07-08 18:03] haifeng-jin commented on #14887
@AdityaKane2001 Thanks for the issue. Yes. please reopen them here.

@chenmoneygithub Would you please help him merge the PRs? And let me know if anything I can help. Thanks.

[2021-07-08 18:06] haifeng-jin commented on #14869
I believe RaggedTensor can be used with Dense layer in tf-nightly.
You may `pip install tf-nightly` to have a try.

Thanks

[2021-07-08 18:06] #14869 closed

[2021-07-08 18:06] AdityaKane2001 commented on #14887
@haifeng-jin
Thanks for the response. I'll reopen all the PRs combined into one tomorrow (it's around midnight at my place :P).

[2021-07-08 18:06] #14871 closed

[2021-07-08 18:10] haifeng-jin commented on #14869
The implementation is here:
https://github.com/keras-team/keras/blob/master/keras/layers/core.py#L1203-L1206

[2021-07-08 18:10] Oezkan23 commented on #14889
Hello haifeng-jin,
tf.shape(Tensor) works outside custom layers very well, because  tensorflow tensor has a numpy-element. With tf.shape(Tensor)[0].numpy() you get the first entry of the shape. You can also use Tensor.shape[0] instead.  But inside of custom layers, tensorflow Tensors are different and don't know the method numpy() and Tensor.shape[0] delivers the value None!

[2021-07-08 18:14] haifeng-jin commented on #14862
I believe the current best solution is to have a new callback function just to save the state of the rest of the callbacks by pickling them every epoch or every batch.

[2021-07-08 18:14] #14862 closed

[2021-07-08 18:46] #14874 closed

[2021-07-08 21:53] qlzh727 commented on #14867
we could force a more strict tf-nightly version, but this will leave more maintainance issue since we have to update this often. So far we only change this file when least tf-nightly is broken, and we want to ping to an older nightly version.

Could you also just make the update on your local workspace to achieve smaller range you want?

[2021-07-08 22:37] bhack commented on #14867
I really don't know when the API is broken or not.
I only know that you have runned tests on master with the tf-nightly version available at the datetime of the commit or at the CI job datetime that I  suppose are quite similar.

So what we are asking to developers? To install tf-nightly with the same datetime of the commit every time he move between commits?
Does he need also to manually check  t

[2021-07-08 22:45] bhack commented on #14867
I think that that the CI itself or copybara will need to update the tf-nightly version on the commit push if tested on a new nightly release.

Can we claim any other compatibility on the specific commit? I suppose not as we are not testing a tf-nightly matrix

[2021-07-09 08:54] sushreebarsa commented on #14181
@ErikEngerd Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 08:54] #14181 closed

[2021-07-09 08:58] sushreebarsa commented on #14060
@tuxmania87 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 08:58] #14060 closed

[2021-07-09 08:59] sushreebarsa commented on #14228
@hamidfathi1998 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 08:59] #14228 closed

[2021-07-09 09:01] sushreebarsa commented on #14251
@Kavchch Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 09:01] #14251 closed

[2021-07-09 09:04] sushreebarsa commented on #14272
@owaisanwar90 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 09:04] #14272 closed

[2021-07-09 09:06] sushreebarsa commented on #14197
@bryanongwx Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 09:06] #14197 closed

[2021-07-09 09:16] sushreebarsa commented on #14298
@menonnsl Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 09:16] #14298 closed

[2021-07-09 09:19] sushreebarsa commented on #14305
@syedalirazataqvi Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 09:19] #14305 closed

[2021-07-09 09:20] sushreebarsa commented on #14310
@gushart Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 09:20] #14310 closed

[2021-07-09 09:22] sushreebarsa commented on #14312
@verbose193 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-09 09:22] #14312 closed

[2021-07-09 12:32] kraiskil commented on #14181
@sushreebarsa was there something done in respect to this that you think it might work now?

[2021-07-09 15:17] Nidhi397 opened #14895 "ValueError: You are trying to load a weight file containing 233 layers into a model with 231 layers."
I am trying to train a custom dataset with Mask RCNN.
Doing this on TF2 by using the mrcnn folder kindly open sourced by the owner of this repository: https://github.com/ahmedfgad/Mask-RCNN-TF2

But after the above change and also resolving a good number of bugs, I am getting this error:

[code]

Has anyone faced this error? Can anyone please guide me as to how can I solve this issue?

[2021-07-09 16:32] RonithSaju commented on #8595
for those who were not able to solve this issue using the methods above, if you are using `from tensorflow.keras.preprocessing.image import ImageDataGenerator`, try changing it to `from keras.preprocessing.image import ImageDataGenerator`, or vice versa. worked for me. its said that you should never mix keras and tensorflow.

[2021-07-09 18:02] ymodak commented on #14481
https://stackoverflow.com/questions/57857683/attributeerror-progbarlogger-object-has-no-attribute-log-values/59337511

[2021-07-09 18:02] #14481 closed

[2021-07-09 18:36] ymodak opened #14896 "Crash in Backward-Pass of grouped Conv1D https://github.com/tensorflow/tensorflow/issues/50397"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
TensorFlow installed from (source or binary): Binary
TensorFlow version (use command below): 2.5.0
Python version: 3.7
CUDA/cuDNN version: n/a
GPU model and memory: n/a
Backward-Pass of grouped Convolutio

[2021-07-09 20:12] supermomo668 commented on #8595
I've been stuck at this issue for like a day, but I found my fix to be a little more than what was proposed here:

history = model.fit(
        train_generator,
        epochs=200,
        validation_data=val_generator,
        use_multiprocessing=True,
        workers=16,
        steps_per_epoch=train_generator.samples//train_generator.batch_size,  ######  Here
        validation_steps=val_genera

[2021-07-11 07:45] akshay-ka opened #14898 "Error: import tensorflow.keras.backend as K could not be resolved Pylance(reportMissingImports)"
I'm using tensorflow 1.15.0 in docker container and have issue in importing keras sub-modules.

[code]

Both backend and Adam, SGD cannot be imported.

Any solutions for this ?

@tensorflowbutler

[2021-07-11 11:54] danpetruk opened #14899 "Evaluation doesn't produce same result as direct applying of loss function when padding is used"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- Windows 10
- TensorFlow v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0 (from pip)
- Python 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:37:50) [MSC v.1916 64 bit (AMD64)]
- GTX 1050 2gb

**Describe the problem**.

`model.evaluate(x,y)` and `loss_function(y, model.predict(x))` return different r

[2021-07-11 19:05] rschumi0 opened #14902 "error reporting model(x) vs model.predict(x)"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras: no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

**Describe the problem**.

The error and warning messa

[2021-07-12 10:45] nicolaspi opened #14904 "Model with nested input spec fails"
Cross post: [https://github.com/tensorflow/tensorflow/issues/50721](https://github.com/tensorflow/tensorflow/issues/50721)

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use comm

[2021-07-12 14:44] Bharathi-A-7 opened #14906 "Getting Embeddings from sequence of one-hot vectors"
I have input sequences that contain not just single elements, but also lists.

Eg : i1 = [2, 5, 10, [1, 7 ,9 , 20], 11, 32].

If it were just a sequence like [2,4,6,7] that does not contain a nested sequence, I would just directly pass them to the embedding layer.

But, in my case, that's not possible. So, I have decided to one-hot encode my sequences.

For example,

input = [2, 3, [1,4], 5]

Its

[2021-07-12 17:36] annyan09023 opened #14907 "For Keras training, can we relax the steps checking when distributed dataset is passed in"
Recently, when we tried to use MultiWorkerMirroredStrategy with Keras, we found:

1. When Keras wrap our passed in dataset with experimental distributed dataset, we found we cannot scale over x nodes because it needs us pass in a global batch size and global batch size needs to take number of workers into consideration (global batch size = batch size * num of workers * num of replica). Therefore,

[2021-07-12 18:32] Oezkan23 opened #14909 "How to get all information of an input tensor inside a custom layer?"
Handling Tensors of tf.Tensor outside a custom layer is not a problem.
For example:
[code]
You get all the values you need for calculating. But inside custom layers the input tensor has another type:
Something like
[code]
There is no numpy. tf.shape(X)[0].numpy does not work or X.shape[0] to get the batch.

The next example is a dirty example which works fine
[code]

But if I try to assign the val

[2021-07-12 18:42] fchollet opened #14910 "Overriding `__add__` on `KerasTensor` class"
When doing `z = x + y` with KerasTensors, right now, the generate node in the Functional graph is a TFOpLayer wrapping `tf.add`. Instead, it would be nicer if the generated node was a Keras `Add` layer. This would keep the graph more readable and would simplify serialization.

Like this:

[code]

This can be achieved by overriding `__add__` on the KerasTensor class. Likewise we should do this for

[2021-07-13 00:08] peri044 opened #14913 "Saved model loading : KeyError: '__inference_depthwise_conv2d_layer_call_fn_126'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.5
- Python version:
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from

[2021-07-13 02:18] rendaixu commented on #14653
Please attach the code to reproduce this bug, thanks.

[2021-07-13 04:21] sushreebarsa commented on #14275
@victor-robotic-24 Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-13 04:21] #14275 closed

[2021-07-13 04:23] sushreebarsa commented on #14290
@sebyo Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-13 04:23] #14290 closed

[2021-07-13 04:24] sushreebarsa commented on #14293
@bgyooPtr Moving this issue to closed status as there has been no recent activity.In case you still face the error please create a new issue,we will get you the right help.Thanks!

[2021-07-13 04:24] #14293 closed

[2021-07-13 08:30] mohammed-ab99 opened #14914 "Save the Embeddings from a Complete Triplet Loss Network"
I am working on a Siamese Neural Network with custom Triplet Loss function. As far as I learned from the documentations, we will train a complete network but we want to save only the CNN that is used for embeddings extraction to use it later on with a classifier such as KNN or another.

Network Architeture:
[code]

CNN Architecture that is used for embeddings extraction:
[code]

I trained the whol

[2021-07-13 09:37] aucth opened #14915 "Performance Bug: Quadratic runtime behavior in model.fit/predict with tf.keras.layers.experimental.preprocessing.TextVectorization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Pyth

[2021-07-13 09:38] aucth commented on #14915
You can also find a gist [here](https://colab.research.google.com/gist/aucth/9a020572f3427ad3e0f0974be2ae4b2e/untitled50666.ipynb).

[2021-07-13 10:42] hidanom commented on #14838
@k-w-w, maybe you could comment on this issue? I see you have been around the code in question
https://github.com/tensorflow/tensorflow/commit/07652f86c2c4d2fe3a6f74f11c700cd0ca2811f6

[2021-07-13 10:53] Adgoswa opened #14916 "Unable to use Keras data generator with Functional API model"
Here is my data generator class:
class DataGenerator(tensorflow.keras.utils.Sequence):
    'Generates data for Keras'
    def __init__(self, list_IDs, image_path, label_path,
                 to_fit=True, batch_size=16, dim=(160, 160),
                 n_channels=4, n_classes=4, shuffle=True):
        """Initialization
        :param list_IDs: list of all 'label' ids to use in the generator

[2021-07-13 13:06] rmothukuru commented on #14902
Could observe the **`warning`** while using **`model.predict`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/2c79a14753fefed07aa3bad1a6c354cb/keras_14902.ipynb) to reproduce the issue.

[2021-07-13 13:28] rmothukuru commented on #14899
Could reproduce the issue in **`Google Colab`** with **`Tensorflow Version 2.5`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/fec1e855dd66ae5934105dc7095dd99a/keras_14899.ipynb).

[2021-07-13 13:38] Oezkan23 opened #14919 "How to get shape[0] of the input tensor of a custom layer and also the tensor values"
Handling Tensors of tf.Tensor outside a custom layer is not a problem.
For example:
[code]
You get all the values you need for calculating. But inside custom layers the input tensor has another type:
Something like
[code]
There is no numpy(). tf.shape(X)[0].numpy() does not work or X.shape[0] to get the batch. The numpy() function is helpful to get the values of a tensor. The following example is

[2021-07-13 17:45] chafikblm commented on #14212
@sushreebarsa
Thank you for your attention, yes I still have the same problem and I didn't find a solution to it

[2021-07-13 19:28] mgioioso commented on #14632
This is the way to go. Tensorflow will ensure the compatibility with keras if you use the sub-package.

[2021-07-14 01:05] bhack commented on #14867
If we are quite shure that we have stable TF API we could just soften the TF nightly version dependency with a `>=`.

[2021-07-14 06:32] kishoremohit commented on #13352
Installing TensorFlow 1.14.0 + Keras 2.2.5 on Python 3.6 fix this.

[2021-07-14 14:16] yoni12345678 commented on #13782
I use TensorFlow 2.5 and still get this error when Keras's model API `class my_model(tf.Keras.Model):`

My code:

`class text_extracture(tf.keras.Model):#This class inherits from tensorflow.keras.Model

  #this function defines model architecture and hyperparameters
  def __init__(self,
               num_blocks = 4,
               num_filters = [16, 32, 64, num_known_chars],
               kernal

[2021-07-14 19:08] #14762 closed

[2021-07-14 19:09] #14571 closed

[2021-07-14 19:11] ymodak commented on #14534
https://stackoverflow.com/questions/62217528/how-to-show-results-of-data-augmentation-before-and-after-keras-preprocessing-im

[2021-07-14 19:12] ymodak commented on #14569
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-14 19:12] #14569 closed

[2021-07-15 02:05] jvishnuvardhan commented on #14895
@Nidhi397 Can you please share a standalone code to reproduce the error? Thanks!

[2021-07-15 02:32] jvishnuvardhan commented on #14766
I am closing this issue as it is not a bug with recent TF and keras. Please note that it might have been an issue with `TF2.0` but not any more with the recent `TF2.5`. Also, TF installed using Anaconda is not supported as we don't have any control on the Anaconda TF builds. For Anaconda related builds, we suggest open an issue in their repository https://github.com/conda/conda/issues

[2021-07-15 02:32] #14766 closed

[2021-07-15 02:54] jvishnuvardhan commented on #14729
@agnieszkau Please check more info about usage of losses https://keras.io/api/losses/probabilistic_losses/.
If you still think this is a bug/performance issue, please share the data and standalone code to reproduce the issue.

If this was already resolved, please close the issue. Thanks!

[2021-07-15 02:58] jvishnuvardhan commented on #14222
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-15 02:58] #14222 closed

[2021-07-15 04:07] rmothukuru commented on #14906
@Bharathi-A-7,
From the **`One-Hot-Encoded Vector`**, I understood that the **`List`** inside the **`sequence`** has no special significance but its **`elements`** are just considered as part of **`sequence`**. If that is the case, you can remove the **`Lists`** and add its **`elements`** directly in the **`sequence`**.

This can be one way to simplify the problem. What do you think?

[2021-07-15 09:48] bhack commented on #14829
Can you check https://github.com/tensorflow/addons/pull/2525 ?

[2021-07-15 09:54] stefan-falk commented on #14829
@bhack Thanks for the hint!

[2021-07-15 09:55] fsx950223 commented on #14829
[code]
worked

[2021-07-15 10:03] stefan-falk commented on #14829
Very nice. I guess this deals with this issue here!

@fsx950223 just out of curiosity: Why didn't you create the PR in Tensorflow directly but in Addons instead?

[2021-07-15 10:04] fsx950223 commented on #14829
For test API.

[2021-07-15 10:05] stefan-falk commented on #14829
I see. Thanks 👍

[2021-07-15 10:05] #14829 closed

[2021-07-15 10:11] bhack commented on #14829
Also optimizers are now in this repo so probably if not in addons the PR will land here not in TF:
https://github.com/keras-team/keras/tree/master/keras/optimizer_v2

[2021-07-15 10:12] stefan-falk commented on #14829
That's true. It should land in the keras code since it is actually a keras optimizer.

[2021-07-15 10:37] TruscaPetre commented on #8613
Thank you really much @cyphx !

[2021-07-15 11:22] rmothukuru commented on #14680
@QuXinghuaNTU,
Can you please refer the [Documentation for building Custom Model](https://www.tensorflow.org/guide/keras/custom_layers_and_models#putting_it_all_together_an_end-to-end_example) and let us know if it helps? Thanks!

[2021-07-15 13:34] hasansalimkanmaz commented on #2743
[This](https://keras.io/getting_started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development) may be the up-to-date solution

[2021-07-15 17:28] LukeWood commented on #14899
Hey there @danpetruk, would you be interested in contributing a fix for this?

[2021-07-15 17:36] LukeWood commented on #14034
Hey there @gabbard, would you be interested in contributing this?

[2021-07-15 17:38] LukeWood commented on #13736
Hi there @panoscha this is fixed.

[2021-07-15 17:38] #13736 closed

[2021-07-15 18:05] danpetruk commented on #14899
Hey @LukeWood, thanks for a suggestion, but unfortunately I don't have neither enough skill not time for this

[2021-07-15 22:18] SamMohel opened #14931 "How can i solve the problem with model.predict() ?"
i encountered a problem in predict .. i got same predict sentences every time with using model.predict () i searched more and found that i need to increase epochs. but how can i decide that this number of epochs will be good or what is epoch depend on ?
my data training is 90000 and testing is 40000 .. i used one epoch only so i got the problem .  should i reduce learning rate also ?

[2021-07-15 22:20] SamMohel commented on #14690
did you solve it ?

[2021-07-16 02:01] SamMohel commented on #14381
did you solve it ?

[2021-07-16 02:06] SamMohel commented on #10260
did you solve it ?

[2021-07-16 02:09] moonchildz opened #14934 "Check failed: cudnnSetTensorNdDescriptor error while using Keras"
**System information**.
- Win10
- TensorFlow installed from pip3
- TensorFlow version 2.2:
- Python version: 3.6.8
- Tesla V100 / 32GB VRAM:

I am meeting an error which I have never seen in my life while using keras.

My model gets 256 x 256 x 256 x 1 np array as an input and My code is so long to write full of it so I write some part of it. input_num = 16 bs=3

     input_3d = M.Input( (None,Non

[2021-07-16 06:46] LeonhardFeiner opened #14937 "tf.keras.models.clone_model ignores input_tensors argument"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installed from: binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.8.5
- CUDA/cuDNN version: 11.2
- GPU model and memory: NVIDIA Quadro RTX 8000

**Describe the current behavior**

`tf.keras.models.clone_model` ignores `input_tensor

[2021-07-16 08:05] gg22mm commented on #6462
It seems that I need to change to python

[2021-07-16 08:07] gg22mm commented on #6462
It seems that I need to change to pytorch

[2021-07-16 08:36] gg22mm commented on #6462
It's solved
1、vi /root/.keras/keras.json  replace "tensorflow" to "theano"
2、KERAS_BACKEND=theano python -c "from keras import backend;"

it right !  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-07-16 10:27] WZMIAOMIAO opened #14938 "in Model class, weights created by add_weigh can't be save [tf2.4, tf2.5]"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu18.04
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 2.4/2.5
- Python version: 3.7/3.8
- Bazel version (if compiling from source):
- GPU model and memory:
- Exa

[2021-07-16 17:41] jvishnuvardhan commented on #14586
@bguetarni Thanks for the answer. @shubhamsakhuja Did you update your `input_shape` based on the suggestion?
If this is still an issue, please share a standalone code (with a data) to reproduce the issue. Thanks!

[2021-07-16 18:07] jvishnuvardhan commented on #14334
@moghadas76 Agree with @C3Suryansu .

If your input data is already flattened, you could use the following (just change shape=(784,) in the first input layer)

[code]

You can find an example here https://keras.io/guides/functional_api/

Also, the following is not enirely relevant but very useful resource on understanding different shape related terms used in ML https://stackoverflow.com/questions

[2021-07-16 19:15] ymodak commented on #14524
You may want to try recently updated Object Detection tutorials https://github.com/tensorflow/models/tree/master/research/object_detection/colab_tutorials

[2021-07-17 01:31] ersamo opened #14943 "How can i decide that the model is best fit with this settings ?"
[code]
the model as follows
[code]
i set `history = model.fit(train_generator, epochs=20, steps_per_epoch=train_steps, verbose=1, callbacks=[checkpoint], validation_data=val_generator, validation_steps=val_steps,batch_size=16)`

and got

[code]
training set is 82700 and testing is 40500  .. Should i wait until i got the lower val_loss ? or what the factors that should i take to decide that model b

[2021-07-17 02:30] fsx950223 opened #14945 "Transform gradient"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-07-17 03:48] ersamo commented on #10102
did you solve it  ?

[2021-07-17 04:42] #14334 closed

[2021-07-17 06:08] LeeKeyu commented on #5427
My issue is also caused by using multi-models in one project (tensorflow model + Keras model). Thank @novioleo for the answer. My issue was solved by initializing the Keras model using a new session defined in the default graph
[code]
and use this new session during prediction with the keras model:
[code]

[2021-07-17 12:28] ersamo commented on #14943
is there any help please ?

[2021-07-17 13:25] akshat-suwalka commented on #6063
Can anybody will help me in how to write the code for 5th case of the above image?

[2021-07-18 08:52] vulkomilev commented on #14938
I will take a look

[2021-07-18 14:25] str4w opened #14947 "Apparent error in multihead attention calculation"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in Keras)**:

No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Colab (and others, but can be demoed on colab)

-   **TensorFlow installed from (source or binary)**:
Colab default

-   **TensorFlow version (use command below)**:
tensorflow version 2.5.0
keras version

[2021-07-19 04:20] ashaw596 commented on #14896
I tested it. It works on GPU, breaks on CPU and TPU.

[2021-07-19 07:30] vulkomilev commented on #14938
Try to build/train/evaluate your model. You  will discover that there is more that needs to be done in order for the weights to be saved

[2021-07-19 08:35] Flumenlucidum commented on #11434
Just in case to someone having the issue :  I encountered the same issue. As others said, this was multi gpu problem in my case. Update tensorflow and use tensorflow mirrored strategy for allocation in multiple GPU. This solved issue in my case.  https://towardsdatascience.com/train-a-neural-network-on-multi-gpu-with-tensorflow-42fa5f51b8af

[2021-07-19 09:07] ying-hao commented on #6507
This does not work on my side. It returns TypeError: __array__() takes 1 positional argument but 2 were given

Has this problem been solved yet?

[2021-07-19 11:27] WZMIAOMIAO commented on #14938
thank you!

[2021-07-19 11:27] #14938 closed

[2021-07-19 11:43] aingo03304 opened #14950 "The implementation of EfficientNet in keras.applications is inconsistent"
**Describe the problem**.

In `keras.applications`, EfficientNet starts with two layers, scaling and normalization.
However, other models do not have such layers.
I don't think it is deliberately designed. So, can you check on this?

https://github.com/keras-team/keras/blob/d369e05c1075bb6732537d1a69d1fd4f5d0aa749/keras/applications/efficientnet.py#L319-L322

What is worse is that mixed-precision

[2021-07-19 12:27] Neha10252018 opened #14951 "Issue running code on linux server remotely"
I am doing ssh to my university sever in order to run my code which makes use of large dataset, however when i run my code i am getting bellow error after feature extraction in the code, Can someone please help as i am doing my final year project and should rectify this within 2 days

2021-07-10 09:35:48.234847: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dy

[2021-07-19 15:06] ririya opened #14953 "Identity Mappings in ResNet/ ResnetV2"
Hi everybody,

I’d like to discuss the correctness of the ResNet and ResNetV2 implementations, recently
I noticed a few flaws in the Keras applications implementation, starting with the weights initialization where all layers are initialized with Glorot instead of He. Now I want to discuss the identity mappings, it seems like they make a huge difference, according to the ResnetV2 paper.

The way R

[2021-07-19 15:12] moralapablo opened #14954 "Allow keras constraints that affect both the kernel and the bias at the same time."
**System information**.

TensorFlow version (you are using): R interface to Keras v2.4.0
Are you willing to contribute it (Yes/No) : No

**Describe the feature and the current behavior/state**.

With the current implementation of keras layers, weight constraints can be applied as kernel or bias constraints. This also means that when writing a custom constraint, it has an input parameter `w` that r

[2021-07-19 17:27] johnmaccormick opened #14955 "binary_crossentropy() usage example is misleading"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.5/api_docs/python/tf/keras/losses/binary_crossentropy

The same problem occurs across many versions and aliases of this function.

I am reposting from https://github.com/tensorflow/tensorflow/issues/50828#issue-947235183 as requested.

## Description of issue (what needs changing):
The "standalone usage" example appears to be mislead

[2021-07-19 18:46] #14637 closed

[2021-07-19 20:35] soroush361 commented on #11014
I'm not sure if it resolves your issue or not, but try to change your input data type to 'float64'.
`x_train = x_train.astype('float64')`
It worked in my case.

[2021-07-19 20:38] arubiales opened #14958 "cropping layer additional error message"
This is the issue in Tensorflow https://github.com/tensorflow/tensorflow/issues/50612

And this is my PR https://github.com/tensorflow/tensorflow/pull/50844

Now the issues of keras are done here. If it's necessary I can duplicate the issue here.

[2021-07-19 21:15] jvishnuvardhan commented on #14296
@ArpithaFAU It is strange.  Are you using funtional model with two input branches? Can you share a standalone code to reproduce the issue? Thanks!

[2021-07-19 21:45] uttamdhakal opened #14960 "Model trains successfully but generating predictions gives ValueError: Graph disconnected: cannot obtain value for tensor KerasTensor"
I asked this question in [stackoverflow](https://stackoverflow.com/questions/68444781/keras-model-trains-successfully-but-generating-predictions-gives-valueerror-gr)  already. I am copying the same question here in the hope of finding an answer.

I created a Seq2Seq model for text summarization. I have two models, one with attention and one without. The one without attention was able to generate p

[2021-07-20 00:12] peri044 commented on #14913
@sushreebarsa Can you please assign someone or provide some help on this ? Thanks

[2021-07-20 07:43] sushreebarsa commented on #14311
@yhlq In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-20 07:44] sushreebarsa commented on #14253
@wz7710
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-20 10:19] rmothukuru commented on #14958
@arubiales,
Thank you for raising a PR. Request you to replicate the PR in [Keras-Team/Keras Repo](https://github.com/keras-team/keras/pulls) (you can close the one in [TF Repo](https://github.com/tensorflow/tensorflow/pull/50844)) so that **Keras Engineers** can take a look. Thanks!

[2021-07-20 10:19] obtu opened #14965 "Custom metric fails with "ValueError: Metric should be a callable""
Verbatim issue from [TensorFlow issues](https://github.com/tensorflow/tensorflow/issues/50749)

---

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 34
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2

[2021-07-20 10:29] obtu commented on #14965
The same as https://github.com/tensorflow/tensorflow/issues/50749

[2021-07-20 10:34] rmothukuru commented on #14965
@obtu,
The code is bit confusing. Can you please let us know if you want to implement **`Custom Loss`** or **`Custom Metric`**? Because, in **`model.compile`**, you are assigning **`metrics=[MyLoss()]`**. AFAIK, You should not assign an Object of **`keras.losses.Loss`** to a **`Metric`**.

Please refer [this documentation](https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_losses) fo

[2021-07-20 10:54] rmothukuru commented on #14358
@luisleee,
Can you please provide the reference link of the documentation so that we can understand where the problem is? Also, can you please let us know why you have **`closed`** [your PR](https://github.com/keras-team/keras/pull/14359)? Thanks!

[2021-07-20 11:02] rmothukuru commented on #14331
@swel4ik,
Sorry for the delayed response. Is this issue resolved? If not, can you please share the complete reproducible code so that we can look into it?

Also, give a try with **`initial_learning_rate=0.1`**, as shown in [the documentation](https://www.tensorflow.org/guide/keras/train_and_evaluate#passing_a_schedule_to_an_optimizer). Thanks!

[2021-07-20 11:07] rmothukuru commented on #13964
@rhubear25,
As per [this issue](https://github.com/tensorflow/tensorflow/issues/44485), **`Tensorflow`** supports **`Python 3.9`** as well. Can you please let us know if this is what you are looking for and if we can **`close`** this issue? Thanks!

[2021-07-20 11:18] worldpeaceaspirer opened #14966 "Adding "Run In Colab" Option for Keras Documentation similar to that in TF.Org"
**URL(s) with the issue:**.

Please provide a link to the documentation entry, for example: https://keras.io/guides/customizing_what_happens_in_fit/

**Description of issue (what needs to be changed):**.
The Tutorials and Guide of Keras Documentation can have a button named "Run in Colab", like we have it in the [Tutorials in the Tensorflow Site](https://www.tensorflow.org/tutorials/keras/classifi

[2021-07-20 11:22] JesseLT opened #14967 "Why is it so slow?"
I have post the issue to [tensorflow](https://github.com/tensorflow/tensorflow/issues/50718),and they suggest I post the issue here.

I'm using MacBook Air with M1 chip. OS version is Big Sur 11.4.
`which python`
`/Users/dmitry/Applications/Miniforge3/bin/python`
I run the following code using [tensorflow-macos](https://developer.apple.com/metal/tensorflow-plugin/) and [tensorflow_macos](https://g

[2021-07-20 11:24] JesseLT opened #14968 "Why is it so slow?"
I have post the issue to [tensorflow](https://github.com/tensorflow/tensorflow/issues/50718),and they suggest I post the issue here.

[2021-07-20 11:27] rmothukuru commented on #13953
@Banyc,
The code of the [Keras Tutorial](https://blog.keras.io/building-autoencoders-in-keras.html) has been modified from

`plt.subplot(2, n, i)` to **`plt.subplot(2, n, i + 1)`**

and the code now could be executed without any error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/20dac7c1ff25933a22812911926172ac/gh_keras_13953.ipynb) of the working code. Thanks!

[2021-07-20 11:32] worldpeaceaspirer opened #14969 "Add "Copy Code Sample" Option in Keras Documentation, similar to that in TF.Org"
**URL(s) with the issue:**.

Please provide a link to the documentation entry, for example: https://keras.io/guides/customizing_what_happens_in_fit/

**Description of issue (what needs to be changed):**.
We can add the symbol to "Copy Code Sample" (_2 Rectangles on the Top Right_) in Keras Documentation similar to that in [Tensorflow Site](https://www.tensorflow.org/tutorials/keras/classification)

[2021-07-20 11:38] luisleee commented on #14358
@rmothukuru reference here: https://numpy.org/doc/stable/release/1.19.0-notes.html#deprecate-automatic-dtype-object-for-ragged-input. I'm sorry that I closed it totally accidental cause I'm not very familiar with that. I'm gonna reopen it now.

[2021-07-20 11:40] luisleee commented on #14358
I'm so sorry that I've already deleted the repository, but I'm sure that I can make it as soon as possible.🙏

[2021-07-20 11:51] luisleee commented on #14358
@rmothukuru As I checked the code, I found that the problem has already been fixed. Thanks!

[2021-07-20 11:51] #14358 closed

[2021-07-20 13:35] 01-vyom opened #14971 "Incosistency in python code examples"
**URL(s) with the issue:**

https://keras.io/api/models/sequential/#sequential-class

**Description of issue (what needs to be changed):**

There is an inconsistency in the Keras python codes in doc in the Sequential Class.

<img width="741" alt="Screenshot 2021-07-20 at 6 41 38 PM" src="https://user-images.githubusercontent.com/46242526/126331306-780a5ca8-4c87-4a01-bb58-0bf0d446aef2.png">

This i

[2021-07-20 16:00] rafiqhasan opened #14972 "TF 2.5 | Keras preprocessing.CategoryCrossing behavior different than feature_column.crossed_column"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version (use command below): 2.5( All 2+ )
- Python version: 3.7

**Describe the current behavior**
When using the new `experimental.preprocessing.CategoryCrossing` layer, it returns values like `

[2021-07-20 17:01] eli-osherovich opened #14973 "Really Fix keras nightly PIP package build."
**Describe the problem**.
Recent [commit](https://github.com/keras-team/keras/commit/cffc048a59fb2619c13cb0f4d022f8aa23a89a7d) created broken code.

**Describe the current behavior**.
Broken code

**Describe the expected behavior**.
Keras needs some CI.

[2021-07-20 22:50] jvishnuvardhan commented on #14967
@JesseLT I think, this is more related to M1 chip [tensorflow_macos](https://github.com/apple/tensorflow_macos). Please post them in their repo. We don't have any control on that TF build. Thanks!

[2021-07-20 23:17] DuncBegg opened #14978 "StringLookup with Supplied Vocab - AttributeError: 'MapDataset' object has no attribute 'dtype'"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Home Version 10.0.19043
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.12.1-60646-gd027ec99f28 2.7.0-dev20210720
- Python version: 3.8.10
- Bazel version (i

[2021-07-20 23:32] jvishnuvardhan opened #14979 "Inconsistency reporting model(x) vs model.predict(x)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python version: 3.8.5

Moving the issue form tensorflow/tensorflow repo.
Original issue https://github.com/tensorflow/tensorflow/issues/50618

**Describe the current behavio

[2021-07-20 23:36] jvishnuvardhan commented on #14979
I could reproduce the issue. The warning is correct as the data size is different when compared to the model that was built.

[Here](https://colab.research.google.com/gist/jvishnuvardhan/b73559f67d738bb699d2908f5df5dbf9/untitled1005.ipynb) is a gist for our reference. Thanks!

[2021-07-21 00:23] DuncBegg commented on #14978
Please ignore.
I was preprocessing the data outside the model.
For this i needed to use: ds_symbol = ds_symbol.map(lambda x: (layer_vocab(x)))

[2021-07-21 00:23] #14978 closed

[2021-07-21 01:17] LukeWood commented on #14899
thanks, re-added the keras-team-review-pending label.

[2021-07-21 03:18] JesseLT commented on #14967
Okey.

[2021-07-21 04:48] jvishnuvardhan commented on #14591
@loewenm Can you please share a simple standalone code to reproduce the issue?

I tried with `ModelCheckpoint` callback with `verbose=0` and I don't see the `INFO` as you mentioned. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/f26ba6386efd0294e6a0de876184da81/untitled.ipynb). Thanks!

[2021-07-21 10:02] samuelireke opened #14981 "ValueError: Error when checking target: expected aux1 to have shape (32, 32, 1) but got array with shape (256, 256, 1)"
### **My Problem**
I am currently working on a counting problem with the aim of examining the performance of attaching auxiliary outputs to UNETs . Unfortunately ran into a bug which I have been trying to resolve for over a week now. Have read several documentations and tried modifying my code in accordance but no success.

I will be immensely grateful if anyone can help.

### **Error obatined**.

[2021-07-21 13:47] rmothukuru commented on #14981
@samuelireke,
 From the First Layer of the Model Architecture,

![image](https://user-images.githubusercontent.com/48206667/126498455-a2c4ef81-e79c-48e1-a89b-b5886f1ef966.png)

the **`shape`** of the **`Input`** Image should be **`(32,32)`** but the Shape of your Image is **`(256,256)`**, as seen from the below code:

**`def train_model_multi_task(model, X_train, X_val, Y_train, Y_val, nb_epochs=1

[2021-07-21 16:54] jvishnuvardhan commented on #14223
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-21 16:54] #14223 closed

[2021-07-21 16:57] jvishnuvardhan commented on #14240
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-21 16:57] #14240 closed

[2021-07-21 17:54] Mps24-7uk commented on #14177
@Anubha-Singh I am getting the same error. Can you help me with this.

[2021-07-21 18:03] str4w commented on #14947
The values which appear identical are not actually identical.  The differences are just extremely tiny and not visually perceptible, which was unexpected.

[2021-07-21 18:03] #14947 closed

[2021-07-21 19:09] samuelireke commented on #14981
Tried it but it returned an error for the other outputs since they have different shapes too. my dataset is (256,256) which should also be the shape of the main output, aux1 is expected to have (32,32), aux 2 (64,64), aux3 (128, 128).
My challenge is how can I define these to train my model. I would also appreciate relevant documentation on how to train models  with varying auxiliary output shapes

[2021-07-21 21:55] Tobs40 commented on #5337
I'm having the same issue, it's been a while, no fix yet?

Seems like it occurs in combination with model.fit(), runs fine with an untrained model.

[2021-07-21 23:00] jvishnuvardhan commented on #14464
@HGamalElDin Thanks for creating the issue and also solution.

One of the reason for `_keras_history` error was due to mixing different methods from tensorflow and keras.

I have updated your code (consistently using all methods under tensorflow.keras  and also removed `contrib`) and tried using `TF2.5`. However, there are some variable definition is missing, it is throwing different error. If you

[2021-07-21 23:23] jvishnuvardhan commented on #14485
@happyalfred2016 I tried reproducing your issue with TF2.5. when using `tensorflow.keras` from recent `TF2.5` everything works as you expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/95fd4e3b450485acda9163bdac206e38/untitled1006.ipynb). Thanks!

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-07-22 00:01] jvishnuvardhan commented on #14514
@zhaoyun0071 I couldn't reproduce the issue with `TF2.5`. May be there was some issue with older version that was corrected in the recent stable version. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c46022fa212ed2ac6a65b7a3c716220a/untitled1007.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-07-22 06:23] happyalfred2016 commented on #14485
Thanks for your reply.

I finally figure out it's because I use "from keras.layers.local import LocallyConnected1D" while you are using "from tensorflow.keras.layers import LocallyConnected1D".

And if you use "from keras.layers.local import LocallyConnected1D" the output shape would be (4, 64, 1)!

Really weird...

[2021-07-22 06:30] rafiqhasan commented on #14943
Better suited for stackoverflow

[2021-07-22 06:33] happyalfred2016 commented on #14485
I have figured out that it's because I use "keras.layers.local.LocallyConnected1D" instead of "tensorflow.keras.layers.LocallyConnected1D", where the latter one works exactly as expected.

But in tensorflow 2.5, the module "local" is no longer existed, so I am not sure if this issue is till needed to be being open.

Anyway, thank you for your reply.

[2021-07-22 07:24] jvishnuvardhan commented on #14600
@LucasColas Thanks for the bug report. As mentioned in this [transfer learning tutorial](https://www.tensorflow.org/tutorials/images/transfer_learning), if we need train/fine-tune few layers, then set the model as trainable. Then access `model.layers` to set `False` to freeze all the layers except those layers you want to fine-tune.

#```
 vgg.trainable = False # original
vgg.trainable = True

set

[2021-07-22 07:48] jvishnuvardhan commented on #14485
@happyalfred2016 Agree. This was an issue with older version. It was resolved in recent `TF2.5`. So, I am closing this issue. Feel free to reopen if I am mistaken. Thanks!

[2021-07-22 07:48] #14485 closed

[2021-07-22 07:51] jvishnuvardhan commented on #14662
I am closing this issue as this was resolved. Feel free to reopen if I am mistaken. Thanks!

[2021-07-22 07:51] #14662 closed

[2021-07-22 08:08] akloss commented on #14401
I had a similar issue, however I'm working with a custom training loop and checkpoint.read/write instead of using the keras functions.
My problem was that the optimizer weights are only created when apply_gradients is called for the first time. So creating a checkpoint object (where the saved weights are then restored to) before that will result in a checkpoint that does not contain the optimizer

[2021-07-22 10:48] rmothukuru commented on #14668
@RoshanSalian,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-22 10:50] rmothukuru commented on #14680
@QuXinghuaNTU,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-22 10:52] rmothukuru commented on #14685
@AlekhyaPenugonda,
Can you please let us know if [this comment](https://github.com/keras-team/keras/issues/14685#issuecomment-858656313) helped you in resolving your issue so that we can close it? Thanks!

[2021-07-22 10:54] rmothukuru commented on #14691
@Niranjan2054,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-22 10:56] rmothukuru commented on #14698
@jackeymango,
This issue has been automatically marked as stale because it has no recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-22 14:40] mbarraghi opened #14983 "TypeError: The added layer must be an instance of class Layer. Found: Tensor("input_12:0", shape=(?, 28, 28), dtype=float32)"
hi I work on a code and faced this error. I would be grateful if you could help me
class SOMLayer(Layer):
    def __init__(self,out_dim,kernel, strides,map_size,input_dim,**kwargs):
        super(SOMLayer,self).__init__(**kwargs)
        self.out_dim = out_dim
        self.kernel = kernel
        self.strides = strides
        self.map_size = map_size
        self.input_dim = input_dim
        sel

[2021-07-22 15:53] ariG23498 commented on #14983
Hey @mbarraghi

Could you use `keras.layers.InputLayer` instead of `keras.Input` as the first layer and see if that works? It is suggested that with a `Sequential` model we used an `InputLayer` and with the Functional API we use the `Input` layer.

[2021-07-22 16:18] obtu commented on #14965
You are right. I was passing a Metric as a Loss or opposite.

However, since this isn't the first time I'm having this error, wouldn't it be nice to be informed about the confusion? I guess I'm not the only one having done this. I'm thinking maybe warning the user that the given `Metric` being called is actually a subclass of `Loss`, and vice versa.

[2021-07-22 16:42] #14677 closed

[2021-07-22 17:34] yashk2810 commented on #14966
There is a button at the top of each notebook called `View in Colab`.

[2021-07-22 17:34] #14966 closed

[2021-07-22 17:35] yashk2810 commented on #14937
Moving the discussion to this PR: https://github.com/keras-team/keras/pull/14982

[2021-07-22 17:35] #14937 closed

[2021-07-22 17:39] yashk2810 commented on #14899
Triage: This is happening because of the Mask layer which is taken into account when calling model.evaluate as opposed to just calling the loss function.

[2021-07-22 17:44] ymodak commented on #14973
This is fixed with https://github.com/keras-team/keras/commit/f6e8d5b910aa8afca0f9c4b5b9435cc356adb78c
Thanks!

[2021-07-22 17:47] yashk2810 opened #14984 "Support input of temporal sample_weights for model training on ragged tensors"
https://github.com/tensorflow/tensorflow/issues/50401
Created: 2021-06-22T15:34:15Z
----------------------------------------------------------------------------------------------------
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Currently tensorflow throws an error if w

[2021-07-22 17:50] rchao commented on #14907
Hello @annyan09023, thanks for opening the issue. Can you give the [DatasetCreator](https://www.tensorflow.org/api_docs/python/tf/keras/utils/experimental/DatasetCreator) API a try and see if it mitigates the OOM issue?

[2021-07-22 17:58] #14973 closed

[2021-07-22 18:00] qlzh727 commented on #14899
I think this issue here is because of masking value for the inputs.

When model.eval is called, any metric/loss calculation will ignore any masked value in the input, and only report the value for original data. However, when you do `mse(y, model.predict(x))`, the metric instance doesn't aware any masking information, and take all the data into account, which is why it report different value.

If

[2021-07-22 18:00] #14899 closed

[2021-07-22 18:04] stefan-falk commented on #9964
I'm having a similar issue ([see stackoverlow](https://stackoverflow.com/questions/68488765/parallelizing-tf-function-unit-test-freezes-when-using-multiprocessing)).

Sorry for this not being an MVP but whenever I am running this code in "tf.function"-mode, the entire program freezes/blocks.

`e2e_encode` and `e2e_decode_greedy` are just two `tf.function` which I want to parallelize. The code belo

[2021-07-22 18:21] ymodak commented on #14951
Apparently running out of gpu memory for computation. You may try [limiting gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth).
[code]

[2021-07-22 20:57] pedrogalher opened #14986 "Segmentation probability maps depend on CPU or GPU used for inference"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): [colab](4/1AX4XfWiMccDeno1wNhW3ZhVTuhFA4Bb_CdiTMgXYk2HJ2tkEn5vu6UWqzWI)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): TF2.5
- Python version: 3.8
- GPU model and

[2021-07-22 21:43] ymodak opened #14987 "Understanding How Masking Affects BCE Loss Function"
Cross posted from : https://github.com/tensorflow/tensorflow/issues/50710
Author : @chethanjjj

Hi, I'm experimenting with masking and have come across an interesting observation. I've created a simple GRU-based model with zeroed-out weights and biases along with a simple X and Y tensor. Theoretically, because my weights and biases are set to zero I should get the same loss value for the same data

[2021-07-23 07:59] pranshu97 commented on #13093
I was facing the same issue and turns out the length of my data generator (custom data generator built using Sequence) was larger than what it should have been.
I was random sampling inside the datagen to maintain a negative to positive ratio which decreased the number of batches in one epoch.

[2021-07-23 08:55] maybeLee opened #14992 "LSTM layer output inconsistent on different backends"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Centos 8
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): keras version: 2.2.4, 2.3
- Python version: 3.6
- Bazel version (if compiling from source):
- GPU model and

[2021-07-23 11:12] karimanis opened #14993 "loading a keras model on raspberry pi"
`   Traceback (most recent call last): File "/home/pi/Desktop/testting/client.py", line 21, in <module> modelLSTM =
    load_model('/home/pi/Desktop/ANN_model.keras') File "/home/pi/.local/lib/python3.7/site-
    packages/tensorflow_core/python/keras/saving/save.py", line 146, in load_model return
    hdf5_format.load_model_from_hdf5(filepath, custom_objects, compile) File "/home/pi/.local/lib/pyt

[2021-07-23 13:58] dextroza commented on #7924
How did you do that using Darknet? Could you share your steps in short, please?

Regards,
dextroza

[2021-07-23 15:24] pedrogalher opened #14994 "Add Unpooling Layer"
I**System information**.

TensorFlow version (you are using): 2.5
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Some segmentation models, such as [Segnet](https://arxiv.org/abs/1511.00561) or [Deconvnet](https://arxiv.org/abs/1505.04366) rely in the so-called "Unpooling" layer. An implementation of such layer has been implemented for ten

[2021-07-23 15:40] bergen288 opened #14995 "import keras error: AttributeError: module 'google.protobuf.descriptor' has no attribute '_internal_create_key'"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows Server 2016
- TensorFlow installed from (source or binary): tensorflow-cpu from PYPI.
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Python version: 3.8.8
- Bazel version (if compiling

[2021-07-23 18:33] jvishnuvardhan commented on #14895
The following could be similar to your problem. [1](https://github.com/tensorflow/tensorflow/issues/43498), [2](https://github.com/keras-team/keras/issues/10417), [3](https://github.com/tensorflow/tensorflow/issues/34016), [4](https://stackoverflow.com/questions/51544666/keras-try-save-and-load-model-error-you-are-trying-to-load-a-weight-file-contain), [5](https://github.com/tensorflow/tensorflow/

[2021-07-23 18:33] #14895 closed

[2021-07-23 18:51] jvishnuvardhan commented on #14729
Closing this issue as there is no recent activity and mostly the comment would have resolved the above issue. Please feel free to reopen if I am mistaken. Thanks!

[2021-07-23 18:51] #14729 closed

[2021-07-23 19:45] rafiqhasan commented on #14972
Any updates ?

[2021-07-23 20:30] annyan09023 commented on #14907
Okay, looking

[2021-07-23 23:17] pedrogalher commented on #14994
I just found out that this layer has been implemented in[ Tensorflow Addons](https://www.tensorflow.org/addons/api_docs/python/tfa/layers/MaxUnpooling2D#args)
Threfore, I close the issue.

Pedro

[2021-07-23 23:17] #14994 closed

[2021-07-24 05:26] NioushaBagheri commented on #2880
model.add(Dense(1,input_dim =2,kernel_constraint=FreezeSlice([1],np.s_[0])))
In this example, I set the value of the first weight to 1.

[2021-07-24 05:26] NioushaBagheri commented on #2880
model.add(Dense(1,input_dim =2,kernel_constraint=FreezeSlice([1],np.s_[0])))
In this example, I set the value of the first weight to 1.

[2021-07-24 07:10] Well2333 commented on #14632
same issue here QwQ

[2021-07-24 07:22] Well2333 commented on #14632
THANKSSSSSS, IT WORK!!!!!!

[2021-07-24 16:40] #14534 closed

[2021-07-25 08:14] crjxixixi commented on #7143
hi,I have the same problem as you , i want to know that have you solved this problem?

[2021-07-25 09:22] ltkhang commented on #13839
No, this issue still exists in the new version 2.5.0.

I tried to convert each row in "y" column as "numpy array" but still got the error "Failed to convert a NumPy array to a Tensor (Unsupported object type numpy.ndarray)."

[2021-07-25 10:55] AnantKY commented on #8956
I am facing same issue, have you got the solution/

[2021-07-25 11:45] ltkhang commented on #13839
I found the solution, instead of usinf a list of arrays, you can break it into multiple cols.
My solution:
![tmp](https://user-images.githubusercontent.com/4698213/126897833-d45d6a1f-32d6-47a3-962b-7154d0566e96.PNG)
![tmp2](https://user-images.githubusercontent.com/4698213/126897839-c2618793-b521-4c19-b8aa-8f1b4271cb39.PNG)

[2021-07-25 12:14] nikhilsingh291 commented on #14993
@karimanis  I think different version of keras and tensorflow on the two machine can be a reason. Also you should check if the model file was transferred properly, broken files can cause similar issues, I guess.

[2021-07-25 14:19] Li-fAngyU commented on #6925
i find when you change the keras_activate.sh file , like export KERAS_BACKEND=tensorflow.  but this change need to reactivate your_env.   eg:conda deactivate your_env  than activate it again.  than i resolved the issue

[2021-07-25 14:29] sinajhrm commented on #10806
@bradsheppard solution solved the issue that the model needs to be recompiled; however, the discriminator (for fake images) and combined model loss values go around 0. Also, the fake-generated images do not get better (maybe because they do not change)!

In the first sample image, the gan model (generator, discriminator, and the combined model) is trained for 5 epochs (each epoch has 128 batches o

[2021-07-25 14:43] rmothukuru commented on #14965
@obtu,
Even though the error message

is not very explicit, it conveys the same.

[2021-07-26 07:33] OriAlpha opened #15003 "Performance issue on Macbook Pro M1"
**System information**
- Script can be found below
- MacBook Pro M1 (Mac OS Big Sir (11.5))
- TensorFlow installed from (source)
- TensorFlow version (2.5 version) with Metal Support
- Python version: 3.9
- GPU model and memory: MacBook Pro M1 and 16 GB

Steps needed for installing Tensorflow with metal support.
https://developer.apple.com/metal/tensorflow-plugin/

I am trying to train a model on

[2021-07-26 07:41] OriAlpha commented on #14967
I also have the same issue.

[2021-07-26 11:56] rmothukuru commented on #14992
@maybeLee,
As per my understanding, this is expected because each **`Backend`** uses different **`Compilers`** and different **`Weight Initialization`** Methods, and they might be implemented in **`different Languages`** as well.

However, getting Reproducible Results using 1 **`Backend`** (example **`Tensorflow`**) is possible, as shown in [this comment](https://github.com/keras-team/keras/issues

[2021-07-26 12:11] sushreebarsa commented on #14995
Could you please try to` import keras` using TF stable version 2.5.0 .I am not getting error reported while using TF v2.5.0, please find the gist [here ](https://colab.research.google.com/gist/sushreebarsa/65c7735a193c7b25ad2e410f2642d01f/untitled342.ipynb) for your reference..Thanks!

[2021-07-26 12:21] sushreebarsa commented on #14180
@GOURAVSUMAN could you please try as per the above comment and let us know if this issue still persists ? Thanks !

[2021-07-26 12:45] sushreebarsa commented on #14328
Could you please refer to this [documentation  ](https://www.tensorflow.org/tutorials/images/segmentation?hl=en) and let us know if it helps ? Thanks !

[2021-07-26 12:48] BbChip0103 opened #15004 "Add running-time of CNN models in the document"
Hi, I have a interesting suggestion.

In the [Keras application document](https://keras.io/api/applications/), It describes model's size, accuracy, etc.
When we use the model for our real world project, 'running-time' is most important feature like 'accuracy'.
Of course, running-time generally tend to follow number of parameters. But these are not perfectly proportional.
So checking the running-ti

[2021-07-26 12:51] sushreebarsa commented on #14325
Could you please refer to this [documentation ](https://keras.io/examples/vision/image_classification_efficientnet_fine_tuning/) and let us know if it helps ? Thanks !

[2021-07-26 12:53] sushreebarsa commented on #13887
@sumannelli Could you please try as per the above comment and let us know if it helps ? Thanks!

[2021-07-26 13:21] sushreebarsa commented on #14342
@alexandrudaia Could you please refer to the [link1](https://www.tensorflow.org/tutorials/customization/custom_layers) ,l[ink2](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Lambda) and let us know if it helps ? Thanks !

[2021-07-26 13:28] sushreebarsa commented on #14318
@Gaurav7888 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-26 13:33] sushreebarsa commented on #14363
@fishermanxzx In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-26 13:42] sushreebarsa commented on #14319
@hockman1 Could you please elaborate your point and in order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-26 13:55] sushreebarsa commented on #14330
@FlipperOne could you  please refer the above comment and let us know if it helps ? Thanks!

[2021-07-26 14:24] namaannn commented on #14943
@ersamo try tuning the layers and hyperparameters using keras tuner

[2021-07-26 14:25] namaannn commented on #14931
@SamMohel increase the learning rate as model takes time to learn the data.

[2021-07-26 14:50] bergen288 commented on #14995
I just figured out the root cause.  It's because of the inconsistent versions between protobuf (3.17.3) and libprotobuf (3.11.2).  The issue has been resolved after the upgrade of libprotobuf to 3.17.2.

Thanks.

[2021-07-26 14:50] #14995 closed

[2021-07-26 15:09] SamMohel commented on #14931
thanks for replying .. can this be a solution but learning rate start from low value
[code]

[2021-07-26 15:42] gautam1858 commented on #12372
Any pointers ?

[2021-07-26 17:44] jvishnuvardhan commented on #15003
Duplicate of #https://github.com/keras-team/keras/issues/14967

[2021-07-26 17:46] OriAlpha commented on #15003
I wouldn't consider this as duplicate, because I could run the code of https://github.com/keras-team/keras/issues/14967 faster than LSTM.

[2021-07-26 18:47] Karthik-Ragunath commented on #14464
Actually, crf layer must be imported as
`from tensorflow_addons.layers import CRF as crf`

Even after replacing the above crf layer in your gist, still compiler throws
`TypeError: Keras symbolic inputs/outputs do not implement `__len__`. You may be trying to pass Keras symbolic inputs/outputs to a TF API that does not register dispatching, preventing Keras from automatically converting the API cal

[2021-07-26 19:53] pavelkomarov commented on #4446
You say successive calls to `fit` incrementally train the model, which is the behavior I expect. But [the docs say that `fit` constructs a new model each call](https://www.tensorflow.org/api_docs/python/tf/keras/wrappers/scikit_learn/KerasRegressor), and I'm seeing my `build_fn` is called many times. And it looks from [the code](https://github.com/tensorflow/tensorflow/blob/v2.5.0/tensorflow/pytho

[2021-07-26 20:46] jvishnuvardhan commented on #14464
@Karthik-Ragunath Are you referring to my gist? I didn't face that `TypeError`. Can you please share a standalone code to reproduce the issue? Thanks!

[2021-07-26 21:01] jvishnuvardhan commented on #15003
@OriAlpha I ran your code in colab and I see the runtime as shown below. What is the runtime with `M1`.

[code]

Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/4e9d3d229c552957b4cec017e1b48010/untitled1013.ipynb).

I think this is more related to `M1` than `TF` as it was running in 18s each epoch on a `cpu`. I also ran it on my Mac and see similar results. Thank

[2021-07-26 21:58] jvishnuvardhan commented on #14950
@aingo03304 Can you please describe with little more details on the inconsistency and what other models you are referring here? Thanks!

[2021-07-26 22:14] OriAlpha commented on #15003
I tried for few hours, due to slow training I only trained for 1 epochs, this is a log
[code]

Just for one epoch, it takes around 2 hours that's a nightmare

[2021-07-26 22:21] jvishnuvardhan commented on #15003
@OriAlpha Thanks for quick response with test results.
I don't have access to `M1` but will check with other team members. Thanks

[2021-07-26 22:23] OriAlpha commented on #15003
You can use this link for GPU support for m1 mac. Steps needed for installing Tensorflow with metal support.
https://developer.apple.com/metal/tensorflow-plugin/

[2021-07-26 23:11] jvishnuvardhan commented on #14943
@ersamo This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [TF Forum](https://discuss.tensorflow.org/). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

Looking at your model, i think you may need to add some more hidden layers, change some hyper para

[2021-07-26 23:42] tomerk commented on #14986
Unfortunately GPU computations are often nondeterministic and susceptible to small numerical differences, e.g. https://github.com/tensorflow/tensorflow/issues/2732

I believe @reedwm is exploring fully-deterministic computation on GPUs for TensorFlow, though I'm not sure what the timeline for that looks like.

[2021-07-27 00:06] peri044 commented on #14913
@rmothukuru Can you please provide any suggestions on this ? Thanks !!

[2021-07-27 00:21] reedwm commented on #14986
The plan is that there will be a flag to make all GPU ops deterministic in TensorFlow 2.7. This means if you run the exact same op on the GPU multiple times, you will get the exact same results. However, even with the flag, running on the CPU will likely produce slightly different results than running on the GPU. Making CPU and GPU have identical numeric behavior is very difficult, so it is unlike

[2021-07-27 00:41] gcunhase commented on #14913
Hi everyone, has a solution been found to this issue? I'm also facing the same problem:
```KeyError: '__inference_efficientnet_layer_call_fn_53207'```.

[2021-07-27 00:52] jvishnuvardhan commented on #14931
@SamMohel  I think this is more of a support issue that is good for [TF Forum](https://discuss.tensorflow.org/)
There are more [tutorials](https://www.tensorflow.org/text/tutorials/text_generation) that may help you. Thanks!

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [TF Forum](https://discuss.tensorflow.org/). There is a big community t

[2021-07-27 05:04] maybeLee commented on #14992
@rmothukuru,
Thanks for your reply, to reduce the influence of weight initialization and randomness, I built a one-layer (LSTM) model and save its weights as `model.h5` for different backends to use.
[code]
The result shows that there still exists large inconsistency:
[code]
From my perspective, this inconsistency issue is quite important, when developers are running pretrained models on different

[2021-07-27 07:08] sushreebarsa commented on #14052
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-27 07:08] #14052 closed

[2021-07-27 07:09] sushreebarsa commented on #14144
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-27 07:09] #14144 closed

[2021-07-27 07:14] sushreebarsa commented on #14141
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-27 07:14] #14141 closed

[2021-07-27 07:14] sushreebarsa commented on #13749
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-27 07:14] #13749 closed

[2021-07-27 07:15] sushreebarsa commented on #13748
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-27 07:15] #13748 closed

[2021-07-27 07:23] sushreebarsa commented on #13829
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2021-07-27 07:23] #13829 closed

[2021-07-27 07:35] jvishnuvardhan commented on #14296
This is a stale issue. I am assuming this was got resolved already. If not, please reopen with a standalone code. Thanks!

[2021-07-27 07:35] #14296 closed

[2021-07-27 07:37] jvishnuvardhan commented on #14514
Closing this issue as this was resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-07-27 07:37] #14514 closed

[2021-07-27 07:40] jvishnuvardhan commented on #14586
Closing due to lack of recent activity. I am assuming the issue was resolved. If not, please feel free to reopen the issue. Thanks!

[2021-07-27 07:40] #14586 closed

[2021-07-27 07:58] pedrogalher commented on #14986
Hi both,

Thank you very much for your explanations.
I'm actually relieved that this difference is something that is expected to happen when working with GPUs.

I will try to set the environmental variable to 1 in the future.

I think my question has been successfully answered. Therefore, I close the issue.

Pedro

[2021-07-27 07:58] #14986 closed

[2021-07-27 09:48] sushreebarsa commented on #14283
@mhzaboli Could you please refer to this [link](https://keras.io/api/layers/recurrent_layers/lstm/) and let us know if it helps ! In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-27 10:27] sushreebarsa commented on #14289
@MEhtisham8217 Could you please refer to this [link](https://keras.io/api/applications/vgg/) and let us know if it helps ?Thanks!

[2021-07-27 10:31] sushreebarsa commented on #14316
@hockman1 Could you please let us know if you still face the issue ? If this is resolved for you then please move this issue to closed status .Thanks!

[2021-07-27 10:31] MEhtisham8217 commented on #14289
Yeah i did that months ago thanks anyway

[2021-07-27 10:35] sushreebarsa commented on #14289
@MEhtisham8217 Thanks for the update,could you please let us know if it is good to close this issue? Thanks!

[2021-07-27 10:40] #13953 closed

[2021-07-27 10:41] #14289 closed

[2021-07-27 10:53] aingo03304 commented on #14950
@jvishnuvardhan Thank you for the quick response.

For example, ResNet does not scale and normalize the input tensor.
https://github.com/keras-team/keras/blob/d369e05c1075bb6732537d1a69d1fd4f5d0aa749/keras/applications/resnet.py#L143-L155

In MobileNetV2, there is a note that each Keras application model requires each specific shape.
https://github.com/keras-team/keras/blob/d369e05c1075bb6732537d1

[2021-07-27 11:02] aingo03304 commented on #14950
In addition, with the code below, I got an error if I turn on `--model EfficientNetB0`.

[code]

[code]

[2021-07-27 11:20] rmothukuru commented on #13964
@rhubear25,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-27 11:21] rmothukuru commented on #14331
@swel4ik,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-27 11:32] rmothukuru commented on #14701
@ramatubs,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-27 11:34] rmothukuru commented on #14706
@lcrmorin,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.
Also, please refer this [Keras Documentation](https://keras.io/guides/writing_your_own_callbacks/) and let us know if it helps.

Thank you.

[2021-07-27 11:36] #14707 closed

[2021-07-27 11:40] rmothukuru commented on #14718
@mashirali,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.
Also, can you please refer this [Stack Overflow Answer](https://stackoverflow.com/questions/52472063/valueerror-bad-marshal-data-unknown-type-code) and let us know if it helps?
Thank you.

[2021-07-27 11:45] rmothukuru commented on #14836
Closing as stale. Please reopen if you'd like to work on this further.

[2021-07-27 11:45] #14836 closed

[2021-07-27 11:51] rmothukuru commented on #14866
@mathshangw,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

Please refer this [PyImageSearch Blog](https://www.pyimagesearch.com/2019/02/04/keras-multiple-inputs-and-mixed-data/) and let us know if it helps.

Thank you.

[2021-07-27 11:53] sushreebarsa commented on #14112
@DemiTownson In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-27 12:32] sushreebarsa commented on #14344
@RecepBlby Could you please refer to this [link](https://github.com/antoniosehk/keras-tensorflow-windows-installation)  , [link1 ](https://www.educative.io/edpresso/how-to-install-keras-in-anaconda)  and let us know if it helps ? Thanks!

[2021-07-27 14:10] jiannanWang opened #15009 "Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-07-27 19:26] ymodak commented on #14934
https://github.com/keras-team/keras/issues/11434#issuecomment-882358614

[2021-07-28 04:24] zuyezheng opened #15012 "SparseCategoricalCrossentropy and Mixed Precision Training"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary):  Binary
- TensorFlow version (use command below): v2.5.0-0
- Python version: 3.8
- Bazel version (if compiling from source):
- GPU model and memory: A6000

[2021-07-28 09:43] old-school-kid opened #15014 "y_true gets casted to y_pred.dtype in every losses"
Every loss function casts y_true into y_pred data type resulting in error. If y_true>2*32 and y_pred is of data type int32 then an erroneous loss is returned by mean squared error. Similar errors can be found from mean absolute error, categorical cross entropy and sparse categorical cross entropy.
errors can be found in this [sample notebook](https://colab.research.google.com/drive/1xdWCu4Mavfmfim

[2021-07-28 09:56] old-school-kid commented on #15014
I created a [Pull Request](https://github.com/keras-team/keras/pull/15015#issue-698536884) which tries to solve the problem.

[2021-07-28 10:09] sushreebarsa commented on #13640
@pavithrasv Could you please refer to this [link](https://www.tensorflow.org/guide/function) and let us know if it helps ?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-28 12:07] rmothukuru commented on #15012
@zuyezheng,
Similar issue has been raised in #15014 with **`other losses`** and a [**`PR`**](https://github.com/keras-team/keras/pull/15015#issue-698536884) also has been raised. Can we close this issue so that we can track it in #15014? Thanks!

[2021-07-28 12:09] rmothukuru commented on #15014
@old-school-kid,
Thank you for the issue and for the PR. Our Team will review the PR and will provide the comments accordingly.

[2021-07-28 14:59] rmothukuru commented on #14906
@Bharathi-A-7,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-28 15:06] rmothukuru commented on #14971
@01-vyom,
Thank you for the issue and appreciate your interest to submit a PR. Please create a PR so that Keras Engineers can review it. Thanks!

[2021-07-28 16:15] qlzh727 commented on #15014
I think the cast is mainly trying to address the dtype mismatch, eg int and float for label and prediction, which is quite common in normal case. The 2*32 seems to be a very extreme case, which we barely hit. Can we change the PR to only cast the dtype if the label and prediction are in different category?

[2021-07-28 16:57] zuyezheng commented on #15012
@rmothukuru ah thanks, did a search in tf repo and didn't find it, forgot to do one here.

[2021-07-28 16:57] #15012 closed

[2021-07-28 17:03] zuyezheng commented on #15014
This issue can actually surface earlier with mixed precision and float16 much earlier with around 2k categories. With bfloat16 it happens at around 200. Filed this [bug](https://github.com/keras-team/keras/issues/15012) and was asked to dupe it here, I believe @old-school-kid copied the examples from my [notebook](https://colab.research.google.com/drive/1oRbNOnCo1i2HcXD2V4_-D1Bz2EVxiT65) specifica

[2021-07-28 17:51] qlzh727 commented on #15014
Thanks @zuyezheng for more context, float16 and bfloat16 does seems to be a more common issue here since the overflow limit is quite low here. Let me check the PR. This is likely a breaking change and would raise issue on user side, which we might need to check with API owner.

[2021-07-28 17:58] jvishnuvardhan commented on #14902
@rschumi0 This is a Duplicate of #https://github.com/keras-team/keras/issues/14979

I have opened it on behalf of you. Keras team looked into this issue already. Thanks for creating the issue.

I will close this issue here. Let us follow the progress here https://github.com/keras-team/keras/issues/14979

[2021-07-28 17:58] #14902 closed

[2021-07-28 18:13] qlzh727 commented on #15014
Please see my review comments on the PR #15015.

[2021-07-28 19:59] samshipengs opened #15016 "No errors with incorrect input shape for LSTM"
I'm trying to build a LSTM with Keras,

    num_input = Input(shape=(30, 5), name='num_input')
    lstm = tf.keras.layers.LSTM(256, dropout=0.)
    x = lstm(num_input)

so my timesteps are 30 and for each timestep there is a feature with dimension 5, however, I noticed that I can change the feature dimension in Input to others and the networks still train fine, but I was expecting it would throw a

[2021-07-28 22:36] luisArandas opened #15019 "Problem with loss dictionary with generative VAE import example"
Hello all!

I am experiencing an error related to the generative VAE example provided in the official Keras documentation https://keras.io/examples/generative/vae/. This code works perfectly on a singular .py file and I'm even working with custom datasets at 512x512.

However I'm trying to integrate the image rendering in a realtime GUI and I can't run **exactly** the same code. I get the error:

[2021-07-28 22:57] ryemack opened #15020 "jQuery vulnerability"
Hello,    I ran a Sonatype Nexus IQ dependency scan on a project that is using Keras 2.4.3, and noticed it popped hot for a jQuery XSS vulnerability. The vulnerability in question is CVE-2019-11358.

Just wanted to reach out and see if you guys were aware, as I couldn't find an existing open/closed issue regarding this when I searched. All the best!

P.S. the version of jQuery that Keras 2.4.0 app

[2021-07-29 03:21] #15014 closed

[2021-07-29 11:15] rmothukuru commented on #15016
@samshipengs,
It is throwing the Error,

`ValueError: Dimensions must be equal, but are 10 and 5 for '{{node MatMul}} = MatMul[T=DT_FLOAT, transpose_a=false, transpose_b=false](strided_slice_1, kernel)' with input shapes: [?,10], [5,1024].`

as expected.

Please find the working code below:

[code]

Above code doesn't give error.

[code]

But the above code gives:
[code]

[2021-07-29 11:25] rmothukuru commented on #15019
@luisArandas,
Can you provide more details on how you are rendering the Image using RealTime GUI? Is it through a Website?

[2021-07-29 11:32] rmothukuru commented on #14983
@mbarraghi,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-29 12:26] sushreebarsa commented on #14377
@buenohernandez Could you please refer to this [link](https://keras.io/guides/training_with_built_in_methods/) and let us know  if it helps ? Thanks!

[2021-07-29 12:27] sushreebarsa commented on #14380
@phdrsch In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-29 12:34] sushreebarsa commented on #14412
@Donyme In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-29 12:45] hernandezfelipe commented on #14377
Thank you for your reply @sushreebarsa. It's been so long I don't even have the code anymore.
You can close the issue.

Regards.

[2021-07-29 13:50] dennymarcels commented on #14862
@haifeng-jin that does not work, I get the error:
`TypeError: can't pickle tensorflow.python._pywrap_tf_session.TF_Operation objects`

This functionality would be very much appreciated as I am training models that extend beyond the Google Colab Pro time limit.

[2021-07-29 13:50] sushreebarsa commented on #14377
@hernandezfelipe Thank you for your update . Closing this issue .

[2021-07-29 13:50] #14377 closed

[2021-07-29 13:50] dennymarcels commented on #14862
@haifeng-jin that does not work, I get the error:
TypeError: can't pickle tensorflow.python._pywrap_tf_session.TF_Operation objects

This functionality would be very much appreciated as I am training models that extend beyond the Google Colab Pro time limit.

[2021-07-29 14:07] sushreebarsa commented on #14404
@venuswu In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-29 14:07] luisArandas commented on #15019
Hello @rmothukuru! No it's all python, I'm just instantiating a port of the imgui library. The thing is, this is not mega relevant since I can import the VAE from other file (import the class, just as it is in the example, also with encoder and decoder) and then print it as you can see in the example above.` <__main__.VAE object at 0x7fb3f043e850>`. I just can't run the fit() command. I wonder if

[2021-07-29 14:12] sushreebarsa commented on #14294
@CostasMalonas Could you please try as per the above comment and let us know if this issue still persists? Thanks!

[2021-07-29 15:42] jvishnuvardhan commented on #14981
@samuelireke Looks like data size mismatch is the problem. Can you add a reshape layer or use `ImageDataGenerator` as shown in this guide to set a `target_size`. So, if you set `target_size` as (256, 256,1), irrespective of your input data size, `ImageDataGenerator` reshapes data before passing it to the model. Thanks!

[2021-07-29 16:16] haifeng-jin commented on #14862
What is the callback function you are trying to pickle?
There might be something special that cannot be pickled.
You may need to find a way to serialize it.

[2021-07-29 16:46] rrklearn2020 opened #15024 "tf.keras.models.save_model not saving the probabilistic_models"
**System information**.
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 LTS
TensorFlow installed from (source or binary):binary
TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
Tensorflow_probability.version: '0.13.0'
Python version: 3.8.10
CUDA/cuDNN v

[2021-07-29 17:26] dennymarcels commented on #14862
EarlyStopping, ReduceLROnPlateau and ModelCheckpoint. Only I put all three instances inside a list then tried to pickle the list.

[2021-07-29 17:37] tomerk commented on #15003
Unfortunately no one on our team has an M1 macbook to test this with. We suggest asking on the apple developer forum:
https://developer.apple.com/forums/tags/tensorflow-metal

I also notice you're disabling eager execution (`tf.compat.v1.disable_eager_execution()`), which means you're actually running legacy no-longer-maintained/supported codepaths. It's possible the tensorflow metal plugin was on

[2021-07-29 17:41] tomerk commented on #14992
Hi @maybeLee, support for non-TF backends was dropped multiple keras versions ago so we would suggest only paying attention to the TF backend.

As for why they may have differed:
* you were only setting the numpy seed, but each individual backend has their own seeds that they use for random operations used for e.g. weight initializations.

[2021-07-29 17:43] tomerk commented on #15020
Hi @ryemack , Keras is a python project and JQuery is a javascript library. So, we're not sure why exactly your scan is saying Keras uses JQuery at all?

[2021-07-29 17:46] tomerk commented on #15004
Hi @BbChip0103, if you have a reference GPU + CPU to run these models on this could be useful to have. If you use google colab you should make sure it's using dedicated reference hardware & resources across all runs (w/o e.g. throttling or sharing resources with other colab users that may affect your own performance)

If you do it'd be good to measure inference step time (not training time), and r

[2021-07-29 18:05] ryemack commented on #15020
@tomerk , I was wondering the same thing at first, and agree with you that it doesn't make sense. But, I did a file search on your project (looking at 2.4.0 tag), and did see the keras/docs/theme/js/jquery-2.1.1.min.js file, which is what makes Keras throw a level 9 security violation when using Nexus IQ scanning.

Also, I am a bit confused by another thing. When I do the same search on master I d

[2021-07-29 18:42] tomerk commented on #14987
From running the above in a colab:
[code]
Outputs:
[code]

And the mask is `model_mask(x_dummy_data)._keras_mask`:
[code]

My guess is the mask gets incorporated in the loss reduction/computation, but it doesn't look like the guide on masks (https://keras.io/guides/understanding_masking_and_padding/) covers loss computation with masks.

@fchollet should be able to provide more details

[2021-07-30 01:55] sushreebarsa commented on #14311
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-30 01:56] sushreebarsa commented on #14253
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-30 08:26] OriAlpha commented on #15003
Oh really, its bad news hope its fixed in future release

[2021-07-30 10:56] uttamdhakal commented on #14960
I changed my attention layer to the one from Keras. But I still get the same error.

attention = Attention(causal = True)([decoder_outputs,encoder_outputs ])

[code]

And this is now  in the inference model:

[code]

Please help. I have no idea what is going on. From what I see the graph is connected

[2021-07-30 11:22] uttamdhakal commented on #14960
I also created [a new question](https://stackoverflow.com/questions/68590104/graph-disconnected-cannot-obtain-value-for-tensor-kerastensor-in-inference-mode) in SO

[2021-07-30 11:28] rmothukuru commented on #15024
@rrklearn2020,
Can you try using **`Custom Objects`** as suggested in this [Stack Overflow Answer](https://stackoverflow.com/a/62690263/14290681) and let us know how it goes? Thanks!

[2021-07-30 11:33] rrklearn2020 commented on #15024
@rmothukuru
I had tried the custom object solution for simple models, and it works for some TFP layers. But when it comes to functional or sub-classing model creation, it's difficult to handle custom objects with various types of TFP layers.

[2021-07-30 11:35] rmothukuru commented on #14680
Closing as stale. Please reopen if you'd like to work on this further.

[2021-07-30 11:35] #14680 closed

[2021-07-30 11:36] rmothukuru commented on #14685
@AlekhyaPenugonda,
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you.

[2021-07-30 11:40] rmothukuru commented on #14691
@Niranjan2054,
Please check if your issue can be resolved by trying, as suggested in [AI Pool Answer](https://ai-pool.com/d/tensorflow-python-framework-errors_impl-failedpreconditionerror--2-root-error-s--found). Thanks!

[2021-07-30 11:41] rmothukuru commented on #14698
Closing as stale. Please reopen if you'd like to work on this further.

[2021-07-30 11:41] #14698 closed

[2021-07-30 13:15] dgrahn opened #15035 "Add Metadata to Models"
**System information**.

TensorFlow version (you are using): v2.5.0
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.
Models do not exist in isolation. Developers should be able to save their models with identifiers, tags, and other metadata.

**Will this change the current api? How?**
This could be implemented in one of two ways.

1. The `Mo

[2021-07-30 16:16] Mathbone commented on #13996
I would like to work on this as a final project for a neural networks course. Having a final PR accepted is not strictly necessary for the project, but I would like to move it in that direction for my own education.

I'm reading through the contributor guidelines, but is there a process for putting an incomplete PR where others can also work on it?

[2021-07-30 16:57] #14524 closed

[2021-07-30 17:07] sushreebarsa commented on #14584
@marlon-shiftone In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-30 17:21] sushreebarsa commented on #14608
@zhangjie1982 Please refer to this[ link](https://www.tensorflow.org/tutorials/keras/text_classification) for your reference to text classification. In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-30 17:29] sushreebarsa commented on #14582
@ChrisWPC Could you please let us know if this issue still persists and if it is resolved then please move this issue to closed status? Thank you!

[2021-07-30 17:30] sushreebarsa commented on #14581
@stylianosc07 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-07-30 17:36] sushreebarsa commented on #13713
@dulucas We see that you are using old version of tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-30 17:36] #13713 closed

[2021-07-30 17:40] sushreebarsa commented on #13666
@AvisP It looks like you are using an older Version of Tensorflow 2.1. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-07-30 17:43] sushreebarsa commented on #13703
@ZeRoss0000 It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-07-30 17:46] sushreebarsa commented on #13705
@Jbiloki  It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version 2.4.1 or 2.5 and let us know if the issue still persists? Thanks!

[2021-07-31 03:18] AdityaKane2001 opened #15041 "Saving models with custom layers on GCS after training on Cloud TPUs"
Does Keras support saving model with custom layers in .h5 format on GCS? I am training on Cloud TPUs, hence I am forced to use GCS. I am getting this error:
Implementation details omitted for brevity, but you can find the implementation [here](https://github.com/AdityaKane2001/regnety).
[code]

To save these custom layered models, I thought one can save it directly as h5, but needs a custom object

[2021-07-31 16:08] SEEYOU20 opened #15043 "When using keras to train the model, how to use the output of the current round as the input of the next round."
Hello. I want to use keras for time series forecasting. When forecasting, I hope that the forecast result at time t will be used as the input at time t+1. So when I want to train, I hope to use the output at time t as the input at time t+1. May I ask how it can be implemented in keras. Or how can it be achieved with tensorflow.

[2021-08-01 05:26] LanceNorskog opened #15044 "Keras X-Ray example fails with most recent TF release on TPU, works in CPU and GPU"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2021-08-01 05:27] LanceNorskog commented on #15044
Note: this was first filed on tensorflow, and then force-closed. I was advised to post it here.

[https://github.com/tensorflow/tensorflow/issues/50971](https://github.com/tensorflow/tensorflow/issues/50971)

[2021-08-01 05:28] HuangChiEn opened #15045 "How to training new model begin from loading the old weight ?"
Most of the retrain issues have a suitable solution in keras, but the above request may be a new issue in some applications.

I have no idea how to training a new model (add some new layers on the old model structure) base on the pre-trained old model (with pretrain weight).

For example. ( I did it, but it may not be a suitable way..
`
# at the first, train the old model
    def build_old_model(

[2021-08-01 05:38] HuangChiEn commented on #15043
It may depend on which kind of forecasting model you want to use. For example, you attempt to use the LSTM to perform the series forecasting. The LSTM module has already taken the previous output (step t) as the next step (t+1) input automatically 'in the same layer'. So, you may not have to worried about how to implementation ~~

If you want to build the inner structure of RNN manually, then we c

[2021-08-01 06:31] SEEYOU20 commented on #15043
The effect I want to achieve is roughly as shown in the figure.
![image](https://user-images.githubusercontent.com/36726231/127761676-f7fc52b6-3183-425e-8407-3f68893d1b6a.png)

[2021-08-01 11:36] innat opened #15046 "Possibility to use 3D data in Image-Augmentation layer (Keras)"
General.

---

Keras provides the [image augmentation layers](https://keras.io/api/layers/preprocessing_layers/image_augmentation/) for 2D image and (even possible to use on intermediate feature maps) that takes input shape of `(samples, height, width, channels)` and returns `(samples, height, width, channels)`.

However, **is it possible to use these convenient functions on 3D data?** I've cases

[2021-08-01 12:03] innat commented on #15045
Here is some pointer.

[code]

Build old model and train

[code]

Next, save the weight

[code]

Next, we pick desired layer's output of the old model

[code]

Build a new model; for the difference in the new model from the old one, we now remove the `softmax` function in order to get logits.

[code]

Train the new model

[code]

[2021-08-01 15:50] amindadgar opened #15047 "image_dataset_from_directory function returns empty for validation dataset"
**System information**.
- Code: using jupyter-notebook
- OS : Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8.6
- GPU model and memory: 16Gb memory and 6 Gb GPU memory

**Describe the problem**.
After trying to check validation data the I got from tf.keras.preprocessing.image_dataset_from_directory function, I

[2021-08-02 00:31] amirgholami commented on #14896
We also have encountered the same problem. Is there anyone looking into this? It seems no one is assigned to this bug.

[2021-08-02 00:42] Anuj040 opened #15048 "Failure to load model files"
Copying the issue from [49162](https://github.com/tensorflow/tensorflow/issues/49162)
as advised by https://github.com/jvishnuvardhan @(https://github.com/tensorflow/tensorflow/issues/49162#issuecomment-880297471)

**Below I describe the issue**

I have a tensorflow model that I train using customizing the model.fit() as in following link
https://keras.io/guides/customizing_what_happens_in_fit/
No

[2021-08-02 01:15] LanceNorskog commented on #15046
It should be possible to code a generic add-on to TF datasets: given a 2D image augmentation class, splits the 3D image into a stack of 2D layers, applies the augmentation to each flat layer, then repackages the stack into one new 3D image. This would then have the effect of, say, flipping a 3D medical image from left-right to right-left.

There are probably also 3D-only augmentations that could b

[2021-08-02 03:51] maybeLee commented on #14992
Hi @tomerk, thanks for your explanation. As I tested earlier, when I save the LSTM layer and its weight as a model, such inconsistency issue still exists when using different backend to run inference on such model. Besides, I am not sure simply performing model inference will introduce any variance factor. Another possible explanation for such inconsistency can be: for different backends, the impl

[2021-08-02 04:14] amindadgar commented on #15047
It seems using different seeds makes different results in the validation dataset. What I mean from the result of validation dataset is getting Input empty for different indices ( indices of ```take()``` function ).

[2021-08-02 05:49] rmothukuru commented on #14955
@johnmaccormick,
The examples in the documentation are corrected now. Please refer https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy instead of https://www.tensorflow.org/versions/r2.5/api_docs/python/tf/keras/losses/binary_crossentropy.

Thanks!

[2021-08-02 06:12] amindadgar commented on #15047
After reviewing all my 5000 images from dataset, I found about 6 or 7 corrupt images. Now my model is perfectly running and I can plot any image I want, So I guess this was the issue.

[2021-08-02 06:12] #15047 closed

[2021-08-02 06:23] gcunhase opened #15049 "How to substitute a keras layer?"
Hello Keras Team,

I'm attempting to substitute some layers in my custom model with:
[code]
But I'm getting the following error:
[code]

Note that my model is a custom tf model (not a `tf.keras.model`), so unfortunately I cannot use `clone_model()`. Is there an alternative to clone it?

Thank you in advance!

[2021-08-02 10:05] LanceNorskog commented on #15048
Keras does not know about your subclasses, so it cannot load the model. This may not be the problem you are seeing, but you will need to use CustomObjects anyway.

This describes how to use the CustomObject registry:

https://keras.io/guides/serialization_and_saving/

[2021-08-02 11:14] rmothukuru commented on #15049
@gcunhase,
Do you want to replace one of the **`Layers`** of the **`Custom Saved Model`** with another **`Layer`**? Also, can you elaborate on what you mean by **`Custom TF Model`** vs **`tf.keras.Model`**? I didn't understand the difference.

[2021-08-02 11:26] rmothukuru commented on #15043
@SEEYOU20,
Can you please let us know what is the Use Case for this functionality so that we will be able to help you? Thanks!

[2021-08-02 11:29] rmothukuru commented on #15044
Could reproduce the error with **`TF Version 2.6.0-rc1`**. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/88e99e1fcda6059e17b4ac3cbab8ffe4/xray_classification_with_tpus.ipynb).

[2021-08-02 11:34] rmothukuru commented on #15035
@dgrahn,
Thank you for the issue. Feel free to submit a PR and we will be happy to review it.

[2021-08-02 11:47] gcunhase commented on #15049
Hi @rmothukuru,

Thank you for your reply.

My goal is to modify some of the layers in my custom model and replace them in the original model.

Ideally, I would do that in a copy of the model, so I tried to `clone_model()` TF's EfficientDet model obtained from their official model zoo [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md). How

[2021-08-02 13:35] 01-vyom commented on #14971
Ok, I will make a PR with changes to some of these files.

[2021-08-02 16:23] SEEYOU20 commented on #15043
As shown in the figure, I will load the trained keras model into C++ for use. There are two values input to the model in each round, one of which is the predicted value of the model in the previous round (predict). So I hope that when the model is training, the output value of each round can also be used as the input value of the next round. I'm not sure if the model trained in this way is better

[2021-08-02 19:16] PaulScemama commented on #5374
@titu1994 thanks for the great script. I had been working on a deep learning algorithm for CRISPR guide-RNA design that was originally coded with Theano backend. I needed to convert to R, but the Theano backend was not working (may not be supported anymore in R/keras?).

FYI, my input was a 2D one-hot encoding matrix that represented a DNA sequence, and thus used Convolutions in the model. Therefo

[2021-08-02 21:38] ymodak commented on #14851
Closing this issue due lack of activity. Please update the thread when new information is available. Thanks!

[2021-08-02 21:38] #14851 closed

[2021-08-03 01:59] samshipengs commented on #15016
@rmothukuru thanks for checking, unfortunately, it still doesn't throw me error (like what you had above) when I supplied incorrectly shaped input data, I wonder if this has something to do with my customized dataset...

[2021-08-03 03:57] tomerk commented on #14992
@maybeLee, If you would like to debug the Tensorflow implementation specifically to see if anything misbehaves then feel free and please do file a separate bug if you spot that it is misbehaving. (Please use the newest version of both TF and Keras to try this instead of TF 2.0).

As for the other backends: As I mentioned above they are no longer under development. Even if you do find an issue with

[2021-08-03 06:12] rmothukuru commented on #14992
@maybeLee,
Closing the issue as per @tomerk's comments. Please file a new bug as per his suggestion. Thanks!

[2021-08-03 06:12] #14992 closed

[2021-08-03 06:41] sushreebarsa commented on #13640
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern .Thanks!

[2021-08-03 06:41] #13640 closed

[2021-08-03 06:42] sushreebarsa commented on #13887
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:42] #13887 closed

[2021-08-03 06:43] sushreebarsa commented on #14344
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:43] #14344 closed

[2021-08-03 06:44] sushreebarsa commented on #14112
Closing this issue due to lack of recent activity .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:44] #14112 closed

[2021-08-03 06:44] sushreebarsa commented on #14316
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:44] #14316 closed

[2021-08-03 06:44] sushreebarsa commented on #14283
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:44] #14283 closed

[2021-08-03 06:45] sushreebarsa commented on #14330
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:45] #14330 closed

[2021-08-03 06:45] sushreebarsa commented on #14363
Closing this issue due to lack of recent activity.Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:45] #14363 closed

[2021-08-03 06:47] sushreebarsa commented on #14318
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:47] #14318 closed

[2021-08-03 06:48] sushreebarsa commented on #14342
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:48] #14342 closed

[2021-08-03 06:48] sushreebarsa commented on #14325
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:48] #14325 closed

[2021-08-03 06:49] sushreebarsa commented on #13705
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:49] #13705 closed

[2021-08-03 06:50] sushreebarsa commented on #14180
Closing this issue due to lack of recent activity .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:50] #14180 closed

[2021-08-03 06:50] sushreebarsa commented on #14328
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:50] #14328 closed

[2021-08-03 06:50] sushreebarsa commented on #14380
Closing this issue due to lack of recent activity  .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:50] #14380 closed

[2021-08-03 06:51] sushreebarsa commented on #14412
Closing this issue due to lack of recent activity & assuming this issue as resolved .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 06:51] #14412 closed

[2021-08-03 07:00] sushreebarsa commented on #14294
Closing this issue due to lack of recent activity .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:00] #14294 closed

[2021-08-03 07:01] sushreebarsa commented on #14311
Closing this issue due to lack of recent activity  .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:01] #14311 closed

[2021-08-03 07:03] sushreebarsa commented on #14253
Closing this issue due to lack of recent activity .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:03] #14253 closed

[2021-08-03 07:05] sushreebarsa commented on #14584
Closing this issue due to lack of recent activity .Please feel free to reopen if you still have concern.Thanks!

[2021-08-03 07:05] #14584 closed

[2021-08-03 07:06] sushreebarsa commented on #14404
Closing this issue due to lack of recent activity .Please feel free to reopen if you still have concern.Thanks!