[2019-06-20 08:11] prakharg24 commented on #8196
This method doesn't work for the LSTM layer. Same CustomConstraint when used for Dense layer works but for LSTm gives error 'Unknown Constraint'. Anybody facing similar problems?

[2019-06-20 08:14] hanama commented on #12715
Hi @jcgarciaca,
I have similar architecture and the same error.
Have you resolved this issue? Any ideas?
Thanks!!

[2019-06-20 08:18] ZeroMaxinumXZ commented on #4843
@BenAsaf, how do I make predictions (forwards-propagate) in the keras backend?

[2019-06-20 08:23] ZeroMaxinumXZ commented on #12969
@jvishnuvardhan, I fixed this issue by adding a tensorflow Session, and using the backend. Closing this.

[2019-06-20 08:23] #12969 closed

[2019-06-20 08:48] machengcheng2016 commented on #2743
@mrgloom @nvinayvarma189 Thanks for your help. Following your instruction, I've set the random seeds of Numpy, Tensorflow, and Random at the beginning of my script *test.py*. Then run CUDA_VISIBLE_DEVICES=""  PYTHONHASHSEED=0 python test.py, and I can finally get same result every time. (repeat almost 100 times)

[2019-06-20 08:54] angyee commented on #12298
i am running

sudo python3 keras_to_tensorflow.py --input_model=/home/deepedge/mask_rcnn-master/mask_rcnn_damage_0010.h5 --output_model=/home/deepedge/mask_rcnn-master/dent.pb

and getting error

Using TensorFlow backend.
E0619 15:22:44.379571 140399717234496 keras_to_tensorflow.py:95] Input file specified only holds the weights, and not the model definition. Save the model using model.save(filena

[2019-06-20 10:05] JiweiZh opened #12990 "Seq2seq model for time series"
I wonder to use seq2seq to predict future's target for time series project. Each sample of my input data of encoder has a size of (1, 84, 19), 84 means 84 days before and 19 means 19 different features. So I'd like to predict like 91 days in the future. The input data of my decoder has the size (n_samples, 91, 19) and the target data has the size (n_samples, 91, 1).

I used the model as followed b

[2019-06-20 12:35] EmielBoss commented on #9395
I am trying to perform semantic segmentation in TensorFlow 1.10 with eager execution with the [generalized dice loss](https://arxiv.org/pdf/1707.03237.pdf) function:

[code]

However, I am struggling to get any meaningful loss which isn't always 1. What am I doing wrong here?

After the initial weights (one for each class) are calculated, they contain many `inf`'s from zero divisions, as typically

[2019-06-20 12:37] EmielBoss commented on #10890
I would also really want this; I'm going crazy implementing it. I'll just spam my question here as well:

I am trying to perform semantic segmentation in TensorFlow 1.10 with eager execution with the [generalized dice loss](https://arxiv.org/pdf/1707.03237.pdf) function:

[code]

However, I am struggling to get any meaningful loss which isn't always 1. What am I doing wrong here?

After the initia

[2019-06-20 14:40] nardeas commented on #10137
Exactly the same problem and the same solution for me as well, but I think it would be important to find out why that works

[2019-06-20 15:08] romanovzky commented on #9412
This doesn't seem to work with SpatialDropout laters, any suggestions?

[2019-06-20 16:18] Oremountainflorian opened #12991 "Difference between weighted accuracy metric of Keras and Sklearn"
### Intro

Hej everyone,

I am working on my diploma thesis and I face a binary classification problem with imbalanced class contribution. I have around 10 times more negative ("0") labels as positive ("1") labels. For that reason I considered not only observing accuracy and ROC-AUC, but also weighted/ balanced accuracy and Precision-Recall-AUC.

### Issue description

During some calculations on

[2019-06-20 18:44] yuanzhedong commented on #10340
+1

[2019-06-20 19:03] NaSed opened #12992 "RecursionError: maximum recursion depth exceeded while saving a very small model"
I have created a very small wide and deep neural network by using the below code:

    def get_wide_deep(layer_num, num_nodes):
        input = Input(shape=(feat_num,))

        if isinstance(num_nodes, list):
            n = num_nodes[0]
        else:
            n = num_nodes

        x = Dense(n, activation='relu', kernel_regularizer=regularizers.l2(params['l2_regulizer']), name = 'deep0')(inpu

[2019-06-20 20:31] sailormoon2016 opened #12993 "Does Keras allow callbacks to be passed to loss?"

[2019-06-21 00:45] pissw2016 commented on #4889
I restart my conda environment by `conda deactivate` and then `conda activate tf13` and it solved.before this I reinstall my keras by uninstall anything with `keras` in my tf13 environment.

[2019-06-21 02:57] tuskiomi commented on #9710
Again same issue. Perhaps certain elements are single core only (eg convolution)?

[2019-06-21 04:08] bugzhu opened #12994 "How to customize keras layer for element-wise operation?"
![捕获](https://user-images.githubusercontent.com/44150841/59896567-aa145d80-941b-11e9-85bc-a28d9ae4bab2.JPG)
For the two input layers in the figure, I want to customize a layer to run specific element-wise operation for them.  Define the dim for x is (None, 2, 2) and y is (None, 2). None represents the values of batch size. For every batch's element, the dim is  (2, 2) and (2). How to customize a

[2019-06-21 08:36] princefr opened #12995 "How to define ConvLSTM2D encoder-decoder in Keras?"
I have seen examples of building an encoder-decoder network using LSTM in Keras but I want to have a ConvLSTM encoder-decoder. when I try to use the same pattern as LSTM with ConvLSTM all seems to works well until I try to specify an initial state. this exception happen .

[code]

seems like we cannot set an initial state using ConvLSTM2D decoder.
so how can we define aConvLSTM2D encoder-decoder t

[2019-06-21 09:50] YashSinha1996 commented on #7710
This, please. If not this, then at least add support for the pre-existing masking layer.

[2019-06-21 09:50] YashSinha1996 commented on #7710
@nehz Any updates on this?

[2019-06-21 10:36] hamidmumtaz opened #12996 "error"
i'm training a model like so:

model = Sequential()

model.add(LSTM(32, input_shape=(100, 20), unroll= False, return_sequences=True))

#model.add(LSTM(n_units, input_shape=(time_steps,n_inputs))) #model.add(Dense(3, activation='softmax')) model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

model.summary()

model.fit(x,y, nb_epoch=50, batch_size=32, verbose =

[2019-06-21 12:03] mountainML commented on #11060
@nopaixx I'm interested in your issue; I have it too.
Have you solved this problem?

[2019-06-21 16:03] EmielBoss opened #12997 "Applications are missing (AttributeError: module 'keras.applications' has no attribute 'ResNet101/ResNeXt50/ResNeXt101')"
**System information**
- Have I written custom code (as opposed to using example directory):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.10
- Keras version:  2.2.4 (applications: 1.0.8)
- Python version:  3.5
- CUDA/cuDNN version:  V8.0.61
- GPU model and memory:  Tesla P100-PCIE, 12193MiB

**Des

[2019-06-21 18:37] sid080 commented on #10382
I downgraded the keras version to 2.2.0 and the code is working fine but it is now running on cpu and not gpu.

[2019-06-21 20:26] ceps1986 opened #12998 "Adding "verbose" tag to ImageDataGenerator"
I've been trying to figure out a way to not print to screen when ImageDataGenerator class is called (as in ImageDataGenerator.flow_from_directory). This usually prints to screen: "Found X images belonging to N classes" and I don't think it's really useful in deployment settings...

Just a suggestion to add a "verbose" tag to ImageDataGenerator class.

Cheers!

[2019-06-21 21:04] rohit-gupta commented on #12308
@gabrieldemarmiesse I am not doing this session stuff, but I am getting the same problem on a different dataset and architecture. I was informed elsewhere that this could be due to an issue with how learning phase interacts with BatchNorm and that did help slightly but didn't solve it.

In this chart x-axis = epoch number, y-axis = validation set accuracy (same dataset and generator)

![image](htt

[2019-06-21 21:06] triforcely commented on #11810
@Jeff-Winchell I solved this problem by installing Keras from git repository instead of from pip, looks like the package is outdated there?

[2019-06-21 22:05] jvishnuvardhan commented on #12446
Hi!
This issue isn't related to a bug/enhancement/feature request or other accepted types of issue.
To ask questions, please see the following resources :
[StackOverflow](http://stackoverflow.com/questions/tagged/keras)
[Keras Slack channel](https://keras-slack-autojoin.herokuapp.com)
[Keras.io support](https://keras.io/#support)
[Gitter](https://gitter.im/Keras-io/Lobby)
Thanks!
If you think we m

[2019-06-21 22:10] pren1 commented on #3373
Thank you! I meet the same problem in my own project, and this method really helps!!!

[2019-06-21 23:05] jvishnuvardhan commented on #12940
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-21 23:05] jvishnuvardhan commented on #12931
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-21 23:05] #12931 closed

[2019-06-21 23:05] jvishnuvardhan commented on #12910
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-21 23:05] #12910 closed

[2019-06-21 23:06] jvishnuvardhan commented on #12906
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-21 23:06] #12906 closed

[2019-06-22 00:32] xuzhang5788 opened #12999 "Can I use BatchNormalization after a conv3d layer?"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-06-22 00:33] #12999 closed

[2019-06-22 10:23] geshijoker commented on #12561
This is the same problem to me

[2019-06-22 13:41] schliffen commented on #2372
Im trying to load json model with keras from json, but I got error!!: (this worked previously)

json_file = open( root + "checkpointsmodel_base_201948-154822.json" )
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)

Full error log:

    self.do_wait_suspend(thread, frame, event, arg)
  File "/snap/clion/73/plugins/python/helpers/pydev/_pydevd

[2019-06-22 13:57] sourav22899 commented on #12951
The default `padding` is `valid` in `keras.layers.Conv2D`. Using `valid` padding reduces dimensions after each convolution layer. Use `padding='same'` like:
`model.add(layers.Conv2D(16, (3, 3), activation='relu', input_shape=(28,28, 1),padding='same'))
`

[2019-06-22 14:07] sourav22899 commented on #12951
Please close the issue if the solution serves your purpose.

Best,
Sourav

[2019-06-22 14:19] zhly0 opened #13000 "channel_last and channels_first weight storage"
When I use convolution layer's get_weights() method to get the weights,first,I set channel_last,and I get the weights,let's say 3x3x3x8,8 means the convolution layer's output filter number.when I set channel_first,I use the method get_weight(),I still get weights has shape 3x3x3x8,I think it maybe wrong,isn't it should be 8x3x3x3?

[2019-06-22 15:09] josh24990 commented on #4161
Hi,

I have tried implementing the code suggested by @zoltan-fedor which seems to have worked for so many others, however with no luck for me. I receive the following error message:

For reference, I'm writing in Keras within a Google Colab notebook, and I have GPU access.

I'm a relative newbie to the field, so any ideas on what's going on here and how to fix it would be greatly appreciated. Let

[2019-06-22 15:38] adt58780 commented on #8668
This issue might be caused by Tensorflow, rather than Keras.
I was working on Keras 2.2.4 with Tensorflow 1.14.0(CPU) backend, and I had the same issue. Then I downgraded the Tensorflow to 1.13.1 and I found out no memory is leaking anymore. I haven't changed my python script or Keras version.

[2019-06-22 18:49] #12951 closed

[2019-06-22 19:46] was84san commented on #12046
The performance when I changed the layers name is totally destroyed. Like I have three models with accuracy around 71, 70, 69. and when I tried to ensemble the models I got accuracy 5 % because i have to change the layers name for each model. Is this related with naming the layers

[2019-06-22 22:28] e4exp commented on #11157
Gumbel-softmax may solve the problem of argmax.
http://anotherdatum.com/gumbel-gan.html
And this states another way to solve that(I got an error currently).
https://stackoverflow.com/questions/46926809/getting-around-tf-argmax-which-is-not-differentiable

[2019-06-23 05:18] #13000 closed

[2019-06-23 05:50] hartikainen commented on #10417
I'm seeing something similar with tf.keras: https://github.com/tensorflow/tensorflow/issues/28668. This seems relatively high priority since I'm currently unable to save any tf.keras models.

[2019-06-23 06:38] #12994 closed

[2019-06-23 07:27] renatobellotti commented on #10417
Not sure if it also helps you, but I could circumvent the issue by installing Keras 2.1.6

Note: You have to save the model using this version of Keras in order to be able to load it. Models saved using the latest versions didn't work for me.

[2019-06-23 08:37] cainmagi commented on #6978
Yes. Both the optimizer configurations and its corresponding tunable parameters would be stored, if you call `save_model` (or `model.save`) and set `include_optimizer=True`. The configurations would be stored by JSON format and the parameters would be saved by HDF5 format, just like what we do when saving the whole model.
The same things also happen when using `ModelCheckpoint`, if you set `save_w

[2019-06-23 14:02] sailormoon2016 commented on #12256
I have same question. anyone knows?

[2019-06-23 14:14] sailormoon2016 commented on #12256
I have same question, is it possible at all?

[2019-06-23 20:24] #10221 closed

[2019-06-23 23:16] OverLordGoldDragon commented on #12851
_Probably_ resolved: I've inadvertently left in one non-standardized sample (in a batch of 32), with `sigma=52` - which severely disrupted the `BN` layers; post-standardizing, I no longer observe a strong discrepancy between train & inference modes - if anything, any differences are difficult to spot.

[2019-06-23 23:16] #12851 closed

[2019-06-23 23:20] OverLordGoldDragon commented on #12400
I resolved my problem by standardizing a sample (in a batch of 32) which I inadvertently left non-standardized, with `sigma=52` - which had severely disrupted the `BN` layers; to suggest a debug method, _monitor_ `BN`s (via e.g. heatmaps) throughout training, and see if they drastically change after any particular dataset. Also, mind extreme outliers, and other anomalous behaviors.

[2019-06-24 02:38] DeligientSloth opened #13002 "Help! All layer operations, still get 'NoneType' object has no attribute '_inbound_nodes' error"
**My code as follow:**
`
def model_DynamicAttention_ContextWeighted(p, embedding_matrix, max_sent_len, n_out):
    print("Parameters:", p)

    # Take sentence encoded as indices and convert it to embeddings
    sentence_input = layers.Input(shape=(max_sent_len,), dtype='int32', name='sentence_input')
    # Repeat the input N times for each edge
    x = layers.RepeatVector(MAX_EDGES_PER_GRAPH)(sen

[2019-06-24 03:24] zrx1046 commented on #12452
@bram98 Hello, how do you solve this problem, I am also a custom layer, the following problems arise:
TypeError: init() missing 2 required positional arguments: 'pool_size' and 'num_rois'
my keras=2.2.0,,tensorflow=1.8.0

[2019-06-24 03:25] zrx1046 commented on #12316
@beNitinhere Hello, how do you solve this problem, I am also a custom function, the following problems arise:
TypeError: init() missing 1 required positional arguments: 'pool_size'

[2019-06-24 06:44] LeonnCheung commented on #12801
the same problem, how can i contact you

[2019-06-24 06:51] nilaykd commented on #12379
Honestly, the latest version is tensorflow-2.0.0b1 which is in Beta, it is much easier to create a separate environment for your specific project and downgrade it.

[2019-06-24 07:06] PowerOfCreation commented on #10340
I think my issue is related to this, I'm using multiple workers as well. Sometimes I get an out of memory limit error, sometimes it seems to run in a deadlock and sometimes it runs through all epochs. Considering that my test data is 394mb and I have 24 GB of RAM assigned with Tesla V-100 cards each with 32 GB of memory I'm pretty sure there is a deadlock as well as a memory leak in fit_generator

[2019-06-24 09:10] hav4ik commented on #3889
I believe [this StackOverflow thread](https://stackoverflow.com/questions/56730888/what-is-the-learning-rate-parameter-in-adadelta-optimiser-for-in-keras) answers this question.

[2019-06-24 09:43] Raseth commented on #10907
I had a similar issue, but with different architecture. As people suggested, it's important not to mix keras with tensorflow.keras, so try swapping

[code]

to:

[code]

Also make sure, you don't use keras.something inside your code (not only imports) as well, hope it helps : )
Also, I used Keras 2.2.4 with tensorflow 1.10.0

[2019-06-24 09:53] Suvi-dha commented on #12752
There is something wrong with the two approaches:

`keras.applications.resnet` gives the error `ImportError: No module named resnet `with all resnet versions except resnet 50.

whereas it imports well with `keras_applications.resnet import ResNet101`  but, throws the following attribute error
[code]

[2019-06-24 12:24] SounakRay1997 commented on #9142
Is anyone getting the error even after the model is compiling properly. I guess proper compilation means formation of the computation graph. Then why I am getting this error even after proper compilation of my model.

[2019-06-24 12:33] mycal-tucker commented on #11157
Yeah, or SeqGAN-based idea of policy updates: https://arxiv.org/abs/1609.05473

[2019-06-24 12:34] mertakcin opened #13004 "Tensorflow new version lots of deprecations"
WARNING: Logging before flag parsing goes to stderr.
W0624 15:31:08.865480 14340 deprecation_wrapper.py:119] From c:\users\user\temp\envs\maskrcnn6\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0624 15:31:08.883394 14340 deprecation_wrapper.py:119] From c:\users\user\temp\envs\maskrcnn6\lib\site-pack

[2019-06-24 12:35] mertakcin commented on #13004
How can I get rid of this kind of error? What is the reason behind it?

[2019-06-24 13:21] BenAsaf commented on #4843
@ZeroMaxinumXZ
Well it's been quite a while since then.
We need to create another K.function that it's input is [x] and the output tensor is [ypred].
We obtain: K.function([x], [ypred])   (maybe you could omit the list operator around the arguments)
I can't tell you if it works or not.

[2019-06-24 14:10] chaudherysharif commented on #11276
is there anyone who solved this issue , as i have the same one.
I've keras 2.2.4 , and even after reverting it to 2.2.2 i got same problem.
Modelcheckpoint saving nothing ,
i just got the message that val-acc is improved and model is saved at given path

[2019-06-24 17:32] ymjain commented on #11360
Please share the solution if you've already found it!

[2019-06-24 17:44] jvishnuvardhan commented on #12815
@msloryg Please post it in another group that discusses issues of tensorflow related to R. The source code in this repo is python. Thanks!

[2019-06-24 18:42] 0xfiras commented on #8794
Gist please?

[2019-06-24 22:16] jvishnuvardhan commented on #12968
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-06-24 22:16] #12968 closed

[2019-06-24 22:17] jvishnuvardhan commented on #12959
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-24 22:17] #12959 closed

[2019-06-24 22:33] cserpell commented on #13004
They are not errors, they are just warnings. You can either ignore them, or help updating keras source code to avoid using deprecated tensorflow code.

[2019-06-25 02:02] LukeBolly commented on #12400
I've run into this issue as well.

Re-using the same identical sample for training and validation, the model gets 100% accuracy while training but validation accuracy oscillates around 60%. Setting momentum to 0.0001 so that the "moving mean/variance" == "last batch mean/variance" did not fix the validation accuracy, so BatchNorm must be doing something else which is modifying the data at Validati

[2019-06-25 07:45] #12889 closed

[2019-06-25 08:23] adrianstaniec opened #13005 "keras.backend.resize_images limited functionality"
**System information**
- TensorFlow version: 2.0 beta
- Keras version:  2.2.4

**Describe the current behavior**
images can only be upscaled by integer factor

**Describe the expected behavior**
images can be resized to any arbitrary pixel height x pixel width,
which would allow for downsizing, and upsizing by effectively a fractional factor,
similar to this function  [tf.images.resize](https://ww

[2019-06-25 09:02] MonlinXING commented on #8748
I encountered the same problem and my solution is:
1. create the submodel, e.g. `model=resnet_model()`
2. load weigths from h5 file specifying the layer name with 'by_name' parameter, which in your case is `model.load_weights(weightsFile,by_name='resnet_model'`

[2019-06-25 09:08] Mushoz commented on #12400
Exact same issue for me. Would love to hear an update regarding this.

[2019-06-25 09:20] Randryn0 opened #13006 "Keras training and validation accuracy always converges to 0.5"
**System information**
- Have I written custom code (as opposed to using example directory): yes
- OS Platform and Distribution: Linux ubuntu 4.15.0-51-generic #16~18.04.1-Ubuntu SMP
- TensorFlow backend: yes
- TensorFlow version: 1.13.1
- Keras version: 2.2.4
- Python version: 3.6.8

I have used a model (provided [here](https://medium.com/@ksusorokina/image-classification-with-convolutional-neura

[2019-06-25 10:28] jonlin91 commented on #9001
I have the same issue. any solution on this?

[2019-06-25 12:43] HansLeonardVanBrueggemann commented on #12981
I can't provide the data, but the network looks like this

[code]

[2019-06-25 13:26] rish07 opened #13007 "How to deploy this model using flask?"
Please make sure that the boxes below are checked before you submit your issue. If your issue is an implementation question, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [join the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) and ask there instead of filing a GitHub issue.

Thank you!

- [x] Check that you are up-to-date with t

[2019-06-25 14:50] jcgarciaca commented on #12715
Hi @hanama
I changed keras version and it worked

[2019-06-25 15:38] nikoladze commented on #8002
I think the reason for this is that by default the batches are put into a queue by a separate thread and the main generator just fetches the batches from that queue. If you don't want need use multiple workers this behaviour can be avoided by passing `workers=0` in `predict_generator`.

[2019-06-25 18:30] ymodak commented on #12996
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/keras-team/keras/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from th

[2019-06-25 18:30] #12996 closed

[2019-06-25 18:39] #12993 closed

[2019-06-25 18:39] sailormoon2016 commented on #12993
I solved it.

[2019-06-25 19:31] duhita123 commented on #12783
This worked

[2019-06-25 20:10] xizhenke commented on #12738
After I finished training my cnn network, I tried to save this model but got the same message "predictions_ib-0". Can someone please give some suggestions???

[2019-06-25 20:15] shahryarbaki commented on #12442
I get the same issue with Keras 2.2.4 (pip installation)

[2019-06-25 23:08] jvishnuvardhan commented on #12046
@was84san Please open a new issue with details of your issue and context. Also, fill the issue template. Thanks!

[2019-06-26 01:56] michaelowenliu opened #13008 "Difference between DepthwiseConv2D and SeparableConv2D"
From the document, I know SeparableConv2D is a combination of depthwise and pointwise operation. However, when I call

`SeparableConv2D(100, 5, input_shape=(416,416,10) `
total parameters is 1350

`model.add(DepthwiseConv2D(5, input_shape=(416,416,10)))`
`model.add(Conv2D(100, 1))`
total parameters is 1360

Does it mean SeparableConv2D does not use bias in depthwise phase by default?

Thanks.

[2019-06-26 02:57] LukeBolly opened #13009 "BatchNormalization doesn"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-06-26 02:58] #13009 closed

[2019-06-26 04:56] vineetred commented on #11517
I've just added some clarification. Let me know if it's okay? 0969a0f[](https://github.com/keras-team/keras/wiki/Keras-2.0-release-notes/0969a0ff30fa15fe632a08e465342f8732753350)

[2019-06-26 05:31] vineetred commented on #12914
Hey! I've added the necessary information in the docs. Do let me know if the PR can be merged. #13011

[2019-06-26 06:07] vineetred commented on #12964
Issue seems to persist even after using K.reshape.
[code]

[2019-06-26 06:46] vineetred commented on #13004
I've removed some old deprecated calls. Please do check. #13012

[2019-06-26 06:50] mertakcin commented on #13004
Guys I solved the problem. I was using Tensorflow 1.14.0. I just installed Tensorflow 1.5.0 and I am not getting these errors now. Thank you!

[2019-06-26 07:11] mohhao opened #13013 "How to wrap tf.cond function with layers.Lambda?"
code like below,
[code]

[2019-06-26 07:53] HudsonHuang commented on #10340
In my case, call the generator once before using it would fix this problem.

[code]

Keras (2.1.5)
tensorflow-gpu (1.12.0)

[2019-06-26 09:01] Hayashi-Yudai commented on #9522
keras-team/keras#7085 (comment)
This will help you.

[2019-06-26 09:31] chinmayshah99 commented on #13008
@michaelowenliu , you might wanna check out the implementation of `SeparableConv2D`, which suggests use_bias as True, - https://github.com/keras-team/keras/blob/c658993cf596fbd39cf800873bc457e69cfb0cdb/keras/layers/convolutional.py#L1643-L1661

[2019-06-26 09:39] eduidl commented on #11517
It looks okay to me!

[2019-06-26 10:34] Royeqiu commented on #4875
I met the same problem and finally, I found the problem is caused by the process of encoding the data instead of initiating weight.

When I searched for the solution, an article mentioned that most of the users use set() i.e word_set to create word_to_index or index_to_word dict, the order of poping value is different if in a different session.

If we encode our data at the begin of a session, we

[2019-06-26 10:43] PowerOfCreation commented on #10340
Doesn't work for me, the problem persists. I have done further testing and it seems like I can run the fit_generator fine with 1 GPU and multiprocessing, but when I use 2 GPUs, with multiprocessing and multiple workers, then I ran into a deadlock. My log:
https://gist.github.com/PowerOfCreation/e831022bb0c5dde36f701c5eac5e9ea3

[2019-06-26 10:55] michaelowenliu commented on #13008
@chinmayshah99 the param is True by default.

[2019-06-26 11:02] abhijeetknayak commented on #7736
I get the same error from the following code:
model_1 = Sequential([Dense(units=hidden_1_num_units, input_dim=g_input_shape,
                                activation='relu', kernel_regularizer=L1L2(l1=1e-5, l2=1e-5)),
                      Dense(units=hidden_2_num_units,
                            activation='relu', kernel_regularizer=L1L2(l1=1e-5, l2=1e-5)),
                      Dense(units=g

[2019-06-26 11:03] CarlSouthall commented on #4875
I had an issue with my model outputting incorrect values after I had loaded it with keras load_model. More specifically and interestingly it was outputting one index of the softmax output as 1 and all others 0 (obviously), with this occuring for the same index for most observations.

I overcame this issue by doing all session and variable initialisation before loading the model.

For example... I

[2019-06-26 11:21] Abhishek-31 commented on #10395
I am also having this issue of `update your dense call to the keras 2`. Is there any solution I can break through?

[2019-06-26 11:43] dervishson opened #13014 "Tensor-list conversion"
In the model below, i try to apply attention mechanism. It is many to one architecture, however, i try to convert it to many to one architecture for my problem.
In the output line, all outputs appended in a list, then this output list must be connected to Dense layer which produces many-to-one's one output, however, i get the raise ValueError which I shared after the model?What can i do to solve t

[2019-06-26 12:42] Anabad commented on #12639
I have the same issue, is there at least a workaround?

[2019-06-26 13:59] liumilan opened #13015 "different result with same code,same data when run dssm model"
different result with same code,same data when run dssm model using keras.How could it perhas happen? Using the incorrect model to predict,the output value is all the same

[2019-06-26 14:59] LiXiaYu commented on #10472
This method works for me.
Thanks

[2019-06-26 15:01] mqray opened #13016 "something wrong with U-NET"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-06-26 15:05] mqray commented on #13016
I'm confused that when I wanna  train my model, which its shape of input is (256,256,4)，and the final predicted class is 16 and my program is wrong .
[code]
and the output of the console is :
[code]
I don't know how to fix this trouble, hope some help!!!  Thank you!

[2019-06-26 15:29] maderafunk commented on #13016
Well, looks like your labels are not consisting of 16 classes, but of 3. Your training data is supposed to be an input output pair of shape:

(10, 256, 256, 4) (10, 256, 256, 16)

However, you are using:
(10, 256, 256, 4) (10, 256, 256, 3)

[2019-06-26 15:56] NapsterInBlue commented on #10270
Bumping an old thread--

At the time of writing, the default PyPI version for `keras` and `tensorflow-gpu` are `2.2.4` and `1.14.0`, respectively.

Is there a best-practice for getting around this error that doesn't involve reverting either of these libraries? Running Python `3.7` and am having trouble getting that, `keras`, and `tensorflow` to agree with one another. Would rather not roll back to

[2019-06-26 16:57] ashnakapoor07 commented on #12914
Can I take this as my first issue?

[2019-06-26 17:33] ymodak commented on #12982
Hi!
This issue isn't related to a bug/enhancement/feature request or other accepted types of issue.
To ask questions, please see the following resources :
[StackOverflow](http://stackoverflow.com/questions/tagged/keras)
[Keras Slack channel](https://keras-slack-autojoin.herokuapp.com)
[Keras.io support](https://keras.io/#support)
[Gitter](https://gitter.im/Keras-io/Lobby)
Thanks!
If you think we m

[2019-06-26 17:33] #12982 closed

[2019-06-26 17:37] ymodak commented on #12985
In order to expedite the trouble-shooting process, please provide a minimal complete code snippet to reproduce the issue reported here.
To ask questions, please see the following resources :
[StackOverflow](http://stackoverflow.com/questions/tagged/keras)
[Keras Slack channel](https://keras-slack-autojoin.herokuapp.com)
[Keras.io support](https://keras.io/#support)
[Gitter](https://gitter.im/Keras

[2019-06-26 19:29] BIRAN commented on #12538
It works for pydotplus too. Thanks!

[2019-06-26 20:15] jvishnuvardhan commented on #12724
@rb-determined-ai I checked with Keras==2.2.4 and tensorflow==1.14.0, the results are consistent. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/db6974f2f50ca954241bd1f17c5fb19b/keras_12724_repeatability.ipynb). Thanks!

[2019-06-26 20:45] jvishnuvardhan commented on #12829
Please fill the issue template [here](https://github.com/keras-team/keras/issues/new/choose). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-06-26 21:29] kwende commented on #9142
I had the same problem, but with Adam. Once I removed the epsilon=None, it worked. Perhaps explicitly setting a named property to None is causing mischief?

Adam(lr=0.005, beta_1=0.9, beta_2=0.999, **epsilon=None**, decay=0.01)

I'm noticing that as a trend in the comments I'm seeing.

[2019-06-26 21:33] jvishnuvardhan commented on #12875
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-26 21:33] #12875 closed

[2019-06-26 21:35] jvishnuvardhan commented on #12877
@smgutstein Could you provide a standalone code to reproduce the issue? Thanks!

[2019-06-26 21:36] jvishnuvardhan commented on #12880
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-26 21:36] #12880 closed

[2019-06-26 22:33] jvishnuvardhan commented on #12905
@Xiang-Gu Can you be little more specific? I have created a gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/b0559bb0901d313c17e5599cb78fc090/keras_trainable_12905.ipynb). Please let me know what is expected and what is the output. Thanks!

[2019-06-26 23:00] startswithH commented on #411
any updates re this?

[2019-06-27 00:50] keifler commented on #7985
this addresses how to use 'sample_weight', but it doesn't fix 'class_weight' during validation.

[2019-06-27 02:09] nader-chmait commented on #11415
import keras.utils

[2019-06-27 04:20] chmoder commented on #2134
I had a categorical field where the column was only `0`.  My norm function made this column None and raised this exception.  Solution was to remove the column since there is only one category.

[2019-06-27 04:35] architlfc opened #13017 "evaluate_generator() got an unexpected keyword argument 'callbacks'"
The keras Documntation shows evaluate_generator having argument callbacks ,But while im using it it isnt accepting the callbcaks argument.

I'm using keras version: '2.2.4'

evaluate_generator(generator, steps=None, callbacks=None, max_queue_size=10, workers=1, use_multiprocessing=False, verbose=0)
https://keras.io/models/model/

[2019-06-27 07:36] qianlongzju opened #13018 "Confusions about the mnist siamese network example"
I have added a callback which uses compute_accuracy to print the accuracy. The result is like the following:

Epoch 31/50
4108/4108 [==============================] - 29s 7ms/step - loss: 0.2519 - accuracy: 0.5166 - val_loss: 0.2533 - val_accuracy: 0.5000
* Accuracy on training set: 77.19%
* Accuracy on test set: 75.29%

The point is that, the result of the function **compute_accuracy** is not mat

[2019-06-27 10:09] bjtho08 commented on #6615
Did you ever solve this issue? I'm seeing the same thing with my model.

[2019-06-27 11:46] macarena1807 commented on #10721
Hi there, same problem here. I found this solution in StackOverflow ([here](https://stackoverflow.com/questions/56657993/how-to-create-a-keras-layer-with-a-custom-gradient-in-tf2-0)), haven't tested yet.

I have implemented a custom layer without trainable parameters, but found out that a lot of TensorFlow and tensorflow.keras.backend functions are not differentiable (not defined gradients). If so

[2019-06-27 11:56] PowerOfCreation commented on #6217
With validation data: https://pasteboard.co/IllA27U.png
Without validation data: https://pasteboard.co/IllBg7q.png
Code: https://gist.github.com/PowerOfCreation/b0940d377180d0131f51a538152f788b

Tested on single and multiple GPUs(Tesla K-20, K-80, V-100), same behavior on all systems. Strangely the memory usage is different on each system. K-20 requiring 8 GB of RAM, K-80 10 GB of RAM and V-100 re

[2019-06-27 12:07] abhinavsagar opened #13020 "Many files in examples on running are giving value error"
As @uchidama pointed out in [this](https://github.com/keras-team/keras/pull/13019), many examples are giving similar error.

[2019-06-27 12:28] kakareko commented on #11096
I had the same issue in cases when target_size parameter in the flow_from_directory method has same value as the size of the image in the dataset. (e.g. my image has 256x256 size and I set target_size parameter value to (256, 256)).
Changing target_size value (or size of the image) helped.

[2019-06-27 12:40] amjass12 opened #13021 "Merge/concatenate confusion plus multiple layers in different models"
Hi all,

I am writing as I have some fundamental confusion about the merge/concatenate layers. I have not found an answer to my question on stackoverflow or other site, so any help would be appreciated.

Context: I have built two sequential models. Both models are two different data types although they both lead to the same classifications on the other side. What I would like to do is merge layers

[2019-06-27 12:48] muneeb699 commented on #12639
@Anabad I dont have any solution currently. I ask you the same if you know any solution. PLease post it here.

[2019-06-27 12:54] mrgloom commented on #2743
Seems reproducible results is not guaranteed in case of GPU:
https://keras.io/getting-started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development
`Moreover, when using the TensorFlow backend and running on a GPU, some operations have non-deterministic outputs, in particular tf.reduce_sum(). This is due to the fact that GPUs run many operations in parallel, so the order of exe

[2019-06-27 13:08] Anabad commented on #12639
@muneeb699 I solved the issue by writing a custom generator like this:

[code]

[2019-06-27 13:38] mrgloom commented on #2743
Simple test that shows results are not reproducible:
[code]

[code]

V2 with added fixed random seed before other imports (for tensorflow, numpy, python random):
`time CUDA_VISIBLE_DEVICES="1" PYTHONHASHSEED=0 python mnist_cnn_v2.py`
[code]

For single epoch on CPU(not limited to single core):
[code]
V2
`time CUDA_VISIBLE_DEVICES="" PYTHONHASHSEED=0 python mnist_cnn_v2.py`
[code]

[2019-06-27 16:44] mhgump commented on #12875
Sorry I haven't had time to update this! I think this should be all the information I need to provide. Please let me know if I missed anything.

I've reproduced the behavior on two systems and included information on both:

[code]

[code]

[2019-06-27 16:45] ikarabayir commented on #12729
@bwalsh0 dont downgrade or upgrade anything just use this to load dataset imdb:

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

from keras.utils.data_utils import get_file
from keras.preprocessing.sequence import _remove_long_seq
import numpy as np
import json
import warnings

def load_data(path='imdb.npz', num_words=None, skip_top=0,

[2019-06-27 17:29] beNitinhere commented on #12316
@zrx1046 Hi, Sorry for the late response. This is a bug in Keras which is still not fixed and In my case I just reprogrammed my model in tensorflow

[2019-06-27 22:09] jvishnuvardhan commented on #13004
@mertakcin If you are developing BIG models, i would suggest you to use recent tensorflow versions TF1.14.0 or TF2.0 as they are much better in performance when compared to old TF versions.

You could disable warnings in Keras. Check this [resource](https://stackoverflow.com/questions/43819820/how-to-disable-keras-warnings) for a solution. There are several other resources for the same purpose. th

[2019-06-27 22:20] jvishnuvardhan commented on #12997
@EmielBoss This should work fine. Please check below. Thanks!

[code]

[2019-06-27 22:23] jvishnuvardhan commented on #12992
@NaSed Can you provide a reproducible code? Thanks!

[2019-06-27 22:25] orestxherija opened #13022 "Unexpected results with CuDNNLSTM (instead of LSTM) layer"
**System information**
- Have I written custom code (as opposed to using example directory):  **Minimal change to official Keras tutorial**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  **Ubuntu 18.04.2 LTS**
- TensorFlow backend (yes / no):  **yes**
- TensorFlow version:  **1.13.1**
- Keras version:  **2.2.4**
- Python version:  **3.6.5**
- CUDA/cuDNN version:  **10.1**
- GPU model

[2019-06-28 00:07] omaghsoudi opened #13023 "Keras issue for loading uint16 (16 bits) images by ImageDataGenerator"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-06-28 00:15] zrx1046 commented on #12316
@beNitinhere  OK. Thank you for your reply. I'll find the answer again.

[2019-06-28 05:28] massy103 commented on #10585
I solved the same issue by changing Flask version from 1.0.3 to 0.12.2.
I think this issue happens on new Flask version.

Try this:
pip install Flask==0.12.2

[2019-06-28 06:21] Xiang-Gu commented on #12905
Hey I have explained my problem in the gist. Please take a look at it. Thank you!

[2019-06-28 06:41] MuruganR96 opened #13024 "is it possible for continues training in keras for multiclass classification for new class?"
**System information**
- Have I written custom code (as opposed to using example directory):
- Linux Ubuntu 16.04
- TensorFlow backend yes
- TensorFlow version:  ''v1.13.1-0-g6612da8951' 1.13.1
- Keras version:  2.2.4
- Python version: 3.6.8
- CUDA/cuDNN version:  CUDA 10.0
- GPU model and memory:  4 GB

i was tried continues training in keras.
because i was build keras multiclass classification m

[2019-06-28 09:54] sirius0503 opened #13025 "tf.assign doesn't update tf.Variable value in custom callback init constructor using model._function_kwargs"
**System information**
- This is a custom callback code
- Linux Ubuntu 18.04
- Tensorflow backend : Yes
- TensorFlow version:  1.13.1
- Keras version:  2.2.4
- Python version:  3.7
- CUDA/cuDNN version:  7.6
- GPU model and memory:  GeForce GTX 1050 Ti Mobile , 4 Gb VRAM

You can obtain the TensorFlow version with:
python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
You can obta

[2019-06-28 11:39] mrgloom commented on #454
Seems `get_state` and `set_state` were removed, what is the current method of reset optimizer state?

[2019-06-28 12:14] danmoller opened #13027 "Most optimizers don't save `iterations` as a weight!!"
I was checking whether Keras saves the optimizers states, and it happens that it does that based on the `self.weights` variable of the optimizer.

Looking at the source code for optimizers: https://github.com/keras-team/keras/blob/master/keras/optimizers.py

When it's about `SGD`, everything seems ok, the `iterations` variable is part of the weights:

    self.weights = [self.iterations] + moments

[2019-06-28 12:55] ramahasan opened #13028 "AttributeError: 'int' object has no attribute 'dtype' when trying to apply visualize_silency with fine-tuned ResNet50"
I am trying to apply Saliency and grad-CAM on fine-tuned Resnet50 depending on this notebook:
https://github.com/raghakot/keras-vis/blob/master/examples/resnet/attention.ipynb

but I always get the same error when I run visualize_saliency and visualize_cam
AttributeError: 'int' object has no attribute 'dtype'

[2019-06-28 15:44] rola93 commented on #5400
Hi @unnir nice implementation

However I have a question: why did you re implement recall & precision two times? (I mean, one "common" implementation and the other, exactly the same, but inside f_score metric) Does it have any advantage?

Thanks!

https://github.com/keras-team/keras/issues/5400#issuecomment-314747992

[2019-06-28 16:51] Dawei84 commented on #3425
For me, reducing the learning rate of ADAM from `lr=0.001` to `lr=0.0005` fixed it, using a single layer LSTM (ELU) for a classification problem.

[2019-06-28 18:43] shaifugpt commented on #2226
@michelleowen Try something like:
                 Input_tensors = [model1.inputs[0],
                 model1.inputs[1],
                 model1.sample_weights[0], # how much to weight each sample by
                 model1.targets[0], # labels
                 K.learning_phase(),]

[2019-06-28 18:45] shaifugpt commented on #2226
@ebanner Is it possible compute gradient with respect to a specific weight connection of a layer rather than all weights.

[2019-06-28 20:33] sun-peach opened #13029 "Lambda layer rename"
**System information**
- Have I written custom code (as opposed to using example directory):   No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu16.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.13
- Keras version:  latest
- Python version:  3.5+
- CUDA/cuDNN version: 10.0/7.5
- GPU model and memory:  2080 ti

I define the Lambda layer as below:
    output = L

[2019-06-28 20:39] jvishnuvardhan commented on #13006
@Randryn0 can you provide a standalone code to reproduce the issue? The above code as it is not working as I found a typo and underfined variables. Thanks!

[2019-06-29 03:52] shaifugpt opened #13030 "Keras LSTM: how to compute symbolic gradients"
I want to start by taking an example for a normal neural network. Let the weights between input and hidden nodes are W_ij and weights between hidden nodes and output are W_jk. The  gradient of error wrt W_ij= W_jk * g'(W_ij * x) *x and wrt W_jk =g( W_ij * x). This way how can we compute the symbolic gradients for weights in keras for LSTM. Tensorflow gradients function only returns this: tf.gradie

[2019-06-29 11:43] dabasajay commented on #13030
There are 3 popular methods to calculate the derivative/gradients:
1. Numerical differentiation
2. Symbolic differentiation
3. Automatic differentiation
Tensorflow (and thus Keras) uses automatic differentiation and hence you get back the value of gradients and not the symbolic expression.
If you want mathematical expression, maybe use something like Matlab
Let me know if I misunderstood your ques

[2019-06-29 11:50] dabasajay commented on #13017
`callbacks` argument in `evaluate_generator()` is removed in `2.2.4` version.
New definition of `evaluate_generator()` is:
`evaluate_generator(model, generator, steps=None, max_queue_size=10, workers=1, use_multiprocessing=False, verbose=0):`

[2019-06-29 12:49] dabasajay commented on #13028
Can you provide additional information like which version of packages are you using and a screenshot of the error or maybe copy paste the error stack?

[2019-06-29 13:02] dabasajay commented on #13024
Hello Murugan R, in your case the model was trained to classify only 10 classes (i.e. the number of units in the output layer is 10). Now that you've added a new class, you have 11 classes so you've to change the output units of the last layer to 11 and then you can maybe load the same weights for all layers except output layer and freeze the weights but use new weights for output layer and retrai

[2019-06-29 13:42] TQuy commented on #12829
I realize that if I use the result of random function from other google colab cell or other imported scripts, the result won't be consistent. In other words, I have to write all the random function in the same google colab cell

[2019-06-29 13:45] TQuy commented on #12829
there was also error when I use a shuffle function, which shuffle the inputs in one batch, for data generator

[2019-06-29 13:49] #12829 closed

[2019-06-29 15:26] liumilan commented on #411
any updates re this?

[2019-06-29 23:04] aiwithsap opened #13031 "Error using 3D inputs with Keras to Scikit-Learn Wrapper in Adaboost"
Hi
I have used Keras wrappers for Scikit to implement Adaboost for single input Keras models. This solution works fine for Dense layers, but not for 3D layers. The moment I try to use any 3D layers such as LSTM or SimpleRNN, the first model training runs ok but immediately thereafter I get the following error message.
ValueError: Input 0 of layer simple_rnn_1 is incompatible with the layer: expect

[2019-06-30 00:18] dwilliams999 commented on #11749
@fchollet, I recommend we should always have a regression test for sparse_categorical_crossentropy that includes 3D output such as RNN predictions & transformer nets.

[2019-06-30 00:22] dwilliams999 commented on #11749
This broke for me too recently after an upgrade to 2.2.4 for a recurrent autoencoder.

[2019-06-30 02:11] chuong commented on #341
I am surprised that such a commonly needed reset_weights() function is not yet a builtin Keras function. It seems non of the solutions on the internet working at the moment. The only working solution so far is to rebuild the network each time to reset its weights.

[2019-06-30 12:06] dynamicwebpaige commented on #12861
@fchollet: Would this be useful to add as a feature enhancement to `ImageDataGenerator`?

[2019-06-30 13:07] shaifugpt opened #13033 "Backpropagation on trained LSTM model: cannot access state_t-1"
I am trying to backpropagate the already trained LSTM model in Keras using the backpropagation equations.  As per the equations, to compute delta_state_t we need state_t. And for computing delta_f_t, we need state_t-1. I am returning the state for that layer using return_state=True. I believe it is returning state_t. Then how can we access the state_t-1 variable to compute delta_f_t.

[2019-06-30 14:16] dynamicwebpaige commented on #13027
I believe this may have been [resolved](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L614) in `tf.keras`- @fchollet, can you confirm?

[2019-06-30 14:51] danmoller commented on #13027
Is `tf.keras` the official version now? Last time I tried it it had so many bugs I concluded that simple Keras was the one.

[2019-06-30 15:17] PhilipMay opened #13034 "Feature Request: Better support to implement custom metrics like F1"
You have removed F1 score from metrics in the past. I understand the reason but want to implement my own F1 score (and other metrics) as a callback to do early stopping.

There are many different implementations in the net. All of them do their own prediction run. This is unnecessary and a waste of time because if you have provided `validation_data` to the fit function keras already did it's own p

[2019-06-30 16:49] dynamicwebpaige commented on #13034
Thanks for the suggestion, @PhilipMay! Are you using TensorFlow as your backend, by any chance? We have implemented something similar in a package called [TensorFlow Addons](https://www.github.com/tensorflow/addons). You would be able to create and open-source custom losses, layers, etc.

[It looks like F1 has been added.](https://github.com/tensorflow/addons/issues/265)

[2019-06-30 18:25] briannemsick commented on #13034
Use ``StatefulMetrics``, you can compute it exactly (not a batchwise average) and without having a custom callback hack:

See: https://github.com/keras-team/keras/blob/master/tests/keras/metrics_test.py

[2019-06-30 18:52] DeepManuPy commented on #11952
Why is this issue still open? Is this fixed?

[2019-06-30 21:04] ayushiee opened #13035 "ImportError: cannot import name 'issparse' keras version 2.2.4"
from keras.models import Model
from keras.layers import Embedding, Dense, LSTM, Dropout, Input

This is the error occuring for executing the above statements:

ImportError                               Traceback (most recent call last)
<ipython-input-9-257c268d2e40> in <module>
      4 from nltk.tokenize import word_tokenize
      5 from nltk.corpus import stopwords
----> 6 from keras.models impor

[2019-06-30 21:59] dynamicwebpaige commented on #13027
@danmoller No, `tf.keras` is not the official version; but I encourage you to try it, if you haven't recently, and if you're using a TensorFlow backend. There have been several performance enhancements created specifically for TF. If you find any issues, please let us know! 👍

[2019-06-30 22:06] briannemsick commented on #13006
Guess: the learning rate is too high, leading to the network only sometimes converging. Try 1e-4 and see if the model gets stuck.

[2019-06-30 22:30] julka01 commented on #6479
did you solve it? @RishikMani

[2019-07-01 01:21] aradhagan commented on #8011
I am also having the error is there a solution or workaround. Below is the error I get when implementing CNN and multilabel multiclass problem.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-40-85541802e5df> in <module>
     32                     validation_data=validation_gene

[2019-07-01 02:25] jesus255221 commented on #12164
@gabrieldemarmiesse I am new to the open source community. I wonder if this issue has been solved. If not, can you provide any guidance so that I can work on this issue?

[2019-07-01 03:41] qadoori opened #13036 "keras with tensorflow-gpu"
Hi everyone, I am using anaconda to write some code for ML, and I configured my tensorflow for GPU version.

I wrote these lines of code
# Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

# Initialising the CNN
classifier = Sequential(

[2019-07-01 06:06] bfialkoff commented on #5074
I'm getting an assertion error in  Model.from_config(confs). Any chance of an explanation so I can try and work it out?

[2019-07-01 07:30] #13036 closed

[2019-07-01 09:20] siddheshsathe commented on #13035
Hi @ayushiee , can you please confirm the installation of scipy is correct?
Instead of importing these from keras' background, please try
[code]
if this works, try for
[code]

Try re-installing scipy if the issue persists.

[2019-07-01 10:46] dabasajay commented on #13021
The behavior you want can be achieved using Keras functional API.
Giving a short example to give you a hint of what to do. Add more layers or change parameters according to your use case.
[code]
Here's what the model looks like:
![demo](https://user-images.githubusercontent.com/38384266/60430605-5247d480-9c1b-11e9-9fae-40eb3c684729.png)

[2019-07-01 12:38] Deltaidiots commented on #2375
Hi I have a question regarding variable number of timesteps in a sample and even if i provide None for timesteps in input_shape. it doesn't work
`from keras.models import Sequential
from keras.layers import LSTM, Dense, Flatten
import numpy as np

# expected input data shape: (batch_size, timesteps, data_dim)
model = Sequential()
model.add(LSTM(1, return_sequences=True,
               batch_input_

[2019-07-01 12:51] Deltaidiots commented on #85
How can we use variable number of time steps per sample? number of features for each timestep remains same.

e.g

x_train = [

[[0.41668948], #1
 [0.38072783], #2
 [0.70242528]], #3

[[0.65911036],#1
 [0.01740353],#2
 [0.03617037],#3
 [0.04617037]]#4

]

people are saying to use padding but i don’t know how padding will solve this ? what would be the shape of input array then?

I have tried using

[2019-07-01 13:16] vikua opened #13038 "Recompute steps_per_epoch in training_generator.py::fit_generator"
## Rationale

Sometimes it can be useful to change value `batch_size` between epochs (https://arxiv.org/abs/1711.00489), but looks like there is no clean way to do so in Keras right now.
Obvious approach would be to do a loop outside of `model.fit` and change batch_size at the end of iteration:

[code]

But this approach makes usage of existing Keras Callbacks (like `EarlyStopping`, `ReduceLearnin

[2019-07-01 13:44] DhruvMevada commented on #6462
@joaospinto It works for me. just do model._make_predict_function()

[2019-07-01 13:56] dust8 opened #13039 "why is not work for repeat letter use model in image_ocr.py"
'aazz'  predicted to be 'az'

[2019-07-01 15:48] rjpg commented on #11989
Hello Iam using google colab (up to date)

I cant use pre-trained inception with keras in float16 ....

here is the code :
[code]

and the error : ```

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-1-494b27bb2539> in <module>()
     31 input_tensor = Input(shape=(512, 650, 3))

[2019-07-01 15:58] amjass12 commented on #13021
Thank you so much @dabasajay !!

So i have compiled the model and this indeed seems to make perfect sense! thank you so much for your assistance. Attaching the model with the added layers etc...

There is one thing I am completely confused by still and that is the :

`final_model.fit([Left_data,Right_data], **labels**, epochs=10, batch_size=32)
`

I dont quite understand how the labels should work

[2019-07-01 16:23] veb-101 commented on #10648
This worked for me, thank you.

[2019-07-01 16:54] ghost opened #13041 "fit_generator learning phase is 0 for both train data and validation data"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-07-01 18:25] ymodak commented on #13015
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/keras-team/keras/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from th

[2019-07-01 18:25] #13015 closed

[2019-07-01 20:01] xizhenke commented on #10417
@renatobellotti
Thanks for your message.  I agree with you. I had keras 2.2.4 and ran into the same problem with load_model (which really pissed me off...). Then I upgraded keras to 2.1.6 and it works.

[2019-07-01 20:03] chrislong opened #13042 "Feature Request: allow Path for Network.save"
**System information**
- Have I written custom code (as opposed to using example directory):  yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 18.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  ('v1.14.0-rc1-22-gaf24dc91b5', '1.14.0')
- Keras version:  2.2.4
- Python version:  3.6
- CUDA/cuDNN version: N/A
- GPU model and memory:  N/A

**Describe the cur

[2019-07-01 21:01] dabasajay commented on #13038
Hi @vikua
You're right that it shouldn't be very hard to recompute the number of `steps_per_epoch` after each epoch as you suggested in your PR https://github.com/keras-team/keras/pull/13037,
![1](https://user-images.githubusercontent.com/38384266/60464587-a6c77000-9c6c-11e9-9d39-84f0443694d6.png)

However, there are other things to consider with this change.
(All changes are done in training_util

[2019-07-01 21:47] dabasajay commented on #13041
Please provide the source code of what you did exactly.
Also, did you set `learning_phase` explicitly using `K.set_learning_phase(1)` before training and `K.set_learning_phase(0)` before testing?

[2019-07-02 01:49] nickhuangxinyu opened #13045 "self-defined Attention layer failed for keras"
my layer code:

from keras.layers.core import Layer
from keras.engine import InputSpec
from keras import backend as K
try:
    from keras import initializations
except ImportError:
    from keras import initializers as initializations

import numpy as np
class HardAttention(Layer):
    def __init__(self, **kwargs):
        super(HardAttention, self).__init__(**kwargs)
        self.input_spec = Inp

[2019-07-02 02:00] gitrdonator commented on #13041
I did not set `learning_phase` yet as I've been told that `keras` does this automatically. Should I try that?

I have been calling `print(K.learning_phase())` at the top of my data generator function. It prints `0` both during training and validation phases. Here is my generator function:

[code]

[2019-07-02 03:52] Mofafa commented on #10841
I solved a similar problem by using multi_gpu_model on discriminator and generator instead of discriminator_model and generator_model

[2019-07-02 04:34] bjm88620 commented on #12379
This actually works fine. Thanks for sharing.

[2019-07-02 06:38] dabasajay commented on #13041
Try setting it explicitly using K.set_learning_phase(1).
Also, I want to ask why are you using a generator(for fit_generator) on top of another generator(Dataset generator)
You can just use Dataset generator inputs for the tensorflow model. Example:
[code]

[2019-07-02 07:01] shivg7706 opened #13047 "model created through Sequential and Functional APIs behaves differently."
Created two same CNN one with Sequential API and another with Functional API. One created using Sequential API outputs good validation accuracy around 80-85% but another created with Functional API behaves weird and output validation accuracy about 10-20%.

[2019-07-02 07:04] kesarianubhav commented on #11438
@MrSnappingTurtle  I am using Conda Python 3.6.8 with the tensorflow being 1.13.1 and keras 2.2.4

But still my generator is iterating forever .
????

[2019-07-02 07:33] ayushiee commented on #13035
The packages were correct and up to date.
I re-installed anaconda, that seems to have solved the isuue for now.
Thanks.

[2019-07-02 07:33] #13035 closed

[2019-07-02 07:33] dabasajay commented on #13021
Concatenation requires all dimensions to be of the same shape except for the concatenation axis. So in `Concatenate` layer, during concatenation of `(None,100)` & `(None,100)`, that `None` is the batch_size and has to be the same for both left and right part.
Think about this:
You can concatenate a $[4,3]$ matrix with a $[4,5]$ matrix along axis=1 resulting in a matrix of shape $[4,8]$ but how wil

[2019-07-02 08:10] dabasajay commented on #13047
Can you share the source code?

[2019-07-02 08:16] shivg7706 commented on #13047
`def mobilenet_functional():
    inputs = Input(shape=(224, 224, 3))
    x = MobileNet(include_top=False, weights='imagenet', input_tensor=inputs, pooling='avg')
    x = Dense(7, activation='softmax')(x.output)

    model = Model(inputs, x)
    for layer in model.layers[:75]:
        layer.trainable = False

    model.compile(loss='categorical_crossentropy', optimizer = 'adam', metrics=['accuracy'

[2019-07-02 08:18] bjtho08 commented on #4361
This has not been fixed. The weight file is simply not closed, meaning that if you keep the kernel running for long enough, loading different weights multiple times, you eventually run into OSError: too many open files.

[2019-07-02 08:32] amjass12 commented on #13021
Hi @dabasajay

Thank you! Yes indeed everything you said makes perfect sense! I guess one thing that i did not expect is that this would be a requirement. I am using genomic data and so no two pairs of data will ever have the same number of samples, but also the reason for using two networks (or more) is because of the type of data. So, I wouldn't be able to train the model as one network because

[2019-07-02 08:52] dabasajay commented on #13047
I think there's a typo in `for layer in model.layers[0].layers[:75]:` inside `mobilenet_sequential()`. Did you mean `for layer in model.layers[:75]:`?

[2019-07-02 08:58] shivg7706 commented on #13047
Hey @dabasajay, there is no typo mistake. Since `MobileNet` is added to model so this became first layer.
![image](https://user-images.githubusercontent.com/21190262/60499191-9bf4f580-9cd5-11e9-80dd-20e2164ab6aa.png)

[2019-07-02 08:58] shivg7706 commented on #13047
Everything is same

[2019-07-02 09:03] bjtho08 commented on #4361
I made a small addition to the `load_weights()` method as shown below. I'll submit a PR momentarily.

[code]

[2019-07-02 09:05] Sebb767 commented on #11452
In case someone is stuck with an old version of Keras: One can avoid this issue by changing the line
`history = network.fit_generator(train_generator, epochs=10)` to `history = network.fit_generator(train_generator, steps=len(train_generator), epochs=10)`.

[2019-07-02 09:35] dabasajay commented on #13047
Oh, my bad. `Sequential` uses `Model` class internally so there shouldn't be this much difference in performance. I believe the error is somewhere else in your source code but if that's not the case, I'm clueless about this.

[2019-07-02 09:57] amitgupta911 opened #13049 "How to combine two trained models in keras?"
I have two models , trained using CNN on an image data set, both models are trained to identify different-different objects.Is it possible so that i combine these two trained models in keras, to detect two different objects in the given image,using a single merged model.

[2019-07-02 10:01] ramahasan commented on #13028
I am using keras 2.2.4 with tensorflow 1.12.0 backend.
I added GlobalAveragePooling2D and two dense layers to resnet50.
I freezed just the first 141 layers.

AttributeError                            Traceback (most recent call last)
<ipython-input-30-3d4a726cd59b> in <module>()
     10 for i, img in enumerate([img1, img2]):
     11     # 20 is the imagenet index corresponding to `ouzel`
---> 12

[2019-07-02 10:05] dabasajay commented on #13021
Well, batch_size isn't the main problem. It can be easily fixed with duplication of data. The main issue is the grouping of labels and the relationship between input pairs.
For example, consider the example of sentiment analysis I gave you in my last comment. Say I have 5 images(data type 1) and 10 captions(data type 2). First I'll group them together under the same labels. Assume that 3 images an

[2019-07-02 10:13] dabasajay commented on #13049
Why do you want to merge the models? I mean you can just run the first model to get predictions for objects of the 1st kind and then run the second model separately to get predictions for objects of the 2nd kind. This is like a pipeline setup.
If you merge them, say by concatenating penultimate layer, then you'll have to retrain the last layer to output predictions for 1st + 2nd kind of objects an

[2019-07-02 11:28] dabasajay commented on #13045
Fix:
[code]

[2019-07-02 11:33] santhoshBjeeffy commented on #13006
Hello Randryn0

Even am facing the same issue now while doing sentimental analysis on movie review data.
is the above issue is resolved for you?
if soo please let us know the solution.

[2019-07-02 11:45] vikua commented on #13038
Hi @dabasajay! Thanks you for your feedback, it is extremely helpful.
I updated the PR to address your key points. Specifically:

1. Progress bar - you are right, yes we definitely need to reset parameters once again. Good catch! Unfortunately callbacks doesn't purport parameters update, so as you suggested we need to reset all parameters from altogether.

2 and 3 - I guess there is better way to

[2019-07-02 13:34] tapos12 commented on #11749
I had the similar problem on Keras 2.2.4.

Downgrading to 2.2.2 version somehow solves the problem for me!

[2019-07-02 14:50] ehsanhaghighat opened #13050 "Why lambda layer returns None for gradient operators?"
I try to implement a special DNN architecture to be used for physics-informed machine learning. As you may know, in this architecture, partial differential equations are integrated into the loss function. The architecture of interest includes:

1. Input layers + hidden layers + output layer
2. Gradient of output of 1 with respect to inputs (done through the Lambda layer)
3. 2 as the input + hidden

[2019-07-02 14:55] husi253 commented on #11749
Thank you. It fixes the issue.

[2019-07-02 15:00] amjass12 commented on #13021
hi @dabasajay

Many thanks! this all makes perfect sense! to your last point because this is important:

'However, this may or may not work because there is no strong relationship between input pairs '

We do know that there is a strong relationship. I built model 1 (model) and used the data for modelSC as a validation of the first model and the predictions are phenomenal. Even though it is a diff

[2019-07-02 15:15] s36srini opened #13051 "ImageNet Weights being set, but MobileNet accuracy starts of at 0% when pruning"
Here is how I'm creating the model:
[code]

When using the backend context manager below, do the imagenet weights get reset?

[code]

Here is my call for training:

[code]

[2019-07-02 15:20] adrianboguszewski opened #13052 "Focal loss in keras"
@fchollet Do you think a [focal loss](https://arxiv.org/pdf/1708.02002.pdf) is useful in keras? I've done implementation for my purpose (binary and categorical classification) and I can commit it to keras also.

If yes, I'll provide tests, documentation and so on.

[2019-07-02 15:24] cabiste007 opened #13053 "improve LSTM accuracy"
I'm trying to build LSTM architecture to predict sickness rate. I'm actually stuck in 40% accuracy, I'm new in machine learning and I tried several tips like changing the optimzer, the layer node number and the dropout value without any improving. So could you guys help me with some advice.

the x array is composed of 10 columns

the y array is only one column the sickness rate

here is my model
`

[2019-07-02 15:24] zhoudaxia233 commented on #4871
@bstriner Hello Ben, I'd like to know that, do I still need to pass `custom_objects` to `load_model` if I've already implemented `get_config` function in my custom layer? If so, what's the point here? My model also works without implementing `get_config` as long as I pass `custom_objects`.

Thanks a lot!

[2019-07-02 16:02] dabasajay commented on #13021
You either duplicate the data from the left part or from the right part at a time so overall input to the model is different each time. As for one-hot encoding of labels, just the final shape has to match i.e. 24-dimensional vector. Now if it's a multiclass classification problem, y_hot_enc has to match exactly for both left and right but if it's a multilabel classification problem, you can just a

[2019-07-02 16:09] vikua commented on #13038
The only issue I'm getting - in some reasons 1st and 2nd epoch are always getting same batch size.
It is true in my unit tests (same amount of batches for those epochs) and I cat reproduce it with

[code]
Output is always

[code]

[2019-07-02 18:24] Dtreschl-TA commented on #8998
I am trying to do something similar, as in, trying to load a newly-trained VGG16 model to be used for training. I have the .h5 file, which has 3 layers, however, I can't for the life of me figure out how to copy the architecture of the original VGG16 (minus the last 3 layers), and append the new model onto that. Are there any pointers you could give as to how I could do this?

[2019-07-02 18:56] briannemsick commented on #13053
Hi there,

You have a mismatch:

1. Your model has an output activation ``linear`` and loss ``mean_square_error`. It is not constrained to predict between the interval [0, 1].

2. Accuracy as a metric is assuming probabilities.

If you are trying to do classification, change the loss to crossentropy and the output activation to sigmoid/softmax (binary/categorical). If you are trying to do regressi

[2019-07-02 19:14] query90 opened #13054 "Siamese"
I am trying to run the Siamese code on MNIST data.
The link of the code is : https://github.com/keras-team/keras/blob/master/examples/mnist_siamese.py
In the code, I used my own training file and splitting the data into train and test as follows:
x_train, x_test, y_train, y_test = train_test_split(desc1, label1, test_size=0.5, random_state=1)
i.e. 50% into training and testing. When I am increasin

[2019-07-02 19:15] luckmank opened #13055 "NO such file or directory"
I'm getting this error while opening a file in mac using spyder.

OSError: Unable to open file (unable to open file: name = '/Users/mayank/Dekstop/DeepLearningCV/Trained Models/mnist_simple_cnn.h5', errno = 2, error message = 'No such file or directory', flags = 0, o_flags = 0)
![Screenshot 2019-07-03 at 12 44 18 AM](https://user-images.githubusercontent.com/43822374/60540018-c1ace980-9d2b-11e9-97

[2019-07-02 19:44] gitrdonator commented on #13041
Setting it explicitly causes the printout to change. However, how do the `keras` developers determine that the learning phase is being changed? Is printing out as I've done proper? I've heard it said that you would have to make a print from within the graph. How can I do this the way the `keras` developers would do it?

[2019-07-02 20:40] RishikMani commented on #6479
@julka01 I was able to resolve the error. I was importing the class Model from Keras and at the same time had another custom class defined with the name of Model. I renamed my custom class afterward which it worked perfectly well.

[2019-07-02 20:52] dabasajay commented on #13038
@vikua The issue is not just with the first epoch. As the `batch_size` is doubled every time starting with `2` and `number_of_samples = 404`, the sequence should've been `202, 101, 68, 51, 41, 34, 29, 26, 23, 21`. Some of them are missing.

[2019-07-02 21:14] dabasajay commented on #13055
How is this issue related to Keras? I guess if you're trying to load a model `.h5` file, then the file is not present at the provided path. Please make sure the path you entered is correct and the file is indeed present there.

[2019-07-02 21:22] dabasajay commented on #13054
Can you please provide the whole stack traceback along with source code, if possible? It'll be easier to debug.

[2019-07-02 21:35] amjass12 commented on #13021
Hi @dabasajay

Many thanks!!  I will implement this on Thursday when I have time and get back to you to let you know how it has worked!!

Yep this is a multilabel classification so will implement as suggested.

For the duplicating of data, do you mean replicate the data for the data that has the lowest amount of samples and simply duplicate to the X rows of the other branch?

Thanks!!

[2019-07-02 23:46] cabiste007 commented on #13053
Thanks @briannemsick  for your reply to clarify more my problem is a regression one .I'm trying to predict the skinnes rate (between 0-100%) using historical information of this disease . So which activation and loss function should i use for the out put?

[2019-07-02 23:51] briannemsick commented on #13053
In that case ``linear`` and ``mean_square_error`` are both fine, ``accuracy`` is not a valid metric  in this case (not a classification problem). Consider using ``mean_square_error`` (the loss function) or ``mean_absolute_error`` as a metric.

[2019-07-03 00:46] cabiste007 commented on #13053
So if I understood well the accuracy doesn't have any sens for my case.Then based on your experience from which value of mean_absolute_error I can say that I have efficient model with good prediction.

[2019-07-03 01:48] intelsimulations commented on #13050
A quick update that it turns our that if I change the input to the Lambda layer, then there is no more None gradients, i.e. `lambda x: K.gradient(Txy, x)[0]` instead of `lambda F: K.gradient(F, x)[0]`. However, the issue will be that it only considers the second part of graph (after Lambda layer) as variable and does not change the full graph.

The model summary for the case before returns `Traina

[2019-07-03 02:44] mmehedin commented on #2030
Needs to be built like so:

`self.lstm_custom_1 = keras.layers.LSTM(128,batch_input_shape=batch_input_shape, return_sequences=False, stateful=True)
self.lstm_custom_1.build(batch_input_shape)`

[2019-07-03 03:46] nickhuangxinyu commented on #13045
Thanks dabasajay a looooooooooooooot

[2019-07-03 04:36] intelsimulations commented on #13050
It turns out if I add the keyword `unconnected_gradients='zero'` to the `keras.backend.gradient`, everything works fine. But I am not sure if this is a good hack!

Here is the change:

    def gradients(loss, variables):
        """Returns the gradients of `loss` w.r.t. `variables`.

        # Arguments
            loss: Scalar tensor to minimize.
            variables: List of variables.

[2019-07-03 04:36] yungmsh commented on #411
Hi @monod91, would you be able to share some code examples of how you did global pooling after some conv layers? I'm trying to use this method as a workaround for the (nonexistent) Mask->Conv approach for some time series data and would love to see how you implemented your workaround solution.

[2019-07-03 05:16] sirius0503 commented on #2859
@fchollet : Can you explain this better, at the moment, I am getting only the tensor values, not the numpy values and K.eval doesn't work asking me to feed it feed_dict, which would require the images again.

[2019-07-03 05:44] Johnny65456 opened #13056 "training accuracy increase fast validation accuracy not change"
I'm training a model with inception_v3 net in keras to classify the images into 4 categories. However, after many times debugging, my validation accuracy not change and the training accuracy reaches very high about 95% at the first epoch. I got a large dataset including 407 tf-records files. can someone help me?

I'm trying to classify images into 4 categories which are Crystal, Clear, Precipitate

[2019-07-03 06:59] icfly2 commented on #5930
A little less hacky:

[code]

[2019-07-03 08:12] vikua commented on #13038
I think I know what the problem is.
Both `OrderedEnqueuer` and `workers==0` mode use python generators behind the scene.
I'll try to explain in terms of `workers==0` mode.
When generator emits value, it basically stops at `yield` operator.

Generator `iter_sequence_infinite` looks like:

[code]
Initial assumption was that once it emits last value in `seq` it immediately calls `seq.on_poch_end()`.

[2019-07-03 08:14] #13055 closed

[2019-07-03 10:47] dabasajay commented on #13038
I think I found a fix for this. Check out my proposal in keras-user google groups here:
https://docs.google.com/document/d/1G5epNPN17MVuKvlAEM8suZmoXDI8Vv1DTXntlILljac/edit?usp=drive_web

[2019-07-03 10:59] dabasajay commented on #13045
Happy to help! If your issue is resolved, please consider closing the issue.

[2019-07-03 11:05] rohit-gupta opened #13057 "multi_gpu_model not working"
**System information**
- Have I written custom code (as opposed to using example directory):  No/Yes (very slight change to an example)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 16.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.14
- Keras version: Latest master from github
- Python version:  3.7 (through Anaconda)
- CUDA/cuDNN version:  10.0/7.4.2
- GPU

[2019-07-03 11:27] baocareos commented on #8748
the by_name argument of load_weights function is a boolean True or False. Why do you set 'resnet_model' to it ?

[2019-07-03 11:59] kryack opened #13059 "Add unwrap function"
Hello everyone!

I want to calculate fft-transform into graph, and after that use phase of this function. But without unwrap (like numpy.unwrap) i get very noisy phase. How i can use unwrap in Keras or TF?

Thanks!

[2019-07-03 12:28] query90 commented on #13054
'''Trains a Siamese MLP on pairs of digits from the MNIST dataset.
It follows Hadsell-et-al.'06 [1] by computing the Euclidean distance on the
output of the shared network and by optimizing the contrastive loss (see paper
for more details).
# References
- Dimensionality Reduction by Learning an Invariant Mapping
    http://yann.lecun.com/exdb/publis/pdf/hadsell-chopra-lecun-06.pdf
Gets to 97.2% te

[2019-07-03 14:22] saanikagupta opened #13061 "How to checkpoint model and get val_acc and val_loss with train_on_batch() and test_on_batch() functions?"
My dataset has 396 CSV files. I want to train on 297 files and test on the remaining 99 files. Since each CSV file has different number of rows, where each row is one data point and I want my batch-size to be the size of the CSV file. This means my batch-size has to vary with the input, so I used train_on_batch() and test_on_batch(). I am more familiar with fit_generator(), and it used to output a

[2019-07-03 19:46] ayushiee opened #13062 "Keras model.fit InvalidArgumentError"
x.shape() #(189912, 100)
y.shape() # (189912, 99, 1)
model.fit(x, y, batch_size = 128, epochs = 1, shuffle=True)

It is giving the InvalidArgumentError. Please help.
---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
<ipython-input-61-684c0d35ce76> in <module>
----> 1 print(model.fit(x, y, batch_si

[2019-07-03 21:27] ymodak commented on #12525
Closing this issue since the PR has been merged. Thanks!

[2019-07-03 21:27] #12525 closed

[2019-07-03 21:34] ymodak commented on #12456
Defining input shape for the first layer solves this problem. Thanks!
https://keras.io/getting-started/sequential-model-guide/#specifying-the-input-shape

[2019-07-03 21:34] #12456 closed

[2019-07-03 21:34] #12446 closed

[2019-07-03 21:35] ymodak commented on #12445
Closing this issue since the associated PR has been merged. Thanks!

[2019-07-03 21:35] #12445 closed

[2019-07-03 23:22] summerswu commented on #6462
ran into the same problem when trying to deploy a CNN to production as a flask app, to summarize, there seem to be two fixes that worked with me

1. Switch to a Theanos backend
2. Add the line model._make_predict_function() right after you have loaded your model

[2019-07-04 00:37] irwan15 commented on #6462
\\Pada tanggal 4 Jul 2019 07:23, Summers Wu <notifications@github.com> menulis:ran into the same problem when trying to deploy a CNN to production as a flask app, to summarize, there seem to be two fixes that worked with me
Switch to a Theanos backendAdd the line model._make_predict_function() right after you have loaded your model

—You are receiving this because you are subscribed to this thread

[2019-07-04 01:18] QtacierP commented on #13057
The same with you. The codes can run with tf==1.12.0, but cannot run with tf=1.14.0. I don't know the reason. The largest change is that I have transferred CUDA from 9.0 to 10.0, then nothing has been changed.

[2019-07-04 01:28] yihenglu commented on #3524
Hi,Is this problem solved? I got the same problem.

[2019-07-04 05:03] mad-bhu commented on #9057
having a similar problem. Did you get to solve it?
Thanks

[2019-07-04 07:36] rishabhsahrawat commented on #7924
@talhadar @abhijitnathwani @YuriWu Hi all,
I tried all the suggestions described here. My question is how exactly will it work if I make my Dense layer with 3 outputs? Will I still need the training data on which the first model with 2 classes was trained?. If not then, what to give as in terms of data for the other two classes on which the model is already trained, because this new model accepts

[2019-07-04 07:53] YuriWu commented on #7924
Will I still need the training data on which the first model with 2 classes was trained?
...

From my experience, you still need them. If you fine-tune the 3-output model by data with only 3rd class, the final model will perform poor on the first two classes (often called "catastrophic forgetting").

Using the code I've mentioned, I can learn the (n+1)th classes fewer epoches than from scratch, ba

[2019-07-04 08:05] rishabhsahrawat commented on #7924
@YuriWu thank you for the quick reply. I see, but the problem is I have a huge dataset (700,000 classes) for my problem which can not be loaded onto RAM so using the older dataset for retraining is not possible.
I am basically performing text classification. I have a model trained & saved on 24,000 classes but I want to train it on complete dataset using transfer learning so like 24000, then 24000

[2019-07-04 08:15] amjass12 commented on #13021
Hi @dabasajay ,

So i ran the network by duplicating the data from the left to match the sample number on the right: the duplication simply adds another 40 samples plus the same for the one-hot encoded array.

I then did the following:

addition of the one-hot encoded data:

`sum_vector=y_train+y_trainSC
`
However this produces values of 2 where there are overlaps (attached) and i think that as a

[2019-07-04 08:18] YuriWu commented on #7924
@rishabhsahrawat
I don't know how companies do this either. But you can check [my recent paper at ICML'19](http://proceedings.mlr.press/v97/wu19c/wu19c.pdf) and [the code repo](https://github.com/YuriWu/HMR). I tried to solve the partial label space problem locally in multiparty style, and ensemble them together via communications among local models.

Please cite that paper if you find it useful :

[2019-07-04 08:30] rohit-gupta commented on #13057
@QtacierP It works with TF 1.13 and CUDA 10.0 for me, its just TF 1.14 that's a problem

[2019-07-04 09:06] flashcp commented on #11961
Have you solved this problem？I have the same problem, but I don`t know how to solve.

[2019-07-04 10:13] tj45794 commented on #11749
I had a bug for both the sparse categorical loss and accuracy function. My solution is based on the comment made by  @Hvass-Labs in [#17150](https://github.com/tensorflow/tensorflow/issues/17150).
The model is defined as follows
[code]

insuring that  sparse_categorical_accuracy is imported from `tensorflow.python.keras.metrics` as `keras.metrics` does not work for me and defining the loss functio

[2019-07-04 10:13] guoxiaolu commented on #6464
You should know the graph defination of your pb and copy all weights to each keras layer.
`import tensorflow as tf
from tensorflow.python.platform import gfile
from keras.applications.resnet50 import ResNet50
from keras.layers import Dense, GlobalAveragePooling2D, Convolution2D, BatchNormalization
from keras.models import Model
from tensorflow.python.framework import tensor_util

GRAPH_PB_PATH = x

[2019-07-04 15:50] OmidSaj opened #13063 "How to define sample weights for ConvLSTM2D models?"
Hi,
By reviewing the literature and Keras documentation, I have built an architecture using ConvLSTM2D and Conv3D (I was inspired by https://srirangatarun.wordpress.com/2018/07/09/video-frame-prediction-with-keras). The purpose is to feed in a series of frames for each observation and then segment each pixel in each observation. Note that I am planning to use this architecture for an engineering p

[2019-07-04 16:15] swainsubrat commented on #12163
Hi, Can I work on this?
Swain

[2019-07-04 16:22] derekhsu commented on #13057
I have the same problem now. Currently, is downgrade an only way to solve this problem?

[2019-07-04 17:16] rohit-gupta commented on #13057
@derekhsu I can't really speak for Keras maintainers, but I don't know of any other solution. Bugs like this with critical features like Multi-GPU training are a big problem for Keras.

[2019-07-04 21:46] visionscaper commented on #12950
I was wondering if anything is happening in this area?

[2019-07-05 00:21] kiblee commented on #13023
This seems like an issue for Pillow and not Keras. Keras uses Pillow to load images and Pillow currently does not support multi-channel images with more than 8 bits. However, it does support higher bit-depth  single-channel images.

Please see https://github.com/python-pillow/Pillow/issues/1888

[2019-07-05 01:41] omaghsoudi commented on #13023
You are correct about the Pillow issue with multi-channel images in 16 bits. However, this is an issue with Keras too as Keras fails loading images! Keras can provide the ability to load images using OpenCV or Scipy which can resolve this issue. Hopefully either
Keras considers adding the possibility to load images using other packages or Pillow resolve the issue.

[2019-07-05 02:20] KimMeen opened #13064 "layers.Bidirectional doesn't support multi_gpu_model() method"
**System information**
- Have I written custom code (as opposed to using example directory):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 16.04
- TensorFlow backend (yes / no):  Yes
- TensorFlow version:  1.12.0
- Keras version:  Latest
- Python version:  3.6
- CUDA/cuDNN version:  CUDA 9.0 / libcudnn7_7.0.5.15-1+cuda9.0_amd64
- GPU model and memory:  2 * RTX 2070 8G

**

[2019-07-05 04:50] akinpelu746 commented on #12870
i also have the same issue,This is the summary
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_3 (InputLayer)            (None, None, None, 3 0
______________________

[2019-07-05 05:11] akinpelu746 commented on #7339
I  have similar problems, this is my code
my train images dataset images belonging to 10 classes.
my test/validation dataset is 7542 images belonging to 10 classes.

import glob
import matplotlib.pyplot as plt

from keras.applications.inception_v3 import InceptionV3,preprocess_input
from keras.preprocessing.image import ImageDataGenerator
from keras.optimizers import SGD
from keras.models import M

[2019-07-05 05:16] akinpelu746 opened #13065 "ValueError: Error when checking target: expected dense_10 to have shape (10618,) but got array with shape (10,))"
- TensorFlow backend (yes / no):
- TensorFlow version:
- Keras version:
- Python version:

my train images dataset images belonging to 10 classes.
my test/validation dataset is 7542 images belonging to 10 classes.

import glob
import matplotlib.pyplot as plt

from keras.applications.inception_v3 import InceptionV3,preprocess_input
from keras.preprocessing.image import ImageDataGenerator
from keras

[2019-07-05 05:35] vikua commented on #13038
@dabasajay Sorry, didn't notice you reply right away. Yeah, I also was thinking about it.

I found another way to tackle this. I fixed the issue in my PR without changing the code too much. Now it works in every case.

[2019-07-05 06:05] wangyexiang commented on #13047
A similar issue. **Tensorflow 1.4 tf.keras gives different result compared with using keras directly.** See[https://github.com/tensorflow/tensorflow/issues/15026](url). Why???

[2019-07-05 08:20] riyaj8888 opened #13066 "training on two different inputs gives some bad results"
`import numpy as np
import os
import random
import cv2
from keras import backend as K
from keras.layers import Layer ,core
from imutils import paths
from keras.preprocessing.image import ImageDataGenerator
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from keras.preprocessing.image import img_to_array
from keras.utils import to_categorical
from keras import

[2019-07-05 08:23] riyaj8888 commented on #13066
please help why this happened ..is there wrong in model or training

[2019-07-05 10:50] dabasajay commented on #13062
Can you elaborate a little bit on your labels(y) shape? Why is it (189912, 99, 1)? Also, provide the source code of your model definition.

[2019-07-05 11:03] dabasajay commented on #13065
Check your `num_classes` variable. *Maybe* it's not `10` and instead is equal to the number of training images you have i.e. `10618` as you calculate the number of files in line: `num_classes = get_num_subfolders(train_dir)`

[2019-07-05 11:14] dabasajay commented on #13066
One thing I noticed that if you want to concatenate the flattened tensors 1 and 2, don't use `Add()` as it actually performs addition, not concatenation. Use `Concatenate` instead.

[2019-07-05 11:24] riyaj8888 commented on #13066
thanks for replying but i already tried that "concatenation" same results were returned ....
still facing same issue... help will appreciated

thanks

[2019-07-05 11:48] dabasajay commented on #13066
Well here are some things to try:
- Currently, your model is training with batch_size=1. Try a higher batch_size like 32 or 64 inside your data generator.
- Your model is very big in terms of parameters and if the dataset is pretty small, it's overfitting to the dataset. Try a smaller model (Maybe reduce last dense layers and number of units)

[2019-07-05 12:05] dabasajay commented on #13061
Hello! `train_on_batch` function only takes 4 parameters namely `X`,Y`,`sample_weight` and `class_weight`. `fit_generator` internally uses `train_on_batch` function to run a single gradient update on a single batch of data and uses callbacks to do rest of the fancy stuff like a checkpoint, progress bar, etc. So you really can't use `train_on_batch` function to achieve what you want. Since you don'

[2019-07-05 12:43] cmp1 opened #13067 "TypeError: TimeseriesGenerator object is not an iterator in Colab"
**I am trying to fit an LSTM-RNN using a time series generator based on on a pandas dataframe. When I attempt to train the model, I get the following error:**

_"
Epoch 1/20
Exception in thread Thread-12:
Traceback (most recent call last):
  File "<embedded stdlib>/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "<embedded stdlib>/threading.py", line 754, in run
    self.__targ

[2019-07-05 12:48] dabasajay commented on #13054
I meant to ask you to provide the whole stack traceback i.e. the **whole** error message so that I can look into Keras code and find which line is throwing the error. Also, I read your code and if it is working for `test_size>=0.5` and not working for `test_size<0.5` then there's a possibility that during random splitting, only 1 type of class is present in train or test set instead of two. I sugg

[2019-07-05 13:01] RooieRakkert commented on #13053
@cabiste007, I think you should have a look at what `mean_square_error` actual means and/or how it is computed. In its essence, MSE measures the average squared error of our predictions. For every prediction, the square difference between its prediction and its target value is computed. All squared differences are then averaged.

An acceptable MSE value will be different for different datasets. We

[2019-07-05 13:08] dabasajay commented on #13067
Which Keras version are you using? Check using `print(keras.__version__)`

[2019-07-05 13:11] cmp1 commented on #13067
Hi Ajay,

Currently running in 2.2.4

On Fri, Jul 5, 2019 at 2:09 PM Ajay Dabas <notifications@github.com> wrote:

[2019-07-05 13:22] riyaj8888 commented on #13066
i tried by changing batch size and also reducing fc layers units but  still facing same issue . from 1st epoch it shows
134/1000 [===>..........................] - ETA: 4:47 - loss: 0.0180 - acc: 1.0000

[2019-07-05 13:29] dabasajay commented on #13053
Adding to @RooieRakkert 's answer, there are two methods you can use to check how if your model is performing well for regression task:
- If you're using `root_mean_squared` metric, make sure that training, validation, and testing error are low and close to each other in magnitude.
- Use R^2 (coefficient of determination) metric from `sklearn` library. The best possible score is 1.0 and it can be

[2019-07-05 13:53] dabasajay commented on #13064
There's a mistake in the first line:
`model.add(layers.Bidirectional(layers.LSTM(_HIDDEN_SIZE, return_sequences=True, input_shape=(_TIME_STEPS, _FEATURE_DIMENTIONS))))`
Correct:
`model.add(tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(_HIDDEN_SIZE, return_sequences=True),input_shape=(_TIME_STEPS, _FEATURE_DIMENTIONS)))`

[2019-07-05 14:02] dabasajay commented on #13067
Did you import `TimeseriesGenerator` using `from keras.preprocessing.sequence import TimeseriesGenerator` **or** `from keras_preprocessing.sequence import TimeseriesGenerator` ?

[2019-07-05 14:08] cmp1 commented on #13067
imported from 'keras_preprocessing.sequence''

On Fri, Jul 5, 2019 at 3:03 PM Ajay Dabas <notifications@github.com> wrote:

[2019-07-05 14:11] cmp1 commented on #13067
However please note I have imported from both
keras.preprocessing.sequence.TimeseriesGenerator
and keras_preprocessing.sequence

On Fri, Jul 5, 2019 at 3:08 PM Chris Price <cmprice.1@googlemail.com> wrote:

[2019-07-05 14:20] dabasajay commented on #13066
Just noticed that you're probably doing binary classification with labels as either a `dog` or a `cat` right? If yes, do the following changes and let me know how it goes:
- change number of units in the output layer=1 and change activation to `sigmoid`
    - `output = Dense(1, activation = 'sigmoid')(dense3)`
- change loss to `binary_crossentropy`
    - `model.compile(loss='binary_crossentropy',

[2019-07-05 14:29] riyaj8888 commented on #13066
Doesn't make any sense... What do u think what's reason of this behaviour

On Fri 5 Jul, 2019, 7:51 PM Ajay Dabas, <notifications@github.com> wrote:

[2019-07-05 14:34] dabasajay commented on #13067
Well, if you import using `from keras_preprocessing.sequence import TimeseriesGenerator`, then `TimeseriesGenerator` is not an iterator and it'll throw an error however if you import using `keras.preprocessing.sequence import TimeseriesGenerator`, then `TimeseriesGenerator` is an iterator and it should work. Please try this and let me know how it goes.

[2019-07-05 14:40] dabasajay commented on #13066
Well, I've seen someone encountered a problem like this and the changes I suggested in my last comment worked for her so I'm just saying just try and if it works, we'll discuss further otherwise move on to next guess :stuck_out_tongue:

[2019-07-05 14:48] riyaj8888 commented on #13066
Not worked .... same issue

[2019-07-05 14:53] dabasajay commented on #13066
Ok last try, can I see your new code for `generate_generator_multiple` where you used batch_size is >1?

[2019-07-05 15:07] cmp1 commented on #13067
Hi Ajay,

Sadly I am getting the same error with keras.preprocessing.sequence

[image: Screenshot 2019-07-05 at 16.06.55.png]

On Fri, Jul 5, 2019 at 3:36 PM Ajay Dabas <notifications@github.com> wrote:

[2019-07-05 15:13] dabasajay commented on #13047
Hi @wangyexiang
This issue is pretty different from the one you've referenced.
For this issue, `Sequential` API internally uses the functional `Model` API itself so the error must lie in user-specific code and not with Keras. Though results may differ slightly due to random initializations this huge difference doesn't make sense to me.
For the issue you've referenced, the implementations are diffe

[2019-07-05 15:22] riyaj8888 commented on #13066
Will u share ur email id so I can send u my whole code and please if
possible go through it and help if u find anything suspicious

On Fri 5 Jul, 2019, 7:59 PM Riyaj Atar, <riyaj8888@gmail.com> wrote:

[2019-07-05 15:31] dabasajay commented on #13066
Sure, it's se.dabasajay@gmail.com

[2019-07-05 15:40] xizhenke commented on #12738
I solved this issue by simply down-grading Keras to 2.1.6.

Though it is not a perfect solution, at least I won't get stuck resuming training my network. Hope it helps.

[2019-07-05 15:46] dabasajay commented on #13067
I can't find the source code for `data_generator_task()` function in `keras.utils.data_utils.py` file. I suggest you update your Keras version using command:
`pip install git+git://github.com/keras-team/keras.git --upgrade --no-deps`

[2019-07-05 15:55] swierh commented on #11754
When using `predict_generator` with multi-processing on (the default), it _uses a few more batches from the generator than the steps_. So the next time your generator is used, it doesn't start at the first sample, but at a few samples in (n_cores/2 on average).

Two potential fixes for this are calling `generator.reset()` before using it again, or setting `multi_processing=False`, example implemen

[2019-07-05 17:39] ale152 commented on #8668
I have a similar problem to the one discussed in this issue. Training the network increases the memory batch after batch, until the program gets killed because of memory exceeding the limits.

I'm using Keras 2.2.4 and 1.12.0. I currently have 128GB of RAM and my dataset occupies 20 GB (compressed). I load the compressed dataset in RAM and then use a Sequence generator to uncompress batches of dat

[2019-07-05 17:50] ayushiee commented on #13062
y shape, originally
(189812, 199)
[[   1    2    3 ...    4   83   79]
 [   2    3    4 ...   83   79    5]
 [   3    4    4 ...   79    5   84]
 ...
 [   5  264  841 ... 1101    5 1101]
 [ 264  841  245 ...    5 1101    5]
 [ 841  245   40 ... 1101    5 2790]]

x shape
(189812, 200)
[[   0    1    2 ...    4   83   79]
 [   1    2    3 ...   83   79    5]
 [   2    3    4 ...   79    5   84]
 ...

[2019-07-05 18:41] emb9357 opened #13070 "Code works on 1080ti but not 2080ti."
**System information**
- Have I written custom code (as opposed to using example directory): used pre written code from here: https://github.com/MathiasGruber/PConv-Keras
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 19.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version: 1.14.0
- Keras version: 2.2.4
- Python version:  3.6.8
- CUDA/cuDNN version:9 (edit)(thoug

[2019-07-05 18:55] #10573 closed

[2019-07-05 18:57] emb9357 commented on #13065
I think you just don't have a last dense of size 10. Looks like you output a dense of size 10618 rather than 10. Try to change the last dense amount to 10.

[2019-07-05 19:04] emb9357 commented on #13065
**InceptionV3_base_model = InceptionV3(weights='imagenet',include_top = False)**
I think you could change include_top=False to True, then add a **classes=10**.
--https://keras.io/applications/#inceptionv3

although, i would try what @dabasajay mentionned before trying anything else.

[2019-07-05 19:34] TheStoneMX commented on #13057
Same here!!!! very disappointed solutions, please.....

[2019-07-05 20:12] naomifridman commented on #12094
Same problem on Google colaboratory.
I saved weights to Google Drive, I see the file there.
But model.load_weights('full path to the file on the drive')
not working. the model behave as a fresh one.

[2019-07-05 20:39] emb9357 commented on #13070
If anyone finds this post,hello but here is how i fixed it.

I created a brand new env. and installed all my packages as i did **BUT** rather than doing conda install tensorflow, i did conda install tensorflow-gpu which somehow fixed everything. I might of done something different that I did not do before but this is now solved.

[2019-07-05 20:39] #13070 closed

[2019-07-05 21:34] #13039 closed

[2019-07-05 21:39] cabiste007 commented on #13053
@briannemsick , @RooieRakkert and @dabasajay  I'm so grateful thnak to you everything is clear in my mind right now. So I need to change the metrics to  `mean_absolute_error`, `mean_square_error` or ` R^2` and run `fit()` and  wait until my model converge close 0.0.
So now I implemented this architecture now:
`def lstm_model():
 model = Sequential()
 model.add(LSTM(10, input_shape=(1,10), return_s

[2019-07-06 02:21] KimMeen commented on #13064
Thank you! The problem has been solved and I will close this issue.

[2019-07-06 02:21] #13064 closed

[2019-07-06 06:24] riyaj8888 commented on #13066
sent the code please look at it

thanks

[2019-07-06 06:57] dabasajay commented on #13062
Hello @ayushiee
As you said

(189812, 200) is *not* similar to (189812, 199, 1)
To run the model training, you need to have y of shape: (189812, 200, 1)

[2019-07-06 07:58] faruknane opened #13072 ""Using multiply operation before LSTM layer," gives error somehow"
Hi, I want to apply multiply operation between two tensors. However, when I use LSTM after that It gives an error. If I don't use LSTM (RNN), It doesn't give me any error. How can I fix this?

This code gives an error:
[code]

Error:

[code]

This code doesnt give any error:
[code]
Here is model summary:
[code]

I just deleted the second LSTM. I want to use multiply operation to create an input to

[2019-07-06 10:20] Stancoo commented on #5862
by trying gapcv-1.0.0 with python3.6,  it ends up with:

TypeError: __init__() got an unexpected keyword argument 'dataset'

by processing already the first line:
images = Images(dataset=data, labels=labels)

[2019-07-06 12:52] dabasajay commented on #13072
Which Keras and Tensorflow version are you using?
I'm using Keras 2.2.4 and Tensorflow 1.14.0 and able to compile the model
![2](https://user-images.githubusercontent.com/38384266/60756458-fa460f00-a01a-11e9-8ca2-f315e55b3621.png)

[2019-07-06 12:57] faruknane commented on #13072
![image](https://user-images.githubusercontent.com/37745467/60756499-b1845b00-a006-11e9-8b0d-c87cd4feec34.png)

cntk and keras are uptodate. still gives error.

[2019-07-06 12:58] dabasajay commented on #13038
Hey @vikua
So my PR didn't pass the unit tests and when I looked into the tests, I couldn't figure out the cause. You're right and thanks for the information. I closed my PR as this approach is not gonna work and now I'll look into your current PR. I'll let you know if I find something buggy.

[2019-07-06 13:11] dabasajay commented on #13072
Hey! Sorry I assumed that you're using `tensorflow` backend and didn't notice you're using `cntk` backend. But I guess with that mistake, now we know the issue is **maybe** with `cntk` not `keras`.

[2019-07-06 13:15] query90 commented on #13054
Thanks Ajay. The error is resolved. I have increased the data so that it may contain both the sets of classes. By doing this, the problem is solved.

[2019-07-06 13:15] #13054 closed

[2019-07-06 13:30] dabasajay commented on #13041
Hey! I'm not an expert of Keras but I did a little bit of searching in Keras codebase. `learning_phase()` is mainly used for layers that behave differently during training and testing time. A very common example is `Dropout` layer so I looked into its code. Here's what I found:

![3](https://user-images.githubusercontent.com/38384266/60756722-bead4400-a01e-11e9-946c-ae8a655bf090.png)

Notice the h

[2019-07-06 13:37] dabasajay commented on #13021
Hey! I'm sorry I can't help you interpret the results here since I've got a limited domain knowledge in genomic data and about the problem you're trying to solve. My part was only to help you solve the issue with Keras to enable you to define the kind of model you wanted and train that model which I guess I did. I'm sorry you had to write that long post and I couldn't be of any use.

[2019-07-06 13:38] dabasajay commented on #13054
Happy to help!

[2019-07-06 14:59] Genarito opened #13074 "on_epoch_end won't be called on validation_data as Sequence instance"
**System information**
- Have I written custom code: **yes**
- OS Platform and Distribution: **Linux Kubuntu 19.04**
- TensorFlow backend (yes / no): **yes**
- TensorFlow version: **1.13.1**
- Keras version: **2.2.4-tf**
- Python version: **3.7.3**
- CUDA/cuDNN version: **-**
- GPU model and memory:  **-**

**Describe the current behavior**
I've wrote a custom data generator for training and valid

[2019-07-06 15:41] zh794390558 commented on #10170
Also sane for me.

[2019-07-06 15:47] danielcmm commented on #11785
Hi! Any news on this issue? Thanks!

[2019-07-06 16:12] danielcmm commented on #11785
Looks like it works loading the Weights Layer by layer...
From your example @optiluca

[code]

[2019-07-06 18:38] amjass12 commented on #13021
Hi @dabasajay

Thank you so so much! you have been incredibly helpful and got me on the right path to merging the models together! I will continue to dig through the predict function and see how the model is performing!!

Would you be able to comment on if the `sum_vector=y_train+y_trainSC ` is correct for combing both one-hot encoded arrays together?

And finally, can you comment on the order of

[2019-07-06 18:58] dabasajay commented on #13021
Assuming `y_train` and `y_trainSC` are Numpy arrays, do this:
`sum_vector = np.array(y_train.astype(bool) + y_trainSC.astype(bool), dtype=int)`
Reason being, if say p=[0,1,0,1] and q=[0,1,0,1] then p+q=[0,2,0,2] which is not what we want so we'll convert it to boolean logic first since True+True=True, we'll get 1+1=1 instead of 2 and p+q will be [0,1,0,1].
As for ordering, taking a pair (left,righ

[2019-07-06 19:31] zxydi1992 opened #13075 "How to reset the connection of a layer?"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-07-06 19:33] zxydi1992 opened #13076 "Copy a convolution layer (or a padding layers)without connection informations?"
I want to clone a Conv2D layer without makes it has more than one inbounds node for later usage. I am not sure how to make it?

[2019-07-06 20:19] amjass12 commented on #13021
Thank you so much @dabasajay , you have been incredibly helpful... the results are really interesting! attaching a screenshot for your information in case you are interested!! no need to think about the genomic data specifically but notice the actual predictions:

For each row and each sample, you get two predictions per class (as they are different samples in both training sets) (green arrows for

[2019-07-06 20:49] dabasajay commented on #13021
The results you've shown here, are these obtained on the test set/validation set? If not, please do that because the model may be overfitting here.

[2019-07-06 21:01] amjass12 commented on #13021
@dabasajay ha! yes it was! the one-hot encode for two of the classes were all 1's!! so it must have been memorising a common feature in all data for y_trainSC... this has now been fixed so the only class with all 1's is the age. this now performs well and without overfitting (acc~90%) but the trend is still the same!

[2019-07-06 21:13] dunfrey opened #13077 "The last 25% of the test data set is all predicted to be wrong"
I trained a CNN and everything occurs well, except the loss validation of one kind of output (training loss decreases but the validation loss not decrease, is too high and almost constant). I'd tried everything: more dropouts, decrease learning rate, increase and decrease the complexity of the nn, regularizers...

Nothing solves, so I just wait for the end of the training step. On the test, is eve

[2019-07-06 23:19] akinpelu746 commented on #13065
I have checked the num_classes variable and it's 10618

[2019-07-07 02:35] wangyexiang commented on #13047
Thanks. Well, I don't think the error is with the user's code.  As you can see, I set random seed for reproducibility and **same kernel_initializer, bias_initializer**  for both keras and tf.keras(as fchollet suggested). However, I still get big different result. Why??? Where am I wrong? @dabasajay

[2019-07-07 04:56] ZER-0-NE commented on #5712
Did you find anything uselful? @Flock1

[2019-07-07 06:09] dabasajay commented on #13065
@akinpelu746 So you have to change that to `10` because you have `10` classes, not `10618` classes.

[2019-07-07 06:17] dabasajay commented on #13077
If possible, can you provide the source code? Also, did you try to shuffle the dataset?

[2019-07-07 09:11] hyoceansun commented on #4786
@bfelbo I encounter the same issue. Did you find a workaround or we still can't implement two level hierarchical model?

[2019-07-07 14:13] vmirly commented on #6977
I think the issue is not just for Droput and BN. I have an RNN model which also shows the same issue. In this case, the computed loss is really off, since the accuracy is quite good. So, if the accuracy is good, the loss cannot be that high.

here is my model:
[code]

So, I computed the loss by manually iterating over the validation-dataset, and I got 0.11. but when I use mode.evaluate() I get 0.7

[2019-07-07 15:18] kevkid commented on #8942
Even worse is the latest version of the example where `epsilon_std` doesn't exist in the code.

[2019-07-07 15:21] dunfrey commented on #13077
Yes. The network is PoseNet, that is basically a GoogLeNet without the intermediate outputs and with two outputs on the end. The objective is use a image as input and predict the position of the camera (it is the label). Attahed the NN:

[code]
The problem occours with the output **cls_pose_xyz  = Dense(2,name='cls3_fc_pose_xyz')(cls_pose)**
This values espected have the range of:
[[ -4.2646044166

[2019-07-07 18:01] cmp1 commented on #13067
Hi Ajay does this mean this is a bug? sadly I am importing this from a
company library so unable to update>

On Fri, Jul 5, 2019 at 4:48 PM Ajay Dabas <notifications@github.com> wrote:

[2019-07-07 19:03] virtualdvid commented on #5862
@Stancoo Hi, Thank you for trying Gapcv. Please try:

`images = Images(images=data, labels=labels)`

I'll update the readme file, since we change `data_set` to `images` instead.

Let me know if this works for you and if you have more questions. I'll be happy to help.

[2019-07-07 20:12] rvallari1 opened #13079 "Validation_generator not validating all samples inside its validation list"
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution:  Linux Ubuntu
- TensorFlow backend (yes / no):  yep
- TensorFlow version:  1.13.1
- Keras version:  2.2.4
- Python version:
- CUDA/cuDNN version:  no
- GPU model and memory:

**Describe the current behavior**
If we run model.fit_generator, evaluate_generator is called after

[2019-07-08 02:42] patrickvonplaten commented on #12442
Same issue with Keras 2.2.4-tf (using tensorflow.python.keras)

[2019-07-08 03:15] akinpelu746 commented on #13065
@dabasajay How do i change it to 10?

[2019-07-08 03:44] JaeDukSeo commented on #10648
This worked like magic LOOL hope this gets fixed

[2019-07-08 04:10] AyaLahlou opened #13080 "ValueError: Error when checking input: expected lstm_1_input to have 3 dimensions, but got array with shape (321, 1)"
I'm working with a dataset of different array shapes (e.i 499902x16, 328942x16, 289301x16)
I'm training it on the following model :
`
        model.add(LSTM((64),input_shape=(None,16),return_sequences=True))
        model.add(LSTM((64),return_sequences=False))

        model.add(Dense(64))
        model.add(Activation('relu'))
        model.add(Dropout(0.5))
        model.add(Dense(1))
        mod

[2019-07-08 07:48] ghost opened #13081 "Extension tf.keras.utils.to_categorical for non integer inputs"
**Feature Request**
Goal is to extend tf.keras.utils.to_categorical function for non integer class inputs

**System information**
- OS Platform and Distribution:  Microsoft Windows 10 Enterprise 10.0.17134
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.13.1
- Keras version:  2.2.4
- Python version:  3.7

**Describe the current behavior**
For now, if one wants to convert 1D classifi

[2019-07-08 07:59] bojone commented on #3556
My implementation with rewriting optimizer:

https://github.com/bojone/accum_optimizer_for_keras

[2019-07-08 09:19] JagnDC commented on #6583
Hello, I'm implementing the Superpixel pooling layer follow your github code,but it does not ready to use.
So I want to know have you finished it? If you completed it please tell how to do it,thank you!

[2019-07-08 10:06] prinsherbert commented on #11434
I did not debug too much, but I got this error when my input-images had too little resolution (in particular 41 x 41 pixels). I would guess all the down-pooling leads to a 0x0 dimension, which crashes python. An error would be nicer though.

Minimal failing colab: https://colab.research.google.com/drive/11wClV9iD1IVcu09zCn6jA-d1_FhsVvtl

    from keras.applications.inception_v3 import InceptionV3

[2019-07-08 10:08] abdellah96 commented on #8736
@ZedYeung. I'm encountering  the same problem as yours. Have you managed to resolve it ? If so, can you tell me how to bypass this problem. Thank you in advance.

[2019-07-08 10:17] qianlongzju commented on #4531
I have the same problem, but “SGD" does not work either.

[2019-07-08 13:23] akinpelu746 commented on #13065
Thanks @dabasajay.The error has beern rectified.

[2019-07-08 14:03] akinpelu746 commented on #13065
@dabasajay Thanks so much.
I changed it to 10 and it worked perfectly.

[2019-07-08 14:35] gustavz commented on #6063
How would you train the model on variable input length?

[2019-07-08 15:08] dabasajay commented on #13065
Happy to help!

[2019-07-08 15:44] shahriar49 commented on #3653
I followed this guideline to work on my problem: a Landsat time-series image classification using LSTMConv2D module in Keras. So I have a series of 6-band image patches (say of size 30x30 pixels), each for a different observation time. I want to use all spatial and temporal data, so I am thinking to use LSTMConv2D and feed it with series of images. The ground truth will be another map of size 30x3

[2019-07-08 15:44] dabasajay commented on #13067
Well, I reproduced the error with this:
![1](https://user-images.githubusercontent.com/38384266/60823380-08379380-a1c5-11e9-84f9-78dc804446d0.png)

Now, if I remove(comment) the line `from keras_preprocessing.sequence import TimeseriesGenerator` and use `from keras.preprocessing.sequence import TimeseriesGenerator` instead then I am able to train the model.
![2](https://user-images.githubuserconte

[2019-07-08 16:01] dabasajay commented on #12442
You can either wait for next version of Keras or if you need a quick fix, just update Keras with master branch using:
`pip install git+git://github.com/keras-team/keras.git --upgrade --no-deps`

[2019-07-08 16:14] pusj commented on #6063
Hi @gustavz

Two options/suggestions:

1. Padding https://machinelearningmastery.com/data-preparation-variable-length-input-sequences-sequence-prediction/
2. Sequence bucketing https://arxiv.org/ftp/arxiv/papers/1708/1708.05604.pdf

Padding looks easier but I would guess that this method also decreases the usefulness of the model.

If you (or anybode else) could help me with a good explanation of

[2019-07-08 16:52] jvishnuvardhan commented on #12094
@naomifridman Can you post a standalone code here and also post issue in colab repo [here](https://github.com/googlecolab/colabtools/issues). Thanks!

[2019-07-08 17:21] jvishnuvardhan commented on #12962
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-07-08 17:47] jvishnuvardhan commented on #12724
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-08 17:47] #12724 closed

[2019-07-08 17:54] jvishnuvardhan commented on #12815
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-08 17:54] #12815 closed

[2019-07-08 18:28] ericjiang18 opened #13082 "ImageDataGenerator class"
Referring to the ImageDataGenerator class:
[https://blog.keras.io/building-powerful-image-classification-models-using-very-little-data.html](url)
[code]
Is it possible to get the internal data such as the exact rotation value, the exact width shift, the exact height shift, and the exact rescale, and etc? and how using python?

Thank you for your time!

[2019-07-08 19:37] WinterErnesto opened #13083 "Subsampling: Keras 1: What is the subsampling in the Convolution2D doing? Is it a "Stride" so the kernel is filtering only every 2nd pixel or so? Or is it a form of pooling? If so: What kind of pooling is it? MaxPooling? AveragePooling? Or does this subsampling, downsample the feature map created by the convolution?"
Subsampling: Keras 1: What is the subsampling in the Convolution2D doing?
One of the Arguments of Convolution2D-layer:
"subsample: tuple of length 2. Factor by which to subsample output. Also called strides elsewhere."

Is it a "Stride" so the convolutional-kernel is filters only every 2nd pixel or so?

Or is it a form of pooling? If so: What kind of pooling is it exactly?
MaxPooling?
AveragePooli

[2019-07-08 20:39] rvallari1 commented on #13074
What error the code throws? Can you share.

[2019-07-08 21:45] jvishnuvardhan commented on #12877
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-08 21:45] #12877 closed

[2019-07-08 21:59] jvishnuvardhan commented on #12961
@saintthor Can you share the colab gist. Thanks!

[2019-07-08 22:00] Genarito commented on #13074
The error is not because of Keras, but my custom code. It happens beause I guess the method was executed. My code doesn't contribute to the clarification of this problem, sorry. [Here It is](https://colab.research.google.com/drive/144XX22706oKYvfO5FZBij5GBux4eNwBy) a little example in Colab showing the problem, observe that the printing neve ocurred on validation.

Hope It's clear now :)

[2019-07-08 22:02] jvishnuvardhan commented on #12929
@YKritet Can you create a colab gist. Current code has some typos resulting some other errors. Thanks!

[2019-07-08 22:11] jvishnuvardhan commented on #12895
I could reproduce the issue. thanks!

[2019-07-08 22:21] jvishnuvardhan commented on #13004
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-08 22:21] #13004 closed

[2019-07-08 22:25] jvishnuvardhan commented on #13006
Closing this issue. Please open a new issue with a standalone code to reproduce the issue. Resolution will be faster with a standalone code. Another comment is, it looks more like a support issue. If you strongly thinks this is a bug, then post here. Otherwise, post it in stackoverflow. thanks!

[2019-07-08 22:25] #13006 closed

[2019-07-08 23:00] jvishnuvardhan commented on #13079
@rvallari1 Can you provide a standalone code to reproduce the issue. Thanks!

[2019-07-08 23:04] jvishnuvardhan commented on #13075
Hi!
This issue isn't related to a bug/enhancement/feature request or other accepted types of issue.
To ask questions, please see the following resources :
[StackOverflow](http://stackoverflow.com/questions/tagged/keras)
[Keras Slack channel](https://keras-slack-autojoin.herokuapp.com)
[Keras.io support](https://keras.io/#support)
[Gitter](https://gitter.im/Keras-io/Lobby)
Thanks!
If you think we m

[2019-07-08 23:04] #13075 closed

[2019-07-08 23:21] jvishnuvardhan commented on #12986
@kaushik88 Please check a [resource](https://datascience.stackexchange.com/questions/19362/how-to-obtain-output-of-intermediate-model-in-keras) that provide info of output layer. Thanks!

[2019-07-08 23:21] jvishnuvardhan commented on #12986
Hi!
This issue isn't related to a bug/enhancement/feature request or other accepted types of issue.
To ask questions, please see the following resources :
[StackOverflow](http://stackoverflow.com/questions/tagged/keras)
[Keras Slack channel](https://keras-slack-autojoin.herokuapp.com)
[Keras.io support](https://keras.io/#support)
[Gitter](https://gitter.im/Keras-io/Lobby)
Thanks!
If you think we m

[2019-07-09 00:01] jvishnuvardhan commented on #13024
@MuruganR96 Adding on top of @dabasajay , if the original model was trained for classifying 10 different classes of images of dog breeds, you can add one more class in the end (11 breeds instead of 10) and train with your data to update weights for the last layer. But, if you want to use the original model  (classifying 10 dog breeds) for classifying X-ray images (entirely different from the actua

[2019-07-09 00:24] jvishnuvardhan commented on #13047
@wangyexiang Can you provide a standalone code to reproduce the issue? Also, fill the [template](https://github.com/keras-team/keras/issues/new/choose). Thanks!

[2019-07-09 02:17] LanceNorskog commented on #4875
@ Somabhadra  That is it for me. Thanks!

I notice they are adding the tokenizer text layers, those would solve this problem cleanly.

[2019-07-09 02:36] agilebean commented on #12588
@JanderHungrige thanks so much for your hint which made me realize this error is caused by the mobilenet models.
I tested and can confirm this error is not thrown by the following models:
    'VGG16',
    'VGG19',
    'InceptionV3',
    'Xception',
    'ResNet50',
    'DenseNet201',
    'InceptionResNetV2’

[2019-07-09 02:46] wangyexiang commented on #13047
Well. Here is my code.

**Source code(pure keras import)：**
[code]
**Source code(tf.keras import):**
[code]
**commom parts:**
[code]
**Result(pure keras)：**
[code]
**Result(tf.keras):**
[code]
As you can see, It has a big different result. The code is mainly came from [https://github.com/keras-team/keras/blob/master/examples/mnist_cnn.py](url). I just set random seed for reproducibility and same k

[2019-07-09 04:48] faizaan22 commented on #11617
You can do this -
If your custom layer's name is XYZ and I assume you have imported this XYZ layer in your project

import XYZ
# your whole code
model = load_model('model.h5', custom_objects={'XYZ' : XYZ})

[2019-07-09 04:52] faizaan22 commented on #11617
You can do this -
If your custom layer's name is XYZ and I assume you have imported this XYZ layer in your project

import XYZ
///your whole code///
model = load_model('model.h5', custom_objects={'XYZ' : XYZ})

[2019-07-09 05:15] JaeDukSeo commented on #12511
hope this can be resolved

[2019-07-09 05:35] saintthor commented on #12961
sorry. I have alterd the model and deleted the no-used input layers.

[2019-07-09 05:51] leoliner commented on #10472
hey~ thanku for your method.
I want to get these val_f1s = [] val_recalls = [] val_precisions = [] result after training，
and I find a ModelCheckpoint() method to help me automatically save best weight by monitor the val_f1
but it return some Issue with Callbacks logs & ModelCheckpoint because there is no val_f1 in logs{}
finally, I set logs['f1']=_val_f1 , and it works.

but why you set these  va

[2019-07-09 06:33] UpCoder commented on #11408
In TF 1.13.1 same errors.

[2019-07-09 06:49] mauriciolp commented on #11101
I am also facing the same issue.

Versions details:
OS: Ubuntu 16.04
Python: 3.6.8
Keras: 2.2.4
Tensorflow: 1.12.0
h5py: 2.9.0

Setting `use_multiprocessing=False` for me was not an option because it made training unfeasible in terms of time.
Using EarlyStopping with `restore_best_weights=True` then saving was also not ideal in my case since I am checkpointing two models, one for 'val_loss' and on

[2019-07-09 07:26] qiwihui commented on #10472
@hadim I think the line `cbk.validation_data = val_data` will work when `validation_data` is not a generator.

https://github.com/keras-team/keras/blob/5fcd832b5c5025b164c99f0bd46cb94d707b93d3/keras/engine/training_generator.py#L60-L62

https://github.com/keras-team/keras/blob/5fcd832b5c5025b164c99f0bd46cb94d707b93d3/keras/engine/training_generator.py#L105

[2019-07-09 07:35] gustavz commented on #6063
what is the difference between:

[code]

and

[code]

maybe best explained with this image

<img src="https://i.stack.imgur.com/b4sus.jpg" width="100.0%">

[2019-07-09 07:43] leoliner commented on #10472
it works when validation_data is a generator and I can use it by :
`        for batch in range(batches):
            xVal, yVal = self.validation_data.__getitem__(batch)`
the method __getitem__() was defined in my dataGenerator() which extend from keras.utils.Sequence

[2019-07-09 08:55] ttfjya commented on #10074
I have the same issue. Below is my solution.
Why do we get this error when there are submodel in  our model?
for exmaple, below is a model which has a submodel.
[code]
When training the model with the above code, get error:
    'You must feed a value for placeholder tensor  shared_input'.
why shared_input ? Let's keras.callbacks.TensorBoard source code:
[code]
when histogram_freq=1,   layer 'out_m

[2019-07-09 09:04] pusj commented on #6063
Thanks for this; which is which? I've added some numbers to your image to better reference the variants. I assume that the code that contains `RepeatVector()` is represented by variant 4 and that the code that does not contains `RepeatVector()` is represented by variant 5. Is this correct?

![image](https://user-images.githubusercontent.com/26404839/60869913-21295e80-a230-11e9-844e-d5acabaf134e.pn

[2019-07-09 09:37] gustavz commented on #6063
This is also what I am wondering about. I am not sure what difference actually is.
And if you are right, whats the use of repeating the lstm blocks?

Coming back to the variable input length question. Padding the input is trivial, but i am not sure if this really a go-for method, as you mess a lot with the data.

How are variable input lengths dealt with in NLP tasks where sentences nearly always

[2019-07-09 10:17] Arian96669 commented on #5906
Thank you ibutenko, your solution fixed it for me as well!

I've gone so far as to uninstall my Anaconda and reinstalling it, and recreating my environments, and nothing fixed it for me.  I previously used tqdm notebook in the file, but even though I've commented it out an no longer used it anywhere in the notebook, I still had the problem.  I didn't even reinstall tqdm in the environment when I r

[2019-07-09 12:06] MBoemo commented on #12895
Glad to hear it wasn't just me!  Thanks very much for looking into it.  Just give a shout if this is fixed in a future commit.

[2019-07-09 12:12] ayushiee commented on #13062
Okay, thanks.

[2019-07-09 12:50] veqtor commented on #3696
This i think is almost required for a lot of GAN architectures like biggan and stylegan so would be almost a requirement for Tf.keras for GAN research

[2019-07-09 13:29] barisumog opened #13084 "Concatenating tensors in network architecture causes slow down in training speed"
I understand there'll be some overhead when concatenating, but I think the current slow down is beyond what should be expected.

I've been experiencing this with various network setups, both on my own machine and on google compute servers.

Below is a small script to display the difference in training time. Both networks are essentially the same, with same number of parameters. But using concatena

[2019-07-09 13:43] cmp1 commented on #13067
Good point - I will see what can be done internally! Very much appreciate
your help Ajay. Thank you!

On Monday, 8 July 2019, Ajay Dabas <notifications@github.com> wrote:

[2019-07-09 16:19] jvishnuvardhan commented on #12961
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-09 16:19] #12961 closed

[2019-07-09 16:30] akshay-kap commented on #9162
Hi, I am facing the same issue, it would be of great help if someone can explain it clearly

[2019-07-09 17:03] jvishnuvardhan commented on #13084
@barisumog I think the reason behind higher computation time (even-though the number of trainable params are same) is higher number of layers which takes more time for backprop algorithm (several gradient estimations, etc). I reduced the number of concatenated layers by half and increase number of params by two so that the trainable params are same, then the computational time is comparable to non

[2019-07-09 17:06] jvishnuvardhan commented on #13067
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-09 17:06] #13067 closed

[2019-07-09 17:52] pavithrasv commented on #12980
@hemantranvir do you want to contribute to the docs? Please feel free to send a PR.

[2019-07-09 18:14] ms8909 commented on #10215
Anyone got this to work?

[2019-07-09 18:23] barisumog commented on #13084
@jvishnuvardhan Thanks for the info. How about a setup like this?

[code]

This has 8 separate conv layers, same as in your gist, but with more concatenations. Same # of params as before. An epoch takes around 28 secs on my computer, again 50% slower compared to original one. So it seems to me, with same number of conv layers, more concats mean significantly more slow down.

Shouldn't # of backpro

[2019-07-09 19:14] Astromsoc commented on #6447
Hi, I'm sorry to bring this problem up again but my attempts of all solutions above do not meet ideal effects in the end.

I'm currently coping with audio inputs and planning to output one single figure with my regression network. However, after scaling the inputs, reducing the batch size(even to 1), augmenting the data, re-sampling the data to be more evenly distributed, and even reducing the mod

[2019-07-09 19:48] TAUFEEQ1 commented on #6447
Just suggesting a couple of pointers.
1. Try to make sure the data is balanced, by that I mean, make sure all
classes are well represented.
2. Consider using RNNs if you aren't, choose or use models with LSTMs.
3.Use a shallower network first and use the deeper ones later.
4.Perhaps more importantly, make sure you are using the right activation
functions.

On Tue, 9 Jul 2019, 22:16 xxx041, <notifi

[2019-07-09 20:13] Astromsoc commented on #6447
Thank you so much for your super timely and effective answer!

I'm not quite sure if I understand your points right, but I actually tried some variants of them before, and here are a few responses to your kind suggestions:

1. Since the data I have at hand are for regression models as well, they do not fall under specific classes but only have different values. And as you said correctly, they are

[2019-07-09 21:17] krw0320 commented on #12622
Having the same issue

[2019-07-10 01:21] jim-meyer commented on #10366
I just ran across this thread after wondering why my model training went horribly badly after adding image augmentation.  Based on the little documentation in TF 2.0.0b0, "Range for picking a brightness shift value from" I naiively used [-0.2, 0.2]. So yeah, I +1 any of the above documentation improvements that state the ranges allowed.
I also wonder why I didn't get an exception or assertion for

[2019-07-10 03:08] panxiaobai opened #13085 "dice coef in keras"
I want to implement 3D U-net in keras for medical image segmention.My data(LiTS Dataset,3 classes,background\liver\tumor) ara very imbalance,so crossentropy loss will only predict background.So I try the dice loss for it.I had tried many implement of dice loss,it always got high dice coef,but only predict background either.Here are my implement,shape of tensor is (batch,width,height,depth,num of c

[2019-07-10 06:21] mai-lg commented on #11531
You might be importing the wrong class.
The solution, use:
from **keras.preprocessing.sequence** import TimeseriesGenerator

instead of:
from **keras_preprocessing.sequence** import TimeseriesGenerator

[2019-07-10 06:42] ai559031 opened #13086 "LSTM multiple inputs and one input"
Hi, I am trying to build a multiple inputs LSTM model, I expect to use price and sentiment to predict the future price, and since I assume the price for time t will be affected by previous 51 hours' price, I have one def function to help me look back 51 hours:

[code]

And here is my model:
[code]
My size of the train and test data shape:
trainX.shape = (22234, 51, 1)
testX.shape =(9500, 51, 1)

t

[2019-07-10 06:52] khushal1996 commented on #4875
The following code worked for me --

generator.compile(loss='mse', optimizer=opt, metrics=[perceptual_distance])
model = load_model("../input/srresnet-epoch-120/pretrain/model00000120.h5", custom_objects={'perceptual_distance': perceptual_distance})
weights = model.get_weights()
generator.set_weights(weights)

[2019-07-10 06:53] khushal1996 commented on #5916
-------------------------------------------------------------------------------------------------------------------
The following code worked for me --

generator.compile(loss='mse', optimizer=opt, metrics=[perceptual_distance])
model = load_model("../input/srresnet-epoch-120/pretrain/model00000120.h5", custom_objects={'perceptual_distance': perceptual_distance})
weights = model.get_weights()
gene

[2019-07-10 07:34] jecaJeca opened #13087 "Gradients of a layer output w.r.t. input as input to new model"
I am doing research and for an experiment I want to use gradients of a specific layer in the network with respect to the network's input (similar as guided backprop) as input to another network (classifier). The goal is to 'force' network to change 'attention' according to classifier, so those two networks should be trained simultaneously.

Is something like this possible to do in Keras? I was sug

[2019-07-10 09:14] kushalj001 opened #13088 "Initialize LSTM initial state manually"
I want to initialize the initial state of an LSTM layer with the final hidden state of another LSTM layer. Basically, I want to implement the _conditional encoding_ as explained in this paper https://www.aclweb.org/anthology/D16-1084

![image](https://user-images.githubusercontent.com/32245327/60956724-fec33e00-a320-11e9-8ccd-6c8564c626ac.png)

How do I access the final hidden state of one LSTM la

[2019-07-10 09:34] hemantranvir commented on #12980
@pavithrasv I just submitted a PR #13089 covering the issue above.

[2019-07-10 11:16] aezco commented on #13045
Would you like explain this code, what are you doing? I would like to apply soft attention for a pretrained resnet.  Although, I struggle with implementation, dont know where to start. I would like to do soft attention after the FC layer for each feature map of single image.

[2019-07-10 11:58] btekgit opened #13090 "Error: An operation has `None` for gradient when Tensorboard callback"
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow backend: yes
- TensorFlow version:  v1.14.0-rc1-22-gaf24dc9 1.14.0
- Keras version:  2.2.4
- Python version:  3.7.3
- CUDA/cuDNN version:  10.0
- GPU model and memory:  GTX 1070

[2019-07-10 11:59] #13090 closed

[2019-07-10 12:02] fccoelho commented on #9412
Great thread, but how can I use `training=true` in the Sequential API? for example

[code]
is this documented anywhere?

[2019-07-10 12:10] fccoelho commented on #5357
Not sure if that works for models using `Sequential()` it is documented for the functional API only.

[2019-07-10 14:04] btekgit opened #13091 "None gradient when using tensorboard callback on keras 2.2.4 and tf 1.14. Bug??"
I believe this may be a bug in the code.
When I add tensorboard callback to a simple sequential model (with Batch Normalization layer) with write_grad=True

it gives this error:
`ValueError: An operation has `None` for gradient. Please make sure that all of your ops have a gradient defined (i.e. are differentiable). Common ops without gradient: K.argmax, K.round, K.eval.
`
Error traces back to Opt

[2019-07-10 14:08] spedygiorgio commented on #4288
It would be nice to add this method to the Model class, in order to give the same funtionalities of the Sequential api

[2019-07-10 18:32] pavithrasv commented on #12980
Thank you for the PR!

[2019-07-10 18:32] pavithrasv commented on #12980
Thank you for the PR!

[2019-07-10 20:09] ariannacvf commented on #12450
Hi, can you upload your code again please?

[2019-07-10 20:22] GuanxiongLiu opened #13092 "SimpleRNN layer output a wrong shape tensor"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-07-10 20:22] mungsoo commented on #5203
https://github.com/keras-team/keras/blob/master/examples/lstm_seq2seq.py Check this link given by Junting

[2019-07-10 20:46] ingo-m commented on #5714
@VertexC as far as I understand this you can use a stateless model for training (`training_model`) and a separate model for prediction (`prediction_model`). After training is done, just copy over the weights: `prediction_model.set_weights(training_model.get_weights())`. According to @victorhcm's summary this should be ok.

I observed that a *stateful* training LSTM model could learn a sequence (na

[2019-07-10 20:53] #13092 closed

[2019-07-10 20:54] GuanxiongLiu commented on #13092
The issue is that the input shape to the initial state should be (10,) instead of (1,10,).

[2019-07-10 21:05] thecosta commented on #1956
Any update on this would request would be much appreciated!

[2019-07-11 01:35] AyaLahlou commented on #13080
EDIT :

I think I solved my problem by using `model.fit_generator` instead of `model.fit` and writing two generator functions that would yield the training data and validation data one at a time.
However, the training is too slow now. Any ideas on how I could solve that? Thank you

[2019-07-11 05:42] xinsu626 opened #13093 "Non-OK-status: Internal: invalid configuration argument Aborted (core dumped)"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-07-11 06:02] krisives commented on #10735
@GarciaDelMolino Do you have any new information regarding this?

[2019-07-11 07:40] joelthchao commented on #10735
Look into definition of LocallyConnected layer and you will find that it's very easy to have huge number of parameters. Try to increase your stride or reduce input dimension.

[2019-07-11 07:52] goodjian7 opened #13094 "keras.backend.function with cntk backend returns different value from tensorflow backend."
Please make sure that the boxes below are checked before you submit your issue.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.

Thank you!

- [x] Check that you are up-to-date with the master b

[2019-07-11 08:19] GarciaDelMolino commented on #10735
@krisives I gave up, moved on to other approaches :(

@joelthchao if there are only 30k trainable parameters, there should be an efficient way to get the activations and gradients from such a layer that didn't use more memory than a 100M parameters fully-connected layer...

[2019-07-11 08:27] kushalj001 commented on #13086
@ai559031 you are passing dataLength as 22234 which, if I am right, is the number of training examples in your dataset. This results in shape in the Input layer to be (22234,51) which is not correct. The input_shape should reflect the size of a single vector in your training set and not the batch size.
Try passing shape as (51,1) only.
From the docs:

![image](https://user-images.githubusercontent

[2019-07-11 09:07] Anjali0208 commented on #6545
i have keras version== 2.2.4 , tensorflow version == 2.0.0b1, numpy version version == 1.16.1 and i m still getting error

[2019-07-11 09:16] Anjali0208 commented on #6545
**MY CODE**

from imageai.Detection import ObjectDetection
import os

execution_path = os.getcwd()

detector = ObjectDetection()
detector.setModelTypeAsRetinaNet()
detector.setModelPath( os.path.join(execution_path , "resnet50_coco_best_v2.0.1.h5"))
detector.loadModel()
detections = detector.detectObjectsFromImage(input_image=os.path.join(execution_path , "traffic.jpeg"), output_image_path=os.path

[2019-07-11 10:35] joelthchao commented on #10735
@GarciaDelMolino
1. Its implementation is to parallelize all computations, therefore it will produce huge memory usage. Kind of time & memory tradeoff.
2. I think this layer is better used to replace dense layer rather than conv layer.

[2019-07-11 14:42] daiweiworking opened #13095 "VGG19"

[2019-07-11 14:58] jmj23 commented on #13028
I am getting exactly the same error

[2019-07-11 15:36] LiframCastle opened #13096 "Concatenate error when trying to train a two input one output network"
Hi,
I'm trying to train a 2 input one output model using the Keras API. The model seems to be right and all but at the end when I try to train it shows an error when it tries to concatenate the two outputs of the branches. It says that a two-dimensional array is expected and it gets a (x,y,z) input.
Being 'x' my batch size and 'y' and 'z' the size of the image. I have already tried using a batch s

[2019-07-11 15:49] Sajeevan96 commented on #12785
Maybe using the parameter stateful=True can solve the issue.

[2019-07-11 18:50] alxhrzg commented on #9412
I've just stumbled accross the same problem. The general question is how to override keras call-methods to toggle between call-methodology and the classical Sequential-API.
My hacky quickfix was to inherit from the keras.layers.Dropout class and overwrite its call-method. In additon I added the kwarg *training=True* to the *\_\_init\_\_*-method before calling super with the arguments expected by t

[2019-07-11 20:00] 528441658 opened #13097 "InvalidArgumentError: indices[1038,1] = 509 is not in [0, 500) [[{{node loss_6/dense_14_loss/embedding_lookup}}]]"
(The title of this issue should’ve been: InvalidArgumentError: indices[1207,1] = 128 is not in [0, 128)
[[{{node loss_7/dense_16_loss/embedding_lookup}}]]. I made a silly mistake there.)

**System information**
- Have I written custom code (as opposed to using example directory):  Y
- TensorFlow backend (yes / no):  Y
- TensorFlow version:  1.15.0-dev20190711
- Keras version:  2.2.4

I was trainin

[2019-07-11 20:45] jvishnuvardhan commented on #13095
Please fill the issue template [here](https://github.com/keras-team/keras/issues/new/choose). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-07-11 21:08] jvishnuvardhan commented on #13094
@goodjian7 result from Tensorflow backend is correct. Thanks!

[2019-07-11 21:31] jvishnuvardhan commented on #13093
@xinsu626 I don't have multi-gpus. So I ran the your code ([check gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/807521e0eb248d116c33b04cbb871238/keras_lstm_13093.ipynb)) without any errors. Can you try running the gist locally without `multi_gpu_model`? Thanks!

[2019-07-11 22:58] swghosh commented on #10279
I had the same question. Thanks, @ialhasim @fchouteau for the clarification.

Does that mean the recommended way of using preprocessing_input from models like vgg16 and resnet50 be mode='caffe' (the default one) itself for getting correct predictions on a Tensorflow backend too?

[2019-07-12 01:13] inutard commented on #9298
I am also having either the same or a related problem.

I have a network with hundreds of small layers (total trainable parameters less than 400k), with many layers concatenated at the end (similar to other people in the thread). For me, even generating the Model object with keras takes well over an hour. Most of the time is spent in `_pywrap_tensorflow_internal.TF_SessionRun_wrapper` as in the pr

[2019-07-12 03:38] tonandr opened #13098 "About the reloading problem of input layers assigned by tensor"
1. Problem description

When I design input layers via assigning tensors including constants, variables and etc. to avoid direct input, in not reloading the model, training and predicting are valid. However, after saving the model and reloading it, input layers via assigning tensors are loaded as direct input layers without constant and variable tensors. I want to load an originally designed model

[2019-07-12 06:56] Seanspt commented on #9298
Using [mask rcnn](https://github.com/matterport/Mask_RCNN), saving the first checkpoint is very slow, no problem with the laters.

[2019-07-12 08:57] AlexandreRozier commented on #5223
Hi! I tried training several models in parallel thanks to [joblib](https://joblib.readthedocs.io/en/latest/parallel.html), and indeed adding a time.sleep(0.1) worked! What kind of black magic is that ?

Here's the code in case anyone has the same issue:

[code]

[2019-07-12 09:41] prakharg24 opened #13100 "How to add Constraints to the layer after the model is initialized?"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-07-12 10:56] adr-arroyo commented on #5223
Hello @AlexandreRozier ,

(I think your code is not properly formatted).

You are able to train different models at the same time just by adding the time.sleep(0.1)?? I am quite impressed. Have you had any closed_session errors or any tensorflow errors when parallel training?

Which version of tensorflow are you using (1.14 or 2.0 which is in beta)??

Thanks!

[2019-07-12 12:27] sandeepnmenon commented on #5474
@bairavi26  Please see the code below

[code]
where gatePercentage is the split factor (ex. 0.7) and inputLayer is the layer whose output who you want to split.

Usage
[code]

Hope it helps

[2019-07-12 12:44] CreeperLava opened #13101 "model.fit : AttributeError: 'Model' object has no attribute '_compile_metrics'"
**System information**
- Have I written custom code (as opposed to using example directory): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19.3
- TensorFlow backend (yes / no): yes
- TensorFlow version: 2.0.0b1
- Keras version: 2.2.4-tf
- Python version: 3.6
- CUDA/cuDNN version: /
- GPU model and memory: GTX 940MX, 430.26

**Describe the current behavior**
The model.fi

[2019-07-12 13:10] benoitkoenig commented on #5223
Hi!
I think the reson time.sleep worked for me is because I called the function twice simultaneously. Please make sure this does not happen or use use_locking=True in your Optimizer. Also, I think you should not have this error if you are using eager execution

[2019-07-12 13:52] shasut opened #13102 "Keras incompatible shapes issue when the shape of target data and model output layers are different"
Hello,

I posted this problem in [Stackoverflow](https://stackoverflow.com/questions/56994930/keras-incompatible-shapes-issue-when-the-shape-of-target-data-and-model-output-l) but no response, so, I post it here too.
Sorry for the long description.

I have a main_model defined as follows:

[code]
The output layer shape is (448,448,100) and I don't have any target vector (Y_train) of that shape. I

[2019-07-12 15:05] abhishek-jana commented on #12163
@gabrieldemarmiesse I'd like to work on this issue, please.

[2019-07-12 15:31] Bato803 commented on #11418
I'm having this issue after updating keras  to 2.2.4. I have a python lambda function at my loss function, and using "load_model" with argument "custom_objects" won't help. I was wondering if there is any other ways to deal with this issue besides only saving weights (discard the model structure).

[2019-07-12 16:45] Jvafaei opened #13103 "Network quantization"
Hi guys,
Right now I'm working on LSTM (specifically language model application)
My project is to implement Incremental Network Quantization(INQ as an abbreviation in literature)
Here, it is how it works:
1- Network is fully trained in floating-point format.
2- Then a group of weight(for example 10 percent in each layer) is chosen based on their magnitude (or maybe cost function gradient according

[2019-07-12 18:14] gabrieldemarmiesse commented on #12163
You can, sure. As long as someone didn't do it already.

El vie., 12 jul. 2019 17:06, Abhishek Jana <notifications@github.com>
escribió:

[2019-07-12 20:45] xinsu626 commented on #13093
@jvishnuvardhan Thanks. I have tried on my local machine, and it works. However, if I run it on my GPU serve, it always throw same error.

[2019-07-12 20:57] xinsu626 commented on #13093
@jvishnuvardhan I think the error should caused by tensorflow gpu. When I uninstalled the tensorflow gpu, there was no error.

[2019-07-12 21:11] jvishnuvardhan commented on #13093
@xinsu626 Just to understand the source of the issue, either tensorflow-gpu or gpu drivers, did you ran any tensorflow code on single/multi GPU successfully? Thanks!

[2019-07-12 22:01] xinsu626 commented on #13093
@jvishnuvardhan Yes. When the model's input is 2-D array, the model could successfully run on GPUs. However, when the model's input is 3-d arrays, it gave me the error.

[2019-07-12 22:23] jvishnuvardhan commented on #13102
@shasut Can you try using strides=(1,1)?
It would be better If you can share a standalone code to reproduce the issue. Thanks!

[2019-07-12 22:44] jvishnuvardhan commented on #13101
@CreeperLava  I think model.compile is missing
`model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate = 0.002),loss=tf.losses.mean_squared_error,metrics=['mae'])` . thanks!

[2019-07-12 23:13] rjurney commented on #6627
This happens to me with a numpy array.

[2019-07-13 01:47] SukkyoungBae commented on #13004
How can you install Tensorflow 1.5.0 in anaconda prompt ? I'm just blocked by same problem as you're.

[2019-07-13 05:46] #13095 closed

[2019-07-13 16:36] lordsoffallen commented on #8510
I believe cuDNN backend provised some other stuff that maybe useful. I wanted to do batch normalization before activations but not possible with GPU.
[cuDNN Batch Normalization Mode](https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#cudnnBatchNormMode_t). Any issue that this will resolve in the future?

[2019-07-13 18:16] AND2797 commented on #1458
if it still  doesn't  work -
use

`from  keras import  sequential`

[2019-07-13 21:12] rohith513 opened #13105 "Custom BatchNormalization layer in ResNet"
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Arch Linux
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.13.1
- Keras version:  2.1.6
- Python version:  3.7
- CUDA/cuDNN version:  10
- GPU model and memory:  GTX 1070

Hello, I am using Faster-RCNN with ResNet50 as base network

[2019-07-13 21:29] dynamicwebpaige commented on #13094
Thank you for filing this issue! The problem you described looks like a bug in CNTK. If you would like for it to be addressed, please file an issue against [that project](https://github.com/microsoft/cntk).

[2019-07-13 21:29] #13094 closed

[2019-07-13 23:17] ehsanhaghighat opened #13106 "“keras.backend.variable” is not behaving correctly in keras as opposed to tensorflow"
I want to define **trainable scalar parameters** in my models. In TensorFlow, this is done using `tf.Variable`. In Keras, `keras.backend.variable` is supposed to behave the same way. However, when I use `model.fit`, `keras` does not change the `variable` during the optimization process. Does anyone know why?

To test, please uncomment `RUN_ON = "tensorflow"` or `RUN_ON = "keras"` to run on either

[2019-07-14 04:36] hr21 commented on #13080
@AyaLahlou  you could speed up your training time by using a GPU to train your dataset or maybe use a cloud instance instead

[2019-07-14 06:11] machuck commented on #9298
Why can't spawn a separate thread for saving models? Just saying...

[2019-07-14 10:24] #13062 closed

[2019-07-14 12:27] CajetanRodrigues opened #13107 "ValueError: Error when checking target: expected dense_2 to have shape (5,) but got array with shape (1,)"
**I am training a keras model for multi label image classification , 5 classes namely flood, wildfire, storm, tornado, earthquake**

_But I am getting this error =>_

`# # Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense
import numpy as

[2019-07-14 13:15] thorrester opened #13108 "Kernel dies when trying to plot after fitting NN"
Any time I train a NN (using tensorflow with keras) and attempt to plot (matplotlib) the loss history of the fit model, the kernel dies. I do not think it is code because running different code from different validated sources (links below) causes the same problem.

Also, it appears to be specific to tensorflow/keras and matplotlib. If I run an sklearn model and then plot it works fine.

example l

[2019-07-14 16:01] nshervt opened #13109 "Training of multi-output Keras model on a joint loss function"
Hello, I was trying to write two joint decoders, which have a single input and two outputs (an output each) and are jointly trained using a joint loss function. I tried this in two ways as described below and it did not work. I was wondering if this functionality and implementing such a model is possible using Keras or not.

1. Define a single loss function that takes both outputs: The error I get

[2019-07-14 17:07] rola93 commented on #7277
Hi David, could you finish your work? Did you find a solution for this? Did you implement it on python/keras? I'm having same problem, and would like to hear from your work

Thanks

[2019-07-14 19:08] Darkhunter9 commented on #4446
As this question was proposed 3 years ago, I am wondering does the answer still work now?
I am using a pre-trained model, so I need to load the model(with all the weights) first.
Then because I am using two sets of data(different images but with same shape), I need to call fit_to_generator a bunch of times in the code. Under this situation does the model incrementally train (this is what I want)?

[2019-07-14 20:10] OverLordGoldDragon commented on #4446
@Darkhunter9 'Training' modifies whatever weights the model has when the call to train is made - i.e., training pretrained model will update the loaded weights. You can add/replace subsequent layers from any point via `model.pop()` in a `Sequential` model - or, as I prefer, a bypassing 'shortcut' connection:

[code]
- `x4` through `output` will be disconnected
-  `x4_` through `output_` will be tr

[2019-07-14 20:44] Darkhunter9 commented on #4446
@OverLordGoldDragon Thanks! I'll make my question clearer:
If the weights in the loaded model are version_0;
After I first call fit_generator and training is done, the weights become version_1;
At this time, if I call fit_generator again in my code, will the training start updating parameters from version_0, or version_1?

[2019-07-14 21:08] ChouWeizhong opened #13110 "using multi_gpu_model but can't got multy batch_size"
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.8.0
- Keras version:  in_Tensorflow 1.8.0( don't know how to see inside version)
- Python version:  3.6.8
- CUDA/cuDNN version:  9.0
- GPU model and memory:   gtx1080Ti x2

[2019-07-14 21:29] OverLordGoldDragon commented on #4446
@Darkhunter9 `version_1`, since it contains

[2019-07-14 21:32] #13109 closed

[2019-07-14 21:57] Darkhunter9 commented on #4446
@OverLordGoldDragon Thanks! I am using fit_generator with multiprocessing, cuz I need to do image processing (with different recipes) over a large dataset on the fly.

[2019-07-14 22:45] gogasca commented on #11618
I'm facing the same issue with TF Hub xfer learning https://www.tensorflow.org/tutorials/images/hub_with_keras

[2019-07-15 02:26] #13045 closed

[2019-07-15 08:35] qinst64 commented on #10366
@zlw21gxy @rpmcruz this is a bug of `keras` or should say of the `keras_preprocessing` package.
I am testing on the lastest verson `Keras-Preprocessing==1.1.0`
If you go to the code with regard of brightness, you will see
[code]

then you go to the definition of `array_to_img`:
[code]
As you can see, `array_to_img` actually has a parameter of scale, yet not set when called in `apply_brightness_shi

[2019-07-15 09:03] rohith513 commented on #13105
Hi @datumbox, I saw your posts on Batchnormalization. But I couldn't get to any conclusion. How is this implementation different from yours?

[2019-07-15 09:45] EvanEames commented on #8939
Just a heads up, I was having the same error when I tried to normalize my image data (it was read in as RGB int values from 0-255, so I was trying to apply X_train/255.). I was using the stanford cars dataset, which meant around 8000 training images, and 8000 test.

I didn't really want to have to give up data augmentation, but I found a way to get it to run on my laptop without any Memory Errors

[2019-07-15 11:05] Gru-Preet commented on #6545
Same error not solve in my system using instructions given above in various replies.
ModuleNotFoundError: No module named 'keras.backend.tensorflow_backend'
How to resolve it.
??

[2019-07-15 13:15] amitgupta911 opened #13111 "InvalidArgumentError in keras"
I am trying to create a sequence to sequence model using keras. Here is the architecture which we are following.I am Running my code on Google Colab.

**number of samples =1000
input_vocab_size=2347
target_vocab_size=2376**

This is the code I'm running:
___

[code]
___

Then i tried compiling the model

[code]
And this is the summary i got:

![image](https://user-images.githubusercontent.com/5150

[2019-07-15 13:17] Anjali0208 commented on #6545
I think you should install keras
command- pip install keras

[2019-07-15 13:37] shasut commented on #13102
[code]

[2019-07-15 13:38] NOEPG opened #13112 "Constraints on weights for custom layer"
Hello,

I would the weights of my custom layer to be non-negative.
Unfortunately https://keras.io/constraints/ cannot be used on custom layer.

Is there a way to do this cleanly or should I include a term in my loss function that penalizes negative weights ?

Here is my custom layer.

class VectorCombination(Layer):

    def __init__(self, output_dim, **kwargs):
        self.output_dim = output_di

[2019-07-15 17:34] jvishnuvardhan commented on #13102
@shasut Still it is not a standalone code as there are some undefined variables and methods. Can you create a [gist like this](https://colab.sandbox.google.com/gist/jvishnuvardhan/0487c1d018f881ea052629ac66ad6e05/keras_13102.ipynb).  Please also fill template [here](https://github.com/keras-team/keras/issues/new/choose). Thanks!

[2019-07-15 21:23] Pari-singh commented on #3556
@alexeydevederkin I am getting the error:
File "train.py", line 55, in __init__
    super().__init__(**kwargs)
TypeError: __init__() missing 1 required positional argument: 'name'

upon running your code, could you please help me with my problem. I am running it on Python 3.7 and TF2. Also, TF doesnt have keras legacy interfaces, how could we replace your code for Tensorflow? (I installes Keras ju

[2019-07-15 21:37] jvishnuvardhan commented on #12905
@Xiang-Gu I don't see any issue here. May be I am wrong.
Can you check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/92c60b838c47174e8758d5b8603a8811/keras_trainable_12905.ipynb).

Please check my comments below

Define layers
[code]

define model#1
[code]

Check model#1 summary
`model_1.summary()`

[code]

[2019-07-15 22:17] jvishnuvardhan commented on #13079
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 22:17] #13079 closed

[2019-07-15 23:24] jvishnuvardhan commented on #13024
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-15 23:24] #13024 closed

[2019-07-15 23:25] jvishnuvardhan commented on #12986
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 23:25] #12986 closed

[2019-07-15 23:54] jvishnuvardhan commented on #13047
@wangyexiang I could reproduce the issue. Thanks for detailed report.

[2019-07-15 23:55] jvishnuvardhan commented on #12962
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-15 23:55] #12962 closed

[2019-07-15 23:56] Xiang-Gu commented on #12905
In model_1.summary(), shouldn't the total # of params be 330? Shouldn't the
# of trainable params be 110? Now it is outputting 550 total # of params
and 330 trainable params!

Thank you for your follow up and patience!

Best regards,
Xiang

On Tue, Jul 16, 2019 at 5:39 AM Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-07-16 00:01] jvishnuvardhan commented on #12930
Hi!
This issue isn't related to a bug/enhancement/feature request or other accepted types of issue.
To ask questions, please see the following resources :
[StackOverflow](http://stackoverflow.com/questions/tagged/keras)
[Keras Slack channel](https://keras-slack-autojoin.herokuapp.com)
[Keras.io support](https://keras.io/#support)
[Gitter](https://gitter.im/Keras-io/Lobby)
Thanks!
If you think we m

[2019-07-16 00:02] jvishnuvardhan commented on #12929
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 00:02] #12929 closed

[2019-07-16 00:05] jvishnuvardhan commented on #12870
@maximilianley Please create a simple standalone code to reproduce your issue. thanks!

[2019-07-16 00:15] jvishnuvardhan commented on #12800
@kalyanks0611 Is this resolved? thanks!

[2019-07-16 00:33] jvishnuvardhan commented on #13107
Please fill the issue template [here](https://github.com/keras-team/keras/issues/new/choose). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-07-16 00:37] jvishnuvardhan commented on #13111
Please fill the issue template [here](https://github.com/keras-team/keras/issues/new/choose). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-07-16 01:22] OverLordGoldDragon commented on #8935
+1, would find useful

[2019-07-16 01:55] pritamqu commented on #411
Can you please share your code example, how you solved this?

[2019-07-16 03:21] mani2106 commented on #12711
@mathemage Is your exam over?
Do you need more time to take this on?

[2019-07-16 03:41] fotocoyotl commented on #13091
Also experiencing this. I'm using Keras with the Tensorflow backend. I've installed the environment using anaconda, specifically the `keras-gpu` package.

OS: Ubuntu 19.04, Linux 5.0.0-21
Keras: 2.2.4
Tensorflow: 1.12.0
Python: 3.6.8

[2019-07-16 04:03] mani2106 commented on #12890
Can I work on this by adding
` By default "tanh" activation is  applied, `
`which is:  tanh(x) = (exp(x) - exp(-x)) / (exp(x) + exp(-x))`

[2019-07-16 04:15] changchend commented on #12956
Keras may leak memory。 load_model,memory continues to grow

[2019-07-16 06:53] philipperemy commented on #10251
I have the same issue too. It seems related to clipnorm.

[2019-07-16 07:05] philipperemy commented on #10251
Ok it turned out that I made a mistake in my graph. I was feeding the input at the beginning and also lower in the graph. So it was my mistake, although I agree that the error could be more explicit.

[2019-07-16 10:20] JaimeCarracedo commented on #10150
@Emadeldeen-24 Thanks a lot for your contribution. I tried to read your code and I have some doubt. I would like that the ImageDadaGenrator to apply the same deformations for all images in each set (given by frames_per_step). Does tweaked_ImageGenerator do this?

Thanks in advance.

[2019-07-16 11:31] mathemage commented on #12711
@mani2106 Yes, my exam is over. I can get back to it on Thursday if that's okay. I still have some things to finish first, but then I'd have time. ^_^ -> Is it alright like this?

Thanks for remembering me!

[2019-07-16 11:40] jecaJeca commented on #13087
The problem with previous model was in BatchNormalisation layer. It seems that it caused infinite recursion.

[2019-07-16 11:46] mani2106 commented on #12711
Ok man, No worries.

[2019-07-16 12:29] Emadeldeen-24 commented on #10150
Not sure about the deformations you want to apply, but I only updated the script so that it would accept multiple frames at each step.

[2019-07-16 13:22] shasut commented on #13102
@jvishnuvardhan
I edited the code in the link. Also provided the code below.

[code]
which generates the following error.

[code]

[2019-07-16 14:16] vijayakumar-govindarajulu commented on #2134
I was facing the same problem.  I thought I had my inputs covered and carried out few suggestions mentioned here,  but to no avail.   When I inspected my inputs again, I had one value as NaN.  When I took care of it,  it worked.

[2019-07-16 16:05] hajarhomayouni commented on #7825
I had the same issue. The following resolved it for me:

`from keras import backend as K`
`K.clear_session()`

[2019-07-16 16:14] ehsanhaghighat opened #13113 "`sample_weight` results in NaN when zero passed - also not efficient for unbalanced available data"
I am designing a model with two outputs, `y` and `dy`, where I have much more training data for `y` than `dy` while the location (x) of those data points are the same (please check the image bellow).

I am handling this issue with `sample_weight` in `keras.model.fit`. There are two concerns:

 1. If I pass 'zero' for a sample weight, after the first training, it results into `NaN`. I instead have

[2019-07-16 16:18] alelopes commented on #11276
I also had this problem in Keras 2.2.4. The message changed a little bit in this version, but the problem persists. I suggest reopening this issue. I'm using multi-gpu and I'm using two TimeDistributed VGGs at the beginning of the net as feature extractors (one for optical flow and another one for rgb image). I'm also freezing the VGG layers. I guess something in this part is generating the proble

[2019-07-16 16:21] ismael-elatifi commented on #4506
Any update on this ?
I would love a Callback where you have access to :
- input data
- labels
- predictions

Having access to the predictions already made (train or validation) would avoid to recompute them with `.predict` which can be very costly like @evictor pointed out.

Like many others, I would also love a way to write metrics "outside of the graph" by taking in input numpy ndarrays.

[2019-07-16 17:00] mrudulaathi commented on #11259
I tried @yangw1234's solution and was able to freeze the model. But I am getting different set of errors when trying to "tf.import_graph_def" of this frozen graph.  The error is "Node 'lstm/while/ReadVariableOp/Enter' has an _output_shapes attribute inconsistent with the GraphDef for output #0: Shapes must be equal rank, but are 2 and 0" . Any clues for a workaround?

[2019-07-16 18:43] jvishnuvardhan commented on #13102
@shasut Please check the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/337c3be3d26df05a5d9d7a53758c9e8b/keras_13102_shape.ipynb) that runs without any shape error. Thanks!

[2019-07-16 19:17] shasut commented on #13102
@jvishnuvardhan Thanks for the code.

`MaxPool stride = (1,1)` to the `constant_model` and `main_model` will work since for both cases the `X_train` shape, model `output layer` shape and `input layer` shape are the same, i.e. the shape of `x` and `y` data in the `.fit()` function and the model input and output shape for `main_model` and `constant_model` are the same. My question is, why is it not

[2019-07-16 20:39] evictor commented on #4506
To add another thought to this, as a possible workaround for now, I think
it would be possible to attach to model output tensors, then do whatever
one wants with the outputs at runtime (e.g. log them), no? Or put a pass
through custom layer at the end of the model that passes outputs
undisturbed but also "logs" them however you like (file, database, etc.).
It's not semantically the cleanest soluti

[2019-07-16 20:53] TahaAnwar commented on #12752
Having the same problem ...any solution yet

[2019-07-16 21:57] ishwor2048 commented on #12379
This is really helpful, Thanks Sawatdatta

[2019-07-16 22:15] jvishnuvardhan commented on #13102
@shasut There is a shape mismatch in the inputs to the metric (loss) function. One is 448,448 and the other is 896,896.

Initially, `y_true` and `y_pred` are of 896x896 shape. then, you pass `y_true` to constant_model to get `eval_true` which is when the shape becomes 448x448. Now comparing two different shapes will result in error. Thanks!

[2019-07-16 22:33] #12985 closed

[2019-07-17 00:18] AtlasHale commented on #10472
Got past where I was stuck by using this, thanks!

[2019-07-17 00:22] dorinionescu commented on #11644
Same error (xla_gpu is ignored) Keras see only 2 instead of 3 GPU

at line

`model_gpu = multi_gpu_model( model, gpus=3)
`
error is

[code]
print(  "devices are = ", tf.keras.backend.get_session().list_devices())

devices are =  [
_DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 268435456, 3450774613774870734),
_DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:1, CPU

[2019-07-17 01:48] dorinionescu commented on #11644
read the solution on my previous message
now I am going to give you a second step
Keras multi gpu may fail to allocate the memory of the GPU boards
`multi_gpu_model( model, gpus=3)`
The allocation requests may come in an order that goes to allocating amounts on all GPU and in the end the big request may come and get an CUDA OUT of MEMORY
In this case I deactivated any call of multi gpu model and f

[2019-07-17 03:43] mohamadt commented on #10014
Loading the model from the saved model and evaluating it on the test set gives me 16% while
the reported validation accuracy after the last epoch (during training the model) is 85%.
I'm using fit_generator and real-time data augmentation.
Keras version: 2.2.4, with tensorflow backend: 1.13.1
python: 2.7.16

[2019-07-17 03:57] issuetodd commented on #10014
Try the following might help:
1. build your network again in your test phrase **with the same code for building your network when you were training.**
2. load weights from the trained model/weights.

[2019-07-17 04:00] mohamadt commented on #10014
what is the difference between what you suggested and load_model method?
Do you mean to set_weights for each layer separately?

[2019-07-17 04:21] tianke0711 opened #13114 "How to change the function of transfer learning code to be a class object code"
Hi I am a new one to develop a image classification learning web api using keras and flask.
The model structure is in the app.py as following

[code]

I want to change the function code to be class object in another python file like the following,
and then import this class in the app.py:

[code]

I don't know how to change load_resnet_model part

[2019-07-17 04:35] issuetodd commented on #10014
if there is  your own custom layers/functions in your model.
if you didn't define well or what, you might not load the model correctly so it might come to the terrible test accuracy.
i used the "load_weights" methods and it's fine to avoid those problems.

it is just my suggestion, you can try it tho. Or check if you load your custom layers/functions correctly.

[2019-07-17 05:44] lnshi commented on #11101
I just encountered, wasted my whole night Tesla T4 GPU😖😖😖

[2019-07-17 08:25] vxgu86 commented on #10417
did  not work for me with keras 2.1.6, I am using windows10+python3

[2019-07-17 08:31] wendingp commented on #11644
@ghostplant so you mean I need to install tensorflow without XLA to use multiple physical GPUs? How to do it then?

[2019-07-17 09:02] ghostplant commented on #11644
@wendingp I think this is not related to inferring the number of GPUs because it is still wrong even if you explicitly set the specific GPUs number in a traditional way. The problem is mainly cased by undetermined GPU device naming between `xla_gpu` and `gpu`, and this is supposed not to happen if tensorflow is built without XLA enabled.
If you use the latest keras, the auto-inferred gpu number sh

[2019-07-17 09:05] ghostplant commented on #11644
@wendingp So where do you install the tensorflow package, via `pip install tensorflow-gpu==1.12.0` ?

[2019-07-17 09:05] Cstyler commented on #13088
Try to look at source code of LSTMCell, LSTM, RNN classes

[2019-07-17 09:16] Cstyler commented on #13082
[code]
You can override this method of ImageDataGenerator and write these params somewhere

[2019-07-17 09:37] wendingp commented on #11644
@ghostplant previously I just used `pip install tensorflow-gpu`

[2019-07-17 13:13] shasut commented on #13102
@jvishnuvardhan How is that initially, `y_true` and `y_pred` are of 896x896 shape? `y_pred` has shape of 448x448, since it is the output of the main_model. Would you please explain a bit?

[2019-07-17 14:00] Genarito commented on #12649
In Keras v2 the method has be renamed to `image_data_format`. So you coud try:

`keras.backend.image_data_format()`

[2019-07-17 15:00] xinsu626 commented on #13093
Closing this issue. I was able to resolve this issue. I think it is compatibility issue between tensorflow-gpu and cuda.

- CUDA 10.1 and Tensorflow-gpu 1.14: No Error
- CUDA 9.2 and Tensorflow-gpu 1.14: CudaLaunchKernel error.
- CUDA 9.2 and Tensorflow-gpu 1.12: No Error.

[2019-07-17 15:00] #13093 closed

[2019-07-17 17:05] LiuDongDaniel commented on #12820
@jvishnuvardhan can you tell me how to solve this problem?
actually, I have met the same problem now. thanks very much

[2019-07-17 17:14] RitikaAg commented on #12820
@LiuDongDaniel I solved this problem by using the tensorflow-gpu version

[2019-07-17 17:20] LiuDongDaniel commented on #12820
@RitikaAg thanks very much. actually, I operate my program in Mac, it is well. but when I try to operate it in Linux, it has this problem. do you think it is a problem about the tensorflow version?

[2019-07-17 17:24] def-roth commented on #12820
@LiuDongDaniel Issue was solved with tensorflow 1.14.0 and works right now

[2019-07-17 17:24] #12820 closed

[2019-07-17 17:25] RitikaAg commented on #12820
@LiuDongDaniel yes I think so , it seems tensorflow backend doesn't support Conv3D but tensorflow-gpu backend does,that's what I experienced in my Linux system

[2019-07-17 17:28] LiuDongDaniel commented on #12820
@def-roth  do you use the linux system? because  my tensorflow version is also 1.14.0.

[2019-07-17 17:29] LiuDongDaniel commented on #12820
@RitikaAg  thanks, maybe I should try to use the tensorflow-gpu to train the Conv3D

[2019-07-17 18:03] def-roth commented on #12820
@LiuDongDaniel I ran it on windows with those package versions from the REQUIRED_PACKAGES of 1.14.0
absl-py                0.7.1
astor                  0.7.1
gast                   0.2.2
google-pasta           0.1.7
Keras                  2.2.4
Keras-Applications     1.0.8
Keras-Preprocessing    1.1.0
numpy                  1.16.4
six                    1.12.0
protobuf               3.8.0
tensorbo

[2019-07-17 19:17] #8355 closed

[2019-07-17 19:21] ymodak commented on #8602
Please fill the issue template [here](https://github.com/keras-team/keras/issues/new/choose) if the issue still persists. Thanks!

[2019-07-17 19:21] #8602 closed

[2019-07-17 20:30] he44 commented on #12354
I had the same issue with Keras 2.2.2 but it seemed to be working in 2.2.4
![image](https://user-images.githubusercontent.com/15525366/61409355-af908680-a8a7-11e9-9734-fecc1de227a5.png)

[2019-07-17 20:41] LiuDongDaniel commented on #12820
@def-roth  thanks very much. I have solved this problem. I install the tensorflow-gpu version in the linux system. It can operate will. thank you for your information.

[2019-07-17 21:11] gabrieldemarmiesse commented on #12354
Closing this issue since it works on the master branch.

[2019-07-17 21:11] #12354 closed

[2019-07-17 23:28] chipfranzen opened #13115 "Feature Request: built-in ResizeBilinear Layer"
I'm requesting a built-in Keras layer for resizing tensors.

Today:
I have to implement this layer either as a Lambda or a custom layer, both of which simply wrap `tensorflow.compat.v1.image.resize_bilinear`. This causes huge headaches for exporting to CoreML and TF-Lite. Existing layers like `Upsampling2d` and `Reshape` do not meet my needs, since I am downsampling to a fixed output size, so scal

[2019-07-18 00:13] gowtham-kp commented on #13108
@thorrester I just ran the example and I am not getting any error. I suspect the problem is in installation . Can you please clean your environment and reinstall Keras and Tensorflow and see if it works. Thanks!

[2019-07-18 00:59] gowtham-kp commented on #13082
@ericjiang18 As @Cstyler mentioned, It is only possible by writing your own custom code by customizing the random_transfrom function [here](https://github.com/keras-team/keras-preprocessing/blob/ecb76f45887cc37a29f78fd5ded9c517aed9fd2d/keras_preprocessing/image/image_data_generator.py#L888). Hope this answers your question!

[2019-07-18 03:30] benjamin-lucas opened #13117 "Batch Normalization moving_mean parameter seems to ignore the initializer."
I have a model with multiple convolutional layers with BN applied before the activation. I've noticed that after training on one batch of data, the moving_average parameter always takes the values of that batch (almost like an intialization), rather than updating the initial value with the new batch. This means that regardless the initial values, after training on one batch, the moving_average is

[2019-07-18 04:42] tianke0711 commented on #2102
@tzachar  I want to know how to know how to add the following function you mentioned in my code:

[code]

my code :

`@app.before_first_request
# @app.route('/loading')
def load_resnet_model():
    print('begin to get model')
    global graph
    graph = tf.get_default_graph()
    global model_image
    img_dim = (299, 299, 3)
    num_label = 2
    input_tensor = Input(shape=img_dim)
    base_mode

[2019-07-18 06:00] hotplot opened #13118 "Repeatedly calling model.predict(...) results in memory leak"
**System information**
- Have I written custom code (as opposed to using example directory):  Yes, minimal example attached
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.5
- TensorFlow backend (yes / no): yes
- TensorFlow version: 1.12.0
- Keras version:  2.2.4
- Python version: 3.6.8
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**Describe the current behavior**

[2019-07-18 07:35] AmirHussein96 opened #13119 "Sharing the weights for the corresponding layers of two models"
Hello everyone,

I am trying to implement an architecture with two similar models for feature extraction. I need to extract parameters of the corresponding layers of the two models and minimize their norm difference between. Any Ideas how this could be done in Keras?

[2019-07-18 12:47] Daya-Jin commented on #6997
useful, mark

[2019-07-18 15:44] prabindh opened #13121 ""WARNING:tensorflow:Variable += will be deprecated""
**System information**
- Have I written custom code (as opposed to using example directory):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10.0.16299.1217
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.13.1
- Keras version:  2.2.4 to current
- Python version:  3.7.1
- CUDA/cuDNN version: NA
- GPU model and memory:  NA

**Describe the current behavior**
Whe

[2019-07-18 16:12] ckyleda opened #13122 "Multi_gpu_model fails with improved wasserstein GAN."
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04
- TensorFlow backend (yes / no):  Yes
- TensorFlow version:  1.12.0
- Keras version:  2.2.4
- Python version:  3.6
- CUDA/cuDNN version:  -
- GPU model and memory:  K80 12GB x2

**Describe the current behavior**

The improved wasserst

[2019-07-18 16:13] vsatyakumar commented on #9444
@fchollet Could really use a fix for this! Thanks.

[2019-07-18 16:27] mathemage commented on #12711
Hi @mani2106 and @siddheshsathe

I've started to look into and currently working on this. Today I was struggling with the setup: right Python env, my GH fork got behind -> some syncing troubles etc. I will continue in the following days.

Is there any convention on how to create forks/pull requests? And how to name the branches/reference issues? I.e. anything procedural that needs to be done befor

[2019-07-18 16:30] mathemage commented on #12711
Is it alright if I use (virtualenv) with Python 3.7?
[code]
I can't find an easy way to install Python 3.6 on Ubuntu 19.04. :-1:

[2019-07-18 17:41] shivg7706 opened #13123 "AttributeError: 'zip' object has no attribute 'shape'"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-07-18 19:09] its-mayank commented on #13096
can you share your piece of code here? @LiframCastle

[2019-07-18 20:36] LiframCastle commented on #13096
Sure, I think my error is on the generator but I'm not sure why:

`image_shape = (376,1241)
batch_size = 10

import os
from glob import glob
import re
import numpy as np
from imageio import imread
from skimage.transform import resize

def generator(data_folder, image_shape, batch_size):#, DAflag=False):
    image0_paths = glob(os.path.join(data_folder, 'colored_0', '*.png'))
    image1_paths = {re

[2019-07-18 21:22] gowtham-kp commented on #13100
Hi @prakharg24, 2nd way that you implemented custom constraint is the right way:

Look at how in-built constraints are implemented:
https://github.com/keras-team/keras/blob/master/keras/constraints.py

And then use CustomConstraint in the same way as in-built:

model.add(Dense(64, kernel_constraint= CustomConstraint(your', parameters', go', here')))

Hope this helps :)

[2019-07-18 21:41] gowtham-kp commented on #13086
@ai559031 Did that answer your question. Can I close the issue?

[2019-07-18 23:27] gowtham-kp commented on #13103
@Jvafaei Please refer to this [documentation](https://keras.io/layers/writing-your-own-keras-layers/) where its clearly mentioned how to implement your own neural network using Keras. Also please go though the source code if necessary.

Also please note that we only accept issues related to bug/enhancement/feature request.
To ask questions, please see the following resources :
[StackOverflow](http

[2019-07-18 23:28] jvishnuvardhan commented on #13119
@AmirHussein96 You could use keras functional API. There are lot of resources on Stackoverflow and other places addressing similar architecture. Check Examples on Keras website.

Hi!
This issue isn't related to a bug/enhancement/feature request or other accepted types of issue.
To ask questions, please see the following resources :
[StackOverflow](http://stackoverflow.com/questions/tagged/keras)
[

[2019-07-18 23:30] gowtham-kp commented on #13123
@shivg7706 In order to expedite the issue resolution process can you please provide us a small code snippet so that we will be able to reproduce it on our side and find the cause. Thanks!

[2019-07-18 23:50] jvishnuvardhan commented on #13121
@prabindh Warnings are due to tensorflow which is going to release 2.0 (Huge shift from TF1.x) and deprecate TF1.x related API's in the future. You could disable those warning by using simple code given below. Add the following code at the top of your code to disable warning or info etc. Thanks!

[code]

[2019-07-19 00:00] prabindh commented on #13121
Thanks. Agreed we could filter out all warnings, but then all other warnings would be masked, which isnt the right thing in my opinion. What stops us from moving to like below commit,

https://github.com/prabindh/keras/commit/063bfcbf43c0e315e807944caeeed07a44a0d33f

[2019-07-19 01:21] prakharg24 commented on #13100
I know the 2nd way works perfectly, but I want to make some way of making it work in the 1st case too.

Let me add more details to my problem,

Lets say you have a model object 'm' and you want to add custom constraints to it. How will you design a function to do that? You know nothing about the model architecture beforehand because someone else designed it, not you. So you need to work with this

[2019-07-19 01:32] rzilleruelo commented on #85
@Deltaidiots, following your example the padding means adding a value that is not present in your data as a marker of no data. For example, add a zero at the end of your first sequence.
[code]

[2019-07-19 03:21] shivg7706 commented on #13123
[code]

[2019-07-19 06:42] ghostplant commented on #11644
@wendingp Yeah, the tensorflow prebuilt package seems to enable XLA option by default since 1.13.1. If you fallback to 1.12.0 which is based on cuda-9.0, so the driver might be not matching.

It is weird that you have 3 GPU, but there are `/device:XLA_GPU:[0, 1, 2]`  devices and ONLY `/device:GPU:[0, 1]` devices?

This is my output of tensorflow devices on multiple GPU hosts:
[code]

So are you re

[2019-07-19 08:15] shivg7706 commented on #13123
I found my error.

[2019-07-19 09:32] AlexandreRozier commented on #5223
Hey! I thought maybe giving an example of what working by me would be helpful:

[code]
This allows to leverage mutli-core training (on CPU) :)

[2019-07-19 10:19] rohith513 commented on #13105
@datumbox @fchollet Can someone please tell me how to fine-tune ResNet50 here? I want to freeze all Conv blocks except the last one and training the remaining. What is the right way to freeze batchnorm layers so that my validation loss and accuracy improves?

`x = BatchNormalization(axis=3, name=bn_name_base + '2a', trainable = False)(x)`
(or)
`x = BatchNormalization(axis=3, name=bn_name_base + '2

[2019-07-19 11:10] Raazzta commented on #1873
hi @KlaymenGC, all , could you share your complete code how to combine the weights?
new_weights = pretrained_weights + he_normal

Thanks.

[2019-07-19 12:22] rohith513 opened #13124 "Filter weights in Locally connected layer"
**System information**
- Have I written custom code (as opposed to using example directory):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Arch Linux
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.13.1
- Keras version:  2.1.6
- Python version:  3.7
- CUDA/cuDNN version:  10
- GPU model and memory:  Nvidia GTX 1070

I have a problem understanding how the filters ar

[2019-07-19 14:05] Donald-Su opened #13125 "what's the difference between 「loss='binary_crossentropy'」 and 「loss=losses.binary_crossentropy」?"
In the `model.compile` step, what's the difference between  `loss='binary_crossentropy` and `loss=losses.binary_crossentropy` ?

compile 1:
[code]
compile 2:
[code]

[2019-07-19 15:03] alphamuth commented on #11749
@pabloppp I was getting the same error and my issue got resolved when I removed the `return_sequences=True` just write as -

`rnn = Bidirectional(GRU(64))(rnn)`
I guess you this will work if not do let me know!! Hope this helps!!!

[2019-07-19 15:29] ckyleda commented on #13122
If anyone would like to reproduce this easily, simply take the keras-contrib improved Wasserstein GAN available here:

https://github.com/keras-team/keras-contrib/blob/master/examples/improved_wgan.py

And make the discriminator a multi_gpu_model.

[2019-07-19 18:46] limapedro opened #13126 "Explanation on ConvS2S prediction array"
<em>Please make sure that this is a Bug or a Feature Request and provide all applicable information asked by the template.
If your issue is an **implementation question**, please ask your question on [StackOverflow](http://stackoverflow.com/questions/tagged/keras) or [on the Keras Slack channel](https://keras-slack-autojoin.herokuapp.com/) instead of opening a GitHub issue.</em>

**System informat

[2019-07-19 18:50] rohith513 commented on #13124
@joelthchao Can you please look in to this?

[2019-07-19 19:06] OmranKaddah commented on #1956
Updates please

[2019-07-19 19:20] gowtham-kp commented on #13123
I have ran this code:
we create two instances with the same arguments
data_gen_args = dict(featurewise_center=True,
                     featurewise_std_normalization=True,
                     rotation_range=90,
                     width_shift_range=0.1,
                     height_shift_range=0.1,
                     zoom_range=0.2)
image_datagen = ImageDataGenerator(**data_gen_args)
mask_data

[2019-07-19 19:20] OmranKaddah opened #13127 "Traning tf.keras model with complex numbers"
There has been already a question on compatibility with complex numbers.
I am trying to train train a model that take complex matrix as input and outputs complex vector.
I changed dtype to tf.complex128 in all layers, yet I get long chain of error, and that ValueError: Invalid dtype tf.complex128. Is tf.keras supporting traning on complex number already?
PS: I know one can concatenate and real and

[2019-07-19 21:00] gowtham-kp commented on #13014
@dervishson Can you please take a look at the [issue](https://discourse.edwardlib.org/t/neural-networks-example-doesnt-work/587) and let me know if that helps. Thanks!

[2019-07-19 21:13] dervishson commented on #13014
I have found out the solution.At the end of this link's page,you can concatenate lists as tensors.This is very usual encoder-decoder stuff.
https://blog.keras.io/a-ten-minute-introduction-to-sequence-to-sequence-learning-in-keras.html

[2019-07-20 00:48] mungsoo commented on #9204
Hi
I also ran into OOM issue with the batch size fit perfectly in single card.(4 is good for single card but 8 with 2 cards will raise OOM).  I also find out when I train the model with multi gpu, and a larger total batch size(from 4 to 14, where I use 7 cards and batch size of 2 for each card), the total number of steps per epoch is not reduced but increased. Any idea why? Thanks in advance!

[2019-07-20 01:42] a5ml commented on #11434
I believe the solution to my multi GPU issue was to feed a sample size that is a multiple of how many GPUs I was using, so the data is fed into the model in pairs for a 2 GPU setup.

[2019-07-20 01:46] jvishnuvardhan commented on #13101
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-07-20 01:46] #13101 closed

[2019-07-20 03:40] shivg7706 commented on #13123
Didn't you copy-paste the code from Keras/Tensorflow docs.

[2019-07-20 04:32] qtianmercury commented on #4444
I have tried to train on Imagenet from scratch using TF Keras, but the accuracy is a few percentage lower than using Caffe. I'm wondering if anyone has such experience?

[2019-07-20 05:42] lnshi opened #13128 "Keras predict_generator fit_generator memory leak with keras.utils.Sequence data generator"
As title told, the memory keep growing when I train my model with fit_generator or do prediction with predict_generator with keras.utils.Sequence data generator, until the program crashed.

The workaround I found as below:

![A82A66E0-26BC-473C-8796-A8F191A6CB87](https://user-images.githubusercontent.com/24580114/61574536-bdd2e280-aaf3-11e9-92cb-ac0d773bb322.jpeg)

That is: splitting the dataset a

[2019-07-20 08:27] divamgupta commented on #4444
@qtianmercury What model did you train and what accuracies are you getting in keras and caffeine?

[2019-07-20 09:05] gowtham-kp commented on #13123
Yes @shivg7706 I am not running into any error. Can you please provide the exact code you used so that I can work on providing a solution. Thanks!

[2019-07-20 09:54] #13128 closed

[2019-07-20 15:27] jvishnuvardhan commented on #12870
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-20 15:27] #12870 closed

[2019-07-20 15:27] jvishnuvardhan commented on #12930
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-20 15:27] #12930 closed

[2019-07-20 15:27] jvishnuvardhan commented on #12800
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-20 15:27] #12800 closed

[2019-07-20 20:50] itgervasio commented on #8838
Thanks @Dicksonchin93 ! It worked for me!

[2019-07-21 00:36] serdarbozoglan commented on #8092
Hello, I have a quick question. My "UNK" index number is 1 interestingly instead of 8. kpt considers as the first token rather than last token. Could could be the reason or how can I fix it? Thank you

[2019-07-21 00:46] QCaudron commented on #12373
I'm also struggling with this. I've implemented a Jaccard loss for a segmentation problem, and `model.save()` worked fine; however, `load_model()` raises `ValueError: Unknown loss function:jaccard_coef_loss`.

I'll redefine the net's architecture and just save the weights, but this is obviously not as clean.

[2019-07-21 05:34] usarawgi911 commented on #1257
Any updates on this? @nicholaslocascio ?

[2019-07-21 16:35] anshiket14 opened #13130 "Unable to create group (no write intent on file)"
I got this error everytime I load my model back from an HDF5 file. Below is my error trace.

Traceback (most recent call last):
File "D:\Anaconda3New\Datasets\train.py", line 63, in
model = load_model(args["model"])
File "D:\Anaconda3New\lib\site-packages\keras\engine\saving.py", line 419, in
load_model
model = _deserialize_model(f, custom_objects, compile)
File "D:\Anaconda3New\lib\site-packages\

[2019-07-21 17:03] leonardishere commented on #8585
This will disable the warning. It's a temporary workaround but it doesn't involve any major changes like running your model in a container.
`
def _check_trainable_weights_consistency(self):
    return
keras.Model._check_trainable_weights_consistency = _check_trainable_weights_consistency
`