[2022-09-16 00:12] ianstenbit commented on #16981
Thanks for following up -- I recognize what PEP517 is, and we use `setuptools` to support it on other packages. However, given that Keras and TF use a separate build process, I'm not sure I understand what the problem is with not adopting pep517.

Can you please clarify what use case is prevented by this?

[2022-09-16 03:25] gadagashwini commented on #16853
Hi @frigeriomtt, Crash can be due to large dataset. Share the dataset. Thank you!

[2022-09-16 05:10] lcmeng commented on #16982
@ianstenbit, thanks for the explanation and pointers. The KerasCV models repo is news to me, and it definitely looks very interesting. I hope it can go a long way.

So far, it seems quite convoluted and unreliable to reproduce/train some classic CV models with TF2/Keras. Using MB v2 as an example, the[ official MB v2 training script ](https://github.com/tensorflow/models/blob/master/official/visio

[2022-09-16 09:05] cmantas commented on #12100
there seem to be a few similar issues
https://github.com/tensorflow/tensorflow/issues/31312
https://github.com/tensorflow/tensorflow/issues/50379

[2022-09-16 10:53] lgleznah commented on #16967
Perfect then! Is there any way I could help with that?

[2022-09-16 11:03] #16972 closed

[2022-09-16 16:57] ianstenbit commented on #16947
Hi @BenjaminMidtvedt,

I have not been able to find a clear culprit for how this memory is sticking around, but something that catches my eye in your repro code is the iterative creation of a Sequence object and calls to `Model.fit` in a loop.

The Sequence [docs](https://www.tensorflow.org/api_docs/python/tf/keras/utils/Sequence) state that if you want to update your data between epochs you shoul

[2022-09-16 17:36] BenjaminMidtvedt commented on #16947
Hi @ianstenbit

Indeed, it is the recreation of the Sequence object that is the culprit. Sadly, it's not a viable solution for us to use just one Sequence per run. I'll check if native TensorFlow datasets can support my needs and if it solves the memory issue. If so, that's an acceptable solution from my side!

[2022-09-16 20:40] ianstenbit commented on #16947
Hey @BenjaminMidtvedt,

A few observations I've made in further debugging:

- Disabling TF eager execution with `tf.compat.v1.disable_eager_execution()` seems to stop this leak
- Clearing the TF graph in each loop iteration using `tf.compat.v1.reset_default_graph()` also seems to (mostly) stop this leak.

Based on these findings, I think this is likely a TensorFlow eager execution issue (possibly

[2022-09-16 21:48] ianstenbit commented on #16947
Following up again -- I have reached out to the TF core team to look into the root cause of this memory leak.

I am going to close this issue for now, as this appears to be unrelated to Keras itself.

@BenjaminMidtvedt if you need additional assistance with a workaround for your use case, feel free to re-open this and I can take another look.

[2022-09-16 21:48] #16947 closed

[2022-09-16 21:51] ianstenbit commented on #16982
No problem -- with KerasCV we are working to close this gap.

I am currently working on MobileNetV3 weight offerings for KerasCV, and when those are available they will be fully reproducible using our training scripts. So keep an eye out for those coming soon!

[2022-09-17 13:29] SeanLee97 commented on #15698
Any update about this issue?

I still run into this issue.

My Environments:

- CUDA11.4
- NVIDIA A100 (80GB)
- TensorFlow 2.9.0

The model is implemented using Keras API, and uses TF Dataset to load data.

[2022-09-18 03:15] SeanLee97 commented on #15698
In my implementation, I used `VarLenFeature` and used `to_dense` to convert SparseTensor to DenseTensor, this might cause memory leaky. After I changed to use `FixedLenFeature`, the issue was fixed.

[2022-09-18 06:28] Co1lin opened #17045 "Conv2D with XLA `jit_compile=True` fails to run"
## Info

[code]

## Code

The following code works well without `jit_compile=True`. However, if we enable XLA compilation by adding `jit_compile=True`, it will throw an error. Reproduced in CoLab notebook [here](https://colab.research.google.com/drive/12EtMiLTuXzxFsnJ2IT86JR3wwY6FekE3?usp=sharing).

[code]

## Log

[code]

[2022-09-18 19:13] dimitreOliveira opened #17046 "Keras code example for TF serving"
Hey there, I would be happy to write a Keras code example showcasing how to server Keras models using TF serving, let me know if you think that this would be useful, if yes it would be awesome if you can mention if you like to see something specific like serving vision, text, multiple models, or if just a minimal example would be fine.

[2022-09-19 02:17] yinkaola commented on #16694
I am experiencing the same problem as mentioned in this thread, unable to use conv3D with the M1 Mac. I am not an expert with github so I may not be able to provide additional information, but while I experienced the same problem accessing the link I think it may be a browser-related issue. Using edge, I could only open it in a private window, but using chrome I could open it both in-private and a

[2022-09-19 07:41] Vincent-SV opened #17047 "keras Normalization layer doesn't denormalize properly"
I wanted to use keras Normalization layer to "denormalize" my output.
The doc for this object says the argument "invert=True" does exactly that, but it doesn't behave as I thought at all...

After searching a bit, I found that in "keras/keras/layers/preprocessing/normalization.py", the "call" method adds the mean and then multiply by standard deviation instead of multiplying by standard deviation

[2022-09-19 10:03] #16956 closed

[2022-09-19 11:02] tilakrayal commented on #17045
@Co1lin,
Thanks for opening this issue.
 This issue is not related to Keras. Could you please post this issue on [Tensorflow/Tensorflow](https://github.com/tensorflow/tensorflow/issues) repo. Thank you!

[2022-09-19 15:06] gfursin commented on #16389
We are creating a new open workgroup in MLCommons to simplify MLPerf inference benchmark and make it easier to plug in any real world model, data set, framework, compiler and hardware. If it's of interest, please join us at https://github.com/mlcommons/ck/blob/master/docs/mlperf-education-workgroup.md - it's a community project and any feedback is very appreciated!

CC @bhack & @SamuelMarks

[2022-09-20 04:20] tilakrayal commented on #17046
@dimitreOliveira,
Could you please take a look at this official doc [link](https://www.tensorflow.org/tfx/tutorials/serving/rest_simple) and confirm if you are looking for the similar information? Thank you!

[2022-09-20 04:43] shanejohnpaul commented on #16990
So, I went through the source for both ConvNeXt and RegNet. There were two separate checks for the `input_tensor` from this [line](https://github.com/keras-team/keras/blob/b80dd12da9c0bc3f569eca3455e77762cf2ee8ef/keras/applications/convnext.py#L441-L452).
[code]

At the second check, `utils.layer_utils.get_source_inputs` gives a list of tensors that is causing this issue. Indexing it as below to g

[2022-09-20 06:03] #16985 closed

[2022-09-20 07:34] Silvio-Ma opened #17053 "tf.keras.layers.Hashing"
Hi

tf.keras.preprocessing.text.one_hot is deprecated and it recommends to use tf.keras.layers.Hashing with output_mode=’one_hot’ instead.
Now when I write these lines:

[code]

and it returns:

`(‘Keyword argument not understood:’, ‘output_mode’)`

Can anyone  tell me whats going on?
Thnx

[2022-09-20 08:29] SerdarHelli commented on #14670
Yeap :) I dont know how you gonna do . But it's okey

[2022-09-20 13:37] Lunatik00 commented on #17013
Hi, the main problem is in the tf.decode_image function

 what I tested:

- add ".webp" to the ALLOWLIST_FORMATS variable in keras.utils.image_dataset
- changing the decode image to decode_webp reads the image, but it reads rgba, the image is rgb causing other issues in the long run, that function is in keras.utils.image_dataset and is called load_image(), it ended up as tfio.image.decode_webp(img

[2022-09-20 14:08] #17053 closed

[2022-09-20 15:00] hellodanylo commented on #16997
I have run into this bug as well while training a Keras model with a large dataset.

After some tinkering, I found another way to replicate the same error -- simply creating a constant tensor.
For some reason, Tensorflow defaults to placing the tensor on GPU.
[code]

Explicitly setting the device to CPU resolves this issue:
[code]

This CPU-located constant tensor can be used with Keras for traini

[2022-09-20 17:33] tgsmith61591 commented on #16978
@gadagashwini what's the point of a warning if the response is simply `you can safely ignore it.`? It's clearly there for a reason

[2022-09-20 18:39] roebel commented on #16013
Hm, this looks quite simple to solve, and we moved from 2.5 to 2.11 and the issue still persists.

[2022-09-21 09:11] samrajkodai opened #17057 "tensorflow Load model gives the random prediction in python new session.(LSTM.)"
after train and test the model gives the good accuracy and perfect predictions.

model.save()
load_model()
once i save the model and testing in a new python session it gives random prediction.

i tried many methods but I'm not able to solve the issue. anyone have a solution?

i have attached the code also
my tensorflow version is  2.11.0-dev20220812
[issue.txt](https://github.com/tensorflow/tensor

[2022-09-21 12:36] Vincent-SV commented on #17047
I opened a PR : Update normalization.py to fix a bug when "denormalizing" #17054
Maybe I should have waited here, because I am new to github and I have the impression I am skipping some steps

[2022-09-21 17:42] gowthamkpr commented on #16661
@jamesbraza Its clearly mentioned in the document that
`Directory where the data is located. If labels is "inferred", it should contain subdirectories, each containing images for a class. Otherwise, the directory structure is ignored.`

Can you please explain the usecase where one image is used or the users run into this scenario. Thank!!

[2022-09-21 17:52] gowthamkpr commented on #17008
@ahasselbring With tensorflow 2.7, there is a warning that states
`WARNING:tensorflow:No training configuration found in save file, so the model was *not* compiled. Compile it manually.`

You can find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/9904fb0e56e2378b2a511702cdd9d1e5/17008.ipynb).

[2022-09-21 18:24] gowthamkpr commented on #16827
@bvbellomo I am not sure why Batch Normalization is used right after the input as by the definition of batch normalization, `It consists of normalizing activation vectors from hidden layers using the first and the second statistical moments (mean and variance) of the current batch`, it normalizes the outputs of activation functions and the input layer doesn't contain any activation functions. I do

[2022-09-22 06:24] timsharpzim commented on #14877
If it helps anyone - I have found that in tensor flow 2.9.1 and the keras within, making sample_weight a pd.Series() no longer stops the slow initialisation. But making sample_weight a DataFrame does, and the model starts training almost instantly.
For avoidance of doubt, this is how I do it to avoid extremely slow initialisation:
model.fit(....., sample_weight=pd.Series(wts).to_frame('wt'))

[2022-09-22 07:44] Pouyanpi commented on #16946
@mattdangerw would you confirm this and also a comment on how to resolve it? currently the file is extracted to a different location than where it is stored.

[2022-09-22 09:35] Helaly96 commented on #5397
shouldn't the print say that weights are matched for layer.name?
since the condition is only True if weights exist and weights match?

[2022-09-22 09:38] ahasselbring commented on #17008
That warning can easily removed by adding `compile=False` to the `load_model` call in 2.7 (or by actually doing some training with a useful model, but that doesn't make sense in a minimal example). In newer versions, the error occurs regardless of that option.

[2022-09-22 12:15] #16965 closed

[2022-09-22 16:38] hanneswilms commented on #4875
I've had the same problem and changed two things in my jupyter notebook:
1) changed `model.save('birds/mobilenet')` to `model.save('./birds/mobilenet')`
2) removed `physical_devices = tf.config.list_physical_devices("GPU")` and `tf.config.experimental.set_memory_growth(physical_devices[0], True)` from the beginning of my notebook

also I tried the consequences of calling `model._set_inputs` and `m

[2022-09-22 16:47] bvbellomo commented on #16827
Normalization of input is something most people want to do.  It can be done manually, but why not give people a convenient way to do it?  If you do decide not to provide or support this functionality, the framework should give an error.  The current behavior of renaming layers is clearly not intended, and therefore a bug that should be fixed.

[2022-09-22 17:22] fchollet commented on #16990
Could you please open a PR with the fix? Thank you.

[2022-09-22 17:23] zaccharieramzi commented on #15269
In the end, we added the model in keras-cv, see [this PR](https://github.com/keras-team/keras-cv/pull/805#event-7441560537)

[2022-09-22 17:23] sampathweb commented on #17012
@nicolasnn - Thanks for reporting this issue with detailed examples.

I am working on an update to `BackupAndRestore` callback to address this specific scenario.  I will submit a PR in the next few weeks.  @rchao - please assign this issue to me.

[2022-09-22 17:25] fchollet commented on #16984
Can you try a simpler reproduction that only involves `tf.Variable` instead of an entire Keras model? Thank you.

[2022-09-22 17:26] rchao commented on #17012
Thanks Ramesh!

[2022-09-22 18:26] #15269 closed

[2022-09-22 23:23] dimitreOliveira commented on #17046
Hi @gowthamkpr ,

Since the code examples are usually small I have two ideas of how it could go:

- **Option 1**: A two parts example where first I talk about TFServing, some best practices, etc and show how to serve a simple model (could be a vision model), in the second part I show how to create a custom signature that allows the user to embed the preprocessing and postprocessing logic and then

[2022-09-23 03:41] shanejohnpaul commented on #16990
Okay.

[2022-09-23 04:04] timsharpzim commented on #16997
I'm also experiencing the same bug. Unfortunately, the 'with tf device cpu' is causing my model to train on the CPU. So the bug is fully blocking usage of the GPU.

+1 waiting for a fix/workaround

[2022-09-23 04:30] samrajkodai commented on #17057
@sushreebarsa

any updates?

[2022-09-23 04:31] sushreebarsa commented on #14452
@tinyxuyan Could you please open a new ticket with all the relevant information regarding the issue that you are facing?
Thank you!

[2022-09-23 04:33] hellodanylo commented on #16997
You are right, that's an error in my original snippet.

To summarize:
1) If you pass NumPy arrays to `Model.fit/predict`, it will create new Tensors located on the GPU.
2) If you pass CPU-located Tensors to `Model.fit/predict`, it will use them without copying to the GPU -- which is the desired behavior.

[2022-09-23 05:00] sushreebarsa commented on #17057
@samrajkodai I tried to replicate the issue on colab using TF v2.10, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/28ecaf1178683852c7768727f7b0d16d/untitled8.ipynb) for reference and let us know if we are missing something as it is showing different error. Thank you!

[2022-09-23 07:55] maybeLee opened #17069 "save/load some specific models with bfloat datatype will lead to a crash"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.0, nightly
- Python version: 3.7
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- E

[2022-09-23 10:16] samrajkodai commented on #17057
@sushreebarsa

actually i did'nt attached the csv file my problem is after developing and saving the model it gives good accuracy. if i am test that model in new python session it gives 0% accuracy

# NOTE:

## model before loading : 0.9572490706319703 acc

## model after loading : 0.0030978934324659233 acc

[2022-09-23 11:32] EZMarouane opened #17070 "Automatic Speech Recognition with Transformer"
hello keras Community i want no if some one can help me ith the keras implementation of Automatic Speech Recognition with Transformer i train the model but it doesn't give me a good transcription.
if some one can help me or advice me

[2022-09-23 12:04] innat commented on #16984
@fchollet
I like to summarize the exact issue.

**Background**

Like, here I was using some `EfficientNet` models (same model but difrerent variants) to **train combinedly**. So, it's natual that, there would be some naming overlaps to the final model or ensemble model (layer's name, weight's name across the internal models).

[code]

Now due to have the same variable name of these models, I can't

[2022-09-23 12:09] innat commented on #17070
https://keras.io/examples/audio/transformer_asr/

[2022-09-23 12:12] innat commented on #17046
It would be great fit for https://keras.io/examples/keras_recipes/
cc. @fchollet

[2022-09-23 13:51] sushreebarsa commented on #17070
@EZMarouane Could you please refer to this [link](https://keras.io/examples/audio/transformer_asr/) and let us know if it helps?
Thank you!

[2022-09-23 21:30] jeisinge opened #17072 "IntegerLookup fails for XLA"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.1
- Python version: 3.9.5
- Bazel version (if compiling from source):
- GPU model and memory: Nvidia A100,

[2022-09-24 01:23] balvisio commented on #16124
I am facing the same issue. Is there an explanation for this behavior?

[2022-09-24 06:23] chunduriv commented on #16314
The issue was able to reproduce on colab using `TF-nightly 2.11.0-dev20220921`, Please find the [gist](https://colab.sandbox.google.com/gist/chunduriv/b54d6cbd91bc05996171cae3f302b873/16314.ipynb) here for reference. Thank you

[2022-09-24 08:40] gadagashwini commented on #17057
Hi @samrajkodai, Could you try the workaround mentioned on similar issue [here](https://github.com/keras-team/keras/issues/4875#issuecomment-1255280893). Thank you!

[2022-09-24 08:54] old-school-kid commented on #17029
@haifeng-jin
I am interested in working on this.
I was thinking maybe we could find the activation of the output layer of the model and if it were `softmax` then `categorical_crossentropy`  loss function is good enough, and `binary_crossentropy` would practically work all the time, although we can do the same for `binary_crossentropy`  and `sigmoid`  activation function.

[2022-09-24 09:02] old-school-kid commented on #16969
@gadagashwini @cheyennee
Logically, yes it should throw an error. But i tried it multiple times and it initializes values in range `[minval, maxval]` or `[maxval, minval]` whichever holds.
I would be happy to send a PR, in case we think it is rquired.

[2022-09-24 10:14] tilakrayal commented on #17069
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/402106ca1dbe64da399a63a308df47ee/untitled172.ipynb).

[2022-09-24 11:57] tinyxuyan opened #17076 "layers.Masking causes model.fit much slower than not using this layer"
When I use layers.Masking, the model is trained much slower than not using case. The example code is given as below:

    RxInputSignal = keras.Input(shape=[72, 2, 256])
    xx = layers.Permute((1, 3, 2))(RxInputSignal)
    xx = layers.Reshape((72, 512))(xx)
    xx = layers.Masking(mask_value=0.)(xx)

    xS = layers.LayerNormalization()(xx)
    xS = layers.Bidirectional(layers.LSTM(768, return_se

[2022-09-24 14:07] Hrayo712 commented on #16930
Any update on this, team ?

[2022-09-24 17:26] RoyiAvital commented on #15351
@gowthamkpr , Wouldn't it be better if this issue is solved by a code which does as documented?

[2022-09-25 01:06] #17076 closed

[2022-09-26 02:47] haifeng-jin commented on #17029
Based on our discussion in the team, we agreed on raise a warning if the y_true and y_pred are single dimensional vectors.
We prefer no complicated solution to this problem.

[2022-09-26 03:45] sudheerpunuri opened #17079 "Multi-Class Classification with Probalities"
Dear All:
Can anyone suggest me a Multi-class classifier which give probabilities.  By using these probability I wanted to rank the classes.

[2022-09-26 04:53] sky-2002 commented on #17024
Hello @gadagashwini , Do I need to wait for a review/comment on the proposed solution or can I create a PR ?

[2022-09-26 05:23] old-school-kid commented on #17029
@haifeng-jin
So is this issue still open for contribution? Can I work on it?

[2022-09-26 06:27] samrajkodai commented on #4875
@hanneswilms

hi ,i followed the same steps as you mentioned above ,it works fine in the same teriminal but when i restart the terminal or open the new jupyter notebook for testing it gives the random prediction only.

[2022-09-26 06:27] samrajkodai commented on #17057
hi @gadagashwini  my problem is not solved i tried this too.

[2022-09-26 11:42] tilakrayal commented on #17072
@gowthamkpr ,
I was able to reproduce the issue on tensorflow [v2.8](https://colab.research.google.com/gist/tilakrayal/15c41adf46cdd76901c8806fb762004b/2-8.ipynb#scrollTo=FhIC9wJLk47h), [v2.9](https://colab.research.google.com/gist/tilakrayal/b94325a56f470b415622902032938a28/2-9.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/5d10172e883f25232e3a5b67fa196490/2-11.ipynb). Kin

[2022-09-26 13:47] #17045 closed

[2022-09-26 14:16] haifeng-jin commented on #17029
@old-school-kid Yes. Thank you!
Please create a pull request and mention me.
I will guide you through the rest of the process.

[2022-09-26 18:12] hertschuh commented on #16930
@Hrayo712 ,
I confirm this is an issue. It has to do with the implementation of the Tensorflow **tf.nn.\*conv\*** ops, which Keras layers are based on.
In fact, there is an inconsistency. On TPU you do get the expected output shape. The inconsistency has to do with how dilation is implemented on CPU and GPU.
I reported this to the Tensorflow team who owns convolution ops. The original bug you crea

[2022-09-27 00:46] KarthiAru opened #17085 "Adan Optimizer"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-09-27 00:47] KarthiAru commented on #17085
@Rocketknight1 @cpuimage Would you like to contribute to this feature request?

[2022-09-27 08:57] redaelhail commented on #11434
I had the same issue, but it was caused because of a negative dimension error, I had to check the model architecture in a separate file and everything was fixed.

[2022-09-27 09:20] Zahlii commented on #17007
@tilakrayal  I'd like to re-open this, as the label suggested to me that we are still waiting for a reply from a tensorflow contributor.

I am perfectly aware of the introduced API changes you described, but as mentioned above they lead to a huge reproducibility problem which can NOT easily be fixed, as we do not control the code generating the initializers for most pre-trained / hub models!

[2022-09-27 19:07] meliksahturker commented on #16633
I came across here looking for gradient accumulation where I will train using:
1- Multiple GPUs.
2- FP16
3- Functional API.

My specific case is to train large language models (e.g., BART/PEGASUS) without TPUs or 100s of GPUs.
In order to match the batch_size = 8000 mentioned in these papers, GA is a must.
BART mentions that (in Section 5, sentence 1) training language models with very large batch

[2022-09-27 19:16] #16645 closed

[2022-09-27 19:34] meliksahturker commented on #16633
I have looked into it but seeing that it does not support multi-GPUs, I haven't tested your tool.

I thought of trying [this](https://github.com/keras-team/keras/issues/14829#issuecomment-880561028) which has an example that seems to work with multi-gpu setting but, it seems you are aware of its existence and you have developed your tool despite that. So my question is, have you experienced an iss

[2022-09-27 19:48] andreped commented on #16633
@meliksahturker If you follow the commit history of the tool you will see that I used the code you mentioned as baseline. However, I did not reach the same results as regular batch training, which is why I also went with a different approach.

In TF 2.2, it was made possible to overload the 'train_step' method of the Model class. This enabled me to trivially add GA support as well as have full con

[2022-09-27 20:02] meliksahturker commented on #16633
This is great insight, especially regarding testing [fsx950223](https://github.com/fsx950223)'s implementation thoroughly!

Since LMs are Transformer-based, which use BN heavily, then I think I will choose skipping GA for now.
The issue with BN and GA make it even more crucial for this feature to be added to fit() as a complete and noob friendly parameter, e.g. grad_accumulation_steps = 4.

[2022-09-27 20:09] andreped commented on #16633
Definitely. It should just be an argument to set in Model.fit() or similar. GA is already available in pytorch-lightning, and others have added support for GA in their framework. About time Keras does the same.

But note that making BN compatible with GA is definitely not easy. There was some people in the PyTorch forum that tried, but I have yet to see a working solution. Not tempted to try mysel

[2022-09-27 21:53] #16906 closed

[2022-09-27 21:53] #16944 closed

[2022-09-27 22:43] gototophao commented on #15698
could you tell me how you solve this problem, i start to learn this so dont understand it.

[2022-09-27 22:43] gototophao commented on #15698
@SeanLee97

[2022-09-28 02:05] sky712345678 commented on #16978
@gadagashwini can you talk a little bit more about the reason why we can safely ignore it? Thank you!

[2022-09-28 04:30] samrajkodai commented on #17057
hi @gadagashwini any updates?

[2022-09-28 08:36] ascillitoe opened #17091 "Clarify functionality of deserialized subclassed models in docs"
Duplicate of https://github.com/tensorflow/tensorflow/issues/57858.

**URL(s) with the issue:**.

https://www.tensorflow.org/guide/keras/save_and_serialize

**Description of issue (what needs to be changed):**.

In the `SavedModel` format documentation [here](https://www.tensorflow.org/guide/keras/save_and_serialize#how_savedmodel_handles_custom_objects), it says:

and:

I am finding that when a s

[2022-09-28 09:44] rozhanroukhosh commented on #16016
up, I have the same issue

[2022-09-28 12:56] tilakrayal commented on #17079
@sudheerpunuri,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-09-28 14:54] sudheerpunuri commented on #17079
I need a classifier for multiclass classification. I have 7 classes in my dataset. The classifier must give the probabilities. Pls suggest.

[2022-09-28 14:59] sudheerpunuri opened #17092 "Multi-Kernel ELM"
Hiii All:
Can anyone suggest or give an idea on the implementation of Multi Kernel Extreme Learning Machine (MKELM) for Deep Neural Networks? Later I need to apply particle swarm optimization (PSO) for the optimization of the classifier.

[2022-09-28 17:28] lmliang123 opened #17093 "multi head attention layer problem"
when I build multi_head_self_attention ,I found the param of this layer is 0,what is wrong with this attention layer？what should i do to modify this layer?

[code]
x = MultiHeadSelfAttention(embed_dim, num_heads)(embed_input)

[2022-09-28 18:35] zuranski commented on #341
A solution from @AZippelius in their [comment](https://github.com/keras-team/keras/issues/341#issuecomment-547833394) works well, however, when creating an LSTM layer, the bias of the forget cell is set to 1 and other biases are set to 0. This is according to some tribal knowledge that it makes training easier. The bias_initializer of the lstm_cell is Zeros, so running the function zeros all the b

[2022-09-28 21:00] jbischof commented on #16946
I think ideally that the method should return a path to the extracted file @Pouyanpi. In my colab we see that `gzip_file` points to the downloaded file `/content/bert_base_uncased.tar.gz`.

However, if extraction is not an issue, why does the utility create a copy of the gzip file in the same directory? I am offering a path for the `fname` arg.

[2022-09-28 21:05] DEKHTIARJonathan opened #17094 "[Keras] `Conv2DTranspose` constfolding issue with variable batch size."
### TF Version
TF 2.10

## Gist of the issue

The `Conv2DTranspose` does not behave the same when batch_size is fixed (e.g. batch_size=32) and when it's variable (e.g. batch_size=None). The problem seems to reside in the way `constant_folding` is working or in the way `input_sizes` is managed (which in this context is actually meaning the output shape).

## Google Colab for Repro

Full repro case

[2022-09-28 21:42] gowthamkpr commented on #16766
@skbaur As mentioned [above](https://github.com/keras-team/keras/issues/16766#issuecomment-1184717041), explicitly y argument solves this issue. I am going ahead and closing this issue as it has been inactive for a while. Please add additional comments to open this issue again. Thanks!!

[2022-09-28 21:42] #16766 closed

[2022-09-28 22:06] haifeng-jin commented on #17085
Hi @KarthiAru ,

Thanks for the issue!
We currently only accept widely applied techniques in Keras core package.
Unless it is widely adopted and have proofs with good performance we would rather not have this feature for now.

You are welcome to propose a tutorial on how to implement this to the https://keras.io/examples

[2022-09-28 22:06] #17085 closed

[2022-09-28 22:09] haifeng-jin commented on #17046
Does these all fit into a Colab notebook?

[2022-09-28 22:35] gowthamkpr commented on #16123
@ricvo You can visualize the graph with tf.keras.utils.plot_model(model, show_shapes=True, show_dtype=True). It could help to find disconnected parts of the graph or errors in the model architecture.

[2022-09-28 23:35] haifeng-jin commented on #17024
Summary: cloned model have same name with the original model. It is not convenient for comparing the two models afterwards.

Are there other side effects of having the same name for two models? like the name space for the weights.

[2022-09-28 23:37] haifeng-jin commented on #17013
Summary: support `.webp` format of images in `tf.keras.utils.image_dataset_from_directory( )`.

Maybe we can mark it as contribution welcome?

[2022-09-28 23:47] haifeng-jin commented on #17008
Summry: This model cannot be save and load. (Minor modification made to the original snippet, tested with colab)
[code]

[2022-09-29 06:46] bjfrbjx commented on #4875
I forgotten /=255 。。。。

[2022-09-29 07:01] innat commented on #16984
Okay, it looks like if I rename the variablen ame as follows, it doesn't throw error.

[code]

**previous** (gives error)

[code]

Is it expected? However, I think it solves the issue. Feel free to close the issue if you don't want to add anything.

[2022-09-29 09:49] MominAhmedShaikh commented on #17079
Make a Simple CNN model with **softmax** as an activation in the last dense layer with no. of output as 7.
It will give you probabilities of the class predicted and later on you can use those probabilities to rank your classes.

You can refer to this repository where i had **50 classes** to predict.

[https://github.com/MominAhmedShaikh/CNN-Multiclass-classification-BarkVNet-50](url)

[2022-09-29 11:25] #17023 closed

[2022-09-29 12:41] ricvo commented on #16123
Hi @gowthamkpr thanks for your answer. Actually my point is that the graph should not be disconnected in this situation.
Please give a look at the code I posted above.
`joint_model` is the composition of `model1` and `model2`.
In fact I do understand that the symbolic output of `model2` aka `joint_model.layers[1]` is connected only to the input of the internal model, in fact the following works
[c

[2022-09-29 13:02] tilakrayal commented on #17093
@lmliang123,
In order to expedite the trouble-shooting process, could you please provide a complete code snippet and the TensorFlow version you are using. Thank you!

[2022-09-29 14:36] anselmoferreira commented on #14331
I am facing the same problem. Also with TF 2.4.0.

[2022-09-29 14:57] ricvo commented on #16123
@isaacgerg You are right. That phrase is misleading, actually I think I did not express myself properly there.
Let me clarify. The following alternatives both work:
[code]
These instead do not work:
[code]

But actually, even where it works, we are rebuilding the network again until the node of interest (potentially in the original `joint_model` we could have many other layers after `model2`, and

[2022-09-29 16:41] isaacgerg commented on #16123
@ricvo
Great, it sounds like we are in agreement after you clarification.

It is odd bug that graph building can operate beyond the borders of a model.  It would seem that this constraint would prevent the compilation procedure from working correctly (how would it resolve the tree to build the model?). This makes me suspect there is a bug somewhere in the tf keras code.

[2022-09-29 17:28] gowthamkpr commented on #16978
@sky712345678 This looks like an issue from tensorflow. Can you please create this issue in [tensorflow/tensorflow](https://github.com/tensorflow/tensorflow/issues/new/choose). Thank you!!

[2022-09-29 18:07] haifeng-jin commented on #17046
https://www.tensorflow.org/tfx/tutorials/serving/rest_simple
@dimitreOliveira
Will the contributed tutorial different from this one?

[2022-09-29 20:53] rchao commented on #17008
Thanks for reporting the issue - at this point we're lacking bandwidth to look further into this and community contribution for a potential fix is welcomed.

[2022-09-29 22:03] fchollet commented on #17013
If you (@Lunatik00) or another contributor is able to open a functional & performant PR to add `webp` support, we will review and merge.

Otherwise, one workaround you can try is to first convert your webps to pngs via a very small shell script. You can use the dwebp utility, e.g. `dwebp file.webp -o file.png`.

[2022-09-29 22:34] divyashreepathihalli commented on #17024
@sky-2002 are you able to set the model name using `name` attribute?
example : `model.name="NAME"`. Please let me know if this solves the inconvenience.

[2022-09-29 23:44] Lunatik00 commented on #17013
For now it is with workarounds, the function that must be modified first is the tf.decode_image and at least I don't completely understand it for now, as I said, I understand how to make it work with my particular problem but that is not a general solution, since I have negative time available for now I am using other formats, if I have the time I will try to make the decode image function to work

[2022-09-30 11:50] princyiakov opened #17101 "Keras Integration Issue with Cloudpickle for AdamW optimizer #57722"
**Issue Type**
Bug

**Source**
binary

**Tensorflow Version**
2.8

**Custom Code**
No

**OS Platform and Distribution**
Linux

**Python version**
3.9

**Current Behaviour?**
Hi team,
Tensorflow model with AdamWeightDecay optimizer does not load with cloudpickle. Here is the error when I load the pickled model:
“ValueError: Unknown optimizer: AdamWeightDecay. Please ensure this object is passed to

[2022-09-30 14:19] PierrickPochelu opened #17102 "Categorical Cross Entropy normalization issue ?"
In `categorical_crossentropy`, I suspect this normalization line to be not useful and leads to 2 unexpected behaviors
https://github.com/keras-team/keras/blob/b80dd12da9c0bc3f569eca3455e77762cf2ee8ef/keras/backend.py#L5540

The upper block handle logits and returns something if it is a logit.
Therefore, L5540 is called when it is NOT a logit (sum of proba=1). AFAIK the values are already normalize

[2022-09-30 17:12] znorman-harris commented on #16173
Just adding some more user feedback, I also agree that having the immediate batch metrics is a key and important user experience when training. Not only can it help you catch, very quickly, if you might have done something wrong, it is nice to see that something is happening. For example: if it takes 40 minutes to process an epoch of data, I don't want to wait 40 minutes to see how my model is per

[2022-09-30 17:58] timothyslau opened #17105 "ValueError: Graph disconnected: cannot obtain value for tensor KerasTensor(type_spec=TensorSpec(shape=(None, 10), dtype=tf.float32,"
**Problem Description:**
I am getting a graph disconnection error when I try to combine different input types.  I expect to get a functioning model fit. Keras is having an issue concatenating the different inputs.

**Error Output**
`ValueError: Graph disconnected: cannot obtain value for tensor KerasTensor(type_spec=TensorSpec(shape=(None, 10), dtype=tf.int64, name='numeric_input'), name='numeric_

[2022-09-30 18:19] JanOlucha commented on #10806
This worked perfectly for me!

[2022-09-30 18:41] sampathweb commented on #16827
@bvbellomo - Yes, batch norm should work in the inputs as well.  But there's a typo in your network definition, you are overriding `inputs`, but its required later for defining the `Model`.

Your code:
[code]

As you can see you are not keeping track of inputs and its overwritten.
Fix -
[code]

After this change, it should work  as expected and see all layers even when you keep BatchNorm right aft

[2022-10-01 11:19] ravinderkhatri commented on #15606
@rchao  Done. I have added tf.debugging.disable_traceback_filtering() at the beginning of the program

[2022-10-01 14:05] PierrickPochelu commented on #17105
[code]

returns

_Epoch 1/5
4/4 [==============================] - 3s 205ms/step - loss: 0.3886 - mean_squared_error: 0.3886 - val_loss: 0.0838 - val_mean_squared_error: 0.0838
Epoch 2/5
4/4 [==============================] - 0s 9ms/step - loss: 0.1614 - mean_squared_error: 0.1614 - val_loss: 0.0519 - val_mean_squared_error: 0.0519
Epoch 3/5
4/4 [==============================] - 0s 9ms/step - los

[2022-10-01 18:25] #15351 closed

[2022-10-01 18:59] dimitreOliveira commented on #17046
Hi @haifeng-jin , yes `option 1` would be similar to that with some additional information about model signatures, I believe that it could fit well into a notebook. Another advantage is that we would have an example of that on the Keras code example page, it could be easier for new users to find it. Let me know if you think that it would be a good addition.

[2022-10-01 19:32] PierrickPochelu commented on #17046
Why use keras if you can use more dedicated inference frameworks such as tensorrt, openvino, onnx-runtime, TF ...

[2022-10-01 19:52] dimitreOliveira commented on #17046
I am not quite sure of what you mean here, but my idea is to create an example of serving Keras models with TFServing, both of them belong to the TensorFlow ecosystem.

[2022-10-02 00:03] #17105 closed

[2022-10-02 01:36] mrallam commented on #13586
I had to create an instance of OneHotEncoder to fixe my code and it worked :)

from sklearn.compose import ColumnTransformer

num_attribs = list(housing_num)
cat_attribs = ["ocean_proximity"]
oneHot = OneHotEncoder()
full_pipeline = ColumnTransformer([
    ("num",num_pipline,num_attribs),
    ("cat",oneHot,cat_attribs),
])

housing_prepared = full_pipeline.fit_transform(housing)

[2022-10-02 06:27] sky-2002 commented on #17024
Hello @divyashreepathihalli , I found out one solution to this, by looking at the source code, it seems that if I change the `model._name` attribute, I can alter the name of the cloned model. However as you had mentioned, we cannot use `model.name="NAME"` because `model.name` conflicts with the existing read only property of the model object. So if someone wants to have a different name to their c

[2022-10-02 08:19] divyashreepathihalli commented on #17024
Awesome that you found the solution you are looking for 😄 ! I will close the issue. Thanks!

[2022-10-02 08:19] #17024 closed

[2022-10-02 08:52] foxik commented on #16978
@gowthamkpr Well, the problem was first reported in tensorflow as https://github.com/tensorflow/tensorflow/issues/57052, but the guys there told the reporter to instead post an issue here.

If you know any more details (why it is a TensorFlow issue), could you please provide more details that we can give to the TF guys?

[2022-10-02 21:18] mojimich2015 commented on #9822
Have the same issue.
My Code:
[code]

[2022-10-02 21:26] mojimich2015 commented on #9822
No worries, Just used the default saving model with pb format.

[2022-10-03 05:26] tilakrayal commented on #17079
@sudheerpunuri,
Could you please take a look at this [comment](https://github.com/keras-team/keras/issues/17079#issuecomment-1262040468) from the user & refer to the doc [link](https://github.com/MominAhmedShaikh/CNN-Multiclass-classification-BarkVNet-50) and try to test the code on a new virtual environment. Thank you!

[2022-10-03 08:04] Vincent-SV commented on #17047
The PR has been merged 3 days ago so it should be fixed, but I don't find it even when I pip install tf-nightly. I don't find the bugfix in the python files, I'm not sure how this works.

[2022-10-03 13:10] lucasdavid commented on #17102
`tf.math.divide_no_nan` would fix the first edge case. However, assuming a correct usage of the API, I'm not sure it would ever happen in the first place: it's impossible for the softmax function to produce an output `[0., 0., 0.]` because $e^x > 0, \forall x\in \mathbb{R}$.

[2022-10-03 16:55] nkovela1 commented on #16173
I have added a section called "Batch-level logging" to a tutorial in the Tensorboard Github:
https://github.com/tensorflow/tensorboard/blob/master/docs/scalars_and_keras.ipynb

I think the more common use case is addressed in the section titled "Instantaneous batch-level logging." I hope this guide is helpful to users who previously tried using update_freq.

[2022-10-04 06:56] sushreebarsa commented on #17094
@gadagashwini I was able to replicate the issue on colab, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/0251f72fdb8eb2d6d343eb988092ce02/conv2dbackpropinput-fun.ipynb) for reference. Thank you!

[2022-10-04 07:07] sushreebarsa commented on #17102
@PierrickPochelu Could you refer to the [comment](https://github.com/keras-team/keras/issues/17102#issuecomment-1265415985) above and let us know if it helps?
Thank you!

[2022-10-04 07:31] Xu-Justin commented on #11749
I'm having the same problem. Changing loss from `sparse_categorical_crossentropy` to `categorical_crossentropy` (remember to change the sparse label format to one hot label format) solved the issue.

[2022-10-04 07:31] PierrickPochelu commented on #17102
yes it is

[2022-10-04 07:40] sushreebarsa commented on #17102
@PierrickPochelu Thank you for the confirmation!

[2022-10-04 09:34] dr-mw opened #17110 "Image augmentation with Sequential doesn't work if there is a Dropout layer."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
Yes, but very close to F. Chollets newest book "Deep Learning with Python 2nd Edition"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Reproduced on:
macOS 12.5.1
Ubuntu 22.04.1 LTS
Google Colab
- TensorFlow installed from (source or binary):
Binary on both systems (on Co

[2022-10-04 10:36] tilakrayal commented on #17101
@princyiakov,
Code shared is full of [indentation errors](https://colab.research.google.com/gist/tilakrayal/4e00f3af2f2b18ad87f07c7b18a7d1d1/untitled645.ipynb), please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-10-04 12:34] princyiakov commented on #17101
`!pip install -q -U "tensorflow-text==2.8.*"
!pip install cloudpickle
!pip install -q tf-models-official==2.7.0

import os
import shutil
import cloudpickle
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text
from official.nlp import optimization  # to create AdamW optimizer

url = 'https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz'

dataset = tf.keras.

[2022-10-04 12:36] princyiakov commented on #17101
[code]

[2022-10-04 16:28] zibbini commented on #16907
I was able to fix this by adding in casts to the appropriate dtype for the the `build` and `__call__` functions (lines [219](https://github.com/keras-team/keras/blob/b80dd12da9c0bc3f569eca3455e77762cf2ee8ef/keras/applications/convnext.py#L219)-[225](https://github.com/keras-team/keras/blob/b80dd12da9c0bc3f569eca3455e77762cf2ee8ef/keras/applications/convnext.py#L225)) in the custom layer [LayerScal

[2022-10-04 17:41] andreped commented on #16907
Interesting, @zibbini. LGTM. Can run some checks tomorrow.

[2022-10-04 18:59] divyashreepathihalli commented on #12734
you can now do this. Keras nightly version has added a new util `keras.utils.warmstart_embedding_matrix`. Using this you can continuously train your model with changing vocabulary. https://www.tensorflow.org/api_docs/python/tf/keras/utils/warmstart_embedding_matrix

[2022-10-04 20:36] gowthamkpr commented on #16123
@qlzh727 Can you PTAL? Thanks!

[2022-10-04 20:43] gowthamkpr commented on #16973
In the [docs](https://www.tensorflow.org/api_docs/python/tf/keras/layers/SeparableConv2D), its mentioned that `strides` is an integer or tuple/list of 2 integers, specifying the strides of the convolution along the height and width. Can be a single integer to specify the same value for all spatial dimensions. Current implementation only supports equal length strides in the row and column dimension

[2022-10-04 21:56] gowthamkpr commented on #16986
@maybeLee I don't run into any error on CPU with tf-nughtly. Please find the [gist](https://colab.research.google.com/gist/gowthamkpr/8082324a48f2c282dff52b6f15691518/untitled390.ipynb)

[2022-10-04 22:04] gowthamkpr commented on #17057
@samrajkodai Please give us entire code to reproduce this issue. Please follow the steps mentioned [here](https://github.com/keras-team/keras/issues/4875#issuecomment-1255280893) and let me know if it helps. Thanks!!

[2022-10-04 23:25] haifeng-jin commented on #17046
@dimitreOliveira
Thank you!
Wait for @fchollet comment before you start.

[2022-10-05 00:14] nmatare opened #17113 "TypeSpec `tf.keras.layers.Input` fails to propagate the name property"
**System information**.
[code]

**Describe the problem**.

Specifying a keras input layer with TypeSpec fails to propagate the layer name.

Patching the hidden attribute `_name` works only for the current session. Otherwise, de(serializing) the model fails with the layer defaulting to the `None` name.

This is true of dense, ragged, and sparse tensors.

**Describe the current behavior**.

[code]

[2022-10-05 05:07] samrajkodai commented on #17057
[issue (2).txt](https://github.com/keras-team/keras/files/9712888/issue.2.txt)

hi ,i already tried that too ,it works fine in the same teriminal but when i restart the terminal or open the new jupyter notebook for testing it gives the random prediction only.

[2022-10-05 07:31] maybeLee commented on #16986
@gowthamkpr ,

Thanks for your investigation. I tried on CPU with tf-nightly again, it seems that this issue has been fixed. Thanks for your help.

[2022-10-05 07:31] #16986 closed

[2022-10-05 19:16] #16661 closed

[2022-10-05 20:16] #14126 closed

[2022-10-06 11:35] dimitreOliveira commented on #17046
Awesome, thank you very much guys, I will start working on this next week.

[2022-10-06 11:35] #17046 closed

[2022-10-06 12:13] dr-mw commented on #17110
@tilakrayal ,
I tested your gist. You need to set reproduce_dropout_error = True on line 9, restart the runtime and then the image augmentation will fail (displays 9 times the same image).

[2022-10-06 12:16] sushreebarsa commented on #17102
@PierrickPochelu Could you please confirm if this issue is resolved?
Thank you!

[2022-10-06 13:03] renguote opened #17118 "why my 'workers=4,use_multiprocessing=True' do not work while training?"
You can obtain the TensorFlow version with:
TF  2.10
**Describe the problem**.
**Describe the current behavior**.
history = model.fit(train_model_input, epochs=1, verbose=1, validation_split=0.0,steps_per_epoch= math.ceil( train_row_len/256), workers=4,use_multiprocessing=True).
As you see, 'workers=4,use_multiprocessing=True'  don't  work while training.I find it only 100% CPU-Util not the expect

[2022-10-06 13:44] sushreebarsa commented on #17113
@nmatare I tried to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/edbad638fd6791af852c7426417fd81a/untitled719.ipynb#scrollTo=P89jqIbqgzyk) here and confirm the same?
Thank you!

[2022-10-06 16:37] nmatare commented on #17113
Confirmed! The name should not be `None`, it should be "test".

[2022-10-06 17:23] qlzh727 commented on #16970
The suggest workaround on Keras side is to force the initializer to be float32, and cast the return back to layers.dtype.

[2022-10-06 18:16] #16999 closed

[2022-10-07 04:23] tilakrayal commented on #17101
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.10 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/8828dbea3e51cf6a3af800aa05c10730/untitled653.ipynb).

[2022-10-07 08:59] will-cern opened #17125 "Unexpected result from BinaryCrossEntropy loss calculation in keras fit/evaluate"
Hello,

I am opening this issue here in response to the potential bug described here: https://discuss.tensorflow.org/t/how-is-binarycrossentropy-loss-calculated-in-keras-fit-evaluate/11331/11  The reproducer code is as follows (in tf 2.8.2):

[code]

The last two ways of calculating the loss agree and are what I would expect, but the value returned by the `evaluate` method is different and unexpla

[2022-10-07 12:08] gadagashwini commented on #17092
Hi @sudheerpunuri, Could you explain the feature in more detail with example or use cases. Thank you!

[2022-10-07 12:27] PierrickPochelu commented on #17102
reduce_sum should be called only when it is mandatory.

By removing this line I reduce the computing time from 16 sec to 12 sec without changing the output: https://colab.research.google.com/drive/1GFXQxfw_4gwMU6vIo8fNDPGCwnbOSp2o?usp=sharing

To make the benchmark I take an example similar to Imagenet dimensions: 1 million samples (1e5 called 10 times due to memory limit) and 1 thousand classes.

[2022-10-07 12:56] andreped commented on #16907
@zibbini Just ran some experiments, but ran into more issues. See [gist](https://colab.research.google.com/gist/andreped/7e8bf14d7db851bdf4f43d35f6c9c787/untitled503.ipynb#scrollTo=izDg48QF1YDI).

After adding your modifications, it seems to work, but it fails to load the pretrained weights.

[2022-10-07 15:16] #17070 closed

[2022-10-07 21:52] PierrickPochelu commented on #17125
I don't really understand why and how evaluate() returns this loss value. However, if you ask the "crossentropy" metrics you will have matching results.

[code]

returns:

train_q =  [[0.49278286 0.50721717]]
1/1 [==============================] - 1s 587ms/step - loss: 0.7004 - crossentropy: 0.7077
Evaluated loss =  [0.7004469633102417, **0.707686**6030693054]
Function loss =  **0.707686**54
Manua

[2022-10-08 09:28] dr-mw commented on #17110
@tilakrayal:
I saw you classified this issue as support. Just to clarify: I don't need any support here. I only want to report an anomalous behavior. To make it easier, I made the example more minimalistic:
https://colab.research.google.com/drive/1HbO8R9c1AJjapzCjB2WM7EIHz2U6H7Zp?usp=sharing

But the core issue remains the same:
1.  Dropout layer in line 9 commented out: augmentation works.
2. Dro

[2022-10-08 09:31] yajunDai opened #17130 "Tensorborad show Learning rate on every batch"
First:
[code]
And Then when train:
[code]
Last:
![image](https://user-images.githubusercontent.com/69563639/194700777-e52d0720-0f6d-4f63-94c6-fd07345c1466.png)

there's not batch_lr. why?

Thanks

[2022-10-08 14:11] lucasdavid commented on #8740
This issue has been closed for a while, but I had this problem today (related to the HPA-image-classification competition) and maybe I can help somebody else.
So, yes... You can't change the graph once it's created, as far as I know. You need two networks for this:
[code]

Cheers.

[2022-10-09 16:18] foxik commented on #16978
@gowthamkpr The issue was originally a TF issue, but we were redirected to post it here. If you know any more details (why it is a TF issue and not Keras), could you please provide more details that we can give to the TF guys? Thanks!

[2022-10-09 20:47] AMedicalDataAnalyst opened #17133 "Feature request: image_dataset_from_directory to provide 'test' option in subset"
### Describe the problem
The image_dataset_from_directory is a useful function that allows one to separate a dataset into train and validation splits. However, most research requires a train/validation/test split. Having a withheld test dataset would make it easier to verify that the model is not overfitting.

Another necessary change would then be to the validation_split option. This would likely

[2022-10-10 09:26] sushreebarsa commented on #17133
@AMedicalDataAnalyst
Could you please elaborate about your feature and please specify the use cases for this feature. Thank you!

[2022-10-10 09:28] sushreebarsa commented on #17125
@will-cern Could you refer the comment above and keep us informed if it helps?
Thank you!

[2022-10-10 09:35] will-cern commented on #17125
So I can comment that I had also observed no issues whatsoever with categorical crossentropy loss function evaluation. I am not sure what the "crossentropy" option would correspond to, but if it corresponds to categorical crossentropy then that would be consistent.

My problem has always been restricted to the binary crossentropy loss function applied to networks with more than one output. This di

[2022-10-10 10:04] AMedicalDataAnalyst commented on #17133
Hi @sushreebarsa , thank you for the reply, and certainly.

A typical use of the image_dataset_from_directory function would be:

[code]

Resulting in a training and validation split, which are then input into a model like so:

[code]
However, if all of your data is in the base_path, then that means that you have no data left for testing that has not been used in the fitting of the model, so you w

[2022-10-10 10:40] tilakrayal commented on #17118
@renguote,
Code shared is full of [indentation errors](https://colab.research.google.com/gist/tilakrayal/6a44ac588014efda771584bc815567c8/untitled659.ipynb), please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported.

[2022-10-10 10:41] tilakrayal commented on #17130
@yajunDai,
To expedite the trouble-shooting process, could you please provide a complete code snippet and the TensorFlow version you are using. Thank you!

[2022-10-10 11:38] PierrickPochelu commented on #17125
I dive deeper into BinaryCrossentropy, here is 2 important pieces of information:

1)
There are 2 potential cross entropy distance:  Penalize when label=1 and pred=0 --> `loss=label * log(pred)`. The other one penalizes also when label=0 and pred=1 --> `loss=label*log(pred) + (1-label)*log(1-pred)` . It seems Binary_cross entropy is the second one.

2)
You can apply cross-entropy on those cases:
-

[2022-10-11 06:27] renguote commented on #17118
[The code](https://colab.research.google.com/gist/renguote/2128f3d0f633abbb52083d788add6bae/untitled659.ipynb) already works correctly，Thank you!

[2022-10-11 06:28] renguote commented on #17118
![image](https://user-images.githubusercontent.com/114635552/195012826-06299568-67c2-4162-8f12-773d3cbc8d10.png)

I start 4 processes, but only one process is working, the others are not working.

[2022-10-11 06:53] GoodTekken commented on #16234
您好，您的邮件已经收到 ！                   杨显洁

[2022-10-11 07:38] aliakdeniz38 commented on #16965
unsubscribe

On Tue, Sep 6, 2022 at 9:50 AM Peter Cotton ***@***.***>
wrote:

[2022-10-11 08:17] zrx563010758 commented on #16978
Unsubscribe

---Original---
From: "Milan ***@***.***&gt;
Date: Sun, Oct 2, 2022 16:54 PM
To: ***@***.***&gt;;
Cc: ***@***.***&gt;;
Subject: Re: [keras-team/keras] Type inference failed. This indicates aninvalid graph that escaped type checking. Error message: INVALID_ARGUMENT(Issue #16978)

@gowthamkpr Well, the problem was first reported in tensorflow as tensorflow/tensorflow#57052, but the guys

[2022-10-11 08:17] dongmeixu commented on #7362
您好，已收到您的来信，谢谢~~~

[2022-10-11 08:52] JohnTaylor2000 commented on #16498
Hi,

This was the code that I have been using. You can also find an implementation in scipy:-

https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.least_squares.html method=’lm’

Best wishes,

John

From: BUG|Fly ***@***.***>
Date: Monday, 23 May 2022 at 7:36 pm
To: keras-team/keras ***@***.***>
Cc: Taylor, John (Data61, Black Mountain) ***@***.***>, Mention ***@***.***>
Subject: R

[2022-10-11 14:09] hkristof03 opened #17136 "model.fit() class weights do not work when x is a generator and y is not provided"
According to the [tensorflow](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit) and [keras](https://keras.io/api/models/model_training_apis/) documentations, the class_weight parameter to the model.fit() function is described as:

Optional dictionary mapping class indices (integers) to a weight (float) value, used for weighting the loss function (during training only). This can be use

[2022-10-12 04:45] maybeLee opened #17138 "CosineSimilarity outputs result smaller than -1"
**Describe the problem**.
As discussed in https://github.com/tensorflow/tensorflow/issues/58031, when I calculate the cosine similarity loss using `tf.keras.losses.CosineSimilarity` between two arrays: `[[0,2,3]]` and `[[0,2,3]]`, it outputs `-1.0000001`. Following the documentation: https://www.tensorflow.org/api_docs/python/tf/keras/losses/CosineSimilarity, the output should be within the range:

[2022-10-12 09:53] PierrickPochelu commented on #17125
The neural network output have different meaning according the final activation function (sigmoid or argmax). Therefore, the loss (or the person developing the loss) has different input expectations.

Let's take an example to illustrate:

We develop a model predicting if an animal is a mammal, and if it is oviparous. At first glance, let's consider they are 2 mutually exclusive classes. Those opti

[2022-10-12 12:14] tilakrayal commented on #17136
@hkristof03,
If you are talking about the regular case, where your network produces only one output, then your assumption is correct. In order to force your algorithm to treat every instance of class 1 as 50 instances of class 0 you have to:

Define a dictionary with your labels and their associated weights

[code]
Feed the dictionary as a parameter:

`model.fit(X_train, Y_train, nb_epoch=5, batch

[2022-10-12 12:15] tilakrayal commented on #17136
The class_weight parameter of the fit() function is a dictionary mapping classes to a weight value.

If we have 500 samples of class 0 and 1500 samples of class 1 then you feed in class_weight = {0:3 , 1:1}. That gives class 0 three times the weight of class 1.

train_generator.classes gives you the proper class names for your weighting.

If you want to calculate this programmatically you can use

[2022-10-12 12:40] tilakrayal commented on #15181
@chjanp,
It was not the batch size that was causing it, but rather missing singleton dimension in the weights, so the weights tensor should have been [1, Height, Width, 1] and squeezing is applied on the channel dimension.
When using keras to load the model (load_model()) please replace that with tf.keras.models.load_model().

Also the provided labels are of the wrong shape. Please refer to this d

[2022-10-12 12:50] tilakrayal commented on #15179
@NKM999,
Could you please try below code where we are trying to merge two Deep learning models

[code]

We could able to feed 2 different types of data to the model like images in the first model and Textual Data in the second model accordingly.

Also please take a look at this [issue](https://github.com/keras-team/keras/issues/401) with a similar request for the reference. Thank you!

[2022-10-12 13:11] tilakrayal commented on #15135
@HunderlineK,
I tried to execute the code with the alternative approach and haven't found any issue. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/df9e24da9ae9b025245850f78a8afd88/untitled670.ipynb) and let us know if it works in this case. Thank you!

[2022-10-12 13:20] frost-is opened #17141 "Impossible to create dataset with non-infered labels"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Not really
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): apt
- TensorFlow version (use command below): 2.10
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU model and memory: NVidia

[2022-10-12 13:48] tilakrayal commented on #15425
@arisliang,
The related PR patch gets merged and I can see **show_trainable** argument in keras `master`.
https://github.com/mfidabel/keras/blob/master/keras/utils/layer_utils.py

![image](https://user-images.githubusercontent.com/81610181/195360142-b17f2695-a08e-463b-abfb-9b522d5c8a9a.png)

Could you please take a look at the layer_utils.py file and let us know if you are facing a similar issue.

[2022-10-12 16:09] frost-is opened #17143 "Wrongs weights for pretrained models"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): apt
- TensorFlow version (use command below): 2.10
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU model and memory: NVidia A100 - 4

[2022-10-12 21:48] mfidabel commented on #15425
I think he is trying to print which layers are trainable on the plot_model() visualization tool instead of the model.summary() function. AFAIK, this hasn't be implemented yet.

<img width="559" alt="Captura de Pantalla 2022-10-12 a la(s) 18 48 25" src="https://user-images.githubusercontent.com/18636378/195454414-67b66abe-f60b-4893-8695-ea3ae40abd22.png">

[2022-10-12 23:54] gowthamkpr commented on #17101
@princyiakov Can you please explain why you didn't use [model.save()](https://www.tensorflow.org/guide/keras/save_and_serialize#savedmodel_format) as thats the recommend way to save the model. Thanks!!

[2022-10-13 00:08] mfidabel commented on #15425
Added `show_trainable` to `plot_model`. It should look something like this:

![model_trainable](https://user-images.githubusercontent.com/18636378/195469866-dbb40180-f2b7-4b82-8536-32eedeaa59d4.png)

Where 'T' means the layer is trainable and 'NT' means the layer isn't trainable

[2022-10-13 02:29] sampathweb commented on #17138
It's a rounding issue with floating point numbers when calculating L2 Norm. Can you create a PR to clip the values to -1, 1 in `cosine_similarity` function -
https://github.com/keras-team/keras/blob/master/keras/losses.py#L2470
possibly by -
[code]

[2022-10-13 02:33] sampathweb commented on #17138
To be consistent with other places in codebase, its better to clip via `backend.clip(res, -1, 1)` similar to how its done here - https://github.com/keras-team/keras/blob/master/keras/losses.py#L2386

[2022-10-13 02:56] maybeLee commented on #17138
Thanks for your reply, I have created a PR (https://github.com/keras-team/keras/pull/17147) following your suggestion.

[2022-10-13 06:54] sushreebarsa commented on #17138
@maybeLee Thank you for raising this issue. It will be closed once the PR is merged. Thank you!

[2022-10-13 09:56] Vincent-SV commented on #17047
Update : the bugfix is part of tf-nightly now, so the issue is solved

[2022-10-13 09:56] #17047 closed

[2022-10-13 10:36] tilakrayal commented on #14877
@Wenuka,
**Sample_weights** is used to provide a weight for each training sample. That means that you should pass a 1D array with the same number of elements as your training samples (indicating the weight for each of those samples). In case you are using temporal data you may instead pass a 2D array, enabling you to give weight to each timestep of each sample.

Also please try as mentioned below

[2022-10-13 10:42] Chizkiyahu opened #17148 "ONEDNN - Layer Normalization error"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution : ubuntu 18, ubuntu 20,redhat 7
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.
- Python version: 3.8.11
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to reprod

[2022-10-13 11:02] princyiakov commented on #17101
@gowthamkpr  Thank you for your response. Our application uses multiple models, frameworks and cloudpickle help us integrate the same with ease. Using model.save would restrict us to just tensorflow. We want to have the ease to integrate with all the frameworks and models.

[2022-10-13 11:20] jedrek-VL opened #17149 "Function _create_seed() in keras.backend causes DeprecationWarning in Python 3.10"
In [line 2032 of keras.backend.py](https://github.com/keras-team/keras/blob/af1408d3255e3db9067522762e22a6c454c56654/keras/backend.py#L2032) we call random.randint(1, 1e9), which causes DeprecationWarning in Python 3.10 and will raise an error in some future version of Python. I suggest to replace it with `random.randint(1, int(1e9))` or `random.randint(1, 1000000000)`.

[2022-10-13 12:45] tilakrayal commented on #17141
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/66633ac47fb53276aa04675ad751007a/frost_is_tf_issue.ipynb).

[2022-10-13 13:52] sushreebarsa commented on #17149
@jedrek-VL We have raised one PR to fix this issue. This ticket will be closed once the PR is merged.
Thank you!

[2022-10-13 14:03] tilakrayal commented on #17118
@renguote,
I tried to execute the given code and the execution runtime was more than expected and gist attached [here](https://colab.research.google.com/gist/tilakrayal/e5d2dadbc5c11d3f5e0ef6bff7d983c6/untitled675.ipynb). Could you please try to reduce the no. of epochs and the batch size and try to test on new virtual environment. Thank you!

[2022-10-13 14:24] tilakrayal commented on #14670
@SerdarHelli,
In Keras, you can do depthwise separable convolution (i.e. what a DepthwiseConv3D layer would do, if implemented), by using the Conv3D layer with groups=filters, where filters is the number of channels in your input tensor (which equals the number of channels in your output tensor, too). The only thing that's slightly annoying is that you need to know your number of input channels wh

[2022-10-13 14:44] chilin0525 commented on #15606
I encountered same issue, does the issue already resolved？
I also can provide my code and dataset if helpful for debug.

Some environment:
* OS: Ubuntu 20.04
* package
[code]

[2022-10-13 15:14] tilakrayal commented on #14915
@aucth,
I tried to execute the code on the latest tensorflow v2.9.2 and it was executed without any issues/error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/7569df19debeab4687c7971a71e493ab/untitled680.ipynb) and confirm if the issue still persists. Thank you!

[2022-10-13 15:57] samrajkodai commented on #17057
hi, have you find any solutions?

[2022-10-13 16:44] sampathweb commented on #17143
@frost-is - Thanks for raising the issue and providing code snippets.

Performance issue you observe in `resnet_v2` is due to the missing step of `preprocess_input` that squashes the inputs to -1 to 1.  `MobileNetV3Small` model has an optional parameter `include_preprocessing` that you set to `True` so you don't need any additional step to pre-process input.

Please apply the `preprocess_input` in

[2022-10-13 16:53] tanzhenyu commented on #15267
I will transfer this issue to KerasCV, if there's no objection

[2022-10-13 17:21] fchollet commented on #16978
The issue is at the level of the `dice_loss`. Can you try producing a reproduction script that only involves the loss function? Maybe just try to backprop through the loss function and see what happens.

I think this should be reproducible without involving any Keras logic, at which point the TF folks will definitely look at it. But anyway, as said before, this is just a warning, not something cri

[2022-10-13 18:14] alexmil2019 commented on #16973
can you add this feature. we need this!

[2022-10-13 18:26] PierrickPochelu commented on #17102
PR: https://github.com/keras-team/keras/pull/17140

[2022-10-13 18:32] hertschuh commented on #17094
@DEKHTIARJonathan
Thank you for the report, this is a very interesting finding. I do have a few questions:

- First, the colab you linked doesn't work as-is, a lot of utility functions you used are not defined: `get_model_func`, `fx_to_graphdef`, `get_constfolded_graphdef_from_fx`, `graphdef_to_dotfile` etc.
- The colab has a bunch of `Conv2D` not a `Conv2DTranspose`. But my question is, it this i

[2022-10-13 21:01] hertschuh commented on #17113
@nmatare

It is easy to change the code to propagate the `name` argument to the `InputLayer`. The `InputLayer` would then have that name, which would for instance be visible in the model summary (the name of the layer is on the left):

[code]

However, with that change in place, the test as you wrote it would still fail. In fact if you do `tf.keras.layers.Input(..., name="test")` today, it also fa

[2022-10-13 21:43] nmatare commented on #17113
Unfortunately, this seemingly insignificant name issue causes a lot of down stream effects. I've hacked around them for some, but I decided to file a bug because the solutions started to get too involved.

Three issues I've encountered with the None name problem:

1. It breaks the name of the tensor. (The value assigned by TensorFlow in the graph) And so in order to get an expected name, say if yo

[2022-10-13 21:56] jaybfn commented on #10150
@emadeldeen24 , thank you for the customer image generator, I want to have an output shape (number_of_batches, size_x, size_y, time_steps, 1). Is it possible to modify your source code and if yes, can you help in doing it?

[2022-10-13 22:13] divyashreepathihalli commented on #16793
PR merged! so closing this.

[2022-10-13 22:13] #16793 closed

[2022-10-13 22:23] divyashreepathihalli commented on #17072
@tilakrayal unfortunately this is a known issue. We are working on resolving this bug. However, in the mean time you can use the integer lookup layer outside of your model in order to have an XLA compiled efficient model. No weights get trained in the lookup layer so, it should not affect anything else in your project.

[2022-10-13 22:30] divyashreepathihalli commented on #17102
can you please give public access to the colab?

[2022-10-13 23:10] tilakrayal commented on #15376
@PWZER,
I tried to execute the given code on tensorflow nightly version and found that Keras training speed is 37ms/step. It is similar to the Estimator training speed. Kindly find the gist of it [here](https://colab.research.google.com/gist/jvishnuvardhan/63f9ed182854ad7732ca265cca5c0d2a/test.ipynb) and confirm if the issue still persists. Thank you!

[2022-10-14 01:17] Conweezy0220 opened #17151 "Tensorflow Keras Model with customer loss returns error: AttributeError: 'method' object has no attribute '_from_serialized'"
I've run models with Tensorflow and keras before, but when I try to run a new model that has custom metrics I get the error:

Tensorflow Keras Model with customer loss returns error: AttributeError: 'method' object has no attribute '_from_serialized'

This is code I've copied from a video series I'm following along to. I thought maybe I mistyped something so I copied his code from GITHUB and still

[2022-10-14 02:11] Conweezy0220 commented on #17151
TF Version: 2.10.0
Python Version 3.9.6
CUDA: 11.3
GPU:Nvidia GeForce GTX 1060 SUPER

[2022-10-14 03:44] Pratik-12a opened #17156 "Y_pred = model.predict_classes(X_test) Y_pred"
Can you please help me in solving this errror

Y_pred = model.predict_classes(X_test) Y_pred

AttributeError                            Traceback (most recent call last)
<ipython-input-29-abd0b9b99a1f> in <module>
----> 1 Y_pred = model.predict_classes(X_test)
      2 Y_pred

AttributeError: 'Sequential' object has no attribute 'predict_classes'

[2022-10-14 06:50] auckenth commented on #14915
@chjort already showed that this is not a problem of keras/tensorflow. I think we can close this issue.

[2022-10-14 07:11] tilakrayal commented on #14915
@auckenth,
As commented by the user,  we are moving this issue to the closed status. Thank you!

[2022-10-14 07:11] #14915 closed

[2022-10-14 07:25] PierrickPochelu commented on #17102
Done

[2022-10-14 12:02] tilakrayal commented on #17110
@dr-mw,
I haven't found any anomalous behaviour while executing the provided code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/a223d48ca78ebae7c627012b43a62c6f/untitled688.ipynb). Thank you!

[2022-10-14 12:03] tilakrayal commented on #17130
@yajunDai,
Code shared is full of [indentation errors](https://colab.research.google.com/gist/tilakrayal/0a3c6f1a9f752c60f7b51b82cf5ff2de/untitled681.ipynb), please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-10-14 12:20] tilakrayal commented on #17148
@gowthamkpr,
I was able to reproduce the issue in tensorflow v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/4e05333c569edb6b0ccc002798f5ecff/untitled689.ipynb).

[2022-10-14 15:09] #17149 closed

[2022-10-14 15:11] Mohit-robo commented on #17156
In the newest version of Tensorflow, the predict_classes function has been deprecated (there was a warning in previous versions about this). The new syntax is as follows:

    Y_pred = np.argmax(model.predict(X_test),axis=1)

[2022-10-14 16:21] hertschuh commented on #16964
@jonasrundberg
After a bit of investigation, it turns out that the open files come from `model.load_weights(latest)` and not `ModelCheckpoint`.

I'll keep investigating why this happens.

[2022-10-14 16:33] #14670 closed

[2022-10-14 16:34] SerdarHelli commented on #14670
@tilakrayal
Thanks :D . But after one year, I got your response so I forgot my issue .

[2022-10-14 16:40] adriangb commented on #16983
@chenmoneygithub any updates on this? This is breaking SciKeras (and presumably other downstream things)

Here's notebooks proving this is broken:
- stable (2.9.2): https://colab.research.google.com/drive/1VtH0AyV5HVolRzSla4U6YCY1MusS6sN4#scrollTo=dZYmmrM3WwFA
- nightly: https://colab.research.google.com/drive/15LZMxfQiXixHNWtL-n573RJMdgWQbbfy#scrollTo=P14dQaVIXBU6

[2022-10-14 17:52] sushreebarsa commented on #17156
@Pratik-12a Could you refer the comment above and let me know if t helps?
Thank you!

[2022-10-14 20:07] #16827 closed

[2022-10-14 22:34] jbischof commented on #16946
@Pouyanpi are you still interested in working on this bug? Please let us know and thanks for your contributions!

[2022-10-15 09:20] zibbini commented on #16907
@andreped I managed to fix those issues with pre-trained weights by initialising the gamma variable in `LayerScale` with the correct dtype rather than adding in the casts (see [gist](https://colab.research.google.com/gist/zibbini/4ae1396c10e48b0e69bb6394e259f08e/untitled1.ipynb)):

[code]

[2022-10-15 14:46] bjessen commented on #17113
Just for fun, we need to patch 2 points in the `tf.keras.layers.Input` function:
[setting the name property](https://github.com/keras-team/keras/blob/b80dd12da9c0bc3f569eca3455e77762cf2ee8ef/keras/engine/input_layer.py#L398):
`'name': name if name else type_spec.name`

[pushing it back the name into the returned tensor](https://github.com/keras-team/keras/blob/b80dd12da9c0bc3f569eca3455e77762cf2ee

[2022-10-15 22:47] SamuelMarks commented on #16389
@fchollet Good to see your interest here. More than just benchmarking, taking arbitrary solutions from different research papers, builtin to different frameworks, part of community zoos and putting them in a central repository.

My idea is to put proper `setup.py` and module hierarchy—as opposed to silly Jupyter Notebooks and/or hardcoded-path filled Python files—then upload to PyPi with a new PyP

[2022-10-15 22:52] SamuelMarks commented on #16389
@fchollet Good to see your interest here. More than just benchmarking, my [proposed] approach puts in a central repository: solutions from different research papers; builtin to different frameworks; and community 'zoos'.

My idea is to put proper `setup.py` and module hierarchy—as opposed to silly Jupyter Notebooks and/or hardcoded-path filled Python files—then upload to PyPi with a new PyPi class

[2022-10-15 22:53] SamuelMarks commented on #16389
@fchollet Good to see your interest here. More than just benchmarking, my [proposed] approach puts in a central repository: solutions from different research papers; builtin to different frameworks; and community 'zoos'.

My idea is to put proper `setup.py` and module hierarchy—as opposed to silly Jupyter Notebooks and/or hardcoded-path filled Python files—then upload to PyPi with new PyPi classif

[2022-10-16 18:08] fchollet commented on #17138
Posted on the PR:

[code]

[2022-10-16 18:08] #17138 closed

[2022-10-16 22:07] Rqcker commented on #14895
I am also having this problem. I'm thinking if it's a tf version issue

[2022-10-17 03:05] renguote commented on #17118
[The code](https://colab.research.google.com/gist/renguote/beb493d684e5ff6dc0a2d81157adbcbb/untitled675.ipynb)  already works correctly. My problem is when I start 4 processes in keras(model.fit(..., use_multiprocessing=True,workers=4)),  but only one process works, Thank you!

[2022-10-17 06:41] rchao commented on #15606
Thanks both @ravinderkhatri and @chilin0525 - can you provide the full stack trace?

[2022-10-17 07:07] #17079 closed

[2022-10-18 06:02] #17130 closed

[2022-10-18 08:51] tilakrayal commented on #17110
@dr-mw,
I tried to execute the code on tf-nightly where the expected behaviour is one original and the other one is augmented image. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/809fa9efbb0155b9596f4d67ee66c548/untitled696.ipynb). Thank you!

[2022-10-18 09:25] tilakrayal commented on #17151
@Conweezy0220,
Code shared is full of [indentation errors](https://colab.research.google.com/gist/tilakrayal/c8b504448439253b1411b72fabf8ecf0/untitled698.ipynb), please share a colab gist with issue reported or simple stand alone indented code with all dependencies. Thank you!

[2022-10-18 16:31] leland-hepworth opened #17167 "Toggle aggregated batch losses with tf.keras.callbacks on_train_batch_end"
### System information

TensorFlow version (you are using): v2.10 (but applicable in any version >= 2.2)
Are you willing to contribute it (Yes/No) : No

### Describe the feature and the current behavior/state

In TensorFlow 1 and TensorFlow 2 version <= 2.1, `loss` is the actual loss of the current batch, while `accuracy` is the average accuracy of all batches up until the current batch within the

[2022-10-18 21:03] divyashreepathihalli commented on #17102
@PierrickPochelu - Th PR has been reviewed - https://github.com/keras-team/keras/pull/17140

[2022-10-19 00:00] PierrickPochelu commented on #17118
The `top` and your explanation show 5 processes: 1 training process and 4 loading processes.  The forward/backward computing (training process) is bottlenecking the program speed, and not the loading of batches. I think the majority of deep learning applications are in this case.

[2022-10-19 00:20] hertschuh commented on #17113
@nmatare

- Oh so it looks like you're using Tensorflow in "TF1" mode (using `Session`)
- Also, just to clarify, this issue is unrelated to `TypeSpec`, it applies to `keras.Input` and naming more generally

Questions for you:
- About 2., what do you mean by serialization? How are you saving your model?
- Does @bjessen 's suggestion work? If we found a proper way to assign the name of the output, w

[2022-10-19 06:45] sky712345678 commented on #16978
Ok, I got it. Thank you!

I wasn't sure how to reproduce it only involving the loss function, this is my try:
https://colab.research.google.com/drive/1qxamrOaOqfVANzMnN-u--Sue4iPtJCtf?usp=sharing
![image](https://user-images.githubusercontent.com/37875281/196616317-62db8599-5e9c-4e99-878f-9390aa808c22.png)
Running this Colab notebook, I didn't see the error message in runtime logs.

[2022-10-19 07:10] doncat99 commented on #17151
I met the same issue, and this post had well explained. (https://stackoverflow.com/questions/73981914/tensorflow-attribute-error-method-object-has-no-attribute-from-serialized)

[2022-10-19 09:07] #17093 closed

[2022-10-19 11:56] pikulmar opened #17169 "`tf.keras.Model()` behaves incorrectly if `inputs` is a dictionary view"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.5 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.10
- Python version: 3.9
- Bazel version (if compiling from source): n/a
- GPU model and memory: n/a
-

[2022-10-19 20:51] f90 opened #17171 "Keras model breaks upon saving and loading when input is broadcasted"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.8.1

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 18

### Mobile device

_No response_

### Python version

3.7.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

When defining a Keras

[2022-10-19 21:48] hertschuh commented on #17094
@DEKHTIARJonathan
I found the utility functions in the other bug report and I was able to perform the analysis for `Conv2DTranspose`. Now I understand what the issue is and where it comes from.

The issue is that [`tf.nn.conv2d_transpose`](https://www.tensorflow.org/api_docs/python/tf/nn/conv2d_transpose#args) takes the `output_shape` as input and `output_shape` is expected to have all the dimensi

[2022-10-20 04:55] chilin0525 commented on #15606
Sure, but I have no time to reproduce the error recently.
If I want to provide full stack trace just put following code at the beginning right?

[code]

[2022-10-20 07:31] rchao commented on #15606
Correct.

[2022-10-20 08:05] renguote commented on #17118
Thank you!

[2022-10-20 13:14] sd3ntato commented on #11584
why is the issue closed if the problem is unsolved??

[2022-10-20 17:24] mihirparadkar commented on #17167
@nkovela1

[2022-10-20 20:44] #16984 closed

[2022-10-20 23:56] iancolwell commented on #15887
Has there been any resolution/progress/update to this issue?

[2022-10-21 02:11] PWZER commented on #15376
@tilakrayal  Thank you very much for your reply!

Then I compared the two versions of tf2.5.1 and tf-nightly again, the test results are as follows

## tf2.5.1(v2.5.0-160-g8222c1cfc86)

- Training with Estimator

[code]

- Trainning with Keras

[code]

## tf-nightly(v1.12.1-83306-g36495debc6c)

- Training with Estimator

[code]
- Trainning with Keras

[code]

From the results, the speed of keras h

[2022-10-21 02:16] RunnerZhong opened #17173 "Keras load LSTM/GRU model with constant mask/initial_state will raise error"
Issue Type
Bug

Source
binary

Tensorflow Version
TF 2.6.3

Custom Code
Yes

OS Platform and Distribution
RedHat 7

Mobile device
No response

Python version
3.8

Bazel version
No response

GCC/Compiler version
No response

CUDA/cuDNN version
No response

GPU model and memory
No response

Current Behaviour?
Traceback (most recent call last):
  File "/home/runner/work/sample_code/example.py", line

[2022-10-21 02:36] rchao commented on #17167
Thanks for reaching out for the issue! This seems a nice to have feature where we can leverage help from the community. I'll make this as a community welcome item.

[2022-10-21 04:48] sushreebarsa commented on #17169
@gowthamkpr I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/50ab03223579fc9b0dc637b29e7f88d6/17169.ipynb) here. Thank you!

[2022-10-21 09:34] tilakrayal commented on #17118
@renguote,
Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status. Thank you!

[2022-10-21 10:39] tilakrayal commented on #17171
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.9 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/5f2ae7f1afeee966785a0161013640af/untitled712.ipynb).

[2022-10-21 11:06] sleepingcat4 opened #17175 "Input has undefined rank. Received: input_shape=<unknown>"
**Tensorflow Version:**  2.9.2
**Python Version:** 3.7.15

**Bug's Behaviour:**
[code]

**Code that produces the error:**
**# input_shape=(256, 256, 3)
model.build(input_shape=(None, 220, 220, 3))
model.summary()**

**Relevant log output:**
[code]

[2022-10-21 11:08] sleepingcat4 commented on #17175
**I was suggested to post this issue here from Tensorflow repo:** https://github.com/tensorflow/tensorflow/issues/58211#issuecomment-1286514372

[2022-10-21 11:49] sushreebarsa commented on #17173
@RunnerZhong Could you have a look at the gist [here](https://colab.research.google.com/gist/sushreebarsa/8d47eb86fb9347e955c108c866f57841/17173.ipynb#scrollTo=VMXJNT8_XgeT) and confirm the issue?
Thank you!

[2022-10-21 13:46] #17092 closed

[2022-10-21 14:27] AdityaKane2001 opened #17176 "Reworking KerasTensor?"
@haifeng-jin @fchollet

This issue is both a bug report and a feature request. https://github.com/tensorflow/tensorflow/issues/48531 shows an issue of KerasTensor. Of course, the [docstring](https://github.com/keras-team/keras/blob/master/keras/engine/keras_tensor.py#L32-L111) elaborates it even further.

IMO, given the position of Keras, KerasTensor should be completely interoperable with tf.Tens

[2022-10-21 22:18] jbischof opened #17177 "`keras.utils.get_file` does not support gzip as advertised"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): glinux 5.17.11-1rodete2-amd64
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.9.1
- Python version: 3.10.0
- Bazel version (if compiling from source): n/a
- GPU model and

[2022-10-21 22:19] jbischof commented on #17177
Note: This is a new version of #16946, as we will need a new contributor.

[2022-10-21 22:19] jbischof commented on #16946
Duplicate of #17177, which I open to allow for a new contributor.

[2022-10-21 22:19] #16946 closed

[2022-10-22 14:53] RunnerZhong commented on #17173
yes, this is the issue that I met

[2022-10-22 20:50] haseebkhan36 commented on #1226
when I'm using this .then it is showing error : AttributeError: Can't set the attribute "input", likely because it conflicts with an existing read-only @property of the object. Please choose a different name.
can anyone explain me how to solve that

[2022-10-23 03:27] ravi-aii commented on #14632
Reinstalling the tensorflow solved my same issue
pip install tensorflow --upgrade --force-reinstall --user

[2022-10-23 10:43] MaoMakara commented on #15742
Hi @ImSo3K

Try to use tensorflow version 2.8.0 and use
center_crop_layer = keras.layers.experimental.preprocessing.CenterCrop(IMG_SIZE, IMG_SIZE)

It worked for me.!!

[2022-10-23 13:55] NG-Bullseye commented on #12511
Is there any fix yet?

[2022-10-24 08:41] Mahdidrm commented on #7924
Hi, Could you please tell me if you solved this problem?

[2022-10-25 12:31] ggous opened #17182 "request the adoption of the tf.io dependency to extend the list of supported images in this API."
I am copying my request from [here](https://github.com/tensorflow/tensorflow/issues/58292).

Currently, `image_dataset_from_directory` supports only  `Allowed formats: ('.bmp', '.gif', '.jpeg', '.jpg', '.png')`

So, if you have tif images it won't find them ` No images found in directory `

[2022-10-25 15:24] bhack commented on #17177
The files are extracted correctly but please pay attention to the output dir:

https://github.com/keras-team/keras/blob/8c401c032b3021f89609eac79bd1c881b9bbc84f/keras/utils/data_utils.py#L169-L172

[2022-10-26 09:53] dr-mw commented on #17110
@tilakrayal,
Did you fix this bug in the nightly build, or was it already fixed?
Thank you.

[2022-10-26 09:53] #17110 closed

[2022-10-26 10:27] ahasselbring commented on #17008
I am working around this now by passing `variable + tf.zeros_like(variable)` instead of `variable`.

[2022-10-26 11:14] tilakrayal commented on #17175
@sleepingcat4,
To expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using. Thank you!

[2022-10-26 13:46] #15181 closed

[2022-10-26 13:46] #15179 closed

[2022-10-26 13:51] tilakrayal commented on #15376
@PWZER,
We can see that the tf-nightly version you are using v1.12.1, whereas if you check the gist attached, on tf-nightly version Keras training speed is 37ms/step. It is similar to the Estimator training speed. Kindly find the gist of it [here](https://colab.research.google.com/gist/jvishnuvardhan/63f9ed182854ad7732ca265cca5c0d2a/test.ipynb). Thank you!

[2022-10-26 14:46] #15135 closed

[2022-10-26 16:02] lgeiger opened #17187 "New optimizers are incompatible with `jit_compile` and `MirroredStrategy`"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.11.0-rc1
- Python version: 3.9.9
- GPU model and memory: 4 x NVIDIA T4 on GCP VM

**Describe the problem**.

The ne

[2022-10-26 19:08] JessJKitty commented on #17008
I'm also running into a related issue in a similar context, but I'm not exactly understanding what the error is.

[2022-10-27 07:44] PWZER commented on #15376
Yes, I just run the gist script you gave, but i don't see the result you said. you can look at the output [here](https://colab.research.google.com/gist/PWZER/7b779a2c0673a6422832c7a8ac2f754c/test.ipynb).

[2022-10-27 08:50] LukasMut opened #17192 "Library for feature extraction for Keras models"
I just wanted to let you know that we are working on a library that facilitates feature extraction (i.e., extraction of image representations) for Keras models. :) Here's the link to our library: https://github.com/ViCCo-Group/THINGSvision. Maybe, you'll find it useful. This is actually not a documentation issue, but I was not sure where else to mention it.

[2022-10-27 11:46] #14877 closed

[2022-10-27 14:36] mohantym commented on #16699
@sidml !
I have not found any solution yet from my side yet.

[2022-10-27 17:32] #17143 closed

[2022-10-27 19:12] hertschuh commented on #16964
@jonasrundberg
So what is happening is that `model.load_weights` keeps some object around, which is then not deleted. Only once the model itself is deleted are all the files closed. This leak is an actual bug and we're working on it.

I'm not sure what your workflow is that you keep loading the model. But here's a workaround for now:

[code]

[2022-10-27 23:11] hellbago commented on #16173
Is it possible to add the same custom update metric frequency also for the validation set? @kyamagu

[2022-10-28 01:17] kyamagu commented on #16173
@hellbago Probably you can override `_implements_test_batch_hooks()` and `on_test_batch_end()`.

[2022-10-28 08:54] Desi385 commented on #13938
optimizer = ACO()

best_paths, result = optimizer.Fit(distance, nk, maxIterations, beta, zeta, rho, q0, plot, verbose)

optimizer.Plot()

Error : AttributeError: 'ACO' object has no attribute 'Fit'

[2022-10-28 08:54] Desi385 commented on #13938
Please suggest if somebody can locate this error

[2022-10-28 10:31] hellbago commented on #16173
I tried something like this but it didn't work:

[code]
@kyamagu

[2022-10-28 19:32] #17156 closed

[2022-10-29 10:10] ysl125963 commented on #13839
I have the same problem !!

[2022-10-29 15:41] Chizkiyahu commented on #17148
I run my code in the GitHub action
and I set the
[code]
and sometimes I get the error
any idea how I can debug this?
or any other env to set to disable intel dl booster?

[2022-10-29 16:17] tilakrayal commented on #17192
@LukasMut,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-10-29 21:25] jeromemassot opened #17199 "efficientnetBx model.save() fails due to serialization problem with tf2.10.0"
**System information**.
- Have I written custom code: derived from Keras image_classification_efficientnet_fine_tuning
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10Pro
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): tf2.10.0
- Python version: 3.10.2
- Bazel version (if compiling from source):
- GPU model and memory: NVIDIA RTX TIT

[2022-10-30 01:24] sushreebarsa commented on #17199
@jeromemassot
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-10-30 14:22] fatimaBM opened #17200 "OSError: Unable to open file (truncated file: eof = 1180918, sblock->base_addr = 0, stored_eof = 61980832)"
hello everyone
The data_set variable is an NwbDataSet instance, which has some methods we can use to access the injected current stimulus waveform and the voltage response waveform for all experimental sweeps. Let's pull one sweep out and plot it.
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

sweep_number = 30
sweep_data = data_set.get_sweep(sweep_number)

index_range = sw

[2022-10-31 15:32] jeromemassot commented on #17199
Hi @sushreebarsa Thanks for your reply. The code that I am using is the carbon-copy of this one available in the Keras example. https://github.com/keras-team/keras-io/blob/master/examples/vision/image_classification_efficientnet_fine_tuning.py

Two tiny differences:

1- The fit() method is using an early stopping callback as follows:

early_stopping_callback = tf.keras.callbacks.EarlyStopping(

[2022-10-31 16:03] tilakrayal commented on #17200
@fatimaBM,
I was facing a different error while executing the mentioned code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/132963d13568e5d98ea1388388f9c6b3/untitled724.ipynb) and provide the required dependencies. Thank you!

[2022-10-31 19:09] AshwinJay101 opened #17201 "The dimension of y_pred changes when using a custom loss function"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.6
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU model and memory: V100
- Exact

[2022-11-01 13:20] 21564669 opened #17203 "https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryFocalCrossentropy contains some information of https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-11-01 15:12] tanzhenyu opened #17204 "Keras BatchNorm layer gives NAN during inference"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux, (fails in both Ubuntu or Debian)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.10
- Python version: 3.8
- Bazel version (if compiling from source): N/A
- GPU mo

[2022-11-01 19:04] LukeWood opened #17207 "BinaryCrossentropy should support a way to reduce over NO axes"
Currently, we do not support a way to reduce over no axes in`backend.mean`.

In https://github.com/keras-team/keras/blob/c9068087d9142bab573e0c300bf9874a957accff/keras/losses.py#L2162 this means we cannot use the Keras BinaryCrossentropy loss for YOLOx model.

@quantumalvya needs a way to avoid reducing over any axis, lets support this in the `backend.mean()` function: https://github.com/keras-tea

[2022-11-02 04:38] UnixJunkie commented on #121
@fchollet the user was not asking for early stopping exactly; he was asking that the model which gave the best validation statistics is kept in some way (so that it can be retrieved later, without having to retrain from scratch).
This is supported in R's caret package, so not a stupid feature idea.
If people don't want to keep the model (because of memory consumption, for example), this could be a

[2022-11-02 04:38] UnixJunkie commented on #121
thanks to @wepe for a workaround

[2022-11-02 08:32] #17151 closed

[2022-11-02 11:03] tilakrayal commented on #17203
@21564669,
We would prefer a PR for the validation, Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-11-02 13:01] sushreebarsa commented on #17201
@AshwinJay101 Could you please have a look at this [gist](https://colab.research.google.com/gist/sushreebarsa/d96117d0577d8a3545040d83e2542d44/17201.ipynb) and confirm the issue?
Thank you!

[2022-11-02 18:33] sachinprasadhs commented on #17173
Could you try compiling the model and train it with some data to check if you are facing the same behavior as saving and loading non compiled model.
Now, as the warning suggested, the compiled metrics has not been built yet, this will be empty till you train or evaluate the model.

[2022-11-02 21:28] AshwinJay101 commented on #17201
@sushreebarsa Yes this is the issue

[2022-11-02 22:02] 21564669 commented on #17203
Hi , I’m new here,could you please tell me what the PR is and what the link is to submit it,thank you.Sent from my iPhoneOn Nov 2, 2022, at 19:03, tilakrayal ***@***.***> wrote:﻿
@21564669,
We would prefer a PR for the validation, Could you please feel free to submit a PR for the requested change to be made. Thank you!

—Reply to this email directly, view it on GitHub, or unsubscribe.You are recei

[2022-11-03 12:59] MuellerJY opened #17212 "Confusing Problems(Not a ndarray) occur when training wGAN with tensorflow.keras API : train_on_batch"
Thanks to listen to my troubles!
Previous issues on TensorFlow Issue: _https://github.com/tensorflow/tensorflow/issues/58429_
I hope more inspiration could be found here in Keras-team.
I'm trying to train a wGAN with tensorflow.keras API.
It's confusing that the code seems to be able to work (loss can be correctly printed by epochs at the start).
But few epochs later, strange bug occurs as follow:

[2022-11-03 13:23] bhack commented on #17212
This issue is emitted in  c++ when it is going to convert your data:

https://github.com/tensorflow/tensorflow/blob/f7bf3d8f3ba3027cc33f49b00a534f18cf9ea672/tensorflow/python/lib/core/ndarray_tensor.cc#L484-L486

Please inspect the exact input and target that you have sent to `train_on_batch` just before the crash.

[2022-11-03 13:42] bhack commented on #17212
Basically you could check if that specific input/target is convertible standalone with https://www.tensorflow.org/api_docs/python/tf/convert_to_tensor

[2022-11-03 13:54] bhack commented on #17207
Is the underline it uses TF reduce_mean: https://www.tensorflow.org/api_docs/python/tf/math/reduce_mean

Where the `axis=None` semantic means "all the axis".

So what do you mean with `avoid reducing over any axis`?

[2022-11-03 14:11] MuellerJY commented on #17212
Thank you for your reply. Follows are the definitions related to the inputs and targets for "train_on_batch":
cp_fluc_train, Re_c_train, scaling_input_train, u_r10_train, u_r5_train, u_raw_train are ndarray loaded by scipy.io.loadmat and keep invariant.
The bug occurs in line: "g_loss_train = self.gan_model.train_on_batch(..."

`    def generate_labels(self):
        valid = -np.ones((self.batch_s

[2022-11-03 14:17] bhack commented on #17204
Have you checked https://github.com/tensorflow/tensorflow/issues/48845?

[2022-11-03 14:24] bhack commented on #17212
Can you try to manually `tf.convert_to_tensor` each argument just before `train_on_batch`?

[2022-11-03 14:28] MuellerJY commented on #17212
Thank you for your reply.
Sorry for my limitation, I could not handle the layout of 'add code', so I just paste roughly.

Follows are the definitions related to the inputs and targets for "train_on_batch":
cp_fluc_train, Re_c_train, scaling_input_train, u_r10_train, u_r5_train, u_raw_train are ndarray loaded by scipy.io.loadmat and keep invariant.
The bug occurs in line: "g_loss_train = self.gan_m

[2022-11-03 14:29] MuellerJY commented on #17212
Do you mean that the inputs and targets should be converted by tf.convert_to_tensor before fed to train_on_batch?
Should inputs and targets be ndarray or tensor?

[2022-11-03 14:39] ianstenbit commented on #17204
This looks like a very likely root cause. @tanzhenyu can you confirm? If so, we should probably close this issue as it's a duplicate / downstream effect of the TF bug

[2022-11-03 14:48] ianstenbit commented on #17207
@LukeWood can you expand on the requirement here?

Perhaps some example code demonstrating this need would be useful. I'm curious why we would need to use binary_crossentropy as a loss without any reduction. Can the use case be solved using `keras.backend.binary_crossentropy`, which doesn't perform reduction?

[2022-11-03 15:11] bhack commented on #17212
Yes is in the doc
https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#train_on_batch

[2022-11-03 15:27] tanzhenyu commented on #17204
The original issue is #34062, referenced in the description.

It doesn't look like root cause is identified yet? The issue is very related though, with a couple of subtle differences:
1. the TF bug uses batch_size=1. This issue happen regardless of the batch size, but specifically with height=width=1
2. it only happens with one batchnorm, while other BN layers are working fine.

Closing it is fine

[2022-11-03 17:34] Farbdose opened #17213 "tf.keras.mixed_precision.LossScaleOptimizer causes Graph execution error when using tfa.optimizers.MultiOptimizer and mixed_precision"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.4 LTS (4.15.0-191-generic)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.10.0-rc3-6-g359c3cdfc5f 2.10.0
- Python version: 3.10.6
- Bazel version (if comp

[2022-11-03 17:35] Eason51 opened #17214 "Calculate F1 score in custom training loop"
I wonder how I can implement a F1score class that inherits from tf.keras.metrics.Metric so that I can use this class to calculate F1score in a custom training loop.

In the following code segment, I have a bunch of metrics, e.g. binaryaccuracy, precision, recall. I calculate these metrics by calling the "update_state()", "result()", "reset_state()" methods of each of the metric class in the approp

[2022-11-03 18:57] LukeWood commented on #17207
Sarvagya can you comment here?  (pinged him a link as I can't tag him yet)

[2022-11-03 19:01] bhack commented on #17214
Check https://github.com/keras-team/keras-cv/pull/423

[2022-11-03 19:20] quantumalaviya commented on #17207
As in the loss should return without reducing the mean over any axis at all. `axis=None` means over all axes but we require no reduction for YoloX.

Currently implementing this in the [YoloX implementation](https://github.com/keras-team/keras-cv/pull/982) as such:
[code]

YoloX sums over the axis internally and then means based on the number of positive number boxes (as calculated by SimOTA). If w

[2022-11-03 19:20] chenmoneygithub commented on #17187
@lgeiger Thanks for reporting the issue!

Could you try moving the `model.compile()` under strategy scope and rerun the tests in your setup? Also is it only failing with SGD or other optimizers as well? thanks!

[2022-11-03 20:23] bhack commented on #17207
It was just misspelled.

I think that it make more sense to create another BinaryCrossentropy like BinaryCrossentropyFocal or add an extra parameter to make the mean optional in `BinaryCrossentropy` instead of modifying `mean`.

Does this mean that you could reduce sum and then divide by positive_boxes?

[2022-11-03 21:28] quantumalaviya commented on #17207
Yes, as for now, I have implemented an internal loss specifically for YoloX which does reduce_sum followed by the number of positive boxes.

[2022-11-03 21:44] bhack commented on #17207
Yes also in the official reference impl the reduction is more in the BinaryCrossentropy API more then in mean:

https://github.com/Megvii-BaseDetection/YOLOX/blob/main/yolox/models/yolo_head.py#L493-L495

[2022-11-03 23:35] bhack commented on #17204
@tanzhenyu Please check if can reprdouce with `drop-reminder=true` in 'tf.dataset` batch formation

[2022-11-04 08:56] DSOTM-pf opened #17217 "Why my code get better f1_score on older versions"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution:  Linux Ubuntu 16.04
- TensorFlow installed from binary
- TensorFlow version (use command below): 2.10.0 , 2.7.0,
- Python version: 3.7.10
- GPU model and memory: TITAN V

**Describe the problem**.
Hi, I adopt different Tensorflow and Keras versions

[2022-11-04 08:56] wowhhh commented on #17217
https://github.com/tensorflow/tensorflow/issues/58431

[2022-11-04 11:28] #17118 closed

[2022-11-04 12:52] tilakrayal commented on #17213
@Farbdose,
To expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using. Thank you!

[2022-11-04 13:22] sushreebarsa commented on #17212
@MuellerJY Please have a look at the comment above and let us know?
Thank you!

[2022-11-04 14:47] matthewfernst opened #17218 "Converting model to frozen pb causes original model to go into an "Invalid State""
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.4 / 2.9.2 (Occurs on both)

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04

### Python version

3.8

### Current Behaviour?

I currently am trying to convert a Tensorflow 2 Keras model into a Tensorflow 1 frozen pb. My code is able to accomplish this and

[2022-11-04 15:06] MuellerJY commented on #17212
Thanks for your attention!
Unfortunately, it doesn't work. The bug remains still.

[2022-11-04 16:39] lgeiger commented on #17187
@chenmoneygithub Thanks for looking into this!

This is a general problem. The same happens for other optimizers like Adam or RMSProp as well.

Thanks for the suggestion. Indeed this seems to solve the problem, not sure why I didn't try this earlier.

In fact, if the optimizer is initialized within the strategy scope, `model.compile()` can be called outside the scope. Configuring the optimizer wit

[2022-11-04 22:05] jbischof commented on #17177
Thanks for the repsonse, @bhack and @divyashreepathihalli! I now see that the extracted file is stored at `cache_dir` even if I specify an absolute path for `fname`. I think this is pretty confusing:
* The tarball is placed in the absolute directory, but the extracted files are not.
* I am expecting the returned value to point to the extracted files I want but get one to the tarball instead.
* For

[2022-11-05 14:26] mwalmsley opened #17219 "Dict-of-tensors custom Metric using MirroredStrategy - tf.identity error?"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): I used a stock example script with custom code added (see minimal example)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.10 (latest)
- Python version: 3.7
- Bazel v

[2022-11-05 18:17] Farbdose commented on #17213
@tilakrayal I'm really sorry but I'm not able to do that. It's simply too much code spread over too many files to just select the relevant part and post it here. If I would be able to create a reproducible sample I would already have done so 😓

[2022-11-07 04:56] sushreebarsa commented on #17201
@AshwinJay101 One-hot encoding to be done before passing data to training otherwise shape compatibility issues may arise. Could you refer this modified gist [here](https://colab.research.google.com/gist/SuryanarayanaY/e30b600097ca9c583126ed16099fc98b/17201.ipynb) and let us know if it helps?
Thank you!

[2022-11-07 05:53] Aditijain114 commented on #11607
how to get labels/classes from these generator
multi_train_generator**.labels**()

[2022-11-07 07:49] tilakrayal commented on #17203
@21564669,
Could you please take a look at this official doc [link](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md) and create the PR for the above mentioned issue. Thank you!

[2022-11-07 09:22] tilakrayal commented on #17217
@DSOTM-pf,
I tried to execute the mentioned code with the dataset attached and was able to fetch the better f1-score than the older versions. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/fd8ff0552271fafe2a140bacec50bc32/17217.ipynb) and let us know if anything required here.

[2022-11-07 12:16] DSOTM-pf commented on #17217
Hi, I noticed that your execution achieved a 1.0 F1 score. But when I execute this code with tf-nightly, it returns 0.5369807497467073. I only uploaded the dataset on colab and modified the folder to '***.csv'.
May I know what version of TensorFlow you are using when running, and whether the lower version also has a 1.0 f1 score?

[2022-11-07 15:09] tilakrayal commented on #17219
@mwalmsley,
I was facing a different error while executing the mentioned code. Kindly find the [gist](https://colab.research.google.com/gist/tilakrayal/46c757fee80592da3834d3451242ff88/custom_training_with_dict_metric.ipynb) and let us know if you are facing the same  error. Thank you!

[2022-11-07 17:09] mwalmsley commented on #17219
Hi @tilakrayal ,

Thanks for checking. I'm fairly sure the error you see is because you added pip install tf-nightly to the top of the script, which seems to cause an environment/CUDA issue when running the model (which was copy-pasted exactly from the tutorial).

File "/usr/local/lib/python3.7/dist-packages/keras/backend.py", line 5369, in relu
      x = tf.nn.relu(x)
Node: 'sequential/conv2d/Rel

[2022-11-07 20:26] djpetti opened #17222 "ConvNeXt model does not work with custom input tensors"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-11-07 21:34] AshwinJay101 commented on #17201
Thanks this is a good workaround. My only issue is that I wanted to do the one hot encoding on the GPU instead of the CPu since the former is faster.

[2022-11-08 01:49] sampathweb commented on #16271
Thanks for reporting this issue. Its fixed now and will be available in nightly and be part of TensorFlow 2.12 release.

[2022-11-08 01:49] #16271 closed

[2022-11-08 04:20] sushreebarsa commented on #17212
@MuellerJY
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-11-08 04:20] sushreebarsa commented on #17212
@MuellerJY
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thank you!

[2022-11-08 06:39] timedcy opened #17223 "tf.queue.FIFOQueue not savable by tf.saved_model.save in tf2.10 ?"
Tensorflow Version
2.10

OS Platform and Distribution
windows 10

Mobile device
No response

Python version
3.7

CUDA/cuDNN version
8.2.1

Current Behaviour?

- tensorflow cannot save successfully when there exists `tf.queue.FIFOQueue` variable in cumstum layers by `tf.saved_model.save`
- and is there a way to exclude the fifoqueue variable and method branch in graph when exporting model for infer

[2022-11-08 10:13] SuryanarayanaY commented on #17201
Hi @AshwinJay101 ,
You can use `tf.device()` as mentioned below incase wanted to run one hot encoding also on GPU.
[code]
For more information please refer to attached documentation link [GPU](https://www.tensorflow.org/guide/gpu).

Thankyou!

[2022-11-08 14:48] tilakrayal commented on #17222
@djpetti,
I was facing a different error while executing the given code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/475148340682fbc380832a52d5b410dc/untitled740.ipynb) and let us know if anything is missing here. Thank you!

[2022-11-08 15:02] djpetti commented on #17222
Hi @tilakrayal, it looks like this is because the notebook is using TF 2.9. `convnext` was only added in 2.10.

[2022-11-08 15:12] tilakrayal commented on #17222
@djpetti,
I tried to execute the code on tf-nightly and it was executed without any issue/error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/6478d5f9d795012acbc9df3b4b5ef66f/untitled741.ipynb) and confirm the same. Thank you!

[2022-11-08 15:27] djpetti commented on #17222
You're right. It looks like the issue was fixed in the nightly build. I guess I'll use `tf-nightly` until 2.11 comes out. Thanks for your help!

[2022-11-08 15:27] #17222 closed

[2022-11-08 17:18] kaixih commented on #16476
Sorry for the late reply.

Thanks for the fix and the issue is no longer there. Closing.

[2022-11-08 17:18] #16476 closed

[2022-11-09 01:03] HakanOzaydin commented on #16406
Epoch 1/1000
747/879 [========================>.....] - ETA: 19:27 - loss: 2.5615 - acc: 0.5513
---------------------------------------------------------------------------
UnknownError                              Traceback (most recent call last)
<ipython-input-11-9835003285ce> in <module>
      7 steps_per_epoch=steps_per_epoch,
      8 validation_data=valid_generator,
----> 9 validation_steps=v

[2022-11-09 01:43] matsozza commented on #12511
any news on this?

[2022-11-09 12:08] kennysong opened #17232 "The tutorial Keras SavedModels from TF 2.7 do not load in TF 2.8, 2.9, 2.10"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian Buster
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.7.0 - 2.10.0
- Python version: Python 3.8
- Exact command to reproduce: See Colabs below

**Describe t

[2022-11-09 12:28] #17175 closed

[2022-11-09 13:11] aaossa commented on #15239
I can work on the first feature request (the last to be completed) 👌  I'll create an issue soon to track progress and discussions, and create the PR when ready

[2022-11-09 18:01] AshwinJay101 commented on #17201
Thanks. If I use tf data to provide the inputs, would this still work

[2022-11-09 18:12] jbischof commented on #17199
@sushreebarsa, were you able to replicate?

[2022-11-09 18:26] matthewfernst commented on #17218
@sushreebarsa I was curious if this had been looked into? Thank you!

[2022-11-09 19:24] hertschuh commented on #16933
This issue is fixed in the nightly build, resolving.
https://github.com/tensorflow/tensorflow/commit/948fe6369a5711d4b4568ea9bbf6015c6dfb77e2

[2022-11-09 19:24] #16933 closed

[2022-11-09 21:24] deansher commented on #15887
An excessive-memory-use-in-`Model.fit` problem that I am struggling with fits well with this one. It appears that the total size of the `Dataset` I process in `Model.fit` drives total CPU memory consumption, even though both the training and validation `Dataset`'s should be scanned sequentially beyond the modest prefetch and shuffle buffers.

Although various Tensorflow team members have put subst

[2022-11-09 21:30] jbischof commented on #17219
Was able to replicate by removing the `pip install` in this gist ([link](https://colab.research.google.com/gist/tilakrayal/46c757fee80592da3834d3451242ff88/custom_training_with_dict_metric.ipynb))

[2022-11-10 03:43] RunnerZhong commented on #17173
I added compiling and train before save the model, but this issue still can reproduce.
![image](https://user-images.githubusercontent.com/30307463/200995480-aba88722-a164-4f81-a2e3-2e6ac109790a.png)

![image](https://user-images.githubusercontent.com/30307463/200995595-9a9a5bba-e7d0-4e84-b175-407105089f63.png)

[2022-11-10 03:44] RunnerZhong commented on #17173
![image](https://user-images.githubusercontent.com/30307463/200995763-2cfb86fa-3144-4039-a21d-d3c0317d780d.png)

[2022-11-10 03:46] RunnerZhong commented on #17173
You can have a try too, thanks your reply~

[2022-11-10 06:35] sushreebarsa commented on #17218
@SuryanarayanaY I was able to replicate the issue on colab, please find the [gist](https://colab.research.google.com/gist/sushreebarsa/644f69677019706c0522aaa9b5af5c2d/untitled727.ipynb#scrollTo=s6s9TPsw_uNw) here. Thank you!

[2022-11-10 09:09] tilakrayal commented on #17232
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.8, v2.9, v2.10 and nightly. Kindly find the gist of it here.
[Model Gist](https://colab.research.google.com/gist/tilakrayal/0cb458733ba31f2f26cd3025ed728ff0/structured_data_classification_from_scratch.ipynb), [Gist1](https://colab.research.google.com/gist/tilakrayal/969bc279dedde71af0d52e033e6d81e3/2-11.ipynb) where as on [v2.7](https

[2022-11-10 12:37] nilsgumpfer commented on #15887
A possible work-around that was suitable in my case was to ad a `gc.collect()` to the `on_epoch_end()` of a custom callback, such as the above:

[code]

Hope this helps until they manage to fix this internally

[2022-11-10 17:32] SuryanarayanaY commented on #17218
Hi @matthewfernst ,

As we can see in the error log s.no.1 `Similarly, making a layer or a model inside a a tf.compat.v1.Graph invalidates all layers/models you previously made outside of the graph.`This means whenever we call the tf.compat.v1.graph API internally Tensorflow is invalidating all the models/layers that are stored in the current thread.Hence we are losing the `original_model` data wh

[2022-11-10 18:04] flacle opened #17234 "LMU layer, Legendre Memory Units"
### Describe the problem
LMU's (originally introduced in 2019) are a separate class of RNNs. They have been demonstrated to outperform LSTMs on some tasks that require longer time windows while requiring fewer parameters ([see NeurIPS 2019 submission](https://papers.nips.cc/paper/9689-legendre-memory-units-continuous-time-representation-in-recurrent-neural-networks.pdf)). Including LMU's directly

[2022-11-10 20:59] matthewfernst commented on #17218
@SuryanarayanaY thank you so much for the information! Yes this makes sense, I guess is there a workaround instead of reinitiating the model?

Potentially saving the state of the graph before calling that function and then resetting the state? Thank you!

[2022-11-11 02:23] bhack commented on #17223
https://github.com/keras-team/keras/issues/16015

[2022-11-11 03:19] SuryanarayanaY commented on #17201
Sure @AshwinJay101 ,
You can still use it for Dataset generator also.Even we can put our complete model also inside tf.device('GPU') like the one in attached [gist](https://colab.research.google.com/gist/SuryanarayanaY/25c90a386fda37e21ad8a1796ba1ebf8/copy-of-17201-r2.ipynb) here.

[2022-11-11 07:39] tilakrayal commented on #17217
@DSOTM-pf,
I tried to execute the given code again on tf-nightly and I was still able to get the same f1 1.0. The tf-nightly version which I am using is 2.12.0-dev20221110. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/fd8ff0552271fafe2a140bacec50bc32/17217.ipynb). Thank you!

[2022-11-11 10:13] alanlivio commented on #10592
Just to registred here I was able to bypass the error by using the variable HDF5_USE_FILE_LOCKING='FALSE' from the command line.

[2022-11-11 10:13] alanlivio commented on #8661
Just to registred here I was able to bypass the error by using the variable HDF5_USE_FILE_LOCKING='FALSE' from the command line.

[2022-11-11 12:33] tilakrayal commented on #17234
@flacle,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-11-11 13:03] HassanBinHaroon commented on #14440
I am not encountering on colab but facing the issue on local machine.

[2022-11-11 13:06] HassanBinHaroon commented on #14440
Worked for me. Thanks!

[2022-11-11 18:57] jbischof commented on #17223
Thanks for the detailed bug report, @timedcy! This error is not related to Keras itself but the fact that serialization does not seem to be supported for `tf.queue.FIFOqueue`. To demonstrate this, I converted your model to a `tf.Module` in a new [gist](https://colab.research.google.com/gist/jbischof/cfe3465cd483ad2dbdc398a64bcb0846/fifo-queue-tf-module.ipynb) and got a similar error:

[code]

I wo

[2022-11-11 18:57] #17223 closed

[2022-11-12 00:47] bhack commented on #17217
@tilakrayal I achieve the same @DSOTM-pf  `f1_score:  0.5369807497467073` on your colab gist with today `tf-nightly-2.12.0.dev20221111`.

[2022-11-12 07:53] SuryanarayanaY commented on #17218
Hi @matthewfernst ,
I have explored and found the below two APIs will serve your purpose of saving the model graph without invalidating even after converting the model to frozen graph.

Solution:1
[code]
Solution:2
[code]

Please also refer the attached [gist1](https://colab.research.google.com/gist/SuryanarayanaY/93829ed0fe7ecd82250906410179bff4/17218-r2.ipynb) and [gist2](https://colab.research.

[2022-11-12 16:06] rakshithvsk opened #17238 "Persist best epoch per trial"
**System information**.

TensorFlow version (you are using): **2.9.2**

**Feature and the current behavior/state**
Currently, For train_end() method of keras callback, the output of the last call to `on_epoch_end()` is saved as logs, though it is not the best epoch for a given trial. Apparently it must be the output of best of all epochs.

**Description**
1. Why it would be helpful to have the bes

[2022-11-12 16:41] #17192 closed

[2022-11-12 18:07] Faptimus420 commented on #16016
While working on a project of my own, I have gotten stuck for a day trying to figure out why I can't get the training to work, only to find that I'm having the same issue as described here.

[2022-11-12 20:13] matthewfernst commented on #17218
Hi @SuryanarayanaY,

Thanks for the solution! I am able to get this to work for normal Keras models. However, the model that I am working on, wraps the original layer into another layer. For instance, if I had a Conv2D layer, I would wrap it in another custom layer that has underlying C++ calls. Due to this, I get the error below for both solutions.

[code]

Is there a way around this? Perhaps I n

[2022-11-13 08:10] AdityaKane2001 commented on #16016
@ghylander

I have a working script (i.e., the model trains smoothly), but I am not sure if that is what you want. Please take a look and let me know:

The key issue here is that we are inspecting only the inputs and not the outputs. Note that the model architecture is **3 inputs, 1 output**. Thus, our dataset should be in that format as well. See the image below.

Now, the current dataset has the

[2022-11-13 08:54] GlitchofMatrix commented on #2743
# this is  working for me

 https://keras.io/getting_started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development
import numpy as np
import tensorflow as tf
import random as rn
import os

from keras.layers import Input, Dropout, Flatten, Conv2D, MaxPooling2D, Dense, Activation, Lambda,GlobalAveragePooling2D
from keras.optimizers import RMSprop , SGD, Adam,Nadam
from keras.call

[2022-11-13 16:16] aliakbars commented on #16720
Hi @haifeng-jin, the same thing happened to me on my M1 Macbook as well.

[2022-11-13 17:54] svobora commented on #11927
Does this have anything to do with the issue [tf.keras.layers.experimental.SyncBatchNormalization()](https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/SyncBatchNormalization)?

[2022-11-14 03:27] SuryanarayanaY commented on #17218
Hi @matthewfernst ,

Glad that we are of little help for you. For custom layers please refer the attached documentation links [here](https://www.tensorflow.org/tutorials/customization/custom_layers) and [here](https://www.tensorflow.org/guide/keras/custom_layers_and_models#you_can_optionally_enable_serialization_on_your_layers) and see whether it helpful for you. The new error you are facing seems

[2022-11-14 06:23] matthewfernst commented on #17218
@SuryanarayanaY, Sounds good! Thank you so much for help. I really appreciate it!

[2022-11-14 06:23] #17218 closed

[2022-11-14 13:12] tilakrayal commented on #17238
@rakshithvsk,
Could you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thank you!

[2022-11-14 14:53] ahallermed commented on #2280
For everyone who had the same issue as described here but still came across this issue, please have a look at these links:

1. Tensorflow has an experimental option to run the model training on GPU in a deterministic way.
https://www.tensorflow.org/api_docs/python/tf/config/experimental/enable_op_determinism
I checked it out and it worked for me very well (using keras lstm, dropout, dense layer).

[2022-11-14 15:45] Faptimus420 commented on #16016
@AdityaKane2001 Thank you very much, that worked. I did have to add a .batch(1) function after .map(post_zip_process) for the network to train (.batch(32) would not work), but it worked.
I feel like I should have been able to realize this myself, though the [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit) on the .fit function does not seem to really talk about this si

[2022-11-14 18:57] kloczek commented on #16981
It prevents package `keras` module using pep517 build procedure because there is no setyp.py or pyproject.toml file in source tree.
`setuptools` cannot be used as well because there is no setup.py file.

[2022-11-14 19:10] gowthamkpr commented on #17232
Hi Kenny, this is been fixed in the latest version of tf-nightly and it works. Keras team is coming up with a new format that ends with `.keras` extension. This works in both keras format `.keras` and saved model `.tf` format. Heres the [gist](https://colab.research.google.com/gist/gowthamkpr/b859fa9906172e5424dd706725ff72b2/structured_data_classification_from_scratch.ipynb). Try running it and it

[2022-11-14 21:00] gowthamkpr commented on #15751
@LionQYW If you want to pass in the training argument, you can do something like this as mentioned in the solution [here](https://stackoverflow.com/questions/66062501/tensorflow-tf-function-conditionals)

[2022-11-14 22:50] mattdangerw commented on #16944
I don't believe that is the behavior of gradient tap. The `target` (first argument of `gradient()`), should be passed only tensor types, so it matters that `res` has non tensor types in it.

Here's the same code but without any `pack_x_y_sample_weight`...

[code]

Here are two options...
[code]

[code]

[2022-11-15 02:51] kennysong commented on #17232
Hi @gowthamkpr, thanks for the response!

Unfortunately, this does not resolve the issue. `tf-nightly` (`2.12.0-dev20221114`) is still unable to load the SavedModels from TF 2.7 and 2.6.

The problem is that the SavedModel is incompatible across TF versions. There is no problem loading a SavedModel with the same version of TF used to generate it.

[2022-11-15 10:19] rakshithvsk commented on #17238
@tilakrayal
Let me explain with a requirement...

If I want to train my model with trials=1 and epoch=10, ideally out of 10 epochs for a trial, the best one can fall anyway between Epoch-0 and Epoch-9.
Now at end of every trial, I need to get the details of best epoch for a given trial(Details can include metrics, model).  Currently I see that this is possible with **"keras.callbacks.Callback.on_t

[2022-11-15 10:36] mikechen66 commented on #14632
Please add the snippet of the code into the program of general_utils.py

**1. Find out your path**

For me, the path is listed as follows:

/home/user/miniconda3/lib/python3.7/site-packages/tensorflow/python/keras/utils/generic_utils.py

**2. Paste the code into the program of generic_utils.py**

def populate_dict_with_module_objects(target_dict, modules, obj_filter):
  for module in modules:

[2022-11-15 11:15] Zhaosoi opened #17242 "How to set the Dropout layer with random rate when training ?"
I want to change dropout rate when training.  The dropout rate is a random value between 0.1 and 0.9, and in every five times, dropout rate is set to 1. My code is as follows. But I found that the drorout rate  not changed with the change of training batch. Can anyone help me?

import numpy as np
import keras
from keras.models import Sequential, Model
from keras.wrappers.scikit_learn import KerasC

[2022-11-15 13:13] azd-rzzd commented on #16700
I have the same issue with tf.GradientTape(). I use this to watch the gradients on_epoch_end and each iteration takes around 50 minutes, while training itself is less than 5 minutes.

[2022-11-15 13:46] CORRELU opened #17243 "BinaryFocalCrossentropy loss not working"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-11-15 15:20] AdityaKane2001 commented on #16016
@ghylander

Requesting to close this issue in case it is resolved. Thank you.

[2022-11-15 16:35] pocathoughts opened #17244 "tf.keras.utils.get_file() produces duplicate file with dot underscore "._""
How do I prevent the untar from the above get_file() call from creating duplicate "._*" files?

I get double the images in the dataset when I run the following, and the duplicated images have a prefix of ._

import pathlib
import matplotlib.pyplot as plt
import numpy as np
import PIL
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.mod

[2022-11-15 20:53] pocathoughts commented on #17244
Still an issue

[2022-11-16 02:02] georgeyw commented on #17008
I have a similar issue with a model that uses RaggedTensors. I see an error message that looks something like "No common supertype of TensorSpec and RaggedTensorSpec".

I seem to be able to fix this by rolling back the code for `infer_inputs_from_restored_call_function` from r2.10 (found here: https://github.com/keras-team/keras/blob/r2.10/keras/saving/saved_model/load.py#L1293) to r2.7 (found her

[2022-11-16 07:21] tilakrayal commented on #17242
@Zhaosoi,
Code shared is full of [indentation errors](https://colab.research.google.com/gist/tilakrayal/a56f3ef87166ad99f89336264951b637/untitled763.ipynb), please share a colab gist with issue reported or simple stand alone indented code with all dependencies such that we can replicate the issue reported. Thank you!

[2022-11-16 08:02] Zhaosoi commented on #17242
Many thanks! I have uploaded the data (.csv) and code (.ipynb and .py)
[code.zip](https://github.com/keras-team/keras/files/10019346/code.zip)
)

[shuju.csv](https://github.com/keras-team/keras/files/10019323/shuju.csv)

[2022-11-16 08:05] Zhaosoi commented on #17242
@tilakrayal Many thanks! I have uploaded the data (.csv) and code (.ipynb and .py).

[2022-11-16 08:51] tilakrayal commented on #17244
@pocathoughts,
I tried to execute the code and was able to save the images without any issues. And also those images are being saved in the expected format. Kindly find the below image for the reference. Please try to clear the cache and try to save the images. Thank you!

![image](https://user-images.githubusercontent.com/81610181/202133426-9092f396-679c-4747-a263-9080d0367654.png)

[2022-11-16 13:26] Anna8920 opened #17247 "Python выбор конкретного символа из файла, с помощью обученной модели"
Есть обученная нейронка на распозновании символов. В prediction пользователем вводится символ, прогоняется через обученую модель и выдается этот же символ.

`import tensorflow as tf
from tensorflow import keras

model = tf.keras.models.load_model('ep_5000.h5')
input_let = str(input('Enter: '))

word_is_found = False

with open('dataset_letter.txt', 'r') as f:
     text = f.read()
     for line in

[2022-11-16 17:27] #17247 closed

[2022-11-16 17:46] tilakrayal commented on #15490
@fcolecumberri,
As per the above comment from the developer N >=4 cost is high. So could you please chech that
`nD` convolutions can be realized by summing up a sequence of **(n-1)D** convolutions. Please take a look [here](https://github.com/funkey/conv4d) for an implementation of a 4D convolution layer using TensorFlow's conv3d layer. For more details can be found in the [docstring](https://gith

[2022-11-16 18:49] yurivict opened #17248 "Why do you depend on tf-nightly and not a regular tensorflow release?"
It's hard to chase nightly releases in the ports context.

[2022-11-16 20:10] gowthamkpr commented on #17243
@CORRELU Thank you for reporting the bug. This has been fixed in tensorflow >= 2.10 . Please take a look at the [gist](https://colab.sandbox.google.com/gist/gowthamkpr/8e95ebc774766db70b04d1303cc76daa/untitled405.ipynb). Thanks!!

[2022-11-16 22:57] sachinprasadhs commented on #17173
Could you please provide the reproducible code which you have used to compile the model with sample input. Thanks!

[2022-11-17 00:25] mattdangerw commented on #17232
Thanks for filing! Will take a deeper look.

[2022-11-17 00:47] mattdangerw commented on #16700
Looking at the code here, it seems like you have a `mask_dict` which is static in the context of an individual `model.fit()` call. Is that right?

If that is the case, you would probably see much better performance by making a custom layer called `MaskedDense` perhaps, that implements the logic you want here, and passing the static mask to that layer. Hard to say exactly what the right structure w

[2022-11-17 02:39] RunnerZhong commented on #17173
`import numpy as np
import tensorflow as tf
import tensorflow.keras.backend as K

input_t = tf.keras.Input(shape=(28, 10), batch_size=2, dtype="float32")

rdm_value = np.ones([2, 28]).astype(np.float32)
rdm_value[:, 20:] = 0
mask_value = K.constant(np.array(rdm_value), dtype='bool')

m_state = tf.keras.initializers.GlorotUniform()(shape=[2, 6], dtype='float32')
c_state = tf.keras.initializers.Glor

[2022-11-17 02:41] RunnerZhong commented on #17173
You can reproduce issue with above sample, thanks.

[2022-11-17 06:25] mattdangerw commented on #15795
This looks like it is breaking things as of tensorflow 2.10 with nested models. Attached a repro...
https://colab.sandbox.google.com/gist/mattdangerw/22a9dcb0319875f7039e6335ac5614ec/plot-model-bug.ipynb

Any ideas anyone?

[2022-11-17 09:03] tilakrayal commented on #17248
@yurivict,
The **tf-nightly** pip package is built and released to [PyPI](https://pypi.org/project/tf-nightly/) every night (barring any build failures). As a result, you can see an [almost once-per-day version update history](https://pypi.org/project/tf-nightly/#history).
TF-nightly has the latest features close to the HEAD of the master branch of [github.com/tensorflow](https://github.com/tensor

[2022-11-17 10:43] yurivict commented on #17248
But why do you, the keras project, need to depend on the less stable version of TF with the newest features?
When users choose to install a particular revision of keras, they implicitly choose stability. Also a fixed Keras version should only depend on features in a fixed TF release. Newest and latest features would remain unused anyway.

[2022-11-17 14:14] AshwinJay101 commented on #17201
Thanks

[2022-11-17 14:16] SuryanarayanaY commented on #17199
Hi @jbischof,

Iam unable to replicate the issue with exact code mentioned by @jeromemassot due to TPU issue with my Colab and also its a large model.But iam pretty sure that this is due to Serialization problem with efficientnet Model from tf.keras.applications.efficientnet. These models works fine with 2.9.2 version and having serialization issue from 2.10V and tf-nightly versions. Please refer

[2022-11-17 18:50] austinhoag opened #17252 "Model forward pass outputs are identical for all inputs, but only when batch size exceeds some large value"
**System information**.
TensorFlow installed using miniconda, from this YAML file: https://github.com/jeffheaton/t81_558_deep_learning/blob/master/tensorflow-apple-metal-conda.yml

Platform: macOS-13.0-arm64-arm-64bit
Tensor Flow Version: 2.10.0
Keras Version: 2.10.0
Python 3.9.13

GPU model and memory: Apple M1 8 GB

**Describe the problem**.

I am running a simple convnet on MNIST. There are 10

[2022-11-17 19:31] mattdangerw commented on #17234
Talked this over, I am not sure we would want to go straight to a new layer at this time, but if you are interested, you could contribute a new Keras example ([instructions here](https://github.com/keras-team/keras-io)) showing how to implement this layer, and how it can improve performance on a timeseries dataset over lstms!

[2022-11-17 21:10] mattdangerw commented on #17238
I don't think we would want to change the inputs to `on_train_end`, that would be disruptive to all users relying on the current behavior. If anything, the more general case would seem to be to return the entire epoch history rather that last or best, but that would break all the `on_train_end` users relying on `logs` today.

I think the best option would be to write your own callback here, overri

[2022-11-18 00:51] matthewfernst commented on #17218
@SuryanarayanaY Hi there. I finally got my config portion to work on my custom layers and this issue is still persisting. Do you have another solution? Thanks!

[2022-11-18 03:33] matthewfernst opened #17254 "Convert h5 to Frozen PB with names the same"
### Issue Type

Support

### Source

binary

### Tensorflow Version

2.4 / 2.9.2 (Occurs on both)

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 18.04

### Python version

3.8

### Current Behaviour?
I am trying to take an h5 model and convert it to a frozen PB (TF1 style). I have been able to do this various resource online, however, they all produce weight names that don't

[2022-11-18 06:26] adriangb commented on #16983
@mattdangerw would you mind giving an update now that 2.11.0 was released? Please let me know if I am doing something wrong or if there are alternatives, but as far as I can tell this was an unannounced breaking change with no alternative API.

[2022-11-18 07:07] chenmoneygithub commented on #16983
`get_weights` method is removed in the new optimizer, if you need to access the weights, please call `variables()` method.

But I don't think the issue is caused by this deprecation, at the time then issue got created the new optimizer was still in `experimental` namespace, so it should be an issue with serializing the old optimizer.

At the current version, I would encourage reworking the optimiz

[2022-11-18 07:09] adriangb commented on #16983
Digging a bit I see that there at least is a public `.variables` API. I can use that to get the weights, but setting them for Adam does not work as expected:

[code]

Maybe that's an unrelated bug? I would expect this roundtrip to work

[2022-11-18 07:11] adriangb commented on #16983
Here's the current code: https://github.com/adriangb/scikeras/blob/master/scikeras/_saving_utils.py

It's the only reliable way that I know of to serialize optimizers with state like Adam.

[2022-11-18 07:12] adriangb commented on #16983
I reported the issue because I test with `tf-nightly` precisely so I can catch these sorts of breaking changes before they are released

[2022-11-18 07:13] chenmoneygithub commented on #16983
There is not `set_weights` method. The current workaround is to loop over the variable list and set each variable individually.

Some more context - we no longer keep the `set_weights` and `get_weights` because optimizer variables are now stored as common TF variables, so the checkpoint saving/restoring is the same as Keras layers. Can you try using the same code for serializing Keras layer on opt

[2022-11-18 07:14] adriangb commented on #16983
`set_weights()` is definitely there: https://github.com/keras-team/keras/blob/e6784e4302c7b8cd116b74a784f4b78d60e83c26/keras/optimizers/optimizer_experimental/optimizer.py#L777

(from the 2.11.0 tag)

[2022-11-18 07:16] adriangb commented on #16983
That's good news! It may "just work" then and I can remove these workarounds. Let me try.

[2022-11-18 07:23] adriangb commented on #16983
Exciting news! I _think_ all of the bugs with optimizer serialization are fixed. So I think all of the following tickets are resolved:
https://github.com/keras-team/keras/pull/15661
https://github.com/tensorflow/tensorflow/issues/44670
https://github.com/keras-team/keras/issues/15512

I'll update SciKeras and run tests in CI to confirm

[2022-11-18 07:37] adriangb commented on #16983
Nope, I got my hopes up too soon. The bug reported in https://github.com/tensorflow/tensorflow/issues/44670 is still there.

So yeah @chenmoneygithub can you think of a way to serialize and deserialize stateful optimizers in 2.11.0?

[2022-11-18 10:18] pure-rgb opened #17255 "TypeError: 'NoneType' object is not callable"
I want to recompile the model using callback but it does not work. See below. I'm using TF 2.9.

[code]

In below, see in `on_epoch_begin` method, where recompiling is tried. For this, training can not be done. How to enable recompiling the keras model?

[code]

[code]

[2022-11-18 12:46] #17200 closed

[2022-11-18 13:46] #17214 closed

[2022-11-18 19:34] chenmoneygithub commented on #16983
You need to call `load_weights()` to restore the weights, otherwise it will be lazily loaded to my knowledge.

For your code snippet, you want to do `new.load_weights("model")` after the `load_model()` call.

[2022-11-18 19:44] adriangb commented on #16983
I think `Model.save_weights()` and `Model.load_weights()` deal with the model weights, not the optimizer variables/state/weights. Also `Model.save()`  and `load_model()` do save/load the model weights (but not the optimizer state/variables/weights).

If I'm missing something, maybe you can give me a self-contained example where a model is saved and re-loaded preserving the optimizer state?

[2022-11-18 20:14] chenmoneygithub commented on #16983
[code]

It loads the optimizer state. You cannot do the length equal assertion because `iteration` somehow is no longer a variable right after restoring, but you can still access it with the right value by `new.optimizer.iterations`.

[2022-11-18 20:23] adriangb commented on #16983
Here's what I'm getting:

[code]

My understanding is that `iteration` corresponds to the first variable (of shape `()`).
The issue here is that the rest of the variables are not restored _at all_. Notice how `model.optimizer.variables()` has 5 variables while `new.optimizer.variables()` has just 1 variable (`iteration`). This means that the optimizer state/weights/variables were _not_ restored an

[2022-11-18 23:56] Suzan009 commented on #17255
Is it valid? The error mainly occurs for this, where I try to recompile the model.

[code]

[2022-11-19 07:37] liumarcus70s commented on #431
Hi quantshah, can the function work in TF2.0? When I run the function, I got the follow error
======================================================================
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In [21], line 1
----> 1 activations = utils.get_activations(model, x_test[test

[2022-11-19 10:27] JayR7 opened #17258 "InvalidArgumentError: Graph execution error"
Greetings everyone,

I'm trying to build a NN for a multi-label text classification problem.
When fitting the model, i got the "InvalidArgumentError: Graph execution" error, i'm sure that's a problem related to the embedding shape. i've tried many tries to fix it, but everytime it ends up getting the same result.

Code:
[code]

Model Summary:
![image](https://user-images.githubusercontent.com/5219

[2022-11-19 12:09] r3v1 opened #17259 "Save FeatureSpace object"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-11-19 14:21] innat opened #17260 "Way to utilize `loss_weights` in custom `fit` method!"
I'm going through this documents ([customizing_what_happens_in_fit](https://keras.io/guides/customizing_what_happens_in_fit/) by @fchollet), and eventually feel like getting stuck if I want to weighted the loss value. For example, observe the following code

[code]
[code]

In the above, no loss is passed in `model.compile` method, because, we're manually computing loss value inside the `train_step

[2022-11-19 16:05] innat commented on #17260
**additional info**

There is a class function [`compute_loss` ](https://www.tensorflow.org/api_docs/python/tf/keras/Model#compute_loss) of `keras.Model`, it states

![image](https://user-images.githubusercontent.com/17668390/202859984-abe76a9e-9661-4044-9863-7db4b04e5beb.png)

Above, is the `sample_weight` argument right option here to weighted the loss? Is it computationally same as `loss_weight

[2022-11-19 19:52] awinml commented on #16002
As there has been no PR from @Shreyz-max since Aug 26 2022, I would like to take over and work on this issue.

[2022-11-19 19:52] awinml commented on #16002
/take

[2022-11-19 19:55] jamesbraza opened #17261 "Allow cloning of tf.keras.Model subclass"
**System information**.

TensorFlow version (you are using): 2.10.0
Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state**.

Coming from https://github.com/tensorflow/tensorflow/issues/47048.  Currently, `tf.keras.models.clone_model` does not work with subclasses of `tf.keras.Model`:

[code]

Trying to clone this model via `cloned_model = tf.keras.model

[2022-11-20 09:53] wagenaartje commented on #15547
This is still an issue; it does not make sense that a single layer can be concatenated at runtime while it throws an error when re-importing.

[2022-11-20 13:02] hnhparitosh commented on #16951
Hello! Is this closed as per #16989?

[2022-11-20 20:55] jamesbraza opened #17264 "image_dataset_from_directory supporting reshuffle_each_iteration"
**System information**.

TensorFlow version (you are using): 20.10.0
Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state**.

I find [`tf.keras.utils.image_dataset_from_directory`](https://www.tensorflow.org/api_docs/python/tf/keras/utils/image_dataset_from_directory) very convenient for reading in images from data sources like Kaggle.  I use `shuffl

[2022-11-21 06:15] jamesbraza opened #17265 "Model.load_weights: NotFoundError if have brackets in name and no extension"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Monterey version 12.6
- TensorFlow installed from (source or binary): `pip install tensorflow-macos`
- TensorFlow version (use command below): 1.10.0
- Python version: 3.10.8
- Bazel version (if compiling from sour

[2022-11-21 07:15] SuryanarayanaY commented on #17252
HI @austinhoag ,

Thanks for reaching us. In Keras the default `kernel_initializer` is `'glorot_uniform'`. With increase in batch size the loss averages and probability will be equal to all classes as training not done on the model.This is intended and expected behaviour with `'glorot_uniform'` as `kernel_initializer`. If you observe even with low batch size the probabilities of all values nearly

[2022-11-21 08:46] #17203 closed

[2022-11-21 12:24] tilakrayal commented on #17258
@JayR7,
I was facing a different error while executing the given code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9d93edc856b99a161f05f0023b110014/untitled769.ipynb) and provide the complete code.
 Also please try to execute the below code before importing the tensorflow.
**!apt install --allow-change-held-packages libcudnn8=8.1.0.77-1+cuda11.2**
and try to

[2022-11-21 12:25] tilakrayal commented on #17260
@innat,
We would prefer a PR for the validation, Could you please feel free to submit a PR for the requested change to be made. Thank you!

[2022-11-21 12:52] innat commented on #17260
@tilakrayal
Thanks for the response.  I'm not open for contribution right now, please find someone else. Also. could you please elaborate more about [`compute_loss`](https://www.tensorflow.org/api_docs/python/tf/keras/Model#compute_loss) class method? It might be the right function here. Currently, it gives

[code]
whereas I think it should be

[code]

where, for single output or multi-output,

[c

[2022-11-21 16:55] SuryanarayanaY commented on #17201
@AshwinJay101 ,
Could you please close this issue if your issue resolved.
Thankyou!

[2022-11-22 01:36] #17201 closed

[2022-11-22 10:46] #17212 closed

[2022-11-22 12:51] Turningl opened #17268 "about lstm"
I would like to ask a very simple question. lstm module of keras is really good, one line of simple code can run lstm algorithm. My question is: In pytorch lstm needs to pass h0, c0, but it seems that in keras lstm only needs to pass x. Can you please tell me how h0, c0 are defined or pre-set in lstm in Keras?

[2022-11-22 13:08] tilakrayal commented on #17265
@gowthamkpr,
I was able to reproduce the issue on tensorflow v2.9, v2.11 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/e194dcc44dbf610487087dca2ca1ef8d/untitled772.ipynb).

[2022-11-22 13:27] Pouyanpi commented on #16951
Hello,
Yes it is closed.

[2022-11-22 21:32] mattdangerw opened #17270 "Model subclass with functional instances can cause weird side effects"
**Describe the problem**.
Let's say you are working on a model base class that derives from `keras.Model` and provides some additional functionality. It is intended to be used with both functional and subclass patterns, similar to `keras.Model`.

In this case you can run into a weird issue, where any code making a functional instantiation of your subclass class will permanently rewrite the inherit

[2022-11-22 21:38] mattdangerw commented on #17270
@qlzh727 let me know if you have thoughts here, looks like you wrote the original class injection code?

Seems like a tricky one to solve. Ideally creating a functional instance would only affect the instance and not the class.

[2022-11-23 01:24] HosseinMA96 commented on #9964
I encountered the same problem.

[code]

This function cannot be parallelized.

[2022-11-23 16:45] Al-Murphy commented on #9477
Hey, has a solution to this now been implemented?

[2022-11-24 00:24] rchao commented on #17270
Triage note: This is one of those problems that we think should fix but the feasibility doesn't seem optimistic. Guess one way to assess this is how serious the problem is affecting the users. Do we have any data on this (is this reported by any user or we found that ourselves?)

[2022-11-24 00:28] rchao commented on #17265
Thanks for the report - there are projects being worked on to address a number of saving/loading issues and we should definitely keep this in mind. Unless there are community contributors interested in taking on this, I'm not seeing anything actionable by Keras other than what was mentioned above.

[2022-11-24 00:31] rchao commented on #17264
@fchollet, wondering if this makes sense to you and should we make this a community contribution welcome item?

[2022-11-24 00:35] rchao commented on #17260
@innat, is it an option for your use case to invoke multiple loss functions, collect the losses, multiply them by the weights you would like, sum them, and feed that final combined weighted loss value to `tape.gradient()` api?

[2022-11-24 05:42] noaz98 commented on #10150
in this file(tweaked_ImageGenerator_v2), use an Image(png, jpg) file, is there any way to make the .nii file read?
( not use PIL, use nibabel to read .nii file)

[2022-11-24 05:48] rakshithvsk commented on #17238
Hi @mattdangerw,
I definitely agree with your thought of not modifying inputs for **on_train_end**.
However issue with overriding **on_train_end/on_epoch_end** and having implementation similar to **ModelCheckpoint**  is that, at **on_epoch_end** method, no objective details on which best models is to be picked up is available. Hence without this it would be difficult to decide on the best ones on

[2022-11-24 08:45] innat commented on #17260
@rchao
Thanks for the response. About your question, yes, sort of.

- The main query explained in the first post. How to weight the custom loss function in case of custom fit. Suppose that, we won't pass `loss` argument in the `model.compile` method. So, in such scenario, how to use `loss_weights` for custom loss function. Please see the code example in the first post for more details.
- [Follow u

[2022-11-24 09:44] tilakrayal commented on #17248
@yurivict,
As mentioned the tf-nightly pip package is built and released to [PyPI](https://pypi.org/project/tf-nightly/) every night (barring any build failures). As a result, you can see an [almost once-per-day version update history](https://pypi.org/project/tf-nightly/#history).

If you choose tf-nightly it will change the features every night. So we request the community to choose tensorflow s

[2022-11-24 10:07] sushreebarsa commented on #17268
@Turningl
Could you please elaborate about your feature and  specify the use cases for this feature. Thank you!

[2022-11-24 11:04] gtmray commented on #4875
Found out that the H5 file was the issue. We should save it in SavedModel format because of these limitations of the H5 file format:
i. External losses & metrics added via model.add_loss() & model.add_metric() are not saved (unlike SavedModel).
ii. The computation graph of custom objects such as custom layers is not included in the saved file. At loading time, Keras will need access to the Python

[2022-11-25 11:30] tilakrayal commented on #17242
@Zhaosoi,
I was not able to find any issue while executing the given code. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/459e54d2885c52c6078f7cf7f168d57a/crackmain5.ipynb) and please let us know if anything is missing here.

[2022-11-25 14:12] innat opened #17273 "Add Lightning-like Profiler to Keras"
**System information**.

TensorFlow version (you are using): 2.9
Are you willing to contribute it (Yes/No) : No

## Describe the feature and the current behavior/state

In PyTorch-Lightning, you can identify bottlenecks in your code using [**Profiler**](https://pytorch-lightning.readthedocs.io/en/1.6.0/advanced/profiler.html) API. And I've found it super useful and easy to inspect the pros and con

[2022-11-25 14:14] innat commented on #17273
cc. @bhack

[2022-11-25 14:18] bhack commented on #17273
We had a long thread at https://github.com/keras-team/keras/issues/16699

Also using the standard Tensorboard it is hard to precisely profile single `tf.function`:
https://github.com/tensorflow/profiler/issues/503

[2022-11-25 17:54] goncinious opened #17275 "ModelCheckpoint callback fails when mixed precision is enabled in TF 2.11.0"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 22.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1..0
- Python version: 3.7.15
- GPU model and memory: Tesla T4 (16GB)
- Exact command to reproduce: see [Col

[2022-11-26 00:09] mhorlacher commented on #16469
Any updates on this?

[2022-11-26 02:03] #17217 closed

[2022-11-26 03:46] sushreebarsa commented on #17255
@SuryanarayanaY I was able to replicate the issue on colab, please find the [gist ](https://colab.research.google.com/gist/sushreebarsa/f38e2c1e1ef33a776f20cf4da8a5c8cb/17255.ipynb)here. Thank you!

[2022-11-26 04:23] nwaysir opened #17277 "自动驾驶更新笔记 Autopilot Updating Notes"
您好，仓库内容很全面，非常受益， 可否引荐下本人的笔记，把我对自动驾驶的理解分享给大家，希望大家和我一起不断完善相关内容，谢谢您！

Hello, the content of the repository is very comprehensive and very beneficial. Could you introduce my notes and share my understanding of autopilot with others? I hope you can continue to improve the relevant content with me, thank you!

[Autopilot-Updating-Notes](https://github.com/nwaysir/Autopilot-Updating-Notes)

[2022-11-26 09:45] Kaschi14 commented on #17199
I get the exact same error with even the same numbers in the array which are not serializable. Downgrading tf doesn't work for me because of other dependencies... Anyone got any ideas?

[2022-11-26 11:58] gpetho opened #17278 "Inconsistency in connection with setting both clipnorm and global_clipnorm attibute for an optimizer"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): irrelevant, but Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): irrelevant, but binary
- TensorFlow version (use command below): 2.10.0
- Python version: irrelevant, but 3.10
- Bazel version (if compili

[2022-11-26 16:27] VallabhMahajan1 opened #17279 "Inputs to TensorFlow serving REST API"
I have build a seq2seq model by referring to this tutorial.
<https://keras.io/examples/nlp/lstm_seq2seq/>

After training the model, instead of saving the model directly, I saved the encoder_model and decoder_model separately.I'm using TensorFlow serving to deploy these two models.

Encoder model input was a numpy array of length 1, so I converted that to JSON to pass it to REST API. This worked a

[2022-11-26 23:29] maccloud42 commented on #5088
works a treat, I saved my model with backend aliased as K in a lambda function

from keras import backend as K
from keras.models import load_model
.
model = load_model("yourmodel.h5", custom_objects={"K":  K} )
.

[2022-11-28 06:13] SuryanarayanaY commented on #17255
Hi @Suzan009 ,

Thanks for writing us. Calling `model.compile()` in Custom Callbacks not valid.Whenever we call `model.fit()` internally TF calls `make_train_function()` which creates a function that executes one step of training. This function is cached the first time `Model.fit` or `Model.train_on_batch` is called. The cache is cleared whenever`Model.compile` is called.Hence the error `'NoneType

[2022-11-28 07:44] anjil67 commented on #13940
this doesn't work for mine
x_train is text data whereas y train is its classification

[2022-11-28 09:22] Kaschi14 commented on #17199
@SuryanarayanaY
Saving with `tf.saved_model.save()` works, however loading only works with `tf.saved_model.load()` which makes it pretty much useless, as it doesn't come as a keras object.

Trying to load the model with `keras.models.load_model()` results in a Value Error: `Unable to create a Keras model from SavedModel at D:\model_weights\EfficientNet. This SavedModel was exported with `tf.saved_

[2022-11-28 10:55] tilakrayal commented on #17275
@goncinious,
I tried to execute the code in the alternative approach  and was able to execute without any issues/error. And also the model will use bfloat16 as its compute data type.

[code]
Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/5292a13779231ac424b49fb6eb4b6366/17275.ipynb). Thank you!

[2022-11-28 11:28] tilakrayal commented on #17278
@gpetho,
I ran the code and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/8ad4d7ed344dc87e76687f02099a1d97/untitled783.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error. Thank you!

[2022-11-28 14:33] aicheung opened #17282 "Load Model using load_model throws error when there is a Lambda layer in the model"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-11-28 15:12] Dobiasd commented on #17199
Same problem here:

[code]

->

[code]

Here is a `Dockerfile` to easily reproduce it:

[code]

[2022-11-28 19:12] rchao commented on #17260
Is there anything actionable or we can close this issue?

[2022-11-28 19:13] qlzh727 commented on #17270
This is tricky since the ModelSubclass changed from a normal subclass model to a functional model. The class hierarchy injection could only happen on the class level and not on the instance level. The injection logic is critical since there are logic branch between subclass model and functional.

I think this case is quite rare since user barely change the class types. On way to solve this issue i

[2022-11-28 20:34] mattdangerw commented on #17270
@rchao this was something I ran into with KerasNLP, it was not user reported.

Yeah, I think this is more an issue for library developers (us and downstream). If you want to provide something extra on top of `keras.Model` and support the same flows as `keras.Model` you are somewhat blocked.

The workaround I have found for this was to always reset the class hierarchy in `__init__`.

[code]

This g

[2022-11-28 22:03] #15751 closed

[2022-11-28 22:35] innat commented on #17260
Yes, it can be closed. Thank you.

[2022-11-28 22:35] #17260 closed

[2022-11-28 22:58] rchao commented on #17260
Thanks Mohammed!

[2022-11-29 01:29] adriangb commented on #16983
@chenmoneygithub looping back here. Am I missing something or does your suggestion indeed not work? Thanks

[2022-11-29 01:34] chenmoneygithub commented on #16983
@adriangb What's your TF and Keras version? The snippet works as expected on my testing.

[2022-11-29 01:41] adriangb commented on #16983
https://colab.research.google.com/drive/1p9XOAE9SwU3ZATKVHmzxWIDHK1BGF7S3?usp=sharing

This notebook confirms my results. The TF and Keras versions are printed out as well.

[2022-11-29 04:33] chenmoneygithub commented on #16983
In 2.11 the optimizer does lazy loading, if you want to explicitly restore the variable values, you need to call `optimizer.build(model.trainable_variables)`, which is automatically called at the first time of updating variable value.

[2022-11-29 04:57] chenmoneygithub commented on #16983
[code]

Please check if this works for you, thx!

[2022-11-29 06:13] SalmanshariffSR commented on #17270
Don't sd me this all delete

On Tue, 29 Nov, 2022, 02:06 Matt Watson, ***@***.***> wrote:

[2022-11-29 08:19] Suzan009 commented on #17255
@SuryanarayanaY
I've found an issue that is somewhat similar to mine, https://github.com/keras-team/keras/issues/13368. It was closed as complete on Jun 25, 2021. What does it mean?

I've a case where I need to recompile with different parameter inside the `self.model.compile` method during the training time. As you said, calling `model.compile()` in custom callback is not valid. Well, I would arg

[2022-11-29 08:41] adriangb commented on #16983
Yes, I think that works! I’ll give it some more in depth testing and confirm. Thank you for your help.

[2022-11-29 12:04] #17213 closed

[2022-11-29 14:40] maxcrous commented on #17199
Also facing this issue.

[2022-11-29 15:25] markub3327 opened #17287 "Running mean and variance with `tf.keras.layers.Normalization`"
**System information**.

TensorFlow version (you are using): 2.10.1
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Can `tf.keras.layers.Normalization` be used in running mean and variance manner?
I need adapt this layer as the first step in the custom training function during training.

Is effectively runs `adapt(data, batch_size=256, ste

[2022-11-29 17:14] #17243 closed

[2022-11-30 05:49] markub3327 commented on #17287
Sorry, I missed.

The `adapt` method cannot be used inside XXX:
[code]

In this message is nothing about `finalize_state()`. All updates done inside `def train_step(self, sample):` using `layer.update_state(x)` are not applied to `self.mean` and `self.variance`.

---------------------------

Please inform the users in documentation about `finalize_state()` method, which must be used for example af

[2022-11-30 10:04] #17244 closed

[2022-11-30 11:09] triumph-wangyuyang opened #17289 "tf.keras.metrics.mean_absolute_error exception information is misleading."
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 11
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below): 2.11
- Python version:3.8
- GPU model and memory:RTX3060
- CUDA/cuDNN version:CUDA: 11.2    cuDNN 8.1

**Describe t

[2022-11-30 13:56] SuryanarayanaY commented on #17252
Hi @austinhoag ,
I have tested the same code with both default initializer and  with other initializer `tf.keras.initializers.RandomNormal(mean=0., stddev=1.)` for same batch size of 40000 in GCP VM supported by GPU.Please find the results attached below.The code used attached [here](https://colab.research.google.com/gist/SuryanarayanaY/4d1e9ce1d0e7edaa80746fe205c99325/17252r3.ipynb).

[code]
As y

[2022-11-30 14:18] tilakrayal commented on #16835
@davinnovation,
Could you please take a look at the related PR's where one PR was [closed](https://github.com/keras-team/keras/pull/16905) and the other one was [merged](https://github.com/keras-team/keras-cv/pull/921). Also please take a look at this doc [link](https://paperswithcode.com/model/tf-efficientnet-lite?variant=tf-efficientnet-lite0) and let us know if it serves the purpose. Thank you!

[2022-11-30 19:04] #15490 closed