[2022-03-07 10:47] goncinious commented on #15678
Thanks @reedwm for you insights on GPU determinism - that was very useful.

Previously, I found that cuDNN upgrade fixed the OOM issue observed with mixed precision on A10g GPUs (CC=8.6) (see https://github.com/keras-team/keras/issues/15678#issuecomment-992516030), however, I then found it breaks on a GPU with older compute capability (NVIDIA Tesla T4, CC=7.5) with a `RESOURCE_EXHAUSTED` error (se

[2022-03-07 12:17] sushreebarsa commented on #16160
@partiallycomplex Thank you for the update!
Please move this issue to closed status if it is resolved for you?Thanks!

[2022-03-07 12:32] partiallycomplex commented on #16160
The notebook is still running. Lets see if it outputs the error. What if it is just an error on tensorflow-macos?
Moeover do you have any insight from the log I published in the first post?

[2022-03-07 13:05] #15522 closed, assigned to jvishnuvardhan

[2022-03-07 13:06] #15577 closed

[2022-03-07 18:18] partiallycomplex commented on #16160
The problem is not resolved. I cant see the output because the notebook timed-out. I cant monitor that. Please decide if you want to spot the bug or close the ticket, but I cant work on this. Thx!

[2022-03-07 19:00] hertschuh commented on #15964
#16164 fixes the following warning:
[code]

Considering that this issue was primarily focused on this warning, closing now.

[2022-03-07 19:00] #15964 closed

[2022-03-07 20:06] reedwm commented on #15678
The error is because you are running out of memory. It's possible future cuDNN versions use more memory, although the overall memory usage of the model should not significantly increase.

When you got the `RESOURCE_EXHAUSTED`, did you have determinism enabled? Unfortunately, determinism can cause a lot more memory to be used, and the extra memory used can great vary depending on the version of cuD

[2022-03-07 20:24] reedwm commented on #16100
This is similar to https://github.com/tensorflow/tensorflow/issues/38357, except that issue involved an older version of the API. The same issue still remains though: the loss scale cannot go below 1.

As mentioned in the other issue, if gradients are still nonfinite when the loss scale reaches 1, every step will be skipped and training will not progress. This behavior is not great, but I cannot t

[2022-03-07 21:36] chenmoneygithub commented on #16129
The problem is when we are creating a `tf.Variable`, there could be multiple ways on how we determine its dtype. That is to say, in the EfficientNetV1 model, the dtype is determined by Keras backend, which is affected by global policy.

In this code snippet you provided:
[code]

If you print out the `variable`, you can see it is still of dtype float32, which is the same scenario as MobileNetV3, i.

[2022-03-08 02:42] hamidreza48 commented on #5323
The reverse of a Conv2D layer is a Conv2DTranspose layer, and the reverse of a MaxPooling2D layer is an UpSampling2D layer.

[2022-03-08 03:38] danijar commented on #16100
Gradients can go above 65504 quite easily when predicting large images. I already switched to my own implementation of loss scaling that allows values below 1 and that works great. I just posted the issue here in case the Keras team wanted to fix it for others.

[2022-03-08 04:26] rameshkunasi opened #16188 "Not able to cluster Conv1DTranspose layer"
Hi,

I am using this code for clustering the conv1d layers.

[code]

I am getting below error. Is Conv1DTranspose clustering is possible or not? Can anyone suggest how to solve this.

**Please initialize Clusterwith a supported layer. Layers should either be aClusterableLayer instance, or should be supported by the ClusteringRegistry. You passed: <class 'keras.layers.convolutional.Conv1DTranspose'

[2022-03-08 04:27] rameshkunasi commented on #16188
Below is the code snippet to reproduce the issue.

[code]

[2022-03-08 08:13] chunduriv commented on #16178
@Tropaion,

Please can you refresh your kernel and try with other images. It will resolve your issue.

I tried to run your code on Colab using `TF v2.8` and everything is working as expected. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/022b9d4264c5383bcec555947230ab10/16178.ipynb) for reference.Thanks!

[2022-03-08 08:21] Tropaion commented on #16178
@Tropaion Maybe there is a problem with my setup? https://wiki.flowerhouse.at/index.php/Jupyter
I use Jupyter with Keras. But sadly I don't have much hardware ressources and it takes ~42h.

[2022-03-08 09:41] chunduriv commented on #16178
@Tropaion,

You can use `Google Colab` for your learning, where you can access to `GPU` for free of charge. For more details please refer [here](https://colab.research.google.com/#scrollTo=5fCEDCU_qrC0).

I am successfully able to delete corrupted files using the same code mentioned in tutorial. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/022b9d4264c5383bcec5559472

[2022-03-08 10:01] goncinious commented on #15678
Thanks - no, determinism isn't enabled on the script I'm using, so, cuDNN >=8.3 seems to be using more memory than before.

Given that I'm restricted to use this model size and input shape on Tesla T4 GPU (16GB) - is there any options that I could try to reduce the memory usage?

[2022-03-08 11:07] Tropaion commented on #16178
@chunduriv I need to use my system because of a university project... which python version did you use?
I use Debian11 with Python 3.9.2 and this version:
[code]

[2022-03-08 11:45] siserte commented on #5337
Same problem here. When I use model.evaluate, it works fine.
However, with model.predict it lreads to an OOM.

[2022-03-08 12:26] chunduriv commented on #16178
@Tropaion,

Python Version: `3.7.12.`

If you are still facing same error, a workaround here is first uninstall Tensorflow and create new virtual environment for fresh Tensorflow installation. Thanks!

[2022-03-08 12:29] Tropaion commented on #16178
@chunduriv I tried it with an completely new setup two hours ago, sadly it didn't change anything:
[code]

[2022-03-08 15:33] beneyal opened #16189 "Instantiating a `tf.keras.applications` Model Nullifies Augmentation Layers"
Hi! 👋

I posed this issue over at TensorFlow's GitHub, and was told I should be posting this issue here.

I'm having a very weird problem which I couldn't find in the Issues tab, so I hope I'm not duplicating anything.

First, I'm using TensorFlow v2.8.0 on Google Colab (Python v3.7.12).

When creating an augmentation layer, be it a single layer, or a `tf.keras.Sequential` collection of them, they

[2022-03-08 15:51] sachinprasadhs commented on #16160
Could you please link the colab gist with the updated code, above linked gist is not producing the error which you have reported.

[2022-03-08 16:31] rthadur opened #16190 "can not install"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-08 16:32] #16190 closed

[2022-03-08 18:38] ArrowIntoTheSky opened #16192 "`tf.keras.losses.categorical_crossentropy` lack type check for `axis`"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.8
- Bazel version (if compiling from source): n/a
- GPU model and memory: n/a

**Des

[2022-03-08 18:56] rthadur opened #16194 "not able to intall"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-08 18:57] #16194 closed

[2022-03-08 19:35] markub3327 opened #16195 "RectifiedAdam()"
Hello,

 Would be interested to port `RectifiedAdam` from **tensorflow/addon** with addding exclude_from_weight_decay extension?

For more details https://github.com/tensorflow/addons/issues/2681

Thanks a lot.
Have a nice day.

[2022-03-08 19:52] reedwm commented on #15678
@nluehr, @awpr, any ideas why cuDNN 8.3 is using more memory than 8.1 on certain GPUs (despite using less on others)? I think the frontend API is not being used in either case, since TF is still compiled with cudnn 8.1, so it's not due to the frontend API. It's suspicious that 4718624784 bytes (4.7 GB) is being allocated.

@goncinious the only advice I have is to try reducing the batch size. If tr

[2022-03-08 20:45] awpr commented on #15678
I don't know why cuDNN 8.3 would use more memory, but it might be informative to check what algorithm and how much scratch space 8.1 was using for the same op, to see whether the newer version is using more scratch space for the same algorithms or is no longer able to use a different less memory-hungry algorithm -- that would help narrow down whether the issue is with over-allocating memory or wit

[2022-03-09 00:25] #16022 closed

[2022-03-09 06:48] markub3327 opened #16201 "exclude_from_weight_decay for AdamW"
Hello,

  please can you add an `exclude_from_weight_decay` parameter to AdamW? Some parameters during weight decay must be excluded.

For more details please look [here](https://github.com/tensorflow/addons/issues/2681).

Thanks a lot.
Have a nice day.

[2022-03-09 07:06] peter-jp commented on #16150
Actually, It points to the dataset location.

[2022-03-09 07:25] #14273 closed

[2022-03-09 10:25] #15797 closed

[2022-03-09 10:25] #14315 closed

[2022-03-09 10:42] chunduriv commented on #16195
@markub3327,

Can you please elaborate about your feature and please specify the use cases for this feature. Thanks!

[2022-03-09 10:44] chunduriv commented on #16201
@markub3327,

Can you please elaborate about your feature and please specify the use cases for this feature. Thanks!

[2022-03-09 11:16] chunduriv commented on #16132
@mortezamg63,

I did change in `batch_size` to `64` both in `parameters['batch_size'] `and `mlp_parameters['batch_size']`
and now i can see performance almost same. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/9ab96dd069ac8ca434ad62131b581621/16132.ipynb) for reference.Thanks!

[2022-03-09 11:59] partiallycomplex commented on #16160
@sachinprasadhs here the gist. I upload same test file as well
https://colab.research.google.com/gist/partiallycomplex/c393170f849f9389fae949a253aace99/kerasgist16160.ipynb

[2022-03-09 12:17] partiallycomplex commented on #16160
I saved the gist last week but it expired

[2022-03-09 14:59] Vishu26 opened #16202 "Better error message for Unexpected result of `train_function` (Empty logs). Please use `Model.compile(..., run_eagerly=True)`, or `tf.config.run_functions_eagerly(True)` for more information of where went wrong, or file a issue/bug to `tf.keras`"
Hi!

This error message pops up when empty arrays are passed to `Model.fit` or `Model.predict`. The solution suggested in the error message does not work and in some sense is not logical. Either the error message should be updated or the mentioned functions should have additional assertions to check for empty input arrays.

[2022-03-09 15:12] markub3327 commented on #16201
I need to exclude some parameters from the weight decay process. Useful during training the Transformer model. List of regex patterns of variables excluded from weight decay. Variables whose names contain a substring matching the pattern will be excluded.

[Here](https://github.com/microsoft/unilm/blob/master/beit/semantic_segmentation/backbone/beit.py#L415) is the use case.

The code behind exclu

[2022-03-09 15:12] markub3327 commented on #16195
I need to exclude some parameters from the weight decay process. Useful during training the Transformer model. List of regex patterns of variables excluded from weight decay. Variables whose names contain a substring matching the pattern will be excluded.

[Here](https://github.com/microsoft/unilm/blob/master/beit/semantic_segmentation/backbone/beit.py#L415) is the use case.

The code behind exclu

[2022-03-09 15:18] bozkurtmert0 commented on #16189
[This works for me](https://github.com/mrdbourke/tensorflow-deep-learning/issues/350#issuecomment-1062885777)
augmented_img = data_augmentation(img, training=True)

[2022-03-09 16:54] tommydino93 commented on #2379
Hello,
I am facing the same issue with TF 2.4. I am creating a model and loading some weights from a previous training with the [load_weights](https://www.tensorflow.org/api_docs/python/tf/keras/Model#load_weights) method. I am NOT compiling the model since I only want to perform inference, but this gives me the error:

`AttributeError: 'Functional' object has no attribute 'predict_function'
`

If

[2022-03-09 16:55] jonycgn commented on #16173
One thing to note is also that these logs were *not* actual batch-level summaries, which was a reason to remove them. They are accumulated from the beginning of the epoch to the current batch, since that is how `Metric`s work. They return the current cumulative average. So the documentation was misleading, and I don't think this type of summary is actually very helpful.

A more effective way to ad

[2022-03-09 17:10] jonycgn commented on #16173
We could consider to make the default `Model.train_step` implementation call `tf.summary.scalar` on every value that is added to a metric. Then the batch summaries would be correct.

[2022-03-09 18:12] foxik commented on #16173
I am not sure the documentation was explicitly stating that the recorded numbers were per-batch. Instead, I would expect the metrics to be aggregated, and I would expect the recorded numbers to be the same as the ones shown on the Progbar on the console during training (which are also averaged from the beginning of epoch, even loss). If you have `freq=100`, then the individual batch accuracies etc

[2022-03-09 18:25] #16066 closed

[2022-03-09 19:02] kaixih commented on #15678
I can repro the errors found in https://github.com/keras-team/keras/issues/15678#issuecomment-1060492734.

I think this is an issue caused by the heuristics of cudnn, which keeps updating from version to version and also returns different results between platforms. So, I would suggest to update to the latest cudnn as you have already done.

Then, you can try either of the two ways to work around t

[2022-03-09 20:45] TheImaginaryOne opened #16205 "When providing an list of labels, tensorflow.keras.preprocessing.image_dataset_from_directory cannot find images in root of specified directory"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-09 22:39] sachinprasadhs commented on #16192
Internally these boolean values will be converted to binary, if axis it set to `True` it will be converted to 1 and same will be considered for operation, if axis is set to `False`, it would consider 0 as value.
Anyways, I will send a fix to avoid confusion among the users. Thanks!

[2022-03-09 22:53] kaixih commented on #15678
I think the root cause is the workspace used in the `CUDNN_CONVOLUTION_BWD_DATA_ALGO_1` varies as below:
| CUDNN| T4| 3090 |
|---| ----------- | ----------- |
|8.1.0.77| 131MB   |4.7GB        |
|8.3.2.44|4.7GB        | 0        |

Since this algo is the only one that works for this conv case and we have a 4GB max limit for the allocator, the two "4.7GB" cases will simply fail which matches your ob

[2022-03-10 00:35] ArrowIntoTheSky commented on #16192
@sachinprasadhs Thanks for the PR. The problem here is that when calling `tf.keras.losses.categorical_crossentropy(y_true, y_pred, from_logits=from_logits, axis=axis)`, it **will not convert** `True` to `1` but raise an **error**. In `tf.keras.losses.categorical_crossentropy(y_true, y_pred, axis=axis)`, it will automatically convert `True` to `1`. This inconsistency can be very confusing or even b

[2022-03-10 01:12] sachinprasadhs commented on #16202
Could you please provide some simple reproducible code and the error message which you are getting currently in order to expedite the troubleshooting process. Thanks!

[2022-03-10 01:16] haifeng-jin commented on #16173
Waiting for triage.
Summary: TensorBoard does not log the batches metrics even when `update_freq=N` is set.
One question to answer first is: Do we want to log the aggregated metrics of only the `N` batches or log the aggregated of all batches from the start of the epoch?
The fix is not clear yet. A related commit: https://github.com/keras-team/keras/commit/7d06227f3ef653a451fffe65d1d7dace7f7945df

[2022-03-10 01:28] sachinprasadhs commented on #16189
From Tensorflow 2.8, the behavior of keras augmentation has been changed.
Augmentation layers which you are using  such as `RandomRotation`, `RandomFlip`, `RandomZoom`, `RandomHeight`, `RandomWidth`  by default does augmentation only during training and remains inactive during inference.

In order to make these layers active during inference time, call the layer with `training = True`.
[Here](http

[2022-03-10 01:38] jonycgn commented on #16173
Ok, I agree, it isn't a great idea to scatter this functionality across `Model` and the callback. The implementation is opaque and not easy to understand, and that was what prompted me to request removing it in the first place.

I disagree on the cumulative summaries front – I find it useful to have instantaneous batch summaries to get a sense of how much the loss function fluctuates. You can alwa

[2022-03-10 01:46] beneyal commented on #16189
Thanks for the info and the solution! 🙂

But why does this behavior happen when instantiating a `tf.keras.applications` model? Does the instantiation turn on some inference flag? Because, as the notebook shows, the only difference between the "working" and "not working" cells are the instantiation of `tf.keras.applications.EfficientNetB0`. The `data_augmentation` variable is unchanged.

[2022-03-10 01:51] haifeng-jin commented on #16172
Summary: The main problem is metrics would cast `y` to `self._dtype`, which is the `dtype` of the metric value, which may not be the correct `dtype` for `y`.

[2022-03-10 03:12] haifeng-jin commented on #16115
@maya-25 Thanks for the question. I would suggest you to ask this question here: https://groups.google.com/g/keras-users
The GitHub issues are mainly for bug reports and feature requests. Thanks

[2022-03-10 03:12] #16115 closed

[2022-03-10 03:24] haifeng-jin commented on #16004
You are welcome to add this example to [keras.io](https://github.com/keras-team/keras-io) if you don't find anything similar in the existing examples.
That is where we keep the various code examples of Keras.

[2022-03-10 03:24] #16004 closed

[2022-03-10 04:28] jvishnuvardhan commented on #15940
@QuentinMahieu I don't have access to the following file `SetenceSentiSample.csv` that you are loading

`df = pd.read_csv('/content/sample_data/SetenceSentiSample.csv')`

[2022-03-10 07:17] foxik commented on #16173
On second thought, at least for loss, I think you are right -- maybe I am too accustomed to the previous implementation :-)

But for stateful metrics, this quantity is never even computed (i.e., even inside `train_step`, only the aggregated values are available), and for some metrics, averaging batch-level values can be quite different than computing the metric on the whole data --  for example, i

[2022-03-10 08:02] atlastanka opened #16214 "How to make notop weight？"
How to make weight without FC?

[2022-03-10 09:00] QuentinMahieu commented on #15940
@jvishnuvardhan  Sorry, I didn't realise that the files were deleted once the session is closed. Just add this file to your drive, I have modified the code to get the file from dive and this should work (works for me)
[SentencesSentiment.csv](https://github.com/keras-team/keras/files/8221705/SentencesSentiment.csv)

[2022-03-10 10:05] goncinious commented on #15678
@kaixih, thank you very much for investigating and finding what it looks like the root cause.

I can confirm that both solutions (`TF_CUDNN_USE_FRONTEND=1` and `TF_CUDNN_WORKSPACE_LIMIT_IN_MB=5000`) fix the issue reported.

Note that I noticed a significant difference in the initialisation time between the two methods (hangs a bit after `tensorflow/stream_executor/cuda/cuda_dnn.cc:368] Loaded cuDN

[2022-03-10 11:08] cb0s opened #16215 "` val_loss` is not available in training after some epochs"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-10 12:13] Vishu26 commented on #16202
To be precise, this issue popped up in `tensorflow==2.7.0` and `keras==2.7.0` and their recent versions.

Currently, I have `python==3.8.6`, `tensorflow==2.8.0` and `keras==2.8.0`.

The minimal code to reproduce the issue:

[code]

[2022-03-10 13:34] sushreebarsa commented on #16214
@atlastanka
Can you please elaborate about the feature and please specify the use cases for this feature? Thanks!

[2022-03-10 15:50] Suzan009 commented on #16053
@sachinprasadhs In the keras-io read-me file, there is no mention of such things. Are you sure that a user needs to install tf from the source for that?

[2022-03-10 16:14] anth2o opened #16218 "AttributeError: 'LossScaleOptimizer' object has no attribute '_hypers_created'"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX 12.2.1
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.8
- Python version: 3.8.12
- Bazel version (if compiling from source):
- GPU model and memory: None
- Exact co

[2022-03-10 16:37] bhack opened #16219 "Scipy affine transform"
**System information**.

TensorFlow version (you are using):
master
Are you willing to contribute it (Yes/No) :
I need more detail
**Describe the feature and the current behavior/state**.
I think that we need to cover core image processing transformation with TF native ops.

Currently a core transformation in preprocessing still rely on numpy/scipy impl.
https://github.com/keras-team/keras/blob/ma

[2022-03-10 16:38] bhack commented on #16219
/cc @qlzh727 @LukeWood as this could have a quite core impact on CV ops.

[2022-03-10 17:23] bhack commented on #16219
I suppose that we could port this to the [internal `transform`](https://github.com/keras-team/keras/blob/dbc4526978865b372e794accbaa7c584f9c86a0f/keras/layers/preprocessing/image_preprocessing.py#L894) right?

I have also a related XLA ticket  (for `jit_compile`) at https://github.com/tensorflow/tensorflow/issues/55194

[2022-03-10 17:59] fchollet commented on #16189
The expected behavior is that the default `training` value received by the layers should be `True` since it defaults to `True` in the layer signatures and isn't set anywhere else. We should investigate why that doesn't happen after instantiating an application.

We recommend always setting `training` explicitly when calling `data_augmentation` so that there is no confusion as to wht the value used

[2022-03-10 18:06] beneyal commented on #16189
Thank you, much appreciated!

Should I keep the issue open for the time being?

[2022-03-10 18:08] fchollet commented on #16189
Yes, let's keep it open until resolved.

[2022-03-10 18:13] fchollet commented on #16172
The cast is likely useful in many cases, when users are passing mismatched but resolvable (castable) dtypes. But in this case it produces the wrong result. We could restrict the casting to only convert float/int to float, for instance.

[2022-03-10 18:16] isaacgerg commented on #16172
My opinion is to do no casting whatsoever and leave it up to the programmer to ensure they are using the methods according to the documentation. At most, I would put exceptions around to prevent any kind transform on complex numbers unless explicitly stated by the programmer.

[2022-03-10 18:18] fchollet commented on #16158
My question would be: where do the NaNs get converted to numerical values? It is at the level of the TF MaxPool op? Keras behavior should be consistent with TF behavior.

[2022-03-10 18:24] fchollet commented on #16105
Question: does this involve project after every batch (which could be implement via a regular `Conv2D` layer and a weight constraint) or does this use a mechanism similar to batchnorm? If the latter, you can simply write your own layer to do it.

Note that we will not add it to the API -- you can simply maintain the layer as part of your own code.

[2022-03-10 18:24] #16105 closed

[2022-03-10 18:29] bhack commented on #16181
Are these potential API really related to NLP only? Do we need to replicate/duplicate these in the CV vertical repo (keras-cv)?

Is it a quite general issue about where to handle cross domain API/components (see https://github.com/keras-team/keras-cv/issues/137#issuecomment-1043585248) other then the Keras main repo.

[2022-03-10 18:31] chenmoneygithub commented on #16108
@markub3327 Thanks for reporting the issue!

I am not sure if I understand your question correctly, do you mean this step is slow?
[code]
An alternative to this matrix multiplication is to use simple dimension cast, i.e.:
[code]
Notice that it does not generate a symmetric attention matrix, but you can still filter out outputs you do not want using the original 2D mask.

[2022-03-10 18:39] haifeng-jin commented on #15789
Thanks for the issue. Seems the docs needs to be updated.

[2022-03-10 20:31] stevetracvc commented on #15795
It also happens when you show activations and use something like PReLU:

[code]
The reason being, it calls `activations.serialize(layer.activation)` which outputs the results of get_config() (a dict) for a more complex activation, whereas if the activation is just "relu" then there is no get_config() so the serialize function just spits back the string.

[2022-03-10 20:51] chenmoneygithub commented on #16181
Yes, I am aware that transformer is applied on CV as well. However, there is some subtle difference here - on NLP tasks, we can assume the input shape is 3D: [batch_size, sequence_length, feature_size], so we can use [tf.keras.layers.MultiHeadAttention](https://www.tensorflow.org/api_docs/python/tf/keras/layers/MultiHeadAttention) to simplify the implementation and make it very readable. But on CV

[2022-03-10 23:59] rchao commented on #16173
From Keras side we should ultimately continue to support per-batch logging of metrics to TensorBoard given the interests and backward-compatibility functionality wise (ideally, without the need of an overridden train_step() or __call__()).

I'm investigating into a solution and will post back as soon as I find something.

[2022-03-11 04:02] tilakrayal commented on #16150
@peter-jp ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the dataset you are using.

[2022-03-11 04:58] atlastanka commented on #16214
I have a weight of the ResNet in the custom data set, I want to convert it into the weight that does not include the full connection layer. When I set include_top = false, the weight cannot be loaded.
how to transfer the weight from include_top = true to include_top = false?

[2022-03-11 06:19] nrcjea001 commented on #15931
Same issue here with tensorflow 2.8.0

Removing callback ReduceLROnPlateau seems to fix the issue

[2022-03-11 06:47] ageron opened #16226 "Attention layer fails when both queries and values are ragged tensors"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 12.2.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.8.0-rc1-32-g3f878cff5b6 2.8.0
- Python version: 3.9.10 | packaged by conda-forge | (main, Feb  1 2022, 21:2

[2022-03-11 06:49] ageron commented on #16226
Note that the layer works fine when the queries are ragged, but not the values. For example, this works fine:

[code]

[2022-03-11 08:30] markub3327 commented on #16108
Yes, I think that.

I will try the simple dimension cast method. Yes, I see it you only add an axis and create a matrix with only one row, which can work as good as a big 2D table.

But what about NaN values, Will be filtered or a must wait to fix the issue and new release?

Thanks a lot.

[2022-03-11 09:06] tilakrayal commented on #16215
@cb0s ,
I was facing different error while executing the given code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/2e70a53e9df4521f04644719e8facd86/16215.ipynb) and provide complete code to reproduce the issue.Thanks!

[2022-03-11 09:07] saddamhijazi commented on #16180
Thank you for your answer @chunduriv, then I will change to the h5 format. Thanks again, I will close the issue.

[2022-03-11 09:07] #16180 closed

[2022-03-11 09:15] cb0s commented on #16215
@tilakrayal This is due to the model structure I had in my original package: I had a trainer module and a model module. The module containing the Autoencoder code was called `autoencoder`. This is why it didn't work for you.

The problem is that I did in fact use a custom dataset and therefore can provide you with the loader code but it is specific to my project and I cannot give you all my data d

[2022-03-11 09:18] cb0s commented on #16215
I should mention though that I did not get any errors. I only got a warning, this also why I didn't include any stacktrace, as there was none.

[2022-03-11 09:55] sushreebarsa commented on #16226
@sachinprasadhs Was able to reproduce this issue on colab using TF v2.8.0 and tf-nightly(2.9.0.dev20220310),please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/9da271e44bf9534568e69791f1e40c5e/keras-issue.ipynb#scrollTo=mGyVQ7ZxYi4i).Thanks!

[2022-03-11 13:53] TrueWodzu opened #16227 "keras.preprocessing.image_dataset_from_directory resizes image even if its source size is already the target size."
**System information**.
- TensorFlow version (use command below): v2.3.0-rc2-23-gb36436b087 2.3.0
- Keras version: 2.4.3
- keras-preprocessing version: 1.1.2

**Describe the problem**.

This is a twofold problem:

Firstly, it is not optimal to perform a resize on the image that has already the target size.
Secondly, resize operation on such image, changes the binary representation of the image. Th

[2022-03-11 15:43] chunduriv commented on #16178
@Tropaion,

Can you please share outcome of this code snippet ?

[code]

[2022-03-11 16:41] goncinious commented on #15678
Thanks a lot for the very quick turnover and for the informative answers!

I found a use case where the solution proposed with the two env variables differ w.r.t to the number of blocks fed to model.predict() on a Tesla T4 GPU:

- When #blocks < 12 -> both methods works (same as in [initial setup](https://github.com/keras-team/keras/issues/15678#issuecomment-1063879674), as #blocks was set to 5)
-

[2022-03-11 16:52] Nafees-060 opened #16228 "ValueError: Shapes (None, 7) and (None, 1, 7) are incompatible"
I am implementing variable length time-series classification by using CNN and LSTM. Let me explain in detail:

I have **data** `train_x`, its list of **200 Elements** and each element index contained `ndarray` of different shapes for example `(1095, 6, 1), (332, 6, 1), (776, 6, 1), (22, 6, 1)` and so on. And the `train_y` is **label** which is `ndarray` (Note its not list) with (200,7) dimensions.

[2022-03-11 17:51] jvishnuvardhan commented on #16201
@markub3327 What is the difference between this issue when compared to https://github.com/keras-team/keras/issues/16195?

Can you please state the differences clearly or close this issue this is a duplicate of https://github.com/keras-team/keras/issues/16195. Thanks!

[2022-03-11 18:03] bhack commented on #16201
This is a proposal to add `exclude_from_weight_decay` in AdamW that was added in Keras 30 days ago (it was already in TFA).

https://github.com/keras-team/keras/issues/16195 is related to port  RectifiedAdam (a new optimizer) with `exclude_from_weight_decay`  in Keras from TFA

[2022-03-11 18:26] Tropaion commented on #16178
@chunduriv Thanks for your help.
This is the output:
[code]

[2022-03-11 18:31] kaixih commented on #15678
Thanks for sharing the info.

Yes, more blocks mean you use more layers and more weights will stay in the GPU memory. As mentioned in https://github.com/keras-team/keras/issues/15678#issuecomment-1064317355, we generally recommend users to switch to the frontend API.

[2022-03-11 18:54] chenmoneygithub commented on #16108
Usually models do not expect to take NaN values, so I would add an extra step to replace NaN values with 0, and filter out the output involving NaN using the mask.

[2022-03-11 18:54] leweex95 commented on #16143
Hi there,
is there any update regarding this issue?

[2022-03-11 18:57] Tropaion commented on #16178
@chunduriv I also installed Keras on my Windows11 computer now and it is the same result, so I don't think there is a problem with my setup:
[code]

[2022-03-11 20:24] ageron commented on #15241
While using the docker image, after running the build instructions, I just ran `import keras` in a python shell, I got the same exception. After searching for a while, I found that the compiled protobuf files were located in /home/keras/bazel-bin/keras/protobuf` but not in `/home/keras/keras/protobuf`. So I just copied them there:

[code]

If the compiled proto files don't exist yet for some reaso

[2022-03-11 23:29] ageron commented on #16226
It looks like the exception is due to [this line](https://github.com/keras-team/keras/blob/980a6be629610ee58c1eae5a65a4724ce650597b/keras/layers/attention/attention.py#L174) in attention.py:

[code]

When I call this line directly, passing it `query=queries` and `key=values` using the `queries` and `values` defined in the above code example, I get the same exception.

But if I transpose the values

[2022-03-12 00:42] ageron commented on #16226
It's also worth noting that the code example also works fine if you set `score_mode="concat"` (in TF 2.9+).

[2022-03-12 06:54] Suzan009 opened #16229 "keras-io build failed on windows 10"
Posted [here](https://github.com/keras-team/keras-io/issues/797), no response.

I tried to buikd keras-io on windows 10 machine.

[code]

But when I run `python autogen.py make`

[code]

[2022-03-12 16:01] markub3327 commented on #16201
@bhack

Thanks a lot ... Very good explanation!

[2022-03-12 16:02] markub3327 commented on #16108
Thanks a lot for the explanation.

[2022-03-12 20:11] mortezamg63 commented on #16132
That's great. I will check it.
I really appreciate for your answer.

[2022-03-13 10:07] old-school-kid opened #16231 "Pixel-Adaptive ConvolutionalLayer"
If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding features. Support

[2022-03-13 10:13] old-school-kid commented on #16214
@atlastanka
You can save/transfer weights either by layer name or their index. Since you are using a ResNet all you FCs will occur at the end so you can use negative indexing for transfering weights.

[2022-03-13 14:21] lucasdavid commented on #6118
Thanks for the reference @liuzhisheng1226! It works great for simple cases, but I found one problem with it: masking the signals will change the shape of the tensors (for example, for targets `(batch, H, W)` and logits `(batch, H, W, classes)`, it will result in tensors of shape `(valid,)` and `(valid, classes)`, where `valid` are the number of pixels not ignored).
You `reduce_mean` these values a

[2022-03-14 03:43] tilakrayal commented on #16215
@cb0s ,
In order to expedite the trouble-shooting process, could you please provide the complete code.Thanks!

[2022-03-14 05:36] tariqph opened #16233 "Can't train when a column name is 'next'"
So, I was training a tensorflow model using keras api and one of the column names that the dataframe had was 'next'. Running model.fit on the data threw the following error:

`RuntimeError: Data adapters should be mutually exclusive for handling inputs. Found multiple adapters [<class 'tensorflow.python.keras.engine.data_adapter.TensorLikeDataAdapter'>, <class 'tensorflow.python.keras.engine.data_

[2022-03-14 09:35] dmirecki opened #16234 "Compiling model in callback causes TypeError"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- TensorFlow version (use command below): 2.8.0 (2.4 too)
- Python version: 3.7

**Describe the problem**.

In a fine-tuning case I would like to do transfer-learning phase first (with fine-tuned layers frozen) and after that,  all layers should be unfrozen. I wrote a callback t

[2022-03-14 09:51] tilakrayal commented on #16227
@TrueWodzu ,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also can you please test the code in latest stable v2.8 and let us know if you are facing same issue.Thanks!

[2022-03-14 10:36] chunduriv commented on #16132
@mortezamg63,

Glad the issue is resolved for you, please feel free to move this to closed status. Thanks!

[2022-03-14 10:58] anth2o opened #16235 "Can't use multiple tensorboard callbaks in TF2.8"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.8.0-rc1-32-g3f878cff5b6 2.8.0
- Python version: 3.8.12
- Bazel version (if compiling from source):
- GPU model and

[2022-03-14 12:25] #16228 closed

[2022-03-14 12:29] anth2o commented on #16235
Actually, I think the problem comes from Tensorflow, so I opened an issue [here](https://github.com/tensorflow/tensorflow/issues/55224)

[2022-03-14 12:29] #16235 closed

[2022-03-14 14:00] sushreebarsa commented on #16234
@jvishnuvardhan Was able to replicate the issue on colab using TF v2.8.0 and tf-nightly(2.9.0.dev20220314), please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/d1620a5f08fb4e4e8c390e6879f98ffa/untitled1.ipynb#scrollTo=eO74Q6derngV) .Thanks!

[2022-03-14 14:14] sushreebarsa commented on #16218
@anth2o I tried to replicate the issue on colab using TF v2.8.0 and tf-nightly but didn't face the error reported. Could you please have a look at the gist [here](https://colab.research.google.com/gist/sushreebarsa/bf90612286b39325185b3896b1a8d722/16218.ipynb) and let me know if I have missed something to reproduce the issue?
Thanks!

[2022-03-14 14:22] anth2o commented on #16218
@sushreebarsa Actually I think you didn't execute the code. I wrote this piece of code as a unit test that has to be launched with pytest. If you want to reproduce the issue with your Colab, you should called the method:
[code]

[2022-03-14 14:50] sushreebarsa commented on #16218
@anth2o Thank you for the response!
@sachinprasadhs I was able to replicate the issue on colab , please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/77eb39e11335cb4edbe8d3a7053dfc6f/16218-updated.ipynb).
Thanks!

[2022-03-14 15:40] t3bol90 commented on #16228
Would I ask you, @Nafees-060 a question about how to overcome this issue when using Keras? I have the same problem of shape with additional ONE in the middle.

![image](https://user-images.githubusercontent.com/43676770/158207838-05056a2f-d7e0-40eb-80d9-9c3eaddc0303.png)

[2022-03-14 18:09] Suzan009 commented on #16229
@tilakrayal I don't need to build keras itself but the keras-io, here is the repo. https://github.com/keras-team/keras-io

[2022-03-14 23:57] sachinprasadhs commented on #16160
Could you please save and attach the gist again. Thanks!

[2022-03-15 00:25] #16116 closed

[2022-03-15 01:07] kaixih commented on #15678
Ah, I see. I only noticed the `depth = 5` and thought you were talking about the blocking blocks.

Anyway, in this case, I think the size of the model's weights should be constant. And I actually tried your colab code by modifying:
[code]
with `CUDA_VISIBLE_DEVICES=4 TF_CUDNN_USE_FRONTEND=0 TF_CUDNN_WORKSPACE_LIMIT_IN_MB=5000` on a T4-16GB GPU. Despite one warning, the execution works fine:
[code]

[2022-03-15 05:15] Nafees-060 commented on #16228
@t3bol90 It means your actual output shape is (5, 1, 5) and your prediction is (5, 5). So I believe you need to see your code where you reduced 1 dimension. In my case you can see that true value shape was (None, 7) and in prediction I was getting (None, 1, 7). So I just used flatten layer before output layer to make the dimension into (None, 7). However, in your case it seems you reduced 1 Dimens

[2022-03-15 05:25] tilakrayal commented on #16233
@tariqph ,
Can you please take a look at this SO [link](https://stackoverflow.com/questions/60960820/data-adapters-should-be-mutually-exclusive-for-handling-inputs-tensorflow) with the similar error.Also please re-name the column and test your code.It helps.Thanks!

[2022-03-15 06:47] Lifann commented on #15586
I meet same issue here and have to drop some features and unit test to pass the CI checks related to this issue, in TensorFlow 2.7.0

[2022-03-15 10:18] t3bol90 commented on #16228
Thank you @Nafees-060, the problem is the output of tf.one_hot in my implementation return addition 1 in the middle, I need to reshape the output of one hot vector <3.

[2022-03-15 10:47] tilakrayal commented on #14212
@chafikblm ,
Can you please take a look at this link [1](https://datascience.stackexchange.com/questions/69788/valueerror-the-estimator-should-be-a-classifier) and [2](https://github.com/keras-team/keras/issues/13669) with the similar error.Also please try in latest v2.8.It helps.Thanks!

[2022-03-15 10:53] goncinious commented on #15678
I believe you haven't upgraded cuDNN to >= 8.3 before running the script. However, we do need to upgrade it, so inference can work without OOM errors in **both** both T4 Tesla (compute capability=7.5) and A10g GPUs (compute capability=8.6). To upgrade cuDNN, I'm using steps 3-5 in https://github.com/keras-team/keras/issues/15678#issuecomment-1060492734.  If you first upgrade cuDNN and then run the

[2022-03-15 11:01] abderrahmen13 commented on #15348
add "input_shape=[1,], axis=None" in the Normalization function
Ex:
single_feature_normalizer = layers.Normalization(input_shape=[1,], axis=None)

[2022-03-15 11:08] cocotdf opened #16239 "Unexpected Prediction TimeDistributed(BatchNormalization)"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7.12

- Exact command to reproduce:

[code]

**Describe the problem**.

The problem is that there is no difference between TimeDistributed(

[2022-03-15 11:37] dwightnw opened #16240 "training: result is different if model passed as argument to training loop"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-15 12:05] ypsilon-elle commented on #16152
Hey @jvishnuvardhan, did you have time to look at this issue? We really would appreciate some feedback on this.

[2022-03-15 17:13] tariqph commented on #16233
Yes, renaming the column does work as I have shown in the post above. Just odd that I can't use this particular word as a column name.

[2022-03-15 19:50] #16113 closed

[2022-03-15 20:32] Vishu26 opened #16241 "`batch_size` parameter for `model(x, training=True)`"
Hi!

When I use `model(x, training=True)` with very large sizes of x, it results in a `RESOURCE_EXHAUSTED` error.  There is no way to make the function run in a batch mode. Is it possible to implement `batch_size` parameter in this function similar as in `model.predict(x, ...)`.

[2022-03-15 21:41] Mahrkeenerh opened #16243 "Implement all tf interpolation upscaling methods"
`keras.layers.UpSampling2D` right now only supports two interpolation methods.

Why not implement all possible ones found at `tf.image.ResizeMethod`?

I already have the changes ready, but the How-to-contribute suggested to create an Issue first, and only after that make the Pull request.

[2022-03-15 22:14] chenmoneygithub commented on #16108
np! I will close this issue, and feel free to reopen it if you have more questions, thanks!

[2022-03-15 22:14] #16108 closed

[2022-03-15 23:40] ToutaF commented on #15521
@WilczekxxD , im facing the same issue, could you please provide the code which fixed yours.
Thank you in advance.
this is the model:
`       inputs = Input(shape=(col,)) # input tensor, col=126
        hidden1 = Dense(units=50)(inputs) # hidden layer 1
        hidden2 = Dense(units=50)(hidden1) # hidden layer 2
        outputs = Dense(self._action_size, activation='softmax')(hidden2)
        mode

[2022-03-16 05:40] Nafees-060 opened #16246 "Problems to handle variable length input, using generator?"
I am dealing with the multiple issues in order to handle variable length input and using generator. I have posted the problem on [stack overflow](https://stackoverflow.com/questions/71492073/tensorflow-keras-problems-to-handle-variable-length-input-using-generator) in detail. I am eagerly looking the solutions for these problems. I am not very much sure to receive any helpful answer from there. Th

[2022-03-16 07:07] tilakrayal commented on #16240
@animalcroc ,
Can you please try to reduce the size of epochs and also try to execute in v2.8 and let us know if you are facing same issue.Thanks!

[2022-03-16 07:08] tilakrayal commented on #16243
@Mahrkeenerh ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2022-03-16 07:47] ageron opened #16248 "Add support for automatic mask handling in MultiHeadAttention layer"
**System information**.

TensorFlow version (you are using): 2.8.0
Are you willing to contribute it (Yes/No) : Yes, with a bit of guidance

**Describe the feature and the current behavior/state**.

The `MultiHeadAttention` layer (MHA) should support automatic masking, as described in [Understanding masking & padding](https://keras.io/guides/understanding_masking_and_padding/)). Currently, the only

[2022-03-16 07:54] #14230 closed

[2022-03-16 08:54] #16128 closed

[2022-03-16 09:25] Mahrkeenerh commented on #16243
Sure, here's the explanation:

`tf.image.resize` supports 8 different resize modes. These modes are however not available for the layer `UpSampling2D` (and maybe others, I'm not really sure about that, sorry), because they are also not available in `backend.resize_images`.

That's why I propose to implement all these other 6 modes, to make a wider choice option. Because these modes are already ava

[2022-03-16 09:50] animalcroc commented on #16240
@tilakrayal  I reduced the epochs to 50, and upgraded to v2.8 but the issue persists. Perhaps this is a feature (albeit a dangerous one)

[2022-03-16 09:54] sushreebarsa commented on #14607
@shabu19 Is this still an issue !
Could you please try with the `batch_size=32 `  and test with latest TF version ?
Thanks!

[2022-03-16 09:57] sushreebarsa commented on #14373
@erotavlas While providing input shape please provide as (IMG_SIZE, IMG_SIZE, 1) while using greyscale image for training, and try with latest TF version .Please let us know if it helps?
Thanks!

[2022-03-16 10:20] sushreebarsa commented on #14225
@baiziyuandyufei
Is this still an issue?
I tried to replicate the issue and faced a different error ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/6dc899ae33ee1b3d455de6f887d3b194/14225.ipynb) .Thanks!

[2022-03-16 10:33] partiallycomplex commented on #16160
Hi @sachinprasadhs attached notebook with input file and cell output with the error
[notebook_data.zip](https://github.com/keras-team/keras/files/8261261/notebook_data.zip)
[notebook_data.zip](https://github.com/keras-team/keras/files/8261262/notebook_data.zip)

[2022-03-16 10:55] sushreebarsa commented on #14187
@adiel2012 Could you please refer to this[ link](https://www.tensorflow.org/api_docs/python/tf/keras/utils/Sequence#__getitem__) and the tested [gist](https://colab.research.google.com/gist/sushreebarsa/d1cd0d4c99423c3d8c820781b87adf1b/14187.ipynb) on colab of the provided code?
Please let us know if it helps?
Thanks!

[2022-03-16 11:00] sushreebarsa commented on #14213
@1165048017 Is this still an issue?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-03-16 11:20] mattiasu96 opened #16250 "Silent reset_states() error in custom model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Monterey 12.1
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.8
- Python version: 3.9

**Describe the current behavior**
I am developing a custom model

[2022-03-16 13:02] tilakrayal commented on #16229
@Suzan009 ,
Can you please take a look at this [link](https://github.com/keras-team/keras).Thanks!

[2022-03-16 13:20] tianlt opened #16251 "keras tape.gradient error: Input to reshape is a tensor with 1012 values, but the requested shape has 20240 [Op:Reshape]"
i use the `tape.gradient(g_loss, aa_mutator.trainable_variables)` to calculate the gradient of a model called aa_mutator and got the error
[code]

within the aa_mutator model i build a customized keras layer

[code]

with mutate_func defined as

[code]

the shape for layers in the mutate_func are printed as
[code]

the model is able to predict given the input. just for fitting the error shows at t

[2022-03-16 14:02] cvarrichio commented on #5337
Same problem here.  Even a (1,3000) tensor is causing an OOM on a dedicated V100.  Training had no issues.  I believe the problem may be an inssue in Tensorflow, not Keras.

[2022-03-16 17:32] mohammadreza490 opened #16252 "`tf.keras.callbacks.BackupAndRestore` showing wrong number of steps after restoring the model!"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-16 17:47] sachinprasadhs commented on #16252
Could you please provide simple standalone code to reproduce your issue. Thanks!

[2022-03-16 17:53] mohammadreza490 commented on #16252
The model I'm training has many different parts but the only part related to this issue is using the callback:
`
backup_and_restore_callback = tf.keras.callbacks.BackupAndRestore(backup_dir=self._checkpoint_path)
`
I add this callback to a list of callbacks and use the list like this:
`
self._model.fit(train_dataset, epochs=epochs, batch_size=batch_size, callbacks=callbacks, verbose=1)
`

[2022-03-16 17:54] mohammadreza490 commented on #16252
I had the same issue with using `tf.keras.callbacks.experimental.BackupAndRestore` and changing it to `tf.keras.callbacks.BackupAndRestore` didn't solve the issue!

[2022-03-16 17:54] #16030 closed

[2022-03-16 19:00] guberti opened #16254 "image_dataset_from_directory uses wrong directory when labels is list"
**Describe the problem**.

[The docs for image_dataset_from_directory](https://www.tensorflow.org/api_docs/python/tf/keras/utils/image_dataset_from_directory) say the following about the `directory` argument:
[code]
This means that when `labels` is a list/tuple, we **should ignore the directory structure** (this makes sense, as the directory structure would only be used to generate labels).

**Des

[2022-03-17 01:54] #16006 closed

[2022-03-17 02:12] tilakrayal commented on #16233
@tariqph ,
The next() function returns the next item in an iterator. You can add a default return value, to return if the iterable has reached to its end.
As suggested please try to re-name the column.It helps.Thanks!

[2022-03-17 02:18] baiziyuandyufei commented on #14225
@sushreebarsa  https://colab.research.google.com/gist/baiziyuandyufei/56680558c4ec263eef2f41e488d083e3/14225.ipynb

[2022-03-17 02:29] baiziyuandyufei commented on #14225
@sushreebarsa tf似乎就没给汉语分词器预留传入位置。
直接在
`def custom_standardization(input_data):
    lowercase = tf.strings.lower(input_data)
    stripped_html = tf.strings.regex_replace(lowercase, "<br />", " ")
    return tf.strings.regex_replace(
        stripped_html, f"[{re.escape(string.punctuation)}]", ""
    )`
这个函数里分词后转成以空格分隔的字符串吧。

[2022-03-17 02:45] haifeng-jin commented on #16195
@chenmoneygithub Any comments on this?

[2022-03-17 02:46] haifeng-jin commented on #16201
@chenmoneygithub Any comments on this?

[2022-03-17 02:47] haifeng-jin commented on #16219
@mattdangerw Is this also related to our refactoring of keras preprocessing?

[2022-03-17 02:50] haifeng-jin commented on #16241
For this case, you should batch by first wrapping it into `tf.data.Dataset` and call the `.batch()` method to batch it.

[2022-03-17 02:50] #16241 closed

[2022-03-17 02:54] #14321 closed

[2022-03-17 04:03] haifeng-jin commented on #16248
Note: The naming of `causal` is from the argument with same name in the [`Attention`](https://keras.io/api/layers/attention_layers/attention/) layer.

[A tutorial to learn more about Transformer](http://jalammar.github.io/illustrated-transformer/)

[2022-03-17 06:05] Nafees-060 commented on #411
In my case, it runs (means no error generated), but I'm not sure if it will work exactly how we expect. Because I have different variable lengths inputs in each batch. To equalize the short length inputs within the batch, I used 0-padding. However, I believe that when I apply the masking layer, it will ignore all of the 0 and perform convolution on the original data. But I feel that it is not work

[2022-03-17 08:18] old-school-kid commented on #16234
@dmirecki
I really like the idea of having a callback for fine-tuning rather than training again.
But is the correct way to do is to recompile the model or to set the value of `layer.trainable` as False like [here](https://www.tensorflow.org/guide/keras/custom_callback#learning_rate_scheduling). Although this also raises an error `AttributeError: 'bool' object has no attribute 'dtype' `

[2022-03-17 08:22] ageron commented on #16248
Ah, good point, thanks. Using `causal` in the constructor makes sense, then. 👍

[2022-03-17 08:53] tilakrayal commented on #16250
@mattiasu96 ,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here

[2022-03-17 08:58] mattiasurricchioprima commented on #16250
I don't know if it is enough, but I have already inserted the code needed to reproduce the error

[2022-03-17 11:24] ToutaF commented on #15521
@[AdityaKane2001](https://github.com/AdityaKane2001) how to batch the inputs please?

[2022-03-17 11:48] innat opened #16260 "How to resize (downsample) 5D samples in keras?"
(Reposting from [here](https://discuss.tensorflow.org/t/how-to-resize-5d-samples-in-keras/8343?u=innat))

---

Currently, for 5D data `(batch_size, h, w, depth, channel)`, the [`tf.keras.backend.resize_volumes`](https://github.com/keras-team/keras/pull/3274) or `UpSampling3D` can be used to upsampling purpose. For example, I can do

[code]

These factor values (above) should be an integer. https:/

[2022-03-17 11:54] #16153 closed

[2022-03-17 13:52] bhack commented on #16260
The big question here about Keras vs Tensorflow ownership.

 Could this be achieved composing TF ops calls available in TF? If not it is a high level API request for Keras but it requires another ticket/PR in TF.

Also more in general I don't know also what is the most update plan/scope for the `tf.keras.backed` namespace from an user perspective (probably @qlzh727 @fchollet could help on this poi

[2022-03-17 15:13] lucasdavid commented on #16252
I might be correlating things, but I noticed (in my case) that the number of steps after restoring was pretty much `steps*batch_size`, which made me think that the log callback was counting `samples` instead of `steps` after restoration.

So, are you by any chance using a batch size of 16? (Because 23696/1481 = 16.)

[2022-03-17 15:39] tilakrayal commented on #16227
@gadagashwini ,
I was able to reproduce the issue in tf v2.8, v2.7 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/f36559373eba6894886caa430c5284f2/untitled251.ipynb).

[2022-03-17 15:59] innat commented on #16260
It's might be tricky or specialized cases. Normally, in volumetric CT samples, the spatial information mostly appears in the middle of the depth range.

In most cases, the beginning and ending slices are completely black - that makes them useless to use. In that case, in order to downsample the volume depth size, it's needed to resample from the **middle range** of slices to get the most informati

[2022-03-17 17:15] bhack commented on #16260
Is this pseudocode? As I think it will not work with Tensor.

[2022-03-17 17:26] haifeng-jin commented on #16195
The recommended way of using this is to use it in tf addons for now,
unless we see a substantial usage of it in the keras examples.

[2022-03-17 17:26] #16195 closed

[2022-03-17 17:31] aditiarora18 commented on #3946
train_dir="WarsawDataSet\train"
val_dir="WarsawDataSet\val"

learning_rate = 0.0001
img_width = 224
img_height = 224
batch_size = 32

train_datagen = ImageDataGenerator(
        rescale=1./255,
        shear_range=0.1,
        zoom_range=0.1,
        rotation_range=10.,
        width_shift_range=0.1,
        height_shift_range=0.1,
        horizontal_flip = True,
        validation_split = 0.2

[2022-03-17 17:51] qlzh727 commented on #16260
Agreed with @bhack. I think this kind of implementation should be pushed to ops level (rather than implement on keras side with py) to achieve the best performance. We aren't going to add more API to keras.backend since it was historically a layering between keras and different backends, and TF is the only backend now.

[2022-03-17 17:58] innat commented on #16260
@bhack It worked on eager mode. Maybe will fail on graph mode, not sure I didn't try in actual training.

[code]

[2022-03-17 18:33] bhack commented on #16260
I really depend on what you want to do. It the interpolation included in `tf.image.resize` needs to just work with the current dimensions that support It could be ok.
Do we have cases where we need to interpolate across multiple dimensions?

[2022-03-17 21:05] mattiasu96 commented on #16250
@tilakrayal I provided the code, it is enough to reproduce the problem. Do you need something else?

[2022-03-17 23:32] mattdangerw commented on #16219
It's not just `apply_affine_transform`, most of the code in the [keras/preprocessing directory](https://github.com/keras-team/keras/tree/master/keras/preprocessing) is doing numpy transformations of images/text/etc. Rather then rewriting these non-layer utilities to a tensor friendly form, we plan on redirecting users to *preprocessing layers* that can achieve a similar effect with native ops. We

[2022-03-17 23:40] bhack commented on #16219
What i meant is:

https://github.com/keras-team/keras/blob/bb3c71ea2d21b204a779ebd9746a058eab3f80b1/keras/layers/preprocessing/image_preprocessing.py#L975-L981

[2022-03-18 00:34] AshwinJay101 opened #16265 "Keras ModelCheckpoint Callback does not save the checkpoint proto file correctly"
**Describe the problem**.

Currently when we are saving the weights using the ModelCheckpoint Callback during training, we do not get the list of checkpoint files correctly from the tensorflow api tf.train.get_checkpoint_state(ckpt_folder).all_model_checkpoint_paths. I am raising this issue in Keras because the checkpoint proto is incorrectly written

**Describe the current behavior**.
The current

[2022-03-18 03:29] ShubhamDebnath commented on #3946
Try giving path till \DataSet, also just fiddle a bit with folder structure and the path you give, you'll get it eventually, and check version of keras this is a really old thread

[2022-03-18 07:55] #16106 closed

[2022-03-18 07:56] innat commented on #16260
Not sure if there are many causes for this. For medical cases, I've seen that people often adopt a resampling approach over all relevant dimensions (h, w, depth).

[2022-03-18 08:55] #16107 closed

[2022-03-18 09:23] mohammadreza490 commented on #16252
@lucasdavid I’m using a batch size of 8 but the epoch number was 16 when I posted this issue and the wrong step number I get is because of the epoch number and not the batch size.

This is because restoring the model at any other epochs gives me `epoch_num*steps` number of steps for that epoch

[2022-03-18 13:09] mohammadreza490 commented on #16252
@sachinprasadhs any suggestions on this?

[2022-03-18 13:30] Nafees-060 opened #16267 "We can only Masks 0's in LSTM, not in any other model like CNN?"
Hi,

I want to train our model on varying input dimensions. Every input in a given batch and across batches has different dimensions.
We cannot resize our input (since we’ll lose our microscopic features). Now, since we cannot resize our input, converting them into batches of numpy array becomes impossible. In order to handle this now I have made the list for the input and each list of element con

[2022-03-18 15:20] Lord-O-Binary commented on #14180
I can confirm saving as json with weights file fixes the threading issue during deepcopy

[2022-03-18 15:21] Lord-O-Binary commented on #14180
I can confirm saving as json with weights file fixes the threading issue during deepcopy

[2022-03-18 17:32] bhack commented on #16260
Probably an interface like:

https://www.mathworks.com/help/images/ref/imresize3.html

[2022-03-18 18:29] chenmoneygithub commented on #16201
@markub3327 Thanks for reporting the issue! Are you willing to open a PR to add `exclude_from_weight_decay` to AdamW? Thanks!

[2022-03-18 19:23] markub3327 commented on #16201
Yes. Thanks.

[2022-03-19 01:13] wangpengmit commented on #15586
This is caused by Keras initializers switching to `tf.random.uniform` in TF 2.7 (as a stop-gap for finally switching to `tf.random.Generator` or `tf.random.stateless_uniform`), which hits one of the weird behaviors of `tf.random.uniform` (the kernel-reusing behavior). As @qlzh727 mentioned, please see https://www.tensorflow.org/api_docs/python/tf/random/set_seed (and search for "kernel" in that pa

[2022-03-19 04:32] forrestrice opened #16271 "Masks interfere with Precision metrics which have class_id set"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.7
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.8.2
- Bazel version (if compiling from source):
- GPU model and memory: n/a

[2022-03-19 14:24] sergiovalmac opened #16272 "SparseKerasTensor loses shape after casting"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-19 14:54] sergiovalmac commented on #16272
Possible solution:
Replace `x.dense_shape` with `x.get_shape()` in `tensorflow.python.ops.maths_ops::cast`:
[code]
would be replaced with:
[code]

[2022-03-19 15:45] maybeLee opened #16273 "ThresholdedReLU crashes when the input is a list"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7.12
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- Exact c

[2022-03-19 17:54] tariqph commented on #16233
The column name change works as stated before. Does it mean that this is something to do with the implementation and column name 'next' can never be used in this context?

[2022-03-20 08:00] markub3327 commented on #16195
@haifeng-jin

I can create a PR on this issue. Thanks!

[2022-03-20 09:52] ambarion opened #16275 "How to save and load the constant tensor of custom layer"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):
- Python version:
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command to reproduce:

**Describe the pr

[2022-03-20 13:45] RoyiAvital commented on #4446
@fchollet , I think documentation can be more clear on this.

@pavelkomarov , If you use the SciKit Learn wrapper, indeed calling `fit()` will generate a vanilla model (By calling the `build_fn()`). This issue talks about the `fit()` method of a Keras model.

[2022-03-20 14:33] RoyiAvital commented on #1872
While they are the same, is there a simple way to append the history of each call in order to have the same history for both cases as well?

[2022-03-20 16:44] dmbikash commented on #15838
did u solve the problem, brother?

[2022-03-20 21:35] NAWRASALANI commented on #16202
i have the same issue and i didnt know what is the solution

[2022-03-21 06:55] tilakrayal commented on #16250
@mattiasu96 ,
I was facing different issue while executing the provided code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/872e07677caa6070b9820f3dd5f4ead9/untitled252.ipynb).

[2022-03-21 07:00] tilakrayal commented on #16233
@tariqph ,
As stated above next() is a function which returns the next item in an iterator.If we provide same name it will leads to ambiguity.So please provide different name which helps to resolve the issue.Thanks!

[2022-03-21 07:12] gadagashwini commented on #16251
@tianlt,
This error is specific to the size of the dataset that you are using.
You can try the workaround mentioned on similar issue [#70313390](https://stackoverflow.com/a/70324682/14290244).

Removing data with less than one batch of data.
`train_dataset = train_dataset.shuffle(buffer_size=512).batch(BATCH_SIZE, **drop_remainder=True**)`.

[2022-03-21 07:55] #16233 closed

[2022-03-21 08:06] ambarion commented on #16275
Same problem happened when save the model into '.h5' and '.pb', maybe I need to carefully define the custom layer? Is there any guidance for that?

[2022-03-21 09:49] tilakrayal commented on #16267
@Nafees-060 ,
 In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2022-03-21 09:55] #16167 closed

[2022-03-21 10:58] tilakrayal commented on #16272
@chunduriv ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/5c3e4c972194327cf47df3f018786bc4/untitled258.ipynb).

[2022-03-21 11:24] gadagashwini commented on #16273
@maybeLee,
`keras.layers.ThresholdedReLU` accepts input_shape as tuple of integers.

[code]

**Output**
[code]

[2022-03-21 12:45] maybeLee commented on #16273
@gadagashwini,
Thanks for your reply! I think the problem in this issue is that: `ThresholdedReLU` fails to _**accept a list of tensor**_ as input while similar layers such as `ReLU` and `LeakyReLU` can accept a list of tensor as input:

Sending a list of tensor to `ReLU`:
[code]

[code]

Sending a list of tensor to `ThresholdedReLU`:
[code]

[code]

[2022-03-21 13:06] tilakrayal commented on #16275
@ambarion ,
Can you please take a look at this SO [link](https://stackoverflow.com/questions/62737825/how-can-i-save-a-keras-model-with-custom-layer-that-have-constant) which delivers the similar information.It helps.Thanks!

[2022-03-21 13:21] tilakrayal commented on #14193
@zetaSaahil ,
Can you please take a look at this [link](https://www.tensorflow.org/guide/keras/masking_and_padding) and [link2](https://towardsdatascience.com/generating-image-segmentation-masks-the-easy-way-dd4d3656dbd1).Thanks!

[2022-03-21 13:31] tilakrayal commented on #14243
@abhishek-110 ,
Can you please take a look at this comment from the [issue](https://github.com/tensorflow/tensorflow/issues/42151#issuecomment-1058640334) which delivers the information.Thanks!

[2022-03-21 15:07] saylideshmukh opened #16276 "How to save Keras model with custom layer that have dictionary variable?"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-21 18:13] henrypinkard opened #16279 "Bug when saving model with MixtureLogistic Layer"
Bug when trying to save a model with a tensorflow probability layer. Not sure if this is a bug in keras or in tfp so posting an issue to both (https://github.com/tensorflow/probability/issues/1538)

When trying to save a keras model with a a `tfp.layers.MixtureLogistic` layer, the following error occurs:

[code]

This can be reproduced with the example below:

[code]

It's definitely coming from t

[2022-03-22 06:19] Nafees-060 commented on #16267
Here is the code:

[code]

Here is the how input would be feed:
![ZYWhk](https://user-images.githubusercontent.com/63704191/159419289-63ac77eb-0212-45ce-80a6-069395640056.jpg)

I want to train our model on segment which contained varying input dimensions and one label is attach with each segment. Every input in a given batch and across batches has different dimensions. As can be seen in the image,

[2022-03-22 09:12] chunduriv commented on #16205
@TheImaginaryOne,

While providing the absolute path the `labels` should be `None` and
While providing the relative path the `labels` should be `inferred` or` list/tuple of integer labels` of the same size as the number of image files found in the directory.

[2022-03-22 09:15] markub3327 opened #16284 "Denormalization layer"
Hello,

  you have implemented `tf.keras.layers.Normalization`, but if I want inverse transformation we don't have a `tf.keras.layers.Denormalization`.

Can I create PR?

Thanks.
Have a nice day.

[2022-03-22 09:40] tilakrayal commented on #16279
@henrypinkard ,
This issue is more related to TensorFlow probability. Please track in tensorflow/tfp repo.

[2022-03-22 09:41] tilakrayal commented on #16279
Also please take a look at this link [1](https://stackoverflow.com/questions/62068323/iterating-over-tf-tensor-is-not-allowed-autograph-is-disabled-in-this-function) and [2](https://github.com/tensorflow/tensorflow/issues/32546) with the similar error.It helps.Thanks!

[2022-03-22 11:12] Yanagar1 commented on #1523
the last one is variance!

[2022-03-22 11:22] gadagashwini commented on #16265
@AshwinJay101,
[code]

**Output**
`['checkpoint', 'cp.ckpt.data-00000-of-00001', 'cp.ckpt.index']`

[2022-03-22 11:23] atlastanka commented on #16214
So can this weight use different size images as the inputs?

[2022-03-22 11:47] peter-jp commented on #16150
yes

[2022-03-22 11:54] partiallycomplex commented on #16160
It seems that disable eager execution do not produce the crashes. @sachinprasadhs
tf.compat.v1.disable_v2_behavior()

[2022-03-22 12:23] sushreebarsa commented on #16271
@sachinprasadhs I was able to replicate the issue on colab using TF v2.8.0 and tf-nightly,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/f8e255814331fc763fe4a6a723712808/untitled1.ipynb#scrollTo=TTBPZJNXktcB) .Thanks!

[2022-03-22 15:14] ndvbd commented on #13565
nest is not defined

[2022-03-22 17:01] st3inum opened #16285 "distributed training with tensorflow on 'x' gpu makes loss 1/x"
I was trying to run a model on multiple gpu with `mirror strategy` of tensorflow.

I used a custom loss function like this:
[code]

with mirror strategy I train the model like this:
[code]

But if I run this on 4 GPU, my loss value becomes 1/4 times than the loss I get when run on single GPU. Does it fail to sum up the different losses from the different GPUs?

[2022-03-22 17:45] dhesenkamp commented on #13782
Same issue on TensorFlow 2.8.0

[2022-03-22 19:01] koalive opened #16286 "Incorrect time per step estimation when fitting model"
Hi there,

**System information**.
I observed the behavior both in a Colab notebook (TF v2.8.0-0-g3f878cff5b6 2.8.0) and in a custom Docker image (Ubuntu 20.04, TF v2.5.1-97-g957590ea15c 2.5.2). The issue can easily be reproduced by using validation sets of different sizes and I made an example notebook (see below).

**Describe the problem**.
The time/step reported when calling `fit` is not the ti

[2022-03-22 19:23] markub3327 commented on #16284
I can create PR on that. :)

[2022-03-22 21:08] tfgstudios commented on #7212
Searched the whole internet for this. I can confirm stateful should only be used in specific cases. In my case, predicting a time series worked better without stateful, and also I saw using bidirectional LSTM to perform better.
Shows this info really needs to be in the relevant docstrings (constructors of LSTM/CuDNNLSTM).

[2022-03-23 08:56] maybeLee opened #16289 "Inconsistent behavior between tf.nn.leaky_relu and keras.layers.LeakyReLU when input is infinity and alpha is 0"
Please refer this link for more details:
https://github.com/tensorflow/tensorflow/issues/55188

In short, when giving `keras.layers.LeakyReLU` a `-np.Inf` array and set the `alpha=0.0`. `keras.layers.LeakyReLU` will output 0. For comparison, `tf.nn.leaky_relu()` will output `nan` instead.

Following the equation of `LeakyReLU`:
[code]
When `alpha=0` and `x=-Infinity`, the times of 0 and `-Infinity

[2022-03-23 09:07] fig666 commented on #16286
i understand what your implying    when it comes to giving simpler  yet efficient movement in a small amount of time instead of trying to validate the move itself which giving my full focus on the movement for dynamics

[2022-03-23 09:13] gadagashwini commented on #14098
@somdipdey,

[code]

Output of the base_model is not compatible with expected shape of `keras.layers.Dense(len(classes), activation='softmax', name='PREDICTIONS')`.

[code]

[2022-03-23 10:49] tilakrayal commented on #16285
@st3inum ,
In the given code snippet you have defined the class and its methods but are not calling them anywhere.Can you please provide the complete code and the tensorflow version you are using?

[2022-03-23 13:09] animalcroc commented on #16240
@tilakrayal   Are you able to follow up with this issue?

[2022-03-23 13:20] fig666 opened #16290 "assists with language input for issue directive of file indication of use"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-03-23 14:28] sachinprasadhs commented on #16289
I was able to reproduce the reported behavior.

[code]

[2022-03-23 16:27] wellsonah2019 opened #16291 ""TypeError: Reduce.update_state() got multiple values for argument 'sample_weight'" when using Mean() or Sum() metric"
System Information:

1. **Platform used:** Windows 10
2. **Tensorflow installed with** pip (pip install tensorflow), version: v2.8.0-rc1-32-g3f878cff5b6 2.8.0
3. **Python version:** 3.10.1
4. **GPU model:** RTX 3070 -- 16GB VRAM
5. **Code to reproduce:**

[code]

**Main Problem:**

This error happens whenever the Mean() or Sum() metrics are used. It does not appear when other metrics are used. I a

[2022-03-23 19:09] gkrisp98 commented on #6478
Hi @Ahmid did you figure this out ?

[2022-03-23 21:08] vulkomilev commented on #16291
I think that maybe you are misusing the sum metric .It is summing some values .What exactly are you trying to do?

[2022-03-23 23:58] sachinprasadhs commented on #16286
This is most unlikely scenario in general use case and currently `time/step` which is averaging out the time taken per step of training data and validation data makes sense.

[2022-03-24 00:00] sachinprasadhs commented on #16160
If your issue is resolved by disabling eager execution, could you please move this issue to closed. Thanks!

[2022-03-24 05:01] LukeWood commented on #15225
Hey there - what is the expected behavior here?  Would we expect to error out?  is `ndim=5` compatible with a shape of `ndim=2`?

[2022-03-24 05:03] LukeWood commented on #16226
If you would be able to contribute a fix, this would be great.
@ageron

[2022-03-24 05:04] LukeWood commented on #16234
interesting bug - thanks for the report.

[2022-03-24 05:06] LukeWood commented on #16260
So if I understand correctly we will NOT be supporting this on the keras side?  If so can close this issue.  @qlzh727 is that correct?

[2022-03-24 05:08] LukeWood commented on #16289
@maybeLee would you be willing to contribute a fix for this?

[2022-03-24 05:56] innat commented on #16260
@qlzh727 Should I close here and reopen it in tensorflow?

[2022-03-24 07:06] maybeLee commented on #16289
Hi,
A pr has been created: https://github.com/keras-team/keras/pull/16295
Please see if it is fine.

[2022-03-24 08:51] tilakrayal commented on #16267
@Nafees-060 ,
Code shared is full of [indentation errors](https://colab.research.google.com/gist/tilakrayal/5155366a2eccdf0818cc8b49b9caa96f/untitled262.ipynb), please share a colab gist with issue reported or complete indented code with all dependencies such that we can replicate the issue reported.

[2022-03-24 08:53] tilakrayal commented on #16150
@peter-jp ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the dataset you are using.Also please try to test the code in latest stable version2.8  and let us know if you are facing same issue.Thanks!

[2022-03-24 09:43] partiallycomplex commented on #16160
Why the issue should be closed? It is not the intended behavior. Anyway, any thought about that?

[2022-03-24 09:49] ghylander commented on #16016
Hi
Any progress on this matter?
I know it's possible to write custom training loops, but this seems like something the built-in training loop should be able to handle

[2022-03-24 10:04] jayagami opened #16296 "Normalization and BatchNormalization layer does not rescale or normalize inputs, am I missing something?"
I opened a same issue in tensorflow, but I found it could be keras probelm.

**System information**

colab with tf-2.8
[old-tf_env.txt](https://github.com/tensorflow/tensorflow/files/8330439/old-tf_env.txt)

---

**Describe the current behavior**

Normalization and Batch Normalization layer does not rescale or normalize inputs as excepted, the inputs barely not changing.

---

**Standalone code to

[2022-03-24 10:54] old-school-kid commented on #16234
Is compiling the model the right way to do it or should we just use backend.set_value like we set [lr of optimizers in callbacks](https://github.com/keras-team/keras-io/blob/master/guides/writing_your_own_callbacks.py#L368).

[2022-03-24 11:19] tilakrayal commented on #16291
@wellsonah2019
In order to expedite the trouble-shooting process, could you please provide a complete code  you are using.

[2022-03-24 14:33] deketh commented on #12803
`ModelCheckpoint` should have the ability to set `self.best` (as @micbia pointed out) to checkpoint file's. There's no point on saving the best-weight checkpoint if you cannot resume the training without losing monitored metric's value.

[2022-03-24 14:36] deketh commented on #12803
`ModelCheckpoint` should have the ability to set `self.best` (as @micbia pointed out) to checkpoint file's. There's no point on saving the best-weight checkpoint if you cannot resume the training without losing monitored metric's value.

[2022-03-24 14:50] wellsonah2019 commented on #16291
@tilakrayal

I have included the code in the main post, but for your convenience, here it is:

[code]

Hope this helps!

[2022-03-24 15:08] bhack commented on #16260
@innat It was not scheduled for 3 years at https://github.com/tensorflow/tensorflow/issues/33951.
I suppose that a community contributed PR is required also if we move this in TF.

but also with a community PR the real problem is [that namespace is currently orphan](https://github.com/keras-team/keras-cv/issues/74#issuecomment-1035597742) (and it is not a so isolated case https://github.com/tensor

[2022-03-24 15:54] old-school-kid commented on #16239
@cocotdf The [document](https://www.tensorflow.org/api_docs/python/tf/keras/layers/TimeDistributed) clearly mentions

And here input means excluding batch size. But you are passing a 2D shaped tensor. Hence the error.
Hope this helps.

[2022-03-24 17:09] micbia commented on #12803
as mentioned above by @deketh, to fix this you require very little change to `ModelCheckpoint`. I think you just need to add `best` as a variable. As a reference, here is my custom checkpoint [SaveModelCheckpoint](https://github.com/micbia/SegU-Net/blob/v2.0/utils_network/callbacks.py#L129).

The changes I implemented consist simply in passing `best` with the [initiation](https://github.com/micbia

[2022-03-24 17:10] LukeWood commented on #16289
Note from triage:

the long chain of if statements in the layer is here for performance reasons, but it may be fixed now.  in this case the bug will get fixed when we remove the logic.

[2022-03-24 17:11] #16260 closed

[2022-03-24 17:15] LukeWood commented on #16239
Hey there @cocotdf - yeah @old-school-kid is correct.  The code is actually functioning correctly.

Thanks

[2022-03-24 17:15] #16239 closed

[2022-03-24 17:23] LukeWood commented on #16226
Thanks - We will follow up with TensorFlow

[2022-03-24 17:26] LukeWood commented on #15881
@ggardet could you help us by identifying which OP is returning NaN in these test cases then we will follow up with the TensorFlow repo?

[2022-03-24 17:30] cocotdf commented on #16239
@old-school-kid @LukeWood First, thanks for your answers.
I'm sorry, it's probably my fault but I don't understand, for me when we apply the BatchNormalization inside TimeDistributed, it's going to normalize every timestep according to the data of the timestep, but it's not the case, even if we place ourselves in a higher dimension like for example in 4D (with the same example but with a different

[2022-03-24 17:30] LukeWood commented on #15225
Would you be open to contributing a PR raising an error when `ndim` and `shape` mismatch?  Also, can you check whether or not the model fails when an incorrect shape is used per the input spec?  thanks @rschumi0

[2022-03-24 20:00] markub3327 commented on #16296
@jayagami

When using `tf.keras.layers.Normalization` you must `.adapt()` before !!!

[code]

[2022-03-24 20:59] minsung-k opened #16298 "How to reset model in function and for loop (model.reset_state)"
Hi, I want to grid search to find the best model. I checked the previous result gives impact to the next one, so I try to use model.reset_state. But it doesn't work. Could you check the code?

[code]

And the result doesn't work.
Where should I put model.reset_states()?

Thank you in advance.

![image](https://user-images.githubusercontent.com/41711059/160008540-12b77695-c439-4afa-ad4f-7b33b021872

[2022-03-25 03:11] jayagami commented on #16296
Thanks for your explanation!
I re-checked the documentation and found it right in front of me, surprised I hadn't noticed this paragraph before.
I understand the need for this design, which is very different from torch. I should have paid more attention to these details.

[2022-03-25 03:11] #16296 closed

[2022-03-25 05:37] Nafees-060 commented on #16267
@tilakrayal  I've fixed the indentation errors. Kindly [verify](https://colab.research.google.com/gist/Nafees-060/a2807e4f24b77d84b745ac3359d38504/untitled262.ipynb#scrollTo=jnhiCVCpHlzK). Apart from that, I've provided a link to the Generator class, which you may attempt to use. If not, then simply attempt to generate random data that is consistent with the nature of my data, as I stated in the p

[2022-03-25 05:57] markub3327 commented on #16296
@fchollet  I solved it for Keras.

[2022-03-25 07:34] tinyxuyan opened #16302 "The parameters of BERT constructed with Keras"
When I construct BERT with the [example codes](https://keras.io/examples/nlp/masked_language_modeling/ ), the parameter scale is significant larger than the values given in the BERT original paper.  Is there any difference between the tf.keras.layers.MultiHeadAttention and the original one in Transformer paper?

[2022-03-25 09:22] TrueWodzu opened #16303 "Models starting from EfficientNetV2B0 and ending at EfficientNetV2L are duplicated in the table."
**URL(s) with the issue:**.

https://keras.io/api/applications/

**Description of issue (what needs to be changed):**.

 Models starting from EfficientNetV2B0 and ending at EfficientNetV2L are duplicated in the table.

**Are you planning to also submit a pull request to fix the issue? See the [docs contributor guide](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md):**

I could but

[2022-03-25 13:31] dmirecki commented on #16234
It seems that adding `self.model.make_train_function()` indeed fixed the problem! Thanks a lot!

[2022-03-25 13:31] #16234 closed

[2022-03-25 14:14] tylerjereddy opened #16304 "DOC: explain the meaning of model.fit() history tracking in a distributed scenario"
The tensorflow team [requested](https://github.com/tensorflow/tensorflow/issues/55366#issuecomment-1078871670) that I post this issue over here as well.

## URL(s) with the issue:

Perhaps most closely related to some of these docs pages:
  - https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit
  - https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#overview

## Descri

[2022-03-25 14:31] tilakrayal commented on #16298
@minsung-k ,
I was facing different error while executing the given code.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/18d17f82fea4a252d9fe836249e505d0/untitled265.ipynb) and also please take a look at this SO [link](https://stackoverflow.com/questions/42763928/how-to-use-model-reset-states-in-keras) with the similar issue.Thanks!

[2022-03-25 14:50] sushreebarsa commented on #16276
@saylideshmukh
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-03-25 16:03] minsung-k commented on #16298
@tilakrayal, Sorry, I changed the code. Please check one more time. and I checked that SO as well, and I try to do the same thing, but it doesn't work.

[2022-03-25 21:01] HJasperson opened #16308 "Model serializer path is incompatible with Windows"
**System information**.
- OS Platform and Distribution: Windows Version 10.0.19044
- TensorFlow version: 2.7
- Python version: 3.9.12

**Describe the problem**.

Both the [serializer and deserializer](https://github.com/keras-team/keras/blob/583f7cd4d664f760bbab4dcf283d725ced10fcce/keras/saving/pickle_utils.py) construct the temp_dir path using the hard coded prefix "ram://". This works for Unix-b

[2022-03-26 03:54] EricChu98 commented on #13006
OMG! You are my lifesaver!!! I stuck with this problem for a week!

[2022-03-26 05:37] gadagashwini commented on #16188
@rameshkunasi,

For more information take a look at this [doc](https://blog.tensorflow.org/2020/08/tensorflow-model-optimization-toolkit-weight-clustering-api.html)

[2022-03-26 06:56] lauraht opened #16311 "Keras/tensorflow failed when specifying class_weight in model.fit()"
**System information**.

- OS Platform and Distribution:  Linux.
- TensorFlow version:  Keras/tensorflow version 2.8.0.
- Python version:  Python 3.7
- GPU model and memory:  Use CPU (no GPU).

**Describe the problem**.

My network model works well without specifying `class_weight` in `model.fit()`.

However, when I specify `class_weight` in `model.fit()`, no matter what weight values I give, kera

[2022-03-26 08:24] chsigg commented on #16290
This looks like a bot creating issues. Please close.

[2022-03-26 12:09] #16037 closed

[2022-03-26 16:24] bhack commented on #14867
@qlzh727 Do you know if this task is scheduled in your roadmap? As it seems that a similar logic is required in general when you have nightly (unversioned) dependecies.  E.g. See the recent ticket in Keras-cv https://github.com/keras-team/keras-cv/issues/195#issuecomment-1075723165

[2022-03-26 18:34] Suzan009 commented on #16229
@tilakrayal don't you understand the plain English text that I've written [here](https://github.com/keras-team/keras/issues/16229#issuecomment-1067132868)? Please assign someone else if you can't.

[2022-03-26 20:40] chelove4draste opened #16312 "Tokenizer fit from drive"
Hello, I tried to make a model using keras tokenizer. I wanted to tokenize large text dataset and found this problem: using custom generator takes a lot of time (more than 10 hours) to tokenize (
[code]
)
while just loading to memory and tokenizing takes around 5-7 minutes.
[code]
Expected behaviour of new feature:
tokenizer.fit_from_file("filename.txt")
training for around 5-7 minutes and finishe

[2022-03-27 08:11] animalcroc commented on #16240
@tilakrayal  Please let me know if you are still able to assist

[2022-03-27 11:01] old-school-kid commented on #16311
Can you provide code to reproduce the error?

[2022-03-27 11:54] OmriSteiner commented on #15832
Hey, sorry for disappearing.
Unfortunately I don't have a local setup for TF any more, so I am not able to test anything.
I don't think this is the correct solution for this issue, but since you've asked I'll post it:

https://github.com/tensorflow/tensorflow/blob/v2.7.0/tensorflow/python/ops/math_ops.py#L1945
[code]
But changing the `tensor_equals` signature affects the ragged tensor implementati

[2022-03-27 19:20] soans1994 commented on #10306
hello,

i want to train a model to predict heatmap (mean square error loss) and binary segmentation (binary cross entropy loss).
i tried to train model using multi branch (2 branch duplicates for 2 output). but the the final output will favour for only one type of output.
For example when i train using model.fit with equal loss weights, the output is good for heatmap, but binary mask output is wro

[2022-03-27 20:40] TheImaginaryOne commented on #16205
Absolute/relative paths do not seem to be relevant, because the issue is still the same if I specify the directory using a relative path.

[2022-03-28 01:56] aneeka657 commented on #11607
Hello , did you get model.fit for this code? please share if you have

[2022-03-28 03:03] gadagashwini commented on #16243
Fixes PR [#16249](https://github.com/keras-team/keras/pull/16249)

[2022-03-28 04:55] #16215 closed

[2022-03-28 06:31] sushreebarsa commented on #16311
@lauraht
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-03-28 06:46] lauraht commented on #16311
Hi Surya (@old-school-kid) and @sushreebarsa:

Thank you very much for your help!

Yes, I have made a simplified model that can reproduce the error. Could I email my code and data files to you?

Thank you so much!

[2022-03-28 08:32] lauraht commented on #16311
Hi Surya (@old-school-kid) and @sushreebarsa,

I tried to email you my zipped code/data files by directly replying to "keras-team/keras \<reply+......@reply.github.com\>", however, it complained that it exceeds the size limit and it couldn't be delivered. It is 3.6 MB (zipped). I guess it is the GitHub that has a small size limit.

So I was wondering if I could possibly have your email address so

[2022-03-28 08:52] tilakrayal commented on #16308
@HJasperson ,
I was able to execute the code without any errors.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/e5bfe39826213ab003e45ee2a97026fd/untitled271.ipynb).

[2022-03-28 09:32] tilakrayal commented on #16291
@wellsonah2019 ,
I was facing different issue while executing the code.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/e8fcb3e5b4ad3cf46e03a26869f69a23/untitled272.ipynb).

[2022-03-28 09:41] sushreebarsa commented on #14213
@1165048017 Please refer to this [link](https://keras.io/api/layers/core_layers/dense/) and let us know if it helps?Thanks!

[2022-03-28 09:48] spatil6 commented on #15780
PR is merged for this, Please close this.

[2022-03-28 10:09] old-school-kid commented on #16311
Hi @lauraht
It looks like a classification problem, so can you try to reproduce the error using the MNIST data available in Keras?
If it isnt possible please mail it to me (not over github).
Thanks

[2022-03-28 10:10] tilakrayal commented on #16240
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.8 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/55e52fd41e7309d5ddd55cb799e166d0/untitled268.ipynb).

[2022-03-28 10:22] saylideshmukh commented on #16276
Hello @sushreebarsa
This is my code for custom layer :
class valuemaplayer(keras.layers.Layer):
def init(self,vmap ={},compress = False, **kwargs):
kwargs["dynamic"] = True
super(valuemaplayer,self).init(**kwargs)
self._vmap = vmap
self._data = []
self._compression = compress
self._output_shape = None

def build(self, input_shape):
    pass

def enable_compression(self):
    value = list(self.get_

[2022-03-28 12:43] wellsonah2019 commented on #16291
@tilakrayal,

I saw the code that you made and I believe that you will need to import Sequential and Dense layers first before being able to run the code.

Please include this before you add the models.
[code]

[2022-03-28 12:56] tilakrayal commented on #16303
@TrueWodzu ,
The issue will move to closed status once the PR is merged.

[2022-03-28 12:58] tilakrayal commented on #16312
@chelove4draste ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2022-03-28 13:36] AshwinJay101 commented on #16265
Can we remove awaiting response?

[2022-03-28 13:42] mazeltovlee opened #16314 "Keras-DepthwiseConv2D can still accept strides != 1 && dilation_rate != 1"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7.13
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- Exact command

[2022-03-28 14:05] maybeLee commented on #16273
Hi, I temporarily close this issue since a pr thread has already been created

[2022-03-28 14:05] #16273 closed

[2022-03-28 15:13] markub3327 opened #16315 "At `build()` only two last axis are numerics"
Hello,

  I created weights at `build()`:
[code]

The input's shape: (64, 7, 25, 81)   # (batches, timesteps, patches, features)
input_shape of `build()`: (None, None, 25, 81)  # (batches, timesteps, patches, features)

## Error
[code]

[2022-03-28 16:37] adriangb commented on #16308
The lack of support for `ram://` on windows was a known issue at the time we wrote that module.

To be quite honest, I've somewhat lost track of the work on that in the ~ 1 year since I did the implementation. I believe there were still some issues, e.g. https://github.com/tensorflow/tensorflow/issues/48086.

But at a high level, what is your goal? Do you _need_ to pickle your models, or can you u

[2022-03-28 17:40] mattpotma opened #16316 "'Activation' object has no attribute 'kernel' applying regularization to MobileNetV3"
**System information**.

- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.7.0-rc1-69-gc256c071bb2, tf-nightly-2.9.0.dev20220325
- Python version: 3.9.70
- GPU model and memory: N/A

[2022-03-28 18:18] mctessi commented on #16205
@TheImaginaryOne

The called
`--> 192 image_paths, labels, class_names = dataset_utils.index_directory(`
 looks only in subdirectories of the given directory! I would suggest to clarify the documentation in case of provided labels without any code changes, something along the line 'and the images have to reside in subdirectories of the given directory' !?

[2022-03-28 18:35] HJasperson commented on #16308
This method gets called by RLlib's internal serialization (for passing environments to worker processes), so unfortunately its usage is unavoidable

[2022-03-28 18:38] adriangb commented on #16308
Gotcha. Did that just not work at all before this module was implemented in TF?

[2022-03-28 18:40] HJasperson commented on #16308
I have no idea; I'm an RLlib newbie

[2022-03-28 22:44] lauraht commented on #16311
Hi Surya (@old-school-kid),

I have emailed the code/data files to your gmail account. Both the input and output of the model are sequential data.

Please let me know if you received these code/data files.

Thanks so much for the help!

[2022-03-29 02:22] maghsk opened #16320 "Calling `model.compile()` multiple times leads to memory leak"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2022-03-29 03:24] sushreebarsa commented on #16290
@fig666 Could you please provide more information on this issue?
Thanks!

[2022-03-29 05:01] sayakpaul opened #16321 "Add ConvNeXt family of models to keras.applications"
**Describe the feature and the current behavior/state**.

ConvNeXt [1] family of models doesn't use attention or any new components for that but still achieves really good performance on ImageNet-1k while being efficient. They also demonstrate good performance on a variety of downstream tasks.

ConvNeXt family of models was trained using recipes used for training Vision Transformer-based models. A

[2022-03-29 05:50] tilakrayal commented on #16315
@markub3327 ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2022-03-29 06:31] markub3327 commented on #16315
TF version: 2.8.0
Python: 3.9.7

# Code
It's the 4D variant of your [Transfromer](https://www.tensorflow.org/text/tutorials/transformer).

[code]

[2022-03-29 06:40] tilakrayal commented on #16250
@gadagashwini ,
I was able to reproduce the issue in tf v2.8 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/1f9776716737320b137331d19c50c6b6/untitled277.ipynb).

[2022-03-29 06:56] 0505li opened #16322 "Multiple output in two different loss function"
I used `Keras` to build a `lstm` to make prediction ，two `output layers `with it ，defined as `out1 , out2 `Now I want to combine `out1,out2` with `ytrue`, the three variables to make two `loss functions`
`My model =Model(inputs=inputs,outputs=[output1’output2])`
What I need Just like
[code]

[2022-03-29 07:07] tilakrayal commented on #16298
@minsung-k ,
Can you please elaborate the issue and provide the error log you are facning.It helps to debug the issue.Thanks!

[2022-03-29 07:21] tilakrayal commented on #14573
@lyw615 ,
Can you please try to execute the code in latest stable version of tensorflow and keras form [here](https://www.tensorflow.org/install) and let us know if you are facing same issue.Thanks!

[2022-03-29 09:19] tilakrayal commented on #14960
Can you please take a look at this link [1](https://github.com/keras-team/keras/issues/11151), [2](https://stackoverflow.com/questions/54151671/graph-disconnected-cannot-obtain-value-for-tensor-tensor), [3](https://stackoverflow.com/questions/65742643/keras-graph-disconnected-cannot-obtain-value-for-tensor-kerastensor) with the similar error.Thanks!

[2022-03-29 09:22] tilakrayal commented on #15048
@Anuj040 ,
Can you please take a look at this [comment](https://github.com/keras-team/keras/issues/15048#issuecomment-895446548) and try in latest version.Thanks!

[2022-03-29 09:52] sushreebarsa commented on #16311
@lauraht
In order to reproduce the issue, could you please upload all the files on drive and share the link with permission ?Thanks!

[2022-03-29 11:49] gadagashwini commented on #16265
@AshwinJay101,
`tf.keras.callbacks.ModelCheckpoint` includes
1. Whether to only keep the model that has achieved the "best performance" so far, or whether to save the model at the end of every epoch regardless of performance.
2. Definition of 'best'; which quantity to monitor and whether it should be maximized or minimized.
3. The frequency it should save at. Currently, the callback supports savin

[2022-03-29 11:55] #14212 closed

[2022-03-29 12:36] gadagashwini commented on #16250
@mattiasu96,
`model.reset_states()`, Reset the recorded states for the stateful RNN layer.
Can only be used when RNN layer is constructed with `stateful = True`.

When i tried with LSTM
[code]

[code]

[2022-03-29 12:38] gadagashwini commented on #16284
@markub3327, Welcome you to create PR

[2022-03-29 13:48] AshwinJay101 commented on #16265
@gadagashwini I agree with that, what I am saying is that with the code I provided to you

I am currently saving the weights at the end of every epoch. When I look at the files, I notice that all the checkpoints have been saved correctly

But when you provide tf.train.get_checkpoint_state(ckpt_folder).all_model_checkpoint_paths, we expect to get all the checkpoint paths as the name suggests, inste

[2022-03-29 13:53] markub3327 commented on #16284
@gadagashwini

I cannot run Keras unit tests, I get:
OS: Debian GNU/Linux 11 (bullseye)
Arch: x86_64

[code]

[2022-03-29 15:42] sushreebarsa commented on #16276
@saylideshmukh Could you please provide the notebook link or colab gist to replicate the issue.I tried to replicate the issue and faced different error.Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/1ad04357851608ff89922e34a1e5ac58/kerasgist16276.ipynb).
We see that you are using an older version of TF (2.3) which is not actively supported so we recommend you to ki

[2022-03-29 16:19] mattiasu96 commented on #16250
Yes and I am aware of it. The problem is that in my code, I am able to call such method, without the method being actually called and without any error at all. So everything runs silently, even if it is not supposed to happen.

As mentioned in my original post this function:
[code]
has a condition that skips completely the call of  `layer.reset_states()`. Inside `layer.reset_states()` there is a c

[2022-03-29 17:02] old-school-kid commented on #16081
@innat @mattdangerw
I would like to work on this.
I went through the [EfficientNet V2 code](https://github.com/keras-team/keras/blob/master/keras/applications/efficientnet_v2.py#L932) and it seems whether or not `include_preprocessing` is True the image is being dived by 128 with a offset of -1. So wont that raise the same issue again?

[2022-03-29 19:06] #16243 closed

[2022-03-29 20:24] alankritmishra commented on #15179
I have been trying to figure out how can I merge two input data( one image dataset another time-series dataset) and tried to use CNN and LSTM. The number of samples in the image dataset is less than that of time-series data. But is there a way to use concrete both models for classification? I have labels for 40 classes in both datasets.

[2022-03-29 22:17] lauraht commented on #16311
Hi @sushreebarsa,

I have emailed all the files to Surya's (@old-school-kid) gmail account and the email was delivered without the size limit problem.

Do you mean you want me to upload the files to the google drive and share them with you and Surya? If so, could you please let me know your gmail address (I have Surya's gmail address) so that I can share the files with you? Thank you very much!

[2022-03-30 00:18] supercharleszhu opened #16325 "Supporting Distributed adapting in KPL"
Hi TensorFlow team,

Our team are trying to explore the distributed adapting to pre-process the data (Text Vectorization, and Normalization), because we do see some bottlenecks when trying to do large-scale preprocessing.

We noticed that the Horizontal scalability is not implemented (the multi-worker strategy doesn't work when we call `strategy.run(adapt, data)`. For example, in [Normalization](h

[2022-03-30 02:26] #16298 closed

[2022-03-30 02:44] gadagashwini commented on #16227
@TrueWodzu,

Are there scenarios where img.shape[0] will be None because tf.image.decode_image() will return a dynamically sized image? I think this should happen any time the function is called inside a compiled tf.function?

[2022-03-30 03:14] allenye66 opened #16327 "Val accuracy not changing"
I am trying to train a LSTM to binary classify stock market data.

My dataset contains 543 rows of data, with each row having 150 columns. The data has been standardized.

<img width="754" alt="WCWbl" src="https://user-images.githubusercontent.com/46653284/160743771-79e98c88-02b6-4078-a375-3adbff3c0d55.png">

I have ~600 samples, each has 300 time steps and each time step has just 1 feature (the p

[2022-03-30 03:32] tilakrayal commented on #16291
@wellsonah2019 ,
Can you please take a look at this SO [link](https://stackoverflow.com/questions/68354367/getting-an-error-when-using-tf-keras-metrics-mean-in-functional-keras-api) with the similar error.It helps.Thanks!

[2022-03-30 03:49] gadagashwini commented on #16229
@Suzan009,
To get the Keras-io, Install tensorflow `pip install tensorflow`.
[Keras-io](https://keras.io/) repository hosts the code used to generate the [keras.io](https://keras.io/) website.
Keras-io internally calls keras.

[code]

[2022-03-30 04:14] tilakrayal commented on #16285
Also please take a look at this SO [link1](https://stackoverflow.com/questions/54470415/should-loss-be-same-for-single-gpu-and-multi-gpu-setup-when-training-tensorflow), [2](https://stackoverflow.com/questions/38546146/tensorflow-inception-multiple-gpu-training-loss-is-not-summed) and [3](https://stackoverflow.com/questions/53114494/tensorflow-calculating-loss-with-gpu-vs-cpu) which delivers the s

[2022-03-30 09:55] #14607 closed

[2022-03-30 10:40] TrueWodzu commented on #16227
I am not sure I understand your question. Each Tensor returned from tf.image.decode_image() will have a 3 or 4 dimensional shape, so I don't think it will ever happen that img.shape[0] will be None. tf.image.decode_image() either returns a valid Tensor or it throws an exception.

However, your question forced me to delve deeper into tf.image.decode_image and it seems that img.shape[0] not necessar

[2022-03-30 10:55] #14373 closed

[2022-03-30 11:41] gadagashwini commented on #16267
@Nafees-060,
Padding with zero's doesn't affect the overall accuracy. When we do padding, length of the longest sequence will be considered, so even for that batch all neurons will derive some activation, the network will definitely not learn to predict just sequences of 0s because you have not provided them ever.

Configure a [keras.layers.Embedding](https://www.tensorflow.org/api_docs/python/tf/

[2022-03-30 12:06] sushreebarsa commented on #14969
@worldpeaceaspirer  Sorry for the late response!
You may view the code using '`View in Colab`'  and copy the specific cell from there .Please let us know if it helps?
Thanks!

[2022-03-30 12:11] gadagashwini commented on #16302
@tinyxuyan, Parameter value is depends on BERT model size.

bert-base-uncased, 110M parameters with Transformer * 12
bert-large-uncased, 340M parameters with Transformer * 24

`tf.keras.layers.MultiHeadAttention()` an implementation of multi-headed attention as described in the paper ["Attention is all you Need" (Vaswani et al., 2017)](https://arxiv.org/abs/1706.03762)

[2022-03-30 12:18] gadagashwini commented on #16322
@0505li,
You can use `tf.keras.layers.Concatenate()` to concatenate output of two layers.
[code]

`TensorShape([5, 16])`
Finally compile the model with single loss function

[2022-03-30 12:46] 0505li commented on #16322
Thanks for your advice.I am a begin learner for ML.In this I want to make a interval prediction to get a lower prediction and a upper prediction by using two different output layer loss functions.

[2022-03-30 12:55] #14187 closed

[2022-03-30 16:21] jvishnuvardhan opened #16333 "Training is slow when using tf.keras.utils.Sequence with large Numpy arrays"
**Moved from TensorFlow repository**

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux RHEL Server 7.6**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **bi

[2022-03-30 23:06] mattpotma commented on #16316
I've found two more caveats of this.

First, with MobileNetV2, if I add regularization to the DepthwiseConv2D layers using this,

[code]

then training fails with the error `AttributeError: 'Dense' object has no attribute 'depthwise_kernel'`. So the regularization being applied to the wrong layer once training begins is not unique to MobileNetV3, but rather seems to only happen in select cases. Th

[2022-03-30 23:09] #16303 closed

[2022-03-30 23:59] vgangal101 commented on #15494
i can implement breadbreads implementation into the codebase, within a week or so

[2022-03-31 02:48] tilakrayal commented on #16327
@allenye66 ,
The size of the training dataset you are using is less. While the amount of the trainable parameters is around 17K. This might possibly gone for overfitting.

Please try with below
1.Generate or find more data,
2.Reduce the complexity of the model,
3.Use pre-trained embedding,
4.Reduce the number of the LSTM nodes.
Also please take a look at this Keras [optimizers](https://keras.io/ap

[2022-03-31 07:04] ageron commented on #16226
The root TensorFlow issue #55209 was fixed in [this commit](https://github.com/tensorflow/tensorflow/commit/abc6f6ec7869d846b33b3d8e5e33284aac1600dc), so hopefully it will also fix this issue (unless it reveals another issue?).

[2022-03-31 10:03] sushreebarsa commented on #16316
@gadagashwini I was able to reproduce the issue on colab using TF v2.8.0 and tf-nightly(2.9.0.dev20220329), please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/3d2008febc1334e90c26bdc4a94dea27/16316.ipynb#scrollTo=Jm34f515X791).Thanks!

[2022-03-31 11:52] tilakrayal commented on #16315
@gadagashwini ,
I was able to reproduce the issue in tf v2.8 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/b448144440cb53b755f6c58d7ddc6e1c/16315.ipynb).

[2022-03-31 12:49] sushreebarsa commented on #16333
@gadagashwini  Colab crashed while reproducing this issue using TF v2.8.0 and tf-nightly.Please find the [gist ](https://colab.research.google.com/gist/sushreebarsa/7f80a6379c8d38407e868113ca11358a/16333.ipynb)here.Thanks!

[2022-03-31 14:52] fperezgamonal commented on #16081
Hello all,

I'm currently fine-tuning an EfficientNetV2S network and happened to take quite a deep dive into the code after finding the already solved (to master) issue with dropout layers #16144 (to ensure there weren't other bugs).
I also use my own normalisation code and hence set `include_preprocessing = True`. @old-school-kid , if you take a closer look at [the EfficientNetV2 code,](https://g

[2022-03-31 15:12] pbischoff opened #16336 "Unique identifier for models"
**System information**.

TensorFlow version (you are using): 2.7.1
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

Adding a unique identifier, e.g. some form of a hash string to the model. This would help in tracking model development as it would be possible to save predictions together with the UID and track whether or not predictions hav

[2022-03-31 17:04] LukeWood commented on #16226
Cool!  Yeah, should be fixed now so lets close unless another arises.  Thanks @ageron

[2022-03-31 17:04] #16226 closed

[2022-03-31 17:19] hertschuh commented on #16321
Hi Sayak, this looks like a great addition. Would you be willing to put up a PR for this?

[2022-03-31 17:31] sayakpaul commented on #16321
Thanks. I think the following answers your question :)

[2022-03-31 18:11] LukeWood commented on #16321
Sweet - yes we are happy to take this, and we can take it in keras.applications.  Cheers @sayakpaul and thanks!

[2022-03-31 22:39] adriangb commented on #16308
I believe so. I don't 100% remember though

[2022-03-31 23:20] #16192 closed

[2022-03-31 23:57] adriangb commented on #16308
Some context: https://github.com/keras-team/keras/pull/14748#discussion_r654980437

[2022-04-01 00:32] tinyxuyan commented on #16302
According to your advice, I have modified the configuration depending on the original paper. There are still some differences. The total parameters are slightly larger than the values provided by the paper.

As for the bert-base-uncased model with configuration as below:
`class config:
    MAX_LEN = 256
    BATCH_SIZE = 32
    LR = 0.001
    VOCAB_SIZE = 30000
    EMBED_DIM = 768
    NUM_HEAD = 12

[2022-04-01 00:46] sayakpaul commented on #16321
Alright! I will get started as soon as I can then.

[2022-04-01 01:06] tinyxuyan commented on #16302
I have found the issues by myself.
In the [BERT code](https://keras.io/examples/nlp/masked_language_modeling/), the transformer blocks are built with
layers.MultiHeadAttention(num_heads=num_heads, key_dim=embed_dim//num_heads).
In the [GPT code](https://keras.io/examples/generative/text_generation_with_miniature_gpt/), the transformer blocks are built with layers.MultiHeadAttention(num_heads=num_h

[2022-04-01 04:59] markub3327 commented on #16284
Ok.

[2022-04-01 05:09] mazeltovlee commented on #16314
Hi, I also observe the same issue on `SeparableConv2D`.
[code]
That is, I think it would be better if these APIs could raise an exception to alarm users when setting strides != 1 && dilation_rate != 1.

[2022-04-01 08:54] dimka11 opened #16344 "Using tf.keras.utils.image_dataset_from_directory with label list"
I have list of labels corresponding numbers of files in directory example: [1,2,3]

[code]

I get error:

`ValueError: Expected the lengths of `labels` to match the number of files in the target directory. len(labels) is 51033 while we found 0 files in ../input/jpeg-happywhale-128x128/train_images-128-128/train_images-128-128.`

I tried define parent directory, but in that case I get 1 class.

[2022-04-01 09:14] wellsonah2019 commented on #16291
@tilakrayal,

Sorry for the late reply.

I see that the fix seems plausible, I can't verify yet but it does seem like that will work. However, that essentially means that users will have to use this workaround fix to solve this issue. Is the Keras team planning to implement the fix instead so users will not encounter the issue when they first use these metrics?

Thanks

[2022-04-01 11:59] KaleabTessera commented on #15494
+1

[2022-04-01 12:08] KaleabTessera commented on #15269
+1

[2022-04-01 12:30] Saxingh opened #16345 "Module Not Found Error with ResNet50"
Hi! I am trying to use ResNet50 for damage classification of buildings from images however I cannot get the ResNet to load. I am using the code below to call for ResNet.

`import numpy as np
import tensorflow as tf
import keras
import ast
from keras import Sequential
from keras.layers import Conv2D, MaxPooling2D, Dense, Flatten, Add, Input, Concatenate
from keras.models import Model
from keras.app

[2022-04-01 13:12] innat commented on #15269
@breadbread1984 It would be nice to send PR. WDYT?

[2022-04-01 14:40] sushreebarsa commented on #16311
@lauraht Could you  please share your drive access to the community so that we can access your files as we will not be able to share the gmail details ?
Thanks!

[2022-04-01 15:31] lkaupp opened #16346 "timeseries_dataset_from_array produces unequal dimensions in DS"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Win10 Pro 64-bit
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
v2.8.0-rc1-32-g3f878cff5b6 2.8.0
- Python version:
3.9.6
- Bazel version (if compiling from source):
\-
-

[2022-04-01 15:55] Shaaniaa opened #16347 "Value error: Input 0 of layer "sequential" is incompatible with the layer: expected shape = (None,2566,256,1), found shape = (32,128,1)"
gray = cv2.cvtColor(roi, cv2.COLOR_BGR2GRAY)
    gaussblur = cv2.GaussianBlur(gray, (5, 5), 2)
    smallthres = cv2.adaptiveThreshold(gaussblur, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY_INV, 9, 2.8)
    ret, final_image = cv2.threshold(smallthres, 70, 255, cv2.THRESH_BINARY_INV + cv2.THRESH_OTSU)
    cv2.imshow("BW", final_image)
    final_image = cv2.resize(final_image, (128, 128))

[2022-04-01 16:25] maybeLee opened #16348 "A large output inconsistency between keras (.h5), tensorflow (.pb), and onnx on the same model with same weights"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7
- Bazel version (if compiling from source): N/A
- GPU model and memory: N/A
- Exac

[2022-04-02 02:14] haifeng-jin commented on #16226
@ageron I am working on supporting a ragged tensor Transformer. Will further verify the bug is fixed. Thanks

[2022-04-02 02:21] gadagashwini commented on #16302
@tinyxuyan,
Yes you are right.
Difference in the Parameters is due to the way MultiHeadAttention layer used

[BERT model ](https://github.com/keras-team/keras-io/blob/master/examples/nlp/masked_language_modeling.py#L261)
[code]

[GPT model ](https://github.com/keras-team/keras-io/blob/master/examples/generative/text_generation_with_miniature_gpt.py#L65)
[code]

[2022-04-02 02:22] gadagashwini commented on #16302
@tinyxuyan, Can we close this issue since its resolved. Thanks!

[2022-04-02 02:30] gadagashwini commented on #16336
@pbischoff,
Thanks for proposing new feature request.
Can you take a look at this guideline for contributing to [Keras](https://github.com/keras-team/keras/blob/master/CONTRIBUTING.md) and follow the same? Thanks!

[2022-04-02 03:24] lauraht commented on #16311
Hi @sushreebarsa and Surya (@old-school-kid),

I have uploaded the code and data files here (in a zipped folder):
[class_weight_code.zip](https://github.com/keras-team/keras/files/8401669/class_weight_code.zip)

The Python file can reproduce this error, and it loads the two data files. Both the input and output of the model are sequential data. The log file contains this error.

However, when I co

[2022-04-02 11:33] #16302 closed

[2022-04-02 15:40] sushreebarsa commented on #16092
@pokecheater Is this still an issue?
Please move this issue to closed status if it is resolved  for you ?
Thanks!

[2022-04-02 22:51] foxik opened #16354 "tf.keras.losses on RaggedTensors crash during gradient computation on a GPU"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Debian Stable**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **TF 2.8**
- Python version: **3.7**

**Describe the problem**.

When some loss (`tf.losses

[2022-04-02 22:54] foxik commented on #16354
Adding @pedro-r-marques who wrote the code.

[2022-04-03 11:20] foxik commented on #16354
On second thought, I opened an issue in the TensorFlow repository https://github.com/tensorflow/tensorflow/issues/55475 to discuss the problem with `tf.map_fn` on `RaggedTensors` -- the `RaggedTensor`s are supported according to the documentation, so this is in fact a bug.

However, I think we could still discuss whether it would make sense to use `.flat_values` instead (maybe I am mistaken and it

[2022-04-03 12:59] innat opened #16355 "Extract Nested Layers from Encapsulated Model"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): <any>
- Python version: 3.7
- Bazel version (if compiling from source):
- GPU model and memory:
- Exact command t

[2022-04-03 13:00] innat commented on #16355
**Case 2**

It's not only limited to `Sequential API` but also some cases with `Functional API`.  See another example below.

[code]
[code]
It also gives

[2022-04-03 13:00] innat commented on #16355
# The Current Workaround

Currently, we need to flatten the base model (above `pretrained_model`). It means, by disclosing the target base model in the following manner.

[code]
[code]

**Describe the expected behavior**.

The **case 1** and **case 2**, described above should be doable like the above-mentioned **current workaround**.

---

- Do you want to contribute a PR? (yes/no): NO
- If yes, p

[2022-04-03 17:08] TusharJ3011 commented on #16347
First, the dimension of the final image you are resizing in the line
final_image = cv2.resize(final_image, (128, 128))
should be (2566, 256) as the input layer is of shape (None, 2566, 256, 1) <br>
Secondly, instead of resizing the image, you have to just increase the dimensions of the image to make it match the expected shape so, the following codes:
final_image = np.expand_dims(final_image, axis

[2022-04-03 17:26] drauh opened #16356 "dual output (dict), one loss (dict) leads to border effect and error when saving weights"
### **Describe the problem**.

Dual model output (as dict), with only one loss (as dict, only matching one output) can lead to an error. This happened because the inputted dict to the compile method is modified by a side effect, modifying also the keras.Model.loss attribute.

### **Standalone code to reproduce the issue**.

On Tensorflow 2.8, Python 3.9.7

**Inputs**
[code]

**Outputs**
[code]

An

[2022-04-03 17:48] TusharJ3011 commented on #16344
image_dataset_from_directory() takes directories in current path as input labels and then open those files and take the images inside it as data. In your case, it is reading the images/data as classes and trying to open them which is not possible and hence the errors.
I recommend you to use native method, i.e., reading the images label-wise using OpenCV or Pillow and then save it into a numpy arra

[2022-04-03 21:53] Shaaniaa commented on #16347
**I want to add that i am referencing this code https://github.com/AmanDesai10/Indian-Sign-Language-Recognition/blob/main/digit_recognition.py**

**I am getting this error after adding your lines in code**

Exception has occurred: ValueError
cannot reshape array of size 87000 into shape (1,1,290,1)
  File "[C:\Users\Dell\OneDrive\Documents\1-4-22\\digit_recognition.py]()", line 41, in <module>

[2022-04-04 02:57] gadagashwini commented on #16265
@AshwinJay101,
`tf.train.get_checkpoint_state()` takes the `latest_filename`.

[code]
Take look at [source code](https://github.com/tensorflow/tensorflow/blob/v2.8.0/tensorflow/python/training/checkpoint_management.py#L248-L302)

[2022-04-04 03:12] gadagashwini commented on #16322
@AbhisekOmkar,

[code]

While compiling your model and specifying a separate loss for each of the model's layer outputs. These losses can be strings if they are the default losses that Keras provides, or these can be callables that implement your loss function.

[code]
[code]

[2022-04-04 04:57] Euphoria08 commented on #692
I am getting error in importing any module from tensor.keras in my colab notebook.
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing import image
I am getting a module not found error in the above line of codes.

[2022-04-04 06:58] pbischoff commented on #16336
@gadagashwini thank you for your response. I did not add a candidate solution as I wanted to receive feedback on whether or not such feature makes sense or not first.

Without having thought it through completely, I'd add an attribute like `self.identifier` to the Model class in `keras/engine/training.py`. A new method (e.g. `_set_identifier()`) could hash something like the current datetime or co

[2022-04-04 07:16] tilakrayal commented on #16345
@Saxingh ,
I tried to execute the mentioned code and haven't faced any issue.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/8969d9819195fcd9d9ea7a4405c8a886/untitled286.ipynb).Also i request you please build tensorflow from [source](https://www.tensorflow.org/install) for respective dependencies and test your code.Thanks!

[2022-04-04 08:55] #16251 closed

[2022-04-04 09:55] #14213 closed

[2022-04-04 10:46] tilakrayal commented on #16347
@Shaaniaa ,
While trying to execute the code i was facing issue `OSError: No file or directory found at model-try.h5.` Requesting to please provide the required dependencies to execute the code without fail.Thanks!

[2022-04-04 10:49] lkaupp commented on #16346
Found my mistake after I have done a minimal example. The WindowGenerator / timeseries_dataset_from_array is not the problem. My convolutional NN configuration (strides and padding) was incompatible with my total_window_size, therefore the output of the NN after training was [5,12,540] instead of [5,10,540]. Therefore, this ticket can be closed.

[2022-04-04 10:49] #16346 closed

[2022-04-04 10:57] Shaaniaa commented on #16347
Hi first run digit_train.py file then digit_recognition.py and there in 4th last line it is model-mix-1.h5
and the 4th last line is: classifier.save("model-mix-1.h5")
Make sure to change the path according to your directory
Thanks.

[2022-04-04 10:58] tilakrayal commented on #16354
@gadagashwini ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d115d37396fb86e2240750bd2ab29c5d/16354.ipynb).

[2022-04-04 11:22] HyunseungLee-Travis opened #16357 "TypeError: register_loss_scale_wrapper() takes 2 positional arguments but 3 were given"
**The file that caused the error seems to be from <code>keras\mixed_precision\loss_scale_optimizer.py</code>, so I have posted the bug issue in the keras repo.**

**System information**
- I have written the code to import TensorFlow exactly in all the documentations <code>import tensorflow as tf</code>
- Windows 11 (2022-03 x64 KB5011563)
- Installed TensorFlow through <code>pip install tensorflow

[2022-04-04 12:07] Suzan009 commented on #16229
@gadagashwini I have already installed tensorflow. Sorry, why did you think that it might be a tensorflow issue like this?

Here is the thing that I did

[code]

Please follow the above commands. As I said when I run `python autogen.py make`, after some while the error occurs, mentioned [here](https://github.com/keras-team/keras/issues/16229#issue-1167202266).

[2022-04-04 12:23] tilakrayal commented on #16356
@gadagashwini ,
I was able to reproduce the issue in tf [v2.7](https://colab.research.google.com/gist/tilakrayal/41457c3ac0282c87f964c082b78f7495/untitled292.ipynb), v2.8 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/762daf2ab47e08106cebc8a9ff48a0f2/untitled293.ipynb).

[2022-04-04 13:04] AshwinJay101 commented on #16265
@gadagashwini It might take the latest filename as an argument but the default value is None. The API `tf.train.get_checkpoint_state(ckpt_folder).**all_model_checkpoint_paths**` should instead return all the checkpoint paths

Let me try and point out more explicitly what the issue is

[2022-04-04 13:46] AshwinJay101 commented on #16265
Let me try to explain the issue more clearly

From my code, the output of the command `print(os.listdir(ckpt_folder))` is `['mymodel_3.index', 'checkpoint', 'mymodel_2.data-00000-of-00001', 'mymodel_1.index', 'mymodel_3.data-00000-of-00001', 'mymodel_1.data-00000-of-00001', 'mymodel_2.index']`

If you notice the cherckpoint proto file, the contents of the **checkpoint** file is
[code]

Now using t

[2022-04-04 13:55] #14243 closed

[2022-04-04 14:55] #16275 closed

[2022-04-04 14:55] #14193 closed

[2022-04-04 14:59] chunduriv commented on #16086
When we run the code on the CPU, we get `InvalidArgumentError` as shown below

[code]
Output:
[code]

Where as on the GPU, it is not throwing any exception as shown below

`print(y(x).shape)
(1, 10, 3)
`

Please find the gist [here](https://colab.research.google.com/gist/chunduriv/37e54c09e1afb44e9663db70e15ffccd/16086.ipynb) for reference. Thanks!

[2022-04-04 17:24] HyunseungLee-Travis commented on #16357
I tried using TensorFlow in Debian Linux and it seems to work.

I also tried it in Google Colab and it worked, too.

https://stackoverflow.com/questions/71471677/error-while-importing-tenssorflow-typeerror-register-loss-scale-wrapper-take

There was this post in stackoverflow and I think it's the same error I had.

Maybe the error occurs only in Windows 11 or Windows, but I have tried every fix I

[2022-04-04 17:41] HyunseungLee-Travis commented on #16357
I tried uninstalling and reinstalling all the TensorFlow dependencies and it works now.

I am not sure why I was not able to use the package but now I can.

Sorry for the inconvenience.

[2022-04-04 17:41] #16357 closed

[2022-04-04 18:22] #16201 closed

[2022-04-04 18:24] #16284 closed

[2022-04-04 18:30] markub3327 commented on #16315
@gadagashwini

Hi,
 it is becouse `print(dataset)` gives me:
`<ZipDataset element_spec=(TensorSpec(shape=(None, None, 25, 81), dtype=tf.float64, name=None), TensorSpec(shape=(None, None, 25, 1), dtype=tf.float64, name=None))>
`.

The model knows from the dataset object only the last two axis, but I need to it knows the last 3 axis (or all axis without the batch axis 0).

[2022-04-04 18:46] old-school-kid commented on #16086
@chunduriv
In the [documentation ](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv1DTranspose) it clearly mentions under `dilation`

And this should also be the ideal case. But while executing with GPU it accepts value which I think is a bug. Can you please look into it?
TIA

[2022-04-04 20:02] pcallier opened #16359 "metrics.reset_state ignores shape of weights"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-04-05 08:52] gadagashwini commented on #15900
@foxik,
Looks like its expected behaviour.
**input with shape [2] ==> output shape [2, num_classes]**
[code]
[code]
**input with shape [1] ==> output shape [num_classes,]** ==> `numpy=array([1., 0., 0., 0.]`
1-D Tensor ==> output shape ==> shape=(number_elements,)
[code]

`<tf.Tensor: shape=(4,), dtype=float32, numpy=array([1., 0., 0., 0.], dtype=float32)>`

**Example of 1-D Tensor**
[code]

[2022-04-05 09:11] foxik commented on #15900
Hi,

I understand that it can be seen as the application of the rule from the documentation (as stated above).

However, removing __batch dimension__ seems very wrong -- a valid model will break when executed with a batch size of 1 (while it will work with batch sizes 2 or more). So personally I think the batch dimension should never be removed (i.e., that the rule about removing dimensions of siz

[2022-04-05 09:56] tilakrayal commented on #16291
@wellsonah2019 ,
`tf.keras.metrics.Sum()/Mean()` --> It computes the (weighted) sum/mean of the given **values**. I request to please check the workaround fix which helps to solve this issue.
Also can you please provide link of the above mentioned code which you are trying to execute.Thanks!

[2022-04-05 10:15] AdityaKane2001 opened #16365 "RegNets in next release?"
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

RegNets were incorporated in `keras.applications` in #15702. However, they are still in nightly and not in the release version of the Keras. It would be awesome to see them in the main module.

**Will this change the current api

[2022-04-05 10:29] tilakrayal commented on #16359
@gadagashwini ,
I was able to reproduce the issue in tf v2.8, v2.7 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/94fd5462b2a5dc52128ae233215ed88b/untitled294.ipynb).

[2022-04-05 12:34] Saxingh commented on #16345
Thank you for your help but I think I'm going to close this.
I couldnt seem to install from source so I've switched to using google colab which seems to be working fine.

[2022-04-05 12:34] #16345 closed

[2022-04-05 12:50] wellsonah2019 commented on #16291
@tilakrayal

Here is the google colab link: https://colab.research.google.com/gist/wellsonah2019/931048f5b4ada6db49b450fc227cf00f/untitled272.ipynb. I've added in the workaround and also tried running it and it works as I expected.

Please let me know if you are unable to access it.

[2022-04-05 18:34] innat commented on #15269
@LukeWood Will the new model be added to `keras.application` or `keras_cv`?

[2022-04-05 20:05] LukeWood commented on #15269
for now keras.applications.

[2022-04-06 07:51] tilakrayal commented on #16291
@wellsonah2019 ,
Glad the suggestion worked to resolve the issue.I request you to please feel free to submit a PR for the requested change or share the link where requested change is to be made.Thanks!

[2022-04-06 08:21] gadagashwini commented on #16356
@drauh,
Hi, Thanks for reporting this issue.
I modified your code in model definition. See the working sample code snippet below.

[code]
**Output**
[code]

[2022-04-06 09:55] #14098 closed

[2022-04-06 10:00] tilakrayal commented on #16347
@Shaaniaa ,
I try to execute the code as mentioned and facing issue `OSError: No file or directory found at model-try.h5` while executing the `digit_recognition.py`.Can you please confirm if `model-mix-1.h5` and `model-try.h5` are same?Also requesting you to please provide the sequence of steps.Thanks!

[2022-04-06 11:38] drauh commented on #16356
In my use case, I need the model to have two outputs but only one loss for only one of the outputs. And it seemed to me that this is allowed. I'm working on #16360 to resolve this problem.

[2022-04-06 15:31] junliu-cn commented on #12100
same here

[2022-04-06 22:32] divyashreepathihalli commented on #16354
@foxik I see a similar issue here - https://github.com/tensorflow/tensorflow/issues/46635
according to @JXRiver  looks like - "According to @edloper "Basically, RaggedTensorVariant objects should never be copied to GPU, because we can't do anything useful with them there. But Placer isn't currently smart enough to figure that out (it just sees a Variant tensor, and doesn't know what kind of value

[2022-04-07 02:27] gadagashwini commented on #16227
@TrueWodzu, Can you take a look at the [#16301](https://github.com/keras-team/keras/pull/16301#discussion_r841096001)

[2022-04-07 04:54] gadagashwini commented on #16229
@Suzan009,
Steps mentioned [here](https://github.com/keras-team/keras-io#generating-a-local-copy-of-the-website) are for generating Keras-io document.

I tried the steps
[code]
If you are looking for keras installation,
you can use `pip install keras` or `pip install tensorflow`

The above error looks more related to Anaconda. Try it on different virtual environment without Anaconda package.

[2022-04-07 05:47] foxik commented on #16354
@divyashreepathihalli Thanks for pointing it out -- I have closed my report in TensorFlow repository as a duplicate of it.

This also means we need to go through the action 2. and not use a `map_fn` on RaggedTensors in the loss calculations. I will see if I will be able to some up with a fix.

[2022-04-07 08:50] pokecheater commented on #16092
Hey Sry, haven't answered for a while. (Since our current release is done with this bug my attention moved to other features and issues).

No it is still an issue. I was not able to find the exact formualars for those convolutional layers from the code.

[2022-04-07 08:52] wellsonah2019 commented on #16291
@tilakrayal,

Okay, I will try to do so. It might take a while though.

Thanks!

[2022-04-07 08:55] #16150 closed

[2022-04-07 13:15] sushreebarsa commented on #16344
@dimka11 Could you please refer to the [comment](https://github.com/keras-team/keras/issues/16344#issuecomment-1086916536) and also let us know if this SO  [thread](https://stackoverflow.com/questions/71704268/using-tf-keras-utils-image-dataset-from-directory-with-label-list/71704958) helped ?
Thanks!

[2022-04-07 13:18] sushreebarsa commented on #16348
@gadagashwini I was able to replicate this issue on colab using TF v2.8.0, please refer to this [gist.](https://colab.research.google.com/gist/sushreebarsa/02427edd0569c2c30f2146b7822a773a/tensorflow-keras-softmax-inconsistency.ipynb)Thanks!

[2022-04-07 14:56] innat commented on #15229
@ypeleg any scope to contribute here?

[2022-04-07 17:45] LukeWood commented on #16316
Interesting bug - thanks for reporting this!

[2022-04-07 22:03] qlzh727 commented on #16316
I think there is a bug in the client side code. Notably the lambda function. Note that lambda function created in the loop need to properly bind to the param it need, otherwise it will just bind to the first value it sees (eg in this case, the activation layer, which doesn't have a kernel).

If you need a lazy evaluate the function, you can do something like below, which probably define the variab

[2022-04-07 22:03] qlzh727 commented on #16316
Also see more details about lambda function in a loop.

https://stackoverflow.com/questions/19837486/lambda-in-a-loop

[2022-04-07 22:21] qlzh727 commented on #16315
Took a closer look. I think the issue here is from the dataset, which doesn't populate the shape info for the batch and sequence dim. Keras model/layer was working correctly, since the element spec from the dataset doesn't have the static shape info on those 2 dims.

Probably you want to check how you dataset is constructed, and update that.

[2022-04-07 22:22] qlzh727 commented on #16315
I don't think there is anything keras team need to address here.

[2022-04-07 22:22] #16316 closed

[2022-04-07 22:34] qlzh727 commented on #16250
I think the existing API/function is working as intended. For a keras model, it shouldn't invoke a stateless layer with `reset_states()`. Note that majority of the layer in keras is not stateful (only RNN layer could be stateful), Changing this default behavior could cause errors for existing user, and force end user to write for loop to filter out the stateful layer to reset by themselves. This w

[2022-04-07 22:34] #16250 closed

[2022-04-07 22:38] qlzh727 commented on #15858
Closing this issue since it is quite idle and probably not anything we are addressing from keras-team

[2022-04-07 22:38] #15858 closed

[2022-04-08 00:08] rchao commented on #16333
Thanks for reporting the issue! By any chance, you can try producing the input data to files in advance and attempt the training with `tf.data.Dataset`? Knowing whether the performance is improved in that case helps us understand more.

[2022-04-08 00:48] zzzy0828 opened #16381 "Failure to define the specific shape of a Graph when using the Keras.layers.Input to define the input of a model"
The exact shape a graph built by myself is:
Graph(n_nodes=6, n_node_features=7, n_edge_features=None, n_labels=None) (based on Spektral)
So how can I define the specific shape of it when using the Keras.layers.Input?
input1 = **Input(shape=(????))**
output1 = spektral.layers.GCNConv(channels=64, activation='relu')(input1)
output1 = spektral.layers.GCNConv(channels=32, activation='relu')(output1)
.

[2022-04-08 03:30] syam37 commented on #692
i am getting the same

[2022-04-08 04:08] #16214 closed

[2022-04-08 04:17] markub3327 commented on #16315
@qlzh727
Yes, TF Dataset is part of TF. I'll ask at the TF community.

Thanks.

[2022-04-08 07:30] lauraht commented on #16311
Hi @sushreebarsa,

Thank you very much for looking into this!

I have verified it--- Yes, the error reported at the [gist](https://colab.research.google.com/gist/sushreebarsa/0daf9cb5d5bfd02de7d71f97e349222f/kerasgist16311.ipynb#scrollTo=imM7F5yGJZXK) is essentially the same error as I got (which is recorded in my log file).

I looked into this [issue](https://datascience.stackexchange.com/questio

[2022-04-08 07:31] drauh commented on #16356
Solved by #16360

[2022-04-08 07:31] #16356 closed

[2022-04-08 09:06] NoMansBase commented on #16019
What was it in your code that was causing the issue that was solved with refactoring? I'm encountering a similar issue.

[2022-04-08 11:11] tilakrayal commented on #16381
@zzzy0828 ,
Can you please elaborate about your Feature. Also, requesting you to please specify the Use Cases for this feature. Thanks!

[2022-04-08 13:15] davystrong commented on #13392
Why was this issue closed? I'm facing the same issue with TF 2.8. Retraining everything and saving with different parameters shouldn't be the recommended way of fixing this.

[2022-04-08 16:35] anton-brandl commented on #9412
I'm a bit sceptical about the proposed solutions to enable training mode for the entire network and not just for the dropout layers. My understanding is that this means other layers will be affected as well which might have side-effects:
If BatchNorm is activated during MC inference, you would update the layer statistics every single time you run the forward pass. So the only correct solutions her

[2022-04-08 18:27] unsignedrant commented on #16019
Perhaps let me look at your code and I'll tell you of similarities if any. I'm not sure what was causing the issue. The code was in a state of disorder and needed refactoring, not sure which was the real reason behind the error.

[2022-04-08 21:44] fchollet opened #16383 "[Contributors Wanted] A data loading utility for audio files"
We would like to add an audio file loading utility to `keras.utils`, similar to the existing [`image_dataset_from_directory `](https://keras.io/api/data_loading/image/#imagedatasetfromdirectory-function) and [`text_dataset_from_directory `](https://keras.io/api/data_loading/text/#text_dataset_from_directory-function).

The signature would be identical as those of the two above utilities, with two

[2022-04-08 21:49] fchollet opened #16384 "[Contributors Wanted] Add `subset="both"` functionality to `{image|text}_dataset_from_directory()`"
Current if you want to load a dataset using `{image|text}_dataset_from_directory()` and split it into a training and validation set, you do:

[code]

We'd like to introduce the following flow:

[code]

This applies to both `image_dataset_from_directory()` and `text_dataset_from_directory()`.

If you're interested in contributing, please open a draft PR!

[2022-04-09 01:23] thisisbhavin commented on #16384
Would the previous methods stay?

[2022-04-09 01:55] palash247 commented on #16383
I would like to work on this.

[2022-04-09 05:55] #16188 closed

[2022-04-09 11:17] LURADU commented on #692
same problem just i write keras.preprocessing without tensorflow and working

[2022-04-09 20:40] fchollet commented on #16384
Yes. This is a pure addition. In general any change must be backwards compatible.

[2022-04-09 20:41] fchollet commented on #16383
@palash247 awesome, thanks! Please open a PR :)

[2022-04-09 20:43] Aziz-repo commented on #4672
I'm in the middle of building a project with multiple machine learning models.
The issue is that I'm using multiple libraries (i.e a model built with Keras and another built with Torch). Is there a way to make one of them feed data to the other model?
Thank you

[2022-04-09 20:50] fchollet opened #16389 "[Contributors Wanted] A real-world model benchmark"
To this day, there are no reliable benchmarks for "real-world models" across frameworks (Keras, PyTorch, JAX/Flax). A "real-world model" is the kind of model that is actually produced and used by data scientists and engineers (for instance, the models shown at keras.io/examples or in official PyTorch tutorials). This term is used in contrast with models used in the [MLPerf benchmark](https://www.n

[2022-04-10 10:55] ronigober opened #16392 "Missing config of normalization layer - keras.applications.EfficientNetB0"
**System information**.

- OS Platform and Distribution: Windows 10
- TensorFlow installed from: pip install
- TensorFlow version : 2.8.0
- Python version: 3.8.0
- GPU model and memory: 3060 Ti 8GB

**Describe the problem**.

When using [to_json](https://keras.io/api/models/model_saving_apis/#tojson-method) function for later reloading of tf.keras.application.EfficientNetB0, the layer configuratio

[2022-04-10 11:15] AnimeshMaheshwari22 commented on #16389
Hello I would like to start working on this

[2022-04-10 12:14] fsx950223 commented on #16389
I'm interested in it.

[2022-04-10 17:57] mogeid opened #16393 "Early stopping halts training after second epoch with default patience"
The `EarlyStopping` callback monitors the number of epochs without improvement through the `wait` attribute.
Whenever there is improvement, this value is set to zero; when there is not, it is incremented by one.
However, the `patience` attribute of `EarlyStopping` objects is set to zero by default.
This means that the condition `self.wait >= self.patience` in [this line](https://github.com/keras-t

[2022-04-10 19:31] bhack commented on #16308
I think we could ask to @mihaimaruseac It they have someone to comment in the upstream ticket. Probably we don't want to lost all the analsys we spent to debug that bug.

[2022-04-10 21:40] mattiasu96 commented on #16250
I agree with your idea but, calling reset_states() on a stateless RNN does not raise any warning or error/exception. Considering that inside the layer class, there is a check + exception if reset_states() is called on a layer with stateful = False, I think that such exception should be added also in the case i provided with my code

[2022-04-11 03:00] fchollet commented on #16389
Awesome, thanks for the interest! I'd recommend starting out with a Colab notebook running on a K80 (the default Colab GPU runtime). Perhaps one of you can take the MLP + convnet and another one can take the Transformer? We can unify the infrastructure later on.

[2022-04-11 03:10] fsx950223 commented on #16389
Just use open source repo or integrate them into a repo?

[2022-04-11 03:11] fchollet commented on #16389
We probably want to start a new 3rd party repo to host the benchmarks, in the long term. In the short term we can just use Colab notebooks to prototype the logic.

[2022-04-11 03:25] AnimeshMaheshwari22 commented on #16389
Hello. Awesome! I can take the MLP+convnet part.

[2022-04-11 04:12] fchollet opened #16394 "[Contributors Wanted] A `split_dataset` utility"
It would be neat to have a utility to split datasets, somewhat similar to [this utility in sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).

Example:

[code]

Draft docstring (missing code examples, etc):

[code]

Notes:

- When processing a `Dataset`, it would first iterate over the dataset, put the samples in a list, then split the list a

[2022-04-11 04:13] fchollet commented on #16365
Can you check whether they're in the Keras 2.9 RC? I believe they should be.

[2022-04-11 04:17] AdityaKane2001 commented on #16365
@fchollet

Thanks for the response. No, they are not in the RC. That's the reason I raised the issue.

Also I have not generated the metrics as in the other models. Please take a look at https://github.com/keras-team/keras/issues/15895 for the discussion.

[2022-04-11 04:34] AnimeshMaheshwari22 commented on #16389
Hello @fchollet I am a little confused on the requirements. So are we required to compare performance of models in TensorFLow vs PyTorch or how exactly should we proceed? Could you tell a visual of the expected result maybe?

[2022-04-11 05:54] AnimeshMaheshwari22 commented on #16394
Hello. I can try sending a draft code in some time. Maybe a Colab notebook and we can discuss from there?

[2022-04-11 06:02] #15780 closed

[2022-04-11 06:04] sayakpaul commented on #15810
@mattdangerw @haifeng-jin

We have open-sourced our repository that dives deep into handling variable-sized sequences lengths in TensorFlow and Keras: https://github.com/carted/handling-variable-length-text-tf

Cc: @Nilabhra

[2022-04-11 06:04] #15810 closed

[2022-04-11 06:49] maghsk commented on #16320
Any updates on this issue?

[2022-04-11 06:51] goodcheer opened #16395 "skipgrams should exclude true positive context word from being sampled as negative sample"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-04-11 06:59] #16291 closed

[2022-04-11 07:46] tilakrayal commented on #16392
Hello @ronigober,
In order to expedite the trouble-shooting process, I request you, please provide a complete code you are using.Thanks!

[2022-04-11 11:03] wiyr opened #16396 "training input shape changed after v2.7.0"
Please go to TF Forum for help and support:

https://discuss.tensorflow.org/tag/keras

If you open a GitHub issue, here is our policy:

It must be a bug, a feature request, or a significant problem with the documentation (for small docs fixes please send a PR instead).
The form below must be filled out.

**Here's why we have that policy:**.

Keras developers respond to issues. We want to focus on

[2022-04-11 11:26] #16396 closed

[2022-04-11 11:47] NoMansBase commented on #16019
I'm using GradienTape instead of fit because it's a GAN and it's a bit simpler to write the training loop manually instead of trying to create a GAN model that could be fitted.

This is my minimal code btw:
`import numpy as np
import tensorflow as tf
from memory_profiler import profile
from tqdm import tqdm

def smooth_positive_labels(y):
    '''Helper function to introduce some noise
    around t

[2022-04-11 12:02] itmo153277 opened #16397 "Strange behaviour of model.predict"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): provided
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7
- Bazel version (if compiling from source):
- GPU model and memory: no
- Exact c

[2022-04-11 13:02] fsx950223 commented on #16389
https://colab.research.google.com/drive/1cMNz_G6-WTEF-f09afJQUvCFuFL-Uno7?usp=sharing

[2022-04-11 13:39] ronigober commented on #16392
Hi @tilakrayal, Here is the complete code.
Thanks!

[code]

[2022-04-11 13:55] #16312 closed

[2022-04-11 15:49] zaccharieramzi opened #16399 "Allow RandomCrop layer to crop at different locations"
**System information**.

TensorFlow version (you are using): 2.8
Are you willing to contribute it (Yes/No) : Yes

**Describe the feature and the current behavior/state**.

It would be nice to have the possibility in [`keras.layers.RandomCrop`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/RandomCrop) to crop in different locations for a given image batch.

**Will this change the curre

[2022-04-11 16:40] unsignedrant commented on #16019
Regarding the formatting, just select all the code and press tab or wrap it using ```. Regarding the code, what happens when you run it? what versions are you using (tensorflow, python, os, ...)?

[2022-04-11 18:02] hctomkins opened #16401 "EfficentNets no longer train on non-float32 inputs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Pip `tf-nightly`
- TensorFlow version (use command below): 2.10.0-dev20220409
- Python version: 3.7.3
- GPU model and memory: N/A - reproducible on C

[2022-04-12 00:19] LukeWood commented on #15460
I have not yet been able to identify the root cause of this unfortunately, but it is definitely a bug.

[2022-04-12 03:55] #16290 closed

[2022-04-12 06:21] nikinbaidar opened #16404 "model.predict yeilds more predictions than the number of outputs"
I've created a multi-class image classifier using CNN. I am using the keras module specifically and I am using generators to fit and then predict 4 different classes of images. My `test_generator` has 394 examples (all four classes combined), but my model.predict yields (6304, 4) predictions.

Here's the model summary:
[code]

Here's how I created the test_generator: `test_generator = core_imageDa

[2022-04-12 06:52] nikinbaidar commented on #16404
Mistakes on my part. The target size for the generator I used to fit and predict my model mismatched which caused the issue. Closing the issue.

[2022-04-12 06:52] #16404 closed

[2022-04-12 08:52] zaccharieramzi commented on #16399
Sure thing!

So in the [`RandomCrop` doc](https://www.tensorflow.org/api_docs/python/tf/keras/layers/RandomCrop), it says:

Ideally, when using random crop for data augmentation you would like to have a different cropping location for each image in the batch to obtain diversity.
Therefore, it would be nice to have the possibility to specify that behavior.

In a data pipeline for example, it is alw

[2022-04-12 09:23] szleb opened #16405 "Loss names are not equal to the outputs dictionary keys of a model, see https://github.com/tensorflow/tensorflow/issues/55435"
The original issue with some more details was posted in the tensorflow repo: https://github.com/tensorflow/tensorflow/issues/55435.

**System information**

- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.18363
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.8.10
- B

[2022-04-12 10:55] #14960 closed

[2022-04-12 10:55] #15048 closed

[2022-04-12 11:47] itmo153277 commented on #16397
After looking into the issue more deeply, I found out that the loop options are set incorrectly inside predict function

Currently, keras sets the option per tensor from flatten structure:
[code]

However, autograph seems to be expecting options for the structure as a whole, e.g.
[code]

[2022-04-12 12:07] rozerinyildiz opened #16406 "model.fit() InvalidArgumentError"
### **The code  is:**

`model.fit(x=train_batches, steps_per_epoch=len(train_batches), validation_data=valid_batches, validation_steps=len(valid_batches), epochs=10, verbose=2 )`

### **The error message is:**

---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
[<ipython-input-12-59cb8d37476a>](htt

[2022-04-12 12:08] rozerinyildiz commented on #16406
`model.fit(x=train_batches,
    steps_per_epoch=len(train_batches),
    validation_data=valid_batches,
    validation_steps=len(valid_batches),
    epochs=10,
    verbose=2
)`

[2022-04-12 12:09] rozerinyildiz commented on #16406
---------------------------------------------------------------------------
InvalidArgumentError                      Traceback (most recent call last)
[<ipython-input-12-59cb8d37476a>](https://localhost:8080/#) in <module>()
      5     validation_steps=len(valid_batches),
      6     epochs=10,
----> 7     verbose=2
      8 )

1 frames
[/usr/local/lib/python3.7/dist-packages/keras/utils/tracebac

[2022-04-12 12:11] rozerinyildiz commented on #16406
Thats the error that i got. Can you pls give me  suggest anything?

[2022-04-12 12:16] rozerinyildiz commented on #16406
That's my code for fitting the model.

[2022-04-12 12:31] rozerinyildiz commented on #16406
[](https://localhost:8080/#)###The error message is:

The error message is:
Epoch 1/10

InvalidArgumentError Traceback (most recent call last)
in ()
5 validation_steps=len(valid_batches),
6 epochs=10,
----> 7 verbose=2
8 )

1 frames
[/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py](https://localhost:8080/#) in error_handler(*args, **kwargs)
65 except Exception as e: # pylint:

[2022-04-12 13:49] lolcocks123 opened #16407 "Model.build(input_shape) throws the error "A merge layer should be called on a list of inputs" even though a list is provided"
I got the intermediate result of layer 31 of my CNN using the following code:

[code]

Now, I am trying to build another model what will continue computation from the 32nd layer.

[code]

Error:
```A merge layer should be called on a list of inputs. Received: inputs=Tensor("up_sampling2d_2/resize/ResizeNearestNeighbor:0", shape=(None, 26, 26, 128), dtype=float32) (not a list of tensors)```

I am c

[2022-04-12 15:55] #16276 closed

[2022-04-12 16:34] innat opened #16431 "Jaccard loss"
Another useful loss function for semantic segmentation tasks. It was available in [keras-contrib](https://github.com/keras-team/keras-contrib), [losses/jaccard.py](https://github.com/keras-team/keras-contrib/tree/master/keras_contrib/losses)

[2022-04-12 22:13] m3madadi commented on #16101
Me TOO!
my code work in TF 2.7 but when update to 2.8 StringLookup fail in Sequential model while working well in Subclass implementation of same netwoek

[2022-04-13 00:45] Samir221 commented on #13940
I get this same error but I am using a TimeseriesGenerator so i am passing that object for training using the model.fit_generator() method.  Any idea what it could be?

[2022-04-13 05:27] #16285 closed

[2022-04-13 09:34] AdityaKane2001 commented on #16365
@fchollet

Just want to point out that since [my PR](https://github.com/keras-team/keras/pull/15702) was technically never merged (if I'm not wrong Matt [merged it internally](https://github.com/keras-team/keras/commit/dd73626ab544768060ce38f4a2b35db468fcd2be) and the changes were pushed to public repo), it didn't make it to the [2.8.0 RC0 PR list](https://github.com/keras-team/keras/releases/tag/

[2022-04-13 12:27] weidler commented on #16123
Thanks for the suggestion @isaacgerg. In essence this is rebuilding the model with the functional API. Since I need to implement it for any general model possible though, its sadly not that straight forward. For many use cases this is a good solution though.

Since the application of building intermediate models for me was to get intermediate outputs, I instead turned to [this solution](https://gi

[2022-04-13 12:27] #16267 closed

[2022-04-13 13:27] #14969 closed

[2022-04-13 16:36] Suzan009 commented on #16229
I am on windows 10. Do you think it's related to OS? I also create a new and fresh environment, but when I ran the following command, I just faced the above-mentioned error. It looks like the windows path

[code]

I will try again with your approach.

[2022-04-13 20:59] fchollet commented on #16359
This is expected behavior -- if you create any element of state, then you should also override `update_state` and `reset_state`.

We could make the default behavior of `reset_state` more general by taking into account the shape of the variable, but it wouldn't change the requirement that it needs to be overridden in order to make sure it does what you want. Is this a PR you'd like to work on (maki

[2022-04-13 21:21] fchollet commented on #16355
I think the error message could be better, but the behavior here is logical.

When you create the `EfficientNet` model, you create a first graph of layers linking `pretrained_model.inputs` to `pretrained_model.get_layer('top_activation').output`. Then you create a second graph built on top of your own `Input` object.

Does that make sense so far?

Because the top layer has been called twice, `pret

[2022-04-13 21:26] fchollet commented on #16336
Thanks for the proposal -- overall this feature seems very specific to your use case. A "model ID" could mean different things in different contexts (some people may want to use `id()` from Python). In your case you want to track model configuration and model state, rather than instance identity, and you're making the assumption that model state can only be changed via `compile()` or `fit()` (perh

[2022-04-13 21:26] #16336 closed

[2022-04-13 21:44] fchollet commented on #16389
Yes. Flax as well.

The expected outcome is to have, for each model architecture considered, 3 parallel model implementations that do exactly the same thing in the 3 different frameworks, and that exemplify best practices in each framework. Then we time their average training step time and inference step time on CPU, GPU, and TPU.

The hardest part is the implementation of identical models in all

[2022-04-13 21:48] fchollet commented on #16389
@[fsx950223](https://github.com/fsx950223) generally speaking we should implement models from scratch rather than using pretrained models and fine-tuning them (e.g. no TF-Hub, just Keras layers). Also it's not very important to use a real dataset, we could start with randomly generated data at first.

[2022-04-13 21:49] fchollet commented on #16394
Because this is inefficient. When you do `dataset.skip()` you do not create a new dataset that only contains the samples you're looking for, you create a view of the first dataset that will have to iterate over the first N samples every time you run through it. It's better to extract the samples to memory, then repackage them in a new dataset.

[2022-04-14 02:38] fsx950223 commented on #16389
Could I use tf model official apis?

[2022-04-14 03:27] #16327 closed

[2022-04-14 06:44] fsx950223 commented on #16389
I have updated the notebook.

[2022-04-14 06:56] AnimeshMaheshwari22 commented on #16389
https://colab.research.google.com/drive/1yRXv1lzHiPfNfu4KlkJt4pEjsQwzDgML?usp=sharing
Sharing a notebook here. Will be updating this. Starting with EfficientNet

[2022-04-14 07:51] tilakrayal commented on #16405
@gadagashwini ,
I was able to reproduce the issue in tf v2.7, v2.8 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0c80c2cd758f9865c9b4b1a93984d8ef/untitled301.ipynb).

[2022-04-14 08:46] innat commented on #16355
@fchollet yes, that makes sense. Thanks for your details answer. I also understood that it's not a bug, I should mention that earlier. The thing is, I saw many practitioners face such issues after training their models and later trying to compute grad-cam. It's one of the common keras-tagged questions on the stack. The fact is the modeling approach (`model` above) is so typical that people usually

[2022-04-14 10:26] itmo153277 commented on #16405
While I agree that using layer names is a little confusing, I think it is the only consistent way of naming. It is hard to get good names from a nested structure.

Consider these cases:

1. `outputs={"first_output": first_output, "second_output": second_output}` should be `first_output`, `second_output`?
2. `outputs={"nested": {"first_output": first_output}, "second_output": second_output}` should

[2022-04-14 10:39] gadagashwini commented on #16406
@rozerinyildiz,
As the error suggests,

`InvalidArgumentError`, verbose =2 when used with `ParameterServerStrategy` .

Model.fit() function should be
`model.fit(x=train_batches, steps_per_epoch=len(train_batches), validation_data=valid_batches, validation_steps=len(valid_batches), epochs=10, verbose=1 )`

[2022-04-14 11:17] gadagashwini commented on #16407
@lolcocks123,
Try below sample code snippet
[code]

[2022-04-14 13:36] alikaanguven commented on #5337
Mine tries to load all the test dataset onto the GPU. Thus, it blows up!
None of the solution suggestions above worked for me either.

[2022-04-14 14:48] sushreebarsa commented on #16395
@gadagashwini I was able to reproduce the issue on colab using TF v2.8.0 , tf-nightly and please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/eed7b9c7b32442a1f0a28b8902831eed/16395-keras.ipynb).Thanks!

[2022-04-14 15:30] szleb opened #16415 "Setting `is_adapted` to True when PreprocessingLayer is initialized with parameters"
**System information**.

TensorFlow version (you are using): 2.8.0
Are you willing to contribute it (Yes/No) : No

**Feature and the current behavior/state**.

When a PrerpocessingLayer is adapted the attribute `is_adapted` is set to True. Calling `adapt` a second time (possibly with different data) updates the parameters of the PreprocessingLayer to the new passed data (at least in some cases, e.

[2022-04-14 15:50] sushreebarsa commented on #16393
@mogeid
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-14 16:26] lakshmanok commented on #9298
One reason for why saving the model could be slow: if you have a custom prediction signature, and the prediction signature includes Python code that needs to be traced.  For example, I had
[code]
Once I changed the max_len to use purely tensorflow functions:
[code]
saving became fast again.

[2022-04-14 20:15] Cyfore commented on #15838
https://www.codegrepper.com/code-examples/whatever/%27Sequential%27+object+has+no+attribute+%27predict_classes%27

[2022-04-14 23:31] bhack commented on #16389
I would be very curious to have @gfursin  opinion on this..

[2022-04-14 23:35] bhack commented on #16394
So do you want something like this?

https://www.tensorflow.org/datasets/splits

[2022-04-14 23:42] bhack commented on #16383
This has not the behaviour complexity of `*_dataset_from_directory" APIs  but it could be inspiring and it already support many more audio formats (and pre-processing) then TF-Core "wav" ops:

https://www.tensorflow.org/io/api_docs/python/tfio/audio/AudioIODataset

[2022-04-15 03:04] TobeMagic commented on #7432
i meet the same problem,if you solved this, tell me in this comment please,think you very much

[2022-04-16 08:10] #16381 closed

[2022-04-16 12:19] Anuj040 commented on #15048
@tilakrayal Sorry for not responding to this sooner. On trying the _*.json_ method as suggested [here](https://github.com/keras-team/keras/issues/15048#issuecomment-895446548), I received the following error in saving the model

The above issue I could solve in a hacky way as suggested [here](https://github.com/tensorflow/tensorflow/issues/39906#issue-625733265)
However this did not save a _*.json

[2022-04-16 16:27] #15881 closed

[2022-04-16 20:47] mohammadreza490 commented on #16252
Still facing the same issue! Any updates?

[2022-04-17 02:50] tilakrayal commented on #16392
@ronigober ,
I haven't found any issue while executing the given code.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/692c16ce0758fab71319fbb452f8edff/untitled299.ipynb).

[2022-04-17 03:13] fchollet commented on #16365
@AdityaKane2001 I checked and I do see the new applications in the RC. They will be part of the 2.9.0 release.

Right, any PR that adds new APIs requires additional work on our end and has to be merged internally first. Normally this works just the same as a regular PR merge, but this case it seems there was some kind of anomaly that caused the PR to be orphaned. I've seen it happen a couple times

[2022-04-17 03:13] #16365 closed

[2022-04-17 03:14] fchollet commented on #16365
PS: you can `pip install tensorflow==2.9.0rc0` to install the 2.9 version.

[2022-04-17 03:16] fchollet commented on #16394
No, that's not what we're looking for. Thanks for the pointer, though.

[2022-04-17 03:23] haifeng-jin commented on #15715
The check for y_pred have to be in range [0, 1] is removed.
It will be rolled out with TF 2.10.

The docstrings will be updated later.
We will add about use `thresholds=0` when using with logits.

[2022-04-17 03:24] haifeng-jin commented on #15715
Will close the issue when all the docstrings are updated.

- [ ] keras.metrics.TruePositives
- [ ] keras.metrics.FalsePositives
- [ ] keras.metrics.TrueNegatives
- [ ] keras.metrics.FalseNegatives
- [ ] keras.metrics.Precision
- [ ] keras.metrics.Recall
- [ ] keras.metrics.AUC

[2022-04-17 03:34] AdityaKane2001 commented on #16365
@fchollet

Thanks a lot for the response. Really appreciate you taking a look during the holiday weekend.

I see.

Thanks for sorting this out. Please do let me know if there's anything to be done from my side (#15895).

[2022-04-17 04:02] zacps commented on #16357
This is reproducible for me with poetry, blowing away the env and reinstalling doesn't change anything.

The relevant sections of `pyproject.toml`:
[code]
And the full lock file is available here: [`poetry.lock`](https://gist.github.com/zacps/5d0119f40ac40c935ec2d7fdd41c8b35).

[2022-04-17 10:26] bhack commented on #16394
Yes I've used like.. as that one is working with TFDS and not with tf.data as you want here but I think about the performance this is still valid:

https://github.com/tensorflow/tensorflow/issues/44008#issuecomment-719740026

Is this not going to allocate a new dataset object?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/data/skip_dataset_op.cc#L229:L233

[2022-04-17 10:49] fchollet commented on #16389
For Bert specifically this seems ok. You can generally used any reusable building blocks from an official Keras/TF lib (like KerasCV, KerasNLP, TF-models, etc.)

[2022-04-17 11:39] benboren commented on #16392
@tilakrayal It can be seen that the Normalization layer doesn't hold the right configuration, it holds nulls:
[code]

[2022-04-17 11:40] ronigober commented on #16392
@tilakrayal It can be seen that the Normalization layer doesn't hold the right configuration, it holds nulls:
[code]

[2022-04-17 12:59] sayakpaul commented on #16321
Join the conversation here: https://github.com/keras-team/keras/pull/16421.

[2022-04-17 13:30] Yang621435 opened #16423 "TypeError: add_weight() got multiple values for argument 'name'"
Hi, I met a problem like this:
![image](https://user-images.githubusercontent.com/74351629/163716469-f4fe70b7-7def-4c7a-9e19-5e903dd747dc.png)
the build part is shown as below:
![image](https://user-images.githubusercontent.com/74351629/163716503-a6b885df-9d42-4e8e-ae03-3dd2bc5bf066.png)
I don't know how can I fix the bug, please help me!
ok, i will put the code

[code]
        model.add(Clusterin

[2022-04-17 14:14] Tarandeep97 commented on #9395
Won't there been a weight for each label multiplied to dice_coef?

[2022-04-17 16:07] sushreebarsa commented on #16423
@Yang621435
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-17 16:22] Yang621435 commented on #16423
@sushreebarsa had done, thanks

[2022-04-17 16:32] gattia commented on #9395
What you are describing is one version of the DSC that has been called generalized-dsc.

I think they inversely weighted based on the number of pixels labeled that class.

[code]

the above would replace the code in the for loop to inversely weight it based on the number of pixels labeled that particular class (in the ground truth).

[2022-04-17 20:02] bhack commented on #15762
@SamuelMarks try to contact https://github.com/mlcommons/ck/blob/master/ck2/docs/motivation.md

They could be interested in something similar.

[2022-04-17 20:51] haifeng-jin commented on #15715
AUC has the `from_logits` argument. So no need to change it.

[2022-04-18 02:04] #15715 closed

[2022-04-18 02:23] gadagashwini commented on #16229
@Suzan009,
It might be depends on OS platform.
From the error its look like, Its failing to fetch required the path.
Did you try steps mentioned in above comment. Thanks!

[2022-04-18 03:24] tilakrayal commented on #15048
@Anuj040 ,
Glad the issue is resolved for you and thank you for moving the issue to closed status.

[2022-04-18 04:27] #16322 closed

[2022-04-18 07:35] gadagashwini commented on #16405
@szleb,
Did you check @itmo153277  comment.

[2022-04-18 08:00] tilakrayal commented on #16415
Hello @szleb ,
I request you please specify any Use Cases for this feature where we can use the mentioned feature. Thanks!

[2022-04-18 13:58] loki4514 commented on #16160
i am finding the same error

[2022-04-18 14:01] loki4514 opened #16425 "Unknown error: Graph execution error"
UnknownError                              Traceback (most recent call last)
[<ipython-input-59-ba15a7249bcd>](https://localhost:8080/#) in <module>()
      5                                steps_per_epoch = len(training_set),
      6                                 validation_steps = len(test_set),
----> 7                                callbacks = cb
      8                                )

2 fr

[2022-04-18 14:05] loki4514 commented on #16425
import keras
from keras.layers import Input, Lambda, Dense, Flatten
from keras.models import Model
from keras.applications.inception_v3 import InceptionV3

from keras.applications.inception_v3 import preprocess_input
from keras.preprocessing import image
from keras.preprocessing.image import ImageDataGenerator,load_img
from keras.models import Sequential
import numpy as np
from glob import glob
im

[2022-04-18 14:06] loki4514 commented on #16425
any update

[2022-04-18 18:34] qlzh727 commented on #16250
I am confused. All the rnn stateless layer dose raise exception when reset_state() is called.

https://github.com/keras-team/keras/blob/62aab556c6252e54b9f3ee3fa65243aecd6aea52/keras/layers/rnn/base_rnn.py#L767

[2022-04-18 20:28] pcallier commented on #16359
Thanks for the clarification!

I can probably submit a PR with a shape-aware zero-out implemented for `Metric` in the next few days, I will give that a go.

If you have any control over the [docs here](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/Metric) I would separately plead for a description of the expected behavior you describe above to be documented there since only `__init__

[2022-04-18 21:30] gowthamkpr commented on #15357
@valentin-fngr Were you able to find the solution? Can we close this issue. Thanks!

[2022-04-19 04:17] Suzan009 commented on #16229
@gadagashwini unfortunately no. I am still facing that issue. I am using windows 10.  Python version 3.9 (also test on 3.7, 3.8).

When I run the following script, it just gives the `re` package error, like below.

[code]

Searching the error took me these type of SO questions: https://stackoverflow.com/questions/58328587/python-3-7-4-re-error-bad-escape-s-at-position-0

[2022-04-19 05:55] innat commented on #16431
@qlzh727 It would be great to have this loss function from core keras. But as it's mostly cv-related loss function, isn't it fitter to have it from keras_cv; if cv-related stuff moves to keras_cv from keras in the future?  Also, if we have [Dice loss](https://github.com/keras-team/keras/issues/16431#issue-1207415524) from keras_cv and Jaccard loss from keras, it might be a confusing UX, IM0.

[2022-04-19 07:00] mattiasu96 commented on #16250
Exactly! That condition should be raised!
However, as you might notice, no condition is raised if you run the snippet I provided. This happens because in the `Model` class inside Tensorflow there is the following wrapping function:

[code]
That prevents the raising of the exception you mentioned; consenquently I can call `reset_states()` on a stateless layer without any warning/exception being rai

[2022-04-19 07:09] avercau opened #16437 "MetricsContainer.update_state passes mask as sample_weight to metric_obj.update_state"
System information

Have I written custom code YES
OS Platform and Distribution OS X 10.15.6
TensorFlow installed from binary
TensorFlow version 2.5.0
Python version 3.8

Describe the current behavior
After upgrading from tensorflow 2.2.1 to 2.5.0, I get an error while training an LSTM model with F1Score for the metrics (issue does not exist if using CategoricalAccuracy for the metrics). After com

[2022-04-19 08:09] szleb commented on #16405
There are two ideas in my mind how to solve the problem:
1) Any dictionary key overwrites the previous name, starting with the name of the layer.
2) All names are concatenated starting from the most outer key to the layer name.

I would prefer the first idea (which was intentionally more or less what I expected), so that the scenarios of @itmo153277 would look like the following:
1. `outputs={"fir

[2022-04-19 08:29] szleb commented on #16415
**Use Case**

In my use case, I get user defined preprocessing layers. When I build the model I need to know if the parameters of the layers has been set manually or not. In the first scenario, I can use the layer as is and in the second scenario I need to call adapt.  If I just call `adapt` without knowing if necessary, an error is raised in the first scenario. So currently I just do the followin

[2022-04-19 08:31] partiallycomplex commented on #16160
It also happens with some layers node as well: it shows always some kind of Incompatible shapes: [x] vs. [0]

[2022-04-19 08:40] loki4514 commented on #16160
How to solve this error

[2022-04-19 10:58] tilakrayal commented on #16425
@loki4514 ,
On running the given code snippet, I am facing an error stating `FileNotFoundError: [Errno 2] No such file or directory`. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/86cb402a6fe56e5ecb4ce5255c6fea16/untitled309.ipynb).Can you please provide the dependencies to replicate the issue.

Also PIL throws error because it cannot identify the image format

[2022-04-19 12:07] loki4514 commented on #16425
image dataset is of 12gb when i give this as input it throws an error but when i train my model less number of images it doesn't show any error

[2022-04-19 17:23] Mirandatz commented on #14030
Yes, this is still an issue.

[2022-04-19 17:37] AshwinJay101 commented on #16423
The code snippet does not include imports and values for n_cluster etc

Can you please add that

[2022-04-19 17:54] qlzh727 commented on #16431
I will check with API owner for this question, and see where we want to place this loss. Will update later this week.

[2022-04-19 19:53] splendidbug commented on #16019
Hey, did you find a solution? Even I'm facing the same issue

[2022-04-19 20:08] splendidbug commented on #15807
I faced this issue in loading the model. Found a temporary workaround by using
`model2.load_weights()`

[2022-04-19 20:08] splendidbug commented on #15807
I faced this issue in loading the model. Found a temporary workaround by using `model2.load_weights()`

[2022-04-19 20:16] k-w-w commented on #9298
Unfortunately, at this point, Keras has evolved quite a bit since this issue was opened. The factors causing the save to be slow has likely changed over the years. I would recommend that anyone coming onto this issue to open a new bug describing your situation. Please include a repro and which saving format you are using (`save_weights` or `save`, `save_format=h5` or `tf`)

Some ways you can try t

[2022-04-19 20:16] #9298 closed

[2022-04-19 20:42] bhack commented on #16431
Just for the record: https://github.com/keras-team/keras-contrib/pull/533

[2022-04-19 20:45] unsignedrant commented on #16019
@NoMansBase You're not using `keras.Model.fit` which makes the problem you're facing irrelevant to the subject of this issue. Besides, your code is running perfectly fine on [colab](https://colab.research.google.com/drive/1AbD1_4jJBa_LTxzj98_EwYnM5bOKDTTA?usp=sharing) and the memory usage is constant over 5 epochs (~= 1.9 GB). Does the remote instance have limited memory (less than 2GB in this cas

[2022-04-19 20:46] unsignedrant commented on #16019
@splendidbug can you include the logs and your code?

[2022-04-19 20:58] k-w-w commented on #16348
I looked at the code and could not see any obvious errors with the conversions. The problem does appear to only trigger when there is a SoftMax layer, with `axis=-2`, and when converting to frozen graph.

A simple save and load leads the results that match the previous keras predictions:
[code]

So the problem probably lies in the `convert_variables_to_constants` (`from tensorflow.python.framework

[2022-04-19 20:58] #16348 closed

[2022-04-19 21:37] splendidbug commented on #16019
@unsignedrant Hey, I'm new at this and I'm on an NDA so I cannot directly share the code and this is might not be a "memory leak issue". But the problem I'm facing is initially my gpu memory available is 3539 MB. After building the model which is:

Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)

[2022-04-19 21:58] sachinprasadhs commented on #15807
@AdrianFuchsData, Could you please try the workaround suggested by @splendidbug.
Also, try if the issue still exists when you use latest Tensorflow using `tf-nightly`. Thanks!

[2022-04-19 22:10] Zaibali9999 commented on #7927
model = tf.keras.models.Sequential([
    Conv2D(16, (3, 3), activation='relu', input_shape=(img_height, img_width, 2)),   #filter , kernal_size , activation, input_Size
    MaxPooling2D(2, 2),

    Conv2D(32, (3, 3), activation='relu'),
    MaxPooling2D(2, 2),

    Conv2D(64, (3, 3), activation='relu'),
    Conv2D(64, (3, 3), activation='relu'),
    MaxPooling2D(2, 2),

    Conv2D(128, (3, 3), act

[2022-04-19 22:30] unsignedrant commented on #16019
The memory should not be affected by the dataset size, that's what `batch_size` is for, unless you're loading the full dataset into memory, in which case you have to modify your code to deal with this problem using [generators](https://wiki.python.org/moin/Generators) or [tfrecords](https://www.tensorflow.org/tutorials/load_data/tfrecord). Given this is not a problem, and the dataset is loaded pro

[2022-04-19 23:28] lolcocks123 commented on #16407
Hello @gadagashwini,

I think I should have mentioned before that my model is **not** sequential.

Would the above (or any kind of partition and resume) would work on a **non** sequential model?

[2022-04-20 01:58] EngrStudent commented on #15782
@old-school-kid  you are correct, sir.

[2022-04-20 02:10] sushreebarsa commented on #16423
@Yang621435
I tried to reproduce this issue with the provided code and faced  different errors .
In order to expedite the trouble-shooting process, please provide a `complete code snippet` to reproduce the issue reported here. Thanks!

[2022-04-20 02:58] Yang621435 commented on #16423
had done

[2022-04-20 02:59] Yang621435 commented on #16423
had done

[2022-04-20 05:02] sushreebarsa commented on #16423
@Yang621435 I tried to replicate the issue  on colab using TF v2.8.0 and faced a different error .Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/8f0b5ace73623352c1e2422dfa3136a9/16423.ipynb#scrollTo=8aev0ivv6bf-) and confirm the same?
Thanks!

[2022-04-20 05:19] sushreebarsa commented on #16397
@itmo153277 This issue will be closed once the PR is merged.
Thank you!

[2022-04-20 05:19] sushreebarsa commented on #16401
@hctomkins This issue will be closed once the PR is merged.
Thank you!

[2022-04-20 05:26] Yang621435 commented on #16423
my TF version is 2.9.0 and could you tell me what error you met? I met some errors in the codes but I solved them, the code I put shouldn't have errors until the end

[2022-04-20 05:28] gadagashwini commented on #16407
@lolcocks123, Yes certainly it works with other Keras API. Thanks!

[2022-04-20 05:54] tilakrayal commented on #16437
@avercau ,
Can you please try to convert input_labels type to float32 and try to test your code.`tf.cast(input_labels, tf.float32)`.Thanks!

[2022-04-20 06:46] sushreebarsa commented on #16423
@Yang621435 Thank you for the quick update!
I didn't face the TypeError either.  Could you please move this issue to closed status if it is resolved for you ?
Thanks!

[2022-04-20 06:46] apatange-source commented on #14510
@pokecheater give me a sample code to save tf models as streams?

[2022-04-20 09:38] AdrianFuchsData commented on #15807
# Switching to `tf-nightly`

The nightly build version of tensorflow (version 2.10.0-dev20220419) warns that the identifiers `max_values`, `vocab_size`, `max_tokens` are deprecated and should be renamed to `max_tokens`, `vocabulary_size` and `num_tokens` accordingly. So the code for creating the model should now be

    import tensorflow as tf
    import numpy as np

    input_layer = tf.keras.Inp

[2022-04-20 10:37] splendidbug commented on #16019
@unsignedrant Alright. Thanks a lot!

[2022-04-20 11:27] #16347 closed

[2022-04-20 11:44] tilakrayal commented on #16392
@gadagashwini ,
I was able to reproduce the issue in tf v2.7, [v2.8](https://colab.research.google.com/gist/tilakrayal/692c16ce0758fab71319fbb452f8edff/untitled299.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/80f904c9648d9830fa5b33c6584614f8/16392.ipynb).Please find the attached gist.

[2022-04-20 16:45] dniku opened #16441 "Mask that had been removed from a tensor re-appears when building a new model with placeholders"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version (use command below): `v2.8.0-0-g3f878cff5b6 2.8.0`
- Python version: 3.7.13

**Describe the problem**.

Please see a Colab notebook [here](https://colab.research.google.com/gist/dniku/2fc66775a

[2022-04-20 19:45] M-Wolff opened #16444 "Inconsistencies between TF 1.13.1 and TF 2.4.1 especially on small training splits"
**System information**.
- Have I written custom code: Yes
- OS Platform and Distribution: Linux CentOS 7.9 and Windows 10
- TensorFlow installed from: binary (pip install ...)
- TensorFlow version: 2.4.1 vs. 1.13.1
- Python version: 3.7.9
- GPU model and memory: multiple (V100, RTX 2080, Titan XP, ...) on an HPC Cluster at university
- Exact command to reproduce: -

**Describe the problem**.

I an

[2022-04-20 21:11] gowthamkpr commented on #16178
@Tropaion Looked at your code. Your model is running fine. The issue is that you are predicting on cat image in the first instance and printing horse, and in the second instance again you are predicting on cat image and printing dog image. I have highlighted it in two colors. Make sure you feed in the same image that you are visualizing.
[RunningModel.pdf](https://github.com/keras-team/keras/files

[2022-04-20 21:43] Tropaion commented on #16178
@gowthamkpr Thanks for looking into it. True, this is also an mistake, but it wasn't this what made the problem.

The problem was this. It is weird, I tried it in Google Colab and there it works, but in my Jupyter installation it doesn't.
I even tried installing the exactly same Python, TF and Keras versions in my system but still didn't work.

A few days ago I found a workaround.
I downloaded thi

[2022-04-20 22:38] #16401 closed

[2022-04-20 23:32] #16397 closed

[2022-04-20 23:39] gowthamkpr commented on #16152
This is very similar to this [issue](https://github.com/tensorflow/tensorflow/issues/43939). Conv2Dtranspose is not supported in quantization. Please take a look. Thanks!

[2022-04-20 23:53] gowthamkpr commented on #16218
The LossScaleOptimizer issues comes from the fact that we call a private _decayed_lr method on the optimizer, which is not supported on the LossScaleOptimizer:

Please take a look at this [comment](https://github.com/tensorflow/models/issues/9262#issuecomment-696420425) and follow the steps as provided in the comment.

[2022-04-21 01:51] gowthamkpr commented on #16178
Can you share a copy of your code with outputs. Thanks!!!

[2022-04-21 07:02] gadagashwini commented on #14247
@VANRao-Stack,
You can change the latent_dim to higher order as example given [here](https://keras.io/examples/generative/vae/).

[code]
**Output**
[code]

[2022-04-21 08:00] tilakrayal commented on #16425
@loki4514 ,
Can you please try to update to latest `PIL` version and try to test your code.If the issue still exists then you may want to remove some of the corrupt images in your dataset.Thanks!

[2022-04-21 10:09] sushreebarsa commented on #14049
@salvador-dali Is this still an issue?
Could you please let us know if you have referred to the above [comment](https://github.com/keras-team/keras/issues/14049#issuecomment-629257739) and let us know if it helped ?
Please refer to this [link](https://keras.io/guides/training_with_built_in_methods) and try with the latest TF versions as older versions are not supported .
Thanks!

[2022-04-21 10:13] sushreebarsa commented on #14288
@sunshinejnjn Is this still an issue?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Please refer to this [link](https://keras.io/guides/serialization_and_saving/) and try with the latest TF versions(2.4 or later ) .Please let us know if it helps?Thanks!

[2022-04-21 10:20] sushreebarsa commented on #14329
@ardamavi Is this still an issue?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Could you please refer to this similar [issue](https://stackoverflow.com/questions/62482416/change-pre-trained-model-to-expect-channel-first-in-tensorflow) and try with the latest TF versions?
Thanks!

[2022-04-21 10:28] sushreebarsa commented on #14338
@sedol1339 Sorry for the late response!
If this issue is still valid ,please provide a code snippet to reproduce the issue reported here.
Please refer[ this](https://stackoverflow.com/questions/51789338/what-is-the-equivalence-of-masking-keras-function-in-tensorflow-and-does-batc) thread and let us know if it helps?Thanks!

[2022-04-21 10:35] sushreebarsa commented on #14388
@Entropy4 Is this still an issue?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Please refer to this [thread](https://stackoverflow.com/questions/63222770/backpropagating-through-multiple-forward-passes) and let us know if it helps?
Thanks!

[2022-04-21 10:36] gadagashwini commented on #14386
@ewwll,
Create 3x smaller models from pruning, you can use pruning method to compress the model.
For more information read [here](https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras#create_3x_smaller_models_from_pruning)

[2022-04-21 10:38] sushreebarsa commented on #14496
@neel04 Is this still an issue?
I tried to replicate this issue on colab using TF v2.8.0 and faced different error, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/cdd6b2ac6e789c6ad9b2853c8722340c/14496.ipynb) and confirm the same?
Thanks!

[2022-04-21 10:41] sushreebarsa commented on #15119
@n33lkanth Could you please refer to this [thread](https://stackoverflow.com/questions/57934638/how-does-tensorflow-kerass-class-weight-parameter-of-the-fit-function-work) and let us know if it helps?
Thanks!

[2022-04-21 10:43] sushreebarsa commented on #15221
@n33lkanth
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-04-21 11:15] Tropaion commented on #16178
It's this one, I never changed it.

And this is the working one:
[CreatingModel.pdf](https://github.com/keras-team/keras/files/8530466/CreatingModel.pdf)

[2022-04-21 12:30] #16227 closed

[2022-04-21 13:20] Amit-g12 commented on #15922
for epoch in range(EPOCHS):
    start = time.time()

    train_loss.reset_states()

    for (batch, (inp, tar)) in enumerate(dataset):
        train_step(inp, tar)

        # 55k samples
        # we display 3 batch results -- 0th, middle and last one (approx)
        # 55k / 64 ~ 858; 858 / 2 = 429
        if batch % 429 == 0:
            print ('Epoch {} Batch {} Loss {:.4f}'.format(epoch + 1, b

[2022-04-21 14:45] dniku commented on #16441
@AshwinJay101 I want to minimize the likelihood of unintentionally using normalization on a tensor with a mask. Since neither `BatchNormalization` nor `LayerNormalization` support general masks, that may introduce subtle and hard-to-catch bugs. However, in this particular case using a mask will not cause any bugs, since we apply it over the dimension which is either entirely masked or entirely unm

[2022-04-21 16:25] gowthamkpr commented on #16178
SInce your model is working, can you go ahead and close the issue. Thanks!

[2022-04-21 19:15] #16178 closed

[2022-04-21 19:36] old-school-kid commented on #15782
@EngrStudent in that case I think it would be a good fit under tensorflow probability. They already have `brier_decomposition` and a family of logarithmic scoring rules.

[2022-04-21 20:42] lrwagner commented on #15922
I think this might not be related to my original issue

[2022-04-21 22:18] rchao commented on #16444
The graph features vertical lines and it seems the lines correspond to specific models, and the others are fine.

1) Can you provide more information about what those models are and what's different about them?
2) Can you provide a colab snippet that can reproduce this for at least one such model?
3) Can you attempt using `predict()` on a data array for each TF version for one of the problematic m

[2022-04-22 03:04] joonjeon opened #16450 "Gradients not computed upon `tf.keras.layers.Concatenate()`"
Hi!

I am trying to re-write MAVNet (https://github.com/sudakshin/imitation_learning/blob/master/2.train_model/MavNet.py) into genuine Tensorflow & Keras (instead of TFLearn) and train it. Note that MAVNet consists of numerous `tf.keras.layers.Concatenate()`.
For some reason, gradient flow seems to break... and I just found out that the flow breaks whenever it passes `tf.keras.layers.Concatenate()

[2022-04-22 03:36] Ark-kun opened #16451 "Cannot use Model.fit with loaded TF SavedModel"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras):
- OS Platform and Distribution: Linux Ubuntu
- TensorFlow installed from: pip
- TensorFlow version: 2.7.0
- Python version: 3.7

**Describe the problem**.

I'm writing a training component function. The function receives SavedModel dir path and a training dataset CSV file path and s

[2022-04-22 12:07] vulkomilev commented on #16451
Can you post the saved model ?

[2022-04-22 12:59] FTPam opened #16452 "Can not download MobileNetV2 96*96 alpha=1.4 - 404"
[code]

```https://storage.googleapis.com/tensorflow/keras-applications/mobilenet_v2/mobilenet_v2_weights_tf_dim_ordering_tf_kernels_1.4_96_no_top.h5```

[[This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Details>No such object: tensorflow/keras-appl

[2022-04-22 13:44] tilakrayal commented on #16451
Hello @Ark-kun ,
Looks like code is incomplete. Request you to please provide complete code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2022-04-22 13:49] tilakrayal commented on #15121
@sunw70 ,
Are you trying in latest tensorflow version? If not, I request you please try to execute in latest stable version2.8.Thanks!

[2022-04-22 14:34] foxik opened #16453 "The vocabulary_size method of preprocessing layers does not work in graph mode"
**System information**.
- Have I written custom code (as opposed to using a stock example script provided in Keras): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Colab**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **TF 2.8, nightly 2.10.0-dev20220422**

**Describe the problem**.

Using the `vocabulary_size()` method o

[2022-04-22 15:30] EngrStudent commented on #15782
Going fast is critical, but if you go fast in the wrong way in your car you can crash into a wall, and that is a bad thing.  Keras should be both fast AND useful, and in this case by useful I mean correct instead of misleading, which the wrong measures of goodness can easily become.